[2021-01-15 20:21] betodealmeida commented on #12559
@ktmud was this closed on purpose?

[2021-01-15 20:22] #12513 closed

[2021-01-15 20:29] ktmud commented on #12559
@betodealmeida oh no... didn't know how I clicked on close..

[2021-01-15 20:34] betodealmeida commented on #12559
Cool, let me fix this.

[2021-01-15 21:34] betodealmeida commented on #12504
@junlincc can you post steps to repro or add more details? I don't understand the bug.

[2021-01-15 21:39] junlincc commented on #12504
@betodealmeida
- Create a line chart with a new sample dataset
- Open Data section and click View Samples - show no data
- Try change to another new sample dataset in the modal, repeat steps - show no data
- switch to one of the old sample datasets, VIEW SAMPLES works properly

[2021-01-15 21:59] betodealmeida opened #12565 "[SQL Lab] broken in Safari"
The text area has no height.

#### Screenshots

<img width="1436" alt="Screen Shot 2021-01-15 at 1 57 57 PM" src="https://user-images.githubusercontent.com/1534870/104782878-caacb280-5739-11eb-96b0-dd3156afea36.png">

#### How to reproduce the bug

Open SQL Lab in Safari.

### Environment

(please complete the following information):

- superset version: master
- python version: 3.8.2
- node.js ve

[2021-01-15 22:04] eschutho commented on #12436
@junlincc I don't have access to create labels, but thanks for the heads up. Are you proposing an issue prefix in addition to the label? If so, maybe we can mention that in the issue template. That could help guide people.

[2021-01-15 22:06] junlincc commented on #12436
agree! will get to it soon! @eschutho

[2021-01-15 22:39] eschutho opened #12566 "[SIP-57] Proposal for Semantic Versioning"
### Motivation

As Superset moves to version 1.0, we want to keep this and future versions stable for users, while also communicating clearly to users when upgrading if they should expect any breaking changes, and how to prepare for new versions in updating their own code or usage of the application.

### Proposed Change

The principles of Semantic Versioning are outlined [in this document](https:

[2021-01-16 01:03] #12553 closed

[2021-01-16 02:34] #12538 closed

[2021-01-16 05:35] junlincc commented on #12023
<img width="991" alt="Screen Shot 2021-01-15 at 8 34 01 PM" src="https://user-images.githubusercontent.com/67837651/104798216-0e6ede80-5771-11eb-9d8d-4f0c41d044df.png">

Hey @michael-s-molina , dashboard native filter is under a feature flag currently, please make sure the casing in this modal is also following the design guideline @Steejay and @mihir174 provided. thank you all!

[2021-01-16 06:55] junlincc opened #12568 "[dashboard]native filter indicator incompatible section is missing"
Dashboard filter indicator is supposed to have 3 filtering status sections(soon will be 4): ✅ Applied, ⚠️Incompatible, and Unset. see below
<img width="525" alt="Screen Shot 2021-01-15 at 8 43 14 PM" src="https://user-images.githubusercontent.com/67837651/104798674-221c4400-5775-11eb-9112-1bf9c9d9cc45.png">

Expected:
1. Show all 3 filtering status sections in the filter indicator
2. Two highlight

[2021-01-16 06:59] junlincc commented on #12568
@agatapst 🙏

[2021-01-16 09:48] zhaoyongjie opened #12569 "[explore]\"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Environment

(please complete the following information):

- su

[2021-01-16 09:48] #12569 closed

[2021-01-16 17:41] bkarlson commented on #5013
Folks, proper solution for Ubuntu:
[code]

Done.

Explanation: superset runs in virtual environment and globally (system-wide) installed modules are not reachable from venv. Hence you'd need to dive into venv and install the module there.

[2021-01-16 20:10] amarolx opened #12572 "Update Google oauth config."
If you use the version v.0.38.0 and need to use google oauth. use this config. After the version 3.1.1 of Flask-AppBuilder, the method of config by google is change.

Can you update the documentation?

Reference https://github.com/dpgaspar/Flask-AppBuilder

[code]

[2021-01-17 04:51] aaronsdevera opened #12574 "typo in connections index in the documentation"
## Description

typo in `docs/src/pages/docs/Connecting to Databases/index.mdx`
the currently listed connection string for snowflake is "ssnowflake"
the correct driver is "snowflake," as verified on their sqlalchemy docs: [https://docs.snowflake.com/en/user-guide/sqlalchemy.html](https://docs.snowflake.com/en/user-guide/sqlalchemy.html)

[2021-01-17 17:45] junlincc commented on #12572
@srinify 🙏

[2021-01-17 18:10] junlincc commented on #12543
@amyshangshang thanks for reporting the issue. I tested on master, the email redirect is working properly. im not able to repro this issue. could you please double check? thanks

https://user-images.githubusercontent.com/67837651/104851827-c7cdd100-58a3-11eb-91dc-c15f3d754dfd.mov

[2021-01-17 18:16] junlincc commented on #12545
thanks for reporting! @amyshangshang

for the first chart(popular genres) you may wanna adjust the slide bar to see the full table.and we added pagination to tables that with 50+rows. double checked on master, they both work expected.

<img width="1791" alt="Screen Shot 2021-01-17 at 9 12 30 AM" src="https://user-images.githubusercontent.com/67837651/104851968-8e499580-58a4-11eb-87a9-3895df3631c6.

[2021-01-17 18:16] #12545 closed

[2021-01-17 18:17] #12543 closed

[2021-01-17 18:19] junlincc commented on #12546
good catch! thank you @amyshangshang for reporting it!

[2021-01-18 00:49] junlincc commented on #12139
resolved

[2021-01-18 00:49] #12139 closed

[2021-01-18 00:49] junlincc commented on #12017
resolved

[2021-01-18 00:49] #12017 closed

[2021-01-18 01:38] #12481 closed

[2021-01-18 01:50] ktmud commented on #12566
Thank you for the comphrensive writeup! I learned a lot from reading this.

Some thoughts on a first pass:

We should never allow a new flag to change the default. A feature flag is like an A/B test, it should only add or change features when the flag is set to true, which shall not start as the default.

Would love to see an expansion on this in terms of how the UI may break. E.g.

- Changes that

[2021-01-18 04:49] 96RadhikaJadhav commented on #12574
@aaronsdevera  Can I work on the issue?

[2021-01-18 07:43] jorourke opened #12576 "Error when creating Time-series table with virtual dataset: "Datetime column not provided as part table configuration and is required by this type of chart""
Running superset in kubernetes using helm, using the image: `apache/incubator-superset:latest`.

Steps:
Add a new query with SQLLab query:

[code]
and
[code]

Add a Time-series table type using this query as the data set.

See the error: "Datetime column not provided as part table configuration and is required by this type of chart"

Note: These charts will still render in a dashboard. They worked

[2021-01-18 07:48] zhaoyongjie commented on #12576
@jorourke the latest master has fixed this issue.  Thanks for your report bug.

[2021-01-18 07:50] villebro commented on #12576
@jorourke this should be fixed on master as of last Friday and the upcoming 1.0 release that's currently being voted on. You should also use `apache/superset`, not the old `apache/incubator-superset`: https://hub.docker.com/r/apache/superset/tags?page=1&ordering=last_updated . I just checked and this bug should be fixed on `apache/superset:latest`.

[2021-01-18 08:01] jorourke commented on #12576
Ah, ok, let me try that. Thanks for your help.

[2021-01-18 08:25] kgabryje commented on #12551
@zuzana-vej I cannot reproduce it
![image](https://user-images.githubusercontent.com/15073128/104889863-11372280-596f-11eb-9c83-b56108995767.png)
Can you verify if the bug persists on latest master?
CC: @junlincc

[2021-01-18 08:53] kgabryje commented on #12485
@junlincc How can I reproduce it? The select dropdown closes itself when any area outside of dropdown is clicked.

[2021-01-18 08:56] #12576 closed

[2021-01-18 08:57] junlincc commented on #12469
resolved

[2021-01-18 08:57] #12469 closed

[2021-01-18 09:01] jorourke commented on #12576
@villebro  & @zhaoyongjie  Thanks for you help on this. I'd like to become a contributor to this project. Could you suggest a way I might get started in that direction? I have a good match of skillsets programming in python/flask/sqlalchemy and some React work too.

[2021-01-18 09:04] junlincc commented on #12551
@zuzana-vej it does seem like it's fixed~

<img width="1065" alt="Screen Shot 2021-01-18 at 1 03 10 AM" src="https://user-images.githubusercontent.com/67837651/104893987-f8a41980-5928-11eb-948c-473a01e0d06a.png">

<img width="1028" alt="Screen Shot 2021-01-18 at 1 01 58 AM" src="https://user-images.githubusercontent.com/67837651/104894005-0063be00-5929-11eb-9ff6-2b5cbe056154.png">

[2021-01-18 09:09] junlincc commented on #12485
The issue has gone... what a miracle..😃 let's move on~ @kgabryje
https://user-images.githubusercontent.com/67837651/104894535-b0392b80-5929-11eb-88f2-9a0e9636e0ed.mov

[2021-01-18 09:09] #12485 closed

[2021-01-18 09:11] kgabryje commented on #12485
I think that we mix react-select and antd

[2021-01-18 09:15] junlincc opened #12578 "[explore]metrics control temporary adjustment"
Based on user feedback on the new Explore control panel, we propose 2 small changes as a temporary solution during the process of bigger control field refactoring and redesign in Explore.

1. temporary disable editing metric name for saved metric tab
2. switch SAVED metric and SIMPLE tabs

[2021-01-18 09:20] vikalpmullick commented on #10735
@debbielee1996 any success on this?

[2021-01-18 09:30] dpgaspar commented on #12550
Hi @squalou your example is at the dbapi layer, please test using SQLAlchemy with a driver that supports it's dialect:

From the docs (https://github.com/daneshpatel/sqlalchemy-jdbcapi):
[code]

[2021-01-18 09:34] debbielee1996 commented on #10735
unfortunately no...

[2021-01-18 09:34] #10735 closed

[2021-01-18 09:53] villebro commented on #10735
@debbielee1996 can you test against a newer version of Superset? If this persists I can help figure out what needs to be changed either on Superset or Amundsen to make this work.

[2021-01-18 09:59] stevensuting commented on #10203
This still happens in 0.38.0 for column that are placed in the group by list. This [issue](https://github.com/apache-superset/superset-ui/issues/731) describes the same

[2021-01-18 10:10] vikalpmullick commented on #10735
@villebro i have tried with superset 0.38. In my case the POST request from amundsen end is not reaching the superset end.

//post req from superset client in amundsen//
requests.post(self.url, data=request_data, headers=headers)

Above returns with HTTPStatus.INTERNAL_SERVER_ERROR

I am using a superset with no authentication. (Public access)

[2021-01-18 10:28] squalou commented on #12550
I've read a bit more about sqlalchemy etc... and indeed, no miracle can occur : I would need a dedicated dialect to begin with :)
(I mean : jdbc driver is not enough)

[2021-01-18 11:04] villebro commented on #10203
@stevensuting can you add the following information:
- the database type
- the datatype of the "Last Appointment Date" and "Last Feedback Date" columns?

Also, the cell values that are displaying `NaN`..., are those `NULL` values?

[2021-01-18 13:37] aonurdemir commented on #9974
Although we can filter columns by range in explore chart screen, it is weird that we cannot filter columns by range in dashboard filters. Any progress?

[2021-01-18 14:46] stevensuting commented on #10203
- Database Type: Postgres
- Data type of columns Last Appointment Date" and "Last Feedback Date: timestamptz
- Cell value in DB for which Superset is displaying NaN: NULL
- Data type set in Superset implicitly: TIMESTAMP WITH TIME ZONE

[2021-01-18 17:39] kkucharc commented on #12486
Hi @ktmud as you mentioned fix: [row component handler is visible #12498](https://github.com/apache/superset/pull/12498) addresses the first issue with icons. I just added PR for the rest.

I've got 2 additional questions.
1. I am wondering if this indicator line is in correct place?
![Screenshot_2021-01-18_at_18_03_16__2_](https://user-images.githubusercontent.com/2536609/104947200-ad871680-59bb-

[2021-01-18 18:16] junlincc commented on #12486
@kkucharc thank you for the additional questions.
1. the line should start to show when the card border gets very close to the row or column, instead of half way through.
2. i believe not. users should be always seeing either 1) one vertical line on the left to indicate the row position, 2)one horizontal line on the top to indicate the column position, 3)or top horizontal + left vertical line toge

[2021-01-18 18:25] junlincc commented on #12486
1. I am wondering if this indicator line is in correct place?

The line should show when the top of the card is getting close to the row, and when the left side of the card is getting close to the column, instead of half way through

2. Users should be 1. only seeing one horizontal line to indicate the row position. 2.only seeing one vertical line to indicate the column position. 3. one horizontal

[2021-01-18 19:05] duynguyenhoang opened #12585 "Explore page raises 500 error when form_data in url is not a valid json"
Explore page raises 500 error when form_data in url is not a valid json.

### Expected results

We should redirect to chart page instead of raising 500 error

### Actual results

500 error raised with stacktraces

#### How to reproduce the bug

1. Get any slice url, example http://127.0.0.1:8088/superset/explore/?form_data={%22slice_id%22%3A%20179}
2. Modify form_data in URL to invalid json string

[2021-01-18 19:45] ktmud commented on #12486
1. The indicator line preferably should show at least below the bottom border of the current tab.
2. The indicator line should only show at where the container will be places when users release the drag & drop. Therefore the right indicator should not display if releasing the dragged component does not put it into the right column.

[2021-01-18 20:37] geido opened #12587 "[Explore]modal cancel button should come before the save button"
## Screenshot

<img width="905" alt="Screen Shot 2021-01-18 at 21 35 04" src="https://user-images.githubusercontent.com/60598000/104960770-31013180-59d5-11eb-83ef-720f38a760c2.png">

## Description

The "SAVE" button should be the last button in the footer of the modal, just after the "CANCEL" one to make it consistent with the other modals in the project.

[2021-01-18 20:38] geido commented on #12587
I'll be fixing this one @junlincc

[2021-01-19 00:32] kamalkeshavani-aiinside opened #12588 "[chart] Y Axis Bounds in more charts (Bar Chart, Dual"
**Is your feature request related to a problem? Please describe.**
Currently Y-axis bounds option is available only for below Time-series charts:

- Line Chart
- Time-series Bar chart
- Time-series Percent Change
- Time-series Period Pivot

**Describe the solution you'd like**
I think it should be available in below charts as well:

- Dual Line Chart
- Bar Chart
- Multiple Line Chart

**Additional

[2021-01-19 03:07] pavimimos opened #12589 "How to add group by (BigNumber)"
![image](https://user-images.githubusercontent.com/74908755/104982850-79a50300-5a46-11eb-85cc-43ded4b6de5d.png)

[2021-01-19 06:34] #12574 closed

[2021-01-19 06:37] Renganayaki1 opened #12590 "Providing Dashboard Access to a group"
I can see support for users and different roles in superset. But What I need is, Consider, I have a set of dashboards for finance department. Only that department's members can view the dashboards and for any other departments, it should be restricted.

I know we can restrict the dashboard access very easily, But One solution I need is to create a group with all the members I have and to add that

[2021-01-19 06:54] junlincc commented on #12587
please make sure changes apply to both edit and change dataset modal in Explore. thanks! @geido

[2021-01-19 07:44] #12509 closed

[2021-01-19 09:36] MasonMa-sy commented on #2473
I notice that the DBPassword in Connection String change to 'XXXXX'. And this makes the connection false. When I change the "XXXXX" to my DBPassword, the test connection success.

[2021-01-19 09:56] nurmuda commented on #9042
@gonzalo  ...I already try..but not working ..pls let me know

[2021-01-19 10:09] liamnv opened #12592 "Unsafe attempt to load URL <URL> from frame with URL <URL>. Domains, protocols and ports must match."
When I use superset with https, superset  fetch /api/v1/dashboard/favorite_status from http, so throw this error

[2021-01-19 10:32] zhaoyongjie commented on #2473
Hey, the XXXX is by design. You need filled real password If you would like
to test the db connectIon

On Tue, Jan 19, 2021 at 5:36 PM Mason Ma <notifications@github.com> wrote:

[2021-01-19 12:19] duynguyenhoang commented on #12557
I found the root cause, going to create PR couple of hours later.

[2021-01-19 12:35] gonzalo commented on #9042
Just using it in latest apache 0.38. Using amancevice superset docker image https://github.com/amancevice/docker-superset

Ensure that your superset instance is loading superset_config.py and it should work

[2021-01-19 14:02] petervanstaaden opened #12597 "Scroll Bars on all charts even if they shouldn't be there"
I am having an issue where all user-made charts are scrollable no matter what, as you can imagine, this looks poopy for the user and it makes it difficult to scroll down the page. Any support or advice will be appreciated
![image](https://user-images.githubusercontent.com/57384868/105044555-8b4ed080-5a6f-11eb-9e10-dec7784fc4b2.png)

[2021-01-19 14:32] adam-stasiak opened #12599 "[explore] Store all tabs width in Explore view"
**Is your feature request related to a problem? Please describe.**
With https://github.com/apache/superset/pull/12593 it comes possibility to store locally width of native filter tab. I can modify the width and after revisit see this applied thanks to localStorage.
**Describe the solution you'd like**
I would like to have similiar things for rest of the screen. For the middle part and for the char

[2021-01-19 14:43] junlincc commented on #12599
@adam-stasiak thanks for the opening the issue! @nikolagigic let's tackle this one as well. thank you both! 🙏
@pkdotson fyi

[2021-01-19 14:47] junlincc commented on #12597
thanks for reporting. this issues should have been fixed in latest master. https://github.com/apache/superset/pull/12478

[2021-01-19 14:47] #12597 closed

[2021-01-19 14:57] junlincc opened #12601 "[dashboard]Edit mode row control icons set misalignment"
<img width="1406" alt="Screen Shot 2021-01-19 at 6 52 10 AM" src="https://user-images.githubusercontent.com/67837651/105050931-240b2f00-5a23-11eb-9f63-4de01f12d619.png">

latest master

@kkucharc 🙏

[2021-01-19 15:21] geido commented on #12587
@junlincc it looks like the Change Dataset modal already has the buttons in the right position when you pick a new dataset. Is there anything else you are looking to change?

[2021-01-19 16:15] #12585 closed

[2021-01-19 17:00] etr2460 commented on #12566
Thanks for getting this doc out, I think it aligns with many of my hopes and dreams for a stable Superset and predictable version bumps. A few notes:

There's no reference to function renaming or class refactoring in the breaking change section. I believe at this point we have some modules of code (specifically the Security Manager and the presto/hive jinja template code, although there might be o

[2021-01-19 17:12] willbarrett commented on #11817
This is fixed.

[2021-01-19 17:12] #11817 closed

[2021-01-19 17:13] willbarrett commented on #11757
This is fixed.

[2021-01-19 17:13] #11757 closed

[2021-01-19 18:26] #12587 closed

[2021-01-19 20:27] junlincc opened #12608 "[explore]make popover title change responsive"
'we keep current values of edited metrics in a state of component that is a sibling of popover title component (`AdhocMetricEditPopover`). So we'd have to either pass the state to a parent and down to popover title or move the edited metric's state to parent component (perhaps with Context API?). I thought that for now current solution would be sufficient and we could address "responsiveness" late

[2021-01-19 20:28] junlincc commented on #12608
@kgabryje 🙏

[2021-01-19 20:28] #12578 closed

[2021-01-19 20:42] citizenrich commented on #12440
Here's the error from the Chrome debugger for the same error.
![image](https://user-images.githubusercontent.com/2528387/105090813-e8955280-5a6c-11eb-9823-b26c11872887.png)

[2021-01-19 21:46] eschutho commented on #12566
Thanks for the feedback @ktmud. I removed ` Setting a new flag where the default would break any existing functionality` since that is a discouraged practice anyway and added in more information around breaking UI changes. I think it is going to largely be a judgement call on that topic. Hope this definition helps give some clarity while still leaving it open for interpretation. We can continue to

[2021-01-20 01:00] john-bodley opened #12611 "[explore]Non-metric uniqueness in Explore"
It seems like metrics in explorer and keyed by name, however for charts which support multiple metrics, Superset cannot differentiate between selected saved metrics. This means if you add the same metric multiple times and change one of the metrics all references to said metric change.

### Expected results

Either:

1. The same metric should not be able to be added multiple times (ensuring unique

[2021-01-20 01:39] etr2460 opened #12612 "Standalone embedded charts don't render in iframes"
When embedding a chart in an iframe with the `standalone=true` param, it doesn't render

### Expected results
See the full chart with no sidebar

### Actual results
See nothing

#### How to reproduce the bug

1. Click the embed button for a chart in explore
2. Copy the iframe code and put on a webpage
3. See nothing

### Environment

- superset version: `master`

### Additional context
Note that t

[2021-01-20 01:42] eschutho commented on #12566
Great, thanks for the feedback @etr2460! I'm going to respond a bit out of order just for simplicity while I think about some of the other points..

Yeah, I agree on this possibility. One concern that I'm hearing is that pushing out a major version will take time, and that releasing a security patch should be addressed immediately. What I hear you suggesting is an alternative which would be for ex

[2021-01-20 02:29] junlincc commented on #12612
related: https://github.com/apache/superset/issues/12557

[2021-01-20 02:41] junlincc commented on #12611
thanks for reporting! was able to reproduce.
we will need a few days to come up with a solution and get to it. hope that works for your users🙏 @john-bodley

https://user-images.githubusercontent.com/67837651/105119746-ce1ba300-5a85-11eb-8eae-dd67724e233c.mp4

[2021-01-20 02:52] ktmud commented on #12566
What I meant is more about breaking changes for chart plugins, because they require certain API in `@superset-ui/core` and `@superset-ui/chart-controls` to work. Especially after supporting [dynamically imported plugins](https://github.com/apache/superset/pull/10288), users will eventually be able to install plugins that may or may not upgrade with Superset at the same time. We will have to make s

[2021-01-20 03:21] ktmud commented on #12566
Re: breaking security fix releases.

If someone pinned their Superset deployment to the most recent minor release and chose to ignore (or wait for maturity of) a new major release, they might not notice the change, either. So maybe in addition to publishing the breaking security fix as a major version, we should also release a minor version that adds a deprecation warning.

I think (or hope) in th

[2021-01-20 04:26] junlincc commented on #12333
resolved.

https://user-images.githubusercontent.com/67837651/105126882-86504800-5a94-11eb-8441-05d86114393c.mov

[2021-01-20 04:26] #12333 closed

[2021-01-20 04:27] junlincc commented on #12374
<img width="357" alt="Screen Shot 2021-01-19 at 8 27 00 PM" src="https://user-images.githubusercontent.com/67837651/105126975-b697e680-5a94-11eb-857e-9168ebeb47d3.png">

resolved. better than before, will need another round of cosmetic fix.

[2021-01-20 04:27] #12374 closed

[2021-01-20 04:30] junlincc commented on #12514
<img width="210" alt="Screen Shot 2021-01-19 at 8 29 15 PM" src="https://user-images.githubusercontent.com/67837651/105127125-05de1700-5a95-11eb-848d-131e52acc037.png">

resolved, but now calculated type has the dropdown menu overflow and line break issue 🤦🏾‍♀️

[2021-01-20 04:30] #12514 closed

[2021-01-20 05:47] harryprince commented on #9645
+1 same issue

[2021-01-20 06:29] nurmuda commented on #9042
Hi Gonzalo thx for the response...I already using superset docker from amancevice , version 0.38.0 ....what the user / passsword, I cant login using admin/admin ...Please let me know

[2021-01-20 06:32] aman101097 commented on #9042
Hi u have to exec into the docker image and use the commands:-

[code]

[2021-01-20 06:41] nurmuda commented on #9042
Ok thx @aman101097  for the quick response  ...I can login now ....

[2021-01-20 07:02] nurmuda commented on #9042
Hi @gonzalo @aman101097 ...where is I can find **superset_config.py** in your docker image ? I need to create a new one ? Usually, I can find them in **pythonpath_dev**
  Please let me know ...Thx U ...

[2021-01-20 07:15] ktmud opened #12614 "[Explore] Open existing adhoc metric should not open the SAVED tab"
@kgabryje @junlincc Found a bug on this one: opening a selected adhoc metric should open the SIMPLE or CUSTOM tab, but now it always opens the SAVED tab.

_Originally posted by @ktmud in https://github.com/apache/superset/issues/12582#issuecomment-763202521_

[2021-01-20 07:35] junlincc commented on #12614
Previous behavior & correct behavior is always open up the same tab that user created the metric in. My bad, did not catch it when I tested.

[2021-01-20 08:12] #11859 closed

[2021-01-20 09:18] kgabryje commented on #12614
Could you share steps to reproduce? It seems to work correctly for me
https://user-images.githubusercontent.com/15073128/105153415-b2a5ac00-5b08-11eb-9abb-5480b1a97a40.mov

[2021-01-20 09:24] dpgaspar commented on #12612
@etr2460 can you check that this was fixed with: https://github.com/apache/superset/pull/12606 ?

[2021-01-20 09:35] ktmud commented on #12614
Weird, I could not reproduce it any more, either.

Maybe it's because I confused it with re-opening the popover after switching tabs but not save. The popover always opens at the last active tab before closing (which I think is fine).

Sorry for the noise.

[2021-01-20 09:35] #12614 closed

[2021-01-20 09:36] kgabryje commented on #12614
👍

[2021-01-20 11:02] gonzalo commented on #9042
in case you're using that docker image you should bind a location /etc location on your host and place there the superset_config file

In my case this is part of my docker-compose.yml (for a swarm deployment)
[code]

and in my host I have a /xxxx/xxxx/superset-dashboard/etc/superset_config.py file with these contents

[code]

[2021-01-20 11:35] vikalpmullick opened #12618 "How to enable query execution in sqllab for Anonymous user(public role) ?"
Superset version: 0.38

Superset config:
AUTH_ROLE_PUBLIC='Public'
PUBLIC_ROLE_LIKE='Admin'

After superset init, all admin permissions are copied to Public role.

In Sqllab query execution does not work for Public role

ERROR: superset.views.core:Query2: 'AnonymousUserMixin' object has no attribute 'username'

![20210120_165427.jpg](https://user-images.githubusercontent.com/68067507/105168488-346

[2021-01-20 11:41] manmeetkaur-kin commented on #7739
@intostern could you please advise how you set the SQLALCHEMY_DATABASE_URI ? We are on airflow 1.10.10 and trying to integrate Google OAUTH and RBAC. Google login is working but everytime we click on DAGs or Profile, it logs out and again brings to login screen. And there is no entry in ab_user table. Webserver logs say that SQLALCHEMY_DATABASE_URI is not set! I tried to set in webserver_config.py

[2021-01-20 15:07] bryanck opened #12622 "[explore]Bar chart doesn't sort descending anymore"
The bar chart no longer sorts query results in descending order. If you apply a row limit to the chart, then an arbitrary set of rows will be returned (depending on the DB).

### Expected results

For the bar chart by default to generate a query that sorts results in descending order, so the top N rows, based on the metric, will be selected when applying a limit. AFAIK this was the previous behavi

[2021-01-20 16:21] kkucharc commented on #12486
I will open separate PRs for those improvements just to make those changes small and easy revertable.

[2021-01-20 16:57] bryanck opened #12623 "[import]Dashboard import doesn't support multiple databases"
If a dashboard uses datasets from multiple databases, then during import all datasets are assigned to the database specified in the import form. This causes the import to fail when a dataset doesn't exist in the specified database. Perhaps there should be an option to ignore the database override.

### Expected results

Expected that a dashboard that uses multiple databases wouldn't fail with an e

[2021-01-20 18:25] junlincc opened #12624 "[explore]switching viz type from/to filter box requires refreshing"
When user switch between viz type and filter box, it requires clicking refresh to run
![ezgif-4-d2bdf8af252c](https://user-images.githubusercontent.com/67837651/105218261-c7cf0a80-5b09-11eb-96e1-44abe0b50f85.gif)

To repro:
1. create a chart in Explore
2. change data viz type to filterbox
3. click run - see page is hanging
4. refresh the page to see viz type change

[2021-01-20 18:54] etr2460 commented on #12612
Will verify after today's release, thanks!

[2021-01-20 18:56] etr2460 opened #12628 "Certified metric icons are various sizes"
## Screenshot
![image](https://user-images.githubusercontent.com/7409244/105221516-12eb1c80-5b0e-11eb-86eb-e9f12a5ec34b.png)

## Description
When multiple metrics are certified, it seems like the icons are different sizes. No clue why, but it seems to be introduced with the new dataset panel

## Design input
They should all be the same size

[2021-01-20 19:04] junlincc commented on #12628
@etr2460 Thanks for reporting. we are aware of this issue. icon migration project has been put on-hold until v1.0.1 release.

[2021-01-20 19:10] junlincc opened #12629 "[dashboard]native filter collapse icon should hide in edit mode"
Native filter bar is designed to be used in View mode only.
1. In Edit mode, the collapse icon is showing and overlapping with the other component control icons. suggest to hide it in Edit mode to avoid confusion. collapse function should be disabled.
2. When user enter into Edit mode, filter panel should close automatically
<img width="176" alt="Screen Shot 2021-01-20 at 11 02 52 AM" src="https:/

[2021-01-20 19:42] yousoph opened #12630 "Genders by State Example Charts Not Loading"
### Expected results
Example chart should load properly in the chart and on the dashboard

### Actual results
Genders by State chart shows an error with the column names - num_boys and num_girls don't exist anymore

#### Screenshots

![image](https://user-images.githubusercontent.com/10627051/105225826-01a50e80-5b14-11eb-9cb2-a664622e8559.png)

#### How to reproduce the bug

1. Visit the Genders b

[2021-01-20 19:42] yousoph commented on #12630
@ktmud - I believe you updated the column names, do you mind taking a look?

[2021-01-20 20:07] eschutho commented on #12566
Yeah, I agree. After thinking about it more, I don't think the next version will need to be another major version. It could be a minor.

That's a good point. So your preference would be to go with the original proposal which is to push a patch fix out ( I think it could likely be a patch instead of a minor if we only cherry-pick the security fix and that should get picked up with pinned minor vers

[2021-01-20 20:15] ktmud opened #12631 "[discuss]Should we remove the "+" icon for single metric control?"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/105228368-5eee8f00-5b17-11eb-81f7-7d45f7d5ba30.png" width="320">

<img src="https://user-images.githubusercontent.com/335541/105228392-64e47000-5b17-11eb-9557-026638d9eb29.png" width="320">

## Description

Should we remove "+" icon for the the single metric control? It's not adding much value and kind of distracting.

Maybe

[2021-01-20 20:26] junlincc commented on #12631
Thanks for proposing! Could you provide some actual quotes from users about their confusion? I would also like to meet with them if its possible. When it comes to UI/UX we wanna understand the root problem first before diving into any solutions. Also please keep in mind that we are in transition phase, getting ready to fully implement the proposed design in SIP 34. Nothing is not done and set, we

[2021-01-20 20:54] ktmud commented on #12631
"I can’t figure out how to add a second metric" is the exact quote.

[2021-01-20 21:36] Steejay commented on #12470
Here's a link to the prototype that addresses this pain point. The goal is to display only what the user needs to see at any given time in their flow to reduce visual clutter and information overload.

Changes:
• Both Allow CTAS and CVAS are dependent on the 'Expose in SQL Lab' selection so they appear only when applicable
• The schema input field moved closer to its related context (CVAS and CTAS

[2021-01-20 22:09] ktmud commented on #12630
Yeah, dropping and reload the examples database should fix this. I just assumed examples are only used for developing/testing purpose and would not be used in any actual deployment therefore didn't do anything fancy about it.

[2021-01-20 22:18] #12486 closed

[2021-01-20 23:38] mihir174 opened #12634 "Explore control panel minor cosmetic issues"
Hey all, here are just a few tweaks to the explore control panel to make things look nicer

I compiled all the correct icons for explore here for reference/use. You can export them as SVGs if needed!
https://www.figma.com/file/JWaGztdhZS0kS5ruG7x9tB/Control-Panel?node-id=813%3A47391

### 1. Horizontal padding around input fields

Currently, the input fields are indented on the left
<img width="329

[2021-01-21 00:07] yousoph commented on #12630
Ahh, got it, thanks!

[2021-01-21 00:07] #12630 closed

[2021-01-21 01:15] eschutho commented on #12566
Thanks for this point @etr2460. @betodealmeida followed up with https://github.com/apache/superset/pull/12635, and I'll add notes to this doc. Great callout!

[2021-01-21 01:25] eschutho commented on #12566
Ideally we would find solutions that allow us to continue to roll out code regularly and not have to hold on to breaking changes. Putting changes behind a feature flag for example. If there was a situation where we absolutely couldn't push out the code and had to manage it separately until the next release, then yes, regular rebases managed by a release manager would make sense, albeit it would be

[2021-01-21 01:32] etr2460 commented on #12612
Yup, this fixed it. Thanks!

[2021-01-21 01:32] #12612 closed

[2021-01-21 01:32] ktmud opened #12639 "[Cosmetic] Position for extra filter indicator is not correct"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/105262669-0cc46280-5b45-11eb-80cb-fbe3bf4abc76.png" width="400">

## Description

Shouldn't the warning icon be inside the selected filter pill?

## Steps to reproduce

1. Go to a dashboard with filters
2. Apply a filter
3. Explore a chart that has the filter applied

[2021-01-21 01:51] graceguo-supercat opened #12640 "[explore][discussion]short & long term solutions for displaying truncated info in Explore and Dashboard"
We had naming rules for metrics, so that many metrics have same prefix. In the adhoc filter dropdown list, it only shows same prefix, there is no way for our users to pick the right metric from dropdown list:

<img width="1175" alt="Screen Shot 2021-01-20 at 5 42 54 PM" src="https://user-images.githubusercontent.com/27990562/105268664-77769d80-5b47-11eb-8b2a-12e1593dfd18.png">

### Expected result

[2021-01-21 01:55] ktmud opened #12641 "[metrics] metric select popover unexpectedly closes when using the scrollbar"
## Screenshot

1. The metric select popover unexpectedly closes when using the scrollbar:

![unexpected-close](https://user-images.githubusercontent.com/335541/105269282-77c36880-5b48-11eb-91b3-1579c2ce8937.gif)

2. Previously the list also had autoresizable width when the list is short enough to not use virtual list where it always fits the longest option. This still works in SQL Lab table select

[2021-01-21 01:59] zhaoyongjie commented on #12640
Hi, @graceguo-supercat
There is a resize icon available to zoom in and out the metric(and filter) popover.

![image](https://user-images.githubusercontent.com/2016594/105269504-067ac880-5bcf-11eb-92bf-d48f279b9f38.png)

[2021-01-21 02:06] ktmud commented on #12640
I'm pretty sure 90% of users would not think of using that resize button when they see truncated options.

[2021-01-21 02:26] junlincc commented on #12640
Then the question becomes, how to teach Superset users this new pattern. feature tutorial and on boarding are absolutely areas that we have room to improve.

As we made all Explore components resizable, including data panel, data table, charts, control panel and popovers, users should have much greater flexibility operating in Explore than ever before, so I think it might worth users time learning

[2021-01-21 02:54] graceguo-supercat commented on #12640
I agree this. There are so many different users with different usage patterns, and some users may just use it once per a few month. You can't rely on one-time education or training.

[2021-01-21 02:59] junlincc commented on #12640
Feature tutorial and user guide are  definitely something we should start incorporating to the product. I will see what I can do in Explore.

[2021-01-21 03:00] zuzana-vej commented on #12640
Expecting users to resize this every single time they open the Metrics popup is unreasonable expectation.

On the tutorial / education piece I agree there is space for improvement. One idea users suggested in the past is have some kind of "since you last visited" or "since last release" where they can have a summary. I am personally not convinced if this would be used (I never use this feature in

[2021-01-21 03:12] mihir174 commented on #12640
I think there is room for this popover to be wider horizontally by default. I agree that it's unreasonable to manually expand every time. I think hovering for tooltips might get frustrating when combined with scrolling + scanning through a big list. What's a string character length that we'd want to fit into the menu without truncation?

[2021-01-21 03:14] mihir174 commented on #12639
What is the warning for?

[2021-01-21 03:23] graceguo-supercat commented on #12640
before we come up a perfect solution, will [title attribute](https://www.w3schools.com/tags/att_global_title.asp) be a simple solution?

[2021-01-21 03:28] ktmud commented on #12640
+1 title attribute should be the default in most places with potential truncation. I remember my job as a junior frontend engineer 10 years ago was adding "title" in a lot of places.

[2021-01-21 03:57] #12551 closed

[2021-01-21 04:05] zuzana-vej opened #12643 "[dashboard] Toggle Chart Description results in chart overflowing it's area"
When a user clicks on "Toggle chart description", the description gets displayed bellow the chart title, and the chart shifts downwards, resulting in the bottom of the chart (the x axis and legend) overflowing out of the chart area

### Expected results
Chart doesn't overflows

### Actual results
Chart overflows

#### Screenshots
Before "Toggle Chart description"
![Screen Shot 2021-01-20 at 7 54 1

[2021-01-21 04:12] zuzana-vej opened #12644 "[explore] Unable to add space-separated values to filters using IN"
When trying to add a multi value filter using IN and a space-separated value (e.g. Russian Federation) the UI splits the value at the space (e.g. breaking it into "Russian", "Federation"). Adding quotes doesn't help. Using the custom sql feature works as a workaround.

### Expected results

One value added ("Russian Federation")

### Actual results

Two values added ("Russian", "Federation") or ("

[2021-01-21 04:55] junlincc opened #12645 "[dashboard]cancel creating native filter confirmation(edge case)"
Scenario:
Go to native filter
add 2 filters and save
Open edit modal again and add new filter (without filling data) and delete name of first filter
Cancel edition - confirm you want to lost your changes

_Originally posted by @adam-stasiak in https://github.com/apache/superset/issues/12554#issuecomment-764007447_

[2021-01-21 04:56] john-bodley opened #12646 "[explore]Error while rendering Time-series Table visualization"
I'm unsure under what circumstances this is occurring but there are instances where the "Time-series Table" visualization results in a React error. Note the result set contains two rows and thus I wonder if there may be insufficient data for the visualization.

### Expected results

The chart should render or show a meaningful error if there is insufficient data for the visualization.

### Actual

[2021-01-21 04:57] #12459 closed

[2021-01-21 05:08] junlincc commented on #12646
`I wonder if there may be insufficient data for the visualization.` i think so.
 could you try setting no filter on time and see if there's still an error? @john-bodley

[2021-01-21 05:23] junlincc commented on #12640
if we do go with the solution of adding title attribute or tooltip, that will have to happen systematically, which takes time.
the fastest/easiest solution will be increasing the width of popover by default. I remember the longest title you gave me is about 50 character long, to be safe, should we bump it to fit 70 character by default? @mihir174

[2021-01-21 05:33] cdmikechen commented on #10530
@bkyryliuk  If I use
[code]
superset will report error:
[code]
Is this problem related to this PR https://github.com/apache/superset/pull/10819 ?

[2021-01-21 06:49] john-bodley commented on #12646
This is an insufficient data issue. Removing the time granularity circumvented the issue, however the visualization types needs to gracefully handle the case of insufficient data.

[2021-01-21 07:22] villebro opened #12647 "⚠️run pip install typing-extensions before running Superset on py38+"
When installing `apache-superset==1.0.0` via `pip` on Python 3.8, the following error appears:

[code]

### Expected results

`superset init` finishes cleanly

### Actual results

Error

#### Screenshots

#### How to reproduce the bug

1. Install superset via PyPI on Python 3.8: `pip install apache-superset==1.0.0`
2. run `superset init`
3. See error

### Environment

- superset version: 1.0.0
- p

[2021-01-21 07:38] villebro commented on #12647
Workaround: run `pip install typing-extensions` before running Superset.

[2021-01-21 07:44] junlincc commented on #12646
Right, we thought about changing the error message to more human readable. any other suggestions? @john-bodley

[2021-01-21 07:56] romens96 commented on #1170
@bilalakil hi, though its been years
hope this article helps.
https://medium.com/@sairamkrish/apache-superset-custom-authentication-and-integrate-with-other-micro-services-8217956273c1

[2021-01-21 07:59] junlincc commented on #12641
1. The metric select popover unexpectedly closes when using the scrollbar
Does it happen only when you have list of metrics w long metric?

can you file these two issues separately? it will help us faster get to them. thanks! @ktmud

[2021-01-21 08:01] DrissiReda commented on #4040
@visakhmurukes could you please share that custom CSS

[2021-01-21 08:03] ktmud commented on #12641
2 is related to #12640 so I don't think we need another issue.

[2021-01-21 08:21] visakhmurukes commented on #4040
@DrissiReda  here you go

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}
.superset-legacy-chart-table {
    background-color: #333 !important;
}

.nvtooltip table td, .nvtooltip table td strong.

[2021-01-21 08:25] geido commented on #12628
Yep. I Will check those out first as soon as we can get the initial POC for the icons in

[2021-01-21 09:07] DrissiReda commented on #4040
Thanks! any way that can be added to the whole superset ui?

[2021-01-21 09:09] villebro opened #12650 "bar chart: disabling "sort bars" doesn't reset sort order"
When enabling "sort bars" and disabling again, the order isn't reset to the original order.

### Expected results

The original order is restored.

### Actual results

The data is sorted by x-axis.

#### Screenshots

![bar-chart-sort](https://user-images.githubusercontent.com/33317356/105328638-ec45e800-5bd8-11eb-8652-018646c52ca5.gif)

#### How to reproduce the bug

1. Go to 'Genders by state' ex

[2021-01-21 09:32] #12601 closed

[2021-01-21 09:39] trepmag commented on #8382
This issue produce quiet some confusion because browsers behaviors aren't aligned...

Actually, what I noticed is the following:
[code]

This above setup is stated is a [IETF proposal: Incrementally Better Cookies](https://tools.ietf.org/html/draft-west-cookie-incrementalism-00) and was ported to my attention in this article: [Cookies and Iframes](https://medium.com/trabe/cookies-and-iframes-f7cca

[2021-01-21 11:39] joeybaba opened #12654 "How can i connect MySQL of the host network."
I followed the instructions and installed superset in docker. NOW, I want to use superset connect MySQL of the Host network, but it say: "ERROR: Connection failed, please check your connection settings".

I try to use SQLALCHEMY URI like it:
1.  "mysql://root:rootroot@host.docker.internal:3306/DBNAME",
2. "mysql://root:rootroot@127.0.0.1:3306/DBNAME".

but they all error.... can anybody help me fi

[2021-01-21 11:46] joeybaba commented on #12654
OH MY GOD...HELP HELP

[2021-01-21 11:50] joeybaba commented on #12654
i am waiting for you

[2021-01-21 12:37] zsellami opened #12656 "Is Superset compatible with Web Accessibility Standards or Numeric Accessibility Standards ?"
Hello,
Several companies perform an application audit before integrating them into their catalogs.
One of the criteria for the selection is digital accessibility for people with disabilities.
Is Superset compatible with accessibility standards like those proposed by W3C
https://www.w3.org/WAI/standards-guidelines/wcag/
https://www.w3.org/WAI/fundamentals/accessibility-intro/ ?

[2021-01-21 12:58] joeybaba commented on #12654
i find the ERROR, is MySQL.
FOR ERROR:
2059 (HY000): Authentication plugin 'caching_sha2_password' cannot be loaded

[2021-01-21 12:58] #12654 closed

[2021-01-21 13:36] villebro commented on #12268
Reproduced, fix coming up.

[2021-01-21 13:55] junlincc commented on #12646
cc @eugeniamz

[2021-01-21 16:55] etr2460 commented on #12656
Superset is not currently compatible with accessibility standards. This sort of compatibility is something that the product certainly needs, but isn't currently being prioritized (as far as I know). I think we'd be happy if some community members wanted to step up and own a project around it

[2021-01-21 17:32] graceguo-supercat commented on #12640
`increasing the width of popover` is stick to a fixed width, which probably still not guarantee all the cases.

Same issue happens in dataset panel, user can not see the full metric name. You will see that even as wide as data panel with max width, a lot of metric names still get truncated.
<img width="581" alt="Screen Shot 2021-01-21 at 9 23 52 AM" src="https://user-images.githubusercontent.com/2

[2021-01-21 17:42] Lemmynjash commented on #4127
Hello team
Is this feature implemented?

[2021-01-21 17:49] mihir174 commented on #12640
Agreed that all cases won't ever be guaranteed. My thought is we can increase the width so that more cases are covered and fewer will need to be treated with a title attribute.

I also wanted to bring up truncation again - will it be more useful if metrics are truncated in the middle? I've noticed that many long metrics differ towards the end of their strings. Like so -
<img width="228" alt="Scree

[2021-01-21 17:54] graceguo-supercat commented on #12640
Did you notice it also offers tooltip for the full name?
<img width="763" alt="Screen Shot 2021-01-21 at 9 54 26 AM" src="https://user-images.githubusercontent.com/27990562/105391145-abe16c80-5bce-11eb-9d6f-90a37335d7a8.png">

[2021-01-21 18:01] cwiebe18 commented on #11405
We are actively seeking this problem to be fixed.  This seems to be a "chicken and egg" problem...no Teradata User will use  Superset unless the limit problem is fixed.  @marcchernoff

[2021-01-21 18:34] #12488 closed

[2021-01-21 19:37] altef commented on #11988
(looks like this made it into 1.0)

[2021-01-21 23:02] eschutho commented on #12566
Ok, I got you.. you're saying that security fixes with a breaking change should always go into the next release (similar to what @etr2460 suggested) as a major version. Security fixes that are backward compatible should go with the next release or as a patch on the last release. If the fix is backward compatible and the next release is a major version (as if the security issue was detected as we w

[2021-01-21 23:05] garden-of-delete commented on #12566
Forgive me if I am interjecting a novice question here.

Since breaking changes are critical to the proposed semantic versioning scheme, does it make sense to add some additional structure / formalization around how breaking changes are identified and documented?

As I understand it, the current process relies on individual contributors adding information to UPDATING.md when merging code that resu

[2021-01-21 23:16] eschutho commented on #12566
You're correct, @garden-of-delete.. we haven't come to a decision, but I left two options in the sip for now about marking PR as breaking, either as a title prefix or a tag. The downside to a tag is that only committers can add them, but I think they may be easier to work with. We could also do both the title prefix and the tag, and have a committer add the tag before merging if needed. I was hopi

[2021-01-21 23:23] garden-of-delete commented on #12566
Would be happy to contribute the automation i'm proposing above as well.

re: "Oftentimes breaking changes are caught by reviewers/committers that the author didn't even know of."
That seems to suggest tags as the preferred vehicle for flagging PRs that contribute breaking changes. A contributor may move on from the project after adding changes that are later identified to be breaking. I think it

[2021-01-21 23:26] eschutho commented on #12566
NOTE: I just added this as an extra bullet point. I thought it was helpful to clearly define an intentional breaking change vs a bug:
[code]

[2021-01-21 23:42] #12646 closed

[2021-01-21 23:52] #12611 closed

[2021-01-22 00:08] 00KL opened #12670 "Can I run a app within the superset docker-compose.yml with a specific db,user and password?"
I tryed edit the docker-compose file with this code:
I change the original "db" service to:
[code]

And tryed to run the app service by adding:
[code]
The python_tuto folder was added on the superset folder.

[2021-01-22 00:12] ktmud commented on #12566
That is correct. Hopefully the backport wouldn't be too much work unless we are doing some crazy major new version.

[2021-01-22 01:12] zuzana-vej opened #12671 "[explore] Tooltip displays twice for Metric"
## Screenshot
Issue 1: metric definision (logic) displays twice
![Screen Shot 2021-01-21 at 5 06 30 PM](https://user-images.githubusercontent.com/61221714/105431750-1fa16a80-5c0b-11eb-83ba-21022bcae95d.png)

Issue 2:metric description (text) displays over the definition (logic) - probably the logic should not appear in this case
![Screen Shot 2021-01-21 at 5 08 12 PM](https://user-images.githubuse

[2021-01-22 01:30] zuzana-vej opened #12672 "[explore] Time Series Columns Configuration - no save button, (i) wrapped to new line"
## Screenshot

Issue 1: No Save Button, however the configuration gets saved is user clicks outside the configuration popup. Is this expected behavior? Given all other settings have save button, it would be good for consistency to have the Save here too.
![Screen Shot 2021-01-21 at 5 25 00 PM](https://user-images.githubusercontent.com/61221714/105433267-27164300-5c0e-11eb-91e5-fb0bd1706089.png)

I

[2021-01-22 01:57] cabo40 commented on #5063
as pointed by https://github.com/apache/superset/pull/10523#issuecomment-670583336 , one needs to change the connection prefix from `db2+ibm_db` to `ibm_db_sa`.
Thanks for the fix @sorieux !!! (I know its also you, but for future reference while the docs get corrected)

[2021-01-22 03:29] liamnv opened #12676 "User can reset password without current password"
A clear and concise description of what the bug is.

### Expected results

User must provide current password to reset password

### Actual results

User can reset password without of current password

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Environmen

[2021-01-22 05:43] john-bodley opened #12677 "SQL parser incorrectly identifies SQL reserved keywords as table names"
There's a few examples we've seen where the SQL parser incorrectly identifies SQL reserved keywords as tables when parsing the query. Note I've worked with `sqlparse` in another project and I sense we probably may need to complete rewrite Superset's parser in order for accurately extracting the table names leveraging more of the core `sqlparse`'s functionality.

### Expected results

The SQL parse

[2021-01-22 07:00] #12622 closed

[2021-01-22 07:32] ktmud opened #12679 "[Explore] Hide "Predictive Analytics" when "fbprophet" is not enabled"
The "Predictive Analytics" section should be hidden for ECharts timeseries viz when the Python package "fbprophet" is not installed.

<img width="955" alt="predictive" src="https://user-images.githubusercontent.com/335541/105460546-cd7b3c00-5c40-11eb-9790-8ba612f4279f.png">

cc @villebro

[2021-01-22 07:33] villebro commented on #12679
Thanks, I've been meaning to tackle this, will put it on my backlog

[2021-01-22 08:49] liamnv commented on #2731
Anyone resolved this problem?

[2021-01-22 08:59] Pinimo commented on #12331
We're going to switch directly to the [1.0.0 base image](https://hub.docker.com/layers/apache/superset/1.0.0/images/sha256-42418228008078477092ae4da1fd93e9826eb68fae18dbccc98aba893c468a04?context=explore), so we might as well close this issue.

[2021-01-22 08:59] #12331 closed

[2021-01-22 10:07] lilila opened #12681 "[chart]Pivot Table Rendering Superset 1.0"
I have an issue with pivot table I didn't have using version 0.38.

I use to display links (either links or images)  in table cells. It always worked in simple Table and it is still working.
With the previous version of superset I was able to display images as well within Pivot Table (it was necessary to add `escape = False` in df.to_html()  in superset/viz.py)

With the current version (1.0) if i

[2021-01-22 11:22] grafke opened #12683 "Upgrade from 0.38.0 to 1.0.0 fails"
A clear and concise description of what the bug is.

### Expected results

A successfull upgrade from 0.38.0 to 1.0.0

### Actual results.

superset db upgrade command has failed with:
```pkg_resources.ContextualVersionConflict: (PyJWT 2.0.1 (/usr/local/lib/python3.8/site-packages), Requirement.parse('PyJWT<2.0,>=1.6.4'), {'Flask-JWT-Extended'})```

After manually downgrading the pyjwt to 1.7.1 I

[2021-01-22 11:26] frafra opened #12684 ""Connecting to Databases/index.mdx": no built-in support for Postgres"
https://github.com/apache/superset/blob/f2b802978d99b0cf329520c120b2decd5953ddd0/docs/src/pages/docs/Connecting%20to%20Databases/index.mdx#L19

https://github.com/apache/superset/blob/f2b802978d99b0cf329520c120b2decd5953ddd0/docs/src/pages/docs/Connecting%20to%20Databases/postgres.mdx#L11-L12

https://github.com/apache/superset/blob/f2b802978d99b0cf329520c120b2decd5953ddd0/requirements/docker.in#L

[2021-01-22 11:45] grafke commented on #12683
Looks like it's related to https://medium.com/the-andela-way/alembic-how-to-add-a-non-nullable-field-to-a-populated-table-998554003134

[2021-01-22 11:56] grafke commented on #12683
I worked around this by updating a portion of the file af30ca79208f_collapse_alerting_models_into_a_single_.py:

[code]

Judging by the comment, this section should apply to mysql only, however, my superset instance is backed by the postgres db.

[2021-01-22 12:51] michael-s-molina commented on #12343
Guidelines added to `CONTRIBUTING.md`.

[2021-01-22 13:56] andrelucassc opened #12686 "How can we set chart datetime language?"
I've followed guidelines from  [Issue 3068](https://github.com/apache/superset/issues/3068) to change the language to "pt_BR" and the UI in most parts has taken the expected change, but there is one major area that this was not the case.

Creating a linechart with a metric and a datetime component results in the date beeing in english. The date rendered in the visualizations (example Oct 15 2021)

[2021-01-22 14:17] andrelucassc commented on #12686
Example of what I mean:

![problem date chart6bc2aa76a67d6fb7192f11d9ec1cc1129191f48fa546fcab2d79f27a43b57047](https://user-images.githubusercontent.com/20599467/105501648-3e534000-5ca3-11eb-85cc-edd080b277b8.png)

Expected Outcome:
Fev 2012

[2021-01-22 14:55] bryanck opened #12688 "[chart]rich tooltip text overflows outside of the parent div for line chart"
## Screenshot

![Screen Shot 2021-01-22 at 7 01 01 AM](https://user-images.githubusercontent.com/5475421/105507084-a09a4980-5c7f-11eb-95fe-9eda8b2d56b3.png)

## Description

The rich tooltip text renders in a table that is inside a parent div that has the max-width set. If the text in the table is too wide, then the text will render outside of the div.

This is being caused by this line setting th

[2021-01-22 15:35] junlincc commented on #12688
@bryanck hey, thanks for reporting issues lately! do you mind include Superset version? this looks like a good first issue, lmk if you would like to work on it.  :) 🙏

[2021-01-22 15:38] junlincc commented on #12686
@andrelucassc Thanks for reporting, André. what version are you at?

[2021-01-22 15:38] bryanck commented on #12688
This is version 1.0. I can create a PR in superset-ui. I was thinking to remove the `max-width` setting, which does resolve this.

[2021-01-22 15:43] andrelucassc commented on #12686
Hi, @junlincc , the version was 0.38.0.

[2021-01-22 15:45] adam-stasiak opened #12689 "[explore] Dropdowns tooltip icon jumping when mouse is on label"
## Screenshot

https://user-images.githubusercontent.com/25153919/105512024-e7645f80-5cd0-11eb-80b6-e52abcacb445.mov

## Description

Tooltip icon blinks and jump when I put mouse on these fields.

Steps to reproduce:
Add chart with multiline viz type
Go to Y Axis Left section and put mouse on dropdowns

I would expect to not see this jumping - no action when mouse is on text/field and tooltip dis

[2021-01-22 15:47] junlincc commented on #12681
Thank you Lilila for reporting the issue, we confirm that it has been resolved in latest master by https://github.com/apache/superset/pull/12564. we tagged the fix `v1.0.1`, which will be available to users soon. 🙏
@mayurnewase thank you for your fix!

[2021-01-22 15:48] junlincc commented on #12679
thanks ktmud for pointing it out! yes, we have plan to do it. removed @villebro 😆 and reassigning

[2021-01-22 15:50] geido commented on #12628
I have provided a quick fix for this as the issue is not related to the icon itself but to a styling issue, so it makes sense to keep this separate from the icons migration.

[2021-01-22 15:59] Steejay commented on #12501
cc @yousoph @eschutho

![Split button disabled](https://user-images.githubusercontent.com/60786102/105513467-32598500-5c87-11eb-9163-1742a8323ba5.png)

link to Figma:
https://www.figma.com/file/mPacKMIAXDpZMrQiGDeJMd/SQL-Toolbar-UX%2FUI---P0?node-id=1033%3A26744

[2021-01-22 17:01] BIT-9933 commented on #12684
Gy

[2021-01-22 18:18] mariotalavera opened #12691 "MySQL Connection Fails If MySQL User Password Includes Special Characters"
On **SQL Lab / SQL Editor**, the HTML element for schema dropdown fails (to fetch) schema list if the MySQL user password contains special characters.

**Note** - Registering a database with a user whose password contains special characters works OK.

### Expected results

MySQL User Passwords should be allowed to contain special characters.

#### Screenshots

![image](https://user-images.githubus

[2021-01-22 18:57] robdiciuccio commented on #12630
PR that introduced the change: https://github.com/apache/superset/pull/12082

[2021-01-22 19:03] rijojoseph07 opened #12695 "Build failure with superset-frontend"
Getting build error on superset 1.0.0 frontend.

### Expected results

Successful build on `npm run build`

### Actual results

Error log attached.
[superset-build-error.txt](https://github.com/apache/superset/files/5857982/superset-build-error.txt)

#### How to reproduce the bug

1. cd superset-frontend
2. npm run build
4. See error

### Environment

(please complete the following information):

[2021-01-22 20:32] suddjian commented on #12566
💯 Even though the plugin API is not yet mature, it is a very important one so I think it would be wise to bump Superset's major version if we make breaking changes to that interface.

We also need more thorough documentation of what exactly is included in the plugin interface in order to really determine if a change to the interface is breaking for plugins or not. Just because a change doesn't hap

[2021-01-22 20:46] edvinas-maciulis commented on #7425
@betodealmeida is it possible to edit saved query's scheduling details? How could I disable/stop query from being run in the future?

[2021-01-22 21:00] art-cg opened #12697 "Installing Mac M1 with Docker Preview version 7"
I failed by installing via Docker on Mac Os M1 with Docker Preview version 7.
Yes, i know it is a rare case.

### Expected results

Successfull install

### Actual results

Failed install.

Attaching to superset_cache, superset_db, superset_tests_worker, superset_worker, superset_node, superset_app, superset_init
superset_cache           | 1:C 22 Jan 19:51:04.667 # Warning: no config file specifie

[2021-01-22 21:11] nytai commented on #12697
@art-cg This is a known issue. One of superset's dependencies (numpy or pyarray) are not compatible with Apple M1 chip. See https://github.com/numpy/numpy/issues/17807

[2021-01-22 21:14] #12628 closed

[2021-01-22 22:56] junlincc opened #12700 "[dashboard]native-filter cosmetic issues"
Looks like the incompatible filters have a different select box. Let's make sure all the select field have 1)caret 2)magnifier icon for consistency

https://user-images.githubusercontent.com/67837651/105557616-84b79780-5cc1-11eb-8e42-b6671fa89035.mov

@agatapst 🙏

[2021-01-22 23:13] #12647 closed

[2021-01-22 23:39] junlincc commented on #12700
<img width="643" alt="Screen Shot 2021-01-22 at 3 37 41 PM" src="https://user-images.githubusercontent.com/67837651/105560117-c9dec800-5cc7-11eb-94fc-8248050fa006.png">

also the right side of dropdown in FIELD select is missing.

🙏 @agatapst

[2021-01-22 23:44] junlincc commented on #12700
<img width="1025" alt="Screen Shot 2021-01-22 at 3 39 54 PM" src="https://user-images.githubusercontent.com/67837651/105560288-34900380-5cc8-11eb-8f9f-4bcc324a630b.png">

let's stack FILTER NAME under FIELD, make it only one column without increasing the height of modal by narrowing and standardizing the spacing between fields.

Rename "Datasource" to "Dataset"

all these changes can go into one P

[2021-01-23 00:18] junlincc opened #12703 "[dashboard]connect filter indicator magnifier with filter bar"
Expected behavior:
By clicking the magnifier🔎 that next to a filter name(e.g. Test A) in the indicator, it should take the user to that specific filter select field in the side bar by dropping the cursor in the input, and highlight the input field in blue(same as FilterBox's behavior.
This is currently connected with FilterBox but not native filter yet.

 (top priority). thank you so much for taki

[2021-01-23 00:53] eschutho commented on #12566
Thanks @etr2460 and @ktmud for the feedback on this point. I've updated the issue.

[2021-01-23 01:53] john-bodley opened #12704 "[explore]Date picker randomly changes date"
The date picker decides to randomly jump to another date without clicking on it.

### Expected results

Dates shouldn't change until clicked.

### Actual results

Dates change when the mouse leaves the 'TIME RANGE' modal.

#### How to reproduce the bug

1. Go to 'Explore'
2. Click on 'TIME RANGE'
2. Choose 'Custom' as the 'RANGE TYPE'
3. Choose 'Specific Date/Time' as the 'START'
4. Click on a dat

[2021-01-23 02:11] eschutho commented on #12566
Awesome. I'll reach out.

Cool.. I think we'll need a way for the author to flag that the PR has a breaking change, and then a committer to flag or label it as well. I'll update the doc to suggest that we do both, and we can go from there.

I was thinking something similar, where if the title prefix `breaking change:` existed for example, that the label would automatically be added, and then a com

[2021-01-23 02:12] zuzana-vej commented on #12704
User reported specific trigger this happens: when you move out of the date picker popover. So, e.g., move your mouse position to somewhere over the chart. When you do that, it resets the selected date. So then by the time you go to click "OK", you're confirming a different date than the one you selected.

[2021-01-23 02:14] junlincc commented on #12672
It's not 😅, we came across this issue when we audit all charts but decided to let it go back then. agreed we should get it fixed.

this is happening in many chart controls. we will see if we can get it fixed(in our Explore cosmetic bash) next week for patch release

Thank you for reporting 🙏 @zuzana-vej

[2021-01-23 02:20] junlincc commented on #12704
i have seen similar issues in filter popover, so i suspect this is related antd component. @villebro this looks like a reasonable item going into our bash.

[2021-01-23 02:24] junlincc commented on #12644
this one looks like high value bug😄, definitely should go in upcoming `bash! `

thanks for reporting!! @zuzana-vej

[2021-01-23 02:33] junlincc commented on #12641
1 seems like a antd component related issue... 😔 let's try @villebro

[2021-01-23 02:37] junlincc commented on #12588
https://github.com/apache-superset/superset-ui/pull/908
we added y bounds for Bar Chart, Dual Line Chart & Multi Line Chart
feature should be available soon.

[2021-01-23 02:38] junlincc commented on #12624
top priority for quality `bash! `

[2021-01-23 02:56] junlincc commented on #12671
For issue 1 - after changing label, description in Change dataset modal, i can see that  both tooltips display the sql expression.
Expected behavior:
1. the tooltip on top is supposed to display the complete label(especially when metrics label is truncated), instead of sql expression.
2. mouse away label should make this top tooltip disappear

<img width="940" alt="Screen Shot 2021-01-22 at 6 50 5

[2021-01-23 03:45] Kingflyinger commented on #11119
when i use fabmanager create-admin --app superset,it occurs the same problem
hou could i solve it, or just use the earlier version?
`Traceback (most recent call last):
  File "c:\users\admin\.conda\envs\superset\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\admin\.conda\envs\superset\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  Fil

[2021-01-23 05:23] #12568 closed

[2021-01-23 05:24] #12457 closed

[2021-01-23 05:51] junlincc commented on #12457
thanks for the PR, testing, merging and closing! @agatapst @adam-stasiak @zhaoyongjie

[2021-01-23 06:28] junlincc opened #12707 "[explore]cosmetic improvement suggestions"
<img width="1863" alt="Screen Shot 2021-01-23 at 12 31 48 AM" src="https://user-images.githubusercontent.com/67837651/105573577-6b3f3b80-5d13-11eb-85fd-1f084e669bc1.png">

1. decrease the spacing between VIEW RESULTS & VIEM SAMPLES tabs and caret & section title
2. remove the frame(including drop-shadow) around data table and chart sections
3. move pagination down to create more space for the tabl

[2021-01-23 07:01] #12268 closed

[2021-01-23 07:51] ktmud commented on #12707
I think all of these are already fixed by #12649 .

The only thing I still don't like about this panel is the caret and the resize bar, it seems there is a lot of waste of space that could be optimized.

[2021-01-23 07:57] ktmud commented on #12671
I'll vote for replacing the top tooltip with HTML `title` attribute of the full metric label (`verbose_name || metric_name`)

[2021-01-23 08:07] junlincc opened #12708 "[explore]clear search input when switching dataset"
https://user-images.githubusercontent.com/67837651/105572965-16012b00-5d0f-11eb-88ec-b79899b00dcb.mov

requirement: clear search input in datapanel search bar when switching dataset

[2021-01-23 08:35] junlincc commented on #12707
for some reasons i couldn't see those changes on master...will confirm again...

[2021-01-23 10:17] art-cg commented on #12697
Thanks for the info. Sorry for the duplicate

[2021-01-23 10:17] #12697 closed

[2021-01-23 15:07] korpa commented on #10530
I have the same issue with thumbnails. Would be nice to know, if this is a bug or if I have a wrong thumbnail configuration.

[2021-01-23 20:17] junlincc commented on #12366
confirmed issue has been resolved. Thank you @nikolagigic!

[2021-01-23 20:17] #12366 closed

[2021-01-23 20:23] junlincc commented on #12503
confirmed issues has been resolved in master. much better UX, thank you @geido !

https://user-images.githubusercontent.com/67837651/105613157-b5f19f80-5d75-11eb-92d6-1f48f9cc5557.mov

[2021-01-23 20:23] #12503 closed

[2021-01-23 20:25] junlincc commented on #12296
confirmed that now datatable is resizing proof!! Thank you @kgabryje and @maloun96 !

[2021-01-23 20:25] #12296 closed

[2021-01-23 20:30] junlincc commented on #12707
checked again, yes - mysterious frame and drop-shadow is gone.
yup, we will kill some space between chart and the table

<img width="1134" alt="Screen Shot 2021-01-23 at 12 28 18 PM" src="https://user-images.githubusercontent.com/67837651/105613332-bc344b80-5d76-11eb-9b99-40f473052fb3.png">

[2021-01-23 23:53] junlincc opened #12713 "[dashboard]allow multiple default filter value select in native filter"
Filterbox allows user to set default filter value by typing in the default value in Explore, set value shows in the filter box dropdown select. - not intuitive at all.

Native filter makes one big  step forward by allowing user to select default filter value from a dropdown list in dashboard filter modal. selected default value is carried to the native filter bar and can be instantly applied to da

[2021-01-23 23:56] junlincc commented on #12700
<img width="1348" alt="Screen Shot 2021-01-23 at 3 55 18 PM" src="https://user-images.githubusercontent.com/67837651/105617518-7a65ce00-5d93-11eb-80ea-762afbc79816.png">

line break when select value is truncated. ideally the cursor should be in the same line 🙏

[2021-01-24 00:06] junlincc opened #12714 "[dashboard]preselect underlying dataset for user in native filter modal Datasource field"
Not sure how feasible it is......
When users have long list of physical and virtual datasets, it takes a while to scroll and look for a specific dataset from dropdown menu.
it will be great that filter modal preselects the underlying dataset used by all charts or most charts on dashboard, for the users.

nice to have, low priority, but worth looking into solutions.

@agatapst 🙏

[2021-01-24 04:26] cdmikechen commented on #10530
I merge user to session and it can work right now.
https://github.com/cdmikechen/incubator-superset/blob/53de43280257e1767f6929a3e57f7b9e929cd470/superset/tasks/thumbnails.py#L52

[2021-01-24 06:29] code-snail opened #12715 "[alert]can't add alerts and reports"
can't add alerts and reports

[2021-01-24 06:31] code-snail commented on #12715
![image](https://user-images.githubusercontent.com/65579137/105622965-db9fa700-5e50-11eb-85b3-1177f388fc3c.png)

[2021-01-24 07:41] #12508 closed

[2021-01-24 09:55] korpa commented on #10530
@cdmikechen Thank you very much, will test this later

[2021-01-24 15:47] ayanginet opened #12717 "Wrong redirect link in CONTRIBUTING.md"
## Description

CONTRIBUTING.md includes a link to OS dependencies that need to be installed before other dependencies. But the link is outdated.

### Expected results

Should redirect to
https://superset.apache.org/docs/installation/installing-superset-from-scratch#os-dependencies

### Actual results

Instead redirects to installation with Docker Compose:
https://superset.apache.org/docs/installa

[2021-01-24 16:33] junlincc commented on #12634
let's only address the first item 1. Horizontal padding around input fields in quality bash. @villebro

[2021-01-24 16:47] junlincc commented on #12355
confirmed this feature is available in TimeSeries Echarts in master now. thank you @maloun96 for the enhancement!
@graceguo-supercat @zuzana-vej

https://user-images.githubusercontent.com/67837651/105637127-ada26e80-5e20-11eb-85b7-7d8e431af996.mov

[2021-01-24 16:47] #12355 closed

[2021-01-24 16:58] junlincc opened #12719 "[explore]stack all dropdown select fields in Explore control"
To prevent select overflow issues, we should remove 2-columns layout in Explore control and stack all fields vertically.

Benefit:
1) allow to display more label information
2) visual consistency

Actual:
<img width="884" alt="Screen Shot 2021-01-24 at 8 51 12 AM" src="https://user-images.githubusercontent.com/67837651/105637311-b3e51a80-5e21-11eb-8c4f-09a5fef8995a.png">

Ideal:
<img width="361" a

[2021-01-24 17:12] junlincc opened #12722 "[chart]wrap metric text in chart tooltip"
looks like we set a max width in the chart tooltip, which cause long metrics name overflowing. Though this is another edge case of super long label name, we should wrap text still.

<img width="1086" alt="Screen Shot 2021-01-24 at 9 08 49 AM" src="https://user-images.githubusercontent.com/67837651/105637748-e09a3180-5e23-11eb-9d49-4591cfb2d1d4.png">
<img width="1492" alt="Screen Shot 2021-01-24 at

[2021-01-24 17:17] junlincc commented on #12717
thanks for reporting and the fix! @ayanginet 🙏

[2021-01-25 04:11] billy98 opened #12723 "database test does not exist，and image 404"
I used docker-compose to deploy the superset, which is version v1.0.0,
Test database does not exist during initialization
Unable to open it after login.

[code]
![image](https://user-images.githubusercontent.com/13307862/105660304-af922d80-5f05-11eb-8d0d-06d9c17392e5.png)

[2021-01-25 04:30] #12428 closed

[2021-01-25 05:42] jiade52000 commented on #7958
update! I have found the same issue. T.T

[2021-01-25 06:07] villebro commented on #12358
Issue fixed by #12359

[2021-01-25 06:07] #12358 closed

[2021-01-25 06:10] villebro commented on #12644
Is this a regression? I think it's always worked like this. What should be the correct behavior for committing a value?

[2021-01-25 06:35] kamalkeshavani-aiinside commented on #12170
I faced the same issue today in Superset 1.0.0. Although I can see from Euginea's video, that it is expected behavior that user needs to 'Sync' columns again after saving the changes to dataset, but I would still say the flow can be improved.

I am not sure how heavy is the task of columns sync, but I guess one way could be to always sync columns when a change in dataset(change in SQL or change to

[2021-01-25 07:06] wernerdaehn opened #12724 "[SIP] Propose visualizations based on data"
## [SIP] Propose visualizations based on data

### Motivation

I have been working for Business Objects and SAP and I am in the Business Intelligence Market for more than 20 years. One thing that is still not satisfying is how the charting options are chosen.
Over the time the number of available charts and their variants will increase more and more and selecting from the long list is cumbersome.

[2021-01-25 07:42] junlincc commented on #12364
This behavior only happens when you have two same metrics. which means... it has been resolved by https://github.com/apache/superset/pull/12657

[2021-01-25 08:08] wernerdaehn opened #12725 "[SIP] Add a top level data navigation to each chart"
## [SIP] Add a top level data navigation to each chart

### Motivation
Slice and dice is done by the chart consumer, not only(!) the chart developer.

I have been working for Business Objects and SAP and I am in the Business Intelligence Market for more than 20 years. I feel that the filter concept is too technical, the navigation within the data not suited for self service BI.

Imagine the FLIGHT

[2021-01-25 08:14] iercan opened #12726 "Webdriver stopped working after 1.0.0 upgrade."
Hi.
I was using chrome driver. It was working fine with 0.38 but after 1.0.0 upgrade it stopped working.

### Expected results

Thumbnails should work as expected.

### Actual results
Throwing below error
[code]

#### How to reproduce the bug

1. Generate docker image with below Dockerfile
[code]
2. Configure webdriver options. Note that I also tried other combinations of options. It stills fail.

[2021-01-25 08:18] wernerdaehn opened #12727 "[SIP] Add a top level data navigation to the dashboard screen"
## [SIP] Add a top level data navigation to the dashboard screen

### Motivation
The user does have a dashboard showing data based on the FLIGHTS table. One chart shows the delays, one the number of flights, on the sum of flight time, the plan model used.
It would be natural to navigate within the data: How does the dashboard look when limiting to the current year? Flights that departed during bus

[2021-01-25 08:32] wernerdaehn opened #12729 "[SIP-94] Support star schemas"
## [SIP] Support star schemas

### Motivation

While I am absolutely fine with the decision to base a diagram on a single table/view only, most databases cannot cope with that. A typical view would join 100 tables and have 5000 columns.
Take sales orders as example: For a proper self service BI you would join order header, order line item, three times the customer mater table for soldto-shipto-bil

[2021-01-25 08:46] ayanginet commented on #12440
Also experiencing this issue. Could it be something mac related?

Env:
docker: 20.10.0, build 7287ab3
docker-compose: 1.27.4, build 40524192
os: macOS big sur

[2021-01-25 09:10] zhaoyongjie commented on #12729
@wernerdaehn
Thank you for your comments. I think stars or snowflake model is OLAP Dataware house concept, for more modern BI prefer to use single-table model, like PBI/Tableau.

What do you think?

[2021-01-25 09:37] wernerdaehn commented on #12729
@zhaoyongjie From a technical side, if all databases would support views with a virtual unlimited number of columns and do a perfect job from the SQL optimizer point of view, then yes. But the opposite is the case. Only Oracle And SAP Hana (Calculation Views) are even close to that and far from perfect.
From a logical point of view, Superset wants to sum up measures and group by attributes. That i

[2021-01-25 09:42] villebro commented on #12729
Thanks for the comprehensive explanation @wernerdaehn ! Ping @amitmiran137 , here's a good motivation for adding support for join semantics.

[2021-01-25 09:50] wernerdaehn commented on #12729
@villebro A generic join feature I would advise against. Things like a theta join, snowflake-like joins with intermediate tables etc. These can all be built in the database using views. So why implementing these things a second time? I would really support only the most trivial case with a single fact in the middle and directly linked dimension tables with PKs.
This gives you the biggest bang for

[2021-01-25 10:01] junlincc commented on #12724
Thanks for suggesting! @wernerdaehn

It is aligned with our long term product roadmap. in fact, when we implemented new time picker in Superset, we thought about allowing user to query the earliest(min) and latest(max) time available in the timestamp dimension. couldn't get to it by v1.0 because of potential performance issues and our time constraints. collecting more metadata of dataset is someth

[2021-01-25 10:07] junlincc commented on #12724
@wernerdaehn if you would like contribute any above items to Superset in any ways, we would love to work with you!

[2021-01-25 10:08] villebro commented on #12729
@wernerdaehn I was speaking in general terms, i.e. supporting joining tables beyond the current table/virtual table functionality.

One thing that sticks out: if we have 100 FKs and thousands of columns, this can quickly become very burdensome, both for the application but even for the end user. So this needs to be properly scoped to make sure it improves the user experience rather than overwhelm

[2021-01-25 10:08] wernerdaehn commented on #12724
@junlincc Thanks for the feedback. Just for the records, what Tableau does is just the very beginning!
See here for how wide the topic can get: https://datavizproject.com/

[2021-01-25 10:10] wernerdaehn commented on #12724
Any suggestion of what I can do for you in that regards? Else I will try to come up with something to discuss but would love to get your guidance.

[2021-01-25 10:17] wernerdaehn commented on #12729
Understood. My fear is just that when you implement that, you start with the SQL join clause in mind. I have seen multiple products fail because the join clause is extremely powerful and frankly, not suited for graphical tools. Use the SQL Editor of Superset for those. Anyway, you got my point, that is the important part.

Regarding the second paragraph, while your statement is certainly correct,

[2021-01-25 10:25] junlincc commented on #12704
@john-bodley after investigating this issue, I think this behavior is by design. we can either save the change without clicking 'ok' by default, meaning click both ok or outside to save change, or add a cancel button - click cancel to revert, ok the save.

To solve your immediate user need, we went with the first solution. may revisit in the future.

[2021-01-25 10:51] ktmud commented on #12724
Thanks for bringing up this topic! This definitely is an interesting area of work and has a lot of potential for Superset.

What you described is automated chart specification, or automated Exploratory Data Analysis (EDA), which is also quite big among DataViZ & ML researchers: https://github.com/mstaniak/autoEDA-resources

It would be tremendously valuable if we could somehow integrate the latest

[2021-01-25 11:01] villebro commented on #12624
This is caused by Filter Box having a non-standard data payload (Object as opposed to Array). Bullet chart also uses an Object instead of Array.

[2021-01-25 12:14] lcyh opened #12732 "get_viz viz_obj = viz.viz_types[viz_type](↵KeyError: 'yh_color_table'↵")"
A clear and concise description of what the bug is.

I customized a component yh_color_table，but  it was wrong,I don't know what's wrong？
error: "'yh_color_table'"
stacktrace: "Traceback (most recent call last):↵  File "/data/app/superset-web/superset/views/base.py", line 135, in wraps↵    return f(self, *args, **kwargs)↵  File "/data/app/superset-web/superset/utils/decorators.py", line 63, in wra

[2021-01-25 12:20] hushaoqing opened #12733 "[Question] How to avoid duplicate queries when one is running"
In my case, I want to avoid duplicate queries when one is running.
Such as, when user open a dashboard:
1. A long query(3mins) for a chart is running
2. Another one trigger a same query when 1) is still running
3. result: there will be two same queries sent to database.

How to avoid duplicate queries in this case? Thanks.

[2021-01-25 12:42] lapalus commented on #11171
Any update on this

Any update on this case? I could not get it started on Mac. Tried the above steps but did not work.

[2021-01-25 12:54] Leandro-GPIN opened #12734 "Some annotation lines are not visible when axis Y start to zero"
When selected axis Y to start to zero, some annotation lines are not visible.

### Actual results

![annotation-problem](https://user-images.githubusercontent.com/19553149/105707379-9aab9f00-5ef1-11eb-8bca-9f7f2dedb064.png)

#### Screenshots

![config-axis_y](https://user-images.githubusercontent.com/19553149/105707405-a8612480-5ef1-11eb-9c4c-4475385dea36.png)

![annotation-config-problem](https:/

[2021-01-25 13:34] Leandro-GPIN opened #12735 "Filter not clean when remove value in annother"
Filter not clean when remove value in annother

### Expected results

![espected](https://user-images.githubusercontent.com/19553149/105711893-e82b0a80-5ef7-11eb-9515-8d76ac614830.png)

### Actual results

![current](https://user-images.githubusercontent.com/19553149/105711905-ec572800-5ef7-11eb-8852-9ba8d0691ff9.png)

#### Screenshots

![filter-problem](https://user-images.githubusercontent.com/1

[2021-01-25 14:33] wushancool commented on #6472
+1

[2021-01-25 15:10] iercan commented on #12726
And this is detailed traceback
[code]

[2021-01-25 15:32] dpgaspar commented on #12726
@iercan can you share what's you value for `THUMBNAIL_SELENIUM_USER` and the output from `flask fab list-users` (you can grep just the selenium user)?

[2021-01-25 15:42] dpgaspar commented on #12715
@code-snail thank you for reporting it, could you please fill up the github issue bug template?

[2021-01-25 15:51] dpgaspar commented on #12723
seems like a internet connection problem:

[code]

[2021-01-25 17:51] hughhhh commented on #12429
@lyndsiwilliams is working on this now

[2021-01-25 18:09] robert-yiqiao-xin commented on #5650
Can you explain more on how you import the new table and change the schema in superset for the external echema?
Do you mean by import the table in the local schema into superset. Then edit the dataset and change the schema to the external schema?
Thanks!

[2021-01-25 18:41] jesperbagge commented on #12723
I have the same issue when running docker-compose up from a Mac running latest Docker Desktop. There's no evidence of network errors in the startup logs, but I have flask_appbuilder errors. And the end result is the same - a blank page with broken image links and buttons.

[code]

[2021-01-25 19:29] adam-stasiak opened #12741 "[explore] Click on collapse causes jump of search metrics edit field"
## Screenshot

https://user-images.githubusercontent.com/25153919/105755433-914f2080-5f4b-11eb-98a2-a56bcbff78fc.mov

## Description

I can see that when I click on Columns collapse then Search metric & Columns glitches.

Go to chart Are you an ethnic minority in your city?
Click on columns collapse

## Design input

[2021-01-25 20:29] iercan commented on #12726
Here is my settings.
`THUMBNAIL_SELENIUM_USER = "ibrahim.ercan@vlmedia.com.tr"
`
[code]

[2021-01-25 20:37] adam-stasiak opened #12744 "[explore] Firefox - Click on collapse causes additional space in the top"
## Screenshot

https://user-images.githubusercontent.com/25153919/105762598-ea6f8200-5f54-11eb-9b53-1d0b3420e76b.mov

## Description
Open chart Are you an ethnic minority in your city?
Collapse columns and metrics

84.0.2 Firefox
3fb183349f2f5710bc0816670a2d52c50fa4d2e6 master

## Design input

[2021-01-25 20:39] altef opened #12745 "[explore]Download-as-image doesn't seem to work for map-type charts"
"Download as image" doesn't do anything for map-type charts (or dashboards that contain them).  I traced this back to unencoded SVG as the background attribute of the mapbox logo.  When that's accounted for, images are created but not as expected.  Some are missing the data points, and all seem to be missing the map itself.

### Expected results

An image download of the chart, as seen in the brow

[2021-01-25 20:48] adam-stasiak opened #12746 "[explore] scrolling left-right in dropdown causes layers glitch"
## Screenshot

https://user-images.githubusercontent.com/25153919/105764047-c14ff100-5f56-11eb-8112-409362f00d0a.mov

## Description

Go to chart Are you an ethnic minority in your city?
Tap on Customize
Click on Number Format dropdown
scroll left-right

You can see content from layer below dropdown options
I would expect to not see them

## Design input

[2021-01-25 21:15] korpa commented on #12726
@cdmikechen and I have the same problem:
https://github.com/apache/superset/issues/10530#issuecomment-764388393

[2021-01-25 21:35] eugeniamz commented on #12745
@junlincc

[2021-01-25 21:38] junlincc commented on #12745
Thanks for reporting!is this issue blocking your work in Superset currently? Please help us identify the severity.

[2021-01-25 21:50] junlincc commented on #12746
thanks for reporting @adam-stasiak! is this the only dropdown that has this behavior?

[2021-01-25 21:51] adam-stasiak commented on #12746
In other places as well

[2021-01-25 21:52] altef commented on #12745
I know we were hoping to make use of this feature; @abdulshehata can better answer this!

[2021-01-25 21:55] junlincc commented on #12735
I believe you are expecting these two FilterBox work as cascading filters with workaround solution? We probably won't invest further in this solution as we recently roll out our new Dashboard native filter which does support this functionality.  It is currently behind a feature flag, and very close to be done.  to test - > https://github.com/apache/superset/issues/12148 @Leandro-GPIN

[2021-01-25 22:14] junlincc commented on #12732
do you mind updating the title to be more human readable? did you build it using dynamically imported viz plugins? @lcyh

[2021-01-25 22:26] ktmud commented on #12704
This should not be by design.  Imagine the following work flow:

https://user-images.githubusercontent.com/335541/105773421-b70f0200-5f18-11eb-97f9-08392ce990ce.mp4

1. I want to change a date
2. I open the popup, click on the date, the date input has updated
3. I expect the date has been updated, and click on "Apply"  directly.
4. The date magically reverts back to the original date.

Bear in min

[2021-01-25 22:42] abdulshehata commented on #12745
I'd say moderate to high severity. It creates a client-facing issue for us in that all of our dashboards have maps and it's currently a requirement for users of the dashboards to be able to download images. Our user base has been waiting on this feature, and as such we can't roll out V1.0 until the issue is resolved.

[2021-01-25 22:42] michellethomas opened #12750 "Timeseries table errors with multiple metrics and no groupby"
When you load an existing saved timeseries table with multiple metrics (and no groupby columns) the chart will error with `object of type 'NoneType' has no len()`.

This is an issue with existing saved Timeseries Table charts because they have groupby: null in the form data, new charts created are fine. The stacktrace shows where the error is:

  File "/srv/superset-internal/incubator-superset/sup

[2021-01-25 23:09] #12464 closed

[2021-01-25 23:13] yousoph opened #12751 "Update Tooltip Help Text in Edit Database > SQL Lab Settings"
## Screenshot

![image](https://user-images.githubusercontent.com/10627051/105771002-cc822d00-5f14-11eb-8c6c-7ab62e91cd54.png)

## Description
Tooltip / help text updates to the SQL Lab Settings on the Edit Database modal to be more descriptive

Updates:

Allow in SQL Lab:
Expose this DB in SQL Lab -> Allow this database to be queried in SQL Lab

Allow CTAS:
Allow CREATE TABLE AS option in SQL Lab

[2021-01-25 23:15] Steejay commented on #12470
@lyndsiWilliams @yousoph @hughhhh

Here is an updated prototype that reflect some changes to the progressive disclosure.
https://www.figma.com/proto/NbuTOMaUdv2GCBoDyihdLw/Database-CRUD---P0?node-id=613%3A50&scaling=min-zoom

Figma spec:
https://www.figma.com/file/NbuTOMaUdv2GCBoDyihdLw/Database-CRUD---P0?node-id=479%3A39226

[2021-01-25 23:16] graceguo-supercat opened #12752 "[explore][adhoc filter] "use latest_partition" operator disappeared"
in #9637 we added an optional operator for adhoc filter: use latest_partition. It will show up when datasource has single partition. This feature was lost since recent filter redesign work. Note: this feature is not enabled by feature flag. The operator should show up based on the attribute of dataset.

### Before
<img width="1113" alt="80538611-e4fbf180-895a-11ea-9e72-fbd1ebebb7e1" src="https://u

[2021-01-25 23:16] Steejay commented on #12470
![Add Modal - SQL Lab Settings @1456 (2)](https://user-images.githubusercontent.com/60786102/105777977-423fc600-5f20-11eb-9659-06e36f2a4cb0.jpg)

[2021-01-25 23:24] junlincc commented on #12752
Got it!thanks for reporting and sorry about the regression, we will get to it asap. @graceguo-supercat

[2021-01-25 23:33] zuzana-vej commented on #12750
This has been brought up by a user a while back (~December).

[2021-01-25 23:34] junlincc commented on #12750
thanks for filing the issue and the additional info which helps us trouble shooting, we will get to it very soon!

[2021-01-25 23:44] lamielle commented on #12676
@liamnv can you provide a few more details on the bug you're reporting here?  This could be a serious security issue.  I'm relatively new to Superset but I think providing more information per the issue template would help the Superset team triage this bug.

[2021-01-25 23:47] junlincc commented on #12734
Thanks for reporting, but im not able to reproduce,  can you provide more information? @Leandro-GPIN

[2021-01-25 23:52] lamielle commented on #12683
I am investigating a 0.38.0 -> 1.0.0 upgrade as well.  We are deployed into k8s using a Helm chart based on the one provided in the Superset repo.  I'm also running on Postgres.  I haven't yet tried an upgrade but plan to sometime this week.  I will see if I am able to repro the bug you're reporting here.

[2021-01-26 00:20] junlincc opened #12753 "[explore]chart missing dataset open error msg"
We want to make sure PRs that introduce UI changes from the community are always welcome without follow strict guideline when they are first created. Design support will follow after these PRs are open if we can't provide Product and Design support upfront. tagging `design-sys-revisit `to track and prevent system level design debt.

![image](https://user-images.githubusercontent.com/67837651/10578

[2021-01-26 00:41] junlincc commented on #12753
@ktmud @mistercrunch FYI ^ above is a temporary solution for balancing velocity and design quality, and for keeping OSS product development process transparent and open in the community.

[2021-01-26 00:47] michellethomas commented on #12750
Hi, Sorry I think I need to do more digging to figure out when exactly this is happening. I see a number of existing charts with this error but creating new charts seems to work. I'll comment when I have more detailed steps to reproduce.

[2021-01-26 01:19] code-snail commented on #12715
@dpgaspar
can't add new alert and report

### Expected results

expect to add new alert or report

### Actual results

actually, the ADD button is disabled.

#### Screenshots

If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/65579137/105786235-a2357b80-5fb7-11eb-96f5-a3d96c4785e3.png)

#### How to reproduce the bug

add alerts or repor

[2021-01-26 02:10] kamalkeshavani-aiinside opened #12755 "Filter 'IS NULL' in chart causes error in dashboard"
I have a time-series bar chart in which I am using a filter of 'IS NULL' on a column. It works fine in 'Chart Explore' view, but when added in a dashboard it shows **Unexpected Error: 'comparator'**.
I haven't tried this in all the chart types but I think the issue is common for all charts.

### Expected results

The chart should show data in dashboard as well.

### Actual results

The chart shows

[2021-01-26 02:11] eschutho commented on #12566
Thanks @suddjian and @ktmud. Do you have suggestions on what wording for this interface? I'll start with @ktmud's wording.
Something like:
[code]

[2021-01-26 02:19] billy98 commented on #12723
I can guarantee that my network is good

[2021-01-26 02:33] liamnv commented on #12676
@lamielle I found this is an issue of Flask App Builder, I'm contributing for its here https://github.com/dpgaspar/Flask-AppBuilder/pull/1553

[2021-01-26 03:01] nytai commented on #12715
I did some poking around, it seems this issue only happens for production frontend builds (ie, `npm run build`)

[2021-01-26 03:02] junlincc commented on #12755
![image](https://user-images.githubusercontent.com/67837651/105793559-2fd48500-5f3e-11eb-94f8-6633a8162cfe.png)

@kamalkeshavani-aiinside I'm not able to reproduce in master. i also tried other NVD3 charts. @villebro @zhaoyongjie any idea what this error means

[2021-01-26 03:05] kamalkeshavani-aiinside commented on #12755
@junlincc I haven't tried on latest master, but could see this in 1.0.0. Let me check in master as well.

[2021-01-26 03:06] solancer commented on #10773
I guess it just takes a long time to build and run, better build, load configuration is required.

[2021-01-26 03:23] michellethomas commented on #12750
It looks like this is only an issue on existing time series table charts. These charts have `groupby: null` in the form data where as the new charts have `groupby: []` But I'm going to fix my dev environment so I can get more info later or tomorrow.

[2021-01-26 03:32] romens96 commented on #1901
Hi guys,
You may find this article helpful

https://medium.com/@sairamkrish/apache-superset-custom-authentication-and-integrate-with-other-micro-services-8217956273c1

[2021-01-26 03:44] zuzana-vej opened #12756 "Improve Experience of adding chart to NEW dashboard from Explore"
**Is your feature request related to a problem? Please describe.**

The current experience of adding chart from Explore to a NEW dashboard is confusing for some users.

![Screen Shot 2021-01-25 at 7 38 55 PM](https://user-images.githubusercontent.com/61221714/105797622-33b7d580-5f45-11eb-9f86-e47dea56fbd7.png)

In the textbox, it says "Select a dashboard OR create a new one" but it's not apparent

[2021-01-26 03:51] junlincc opened #12757 "[explore]missing dataset error is showing in all charts"
Now there's a  missing dataset warning in all charts open in Explore even the dataset is still available

<img width="2047" alt="Screen Shot 2021-01-25 at 7 49 32 PM" src="https://user-images.githubusercontent.com/67837651/105798229-88a81b80-5f46-11eb-92f4-01b15927bf9c.png">
<img width="1025" alt="Screen Shot 2021-01-25 at 7 49 14 PM" src="https://user-images.githubusercontent.com/67837651/1057982

[2021-01-26 03:54] junlincc commented on #12746
@ktmud

[2021-01-26 03:54] junlincc commented on #12757
@ktmud

[2021-01-26 04:06] kamalkeshavani-aiinside commented on #12755
@junlincc I could also confirm, not reproduced in master.

[2021-01-26 04:09] lihongjie224 commented on #12723
Yeah, I have the same issue too. How to fix it?

[2021-01-26 04:12] junlincc commented on #12756
suffering from the same confusion here 😞 we may have to go with the easiest solution for now. tag `design-sys-revisit`

[2021-01-26 04:25] junlincc commented on #12704
This issue has been resolved in master. @john-bodley

https://user-images.githubusercontent.com/67837651/105800395-74b2e880-5f4b-11eb-8a8c-c7bca50450bb.mov

[2021-01-26 04:25] #12704 closed

[2021-01-26 04:37] #12757 closed

[2021-01-26 04:42] ktmud commented on #12746
OK, I need to add a background to the menu.

[2021-01-26 04:54] ktmud commented on #12746
Thanks for reporting, @adam-stasiak ! I just pushed a fix.

[2021-01-26 05:09] deddu commented on #12723
[code]

I encountered this error following the tutorial too. (`git clone`,`git checkout latest`, `docker-compose up`) on mac os.
Let me say that I do not know much about this project, but this connection error comes from the test_worker, and I don't know if the tests_worker is really necessary in the demo.

It fails because is looking for a local test postgres database in the host network. see htt

[2021-01-26 05:11] ktmud commented on #12756
Related #10355

[2021-01-26 05:20] deddu commented on #12723
I think the problem is in the `superset_node` container, this seems a more likely kind of cause..
[code]

but maybe it's just very very slow to compile the frontend?

[2021-01-26 05:53] mistercrunch commented on #12676
@dpgaspar ^^^

[2021-01-26 05:56] mistercrunch commented on #12753
@junlincc I like it.

Seems like the "CHANGE DATASET" button should be styled in orange/warning too to avoid blue-on-orange

[2021-01-26 06:19] #12746 closed

[2021-01-26 06:22] iercan commented on #12726
Adding `user = session.merge(user)` solved problem for me too. I will send PR

[2021-01-26 07:56] ktmud commented on #12364
https://user-images.githubusercontent.com/335541/105816164-ce75db80-5f68-11eb-819c-c1fa9d1b4618.mp4

This bug is still reproducible.

[2021-01-26 08:07] iercan commented on #12726
After doing further tests. I realized another problem. Dashboard thumbnails works but charts doesn't.  I'm getting this error.

`ERROR/ForkPoolWorker-2] Selenium timed out requesting url http://mydomain/superset/slice/898/?standalone=true`

I tried to open this url and just saw nothing but white screen. Slice aren't loading. If I remove `standalone=true` It works fine. Looks like there is somethin

[2021-01-26 08:14] villebro commented on #12726
@

I believe this is resolved by #12606 and will be included in the forthcoming `1.0.1` release

[2021-01-26 08:24] iercan commented on #12726
@villebro I pulled latest image and it worked. Looking forward for 1.0.1 release.

[2021-01-26 08:50] arcosx commented on #12440
me too

[2021-01-26 08:54] ktmud commented on #12566
@eschutho I think we can revisit this after this part is done:

However, IMHO, the plugin system still need some major refinement (e.g.[ simplify the registry](https://github.com/apache-superset/superset-ui/issues/902#issuecomment-761932903), async loading for controls and `transformProps`, typing enhancement, shared control refactoring/cleanup, mono-repo, etc), and I'm afraid attending to breakin

[2021-01-26 08:58] ayanginet commented on #12440
Ok, it is a bit silly but looks like there no issue at all :D

The problem is that image for superset-frontend is building in the background and it takes quite a while (2.5 minutes for me).

So just wait longer and in fact, you should be able to see logs from the build. They are labeled under "superset_node". After the build is complete, you should be able to launch the app at localhost:8088.

[2021-01-26 09:00] pankajshanbhag opened #12763 "Superset impala connection error cdp-3"
With impyla 0.14 , while connecting to impala through superset getting below error :

impala://host:port/default

Unexpected error connect() got an unexpected keyword argument 'username'

{
"metadata_params" : {},
"engine_params" : {
"connect_args" : {
"auth_mechanism" : "GSSAPI",
"kerberos_service_name" : "impala"
}
}
}

* Enabled the impersonate user

[2021-01-26 09:00] arcosx commented on #12440
tks! @ayanginet  I found it. Just `docker logs superset_node` can see the building ....

[code]

[2021-01-26 09:01] ktmud commented on #12440
Glad you guys resolved the issue yourselves!

@srinify we should probably add a note in the documentation to explain that the initial build may take a while...

[2021-01-26 09:40] frafra commented on #7804
limit/offset is not an option for pagination: it is terribly inefficient as all the previous pages should be computed each time. Please rely on primary keys if available.

[2021-01-26 09:42] frafra commented on #10953
Similar to #10331.

[2021-01-26 10:03] dz902 opened #12765 "Unable to connect to athena and unable to find detailed logs"
Hi,

I followed official guide to use `docker-compose` to start superset.

I added "PyAthena>1.2.0" to `./docker/requirements-local.txt` and then `docker-compose up`, from the log PyAthena was installed correctly.

Then I access Superset, log in and add an database using connection string like `awsathena+rest://AKIAXXXX:XXXXXXXXXX@athena.us-east-1.amazonaws.com/AwsDataCatalog`, only to see:

[code

[2021-01-26 10:10] RodBart commented on #5650
Yes, exactly

[2021-01-26 10:20] iercan opened #12766 "Global Async Queries doesn't work"
Hi.
I tried to enable GAQ feature with apache/superset:latest docker image. After I enabled it I experienced some dashboard stopped working and all I see is white screen. When I checked network activity I saw too much async request and they weren't stoping and returing emtpy results.

### Expected results

Dashboard should load faster and async

### Actual results

Charts and dashboards aren't loa

[2021-01-26 10:53] omaraboumrad commented on #3124
It's quite annoying to have scrollbars where they're not needed. I've temporarily resolved the unneeded **vertical** scrollbar by adding the following to the Dashboard CSS:

[code]

I do not know the side effects of doing so.

[2021-01-26 10:53] korridor commented on #2731
@liamnv I tested the permissions @Giuzzilla provided and they work for me in Superset version 0.38.0 and 0.37.2.

[2021-01-26 11:02] dz902 commented on #12765
Just found that the appending of `?s3_staging_dir=s3://xxx` is required to make it work.

Still I think this could use a better error message. Not sure whether this is to be done by the connector or superset.

Closing now.

[2021-01-26 11:02] #12765 closed

[2021-01-26 11:34] ktmud opened #12767 "[Chart List] Viz Type filter search ranking"
When searching "table", this is the current filtered viz type options:

<img width="276" alt="viz type search" src="https://user-images.githubusercontent.com/335541/105839753-d04e9780-5f86-11eb-8519-666502667d8f.png">

It make sense to rank the options alphabetically when users enter any search keyword, but after they do, the search results should be either ranked by relevance + popularity. It doe

[2021-01-26 11:35] bolkedebruin commented on #7804
@mistercrunch @frafra The typical way to solve this is to rely on a primary key or on a index and remember where you left off. In mariadb terms `SELECT ... WHERE ... AND id < $left_off ORDER BY id DESC LIMIT 100`. This allows the database to mak use of the physical layout of the data on disk and is extremely efficient. There is probably no need to cache the result even in case of traditional rdbms

[2021-01-26 11:48] a5net opened #12768 "Redirect happens whenever user changes language"
When the user presses on change language a redirect to `/users/list` happens. I think, in terms of UX, it should remain on the same page as before changing the language.

### Expected results

Remain on the same page, but translated into a different language.

### Actual results

Redirects to `users/list`.

#### Screenshots

![gif-gif](https://user-images.githubusercontent.com/39133100/105840998-b

[2021-01-26 13:55] RageAgainstTheMachine101 commented on #11988
Same problem!

[2021-01-26 14:26] gorcurek opened #12769 "Unable to change Time Range: Access is Denied"
While trying to create a chart for my dataset on the new **1.0** version of superset, for no apparent reason, I cannot change Time Range because I am getting an Access Denied error.

The **DATETIME** column in table is a TIMESTAMP format column of **Impala**.

I am able to query the table without any problems.

The table itself is an Impala table, connection provided by Impyla driver.

#### Screen

[2021-01-26 14:41] Papipo commented on #11705
I really need this!

[2021-01-26 15:35] tomer-ben-david commented on #11171
I get then:

[code]

[2021-01-26 17:48] bobeal commented on #11171
you have to first go into the `superset-frontend` directory (where the build files for the front end are located) and run the `npm ...` commands in it.

[2021-01-26 18:16] junlincc commented on #12769
what's your permission setting in Superset? @gorcurek

[2021-01-26 18:32] junlincc opened #12775 "[chart]set x-axis label 45 degree by default in Echarts"
<img width="1169" alt="Screen Shot 2021-01-26 at 10 25 39 AM" src="https://user-images.githubusercontent.com/67837651/105887679-e4af8600-5fc0-11eb-9981-b9462bd43967.png">

Feature request: Echarts offer dynamic x-axis label(marking date points intuitively based on underlying dataset) in time-series charts, which sometimes cause label overlapping. we should consider setting labels direction 45 degr

[2021-01-26 18:34] junlincc commented on #12766
@robdiciuccio 🙏

[2021-01-26 18:50] junlincc opened #12776 "[chart]cosmetic issues introduced by legend orientation setting"
1. when legend is placed on top and on the right, they overlap with datazoom control

<img width="1159" alt="Screen Shot 2021-01-26 at 10 47 47 AM" src="https://user-images.githubusercontent.com/67837651/105890528-5806c700-5fc4-11eb-9072-ed21d61f50a3.png">
<img width="1392" alt="Screen Shot 2021-01-26 at 8 18 48 PM" src="https://user-images.githubusercontent.com/67837651/105942311-d3439980-6013-11

[2021-01-26 19:44] michellethomas commented on #12750
@junlincc looks like it is an issue with existing saved Timeseries Table charts because they have `groupby: null` in the form data, new charts created are fine, sorry for the mixup. The stacktrace shows where the error is (thanks Grace for the stacktrace). I'd put up a quick fix but I'm having trouble with my dev environment at the moment :(

[code]

[2021-01-26 21:44] #12715 closed

[2021-01-26 22:12] junlincc opened #12780 "[explore]time picker switch from NOW to Specific time range"
Uploading Screen Recording 2021-01-26 at 2.07.48 PM.mov…

Actual:

User can switch form Now to Specific time range in the popover

Expected:

User have to switch to other time range setting(e.g. relative) first, then can switch to Specific

#### Screenshots

https://user-images.githubusercontent.com/67837651/105912349-3582a700-5fe0-11eb-9da3-cd3ee877fe36.mov

#### How to reproduce the bug

1. Go t

[2021-01-26 22:22] srinify commented on #12631
@junlincc I will say, in general it took me many attempts to understand the + button. I found it very awkward that it was floating above / in the top right corner of the metric name. I actually expected something like the solution proposed here (a persistent ghost-option / shadow button to add a new metric)

[2021-01-26 22:33] srinify commented on #12717
Thank you for fixing! @ayanginet

[2021-01-26 22:33] #12717 closed

[2021-01-26 23:23] junlincc commented on #12631
reasons why I have some hesitation
- Original design is proposed by Cartel in SIP 34 with a fair amount of research went it. it has served as a design Northstar in the product
- UI change can be subjective; we haven't heard enough 'complaint' yet on this subject. Let's let it sit for a while. When we start seeing a pattern of preference, we can get back to it
- Superset design system guidelines ar

[2021-01-26 23:40] junlincc commented on #12765
@srinify

[2021-01-27 02:21] junlincc opened #12784 "[explore]specify Inclusive start, exclusive end in Timepicker Advanced input"
The actual time range that generated by new time picker in Explore sets Start date/time - inclusive and End date/time  - exclusive in all time range setting mode(e.g. last week => 2021-01-20 ≤ col < 2021-01-27, previous year => 2020-01-01 ≤ col < 2021-01-01).
This has been the behavior in Superset since [SIP15](https://github.com/apache/superset/issues/6360) which ensures time Intervals consistenc

[2021-01-27 02:53] john-bodley commented on #12784
@junlincc I was thinking something of the form:

<img width="588" alt="Screen Shot 2021-01-27 at 3 43 45 PM" src="https://user-images.githubusercontent.com/4567245/105935239-7a790d00-60b6-11eb-8e80-18a2653c5213.png">

The time interval preferences and time zone topics should definitely be discussed via a SIP.

The later is quite nuanced as there may be numerous times zones in consideration, i.e.,

[2021-01-27 05:03] robdiciuccio commented on #12766
Hi @iercan, it is expected that the event polling mechanism makes continuous requests to the `/api/v1/async_event/` endpoint (presumably what's in the above screenshot). The `sqlalchemy.exc.NoSuchColumnError` trace you posted above appears to be a SQL query error against your analytics DB. Does the same query function correctly in synchronous mode?

Also, not sure if you've seen this, but check ou

[2021-01-27 05:07] madhamanchiharsha opened #12785 "Import Dataset with different schema which have same table names"
Description

So while importing Dataset i have 2 different schemas in postgres and in this 2 different schemas i have 2  tables with same names i cant import both table as datasets into superset.

### Expected results
Both table should be accepted and create new dataset for each table as they are from 2 different schemas.

### Actual results

sqlalchemy/engine/default.py", line 593, in do_execute

[2021-01-27 05:58] junlincc commented on #12784
Thank you, John for your input! Agreed, both topics deserve a SIP to iron out all the considerations, possible solutions and their pros and cons. I consider time zone setting is a very important piece in Superset's international product strategy. I will do some research and put together a SIP soon.
@john-bodley

[2021-01-27 06:05] villebro commented on #12631
I personally think this proposal is an improvement for the following reasons:
- the surface area of the "Add" event is larger and requires less aiming (the current plus button is pretty tiny)
- the new metric shows up exactly where the user clicked in the first place (less confusion)
- the user can click on the ghost button as many times as they want until they run out of ghost buttons (=viz doesn

[2021-01-27 06:31] junlincc commented on #12631
🤣 🤣 i vote +1 too, just delay implementing the change for a bit....we are lacking design support severely at this moment and i don't feel confident/comfortable enough to make ad hoc changes this way. please understand guys

[2021-01-27 06:32] iercan commented on #12766
@robdiciuccio There is no problem with synchronous mode. I already checked documentation and configured accordingly.

[2021-01-27 06:38] Asturias-sam opened #12786 "Monitor Query on SuperSet Dashboard"
Hello Team,

Is there any way to get the execution time of the queries on dashboard, so it will be helpful for performance analysis.
From SQLLAB we can get the execution time but for dashboards is it possible see the execution time for queries ?

[2021-01-27 06:40] rusackas commented on #10254
Closing since it's voted through, and in progress. Lots of steps ahead, but we're well on our way! 🚀

[2021-01-27 06:40] #10254 closed

[2021-01-27 06:53] trivita commented on #6057
this happened to me too. superset 1.0

[2021-01-27 07:00] villebro commented on #12631
I agree with @junlincc , let's let this go through proper design review so we don't cause unnecessary back and forth.

[2021-01-27 07:12] junlincc opened #12788 "[chart]old force-directed graph not re-render properly & echarts migration"
the legacy force-directed graph fail to re-render when data table is open or resizing control panel.

![force](https://user-images.githubusercontent.com/67837651/105955685-853a9000-602b-11eb-87a9-7ca880fd262e.gif)

As part of the Echarts migration plan, we are not planning to fix this legacy chart. Luckily, we will have new Echarts force-directed graph as replacement and enhancement soon
please ch

[2021-01-27 07:19] zhaoyongjie commented on #12631
I am totally in agreement with that.

[2021-01-27 07:31] rusackas commented on #12745
Thanks for the detailed reporting and inroads on a fix!

[2021-01-27 07:35] rusackas commented on #6057
It was closed due to the bot. It can certainly be re-opened if it's an issue. I just tried it on 1.0 and I'm not seeing the issue as described (unless I'm missing something).

https://user-images.githubusercontent.com/812905/105958065-f92a6780-602e-11eb-9355-e521ce7d07b6.mp4

[2021-01-27 07:39] junlincc commented on #12786
@Asturias-sam could you provide a use case? thanks

[2021-01-27 07:53] trivita commented on #6057
![Snipaste_2021-01-27_15-52-34](https://user-images.githubusercontent.com/1425147/105960088-b496de80-60b7-11eb-813c-c940f50ac6be.png)
![Snipaste_2021-01-27_15-51-13](https://user-images.githubusercontent.com/1425147/105960095-b6f93880-60b7-11eb-8897-705026e460c3.png)
![Snipaste_2021-01-27_15-51-00](https://user-images.githubusercontent.com/1425147/105960103-b8c2fc00-60b7-11eb-886d-a8d316deaed0.png

[2021-01-27 08:00] Asturias-sam commented on #12786
@junlincc
We have dashboard having various charts, we want to monitor Superset performance  i.e  latency between Superset and Our data sources in terms of query execution shouldn't be much.

[2021-01-27 08:19] junlincc commented on #12755
thanks @kamalkeshavani-aiinside feel free to close this issue if everything looks good to you :)

[2021-01-27 08:21] Austin-AM commented on #7649
same issue in 0.38 and 1.0.0

[2021-01-27 08:22] ktmud commented on #12631
Hi, @srinify and @villebro , thanks for the inputs! Most of my UX suggestions are based on my intuition, and sometimes I may have not explained myself too well. It's nice to see someone else articulate the benefits of a proposed design better than me.

I agree we don't have to implemented this right away and I never expected it to be. The whole thing is just a proposal and if
there are strong reas

[2021-01-27 08:37] junlincc commented on #12631
you have made your points loud and clear, I agree with most of them.
I believe Explore control is the most frequently used feature in the entire product, therefore it deserves a full cycle of research-design-implementation-testing, which takes time. All I'm asking here is to allow that process to happen. among all the other design tasks, I consider this one is low priority since it's not blocking

[2021-01-27 08:39] #12755 closed

[2021-01-27 09:00] ktmud commented on #12631
@junlincc Agree with most of what you said and totally understand the desire of having a stable product and making decisions based on more user feedbacks.

However, this design does block some new users from adding a second metric, at least initially, as evidenced by our user feedbacks. I'd consider anything that already has a negatively user feedback (even just one) to be relatively high priority

[2021-01-27 09:26] Xiaojun-Pan commented on #12244
modify  core.py  code

def __exit__(  # pylint: disable=redefined-outer-name,unused-variable,redefined-builtin
        self, type: Any, value: Any, traceback: TracebackType
    ) -> None:
        try:
            pass
        except ValueError as ex:
            logger.warning("timeout can't be used in the current context")
            logger.exception(ex)

[2021-01-27 09:36] weihaonan opened #12790 "Unable login to the Superse when enabled CORS"
sueprset设置cors后，用qiankun引入一个主应用中，entry路径设置的是http://127.0.0.1:5000/login/?REMOTE_USER=admin，superset跳转到http://127.0.0.1:5000后报错 ，跨域了，有哪位大神知道如何解决

[2021-01-27 10:26] dpgaspar commented on #12785
Hi @madhamanchiharsha,

I've noticed this issue when using a SQLite metadata DB, but re tested using postgres and you are able to create datasets with the same name from different schemas

Note: that SQLite is not an advised metadata DB for superset and it's support will eventually removed

[2021-01-27 12:37] vlavorini opened #12791 "Build charts on top of SQL queries"
**Is your feature request related to a problem? Please describe.**
I need to visualize the results of a query on periodic base

**Describe the solution you'd like**
I would like to create a chart to publish on a dashboard with the data which comes out of a query. That query should run periodically

I did not found suggestions in the documentation, and also generic search engines does not help.

[2021-01-27 12:44] madhamanchiharsha commented on #12785
Thank you i have migrated from Sqlite to postgres now it is working

[2021-01-27 12:59] iercan commented on #12766
Today I made some more test. I disabled thumbnails which was enabled on other test. This time dashoard charts stuck on loading states and async_event requests started  returning 401. On worker logs I see queries are executing. Really couldn't figure out what's wrong here.

![image](https://user-images.githubusercontent.com/3406152/105994282-8534a180-60b8-11eb-97bd-e1c8ee6e3c5a.png)

[2021-01-27 13:19] iercan commented on #12766
Permission error gone after I run `superset init`. But problem I mentioned on my first post still persist.

[2021-01-27 13:26] iercan commented on #12766
Here is another exception I catch. I don't know what is different with async and sync queries but looks like the way celery worker send queries cause these exceptions

[code]

[2021-01-27 13:34] iercan commented on #12766
Yet another
[code]

[2021-01-27 13:48] #12752 closed

[2021-01-27 14:54] zhaoyongjie commented on #12791
hi @vlavorini
Do you want to dynamically generate Dashboard based on the SQL query?

[2021-01-27 14:56] vlavorini commented on #12791
exactly!

[2021-01-27 14:56] singh-ab opened #12794 "Cannot find Alerts/Reports tab in superset"
Following the tutorial at - https://superset.apache.org/docs/installation/installing-superset-using-docker-compose

I was able to get the superset UI

### Expected results

Alerts/reports option in settings menu

### Actual results

Alerts/reports option not visible

#### Screenshots

![image](https://user-images.githubusercontent.com/70583041/106008788-f0ca3f00-60b7-11eb-92db-345473d10faa.png)

#

[2021-01-27 14:57] zhaoyongjie commented on #12790
Hi @weihaonan
what is `qiankun`

In chinese
请填充问题模版. 多谢.
什么是 qiankun ?

[2021-01-27 15:04] zhaoyongjie commented on #12794
Hi @singh-ab
please check `config.py` or other config files.

[code]

then run the following command to grant view permission
[code]

[2021-01-27 15:28] dpgaspar commented on #12794
Note that `ENABLE_ALERTS` is for the old implementation, for the new implementation included on 1.0.0 enable the feature flag: `ALERT_REPORTS`

https://github.com/apache/superset/blob/master/superset/config.py#L343

[2021-01-27 16:15] vnourdin commented on #12683
We have the same issue coming from 0.37.
Deployed in K8S (EKS) + PostgreSQL (RDS) through similar Helm chart too.

[2021-01-27 16:50] singh-ab commented on #12794
Thanks @zhaoyongjie and @dpgaspar !

@dpgaspar : I see that - https://github.com/apache/superset/blob/master/superset/config.py#L343 has both options `ENABLE_ALERTS` and `ALERT_REPORTS` in the latest master branch .

are they related ? and how ?

[2021-01-27 18:00] singh-ab commented on #12794
Enabling `ENABLE_ALERTS =True` works for me on superset  - 1.0.0 . Wondering maybe `ALERT_REPORTS` is for the reports tab in this image - https://github.com/apache/superset/blob/master/RELEASING/release-notes-1-0/media/alerts_reports_2.png ? but that doesn't work.

[2021-01-27 18:55] robdiciuccio commented on #12766
@iercan can you provide some additional information about your situation?
- Which visualizations are triggering the errors?
- It appears from the stacktraces that you're querying an Apache Druid DB, is that correct? Are you seeing errors with other DB types?
- Are you able to run asynchronous queries in SQL Lab?

The same code is used to query the analytics DB in sync and async mode, so I'm also v

[2021-01-27 18:56] eschutho commented on #12566
After a discussion in https://github.com/apache/superset/pull/12754 I updated the section on the prefix to show that according to "conventional commits" a `!` in the title notates a breaking change.

[2021-01-27 19:46] eschutho commented on #12566
Thanks @ktmud I updated the sip. It sounds like we'll need to take these plugin breaking changes on an ad-hoc basis until the system has been updated, correct?

[2021-01-27 23:46] etr2460 commented on #11804
Thanks for the update @yousoph! Do you or @hughhhh have any update on resolving it?

[2021-01-28 00:06] junlincc commented on #12790
@zhaoyongjie thanks Yongjie for interacting with users. with your help i think Superset if ready to serve more users across the Pacific. 🙏

@weihaonan and yes please fill out the issue template in English or Chinese as much as you can, so that we can help! thanks!

[2021-01-28 01:02] mihir174 commented on #12784
Hey, here's how tooltips can be set up to clarify the inclusion/exclusion of start and end dates after details are ironed out in the SIP(s).
![Slice 2](https://user-images.githubusercontent.com/64227069/106074857-72729a80-60c1-11eb-92a8-dfaece027825.png)

[2021-01-28 01:10] mihir174 commented on #12756
Here's a common pattern for saving to a new instance:
<img width="1972" alt="Slice 1 (6)" src="https://user-images.githubusercontent.com/64227069/106075490-92568e00-60c2-11eb-87c0-c7db4bd800db.png">

[2021-01-28 01:15] ktmud commented on #12784
@mihir174 I think John's proposal is cleaner and easier to comprehend. Users don't have to hover and it'd be more direct to see the difference between these two fields. What do you think of adding both the tooltips and the label change?

Btw, should we also replace "start date" with "start time" just to be consistent?

[2021-01-28 01:37] junlincc commented on #12784
i'm not sure regular users can easily understand the meaning of Start (inclusive) and End (exclusive). tooltips to explain what they actually mean could be helpful. @mihir174

[2021-01-28 02:03] junlincc commented on #12786
If your goal is to improve dashboard performance, I suggest that to checkout and enable async query first, docs can be found [here ](https://superset.apache.org/docs/installation/async-queries-celery) @robdiciuccio

I'm still trying to understand the business value of this requested feature. I assume you wanna use it as an assessment indicator against other BI tools?

[2021-01-28 02:28] weihaonan commented on #12790
@zhaoyongjie 官网的介绍：Qiankun is an implementation of Micro Frontends, which based on single-spa. It aims to make it easier and painless to build a production-ready microfront-end architecture system.
 i want to lead superset into qiankun as a sub application

[2021-01-28 02:34] mihir174 commented on #12631
Hey everyone, this was a very interesting discussion. Here's my take:

A big "plus" side to the button is that the control panel has a large vertical scroll surface, so having an "Add metric" CTA in the selected area will only make this taller and require more user scrolling. That being said, I agree that the button is unnecessary for input fields that take only 1 input.

Given that we have receiv

[2021-01-28 02:52] MK0820 commented on #5483
+1.Same need.

[2021-01-28 02:58] zhangfeng114 commented on #12612
@etr2460

I used the upgrade command to upgrade to the latest version, but this problem still occurs, how did you solve it?
`pip install apache-superset --upgrade`
`superset db upgrade`
`superset init`

thanks

[2021-01-28 06:24] iercan commented on #12766
Dashboard I tested we have filter box, line chart, time series chart, big number and table. Also we have defined metrics on that datasource.

Yes It come from druid but I got this error from mysql too.
[code]

Sql lab works fine.

[2021-01-28 07:11] junlincc commented on #12790
@suddjian  ^^^^^

[2021-01-28 07:22] junlincc opened #12801 "[explore]users should not be allow to save metric without sql expression"
currently, user can create a new metric in Edit dataset modal in Explore without sql expression, or without validating the new metric.

the new metrics becomes available in metric popover dropdown for user.  once it is selected and run query, users receive a non human readable or non actionable error message, which leads to a bad user experience.. It also would become problematic once drag and dro

[2021-01-28 07:34] junlincc opened #12802 "[explore]metrics list order should not change after editing metrics"
Currently, after user editing a metric in Edit dataset modal in Explore, the edited metric jump to the bottom of the metric list.
it create a few issues:
1) when the metric list is long, by dropping to the bottom, user might take a while to find it or think the most recent edited metic is lost.
2) every time users edit a single metric, they see a different order of metric list showing in the panel

[2021-01-28 07:35] liuxp311 opened #12803 "sql lab--Database Error-Instance <Query at 0x1b00c574070>"
SQL LAB --RUN:

Database Error
Instance <Query at 0x1b00c574070> is not bound to a Session; attribute refresh operation cannot proceed (Background on this error at: http://sqlalche.me/e/13/bhk3)

[2021-01-28 07:49] #12726 closed

[2021-01-28 07:50] junlincc commented on #12791
@vlavorini This is something on our radar. could you elaborate your use case? that will help us prioritize. Thanks!

[2021-01-28 08:03] junlincc commented on #12750
@michellethomas hey Michelle, thanks for the clarification. is it a regression we caused? if so, we are happy to take it on :)

[2021-01-28 08:05] Geethanjali11 opened #12805 "[chart]Apache Superset Deck.GL Multiple layer map bug"
### Expected results
Multi layer map with  coordinates near Houston.
[Multiple layer bug.zip](https://github.com/apache/superset/files/5885653/Multiple.layer.bug.zip)
### Actual results
Multi layer map with coordinates fixed on san Francisco sample data and is inflexible with any dataset change
what actually happens. 0 rows are being fetched.
#### Screenshots
![image](https://user-images.githubuse

[2021-01-28 08:10] villebro commented on #12733
This is a known limitation in the current architecture. However, this should be resolved once Global Async Queries become generally available: #9190 . If you feel like testing the feature, feel free to enable the `GLOBAL_ASYNC_QUERIES` feature flag. See the `CONTRIBUTING.md` documentation for details: https://github.com/apache/superset/blob/master/CONTRIBUTING.md#async-chart-queries

[2021-01-28 08:19] junlincc commented on #12790
not sure how we could help you. but you need to use SSO on Superset, can consider our [cloud offering](https://preset.io/)

[2021-01-28 09:52] vlavorini commented on #12791
Sure!

The data we have to chart comes from joins and selections of three different tables.

As of today the analytics team uses Python scripts to make queries and create charts 'on demand'.

We already tried Bokeh, but it's too limited since it does not allow the stakeholders to make new charts based on their desires.

So, we would like to use a proper BI tool, like Superset, to can allow stakeho

[2021-01-28 10:17] zhaoyongjie commented on #12801
@junlincc
The existing architecture of superset has no way to verify SQL snippet(metric/derived column), so we can only guarantee that the metric expression is not empty.

[2021-01-28 10:34] haydn commented on #10773
Wow, it sure does take a long time. It took nearly an hour just to install all the packages on my machine:

[code]

Then the webpack build itself was another ~30mins.

[2021-01-28 11:19] GangadharGuska opened #12807 "Celery Flower: How to check the Redis DB info when is the next trigger of a particular job."
How to check the Redis DB Information of task when is the next trigger time, Clerey Flower shows the success and failed information. Is there possible way to get the information Superset API or CELERY componets

[2021-01-28 12:29] ktecho opened #12808 "[docs]API docs not clear about /dashboard/import"
In the [documentation page about the API](https://superset.apache.org/docs/rest-api), there should probably be an entry about the import of dashboards: /api/v1/dashboard/import

That url is working, so I think it's lacking in the docs. It would be good to know the parameters that I need to pass to import dashboards programmatically.

[2021-01-28 12:31] gorcurek commented on #12769
Hi,

I have **Admin** role, as seen here:

![my-profile](https://user-images.githubusercontent.com/62286967/106138792-e027d080-616c-11eb-953d-4f79ca0120b5.png)

And these are the permissions for **Admin** role:

![admin-role](https://user-images.githubusercontent.com/62286967/106138902-051c4380-616d-11eb-8a59-77a1f6e964ec.png)

The other role I have, **Public**, has No permissions.

[2021-01-28 12:41] dpgaspar commented on #12808
@ktecho thank you for reporting,

We will fix it, meanwhile you can access online API docs by accessing your superset on `api/v1/swagger/v1`

[2021-01-28 12:43] ktecho commented on #12808
For me it seems the online API docs are at just `/swagger/v1`. But thanks! That will help :)

[2021-01-28 13:45] VMois opened #12809 "[alert]Alerts are not working, importing security_manager returns NoneType object"
After enabling "Alerts" and configuring one, I cannot see any triggers and email notifications being sent to me. I am sure that SQL query should return rows to trigger alert and, also, `Alert Log` is not showing any triggers.

Using Celery for email notifications. Maybe, I am missing some Celery configs in `superset_config.py`?

### Expected results

I want to be able to trigger alerts.

### Actua

[2021-01-28 14:14] vnourdin commented on #12683
The problem was coming from the `alerts` table, but I checked and there were no null `database_id` in this table, so it's I don't get it. :shrug:
Our alerts were just an old test, so I truncated the table, and we achieved to finish the `init_db` :tada:
But for people already using alerts it is still a blocker !

[2021-01-28 14:50] ktecho opened #12814 "[import]Importing a dashboard via API fails with error 500"
While importing an exported dashboard (.json file) from an older version of Superset (0.36.0) through the API of a Superset 1.0.0 (using built in Swager), it errors out with Error 500 and this trace:

[code]

From the documentation, it seems that it should just accept the .json file and not need a .zip, but just in case the file should be .zipped, I made a .zip file and now the error changes:

[co

[2021-01-28 15:06] ktecho commented on #12814
Now the entire description is ready.

[2021-01-28 15:09] uZer commented on #10711
Hey @brylie, I had the same issue as you during my superset setup.
Problem was: my first container has been OOMKilled during the execution of the migration script. After the container restart, db migration script didn't detect the setup was incomplete.

I dropped all the tables from my database and ran the migration script again, it works now :)

[2021-01-28 17:03] brylie commented on #10711
Thanks @uZer I'll try again now, since it's been a few months since I last experimented with Superset.

By the way, are you attending the [Superset 1.0 Meetup](https://us02web.zoom.us/w/84078341941?tk=m0tQ6AMt-V6vJBQxX2TvyDFJXCHbXQ11goALSme2U7Q.DQIAAAATk3WvNRZnUmRuT2JrRFI2SzhvaWZzckxQRkp3AAAAAAAAAAAAAAAAAAAAAAAAAAAA&uuid=WN_iqD-UkIPRJ2LTjFYCuwPpQ) that is on air right now?

[2021-01-28 17:42] caiobelfort commented on #7286
I think now it's time to some contributing from people here. Maybe I will pick that requirement and try to implement a viz plugin as a learning project.

[2021-01-28 18:56] eschutho commented on #12566
Columns should not be deleted, unless all references to it are removed from code in a previous release
This is mainly to ensure that when deploying db migrations in non-major versions, it can be done so without any downtime

@etr2460 I agree. I think it would be safest to also add that any migrations that drop a table or column should be in the major release version. If people skip a minor version

[2021-01-28 19:24] michellethomas commented on #12750
I don't know what change led to this issue.

[2021-01-28 19:28] junlincc commented on #12814
@betodealmeida Beto, mind helping? thanks!

[2021-01-28 19:48] farhat-nawaz commented on #11507
I'm having the same issue on latest release 1.0.0. Was anyone able to solve this problem? I'm using `geckodriver`.

[2021-01-28 19:51] junlincc commented on #12803
do you mind filling out the issue template? thanks! @liuxp311

[2021-01-28 21:28] junlincc commented on #12750
@michellethomas got it, thanks for the additional info. we will look into it, since we are not able to reproduce from our end, may ping you for help. how urgent is this issue?

[2021-01-28 21:51] adam-stasiak opened #12822 "[sql lab] Overwrite dataset dropdown does not show available datasets"
### Expected results

I would expect to see options from the beginning when I click on dropdown. As for this component
![image](https://user-images.githubusercontent.com/25153919/106202482-4e46b480-61ba-11eb-8589-8a1855497fc8.png).

### Actual results

I can see that when I visit this modal for the first time I do not have suggested datasets to overwrite.
After I visit this place for the second ti

[2021-01-28 22:34] yousoph commented on #11804
Still on our radar! But we don't have a fix yet

[2021-01-29 00:53] michellethomas commented on #12750
Yes sounds good let me know if you have any questions about the issue. There is a workaround (users can create a new chart or just add and remove a groupby to get the existing chart to work) so it's not urgent but not ideal to have existing charts breaking. We have it marked in our system as "medium" priority, so maybe P1?

[2021-01-29 01:37] junlincc commented on #7286
@caiobelfort we would love your contribution! if you are on slack, please reach out to me

@caiobelfort we would love your contribution! if you are on slack, please reach out to me

[2021-01-29 01:42] #12329 closed

[2021-01-29 01:42] junlincc commented on #12376
completed

[2021-01-29 01:42] #12376 closed

[2021-01-29 01:43] junlincc commented on #12504
resolved, thanks @betodealmeida !

[2021-01-29 01:43] #12504 closed

[2021-01-29 01:51] junlincc commented on #12769
time picker added a new api which requires running `superset init` to grant new permission. lmk if that works

[2021-01-29 01:51] liuxp311 opened #12824 "Error running SQL Lab"
Error running SQL Lab

### Expected results
Error message：

Database Error
Instance <Query at 0x1b00c574070> is not bound to a Session; attribute refresh operation cannot proceed (Background on this error at: http://sqlalche.me/e/13/bhk3)

### Actual results

Unable to query

#### Screenshots

Database Error
Instance <Query at 0x1b00c574070> is not bound to a Session; attribute refresh operation c

[2021-01-29 02:19] junlincc opened #12825 "[explore] missing saved metrics from the dropdown list"
In latest master, open METRICS popover, see missing saved metrics from the dropdown select.

To reproduce:

- Open any charts that use sample data(e.g. FCC2018 Survey)
- Go to Edit dataset. in metric tab, create 3 new metrics and Save
- Go back to the control panel, click the pre-filled saved metric in METRICS
- Save tab, click dropdown, see list missing the original one,

**Actual**

https://user

[2021-01-29 05:35] #12780 closed

[2021-01-29 06:03] junlincc opened #12826 "[explore][ux]prompt user to save edited chart before leaving the page"
UX enhancement: after editing a chart, users leave from Explore to other product area without knowing their changes have been saved or not.(current behavior - not saved).
proposed change: if a chart is edited, before users leave Explore page, they should receive a message to confirm either to save or to abort changes.

https://user-images.githubusercontent.com/67837651/106237595-fa38d180-61b3-11eb

[2021-01-29 08:53] Tana8M opened #12827 "Docker for testing Superset Failed in local"
A clear and concise description of what the bug is Docker

### Expected results
-I want to test superset dashboard.

### Actual results
-When I login page , that no any thing in localhost:8088

#### Screenshots

![Screen Shot 2564-01-29 at 15 50 25](https://user-images.githubusercontent.com/53141452/106253422-0c654f00-624a-11eb-8522-241ff18eeba6.png)

[2021-01-29 09:52] villebro commented on #12825
IMO this is working as intended - a selected saved metric should not be featured in the dropdown list to avoid duplication.

[2021-01-29 10:50] singh-ab commented on #12827
did you run `superset-init` ? it takes a while for all the assets to load

Would make it easier if you can share some logs .

[2021-01-29 11:07] ktmud commented on #12825
Maybe we can add only the current selected metric in the list (with a selected state of course) just to avoid surprises?

[2021-01-29 11:11] ktecho commented on #12814
I've been checking the export dashboard in Superset 1.0.0 and it doesn't export a zip file.

So I've tested an empty dashboard export in 1.0.0 and import in the same installation (1.0.0) and that doesn't work.

[2021-01-29 11:19] ktmud opened #12829 "[Cosmetic][Native filter] Filter names in the filter indicators should not capitalize"
## Screenshot

<img width="292" alt="filter name capitalization" src="https://user-images.githubusercontent.com/335541/106268282-b956b200-61df-11eb-881f-76a8ddeed979.png">

## Description

Filter names in the the filter indicator drop probably shouldn't capitalize since they are user inputs.

According to [our earlier discussion](https://github.com/apache/superset/issues/12343#issuecomment-7564826

[2021-01-29 11:34] adam-stasiak commented on #12599
@junlincc it is resolved now.

[2021-01-29 11:34] #12599 closed

[2021-01-29 12:24] nirajtambat opened #12830 "Grand Total For Tabular report"
Hello
Need some help on below issue.
**Tabular Report -**
Please advise how do we have Grand Total for tabular report in both ways column wise and row wise.
how can we have sign for numbers in tabular report . like for prices column we want to show $ sign.
**Pivot table -**
whenever we rename the metrics pivot tables gives error. e.g. sum(qty) we can not give label for this metics. please advise.

[2021-01-29 15:01] #12671 closed

[2021-01-29 15:24] mayurnewase opened #12834 "Page routing does not respect next parameter"
When I enter chart url directly without logging in,ui redirect to login page keeping chart url in 'next' parameter.
After logging in it redirects to homepage ignoring that url.
### Expected results
Should go to url which was used before logging in.

#### How to reproduce the bug
log in
open any chart,copy its url from address bar
log out
enter that url in address bar
log in,you would see homepage

[2021-01-29 16:18] dpgaspar commented on #11822
Can you try if it works setting the log level `LOG_LEVEL = "INFO"`

[2021-01-29 16:49] junlincc commented on #12825
reopening. confirmed this is a regression
<img width="1551" alt="Screen Shot 2021-01-29 at 8 48 34 AM" src="https://user-images.githubusercontent.com/67837651/106303339-e078a800-620e-11eb-900f-03ed7fab6f1b.png">

[2021-01-29 17:53] nytai commented on #12592
@ktmud a few users have reported this issue. The favorite_status is being fetched via the `makeApi` pattern. That's the only thing, that comes to mind, that's particular about this call. Any ideas what could be happening here?

[2021-01-29 17:57] hughhhh commented on #11804
This PR has the fix:
https://github.com/apache/superset/pull/12607

[2021-01-29 18:45] yousoph commented on #11804
I missed that PR, thanks @hughhhh !!! :)

[2021-01-29 19:05] #11804 closed

[2021-01-29 19:43] ktmud commented on #12592
It's strange that this happens only with `/api/v1/dashboard/favorite_status`. `SupersetClient` uses the same as current `window.location`: https://github.com/apache/superset/blob/46664452a792ed56ac7faf50dd88d781e65df914/superset-frontend/src/setup/setupClient.ts#L29

@nytai do you have links to other reported issues?

[2021-01-29 20:20] rumbin commented on #12791
I'm having trouble understanding this question.
In my understanding, you want your userst to be able to run arbitrary SQL queries and build charts out if them, so these charts can be out on a dashboard.
This is the standard workflow in SQLlab. You prepare a query there and when you are happy with the result,you click Visualize and create a chart out of it.
Or am I misunderstanding your demand enti

[2021-01-29 20:48] lucaxsilveira commented on #9722
I'm also interested in this.

[2021-01-29 20:51] #12825 closed

[2021-01-29 22:16] olmar commented on #9880
After increasing Docker memory limits I recreated `superset-node` service via:
[code]
`superset-node` was able to build assets in this case.

[2021-01-30 00:47] yousoph opened #12842 "Update CTAS Schema from text field to a dropdown"
## Description
Current CTAS Schema field is a text field but users need to input the name of an existing schema for CTAS/CVAS to work as expected.
Instead of requiring the user to input the schema name, we should update the text field to a dropdown list of existing schemas
(This is a follow up to Issue #12470)

## Screenshot
![Add Modal - SQL Lab Settings @1456 (1)](https://user-images.githubuserc

[2021-01-30 01:29] mistercrunch commented on #12842
I think it's a jinja-templated field and allows something like `sandbox-{username}`, let's make sure to cover that use case and make it clear the help-text underneat!

[2021-01-30 01:31] mistercrunch commented on #12842
BTW this field is not used very often and typically only by admins, so it's probably not a big deal to have them type the name, still nice-to-have.

[2021-01-30 05:38] cnuonline opened #12843 "Option to select limited values of filter"
*Please make sure you are familiar with the SIP process documented*
(here)[https://github.com/apache/superset/issues/5602]

## [SIP] Proposal for having Radio button or dropdown or limit the user to select filter values

### There are few usecases where the data sliced (pre-prepared) should not have multiple selection of filter values.

Description of the problem to be solved.

### Proposed Change

[2021-01-30 08:39] alexgheorghiu opened #12844 "Docker initial steps failed on Linux Mint 20"
A clear and concise description of what the bug is.

### Expected results

Followed the instructions from https://superset.apache.org/docs/installation/installing-superset-using-docker-compose
but crashed.

`

sqlalchemy.exc.ProgrammingError

sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedTable) relation "ab_permission_view_role" does not exist
LINE 2: FROM ab_permission_view JOIN ab_p

[2021-01-30 13:15] #12703 closed

[2021-01-30 15:03] SuzGori commented on #12844
Mac OSX too.

[2021-01-30 15:32] SuzGori commented on #12827
same issue.

superset-init done.

but same page.

superset-init logs below.

[code]

[2021-01-30 16:15] SuzGori commented on #12827
woops.

superset-node is don't finished...

[2021-01-30 21:28] acvander commented on #12827
I experienced the same issue earlier. I followed the instructions in #9880 and increased the memory allocation in Docker to 8GB.

The `superset-node` service does take a long time to complete installing the node modules. For me it took at least 20 minutes. You can follow the logs using ```docker-compose logs superset-node```.

My logs looked like this while it was installing the modules
`
npm WARN

[2021-01-30 21:29] junlincc opened #12847 "[contributor wanted🙏]Tree diagram Echarts integration"
**Motivation**
Superset offers a wide range of visualizations to serve different data structures and tell story users to convey through data. Looking at the 46+ chart types currently available in Superset viz selection, most of them(time series, composition, and distribution charts) focus on data analytics. The robust ability to turn the immense amount of enterprise data into actionable business i

[2021-01-31 02:25] #12803 closed

[2021-01-31 02:27] liuxp311 commented on #12803
close,the same question

[2021-01-31 02:51] liuxp311 commented on #12824
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\13264\desktop\test\python\superset\venv\lib\site-packages\superset\views\base.py", line 180, in wraps
    return f(self, *args, **kwargs)
  File "c:\users\13264\desktop\test\python\superset\venv\lib\site-packages\superset\utils\log.py", line 164, in wrapper
    value = f(*args,

[2021-01-31 06:09] nytai commented on #12592
A user also reported this in slack
https://apache-superset.slack.com/archives/C015WAZL0KH/p1611936487035400

[2021-01-31 07:10] eugeniamz commented on #12791
I think that this can be done with Virtual Dataset. I did a [demo](https://youtu.be/UNSg4sye19M) for it, please let me know if I am missing something.

[2021-01-31 07:12] eugeniamz commented on #12785
As per the previous comment, the issue was resolved when migrating to Postgres.

[2021-01-31 07:12] #12785 closed

[2021-01-31 07:14] eugeniamz commented on #12824
which database do you use?

[2021-01-31 07:17] #10408 closed

[2021-01-31 07:43] liuxp311 commented on #12824
1)mysql or sqlite,the same question,2)Environment:Virtual environment    python -m venv venv

[2021-01-31 07:43] liuxp311 commented on #12824
1)mysql or sqlite,the same question,2)Environment:Virtual environment python -m venv venv

[2021-01-31 10:17] maloun96 commented on #12722
I checked from the latest master and seems that the tooltip is shown ok
@junlincc

![image](https://user-images.githubusercontent.com/8277264/106380912-0f814c00-63be-11eb-99df-adbb63d1297f.png)

[2021-01-31 12:27] gee-m commented on #12723
Try increasing the RAM to 7-8gb and restarting docker, fixed it for me

[2021-01-31 13:22] chriscardillo opened #12849 "PyJWT Version Requirement Conflict When Installing Superset from Scratch"
### Expected results

I expected that following the [instructions on installing Superset from scratch](https://superset.apache.org/docs/installation/installing-superset-from-scratch) would allow me to install Superset.

### Actual results

`pip install superset` does not install all of the required packages, because there is a dependency incompatibility issue in the package list.

#### Screenshots

[2021-01-31 14:01] beautah commented on #12824
I'm seeing the same issue using an oracle db connection, my python version is 3.8.4, using conda for env, but same set up otherwise.

[2021-01-31 16:10] eugeniamz opened #12850 "[database connection]Bar Chart with Presto does not add ORDER BY when using limit rows"
When creating a bar chart with the source database Presto / Athena, the SQL does not include ORDER BY with LIMIT rows. Not having ORDER BY with LIMIT does not warrant that the right data is shown.

[code]
<img width="1010" alt="Screen Shot 2021-01-31 at 11 09 45 AM" src="https://user-images.githubusercontent.com/58375897/106390129-e6a88900-63b4-11eb-9886-841b55194114.png">

I tried Bar Chart with

[2021-01-31 16:30] KentonParton commented on #12850
@eugeniamz thank you for adding this item.

It appears to be impacting Redshift, Postgres, and MySql in addition to Presto/Athena. There may be more databases.

To keep charts consistent, should we add a “Sort Descending” toggle as we have on the “Time-series Bar Chart”?

[2021-01-31 17:46] junlincc commented on #12850
Thank you both for reporting with details. We will look into it.
@zuzana-vej I know you guys use Presto, is it also affecting you?

https://github.com/apache/superset/pull/12661 should be able to solve the sort descending issue, I will double check when can it get to next minor release. @KentonParton @eugeniamz

[2021-01-31 18:04] junlincc commented on #12843
@cnuonline  it seems to me this is a proposal of UI change in filterbox, could you provide a wireframe? thanks!

[2021-01-31 18:23] 94zuocom opened #12851 "after install with docker ,then login ,can't loading anything"
![123456](https://user-images.githubusercontent.com/19161243/106393809-0b901100-6434-11eb-91ed-d954de344355.png)

how should i configue it

###############

"""The main config file for Superset
All configuration in this file can be overridden by providing a superset_config
in your PYTHONPATH as there is a ``from superset_config import *``
at the end of this file.
"""
import imp
import importlib.ut

[2021-01-31 18:24] 94zuocom commented on #12851
![123456](https://user-images.githubusercontent.com/19161243/106393904-953fde80-6434-11eb-8d6e-946df4e7a9c6.png)

[2021-01-31 18:27] 94zuocom commented on #12851
i can't upload the screencut
====
the page only two button  a  x  and 'close'

======
the html
====

  |  
-- | --
  |  
  |  
  | <!DOCTYPE html>
  |  
  |  
  |  
  |  
  | <html>
  | <head>
  | <title>
  |  
  |  
  | Superset
  |  
  |  
  | </title>
  |  
  |  
  |  
  | <link
  | rel="icon"
  | type="image/png"
  |  
  | href="/static/assets/images/favicon.png"
  | >
  |  
  | <link rel="sty

[2021-01-31 18:30] junlincc commented on #12745
still working on it, we had to transfer ticket ownership. should be fixed next week.

[2021-01-31 18:47] srinify commented on #12851
Hey there! This is actually a common experience if you use Superset through Docker Compose. Essentially the frontend assets are still building. After you do `docker-compose up`, if you could wait 15-30 minutes (this is really only needed the first time) then the frontend should be ready (to confirm, try opening the local URL in an incognito browser and logging).

If you're running docker-compose w

[2021-01-31 19:32] amitmiran137 commented on #12849
this is resolved in 1.0.1
https://github.com/apache/superset/pull/12804

[2021-01-31 19:55] junlincc commented on #11654
closing proposed issue, in favor of #10408, issue is resolved by https://github.com/apache/superset/pull/12680
thanks both! @sarah012 @amitmiran137

[2021-01-31 19:55] #11654 closed

[2021-01-31 22:09] junlincc commented on #7804
Added this request to Superset [roadmap](https://github.com/apache-superset/superset-roadmap/issues), will get to it Q2-Q3.

[2021-01-31 22:30] mhconradt commented on #5420
It seems most of this advice has become outdated. How can I add a custom color scheme using the Docker workflow in 2021?

[2021-01-31 22:32] junlincc opened #12852 "[explore]save data table resizable height and status to localStorage"
As a Superset user, after I expand the data table(underneath chart) to view query data/sample data, I would like to keep that status sticky. Currently, after user refresh the Explore page, the data table will be closed by default.

proposed: keep it close by default, make it sticky after user open and refresh
Current

https://user-images.githubusercontent.com/67837651/106400115-79572100-63d1-11eb-

[2021-01-31 22:37] junlincc commented on #5420
@mhconradt https://github.com/apache/superset/pull/12210 this is available in v1.0, let us know if that helps

[2021-02-01 00:57] mmuru commented on #9620
@villebro: I tested it with latest version 1.0 and sort_by issue is still exist. Although it is still forced to select aggregate function  for sort_by column but it did not get included in the result.
`SELECT name AS name,
       count(color) AS "COUNT(color)",
       count(name) AS "COUNT(name)"
FROM public.bart_lines
GROUP BY name
ORDER BY "COUNT(name)" ASC
LIMIT 10000;`

Noticed the following i

[2021-02-01 01:58] hkfreenet opened #12853 "Table chart show raw records number columns become normalized value"
Table chart show raw records number columns become normalized value

### Expected results

The number columns should be shown the same as value from db without normalized

### Actual results

The number columns become normalized value (no any setting can change the number columns)

#### Screenshots

![image](https://user-images.githubusercontent.com/621561/106406385-123e7880-6474-11eb-9b1b-45ec855

[2021-02-01 02:01] daniel10012 commented on #12850
@KentonParton I have tested it on Postgres, Redshift, and MySQL and the Order By appears for bar charts and pie charts for me:
![image](https://user-images.githubusercontent.com/10360991/106406472-5cd5db80-6407-11eb-93be-969fbeaa3f6e.png)

@eugeniamz @junlincc

[2021-02-01 02:59] 94zuocom commented on #12851
thanks ,it limited for number of the files ,i had fix it  。

[2021-02-01 03:04] ktmud commented on #12853
We are working on adding adhoc column formatting. For now you can specify custom d3 format in saved metrics/columns:

<img width="940" alt="custom-format" src="https://user-images.githubusercontent.com/335541/106410182-2001e880-63f7-11eb-860a-4b829c51456a.png">

[2021-02-01 04:32] #12849 closed

[2021-02-01 05:13] #12851 closed

[2021-02-01 05:13] #12844 closed

[2021-02-01 06:11] ktmud commented on #12853
Hmm, I think I misunderstood what this bug was about earlier. Will push a fix soon.

[2021-02-01 06:20] junlincc commented on #12853
sorry this is a real P0.... @ktmud 🙏

[2021-02-01 06:36] alexgheorghiu commented on #12844
Why was this marked as solved?

What was the resolution?

[2021-02-01 06:41] junlincc commented on #12844
@alexgheorghiu
according to @SuzGori https://github.com/apache/superset/issues/11612#issuecomment-750435584

[2021-02-01 06:41] zhaoyongjie commented on #12850
@KentonParton I have tested it on Presto(0.235-cb21100), the query with `order by` and `limit` clause

![image](https://user-images.githubusercontent.com/2016594/106423324-2e094500-649b-11eb-8532-f1641804e249.png)

![image](https://user-images.githubusercontent.com/2016594/106423240-06b27800-649b-11eb-9685-80fbf1e04588.png)

[2021-02-01 07:12] #12853 closed

[2021-02-01 07:13] villebro commented on #12853
Hmm, the fix should not affect 1.0, as it's not using the new table chart plugin that's on master, in which I assume the regression was.

[2021-02-01 07:15] junlincc commented on #12853
confirmed yes, not as reported in the issue. this bug is not affecting 1.0, I will revote

[2021-02-01 08:05] ktecho commented on #12814
While looking at this, I found the Superset CLI, and it seems the dashboard stuff is not coherent:

[code]

If the export is in JSON format (like in previous versions or when using the UI), the import should be JSON too, right?

[2021-02-01 08:09] shikhnu opened #12855 "Configuring OAuth"
Hi,

While configuring oAuth, I am encountering some issues. I am using superset with the help of docker.
System: Linux (ubuntu 18.04)
File location: /home/myuserx/incubator-superset/docker/pythonpath_dev/superset_config.py

Below is the code used in superset_config.py
[code]
Below is the error that I am encountering.
[code]

I have also attached a screenshot of the error. I would appreciate it if

[2021-02-01 08:13] vlavorini commented on #12791
Actually this was exactly what I needed. I'm sorry to have not found it by myself.

[2021-02-01 08:23] JeanBaptisteINITIATIVES opened #12856 "Problem upgrading Superset from 0.38.0 (python 3.6) to 1.0.0 (python 3.8)"
Hi,

I'm facing an issue upgrading Superset from 0.38.0 to 1.0.0. Currently I have a 0.38.0 Superset version installed in a virtual env, on a Linux Ubuntu 18.04 server, with python 3.6. To upgrade to the new major 1.0.0 release, I have to upgrade to python 3.7 to make it works. For this reason, I upgraded the development server to an Ubuntu 20.04 with a python 3.8 distribution. But I can't find ho

[2021-02-01 08:34] junlincc commented on #12516
@maloun96 🙏

[2021-02-01 08:44] ktecho commented on #12814
But using the command line, in the end works ok for JSON files this way:

`superset import-dashboards -p nyc.json`

So the API is broken (asks for a zipfile), but the CLI just have the description wrong:

`import-dashboards         Import dashboards from ZIP file`

should be:

`import-dashboards         Import dashboards from JSON file`

[2021-02-01 08:46] ktecho commented on #12814
Also, from the error messages during the process, I infered that you need `Pillow` module installed. Just in case you want to put it in the documentation somewhere.

I don't know why you need an image manipulation module to import a .json file into the database, but that's another story :)

[2021-02-01 09:35] KentonParton commented on #12850
@daniel10012 @zhaoyongjie  I have checked in LINT and LIVE environment and not seeing order by in the query as shown below. I am running release 1.0.0. Are there any recommendations to resolve this?

**Redshift/Postgres**
<img width="890" alt="Screen Shot 2021-02-01 at 11 29 12 AM" src="https://user-images.githubusercontent.com/20202312/106440003-3bf5a080-6470-11eb-85d7-f9e7d4665fa4.png">

**Athen

[2021-02-01 10:12] dpgaspar commented on #12856
@JeanBaptisteINITIATIVES you don't have to install superset from scratch (it would be nice from a immutable infrastructure perspective). You need to update/reinstall superset's virtual environment, install superset, upgrade the db, superset init. The normal install steps

Note: Superset 1.0.0 has a dependency problem on python 3.8 and PyJWT, so use python 3.7 or pin PyJWT at 1.7.1

[2021-02-01 10:16] dpgaspar commented on #12855
Authentication is supported by FAB and to use OAuth you have to install authlib: https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-oauth

[2021-02-01 10:21] JeanBaptisteINITIATIVES commented on #12856
Hi @dpgaspar,

Thanks for the reply, I'll do all these steps and give some feedback if I encounter some problem during this process.

Best regards

[2021-02-01 11:20] rmgpinto opened #12860 "Presto incorrect order of column type mappings"
Presto has incorrect order of column type mappings.
`timestamp` is overriden with `time` due to these lines:

[code]

causing incorrect query statement to be passed from superset to presto.

### Expected results

Query statements to have correct column type/cast.

### Actual results

The query is incorrect.

### Checklist

Make sure to follow these steps before submitting your issue - thank you!

[2021-02-01 11:24] lybtt commented on #10997
I hava the same issue in windows,  adding this might help.

![image](https://user-images.githubusercontent.com/38394058/106452635-2493d300-64c3-11eb-9e7c-69c6d03bf426.png)

[2021-02-01 11:53] anushkrishnav commented on #12847
I would like it work on the project with some guidance , sounds very interesting.

[2021-02-01 11:57] anushkrishnav commented on #12802
If it hasn't been solved already , I can take up on it, is there any example I can refer to ?

[2021-02-01 12:56] vinitpradhn18 opened #12863 "Unable to send Dashboard emails"
Hi I am unable to send Dashboard email with superset Docker installation at dev environment. I also have installed geckodriver in superset_worker container and set WEBDRIVER_BASEURL = "http://0.0.0.0:8088/"  from issue #9135
### Expected results

Receive reports by email
### Actual results
#### Screenshots

![Screenshot 2021-02-01 at 6 11 11 PM](https://user-images.githubusercontent.com/8949913/10

[2021-02-01 13:16] zhaoyongjie commented on #12850
@KentonParton @eugeniamz
I reproduced this bug in 1.0, but the latest master code works fine.

<img width="1306" alt="image" src="https://user-images.githubusercontent.com/2016594/106463492-742dcb00-64d2-11eb-99fc-832e51f01bac.png">

![image](https://user-images.githubusercontent.com/2016594/106463552-8d367c00-64d2-11eb-9935-942e418fa9a7.png)

[2021-02-01 13:36] vineetalagh opened #12866 "Superset 1.0.0 load balancer unable to login"
We have deployed Superset on EKS Load balancer but login doesn't work.

### Expected results

Load balancer should work.

### Actual results

Getting different errors when trying to login to superset:

- Login doesn't work and page reloads.
- Login Failed when trying to login with correct admin credintals.
- The CSRF token is missing.

#### Screenshots

![image](https://user-images.githubuserconte

[2021-02-01 13:40] singh-ab commented on #11507
similar issue with `geckodriver` after the upgrade from 0.38.0 to 1.0.0

[2021-02-01 13:49] singh-ab opened #12867 "Dashboard thumbnails not visible - Superset 1.0.0"
One of the features highlighted in the latest release is to have a concise view of all the favourite dashboards on the home screen . This is accomplished by the dashboard thumbnails , but that doesn't seem to work .

### Expected results

A home screen with dashboard thumbnails like this :
https://github.com/apache/superset/tree/master/RELEASING/release-notes-1-0#user-experience

### Actual result

[2021-02-01 13:54] dpgaspar commented on #12867
@singh-ab have you setup celery? if yes, can you share your celery config and logs?

[2021-02-01 14:04] singh-ab commented on #10996
Was anyone able to get this fixed ? I am getting the same error - `Failed to decode response from marionette` after upgrading to `superset - 1.0.0` and using `python - 3.7.9`

[2021-02-01 14:38] iercan commented on #12867
@singh-ab You need to configure celery and proper webdriver. Also not that there was en error regarding thumbnails and fixed in 1.0.1. see #12760

I'm using chrome webdriver. This is how I installed
[code]

And added these lines to my config.

[2021-02-01 14:43] lctdulac commented on #11953
Thanks for the answer @eugeniamz ! This is exactly our issue. I did not acknowledge the limit was so low but this is exactly the reason why some datapoints are missing in the charts as one row is one daily point on a chart. Any idea of a follow up action to increase that limit, or make it editable?
Thanks all.

[2021-02-01 14:46] singh-ab commented on #12867
@dpgaspar : I tried the usual `docker-compose up`

Here is the log from `superset_worker`:
[code]

Here is the log from `superset_app` :

[code]

[2021-02-01 14:47] singh-ab commented on #12867
@iercan : thanks ! let me give this a try and get back

[2021-02-01 14:47] singh-ab opened #12871 "Chart Emails not working - Superset-1.0.0"
Chart Emails functionality doesn't work after upgrading to superset-1.0.0

### Expected results

Sent chart as an Attachment/Inline in an email to the recipient .

### Actual results
Log from Celery Worker

[code]

#### Screenshots

NA

### Environment

(please complete the following information):

- superset version: `1.0.0`
- python version: `3.8`
- Geckodriver version : `0.24.0`

The following

[2021-02-01 18:32] KentonParton commented on #12850
Thanks for verifying @zhaoyongjie

[2021-02-01 18:45] Steejay commented on #12436
wanted to share this mockup here that shows a row returned indicator with additional info upon hover. I positioned the indicator under the results tab since it has a direct relationship with the result table.

The indicator displays w a success check icon when the row returned matches the limit dropdown or the limit specified in the query w a tooltip that adds context.

The indicator displays with

[2021-02-01 19:09] junlincc commented on #12531
@eugeniamz started working on this one, sorry about the delay.

[2021-02-01 19:10] rmgpinto commented on #12867
I've followed your steps and get on `superset-worker`:
[code]

[2021-02-01 19:11] #12608 closed

[2021-02-01 19:11] junlincc commented on #12641
resolved

[2021-02-01 19:11] #12641 closed

[2021-02-01 19:16] tooptoop4 commented on #12436
@Steejay if less rows than limit returned does it show the number returned?

[2021-02-01 21:23] pkdotson commented on #12708
I'll take this! 1/2 story

[2021-02-01 22:00] junlincc commented on #12708
Awesome! thanks for being proactive!! @pkdotson

[2021-02-01 22:31] suddjian commented on #12566
I agree that it needs refinement and should avoid creating obstacles for ourselves on something this unpolished. But if we can start with a narrow definition of what is public and what constitutes a major change, rather than an anything goes approach, it will give us a basis to move forward and clear reasoning for including most changes in a minor release. This gives plugin authors the confidence

[2021-02-01 22:53] Steejay commented on #12436
@tooptoop4 yes. anytime a query runs successfully there will always be a row returned indicator. here is another exploration that exposes the copy so that it does not rely on hover and hopefully simplifies the logic a little more.

_row indicator_ shows anytime a query successfully runs
_warning_ shows anytime the result is limited from the server side (config)
_message_ shows anytime the result i

[2021-02-01 23:32] ktmud commented on #12566
@suddjian  I'm OK with a loosely defined spec and agree it would help us solidify the API. Just hope we'd make sure to add a disclaimer about its unstableness if we do decide to put it in a public doc.

[2021-02-02 00:32] robdiciuccio commented on #12766
I tested locally running async queries against a MySQL database, and am still unable to replicate the issue. All of the stack traces you've posted appear to have something to do with a missing column in the dataset you're querying. I'm not sure how async queries could be the culprit here, as the query execution code is fundamentally the same, but please do let us know if you find any more informat

[2021-02-02 00:38] yousoph commented on #12436
Thanks @Steejay ! I like the indicator + messages in the second exploration you shared

cc @zuzana-vej as well, this is related to #10330 that you raised

[2021-02-02 00:42] eschutho commented on #12566
I updated the doc with this:

Does that capture the sentiment @suddjian and @ktmud?

[2021-02-02 01:13] github-wcha opened #12878 "Custom viz throwing KeyError from superset.views.base"
A clear and concise description of what the bug is.

I've been working on a custom visualisation, Traffic Lights, where I would be basically able to get a ratio and adjust the colour of the traffic light accordingly. I've tried to use a hello-world guide by [Preset](https://preset.io/blog/2020-07-02-hello-world/), but was getting bunch of errors repeatedly. Then, I've done some research and was ad

[2021-02-02 01:59] junlincc opened #12880 "[home]recent cards last edited time stamp is not working"
<img width="1786" alt="Screen Shot 2021-02-01 at 5 58 31 PM" src="https://user-images.githubusercontent.com/67837651/106541622-353e4c00-64b7-11eb-86a8-3e49fdb6d95c.png">

latest master

v1.0 looks alright

[2021-02-02 03:55] github-wcha commented on #12863
Sorry, I couldn't get the alert and reports to work. How do you enable this feature please?

[2021-02-02 04:46] calipeng opened #12881 "can't connect clickhouse db using superset occur ERROR: Could not load database driver: clickhouse"
URI String is : clickhouse://gpsec:xxx@xxx:8858/sec

docker-compose logs -f -t superset

uperset_app             | 2021-02-02T03:23:36.323066230Z 172.17.0.233 - - [02/Feb/2021 03:23:36] "GET /api/v1/database/_info?q=(keys:!(permissions)) HTTP/1.1" 200 -
superset_app             | 2021-02-02T03:23:36.323076390Z INFO:werkzeug:172.17.0.233 - - [02/Feb/2021 03:23:36] "GET /api/v1/database/_info?q=(key

[2021-02-02 04:49] calipeng commented on #12881
dba@noslt-db7:~/incubator-superset$ ./venv/bin/superset --version
Python 3.7.3
Flask 1.1.2
Werkzeug 1.0.1

[2021-02-02 04:49] calipeng commented on #12881
ClickHouse server version 20.9.3.45 (official build).

[2021-02-02 05:25] vinitpradhn18 commented on #12863
you need to set `ENABLE_ALERTS = True` and set `ENABLE_SCHEDULED_EMAIL_REPORTS = True` for scheduling reports

[2021-02-02 06:11] iercan commented on #12766
I tried too many config combinations but unfortunately couldn't resolve issue. For now, I decided to disable that feature and go on.

[2021-02-02 06:20] twointum commented on #9653
Is this a hardware issue? Am I stuck if I am at this point?

[2021-02-02 06:44] ktmud commented on #12566
Sounds good. Thanks for the updates, @eschutho !

[2021-02-02 07:30] vinitpradhn18 commented on #12863
I figured it out. I had to change the `WEBDRIVER_BASEURL` and `SUPERSET_WEBSERVER_ADDRESS` to my host IP. Thanks

[2021-02-02 07:30] #12863 closed

[2021-02-02 10:34] singh-ab commented on #12867
@iercan : I tried using chrome webdriver and the recommended settings . still the same error .

Note: I am still on superset - 1.0.0

@rmgpinto  : could you share part of your `dockerfile` and the superset `config`. I don't seem to get any error in my celery worker regarding this

[2021-02-02 10:36] rmgpinto commented on #12867
I am using the helm charts on this repo.

[2021-02-02 10:43] singh-ab commented on #9477
@miteshchavda : I was trying this fix of yours , couldn't get it working  . Here's the issue detail - https://github.com/apache/superset/issues/12871

Tried with firefox and chrome  . Let me know if you have inputs on this related to the `config` or the `dockerfile`

[2021-02-02 11:27] lanyusea commented on #8524
@suddjian
I'm trying to get this work with onmouseover/onmouseout

[code]

the resulting sample is correct, but when exploring there is only the 'img' part of code, the 'onmouseover' got disappeared when I check from the developer console.

any idea how to add this feature?

[2021-02-02 11:29] Kingflyinger opened #12888 "how to add custom style to mapbox?"
I have searched the way to add custom style to mapbox and found nothing.
but the six existing styles  is too boring, so anyone knows how  to add custom style to mapbox?

[2021-02-02 13:34] singh-ab commented on #10202
@iercan  : were you able to resolve the last error ? - `Failed to decode response from marionette` . I seem to be getting this when scheduling chart emails on superset - 1.0.0

[2021-02-02 13:41] iercan commented on #10202
@singh-ab using chrome webdriver solved issue for me.

[2021-02-02 13:45] singh-ab commented on #10202
I remember you mentioned this on one of the other issues I raised - https://github.com/apache/superset/issues/12867#issuecomment-770904265

Gave that a try and doesn't help , any other inputs ?  probably I am missing some flag in the `config` ?

I raised an issue specific to chart one with the details here - https://github.com/apache/superset/issues/12871

[2021-02-02 13:49] sunriseLe commented on #2174
after insatll pyhive[presto], I can access presto, no error like that:
Invalid driver: presto

[2021-02-02 13:54] michael-s-molina opened #12891 "Horizontal scroll not working in explore data panel"
### Expected results
In explore, if we resize the screen to a smaller width the horizontal scroll of the data panel appears and I can view all columns.

### Actual results
In explore, if we resize the screen to a smaller width the horizontal scroll of the data panel disappears and it's not possible to view all columns. Also as you can see in the gif, a row is appearing bellow the pagination compon

[2021-02-02 13:55] iercan commented on #12867
@singh-ab Can you check worker logs while thumbnails creation process started? Logs you send don't show any relevant error.

@rmgpinto You don't need to define `WEBDRIVER_AUTH_FUNC`. That is just an example in documentation to show how you should define it. Maybe that causes error.

[2021-02-02 13:57] rmgpinto commented on #12867
@iercan I use OAUTH to authenticate, isn't the function defined in `WEBDRIVER_AUTH_FUNC` used to override the authentication from superset?

[2021-02-02 14:01] iercan commented on #12867
It is optional. I'm also using OAUTH and didn't need to define.

[2021-02-02 14:11] scriminaci opened #12892 "Not time_range filters create empty select query"
With the current master, filter boxes create an empty select if no ordering criteria are selected.

### Expected results

The distinct values of the configured filter.  If I configure the filter with sorting criteria the right SQL query is generated:
`SELECT `EventType` AS `EventType`,
        COUNT(*) AS `count`
 FROM `***.***`
 WHERE ReferenceHour >= CAST('2020-11-02T00:00:00.000000' AS DATETIME

[2021-02-02 14:17] iercan opened #12893 "Last edited dates shown as invalid on welcome screen"
I realized last edited dates can not be shown on welcome page. I checked web console and backend logs but didn't see any error shown. Problem occurs only in Recents tab, all other tabs works fine.

### Expected results

Last modified date of charts and dashboards should be seen.

### Actual results

They shown as invalid.

#### Screenshots
![image](https://user-images.githubusercontent.com/3406152

[2021-02-02 14:30] villebro commented on #12892
Can you check if this fixes it? https://github.com/apache/superset/pull/12890

[2021-02-02 14:35] rmgpinto commented on #12867
Thanks @iercan, it worked.

[2021-02-02 14:37] singh-ab commented on #12867
@iercan : Looking at the worker logs when generating the thumbnails gives me similar error like the one you raised -  https://github.com/apache/superset/issues/12726

As you pointed out it is fixed in 1.0.1 , but I can't seem to find a relevant docker image for the same on - https://hub.docker.com/r/apache/superset/tags?page=1&ordering=last_updated .

[2021-02-02 14:39] dpgaspar commented on #12867
@singh-ab note that 1.0.1 is not out yet, but master tag should include that fix

[2021-02-02 15:07] #11822 closed

[2021-02-02 15:10] scriminaci commented on #12892
Hi @villebro. I can confirm that the #12890 fixes the issue.

Thanks!

[2021-02-02 15:14] singh-ab commented on #12867
@dpgaspar  : thanks !

post pulling master the logs at-least show that the thumbnails are being generated . But still the doesn't help

Screenshot :
Dashboard page :

![image](https://user-images.githubusercontent.com/70583041/106619944-624f3500-6571-11eb-95b4-7c233aaf7f79.png)

Welcome page:

![image](https://user-images.githubusercontent.com/70583041/106620011-72ffab00-6571-11eb-9fcd-5252034dbbb

[2021-02-02 15:43] iercan commented on #12867
Logs looks fine. You will see thumbnails second time you visit same page.

[2021-02-02 15:49] singh-ab commented on #12867
still same when I try to visit the dashboard/welcome page again !

[2021-02-02 15:54] iercan commented on #12867
Did you provide a cache service?

For example
[code]

[2021-02-02 16:10] singh-ab commented on #12867
indeed it was due to selecting `CACHE_TYPE : null` . Using the above config helped fix the issue. Thanks !

[2021-02-02 16:10] #12867 closed

[2021-02-02 16:37] singh-ab commented on #12867
For anyone here are the settings that helped me

**Using Chrome :**

Install chrome webdriver:

[code]

Add following to the config:

[code]

**Using Firefox :**

Install gecko and firefox:

[code]

Add following to the config:

[code]

[2021-02-02 16:57] nikolagigic commented on #12531
@eugeniamz @junlincc If I understood this correctly we want to add the predefined **Autocomplete query predicate** in case it exists to the filters query when its ran?

[2021-02-02 17:06] shemExelate opened #12895 "unhealthy "app" and "worker" docker containers"
after pulling latest and running `docker-compose up` inside `/docker` folder
`docker ps -a` prints
[code]

### Expected results

they should be healthy :)

### Actual results

unhealthy, affects debugging

#### How to reproduce the bug

1. git clone https://github.com/apache/superset.git
2. cd superset/docker
3. docker-compose up
4. wait for init container to finish (also unhealthy)

### Environme

[2021-02-02 17:07] suddjian commented on #8524
Javascript is stripped out of the HTML to prevent scripting attacks. There may be a feature flag that disables this protection, but pit is not advised.

[2021-02-02 18:23] junlincc commented on #12893
thanks for reporting! this is a duplicate issue of [[home]recent cards last edited time stamp is not working  ](https://github.com/apache/superset/issues/12880), so glad to see that the community is using home screen.
@iercan besides this regression, can i schedule a user interview with you for home screen? thanks

[2021-02-02 18:23] #12880 closed

[2021-02-02 18:36] nytai opened #12896 "[Superset SPA] Set up lazy loading of the various "apps""
Part of superset SPA frontend project

https://github.com/apache/superset/projects/10

[2021-02-02 18:37] nytai opened #12897 "[Superset SPA] merge various apps into a single entry (using lazy loading for each "app")"
Part of project
https://github.com/apache/superset/projects/10

[2021-02-02 18:48] nytai commented on #12897
Actually, this is likely blocked by needing to normalize our store. Each app, aside from mounting a component, also sets up redux with an initial state.

[2021-02-02 19:54] yousoph commented on #10825
Proposed copy for the description:

The number of hours, negative or positive, to shift the time column. This can be used to move UTC time to local time.

[2021-02-02 20:56] raphaelauv commented on #12881
same for me , maybe sqlalchemy-clickhouse is not part of the docker image of dev

[2021-02-02 20:59] nytai commented on #12881
There's info for how to add python db drivers in the docker docs

https://github.com/apache/superset/blob/676e0bb28211ec8e588abb8898924771d3dd6f32/docker/README.md#local-packages

[2021-02-02 21:26] cmenzelqlp commented on #6242
@bbs2009 What drivers did you use for Firebird? and was the second BD folder the one that contained your remote rdb file? Can't get ours to connect and we're thinking it's the request URI.

[2021-02-02 21:30] suddjian commented on #12878
That sounds like a cool plugin @github-wcha! This error comes from the backend, which, if your plugin is using the v1 chart API, shouldn't have any knowledge of viz types. Let me see if I can figure out what's going on here.

[2021-02-02 21:34] suddjian commented on #12878
Any chance you could point me to a github repo with your plugin code? The link on npm still points to the official superset-ui repo.

[2021-02-02 21:35] raphaelauv commented on #12881
Alright ! thank @nytai

by adding sqlalchemy-clickhouse inside superset/.docker/requirements-local.txt

but I still have error connecting to clickhouse, even when I add it to the docker-compose.yaml of the repo

[code]

clickhouse://username:password@clickhouse_db:9000/my_database

[code]

Any idee ? thank again

[2021-02-02 21:50] nytai commented on #12881
Looks like you got past the missing driver error though. I suspect your connection string is wrong, are you sure it's not port `9001`? You could try to connect to your db outside of the superset context to make sure a connection is possible

[2021-02-02 21:55] betodealmeida opened #12899 "Consolidate SQL components"
We currently have a few places where users can write SQL:

- SQL Editor
- When editing a virtual dataset
- When defining a custom metric
- Editing a metric in a dataset (https://github.com/apache/superset/issues/5417)

Each one uses a different component for the user to type SQL. Ideally, we should use a single component, making the experience consistent and having features available everywhere (f

[2021-02-02 22:13] github-wcha commented on #12878
Thanks @suddjian for helping to resolve the error. The code for the plugin is very similar to the [big number preset chart](https://www.npmjs.com/package/@superset-ui/legacy-preset-chart-big-number) and can be found in [here](https://github.com/thanksgold/plugin/tree/main/plugin-chart-traffic-lights).

[2021-02-02 22:16] pabrahamusa opened #12900 "Hide tool Bar for SQLLab Tab broken 1.0"
A clear and concise description of what the bug is.

### Expected results

When you have multiple tabs , Hide Tool Bar should appear for all 'Expanded' Tabs

### Actual results

When you have multiple tabs, Hide tool Bar will only work for first tab. All remaining tab will still display Expand Tool Bar. which is incorrect .

#### Screenshots

In this image you can see that it is not displaying 'Hi

[2021-02-02 22:25] junlincc commented on #12900
tested on master by creating 10 tabs, clicked all Hide tool bar on all tabs, seems working properly.
however, please do checkout master yet as we discovered some severe regression. please expect fixes in patch release @pabrahamusa

https://user-images.githubusercontent.com/67837651/106670707-4001eb00-6562-11eb-8fd1-72e391dfe2cb.mov

[2021-02-02 22:53] junlincc opened #12902 "[table]date time column format in postgres"
<img width="1160" alt="Screen Shot 2021-02-02 at 2 52 44 PM" src="https://user-images.githubusercontent.com/67837651/106673384-5dd14f00-6566-11eb-8dc8-5e98f0bf91f9.png">

lastest master

[2021-02-02 22:54] junlincc opened #12904 "[table]date time column format in vertica"
<img width="1423" alt="Screen Shot 2021-02-02 at 2 20 28 PM" src="https://user-images.githubusercontent.com/67837651/106673503-88230c80-6566-11eb-914d-b88235df6f5a.png">

lastest master

[2021-02-02 22:59] ktmud commented on #12902
Could you add more details on what is the expected behavior and how to reproduce?

[2021-02-02 23:07] ktmud commented on #12904
Could you add more information on how to reproduce?

[2021-02-03 00:01] ktmud commented on #12878
Looks like you are still using [the legacy API](https://github.com/thanksgold/plugin/blob/main/plugin-chart-traffic-lights/esm/TrafficLights/index.js#L27). We recommend creating new viz plugins using the new chart data API, which requires setting `useLegacyAPI` to `false`.

You can check out the official non-legacy plugins (e.g. [plugin-chart-word-cloud](https://github.com/apache-superset/superset

[2021-02-03 00:04] francis-dupuis commented on #11507
So I've used geckodriver and chrome on 1.0.0 and 0.38 and they've both worked. The problem is that a dashboard email job won't complete. You need to know how to debug this to get anywhere.

From a surface level, it could be a couple of things that are all speculatory...

- You're posting incorrect credentials with the webdriver
- The webdriver process isn't launching at all (incorrect webdriver UR

[2021-02-03 00:27] srinify commented on #12237
hey @mctouch just thought I'd follow up!

[2021-02-03 00:29] github-wcha commented on #12878
Hi @ktmud, indeed you were right, I was still using the legacy API. I set that to false and it works now. Thanks heaps! I really appreciate your help!

[2021-02-03 00:29] #12878 closed

[2021-02-03 00:32] srinify commented on #12847
I will also raise my hand to help! @villebro @junlincc

[2021-02-03 00:32] yousoph commented on #12900
Thanks for reporting, I'm seeing the issue on master (hide toolbar, switch to a tab with an expanded toolbar, click to try to hide the toolbar in the new tab)

[2021-02-03 00:37] robdiciuccio commented on #12566
Looking really good!

Re: mergeability of PRs, it sounds like PRs that introduce a breaking change will be kept open until such time as there is a major version release branch, unless the change can be put behind a feature flag. Is that the intention? Will the same process apply to new features introduced for minor versions, or will these be mergeable to master prior to a release?

Separately, I n

[2021-02-03 01:51] junlincc commented on #12847
@anushkrishnav @srinify thank you so much both for your interest! @villebro needs to lay some groundwork first to make this process easier for you guys. We will reach out and kick off the project by the end of next week.

@austinpray are you in Superset slack?

@mistercrunch so glad to see that we have more and more contributors from the community. 😀

[2021-02-03 01:59] zhaoyongjie commented on #12904
@junlincc
I guess that `date_added` is a metric, so formatted by `d3-format`. `view samples` showed the original integer without format

[2021-02-03 02:02] junlincc commented on #12904
This is in our production I couldn't repro from master either. the team thinks that s regression

[2021-02-03 02:04] zhaoyongjie commented on #12904
![image](https://user-images.githubusercontent.com/2016594/106687364-f3bcb680-6606-11eb-8056-d9c674b7a273.png)

This is not a regression bug, this is called `metric formatted`. I'll give you some demonstrations.

[2021-02-03 02:18] ktmud commented on #12904
<img width="935" alt="temporal-numeric" src="https://user-images.githubusercontent.com/335541/106688396-e2ca6180-6582-11eb-89ea-7654995259e1.png">

I think this could happen when you check "Is temporal" on a numeric column. We can count it as a regression (albeit a tricky one) if previously the table chart was able to treat it as a time column.

I'll see if I can make this more robust.

[2021-02-03 03:29] rwspielman opened #12907 "Total Row for Table Charts"
**Is your feature request related to a problem? Please describe.**
Table charts don't include an option for 'Total' when utilizing group by. There **is** the option to do this in pivot tables, however, the 'All' record just floats around and isn't really useful to quickly glance at from the user's POV.

**Describe the solution you'd like**
A toggle option on table charts that lets the user include

[2021-02-03 04:13] anushkrishnav commented on #12847
Is there a IRC or slack channel where I can seek guidance or talk to mentors, I am interested to work with Apache at GSOC 21 I wanted to understand the codebase and how I can be helpful.

[2021-02-03 04:21] Renganayaki1 opened #12908 "Ability to give Row Level Security to users directly instead of roles."
We have Row Level Security option under the "Setting". We can add tables on which the RLS to be applied, we can select filter type and can give WHERE Clause. But in option "Roles", we can add only roles. To do that, we need to create users first, then to create roles, assign it to the users and then add it there..
But, in some situation, we will be having 100s of users under different departments.

[2021-02-03 05:25] Renganayaki1 opened #12910 "Giving access based on Dashboards instead of Datasources."
As of now, we can give access based on data sources. If we give permission to one dataset, all the dashboard created using that dataset can be viewed. But what if we need to restrict some of the dashboards here.

We should need the access permission based on Dashboads.

Some of the related Issues, SIP and pull requests i have seen. I have attached all the link below.

1) https://github.com/apache/

[2021-02-03 05:39] lanyusea commented on #8524
@suddjian  any idea which flag/parameter I should modify? trying to find but no luck.
I deployed in my local PC so the security issue should be ok.

[2021-02-03 06:16] Geethanjali11 opened #12911 "Multilayer map - Feature to toggle between different layers"
## Description

Is there a feature to toggle between different layers in a deck.gl multiple layer map once it is published in a dashboard?
For example, if a map has 3 layers (scatterplot, line map, arc map) , I want to enable only scatterplot. A toggle button to change the layers.

[2021-02-03 06:21] Geethanjali11 opened #12912 "Tooltip in multilayer map"
## Screenshot

[drag & drop image(s) here!]
![image](https://user-images.githubusercontent.com/78130557/106706634-fd014f80-6615-11eb-8c50-898786c61c3b.png)

## Description

I have three layers in this map. Scatterplot layer has customised tooltip as displayed. But the tooltip is displayed only when I hover over a point outside polygon layer. Ideally, I want the tooltip over every point irrespectiv

[2021-02-03 06:55] rwspielman opened #12913 "[async] error: component not found for job <id>"
We are sporadically seeing the error 'component not found for job <id>' in the dev console when loading dashboards with Global Async turned on. The charts never loads. When searching through the network requests, we can see that the api request to async_event does in fact return the correct job and we can follow the result_url in that api response to the data of the missing chart. It does not make

[2021-02-03 08:09] amitmiran137 commented on #12910
Hi there.
It is always good to know that others can't wait for that feature ;)

we are working towards the **first** milestone of implementation in which dashboard access can be enforced bases on roles assigned to ( est. in 2-4 weeks)
but you'll still need to manage the data access in order to allow charts on your dashboard to fetch data

the **second** milestone is to enable data access to all of

[2021-02-03 08:13] kamalkeshavani-aiinside commented on #12847
I would like to contribute but not sure what skills are required for it. I am comfortable with Python, so let me know if I can be of any help.

[2021-02-03 08:36] villebro commented on #12847
Thanks for volunteering @anushkrishnav and @kamalkeshavani-aiinside, this is awesome! ❤️  We're currently cleaning up some typing issues that changed when upgrading from ECharts 4.x to 5.x (FYI @maloun96 who is looking into this right now). Once we have those cleaned up it should be easier to start work on these new plugins. @mayurnewase is currently working on the graph viz, (see https://github.c

[2021-02-03 08:51] aminhakimsazali opened #12915 "Unable to import Postgresql table"
A clear and concise description of what the bug is.

### Expected results

Import table from Postgres Database

### Actual results

I created a PostgreSQL database using AWS RDS and then import the database into Superset. I've checked the connection and it prompted OK.

![image](https://user-images.githubusercontent.com/32535528/106720516-8a589a00-663e-11eb-8831-1c29ae02940d.png)

The table 'test'

[2021-02-03 10:18] ethanhuang1009 opened #12916 "when i upload a csv file with chinese characters, faced a error"
A clear and concise description of what the bug is.

### Expected results
upload success

### Actual results
upload failed and I faced an error without any solutions

#### Screenshots

**Unable to upload CSV file "11.csv" to table "11" in database "test". Error message: 'utf-8' codec can't decode byte 0xd4 in position 0: invalid continuation byte**

#### How to reproduce the bug

1. Go to 'upload

[2021-02-03 11:24] anushkrishnav commented on #12847
Sounds great @villebro , if you can share some prior examples and things we need to prior to starting this that would be useful, we can get ready so that once it kicks off we can jump right in and start working on it. I am currently learning about Event tree diagrams, Funnel charts, Process flow diagrams.

[2021-02-03 13:03] villebro commented on #12847
@anushkrishnav while we work on this, please check out the examples on the ECharts homepage, there's loads of good examples there to draw inspiration from. Also feel free to check out what the current ECharts implementations look like: https://github.com/apache-superset/superset-ui/tree/master/plugins/plugin-chart-echarts

[2021-02-03 13:26] antobenve commented on #11443
I confirm this issue on both the old version and the new 1.0.0 version.

[2021-02-03 13:39] iercan commented on #12893
@junlincc To be honest I opened this issue not because we are using home screen too much. It was just too easy to see and I wanted to inform community :) But sure we can still talk. You can reach me via ibrahim.ercan@vlmedia.com.tr

[2021-02-03 14:22] #12794 closed

[2021-02-03 14:38] cmenzelqlp opened #12919 "Can't Connect to Firebird DB"
Hello!

I'm having a problem with connecting to my firebird database.

Superset version: Version: 0.999.0dev

In my Dockerfile, I have these firebird drivers installed:
**fdb**
**sqlalchemy-firebird**

Via the fdb website (and similarly the sqlalchemy-firebird website), it says to use this URI format: firebird+fdb://user:password@host:port/path/to/db[?key=value&key=value...]
Source: https://docs.s

[2021-02-03 14:43] #12919 closed

[2021-02-03 15:39] zhaoyongjie commented on #12916
@ethanhuang1009
Please check the CSV file enconding.
1. Do not use CSV file exported from Excel on Windows plantform, Excel exported CSV file encoding is `utf8-with-bom`.
2. The Superset only supports utf8 encoding CSV file import, so please carefully check the file encoding format.

This is a rough encoding issue,  in the future we can use some solution guess that file encoding.

[2021-02-03 16:33] #12866 closed

[2021-02-03 17:08] Steejay commented on #12842
@mistercrunch just to clarify, users can actually _create_ new schemas in this field not just select existing schemas?

[2021-02-03 17:21] caiobelfort commented on #7286
Well, don't expected this to be fast. I will use as opportunity to reforge my javascript skills.

[2021-02-03 17:55] etr2460 commented on #12332
cc @betodealmeida or @hughhhh who I think have been active in SQL Lab recently. Are you aware of any changes that were made to the table selector on the frontend that could've regressed the filtering speed?

[2021-02-03 18:44] zuzana-vej opened #12922 "[SQL Lab] Can't scroll in SQL Lab Query History"
Can't scroll in SQL Lab query history - the scroll bar is not there.

### Expected results

User was previously able to scroll using a scoler on the right side.

### Actual results

User can't scroll to see previous query history details

#### Screenshots

<img width="1335" alt="Screen Shot 2021-02-03 at 10 41 59 AM" src="https://user-images.githubusercontent.com/61221714/106793712-a6dbde80-660c-1

[2021-02-03 18:45] zuzana-vej commented on #12922
FYI @yousoph

[2021-02-03 19:08] applechip commented on #3269
Any chance this issue can be reopened? I know there is a workaround using Jinja templating but that is inconvenient.

[2021-02-03 19:29] rwspielman commented on #12913
FYI @robdiciuccio - I saw you were in charge of the async feature commits

[2021-02-03 19:52] ramyarajasekaran opened #12929 "Presto admin commands(set role, grant perms) not supported on Superset"
### Environment
- superset version: `0.37.2` I upgraded to 1.0.0 and still saw this issue.
- python version: `3.6`
- node.js version: `12`

**Is your feature request related to a problem? Please describe.**
Superset does not support Presto's administrative commands such as SET ROLE, GRANT PERMS ON ROLE, CREATE ROLE, etc. These commands work on Presto CLI. Are there plans to support this feature in

[2021-02-03 21:00] pl77 commented on #12592
I'm also encountering this, but otherwise the instance appears to be working as it should.  I have `superset init`'d my instance more times than I can count. I enabled the `ENABLE_PROXY_FIX = True` suggestion from Mistercrunch from this issue: https://github.com/apache/superset/issues/6824#issuecomment-485318807

I was next going to tinker with various CORS settings to see if I could corner this b

[2021-02-03 21:09] pl77 commented on #12910
@amitmiran137 This sounds complex.  If a person has access to the dashboard it would seem that they pretty much already have access to the data source, do they not?  I guess, from my side, if I wanted to prevent users from accessing various columns or records within a table/database I'd just generate a separate materialized view or other temporary table with the permissible data and give the users

[2021-02-03 23:38] VSZM commented on #12805
Also why is it not possible to customize the individual layers?

[2021-02-04 01:16] ethanhuang1009 commented on #12916
@zhaoyongjie  Thanks you very much. I change the file encoding format from **utf8-with-bom** to utf8, then I can upload the file successfully. And I hope Superset can find and give us a better solution for the non-utf8 character set files in the near future.

[2021-02-04 03:03] Kingflyinger commented on #12888
is there anyone knows the way? I`m a new learner,but I do feel there is an easy way to add a custom style to the chart.please help me out

[2021-02-04 05:16] rwspielman opened #12935 "[multi-chart] Legend Keys are displaying incorrectly"
Looks like this line is the cause
https://github.com/apache/superset/blob/94b6b29362ffec0dffc623c002a2cfd2153a6807/superset/viz.py#L1459

### Expected results

Legends to show up as normal text

### Actual results

chart keys show up as tuples

#### Screenshots

<img width="342" alt="Screen Shot 2021-02-03 at 11 11 25 PM" src="https://user-images.githubusercontent.com/20442310/106847751-2a311a80-6