[2020-12-17 19:25] junlincc commented on #12102
@maloun96 hey Victor, mind taking this on? please reach out to the feature owner @kgabryje if you have any questions. thanks!🙏

[2020-12-17 19:29] junlincc commented on #11748
awesome! i was saving this bug for myself to work on lol 😅but yea thanks for picking it up and being proactive!

[2020-12-17 23:25] nytai commented on #11680
@kgabryje That's a great question. I have spend quite a bit of time working around this (adding `PaginatedSelect`) and have often questioned the value of paginating these payloads. @dpgaspar do you have any thoughts around removing pagination for these endpoints?

[2020-12-18 01:09] zuzana-vej opened #12105 "[dashboard] Filter box dropdown BROKEN for boolean values"
User can't select value in filter box dropdown, if the value is type boolean. Other values work. This is a regression.

### Expected results

Be able to select value.

### Actual results

Can't select value - no values show up.

#### Screenshots
![filterbox-issue-boolean](https://user-images.githubusercontent.com/61221714/102561801-78b93400-408a-11eb-9891-91aaa65f2739.gif)

#### How to reproduce t

[2020-12-18 01:12] zuzana-vej commented on #12105
Another screenshot - same issue you can see on Explore if you see the filter box there.
![Screen Shot 2020-12-17 at 5 11 59 PM](https://user-images.githubusercontent.com/61221714/102562028-0b59d300-408b-11eb-8eb1-c511afd7bf0a.png)

[2020-12-18 01:15] zuzana-vej opened #12106 "[explore] Data section in Explore empty for column with boolean values"
The new Data section on chart explore is empty if the column type is boolean.

### Expected results

Display the values

### Actual results

Empty column

#### Screenshots
![Screen Shot 2020-12-17 at 4 53 37 PM](https://user-images.githubusercontent.com/61221714/102562150-51af3200-408b-11eb-84b2-5f7c4ec510c1.png)

#### How to reproduce the bug

1. Go to 'Explore'
2. Create chart which includes a b

[2020-12-18 01:45] zuzana-vej opened #12107 "[dashboard] Typing text in filter box dropdown / multi select doesn't work"
Typing text in filter box doesn't work. Previously, user could type and the filter would display those results. For multi select or dropdown with less values, user can still select what they want. But if the dropdown has many records, or even more then the default that gets loaded and dashboard producer enabled typehead search, user can't actually even get to what they might want to filter on whic

[2020-12-18 01:46] zuzana-vej commented on #12107
Regression probably caused by same as https://github.com/apache/incubator-superset/issues/12105

[2020-12-18 01:55] zuzana-vej opened #12108 "[cosmetic][dashboard] Expanding three dots on filter box is rendered behind, not all options visible"
Cosmetic issue (regression) - when you click the three dots on a smaller filter box, the popup with list of options renders in the background (inside the filter box component) instead of over (previous behavior) meaning it's hard for user to select their action. This is especially visible on the filter box, (could be in small charts too in theory).

### Expected results

Render over so that all op

[2020-12-18 01:55] zuzana-vej commented on #12108
This one is certainly low priority, probably introduced together with https://github.com/apache/incubator-superset/issues/12107 and https://github.com/apache/incubator-superset/issues/12105

[2020-12-18 02:02] zuzana-vej commented on #12004
Just wanted to confirm this is still the issue and we are 100% up to date with mater now -- see the gif in above listed comment. it only happens for time grain, and when you don't have many other filter boxes below.

[2020-12-18 02:09] junlincc commented on #12105
on it! sorry about the regression! @geido 🙏🙏
cc: @kgabryje

[2020-12-18 02:11] junlincc commented on #12107
on it!! sorry about the regression!

[2020-12-18 05:40] junlincc opened #12109 "[explore]click Altered crashing the page"
![crash](https://user-images.githubusercontent.com/67837651/102578936-386cac80-40b0-11eb-9c85-9c2a3e6e9c68.gif)

Issue 1 Altered button crashes the page
Issue 2 Altered is missing on the new sample charts

<img width="2041" alt="Screen Shot 2020-12-17 at 9 39 48 PM" src="https://user-images.githubusercontent.com/67837651/102579000-67831e00-40b0-11eb-9a00-d01a470f46e7.png">

[2020-12-18 07:05] rusackas commented on #12106
Opened a PR with a fix that _works_ but doesn't _feel_ quite right. Tagged some others on it for help with input/review.

[2020-12-18 08:31] ktmud commented on #11968
The rendering performance is also not very great while the "View Samples" tab is open. Sorting that table and resizing the panes are almost unberable.

[2020-12-18 08:34] ktmud commented on #11968
And it stays slow even when I switched back to the View Results tab.

[2020-12-18 08:45] #12105 closed

[2020-12-18 09:22] rusackas commented on #12108
I think I see what's happening here... in `SliceHeaderControls.jsx` you can see that AntD's `getPopupContainer` is used to render the Dropdown within the chart, where it used to be rendered in the `body` (the default behavior). This happened to show/hide the menu when taking a screenshot, which was fixed in https://github.com/apache/incubator-superset/pulls/11778

CCing for context: @kgabryje @nik

[2020-12-18 09:26] kgabryje commented on #12108
Most likely it's caused by `visibilty: hidden` in 1 of Antd's components. Overriding it to `visible` should do the trick. I can take a look once I'm done with tasks related to explore redesign

[2020-12-18 09:56] lanyusea commented on #12052
I just found the superset will resend the query request if the result doesn't go back in around 120s. So if the mysql failed to finish the query in 120s, it will run into a terrible condition until all resources used up.

anyone know how could I modify this retry behavior?
didn't find any related settings in the config file.

[2020-12-18 10:03] ravens510127 commented on #7503
Hi @kleiven  do you fix it?

[2020-12-18 10:11] kgabryje commented on #11968
@ktmud Shall we open an issue for performance improvements?

[2020-12-18 10:15] villebro commented on #11968
Oh that's what that was. I hit this yesterday and wondered why everything became so sluggish all of a sudden.

Yeah, I think this is pretty important to fix, as the new layout will probably result in increased use of the Samples tab.

[2020-12-18 16:36] ktmud commented on #12107
Fixed by #12114

[2020-12-18 16:42] #12107 closed

[2020-12-18 18:17] XiaoConstantine opened #12126 "Local docker start-up failed due to `ModuleNotFoundError: No module named 'holidays'`"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.
with latest master:

[code]

[code]
will start a minimum working env locally

### Actual results

what actually happens.

[code]

#### Screenshots

If applicable, add screenshots to help explain your problem.
[localhost:8088](url)

![Screen Shot 2020-12-18 at 1 16 28 PM](https://user-images.gith

[2020-12-18 18:19] nytai commented on #12126
if you run `docker-compose pull` it should fix this for you.

[2020-12-18 18:21] XiaoConstantine commented on #12126
Confirm the issue is gone. Thanks @nytai for your quick reply

[2020-12-18 18:21] #12126 closed

[2020-12-18 18:40] #12106 closed

[2020-12-18 18:48] nytai commented on #11680
We could also send the request with `page_size=2000` or something large enough to solve this issue for most practical cases.

[2020-12-18 19:04] dpgaspar commented on #11680
We will probably go with `page_size=2000`, and address this properly next. A possible solution is to create a small feature on the generic related endpoint to support something like:
[code]
Where the endpoint would get filtered paginated data and make sure the requested ids were included on the response also. At a probable cost of a further query but still more efficient then sending back a very l

[2020-12-18 21:10] badman-rodriguez commented on #12040
Seems to be specific with chrome... closing for now. Posting a solution on this later.

[2020-12-18 21:10] #12040 closed

[2020-12-18 21:16] #11984 closed

[2020-12-18 21:17] #11748 closed

[2020-12-18 22:08] ktmud opened #12133 "[SQL Lab] Double click to edit tab title"
**Is your feature request related to a problem? Please describe.**

Currently you have to click three times in order to edit the title of a SQL Lab tab:

<img src="https://user-images.githubusercontent.com/335541/102665507-c80a6d80-4139-11eb-9779-1a5e25349a17.png"
 width="400" />

Considering the tab title is almost the most important thing you want to change on a tab, it would be nice if we can m

[2020-12-18 22:13] ktmud opened #12134 "[Cosmetic][SQL Lab] Don't capitalize SQL Lab tabs"
## Screenshot

#### Current

<img src="https://user-images.githubusercontent.com/335541/102665957-b4133b80-413a-11eb-8ffe-604157faa5db.png" width="600">

#### Proposed

<img src="https://user-images.githubusercontent.com/335541/102665928-a5c51f80-413a-11eb-9c91-695e7cdf754e.png" width="500">

## Description

We shouldn't capitalize user inputs. If it makes sense for users to capitalize, they will

[2020-12-18 22:19] junlincc commented on #12134
+1

[2020-12-19 00:03] zuzana-vej opened #12137 "[Crud view] Data-->Databases page: Edit buttons invisible on database editor on crud view"
On small screen laptop, the column "Actions" is completely missing. On larger screen laptop, the column is available with no buttons.

### Expected results

Resize so that user with smaller screen can also see. Also have the buttons visible.

### Actual results

No buttons are visible. For user with small screen entire section Actions is invisible.

#### Screenshots

Problem 1: large screen - butt

[2020-12-19 00:04] zuzana-vej commented on #12137
(FYI @john-bodley )

[2020-12-19 00:56] nytai commented on #12137
@zuzana-vej The buttons only being visible on hover is by design.

There is a mind width on the table, so at smaller screen sizes the table changes to overflow scroll. Looks like 13inch MBP is unfortunately the width for 8 columns to fit perfectly across the screen, so it looks like the 9th (actions) column is completely gone. If you scroll the table horizontally, you'll see the actions column.

A

[2020-12-19 01:02] nytai commented on #12137
design rationale around only showing actions on hover

we've discussed other options instead of having an actions column that could work nicely. but holding on changing all of this until next version.

@mihir174 or @steejay can provide more context

[2020-12-19 01:04] zuzana-vej commented on #12137
Maybe @john-bodley  can confirm if he saw the option to scroll - it didn't appear like it from his screenshot, he is the one with 13 inch laptop.

With regards to the buttons missing (appear on hover) as design choice - interesting and thanks for clarifying that. I am not a designer, I personally thought it's a bug and I wonder whether users will think the same, but I am open to wait and see if mo

[2020-12-19 01:16] nytai commented on #12137
The scroll bar does not appear until the list is actually scrolled, that was a change requested by design as I believe in firefox the scrollbar would always render otherwise. As for the buttons on hover, we have had discussions around this internally and it is a contentious decision.

It's great to have this issue open though, so we can continue this discussion and hopefully achieve consensus on t

[2020-12-19 01:20] ktmud commented on #12137
If this was the reason, it seems to me there are quite some real estate left still:

<img src="https://user-images.githubusercontent.com/335541/102677021-2b55c900-4155-11eb-854a-b55b9b5b025b.png" />

Maybe there are ways to make the column width even more flexible?

[2020-12-19 01:43] nytai commented on #12137
We can tweak some column sizing values but it will still continue to be an issue at smaller screen sizes. I think the percentage based layout mentioned in https://github.com/apache/incubator-superset/issues/11689 is the more scalable solution, though it requires figuring out what percentage of the full width a column should occupy for each table instance (ensuring all values add up to 100%). Addin

[2020-12-19 01:51] ktmud commented on #12137
https://apache-superset.github.io/superset-ui/?path=/story/chart-plugins-plugin-chart-table--big-table

Maybe we should just use dynamic width like in the superset-ui table chart (feel free to resize the container, sort different columns, and click on paginations to see the interaction).

There are ways to remember the initially rendered column width so the UI wouldn't seem so jumpy. Check out the

[2020-12-19 02:04] zuzana-vej commented on #12137
how do you scroll horizontally if there is no scroll bar? Like I guess with the mousepad on mac you can, but how about with external mouse? It didn't appear to John to scroll or didn't see like he saw any scroll bar.

[2020-12-19 02:21] nytai commented on #12137
@ktmud I'm still seeing some some column resizing, in your example, happening when sorting by `name`, and the table still has a min width and it changes to scroll once it's reached. You are correct, the column widths do shrink to minimum possible width (based on content) before the table begins to scroll, which is not a behavior on the list views (only a few column widths change with screen size u

[2020-12-19 02:37] nytai commented on #12137
I do want to highlight that 13in MBP users do represent a significant demographic and this is not an ideal experience and warrants a better solution that "you should just know to scroll" or "change your default OS settings". I just wanted to underscore that this is a hard UI/UX problem (without a perfect solution at the moment) and that there is currently a work around (though not immediately obvi

[2020-12-19 04:22] junlincc opened #12139 "[explore]filter placeholder push out in IN and NOT IN"
<img width="1787" alt="Screen Shot 2020-12-18 at 8 09 57 PM" src="https://user-images.githubusercontent.com/67837651/102680509-9a3f1c00-416d-11eb-904e-9348de903d01.png">

super minor cosmetic issue in new ad hoc filter popover.
to reproduce:
-  create a new chart
-  add a filter from the SIMPLE tab
- select operator IN , NOT IN
- select multiple values -see placeholder overflow

[2020-12-19 04:31] junlincc opened #12140 "[explore]time picker select dropdown and scroll"
🗒this issue was not seen when the PR was last tested and merged. it might caused by conflicts

https://user-images.githubusercontent.com/67837651/102680719-bcd23480-416f-11eb-87e6-e2862790a659.mov

due to the conflicts with recent refactoring work, new time picker select dropdown is cutoff, scroll bar is not showing.
(not caused by the original PR)

[2020-12-19 04:48] junlincc opened #12141 "[explore]customize previous calendar week time range"
<img width="1180" alt="Screen Shot 2020-12-18 at 8 41 56 PM" src="https://user-images.githubusercontent.com/67837651/102680903-bfce2480-4171-11eb-8b1a-641cffd3dd0f.png">
<img width="543" alt="Screen Shot 2020-12-18 at 8 43 45 PM" src="https://user-images.githubusercontent.com/67837651/102680907-c2c91500-4171-11eb-946d-1f612ca45532.png">

also minor issue, need to set calendar week range from `Sund

[2020-12-19 04:57] nytai commented on #12141
I this this varies by locale, some start the week on Sunday and others on Monday. From [wikipedia](https://en.wikipedia.org/wiki/Week)

It's likely that whatever library is generating this range is following the ISO 8601 standard.

[2020-12-19 05:02] zhaoyongjie commented on #12140
@junlincc
I would use Antd Popover to replace the original Modal, refactor DateFilterControl, and maybe avoid this problem.

[2020-12-19 05:02] junlincc opened #12142 "[explore] data panel should have fixed width"
note! this issue was not seen when the PR was last tested and merged. it might caused by conflicts

https://user-images.githubusercontent.com/67837651/102681067-420b1880-4173-11eb-825a-3705ccfd8ff2.mov

minor cosmetic issue-changing dataset to one with longer name should not increase the width of left panel.
name should be truncated if not fit, tooltip should show when hovering
(this issue was not

[2020-12-19 05:08] junlincc commented on #12141
enhancement request: allow user to customize "calendar week"

[2020-12-19 05:10] nytai commented on #12141
We could also try to detect the locale, but empowering the user is probably best for a BI tool.

[2020-12-19 05:14] zhaoyongjie commented on #12141
This is a problem that can be solved by introducing a config item.

[code]

[2020-12-19 05:22] zhaoyongjie commented on #12141
@nytai Since the server is often set to UTC time zone, it may not be easy to detect

[2020-12-19 05:31] junlincc opened #12143 "[explore]data panel scroll disappear and the page freeze"
note! this issue was not seen when the [PR](https://github.com/apache/incubator-superset/pull/12008) was last tested and merged. it might caused by conflicts

!! when the page freezes after switching to a dataset that has long list of columns, control panel also becomes not scrollable, and the Data section is gone..........

Now:

https://user-images.githubusercontent.com/67837651/102682207-95ce2f

[2020-12-19 06:11] nytai commented on #12137
I was able to adjust come column widths, as per @ktmud's suggestion, and database list view should now render all columns in view for the MBP 13in full viewport width of 1280px.

It does make things a bit tighter/off-balance on my external monitor set at 3008px, but that's relatively minor.
<img width="3007" alt="Screen Shot 2020-12-18 at 10 02 29 PM" src="https://user-images.githubusercontent.com

[2020-12-19 06:56] junlincc commented on #12143
fixed by https://github.com/apache/incubator-superset/pull/12145 ⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️⚡️
many thanks Phillip!!  @pkdotson

https://user-images.githubusercontent.com/67837651/102683231-3a07a480-4184-11eb-9480-178175e4cb01.mov

[2020-12-19 06:56] #12143 closed

[2020-12-19 07:22] #12084 closed

[2020-12-19 16:21] junlincc opened #12148 "[🎉New Feature for Testing]Dashboard native filter and cascading filter are HERE!"
Highly requested from the community for a couple of years, Superset's new Dashboard Native Filter and Cascading Filter are finally available, ready for testing in master!! We welcome your feedback and comments!

It has been a six months long collaborative project leading by @suddjian, with the dedicated effort from multiple developers.
Credit goes to the below awesome contributors ♥️
@suddjian @vi

[2020-12-19 16:29] junlincc commented on #9935
https://github.com/apache/incubator-superset/issues/12148
dashboard native filter and cascading filter are available for testing!! thanks in advance for feedback, comments, and critics

[2020-12-19 16:30] junlincc commented on #10285
#12148
dashboard native filter and cascading filter are available for testing!! thanks in advance for feedback, comments, critics, love and support!!

[2020-12-19 16:31] junlincc commented on #347
#12148
dashboard native filter and cascading filter are available for testing!! thanks in advance for feedback, comments, critics, love and support!!

drilldown is coming soon too

[2020-12-19 16:31] junlincc commented on #10013
#12148
dashboard native filter and cascading filter are available for testing!! thanks in advance for feedback, comments, critics, love and support!!

[2020-12-19 16:31] junlincc commented on #3015
#12148
dashboard native filter and cascading filter are available for testing!! thanks in advance for feedback, comments, critics, love and support!!

[2020-12-19 22:43] amitmiran137 commented on #10408
If anybody still haven't voted
https://lists.apache.org/x/thread.html/r91c0acde742a9a719a30938d708e945890ade944ea476dc1def61975%40%3Cdev.superset.apache.org%3E

[2020-12-20 01:03] sahilkamboj3 commented on #11328
Is the issue still open? I would love to join and help out

[2020-12-20 01:06] sahilkamboj3 commented on #11123
Hey @junlincc , I'd like to contribute. Is the issue available to work on?

[2020-12-20 03:42] nytai commented on #11328
@sahilkamboj3 I believe it is. If you open a PR, I can ensure it gets reviewed.

[2020-12-20 15:31] cgivre commented on #10032
@iercan
Can you open a new issue with the full stack trace?  There are a few other bugs I'd like to quash as well.
Thanks!

[2020-12-21 05:26] #12137 closed

[2020-12-21 05:29] ktmud opened #12149 "Add ErrorBoundary to page components"
Sometimes pages go completely blank when a JS error happens (#11908, #11759 , #11568 ).

We should wrap major subcomponents with `ErrorBoundary` so users can still navigate off the error state.

@nytai has [raised the issue](https://github.com/apache/incubator-superset/issues/11759#issuecomment-730714595) before. Creating a ticket to keep track of progress.

A recommended list of boundaries to add

[2020-12-21 06:33] skini-galaxia opened #12150 "CSRF Token Issue when embedding Superset in iFrame"
On embedding Superset in an HTML iframe, a 'Bad Request' is displayed.

The fixes mentioned in https://github.com/apache/incubator-superset/issues/8382 do not seem to fix this completely.

On completing the following steps, the issue was resolved:
- Create a new hostname using sudo nano /etc/hosts (eg foo.bar.com) with the IP address of the machine (use ifconfig).
- Run the command python -m http.

[2020-12-21 08:06] ktmud commented on #10408
Where is this config flag set? Globally by Superset admins or at dashboard level? Can companies decide to use both modes at the same time? I.e., certain group of users can access some dashboards, but not all data in that dashboard since the data query may still go through a custom SecurityManager for access control.

[2020-12-21 08:30] huangxinjun opened #12152 "supetset mail report bug"
celery worker --app=superset.tasks.celery_app:app --pool=prefork -O fair -c 4

Message: unknown error: net::ERR_CONNECTION_REFUSED
  (Session info: headless chrome=87.0.4280.88)
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/superset/utils/celery.py", line 50, in session_scope
    yield session
  File "/Library/Frameworks/Py

[2020-12-21 08:38] junlincc commented on #12148
[dashboard]native filter sidebar styling and width should be consistent with the Data panel in Explore
Data Panel in Explore
<img width="281" alt="Screen Shot 2020-12-21 at 12 30 50 AM" src="https://user-images.githubusercontent.com/67837651/102756433-c355dd00-4324-11eb-9ced-29ac6a864041.png">
Native Filter in Dashboard
<img width="81" alt="Screen Shot 2020-12-21 at 12 32 10 AM" src="https://user-

[2020-12-21 08:41] junlincc commented on #12148
[dashboard]native filter RESET ALL button does not work properly

https://user-images.githubusercontent.com/67837651/102756804-45460600-4325-11eb-8251-d326b0173f80.mov

[2020-12-21 08:48] junlincc commented on #12148
[dashboard]new native filter loading state should show Superset infinite loading icon instead of "No Results"

https://user-images.githubusercontent.com/67837651/102757345-095f7080-4326-11eb-9ca3-deea6df33143.mov

[2020-12-21 11:03] iercan opened #12155 "Getting error while trying to connect mongo via drill"
Hi. I configured drill so that I can read mongodb via superset. I'm getting error when sqllab try to get tables.

### Expected results

Send  sql requests successfully to mongo by using sql_lab

### Actual results

Superset throws below error.

[code]

#### How to reproduce the bug

1. Configure drill so that it can request mongodb
2. Add drill datasource to superset
3. Try to send request from sq

[2020-12-21 11:05] iercan commented on #10032
@cgivre I created new issue #12155

[2020-12-21 13:58] lozbrown commented on #9974
@junlincc
Any chance this might be possible soon?

[2020-12-21 15:40] zhaoyongjie commented on #12148
[dashboard] This looks like the Native Filter and Chart filter indicator do not match.

![image](https://user-images.githubusercontent.com/2016594/102793885-7be35580-43e5-11eb-81d4-54cff49fdd57.png)

[2020-12-21 15:49] zhaoyongjie commented on #12148
[dashboard] timestamp-like column is not handled correctly

### filter setting
![image](https://user-images.githubusercontent.com/2016594/102794670-a97cce80-43e6-11eb-8739-cc7d454973fb.png)

### error
![image](https://user-images.githubusercontent.com/2016594/102794622-9c5fdf80-43e6-11eb-8263-2496575be0f4.png)

[2020-12-21 16:13] zhaoyongjie commented on #12148
[dashboard] Apply to specific panels not work.

https://user-images.githubusercontent.com/2016594/102797331-82c09700-43ea-11eb-935b-c31c14825387.mov

[2020-12-21 17:55] hughhhh commented on #12046
@eschutho is working on this currently

[2020-12-21 17:57] amitmiran137 commented on #12148
@zhaoyongjie thank you for sharing
we will take of it
cc: @junlincc @villebro @simchaNielsen

[2020-12-21 19:02] lucaxsilveira opened #12160 "Passing extra data to VizPlugin"
I have a custom viz plugin (https://superset.apache.org/docs/installation/building-custom-viz-plugins/).
Can i pass **extra data** to **formData** from python to this new plugin?

[2020-12-21 21:27] belal-mazlom commented on #9880
I found myself forced to enter to `superset-frontend` and run `npm run build`

[2020-12-21 22:09] amitmiran137 commented on #10408
This Flag can be introduced at the global level for a default behaviour and at the  dashboard level for overriding the default

@ktmud

[2020-12-21 22:20] adam-stasiak commented on #12148
[DASHBOARD]
SCENARIO:
To tabbed dashboard add filter with country name default value: United States
Save
Apply filter With name CHINA
Click on Reset -> Now filter box shows the default value
Click on APPLY -> Default Filter value is not applied

Expected: After click on APPLY it should be current field value applied.
https://user-images.githubusercontent.com/25153919/102827412-cfa06f80-43e2-11eb-9

[2020-12-21 22:34] adam-stasiak commented on #12148
[dashboard]
Scenario:
Create Filter with reference to dataset
Delete this dataset
Go back to Filter Configuration and Scoping:

Observed: You can find that *FIELD has looped loading animation with name of not available field. After I choose different datasource I still see this old type of field as an option in field box.

Expected: We should indicate somehow that Filter is malformed(@junlincc) an

[2020-12-21 23:02] adam-stasiak commented on #12148
[dashboard]
Steps to reproduce:
Add very long name of filter

Observed: You can see that UI glitches. We should handle this better -> I suggest adding in the left side section "..." at the end of too long names or splitting into lines.

https://user-images.githubusercontent.com/25153919/102829427-64a56780-43e7-11eb-9817-cc3034564a83.mov

[2020-12-21 23:08] adam-stasiak commented on #12148
[dashboard]
Weird behavior for me.

When I add two new filters and:
* first is correctly filled
* second is partially filled
And I click on Save on first filter -> I do not get information that this SAVE will not keep my filter when I quit this modal.

We should indicate that progress will be lost and:
- force user to finish or remove remaining filters before exit
- discard not valid filter entrie

[2020-12-21 23:15] adam-stasiak commented on #12148
I agree- > When we set Native Filter set then we can clearly see number indicator so we should place there native filters as well and update the counter

[2020-12-21 23:40] adam-stasiak commented on #12148
[dashboard]

Default value for filter is not exported with dashboard.
Scenario:
Create Filter with default value.
Export dashboard
Import json file of dashboard

You can see that Default Value for filter was not exported - > Information about Parent relation was exported so I think it should be as well.

[2020-12-22 04:32] zhaoyongjie opened #12167 "[SQLLab] Cosmetic Layout issue"
SQLLab cosmetic layout issue

### Expected results
Correct SQLLab UI

### Actual results
![35951608610981_ pic_hd](https://user-images.githubusercontent.com/2016594/102849025-2cd30a00-4451-11eb-956c-31a88bf546da.jpg)

### Environment
The latest master branch build from `docker-compose up`

[2020-12-22 05:01] amitmiran137 commented on #10408
dashboards with LEVEL_ACCESS_MODE= 'Dashboard' enabled will not be subject to any dataset level access.

[2020-12-22 07:29] ktmud commented on #10408
This will be a major turn off for any organization who needs dataset level access control.

My 1) and 2) were not two options but two steps of one solution. Basically we keep current dataset level access control unchanged but add a layer of dashboard access control which blocks users from even viewing the dashboard.

In terms of actual implementation, you could still leverage the existing RBAC by

[2020-12-22 07:49] ktmud commented on #11198
+1 on generalizing access controls with one API. The `SecurityManager` already has [`can_access`](https://github.com/airbnb/incubator-superset/blob/2f0add3aec8f168fb8c37c648f0e29e507f39294/superset%2Fsecurity%2Fmanager.py#L217). Maybe we can do some clean up and start from there.

[2020-12-22 09:08] zsellami opened #12170 "Columns list are not updated on chart editor after updating SQL Query on Edit Dataset"
### Expected results

After updating a query on the edit Dataset by adding alias or other columns in the query of a Table Chart or any other type of chart (screen 1) I expected to have the list of these columns on the Query Option (screen 2)

### Actual results
The list of available columns are not updated after editing the query of the datasource of the chart.

#### Screenshots
screen 1
![Screens

[2020-12-22 10:10] simchaNielsen commented on #12148
We will process fix for it in few steps.
1. UI Config Modal fix:
https://gitlab.com/nielsen-media/maf/webinfra-admin-frontend/-/merge_requests/275
cc: @amitmiran137 @villebro

[2020-12-22 11:05] qinzl1 commented on #11035
@dpgaspar
can not finish upgrade because Table 'superset_demo.tagged_object' doesn't exist  error

[2020-12-22 11:14] qinzl1 opened #12172 "can not execute ‘superset db upgrade’ when SQLAlchemy connection is mysql"
- superset version: `0.37.2`
- python version: `3.6.8`
- node.js version: `node -v`

execute ‘superset db upgrade’ error when SQLAlchemy connection is mysql
![image](https://user-images.githubusercontent.com/20242930/102882773-e057f080-4489-11eb-9394-52c785b9c627.png)

[2020-12-22 11:33] kurtiswen opened #12173 "rest api doc is incomplete"
rest api doc is incomplete, many rest api are not on the swagger page.
is there any plan on refining this? cause it's very important for those who want to do integration with superset.

[2020-12-22 14:03] dpgaspar commented on #12173
I think that all the new `/api/v1/` API's have a OpenAPI spec. Other API's will eventually be refactored and land on `api/v1`.

is something is missing on `api/v1` or you would like to see improved?

[2020-12-22 14:10] dpgaspar opened #12176 "Superset slice API with standalone to true error"
On thumbnails and alerts/reports screenshot use the following link:

`<server>/superset/slice/<slice_id>/?standalone=true`

But the link does not render a chart, with the following error:

![Screenshot 2020-12-22 at 14 07 07](https://user-images.githubusercontent.com/4025227/102896872-ff8d5880-445e-11eb-944f-cceb8011b711.png)

stands out to me:
[code]

When using `<server>/superset/slice/<slice_id

[2020-12-22 14:17] dpgaspar commented on #12093
Hi,

Can you please fill all the fields necessary for a bug report, would be really helpful also to include server logs. Thank you!

[2020-12-22 14:53] dpgaspar opened #12177 "Save overwrite chart and add to dashboard error"
When saving a chart and adding it to a dashboard, the user is not redirected to the dashboard and no success toast is shown:

![Screenshot 2020-12-22 at 14 45 52](https://user-images.githubusercontent.com/4025227/102900590-6b25f480-4464-11eb-8779-768108024ce2.png)

Console error:
[code]

This could be related to cypress latest insistent test error

https://github.com/apache/incubator-superset/pull

[2020-12-22 15:48] dpgaspar commented on #12172
Hi can you please post the full migration log. Also are you doing an install from scratch or upgrading an already existing DB?

Can you verify that migration `c82ee8a39623` executed?

[2020-12-22 16:53] adam-stasiak commented on #12148
[dashboard]
When only 1 option is available in filter then it is displayed 1 option()
![image](https://user-images.githubusercontent.com/25153919/102913116-9a495f80-447e-11eb-88d1-18fce90c322e.png)

[2020-12-22 17:58] mistercrunch opened #12181 "[dashboard] dragging a deck.gl chart shows header artifacts"
Only the chart itself should be shown during the drag event.

<img width="1344" alt="Screen Shot 2020-12-22 at 9 56 41 AM" src="https://user-images.githubusercontent.com/487433/102918674-33a35200-443c-11eb-883e-d94702af74e6.png">

[2020-12-22 21:18] #12177 closed

[2020-12-22 21:24] Steejay commented on #12134
Agreed @ktmud. Tab names should not force all caps.

[2020-12-22 22:03] yousoph commented on #12133
Thanks for the suggestion!! Will look into an improvement as part of some upcoming UI changes that we're working on :)

[2020-12-23 01:43] zhaoyongjie commented on #12167
@betodealmeida  Thank you for the quick fix! closed this issue.

[2020-12-23 01:43] #12167 closed

[2020-12-23 03:50] lilila commented on #12176
Hi @dpgaspar , I have this problem as well with superset 0.38 but it only fails with safari in my case. It works properly with chrome or Firefox.

[2020-12-23 05:44] kamalkeshavani-aiinside opened #12190 "[Chart]Use X-Y axis d3 formatting in tooltip"
**Is your feature request related to a problem? Please describe.**
Many charts allow to change formatting of X-Y axis values using d3 format. This updates the tick values shown on respective axis, but it still shows axis value with 'adaptive formatting' in tooltip.

**Describe the solution you'd like**
It would be better if the updated formatting gets reflected in tooltip as well.

**Describe alte

[2020-12-23 06:54] kurtiswen commented on #12173
hi dpgaspar,
thank you for your reply,  do you mean this /api/v1/_openapi for openApi spec? I think is contains just the same api list as in swagger. If OpenAPI spec can be found in other place, please let me konw.

[2020-12-23 06:57] qinzl1 commented on #12172
@dpgaspar
upgrading an already existing DB，my Current  version 0.28.1

[2020-12-23 09:35] tooptoop4 opened #12194 "[sqllab]Show number of rows returned in SQL Lab"
Run a non-count query like: select * from table where x = 'y'

In addition to the table of rows returned, would like to have "x rows returned" (ie 863 rows returned)
JDBC tools currently have this.

[2020-12-23 11:11] dpgaspar commented on #12176
@lilila there was a recent major refactor done that lead to this regression. So, not sure if the refactor (and fix) fixed the problem you're reporting or not. Something we need to test (I'll keep this issue open)

[2020-12-23 11:23] dpgaspar commented on #12172
That's a bit old, I'll try to help but really need the full migration log

[2020-12-23 12:30] eugeniamz opened #12195 "Improve dataset icons in explorer view"
In the dataset window we have different icons for virtual dataset and physical tables
<img width="795" alt="Screen Shot 2020-12-23 at 7 21 56 AM" src="https://user-images.githubusercontent.com/58375897/102995980-2fd10780-44f0-11eb-9aaa-890cb3662d0a.png">

When we create a dataset we have different icon to see if a table is a physical table or a database view
<img width="624" alt="Screen Shot 2020-

[2020-12-23 13:07] eugeniamz commented on #12170
You are right, after SAVE the columns should be automatically updated.
The workaround to resolve the issues is to save the new virtual dataset and then sync the columns.
I explain it in a [video](https://youtu.be/8rKk727UM7s) here

[2020-12-23 13:29] edge7 commented on #9042
anyone found a solution that actually works?

[2020-12-23 13:34] gonzalo commented on #9042
@edge7 have you checked my solution?

[2020-12-23 14:49] ali-hesham commented on #11829
i'm facing the same issue on the latest version.

[2020-12-23 16:37] hyouinKyouma opened #12197 "hot update was not successful"
I am trying to create a visulization plugin, for which I was following this link https://preset.io/blog/2020-07-02-hello-world/.

Here I am running the frontend via npm run dev-server
and the backend through docker-compose up

but when I run "npm run dev-server" and go to the http://localhost:9000

It gives me following error:

hot update was not successful
hot update failed for module "./src/view

[2020-12-23 17:04] fdupuis659 commented on #11507
Are you running behind a reverse proxy? I had a setup with SSO configured running behind Nginx and ran into this. This may be the cause of it. In my case, the webdriver requests weren't getting past the identity provider login screen...

[2020-12-23 19:12] jerryo commented on #11612
I share the following in hopes that my struggle will help someone else.   After battling with this issue for over an hour, I was  able to get past the error described in this issue by doing the following:
1. In a terminal window run `docker-compose up`
2. Once running, open the browser and observe the error described in this issue.
3. In a separate terminal window run `docker-compose down -v --rem

[2020-12-23 22:53] betodealmeida commented on #12195
This is something we should improve because the messaging is not clear (cc: @srinify).

These are different things: inside the database we have two types of **tables**, physical tables and (native) views. In SQL Lab these are represented by the table icon and the eye icon, respectively.

Once you're outside SQL Lab, Superset doesn't really care if the database entity is a physical table or a nativ

[2020-12-23 23:21] betodealmeida commented on #12194
@yousoph do we have a plan for this in the new SQL Lab design?

[2020-12-23 23:35] yousoph commented on #12194
Thanks @tooptoop4 ! We don't have a design for this yet but I think this makes sense to add
cc @steejay

[2020-12-23 23:51] ramyarajasekaran commented on #8155
any update on this?

[2020-12-24 00:58] #12027 closed

[2020-12-24 01:22] srinify commented on #12195
Somewhat related, I find myself having to hover over the icon frequently because the icons themselves don't clearly scream "physical" or "virtual" (in the way that the eye / eyeball icon actually does imply virtual).

[2020-12-24 08:17] cdmikechen commented on #9546
@fjcobo
You can see this link https://github.com/cdmikechen/incubator-superset/blob/0.35-syzh/README-%E6%B1%89%E5%8C%96.md

[2020-12-24 14:30] reignmaker commented on #11761
I'm also very interested in how to setup/configure and deploy Superset in production, as I'm a new to python ecosystem and have a bit more knowlege in docker, docker-compose. I've been strugling for a week already trying to configure Superset for production with no luck. The official documentation is very poor and uninformative.
Greatly appreciate any help!

[2020-12-24 14:35] reignmaker commented on #11761
The main thing I can't handle is how to configure Superset via `superset_config.py`. I have no idea how to pass it into docker-compose.

[2020-12-24 15:21] PRijnbeek opened #12201 "[Chart]Line Chart Time Series markers not correct after zoom"
For details see superset-ui issue: https://github.com/apache-superset/superset-ui/issues/881

[2020-12-24 15:58] zhangsikai123 opened #12202 "superset db upgrade failed when trying to upgrade superset (already on use) from an old build"
when I try to upgrade my superset, I use superset db upgrade, I ran into the error:
[code]
### Environment
Mysql-5.7.25

### Additional context
I went back to commit d7eb1d47:  on 96e99fb176a0_add_import_mixing_to_saved_query.py, there is a line of code, which is obviously written for acceleration:
[code]
I tried this line of code on my table with couple rows, it gives exact same uuid for each row

[2020-12-25 05:57] qinzl1 commented on #12172
@dpgaspar
thx，I have another way to solve it

[2020-12-25 05:57] #12172 closed

[2020-12-25 06:21] zpi1223 opened #12203 "Multiple tables join queries to produce a single chart"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the business department has requirements change, the previously prepared single Table cannot be required (N tables need to be combined). In view of this situation, data can only be processed manually at present, and then feedbacks can be made to the business department.

**Describe the solution you'd like

[2020-12-25 06:22] Mhs-Aaron commented on #12203
@altef  I wonder if you are interested in this topic, or if you can help me with @ related personnel.Thank you

[2020-12-25 06:32] nytai commented on #12203
You should be able to achieve this via a SQL view, or by forming your query in SQL Lab and then clicking “explore”

[2020-12-25 06:37] Mhs-Aaron commented on #12203
@nytai Later I went to try the way you said, but at the moment our SQLLab or only the admin can operate, so in view of the scene I said, can't let business people operating on a graph, it would greatly increase the workload of the admin staff, if SQLLab open to business people, they do not have time to learn the relevant operation is grammar, this is to let a person helpless.

[2020-12-25 07:33] PetengDedet commented on #9565
Superset uses SQLAlchemy Schema. It returns connection OK on postgres even without defining dbname at the end.
In order to show tables on that db, we need to specify dbname after port number:
[code]

[2020-12-25 10:22] zhaoyongjie commented on #9565
Please check the Postgresql schema settings. Try filling in `public` in the Schema input box.

[2020-12-25 22:00] brokenjacobs commented on #10756
Dead project?

[2020-12-26 15:18] junlincc commented on #12201
Thanks for reporting!  im able to reproduce on master. will get it fixed soon. 🙏

[2020-12-26 15:34] junlincc commented on #12190
thanks for the request. it makes sense updating the tooltip as well to reflect the X AXIS FORMAT.
<img width="368" alt="Screen Shot 2020-12-26 at 7 32 37 AM" src="https://user-images.githubusercontent.com/67837651/103154525-aff3a900-474c-11eb-84dd-5ff01056b3f9.png">

[2020-12-26 15:51] junlincc opened #12206 "[Explore]poor rendering performance while on "View Samples" tab"
The rendering performance is also not very great while the "View Samples" tab is open. Sorting that table and resizing the panes are almost unbearably slow. Even adding/removing a metric also becomes slow.

And it stays slow even when I switched back to the View Results tab.
_Originally posted by @ktmud in https://github.com/apache/incubator-superset/issues/11968#issuecomment-747945240_

[2020-12-26 16:27] junlincc opened #12207 "[Explore]poor performance while query triggered without clicking "RUN QUERY""
Adding or changing values(metics, filters and groupby values etc.) in Explore Query should not randomly trigger a new query until user clicks "RUN QUERY" button.

https://user-images.githubusercontent.com/67837651/103155362-103a1900-4754-11eb-8622-05f84d991271.mov

https://user-images.githubusercontent.com/67837651/103155364-129c7300-4754-11eb-9630-bea5d5cfc07d.mov

[2020-12-26 17:02] ktmud commented on #12207
Do note that previously some controls will automatically trigger a re-render (in case of pure chart UI changes like changing axis labels, number formatting, etc) but never a new query.

[2020-12-27 04:21] nishwalshetty commented on #9994
@jcobiaya is the issue resloved ? i have the same isssue

[2020-12-27 04:54] nishwalshetty opened #12209 "Superset doesnt start after centos reboot"
i am using the below command in python3.8 virtual environment manually by running the below command

superset run -p 8088 --with-threads --reload --debugger --host 10.10.11.64

### Expected results
Dashboard to be up and running

### Actual results

Stuck after "debugger is active warning", nothing after that

Console log

(superset) [root@superset ~]# superset run -p 8088 --with-threads --reload

[2020-12-27 12:13] damnko commented on #9116
I'm also having this issue with a clean install on mac, following the instructions here https://superset.apache.org/docs/installation/installing-superset-using-docker-compose. Any hints on how to solve it? Thanks

[2020-12-28 04:11] nishwalshetty commented on #12209
https://github.com/apache/incubator-superset/issues/9994#issue-631412402 just found a similar issue with no resolution

There is no error in console for me to debug!!!

Any suggestions to resolve this  ?

[2020-12-28 05:37] zhaoyongjie commented on #12209
Hey @nishwalshetty. What do you want to do? To start a Superset dev-sever? From your logs, the dev-server looks like it's up.

[2020-12-28 12:51] michael-s-molina opened #12212 "[up coming change]Remove tests errors and warnings"
Remove all tests errors and warnings to improve results readability.

@rusackas @junlincc

[2020-12-28 14:14] maloun96 commented on #12108
https://github.com/apache/incubator-superset/issues/12108

[2020-12-28 17:57] Provoo commented on #8921
I don't understand why is so complicated to allow users, to create custom querys for present as a tables in multiples dashboards or even just only duplicate a virtaul datasource to change database a present multiplo charts. I have to create an entire dashboard with same graphs and the only diference is the Physical Table. I really like superset but has to much problems.

[2020-12-29 00:51] #10856 closed

[2020-12-29 01:04] Meizuamy commented on #9116
just wait a minute.

[2020-12-29 03:12] welee-li commented on #9861
How to solve this problem? I want to show 100 lines in dashboard, but want to download all data through 'Export CSV' in table chart

[2020-12-29 07:56] chen-ABC commented on #9717
@zufolo441   I have the same problem, could you please provide me with your solution demo

[2020-12-29 08:08] chen-ABC opened #12220 "jwt access_token is invalid"
A clear and concise description of what the bug is.

### Expected results

jwt aceess_token can be recognized

### Actual results

token is invalid
error:  'AnonymousUserMixin' object has no attribute 'get_user_id'

#### How to reproduce the bug
1.
[code]
2. use token
[code]
result:
![image](https://user-images.githubusercontent.com/30097790/103269106-0a606400-49f0-11eb-9f0f-afa4452e4810.png)
![im

[2020-12-29 10:44] zufolo441 commented on #9717
Hi,
I followed these instructions: https://laptrinhx.com/tutorial-how-to-integrate-superset-in-your-own-application-2272552308/

[2020-12-29 11:59] lexmiln commented on #546
In case you land here after Googling this error message: I saw these worker timeouts after deploying the `amancevice/superset` docker image to a Kubernetes cluster for the first time, however, it was only a temporary issue that was resolved once I'd run `superset-init` to create the admin account and complete the setup process.

[2020-12-29 13:10] HUSSTECH opened #12222 "Update documentation for Custom OAuth2 Configuration for superset version >= 0.37.0"
### Expected results

Prerequisite: deployment is using a [Custom OAuth2 Configuration](https://github.com/apache/incubator-superset/blob/master/docs/src/pages/docs/installation/configuring.mdx)

After upgrading to `>= 0.37.0`, following notes in [UPDATING.md#0.37.0](https://github.com/apache/incubator-superset/blob/master/UPDATING.md#0370) and [updating](https://github.com/dpgaspar/Flask-AppBuild

[2020-12-29 14:35] MihailGershkovich commented on #9281
we'll start to investigate those questions soon. Probably there will be some stuff that we can provide.

[2020-12-30 02:30] qinzl1 opened #12225 "ImportError: cannot import name 'Any' when start server"
- superset version: 3.7.2
- python version: 3.6.8

after  excute  "pybabel compile -d translations"
![image](https://user-images.githubusercontent.com/20242930/103326132-e6e9f780-4a89-11eb-9728-c943dbb20487.png)

[2020-12-30 02:42] cdmikechen commented on #3690
I forked and opened a new branch to support URL Prefix by `/superset`, https://github.com/cdmikechen/incubator-superset/tree/0.38-syzh .
I have add some custom class extend `flask-appbuilder` class and change superset rest api blueprint. If anyone is interested, we can communicate with each other.

[2020-12-30 09:06] villebro commented on #12225
I assume this is Superset version 0.37.2? Can you check what your `PYTHONPATH` env variable looks like? I also suggest switching to Python 3.7, as we've dropped support for 3.6 on master branch and upcoming versions.

[2020-12-30 16:08] eohulse opened #12228 ""TypeError: string argument without an encoding after" error after upgrading from 0.36 to 0.38"
When upgrading superset from 0.36 to 0.38 and running the command
`> superset init`
I get an error
[code]
After that, I can run superset, but most of the functions break with the same error when I click.
I guess it is related to the configuration of the one dataset I have.
Everything was working on 0.36 but not in 0.38.

#### How to reproduce the bug

I had superset installed in a conda environmen

[2020-12-30 19:36] CurtLH commented on #10696
Has there been on progress on this bug?

[2020-12-31 03:06] wxf163 opened #12231 "can't insert with clickhouse datasource"
clickhouse 20.3.18.10
superset docker 0.28.1

table::  create table t(id Int32, aa String)
sql insert into testdb.t values(3,'cccc')

log :

2020-12-31 02:30:32,478:DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): service-ck-test123008.ck-test123008-hd.test-test.testdomain.com
2020-12-31 02:30:32,491:DEBUG:urllib3.connectionpool:http://service-ck-test123008.ck-test123008-hd.test-test

[2020-12-31 05:43] Swaraj-13 commented on #2686
+1 PromQL Support will be really great and helpful !

[2020-12-31 22:59] rwspielman commented on #11889
I'm still seeing this issue in current master

[2021-01-01 23:44] junlincc opened #12233 "[Explore]Data panel Metrics section should expand on click the caret"
Current behavior
1. Data panel shows first 50 columns in Columns section, and the section is open by default; Users have to scroll down to get to the Metrics section
2. Metrics section is closed by default; Users click the caret to open Metrics section
3. Section opens below but it is not expanded visibly; users have to scroll down to see Metrics list
4. After scrolling down to view metrics, repea

[2021-01-02 02:23] #11908 closed

[2021-01-02 02:53] junlincc commented on #12149
related? https://github.com/apache/incubator-superset/issues/12109

[2021-01-02 06:55] junlincc opened #12236 "[Explore]inconsistent control panel fields styling"
all fields (drop down, select, input) boxes should have the same color, height & width, and corner radius

<img width="1144" alt="Screen Shot 2021-01-01 at 10 48 13 PM" src="https://user-images.githubusercontent.com/67837651/103452431-4d3a6a00-4c84-11eb-9614-74c7d6f43b61.png">

[2021-01-02 19:06] junlincc commented on #11563
closing this issue as new layout is available in latest master

[2021-01-02 19:06] #11563 closed

[2021-01-02 20:32] junlincc commented on #11889
hm weird, i can confirm his issue is fixed in latest master(now)..

On Thu, Dec 31, 2020 at 2:59 PM Rob Spielman <notifications@github.com>
wrote:

[2021-01-03 02:13] #11097 closed

[2021-01-03 02:59] mctouch opened #12237 "Support for blazingsql"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

support for https://blazingsql.com/ an in GPU SQL database

https://github.com/BlazingDB

**Describe alternatives you've considered**
A clear

[2021-01-03 03:50] junlincc commented on #12237
cc @srinify ~

[2021-01-03 05:36] #11874 closed

[2021-01-03 21:31] mistercrunch commented on #12237
For Superset to work with any SQL-speaking database, it requires for that database to have a DBAPI-compatible driver as well as a SQLAlchemy dialect.

Those are well documented Python standards that aren't too difficult to implement. The dialect is generally super easy, and the DBAPI driver is kind of a must for the database to work with the Python ecosystem.

[2021-01-03 22:38] helloklyn commented on #9748
I installed via docker, any instruction on overwrite `config.py` with docker image?

[2021-01-03 23:52] mistercrunch commented on #9748
Happy to clarify some things here, first the project is dropping support for SQLLite as a metadata database, as it's simply not reliable to support a multi-web servers, multi-workers type of setup which is a fairly basic assumption for an application like Superset in production. As soon as you fire off multiple web workers or thread, you're likely to have issues with SQLLite locks. Given that and

[2021-01-04 02:39] zhaoyongjie commented on #12231
@wxf163
Hi there, For the Clickhouse table, you need to specify the engine type, (Mergetree etc.  [Clickhouse tutorial)](https://clickhouse.tech/docs/en/getting-started/tutorial/)

<img width="1021" alt="image" src="https://user-images.githubusercontent.com/2016594/103496193-4aa06600-4e78-11eb-927f-8586991c4b38.png">

I use [`clickhouse-sqlalchemy`](https://github.com/xzkostyan/clickhouse-sqlalche

[2021-01-04 07:06] weidongkl commented on #9488
牛皮

[2021-01-04 07:52] kalimuthu123 opened #12243 "Role assignment issue"
Hi,
   i am try to create a user (not a admin )only who is responsible for usermanagment ( exclude other permissions ).
i want him to create users and assign roles to them except admin permissions

summary : creating a user who's is not able to create admin users

Reply me the possibilites @mistercrunch

thanks

[2021-01-04 08:56] dpgaspar commented on #12243
One possibility:

You have to custom develop a new list users views with a custom CRUD, on the edit and add form filter out the `admin` role. Then the user creator must only have permissions to this view (He can't be a full admin).

[2021-01-04 10:06] kalimuthu123 opened #12244 "Windows installation issues"
Traceback (most recent call last):
  File "D:\bitool\venv\lib\site-packages\superset\views\core.py", line 2603, in _sql_json_sync
    with utils.timeout(seconds=timeout, error_message=timeout_msg):
  File "D:\bitool\venv\lib\site-packages\superset\utils\core.py", line 593, in __enter__
    signal.signal(signal.SIGALRM, self.handle_timeout)
AttributeError: module 'signal' has no attribute 'SIGALRM'

[2021-01-04 10:14] weidongkl commented on #9730
i see this error too

[2021-01-04 10:27] kalimuthu123 commented on #12244
https://github.com/apache/incubator-superset/issues/9992

[2021-01-04 12:18] dpgaspar commented on #12244
@kalimuthu123,

This is probably related to https://stackoverflow.com/questions/52779920/why-is-signal-sigalrm-not-working-in-python-on-windows. Note that windows is not a supported platform for superset

[2021-01-04 12:23] villebro commented on #12244
In theory it would be easy to bypass this by adding a `hasattr(signal, "SIGALRM")` to the if statement, but I'm not sure running Superset without timeouts is a good idea, either. I'd be curious to hear what others have done to get Superset running on Windows.

[2021-01-04 13:52] kalimuthu123 commented on #7831
this is the query i expected to do :

the aim of the query is to display top 5 of every month

select * from (SELECT Month , Revenue, City, Financial_Year, Financial_Quarter,InvoiceDate, dense_rank()
OVER ( partition by Month order by Revenue desc )
AS 'dense_rank' FROM table ) t where t.dense_rank<6

[2021-01-04 13:57] kalimuthu123 commented on #3251
Hi ,
  i am having same concern for filtering the top 5 values based on metrics

[2021-01-04 14:14] daniel10012 commented on #11774
Hello Joost,
I am running into the same issue.
Can you explain what you mean by " I didn't have the domain host configured for the account that I was using to connect." ?
Thank you !

[2021-01-04 16:39] dpgaspar commented on #12243
Going to close this one here, since it's replicated on FAB: https://github.com/dpgaspar/Flask-AppBuilder/issues/1538

[2021-01-04 16:39] #12243 closed

[2021-01-04 16:49] cmenzelqlp commented on #7565
Any update on the workaround for private gSheets?

[2021-01-04 17:45] gogitub opened #12256 "Need to show timestamp with time zone field in a different time zone in the report"
Hi,
We have many timestamp with time zone fields in Oracle database which is the source for our Superset (0.36 version) reports.
We need to show the data in EST or PST or some other time zones based on customer need.

Ex:
Data in Oracle database table is like '2021-01-04 21:48:56.66 +05:30'
If we want to display in EST, report should show it like : 2021-01-04T11:18:56.660000
If we want to display

[2021-01-04 20:51] mistercrunch opened #12259 "cosmetic: dropdown should overflow over modal footer"
<img width="635" alt="Screen Shot 2021-01-04 at 12 50 39 PM" src="https://user-images.githubusercontent.com/487433/103578504-8abd1400-4e8b-11eb-8f9f-4f718a9462ac.png">

[2021-01-04 20:55] mistercrunch commented on #12259
duplicate of https://github.com/apache/incubator-superset/issues/12140

[2021-01-04 20:55] #12259 closed

[2021-01-04 22:57] willbarrett commented on #10757
Closing as fixed.

[2021-01-04 22:57] #10757 closed

[2021-01-05 00:36] akelai opened #12262 "Roles (permissions) to avoid a user delete Datasets not created by him/her"
Does a way exist to allow a user to edit or delete a Datasource created in a (PostgreSQL) database with the Upload CSV feature, but not allowing him/her to edit or delete Datasources that have not been created by that same user?

For example, admin user could have created some demo Datasources. Also, some users may have created some useful Datasources.
A new registered user could have permissions

[2021-01-05 00:40] akelai opened #12263 "Permissions in role, to avoid editing or deleting Datasources that have not been created by that user"
Does a way exist to allow a user to edit or delete a Datasource created in a (PostgreSQL) database with the Upload CSV feature, but not allowing him/her to edit or delete Datasources that have not been created by that same user?

For example, admin user could have created some demo Datasources. Also, some users may have created some useful Datasources.
A new registered user could have permissions

[2021-01-05 02:32] graceguo-supercat opened #12264 "[dashboard] chart loading spinner didn't show"
A clear and concise description of what the bug is.

#### Screenshots
![83vMV7zabc](https://user-images.githubusercontent.com/27990562/103599937-20bc6300-4ebb-11eb-99c1-c91ecb92af62.gif)

#### How to reproduce the bug

1. Go to a dashboard with a lot of charts and less cached data.
2. You **should** see spinner when chart is loading, but it is not showing right now. When chart is loaded, the chart

[2021-01-05 03:43] syazwan0913 opened #12265 "[dashboard]CSS Templates not working"
A clear and concise description of what the bug is.

### Expected results

Black background is preserved after refresh

### Actual results

Black background missing after refresh

#### Screenshots
![dsvyXHvQ1B](https://user-images.githubusercontent.com/28984703/103603819-74c25880-4f4a-11eb-9e1d-46f867b82954.gif)

#### How to reproduce the bug

1. Go to 'Any dashboard'
2. Click on 'Edit dashboard >

[2021-01-05 05:19] junlincc commented on #12264
Thanks for reporting! This new feature did introduce some regressions in both Explore and Dashboard. (i still very much value the work though ♥️ @kgabryje)
@geido can you take this on just and get more familiar w Dashboard? Prioritizing it as P1 bug. 🙏

[2021-01-05 05:25] junlincc commented on #12265
could it cause by our native filter feature flag? @rusackas

[2021-01-05 05:38] junlincc commented on #12233
or maybe we should keep both sections open by default if it does not affect performance? @zhaoyongjie

[2021-01-05 05:50] zhaoyongjie commented on #12263
duplicate of #12262, so closes this one.

[2021-01-05 05:50] #12263 closed

[2021-01-05 06:00] zhaoyongjie commented on #12233
-  displaying many dimensions and metrics will affect the rendering efficiency
- but we should use other methods to control whether this data source displays these fields or not (e.g. add an option to control dimensions/metrics visible in explore)
- Before extra-control is done, it makes sense to expand both dimensions/metrics.

[2021-01-05 06:22] zhaoyongjie commented on #12256
@gogitub. Is it possible to add derived dimensions from the original date field

[2021-01-05 06:30] junlincc commented on #12233
I would not recommend compromising the performance to favor UX for this one. do you think we can address the original issue i filed for now? which is click to auto expand Metrics section?  @zhaoyongjie

[2021-01-05 07:08] junlincc opened #12266 "[explore]filter custom SQL editor is broken, adding undefined clause"
![ezgif-4-e27b99a5cbe4](https://user-images.githubusercontent.com/67837651/103616534-79065b80-4ee1-11eb-9831-b7d68c27bd39.gif)

latest master 11pm 1/4/2021
this is a further regression of what we encountered during the holiday.

-----------------
last week on master
![1 (1)](https://user-images.githubusercontent.com/67837651/103616648-a8b56380-4ee1-11eb-8320-8bbd036fe6e1.gif)

@kgabryje P1 issue,

[2021-01-05 07:25] gogitub commented on #12256
@zhaoyongjie, Thank you for your interest in answering my question.
There are a lot of such fields and many time zones are available in the data. we are not preferring any derived columns because we already have lot many reports/dashboards built with the existing columns.
Also, we need to show the data displayed in time zone per user profile or preference if there is a way.

[2021-01-05 07:28] villebro commented on #12266
I am unable to repro the `undefined undefined` problem on master, but did notice that writing a custom filter doesn't enable the Save button unless the simple filter has been populated (see pic below). I'll work on fixing that, now.
![image](https://user-images.githubusercontent.com/33317356/103618220-420f6480-4f38-11eb-8749-a8b9f28e6c0e.png)

[2021-01-05 07:43] maoqin opened #12268 "Line_multi charts keeps refreshing after upgrade"
line_multi charts keeps refreshing and sending xhr requests to backend, an error in the console:
`Error: <g> attribute transform: Trailing garbage, "translate(0,NaN)".`
not sure if its related.

### Expected results
no refresh, works as before upgrading

### Actual results

charts keeps refreshing and flooded backend

#### Screenshots
![image](https://user-images.githubusercontent.com/3340437/1036

[2021-01-05 09:36] trepmag commented on #11810
@keehl1213, I'm trying to figure the solution you are mentioning but I'm stalled as I can't find any `flask-session` package that would have been setup by the superset docker build in `/usr/local/lib/python3.7/site-packages/flask_session/`?

[2021-01-05 09:50] singh-ab opened #12270 "Filtered chart in email"
**Is your feature request related to a problem? Please describe.**
While superset offers the functionality of scheduling a chart as an email. We cannot send an email with a filter , to achieve this we have to save the same chart with multiple names , have the filter attached and then schedule them

**Describe the solution you'd like**
It would be great to have the functionality extended with filte

[2021-01-05 11:23] qinzl1 opened #12271 "D3 datetime format can not change the correct 'Hours offset'"

[2021-01-05 11:47] adam-stasiak opened #12272 "Magnifer icon does not focus field for native filters"
You can see that for most filters in application when you tap on icon then you are moved to edit field. For native filters no reaction.

### Expected results

I think We should be moved to edition of native filter. Also for child filters.
### Actual results
For native filters no reaction after click on magnifer.

#### Screenshots

https://user-images.githubusercontent.com/25153919/103642354-47c673

[2021-01-05 12:01] adam-stasiak opened #12273 "[dashboard]Add Chart filters displayed in Applied filters section"
**Is your feature request related to a problem? Please describe.**
When I set filter in explore view of chart then I would expect to see these filter in Applied (Not in not Applied) filters section.

**Describe the solution you'd like**
Please add an option to display in this section filters chosen for chart from explore view.
![image](https://user-images.githubusercontent.com/25153919/103643827-9

[2021-01-05 12:26] umesh11111 opened #12275 "Not able to see those charts which is created by the another user, while editing the dashboard"
A clear and concise description of what the bug is.

### Expected results
Those charts should be availale while editing the dashboard so we can add those chart which is created by another user.
what you expected to happen.

### Actual results
Getting those charts which is created by my userid.
what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your problem.

#

[2021-01-05 13:03] adam-stasiak opened #12276 "Time range filter dropdown does not fit the window"
## Screenshot
https://user-images.githubusercontent.com/25153919/103649363-9cbbb700-4f5e-11eb-998d-9c2963b64219.mov

## Description

When I open modal to edit time range and choose no filter - I am not able to see all options in dropdown.

## Design input

[2021-01-05 13:57] zhaoyongjie commented on #12276
The master branch has been fixed. thanks for your report

[2021-01-05 14:49] #12266 closed

[2021-01-05 15:00] helo-ch opened #12279 "Datasource access on saved queries"
We have created several custom roles like `DB_ACCESS_XXX` so that each team cannot see and interact with datasets from an other team.

So each user have the following roles :
* Gamma
* sql_lab : `[can list on UserDBModelView, can sql json on Superset, can sqllab on Superset, can search queries on Superset, can csv on Superset, can sqllab viz on Superset, menu access on SQL Lab, menu access on SQL

[2021-01-05 15:03] zhaoyongjie commented on #12270
@singh-ab I am curious about the chart can not with filter, the filter is embedded in the charts, why is it not sending by email

[2021-01-05 15:28] junlincc commented on #12270
cc @benceorlai

[2021-01-05 15:31] junlincc commented on #12276
<img width="1784" alt="Screen Shot 2021-01-05 at 7 30 04 AM" src="https://user-images.githubusercontent.com/67837651/103665106-e4731c00-4f27-11eb-927a-fc4da088b2a7.png">

thanks Adam! i can confirm this issue has been resolved in latest master.

[2021-01-05 15:31] #12276 closed

[2021-01-05 15:36] junlincc commented on #12140
<img width="1784" alt="Screen Shot 2021-01-05 at 7 30 04 AM" src="https://user-images.githubusercontent.com/67837651/103665700-94e12000-4f28-11eb-9aff-87e19d7f71ad.png">

@zhaoyongjie thanks for fix, going forward please link PR to issue so that they can close automatically when PR is merged

[2021-01-05 15:36] #12140 closed

[2021-01-05 15:44] junlincc commented on #12273
https://github.com/apache-superset/superset-roadmap/issues/96 We are committed to make this happen! thanks for suggesting! @adam-stasiak

[2021-01-05 15:50] junlincc commented on #12272
thanks for throughout testing and reporting @adam-stasiak ! we should treat it as a committed enhancement request, i did not include this in the 1.0 scope. 🙏

[2021-01-05 16:11] zhaoyongjie commented on #12140
got it. ^_^

On Tue, Jan 5, 2021 at 11:36 PM Junlin Chen <notifications@github.com>
wrote:

[2021-01-05 16:21] dpgaspar commented on #11323
Thank you for reporting this!
It does accept `sqlalchemy_uri` on the POST request schema, but the OpenAPI spec was not reflecting it, fixed it on #12274

[2021-01-05 17:36] graceguo-supercat opened #12281 "[Dashboard] Chart dropdown list should overflow"
### Before
<img width="1310" alt="Screen Shot 2021-01-05 at 9 24 07 AM" src="https://user-images.githubusercontent.com/27990562/103678949-0de87380-4f39-11eb-9bf5-e2de81ec1c38.png">

### Current

<img width="1254" alt="Screen Shot 2021-01-05 at 9 31 44 AM" src="https://user-images.githubusercontent.com/27990562/103678968-1640ae80-4f39-11eb-93eb-dd8206655a27.png">

#### How to reproduce the bug

1.

[2021-01-05 17:38] zuzana-vej commented on #12275
If the chart owner is someone else - you can't add that chart into the dashboard, this is by design.  Are you referring to this case (chart owner is someone else) or are you referring to a case where you are co-owner of the chart and still can't add the chart to the dashboard?

[2021-01-05 17:42] zuzana-vej commented on #12281
Related to this issue: https://github.com/apache/incubator-superset/issues/12004

[2021-01-05 17:48] graceguo-supercat opened #12283 "[Explore] Timepicker time range interval design"
#### How to reproduce the bug

1. Go to explore view, click Date picker, choose **Previous** range type
2. Current month is Jan, previous month should **include 12/31**

### Actual results

<img width="756" alt="Screen Shot 2021-01-05 at 9 44 54 AM" src="https://user-images.githubusercontent.com/27990562/103680320-dbd81100-4f3a-11eb-9b71-b82b078c996f.png">

### Environment

latest master

cc @junl

[2021-01-05 17:58] junlincc commented on #12283
i do see it previous calendar month include 12/31? am i misunderstanding the issue?

what's not clear to us yet is the setting for previous calendar week.(but we do have plan to address that issue by adding setting)

<img width="1726" alt="Screen Shot 2021-01-05 at 9 55 51 AM" src="https://user-images.githubusercontent.com/67837651/103681360-36be3800-4f3c-11eb-8b16-c6db36a2c848.png">
<img width="2

[2021-01-05 17:59] graceguo-supercat commented on #12283
`2020-12-01 <= col < 2020-12-31` means include 12-01, not include 12-31.

[2021-01-05 18:06] junlincc commented on #12281
https://github.com/apache/superset/pull/12153 this open PR should fix both #12004 and #12281
we tested, spotted some other issues in Dashboard but not related. do you feel comfortable merging this PR?
@graceguo-supercat

[2021-01-05 18:14] junlincc commented on #12283
looks like this is happening in all tine setting, and the default state

https://user-images.githubusercontent.com/67837651/103683191-ba792400-4f3e-11eb-877f-aaead2239279.mov

<img width="310" alt="Screen Shot 2021-01-05 at 10 11 42 AM" src="https://user-images.githubusercontent.com/67837651/103682987-725a0180-4f3e-11eb-9b2d-634bac2f4e8e.png">

[2021-01-05 18:20] graceguo-supercat commented on #12283
for display, Previous month should display as `2020-12-01 <= col < 2021-01-01`

[2021-01-05 18:21] junlincc commented on #12283
what about changing the END operator to "≤"?

[2021-01-05 18:26] junlincc commented on #12283
acknowledging the severity of this regression as it is misleading users. my mad not catching it before we merged. Thanks for reporting! 🙏

[2021-01-05 19:24] amitmiran137 commented on #12176
Can someone screenshot how does a working slice with standalone=true looks like?

[2021-01-05 19:27] graceguo-supercat commented on #12283
i feel we should display `2020-12-01 <= col < 2021-01-01` not `2020-12-01 <= col <= 2021-12-31`.
This will **_be consistent with all other time range_** display format, which means include begin, exclude end.

[2021-01-05 19:49] willbarrett commented on #12279
Tagging @dpgaspar as he's the most familiar with the permissions system.

[2021-01-05 19:59] graceguo-supercat opened #12285 "[Explore] Timepicker converts date range type on pill"
#### How to reproduce the bug

1. Go to Explore view, from date picker, choose `Range Type`: Last, then choose `Last week`.
2. see `Time Range` display as `2020-12-29 <= col < 2021-01-05`.
3. The time range is correct, but it is **not** the option that user chosen: Last week.
4. The reason that we offered `Last` or `Previous` is these human readable time range is easier for user to get what the ti

[2021-01-05 20:04] junlincc commented on #12283
im suggesting to make this change universal and i believe using "<" is a bug not by design

looking at the old time picker, it had a similar problem on pill display. but actually including both start and end dates in the query.

<img width="1130" alt="Screen Shot 2021-01-05 at 12 00 37 PM" src="https://user-images.githubusercontent.com/67837651/103693426-20b97300-4f4e-11eb-899b-de6f25a80e0b.png">

[2021-01-05 20:06] mistercrunch opened #12286 "GitHub repo move - rewire all reference from apache/incubator-superset to apache/superset"
Repo has been moved to reflect our recent graduation, yet our repo is full of references to the old location. While GitHub handles all redirects properly, we should still update all of the references in the repo

[code]

[2021-01-05 20:42] junlincc commented on #12285
we display the actual time range on the pill as a validation. if that's compromising UX, we are happy to switch it back for `last` and `previous`

[2021-01-05 21:14] amitmiran137 commented on #12286
![image](https://user-images.githubusercontent.com/47772523/103699490-afa8a880-4fab-11eb-9462-57a3c995c8ba.png)

[2021-01-05 21:25] mistercrunch commented on #12286
looks like things are moving here: https://github.com/apache/superset/pull/12284

[2021-01-05 21:50] graceguo-supercat commented on #12285
yes, display `Last week` is old behavior. Even for the old date picker, you can pick "Last week" as option, and then we display "Last week" in the time range pill (as shown in screenshot).
when i run some old charts from latest master branch, all the "Last week" are displayed as actual date. I think this change is not necessary, will cause some confusion.

[2021-01-05 21:56] nytai commented on #12286
I removed incubation/incubating in https://github.com/apache/superset/pull/12284, looks like @amitmiran137 removed incubator-superset in https://github.com/apache/superset/pull/12289

[2021-01-05 23:36] #12264 closed

[2021-01-05 23:43] zuzana-vej opened #12293 "[explore] When switching from Simple to Custom SQL for a filter, it translates INT to string"
Simple SQL correctly encodes the values as INTegers. and technically it's displaying incorrectly `views IN ('5', '10')` even though it's encoded correctly and the query is working - therefore this is a minor issue but can confuse users.

### Expected results
Displayed as integer in the Custom SQL box.

### Actual results
Transforms into string in the Custom SQL box.

#### Screenshots
Filter:
![Scr

[2021-01-05 23:44] zuzana-vej commented on #12293
Related bug: https://github.com/apache/superset/issues/11639

[2021-01-05 23:53] zuzana-vej opened #12294 "[cosmetic][explore] Filters popup on Explore - confusing UI experience"
## Screenshot

![Screen Shot 2021-01-05 at 3 52 06 PM](https://user-images.githubusercontent.com/61221714/103712203-0a231400-4f6e-11eb-8bd2-c8b8779dca82.png)

![explore-where](https://user-images.githubusercontent.com/61221714/103712051-ae588b00-4f6d-11eb-99ed-6ba77dcc4cd0.gif)

## Description

The behavior of the new filter dropdown specifically for "IN" condition is a bit confusing:

## Design i

[2021-01-05 23:57] junlincc commented on #12294
we can make that work~!

[2021-01-06 00:07] zuzana-vej commented on #12102
<img width="1107" alt="Screen Shot 2021-01-05 at 4 04 30 PM" src="https://user-images.githubusercontent.com/61221714/103712975-009aab80-4f70-11eb-8b5c-1669802a23a2.png">

Just noticed this on another chart also during resizing (adding screenshot just fyi)

[2021-01-06 00:15] rusackas opened #12296 "[Explore] Data pane in explore not resizing on widow resize"
## Screenshot / Description

In Explore, the Data pane is not updating its height when the window is vertically resized. This has two easily reproduced cases:

1) Start with a TALL window and open the data pane. Shorten the window. You'll see that the entire chart+table area scrolls due to the lack of table resize. Collapse and re-open the Data area, and you'll see the height is adjusted (no more

[2021-01-06 00:15] rusackas commented on #12296
@maloun96 this stems from the other PR we just merged.

[2021-01-06 01:15] eschutho commented on #9869
I'm working on this. Should have a fix soon.

[2021-01-06 01:16] eschutho commented on #11966
I'm working on this currently, fyi.

[2021-01-06 01:44] maoqin commented on #12190
Also, in line charts, if you check rich tooltip,  the tooltip will use default format despite the X-axis formatting is '%Y-%M-%D'
![image](https://user-images.githubusercontent.com/3340437/103719113-4bb1ce80-5003-11eb-95f8-7106938d0876.png)
if you don't check rich tooltip, the tooltip will follow x-axis's format
![image](https://user-images.githubusercontent.com/3340437/103719184-6e43e780-5003-11e

[2021-01-06 01:59] graceguo-supercat opened #12298 "[dashboard] spinner is overlaying with dashboard header"
### Actual results

![hWrewMA6DM](https://user-images.githubusercontent.com/27990562/103719947-119ee900-4f7f-11eb-9543-623144a9e0ea.gif)

#### How to reproduce the bug

1. Go to  dashboard with a lot of charts
2. when charts are loading, scroll to the bottom of dashboard
3. you will see spinner is overlaying with dashboard header.

### Environment

lastest master

### Additional context

@junlincc

[2021-01-06 02:48] graceguo-supercat opened #12299 "[explore] datapanel search should not case sensitive"
#### Screenshots

![fnLVBHBoVP](https://user-images.githubusercontent.com/27990562/103723210-65610080-4f86-11eb-88e1-80e33b21a0bb.gif)

#### How to reproduce the bug

1. Go to explore view, search "SUM" in datapanel
2. found no match
3. search "sum", you will find some results

### Environment

latest master

cc @junlincc @zuzana-vej

[2021-01-06 02:57] ktmud commented on #12299
I'd recommend utilize [match-sorter](https://www.npmjs.com/package/match-sorter) for things like this.

E.g.

https://github.com/apache-superset/superset-ui/blob/a4ecdb3d5a7791e864703318d6da9154bb842762/plugins/plugin-chart-table/src/DataTable/DataTable.tsx#L120-L123

[2021-01-06 03:24] junlincc commented on #12299
we have the metric section search not case sensitive actually...
agree they should be same, will change it real quick~

[2021-01-06 03:32] umesh11111 commented on #12275
thanks for your response,
i am talking about chart owner is someone else,then we are not able to see  that chart while editing the dashboard

[2021-01-06 03:51] junlincc commented on #12268
@adam-stasiak please help test it. i am not able to reproduce, @kgabryje fixed this earlier

[2021-01-06 04:10] junlincc commented on #12023
@mihir174 @steejay please come up with a standard for Superset. Thanks!

[2021-01-06 04:22] junlincc commented on #12134
CC @yousoph   fixed closing

[2021-01-06 04:22] #12134 closed

[2021-01-06 04:24] junlincc commented on #11941
fyi @yousoph we fixed this issue in SQLlab. closing

[2021-01-06 04:24] #11941 closed

[2021-01-06 04:27] junlincc commented on #12102
issue is fixed by#12250 but still follow up work need to be done https://github.com/apache/superset/issues/12296

[2021-01-06 04:27] #12102 closed

[2021-01-06 05:08] #12142 closed

[2021-01-06 05:31] ktmud commented on #12023
Airbnb convention is only capitalize the first letter. Same for GitHub. This is true for both menu, label, and CTA.

[2021-01-06 05:47] rusackas commented on #12023
I'm also leaning toward sentence case rather than title case. But I won't put up too much of a fight over it, as long as we're consistent one way or another.

[2021-01-06 06:23] BigDataArtist opened #12301 "Access Embeddable charts From API via passing AccessToken"
Hi Superset,

I want to access the embeddable charts through an API via passing an access token but in return, it again asks for authentication login.
Is there somehow any way where we can bypass that step, as we are anyways passing a valid access token in the first step.

[2021-01-06 06:59] mistercrunch commented on #12023
Personally I'm fine either way as long as we're consistent!

[2021-01-06 08:06] graceguo-supercat opened #12302 "[Explore] Time picker custom setting for timezone"
- In Advanced range type, user can type in time with free text (**this is great! l like this design and implementation!!**):

![advanced](https://user-images.githubusercontent.com/27990562/103743405-f1881d80-4fb0-11eb-8431-9ae1bbfa62a0.gif)

- But in Custom range type, user have to set time by click on hour/minute/second, free text will be overwritten when user close calendar.
![b8psB5uD5r](https:

[2021-01-06 08:24] graceguo-supercat opened #12303 "[explore] datapanel search: remove search input do not trigger new search"
#### How to reproduce the bug

1. Go to  explore view,
2. type in some long text in the search input box, you will see matched metrics and columns,
3. remove a few words in the search input box, you should see more matched metrics and columns
4. but there is no new search action triggered.
5. Note: in my screenshot, some very long metrics name got truncated. **Please add tooltip to display full na

[2021-01-06 11:01] JayGuAtGitHub opened #12304 ".dockerignore file problem"
In my production superset website, I found that it still call the webpack debug server like

http://localhost:9000/sockjs-node/info?t=1609923238691

After long time debug, I found that, in my project folder, /superset/static, there were debug js files in that folder like:

/superset/static/assets/dashboard.ede529be.entry.js

When run the docker build command, all these files will be copy to the do

[2021-01-06 11:19] geido commented on #12233
@junlincc Looking at the implementation this was made to work as an accordion (only one section can collapse at a time). However, the Antd Collapse component wasn't properly implemented in this PR #12008. That makes the accordion to fail. I will submit a PR to fix it. PR #12008 is also introducing a custom flavor of the Antd Collapse. This will need to be consolidated and moved to the enhanced one

[2021-01-06 11:43] mona-mk commented on #9116
Solution is to wait until it gets fully complied (~ 10min on macOS Catalina 2,6 GHz 6-Core Intel Core i7)

[2021-01-06 11:45] #12286 closed

[2021-01-06 12:43] maloun96 commented on #12281
Tested with the latest code from master.

![Kapture 2021-01-06 at 14 32 07](https://user-images.githubusercontent.com/8277264/103769749-87fa2480-502d-11eb-9d4b-26409861acf9.gif)

[2021-01-06 14:08] michael-s-molina commented on #12294
@junlincc We have some decisions to make.

Let's start with item 1:

The check mark is a pattern adopted by AntD and actually it makes sense when you analyze the context. Look at the following picture:

<img width="378" alt="Screen Shot 2021-01-06 at 9 24 13 AM" src="https://user-images.githubusercontent.com/70410625/103768269-f7a5ea80-5000-11eb-9f01-3c8b1e2acf07.png">

This filter has value sugge

[2021-01-06 14:29] junlincc commented on #12303
thanks for testing our new feature extensively and keeping the quality bar high for Superset @graceguo-supercat 🙏
Two issues here
1. Deleting text to trigger new search action - P1
2. Display super long column name - Our current solution is to implement resizable data panel. tooltip will not be ideal for UI/UX, as it will be added to all columns names and metrics. We should get to resizable in a c

[2021-01-06 14:32] junlincc commented on #12303
@pkdotson Please take this one(Deleting text to trigger new search action), along with https://github.com/apache/superset/issues/12299 and https://github.com/apache/superset/issues/12233
you have the most knowledge in this area. 🙏

pls let me know

[2021-01-06 14:37] #12285 closed

[2021-01-06 14:49] junlincc commented on #12302
Thanks for the nice comment for Advanced! @graceguo-supercat
much more users can do in the free text input, but we haven't had a chance to better document the new features yet.
if you think below would be useful for your users, pls also help test them and give us feedback  🙏 @zuzana-vej  @etr2460
<img width="1001" alt="Screen Shot 2021-01-06 at 6 44 36 AM" src="https://user-images.githubuserconten

[2021-01-06 14:51] junlincc commented on #12302
again, thanks for the valuable feedback, we will get this enhancement done by 1.0 release.
The settings for Advanced vs Custom should be consistent

@zhaoyongjie 🙏

[2021-01-06 15:18] Steejay commented on #12023
thanks for flagging. type system review and fixes already in the works.
cc @mihir174

[2021-01-06 15:29] srinify commented on #12023
Great idea @junlincc !! I also lean towards sentence case, but agree that consistency is king 👍

[2021-01-06 15:35] junlincc commented on #12023
+1 for sentence case
this UI issue is quite noticeable and global which really should have been addressed a while ago.
@Steejay @mihir174 the implementation is in queue, do you think we can get design input fairly soon?

[2021-01-06 16:00] srinify commented on #12237
@mctouch hey there, I'm happy to collaborate on this and help get this working. Can you investigate if blazingsql has a dbapi-compatible driver + a SQLAlchemy dialect?

[2021-01-06 16:04] junlincc commented on #12294
1. @zuzana-vej this styling comes with the AntD component which I also agree that the design makes sense within context. This component is also being used in Native dashboard filter and other places in the future. the effort of changing it in Explore is relatively low, but keeping the consistency across the product will be hard. Can we simply hide the check marks for now, and revisit general issue

[2021-01-06 17:26] zuzana-vej commented on #12294
Thanks for the details. Also I m not a designer I found that confusing and wasn't sure if it's bug or as-designed. I think in the first case as explained by @michael-s-molina the checks make complete sense. The only thing that is weird is that when you click on the check the item unselects. But this might be less confusing if the suggestion is enabled. Is this disabled across for everyone or is th

[2021-01-06 17:31] graceguo-supercat commented on #12303
1. resizable is good improvement. when there is a lot of long text, user want to resize wider. when the current dataset is small, user may want to keep it narrower.
2. but even when user set datapanel narrow, user should still be able to read full name by tooltip.

[2021-01-06 17:38] graceguo-supercat commented on #12302
This specifications for the new Timepicker is great. I will share with airbnb users after our next release.

[2021-01-06 18:09] #12283 closed

[2021-01-06 18:29] junlincc opened #12309 "[Explore]deck.gl latitude dropdown appears behind the popover"
affecting Scatterplot, Arc, Grid, Screen Grid

<img width="1789" alt="Screen Shot 2021-01-06 at 9 47 47 AM" src="https://user-images.githubusercontent.com/67837651/103802602-43a65e80-5004-11eb-9395-c0f0a87dd4a9.png">

This is issue is NOT introduced by recent https://github.com/apache/superset/pull/12258
Thanks for spotting it @geido

[2021-01-06 18:37] junlincc commented on #12294
Discussed with @michael-s-molina, any changes here could introduce regression in other areas. To ensure we meet Superset 1.0 release timeline, we need to hold off on making suggested changes. We also spotted related issues in Dashboard, and will provide a general solution based on your user reactions and feedback for all in Q1.  @zuzana-vej

replacing `p1 `tag with `hold!`

[2021-01-06 18:41] junlincc opened #12310 "[Dashboard]refresh Interval modal scroll and dropdown"
Before:
<img width="1766" alt="Screen Shot 2021-01-06 at 10 41 08 AM" src="https://user-images.githubusercontent.com/67837651/103807744-bf57d980-500b-11eb-977e-936f1c1b5f7d.png">

Now
<img width="1775" alt="Screen Shot 2021-01-06 at 3 35 13 PM" src="https://user-images.githubusercontent.com/67837651/103807540-5f613300-500b-11eb-92f5-42c55faf5bbb.png">

thanks for spotting this issue @michael-s-mol

[2021-01-06 18:59] geido commented on #12309
This is caused by the menuPortalTarget using the document body as a target for the single-choice dropdowns and the z-index of the popover being too high. The menuPortalTarget option was set for the multi-choice dropdowns already which suffered from the same issue when used within the popover. I am going to tackle this one for both single and multi-choice dropdowns.

[2021-01-06 19:01] junlincc commented on #12303
We don't have a solution for showing tooltip only on the ones w titles that can not be fully displayed. This project's on the Q1 roadmap. I am afraid that adding tooltip on all columns and metrics despite their length isn't an optimized solution visually.
Column titles were truncated. Only a limited number of columns and metrics were displayed in the previous versions, which means this feature is

[2021-01-06 19:38] junlincc commented on #12236
<img width="661" alt="Screen Shot 2021-01-06 at 4 10 54 PM" src="https://user-images.githubusercontent.com/67837651/103812582-92a7c000-5013-11eb-86c4-7b8d6f09d4b3.png">

[2021-01-06 19:48] junlincc opened #12312 "[Explore]Table chart AGGREGATE button overlaps select dropdown"
<img width="661" alt="Screen Shot 2021-01-06 at 4 31 43 PM" src="https://user-images.githubusercontent.com/67837651/103812989-31ccb780-5014-11eb-94f0-d557bf8249ac.png">

@michael-s-molina
Thanks for spotting and taking it on!

[2021-01-06 20:21] willbarrett commented on #12304
@craig-rueda do you think this change should be made?

[2021-01-06 20:27] nytai commented on #12304
If you're running from port 9000 you're likely running the webpack debug server. You should not be running the debug server in production as it is only meant for debugging (hence the calls to debug files). Instead if you run `npm run build` before building the docker container the production asset bundles will be outputted to `/superset/static/assets`.

[2021-01-06 20:42] craig-rueda commented on #12304
Agree with @nytai . Can you try using the official image? (https://hub.docker.com/r/apache/incubator-superset)

[2021-01-06 21:49] cooley-pe opened #12314 "[Explore]Rolling Function in charts should have the option of using calendar dates for periods"
**Is your feature request related to a problem? Please describe.**
Rolling sums (and the like) don’t handle sparse dates in an intuitive way. For example if you have one data point per year for 10 years, but want a 365 day rolling sum (time grain: day, Periods: 10 is for illustration purposes, as a 365 day rolling sum would be Period: 10), it will count all 10 of those data points, even though the

[2021-01-06 22:27] graceguo-supercat opened #12316 "[explore] datapanel: order of content section"
#### Screenshots
![Screen_Shot_2021-01-06_at_1_56_49_PM](https://user-images.githubusercontent.com/27990562/103826096-0bfedd00-502b-11eb-9a55-d1ce1b40f2b7.jpg)

- in datapanel, it shows COLUMNS before METRICS
- in dataset editor, COLUMNS tab is after METRICS

Can we show METRICS before COLUMNS in datapanel?

### Environment

latest master

cc @junlincc

[2021-01-06 23:19] graceguo-supercat opened #12317 "[explore] Update UI control should not trigger new query"
#### How to reproduce the bug

1. Go to explore view of time-series chart,
2. change time range.
3. from browser console you will see when you updated the time picker, new query is triggered.
4. but this trigger won't update chart, there is an overlay on top of chart.
5. user has to click on `run query` button on overlay to trigger another query.

![JlAT3bEDfI](https://user-images.githubuserconten

[2021-01-06 23:25] junlincc commented on #12317
related https://github.com/apache/superset/issues/12207

[2021-01-06 23:29] graceguo-supercat commented on #12317
oh thanks for the updated. i just realize it's not timepicker cause this issue. This is a serious issue. thanks @junlincc

[2021-01-06 23:36] junlincc commented on #12317
Yes, will definitely get it fixed by Wednesday.

[2021-01-06 23:40] mihir174 commented on #12023
@junlincc we've scheduled a planning session for this + other global UI consistency issues tomorrow. will update you then!

[2021-01-07 00:11] junlincc commented on #12314
thanks for suggesting!

@zhaoyongjie do we fell comfortable including this in 2021 q2?

[2021-01-07 00:13] zhaoyongjie commented on #12314
In my Q2-Q3 plan, @junlincc

[2021-01-07 00:14] john-bodley commented on #12283
@junlincc see [SIP-15](https://github.com/apache/superset/issues/6360) as to why the start and end time range intervals are inclusive of and exclusive  of respectively.

[2021-01-07 02:34] graceguo-supercat commented on #12299
in my screenshot you will see i am searching metrics name, and it is case sensitive right now.

[2021-01-07 04:01] joebling opened #12321 "docker superset cannot create admin account"
when i create admin account，it reports an error. i can open the login web，but canot login in。
![image](https://user-images.githubusercontent.com/18331158/103857572-bb9e8280-50f1-11eb-8d90-0b801003c300.png)
![image](https://user-images.githubusercontent.com/18331158/103857733-04563b80-50f2-11eb-9e32-65403475b4a2.png)
![image](https://user-images.githubusercontent.com/18331158/103857747-0b7d4980-50f

[2021-01-07 06:18] JayGuAtGitHub commented on #12304
I didn't try but I'm definitely sure the official image will be OK. For some reasons I have to clone the repo and add customize functions. That's why I found this issue.

[2021-01-07 06:37] stevensuting commented on #12034
sha256 for the hash
aes-256-cbc to encrypt and decrypt

[2021-01-07 06:38] kgabryje commented on #12317
@junlincc Got it 👍

[2021-01-07 06:39] JayGuAtGitHub commented on #12304
I'm running in the production envrionment (with port 8088). These steps can explain how this problem appear:

Run "docker build -t superset:latest ./" to build a local docker image

in the Dockerfile

this command try to build the production js bundle

this command try to copy all production js bundle from "superset-node" to "docker environment"

this command try to copy all python code from "pack

[2021-01-07 06:48] #12233 closed

[2021-01-07 06:50] stevensuting opened #12322 "Forgot Password feature"
**The Issue**
Currently if a user forgets their password they need to inform the Superset admin from outside the superset environment via email, slack. After which the admin either:
1.  Runs a CLI command
`superset fab reset-password --username name@domain.com  --password the_new_password`
OR
2. Deactivates the user from Superset UI with the need to change all mandatory fields to prevent referenti

[2021-01-07 07:33] stevensuting opened #12323 "Query changes on Sql Lab do not reflect on Slices that use them"
### How to reproduce the bug

If a query on SQLlab  is used to create a slice by:
 **_Sql Lab -> Write Query -> Save -> Explore -> Create Slice -> Saved_**
Lets say the query used is: `SELECT name from table;`
And the slice is called **_Details_Chart_**
Work great to this point.

Now, if we want to modify the query to `SELECT name, address from table;`
**_Sql Lab -> Saved Queries -> Edit Query ->

[2021-01-07 07:50] stevensuting opened #12324 "[Explore]Set default filterbox value using SQL statement"
**Describe the solution you'd like**
Currently Superset allows us to set static default values to the filter box:
<img width="297" alt="Screenshot 2021-01-07 at 1 07 35 PM" src="https://user-images.githubusercontent.com/8875448/103864959-76765280-50e9-11eb-8b32-88224d511b97.png">

What I would like is for this value to be dynamic based on some condition set via SQL.
For example, we have a column c

[2021-01-07 08:43] zhaoyongjie commented on #12321
@joebling
- which docker image do you use?
- please follow this manual to start docker-compose instance for Superset

[2021-01-07 08:51] ktmud opened #12325 "[Cosmetic][Explore] Time Grain dropdown overlaps with Query Mode control"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/103871713-447dd580-5082-11eb-98b6-d346d1405110.png" width="400">

## Description

Time Grain dropdown z-index too low, it intertwines with Query Mode control.

[2021-01-07 09:10] nishwalshetty commented on #12209
This is resolved now, issue was with firewall

Thanks for the support

[2021-01-07 09:10] #12209 closed

[2021-01-07 13:23] zhaoyongjie commented on #12302
Hi, @graceguo-supercat. There are some UX usage issues here.

- In the Custom Frame:
The new Datepicker(Antd Datepicker) use mouse `onBlur event` as shortcut to cancel value input. (so the Datepicker value cannot be saved in time)
If you need to confirm the change, you need to use the `enter key` or mouse click the `Ok button`. (submitted Datepicker value)

https://user-images.githubusercontent.co

[2021-01-07 13:35] adam-stasiak opened #12328 "[Explore]add Annotation layers dropdowns do not respond for click"
I cannot modify dropdown options for annotation layers (chart explore view)
### Expected results

Dropdowns can be open.
### Actual results

Dropdowns do not react on click.

#### Screenshots

https://user-images.githubusercontent.com/25153919/103898333-108fc800-50f5-11eb-92d5-2697cb2fd092.mov

#### How to reproduce the bug

1. Launch application with: CYPRESS_CONFIG=true docker-compose up
2. Go t

[2021-01-07 14:15] junlincc commented on #12325
it's duplicate of https://github.com/apache/superset/issues/12312
fixed by https://github.com/apache/superset/pull/12327

[2021-01-07 14:15] #12325 closed

[2021-01-07 14:26] junlincc commented on #12328
@adam-stasiak Thanks for reporting
@agatapst let's fix this one, I don't think it's a regression from your last PR, but you now have the most context.

thanks both! 🙏

[2021-01-07 15:10] junlincc opened #12329 "[chart]MultiLine is BROKEN(again) and is incompatible with async queries"
The MultiLine chart performs data fetching inside the component, circumventing the standard chart data fetching event model, making it incompatible with the async queries implementation. This chart will need to be rebuilt to be made compatible with the async query flow.

There was a recent [PR](https://github.com/apache-superset/superset-ui/pull/855) to fix the existing broken chart, but this PR d

[2021-01-07 15:46] junlincc commented on #12329
@geido estimating rebuild effort. 🙏

[2021-01-07 16:02] Pinimo opened #12331 "bug: missing docker image for 0.38 on Docker Hub"
We failed to find the docker hub image for Superset 0.38.

### Expected results

Given that release 0.38 is linked to commit 6d605c9, we went looking here:

* old Preset Docker Hub account: [no results found](https://hub.docker.com/r/preset/superset/tags?page=1&ordering=last_updated&name=0.38)
* new Apache `incubator-superset` Docker Hub account: [no results found](https://hub.docker.com/r/apache/

[2021-01-07 16:57] thoo commented on #12148
We have an option to sort values in filterbox. #6523
It would be nice to have it in the native filter too.
![image](https://user-images.githubusercontent.com/487433/49884421-aeffb100-fde9-11e8-9c29-fb9eba3ce1af.png)

[2021-01-07 17:05] etr2460 opened #12332 "SQL Lab Table Selector is very laggy when typing"
Typing in the table selector in SQL Lab recently became much more laggy. I know at one point there were perf improvements made to improve this, but they might've gotten lost in a refactor.

### Expected results
Typing in the selector to be snappy

### Actual results
3-4 seconds of latency between typing and getting results when the schema has ~260k tables

#### How to reproduce the bug

1. Have a

[2021-01-07 17:10] junlincc commented on #12312
done, thanks for the fix! @michael-s-molina pls remember to link issue going forward. 🙏

[2021-01-07 17:10] #12312 closed

[2021-01-07 17:39] akelai commented on #12279
This may also have some relationship with issue #12263.

[2021-01-07 17:44] junlincc opened #12333 "[Explore]Advanced Analytics section rolling window layout"
@pkdotson and @mihir174 will open a separate PR to address the layout issue. 🙏 thanks all!

this issue appears in all Time series chart, Nightingale, and Partition chart
![image](https://user-images.githubusercontent.com/67837651/103924771-5df73f80-50cb-11eb-8b0b-ddabdeb1fd02.png)

<img width="298" alt="Screen Shot 2021-01-07 at 9 30 34 AM" src="https://user-images.githubusercontent.com/67837651/1

[2021-01-07 17:48] akelai commented on #10327
I've tested simulating a collision on version 0.38, and I've not experienced differences since last time I wrote here (0.35). Should that have been addressed on Superset 0.38 (and I should make a better test)?

[2021-01-07 17:50] geido commented on #12298
Tackling this

[2021-01-07 18:30] zuzana-vej commented on #10327
two users can still enter edit mode at the same time. The feature that @graceguo-supercat implemented is to prevent colision on save, so if person B made and saved changes while person A was also in edit mode, person A will see the warning when they are trying to save the dashboard and won't be able to do that. Not ideal long term solution but at least user knows their changes aren't getting saved

[2021-01-07 19:03] akelai commented on #10327
Yes I remember the past, and it was bad: in fact, what you describe is the test that I've done to see how it behaves now on 0.38 - but I've got no warning message, and the experience has been the same as in the past.

I'll repeat the test, I've tried just one time - maybe I did it wrong.

[2021-01-07 20:08] #12309 closed

[2021-01-07 20:38] qyra opened #12339 "Changing the "Table Timestamp Format" gives incorrect results."
I created a Table chart with a time column

With the default Adaptative formatting it displays correctly:
A `2020-11-30T20:37:30.122883`
B `2020-11-30T20:37:17.179797`
C `2020-11-30T20:31:41.414866`

When I change Table Timestamp Format to `%Y-%m-%d %H-%M-%S` I would expect that the decimal portion of the seconds should be removed, but that the actual date should be identical. Instead the times sh

[2021-01-07 20:53] singh-ab commented on #12270
@zhaoyongjie : thanks I will give this a try !
that said if anyone has examples around this feel free to share it here 😃  ?

[2021-01-07 20:59] #12298 closed

[2021-01-07 21:03] junlincc commented on #12293
There are few other issues(old or regression) around this area that we would like to address together. Tagging this issue `Hold!` and removing original assignee @michael-s-molina, thanks for all the investigation and testing!

Problem 1
Select a simple text filter like City
Switch to Custom SQL and change the value
It will present an error because the generated WHERE clause is invalid
To fix the u

[2021-01-07 21:15] junlincc opened #12340 "[Explore]filter sql editor generated WHERE clause is invalid"
Go to Explore
Select a simple text filter like City
Switch to Custom SQL and change the value
It will present an error because the generated WHERE clause is invalid
To fix the user has to enter the quotes and double quotes manually
<img width="1789" alt="Screen Shot 2021-01-07 at 4 08 31 PM" src="https://user-images.githubusercontent.com/67837651/103944048-f4d1f500-50e7-11eb-9920-0c57d5393dcc.png"

[2021-01-07 21:20] junlincc commented on #12299
resolved, closing. thanks @pkdotson 🙏

[2021-01-07 23:14] #12299 closed

[2021-01-07 23:18] graceguo-supercat commented on #12316
This change is small. But may i know why you choose to change the order in dataset editor, instead of datapanel?
In my opinion, dataset editor has been there for year(s). Users knows the order of each tab. For active users, they may check dataset everyday. While datapanel is something very new, probably no real users yet.
If you prefer to change an existed behavior, may i know what is the advantag

[2021-01-07 23:20] junlincc commented on #12316
we are making the change on data panel, moving METRICS about COLUMNS, please checkout https://github.com/apache/superset/pull/12335

[2021-01-07 23:46] crsantini opened #12342 "how do I find the correct docker image for a certain superset release eg. 0.38.0?"
hi there

I'm having issues to correlate the docker images released at https://hub.docker.com/r/apache/incubator-superset/ and the release tags in GitHub https://github.com/apache/superset/releases. For example, how do I know which docker image relates to the latest 0.38.0?

Thanks

[2021-01-07 23:49] ktmud commented on #12339
The timestamps are always displayed as UTC times. This is by design. There are many challenges related to synching timezones between Superset, the datasources, and the client. We would need to think about this problem more thoroughly and come up with a comprehensive plan if we want to address this.

[2021-01-08 00:01] graceguo-supercat commented on #12302
Thanks @zhaoyongjie I didn't realize `enter key` is the key :)

I have a few other things to clarify:
1. Midnight in Custom type: is it Midnight UTC time zone? or user's local time zone? Is it the last midnight or the next midnight in the future? Please make it clear:
<img width="591" alt="Screen Shot 2021-01-07 at 3 56 48 PM" src="https://user-images.githubusercontent.com/27990562/103958272-708c6

[2021-01-08 00:54] mihir174 opened #12343 "[Design Proposal]Capitalization guidelines for consistency"
This design proposal aims to make text consistently capitalized across the product, to address issues like https://github.com/apache/superset/issues/12023

Here are the guidelines @steejay and I developed, based on design systems from Google, IBM and Atlassian.

### Sentence case
Use sentence-case capitalization for everything in the UI (except these **).

Sentence case is predominantly lowercase.

[2021-01-08 01:00] mihir174 commented on #12343
fyi @mistercrunch @zuzana-vej @graceguo-supercat

[2021-01-08 01:00] junlincc commented on #12343
Awesome! Thank you both. @mihir174 @Steejay Kicking off the implementation following this guideline!

[2021-01-08 01:05] ktmud commented on #12343
Thanks for the detailed proposal and the reasoning! I believe Superset will greatly benefit from more guidelines like this. Maybe we could even develop our own design system!

Do you think it makes sense to add following exception to the proposal as well?

[2021-01-08 01:07] junlincc commented on #12343
+1

+1. no more forcing upper case in the product..

[2021-01-08 01:07] mihir174 commented on #12343
@ktmud yes - totally agree with user inputs appearing exactly as they were inputted

[2021-01-08 01:44] graceguo-supercat commented on #12316
oh sorry....i misunderstood "tab" in the PR title 😢. Thank you so much! @junlin and @lilykuang

[2021-01-08 01:46] junlincc commented on #12316
done, closing! thank you @lilykuang again for the quick fix!

[2021-01-08 01:46] #12316 closed

[2021-01-08 01:59] graceguo-supercat commented on #12303
Can I have another request? Could you make the search input box stay, not scroll with the very long Columns and Metrics section?
Even we set only show max 50 entries, it is still over a page height. Scroll back and forth to find search input box is a little inconvenient.  thanks @junlincc and @pkdotson

[2021-01-08 02:04] junlincc commented on #12303
yup! that makes perfect sense. im opening a new issue, as the original request has been addressed by https://github.com/apache/superset/pull/12319, i'm closing this one for now

[2021-01-08 02:04] #12303 closed

[2021-01-08 02:27] junlincc opened #12345 "[Explore]make data panel search box sticky to top on scroll"
Committed enhancement: setting the search box sticky to top on scroll

Although both sections(Metrics and Columns) of the Data panel display a maximum of 50 entries, they can easily exceed the height of a page. Once entries exceed page height, users need to scroll up and down the page to find the search box, which causes some inconvenience.

![ezgif-6-87b22df12ca3](https://user-images.githubuserco

[2021-01-08 02:29] junlincc commented on #12345
@pkdotson  🙏

[2021-01-08 02:34] junlincc commented on #12281
confirmed, this issue has been fixed by  @maloun96 https://github.com/apache/superset/pull/12169
<img width="1802" alt="Screen Shot 2021-01-07 at 6 32 28 PM" src="https://user-images.githubusercontent.com/67837651/103967381-bef83500-5116-11eb-9e81-fa507486169f.png">
<img width="1322" alt="Screen Shot 2021-01-07 at 6 31 43 PM" src="https://user-images.githubusercontent.com/67837651/103967384-c1f325

[2021-01-08 02:34] #12281 closed

[2021-01-08 02:45] junlincc commented on #12176
fixed by https://github.com/apache/superset/pull/12179

[2021-01-08 02:45] #12176 closed

[2021-01-08 04:37] junlincc opened #12346 "[Home] +DASHBOARD and +CHART button don't work"
![ezgif-4-6d28580b6945](https://user-images.githubusercontent.com/67837651/103974778-5feeec00-5127-11eb-817d-25091a996f01.gif)

Expected behavior:
when users click +DASHBOARD, it takes users to empty dashboard edit mode
when users click +CHATR, it takes users to Create a new chart page

![ezgif-4-e468e13b54d2](https://user-images.githubusercontent.com/67837651/103975023-03400100-5128-11eb-8c34-4a4

[2021-01-08 04:39] junlincc commented on #12346
@maloun96 you probably are still in the woods of the time-series issue, but please give this one a quick fix, should be pretty easy?

[2021-01-08 05:21] nytai commented on #12346
hmm, I'm not seeing this on the latest master

[2021-01-08 05:42] rusackas commented on #12346
I'm seeing it in the latest master on my side :/

[2021-01-08 05:49] zhaoyongjie commented on #12346
I am seeing this bug on the latest master with firefox browser.

[2021-01-08 05:57] nytai commented on #12346
ah, I just restarted the dev-server and was able to repro. I must have had a really out of date build, looks like it was introduced in https://github.com/apache/superset/pull/12060

[2021-01-08 06:26] #12346 closed

[2021-01-08 06:47] joebling commented on #12321
@zhaoyongjie
1）0.38
2) 我参考这篇文章 https://www.cnblogs.com/lanliying/p/12586498.html, 因为公司内部云用不了docker-compose up， 而且也连不了外网。

[2021-01-08 07:35] rusackas commented on #12201
This will _actually_ be fixed by https://github.com/apache/superset/pull/12349

[2021-01-08 08:02] jmilagroso commented on #7167
I recommend using `FILTERS` and use the partition column using `SIMPLE` or `CUSTOM SQL`

i.e
`WHERE`
then
` _PARTITIONTIME IS NOT NULL`

[2021-01-08 09:02] villebro commented on #12340
@junlincc I might be wrong, but I don't think this is a regression, I believe it's always been like this:
![image](https://user-images.githubusercontent.com/33317356/103994980-72f1d280-51a0-11eb-990a-8ba278a50cca.png)
![image](https://user-images.githubusercontent.com/33317356/103995007-7be2a400-51a0-11eb-844d-68b3172c4d3b.png)

[2021-01-08 11:30] aman101097 commented on #10081
Hi is it resolved?

[2021-01-08 11:42] aman101097 commented on #7804
Hi, Any solution for this?

[2021-01-08 14:03] villebro commented on #12293
FYI this was an old bug, not a regression caused by recent changes.

[2021-01-08 14:08] #12201 closed

[2021-01-08 16:29] junlincc commented on #12302
Yes, it's UTC time zone, and we have plan to allow user to set time zone.

[2021-01-08 16:31] junlincc commented on #12302
Yes! I am well aware of the need of adding tooltip of advanced syntax description, as I'm one of the non-tech background users😅. We will get both projects started within a couple weeks. @graceguo-supercat

[2021-01-08 17:06] zhaoyongjie commented on #12321
@joebling
Please refer to the following URL, how to use this image
https://hub.docker.com/r/amancevice/superset

这篇文章是用下面这个镜像, 你直接原镜像地址, 看下如何使用.
https://hub.docker.com/r/amancevice/superset

[2021-01-08 17:17] graceguo-supercat opened #12355 "[chart] Echarts time-series line chart does not have x-axis control"
- nvd3 line chart has x-axis control:

<img width="1156" alt="Screen Shot 2021-01-08 at 9 14 03 AM" src="https://user-images.githubusercontent.com/27990562/104044300-0243b980-5192-11eb-8605-79bb051f376b.png">

- echart version does not have x-axis control:
<img width="1210" alt="Screen Shot 2021-01-08 at 9 14 37 AM" src="https://user-images.githubusercontent.com/27990562/104044392-1d162e00-5192-11

[2021-01-08 17:36] geido commented on #12328
Fixed by #12330 @junlincc

![Num-Births-Trend](https://user-images.githubusercontent.com/60598000/104046448-655c3d00-51e0-11eb-9dff-8068d2d41150.gif)

[2021-01-08 17:38] geido commented on #12328
There might be another issue though. It seems the Popover is closed on every change without giving the user the ability to apply the changes @junlincc

[2021-01-08 18:03] junlincc commented on #12328
right, that's also happening in the LONGITUDE & LATITUDE popover in deck.gl chart 😭

[2021-01-08 18:30] junlincc commented on #12355
Echarts 5.0 automatically cut the ticks optimally based on the data time range and time grain setting, that's why we are seeing "inconsistent" format on the x-axis.

![image (2)](https://user-images.githubusercontent.com/67837651/104050550-a4b46a80-519b-11eb-9458-6ff5006b3343.png)
![image](https://user-images.githubusercontent.com/67837651/104050564-a847f180-519b-11eb-9b42-11048b611d64.png)

We ca

[2021-01-08 18:57] #12293 closed

[2021-01-08 18:57] #12340 closed

[2021-01-08 19:05] graceguo-supercat commented on #12355
No. We only want to have a control to format x-axis, for example to show only month, or month/year etc.
<img width="341" alt="Screen Shot 2021-01-08 at 11 02 31 AM" src="https://user-images.githubusercontent.com/27990562/104054016-235fd680-51a1-11eb-937f-50468270fc7a.png">
Right now is nothing user can choose.

[2021-01-08 19:08] #12265 closed

[2021-01-08 19:18] duynguyenhoang opened #12358 "[Explore] slice standalone mode doesn't work correctly after refresh browser"
When going to standalone slice, for example http://localhost:9000/superset/slice/23/?standalone=true
We wil be redirect to http://localhost:9000/superset/explore/?form_data=%7B%22slice_id%22%3A%2023%7D&standalone=true
In explore screen, the url will be replaced by ful form_data. Currenly it doesn't include `standalone=true` in final url which cause problem when we refresh the browser. It brings us

[2021-01-08 20:07] #11968 closed

[2021-01-08 20:56] #12207 closed

[2021-01-08 20:56] #12317 closed

[2021-01-08 21:32] graceguo-supercat opened #12363 "[Explore] adhoc filter SAVED METRIC display"
1. dropdown list:
<img width="666" alt="Screen Shot 2021-01-08 at 1 28 13 PM" src="https://user-images.githubusercontent.com/27990562/104065998-83607800-51b5-11eb-8073-56762ebc1169.png">

2. ad-hoc filter:
<img width="323" alt="Screen Shot 2021-01-08 at 1 42 39 PM" src="https://user-images.githubusercontent.com/27990562/104067186-907e6680-51b7-11eb-8c7f-0853cdf773aa.png">

screenshot explains. We

[2021-01-08 21:42] junlincc commented on #12363
i tested master this morning and it was working normally. when did you see it happen?  @graceguo-supercat

[2021-01-08 21:47] graceguo-supercat commented on #12363
Could you try master branch sha `7c8ead8`

[2021-01-08 22:23] junlincc commented on #12355
we probably can do something simple for now. we don't have much planed around Echarts in Q1. do you have a timeline? @graceguo-supercat

[2021-01-08 22:39] ktmud opened #12364 "[Explore] Metric/Filter Popover should always corresponds to the actual metric/filter item"
#### Screenshots

![drag-drop](https://user-images.githubusercontent.com/335541/104071967-0a661e00-51bf-11eb-979e-1231878a3015.gif)

#### How to reproduce the bug

1. Add at least two metrics
2. Click to open the popover of the second metric
3. Drag & Drop to change order or delete the first one
4. Save the popover.
5. It should have updated the original metric but it updates the other metric at t

[2021-01-08 23:12] ktmud opened #12366 "[Cosmetic][Explore] "Add to dashboard" dropdown should have a placeholder"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/104073894-b578d680-51c3-11eb-81c3-d2714db4bef6.png" width="600">

## Description

Two small cosmetic issues:

1. This dropdown should have a placeholder.
2. The clear button (x) should hide when there is no value selected.

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For

[2021-01-08 23:14] graceguo-supercat opened #12367 "[Explore] Metric control displayed value is not consistent with current query"
#### How to reproduce the bug

1. Go to Explore view
2. open **METRIC** control, choose a different option. (in my screenshot, you will see my old option is `aws...net_cost`, new option is `aws...service_usage`).
3. Not clicking SAVE, just click CLOSE, since I do not want to change Metric anymore
4. open **METRIC** control again, you will see `aws_service_usage` is the chosen metric. actually it s

[2021-01-08 23:54] mihir174 commented on #12366
![Base Layout](https://user-images.githubusercontent.com/64227069/104076101-d7755780-51c9-11eb-8c00-d040d6649cb3.png)

[2021-01-09 01:08] #12345 closed

[2021-01-09 01:09] junlincc commented on #12367
this one is bad. 🤦🏾‍♀️

![ezgif-3-2b9dcd39cfc8](https://user-images.githubusercontent.com/67837651/104078669-32ac4780-51d4-11eb-8201-35b026d62cdd.gif)

[2021-01-09 01:23] junlincc opened #12369 "[Explore]Data-VIEW SAMPLES shows no data"
![not work](https://user-images.githubusercontent.com/67837651/104079010-c0d4fd80-51d5-11eb-86ca-ce901edc63e1.gif)

Expected:
VIEW SAMPLES should display sample of the selected datasource
When user changes to a different datasource in the left data panel, it should update the table in VIEW SAMPLES

https://github.com/apache/superset/issues/12257#issuecomment-756967446_

[2021-01-09 01:31] junlincc opened #12370 "[Explore]Data table sort icon misaligned"
<img src="https://user-images.githubusercontent.com/335541/104058442-96208000-51a8-11eb-8192-2f5b9d6cc70e.png" width="500">
    sort icons break into another line
    This happens when there are too many columns (tested with the `wh_health_data` dataset)

Confirmed issue in master
<img width="1032" alt="Screen Shot 2021-01-08 at 5 30 18 PM" src="https://user-images.githubusercontent.com/67837651/1

[2021-01-09 01:38] junlincc opened #12371 "[Explore]Data table pagination bar should be sticky to bottom on scroll"
Scrolling (both horizontally and vertically) moves the pagination bar
    ![scrolling](https://user-images.githubusercontent.com/335541/104058817-2e1e6980-51a9-11eb-8d06-c4a1aff38f2e.gif)
    which makes it almost unusable.

Not sure how feasible it is, maybe it's worth looking into rendering this table with `DataTable` from the table viz plugin. It handles many rendering issues like 4 and 5. I ha

[2021-01-09 01:54] graceguo-supercat commented on #12355
Not urgent at all. At least we have nvd3 line chart to use. If this request can be added to the long term roadmap will be great, at least before fully deprecating nvd3 line chart. Thank you @junlincc

[2021-01-09 02:00] junlincc opened #12372 "[Explore]popover opens behind the Data section"
<img width="1790" alt="Screen Shot 2021-01-08 at 5 57 28 PM" src="https://user-images.githubusercontent.com/67837651/104080104-0811bd00-51db-11eb-8fbc-4c99143c7026.png">
<img width="1792" alt="Screen Shot 2021-01-08 at 5 57 37 PM" src="https://user-images.githubusercontent.com/67837651/104080106-09db8080-51db-11eb-8cd1-79381a2384cd.png">

To reproduce:
1. Open any charts
2. Open Filter popover, se

[2021-01-09 02:04] junlincc opened #12373 "[Explore]Filter popover is covered by the Data section"
Filter popover is covered by the Data Section
(this behavior is inconsistent, need further investigation)

#### Screenshots

<img width="1746" alt="Screen Shot 2021-01-08 at 5 58 26 PM" src="https://user-images.githubusercontent.com/67837651/104080181-70609e80-51db-11eb-84db-c0c473b810ec.png">

<img width="1790" alt="Screen Shot 2021-01-08 at 5 57 28 PM" src="https://user-images.githubusercontent.

[2021-01-09 02:05] #12372 closed

[2021-01-09 02:09] junlincc commented on #12363
Will do!

just wanna confirm it works properly on master
<img width="576" alt="Screen Shot 2021-01-08 at 6 07 59 PM" src="https://user-images.githubusercontent.com/67837651/104080400-7f941c00-51dc-11eb-980a-5b35a0ce2bae.png">

[2021-01-09 02:22] junlincc opened #12374 "[Explore]control fields line break on hover"
We still have the situation of layout flicks when we hover elements because there is no space available for the tooltip icon and this creates a line break.

For documentation purposes these images bellow show some examples where a line break happens:

<img width="782" alt="Screen Shot 2021-01-07 at 2 22 30 PM" src="https://user-images.githubusercontent.com/70410625/103923664-205adc80-50f4-11eb-846

[2021-01-09 02:34] junlincc commented on #12206
fixed

[2021-01-09 02:34] #12206 closed

[2021-01-09 03:02] ktmud opened #12375 "[Explore] Saved metrics label overrides not working"
#### Screenshots

<img src="https://user-images.githubusercontent.com/335541/104081231-2d55f980-51e2-11eb-96db-e6ee8003465a.png" width="600">

#### How to reproduce the bug

The new AdhocMetric control made it possible to add a custom label for saved metrics, but the added override doesn't actually affect anything. This is confusing. We should either disable "Click to edit label" or allow the labe

[2021-01-09 03:57] ktmud commented on #12206
fixed by #12257

[2021-01-09 04:27] junlincc commented on #12375
cant reproduce if i understand correctly.

![ezgif-2-bd522748467a](https://user-images.githubusercontent.com/67837651/104083027-e7a02d80-51ef-11eb-8277-e3101d0bd2e8.gif)

[2021-01-09 04:29] junlincc commented on #12375
can we conduct user research or at least a poll to have some data point to support this proposed change?

[2021-01-09 05:12] junlincc opened #12376 "[Explore]allow user to search metrics and columns by properties in data panel"
Feature request: to allow user to search metrics and columns by their properties (text in the info icon and question mark) in data panel
Rank search results by relevancy

<img width="1006" alt="Screen Shot 2021-01-08 at 9 09 53 PM" src="https://user-images.githubusercontent.com/67837651/104083744-fbe72900-51f5-11eb-8493-fce716030b10.png">

<img width="601" alt="Screen Shot 2021-01-08 at 9 10 14 PM

[2021-01-09 07:03] graceguo-supercat commented on #12363
could you create some long metric name? short metrics also works for me:

<img width="354" alt="Screen Shot 2021-01-08 at 11 02 15 PM" src="https://user-images.githubusercontent.com/27990562/104085598-aadf3100-5205-11eb-9a44-5f2f658824f8.png">

[2021-01-09 07:54] ktmud opened #12379 "[Explore] Custom labels for new adhoc metric should be empty"
#### Screenshots
<img src="https://user-images.githubusercontent.com/335541/104086364-1cba7900-520c-11eb-9084-92978cfb6cf3.png" width="500">

#### How to reproduce the bug

1. Add a new adhoc metric, Metric 1, give it a custom label
2. Add another adhoc metric, the new metric starts with previous metric's custom label, but it should be empty instead (so we can use the default auto-generated label)

[2021-01-09 08:00] ktmud opened #12380 "[Explore] Users should be able to clear custom label for adhoc metric"
#### Screenshots

<img src="https://user-images.githubusercontent.com/335541/104086441-ff39df00-520c-11eb-8d92-0b9cea2e6935.gif" width="600">

#### How to reproduce the bug

1. Add an adhoc metric, give it a custom label
2. Try clear the custom label
3. The label should revert to the default auto-generated label, instead of reverting to the already-cleared custom label.

### Environment

Latest ma

[2021-01-09 08:10] ktmud commented on #12375
I've heard many times at Airbnb that it's beneficial to have shared metric definitions. Other company may have different needs, but the discussion can start from some simple reasoning.

What was the reasoning behind putting SIMPLE as the default tab? Is it because we don't want to show users an empty list of saved metrics? Then what do you think of conditionally change the default tab based on whe

[2021-01-09 08:11] #12369 closed

[2021-01-09 08:54] #12373 closed

[2021-01-09 09:16] grvhi commented on #10370
I have also come up against this problem.

[2021-01-09 09:41] #12380 closed

[2021-01-09 09:47] junlincc commented on #12363
<img width="861" alt="Screen Shot 2021-01-09 at 1 46 21 AM" src="https://user-images.githubusercontent.com/67837651/104088528-804ca280-521c-11eb-9cd4-49115ee32610.png">
<img width="825" alt="Screen Shot 2021-01-09 at 1 46 15 AM" src="https://user-images.githubusercontent.com/67837651/104088530-82166600-521c-11eb-84b7-50eaa94a7510.png">

yup, it's another long title not able to display issue 😔 on i

[2021-01-09 09:59] #12367 closed

[2021-01-09 10:13] junlincc commented on #12363
<img width="688" alt="Screen Shot 2021-01-09 at 2 10 43 AM" src="https://user-images.githubusercontent.com/67837651/104089001-09190d80-5220-11eb-9ebd-cc8382d763ed.png">

old behavior did allow longer metrics display but also had over flow issue

[2021-01-09 10:35] villebro commented on #12375
@ktmud @junlincc I like the idea of supporting custom labels for saved metrics. If you agree I can fix this.

[2021-01-09 10:37] junlincc commented on #12375
please do! but hold off from switching tabs. @ktmud your request and reasoning makes sense, please allow research and design process to take place first.

[2021-01-09 11:01] junlincc commented on #12380
Confirming this issue is resolved in latest master 01/09/2021 @ 10:58am (UTC)

Remaining related issues will be addressed by rc2
[[Explore] Custom labels for new adhoc metric should be empty](https://github.com/apache/superset/issues/12379)
[[Explore] Saved metrics label overrides not working](https://github.com/apache/superset/issues/12375)
cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 11:09] junlincc commented on #12367
Confirming this issue is resolved in latest master 01/09/2021 @ 11:06am (UTC)

Will open up a PR to resolve issue - 'mouse away popover to clear undesired changed input'

@graceguo-supercat @ktmud @zuzana-vej  @mistercrunch

[2021-01-09 11:13] junlincc commented on #12312
Confirming this issue is resolved in latest master 01/09/2021 @ 11:11am (UTC)
not aware of any remaining issue left

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 11:16] junlincc commented on #12340
Confirming this issue is resolved in latest master 01/09/2021 @ 11:11am (UTC)
related issues mentioned in [#12293 ](https://github.com/apache/superset/issues/12293#issuecomment-756382758) will be addressed in the near future

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 11:22] junlincc commented on #12303
Confirming this issue is resolved in latest master 01/09/2021 @ 11:20am (UTC)
all designed and new functions are working properly in Explore DataPanel
follow up discussion for [[Explore]allow user to search metrics and columns by properties in data panel](https://github.com/apache/superset/issues/12376) in Q1

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 11:27] junlincc commented on #12285
Confirming all known issues around Explore Timepicker are resolved in latest master
will implement tooltip for Advanced Time Range and new feature - customize timezone in Q1

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 13:28] kalimuthu123 opened #12386 "embed dashboard into public website"
the requirement is to embed the dashboard across public site by using some security

is there possibilities

[2021-01-09 14:05] #12379 closed

[2021-01-09 15:57] junlincc opened #12388 "[Explore]LONGITUDE & LATITUDE popover close after select"
right, that's also happening in the LONGITUDE & LATITUDE popover in deck.gl chart

_Originally posted by @junlincc in https://github.com/apache/superset/issues/12328#issuecomment-756911674_

[2021-01-09 16:04] #12370 closed

[2021-01-09 16:04] #12371 closed

[2021-01-09 16:27] junlincc commented on #12328
original issue is resolved thanks @geido and @adam-stasiak !

[2021-01-09 16:27] #12328 closed

[2021-01-09 16:49] Bhavik-Ardeshna commented on #12222
Hello I want to work on this is

[2021-01-09 16:50] Bhavik-Ardeshna commented on #12222
@HUSSTECH I am new to superset , Plz guide me

[2021-01-09 17:37] junlincc commented on #12206
Confirming this issue is resolved/improved in latest master 01/09/2021 @ 5:36pm (UTC)

![ezgif-3-8745bc170a51](https://user-images.githubusercontent.com/67837651/104104627-2e2c7100-525e-11eb-83e7-be67eb390588.gif)

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 17:44] junlincc commented on #12207
Confirming this issue is resolved in latest master 01/09/2021 @ 5:43pm (UTC)

![ezgif-3-1a56d7961c0d](https://user-images.githubusercontent.com/67837651/104104823-4c46a100-525f-11eb-8679-86b91df58f97.gif)

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 17:49] junlincc commented on #12372
Confirming this issue is resolved in latest master 01/09/2021 01/09/2021 @ 5:49pm (UTC)

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

<img width="1756" alt="Screen Shot 2021-01-09 at 9 48 21 AM" src="https://user-images.githubusercontent.com/67837651/104104932-d4c54180-525f-11eb-80b7-b2cabb38ceb8.png">
<img width="1747" alt="Screen Shot 2021-01-09 at 9 47 43 AM" src="https://user-images

[2021-01-09 17:55] junlincc opened #12389 "[Explore]flaky Change dataset modal"
![ezgif-3-1f57266d4bcb](https://user-images.githubusercontent.com/67837651/104105094-bf9ce280-5260-11eb-89e1-f8358a0bd1de.gif)

User is not able to change dataset in the Change Dataset modal as the list is constantly flaking when there's search input in the search bar
 🤦🏾‍♀️

likely caused by https://github.com/apache/superset/pull/12006

latest master 01/09/2021 @ 5:58pm (UTC)

[2021-01-09 18:00] junlincc commented on #12389
@michael-s-molina @geido 🙏🙏

[2021-01-09 18:39] junlincc commented on #12369
Confirming this issue is resolved in latest master 01/09/2021 @ 6:38pm (UTC)
Update dataset by clicking Proceed and RUN

![ezgif-7-1ee8b490694b](https://user-images.githubusercontent.com/67837651/104105958-dfcfa000-5266-11eb-8f65-1618f8836da8.gif)

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 18:42] junlincc commented on #12266
Confirming this issue is resolved in latest master 01/09/2021 @ 6:38pm (UTC)

cc @graceguo-supercat @ktmud @zuzana-vej @mistercrunch

[2021-01-09 20:18] #12389 closed

[2021-01-09 20:45] geido commented on #12388
I am working on this

[2021-01-10 02:50] ktmud commented on #12375
@villebro could you hold until #10270 and https://github.com/apache-superset/superset-ui/pull/889 are merged? I just need to add more test cases and fix the CI. There are some (relatively large) refactoring related to QueryObject and formData, which may very likely conflict with whatever changes you will make in this area.

[2021-01-10 05:32] villebro commented on #12375
Sure thing 👍🏼

[2021-01-10 08:30] Biinowny opened #12396 "ehjdf"
*Please make sure you are familiar with the SIP process documented*
(here)[https://github.com/apache/superset/issues/5602]

## [SIP] Proposal for XXX

### Motivation

Description of the problem to be solved.

### Proposed Change

Describe how the feature will be implemented, or the problem will be solved. If possible, include mocks, screenshots, or screencasts (even if from different tools).

###

[2021-01-10 08:30] Biinowny opened #12397 "HowToBasicEatsAMonkiiiiiiiiiiiiiiiiiiii"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-10 08:30] Biinowny commented on #12397
Y'allS.!uck!

[2021-01-10 08:31] Biinowny commented on #12397
y'all n.w0!rds 😂😂😂😂👎🥔♠🤬🤬🤬😂👎🕹🕹😧💡💡💡💡😧🙇‍♀️💢🙇‍♀️🏫🤬♠🏸👍👍👨‍🎓👩‍🎓🕹🏫👌🏫🕹🕹👩‍🎓👨‍🎓💀©©👨🏽‍🤝‍👨🏻🌘©©🥚🐊🤬😂👎🐊🥔🤬👌💡😂👎🥔♠🐊🤬👌💡💥💣👎👎🥔👎🥚©👨🏽‍🤝‍👨🏻©🏸👩‍🎓♠🐊🎄😅👨🏼‍🤝‍👨🏼♣🎱🤫ℹ🙏ℹ🔀🔶🙃🍭😡🙉👨🏼‍🤝‍👨🏼♣👿🟨👿🙃🎱🤫🤫🛡🎰😯◻💎👆🐱‍🏍🤫👍👍©=

[2021-01-10 08:33] Biinowny opened #12398 "and"
## Screenshot

[drag & drop image(s) here!]

## Description

[describe the issue here!]

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label `design:review`. If this includes a design proposal,
include the label `design:suggest`]

[2021-01-10 08:33] Biinowny opened #12399 "dflkgjdf;l"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-10 08:33] Biinowny opened #12400 "WEDIDITTO12400BOIS!"
## Screenshot

[drag & drop image(s) here!]

## Description

[describe the issue here!]

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label `design:review`. If this includes a design proposal,
include the label `design:suggest`]

[2021-01-10 18:30] mona-mk commented on #7800
Trying to do what  @jnthnvctr is doing:
* weather db running locally on the default port 5432 (i.e. following these two tutorials: [weather-db](https://github.com/dylburger/noaa-ghcn-weather-data) & [superset-tutorial](https://superset.apache.org/docs/creating-charts-dashboards/first-dashboard)
* Running superset locally (& planning to connect the weather db to superset later)

The only change I m

[2021-01-10 20:28] sazary commented on #11625
@songololo I can't tell you how much you've helped me with this! i have been trying for some time, even asked some questions here and in stackoverflow, and no answer... until I saw you solution, and it worked! Thanks dude

[2021-01-11 01:42] #12363 closed

[2021-01-11 06:28] joebling commented on #12321
@zhaoyongjie
参考docker-compose 里的init文件解决的

[2021-01-11 06:28] #12321 closed

[2021-01-11 08:20] Jielili commented on #1579
+1

[2021-01-11 11:00] zufolo441 commented on #12386
yes. just embed with ?standalone=true parameter. The dashboard must be accessible by public user.

[2021-01-11 11:50] zufolo441 commented on #10418
Hi, I just upgraded existing superset from git, but I don't see echats charts in list. Is there something to do to install/enable them?

[2021-01-11 11:54] eugeniamz commented on #11953
This chart has a limit of 5000 rows, check that it did not reach the limit
![image](https://user-images.githubusercontent.com/58375897/104179360-b8e5ab00-53d9-11eb-9c7d-030d582a5a08.png)

@junlincc  the row limit seems to be fixed, we should allow users to change this limit as in other charts. is there a reason why is limited to 5K?

[2021-01-11 11:57] zufolo441 commented on #12355
Hi all,
I'm searching for echarts version of line chart in chart list, but I'm not able to find it. git version of today.

![Screenshot_20210111_125631](https://user-images.githubusercontent.com/45826835/104179662-843f1700-540c-11eb-98cf-52f410ad3546.png)

[2021-01-11 12:06] eugeniamz commented on #12355
@zufolo441, it is a time series chart
![image](https://user-images.githubusercontent.com/58375897/104180659-7cb34a00-53db-11eb-89be-4b24755f25a0.png)

[2021-01-11 12:07] eugeniamz commented on #12355
@junlincc  yes, I think x-axis control and customization should be useful

[2021-01-11 12:09] eugeniamz commented on #1579
@junlincc  ^^ very useful

[2021-01-11 12:10] eugeniamz commented on #10828
@junlincc  any ETD?

[2021-01-11 12:27] amitmiran137 commented on #10828
this chart is support the above and more
https://5fec4c81935a8c002151e85f-nfsmejbgts.chromatic.com/?path=/story/plugins-composed-chart--all-types
https://github.com/nielsen-oss/superset-viz-plugins/

[2021-01-11 12:37] villebro commented on #12355
I believe @maloun96 is currently working on adding x-axis formatting support as a byproduct of another feature, so this may be fixed sooner rather than later.

[2021-01-11 12:38] madhamanchiharsha commented on #10354
Same issue, i am also facing like, when i try to make a post call to create dashboard response is 400 and says like The CSRF token is missing any help ?here

[2021-01-11 12:45] villebro commented on #10354
@madhamanchiharsha what version of Superset are you on?

[2021-01-11 14:12] eugeniamz commented on #11637
I tested in Prest and seems that it is working now 👍
![image](https://user-images.githubusercontent.com/58375897/104192607-0ddeec80-53ed-11eb-8566-d9eebc486011.png)

[2021-01-11 14:15] eugeniamz commented on #12256
Have you tried the HOURS OFFSET from Dataset / Setting?
![image](https://user-images.githubusercontent.com/58375897/104192915-7af28200-53ed-11eb-8bde-954bd045b7ab.png)

I am not sure if this is your solution, would like to know your feedback.

[2021-01-11 14:31] #11637 closed

[2021-01-11 15:00] gogitub commented on #12256
Not this datasource specific setting.
Currently, any TIMESTAMP with TIME ZONE field from source DB (Oracle) is being displayed in EST time zone in our application (I think it is converting to the system time zone where it is installed)

[2021-01-11 15:37] madhamanchiharsha commented on #10354
0.38 is the version which i am using

[2021-01-11 17:38] hughhhh commented on #11804
I not able to reproduce on master, so closing now.

https://www.loom.com/share/6417eef61a3247bf972aa794670ba152

[2021-01-11 18:12] javidov opened #12414 "Add user role programmatically"
Hello all,
Is it possible to create a new user role based on permissions programmatically using FAB? I mean without having to use the UI.

It would be nice if we can create the role, then create a user and assign the created role

[2021-01-11 18:35] duynguyenhoang opened #12416 "[Chart] Metric columns are not in the correct order in bar chart"
When design a bar chart, I encounter problem with the order of metric columns. They are not in the correct order.

### Expected results

Metric columns are preserved correct order in the request

### Actual results

Metrics columns is sorted by alphabet

#### Screenshots

Before
![Current Problem](https://user-images.githubusercontent.com/7106179/104222466-eb90b180-5474-11eb-9a8f-6fc4a9751aba.png)

[2021-01-11 19:24] junlincc commented on #12416
@duynguyenhoang thanks so much, Duy! Every issue you open comes with a fix! Appreciate your help to improve Chart and Explore lately. If you are looking into making a more significant impact on Superset, please reach out to me on slack!

[2021-01-11 19:58] #12310 closed

[2021-01-11 20:58] norus opened #12419 "Email Report for Dashboard has */10 * * * * but only sent once per hour"
I have the "latest" tag running inside Docker and the email functionality is working well. I'm using the default hourly schedule which is picked up by Beat just fine:

[code]

However, when creating this email report, I specified crontab to run every 10 minutes (see screenshot).

### Expected results

Expecting Celery worker to run the Email Report as per the crontab (*/10 * * * *) and not once pe

[2021-01-11 21:46] adam-stasiak opened #12421 "Dataset icon should not change size when dragging"
## Screenshot
https://user-images.githubusercontent.com/25153919/104241922-a8c3df00-545e-11eb-982b-3df602181738.mov

[drag & drop image(s) here!]

## Description

When dragging column I can see that only dataset icon changes size. I think it should remain the same size as other icons in this area (collapse error).

## Design input

[2021-01-11 22:03] ktmud opened #12422 "[Dashboard][Native Filter] Field select in forever loading state when Datasource is not selected"
## Screenshot

In the new native filter

"FIELD" in forever loading state when "DATASOURCE" is not selected:

![image](https://user-images.githubusercontent.com/335541/104243353-498dac80-5415-11eb-8261-de792cac80f0.png)

BTW, we should probably rename "DATASOURCE" to "Dataset".

Some other potential TODOs:

1. Automatically select the main datasource in the dashboard
2. Limit the datasource select

[2021-01-11 22:58] Steejay opened #12424 "[Explore]Change Dataset search can't get back to default list view after filtering"
Once a user inputs copy to filter the list of datasources, the list successfully filters dynamically but they can't get back to the default state that shows all datasets.

### Expected results

Once the user deletes the input, the list should automatically show all datasets again.

### Actual results

The user is stuck with their first filter input and can't redo their search/filter.

#### Screens

[2021-01-11 22:59] ErinYener commented on #11298
I am having this same issue on version 0.37.2; any updates would be appreciated!

[2021-01-11 23:54] junlincc commented on #12424
it's resolved already by chore: Show datasets when search input is empty

@Steejay thanks for filing this issue, still need to speed up a bit to catch up with the changes in the repo 😉

[2021-01-11 23:55] #12424 closed

[2021-01-11 23:57] junlincc commented on #12422
man!! i'm still in Explore and you already started on the Dashboard!!! @ktmud  😈

[2021-01-12 00:28] qyra commented on #12339
It seems to me like they are not being displayed as UTC times. The query itself returns correct data and the CSV export is also correct. I am in the ET timezone so it would make sense that a 5 hour offset would come up if something was trying to convert times to a local timezone or back.

[2021-01-12 00:42] junlincc opened #12427 "[Explore]Blank deck.gl Multiple Layers chart control(Old issue)"
<img width="2045" alt="Screen Shot 2021-01-11 at 4 28 20 PM" src="https://user-images.githubusercontent.com/67837651/104254289-5d440d80-542b-11eb-81fc-8b1d414ed6ee.png">
<img width="2046" alt="Screen Shot 2021-01-11 at 4 36 36 PM" src="https://user-images.githubusercontent.com/67837651/104254296-603efe00-542b-11eb-9fc1-91fe64e18722.png">

while we tested again, we found blank page of deck.glMultip

[2021-01-12 00:47] #12236 closed

[2021-01-12 01:15] junlincc opened #12428 "[Explore]set `width` persistent in data and control panel"
We should make this `width` persistent and save it in localStorage. Could be in another PR, though.

_Originally posted by @ktmud in https://github.com/apache/superset/pull/12411#discussion_r555288553_

[2021-01-12 02:10] eschutho opened #12429 "[sql_lab]Ctrl + t shortcut in SQL Lab opens new tab in Chrome/PC"
The tooltip for the new tab instructs users to use `Ctrl + t` for a new tab, but this doesn't work on a PC. On a PC `Ctrl + t` opens a new browser tab.
<img width="585" alt="_DEV__Superset" src="https://user-images.githubusercontent.com/5186919/104260080-94202080-5437-11eb-8344-ed014ca9b5c0.png">

Suggested solution: change the tooltip to suggest using `Ctrl +q` for PC users and update the keyboar

[2021-01-12 02:11] eschutho commented on #10832
The UI has changed slightly, so I have created a new ticket to reflect the new UI: https://github.com/apache/superset/issues/12429

Can we close this ticket?

[2021-01-12 02:24] eschutho commented on #12429
I'm going to claim this ticket for someone on my team.

[2021-01-12 02:25] junlincc opened #12430 "[explore]table header in Explore Data is not fixed in Chrome"
i believe we do have fixed header.. but only works in Firefox. not in Chrome

Chrome
![ezgif-7-7d0019f43dd3](https://user-images.githubusercontent.com/67837651/104090615-c447a380-522c-11eb-9375-aaab8cc21437.gif)

Firefox
![ezgif-7-20414277498c](https://user-images.githubusercontent.com/67837651/104145657-bbfe7e00-537c-11eb-98f1-e343197ba022.gif)

_Originally posted by @junlincc in https://github.c

[2021-01-12 02:26] eschutho opened #12431 "[sql_lab]Add back description column to saved queries"
**Is your feature request related to a problem? Please describe.**
The description column was removed from the saved queries. We would like to add it back.
Styling TBD

**Describe the solution you'd like**
Show the description of the saved query if it exists on the saved queries page.

**Describe alternatives you've considered**
Not showing the description, but it seems helpful.

**Additional cont

[2021-01-12 02:27] eschutho commented on #12431
@S-YOU can you help with designs? Thanks!

[2021-01-12 03:50] eschutho opened #12434 "[sql_lab]Implement export feature for saved queries (front end only)"
**Is your feature request related to a problem? Please describe.**
We have the backend api for saved queries, and would like to add a button next to each query in the list so that the user can export their saved queries and download a zip file that can be imported later.

**Describe the solution you'd like**
Add an export button on the saved queries page, similar to the charts list page:
<img widt

[2021-01-12 03:50] eschutho opened #12435 "Create export functionality for saved queries"
**Is your feature request related to a problem? Please describe.**
We have the backend api for saved queries, and would like to add a button next to each query in the list so that the user can export their saved queries and download a zip file that can be imported later.

**Describe the solution you'd like**
Add an export button on the saved queries page, similar to the charts list page:
<img widt

[2021-01-12 03:51] eschutho commented on #12435
I have someone to work on this.

[2021-01-12 04:00] eschutho opened #12436 "[sql_lab]Display Rows Returned / Clarify when LIMIT is reached"
**Is your feature request related to a problem? Please describe.**
- Users can't easily understand how many rows their query returned
- Users can't easily tell when the SQL Lab LIMIT is reached, so they don't know if they are only seeing a partial result set. This leads to users accidentally exporting partial datasets to CSVs

**Describe the solution you'd like**
Show rows returned in south pane o

[2021-01-12 04:01] eschutho commented on #12436
@S-YOU can you help with designs?

[2021-01-12 06:10] junlincc commented on #12436
@eschutho
thanks for filing the issues, could you please follow the label guideline below, and use [sql_lab] as issue prefix, thanks!

_As you might have noticed, all labels(212 total) are now specified with prefix and color-coded by types and product area.
By tagging the right labels, you can help us more efficiently sort, identify and prioritize issues, questions, and PRs, ultimately helping us

[2021-01-12 06:25] junlincc commented on #10832
yes! thank you so much @eschutho

[2021-01-12 06:25] #10832 closed

[2021-01-12 07:22] rusackas commented on #12427
Fix is open on https://github.com/apache-superset/superset-ui-plugins-deckgl/pull/24 - if that gets approved/merged, I'll release a new package, and bump it in Superset to resolve this issue.

[2021-01-12 07:53] parakh30 opened #12438 "[Dashboard] Pie chart not visible to public user in 0.38"
We are not able to see word cloud and pie chart in the dashboard when opening with a public user and without login

### Expected results

Should see all the Charts in public user

![image](https://user-images.githubusercontent.com/34987552/104185623-38579680-543b-11eb-86c3-f8cbf0326bdd.png)

### Actual results

Pie chart and Word Cloud not showing for public user

![image](https://user-images.gith

[2021-01-12 09:16] madhamanchiharsha commented on #10354
Hi @villebro  any update on this issue

[2021-01-12 09:56] madhamanchiharsha commented on #10354
I have disabled csrf protection in config.py in superset like this ("WTF_CSRF_ENABLED = False") it is working now

[2021-01-12 10:44] Asturias-sam opened #12439 "DOCUMENTATION_ICON and DOCUMENTATION_TEXT not supported"
A clear and concise description of what the bug is.

### Expected results

When user sets the  DOCUMENTATION_ICON and DOCUMENTATION_TEXT it should be visible on top of the page

### Actual results

DOCUMENTATION_URL is working fine, but not able to set DOCUMENTATION_ICON and DOCUMENTATION_TEXT, i guess this code needs to be fixed https://github.com/apache/superset/blob/6df822438121b02bdcb26108f41d

[2021-01-12 10:48] TimothyDing opened #12440 "[docker]When I deploy superset based on docker according to the document, the front end cannot be opened"
A clear and concise description of what the bug is.

### Expected results

Use docker to deploy superset according to the document, the front end cannot log in

### Actual results

When I log in, after entering the user name and password, the front end displays as follows

#### Screenshots

![image](https://user-images.githubusercontent.com/47961320/104304029-d021b700-5505-11eb-93c2-0661bc402d58.p

[2021-01-12 11:53] adam-stasiak opened #12441 "[welcome] Share Success toast for sql query is displayed too right"
## Screenshot

Go to /superset/welcome
Tap on sql query share option

https://user-images.githubusercontent.com/25153919/104311125-0e52b280-54d5-11eb-94c6-90ad7223cf83.mov

## Description

You can see that success toast is displayed too right and not fully visible
## Design input

[2021-01-12 11:59] adam-stasiak opened #12442 "[data] Filter dropdowns are not in the line with filter name"
## Screenshot

![image](https://user-images.githubusercontent.com/25153919/104311694-dac45800-54d5-11eb-8c9f-aa9844771ae1.png)

## Description
Use 0f731f27e4b41ca63689094ad57c94cc5aa75b89 commit
Go to Data> Databases

You can see that Expose in SQL Lab is not straight with dropdown. It should be in the same line.
## Design input

[2021-01-12 12:13] adam-stasiak opened #12443 "[settings] List Users-> Filter changed by can be set with empty value"
When I go to List Users
And Set filter Changed By with empty value (yes it is possible to choose empty value from dropdown)
Then I click Search
### Expected results

I am not able to choose empty value from dropdown. When value is not set -> search operation should be not permitted.

### Actual results

I can set empty value and then application got an error from backend.

#### Screenshots
<img wi

[2021-01-12 12:51] adam-stasiak opened #12444 "[explore] Scrolling not working on Chart Data section with Safari"
When I am using Safari then I am not albe to scroll this area.
### Expected results

it should be scrollable.
### Actual results

it is not scrollable.
#### Screenshots

https://user-images.githubusercontent.com/25153919/104316037-27129680-54dc-11eb-9ebf-f19ff21cb853.mov

#### How to reproduce the bug

1. Go to any chart
2. click on Data to expand
3. scroll data area
4. See error

### Environment

[2021-01-12 13:56] adam-stasiak opened #12445 "[explore] Chart embed code modal glitch"
When I change size of code block then I can make this bigger than modal

### Expected results

Modal should react to code size change.

### Actual results

Code is outside the modal

#### Screenshots

https://user-images.githubusercontent.com/25153919/104322949-d607a000-54e5-11eb-9fb1-c1b27bea1459.mov

#### How to reproduce the bug

1. Go to chart
2. Click on embed code
3. adjust size
4. See error

[2021-01-12 14:13] zufolo441 commented on #12355
@eugeniamz

thanks!

[2021-01-12 14:23] duynguyenhoang commented on #12438
Some of charts are using new Api endpoint `/api/v1/chart/data` to fetch data, explicitly cloud and pie chart  in this case.
To allow user to access this new endpoint, you have to add new permission `can read on Chart` to Public role

Hope it helps.

[2021-01-12 14:32] adam-stasiak opened #12456 "[chart] Pie chart left side elements -> label disappears"
## Screenshot

Open chart Are you an ethnic minority in your city?
https://user-images.githubusercontent.com/25153919/104327526-2b927b80-54eb-11eb-89d0-1b3e90b12d86.mov

## Description

When you put mouse on left elements of chart then label dissapears. it should remain.

## Design input

[2021-01-12 15:19] dpgaspar commented on #12438
on 0.38 should be `can list on SliceModelView`

[2021-01-12 15:54] adam-stasiak opened #12457 "[dashboard]Native filter FIELD loops when dataset in usewas removed"
You can see on dashboard that Filter loops and if you open this -> then FIELD dropdown has looped animation

### Expected results

Expected: We should indicate somehow that Filter is malformed(@junlincc) and do not propose not available options to set.

### Actual results

Observed: You can find that *FIELD has looped loading animation with name of not available field. After I choose different dat

[2021-01-12 15:55] duynguyenhoang commented on #12438
My bad, I checked master.

[2021-01-12 16:09] adam-stasiak opened #12458 "[dashboard] Long native filter name glitches Filter Configuration modal"
## Screenshot

![image](https://user-images.githubusercontent.com/25153919/104340240-c776b400-54f8-11eb-8b16-4150a537bfad.png)

## Description

When name is too long then right side of modal glitches. I guess we should prevent this behavior. My suggestion is to use "..." on filter name where it is too long or split this into lines.

## Design input

[2021-01-12 16:15] adam-stasiak opened #12459 "[dashboard] When adding two native filters (first ok,second one partially filled) I lost the first one"
When I add two new filters and:
* first is correctly filled
* second is partially filled
And I click on Save on first filter -> I do not get information that this SAVE will not keep my filter when I quit this modal.

### Expected results

We should indicate that progress will be lost and:
- force user to finish or remove remaining filters before exit
- discard not valid filter entries
- keep them

[2021-01-12 16:32] adam-stasiak opened #12460 "[dashboard][native-filter] 1 option0 instead of 1 option"
You can see malformed text when you add parent filters that limits number of options to single value.
### Expected results

1 option
### Actual results

1 option0

#### Screenshots

If applicable, add screenshots to help explain your problem.![image](https://user-images.githubusercontent.com/25153919/104343037-c430f780-54fb-11eb-867e-9f8e2cd1598f.png)

#### How to reproduce the bug
Scenario:
enabl

[2021-01-12 16:40] Steejay commented on #12431
@eschutho @yousoph yes! ill make a design ticket for this and coordinate w Sophie

[2021-01-12 16:52] parakh30 commented on #12438
Thank you guys,
can list on SliceModelView, this worked.

[2021-01-12 16:52] #12438 closed

[2021-01-12 17:09] junlincc opened #12462 "[dashboard][native-filter]make single filter select field collapsible"
requirement: make filter select field collapsible to allow user hide the long list of selected value of a single filter from the dashboard.

<img width="2043" alt="Screen Shot 2021-01-12 at 9 07 52 AM" src="https://user-images.githubusercontent.com/67837651/104347760-d5efac00-54b5-11eb-9867-70acb217f8b8.png">

[2021-01-12 17:17] #12430 closed

[2021-01-12 17:34] graceguo-supercat commented on #12419
I had similar problem, so i created this PR to fix it: https://github.com/apache/superset/pull/11414, which is after release 0.38. You can try it.

[2021-01-12 17:47] adam-stasiak opened #12463 "[explore] click on chart (with deleted dataset) in listing keep us on listing"
Case is that when we delete dataset used by chart and then try to visit this chart - > we are sticked in listing view. Click on chart should redirect us to explore but does not.

### Expected results

I should see chart open with information saying about missingdataset.

### Actual results

Listing is refreshed
#### Screenshots

https://user-images.githubusercontent.com/25153919/104351996-6655dd00

[2021-01-12 17:47] adam-stasiak opened #12464 "[listview] Please display message when chart cannot be open because of missing dataset"
Case is that when we delete dataset used by chart and then try to visit this chart - > we are sticked in listing view. Click on chart should redirect us to explore but does not.

### Expected results

I should see chart open with information saying about missingdataset.

### Actual results

Listing is refreshed
#### Screenshots

https://user-images.githubusercontent.com/25153919/104351996-6655dd00

[2021-01-12 17:50] adam-stasiak commented on #12148
@thoo Could you describe this wider in seperated ticket? :)

[2021-01-12 18:20] junlincc commented on #12464
@nytai just want to bring this to your attention.

we will take this on. @kkucharc Thanks so much!

[2021-01-12 18:23] #12463 closed

[2021-01-12 18:31] nytai commented on #12464
hmm, what should happen in this case? The chart would no longer be useable if the underlying dataset is missing.

[2021-01-12 18:35] kkucharc commented on #12464
@nytai Well when I refresh chart when dataset was already deleted, I had NotFound screen:
<img width="913" alt="Screenshot 2021-01-12 at 19 33 41" src="https://user-images.githubusercontent.com/2536609/104357228-2fcf9080-550d-11eb-9802-f8806039de00.png">
Maybe we should update state and not show chart on the lists anymore. Or we can have some error page.

[2021-01-12 18:35] junlincc commented on #12464
if the chart is no longer useable, should we still display it on the list view, or at least notify user? i would mistaken it as a bug in list view.

[2021-01-12 18:35] junlincc commented on #12464
exactly

[2021-01-12 18:43] nytai commented on #12464
Well in that case should deleting a dataset cause all associated charts to be deleted? I know it's showing up as a UI bug but this is more of an api/data issue

[2021-01-12 18:44] adam-stasiak commented on #12464
Toast message for this would be ok @kkucharc

[2021-01-12 18:45] #11784 closed

[2021-01-12 18:46] junlincc commented on #12464
We are putting a quick bandaid on this issue by adding a lightweight msg for now. I don't think we should hide or delete charts for the users at all.

cc @steejay

[2021-01-12 18:53] nytai commented on #12464
I'm pretty sure this has always been an issue in some form. Deleting a dataset that's connected to a lot of charts affects those charts in weird ways. We've talked about not even allowing a user to delete a dataset until they've deleted all associated charts and dashboards.

Popping a toast would be nice, but I'm pretty sure those are just regular html links for the chart. The exception is on the

[2021-01-12 19:13] junlincc commented on #12464
i understand there's a bigger conversation behind, that's why we are not suggesting any significant changes. simply adding a notification will do more benefit than harm at this point.

[2021-01-12 19:35] junlincc opened #12469 "[explore]chart save modal scroll and dropdown"
https://user-images.githubusercontent.com/67837651/104363247-c5493100-54c9-11eb-9b6f-ded5f033985c.mp4

related to https://github.com/apache/superset/issues/12310(fixed issues in dashboard)

obviously this behavior is global in Superset. addressing in one modal is not enough

@adam-stasiak pls give a round of audit in the product and look for all areas that are being affected, and list those in com

[2021-01-12 19:37] kkucharc commented on #12464
I added notification message.

If I may have suggestion for the future discussions:
1. It would be good to introduce some error pages -> If someone would like share a chart's link and the chart is deleted in meantime, it would be great to show the user some user-friendly page.
2. Maybe it's not bad idea to give possibility to user to delete a datasource but also give some prompt "are you sure?" ma

[2021-01-12 19:44] yousoph opened #12470 "Move CTAS Schema Field Closer to the "Allow Create Table As" In Edit Datasource Modal"
## Screenshot

![Clipboard 2021-07-01 at 10 44 15 AM](https://user-images.githubusercontent.com/10627051/104364487-84521c00-54cb-11eb-960c-aea2504783ae.png)

## Description

It's not obvious that the CTAS Schema field is related to the Allow Create Table As option and might be easily missed by users. The text field should be closer to the Allow CTAS option visually so users know they're related an

[2021-01-12 19:45] yousoph commented on #12470
Will work with @steejay on a mock for this

[2021-01-12 19:51] ktmud commented on #12464
Longer term solution should be allow Explore page to open without a datasource.

[2021-01-12 20:02] nytai commented on #12464
@kkucharc 2 is what happens now (at least from the list view).

<img width="1675" alt="Screen Shot 2021-01-12 at 12 00 46 PM" src="https://user-images.githubusercontent.com/10255196/104366200-dac05a00-54cd-11eb-91aa-9a2fc3b8dbf2.png">

Yes, ideally the user could go in an fix the chart

[2021-01-12 20:06] #12181 closed

[2021-01-12 20:58] adam-stasiak opened #12473 "[explore] Annotation layer modal disappears when value is selected from dropdown"
I am not able to add different formula type annotation layer that the initial. That's because when I choose dropdown option in modal then modal disappears.
### Expected results

Should not disappear.
### Actual results

Disappears.
#### Screenshots

https://user-images.githubusercontent.com/25153919/104373762-251ef680-5521-11eb-8a3a-f6880aaec106.mov

#### How to reproduce the bug

Go to charts
ope

[2021-01-12 21:24] adam-stasiak opened #12474 "[explore] Changing chart type with active annotation layer and filter causes missing chart"
When I set Annotation layer and filter and switch chart type then I got it missing.
### Expected results

proper chart should be displayed
### Actual results

chart is missing
#### Screenshots

https://user-images.githubusercontent.com/25153919/104376132-d70bf200-5524-11eb-9cf5-3bf90be33704.mov

Sorry for bad quality of video. It was long and I was not able to make this under 10MB limit.

#### How

[2021-01-12 21:28] adam-stasiak commented on #12473
Closing as it is a duplicate of Current PR https://github.com/apache/superset/pull/12410

[2021-01-12 21:28] #12473 closed

[2021-01-12 22:17] adam-stasiak opened #12475 "[explore] Removing data from annotation layerdropdown causes modal dismiss"
Removing data from annotation layerdropdown causes modal dismiss

### Expected results

modal should not be dismissed

### Actual results

modal is dismissed

#### Screenshots

https://user-images.githubusercontent.com/25153919/104378913-fc9afa80-5528-11eb-924e-c6be7d6e2c4c.mov

#### How to reproduce the bug

Go to chart
Open add annotation layer area
Add annotation source
Remove annotation source

[2021-01-12 22:45] adam-stasiak opened #12476 "[dashboard] including chart which is malformed (removed datasource) results in broken links"
When I open chart which is malformed because of deleted datasource I get error.

### Expected results

?? @benceorlai Could you define what is expected behavior for such case? In additional context section I described problem.

### Actual results

fatal error
#### Screenshots

<img width="1435" alt="Zrzut ekranu 2021-01-12 o 23 31 12" src="https://user-images.githubusercontent.com/25153919/1043834

[2021-01-12 22:56] nytai commented on #12476
I updated the title because this is really an issue with the dashboard itself, not the list view. The same error would happen if the user were visiting a bookmarked link to the dashboard.

We should probably handle this the same way we're handling https://github.com/apache/superset/issues/12464 as it's just another symptom of the same problem.

[2021-01-12 23:11] junlincc opened #12477 "[chart]added unnecessary scroll bar to the chart container in Explore and Dashboard"
![ezgif-6-59395baf91fa](https://user-images.githubusercontent.com/67837651/104385583-5e874000-54e8-11eb-9980-30d65fbc171f.gif)

[2021-01-12 23:24] dpgaspar commented on #12464
I vote for restricting it at the API level

[2021-01-12 23:47] yousoph commented on #12194
Handling this work under #12436

[2021-01-13 00:22] #12194 closed

[2021-01-13 00:40] ktmud opened #12480 "[Dashboard] Adding charts from new samples data in Dashboard edit mode throws unexpected error"
#### Screenshots

![image](https://user-images.githubusercontent.com/335541/104391321-8086bf80-54f4-11eb-8fdb-e2b3fa1c18b2.png)

Adding the new sample charts from the `video_game_sales` dataset to a new dashboard in the Edit mode will render the chart with an `unexpected error`, which seems to come from trying to getting datasource:

<img src="https://user-images.githubusercontent.com/335541/10439

[2021-01-13 01:37] #12477 closed

[2021-01-13 02:24] graceguo-supercat opened #12481 "[Dashboard] Row component handler is truncated"
## Screenshot

<img width="1274" alt="Screen Shot 2021-01-12 at 6 18 17 PM" src="https://user-images.githubusercontent.com/27990562/104398149-10cc0100-5503-11eb-9e27-74c9efe96fa5.png">

## Before
<img width="1092" alt="Screen Shot 2021-01-12 at 6 23 54 PM" src="https://user-images.githubusercontent.com/27990562/104398329-5e486e00-5503-11eb-9e3b-80073bb08ccf.png">

## Design input
Need bigger space

[2021-01-13 03:06] junlincc commented on #12480
i would consider this is another 1.0 release blocker

[2021-01-13 06:44] junlincc commented on #12480
<img width="1211" alt="Screen Shot 2021-01-12 at 10 42 30 PM" src="https://user-images.githubusercontent.com/67837651/104415803-7d58f700-5527-11eb-9e3a-6567a9e43772.png">

@ktmud do you know why the new samples data is not showing in the data table? is it also related?

[2021-01-13 06:57] ktmud opened #12484 "[Dashboard]Native Filter and top-level tabs"
#### Screenshots

![top-level-tabs](https://user-images.githubusercontent.com/335541/104416235-50591400-5528-11eb-857c-1a1d61debf02.gif)

Should the native filters be out side of all tabs, including the top-level tabs?

#### How to reproduce the bug

Test with the "Tabbed dashboard" example dashboard.

### Environment

Latest master

[2021-01-13 06:58] junlincc opened #12485 "[explore]gallery is behind select dropdown"
![ezgif-6-57eaf4343712](https://user-images.githubusercontent.com/67837651/104417039-9f537900-5529-11eb-9a78-af4d12e6164b.gif)

see above.

[2021-01-13 07:01] ktmud opened #12486 "[Dashboard] native filter and dashboard edit mode"
## Screenshot

A couple of cosmetic issues with dashboard edit mode and native filters:

<img src="https://user-images.githubusercontent.com/335541/104417246-e9d4f580-5529-11eb-9ca9-f2e4e4e80c5a.png" width="800">

Card controls is cramped with the native filter container.

![Snip20210112_126](https://user-images.githubusercontent.com/335541/104417315-04a76a00-552a-11eb-877f-bcfee8c16c6f.png)

Drop

[2021-01-13 07:09] ktmud commented on #12480
I'm not sure.

However, may I report another cosmetic issue:

![image](https://user-images.githubusercontent.com/335541/104418046-33721000-552b-11eb-8158-d17f8d8b6d65.png)

Is this drop-shadow intended?

[2021-01-13 07:10] lilila opened #12487 "Jinja templates not working in superset 1.0 rc1"
Queries using Jinja variables are not working anymore in Superset 1.0 rc1.

For instance I have a dataset defined as follows :

[code]

I use to work well but now I receive the following error:

`Error: (1064, 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'%\n set title_target = \' "\' + filter_values("title_

[2021-01-13 07:23] junlincc opened #12488 "[modal]scroll only on table body with sticky warning msg, tabs, header and buttons"
https://user-images.githubusercontent.com/67837651/104419011-b5af0400-552c-11eb-9df7-f4dbecfe37c2.mov

https://user-images.githubusercontent.com/67837651/104419027-bcd61200-552c-11eb-9a25-ec1e4234842c.mov

[2021-01-13 07:29] #12029 closed

[2021-01-13 07:32] junlincc commented on #12480
we didn't have a design for Data table section due to time constraints. we are merely using whatever comes with the component, i believe. it doesn't bother me much, but i agree the entire Explore page still needs a lot of cosmetic improvement. @mihir14

[2021-01-13 08:21] junlincc commented on #12487
@lilila thanks for reporting, we will get to it asap!

[2021-01-13 08:22] junlincc commented on #12484
should be outside of all tabs.

[2021-01-13 09:28] lilila commented on #11078
Hi @villebro , I hope you are doing well.
I tried the new release (1.0.rc1) and I have the impression the problem is back. All "artificial filters " (such as min / max values) generate warnings. In the end I end up with a dashboard looking like this :
<img width="1723" alt="Screenshot 2021-01-13 at 10 18 45" src="https://user-images.githubusercontent.com/607430/104433161-128cd780-558a-11eb-8a04-3d

[2021-01-13 09:39] junlincc commented on #12488
@geido can you take this on? aiming for 1.0.1

[2021-01-13 09:40] junlincc commented on #12485
@kgabryje can you please take this one on? aiming v1.0.1 thanks!🙏

[2021-01-13 09:41] kgabryje commented on #12485
@junlincc 👍

[2021-01-13 09:48] Pinimo commented on #12331
The solution should be inspired by the changes in #12096.

[2021-01-13 10:10] #12427 closed

[2021-01-13 10:40] villebro commented on #12487
Thnks for reporting @lilila , going to work on this now.

[2021-01-13 10:49] villebro commented on #11078
@lilila is the behavior consistent? There is a problem that causes chart loading errors on `1.0.0rc1` that should be fixed by this PR: #12489

[2021-01-13 10:57] geido opened #12492 "Explore: Header, warning and table in Datasets modal should be sticky"
https://user-images.githubusercontent.com/67837651/104417420-2ef92780-552a-11eb-94e1-b2dc99b1ffa2.mov

_Originally posted by @junlincc in https://github.com/apache/superset/pull/12391#issuecomment-759254980_

[2021-01-13 10:57] geido commented on #12492
I am looking into this one

[2021-01-13 11:34] villebro commented on #12487
@lilila I'm not able to reproduce the first case - I assume you've enabled the template processing feature flag?

[code]

See #11172

[2021-01-13 12:06] bcbilgin opened #12493 "[Explore]Custom SQL COUNT_DISTINCT subtraction in metrics"
Hi,
It's version 0.36.0.
I try to subtract two metric columns; like column1-column2. I need distinct counts here so my first number will be COUNT_DISTINCT(column1) and second one is COUNT_DISTINCT(column2).
This works:
![superset2](https://user-images.githubusercontent.com/10693748/104449690-09166600-55b0-11eb-814a-f7bad25e9d12.PNG)
This does not work:
![superset3](https://user-images.githubuserco

[2021-01-13 12:22] adam-stasiak opened #12494 "[list_view] Unify Forbidden behavior for removing and editing datasets"
In https://github.com/apache/superset/pull/12491 we are introducing popup for forbidden behavior when user tries to modify dataset. We should keep this way also for removal of datasets.

### Expected results

When I try to remove dataset - I can see popup
### Actual results

When I try to remove dataset - I see a toast

#### Screenshots
![image](https://user-images.githubusercontent.com/25153919/1

[2021-01-13 12:27] villebro commented on #12493
`COUNT_DISTINCT(x)` is, I believe, a relic from old times, and should really be replaced by `COUNT(DISTINCT x)`. Regular count is used for counting rows, while distinct counting is used for counting unique values in the column.

[2021-01-13 12:32] agatapst opened #12495 "[dashboard] Impossible to edit imported dashboard data"
When user exports and then imports a dashboard, it is impossible to change some data, i.e. name of the imported dashboard or name of the filter.

### Expected results
It should be possible to edit data of the imported dashboard, the same as it is possible to edit data of the existing dashboard (the one user exports).

### Actual results
When user changes some data, it is not presented.
In case of

[2021-01-13 12:40] bcbilgin commented on #12493
Yes, of course I need to count distinct values and I think you are right, but the reason I use `COUNT_DISTINCT(x)` instead of `COUNT(DISTINCT x)` is the following:
![superset4](https://user-images.githubusercontent.com/10693748/104453374-5d701480-55b5-11eb-9383-c2b616e1c106.png)
The default selection is `COUNT_DISTINCT`

[2021-01-13 12:44] bcbilgin commented on #12493
`COUNT(DISTINCT column1) - COUNT(DISTINCT column2)` did work for me, but I still believe a fix is needed here :)

[2021-01-13 12:53] wildsonc opened #12496 "Line break tooltip"
Is it possible to insert a line break in tooltip?

I already tried:

- \n
- Edit css
- &#013

this is my function:

function getTooltip(tool) {
    return tool && `Title1 ${tool.object.extraProps.column1}:  ${tool.object.extraProps.column2}
    \n Title2: ${tool.object.extraProps.column3}
    \n Title3: ${tool.object.extraProps.column4}`;
}

[2021-01-13 13:06] villebro commented on #12493
Yes, I agree, the mapping from simple to custom filter for `COUNT_DISTINCT` is weird and should be changed. @junlincc let's fix this

[2021-01-13 13:52] geido commented on #12492
Duplicate issue #12488

[2021-01-13 13:52] #12492 closed

[2021-01-13 13:52] geido commented on #12488
I am working on this

[2021-01-13 15:22] agatapst commented on #12457
I will check this issue

[2021-01-13 15:24] lilila commented on #12487
@villebro , No I didn't , works when enabled ! Sorry and thank you

[2021-01-13 15:34] kkucharc commented on #12469
I mentioned this issue in exiting [PR-12410](https://github.com/apache/superset/pull/12410). After small change it will address problem from the video. Thanks to @geido 's work we may save a lot of time when we detect similar dropdown issues :)

[2021-01-13 15:39] villebro commented on #12487
Great, no worries!

[2021-01-13 15:39] #12487 closed

[2021-01-13 15:45] agatapst commented on #12459
Yeah, some info should be displayed here. I will take a look.

[2021-01-13 15:48] agatapst commented on #12458
Good catch, I will take care of it soon.

[2021-01-13 15:49] zhaoyongjie commented on #12496
@wildsonc
Could you complete the issue template?

[2021-01-13 16:49] #12480 closed

[2021-01-13 17:44] junlincc commented on #12495
cc @betodealmeida

[2021-01-13 17:54] junlincc commented on #12493
@zhaoyongjie @villebro let's include the fix it the metric refactoring project, which i wanna prioritize in Q1 before any further feature development

[2021-01-13 18:50] ktmud commented on #12046
Closed by #12318

[2021-01-13 18:50] #12046 closed

[2021-01-13 19:25] ktmud opened #12500 "Add docs for the new time/date filters"
**Is your feature request related to a problem? Please describe.**

#11418 added a bunch of [custom date functions](12408) but there is no documentation on how to use them.

**Describe the solution you'd like**

We should add a user-tutorial page in https://superset.apache.org/ on how to use the new time picker. Explaining:

1. The definition of Previous/Last periods
2. Free text shortcuts, e.g. "

[2021-01-13 19:31] yousoph opened #12501 "[SQL Lab] Split Run Button on Toolbar Missing Disabled State"
## Screenshot
![image](https://user-images.githubusercontent.com/10627051/104499666-4b30af00-5592-11eb-8d4f-be78795e3528.png)

## Description
Prereqs: Have CTAS and/or CVAS enabled on a database
In SQL Lab, delete all text in your query. The button should be showing a disabled state of the split run button but currently shows as the wrong width with the text cut off.
The disabled state of the spli

[2021-01-13 19:45] ktmud commented on #12364
@junlincc I don't think this is a cosmetic issue. It's a functionally incorrect behavior.

[2021-01-13 19:52] junlincc commented on #12364
Sounds right.major refactoring work for control fields is gonna happen soon.We will address all related known issue together. But feel free to add p1 label if you consider this particular one as 1.0 release blocker @ktmud

[2021-01-13 19:56] geido commented on #12469
We must be careful here though @junlincc. The most common solution might be to introduce the overflow visibility, however we might end up in a situation like the one depicted here https://github.com/apache/superset/pull/11770#issuecomment-741438519

[2021-01-13 20:05] junlincc commented on #12500
it's currently WIP!

[2021-01-13 20:21] geido commented on #12469
I am attempting a solution for this that uses the overflow visibility but in a way that should not reintroduce other issues.

[2021-01-13 21:03] junlincc opened #12503 "[Explore]modal jumpiness is back, added scroll bar outside the modal"
We recently fixed the height and added a scrollbar to the list to prevent jumpiness when user type in search, with plan having Warning, Search and Header sticky in the modal.

In latest master, the jumpiness is back, and the page is added scroll bar outside the modal.

https://user-images.githubusercontent.com/67837651/104509449-8a64fd00-559e-11eb-9966-a3f11ed871f4.mov]

https://user-images.github

[2021-01-13 21:21] junlincc opened #12504 "[Sample]View data section shows no data of new samples dataset"
View data section shows no data of new samples dataset imported recently
This is not a functional issue. The table works perfectly on old dataset and charts.

<img width="1789" alt="Screen Shot 2021-01-13 at 1 15 50 PM" src="https://user-images.githubusercontent.com/67837651/104511480-a027f180-55a1-11eb-9f91-ff02fb213401.png">

<img width="1786" alt="Screen Shot 2021-01-13 at 1 24 32 PM" src="http

[2021-01-13 21:31] zuzhi opened #12505 "[Dashboard] FCC New Coder Survey 2018, Error: Columns missing in datasource: ['Gender']"
In this Gender slice in FCC New Coder Survey, uses wrong column name for group by cause an error.

Change 'Gender' to 'gender' should fix it.

#### Screenshots

![image](https://user-images.githubusercontent.com/11850845/104512031-8f6e8e80-5628-11eb-9ed3-fc7928da65aa.png)

![image](https://user-images.githubusercontent.com/11850845/104511978-782fa100-5628-11eb-88fb-a2d211c5422d.png)

#### How to r

[2021-01-13 22:35] jonathantribouharet opened #12507 "Failed to install following instructions"
Hi,
Impossible for me to install on Mac OS 11.1 (Big Sur) with the following command:

[code]

The error

[code]

I also try to nuke docker, but no change.

[2021-01-13 23:25] nytai commented on #12464
@dpgaspar you mean just not allowing users to delete datasets that are connected to charts/dashboards? I think we've talked about this before. We should change the prompt, maybe provide links to the objects that need to be deleted first.

[2021-01-14 01:40] ktmud opened #12508 "[Explore] New time picker breaks old charts with "x days" in time picker start date"
### Expected results

In 0.38 and earlier, if you set "30 days" or "5 months" in start date (without "ago", "before", or "last"), it will be automatically converted to the equivalent of "30 days ago". The new time picker will treat it as "30 days after today", causing an `Unexpected time range: From date cannot be larger than to date` error for some existing charts.

Here are examples of time rang

[2021-01-14 01:58] ktmud commented on #12508
Thanks @michellethomas for spotting this issue!

[2021-01-14 01:58] junlincc commented on #12507
@dpgaspar @srinify  this seems to be a problem as i have received the same question more than once from the community already.

[2021-01-14 02:10] nytai commented on #12507
[Googling the error](https://www.google.com/search?q=docker.errors.DockerException%3A+Error+while+fetching+server+API+version%3A+(%27Connection+aborted.%27%2C+FileNotFoundError(2%2C+%27No+such+file+or+directory%27))&rlz=1C5CHFA_enUS862US862&oq=docker.errors.DockerException%3A+Error+while+fetching+server+API+version%3A+(%27Connection+aborted.%27%2C+FileNotFoundError(2%2C+%27No+such+file+or+director

[2021-01-14 02:11] junlincc commented on #12508
thanks for reporting!
we are happy to include the proposed change in patch release, however, we recommend users to implement their own db migration to eliminate the migration risk. lmk if this sounds reasonable. @ktmud

[2021-01-14 02:22] ktmud commented on #12508
I think we should at least adding an entry in `UPDATING.md` to highlight this breaking change. DB migration script is a low priority considering the low volume of such charts, but it should be eventually committed to the Superset codebase because this is not a company-specific bug.

[2021-01-14 02:33] zhaoyongjie commented on #12508
I'm thinking of maybe doing some adaptations in `get_since_until` https://github.com/apache/superset/blob/241f380e2efe91ad58106cdb4848e0829f432e1e/superset/utils/date_parser.py#L135 @ktmud

[2021-01-14 02:46] ktmud commented on #12508
That works too. But I do find the previous behavior too ambiguous and somewhat confusing so would appreciate it if we can properly deprecate it. Maybe even throw an error message when "x periods" are used without the look back/forward descriptors.

[2021-01-14 02:58] zhaoyongjie commented on #12508
This is a good point. When we detect the user time range value is "X [dateunit]" then respond to an error message.

[2021-01-14 03:14] michellethomas opened #12509 "Sqllab query max limit in query dropdown"
Hi, With the new updates to sqllab (🎉 ) it looks like the max limit in the `limit` dropdown in sqllab is 100,000. Previously, we had the SQL_MAX_ROW config setting to set the max limit on sql queries. Can we allow users to type in their own limit into the limit dropdown (up to `SQL_MAX_ROW`) or make the dropdown options configurable? It's important for users to have the option of getting more resu

[2021-01-14 04:24] zuzana-vej commented on #12047
Confirmed the above linked PR fixed this issue.

[2021-01-14 04:24] #12047 closed

[2021-01-14 04:28] zuzana-vej commented on #12004
Tested - this looks resolved now on Dashboard (where we discovered the bug).

[2021-01-14 04:28] #12004 closed

[2021-01-14 04:47] zuzana-vej commented on #11495
Just checked and this looks fixed now

[2021-01-14 04:47] #11495 closed

[2021-01-14 06:36] junlincc opened #12512 "[explore] switch between SIMPLE and CUSTOM SQL in ad hoc filter"
![ezgif-4-cd50b8c2a1f0](https://user-images.githubusercontent.com/67837651/104552675-15211880-55ee-11eb-908f-00ba77769d1e.gif)

Expected behavior:
select filter value in the SIMPLE tab should automatically update SQL expression in the CUSTOM tab

Actual behavior:
Users have to click the input field to update the change

To reproduce
- create a chart in Explore
- create a filter in SIMPLE
- switch

[2021-01-14 06:40] junlincc commented on #12512
@eschutho @willbarrett we discussed about investing in automated test rather than having both manual testing and automated test, do you guys think issues like this one can be easily caught? and how long will it take to get to that point?

[2021-01-14 06:46] junlincc opened #12513 "[chart]all time series charts x-axis got cutoff"
<img width="1173" alt="Screen Shot 2021-01-13 at 10 12 37 PM" src="https://user-images.githubusercontent.com/67837651/104554255-ccb72a00-55f0-11eb-8c38-6f7a22e34464.png">
<img width="1178" alt="Screen Shot 2021-01-13 at 10 15 39 PM" src="https://user-images.githubusercontent.com/67837651/104554266-d0e34780-55f0-11eb-9586-9b84fd69beea.png">
<img width="1792" alt="Screen Shot 2021-01-13 at 9 43 19 P

[2021-01-14 06:53] junlincc opened #12514 "[Explore]rolling window TIME SHIFT drop down box"
<img width="460" alt="Screen Shot 2021-01-13 at 9 42 02 PM" src="https://user-images.githubusercontent.com/67837651/104554681-65e64080-55f1-11eb-9d39-d07ec0cdf7b8.png">

In Line chart, Advanced Analytics - Time Comparison, dropdown icon is outside the box when long value is selected.

[2021-01-14 07:06] jonathantribouharet commented on #12507
Yes sorry it was because docker was not running.
I only search in this repository.
Maybe you could give a more explicit error than "No such file or directory".

[2021-01-14 07:06] #12507 closed

[2021-01-14 07:32] kamalkeshavani-aiinside opened #12516 "[chart] Replace Big Number with Big Card"
**Is your feature request related to a problem? Please describe.**
I would like to show a single metric/dimension value from db in a report. Currently the only option for that is Big Number chart type, which can work with only Numbers.

**Describe the solution you'd like**
Instead of Big Number, a new chart type like 'Big Card' or 'Big Value' should allow any data type like datetime, string, %, et

[2021-01-14 10:04] zhanggkaii opened #12517 "filter box's selector of time column in the dashboard is not show"
in the chart:
![image](https://user-images.githubusercontent.com/28882694/104576234-e3ae5880-5692-11eb-80eb-3977e627a2cb.png)

in the dashboard:
![image](https://user-images.githubusercontent.com/28882694/104576217-dee9a480-5692-11eb-851c-a8bf7009735c.png)

[2021-01-14 10:24] zhaoyongjie commented on #12512
@junlincc
we need to merge this [PR](https://github.com/apache/superset/pull/12446), before fix this bug.

[2021-01-14 14:05] eugeniamz opened #12521 "Add To Dashboard Modal dropdown is hidden"
When Saving a Chart the option to ADD TO DASHBOARD is hidden.

![2021-01-14_09-01-04 (1)](https://user-images.githubusercontent.com/58375897/104600598-33ffc900-5647-11eb-8073-4fcdf84663e3.gif)

### Expected results

To show the dropdown list.

### Actual results

Shows only 1 dashboard and need to use scroll bar to see more
#### Screenshots

In an instance with many dashboards available
1. Go to a

[2021-01-14 14:57] madhamanchiharsha commented on #4963
can we do duplication using open"API"  endpoints

[2021-01-14 15:35] junlincc commented on #12521
this is issue is duplicate of https://github.com/apache/superset/issues/12469
and had been address in another PR.
@eugeniamz could we double check the issue page before adding the "rush!" label? 🙏

[2021-01-14 15:42] junlincc commented on #12521
@eugeniamz removing "rush!" and closing issue

[2021-01-14 15:42] #12521 closed

[2021-01-14 15:44] srinify commented on #12507
Hey @jonathantribouharet unfortunately, if you look at the stack trace, you'll see that the errors are coming all from non-superset libraries.

The error is coming from the bowels of `urllib3`, a Python networking / requests library which we don't have any control over (https://pypi.org/project/urllib3/). The curse / gift of open source is being able to incorporate libraries created & maintained b

[2021-01-14 16:14] villebro commented on #12505
@zuzhi on what database are you? I assume the problem is caused by how the database handles mixed case column names?

[2021-01-14 17:18] Steejay commented on #12464
I think preserving the chart would be ideal. Even though deleting the datasource will break the associated charts, i dont think we want charts to suddenly disappear for the user.

Flow: Open chart > error message displayed in Explore that the associated dataset has been deleted.

[2021-01-14 17:23] junlincc commented on #12513
@maloun96 Victor, thanks for taking this one on. 🙏

[2021-01-14 17:30] junlincc commented on #12512
will do @zhaoyongjie

[2021-01-14 18:33] #12388 closed

[2021-01-14 19:59] octaviancorlade opened #12528 "[Examples] COVID Vaccine dashboard contains query errors"
In a clean `master` or `latest` branch, with `docker-compose up` the COVID Vaccine dashboard contains many errors like this:

[code]

This is expected with column names that are not all lowercase in Postgres, unless they are wrapped in double quotes

### Expected results

The example dashboards should work on a clean installation

### Actual results

The example COVID Vaccine dashboard contains ma

[2021-01-14 20:19] michellethomas commented on #12509
@hughhhh looks like this was changed in your https://github.com/apache/superset/pull/12067 Sql toolbar PR, thoughts on how we can get a higher sqllab limit back? Maybe if `SQL_MAX_ROW` is > 100,000 we can make `SQL_MAX_ROW` the last option? Or make the dropdown options configurable?

[2021-01-14 20:27] ktmud commented on #12509
We should replace that dropdown with a `CreatableSelect`.

[2021-01-14 20:36] zuzana-vej commented on #12509
@yousoph

[2021-01-14 21:32] Steejay commented on #12494
hey @adam-stasiak I think we could avoid having users encountering this decision by stopping them earlier in the flow. We suggest disabling the edit and delete icon in the actions column. When a user hovers over the disabled icon, a tooltip would appear describing why this action is disabled.

delete tooltip:
"You do not have permission to delete this (object)."

edit tooltip:
"You do not have per

[2021-01-14 21:34] Steejay commented on #12023
🗑🏷 needs:design-input

[2021-01-14 21:38] junlincc commented on #12528
thanks for reporting! multiple users have reported, mistaking it as a functional issues.
I consider this as a 1.0 release blocker. hopefully we can address is soon.

@eschutho

[2021-01-14 21:40] junlincc commented on #12517
what version are you using? @zhanggkaii

[2021-01-14 21:41] eschutho commented on #12528
Thanks @junlincc for flagging. We're looking at this now.

[2021-01-14 21:43] #12517 closed

[2021-01-14 21:50] mihir174 commented on #12343
Made some minor additions + clarifications @amitmiran137 @michael-s-molina @ktmud

Added under **Sentence case**:
"User input that is reflected in the UI. E.g. a user-named a dashboard tab"

Clarified in **Exceptions to sentence case**:
_Input_ labels, buttons and tabs

[2021-01-14 22:03] betodealmeida commented on #12528
Working on it

[2021-01-14 22:09] eschutho commented on #12512
Yes @junlincc I think once we start doing more integration tests with React Testing Library, we can focus on these types of assertions.

[2021-01-14 23:30] hughhhh commented on #12509
Just put up #12529 with the fix tell me what you think

@michellethomas

[2021-01-14 23:51] yousoph commented on #12509
Immediate solution: Show additional options in the LIMIT dropdown based on SQL_MAX_ROW
If needed, users can customize to a different LIMIT in the query itself
That should solve the most pressing issue but let us know if it doesn't

Also open to exploring a more configurable dropdown in the future if the above doesn't meet user's needs. (I'm always happy to chatting about problems / pain points / u

[2021-01-15 00:36] zuzhi commented on #12505
@villebro I use MySQL 8 as superset meta database

[2021-01-15 01:25] eugeniamz opened #12531 "Filter box should not add random predicate to Select and use the specified predicated in the dataset"
Filter box does a
```select <field> from datasource```

for each column in the filter box but the queries that execute in the database add a predicated to select everything from the previous date or older

``` select <field> from datasource where <random date column> < 'date 00:00'```

This won't include the new values from the 'today' and scan all the data from the dataset. This full scan in the

[2021-01-15 01:52] junlincc commented on #12531
@eugeniamz clear👍, will look into it

[2021-01-15 02:42] ktmud opened #12533 "[code hygiene] Fully move Timeseries Table plugin to superset-ui"
Follow up for #12532 .

We need to fully move the Timeseries Table plugin to [`@superset-ui/legacy-plugin-chart-time-table`](https://github.com/apache-superset/superset-ui/blob/84a6d592b9470883150c1085dada740b69e46fe6/plugins/legacy-plugin-chart-time-table/) and delete related files in `superset-frontend`.

[2021-01-15 03:31] zuzhi commented on #12505
#12530 will fix this issue.

[2021-01-15 03:31] #12505 closed

[2021-01-15 06:26] michellethomas opened #12538 "[Sqllab] results table overlap buttons, horizontal scroll doesn't work when column is 50+"
If you run a query in sqllab that returns a large number of columns, the results header shows up on top of the "explore" and "csv" buttons making them not clickable.

#### Screenshots
![image (4)](https://user-images.githubusercontent.com/817955/104688916-7e6c5e80-56b6-11eb-85f0-da948c7c53ae.png)

#### How to reproduce the bug

1. Run a select * statement on a table with 70+ columns
2. Results hea

[2021-01-15 08:05] junlincc commented on #12528
manually tested, confirmed issues is resolved in master, we will have it in for 1.0 release. thanks for the quick fix! @betodealmeida @eschutho

[2021-01-15 08:08] #12528 closed

[2021-01-15 08:18] junlincc commented on #12504
@betodealmeida @eschutho could you take a look at this issue as well? i received a couple report of this issues. thanks

[2021-01-15 09:04] madhamanchiharsha commented on #4963
Atleast let me know the approach that would helpful

[2021-01-15 09:31] durchgedreht opened #12540 "How can I change the Timerange Defaults in Filterbox"
We have the use case that we'd need to adjust the filtering for the defaults.
The day, week, month, ... preselection is good also for our use case but it limits the data to last midnight. We would also need the last actual data points!

Is there a way to change this by configuration somewhere?

Also it would be great to limit the defaults to e.g. last day, last week, last month only as data for la

[2021-01-15 09:39] villebro opened #12541 "Change dataset header floats on top of table entries"
## Screenshot

![change_dataset](https://user-images.githubusercontent.com/33317356/104708014-d4c4b600-5725-11eb-9b3f-1e77344b75ba.gif)

## Description

When scrolling the change dataset table, the header floats above the table entries. Regression caused by #12432

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label `de

[2021-01-15 10:13] durchgedreht opened #12542 "Allowing a user to store a default Timerange filter"
When switching dashboards the Filterbox is loaded from scratch and the user sees the preselection of the Time picker, e.g. "Last week":

<img width="246" alt="Screenshot 2021-01-15 at 10 24 01" src="https://user-images.githubusercontent.com/4490840/104711442-ac3abd00-5721-11eb-8d25-771a53e4be26.png">

We have multiple dashboards and users switch between them and they also need to analyse day, week

[2021-01-15 10:15] amyshangshang opened #12543 "[Dashboard] dashboard charts can't be shared by email"
dashboard charts can't be shared by email

### Expected results

when user clicked the "share chart", it popped out a link with a copy thumbnail and a email thumbnail. when click the email thumbnail, it should launch the email app.

### Actual results

when click the email thumbnail, nothing happens.

#### Screenshots

attached

#### How to reproduce the bug

1. Go to 'dashboards'
2. Click on one

[2021-01-15 10:28] squalou opened #12544 "Driver for Amazon Timestream (panda driver exists)"
Amazon Timestream has recently been publicly released.
Among connectivity support, there is panda (but alos others)

https://github.com/awslabs/amazon-timestream-tools/tree/master/integrations/pandas

Would be nice to have a diver in superset.

**Describe the solution you'd like**

Support AWS Timestream connexion and dialect

**Describe alternatives you've considered**

... not many options avaia

[2021-01-15 10:32] amyshangshang opened #12545 "[Charts] In charts display page, "data" part under the table has different layouts for different datasets"
## Screenshot

attached screenshots

## Description

the data table displayed in 1 row or 3 rows for different datasets

<img width="1416" alt="Screen Shot 2021-01-15 at 2 25 20 AM" src="https://user-images.githubusercontent.com/4502866/104714314-ebddb680-56d9-11eb-9067-96300fdcee5c.png">
<img width="1430" alt="Screen Shot 2021-01-15 at 2 26 37 AM" src="https://user-images.githubusercontent.com/45

[2021-01-15 10:44] amyshangshang opened #12546 "[Dashboard]arrow sorting label drifted off the attribute text in dashboard table"
## Screenshot

attached

## Description

1. click one dashboard
2. in the dashboard page, the table on the left part has the name and count attributes. next to the name attribute, the sorting label was placed too far away from its text.

<img width="1402" alt="Screen Shot 2021-01-15 at 2 35 11 AM" src="https://user-images.githubusercontent.com/4502866/104715562-930f1d80-56db-11eb-8cb1-b2e21d3ceb90

[2021-01-15 11:40] villebro commented on #12544
If there is a SqlAlchemy driver for Amazon Timestream it will be simple to add support for it.

[2021-01-15 12:01] wildsonc commented on #12496
´<p>String</p>´ Works for me

[2021-01-15 12:01] #12496 closed

[2021-01-15 13:26] squalou commented on #12544
I'm note sure.
I mean, I had a look at this :

https://pypi.org/project/awswrangler/

and also

https://github.com/awslabs/aws-data-wrangler/releases

which says :

[code]

I have no idea what to do about it.

If I wanted to 'quickly' try something on my side, is there any pointer as to where I could start ?

I'll help as much as my python knowledge can help but I need a few explanations first :)

[2021-01-15 13:58] junlincc commented on #12541
this behavior is currently not in master and is mentioned in https://github.com/apache/superset/issues/12503 but yea it would have caused regression thus not including #12432 in v1.0. 😅

[2021-01-15 14:34] squalou commented on #12544
I also came accross this

https://pypi.org/project/sqlalchemy-jdbcapi/

that would allow jdbc connexion to superset easily, which would in turn open lots of DB (including aws tmestram).

Any clue about this one ?

[2021-01-15 14:38] villebro commented on #12541
Closing as this recording does not reflect current state of master

[2021-01-15 14:38] #12541 closed

[2021-01-15 14:41] squalou opened #12550 "Include jdbc-sqlalchemy db driver"
**Is your feature request related to a problem? Please describe.**

I use some DB that are not yet supported by superset or sqlalchemy.
BUT jdbc drivers are available.

This project seems to bridge the gap between jdbc and sqlalchemy

https://pypi.org/project/sqlalchemy-jdbcapi/

Would be a great news to have this supported

**Describe the solution you'd like**

Support jdbc connectors provided su

[2021-01-15 15:35] zuzana-vej commented on #12108
fixed

[2021-01-15 15:35] #12108 closed

[2021-01-15 15:40] zuzana-vej opened #12551 "[explore] Hover on (i) in dropdown renders tooltip behind the dropdown"
When user hovers on the (i) to view description of a data field / calculation, the tooltip with description renders behind the dropdown box making the description unredable.

### Expected results

Tooltip is over the dropdown

### Actual results

Tooltip is behind the dropdown

#### Screenshots
![Screen Shot 2021-01-15 at 7 37 29 AM](https://user-images.githubusercontent.com/61221714/104746962-cca

[2021-01-15 15:41] zuzana-vej commented on #12551
related issue: https://github.com/apache/superset/issues/12485

[2021-01-15 17:42] zuzana-vej opened #12553 "[charts] Box Plot query generated wrongly breaking charts"
After the new explore redesign, the query generated for Box Plot chart is wrong, cause the chart to error out. The GROUP BY statement in missing in the query. The query should group by SERIES and by DISTRIBUTE ACROSS fields.

### Expected results

Query gets composed correctly so that chart works

### Actual results

Query is composed wrongly, chart errors out

#### Screenshots

Error:
`Error: {'m

[2021-01-15 17:50] etr2460 commented on #11804
@hughhhh did you try reproing this with `SQLLAB_BACKEND_PERSISTENCE=True`? I've been able to repro consistently with that setting active

[2021-01-15 18:12] junlincc commented on #12538
<img width="1790" alt="Screen Shot 2021-01-15 at 10 10 13 AM" src="https://user-images.githubusercontent.com/67837651/104763022-29623400-571a-11eb-877a-787c6f97d142.png">

[2021-01-15 19:01] betodealmeida commented on #12538
Let me take a look, I worked on the height of the results recently and might've broken this.

[2021-01-15 19:16] yousoph commented on #11804
Thanks @etr2460 ! Yeah, I think he was able to repro now so reopened the issue. I think the flag wasn't set properly earlier so it looked like it wasn't happening.

[2021-01-15 19:21] betodealmeida commented on #12538
Looks like it happen when have more than `MAX_COLUMNS_FOR_TABLE` columns (which defaults to 50), and we invoke `renderGrid` in `FilterableTable.tsx`.

[2021-01-15 19:25] duynguyenhoang opened #12557 "Chart disappears in standalone slice"
As we implemented resizable panels in https://github.com/apache/superset/pull/12411

But this introduce issue with standalone slice, example http://localhost:8088/superset/explore/?form_data=%7B%22slice_id%22%3A%20185%7D&standalone=true

In standalone mode, `chartWidth` is set to undefined, which cause chart disappear

### Expected results

Chart should be rendered properly in standalone url

###

[2021-01-15 20:14] ktmud opened #12559 "[sample]The new "FCC 2018 Survey" data has bad calculated column"
#### Screenshots

If you "View Samples" or select the "Highest Degree Earned" column in a table chart, you will see follow error:

![Snip20210115_170](https://user-images.githubusercontent.com/335541/104773866-91207b00-572a-11eb-800d-c90926d4f724.png)

![image](https://user-images.githubusercontent.com/335541/104774024-ccbb4500-572a-11eb-8f63-5c19c5da7c6e.png)

This is because the column expressio