[2021-06-12 06:18] bonniePxx commented on #15116
i just clone the main project superset and superset-ui project in 2021/6/11. which is the most new version. but i face the emotion theme problem.

1. in superset-ui project. run yarn.yarn build.
2 . in superset project.   go into superset-frontend dirctory.
     run npm install.
     npm link ../..superset-ui/packages/superset-ui-core
     npm run devserver
3. i got the error.
![image](https://use

[2021-06-12 10:40] prashant-shahi opened #15133 "Helm: Postgres password override is not get picked up"
### Expected results

Expected helm chart to work with default/updated values.

### Actual results

It throws `password authentication failed` for both default superset helm
setup as well as updated `values.yaml` where postgres password is overridden.

[code]

#### How to reproduce the bug

We can reproduce the same by following the official documentation:
https://superset.apache.org/docs/installa

[2021-06-12 14:00] xiezhongfu commented on #15110
@jinghua-qa  I think this is something about semantics. Shall we call `Request fullscreen` and `Exit fullscreen`?

[2021-06-12 16:43] stephenLYZ commented on #15099
working on it.

[2021-06-12 16:52] stephenLYZ commented on #15130
@junlincc I think it can be forced to refresh after changing the name of dashboard.

[2021-06-12 21:53] jinghua-qa commented on #15110
@xiezhongfu shall we call 'Enter fullscreen' and 'Exit fullscreen'?

[2021-06-13 03:23] guoguoguilai opened #15136 "How to hide a specific legend in chart"
## Screenshot

![image](https://user-images.githubusercontent.com/47267017/121794140-967de500-cc38-11eb-8526-62671cc8c03c.png)

## Description

Just as the image shown above, I want to get the percentage of Andrea in the sum of Andrea and Andrew without showing Andrew in chart. Is it possiable?

[2021-06-13 03:29] zhaoyongjie commented on #15132
Hi @chen-ABC. I also found this problem a long time ago when using Superset in a production environment. My strategy is to restart the gunicorn process periodically. for instance:
[code]

[2021-06-13 03:41] zhaoyongjie commented on #14998
closed by: https://github.com/apache/superset/pull/15091

[2021-06-13 03:41] #14998 closed

[2021-06-13 04:27] zhaoyongjie commented on #15118
Hi, @pritypriya25 , the PK is chart id(aka slice id), you can get this `id`(PK) from the chart list.
1. clicking `Charts` then hover on the chart that you want to compute.
2. recording the number between "%3A" and "%7d".
3. filling the number to the API .

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/2016594/121795285-edd48300-cc41-11eb-8bb1-6a998a106394.png">

[2021-06-13 05:08] chen-ABC commented on #15132
@zhaoyongjie   Thanks, This is useful for HHTP requests.  but it has no effect on apscheduler  job(Internal calls)

[2021-06-13 05:28] zhaoyongjie commented on #15132
The Superset only exposes an HTTP service, so I guess that it will work either way you call it.

[2021-06-13 07:38] gforcelong commented on #13313
Also happening to me on 1.1.0.

[2021-06-13 12:22] chen-ABC commented on #15132
thanks, That's right

[2021-06-13 14:38] xiezhongfu commented on #14889
I am working in it.

[2021-06-13 16:25] amilamanoj commented on #14930
https://github.com/JohnOmernik/sqlalchemy-drill/pull/62 resolves this issue.

[2021-06-13 16:25] #14930 closed

[2021-06-13 18:49] michael-s-molina commented on #14791
@graceguo-supercat @villebro @junlincc https://github.com/apache/superset/pull/14824 removed the Populate and Refresh buttons to facilitate the user experience when retrieving the values. If we want to support force refresh we have some options:
- Leave as it is and use the search when looking for a specific value
- Disable cache for specific selects
- Create a refresh button specifically for this

[2021-06-14 06:26] villebro commented on #15125
It appears ownership is added when the dashboard is opened, so this isn't directly related to expanding/collapsing the filter tab.

[2021-06-14 06:38] villebro commented on #15125
This happens even without the native filter feature flag being enabled, so removing the native filter tag.

[2021-06-14 07:38] villebro commented on #14791
I think the best solution here is adding a 🔄  type of button next to the filter to make it possible to trigger a `force=true` query.

[2021-06-14 09:07] aonurdemir opened #15144 "Sort descending checkbox in line chart is not working as expected with druid database"
Although I am not checking `sort by descending` checkbox, it sorts series limit data by desc.

### Expected results

It is expected to be sorted by asc and query should be like below:
[code]

### Actual results

It builds the query like this:
[code]

#### Screenshots
[ss1](https://i.ibb.co/VCG3JCH/3.png)
[ss2](https://i.ibb.co/sPHc7Wz/4.png)

#### How to reproduce the bug

1. Choose a druid datase

[2021-06-14 09:13] stevensuting commented on #8322
@dpgaspar This issue still seems to persist in v1.1.0
**Logs**
It does a series of
`INFO:superset.datasets.commands.importers.v0:Importing col` successfully
Then throws `AttributeError: 'NoneType' object has no attribute 'id'`

[code]

[2021-06-14 09:24] kanchansapkota27 opened #15145 "Seperate login page layout based on roles"
It would be better if users can set the landing page based on which role is logging in.
Suppose a public or gamma user not being able to see all the recent activities and charts along with saved queries if we only want them to see a list of dashboard.
While admin could see all those things.

[2021-06-14 11:26] villebro commented on #15125
Re-adding the label and issue to the native filter board due to the problem being related to a native filter feature PR (apologies for the label/project board flip-flop)

[2021-06-14 12:00] beltramem opened #15148 "Adding custom viz plugin bug"
I add trubles to install a custom viz plugin. I followed the documentation here : https://superset.apache.org/docs/installation/building-custom-viz-plugins

every steps are looking good and I encounter no error by runing `npm run dev-server`

but when I try to connect on superset every pages are blank and i got an error on JS log.

### Actual results

Uncaught SyntaxError: Unexpected token '!'

[2021-06-14 12:33] #15125 closed

[2021-06-14 12:40] michael-s-molina commented on #14791
Did you mean to create a button specifically for this page? How common is this requirement throughout the application?

[2021-06-14 13:34] #14828 closed

[2021-06-14 13:38] krish7919 commented on #6834
Dupe of https://github.com/apache/superset/issues/15089

[2021-06-14 13:47] pritypriya25 commented on #15118
thank you @zhaoyongjie . Now I know what is the slice id. But still I can't get my output for from hitting the api chart/{pk}/cache_screenshot.

![screenshot](https://user-images.githubusercontent.com/85749375/121902663-27da7d80-cd45-11eb-853b-c310f4c60f5b.png)

[2021-06-14 14:04] villebro commented on #14791
I think we could reuse this one from SQL Lab:
![image](https://user-images.githubusercontent.com/33317356/121905147-82b6a980-cd32-11eb-9298-20d7b54a0d56.png)

[2021-06-14 14:20] michael-s-molina commented on #14791
My question is more about if this should be a native feature of our selects or something specific for this page.

[2021-06-14 14:26] villebro commented on #14791
Ah, right. If we add it as a native feature, we need to make sure we make it possible to pad selects that don't have the refresh enabled to align them with others that have it, like here:

![image](https://user-images.githubusercontent.com/33317356/121907746-0376a500-cd35-11eb-891c-7c25e5a45e07.png)

Also, if we do add it, we'll have to make sure the hook for it is easy and straight forward to imp

[2021-06-14 15:35] #14887 closed

[2021-06-14 15:35] #14670 closed

[2021-06-14 23:25] philihp commented on #12507
Thanks for posting this issue; I had the same issue. It could certainly be more clear, but I think `docker-compose` should perhaps warn if docker isn't running.

[2021-06-14 23:32] nytai commented on #12507
@philihp You can file an issue with docker for that

[2021-06-15 01:49] kamalkeshavani-aiinside commented on #13793
@junlincc
I just checked the new Pivot Table v2 viz, it's a great improvement.
About the sorting, currently it supports sorting the rows and columns based on keys or values.
In case of values, by default it considers right most column values or the last(bottom) row values, so it would be great if we can have a 'Sort By' option in Query section to decide what value to be used for sorting both rows

[2021-06-15 01:51] kamalkeshavani-aiinside commented on #13427
Thank you for the fix!

[2021-06-15 01:51] #13427 closed

[2021-06-15 01:55] kamalkeshavani-aiinside commented on #12588
It's available in latest release. Thank you!

[2021-06-15 01:55] #12588 closed

[2021-06-15 01:59] kamalkeshavani-aiinside opened #15159 "[Pivot v2]Combine Metrics"
**Is your feature request related to a problem? Please describe.**
In the previous version of Pivot chart, we had a great feature of 'Combine Metrics', which is not available in new Pivot Table v2.

**Describe the solution you'd like**
Please add the 'Combine Metrics' feature in Pivot Table v2 as well.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-06-15 02:01] Kounotori-ssbm commented on #6527
Though this is not a true solution, I found how to show result after keeping show 'rendering'.
Idk you also have same effects but try once below:

- Create a 'saved query' you want to execute and show results (In 'SQL Editor', fill your query and "Save Query")
- Open "Saved Queries" page and open "Pop Tab Link" of the query
- Just execute the opened saved query and then keeping show 'rendering'
-

[2021-06-15 02:03] kamalkeshavani-aiinside commented on #13544
I can see that issue is fixed now in 1.2rc

[2021-06-15 02:03] #13544 closed

[2021-06-15 03:06] kamalkeshavani-aiinside opened #15161 "[Dashboard] Add more features for Dashboard Design"
**Is your feature request related to a problem? Please describe.**
I feel like we still miss a lot of features in terms of designing the dashboard. I would like to start a discussion in the community(if not existing already) about in what ways users would like to be able to edit/design their Superset dashboard.

**Describe the solution you'd like**
Some of the features I would like to see:
- Add b

[2021-06-15 03:24] kamalkeshavani-aiinside commented on #12190
@maloun96 @junlincc
As mentioned by @maoqin, this should work with Rich Tooltip as well. Please add the required changes.:pray:

[2021-06-15 03:33] kamalkeshavani-aiinside opened #15162 "[Bar Chart] Rich tooltip does not work"
The option of 'Rich Tooltip' does not work with Stacked Bar Chart.

### Expected results

Expected to show Rich Tooltip like shows in Line/Area chart
![image](https://user-images.githubusercontent.com/74634977/121988422-396b6600-cdd5-11eb-87d9-67e6f5661e45.png)

### Actual results

Shows only one value at a time when enabled for Bar Chart with "Stacked Bars" option.
![image](https://user-images.gi

[2021-06-15 03:58] pritypriya25 opened #15164 "Compute and cache a screenshot using apache superset rest api"
I am trying to hit the get api  /chart​/{pk}​/cache_screenshot​/  on my localhost. But the error 404 message : "Not found" is been showing. I am able to run other APIs like chart/{pk} and get /dashboard/. But some APIs are showing the same error. Can someone tell me what I am doing wrong over here. I am attaching the ss of my postman.
![screenshot](https://user-images.githubusercontent.com/8574937

[2021-06-15 04:28] kamalkeshavani-aiinside opened #15165 "[Area Chart] Show markers and values, control transparency"
**Is your feature request related to a problem? Please describe.**
We would like to be able to show markers and metric values in the chart. Also controlling the opacity of the chart will be useful.

**Describe the solution you'd like**
Something like this:
![image](https://user-images.githubusercontent.com/74634977/121992231-31fb8b00-cddc-11eb-8d55-97e696d1a320.png)

The markers and opacity featur

[2021-06-15 04:54] villebro commented on #15088
What version are you on @ankitmani2004 ? I am unable to reproduce on master (the parent value populated via default value, with child values being filtered by parent as expected):

![image](https://user-images.githubusercontent.com/33317356/121994854-afa8a200-cdae-11eb-8822-7a1f4c74b97d.png)

[2021-06-15 06:44] suddjian commented on #15148
Can you share the source code of `MainPreset.js`? It looks like something is wrong in that file.

[2021-06-15 06:45] #15145 closed

[2021-06-15 06:52] suddjian commented on #15136
I don't think this is currently possible, but if you or anyone else wants to try implementing it in https://github.com/apache-superset/superset-ui/ and open a PR, I'll give it a review

[2021-06-15 07:09] villebro commented on #15097
We could introduce an additional control "Tooltip metrics" which would add metrics to the query object, and then display those in the tooltip but not on the chart.

[2021-06-15 07:31] villebro commented on #14797
This was fixed by #15015 - closing

[2021-06-15 07:31] #14797 closed

[2021-06-15 07:43] ramesh2744 opened #15169 "Your dashboard is too large. Please reduce the size before save it."
### Expected results

Dashboard should allow to add the new charts and resizing the charts after clicking save button.

### Actual results:
I have an existing dashboard created and contains some charts. Now, I'm trying to add the new charts to it.
Dashboard is not allowing me to save after adding the new charts. Instead, it shows a pop up as shown in below screenshot.

#### Screenshots

![image](h

[2021-06-15 07:46] ramesh2744 commented on #15169
I got confusion in adding  for this one as bug or improvement. For now, I Kept as bug. Please change it accordingly as needed.

[2021-06-15 08:10] #15029 closed

[2021-06-15 08:11] #15148 closed

[2021-06-15 08:13] beltramem commented on #15148
I found the issue thank

[2021-06-15 08:59] ghost opened #15170 "Creating users in Bulk, role based data restrictions through API, apache superset version 1.1.0"
**Is your feature request related to a problem? Please describe.**
I have to create users for apache superset==1.1.0 , manually creating users via console is tedious problem. I am looking for API to create users and assign roles using APIs.
OR something like this https://github.com/apache/superset/issues/3083
OR If there is even a better solution please let me know.

**Describe the solution you'd

[2021-06-15 09:33] vkesirari opened #15171 "Chart Loading time"
The chart takes a lot of time in loading in Iframe.

[2021-06-15 10:01] diegoauad commented on #12867
In my case, it seems that pillow wasn't properly installed and the worker was unable to resize the screenshots:

[code]

Dashboard screenshots need to be downsized, charts don't (that's why they work). I fixed it by reinstalling pillow and restarting the worker.

[2021-06-15 10:25] #14744 closed

[2021-06-15 10:35] krish7919 commented on #6834
I am still facing this issue, even after running under `/`

[2021-06-15 10:47] krsnik93 commented on #14589
Closing as I am now able to do `superset export-dashboards` followed by `superset import-dashboards`, as well as `superset export-datasources` followed by `superset import-datasources`, on latest master without errors.

[2021-06-15 10:47] #14589 closed

[2021-06-15 11:16] #14696 closed

[2021-06-15 12:17] cortesjpb commented on #15035
Same error, any help?

[2021-06-15 12:41] krsnik93 opened #15174 "Dynamic plugin not showing up in VizTypeControl"
I am trying to load a plugin via url.

### Expected results

Expect plugin to appear in the list of viz types.

### Actual results

Plugin is not showing up in viz type list. I can see that a request is made to `https://mysupersethost/dynamic-plugins/api/read` and response contains:
[code]
However, the plugin chart does not appear in the modal. I believe this could be a recent regression because I

[2021-06-15 13:01] #15110 closed

[2021-06-15 13:01] zhaoyongjie commented on #15110
closed by:  https://github.com/apache/superset/pull/15139

[2021-06-15 14:05] cortesjpb commented on #15035
Hello @nazrulhadi , after a lot of research I found out [this article](https://bugs.python.org/issue44061) explaining that this problem is present in Python version 3.9.5 and 3.8.10.

I was trying to deploy Superset on Heroku and the supported Python runtime are those versions so the problem will persist.
Using Python 3.7.10 runtime there is no issue.

Let me know if you are using Heroku or if you

[2021-06-15 14:24] ankitmani2004 commented on #15088
Thanks. I am  using latest apache:superset image.
how to reproduce: 1) define a cascade filter, 2) Define a default value for the filter 3) refresh the page.
How it behaves: Default value will not load and will show "No Results".
You click on 3 lines sign, to expand the cascade filter, then the value will refresh and will show in the filter

[2021-06-15 23:15] benjreinhart opened #15183 "getChartDataRequest handling does not always account for async query responses"
[`getChartDataRequest`](https://github.com/apache/superset/blob/7dc0cee5be33848f46e443fcf3181b605811945b/superset-frontend/src/chart/chartAction.js#L202) is currently used to grab data for charts in 6 places. However, three of those call sites do not account for the (different) response returned when the Global Async Queries feature is enabled.

Here are the call sites (the checked ones appear to

[2021-06-16 02:29] nazrulhadi commented on #15035
hi @cortesjpb currently i test it in my local

[2021-06-16 04:38] lilila commented on #13486
Dear @opus-42 ,

Could you please give us some examples on how you manage to do this:
`An alternative that is already used in my company is to use the dashboard REST API and define colors mapping and update via Custom CLI / Python Scripts. This alternative would requires to Open-Source our CLI and Python Superset Client.
`
It would be very appreciated

[2021-06-16 08:34] jinghua-qa opened #15189 "[explore][time-series] marker option is not work when rich tooltip option is unselected."
### Description
In time series chart, marker option is not work when rich tooltip option is unselected.
### Screenshot or Video
https://user-images.githubusercontent.com/81597121/122186275-bd0f6c00-ce42-11eb-8886-448806d93993.mov

### Repro steps
1, create time series chart using random_time_series data
    Select "random_time_series" dataset
    Select "Time Series Chart" as your chart type
    I

[2021-06-16 09:46] Stephane-Thales opened #15190 "Clickhouse queries return miss the first two rows"
When using any charts object or direct in SQL exploration, on clickhouse database, the first two lines 2 lines are missing.

### Expected results

Query that return 1 line, show 1,
Query that return 2 lines, show 2,
Query that return 3 show 3....
Query that return 96 show 96 lines

### Actual results

Query that return 1 line, show no data
Query that return 2 lines, show no data
Query that return

[2021-06-16 10:24] pratikshetty94 opened #15191 "Problem uploading CSV to Athena db Connection"
1) Using Athena database.
2) Trying to upload a CSV to create a table.
3) Have enabled DML and CSV_UPLOAD to the database.

### Expected results
A new table available in SQLLAB from the uploaded CSV file.

### Actual results
we get the following error:
Unable to upload CSV file "nps_new.csv" to table "csv_table" in database "Athena". Error message: __init__() got an unexpected keyword argument 'bi

[2021-06-16 10:33] michael-s-molina commented on #15067
Done in https://github.com/apache/superset/pull/15115

[2021-06-16 11:17] #14973 closed

[2021-06-16 11:17] #15002 closed

[2021-06-16 11:17] #14791 closed

[2021-06-16 11:24] opus-42 commented on #13486
Dear @lilila, I have started to develop an open-source API client. You can find it [here](https://pypi.org/project/superset-api-client/), you may find an example use case for color in the description.

The idea is to get and then update the dashboard metadata using the REST API.

NB: it is still under development and may not be fully fonctional.

[2021-06-16 11:33] michael-s-molina commented on #15067
Done in https://github.com/apache/superset/pull/15192

[2021-06-16 11:53] krsnik93 commented on #15174
I have debugged this further and the piece of code selecting charts that will be displayed in the modal:
https://github.com/apache/superset/blob/e466066229ec8262583bc118af1f39e2dbf77bcf/superset-frontend/src/explore/components/controls/VizTypeControl/index.jsx#L167-L190
is executed before the
``` MyPlugin().configure({ key: 'my_plugin' }).register()```

So the plugin gets registered into `ChartMet

[2021-06-16 13:52] villebro commented on #15003
First issue is fixed, the second one requires design input.

[2021-06-16 14:01] villebro commented on #15126
Breaking out issue for automatically naming new duplicate name tabs "Tab title (1)", "Tab title (2)" into a separate ticket.

[2021-06-16 14:04] villebro opened #15195 "[dashboard] make tab titles unique"
## Screenshot

![image](https://user-images.githubusercontent.com/33317356/122233270-96921500-cec4-11eb-98e9-53bca5b46672.png)

## Description

Currently it's possible to create many tabs with overlapping names. The ideal solution would be to increment a number when creating new tabs, e.g. "Tab title", "Tab title (1)", "Tab title (2)", also making it impossible to save tabs with duplicate names.

[2021-06-16 14:10] villebro commented on #14977
Additional task: remove charts from scope that don't support the filter component's emitted filter. For example: when adding a time range filter, remove charts that don't contain a temporal column.

[2021-06-16 15:57] krish7919 commented on #15089
Bump someone?

[2021-06-16 19:07] etr2460 commented on #12150
`SESSION_COOKIE_SAMESITE` need to be set to `"None"` not `None`. That should resole your issue

[2021-06-16 19:07] #12150 closed

[2021-06-16 23:10] jinghua-qa opened #15205 "[annotation] click on the edit button two times, the current preferences of the annotation layer disappear."
click on the edit button two times, the current preferences of the annotation layer disappear.

#### Screenshots

https://user-images.githubusercontent.com/81597121/122306246-f258a000-cebc-11eb-8245-71e002109f7e.mov

#### How to reproduce the bug
Precondition:
User have annotation created already

1. Go to annotation and click pencil icon on the right to edit annotation
2. go out without changing

[2021-06-17 01:11] matthewphua opened #15209 "Jinja Incompatible Filter Warnings"
Warning signs appear when applying jinja filter. The functionality works but it would be nice visually if there weren't warnings appearing.
### Expected results

Jinja filter hopefully will eventually work without filter warnings appearing.

### Actual results

https://www.youtube.com/watch?v=dE1QlhunWMs (skip to end to view warnings)

[2021-06-17 02:14] CaptainHoangLe opened #15211 "Change Country map chart base on filter on dashboard"
I am using superset ver 0.36.0
i am having a request about changing map of Country map chart on dashboard.Anyone can give a optimal solution for this problem.

[2021-06-17 03:56] #15131 closed

[2021-06-17 04:44] jinghua-qa opened #15212 "[chart-viz][time-series bar chart] SORT DESCENDING did not take effect when selected"
SORT DESCENDING did not take effect when selected

### Expected results

When 'SORT DESCENDING' is selected , expect SQL query and Data will sort in descending order

### Actual results

When 'SORT DESCENDING', did not see DES in expect SQL query and Data is not sorted in descending order

#### Screenshots
<img width="1779" alt="Screen Shot 2021-06-11 at 2 21 33 PM" src="https://user-images.github

[2021-06-17 05:06] villebro opened #15213 "[native-filters] clicking "clear all" doesn't remove value if "default to first value" is selected"
When "Default to first item" is selected, the "Clear all" button doesn't remove the value. Removing the value in the filter, however, works as expected:

https://user-images.githubusercontent.com/33317356/122334456-6e48fb80-cf42-11eb-84db-ad558cc794dd.mp4

### Expected results

Filter is cleared and "Apply" button turns blue.

### Actual results

The filter is only temporarily cleared and the firs

[2021-06-17 05:33] zufolo441 commented on #15211
I searched for a solution, last year, but there isn't. I had to write a web service that edits JSON of slices.

[2021-06-17 05:34] srikark16 opened #15214 "Creating and Update Users in Bulk through API, apache superset version 1.1.0"
A clear and concise description of what the bug is.

### Expected results
In previous version of superset I was able to create and update bulk users through API's, but with superset version 1.1.0 I am able to do the same.
Below is the link about what I am talking about.
https://github.com/apache/superset/issues/3083

what you expected to happen.
I want to create superset users in bulk.

### Actual

[2021-06-17 06:10] villebro commented on #14918
Discussed this with @cccs-jc - His team will take this on with support from me.

[2021-06-17 06:17] villebro commented on #15212
I believe you need to populate the metric that you wish to sort by in the "Sort by" control for "Descending" to take effect. See here:

![image](https://user-images.githubusercontent.com/33317356/122342072-d69cda80-cf4c-11eb-925c-fd7e568d9531.png)

[2021-06-17 07:03] villebro opened #15218 "[native-filters] filter bar not occupying 100 % height when filter sets FF unset"
When enabling `DASHBOARD_NATIVE_FILTERS` but not enabling `DASHBOARD_NATIVE_FILTERS_SET`, the filter Tab doesn't occupy the full height of the screen:

#### Screenshots

With filter sets enabled:
![image](https://user-images.githubusercontent.com/33317356/122347816-1c5ca180-cf53-11eb-8699-f95458cc43f0.png)

With filter sets disabled:
![image](https://user-images.githubusercontent.com/33317356/1223

[2021-06-17 08:12] tejaskumar-cm commented on #13591
Hi team,
I was using this feature for a use case, where I need to select one or list of user id within a date range and visualise their order details.

To achieve this when I included date filter and user id filter (with parent filter as date filter), in the back-end a query has been ran to select all distinct dates and user id. This indirectly scanning my entire table.

But like we have a option

[2021-06-17 08:14] #15213 closed

[2021-06-17 08:16] villebro commented on #13591
@tejaskumar-cm this is already possible. Just check "Pre-filter available values" and specify the time range:
![image](https://user-images.githubusercontent.com/33317356/122358593-74000a80-cf5d-11eb-9396-8d9e7ffdc0a0.png)

[2021-06-17 09:19] lilila commented on #14912
I have the same problem, with Chrome, Firefox and Safari (haven't tried other browser).
I have PUBLIC_ROLE_LIKE: Optional[str] = 'Gamma' and AUTH_ROLE_PUBLIC = 'Public' in config.py.

When not logged I can access the list of published dashboards but when I want to open one get the following error:
<img width="714" alt="image" src="https://user-images.githubusercontent.com/607430/122368538-b88ba600

[2021-06-17 09:20] lilila commented on #13486
Merci!

[2021-06-17 09:22] villebro commented on #14912
Let me try to reproduce this

[2021-06-17 09:34] liangsieng opened #15221 "The dataset associated with this chart no longer exists"
The dataset associated with this chart no longer exists

**Expected results**

- Able to create new chart with variables visualization type

**Actual results**

- Having Unexpected error with "The dataset associated with this chart no longer exists"

![image](https://user-images.githubusercontent.com/38716433/122369420-c0b10900-cf90-11eb-9041-2e2fb03612d5.png)

**How to reproduce the bug**

- Sele

[2021-06-17 09:40] avant-garde-cracker commented on #13591
Hi All,

With the native filters I am not getting all the new features(Advanced features) of filter configurations and scoping. I have upgraded the superset and have added the following to the config file :-
FEATURE_FLAGS = {
    "ENABLE_TEMPLATE_PROCESSING": True,
    "DASHBOARD_NATIVE_FILTERS":True,
    "DASHBOARD_CROSS_FILTERS":True
}
But the Advanced Features like  "Pre-filter available values

[2021-06-17 09:51] villebro commented on #13591
My screenshot was from master branch, which won't be available in an official release until 1.3 comes out (the feature flag will be enabled by default then).

[2021-06-17 11:23] Chen1810 opened #15224 "superset_text"
filepath->superset-frontend/src/utils/textUtils.ts
question->module = require('../../../superset_text') -> where's the file ?

[2021-06-17 11:49] stephenLYZ commented on #15099
fixed #15138

[2021-06-17 11:49] stephenLYZ commented on #14801
fixed #15134

[2021-06-17 11:54] villebro opened #15226 "[native-filters] hide non-numeric columns in numeric range filter"
Currently the numeric range filter supports selecting a non-numeric column, which isn't supported by the filter. It would be preferable to only list compatible columns so the user can more easily find the relevant columns and avoid unnecessary errors.

## Screenshot

![image](https://user-images.githubusercontent.com/33317356/122391401-a3257480-cf7b-11eb-9170-7acf855b9c1a.png)

[2021-06-17 12:26] kgabryje commented on #15068
@junlincc We'll handle changing the scope as a part of issue https://github.com/apache/superset/issues/14977. Hiding filters has been implemented in #15225

[2021-06-17 12:54] helo-ch opened #15227 "Data results appear as 'undefined'"
Data results below visualisation appear as 'undefined' when field name contains a dot.

### Expected results

When there is no dot in field name, data results below visualisation contain values from dataset, as is expected.

<img width="838" alt="superset_ok" src="https://user-images.githubusercontent.com/28846165/122392577-46728b80-cf74-11eb-8721-051e508489ed.PNG">

### Actual results

However, w

[2021-06-17 13:38] #15218 closed

[2021-06-17 13:57] kanchansapkota27 commented on #13356
I also have similar requirements.

[2021-06-17 14:51] #15068 closed

[2021-06-17 15:04] kgabryje commented on #15226
Should we disable this type of filter if there are no numeric columns in the dataset? Similar to https://github.com/apache/superset/issues/15068

[2021-06-17 16:05] saultawil commented on #15094
For the benefit of others I found that the following bug was caused by setting feature flags "CLIENT_CACHE" or "DASHBOARD_CACHE" to true; when I set them to false the issue went away.

[2021-06-17 17:20] srinify commented on #15191
Hi @pratikshetty94 I'm not 100% sure if CSV upload works for Athena. It's done at a database-by database level and not all of them support this specific feature (CSV upload).

[2021-06-17 18:35] aspedrosa commented on #8501
Found the source of the new bug
The code shows this [line](https://github.com/apache/superset/blob/1.2.0rc2/superset-frontend/src/dashboard/components/Header/index.jsx#L405). The variable `dashboardInfo.userId` is a valid string so react renders the FaveStar component.

![bug_favstar](https://user-images.githubusercontent.com/23409890/122453156-f1e60500-cfa1-11eb-9a9e-6d152985fcd2.png)

Don't know

[2021-06-17 18:52] aspedrosa commented on #14912
I think I was able to find the source for the problem.
The information of the user present on the state is empty (Maybe saying something wrong related to react concepts :sweat_smile: ).

![empty_user_on_state](https://user-images.githubusercontent.com/23409890/122455632-85b8d080-cfa4-11eb-9a79-f1d0a8535f3e.png)

At least its roles need to be present. Just to test I applied these changes to [supers

[2021-06-17 21:18] rusackas commented on #15116
Is there a particular page in Superset that's throwing this error? I'm thus far unable to replicate, but maybe I'm just looking at a different page with different components.

To retrace your steps, I did the following:
* Pull `master` on `superset-ui`
* Pull `master` on `superset`
* in `superset-ui` run `yarn` and then `yarn build`
* in `superset` cd into `superset-frontend` and run `npm link ../

[2021-06-17 21:24] suddjian opened #15239 "Cards link to a 404 page while loading"
While loading, cards link to an undefined page causing a 404.

### Expected results

There should not be an active link while the cards are in a loading state

### Actual results

The cards attempt to link to their relevant resource, but instead link to e.g. `/chart/list/undefined`. If you click a card while it's loading you get a 404 page.

#### How to reproduce the bug

1. Go to the chart list v

[2021-06-18 02:25] zhaoyongjie commented on #15224
This is an error message profile, if the file does not exist, an empty object will be returned.

[2021-06-18 03:03] CaptainHoangLe commented on #15211
So sad @@. thanks for your reply

[2021-06-18 06:09] bonniePxx commented on #15116
thanks for your replay!  i just try the steps on others's computer and there have no bug. so i Speculate it's about the npm version. becase i run npm link in several project it my cause the Global node_moudle pollution. by the way i use npm v7+.
i don't know if the npm high version cause the problem.but when i delete the node 14 and reinstall it. i get npm 6+. and everything looks good !

[2021-06-18 06:09] #15116 closed

[2021-06-18 07:16] villebro commented on #15050
No action needed - exporting from local instance and importing to both local instance (after first deleting original chart and dashboard) and Preset confirmed to work as expected.

See below screenshot of imported dashboard with a Value filter with predefined default values:
![image](https://user-images.githubusercontent.com/33317356/122521986-213a5780-d01e-11eb-9206-4461726e1a46.png)

[2021-06-18 07:41] villebro commented on #15050
Reopening - table references need to be updated in native filter metadata

[2021-06-18 07:46] di-coder opened #15250 "How to share dashboards in apache superset"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-18 08:42] lilila commented on #14912
fantastic, thank you!

[2021-06-18 08:46] lilila commented on #15209
I understand it is not so easy to detect if a filter has been used through jinja filter. But it would be nice to add an option to hide the warnings

[2021-06-18 09:06] layasail opened #15251 "row level security rule not working in sql lab"
When I set up the row level security rule for one user role, the user attached to the role use the sql lab but tried anyway can't get result in any sql even no conflicts with the row security rule

### Expected results
sql lab should also works well under row security rule

### Actual results

no result anyway I tried

#### Screenshots

#### How to reproduce the bug

1. Go to 'row level security t

[2021-06-18 09:08] nraschi opened #15252 "Chart does not cover the entire page with Standalone=1"
When Standalone=1 (or standalone=true) is passed in query string the chart does not fit the full page like used to do in the previous version.

### Expected results (Superset v. 0.37.2)
In this case the chart area is 1920 x 937 and fit the entire page:

![image](https://user-images.githubusercontent.com/26787281/122533448-dd495180-d021-11eb-823a-6b8367a202b0.png)

### Actual results (Superset v. 1

[2021-06-18 09:24] pierreyves-lebrun commented on #11363
Had the same issue, realized that manually re-running the `superset-init-db` job fixes it

[2021-06-18 09:40] #15221 closed

[2021-06-18 09:48] Stephane-Thales commented on #15190
It look like a SQLAchemy issue
`https://github.com/xzkostyan/clickhouse-sqlalchemy/issues/14`

Here a possible solution, using the +native driver, but I can't make it work. Need more investigation :
`https://github.com/xzkostyan/clickhouse-sqlalchemy/issues/84#issuecomment-596543932`

[2021-06-18 09:56] #15190 closed

[2021-06-18 10:59] rmgpinto commented on #13275
@betodealmeida can you help here please?

[2021-06-18 11:17] Animesh3193 opened #15255 "DB Connection pool throws error when executing raw sql in Celery job"
When running Superset version 0.36 coupled with postgres to schedule jobs that runs raw SQL postgres queries in kubernetes environemnt. The query execution fails as follow :-

### Expected results

- When Raw SQL is run in the db session object using the execute method
- By using fetchall to fetch all row from the postgres database, result is expected to be a list of tuples containing value of col

[2021-06-18 12:38] liangsieng opened #15256 "Unable to set dashboard permission"
A clear and concise description of what the bug is.

### Expected results
User able to access/view dashboard

### Actual results
Keep having error with "You don't have access to this dashboard."

#### Screenshots

![image](https://user-images.githubusercontent.com/38716433/122561383-5ec9cf80-d074-11eb-80b0-d1f34ba2e5d9.png)

Tried duplicate admin role and assigned to user but still facing the same

[2021-06-18 15:01] shawnzhu opened #15258 "documented data cache config doesn't work with flask-caching v1.9.0"
I've following the guide [here](https://superset.apache.org/docs/installation/cache) to setup Redis as data cache with superset from master branch.

### Expected results

Superset should work as it was without data cache configuration.

### Actual results

None of the chart works in any dashboards. While if clicking _Force Refresh_ option of a chart then it works again but still doesn't work when

[2021-06-18 15:05] DamienAllonsius commented on #6568
Totally agree with @diegoscarabelli I would be very interested as well !

[2021-06-18 15:18] shawnzhu commented on #15258
I've tried below config stanza with flask-caching 1.9.0 directly and it could reproduce a similar stacktrack:

[code]

[code]

However, the same code works with Flask-caching 1.10.1. So I dig more then realized the config attribute `CACHE_REDIS_URL` + `'CACHE_TYPE': 'redis'` is not supported in Flask-Caching until 1.10.0. So the above stacktrace is expected outcome by following this constructor: h

[2021-06-18 15:22] zufolo441 commented on #14912
For me, it didn't solve...
![Screenshot_20210618_172146](https://user-images.githubusercontent.com/45826835/122583588-b3138600-d059-11eb-991c-e557f04f4782.png)

[2021-06-18 15:49] rusackas opened #15260 "[chart]Bar Chart sorting does not appear to work as intended."
See also this issue, possibly related: https://github.com/apache/superset/issues/13792

When you go to a bar chart, for example this one from the Video Game Sales example dashboard:
![image](https://user-images.githubusercontent.com/812905/122587243-d4a14d00-d01a-11eb-85d4-1004b4c1721b.png)

https://user-images.githubusercontent.com/812905/122587824-8771ab00-d01b-11eb-8b15-fdfb8bcacd2f.mp4

The ex

[2021-06-18 16:17] layoaster opened #15262 "[Helm chart] Init-db container failing"
Init db errors when deploying with helm chart

### Expected results

Succesful init of the DB upon helm chart deployment
### Actual results

The init-db command fails with:

[code]

#### Screenshots

[Logs](https://gist.github.com/layoaster/8ed216e4402850990b1184d0e4eb8336) of the init-db container

#### How to reproduce the bug
Deploy with helm chart v 0.1.5

### Environment

helm chart v0.1.5 (s

[2021-06-18 16:28] betodealmeida commented on #13275
@rmgpinto can you post your full `superset_config.py`? Specifically, do you have a results backend or cache configured?

[2021-06-18 16:30] rmgpinto commented on #13275
Sure, thanks for looking into this.

[code]

[2021-06-18 16:47] mmatela opened #15263 "/api/v1/dataset/import/ has no effect"
I'm trying to import a CSV file as a dataset following the instructions here: https://stackoverflow.com/questions/66015739/use-apache-superset-api-to-feed-a-dataset
At first id failed with a very generic error message, but after some investigation I realized that the `meatada.yaml` file should be inside the datasets folder instead of the root of the zip.
Now the request is accepted, but the 200 OK

[2021-06-18 17:02] rusackas opened #15264 "[Proposal][style-guide]Tips and best practices for Emotion `styled`/`css` implementation"
The following is a proposal to provide guidance on how best to use Emotion, some of the tips/tricks/patterns that exist in the repo, and the pros/cons of using `styled` vs `css` approaches, with example use cases. This proposal, after a little clean-up here and feedback from this thread, will be posted to the `dev@` email list for lazy consensus before being migrated to the Superset Wiki.

*******

[2021-06-18 17:05] mmatela commented on #15263
It may be because I missed the first step from the instruction - adding the VERSIONED_EXPORT flag (if so, the system could inform about it).
But how can I do this with a docker instance? When I try to add this

    FEATURE_FLAGS: Dict[str, Any] = {
        "VERSIONED_EXPORT": True,
    }

in `superset/docker/pythonpath_dev/superset_config.py` or `superset_config_dokcer.py`, Superset doesn't start,

[2021-06-18 17:12] mmatela commented on #15263
OK, I found there's already `FEATURE_FLAGS` definition in `superset/docker/pythonpath_dev/superset_config.py`, so I added `"VERSIONED_EXPORT": True` there and it started. Nothing changed in the behavior though.

[2021-06-18 18:16] daniel10012 commented on #14716
@junlincc @-rusackas

[2021-06-18 18:23] betodealmeida commented on #13275
@rmgpinto I think the problem is in your results backend:

[code]

It should not be a dictionary, it should be an instance of `BaseCache`.

This is what I use locally, eg:

[code]

[2021-06-18 18:28] rumbin commented on #6568
I want to point out that this feature is closely related to #7172, since we'll often require to show unaggregated values on _both_ axes of the scatter plot.

An interesting question, of course, is whether there is also a need to show aggregated values on one or both axes and if so, how to define the group-by dimensions...

Furthermore, I want to emphasize that while it is commonly called scatter p

[2021-06-18 18:28] jinghua-qa opened #15266 "[explore][radar chart]'Legend' title is duplicated in CUSTOMIZE panel"
## Screenshot

<img width="1790" alt="Screen Shot 2021-06-18 at 11 26 05 AM" src="https://user-images.githubusercontent.com/81597121/122602806-4764f500-d028-11eb-8e3a-976fd7ac8cc8.png">

## Enviroment
Superset master

[2021-06-18 18:32] jinghua-qa commented on #15212
@villebro so should we disable the SORT option if SORT By is not configured?

[2021-06-18 18:39] #14599 closed

[2021-06-18 18:39] jinghua-qa commented on #14599
Verified fixed

[2021-06-18 18:46] jinghua-qa opened #15268 "[dashboard][edit] Sort chart menu is cut on dashboard edit panel"
## Screenshot
<img width="1790" alt="Screen Shot 2021-06-18 at 11 36 58 AM" src="https://user-images.githubusercontent.com/81597121/122604382-b93e3e00-d02a-11eb-9a3b-8902eab35e96.png">

##  Enviroment
Superset master

[2021-06-18 19:53] rusackas opened #15269 "[chart] Pivot table V2 not rendering boolean fields"
Opening this ticket to address an issue brought up in this PR: https://github.com/apache/superset/issues/14716

***********
Hi, the pivot table is now displaying the label rather than the field name as expected, but I'm still seeing issues rendering the boolean field... it's still blank

![image](https://user-images.githubusercontent.com/31777200/121059175-28947200-c78f-11eb-99d3-dc160c1ab361.png)

[2021-06-18 19:54] rusackas commented on #14716
Tracking @jamesrayoub 's comment in a new Issue linked above ^^^

cc @kgabryje

[2021-06-18 20:05] jinghua-qa commented on #14251
Testcase added

[2021-06-19 00:03] daniel10012 commented on #7327
@rusackas

[2021-06-19 00:03] layoaster commented on #15262
Issue solved, took original `values.yaml` and taylored to my needs seems to solve the issue

[2021-06-19 00:03] #15262 closed

[2021-06-19 04:59] #15256 closed

[2021-06-19 04:59] liangsieng commented on #15256
Issue resolved with set DASHBOARD_RBAC =  False

[2021-06-19 05:29] #15050 closed

[2021-06-19 13:26] #15266 closed

[2021-06-19 13:33] stephenLYZ commented on #15268
same to https://github.com/apache/superset/issues/14799

[2021-06-19 14:14] michalc opened #15271 "A way to make flask-caching optional / use a different caching mechanism"
**Is your feature request related to a problem? Please describe.**

flask-caching has a published vulnerability https://nvd.nist.gov/vuln/detail/CVE-2021-33026#vulnCurrentDescriptionTitle where access to the cache store would lead to authorised code execution in Superset. Unfortunately, a fix does not appear available at this time.

**Describe the solution you'd like**

A way to _not_ use Flask ca

[2021-06-19 22:01] dpgaspar commented on #15271
Hi @michalc,

This should have followed our responsible disclosure policy that is explicitly declared when you create a security issue on Github

[code]

We follow Apache security Guidelines has stated above, so please send a copy to private@superset.apache.org and we'll followup on this there. Thank you

[2021-06-19 22:01] #15271 closed

[2021-06-19 22:07] michalc commented on #15271
My apologies… I guess I (mis-)assumed that since the vulnerability in flask-caching is public, there was nothing remaining to disclose or report, and all discussion could be public.

[2021-06-20 04:00] #14769 closed

[2021-06-20 04:00] #14772 closed

[2021-06-20 14:32] sedat-eyuboglu opened #15275 "Getting incompatible package errors while installing Superset from scratch"
When i tried to install Superset according to the steps at https://superset.apache.org/docs/installation/installing-superset-from-scratch, i get following errors and installation can not success.

ERROR: flask 1.1.4 has requirement itsdangerous<2.0,>=0.24, but you'll have itsdangerous 2.0.1 which is incompatible.
ERROR: flask-appbuilder 3.3.1 has requirement Flask-WTF<0.15.0,>=0.14.2, but you'll h

[2021-06-20 18:59] sedat-eyuboglu commented on #15275
I also tried installing on Debian 10, and get the same errors.
After spending one day, the only installation i could do is docker compose. And it has limitations to connect databases out side of the docker-compose environment.

How can i install Superset and make it connect to my already installed mssql and apache druid instances on other servers in my loacal network? any idea?

[2021-06-21 06:34] suedschwede commented on #14671
I would use Datatypes without NULLABLE in Superset

NULLABLE(DateTime) = DateTime

I use as workaround  (clickhouse.py)

` @classmethod
    def get_datatype(cls, type_code: Any) -> Optional[str]:
        """
        Change column type code from cursor description to string representation.

        :param type_code: Type code from cursor description
        :return: String representation of type co

[2021-06-21 06:55] stephenLYZ commented on #14962
fixed https://github.com/apache-superset/superset-ui/pull/1151

[2021-06-21 07:21] #14690 closed

[2021-06-21 09:28] rmgpinto commented on #13275
Thanks @betodealmeida, that was the solution.

[2021-06-21 09:28] #13275 closed

[2021-06-21 09:51] squalou opened #15277 "Pivot table V2 not formating timestamp"
In Pivot Table v1, TIMESTAMP columns are nicely displayed as dates.
In v2 : the `long` value is displayed as-is.

### Expected results

Having timestamp displayed as human readable dates.

### Actual results

`long` numerical value is displayed

#### Screenshots

The `created_at` value in this example is a timestamp.

Pivot V1 :

![image](https://user-images.githubusercontent.com/4623644/122742794

[2021-06-21 10:48] eduardoperezitop opened #15280 "Public access to dashboard not working in 1.2.0rc2"
In the 1.2.0rc2 version the feature that allows logged-out users to consume some Superset features is not working. I didn´t have this error in 1.1.0 with the same config.

### Expected results

I expect logged-out users to be able to access some of my dashboards

### Actual results

They get an unexpected error screen

#### Screenshots

The configuration needed:
![image](https://user-images.github

[2021-06-21 14:07] villebro commented on #15212
@jinghua-qa that's probably a good idea 👍 I'll do that unless there is a reason why it should be active.

[2021-06-21 14:31] cxsphereraja opened #15282 "how to pass organization id in the url"
Hi,

I would like to pass the organization id in the URL so that the chart data can be filtered accordingly?

Something like the below URL:
https://analytics.cxsphere.com/superset/dashboard/30/?organization_id=64

Can you please suggest to me the right syntax to achieve the above?

Raja K

[2021-06-21 15:03] EBoisseauSierra commented on #15037
Actually, shouldn't it already possible via [the `TIME_GRAIN_ADDONS` variable in `config.py`](https://github.com/apache/superset/blob/master/superset/config.py#L542-L565)?!

(I haven't successful in trying it myself yet, but I'll raise a separate issue if required.)

[2021-06-21 15:50] himanshumps commented on #10087
I am also facing the same issue .. This is the dockerfile I am using

[code]

[2021-06-21 15:52] himanshumps commented on #10087
@badman-rodriguez How did you fix the issue ?

[2021-06-21 15:56] squalou opened #15283 "jinja templating not working (1.2.0-rc2) requires undocumented config"
### Expected results

Following documentation, running for instance this query should work (from sql lab)

[code]

should work and return results.

### Actual results

`{{ current_username() }}` is not interpreted at all, is considered as a String. Hence the result does not work.

Note that ` '{{ url_param('myparam') }}' ` does not work either

looks like no templating interpretation is done.

Use

[2021-06-21 16:00] squalou commented on #15283
Another example ... disclaimer : I'm not certain it was supposed to work, using the templating in the 'select'.

I can't find any other 'visually' self-explaining screenshot of the issue.

![image](https://user-images.githubusercontent.com/4623644/122792417-72667780-d2ba-11eb-8647-8d6f050d0f21.png)

[2021-06-21 16:04] himanshumps opened #15284 "Init database with admin user"
A clear and concise description of what the bug is.

I am trying to setup the admin user with following Dockerfile

[code]

### Expected results

The admin user should be added.

### Actual results
The admin user gets added but I get readonly database error while adding dashboard

[2021-06-21 16:08] squalou commented on #15283
I've found this :

https://github.com/apache/superset/issues/12487

but nowhere in the documentation I can find how to enable

[2021-06-21 16:21] squalou commented on #15283
for the records, this works in `superset_config.py`

It should really be added here : https://superset.apache.org/docs/installation/sql-templating

[code]

[2021-06-21 16:37] adhip94 opened #15286 "Superset configuration on a production version of superset in docker"
### Expected results
The ability to add a superset configuration on a production version of superset running on docker.

### Actual results
Unable to configure a superset configuration on docker.

### Environment

- superset version: `1.1.0`
- python version: `3.8.5`
- node.js version: `10.19.0`

### Additional context
I am new to superset, I have followed the steps from [here](https://superset.ap

[2021-06-21 16:44] nytai commented on #15286
You can volume mount a superset config into the container

[2021-06-21 16:51] adhip94 commented on #15286
@nytai  Could you please give me an example of it?

[2021-06-21 17:14] squalou commented on #15286
Hi,
I have a similar setup, here's what I did

Dockerfile :

[code]

and the file `superset_config.py` itself contains your configuration

[code]

less flexible than a mounted volume but works in a serverless environment.

[2021-06-21 17:34] adhip94 commented on #15286
Thanks, but I am already running superset using docker-compose and I was trying to figure out on which path to mount it to.

[2021-06-21 17:58] ThiefMaster commented on #15271
IMHO the CVE is bogus. If someone has write access to your cache's storage, you are most likely already compromised.

[2021-06-21 18:38] adhip94 commented on #15286
Got it, I added the FEATURE_FLAG in the `superset_config.py` which was present in the cloned repository path `superset/docker/pythonpath_dev`.

[2021-06-21 18:38] #15286 closed

[2021-06-21 21:55] graceguo-supercat opened #15288 "[native filters] out-of-scope time range filters are triggered multiple times"
#### Screenshots

![AJT3vCl1mS](https://user-images.githubusercontent.com/27990562/122832128-c44dd400-d29f-11eb-8c6c-735b34e6f9f5.gif)

#### How to reproduce the bug

1. enable dashboard native filter
2. add a few tabs, add a time-series chart in the 2nd tab.
3. add time-range filter component and apply it to 2nd tab only.
4. open dashboard, it shows first tab. but check browser console, you will

[2021-06-21 23:50] jinghua-qa commented on #15268
Close as it is duplicated

[2021-06-21 23:50] #15268 closed

[2021-06-22 00:40] mvoitko opened #15289 "AWS IAM policy with minimum set of permissions needed for Apache Superset to use Athena"
*Please make sure you are familiar with the SIP process documented*
(here)[https://github.com/apache/superset/issues/5602]

## [SIP] Proposal for XXX

### Motivation

It is unclear which is the minimum set of permissions needed for Apache Superset to add Athena as a datasource.

### Proposed Change

The example of the minumum IAM policy needed like https://github.com/dacort/metabase-athena-driver#

[2021-06-22 01:58] NickChoiRBX commented on #15036
For my purposes, it'd be much better if there was a linear interpolation option. Is there a version that's available on? I've seen a lot of people requesting this be made available as a feature, given that the app's UI used to behave this way.

[2021-06-22 02:17] jessicaxyl opened #15291 "Dashboard Native Filter: cannot filter null values"
I've realized there is an option of "null" for the select filter in the Dashboard's Native Filter. However, when null was clicked as a filter, it does not show the correct output on the charts. Whereas when I try selecting null in the Filter Box created using Explore, it works. I'm using the same dataset for all the charts, filter box, and dashboard native filter.

### Expected results
I expect th

[2021-06-22 04:14] maltoze commented on #15283
#15246

[2021-06-22 04:46] villebro commented on #15288
@graceguo-supercat I can look into this. In the meantime, these are fairly low cost requests that are mainly validating the time range, so I don't think they pose a major performance bottleneck for dashboards.

[2021-06-22 07:03] OGx09 commented on #2748
Hi @xrmx , the link you shared is down.

[2021-06-22 07:55] EBoisseauSierra commented on #15036
@NickChoiRBX Isn't linear interpolation the current behaviour already (see first screenshot)?

[2021-06-22 10:03] aseembansal-gogo opened #15293 "Time Range Custom & Advanced labels for inclusive exclusive do not match Actual time range shown"
### Expected results

Labels (inclusive/exclusive) should match actual time range shown.

### Actual results

Labels (inclusive/exclusive) do not match actual time range shown.

#### Screenshots

![image](https://user-images.githubusercontent.com/69132220/122903904-7901f700-d36d-11eb-8249-a7ce5937daa8.png)

#### How to reproduce the bug

1. Ensure config has `SIP_15_GRACE_PERIOD_END = None`  so SI

[2021-06-22 10:47] EBoisseauSierra opened #15294 "Order custom time grains by increasing duration"
I have been able to define custom time grains (e.g. 15-minute time buckets — cf. #15037), as per [the `config.py` instructions](https://github.com/apache/superset/blob/1.1/superset/config.py#L498-L522):

[code]

My custom time grains are then sorted *after* the default time grains:

![time_grain_shadow](https://user-images.githubusercontent.com/37387755/122911070-d0dd3580-d34e-11eb-9d4b-a58bf7e422

[2021-06-22 10:48] #15037 closed

[2021-06-22 11:38] #15288 closed

[2021-06-22 13:51] kgabryje commented on #14716
@rusackas I'll pick that up as soon as possible. 1 additional issue: boolean values are displayed as zeroes (regardless if True of False). I'll fix that as a part of this issue
![image](https://user-images.githubusercontent.com/15073128/122936801-bb2d3780-d371-11eb-92a7-ff8746c1e784.png)

[2021-06-22 14:25] arojoal commented on #14415
+1

[2021-06-22 14:31] xiezhongfu commented on #15097
ville introduced a solution ➡️ : https://stackoverflow.com/questions/12416508/nvd3-piechart-js-how-to-edit-the-tooltip
Thanks @villebro very much ❤️ .

- I try `useInteractiveGuideline` and `contentGenerator `.
- Finally,  I prefer to use `useInteractiveGuideline` from http://nvd3-community.github.io/nvd3/examples/documentation.html#multiBarChart.

[2021-06-22 15:28] laveenamurjani789 opened #15299 "Custom Color Theming Not working for embedded chart"
While adding custom color theme for dashboard using below (where testpart23456789,Info,due,beforeTime,High are label names), the colors are getting applied only when charts are seen in the dashboard or during dashboard embed.
Issue we are facing is that when chart is explored or embedded, these label colors are getting overridden by default theming.

Also, while exploring chart, these label colors

[2021-06-22 16:14] rusackas commented on #15264
I think this doc needs some "DOs" and "DON'Ts" before we can call it a "coding guideline" - any thoughts on the matter, anyone?

[2021-06-22 17:47] NickChoiRBX commented on #15036
![image](https://user-images.githubusercontent.com/68253528/122974361-10a01f00-d347-11eb-97bf-5d1f4ba23182.png)
I've seen mostly people mentioning that this functionality is no longer available for them. I'm on version 1.0.1 and this is how line charts look for me (notice the point in the upper left corner for the purple line).

[2021-06-22 21:11] linconcr opened #15307 "SQLAlchemy error when upgrading Apache Superset"
When trying to run "superset db upgrade" I get an error message.

### Expected results

I was expecting a successful message and program ready to use.

### Actual results

sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) duplicate column name: filter_type [SQL: ALTER TABLE row_level_security_filters ADD COLUMN filter_type varchar(255)]

#### Screenshots

![instalacao_superset_errosqlalc

[2021-06-22 21:43] rosemarie-chiu commented on #15269
🏷 bash!

[2021-06-22 22:14] sonyasha opened #15312 "Custom sequential color schemes can not be added"
### A clear and concise description of what the bug is.
When new sequential color scheme is added to the `EXTRA_SEQUENTIAL_COLOR_SCHEMES` variable in `config.py` it does not appear in the list of linear color schemes.

### Expected results
New sequential color scheme appears in the linear color schemes.

### Actual results
New sequential color scheme does not appear in the linear color schemes dro

[2021-06-23 01:18] sonyasha commented on #15312
Pushed a PR https://github.com/apache/superset/pull/15314

[2021-06-23 02:53] #14801 closed

[2021-06-23 03:17] lehug opened #15316 "add filter with Chinese, then cause Issue 1002,but SQL exactly works well"
add filter with Chinese, then cause Issue 1002,but SQL exactly works well .
the filter is `code_project = '中文'`

### Actual results
change to `line chart` then `Error: 'charmap' codec can't encode characters in position 233-235: character maps to <undefined>

`
response

`{"cache_key": "8acc6692cf7d03bf6e523e59f7f24aae", "cached_dttm": null, "cache_timeout": 300, "errors": [{"message": "SELECT DAT

[2021-06-23 03:37] stephenLYZ commented on #15189
working on it.

[2021-06-23 04:03] stevensuting opened #15317 "Cannot save dashboard properties when dashboard has been imported"
When a dashboard is exported and imported, it imports successfully, however it does not allow changes to dashboard properties to be saved.

### Expected results
Imported dashboards should behave like created dashboards.

### Actual results

The save button is clickable but there is no response on the UI, no logs are generated when the save button is clicked.

#### Screenshots

<img width="872" alt

[2021-06-23 04:04] stevensuting commented on #15317
@betodealmeida FYI

[2021-06-23 06:47] john-bodley commented on #6032
@wchaofan apologies I just saw your comment. The `DRUID_IS_ACTIVE` flag is somewhat misleading and relates to whether the native Druid NoSQL connector is exposed. Per the SIP given that the connector is slated for deprecation I would _strongly_ recommend that you register your Druid cluster as a SQL database.

[2021-06-23 07:03] jinghua-qa opened #15322 "[native filter] Enlarged default value window overlap with Multiple selection option."
<img width="1790" alt="Screen Shot 2021-06-22 at 11 58 24 PM" src="https://user-images.githubusercontent.com/81597121/123050821-f4879680-d3b5-11eb-93e6-bb40472728ef.png">

## Description
When select 3+ default value, the default value window will be enlarge and overlap with Multiple selection option.
## Screenshot
environment: superset master

## Design input

[2021-06-23 07:15] jinghua-qa commented on #15322
also clicking 'X' on the second line of the default value has no reponse

https://user-images.githubusercontent.com/81597121/123052833-1bdf6300-d3b8-11eb-8856-4ac5bbe0babb.mov

[2021-06-23 07:18] jaythacker opened #15323 "way to show schema and table for other project in big query"
My service account in big query has access to other project as well, and its required to join tables form both of the project.
I am able to write query and do join, but I am not able to see available tables in other project.
Is there any way to see that table in left side panel of SQL editor.

[2021-06-23 08:14] #14974 closed

[2021-06-23 08:52] suddjian commented on #15174
Thank you so much for your debugging efforts @krsnik93! I think I understand the problem before even needing to repro 😁  I am actively working on this file so I should be able to address the problem quite soon.

[2021-06-23 09:00] blackhawk28 opened #15327 "Query on table from multiple databases"
If i have 1 table in one database and 2nd table is in another database, can we join these 2 tables in superset? basically is it possible to join tables from multiple databases ?

[2021-06-23 09:58] blackhawk28 commented on #875
by this can we join table from multiple databases ?

[2021-06-23 10:00] blackhawk28 commented on #875
hey were you able to do that join table from multiple databases?

[2021-06-23 10:22] juleslagarde opened #15329 "docker build failed (with fix)"
Command `docker build` failed

### Expected results

build sucessfull

### Actual results

error
    In file included from Modules/LDAPObject.c:9:0:
    Modules/errors.h:8:18: fatal error: lber.h: No such file or directory
    compilation terminated.
    error: command 'gcc' failed with exit status 1

#### How to reproduce the bug

1. Git clone https://github.com/apache/superset
1. run docker buil

[2021-06-23 10:28] kgabryje commented on #15226
@villebro This feature requires changes in the response from `/dataset/{id}` endpoint, as it doesn't return `type_generic` field for columns
![image](https://user-images.githubusercontent.com/15073128/123081673-7f9c7700-d41e-11eb-9a23-dde9b9dc1d53.png)

[2021-06-23 10:32] musduo opened #15330 "Uwsgi configuration"
I have problems with superset uwsgi configuration. Below are the uwsgi log details and uwsgi.ini configuration settings.

Installation Document: [https://www.programmersought.com/article/2643728000/](url)

**uwsgi.log**

`Traceback (most recent call last):
  File "./werkzeug/local.py", line 375, in <lambda>
    __call__ = lambda x, *a, **kw: x._get_current_object()(*a, **kw)
  File "./werkzeug/loc

[2021-06-23 13:50] #15330 closed

[2021-06-23 13:56] musduo opened #15331 "nginx configuration"
I set the gunicorn to superset as it says in the doc. (https://superset.apache.org/docs/installation/configuring-superset)

![supset](https://user-images.githubusercontent.com/78935007/123109476-f304af80-d443-11eb-869b-f43e14477155.png)

But I couldn't configure nginx. How should I configure Nginx?

[2021-06-23 14:44] kitkat73 opened #15332 "Line chart tooltip doesn't show on Chrome"
Similar to [this issue on Firefox](https://github.com/apache/superset/issues/7822), the tooltip on line charts is sometimes missing. The behavior is rather stochastic, see the description.

### Expected results

On hover over a datapoint on a line chart, display tooltip with exact values.

### Actual results

The data point is highlighted but no tooltip. Alternatively, it flashes for a second and

[2021-06-23 14:46] Ognian opened #15333 "move docker-compose and needed docker directory to a new repo"
moving docker compose and the needed ./docker directory to a new git repository (i.e apache/docker_compose_superset) would greatly simplify updating a local instance  of superset, since we would only git clone this small repo (apache/docker_compose_superset) instead of the whole development one containing the source code (apache/superset).
This is needed since unfortunately there is no way to clon

[2021-06-23 19:52] serenajiang opened #15335 "Cannot enter more than one character at a time in simple filter text box"
In charts, when adding a simple filter, you cannot type more than one character at a time into the value text box. After you type one character, the text box is deselected, and you must click the text box again in order to type another character.

This occurs if the column + the operator is selected, and occurs for all operators except `IN` and `NOT IN`.

### Expected results

Text box should not

[2021-06-24 01:38] kkarski commented on #15035
I am having the same issue with 3.7.9.

[2021-06-24 02:10] zhaoyongjie commented on #15335
@serenajiang, Thanks for the reporting. PR merged

[2021-06-24 02:10] #15335 closed

[2021-06-24 02:39] zhaoyongjie commented on #15332
We recommend you to use `Time-series Chart` instead of `Line Chart`, because the line chart is going to be deprecated.

[2021-06-24 02:49] zhaoyongjie commented on #15327
Please use Drill or Trino as federated query data warehouse

[2021-06-24 02:59] zhaoyongjie commented on #15316
It works fine in my local, can you provide context for this issue?

![image](https://user-images.githubusercontent.com/2016594/123195675-2a726b00-d4db-11eb-8a5f-66cb1bdf38fd.png)

[2021-06-24 03:01] zhaoyongjie commented on #15312
Thanks for your contribution!

[2021-06-24 04:38] jinghua-qa opened #15344 "[chart][mixed time series chart] Mixed time series chart only show data from query A in data panel and view query"
When user create mixed time series chart, only query A data is shown in data panel and in view query, query B is not shown in Data panel and view query.

### Expected results
query A and query B will both show in data panel and view query

### Actual results

only query A  show in data panel and view query

#### Screenshots
<img width="1792" alt="Screen Shot 2021-06-23 at 9 37 22 PM" src="https://

[2021-06-24 04:44] jinghua-qa opened #15345 "[explore][mixed time series chart] 'Sort by' function is not taking effect"
'Sort by' function is not taking effect when sort by metrics is defined

### Expected results

data will sort in order

### Actual results

data is not sorted in order

#### Screenshots

<img width="1758" alt="Screen Shot 2021-06-23 at 9 27 41 PM" src="https://user-images.githubusercontent.com/81597121/123203743-aa60ec80-d46b-11eb-88d1-295fc43cf680.png">

#### How to reproduce the bug

1, use data

[2021-06-24 04:53] blackhawk28 commented on #15327
Thanks,but can you tell me, would it be configured with company specific(internal) superset?
and wouldn't there be any data privacy issue?

[2021-06-24 05:05] rusackas commented on #14479
This has been resolved with and without the `DASHBOARD_NATIVE_FILTERS` flag, so I'll call it closed. Please let me know if this rears its ugly head once again.

[2021-06-24 05:05] #14479 closed

[2021-06-24 05:09] rusackas commented on #14962
Closing due to provided fix. Please re-open if the situation persists.

[2021-06-24 05:09] #14962 closed

[2021-06-24 05:17] jinghua-qa opened #15346 "[native filter] time grain filter is not showing filter value correctly on filter indicator"
time grain filter is not showing filter value correctly on filter indicator, instead it is showing a code for that value

### Expected results

 time grain filter is showing filter value on filter indicator.

### Actual results

 time grain filter is showing filter value code on filter indicator.

#### Screenshots

<img width="1788" alt="Screen Shot 2021-06-23 at 10 09 18 PM" src="https://user-ima

[2021-06-24 05:43] jinghua-qa opened #15347 "[cosmetic][native filter] native filter panel is not long enough in dashboard fullscreen mode"
## Screenshot

<img width="1792" alt="Screen Shot 2021-06-23 at 10 29 12 PM" src="https://user-images.githubusercontent.com/81597121/123208296-ab961780-d473-11eb-8c32-dfd920683b4f.png">

## Description
native filter panel is not long enough in dashboard fullscreen mode

[2021-06-24 05:49] jinghua-qa opened #15348 "[cosmetic][dashboard] chart 3 dot menu is behind the chart title panel in chart maximize mode"
## Screenshot

<img width="1792" alt="Screen Shot 2021-06-23 at 10 45 23 PM" src="https://user-images.githubusercontent.com/81597121/123209110-ffedc700-d474-11eb-91f1-16002273460a.png">

## Description

chart 3 dot menu is behind the chart title panel in chart maximize mode

[2021-06-24 07:22] #15327 closed

[2021-06-24 07:23] #14977 closed

[2021-06-24 07:33] blackhawk28 opened #15352 "Can we onboard multiple catalogs of Athena in a single database of Superset?"
I have a 2 catalogs in my Athena and i can join tables from different catalog in my Athena UI like
`select a.column1,b.column1 from catalog1.database1.table1 a join catalog2.database2.table2 b on a.column2=b.column2`
Now i have added my Athena as a new source database on Superset but there only one catalog tables are visible although
I have 2 catalogs on my Athena,
so just because we can select on

[2021-06-24 08:01] #15126 closed

[2021-06-24 08:06] villebro opened #15354 "[native-filters] cascading filter popover widens automatically"
Cascading filter popover grows by itself

### Expected results

The cascading popover stays static

### Actual results

The popover grows by itself:
https://user-images.githubusercontent.com/33317356/123226205-1b3fed00-d4dc-11eb-9edb-bf5ab44825e9.mp4

#### How to reproduce the bug

1. Create parent and child filter
2. Open dashboard
3. Open popover
4. See error

### Environment

master

[2021-06-24 08:22] JustinTsui opened #15356 "Unable to create admin account if account's username is not admin"
I'm using docker image apache/superset:latest (image id 399849195b83) and following the docs from `How to use this image` from https://hub.docker.com/r/apache/superset. When I'm setting admin account with another username, seems nothing wrong with the command. But the following `load examples` and `init` will cause an error (see section screenshots below).
[code]

Errors will disappear if I re-run

[2021-06-24 08:35] CaptainHoangLe opened #15357 "Clean up html tab content when switch Tab to improve performance load dashboard"
I am using superset ver 0.36.0
I have dashboard with multiple tab.when i inspect the html , i will see html of only present tab.
![image](https://user-images.githubusercontent.com/53038465/123229511-93200e80-d500-11eb-8a24-b80ff1d6ccff.png)
However , i switch to another tab. html of previous tab is not disapeared and html of new tab will be inserted under that.
![image](https://user-images.githubu

[2021-06-24 09:07] CaptainHoangLe commented on #15357
I have my solutions, so i will close this issue

[2021-06-24 09:07] #15357 closed

[2021-06-24 09:08] stephenLYZ commented on #15205
working on it

[2021-06-24 09:14] krsnik93 opened #15358 "Add html id to markdown components"
I would like to apply different CSS to different markdown components on the same dashboard. To do that I have to be able to id them.

Charts can be identified by their id:
![image](https://user-images.githubusercontent.com/13034472/123236390-a917da00-d4d4-11eb-8d42-3be77960e733.png)

but not markdowns:
![image](https://user-images.githubusercontent.com/13034472/123236308-98fffa80-d4d4-11eb-9797-31

[2021-06-24 09:55] jinghua-qa opened #15360 "[native filter] enlarged window of value filter will block the filter underneath"
when select more than 5 value in value filter, the enlarged window of value filter will block the filter

### Expected results

enlarged filter window will not block other filter

### Actual results

enlarged filter window  block filter underneath

#### Screenshots

<img width="1772" alt="Screen Shot 2021-06-24 at 2 30 57 AM" src="https://user-images.githubusercontent.com/81597121/123242829-448a5a

[2021-06-24 10:08] villebro commented on #15360
This is technically the same bug as #15322 , but for transparency, it's probably good to keep these as separate tickets.

[2021-06-24 10:14] jinghua-qa opened #15361 "[native filter] 'Clear All' will show error in value filter"
when setup a value filter + numerical filter in a dashboard, set both filter 'Apply changes instantly', then select value for each filter and then click 'Clear All', value filter will show error of too many updates

### Expected results
value filter and numerical filter can be clear

### Actual results

value filter show error, numerical filter can be clear to origin state

#### Screenshots

<img

[2021-06-24 10:27] villebro commented on #15361
Reproduced

[2021-06-24 11:00] ofekisr opened #15362 "[SIP-70] Secret keys rotations and stop using single SECRET_KEY"
## Motivation
### In short
* Instead of using one master key aka flask.secret_key use different key for each use case
* support key rotation

### In long
Our organization security policies require to meet constraints in regard to using secret keys and credentials
* Our products should use a different key for each use so in case a specific key is stolen, all other objects are kept safe.
* Key can b

[2021-06-24 11:01] stephenLYZ commented on #15348
working on it

[2021-06-24 11:34] ValentinC-BR commented on #15317
I've got the same issue on 1.0.1 verison.

[2021-06-24 12:36] Ognian opened #15364 "BUG: return cell fields instead of ordinal numbers on cell content or provide row signature in table schema"
<img width="781" alt="image" src="https://user-images.githubusercontent.com/1231174/123262343-112be780-d4f8-11eb-8be2-a9b6aeb7a582.png">

when clicking on a cell of the type
<img width="494" alt="image" src="https://user-images.githubusercontent.com/1231174/123262675-71228e00-d4f8-11eb-9586-434053b7d137.png">

instead of returning just the ordinal numbers (which is synticatically also correct) the

[2021-06-24 12:56] villebro commented on #15361
As per the plan to deprecate support for instant filtering outlined in #15067, this bug likely won't need to be addressed (removing P1).

[2021-06-24 13:25] krsnik93 commented on #14589
This happens if you run `superset export-dashboards` without having created an admin user with `superset fab create-admin`

[2021-06-24 13:37] fxulusoy commented on #14659
I am also looking for creating a custom role. Is it possible to have this feature on the superset CLI?

[2021-06-24 13:42] Ognian commented on #15364
Funny:
<img width="604" alt="image" src="https://user-images.githubusercontent.com/1231174/123272357-f6f70700-d501-11eb-8c2a-a762fe1615d6.png">

if I set the type of address to `varchar` I get the above display which is correct

Could someone please explain to me why when setting the json to archer it works and why if I enter the correct row(...) signature it doesn't?

[2021-06-24 13:54] PiyushGupta3108 commented on #8278
Hi guys, i'm pretty new to Superset and have recently upgraded to superset 1.1 and i am getting the UNIX timestamp in filter box. Could you please suggest how to resolve it.

[2021-06-24 13:57] waytoyou opened #15367 "Set Dashboard filter box value before email report?"
In the dashboard  I put filter box to control the data in table. When I sent report via email. The report shows the report by default value in filter box. Is there any solution to email  different report? Thanks a lot.

[2021-06-24 14:05] Ognian commented on #15364
OK this is actually a BUG:
if I get the correct content output by setting the type to `varchar` it is not possible to select i.e address.zip BUT if I set the correct type to `row("street" varchar,"zip" varchar,"city" varchar,"country" varchar)` I can select address.zip but get the array  display and have actually no way to figure out that there is an address.zip field

[2021-06-24 14:52] srinify commented on #15352
Hi there @blackhawk28 your best bet is to:

- Use SQL Lab to write your query that does whatever you want (join tables, rename columns, perform aggregates, etc)
- Once your SQL query looks good, click Explore and give this new virtual dataset a name
- Then, you'll be taken to Explore view and this virtual dataset will be the INPUT to the Explore viz picker.
- Finalize by picking the chart type you

[2021-06-24 14:55] #11053 closed

[2021-06-24 15:52] zhaoyongjie commented on #15250
You can share the dashboard url directly

[2021-06-24 16:01] zhaoyongjie commented on #15214
Would you like to use the command line to create users? for instance
[code]

[2021-06-24 16:01] coolsam7486 commented on #14659
You can create one as per your requirement and expose it in superset_config

[2021-06-24 17:59] adam-stasiak opened #15369 "[cosmetic][home] Icons inside tiles are hidden when screen size is not wide enough"
### Expected results

Star and more actions buttons are always displayed.

### Actual results

When screen size is not enough then Star and More Actions button is hidden.

#### Screenshots
Good screen size
![image](https://user-images.githubusercontent.com/25153919/123310349-48b18880-d526-11eb-9fcc-7438ab417f75.png)
Bad screen size
![image](https://user-images.githubusercontent.com/25153919/123310

[2021-06-24 18:17] adam-stasiak opened #15370 "[sqllab] when I try to create a new query using button on homepage then I should see new tab with empty editor"
When I open homepage and then click on +sql query under saved queries section I expect to see fresh tab of editor instead of existing one.

### Expected results

See new tab to start writing sql.
### Actual results
I can see existing tab
#### Screenshots
<img width="1179" alt="Zrzut ekranu 2021-06-24 o 20 14 50" src="https://user-images.githubusercontent.com/25153919/123312669-f02fba80-d528-11eb-8

[2021-06-24 21:55] jinghua-qa opened #15375 "[native filter] 'Clear All' for time range filter with required option will make red high light without error message"
'Clear All' for time range filter with required option will make red high light without error message

### Screenshot or Video
https://user-images.githubusercontent.com/81597121/123336949-6a494a80-d4fb-11eb-99db-ba0746353875.mov

### Repo steps
1, create a time range filter with 'Required ' option selected
2, go to the dashboard and click ' Clear All'
3, observe the time range filter

### Expected

[2021-06-25 00:54] mayurnewase commented on #15251
Hey @layasail can you provide more info (equivalent dummy) type of filter, query, table, role?
I tried in latest master and  it works as expected.

[2021-06-25 03:28] john-bodley opened #15378 "Temporal columns et al. are not adhered to when re-syncing column metadata"
Temporal columns et al. are not adhered to when re-syncing column metadata.

### Expected results

When registering a Druid dataset the `__time` field is correctly identified as being temporal, however when re-syncing from source the `Is temporal` checkbox becomes unchecked. It seems like the logic residing in the [alter_new_orm_column](https://github.com/apache/superset/blob/9773aba522e957ed94230

[2021-06-25 04:09] john-bodley commented on #15378
@villebro it seems like you may have contributed to the [external_metdata](https://github.com/apache/superset/blob/822eb2e27e83238e2cd05a371b1d835f593d2907/superset/connectors/sqla/models.py#L650-L716) method. The problem is the `alter_new_orm_column` method which provides overrides (and which per the name suggests only gets called on table creation) doesn't seem to get called. More specifically i

[2021-06-25 05:29] #15070 closed

[2021-06-25 05:49] fxulusoy commented on #14659
@coolsam7486 Can you give a bit more details how to do it in superset_config?

[2021-06-25 06:41] codegeekjk opened #15382 "BigQuery Shared DataSets Schema is Not Showing in SQL Lab"
A clear and concise description of what the bug is.

### Expected results

I have datasets belongs to some other GCP Project, which has been shared to our in house GCP Project, our service account has access to it.

We Created  a connection to our GCP Project, which was successful and on SQL Lab we are able to run the queries to datasets belongs to other GCP PROJECT.
i.e select * from some_other_p

[2021-06-25 06:44] noob-ceng opened #15383 "Whether the use of single-spa or qiankun for micro front terminal applications is supported?"
I had a problem with using the qiankun framework to make the project a child application and could not request a data interface。

qiankun: 2.4.2,
superset-ui/core: 0.17.10

[2021-06-25 08:16] layasail commented on #15251
Hi, thanks for reply.
Here is the setting:
1.superset version: Version: 0.999.0dev,  this is the latest version in docker shows
![image](https://user-images.githubusercontent.com/84129749/123392891-23795480-d5d0-11eb-9fff-9ea009b695a5.png)

2.filter in row level security:`name=Aaron` to the role "sqllab test"
![image](https://user-images.githubusercontent.com/84129749/123393017-4572d700-d5d0-11eb-

[2021-06-25 09:28] EBoisseauSierra commented on #15356
Linked to https://github.com/apache/superset/pull/14102/files#diff-eca12c0a30e25b4b46522ebf89465a03ba72a03f540796c979137931d8f92055R439-R449

Note that fixing the docs is an option not as good as accepting an admin user which isn't named `admin`.

[2021-06-25 14:22] fxulusoy commented on #13080
I am also experiencing with the same problem. It doesn't happen all time. But it happens quite often.

Here is the logs from ` superset-init-db` pod:

[code]

I see the following error messages when I try to open the login page:

![Screenshot 2021-06-25 at 16 21 18](https://user-images.githubusercontent.com/1167958/123438926-80c1d580-d5d1-11eb-94e5-aa2e4da62f90.png)

[2021-06-25 15:56] etr2460 commented on #15332
This bug is fixed in the master branch, and will hopefully be released soon (not sure if it's included in 1.2 @amitmiran137 do you know?) see here: https://github.com/apache/superset/pull/15073 and here: https://github.com/apache/superset/issues/13952

[2021-06-25 15:56] #15332 closed

[2021-06-25 16:33] #15322 closed

[2021-06-25 16:33] #15360 closed

[2021-06-25 16:41] amitmiran137 commented on #15332
Not in 1.2

[2021-06-25 17:56] duynguyenhoang opened #15391 "[dashboard] [explore] Improve UI and User permissions"
There is in consistence Permissions UI between Dashboard and Explore. This issue is the next attempt after https://github.com/apache/superset/issues/13711

### Expected results

* If user don't have can_favstar permission
    * Dashboard: Disable fav icon
    * Explore page: Disable fav icon
* If user don't have: can_shortner and can_share_chart
   - Dashboard: Don't show "Copy chart URL", "Share

[2021-06-25 17:57] duynguyenhoang commented on #15391
I am working with this issue right now, it takes me a while to update some unit tests.

[2021-06-25 19:39] john-bodley opened #15396 "Memoization with Locking"
**Is your feature request related to a problem? Please describe.**

As mentioned in the Apache Superset Contributor Meetup on [2021-06-25](https://docs.google.com/document/d/1xRLqmUn-G7WiPe8qZnfuvbrYHZ1jmk9aSv9Bhjis2tg/edit#heading=h.uh575p50wagev) at Airbnb we implemented a custom memoization function (`memoize_with_user_lock`) which on a per-user basis provides global locking (based on a cache k

[2021-06-26 01:24] john-bodley commented on #13562
@villebro are there any concerns of merely adding a `SERIES LIMIT` control per your suggestion?

[2021-06-26 11:25] AnberLu commented on #15383
i have  same problem  between qiankun and superset

[2021-06-26 13:14] squalou commented on #11823
still no news ?
On 1.2.0-rc2 I still have to apply an ugly patch to change the fonts :-(

[2021-06-26 20:10] codenamelxl commented on #14301
PR available. Keep this open please.

[2021-06-27 00:34] koszti opened #15402 "[sqllab] Stop button should kill running query in the database"
**Is your feature request related to a problem? Please describe.**

SQL Lab has Stop button but it only updates state of superset without actually stopping the database query. Leaving the queries running in the background affect database performance.

Running queries should be killed automatically in the database if the stop button pressed, the browser window closed or navigated to another site.

[2021-06-27 04:35] #15226 closed

[2021-06-27 06:14] MatanBobi commented on #13013
Just updating here as I'll probably start working on it this week.
After consulting with @amitmiran137 and @rusackas, we'll probably start with building the monorepo approach and only move the `core` package. Then, we'll start moving the plugins one by one.

[2021-06-27 08:06] tvorogme commented on #15291
Hi! I see @mironovmeow created pull request with fixing this issue.

@zhaoyongjie @junlincc will you review it? Or we wait for realization from superset team?

[2021-06-27 09:12] zufolo441 commented on #15331
our configuration:
superset server is 192.168.1.80

server {
	listen 159.213.63.16:80;
	server_name dwh.istitutodegliinnocenti.it;
        include /etc/nginx/acmechallenge.conf;
}
server {
	listen 159.213.63.16:443 ssl;
	server_name dwh.istitutodegliinnocenti.it;

	root /var/www/html;

	index index.html index.htm index.nginx-debian.html;

    	ssl_certificate /etc/ssl/dwh.istitutodegliinnocenti.it

[2021-06-27 12:25] syazwan0913 opened #15406 "Gunicorn gevent worker keep timeout"
A clear and concise description of what the bug is.

### Expected results

Gunicorn worker shouldn't be timeout since timeout is 10mins (600s)

### Actual results

Gunicorn worker keep timeout

#### Screenshots

Configuration
[code]

error.log stacktrace
[code]
#### How to reproduce the bug

1. Set configuration as per above
2. Run superset
3. See error

### Environment

(please complete the follo

[2021-06-27 19:47] nytai commented on #15406
Are you it’s not something else in the stack like nginx timing out?

[2021-06-27 19:49] nytai commented on #15406
It’s probably the `keepalive` setting you have at 60

[2021-06-27 19:52] nytai commented on #15406
Have you tried setting it to 0 to disable all timeouts?

[2021-06-27 19:54] nytai commented on #15406
Also this issue is really with gunicorn and not superset

[2021-06-28 00:57] zhaoyongjie commented on #14751
closed by https://github.com/apache/superset/pull/15153#event-4944281888

[2021-06-28 00:57] #14751 closed

[2021-06-28 00:58] #15258 closed

[2021-06-28 05:57] blackhawk28 commented on #5650
hi @RodBart  and @robert-yxin05  I need some clarification, where did you create the table in redshift? and in local schema? and then import that table with the local schema in superset then change its schema to external?

[2021-06-28 05:58] srikark16 commented on #15214
@zhaoyongjie can you please let me know how to create user with multiple roles using the below command.

superset fab create-user

[2021-06-28 06:29] lehug commented on #15316
@zhaoyongjie
[code]

it works well with mysql woekbench, but not work well with superset

[2021-06-28 06:34] lehug commented on #15316
[code]

[2021-06-28 07:32] lehug commented on #15316
data -- database, then edit SQLALCHEMY URI, add `?charset=utf8`, then fix~

[2021-06-28 07:32] zhaoyongjie commented on #15316
@lehug , This problem looks like with your system environment. please check environment variable `PYTHONIOENCODING`

[2021-06-28 07:33] lehug commented on #15316
data -- database, then edit SQLALCHEMY URI, add ?charset=utf8, then fix~

[2021-06-28 07:34] zhaoyongjie commented on #15316
Nice. thank for this debuging.

[2021-06-28 07:38] #15316 closed

[2021-06-28 07:38] ArmenShamelian commented on #15209
This is supposedly fixed in https://github.com/apache/superset/pull/12742, the regex to find column names in the jinja template expects the format ` filter_values('colname',)` (comma required). Then sometimes the incompatible warning filter disappears, but sometimes the warning still shows up even though the column is in the jinja template with the correct format according to the regex.

[2021-06-28 08:07] liuyong888 commented on #14601
@zhaoyongjie
Hi
你好! 我是leo。
    我上次咨询过你有关于apache Superset的问题,
我现在遇到一个问题是将过滤条件传到主查询里面
（我想做一个筛选器对下面的数据集的数据进行筛选， 将筛选器的日期条件传入到数据集中，然后通过分组字段分组）
数据集如下：
![image](https://user-images.githubusercontent.com/45752479/123599028-b65ffc00-d827-11eb-8df9-23531c5f9841.png)
![image](https://user-images.githubusercontent.com/45752479/123601893-c88f6980-d82a-11eb-9442-c9deb760d5e3.png)

为了达到查询目的， 我不知道怎么配置这些参数。
如果你知道。

[2021-06-28 08:12] zhugw opened #15414 "Why thermodynamic chart does not have time grain and custom config"
I'm using version 1.1.0 Why thermodynamic chart does not have time grain and custom config and time is long

![image](https://user-images.githubusercontent.com/4953871/123602283-28861000-d82b-11eb-91ac-674ba4c40a1e.png)

but other chart is ok
![image](https://user-images.githubusercontent.com/4953871/123602616-86b2f300-d82b-11eb-876d-f234cc05e247.png)

[2021-06-28 08:27] zhaoyongjie commented on #14601
@liuyong888, Hi there. please try these codes in the template parameters

[code]

[2021-06-28 08:37] zhaoyongjie commented on #15214
@srikark16

sorry for that the CLI only support single role to add.

[code]

[2021-06-28 08:43] jiajie999 commented on #13539
The official doc is not updated and the stable version 1.0's helm chart code is also not updated.  If you use branch 1.3, you will find the helm chart's 'values.yaml' has removed 'additionalRequirements' and replace it with 'bootstrapScript'.

[2021-06-28 09:27] srikark16 commented on #15214
@zhaoyongjie

Thank you, for the confirmation.

[2021-06-28 09:36] liuyong888 commented on #14601
@zhaoyongjie
感谢，大佬的回复
我这边还有一些异常和报错
能不能给我一个你的即时通讯联系方式！

[2021-06-28 09:56] amitmiran137 opened #15420 "native-fillers highlighting with multiple tabs jumps to the first tab"
when hightlighting an active filter on the second tab in a multitab dashboard

### Expected results

focus should remain in the active tab and highlight the charts in that tab

### Actual results

focus moved to the first tab and highlight there

#### Screenshots

https://user-images.githubusercontent.com/47772523/123616835-58271f00-d80f-11eb-985c-e9ffa68d4c26.mov

#### How to reproduce the bug

#

[2021-06-28 10:52] zhugw opened #15421 "markdown table without border"
I'm using version `1.1.0`, find the table markdown without border

[code]

result:
![image](https://user-images.githubusercontent.com/4953871/123624812-a0f7cb80-d841-11eb-90c1-dec4bdb5b64e.png)

but I want the real effect like below:
![image](https://user-images.githubusercontent.com/4953871/123624886-ba007c80-d841-11eb-8b08-85cf3e35d80c.png)

[2021-06-28 12:20] syazwan0913 commented on #15406
I haven't tried to 0 to disable all timeout. Is it ok to do that?

[2021-06-28 12:39] Asturias-sam commented on #11507
@vinitpradhn18  did you resolve the issue ? facing the same thing

[2021-06-28 13:18] Asturias-sam commented on #14330
@dpgaspar
I have a similar problem
[code]
I am running it in the virtual environment without docker we have LDAP enabled , i have the property `THUMBNAIL_SELENIUM_USER` enables any suggestion ?

[2021-06-28 13:45] xiezhongfu commented on #15239
working on it.

[2021-06-28 13:49] vinitpradhn18 commented on #11507
@Asturias-sam We ran another VM instance without SSO but connected to same Postgres DB. It is a work around, but it resolved the our issue

[2021-06-28 13:58] prashant-shahi commented on #8322
I had the same issue. Renaming the database to the old one, did the job.

If you are unsure of what was the old database. You can find it at the end of the export file itself with the `database_name` key.

[2021-06-28 15:31] lctdulac opened #15428 "[Dashboards] Can't assign new owner to a dashboard that has been imported."
Hi team,

We've encountered an issue where we can't assign a new Dashboard Owner on dashboard that we create through importing.

### Expected results

Click SAVE actually adds an Owner.

### Actual results

Nothing happens. Click is useless, window stays open and action is not done.

#### Screenshots

![Screenshot 2021-06-28 at 16 34 50](https://user-images.githubusercontent.com/46674763/123663060

[2021-06-28 17:03] #15354 closed

[2021-06-28 17:40] john-bodley commented on #13562
Actually @villebro adding the `SERIES LIMIT` might not be the right approach, i.e., when prototyping the change the limit adheres to the row limit of the groupings of both the `GROUP BY` and `COLUMNS` which is likely not what the user is after.

[2021-06-28 17:41] mvoitko commented on #15061
Why have you closed the bug?

[2021-06-28 21:25] amitmiran137 commented on #15428
Related https://github.com/apache/superset/pull/15292

[2021-06-28 21:35] michael-s-molina commented on #15362
Thanks for the SIP @ofekisr.

Currently, we have some very mature solutions regarding the management of secret keys like [Keywhiz](https://github.com/square/keywhiz), [Vault](https://github.com/hashicorp/vault), [Confidant](https://github.com/lyft/confidant), [Knox](https://github.com/pinterest/knox), etc. Can you provide more context on which solutions were considered, why they don't fit our case

[2021-06-28 22:47] srinify commented on #15421
Hi @zhugw I'm a bit confused about your question!

- Do you want to render a table in a markdown component?
or
- Do you hope to not have borders in a table viz?

[2021-06-28 23:24] suddjian commented on #15383
This is my first time learning about qiankun, but based on my introductory level of research it seems to me like the [Single Page App](https://github.com/apache/superset/projects/10) effort would need to be complete before this can be supported.

In the meantime, I'd love to learn more about your use case.

[2021-06-29 00:55] zhugw commented on #15421
@srinify I want to render a table in a markdown component and have borders with it

[2021-06-29 06:41] godliness opened #15439 "Superset could not be embed in micro frontend application as a sub-app by single-spa or qiankun tools"
From now on, i think that superset-frontend is a little complex, it's hard to embed in micro frontend application as a sub-app
by single-spa(https://single-spa.js.org/) or even qiankun(https://qiankun.umijs.org/) which is inspired by single-spa.

superset-frontend has multi entries and its a little complex for me to embed it into micro frontend application.

Do you have any ideas or successful exa

[2021-06-29 06:43] ukm21 commented on #10150
@fgomezotero cache warmup is using explore url, but explore url will only open the explore window for the chart in the browser and not do warmup. For cache warmup the url should be
http://superset-test.superset-test.svc.cluster.local:8080/superset/warm_up_cache/?slice_id=1

change the get_url() method in superset/tasks/cache.py

[2021-06-29 06:43] ljclour opened #15440 "[Table Viz] "unsupported operant type errors" in percentage metrics"
i haved created a sql query in `SQL LAB` and **EXPLORE** it to create any charts.When i add Metrics likes the following,and select them to  create a Table Viz with percentage metrics  then errors came out.

![image](https://user-images.githubusercontent.com/45123712/123748099-554b2d80-d8e6-11eb-835b-fb338ceeea3b.png)
![image](https://user-images.githubusercontent.com/45123712/123748182-7449bf80-d8

[2021-06-29 06:48] ljclour opened #15441 "[Table Viz] "unsupported operant type errors" in percentage metrics"
i haved created a sql query in `SQL LAB` and **EXPLORE** it to create any charts.When i add Metrics likes the following,and select them to  create a Table Viz with percentage metrics  then errors came out.

![image](https://user-images.githubusercontent.com/45123712/123748099-554b2d80-d8e6-11eb-835b-fb338ceeea3b.png)
![image](https://user-images.githubusercontent.com/45123712/123748182-7449bf80-d8

[2021-06-29 06:55] #15441 closed

[2021-06-29 08:38] #14672 closed

[2021-06-29 08:40] #14629 closed

[2021-06-29 08:42] #15358 closed

[2021-06-29 10:35] cosmo83 opened #15445 "Superset Docker Image - Latest"
Iam using Superset Helm chart to setup the environment. The present landscape which is working smoothly, has the following screen.

![image](https://user-images.githubusercontent.com/973160/123782916-6e0e1000-d8f3-11eb-8ef6-36b25054671a.png)

Since we wanted a small change in the environment, i have created a new namespace, and trying to use it. Iam missing the modalwindow functionalities for all

[2021-06-29 11:15] sonyasha commented on #15312
The change has been merged, the issue can be closed.

[2021-06-29 11:15] #15312 closed

[2021-06-29 14:15] codegeekjk opened #15449 "Alerts and Reporting Whole Dashboard is not Coming in Reporting"
While Sending Reports, Superset is not able to captured the Whole dashboard, only the charts present in the browser size window is captured in the screenshot, if dashboard has charts which need to scrolled down i.e In browser dashboard is not in full page, then those charts are not there

[2021-06-29 14:17] stevensuting commented on #8322
Yup, @prashant-shahi. The issue in my case was also because the datasource name in the export file did not exist on the superset instance I was importing it on.

[2021-06-29 14:56] abhishekjog opened #15452 "Add support for IBM Netezza"
**Is your feature request related to a problem? Please describe.**
IBM Netezza now has a python DB API driver (nzpy) and SQLAlchemy dialect (nzalchemy). Need to add support for IBM Netezza in Superset.

**Describe the solution you'd like**
Superset installation should install nzalchemy and nzpy.
Netezza logo is shown on Superset readme.
Superset should be able to connect to Netezza and execute que

[2021-06-29 14:56] vermilioncity opened #15453 "regression in Export Dashboard in the UI"
In 1.3 branch, when you click on "Export Dashboard", the app loads interminably and never downloads the JSON.

This functionality worked in 1.2.  It's worth noting that 1.3 has an additional parameter with the endpoint it is hitting (`token`), that was not there in previous versions.

Also, if you hit the API endpoint directly, e.g., `http://<domain_name>.com/api/v1/dashboard/export/?q=[6,7]`, exp

[2021-06-29 15:34] jtornblad opened #15456 "Chart UUID not exposed in API but required when creating dashboard via API"
In order to create a dashboard with the API, the UUID(s) of charts on the dashboard must be supplied in the serialized JSON object in the `position_json` attribute of the request to POST `/dashboard/` (attribute name `uuid`).  This UUID is apparently created internally with the chart (say, during a POST to `/chart/`) but the UUID value is not returned in the create chart response, nor by any other

[2021-06-29 15:57] #14918 closed

[2021-06-29 16:29] jtornblad opened #15457 "Creating a dashboard with API does not result in a functioning dashboard"
When creating a dashboard with the API (POST `/dashboard/), the response indicates success but the resulting dashboard is not functional.  The charts do not appear to be operative.

### Expected results

Creation of a dashboard with the API should result in a properly functioning dashboard / charts, just the same as if the dashboard were created manually with the UI.

### Actual results

Dashboard

[2021-06-29 16:35] rusackas commented on #14474
@cdmikechen [SIP 65](https://github.com/apache/superset/issues/14472) is written to tackle this, and we welcome your thoughts over on that thread.

[2021-06-29 16:48] john-bodley commented on #6032
For reference Airbnb is slated to have migrated all of their charts using the native Druid NoSQL connector to Druid SQL by mid August.

I’m working with @villebro to share out the internal work (documentation, migration logic, scripts, etc.) we’ve undertaken which could be generalized for other installations hoping to migrate.

Note there are some non-compatible differences and thus not every char

[2021-06-29 16:49] rusackas commented on #14474
Agreed on this point. Having a simplified, slightly abstracted thumbnail, with a consistent visual style, would be quite nice. I think/hope we can tackle this, though it might not make it into the first iteration of the effort.

The other issue with this, however, is that several plugins in the future may be contributed by the community, and we'll have to find some way to both provide a design sys

[2021-06-29 17:26] #15420 closed

[2021-06-29 17:43] amitmiran137 commented on #15453
hi @vermilioncity ,

Did you toggle on the VERSION_EXPORT feature_flag?

[2021-06-29 17:54] rusackas commented on #15036
I know that @zhaoyongjie is working on advanced analytics (including resampling, I believe) for the newer Timeseries Chart. I hope that this helps resolve things for you soon.

I'm _not_ sure, offhand, if it would be easy to add an option to the resample controls that sets grain to "Inhert Time Grain" or something to that effect. Then you wouldn't have to double-configure it.

It _may_ also be pos

[2021-06-29 18:08] FedericoCalonge commented on #4070
I am dealing with the same problem working in 2 env.
It's a bit confusing the import/export behaviour when I am looking to overwrite an existing dashboard with charts.
There is any update?

[2021-06-29 22:08] suddjian commented on #15439
Duplicate of https://github.com/apache/superset/issues/15383

[2021-06-29 22:08] #15439 closed

[2021-06-30 04:43] nadgirsanket commented on #13814
@younsb How did you enable PNG and CSV options under Message Content?

I am using Superset v1.1.0 too. I only see Dashboard and Chart options.

Thanks!

[2021-06-30 05:47] dataavader commented on #6099
Surprised this isn't already implemented. Pretty fundamental for a filter on analytics datasets to be able to filter properly on floats without resorting to workarounds. Appreciate the effort getting this implemented, hopefully will be soon.

[2021-06-30 07:15] villebro opened #15469 "[Echarts]Time-series chart renders chart vertically when orderby"
When setting the series limit orderby metric in the "Time-series chart", the lines draw from top to bottom/bottom to top. This is due to ECharts rendering the line in the order that the points are provided. In the outer orderby we should probably always force the temporal column to be the first orderby to avoid this problem.

### Expected results

Line should render from left to right

### Actual

[2021-06-30 07:48] kitkat73 commented on #15332
@zhaoyongjie Thank you for the suggestion. The issue with the Time-series Chart is that the auto-formatting of the X axis doesn't work well, whereas with Line Chart it's great. See the same chart displayed as Line chart (month names + years) and as Time-series Chart (very long, rotated labels). I tried to setting a custom time format, but nothing is as good by far (and one needs to set it for ever

[2021-06-30 08:10] younsb commented on #13814
@nadgirsanket You have to click on chart option to have PNG and CSV options

[2021-06-30 08:15] villebro commented on #15378
@john-bodley I think it should be safe to call the `alter_new_orm_column` method. Alternatively we probably shouldn't change the `is_dttm` value if it has been manually set. Looking more closely at this, if a column is e.g. `VARCHAR` and is set as temporal, resyncing the columns will remove the temporal flag. So I think something like this could be a good solution:
- if the column type is unchange

[2021-06-30 09:26] ecpbi opened #15470 "Non necessary self join in Area chart query could bring performance issues"
Hello,

I implemented a relational schema on a 10.5.11 MariaDB database to store the data of my data warehouse and I installed the version 0.999.0dev of Superset (this is what tells me the "About" item of the "Settings" menu).

I just tried the area chart and I noticed the following strange behavior of the query generator. It creates a non needed self join. Here is what I did and what was generate

[2021-06-30 09:52] konfiot commented on #2442
Same issue, could it be reopened ?

[2021-06-30 10:30] krishnaPriya17 opened #15471 "customization of url"

[2021-06-30 11:36] #15260 closed

[2021-06-30 11:59] #15361 closed

[2021-06-30 12:20] 1758973467 opened #15474 "chart page filters set is null show err"
when set filters control
column is number and op is IS NULL or IS NOT NULL then show error
#### Screenshots

![SharedScreenshot1](https://user-images.githubusercontent.com/16133508/123958778-0c779f80-d9e0-11eb-9604-3909f82a4656.jpg)
![SharedScreenshot2](https://user-images.githubusercontent.com/16133508/123958783-0da8cc80-d9e0-11eb-9df7-27a1d084a75b.jpg)
![SharedScreenshot](https://user-images.git

[2021-06-30 13:13] isrkar commented on #11406
I also need to pass the grain to query.
Has anyone figured out how to do this?

[2021-06-30 13:14] isrkar commented on #6822
I also need to pass the grain to query.
Has anyone figured out how to do this?

[2021-06-30 13:48] vermilioncity commented on #15453
We hadn't!  We toggled it, and it does successfully download the JSON now.  However, the forever-loading icon remains, so there is a cosmetic bug.

[2021-06-30 14:17] vermilioncity commented on #15453
Actually, update on this.  It helps if we use the same dashboard for testing ;).   The forever-loading-but-downloads happens with dashboards that use a physical dataset.  If using a virtual dataset, it forever-loads-and-also-doesn't-download.

[2021-06-30 14:26] srinify commented on #15039
Closing since @abhishekjog took on the work of adding docs + a db engine spec!

https://github.com/apache/superset/pull/15450

[2021-06-30 14:26] #15039 closed

[2021-06-30 14:26] srinify commented on #15452
Closing since @abhishekjog took on the work of adding docs + a db engine spec!

#15450

[2021-06-30 14:26] #15452 closed

[2021-06-30 14:27] vermilioncity commented on #15453
Nm, we didn't set the flag correctly, it looks like.  All good here!  This can be closed :P

[2021-06-30 14:27] vermilioncity commented on #15453
Nm, we didn't set the flag correctly, it looks like.  All good here!  This can be closed :P

[2021-06-30 14:27] #15453 closed

[2021-06-30 14:31] asafcombo opened #15476 "[Clickhouse] No Field Class"
When selecting on a table with fields of non standard type, a

`No Field Class of <TYPE>`   error is displayed.

This happens with 'simple' types such as tuples  or with more complex types as:

`SimpleAggregateFunction(sum, UInt64)`

or

`AggregateFunction(uniq, String)`

Currently the workaround is to manually CAST the field into its proper type.

A more elegant solution would be that superset wo

[2021-06-30 14:34] asafcombo opened #15477 "[Clickhouse] [Feature Request] SQL editor autocomplete for functions and args"
I saw that this is currently only supported in hive connections (see below for reference).

This feature is important for data exploration purposes

https://github.com/apache/superset/blob/e466066229ec8262583bc118af1f39e2dbf77bcf/superset/db_engine_specs/hive.py#L508

[2021-06-30 14:37] Veonms commented on #14727
Hi @junlincc. I see that this issue has been fixed with #14779, but I am still experiencing the same issue as you did, as shown in your first screen recording. I can’t seem to find any changes made to the pagination between the fix and now, so wondering if this issue is still prevalent. I tried this on the out-the-box superset and I still have the same results. Any insights are appreciated.

[2021-06-30 15:25] ofekisr commented on #15362
Hi @michael-s-molina
none of the solutions you suggest is a python based except for Confidant.
My solution support secret-keys-rotations assistance.
[keys-management](https://pypi.org/project/keys-management/) package  does not claim to be responsible for storing keys, there are so many solution for it

[2021-06-30 16:45] RossMoir opened #15478 "[Explore] Server pagination is not working"
Server side pagination has no effect. The server side pagination option for the table chart correctly retrieves the first page of results but the page jumps will not respond to inputs. Issue #14727 shows similar experiences but was closed however the effect remains in Superset `1.2`.

### Expected results

On new page selection the next 10 results should be shown.

### Actual results

On new page

[2021-06-30 17:16] christopher-demarco opened #15481 "The app should warn if an unknown feature flag is applied"
We misspelled the `VERSIONED_EXPORT` flag and were puzzled why it took no effect.

Ideally the app would warn via UI (but log messages would be an acceptable alternative) if unknown feature flags were found.

[2021-06-30 20:48] michael-s-molina commented on #15264
Great guide @rusackas! Thanks for the hard work.

I would like to add some points extracted from [CSS prop vs styled](https://benmcmahen.com/why-i-choose-emotion/) to help with the discussion.

For me, one thing that is really important is the typescript checking, and this can be achieved either by using `styled` or the `css` property because both accept a CSS-in-JS object. I also found that handl

[2021-06-30 20:54] vermilioncity opened #15483 "Hierarchical filters hang when filters are made parents of one another"
Suppose you have Filter A and Filter B.  You set Filter A to be a hierarchical filter and its parent to be Filter B.  Then you set Filter B to be a hierarchical filter and its parent to be Filter A.  The app hangs.  If you open up the dev console, you will see errors printed out complaining about maximum recursion depth exceeded.

### Expected results

Filters with already assigned relationships s

[2021-06-30 20:58] rosemarie-chiu opened #15484 "[Export Dashboard][Native Filter] Column selection is not saved in export file, and saving dataset id in export file doesn't seem to be a correct approach"
Column selection is not saved in export file, and saving dataset id in export file doesn't seem to be a correct approach

### Expected results
Import a dashboard with native filter to a new workspace should work seemlessly.

### Actual results
1. Selected column is not present in the export file, resulting in new dashboard native filter error with missing column selection.
2. Saving dataset id in

[2021-06-30 22:50] jinghua-qa opened #15485 "[native filter] Cascading filters should show layer in filter indicator on native filter panel"
Cascading filters should show layer in filter indicator on native filter panel, now is shown in parallel.

### Expected results
 cascading filters should show in parent/ child layer in filter indicator

### Actual results
 cascading filters now show in parallel in filter indicator

#### Screenshots
<img width="1792" alt="Screen Shot 2021-06-30 at 1 29 00 PM" src="https://user-images.githubusercont

[2021-06-30 23:24] cameronstonefinn commented on #11406
Similar issue here, trying to pass a default `time_grain_sqla` to a filter box using the dashboard metadata with no success:

`"default_filters": "{\"4291\": {\"__time_grain\": \"week\"}}"`

Filter properties:

![image](https://user-images.githubusercontent.com/77355693/124043321-a418c600-d9bf-11eb-9d1c-bfbb66a4b747.png)

Metadata:

![image](https://user-images.githubusercontent.com/77355693/12404

[2021-06-30 23:33] junlincc commented on #15485
It's a recent regression from fixing the forever enlarging popover window 😀, i think. @villebro @kgabryje

<img width="715" alt="Screen Shot 2021-06-30 at 4 32 56 PM" src="https://user-images.githubusercontent.com/67837651/124043872-d971e380-d9c0-11eb-89ac-208452635e02.png">

[2021-06-30 23:38] junlincc commented on #15484
thanks for reporting the issue!! could you double check if filterbox work in this case? @rosemarie-chiu 🙏 it would help set the priority, whether it's for feature parity or a new feature request.

[2021-07-01 00:17] junlincc commented on #15483
@vermilioncity thanks for reporting. I was able to reproduce.
This case is tricky! We can't really check both filters as hierarchical and parent.
However, ideally there should be two hierarchical filter sets showing on the filter bar with A as parent, B as child & B as parent A as child. And user can switch between 2 groups. But right now, when I create two groups separately, all the filters becom

[2021-07-01 00:19] junlincc commented on #15481
good idea! we don't have plan to implement the enhancement but please feel free to contribute a solution. 🙏

[2021-07-01 00:19] #15481 closed

[2021-07-01 00:27] junlincc commented on #15478
This issue has been fixed, however... it introduce a new issue - the pagination disappear entirely.... @jinghua-qa please double check 🙏

https://user-images.githubusercontent.com/67837651/124046859-bf87cf00-d9c7-11eb-8f8e-101c0cfcac25.mov

[2021-07-01 00:29] junlincc commented on #15477
@asafcombo we would love a contribution from the community 🙏😬

[2021-07-01 00:29] #15477 closed

[2021-07-01 00:35] junlincc commented on #15474
<img width="1664" alt="Screen Shot 2021-06-30 at 5 34 16 PM" src="https://user-images.githubusercontent.com/67837651/124047629-789ad900-d9c9-11eb-9840-146482125f9a.png">
Should have been fixed in later version :) feel free to reopen if that's not the case.

[2021-07-01 00:45] junlincc commented on #15469
Can we make this change in Echarts repo?

[2021-07-01 00:50] john-bodley commented on #14672
@rusackas per the comments in https://github.com/apache/superset/pull/14778 this is not a bug but actually a desirable behavior and thus I think we should revert change.

[2021-07-01 04:28] rubenssoto commented on #9551
Hello Guys,

Any news about this?
It is a great feature

[2021-07-01 06:51] simcha90 opened #15488 "[native-filters]GroupBy filter Badge is wrong"
Indicator is showing as not applied for GroupBy filter:

[2021-07-01 07:39] zhaoyongjie commented on #15036
Thanks for the proposal, I will finish it in the resample(advanced analytics).

[2021-07-01 08:12] EBoisseauSierra commented on #15036
To provide some context: We believe “0-filling” (in addition to interpolation and gaps) can be relevant when, e.g., you want to plot the count of records or sum of a given metric per <time_grain>. In such cases, not having data (for a given time bucket) means something — i.e., that the count/sum *is actually 0*.

[2021-07-01 08:28] mona-mk commented on #12487
I think the correct place with docker nowadays is here:
<img width="1092" alt="Screenshot 2021-07-01 at 11 27 34" src="https://user-images.githubusercontent.com/59080347/124092360-6e2b1e80-da5f-11eb-8a3c-9406cf3cd832.png">

[2021-07-01 08:44] OlafKocanda commented on #9362
Are there any updates on this? Setting individual time grains like 15 or 30 minutes would be really great!

[2021-07-01 10:12] ecpbi opened #15496 "Installation of custom vizualisation fails"
Hello

I use Ubuntu 20.04.

I tried to install a development environment for the creation of custom vizualisations by folllowing the tutorial at [https://superset.apache.org/docs/installation/building-custom-viz-plugins]. Unfortunately, I could not achieve this procedure as the Run npm run dev-server to spin up the Webpack hot-reloading server fails.
First cause is there is no package.json file in

[2021-07-01 10:38] #15067 closed

[2021-07-01 10:51] ukm21 opened #15497 "cache key for warm_up_cache and explore_json are not matching"
Both the /warm_up_cache/ and /explore_json/ API endpoints should produce the same cache key for a given slice

### Expected results

should return same cache key

### Actual results

different cache key are getting generated

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. run cache warmup for a slice
2. check the cache key value
3.

[2021-07-01 11:13] liuyong888 commented on #8675
I have similar needs.

[2021-07-01 11:30] liuyong888 opened #15499 "Set dynamically default value of Time filter"
apache superset 1.1.0
Time filter sets **dynamic default values**.
e.g.
**"time range" : {
  from: ‘The first day of this year‘
to: ‘now’**
} @zhaoyongjie

[2021-07-01 11:46] zhaoyongjie commented on #15499
Hi, there. Is it ?

![image](https://user-images.githubusercontent.com/2016594/124119183-c59fad80-daa4-11eb-8639-eb9ef8ce1885.png)

[2021-07-01 11:53] liuyong888 commented on #15499
Yep!

[2021-07-01 12:33] guydou commented on #6983
This is how I solved it in my use-case https://github.com/apache/superset/pull/15502

[2021-07-01 12:48] EBoisseauSierra commented on #2524
Updated link: https://superset.apache.org/docs/frequently-asked-questions#is-there-a-way-to-force-the-use-specific-colors

[2021-07-01 13:05] #15499 closed

[2021-07-01 13:06] #15291 closed

[2021-07-01 13:07] Asturias-sam commented on #11507
@vinitpradhn18  For you the full dashboard snapshot is coming for me if the dashboard is too big as single browser page so it's getting chopped off ?

[2021-07-01 13:50] krishnaPriya17 commented on #15471
i have added for logs. Now i need only for login page!!

[2021-07-01 14:31] zpanderson commented on #347
@junlincc Looking at the public roadmap I don't see anything that specifically references drilldown support. Do you have any link to design proposal or roadmap item for drilldown?

[2021-07-01 14:45] ag-supersetuser opened #15503 "Superset URL - connection refused"
Hi, first time poster so please forgive if I miss out anything obvious that should be included.

We have a two main instances of Superset installed, used to visualise business data. Version 1.0.1, in Ubuntu using venv. Python version is 3.8. They are port forwarded through our firewall and DNS is attached from an external provider. Each instance is held on a separate server, and located in separat

[2021-07-01 15:21] nytai commented on #15503
This seems specific to your installation of superset or networking set up

[2021-07-01 15:30] ag-supersetuser commented on #15503
Hi @nytai , you think so, even though nothing in our setup or network has changed overnight? All fine one day, broken the next.

[2021-07-01 15:50] shubhamn21 commented on #5059
This is definitely needed.

[2021-07-01 17:37] jeffreykoetsier opened #15510 "Helm Chart's ingress template broken after 0.3.2 updates"
When Superset Helm Chart version 0.3.2 is applied with ingress enabled and configured it fails to install.

`values.yaml` ingress snippet used to install the superset Chart:

[code]

### Expected results

[code]

### Actual results
[code]

### Environment

- superset helm chart version: 0.3.2
- helm version: v3.5.4

### Checklist

- [*] I have checked the superset logs for python stacktraces and i

[2021-07-01 21:41] rbruehlman opened #15515 "[native-filters]Default to first item in filter hierarchy does not respect prior default hierarchy selections"
Suppose you have a hierarchy of Animal -> Breed, and Breed is set to default to the first option.

Unfiltered, the first value of Breed is Abruzzenhund, a dog breed.

However, species is set to a default value of "Cat".  The expected behavior is that the first default value for Breed should be Abyssian, a cat breed, but Abruzzenhund appears instead.   This means the dashboard shows no data.

### E

[2021-07-01 21:42] vermilioncity commented on #15515
@amitmiran137 not sure if this can be fixed for 1.3, but if it can, that would be super helpful!

[2021-07-01 21:50] vermilioncity opened #15516 "[native-filters]Out of scope hierarchical filters do not show as being out of scope"
I have a dashboard with two tabs, and a set of hierarchical filters.  The last filter in the hierarchy is only applied to the second tab (all of its parents apply to both tabs).  I expect the child to be considered out-of-scope, but it instead is listed for both tabs anyway.

### Expected results

The hierarchical filter that is out-of-scope for the tab should be hidden.

### Actual results

The o

[2021-07-01 21:53] vermilioncity opened #15517 "[native-filters]The modal for deeply nested hierarchical filters slowly and visibly expands in width"
## Screenshot
![image](https://user-images.githubusercontent.com/35211278/124193605-17d8d280-da95-11eb-9084-c4bb520d0658.png)
![image](https://user-images.githubusercontent.com/35211278/124193541-0394d580-da95-11eb-8c6e-fe117a7d2091.png)

## Description

If you have a deeply nested hierarchy, it promptly and visibly begins to slowly expand in width.

[2021-07-01 22:28] john-bodley opened #15518 "DASHBOARD_CACHE feature not clearing the cache as expected"
I _believe_ there are a number of issues related to the `DASHBOARD_CACHE` feature which is currently defined as being [in development](https://github.com/apache/superset/blob/1e8b6eb848f322411e45b30e1c7758d99a19738d/RESOURCES/FEATURE_FLAGS.md#in-development). These issues are evident when editing dashboard metadata, i.e., adding an owner, and the upon re-editing the previous edits are not shown gi

[2021-07-01 22:33] shubham897 commented on #9393
Any updates @aciccioli or @nawazxy  as of yet. I am also facing the same issue. I can create roles from Keycloak and it reflects in superset but, I can't add permissions to it. Please @aciccioli , @nawazxy  update us with the solution.

[2021-07-02 04:36] rusackas commented on #15036
Yep, I've definitely had needs for 0-filling and null-filling (gaps) in the past, so I'd love to find a good design for controls to allow any of these options.

[2021-07-02 07:22] #15471 closed

[2021-07-02 07:24] stephenLYZ commented on #15370
fixed #15492

[2021-07-02 07:24] stephenLYZ commented on #15370
fixed #15492

[2021-07-02 07:31] stephenLYZ commented on #15189
fixed https://github.com/apache-superset/superset-ui/pull/1187. @jinghua-qa cc

[2021-07-02 07:51] jurgisp commented on #2442
+1

[2021-07-02 12:30] tejaskumar-cm opened #15524 "using superset 1.1.0 suddenly not able to start superset"
I am using below version
Python 3.8.10
apache-superset==1.1.0

It was working fine. But suddenly got below error:

logging was configured successfully
INFO:superset.utils.logging_configurator:logging was configured successfully
/home/ubuntu/apache-superset/venv/lib/python3.8/site-packages/flask_caching/__init__.py:201: UserWarning: Flask-Caching: CACHE_TYPE is set to null, caching is effectively d

[2021-07-02 13:44] Timonzimm opened #15525 "Cannot create histogram of metrics"
A clear and concise description of what the bug is.

### Expected results

I expect to be able to create an histogram of metrics but only "COLUMNS" can be selected.

### Actual results

Only COLUMNS can be selected when choosing "Histogram" visualization type.
#### Screenshots

![image](https://user-images.githubusercontent.com/5808319/124283179-e969fe80-db4b-11eb-9e4d-1a1746919197.png)

### Envir

[2021-07-02 14:12] ag-supersetuser commented on #15524
Hi @tejaskumar-cm
We have had exactly the same issue since midnight BST/GMT 01 July.
We have spent all yesterday and today trying to fix this.
On a test environment we have created a new install which threw up a brand new release, v1.2.0
see here: https://github.com/apache/superset/releases
After running a PIP upgrade, and then installing Superset through the PIP commands, our test version is now

[2021-07-02 14:54] ag-supersetuser commented on #15503
just an update for anybody that views this.
This wasn't a network issue at all, as we kind of new from the beginning.
We have run some upgrades today and discovered a new version of Superset has been released, v1.2.0 which fixes this problem. The issue itself is better explained by another user who posted today, here: https://github.com/apache/superset/issues/15524
Release announcement here: https

[2021-07-02 14:54] #15503 closed

[2021-07-02 15:15] colax94 commented on #9300
Same issue here, how to navigate to Druid datasources in Superset 1.1.0 ?

[2021-07-02 15:39] snv1914 opened #15529 "Chart loading issue on html iframe"
Hi,

I am trying to load chart and dashboard inside iframe.
Displaying an error inside iframe.
Here, one chart is loading and other charts getting error inside iframe.
Loading charts to anonymous user inside iframe issue:
![image](https://user-images.githubusercontent.com/4299134/124297457-b5f19900-db78-11eb-8825-7a17205cbd84.png)

Also showing cookie related issues:
![image](https://user-images.g

[2021-07-02 15:54] stephenLYZ commented on #15348
fixed by #15384

[2021-07-02 16:33] codegeekjk opened #15530 "Not Able to Update DataSet Owner in Superset"
A clear and concise description of what the bug is.

### Expected results

When I click on a Dataset  I am not able to update the owner for the datasets as the Owner list is not rendered and I am not able to see all the users in the drop down

### Actual results

Should be able to update the Owner of the datasets

#### Screenshots

<img width="879" alt="Screenshot 2021-07-02 at 10 02 06 PM" src="h

[2021-07-02 16:35] codegeekjk commented on #15530
As a work around I am trying to update via API call :

I made an api call:

Login to SuperSet
[code]

Then Fetch the dataset using ID
[code]

Now I am not sure how to update the dataset owner and what request to send when I am using the PUT I am getting this error:

The CSRF token is missing.

Any Help here how to update via API call ?

[2021-07-02 17:34] rakeshadk7 opened #15531 "The datasets used by native filters are not included in the dashboard export"
When a dashboard is exported not all the associated datasets are exported.
The datasets used by all the charts are exported but the datasets used only in native filters are missing in the exported zip file.

### Expected results

The dashboard export should contain all the datasets used in the dashboard including the datasets used by native filters.

### Actual results

The dashboard export contai

[2021-07-02 17:34] rakeshadk7 commented on #15531
@amitmiran137

[2021-07-02 17:39] junlincc opened #15532 "[Explore-drag&drop ]DnD control returns an array of columns when it’s a single selection"
This seems to be happening when DnD is enabled. Apparently the DnD control returns an array of columns when it’s a single selection, while the legacy control returns a single string when in single select mode

https://user-images.githubusercontent.com/67837651/124310680-6764e000-db21-11eb-9275-1fb8157b72e8.mov

enable Drag and Drop control panel from config.py by  "ENABLE_EXPLORE_DRAG_AND_DROP": T

[2021-07-02 18:08] amitmiran137 commented on #15531
Thank you for reporting @rakeshadk7

[2021-07-02 22:06] junlincc commented on #15531
duplicate of https://github.com/apache/superset/issues/15484
@amitmiran137 are you gonna work on it?

[2021-07-03 00:01] junlincc opened #15535 "[native-filters]filter scoping select don't stick after refresh"
this is also happening on FilterBox, but we will only fix it in Native filter going forward (unless FilterBox shares the same solution)

Expected behavior

https://user-images.githubusercontent.com/67837651/124337347-f50ef280-db56-11eb-8ed7-241f1a2d5f67.mov

@michael-s-molina 🙏
@jinghua-qa please add to test case

[2021-07-03 07:30] stephenLYZ commented on #15099
Closes: https://github.com/apache/superset/pull/15137

[2021-07-03 08:53] cosmo83 opened #15536 "[dashboard] - Download Image not working"
Not able to Download Image when clicking "Download Image" on the dashboard.

### Expected results

Image of the dashboard to be downloaded

### Actual results

Image not downloaded , and the meanu also gets struck

#### Screenshots
![image](https://user-images.githubusercontent.com/973160/124348755-935b9080-dc09-11eb-9fa9-58360a99c66c.png)
![image](https://user-images.githubusercontent.com/973160/

[2021-07-03 09:47] cosmo83 commented on #15445
Closing the issue, since the latest docker build doesnt have the issue anymore

[2021-07-03 09:47] #15445 closed

[2021-07-03 12:02] insatomcat opened #15537 "Docker image apache/superset:1.2.0 comes with superset 1.1.0"
Hello,

It seems the 1.2.0 docker image does not come with superset 1.2.0:

[code]

![image](https://user-images.githubusercontent.com/7822947/124353490-1f1fed80-dc07-11eb-898a-5b81aa24f209.png)

Anything I'm not doing right ?
Thanks !

[2021-07-03 15:34] amitmiran137 commented on #15537
I've rebuilt the image , could you try again pulling the image?

[2021-07-03 19:47] aoelvp94 commented on #15537
@amitmiran137 same error here, I tried recently

[2021-07-03 19:51] insatomcat commented on #15537
Problem still there

[code]

[2021-07-04 00:02] 1758973467 commented on #15474
OK, i will switch to 1.2.0

[2021-07-04 00:02] 1758973467 commented on #15474
OK, i will switch to 1.2.0,thanks

[2021-07-04 00:02] #15474 closed

[2021-07-04 06:17] simcha90 commented on #15003
About second one it's `Ant` bug so may be we need open bug to them :)

[2021-07-04 07:49] amitmiran137 commented on #15537
Ok this should be good now
https://hub.docker.com/layers/apache/superset/1.2.0/images/sha256-1359262348542809aa4877cc3de99a00d100bb591aef03e771bef46f77c0deca?context=explore

[2021-07-04 07:54] aoelvp94 commented on #15537
Yes, it works.

[code]

[2021-07-04 07:57] amitmiran137 commented on #15537
I mistakenly point 1.2.0 label to 1.1.0 .
shifted the label and re-created the released for the release event flow to be triggered again:
https://github.com/apache/superset/actions/runs/997940988

[2021-07-04 07:57] #15537 closed

[2021-07-04 09:57] simcha90 commented on #15129
@junlincc I'll take a look this issue
About 2. I don't think that we need restrict it on scoping side, because of 2 reasons:
a. We apply scoping per chart and not per data in chart, so if in explore some chart will be changed it will not affect saved metadata in other filters
b. It more similar to rejected columns, so we need copy this behavior I think

[2021-07-04 09:59] simcha90 commented on #15129
![image](https://user-images.githubusercontent.com/56388545/124380815-9fa62300-dcc7-11eb-847b-53c6f3d45bba.png)
 Also we have such notification for some cases

[2021-07-04 10:23] amitmiran137 commented on #15367
We should leverage filtersets for choosing filters in a reports for scheduling purposes

With that dashboard will load with all the nessecery filters and then screenshot will be taken

[2021-07-04 10:48] rajpratyush commented on #14060
can i take this issue up?

[2021-07-04 23:30] thetko85 opened #15538 "[SQLLab] query history and preview not working when upgrading to v1.2"
A clear and concise description of what the bug is.

- When using the apache/superset:1.2.0 image, the query history and preview tabs in the sqllab view are blank.

what you expected to happen.

- Query history tab should show the historical queries and preview should show the preview of the table

Note:
The actual query history view actually works and lists the historical queries correctly. ie: "

[2021-07-05 03:00] pabrahamusa commented on #15065
@nytai this is what I am using for my docker image.
'''
{{/*

 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in com

[2021-07-05 04:20] nytai commented on #15065
You should be using the config `FEATURE_FLAGS` as you are now overriding all default settings.

[2021-07-05 05:56] zhaoyongjie commented on #15239
closed by https://github.com/apache/superset/pull/15526

[2021-07-05 05:56] #15239 closed

[2021-07-05 06:19] kong75 commented on #2442
+1

[2021-07-05 07:03] kamalkeshavani-aiinside opened #15539 "[dashboard]Broken OMNIBAR feature"
This experimental feature is broken in latest versions.
https://github.com/apache/superset/pull/6745

### Expected results
When typing in Omnibar, a dropdown should appear to select from search results.

### Actual results
The window with search text box and dropdown is very small, making it hard to use the dropdown.

#### Screenshots
From PR:
![image](https://user-images.githubusercontent.com/746

[2021-07-05 08:27] #15042 closed

[2021-07-05 09:21] kamalkeshavani-aiinside opened #15541 "[table] maximize broken"
Maximize table chart crops the data in right side.
### Expected results
It should show full table

### Actual results
Table is cropped from right edge.

#### Screenshots
![image](https://user-images.githubusercontent.com/74634977/124448112-0a855600-ddbd-11eb-96bb-22e7742fa835.png)

#### How to reproduce the bug

1. Maximize table chart from dashboard

### Environment
- superset version: `superset

[2021-07-05 10:01] #15510 closed

[2021-07-05 12:49] dl-lim opened #15543 "Add Horizontal Bar Chart"
Duplicate of #3384 #5059 - refer to these for existing discussion that was closed, while users were still asking for the feature.

Didn't want this to get overlooked since there is currently no **open** issue for this.

This issue serves as an open thread on this discussion.

[2021-07-05 13:54] mrgix commented on #15524
We have got exactly the same error since last week (when doing some changes in  our superset_config.py). But we are still running v1.1.0

[2021-07-05 16:00] #6983 closed

[2021-07-06 04:43] craig-rueda commented on #15362
I'm all for this one, as long as the final impl is pluggable. I think I share @michael-s-molina 's concern in that the implementation shouldn't prevent us from being able to adapt the secret backend to whatever provider a user needs. I suggest adding the ability to configure different "providers" that can be overridden in configuration, with the default implementation just delegating to `SECRET_KE

[2021-07-06 08:13] sfkeller commented on #15280
I can confirm this behavour. It's a show stopper.

[2021-07-06 08:46] bouleq opened #15548 "Custom Logging Class not working"
Hi !
I am currently trying to use a custom EVENT_LOGGER in superset, i added the code snippets from the official doc but it isn't working:
I think the EVENT_LOGGER has changed and isn't the default DBEventLogger() anymore because we have some new logs on stdout, and there are no more "action logs" in the superset UI.
However, my JSONStdOutEventLogger() isn't used either, i added some prints in the

[2021-07-06 08:56] SimonSmeets opened #15549 "Welcome_dashboard_id/slug not passed to http calls"
When a user logs in that has a welcome dashboard assigned to it, the calls to fetch the corresponding data do not include the id/slug and thus fail to fetch the dashboard.
### Expected results

The welcome dashboard assigned to the user is shown

### Actual results

Unexpected error message is shown

#### Screenshots
error message:
![image](https://user-images.githubusercontent.com/26030809/124570

[2021-07-06 09:24] FishermanZzhang commented on #3829
but，the unique only `table_name` , not `dataset_id`
[code]
as the code say, it show be ` UNIQUE (database_id, table_name)`

[2021-07-06 09:31] sann05 commented on #12814
I've debugged importing/exporting databases and dataset endpoints and that is what I figure out:
 - None of the export features works as expected
 - Zero documentation
 - If you do not debug into import endpoints you have 0 chance to prepare the appropriate file.

Why the hell airflow has 22.3k stars and much more stable documented than this almost 40k starred repo?

[2021-07-06 15:54] sirius9713 opened #15553 "SQL Lab: typing symbols or reserved words in bold results in cursor shift"
## Screenshot

![изображение](https://user-images.githubusercontent.com/27493290/124629948-9a450600-de8a-11eb-87a3-16fe81f1de29.png)
![изображение](https://user-images.githubusercontent.com/27493290/124629852-85687280-de8a-11eb-9e9b-6d6690d8fcda.png)
![изображение](https://user-images.githubusercontent.com/27493290/124630035-b052c680-de8a-11eb-9e19-0d582655e6fe.png)
![изображение](https://user-ima

[2021-07-06 16:22] sirius9713 opened #15554 "[cosmetic] [SQL Lab] select result from wide table displayed incorrectly"
## Screenshot
Chrome latest, Opera latest, MS Edge latest:
![изображение](https://user-images.githubusercontent.com/27493290/124633694-36bcd780-de8e-11eb-87c6-fe0c2db7402e.png)

Firefox latest:
![изображение](https://user-images.githubusercontent.com/27493290/124633796-518f4c00-de8e-11eb-8fcb-dcf8fd4634af.png)

## Description
Superset version 1.2.
In Chrome, Opera and Edge browser selecting from w

[2021-07-06 16:43] junlincc commented on #15543
Hi, this issue is not being overlooked. we are working on the solution already that's why the existing issues marked close.:)

[2021-07-06 17:06] ghrom commented on #15275
I was able to replicate the issues reported by @sedat-eyuboglu exactly. Superset installation as per official documentation https://superset.apache.org/docs/installation/installing-superset-using-docker-compose is broken.

[2021-07-06 17:33] junlincc commented on #15539
sorry for breaking the feature, i didn't know this feature exists😅 , we will bring it back soon.
@rosemarie-chiu @jinghua-qa please add this test case. 🙏

[2021-07-06 17:56] ghrom commented on #15275
After upgrading to pip apache-superset 1.2.0 it worked again!

[2021-07-06 18:08] alderson59 commented on #15543
@junlincc thanks for the notice, but wouldnt it be much better to close an issue AFTER it has been solved, not during? :) at least this keeps watchers updated on the current status of an issue.

[2021-07-06 18:39] salano21 commented on #9083
I have installed  `snowflake-sqlalchemy` dependency still not able to connect
[code]

[2021-07-06 18:52] salano21 opened #15556 "Unable to add Snowflake as database"
Unable to add Snowflake as datasource using SQLAlchemy URI

### Expected results

Connection establishes successfully.

### Actual results

Getting errors
[code]

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Environment

(please complete the following infor

[2021-07-06 19:49] sfkeller commented on #15280
If there would be a test for Public role, it would fail, and this new Superset version would not have been released with this bug...

[2021-07-06 20:06] aussat commented on #14912
I experienced the same issue after upgrading to 1.2.0 (installed using pip). The solution above worked perfectly for me. @aspedrosa thanks a lot!

[2021-07-06 21:25] rusackas commented on #15484
Duplicates #15531

[2021-07-06 21:33] rusackas commented on #14799
We'll leave this open until the new Select component replaces it. Thanks, @geido !

[2021-07-06 21:38] rusackas commented on #13792
@zhaoyongjie any advice on how to move this forward?

[2021-07-06 22:14] junlincc opened #15559 "[table&pivot table]conditional formatting"
![image (1)](https://user-images.githubusercontent.com/67837651/124669232-e716e580-de66-11eb-83d7-37fce79af851.png)

As a table user, I would like to highlight cells by according to positive and negative values or using conditional formatting.
for example, i would like to see cells that contain below zero temperature number are highlighted _in red_ as a visual warning indicator, vs. temperature ab

[2021-07-06 23:07] andrewscarani opened #15561 "Add "Total" values on hover tooltips whenever "GROUP BY" is used"
**Is your feature request related to a problem? Please describe.**
When applying a `GROUP BY` value to a Time-series (Bar) Chart, the hover tooltip only shows the value of the single grouped total, not the total bar. This same issue applies when viewing the `Mixed Time-series Chart` as well as the `Pie Chart`... Without showing a value for the total, it's a bit difficult to understand composition/

[2021-07-06 23:18] andrewscarani opened #15562 "[user flow]Improve Cloning Chart Flow"
**Is your feature request related to a problem? Please describe.**
The current flow used to clone a chart allows for one to mistakenly overwrite the existing chart and isn't intuitive to new users. Current flow involves the following steps:
- Click `View chart in Explore` from chart's dropdown
- Click `Save`
- Click `Save as...` (This is the step that's often forgotten)
- And then begin to make ch

[2021-07-06 23:25] andrewscarani opened #15563 "URL Detection and Formatting for Table Chart"
**Is your feature request related to a problem? Please describe.**
Adding clickable links into table charts is a bit cumbersome, as it requires you to create a calculated columns with an HTML-formatted link like so: `CONCAT('<a href="', url, '" target="_blank">', content, '</a>')`
This is a bit intimidating and technical for many BI users who simply want to create a quick chart.

**Describe the so

[2021-07-06 23:28] junlincc commented on #15561
will implement this feature in new Echarts, sorry for taking so long to happen ~

[2021-07-06 23:35] junlincc commented on #15562
thanks for suggesting! we have a discussion thread in Superset roadmap repo, which is a bit outdated. https://github.com/apache-superset/superset-roadmap/issues/109
all good ideas, but we are slow in implementing the solution. If you would like to open a PR that can cover most of the concerns in the thread, we are happy to help push it forward. 🙏

[2021-07-06 23:36] andrewscarani opened #15564 "Add "Advanced Analytics" functionality from legacy charts to Time-Series ECharts"
**Is your feature request related to a problem? Please describe.**
Creating a stacked bar chart with a period-over-period line chart overlaid on top is currently very difficult to do in Superset using the `Mixed Time Series Chart`, as it requires you to calculate period-over-period metrics as a series as part of your dataset, rather than allowing you to calculate it after-the-fact as part of chart

[2021-07-06 23:39] andrewscarani opened #15565 "Add "Extra Controls" to "Time-Series (Bar) Chart""
**Is your feature request related to a problem? Please describe.**
Legacy bar chart has a cool functionality to allow the end-viewer to toggle between a "Grouped" or "Stacked" view of a bar chart by enabling "Extra Controls" under "Customize"

![Screen Shot 2021-07-06 at 4 39 07 PM](https://user-images.githubusercontent.com/4078980/124679099-b049cb00-de78-11eb-9e31-cbce8e581843.png)

![Screen Shot

[2021-07-06 23:40] junlincc commented on #15564
https://github.com/apache-superset/superset-ui/pull/1170

@andrewscarani hi! we actually have a PR open, please help review if you can :)

[2021-07-06 23:48] junlincc commented on #15563
good idea! would love to implement this feature in the future.
community, please upvote by replying "+1" in the thread if you would like to see this feature

[2021-07-06 23:51] junlincc commented on #15565
we have the same feature goal! the only thing im not sure is having the radio buttons shown by checking the EXTRA CONTROLS box, since this behavior is inconsistent with others.

[2021-07-06 23:53] andrewscarani commented on #15564
@junlincc This is awesome! I'll try to review this some when I get some time

[2021-07-07 00:09] andrewscarani opened #15566 "Applying `GROUP BY` on `Time-series (Bar) Chart` Omits NULL group values"
A clear and concise description of what the bug is.

### Expected results
Total counts of stacked bar chart should be the same before/after `GROUP BY` has been introduced.

### Actual results
Total counts of stacked bar chart with `GROUP BY` applied are **wonky** and don't match those without `GROUP BY` applied. It seems likely that this only occurs when using a `GROUP BY` on a column where the co

[2021-07-07 06:24] ukm21 commented on #3840
facing this issue in superset 1.1.0 where cache key is different for warm_up_cache and explore_chart

[2021-07-07 06:45] waytoyou commented on #15367
@amitmiran137 Yeah!!! Now report settings seems can not leverage any filtersets.

[2021-07-07 09:02] baltom commented on #15280
Experiencing the same issue in 1.2.0 release

[2021-07-07 10:08] Fluxystems opened #15569 "error when trying to live on redhat openshift sandbox with gunicorn"
Superset:
VERSION: 0.999.0dev
GIT SHA: 74348b96c5a69c1b2d6980c7ec219e4209b2f1db

Server:
Redhat Openshift Sandbox

Server Logs:

`/opt/app-root/lib64/python3.8/site-packages/setuptools/dist.py:472: UserWarning: Normalizing '0.999.0dev' to '0.999.0.dev0'
  warnings.warn(
---> Serving application with gunicorn (-==--==--==--==--==--==--==--==--==--==--==--==--==--==--==-
VERSION: 0.999.0dev
GIT SHA:

[2021-07-07 10:09] fzhan opened #15570 "Accessing database is blocked by Chrome's new policy when deploying Superset using K8s / Helm"
When deploy using kubernete/helm, ingress being handled by external ingress-controller using https/TLS, accessing to datatbase is blocked by chrome's new policy "strict-origin-when-cross-origin"

### Expected results
The requesting url is https://mydomain/api/v1/database/available
The response url should have been https://mydomain/api/v1/database/available/

### Actual results
The response url is

[2021-07-07 10:36] ofekisr commented on #15362
As I had already said, the keys-management package does not claim to be responsible for storing keys, but it fetches the key by key-store - a function that return keys, so each client can define its key-store to fetch keys from a specific provider

[2021-07-07 11:52] #12155 closed

[2021-07-07 16:03] junlincc commented on #15554
@eschutho do you mind taking a look? 🙏

[2021-07-07 16:03] junlincc commented on #15553
@eschutho do you mind taking a look? 🙏

[2021-07-07 19:24] suddjian commented on #14912
@aspedrosa great job! Would you mind opening a PR with your fix? I'd be happy to review and help get it merged.

[2021-07-07 23:39] eschutho commented on #15553
yes, thank you for flagging!

[2021-07-07 23:41] jots commented on #15275
How do you do that?

[2021-07-07 23:47] junlincc commented on #15099
Hi @stephenLYZ we will need to combine two toast messages aw well, sorry if my instruction was not clear.

[2021-07-07 23:50] jots commented on #15275
I installed like `pip install apache-superset==1.2.0`
and still get the error:
[code]

also getting errors like:
`error: invalid command 'bdist_wheel'`
on install

[2021-07-08 01:28] stephenLYZ commented on #15099
sorry i didn't notice it should show only one toast. I will open a pr to fix it.

[2021-07-08 01:39] zhaoyongjie commented on #15345
closed by https://github.com/apache-superset/superset-ui/pull/1206

[2021-07-08 01:39] #15345 closed

[2021-07-08 06:33] zhaoyongjie commented on #13792
let me dive in this issue.

[2021-07-08 10:41] #15536 closed

[2021-07-08 11:42] oscarxanda opened #15582 "Copy to Clipboard button visibility is not controlled by permissions"
While there is a permission (can_csv) to show / hide the Download as CSV button, there isn't an equivalent for the Copy to Clipboard button.

[2021-07-08 11:58] aspedrosa commented on #14912
@zufolo441
![image](https://user-images.githubusercontent.com/23409890/124917643-f8d5c580-dfeb-11eb-9e4c-fda7acc62327.png)
All the permissions I added to public

@suddjian sure :+1:

[2021-07-08 14:17] zhaoyongjie commented on #15564
I have finished advanced analytics on the time-series chart. @junlincc @andrewscarani

server-side codes at: apache/superset#15279
client-side codes at: https://github.com/apache-superset/superset-ui/pull/1170

### YTD(year-to-date) + time shift
![image](https://user-images.githubusercontent.com/2016594/124909695-58989480-e01d-11eb-940f-0c459e22fdbf.png)

### YoY(year-over-year) / MoM / QoQ ....
!

[2021-07-08 14:39] jamesrayoub opened #15584 "Allow Defined Metrics to be Selectable in Filter (not custom SQL)"
**Is your feature request related to a problem? Please describe.**
It's frustrating to have to rehash metric logic in the custom SQL filter when it already exists in the semantic layer

**Describe the solution you'd like**
Instead of having to paste the metric SQL into the custom SQL filter tab, the user could either select the metric like they can in the 'simple' tab or, perhaps there's a way to

[2021-07-08 15:04] D3nn3 opened #15586 "Y Axis Bounds in Multiple Line Charts not working as intended"
1. `0` as input for min `Y AXIS BOUNDS` in `Multiple Line Charts` gets ignored, everything else works though (e.g. 5, 1000, -5).
2. Selecting `Y BOUNDS` does nothing.

Didn't find any open issues regarding this. If I missed it and this is a duplicate please disregard and close the issue.

### Expected results

1. With `0` as input in min `Y AXIS BOUNDS` the Y axis in the visualization should start

[2021-07-08 16:59] junlincc commented on #15586
@D3nn3 hi! thanks for reporting. unfortunately Multi-line chart is not being actively being maintained. We offer Mix Time-series chart as alternative which should support Y axis bound. Please let us know.

[2021-07-08 20:44] rosemarie-chiu opened #15596 "[Dashboard] Dashboard image download does not contain image I inserted in CSS editor"
I inserted a image in markdown and that image is not in the dashboard image download

### Expected results
Image inserted from CSS template contain in dashboard download image

### Actual results
Image is blank

#### How to reproduce the bug
1. In markdown: `<div class="image-container"></div>`
2. In CSS editor:
[code]
https://user-images.githubusercontent.com/52086618/124988101-6e449480-dff2-11eb

[2021-07-08 21:07] junlincc commented on #15596
there are two ways to insert images to dashboard, 1. markdown syntax(most case) e.g. ![Image of Yaktocat](https://octodex.github.com/images/yaktocat.png) 2.css editor. only image inserted thru 1 can be downloaded.
given there's a workaround, we will not prioritize this issue atm. please comment in the thread which route your normally take to help us adjust prioritization.

[2021-07-08 21:19] junlincc commented on #15570
@dpgaspar do you happen to know?

[2021-07-08 21:55] junlincc commented on #15566
Reproduced.
observation: Behavior is inconsistent in Timeseries Bar, Echarts Bar and regular Bar🤦🏾‍♀️
Timeseries Bar & Echarts Bar - no Null in both legend and chart
Regular Bar - showing Null in both legend and chart
it's still controversial how we should handle NULLs in Superset chart.

Regular bar
<img width="947" alt="Screen Shot 2021-07-08 at 2 45 57 PM" src="https://user-images.githubusercon

[2021-07-08 23:16] salano21 opened #15601 "Unable to generate chart from Snowflake database dataset - Time field is not getting substituted"
A clear and concise description of what the bug is.
<img width="1632" alt="Screen Shot 2021-07-08 at 6 14 49 PM" src="https://user-images.githubusercontent.com/11878458/125001511-744d6c00-e018-11eb-83f4-e4e35bee5bd4.png">

### Expected results
 Generated query has time field substituted correctly.
what you expected to happen.

### Actual results
[code]

This may be triggered by:
Issue 1002 - The d

[2021-07-08 23:17] salano21 commented on #15556
With latest version of Superset, this is no longer an issue. Closing this

[2021-07-08 23:17] #15556 closed

[2021-07-08 23:22] matthewphua opened #15602 "Datasource columns don't auto update when updating data source"
When you update a query, new columns aren't automatically added to the dataset. You have to navigate back to edit dataset and manually refresh to sync the new columns to the dataset.

### Expected results
The columns added by the edited query to be automatically added.

### Actual results
The columns added by the edited query don't automatically appear. You have to reopen the dataset and then refr

[2021-07-08 23:31] matthewphua opened #15603 "Temporal Preferences Get Erased When Syncing Data From Source"
The Temporal Selection Checkbox get erased when you sync columns from datasource. Timestamps/date are automatically marked as temporal when you save a query as a dataset, so it would make sense that these columns would be remain temporal when you refresh the dataset.

### Expected results

The temporal preferences should be kept even when syncing data from source.

### Actual results

Temporal pre

[2021-07-09 00:07] matthewphua opened #15604 "Date Formatting in Pivot Table Doesn't Work?"
The date formatting for a pivot table does not appear to be working
### Expected results

Date/timestamp values to be properly formatted by the customize -> date formatting dropdown.

### Actual results

Nothing gets affected

#### Screenshots

https://user-images.githubusercontent.com/85198947/125004652-d86b3280-e00e-11eb-9d60-df9cdee2a5a1.mov

#### How to reproduce the bug
1. Create a pivot tabl

[2021-07-09 00:24] junlincc opened #15605 "[native-filter][ux]hard to specify the min and max in slider when the range is huge"
Currently, if user wants to set a very specific range filter(e.g. 150-18,999) in a wide range of number(e.g. min=0 max=20,000) using the slider, it's extremely hard by just moving the points. workaround is to use arrow on keyboard. but to get to min=150, user has to hit 150 times, and max = 19,000 users has to hit keyboard close to a 1,000 times to get there...

Propose: also support number input

[2021-07-09 00:26] junlincc commented on #15604
Thanks Matt for filing! we are working on it.

[2021-07-09 00:45] andrewscarani commented on #15566
@junlincc 100% agree to show NULLs. They are a valid category group and without them, data becomes skewed. I would prefer if the new ECharts behaved in the same manner as the existing Bar Charts. I really don't understand why anyone would disagree tbh.

[2021-07-09 00:59] ustramooner commented on #8538
I used a different approach:
I could only find 1 place that the DB_SECRET_KEY was being used - which was in the dbs table under password. After rotating the SECRET_KEY, i set that field to null in the database. After that the database screen will work again (it crashes because it can't decrypt the passwords) - and then reset the passwords.

[2021-07-09 03:35] zhaoyongjie commented on #15130
closed by https://github.com/apache/superset/pull/15186#event-4998136264

[2021-07-09 03:35] #15130 closed

[2021-07-09 03:43] liuyong888 opened #15613 "How do I get current datetime in the SQLTemplate?"
@zhaoyongjie
Hi
**Is your feature request related to a problem? Please describe.**
Superset 1.1.0
I want to get current datetime in SQL Template

**Additional context**
That seems like the wrong way to go.
It says datetime is Undefined.
![image](https://user-images.githubusercontent.com/45752479/125019981-90015280-e0aa-11eb-9303-6ffca38347ec.png)

[2021-07-09 05:21] stephenLYZ commented on #15205
closes: https://github.com/apache/superset/pull/15359

[2021-07-09 07:36] D3nn3 commented on #15586
Hi @junlincc , thanks for getting back to me so quickly. Unfortunately the Mixed Timeseries Chart doesn't offer the functionality needed.

The current use case is simple but somehow unsolvable it seems 😅 We want to a chart displaying the number of X and additionally the moving average. We did this creating two different line charts and combining these in a Multiple Line Charts visualization.

Alte

[2021-07-09 08:14] victarary opened #15616 "Swagger API page is empty"
After deploying superset in docker, the swagger page(/swagger/v1) displayed nothing except the superset menu header.
The configuration `FAB_API_SWAGGER_UI` has been set to `True` in `superset_config.py`.

### Expected results

All superset APIs should be listed.

### Actual results

An empty page.

#### How to reproduce the bug

Go to https://host:port/swagger/v1
An empty page was displayed

### E

[2021-07-09 09:27] dpgaspar commented on #15616
@victarary

docker-compose on this repo will not use your `superset_config.py`

[2021-07-09 09:58] victarary commented on #15616
@dpgaspar
Actually, I have put superset_config.py under pythonpath in container superset_app and restarted docker-compose.
Everything has taken effect except `FAB_API_SWAGGER_UI`.

[2021-07-09 12:36] aboutphilippe commented on #15133
Just ran into similar issue due to the supersetNode.connections.db_pass still set to "superset" even if using postgresql.postgresqlPassword

A workaround is to password the same password you set in postgresql.postgresqlPassword to supersetNode.connections.db_pass

I've made a PR to use by default the postgresql values.
This should still allow custom connections to an external postgres but not have

[2021-07-09 16:06] kgabryje commented on #15604
We don't have date formatting in Pivot Table v2. Should I add it to our todo/must have list?

[2021-07-09 17:17] stephenLYZ commented on #15099
The message seems to be a backend control, can @zhaoyongjie help me take a look?

[2021-07-09 17:38] churchill1973 commented on #5483
+1 has it been solved? Thanks in advance.

[2021-07-09 20:27] eschutho commented on #15554
cc @yousoph

[2021-07-09 21:48] junlincc commented on #15602
@matthewphua if it's preset prod bug, please either validate it on master or label version as Preset Production in the template. thanks!

[2021-07-09 21:49] junlincc commented on #15604
Yes, to-do and must-have, and only in Pivot Table v2. Thanks!

[2021-07-09 22:58] junlincc opened #15625 "[Upcoming UI/UX change]Homepage v2"
Based on user feedback and research, we are making following changes on current Homepage in Superset. Implementation will start on **_July 15_**, please comment before the date if you have any ideas, questions, objections.

**General**
1. Show 5 cards per row in each section, instead of 3; dynamically adjust the number of card depends on the screen size
2. Remove Examples from Recents section and

[2021-07-09 23:14] envicon opened #15626 "After upgrading from ver. 0.37.2 to ver. 1.2.0 I get error: Unexpected error: SupersetApiError: Not authorized"
Hi

I hope someone can help me to get my Apache Superset running again.

I have upgraded to Superset ver. 1.2.0

First I get the error that the field **dashboards.uuid** was missing.

I created manually the field with phpMyAdmin with field type binary and length =16

I then created values with this command

`UPDATE dashboards SET uuid=uuid()`

But now I get this error when login in to superset

**

[2021-07-09 23:54] junlincc commented on #15586
Hi @D3nn3 We will make sure reaching feature parity before deprecating it, so don't worry. We need to allocate resource right in order to have one solid combination chart that support multiple y-aixs, and we decided Mix Times-series is the one.

It's in progress.
@zhaoyongjie let's push your PR forward and see if @xiezhongfu and @stephenLYZ can use your code for the Mixed chart.

Likely a bug, we

[2021-07-10 00:24] nytai commented on #15626
have you run all the commands required after upgrading?
[code]

Are there any errors and stack trances from the backend logs?

[2021-07-10 02:24] ktmud commented on #15625
These changes make sense.

[2021-07-10 07:07] stephenLYZ commented on #15586
Hi @D3nn3  It seems that https://github.com/apache/superset/issues/14998 is very similar to what you mentioned, see if it can meet your needs. Thanks.

[2021-07-10 09:55] johnnyheineken commented on #14104
@junlincc
I encountered the same error.
the main problem is probably with qemu:

it is probably related to this issue: https://github.com/docker/for-mac/issues/5232
in short, as is written in the docker docs:

[2021-07-10 10:25] envicon commented on #15626
Hi
Thank you for your reply.

Yes I have run these commands several times.

[code]

When I start apache I get this info  on the server. Is there another way to see logs?

[code]

I think maybe it has to to with how I have created uuid-fields. I also found out that I missed the field in table **dbs**

Can I find a code how to create these fields?

Thanks

Best regards,
Bjarne

[2021-07-10 11:56] envicon commented on #15626
Hi again

I can add that when I try to open a dashboard which gives this error

**Unexpected error: SupersetApiError: Not authorized**

I get this information in the backend log:

[code]

So I have not access to any of my dashboards

Any ideas to solve this?

[2021-07-10 17:34] envicon commented on #15626
Hi

I have searched a lot more for a solution and I guess the issue has something to do with the missing uuid fields.
I don't think that I have created it correctly

According to this fix: https://github.com/apache/superset/pull/13216

I should be able to downgrade db with this command:

`Superset db downgrade 070c043f2fdb`

It should delete uuid fields. It doesn't for me. I deleted the field manu

[2021-07-10 20:00] srinify commented on #15625
Love it! Excited for this

[2021-07-10 20:01] srinify commented on #15613
Was this documentation useful at all?

https://superset.apache.org/docs/installation/sql-templating#available-macros

[2021-07-11 05:04] zhaoyongjie commented on #15613
we can make macros in the `config.py`, for instance:

[code]

Then use in SQLLab

[code]

[2021-07-11 05:12] stephenLYZ commented on #15541
It looks normal in master branch.
![image](https://user-images.githubusercontent.com/11830681/125183501-86622100-e249-11eb-9872-bd33f0d01be4.png)

[2021-07-11 07:22] aloneworld commented on #15625
- [ ] Thanks. And When could enable Bar Chart 's cross-filtering

[2021-07-11 13:50] potiuk opened #15631 "Migrate to the next version of Python requests when released"
Hello Maintainers,

I am a PMC member of Apache Airflow, and I wanted to give you a bit of heads-up with rather important migration to the upcoming version of requests library in your Python release.

Since you are using requests library in your project, you are affected. It's not as bad for you as you seem to use requests library optionally (when some extras are used) and LGPL dependencies can be

[2021-07-11 14:24] potiuk commented on #15631
I think the Bot needs some adjustment ;)

[2021-07-12 00:56] alderson59 opened #15632 "Implicit Datasource Access for Dashboard RBAC"
Hi all, I have done some reading on Dashboard Access Control and I can conclude from what I gather, that Dashboard access can now be automatically added to roles based on what you set in the UI, courtesy of https://github.com/apache/superset/pull/12680

It is noted that [SIP-51] is closed via https://github.com/apache/superset/pull/12680, addressing half of the issue.

However, this does not yet a

[2021-07-12 01:04] nytai commented on #15632
Pretty sure this is implemented already. Have you tried enabling the feature flag `DASHBOARD_RBAC`?

https://github.com/apache/superset/pull/13992

[2021-07-12 01:06] nytai commented on #15632
You can find all the PRs related to this feature here: https://github.com/apache/superset/pulls?q=is%3Apr++dashboard_rbac

[2021-07-12 01:12] nytai commented on #15626
The statsd error log doesn't seem related this this. I'm not sure what the missing uuid fields would result in not authorized error, it may be caused by something else. Do you have any logs related to the `db upgrade` command? It seems that with changes in https://github.com/apache/superset/pull/13216 the upgrade command should fail loudly if the uuid columns were not added by the migration.

As a

[2021-07-12 04:08] amitmiran137 commented on #15632
Yes , this is implemented as mentioned here

[2021-07-12 04:43] alderson59 commented on #15632
Thank you, that works like a charm! Before I close, can I ask where is the best source of documentation for superset? I'd prefer referring to that instead of trawling through the issue section or opening a ticket here unnecessarily :)

Can this `DASHBOARD_RBAC` feature flag be found here: https://superset.apache.org/docs/intro ? I wasn't able to locate it.

[2021-07-12 05:51] nytai commented on #15632
Documentation for this feature can be found here: https://superset.apache.org/docs/creating-charts-dashboards/first-dashboard#manage-access-to-dashboards

info about the various feature flags can be found here: https://github.com/apache/superset/blob/master/RESOURCES/FEATURE_FLAGS.md

[2021-07-12 06:04] #15632 closed

[2021-07-12 06:40] D3nn3 commented on #15586
It seems that the fix was for line charts. I checked and line charts work fine but my problem is with the visualization type "**Multiple** Line Charts".

[2021-07-12 07:31] zufolo441 commented on #15626
How could I do this ?

[2021-07-12 08:43] singh-abhijeet commented on #9588
@rangerzhou Try using [SQLAlchemy generic JDBC](https://github.com/daneshpatel/sqlalchemy-jdbcapi) dialect.

[2021-07-12 10:40] kgabryje commented on #15604
Date formatting seems to work fine in Pivot Table v1. @matthewphua Are you sure that you used a temporal column rather than string column? cc @junlincc

https://user-images.githubusercontent.com/15073128/125274531-5892e000-e30e-11eb-93ed-cd23177c988a.mov

[2021-07-12 12:14] extssam commented on #9674
When I created a dashboard and marked the table under Public along with some more permissions, I got the same error. "An error occurred while fetching available CSS templates"

After adding required permissions, it worked. Please see screenshot below for reference.
![image](https://user-images.githubusercontent.com/52645723/125285912-d9100b80-e323-11eb-8fa8-229538235273.png)

[2021-07-12 14:00] linconcr commented on #15307
This problem has been resolved. Steps I took to solve it:
1. Remove all Apache Superset dependencies;
2. Upgrade Ubuntu to 20.04;
3. Install dependencies packages recommended on superset documentation (I did not use python virtual environment);
4. Run superset installation (you might have to downgrade some packages).

it seems that Ubuntu 18.04 was not compatible with latest version of Apache Supe

[2021-07-12 14:00] #15307 closed

[2021-07-12 14:17] geido commented on #15485
I am having a look

[2021-07-12 16:03] rusackas commented on #15264
Thoughts on some "rules" to make this more of a style guide. Please feel free to suggest additional ones or contest anything controversial here.

**DO** use `styled` when you want to include additional (nested) class selectors in your styles
**DO** use `styled` components when you intend to export a styled component for re-use elsewhere
**DO** use `css` when you want to amend/merge sets of styles

[2021-07-12 16:13] junlincc commented on #15625
Mid-Late August! only on Echarts(time-series bar) though, major reconstruction on Time-series chart ATM. @aloneworld

[2021-07-12 17:41] junlincc commented on #15625
@pkdotson
just a quick note you might be aware of it already. in v1 currently, charts/dashboards user created are showing in Examples tab. let's make sure it's fixed in v2. 🙏

[2021-07-12 17:43] junlincc commented on #15631
@rusackas ^

[2021-07-12 17:50] rosemarie-chiu commented on #14001
🏷 preset-QA

[2021-07-12 17:59] #15174 closed

[2021-07-12 18:29] mistercrunch commented on #15625
One super minor comment would be around using vertical dots for the sub-menu as opposed to horizontal ones to save a few pixels. I think in general we should standardize on the vertical dots for sub-menu triggers.

[2021-07-12 19:06] aelich commented on #15478
Hi guys

I have the same issue just with postgres DB, any hint how to fix, please?

[2021-07-12 19:41] adam-stasiak opened #15637 "[native filters] Default value of time range filter "No filter" is not accepted"
Initial value No Filter should be accepted as it is valid filter value.

### Expected results

Initially chosen value - no filter should be accepted. Going back to No filter value from any other chosen also should work.

### Actual results

Initial value of default value filter is not processed. If I set Last day filter and switch back to No filter - I cannot proceed.

#### Screenshots

![image](h

[2021-07-12 19:45] adam-stasiak opened #15638 "[native filters] Numerical range initial default value should be accepted as filled one"
Initial value of this filter which is expressed by edge values of data should be accepted as default one.
### Expected results
Accept initial value retrieved after click on Filter has default value.
### Actual results
Value is not accepted.
#### Screenshots

![image](https://user-images.githubusercontent.com/25153919/125346525-25763e00-e35a-11eb-878c-b46e4b4bc177.png)
#### How to reproduce the bug

[2021-07-12 19:50] adam-stasiak opened #15639 "[native filters] Filter has default value checkbox value is not remembered after revisit"
When I revisit native filter configuration then I can't see that this filter was configured with default value. When I click on this again - the previous value is retrieved.
### Expected results

Component should show that someone configured this filter with some value.
### Actual results

Component state is not set correctly. I have to click on this.
#### Screenshots

https://user-images.githubus

[2021-07-12 19:57] jhult opened #15640 "[Bug] - ORA-00904 - invalid identifier"
Trying to run a Dataset query against an Oracle database fails with `oracle error: ORA-00904: "cost_total": invalid identifier`

### Expected results

The query should run.

### Actual results

I receive the following error:
[code]

#### Screenshots

![image](https://user-images.githubusercontent.com/9849069/125347647-2c388d00-e329-11eb-82b0-f1f77b2048fb.png)

#### How to reproduce the bug
1. Buil

[2021-07-12 20:18] adam-stasiak opened #15641 "Chart name change could be reflected in Altered section"
**Is your feature request related to a problem? Please describe.**
When I edit name of chart I would like to have this change saved. Without click on SAVE button I will lost my change.
**Describe the solution you'd like**
When I edit name and click enter then this change should be displayed in Altered component to show me that it will be saved after click on save.
After edition via this component

[2021-07-12 22:39] junlincc commented on #15640
Thanks for reporting! @eschutho could you verify? thanks! 🙏

[2021-07-12 22:48] junlincc commented on #15639
Welcome back to our issue page and thanks for spotting it Adam! @adam-stasiak
Hi @michael-s-molina, adding it to backlog, just need to make sure this is fixed by end of July is fine. Many thanks!

[2021-07-12 22:53] ktmud commented on #15518
To keep things simple, I think we should get rid of `etag_cache` and utilize only internal authentication-free cache at the Dashboard resource level. The API can have special logics to read from a cached dict instead of `Dashboard` entity.

[2021-07-13 00:20] envicon commented on #15626
Hi

I bought a new VPS and installed Superset ver. 1.2.0 from scratch. I also connected to a mysql-database.  It is now working but empty from data. How do I import my datasets/dashboards from my existing server?

Best regards,
Bjarne

[2021-07-13 00:40] nytai commented on #15626
Superset has an export feature for each of the objects, otherwise you could do a sql dump for each of the tables.

[2021-07-13 00:43] nytai commented on #15626
Version 0.38 might be missing exports on some of the objects (database and datasets I think), so the sql dump might be necessary

[2021-07-13 03:42] u-aiaa opened #15649 "The chart in the report screenshot is sent before the animation is finished."
The chart in the report screenshot is sent before the animation is finished.

### Expected results

Take a screenshot of the chart with the chart animation finished and send the report.

### Actual results

Before the chart animation is finished, a screenshot is taken and a report is sent.

#### Screenshots

Image sent as a report

![report](https://user-images.githubusercontent.com/72971834/12538

[2021-07-13 06:57] envicon commented on #15626
Hi nytai

Thank you for your reply.

I can easily get all data imported with a SQLdump, but how do I solve that some tables don't have uuids fields.

Is there SQL-job which can add them?  Is it possible to find in the upgrade files?

Best regards,
Bjarne

[2021-07-13 09:51] nickdomnin opened #15656 "[Bug] Total values overlap X-axis labels on stacked Time-series Bar Chart"
## Screenshot

![Screenshot from 2021-07-13 11-57-03](https://user-images.githubusercontent.com/39625071/125431455-743e1891-3890-47bd-85a3-d094fe298178.png)

## Description

On Time-series Bar Chart in stacked mode total values of bars may overlap X-axis labels and make them unreadable if total values are negative. This happens for all X Ticks layouts.

## How to reproduce
1. Create Time-series Ba

[2021-07-13 10:27] melnikovmaksimv commented on #6568
Hi, im do plugin in PR https://github.com/apache-superset/superset-ui/pull/1214

[2021-07-13 10:47] michael-s-molina commented on #15639
This was fixed here https://github.com/apache/superset/pull/15572. But this PR also introduced another bug when canceling that was fixed here https://github.com/apache/superset/pull/15644

[2021-07-13 10:47] #15639 closed

[2021-07-13 13:49] guipalazzo commented on #15496
Yes, same issue observed here

[2021-07-13 13:50] geido commented on #15485
We have discussed this with @michael-s-molina and @villebro. This is a conscious choice as you can read in Michael's PR #15390.

We might have an unlimited number of filters. Eventually, the filters won't have enough space available.
Another reason was the input size being different as we move down the hierarchy, which made the UI look poorly designed.

CC @jinghua-qa @junlincc

[2021-07-13 13:53] guipalazzo commented on #15148
Hello @beltramem , I've got the same error here. Could you please share the solution with us?

[2021-07-13 14:07] CountRedClaw commented on #14330
@dpgaspar
Is it a good WA to replace
`driver.get(headless_url("/login/"))`
with
`driver.get(headless_url("/nonexistent_url"))`
in order to avoid redirection to the identity provider and therefore to set cookies to proper domain?

[2021-07-13 15:39] potiuk commented on #15631
Requests 2.26.0 released without the mandatory chardet dependency:

https://pypi.org/project/requests/2.26.0/

Instead of chardet, use the MIT-licensed charset_normalizer for Python3 to remove license ambiguity for projects bundling requests. If chardet is already installed on your machine it will be used instead of charset_normalizer to keep backwards compatibility. (#5797)

You can also install

[2021-07-13 15:49] salano21 commented on #15601
I am not sure if this needs some custom connection parameters. Seeing the error it appears python f-string is not getting substituted.

[2021-07-13 16:25] junlincc commented on #15656
hey @nickdomnin thanks for filing the issue, could you specify the version you are on? latest master, 1.2, 1.1? thanks

[2021-07-13 16:46] junlincc opened #15663 "[Component]Antd select dropdown style change and width cut"
<img width="1671" alt="Screen Shot 2021-07-12 at 10 24 44 PM" src="https://user-images.githubusercontent.com/67837651/125492277-968a454b-c1f3-4774-887b-3fc80491f45e.png">
<img width="1484" alt="Screen Shot 2021-07-12 at 3 37 09 PM" src="https://user-images.githubusercontent.com/67837651/125492462-71a33aab-788e-4f92-a3dc-78d776147e8b.png">

Search dropdown background color black - (which used to be

[2021-07-13 16:50] junlincc commented on #15649
@u-aiaa can you clarify what "animation" means in a video or gif? thanks!

[2021-07-13 16:54] #15613 closed

[2021-07-13 16:59] junlincc commented on #15586
@D3nn3 you are welcome to take the ownership and contribute codes to Multiple Line Charts or any legacy charts, as we are actively maintaining the alternatives which are more extensible. we will provide support and review to your solution. 🙏

[2021-07-13 17:13] rusackas commented on #15663
This seems to be your computer's dark mode setting correctly applying itself to chrome, which in turn applies this styling to native input elements.

[2021-07-13 17:14] junlincc commented on #15663
is it the only thing that turns black in the product when dark mode is on? lol

[2021-07-13 18:14] #15535 closed

[2021-07-13 19:45] jinghua-qa commented on #15189
Verified fixed

[2021-07-13 21:16] junlincc commented on #15478
verify fixed on master @aelich @RossMoir
https://user-images.githubusercontent.com/67837651/125526154-5676e608-d100-4485-837b-7ad2fed61aa0.mov

[2021-07-13 21:16] #15478 closed

[2021-07-13 21:32] #15189 closed

[2021-07-13 23:27] jinghua-qa opened #15671 "[native filter] numerical range filter with all null value column not allow to set range"
When setup a Numerical range filter for COVID example dashboard , select a column with all null value will not allow to set range

### Expected results
a column with all null value is not able to select in the numerical range filter configuration

### Actual results

a column with all null value is able to select, then the numerical range filter is not able to select range

#### Screenshots

https

[2021-07-13 23:45] junlincc commented on #15671
@jinghua-qa thanks for filing! good catch please add to test case🙏
It would be also good to know if this is db specific? do we have different dataset to test numeric col with all NULLs?

[2021-07-14 00:06] rusackas commented on #15663
It's possible, at least for some browsers. Styling these things gets a little weird. I would say it's a high-risk, low ROI change, until we have visual regression testing in place to make sure we don't break something someplace else in the UI by accident.

[2021-07-14 01:42] jinghua-qa commented on #15129
Checked on the latest master, the current behavior is : on the scope tab, filter only apply to the chart with the dataset selected in filter configuration by default, but i still be able to change to ‘apply all’ and then i will be able to repro this issue. My question is : should we disable 'Apply all' or give warning when select 'Apply all' if filter A is configured to dataset A and filter B is c

[2021-07-14 02:31] jinghua-qa commented on #15129
Checked with the latest master, do see filters configured to different dataset is apply to specific panels and also saw the warning sign. Thank you for the fix.

[2021-07-14 02:31] #15129 closed

[2021-07-14 02:46] jinghua-qa commented on #15638
This issue maybe related too:
when numerical range filter is required, can not set as max range
<img width="1792" alt="Screen Shot 2021-07-13 at 7 44 33 PM" src="https://user-images.githubusercontent.com/81597121/125552769-154e3729-9095-494f-9575-da2e496899f2.png">

[2021-07-14 02:48] u-aiaa commented on #15649
@junlincc

This is a video of the chart when viewed in a browser.

![animation](https://user-images.githubusercontent.com/72971834/125552121-795fbf06-19d0-48e2-940f-511aa5b077ff.gif)

When submitting a report, I wondered if a screenshot would be taken before this animation was finished. Therefore, I added a wait time to the pull request.
Instead of a wait time, should it not animate when sending a

[2021-07-14 03:03] jinghua-qa commented on #15671
I reproduce the same issue with FCC 2018 Survey, select a column with data 1 and null, wont be able to set range for numerical range filter either.
<img width="1157" alt="Screen Shot 2021-07-13 at 8 01 43 PM" src="https://user-images.githubusercontent.com/81597121/125554371-d850d4ea-4c93-4173-a49b-f8a0b92b0188.png">
<img width="1792" alt="Screen Shot 2021-07-13 at 8 00 39 PM" src="https://user-ima

[2021-07-14 03:36] kamalkeshavani-aiinside opened #15672 "[mixed time-series] Separate Y-axis bounds and Tooltip formatting"
**Is your feature request related to a problem? Please describe.**
1. Currently there is an option to set Y-axis bounds, but it applies to both primary and secondary y-axis at the same time. This is not really helpful since both axis will mostly have different scales.
2. Tooltip is always showing adaptive formatting for X-axis and Secondary Y-axis values.

**Describe the solution you'd like**
1. T

[2021-07-14 04:04] jinghua-qa opened #15673 "[dashboard] can not discard changes in a empty dashboard"
After create a new dashboard through through global + button or +dashboard button, click on 'DISCARD CHANGE' has no effect

### Expected results

click on 'DISCARD CHANGE' will bring user out of dashboard edit mode

### Actual results

click on 'DISCARD CHANGE' has no effect, user still at dashboard edit mode

#### Screenshots

https://user-images.githubusercontent.com/81597121/125559236-ebb18f6a-

[2021-07-14 04:09] kamalkeshavani-aiinside opened #15674 "[mixed time-series] extra x-axis labels"
When creating the chart with only 1-2 bars on x-axis, some unnecessary x-axis labels are displayed.

### Expected results

Number of x-axis labels should be same as number of data points.

### Actual results

Excessive x-axis labels are displayed.

#### Screenshots

![image](https://user-images.githubusercontent.com/74634977/125559617-5a9ee615-081b-48e3-9a0b-8ba4c29e5154.png)

![image](https://use

[2021-07-14 04:20] jessicaxyl opened #15675 "[Explore]Issue with Cursor Position in Edit Dataset's Calculated Column (SQL Expression)"
For the calculated columns under "Edit Dataset", there is an issue with the cursor position once I start typing in 'SQL Expression'. If I type 2 characters, once I am done typing, the cursor will move back 2 positions, same goes if i type 1 character, or 3 characters, and so on.

### Expected results
To type normal in SQL Expression part of "Edit Dataset"'s "Calculated Column"

what you expected t

[2021-07-14 05:13] jessicaxyl opened #15676 "Dropdown list for comparator/filter value in Explore's filters section"

[2021-07-14 06:52] envicon commented on #15626
Hi

I have now imported all data to my new VPS.
I have created all uid fields and changed the values with this job

[code]

I get the exact same error, so it must be in my data

**Unexpected error: SupersetApiError: Not authorized**

An error occurred while fetching query info: Not authorized
An error occurred while fetching dashboard info: Not authorized
There was an issues fetching your dashboar

[2021-07-14 07:49] jessicaxyl commented on #15676
I'm assuming it can be done in superset/superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx ?

Along the lines of line 419-457?

[2021-07-14 08:01] johnnyheineken commented on #2890
Hello Superset developers,

I am currently evaluating several bi solutions, and even though superset is best of them in the technical aspect, missing features like this (and conditional table formatting, which is being solved, though: https://github.com/apache/superset/issues/15559) are dealbreaker for our company.

I would like to kindly ask you whether there is any update on this feature.

[2021-07-14 08:08] zhaoyongjie commented on #2890
Hi @johnnyheineken.
Is this PR solve your problem https://github.com/apache/superset/pull/14688

[2021-07-14 09:50] jessicaxyl opened #15677 "Add a dropdown list for comparator/filter value in Explore's filters section"
It would be great if there's a dropdown list as you type the values in the Explore's filter section. Just like how there's a dropdown for the column and operator part, so that users would have an idea if the value they are inserting exists or not.

Here's an example of what I mean. Below is a screenshot of the dashboard native filter. And the filter section in Explore should have this dropdown fea

[2021-07-14 09:52] #15676 closed

[2021-07-14 09:59] RossMoir commented on #15478
@junlincc Trying this out on master it is still broken. Your video doesn't have 'Server Pagination' enabled, notice the number of rows and the option on the left is disabled, this means only a single query is made not a new one for each page flip. Please reopen this issue as it remains broken. @aelich can you confirm?

https://user-images.githubusercontent.com/44472119/125602810-3e2c065e-f255-4f81

[2021-07-14 10:26] xiezhongfu opened #15679 "[Tooltip]metrics-edit-popover Form shows [object, Object] title"
### Expected results

do not show `[object, Object]` title

### Actual results

shows `[object, Object]` title

#### Screenshots
![image](https://user-images.githubusercontent.com/10264972/125606728-c5facf18-6a8c-4590-b8ca-4ef3ac10efb7.png)

#### How to reproduce the bug

1. Go to `/superset/explore/table/2/`
2. Click on `METRICS` controlbox
3. hover the dropdown list
4. See error `[object, Object

[2021-07-14 10:28] xiezhongfu commented on #15679
Working on it

[2021-07-14 11:18] ypankovych commented on #15602
Have the same issue, when new columns are added to the data source, they don't appear in the dataset till I click refresh.

It'd be nice to have an auto-sync option.

[2021-07-14 13:11] piewaer opened #15681 "superset-frontend can't run"
### Expected results

I want to run the superset-frontend only.

### Actual results
Get lots of errors

#### Screenshots
![image](https://user-images.githubusercontent.com/87263497/125627666-d5f72ce0-591f-44aa-bc77-9a745e58047c.png)

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug
1. In the superset-frontend folder, npm ci
2. npm run dev-server
3. 98% of

[2021-07-14 13:11] piewaer commented on #15681
Why you should do it regularly:
https://github.com/browserslist/browserslist#browsers-data-updating
Browserslist: caniuse-lite is outdated. Please run:
npx browserslist@latest --update-db

Why you should do it regularly:
https://github.com/browserslist/browserslist#browsers-data-updating
98% after emitting SizeLimitsPluginNo type errors found
Version: typescript 4.0.3
Time: 38916ms
× ｢wdm｣:    105

[2021-07-14 13:32] geido commented on #15539
I am having a look

[2021-07-14 13:37] benrii22 commented on #7274
Bump

[2021-07-14 14:06] #15347 closed

[2021-07-14 14:07] geido commented on #14825
I am having a look

[2021-07-14 14:11] code-marcin commented on #13097
Hello All,
I am using the chrome browser SnapShot in the reports is not covering the Whole Dashboard,  any config i need to check for this,  as Full Screenshot is not coming

[2021-07-14 16:30] adam-stasiak opened #15684 "[native filters] Name change is not lost in left side of modal when return to edition after aborting changes"
When I abort change related to filter name and go back to modal I can still see this name in filters list.
### Expected results

old name is displayed.

### Actual results

modified name is displayed.
#### Screenshots

https://user-images.githubusercontent.com/25153919/125658413-b38501c7-30f0-4946-bdcd-5c2c41c5018d.mov

#### How to reproduce the bug

1. Go to dashboard
2. add native filter and sav

[2021-07-14 16:50] rosemarie-chiu opened #15687 "[perf] Dashboard loading time is 5+ mins with multiple tabs, tabs in tabs, native filters"
I have to trimmed out 2+mins on the video for it to be under 10MB.

1. It took 10 secs to respond to click to 2nd tab (where the contents are)
2. 10 secs to respond to click to tab in tab
3. Content shows up 2 mins after I end this video, so about 3+mins to show up all content on that tab

https://user-images.githubusercontent.com/52086618/125660894-9143be50-9546-4480-8e80-2058a3646fbe.mov

[2021-07-14 17:54] junlincc commented on #15687
Thanks for filing! @rosemarie-chiu

This may not be 100% related, we open it to track the perf issue we talked about on 7/14 from our end and to acknowledge the necessity of improvement. @etr2460 @graceguo-supercat @john-bodley

[2021-07-14 18:24] jinghua-qa opened #15689 "[cosmetic][dashboard edit] style bar of the dashboard component in the first line is half covered"
## Screenshot

<img width="1791" alt="Screen Shot 2021-07-13 at 7 25 05 PM" src="https://user-images.githubusercontent.com/81597121/125673168-0c518bee-7ce7-4801-97fc-e905fb5e76cf.png">

[2021-07-14 18:28] rosemarie-chiu commented on #14209
I'd like to be able to hide the column title on gauge chart or be able to customize what to show.

![CleanShot 2021-07-14 at 11 25 51](https://user-images.githubusercontent.com/52086618/125673454-73273694-730c-422a-8904-703517d1082f.png)
![CleanShot 2021-07-14 at 11 26 25](https://user-images.githubusercontent.com/52086618/125673466-0958d361-4fac-4627-aeec-086326acff61.png)

Another application is

[2021-07-14 18:50] junlincc commented on #15677
Try checking the autocomplete box in Edit Dataset modal?
<img width="1206" alt="Screen Shot 2021-07-14 at 11 49 25 AM" src="https://user-images.githubusercontent.com/67837651/125676476-b0730d53-f5be-448f-83ca-0e797fbf89e6.png">

[2021-07-14 18:58] jinghua-qa opened #15691 "[cosmetic][south table]unequal space in Table chart and data/sample table"
Should be equal vertical spacing of data/sample table and table chart
<img width="818" alt="Screen Shot 2021-07-09 at 11 58 49 AM (1)" src="https://user-images.githubusercontent.com/81597121/125676605-429bf2ec-d153-4be1-a8fc-48fd237fa546.png">

<img width="819" alt="Screen Shot 2021-07-09 at 11 57 22 AM" src="https://user-images.githubusercontent.com/81597121/125677475-ec7b35f4-5927-4181-9e2e-1598

[2021-07-14 19:25] hatbout commented on #8501
Any idea

Any idea when this can be fixed?  Kind of annoying when showing a dashboard to public.

[2021-07-14 19:36] nytai commented on #8501
This was fixed by https://github.com/apache/superset/pull/15590

[2021-07-14 19:46] aelich commented on #15478
@junlincc please don’t close its still broken, just tried it. (When you don't click on server pagination, like you have shown in last video, superset makes one big query and transfer all the data at once so when you click on buttons its just pagination and data is already in browser...)

@RossMoir I totally support you and confirmed it, its still broken i tried master branch on mysql and postgres

[2021-07-14 19:59] fuomag9 opened #15692 ""ERROR: Failed to fetch schemas allowed for csv upload in this database!" when trying to upload CSV"
"ERROR: Failed to fetch schemas allowed for csv upload in this database!" when trying to upload CSV

### Expected results

No error should happen when uploading CSV to the default docker-compose database.

### Actual results

I receive an error stating `ERROR: Failed to fetch schemas allowed for csv upload in this database! Please contact your Superset Admin!`

Terminal error:

[code]

#### Screen

[2021-07-14 20:17] cccs-rc commented on #14909
I'm eager to see this progress! Just wanted to mention an open PR my team has in progress (https://github.com/apache/superset/pull/15154) regarding business types for columns. Hoping we can incorporate business types into these new models as well.

[2021-07-14 20:46] junlincc commented on #15691
Issue 1: decrease spacing in the south table( view result, view sample) to be the same as table chart.
Issue 2: add spacing between tab and error msg.

[2021-07-14 20:58] rosemarie-chiu opened #15693 "[chart] Chart that's using a virtual dataset with an orderby breaks"
I suspect this is broke by this PR https://github.com/apache/superset/pull/15343
I have a virtual dataset that is order by a date column in the virtual dataset. It used to work but not anymore.

### Expected results
screenshot of how it used to be working
![CleanShot 2021-07-14 at 13 53 35](https://user-images.githubusercontent.com/52086618/125691410-71c4579e-7c48-4de8-8597-9feeb4b649f1.png)

###

[2021-07-14 20:58] RossMoir commented on #15478
Completely agree, this is high priority for our use case. Any use of larger queries benefit greatly from server-side pagination and a fix would be extremely appreciated.

[2021-07-14 21:17] danzinger commented on #15692
Same problem here. Also the `Edit Database` UI has changed and is not consistent with the [tutorial](https://superset.apache.org/docs/creating-charts-dashboards/exploring-data) anymore.

[2021-07-14 21:23] envicon commented on #15626
Hi,

I solved the issue.
It was the tables below which was completely wrong after update. I found out by comparing a new Superset installation
ab_permission_view
ab_permission
ab_view_menu
ab_permission_view_role

By copying this tables from the new installation to my old installation I got it to work again.

I also found a lot of tables which missed fields  - mostly uuid but also other fields and

[2021-07-14 21:27] nytai commented on #15626
Yea normally these db schema changes are applied via `superset db upgrade`, I'm glad you figured it out and were able to apply these schema changes manually -- you clearly know your SQL!

[2021-07-14 21:29] junlincc opened #15694 "[Upcoming change]Enable Autocomplete filter in Edit Dataset setting by default"
https://user-images.githubusercontent.com/67837651/125691871-f5d21b4f-fc30-4c4e-a0aa-fad37909000e.mov

We will be setting Autocomplete filter checkbox checked by default, as increasingly amount of new users report that 1) They don't know viewing filter values in the select dropdown is an option in Superset 2) navigating from chart to checkbox is unintuitive, as it's hidden in Edit dataset modal. 3

[2021-07-14 21:33] ktmud opened #15695 "[Dashboard builder] add more draggable areas for resizing chart"
**Is your feature request related to a problem? Please describe.**

Not sure whether this was the original behavior but it surprises me that currently we cannot drag the borders of chart containers to resize them (only the bottom right corner is draggable). See video behow:

https://user-images.githubusercontent.com/335541/125695660-c82b66d3-fff7-4538-83b9-f3c2fdff29d3.mp4

**Describe the solution

[2021-07-14 21:41] envicon commented on #15626
Thank you, nytai. Yes it is strange that my database it not updated with this command and that I don't get error messages. I have experienced this before.

After many hours of searching and trying I feel like an expert on this issue :-)

[2021-07-14 21:58] hatbout commented on #8501
Thanks a lot!  I just pulled the newest docker image and deployed again. I can confirm this bug is gone!

[2021-07-14 22:23] suddjian commented on #15227
Does this happen on other DB engines, or just TimeScale?

[2021-07-14 22:28] junlincc commented on #15693
Issue: Chart that's using a virtual dataset with an orderby breaks

[2021-07-14 22:35] junlincc commented on #15695
It is annoying but has been this way for a long time....

[2021-07-14 22:52] junlincc commented on #15692
`superset version` means latest master? @danzinger

https://www.youtube.com/watch?v=G7kVeONipsQ mind double checking if this tutorial work for you?

[2021-07-14 22:53] junlincc commented on #15681
moving issue to Q&A

[2021-07-14 22:53] #15681 closed

[2021-07-14 22:55] fuomag9 commented on #15692
I've noticed this as well, every time it seems to increase in terms of expansion (but the issue still remains even if blank)

[2021-07-14 23:26] junlincc commented on #15674
you mean these? what time grain did you set for the bar?
![125559617-5a9ee615-081b-48e3-9a0b-8ba4c29e5154](https://user-images.githubusercontent.com/67837651/125705285-9dc62a0f-64c2-4f02-a752-ee4de798ed0d.png)

[2021-07-14 23:44] jinghua-qa opened #15697 "[annotation][time-series chart] Annotation on time-series chart will fail initially"
Annotation on time-series chart will fail and show error message initially, then change chart type to line chart, the same annotation will show and then change back to time-series chat, annotation will show correctly

### Expected results

Annotation will show correctly on time-series chart initially

### Actual results

Annotation not show correctly on time-series chart initially

#### Screenshot

[2021-07-14 23:52] junlincc commented on #15697
thanks for filing! @jinghua-qa

note: this only happens on the time related annotation. formula works alright.

[2021-07-15 00:24] junlincc commented on #15672
thanks for suggesting! all good point and well accepted. Let us know if would like to collaborate on this, as it will take awhile for us to start the next iteration that incorporates those changes. 🙏

[2021-07-15 00:26] junlincc commented on #15673
consider this is a major ux issue in dashboard creation flow. @geido can you take a look?

[2021-07-15 00:27] junlincc commented on #15677
see https://github.com/apache/superset/issues/15694

[2021-07-15 00:27] #15677 closed

[2021-07-15 00:27] junlincc commented on #15663
p9 makes sense lol

[2021-07-15 00:28] rosemarie-chiu opened #15698 "[Dataset edit modal] UX for edit metrics tab need improvement"
**Is your feature request related to a problem? Please describe.**
It is confusing how to edit metrics in edit dataset modal.
1. I can only add SQL expression in the list, and I cannot see it after I expand an item? not when I expand it?
![CleanShot 2021-07-14 at 17 16 29](https://user-images.githubusercontent.com/52086618/125708820-3c6d773b-beea-490b-b662-7c08f1182dc8.gif)

2. I can only add labe

[2021-07-15 00:28] junlincc commented on #15649
makes sense! thanks!

[2021-07-15 00:34] junlincc commented on #15698
let's discuss a middle ground solution and tackle it by mid Aug. @michael-s-molina 🙏

[2021-07-15 00:44] kamalkeshavani-aiinside commented on #15674
Yes, this was with Time grain 'month'. I updated the original comment with this info.

[2021-07-15 01:22] kamalkeshavani-aiinside commented on #15672
@junlincc Thanks for your comment. Although I don't have any experience with type script, I am hoping to get some similar fixes from other charts and re-use the code for this chart.
I am starting by looking at https://github.com/apache/superset/blob/master/CONTRIBUTING.md#improving-visualizations. I guess I can ask questions in #contributing channel in slack whenever I get stuck somewhere.

[2021-07-15 01:29] handita opened #15700 "ERROR: Could not load database driver: AzureSynapseSpec"
I have tested superset with this url sqlalchemy
I have installed pip install pymssql

mssql+pymssql://sa@12345JK@127.0.0.1:1433/SKU

### Actual results

It said
`ERROR: Could not load database driver: AzureSynapseSpec`

#### Screenshots

#### How to reproduce the bug

1. Go to 'Database'
2. Click on '+ DATABASE'
3. Add url to mssql uri
4. See error
![image](https://user-images.githubusercontent.co

[2021-07-15 02:57] zhaoyongjie commented on #15693
@rosemarie-chiu Could you share this dataset with me? It seems to have a bug with the `window function`(sum over ....) as a metric.

[2021-07-15 02:59] xingyc15 opened #15701 "Superset swagger API /dashboard/import overwrite param doesn't work"
I am using the latest superset with the /dashboard/import API under <my_host>/swagger/v1.

I export the json file of my dashboard, and import it. The import succeed.

But it create a duplicated dashboard in my dashboard list. I have set the overwrite to be true but it doesn't work. it still create the duplicated one. Same owner, same dashboard json file.

![image](https://user-images.githubusercon

[2021-07-15 03:26] zacharyzhao opened #15705 "Schema Preview doesn't work"
Hi guys, I got a issue here.

I upgraded Superset from `0.37.0`  to `1.2.0` , everything seems ok until I try to browser data from `SQL Lab` - `SQL Editor` : when I select schema on the left side, a `PREVIEW` tab appears under the editor, but nothing in that tab. I can see that query in `Query History` Page. And, there aren’t any ERROR logs found from webserver or celery-worker.

However, I can se

[2021-07-15 04:50] jessicaxyl commented on #15677
Thank you!

[2021-07-15 05:10] AneeqYusuf commented on #4658
I am having the same issue. So the main problem is that if I am directly using the druid table for charts the __time column automatically is detected as timestamp. However, if we run a query, using the same __time field as the timestamp, the data in charts is automatically typecasted to string, which is weird.

@varaga, did you have any success in solving this?

[2021-07-15 06:54] schaurasia-quot commented on #8682
superset run -p 8088 -h 0.0.0.0 --with-threads --reload --debugger
this option is working