[2020-10-20 08:59] kgabryje commented on #11329
I'll check it out!

[2020-10-20 10:56] kgabryje commented on #11329
@zuzana-vej @mistercrunch Here's a fix: https://github.com/apache/incubator-superset/pull/11343

[2020-10-20 11:44] fedecere94 opened #11345 "Use Filter Box selected value as parameter in chart metric"
I have the following environment (a dashboard with a Table Chart):

      name     A     B     C     D
     --------------------------------
        x      1     0     0     1
        y      1     1     1     1
        x      0     0     0     1
        y      1     1     0     1

    name     SUM(A)
    -----------------
      x         1
      y         2

### What I want to do is:
add a FilterB

[2020-10-20 15:39] siben168 commented on #11322
I've finally been able to see the correct home page by waiting for an hour until the webpack completed its jobs.
This error only impacted the sample data so i've not seen any data examples. I'm happy if anyone could help to fix this minor bug, but i'm also fine to close this ticket up.

[2020-10-20 15:42] kgabryje commented on #11094
I think it's going to solve itself when I refactor react-bootstrap dropdowns to Antd

[2020-10-20 15:57] zuzana-vej commented on #11329
@kgabryje  thank you!

[2020-10-20 16:03] siben168 opened #11347 "How to order results in time-series table"
I used time-series table to show some rank data, as so i want the metrics to be in asc order, however, it appears that time-series table only have a default desc order, although I can click the arrow above the result set to manually switch the ordering, but everytime i refreshed the page it returned to a desc order.

Is there a way to define the order in chart definition or save the result set ord

[2020-10-20 18:24] junlincc commented on #11245
As we are in the process of deprecating the NVD3 charts, we decide not to fix #11245, instead, we will work on the enhancement for ECharts area chart => highlight which series is hovered in tooltip to reach feature parity.

Hope this work for the community!

[2020-10-20 20:20] acristu commented on #985
Landed here while trying to configure k8s ingress path based routing to superset.

The nginx solution did no work for me, superset does not consider `X-Script-Name` when doing redirects and probably has other hardcoded paths, this can be seen also from this nginx location config:

[code]

So any of these paths will not hit the correct ingress.

According to this PR comment https://github.com/apach

[2020-10-20 20:22] benceorlai commented on #10965
Hi @jeremy-ecoenergy

There was a [pr](https://github.com/apache/incubator-superset/pull/10731) that fixed this in Superset 11 days ago. That improvement was made available in the cloud version a few days later so it should be working as expected. Could you confirm that it is now working?

[2020-10-20 21:24] rusackas commented on #11329
Fix merged!

[2020-10-20 21:39] rusackas commented on #11191
@junlincc let's confirm it's behind us :)

[2020-10-20 22:36] junlincc commented on #11191
tested on 10/20,  all good! closing

[2020-10-20 22:36] #11191 closed

[2020-10-20 22:36] ravijabe commented on #10433
I faced exactly the same issue when completed the plugin development using the same link as given by 'pingf'. Appreciate any help.

[2020-10-20 23:59] sedhha commented on #10433
@ravijabe try to manually copy the files instead of npm link. That worked for me.

[2020-10-21 02:20] ogrehunter commented on #11297
UPDATED:
The problem is SOLVED.
I change the `sqlalchemy-teradata` to `teradatasqlalchemy` and the problem is solved.

[2020-10-21 02:20] #11297 closed

[2020-10-21 04:46] john-bodley opened #11352 "Error messages do not wrap"
It seems that Superset errors do not wrap (the example is from SQL Lab and thus I'm uncertain how broad of an issue this is) meaning one needs to scroll horizontally in order to parse the message.

### Expected results

The error message should wrap to aid with readability.

### Actual results

The errors do not wrap.

#### Screenshots

<img width="900" alt="Screen Shot 2020-10-20 at 9 35 08 PM" s

[2020-10-21 04:49] mistercrunch commented on #11352
Mmmh, this one is my bad as I brought the monospace / <pre> wrapping here. Let me see if I can fix this real quick.

[2020-10-21 05:01] mistercrunch commented on #11352
here: https://github.com/apache/incubator-superset/pull/11354

[2020-10-21 05:38] junlincc commented on #11116
Big Number with Trendline chart is a visualization that is used to place focus on a key performance indicator with associated percentile changes. I would recommend you to choose Big Number chart, which is used to place focus on a more general key performance indicator, like Sum or Average. closing this issue for now.

[2020-10-21 05:38] #11116 closed

[2020-10-21 05:40] mistercrunch commented on #11352
@junlincc the action of merging the associated PR will auto-close this issue, reopening until it gets merged

[2020-10-21 06:36] zhaoyongjie commented on #11339
hi @xuningyang . I checked the icon conf in FAB, like this
https://github.com/apache/incubator-superset/blob/cae54ac00e154ddfb0699e0dde7233b5942c5e70/superset/app.py#L217-L225

so I guess have some font style overwrite the existing FAB icon.

[2020-10-21 06:48] jeremy-ecoenergy commented on #10965
It's not clear how this PR fixes the issue? The columns from the SQL query can't be synced.

I did find a workaround by using an incognito window and the legacy data source editor, but it was still buggy.

[2020-10-21 07:57] ravijabe commented on #10433
Thanks for the quick response. I have copied the hello-world plugin to superset-frontend/node_modules/@superset-ui
when i run npm run dev-server there are no errors. get compiled successfully. But can't see the hello-world plugin the web interface when creating a new chart.
when I run npm run prod i get the following error and server stops
![error](https://user-images.githubusercontent.com/2603830

[2020-10-21 08:02] sedhha commented on #10433
Hi @ravijabe are you using pip install superset version? Can you share the output of `superset --version` and `superset version`. I believe pip version of superset is quite outdated and better go with `git clone`. Also I did the same in docker (that would be the best solution I will suggest at the moment). It will definitely work out, I have tried a lot using pip version but due to some issues it

[2020-10-21 08:04] lily-liu opened #11356 "SQL Statement on QUERY_LOGGER prints none to log"
`log_query` function on sql_lab.py passes `query.executed_sql` instead of `query.sql`, thus causing it to print TypeNone on log. This issue only happened when QUERY_LOGGER property is configured.

### Expected results

actual SQL statement string from sql_lab printed on the log

### Actual results

TypeNone printed on logfile

#### Screenshots

<img width="1440" alt="Screen Shot 2020-10-21 at 14 5

[2020-10-21 08:12] benceorlai commented on #10965
I might have misunderstood your explanation, sorry. You are correct, for *virtual* datasets, the column sync is not working at the moment. There is another PR [(PR-10645)](https://github.com/apache/incubator-superset/pull/10645) pending for that, we are working on it as we speak.

Additionally, this functional area is getting a lot of changes these weeks, the full extent of the work is shared publ

[2020-10-21 08:28] qinzl1 opened #11357 "version: 0.30 Translation is not good"
superset version: 0.30

![image](https://user-images.githubusercontent.com/20242930/96694137-a2bbe600-13ba-11eb-9e12-ed3fc9066430.png)

[2020-10-21 08:42] ravijabe commented on #10433
I'm not using docker since i'm not familiar with it. If its the best way then I have to learn to do it. Is docker okay for production when i want to go live ?
![superset_2](https://user-images.githubusercontent.com/26038309/96695372-11626900-13e6-11eb-91e2-d33d5fdca91e.JPG)

[2020-10-21 08:53] sedhha commented on #10433
@ravijabe yes, docker is a great choice for production and you don't need to dive deeper just understand `docker-compose.yml` rest all is quite smooth... Also just test everything on a dev server before totally switching to docker.

[2020-10-21 10:47] Asturias-sam opened #11359 "Presto LDAP Issue"
we need to integrate Presto with our Superset. We have enable LDAP from Presto Side.

So we configured the Database with our Admin user and selected `Impersonate the logged on user ` on database setup page.

Currently only Admin is able to view schemas and tables other users are not able to view the data source we are getting this error on Superset:
[code]

And From the Presto side we are getting

[2020-10-21 11:42] TeAmP0is0N opened #11360 "FlushError"
[code]

[2020-10-21 13:10] zhaoyongjie commented on #11360
@TeAmP0is0N
please try run `superset db upgrade`. This issue seems like the chart(Slice) don't have owner

[2020-10-21 13:58] junlincc commented on #11331
@kkucharc 🙏

[2020-10-21 13:59] junlincc commented on #11304
@kkucharc

[2020-10-21 14:47] junlincc commented on #11339
Hi @xuningyang and @zhaoyongjie We removed these nav bar icons while we reorganized the navigation by design, to get closer to the proposed design in [SIP-34](https://github.com/apache/incubator-superset/issues/8976) for keeping the cleanness and consistency. if you would like to make any contributions on improving the UI, SIP-34 can be a good guideline.

[2020-10-21 14:50] #11339 closed

[2020-10-21 14:55] joehoeller opened #11363 "Helm chart fails completely"
**1. Describe Pods**

[code]

**2. Kubectl Logs:**

[code]

[2020-10-21 14:57] joehoeller commented on #11363
@cguan7 can you plz look into this?

[2020-10-21 15:12] junlincc commented on #11357
Hi @qinzl1 We currently rely on the community to improve translations. If you are proficient in Japanese and would like to contribute to translating text strings, [contributor guide](https://github.com/apache/incubator-superset/blob/master/CONTRIBUTING.md#add-translations) gives you all the details. Feel free to reach out to me in Slack if you have further questions.

[2020-10-21 15:12] #11357 closed

[2020-10-21 15:58] apankha opened #11364 "Ability to launch SQL Lab with database, schema and SQL query pre-populated using URL params or JSON payload"
**Is your feature request related to a problem? Please describe.**

We are using a Data Cataloging tool which allows our users to view available datasets in our data lake. We would like to integrate this tool with Superset. The functionality would allow the user to launch Superset inside SQL Lab view and query the table that they were viewing within the Data Cataloging tool.

**Describe the soluti

[2020-10-21 18:14] graceguo-supercat opened #11368 "[table chart] raw records SELECT ALL option is broken"
Table chart's select all option is broken.

#### Screenshots

![GsJ1Jnqey4](https://user-images.githubusercontent.com/27990562/96763089-6377a000-138e-11eb-85b7-0a23c1f5142b.gif)

If applicable, add screenshots to help explain your problem.

### Environment
lastest master branch

### Checklist

Make sure these boxes are checked before submitting your issue - thank you!

- [x] I have checked the sup

[2020-10-21 18:20] serenajiang commented on #11310
fixed in #11365

[2020-10-21 19:51] eugeniamz commented on #11167
What about including export and import queries?

[2020-10-21 19:58] #8827 closed

[2020-10-21 20:32] jsalvatore commented on #6099
@aleksarias, can you fix this?

[2020-10-21 20:36] aleksarias commented on #6099
I'm not good at javascript

[2020-10-21 20:38] jsalvatore commented on #6099
I'm happy to discuss this - we may be able to help.

[2020-10-21 21:14] villebro commented on #11267
Hmm, these types of problems should have been fixed in 0.35.2 already. What is generating the time filter? A filter box from a different datasource? or a manually entered adhoc filter?

[2020-10-22 00:35] #11352 closed

[2020-10-22 00:44] zuzana-vej opened #11377 "Dashboard: Time picker renders off screen"
Time picker renders off screen, when the filter box is on the right side of a dashboard.

### Expected results

It should render to the left side of the box, so that's it's fully on screen.

### Actual results

Off screen.

#### Screenshots

<img width="349" alt="Screen Shot 2020-10-21 at 5 41 42 PM" src="https://user-images.githubusercontent.com/61221714/96804743-b8360d80-13c4-11eb-9c0f-c12466112

[2020-10-22 01:01] zuzana-vej opened #11378 "Datasource Menu box cuts off when datasource name is long"
When datasource name is long, the menu (after use clicks the three dots) renders off - cuts off. It’s still on the screen but below the chart instead of rendering to the left.

### Expected results

Render to the left.

### Actual results

Cuts off.

#### Screenshots

<img width="513" alt="Screen Shot 2020-10-21 at 5 58 27 PM" src="https://user-images.githubusercontent.com/61221714/96805790-427f71

[2020-10-22 01:13] zuzana-vej opened #11379 "Chart Explore: Pasting text into Metrics fails and deletes other metrics"
Pasting text into Metrics fails and deletes other metrics. This feature is commonly used if metrics are long - user finds them in documentation / from a colleague (via slack) / from previous chart - instead of typing the metric name user wants to paste it. This functionality worked at some point in the past.

### Expected results

Existing metric remain, and newly pasted metric (if exists) also is

[2020-10-22 01:22] ktmud commented on #11378
Duplicate of #11094

[2020-10-22 01:34] zuzana-vej commented on #11329
I am still seeing the issue. Switching tabs works. But in the past, when user selects a table name on left side from the schema, it automatically switched to the tab with the preview. Currently the tab shows up, but user needs to manually switch.

Is this new behavior as designed or a bug?

Image 1: Searching for the table I selected
<img width="741" alt="Screen Shot 2020-10-21 at 6 32 02 PM" src=

[2020-10-22 01:39] zuzana-vej commented on #11190
Closing this as we had some discussions and this bug is resolved. There is a new different bug - raising new issue for tracking.

[2020-10-22 01:39] #11190 closed

[2020-10-22 01:43] zuzana-vej opened #11380 "Datasource edit doesn't save schema, only saves new dataset name"
On chart explore, when you click on change dataset, and try to edit the datasource (table) name, the table name change works as expected but unless you edit schema, the existing schema doesn't get saved causing the chart to break.

### Expected results

Both schema and table name should change.

### Actual results

Only table name changes.

#### Screenshots

Step 1: my table name (before change)
<

[2020-10-22 03:07] nytai commented on #11292
I opened https://github.com/apache/incubator-superset/pull/11381 which is not a perfect fix, but it should make things a little less confusing.

[2020-10-22 04:22] mistercrunch commented on #11380
@lilykuang

[2020-10-22 04:25] mistercrunch commented on #11299
You have to pick a dataset!

[2020-10-22 04:26] mistercrunch commented on #11299
Though the disabled styling isn't super accessible, maybe we can make the text a little darker.

[2020-10-22 04:31] mistercrunch commented on #11299
<img width="436" alt="Screen Shot 2020-10-21 at 9 31 17 PM" src="https://user-images.githubusercontent.com/487433/96824895-c7c54e80-13e4-11eb-880c-f73361bd13f5.png">

[2020-10-22 04:36] #11319 closed

[2020-10-22 04:36] junlincc commented on #11299
I think as soon as the users select a dataset, the pill color should turn
blue.

On Wed, Oct 21, 2020 at 9:31 PM Maxime Beauchemin <notifications@github.com>
wrote:

[2020-10-22 04:36] #10011 closed

[2020-10-22 04:42] junlincc commented on #10917
not sure which pr fixed it, but it's fixed. closing the issue

[2020-10-22 04:42] #10917 closed

[2020-10-22 04:43] nytai commented on #10560
This issue is probably better suited for https://github.com/dpgaspar/Flask-AppBuilder. You could also implement your own custom security manager and override the login method, there should be info on how to do this in the flask_appbuilder docs.

[2020-10-22 04:48] nytai commented on #10064
I could be mistaken, but isn't sorting handled by the database therefore it's the underlying database that is incorrectly sorting these results?

[2020-10-22 04:51] nytai commented on #10620
This issue would make more sense in https://github.com/dpgaspar/Flask-AppBuilder as that's what's handling our login. You could also achieve this with a custom security manager, overriding the login method.

[2020-10-22 04:51] nytai commented on #10620
also, duplicate of https://github.com/apache/incubator-superset/issues/10560

[2020-10-22 05:03] nytai commented on #10622
@gtg472b you can set the welcome_dashboard_id in config https://github.com/preset-io/incubator-superset/blob/69046f08d44fece691798fcce0eea986e509e015/superset/config.py#L734 and every new user should have the same welcome dashboard. If you want to have different welcome dashboards for each user then setting it manually in the db is the only way.

[2020-10-22 05:52] junlincc commented on #11378
@zuzana-vej would you mind consolidating all the cut-off/overflow issues, including pills, metric fields, etc.? we will tackle them by category all at once.  🙏

[2020-10-22 06:11] Jeffxiong commented on #11318
@zhaoyongjie  thanks

How can I translate this picker to Chinese version?
![image](https://user-images.githubusercontent.com/1947134/96831870-5f23b380-1470-11eb-91ff-7532c633f648.png)

[2020-10-22 06:19] graceguo-supercat opened #11384 "[CRUD VIEW] Dashboard / Chart list page send too many requests"
When I open dashboard or chart list page with ENABLE_REACT_CRUD_VIEWS flag:

### Actual results
![Screen_Shot_2020-10-21_at_1_22_18_PM](https://user-images.githubusercontent.com/27990562/96831408-e4b44e80-13f1-11eb-8b9f-1ef7128f873a.jpg)

- it sends 25 api calls to backend. If i have 50 items per page, then it will send 50 api calls.
- each api call is to check if dashboard/chart is favorite

###

[2020-10-22 06:39] avicenteg commented on #6099
Hello @jsalvatore.

I finally found a solution for it. I attach some screenshots. Although I haven't done any PR because I think that it is an sloppy solution but useful.
First, I added a section in the filter box chart:
![image](https://user-images.githubusercontent.com/64475023/96833242-63d07380-1440-11eb-9674-2bc285ef9685.png)
![image](https://user-images.githubusercontent.com/64475023/96833277

[2020-10-22 08:33] Asturias-sam commented on #2148
what SQLAlchemy URI have you guys used for presto to Impersonate the logged on user.
Currently only the user who have configured the datasource is able to query for other it's shows
[code]
From Presto side:
`Password validation failed for user DN [superset@homeoffice.domain.com]: [LDAP: error code 49 - 80090308: LdapErr: DSID-0C090453, comment: AcceptSecurityContext error, data 52e, v3839]` ?

[2020-10-22 08:41] kgabryje commented on #11329
@zuzana-vej Are you sure you're testing it on the latest master? For me it was exactly like you expect (see gif).
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/15073128/96847211-304b1480-1453-11eb-9280-7dd406a6bb33.gif)

[2020-10-22 08:50] shutaG commented on #11183
Hello! This problem how do you solve？I also met. Has been compiled not successful

[2020-10-22 09:17] Asturias-sam commented on #7170
@haydenwhitehead @nladuguie  how you guys solved this issue facing similar issue https://github.com/apache/incubator-superset/issues/11359 ?

[2020-10-22 09:39] tooptoop4 commented on #7170
https://github.com/apache/incubator-superset/pull/9422/files fixes it

[2020-10-22 11:35] joehoeller opened #11387 "QUESTION: Pip install with Helm?"
**Is this the correct config to install the database connectors using Helm:**

[code]

[2020-10-22 12:22] jsalvatore commented on #6099
Hello @avicenteg, that would be really helpful, can you email me any relevant code so I can attempt update my version of superset? My email is joe@jsalvatore.com. Looking forward to chatting.

[2020-10-22 13:07] zhouyan8603 commented on #10100
+1

[2020-10-22 13:22] harshal-c commented on #8429
@visakhmurukes Hi, were able to figure it out in the end?

[2020-10-22 14:07] junlincc opened #11388 "Explore Query metrics value popup does not open automatically"
### Expected results
After selecting a Metric in the Explore control panel, popup used to open automatically
<img width="563" alt="Screen Shot 2020-10-22 at 6 59 37 AM" src="https://user-images.githubusercontent.com/67837651/96882513-3c73a980-1434-11eb-8613-2a10eff9574e.png">

### Actual results

![ezgif-3-ed4e36de732a](https://user-images.githubusercontent.com/67837651/96883462-4ba72700-1435-11eb

[2020-10-22 15:29] junlincc commented on #11379
@zuzana-vej could you please provide a gif that shows the old behavior? do you think [#11388](https://github.com/apache/incubator-superset/issues/11388) are caused by a same PR?

[2020-10-22 15:40] zuzana-vej commented on #11378
I ll close this since it's duplicate, will link the other issues.

[2020-10-22 15:40] #11378 closed

[2020-10-22 15:41] zuzana-vej commented on #11094
Similar to https://github.com/apache/incubator-superset/issues/11377 (these are the only two cosmetic / overflow issues I am aware of).

cc @junlincc

[2020-10-22 15:42] zuzana-vej commented on #11377
Similar to https://github.com/apache/incubator-superset/issues/11094 (these are the only two cosmetic / overflow issues I am aware of).

cc @junlincc

[2020-10-22 16:07] zuzana-vej opened #11394 "Superset edit filter popover disappearing on hover"
The filter UI is more sensitive than before, leading to “catch me if you can” type of experience. When adding a filter to a chart (so in Explore view, you click on  or trying to edit it, the popover containing filter settings disappears when moving the cursor from the filter to it (check out attached video). This doesn't happen all the time, but when it does, it's very frustrating. Sometimes, the

[2020-10-22 16:21] zuzana-vej commented on #11379
I can't provide video of old behavior (when pasting a metric into the box worked) because old behavior doesn't work right now (honestly I am not sure how long this has been broken, this might not be feature user uses every day, so it could be couple weeks).

I think they certainly touch the same component, so the regression is likely to be introduced when doing some redesign/changes to the Metrics

[2020-10-22 16:40] lilykuang commented on #11380
I just opened for the fix https://github.com/apache/incubator-superset/pull/11396

[2020-10-22 16:41] zuzana-vej commented on #11329
![sqllab-preview](https://user-images.githubusercontent.com/61221714/96902587-8e72fa00-1449-11eb-9cf0-5d80315eeb87.gif)

Yes latest master, just synced it yesterday.  Using Chrome.

[2020-10-22 16:42] kgabryje commented on #11094
@ktmud @junlincc https://github.com/apache/incubator-superset/pull/11395 should fix the issue.

[2020-10-22 17:06] zuzana-vej commented on #11388
This item is also related https://github.com/apache/incubator-superset/issues/11394

[2020-10-22 17:06] zuzana-vej commented on #11394
Related to https://github.com/apache/incubator-superset/issues/11388

[2020-10-22 17:16] #11299 closed

[2020-10-22 17:40] junlincc commented on #11394
💔💔💔!

[2020-10-22 17:47] junlincc commented on #11394
@eschutho could you please take a look at #11394, [#11388](https://github.com/apache/incubator-superset/issues/11388) and [#11379,](https://github.com/apache/incubator-superset/issues/11379) i think they are all related. 🙏

[2020-10-22 17:57] dstadz commented on #11328
Hey @junlincc, I am interested in contributing to this issue. Is it still available to be worked on?

[2020-10-22 19:29] adam-stasiak opened #11399 "RootCloseWrapper blocks opening menu while refreshing charts in dashboard"
## Screenshot
![image](https://user-images.githubusercontent.com/25153919/96919850-e3d7f700-149b-11eb-8939-ae722948cb8f.png)
![image](https://user-images.githubusercontent.com/25153919/96920255-7082b500-149c-11eb-86ed-6db335fea68d.png)

## Description
Issue with low priority to users - > it just affects the way how the access to charts edition in dashboard is limited while refreshing charts.
To re

[2020-10-22 20:07] rob05c commented on #3829
I just hit the same issue, with the default sqlite metadata source. Fixed it in sqlite3 with

[code]

[code]

Seems like it isn't fixed in the latest stable version, which just needs `UNIQUE (table_name),` changed to `UNIQUE (table_name, database_id),`.

[code]

[2020-10-22 20:52] Steejay commented on #11186
Larger font size looks better. We would recommend changing the tab background on hover instead of the text color.

[2020-10-22 21:00] eschutho commented on #11394
sure, I'll take a look. Do you want to assign this to me?

[2020-10-23 00:01] junlincc commented on #11394
let me know how long it's gonna take you. Kamil and Kasia can help 🙏

[2020-10-23 01:52] eschutho commented on #11394
I have a quick fix, although I think the use of state vs props in the component could use some improvements. If you think it's worth pushing out a fix with the existing code, I can put up a PR now, or wait until next week.

[2020-10-23 02:14] junlincc commented on #11394
https://github.com/apache/incubator-superset/pull/11163 @kgabryje Kamil~

[2020-10-23 02:15] junlincc commented on #11388
@kgabryje Kamil~

[2020-10-23 03:00] zuzana-vej opened #11404 "Backspaces and spaces do not work when editing simple filter value in explore chart"
### Description:
When editing the value of a simple filter in explore box, backspaces and spaces are broken. It seems like they are not being entered into the filter value text box but are instead being entered into the filter column drop down. The space problem also occurs when editing custom SQL, which majorly breaks custom sql filters. The only workaround to type a space is to type the value/cu

[2020-10-23 03:01] zuzana-vej commented on #11404
@junlincc This could be caused by the same PR as the other cosmetic issues on chart explore: https://github.com/apache/incubator-superset/issues/11394 https://github.com/apache/incubator-superset/issues/11379

[2020-10-23 03:21] junlincc commented on #11404
just tested.agreed. 👌

[2020-10-23 03:21] ogrehunter opened #11405 "Problem with Teradata Database"
From the Official Documentation it clearly stated that the recommended connector library is [sqlalchemy-teradata](https://github.com/Teradata/sqlalchemy-teradata). As far as I know this library is no longer maintained since last commit on its github page is on Jul 14, 2018. Furthermore Teradata has other SQL Driver Dialect for SQLAlchemy which is always updated until now, the last version is on Ju

[2020-10-23 04:27] mistercrunch commented on #11405
I don't know any committers/PMC who actively use Teradata. Please update our docs with your recommendation if you can!

[2020-10-23 04:36] mistercrunch commented on #11404
@kgabryje ^^^

[2020-10-23 05:19] mistercrunch commented on #9892
-1
I think moving from typescript to dart is a bad idea
<img width="1211" alt="Screen Shot 2020-10-22 at 10 18 33 PM" src="https://user-images.githubusercontent.com/487433/96959310-92883180-14b4-11eb-98eb-49fd1f33128c.png">

[2020-10-23 05:58] rafaelugolini commented on #9880
I had the same issue, took around 7m for webpack to finish

[code]

[2020-10-23 06:39] MarcusSorealheis commented on #4231
Is there anybody using Superset and MongoDB?

[2020-10-23 08:01] kkucharc commented on #11360
I think it happens when you don't load users, then the owner (admin) is None. I also may suggest to take a look if users are created while `superset load_test_users`. If you have only one line `Loading a set of users for unit tests` and no info that admin was created, then it would be worth check if you have testing environment (`export SUPERSET_CONFIG=tests.superset_test_config` or for fish ` set

[2020-10-23 08:23] qinzl1 commented on #11357
@junlincc It doesn't show the translated content

[2020-10-23 08:51] codepic commented on #11183
@shutaG the solution is in the diff in my original message. Cast the style.top as number.

[2020-10-23 08:55] shutaG commented on #11183
thank you !  i get it .

[2020-10-23 09:05] mavilar opened #11406 "How to get filter box time grain in SQL query"
I was trying to write an SQL query to build a chart that gets affected by the time filters of a filter box in a dashboard. More specifically, I would like to get the time grain selection.

I found this next issue that leads me to believe that it would be possible to get the time grain with the expression `filter_values('__time_grain')`, but I tried and it doesn't work. The expression `filter_value

[2020-10-23 11:03] max-allan-surevine opened #11408 "superset_config.py is being ignored"
I followed the install from scratch guide (without using virtualenv).

Started up the server with `superset run -h 0.0.0.0 -p8088` and it is fine. I can browse to superset and see the log messages in the terminal.

I then created a superset_config.py with the following content :
[code]

### Expected results

[code]

### Actual results

[code]

#### Screenshots

N/A

#### How to reproduce the bug

[2020-10-23 11:10] max-allan-surevine opened #11409 "Documentation : Postgres connection"
https://superset.apache.org/docs/databases/installing-database-drivers

Says :
PostgreSQL | pip install psycopg2 | postgresql:://<UserName>:<DBPassword>@<Database Host>/<Database Name>

Clearly the :: is a mistake.

[2020-10-23 13:39] ogrehunter commented on #11405
Found temporary solution,
1. add keyword 'SAMPLE' in `venv\lib\python\site-packages\sqlparse\keyword.py`
[code]
2. replace 'LIMIT' and 'limit' with 'SAMPLE' and 'sample' in `superset/sql_parse.py`

TODO: apply those replacement only when Teradata connection is used.

[2020-10-23 15:08] tooptoop4 commented on #4769
did u find fix? @michellethomas

[2020-10-23 15:15] rwspielman opened #11411 "Charts: Filters Custom SQL Where/Having dropdown never selecting"
When trying to set a custom SQL filter on a chart, selecting the dropdown and changing it renders the dropdown box useless. It never selects having or where when you click on it. Thus, it does not allow you to save the custom SQL query because its a required field

### Expected results

Show the selected dropdown choice [where/having] and allow the user to save the custom sql filter

### Actual re

[2020-10-23 15:38] nate-goop commented on #10198
what happens if you change CELERYBEAT_SCCHEDULE to CELERYBEAT_SCHEDULE?

[2020-10-23 17:24] zuzana-vej commented on #11394
Here is another video recording when it disappears after user starts typing, if they move their mouse outside the popover area.

![popover-issue-2](https://user-images.githubusercontent.com/61221714/97034356-a1ed9600-1519-11eb-80d9-031cba92bbc2.gif)

[2020-10-23 17:36] nh43de commented on #11080
I am having the same issue as well, when using 0.37.2 release, docker-compose up --build

[2020-10-23 17:52] nh43de commented on #11080
Steps to reproduce:

1. Check out 0.37.2 tag
2.  `docker-compose up --build --force-recreate`
3.  < < wait for compose >>
4. Shell into superset-app, run `superset db upgrade` and I get this error message.

[code]

[2020-10-23 17:54] rwspielman opened #11413 "Dashboards: Can't use charts that you own but didn't create"
When looking at "Your charts and filters" in Dashboard edit mode, visualizations that you are a listed 'owner' on, but didn't create, don't appear in the list.

### Expected results

Given the selection is "your charts and filters", I would expect it to include charts/filters that you own, not just charts/filters that you created.

### Actual results

Only charts that you are the creator of appear

[2020-10-23 18:46] joehoeller commented on #11387
@maxg203

[2020-10-23 18:47] joehoeller commented on #11363
@cgivre any ideas?

[2020-10-23 19:26] mistercrunch commented on #11363
@craig-rueda 👀 🙏

[2020-10-23 19:30] mistercrunch commented on #11363
mmmh, this line in the Dockerfile https://github.com/apache/incubator-superset/blob/master/Dockerfile#L127 points to https://github.com/apache/incubator-superset/blob/master/requirements/docker.txt#L13 which should install `redis`.

[2020-10-23 19:35] mistercrunch commented on #11363
Maintainer on the `Chart.yaml`
https://github.com/apache/incubator-superset/blob/master/helm/superset/Chart.yaml#L21-L24

[code]

[2020-10-23 19:37] mistercrunch commented on #11363
Pointer to the lib that seem to be missing:
https://github.com/apache/incubator-superset/blob/master/helm/superset/values.yaml#L28

[2020-10-23 23:09] rwspielman commented on #11413
If you change line 48 in here to
`endpoint: `/sliceasync/api/read?_flt_0_owners=${userId}`,`
it should close this issue

https://github.com/apache/incubator-superset/blob/master/superset-frontend/src/dashboard/actions/sliceEntities.js

[2020-10-23 23:13] nytai commented on #11413
@rwspielman You should still be able to add the chart to the dashboard via the chart explore page as a workaround.

[2020-10-23 23:29] rwspielman commented on #11413
@nytai Thank you! somewhat unrelated to the issue, but our organization would benefit from separate permissions that allow users to use charts in a dashboard without being the owner. i.e. read-only access to a dashboard. we could just remove the filter on this query, but that sort of opens up every chart to all users which could be a very large list

[2020-10-24 00:51] mistercrunch commented on #11080
@nh43de , looks like a different error

[2020-10-24 02:09] joehoeller commented on #11363
@mistercrunch i did email them.

[2020-10-24 06:56] sujeethkanuganti commented on #9042
Is this resolved ? Have same problem.

[2020-10-24 07:21] appleyuchi commented on #10927
Thanks for your replies,
but could you developers set it to center of the page automatically?
Much Thanks for your hard work~~~

[2020-10-24 10:40] fedecere94 commented on #11345
I finally found the solution by myself. I used **filter_values** macro that can read the filter values through the analysis of the url parameter form_data (in which all of your filter are stored).
See #5547 to better understand how the filter_values macro work

[2020-10-24 10:40] #11345 closed

[2020-10-24 16:44] petsasj commented on #10196
I have the exact same issue.

Tried the nuke method in the linked comment, however nothing changed.

I also tried to check out different branches - as in previous versions to no avail.

Here's the system info:
OS: centos 7.7
Superset version: 0.37.2 (latest) [also tested 0.36]
Docker version: 1.13.1
Docker-compose version: 1.27.4

I figured it was a better option to comment on this issue rather th

[2020-10-24 18:04] mistercrunch commented on #10927
Can't reproduce, what version of Superset and Chrome is this?

[2020-10-24 18:26] mistercrunch commented on #11094
Merged, and confirmed this is fixed in master:
<img width="588" alt="Screen Shot 2020-10-24 at 11 26 05 AM" src="https://user-images.githubusercontent.com/487433/97089313-b9954f00-15eb-11eb-94e0-01df65232a60.png">

[2020-10-24 18:26] #11094 closed

[2020-10-24 21:43] #11413 closed

[2020-10-25 09:43] mattarderne commented on #11171
Per [this comment](https://github.com/apache/incubator-superset/issues/10773#issuecomment-688861590), working steps for me are as follows:
[code]
I also increased the ec2 instance size to medium, perhaps this helped.

[2020-10-25 10:34] kkucharc commented on #10471
Hi @ktmud @avicenteg, do you know if this issue is still happening? I'm checking it on chrome and it looks like it was solved in meantime:
<img width="520" alt="Screenshot 2020-10-25 at 11 20 42" src="https://user-images.githubusercontent.com/2536609/97104648-dc8c3580-16b5-11eb-974b-049673ececfa.png">
<img width="302" alt="Screenshot 2020-10-25 at 11 26 36" src="https://user-images.githubuserconte

[2020-10-25 16:36] junlincc commented on #10471
@kkucharc This is happening on Dashboard time range filter, not in Explore, I can confirm that this is still an issue. reach out to me directly if it's unclear. thanks!
<img width="1186" alt="Screen Shot 2020-10-25 at 9 33 44 AM" src="https://user-images.githubusercontent.com/67837651/97113091-54059900-16a5-11eb-8924-d83954ce8717.png">

[2020-10-25 16:40] craig-rueda commented on #11363
I just tried this out and was able to have an installation up in ~2min.

What I tried:

1. Fresh clone
2. `cd helm/superset`
3. `helm dependency update`
4. `helm install superset .`

After a few min, the thing was up :)

Verified by running: `kubectl port-forward svc/superset 8088:8088` and logging into `http://localhost:8080` with `admin/admin`

[code]

@joehoeller - just to be clear around this

[2020-10-25 16:45] craig-rueda commented on #11387
@joehoeller - Here's the related docs around DB drivers: https://superset.apache.org/docs/databases/installing-database-drivers

For instance, to install `Oracle`:

[code]

[2020-10-25 17:07] junlincc opened #11419 "Apply button gets pushed out of filter box when the filter box is small with too many filter values selected"
### Expected results
Textbox width should adjust accordingly depends on the size of the filter box.
apply fixed height when there are many filter values selected in one field, and display only a limited number of values that fits
Apply button should always be in the box.
<img width="826" alt="Screen Shot 2020-10-25 at 10 02 50 AM" src="https://user-images.githubusercontent.com/67837651/97113687-45

[2020-10-25 17:11] junlincc commented on #11419
@kkucharc 🙏

[2020-10-26 08:21] joehoeller commented on #11363
It does deploy correctly but once you check the logs, run:

kubectl get pods -A
kubectl describe pods -f <var> -n <var>
kubectl get logs -n <var>

You will see it actually fails silently. The commands you ran do not
demonstrate that you cannot reproduce this.

On Sun, Oct 25, 2020 at 11:40 AM Craig Rueda <notifications@github.com>
wrote:

[2020-10-26 09:23] kgabryje commented on #11404
I'll check it out

[2020-10-26 09:26] kgabryje commented on #11394
I'll check it out

[2020-10-26 11:58] kgabryje commented on #11388
I'll check it out

[2020-10-26 13:48] dpgaspar commented on #10788
Hi @JasonD28,

I wasn't able to replicate the problem, used a very simple trigger alert query `select 123456789123` and observed the following:

<img width="1171" alt="Screenshot 2020-10-26 at 13 45 57" src="https://user-images.githubusercontent.com/4025227/97180310-cbb0f200-1791-11eb-9eab-221a014b417f.png">

Looks good! This feature was subject to a recent refactor, can you please fetch the lates

[2020-10-26 13:48] aleksarias commented on #5483
Here's a reference link to SIP-51 #10408

[2020-10-26 14:24] avicenteg commented on #10471
There is any intention of fixing this?  I see that you're working in preset, so maybe you know something...

[2020-10-26 15:12] i4vijay commented on #11387
Hi All,

Need some help on the complete process of enabling email scheduling in Superset. I have enabled email feature in superset but facing difficulties in configuring celery and redis. I did searched in git hub and in stackoverflow but couldn't find the solution. Could someone share some light over here.

[2020-10-26 15:18] i4vijay opened #11425 "Email and Scheduling"
Hi All,

Need some help on the complete process of enabling email scheduling in Superset. I have enabled email feature in superset which is in a EC2 Ubuntu instance but facing difficulties in configuring celery and AWS SQS. I did searched in git hub and in stackoverflow but couldn't find the solution. Could someone share some light over here.

[2020-10-26 15:24] zuzana-vej opened #11426 "Line chart series limit doesn't show correct result on chart"
The Series Limit dropdown in Superset Explore allows to limit the number of series when there are too many. However, it looks like the specified limit is not accurate.
The query generated from the chart looks correct, and running the query in SQL Lab gives the expected result - if limit is 5 items, all 5 items are showing up there. So the problem seem to be with the chart.

### Expected results

S

[2020-10-26 15:40] joehoeller commented on #11387
@craig-rueda  are we supposed to provide our own configMap with config.py file?

[2020-10-26 15:50] craig-rueda commented on #11387
Yep, you'd need to create a new secret with your own keys in it, similar to this: https://github.com/apache/incubator-superset/blob/master/helm/superset/templates/secret-superset-config.yaml

You can then point the chart at it by using the prop: https://github.com/apache/incubator-superset/blob/master/helm/superset/values.yaml#L33

Lastly, here's the docs regarding email scheduling: https://supers

[2020-10-26 16:01] bzmatteo72 commented on #8048
I have the same issue with version 0.37.1
Please anyboby can provide help with this problem?
Thanks
Regards
Matteo

[2020-10-26 17:39] kgabryje commented on #11379
Can you assign me please?

[2020-10-26 17:57] junlincc commented on #11379
added to Trello and assigned to you~

[2020-10-26 18:26] junlincc commented on #11426
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/67837651/97212719-06a92a80-177e-11eb-87a4-908a9ab98028.gif)

Hey Zuzana, I just tested on latest master, it looks alright to me. would you mind confirming?

[2020-10-26 18:44] junlincc commented on #11426
![3](https://user-images.githubusercontent.com/67837651/97214616-9354e800-1780-11eb-8fc8-51ab8f7e487b.gif)

Zuzana, I just tested on latest master, and it looks alright. can you double check? thanks

[2020-10-26 18:45] zuzana-vej commented on #11426
Okay.. I will check again. Thanks!

[2020-10-26 20:12] willbarrett commented on #11380
Closing as the fix is merged.

[2020-10-26 20:33] #11292 closed

[2020-10-26 20:57] axhza opened #11431 "Superset 0.37.2 no longer works behind a load balancer"
Superset 0.37.2 no longer works behind a load balancer.

### Expected results

I expect load balancing functionality to work.

### Actual results

0.37.0: I had to disable CSRF protection to get superset to _barely_ work behind a load balancer.
0.37.2: It no longer works behind a load balancer at all.

#### Screenshots

The below screenshot is the web dev log when trying to access from the load ba

[2020-10-26 21:05] nytai commented on #11431
@axhza looks like the assets requests are 404ing, there's a lot that could be going on to cause this. Do those assets exist on the server? Are you serving a cached version of the page and it's requesting old assets?

[2020-10-26 21:07] axhza commented on #11431
Those specific assets do not exist, it leads me to believe that they were possibly built incorrectly?
[code]

Also, it's weird that going to superset directly works?

Caching is disabled via superset config.

[2020-10-26 21:16] nytai commented on #11431
Looks like you're somehow getting a cached version of the page (which is requesting assets that no longer exist on the server). If hitting gunicorn directly results in no error then the issue is likely with your load balancer config. Does a hard refresh solve it?

[2020-10-26 21:18] axhza commented on #11431
Nope, I wiped browser cache and tried in incognito. Am confirming that LB isn't caching, it may be...

[2020-10-26 21:27] nytai commented on #11431
Do you have multiple instances of superset running? Are they all running the same version and serving the same page?

[2020-10-26 21:27] axhza commented on #11431
Only a single instance.

[2020-10-26 22:05] villebro commented on #11431
@axhza the issue you are running into is what was blocking us from upgrading to the `19.9` version of `gunicorn`. My impression is that these problems were resolved long ago, and should be working without trouble in the `20.0.x` versions. Can you post your `pip list` here?

[2020-10-26 22:14] villebro commented on #11426
@zuzana-vej To help narrow this down, can you test this without time shift to make sure that's not causing trouble?

[2020-10-26 22:24] axhza commented on #11431
I don't believe it's related to `gunicorn` because `superset run` provides exact same error.

[2020-10-26 22:25] mistercrunch commented on #11431
Please share `pip freeze | grep -i gunicorn`

[2020-10-26 22:27] axhza commented on #11431
[code]

[2020-10-26 22:32] ktmud opened #11434 "Suggestion: disable caret changing directions in adhoc filters"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/97235350-e8542680-179f-11eb-94be-05ac8edd52a6.png" width="300">

## Description

Can we disable the behavior of changing caret directions on adhoc filter/metric popover open/close? It doesn't really add any real benefits in terms of UI clarity but is kind of distracting.

The recently added animation to the popover makes it

[2020-10-26 22:35] ktmud commented on #11434
cc @mistercrunch since you added this behavior in #10123 .

[2020-10-26 23:00] willbarrett commented on #10620
Closing as duplicate.

[2020-10-26 23:00] #10620 closed

[2020-10-26 23:04] willbarrett commented on #9892
-1 - we already have multiple frontend migrations in process and I don't think changing languages is prudent at this time.

[2020-10-26 23:04] willbarrett commented on #11328
Yup, go ahead and work on it!

[2020-10-26 23:07] willbarrett commented on #11384
Thanks for letting us know @graceguo-supercat - we'll take a look at this.

[2020-10-26 23:16] mistercrunch commented on #11384
Looks like the favorite/star (?)

[2020-10-26 23:19] willbarrett commented on #11384
Yup.

[2020-10-27 00:55] asu04 opened #11436 "[Echarts]Arbitrary expressions for rolling windows"
The rolling windows functionality for line charts is nice - but it'd be nice to either have more aggregation options (max, mins, percentiles), or be allowed to compute arbitrary expressions.

Ideally this just expands on the current list for rolling windows by aggregations types above, and also having an option for specifying custom expressions - this would let us generate more views and charts on

[2020-10-27 01:51] lke27 commented on #11088
Hi @junlincc, may I know any updates?

[2020-10-27 02:46] junlincc commented on #11088
I agree with you observation. This issue is in the backlog and prioritized. @villebro @kgabryje Ville, Kamil may reach out if he has any questions. Thank you both~🙏

[2020-10-27 03:15] prs1022 opened #11438 "条形图展示报错"
条形图的label值如果是yyyy-MM-dd格式，感觉会被认为是时间序列数据，如果此时ajust中不是stack会报错，这个不太能理解，为啥一定要堆叠咧。

[2020-10-27 03:37] junlincc commented on #11434
Using rotating caret when clicking on a Dropdown is quite common in design, i haven't seen many on Popover though. Different design systems also define popovers differently.  Mihir and I can do some more exploration since we will reorganize the control panel fields and see what makes the most sense.

[2020-10-27 03:40] junlincc commented on #11438
@prs1022 Hi, could you please fill out the issue template in English, thanks.

[2020-10-27 03:40] #11438 closed

[2020-10-27 04:23] mistercrunch commented on #11088
It does not look wrong to me. At least the the datapoint that you show in your screenshot looks right. `11.3k` could be rounded up from ~11251 (the number formatter does that)

[2020-10-27 04:27] mistercrunch commented on #11434
@ktmud I only fixed the icon display in #10123.

I don't feel like they add value either, I support removing them and I don't think we need to replace them with something else.

[2020-10-27 04:39] mistercrunch commented on #11436
The feature is based on pandas' `rolling` function https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

It should be easy to expand it to support more options. Here's where it sits in the codebase https://github.com/apache/incubator-superset/blob/master/superset/utils/pandas_postprocessing.py#L307-L315

[2020-10-27 04:48] #11411 closed

[2020-10-27 04:48] #11394 closed

[2020-10-27 04:53] #10471 closed

[2020-10-27 05:15] mistercrunch commented on #9880
My guess is that given that the build operation is super io-heavy and that virtualization, depending the platform you're on (say docker on windows, or docker-in-docker, or whatever) can make certain io operations sluggish, and really slow down the build process. Looks like the `node_modules/` folder contains a quarter million files (!)

[code]

[2020-10-27 05:40] mistercrunch commented on #11434
The more outrageous thing in this area is the label-within-a-rectangle rendering. We should just use our `<Label />` here and bring the `x` inside of it, get rid of the rectangle container.

[2020-10-27 07:01] yu-chun-yu opened #11440 "How do filter graphics do fuzzy queries"
How do filter graphics do fuzzy queries
 There is a requirement to select criteria that meet the rules through fuzzy queries
The other thing is that Phoenix + Hbase can't show the timestamp on top of it. How do you solve that

[2020-10-27 07:20] rafaelugolini commented on #9880
It would be good to have official docker images from the project that don't require you to compile. Any newcomer who wants to try superset has to do all this compilation process to run the project.

For anyone who wants to give it a try, here is a link to unofficial docker images:
- https://github.com/amancevice/docker-superset
- https://hub.docker.com/r/amancevice/superset/

[2020-10-27 07:48] germanblanco opened #11441 "SQL init sentences per session as part of the Sources->Databases configuration"
**Is your feature request related to a problem? Please describe.**
I have recently have the case of several queries originated in Superset running for around 45 hours in our database server. It seems to me that neither SQLLAB_ASYNC_TIME_LIMIT_SEC or the "STOP" button for asynchronous queries seem to be able to kill the query processing in the database server. I am using PostgreSQL (versions 9.6 an

[2020-10-27 08:58] bzmatteo72 opened #11442 "Apache Superset 0.37.1 : Manage Dashboard Email and Chart Email schedule do not appear"
Hello,

please I'm new to Superset, We have installe version 0.37.1 on Linux OS
I have followed all the instructions at the following doc page https://superset.apache.org/docs/installation/email-reports
to set up the email and schedule reports but the following views do not appear in Chrome browser:
Manage > Dashboard Emails
Manage > Chart Email Schedules

Please could abybody provide help to reso

[2020-10-27 09:12] ravijabe commented on #10433
Thanks for the advice sedhha, Had couple of busy days. finally I managed to prepare a docker installation. however I'm unable to get superset running. Appreciate if you can assist. following is the output when running 'docker compose up' for the first time.

[asyw@localhost Downloads]$ cd incubator-superset/
[asyw@localhost incubator-superset]$ sudo docker-compose up
[sudo] password for asyw:
Crea

[2020-10-27 09:27] sedhha commented on #10433
@ravijabe are you trying to install it on windows machine?

[2020-10-27 09:30] sedhha commented on #10433
Error happends because flask_manager could not find default db path for sqlite db. To fix this your need to change SQLALCHEMY_DATABASE_URI in caravel config.py

Go to your anaconda / python directory.
Open %python_path%\Lib\site-packages\caravel\config.py with text editor
Find row with SQLALCHEMY_DATABASE_URI connection string and change it according to your operation system / database setup. For

[2020-10-27 09:31] ravijabe commented on #10433
No. Oracle Linux 8.1

[2020-10-27 09:33] sedhha commented on #10433
@ravijabe ok....not sure how it works there but in that case you need to create config files to connect to your database.

Generally this issue is faced by windows users but in your case, not sure where sql database uri is to be searched for flask fabmanager.

Also kindly refer to this: https://github.com/apache/incubator-superset/issues/173

[2020-10-27 10:00] jfunez commented on #3972
Any update?

[2020-10-27 11:40] fedecere94 opened #11443 "Label_colors not work on Scatterplot"
I have a scatterplot chart in which I set the COLOR SCHEME to `D3 Category 10` and the CATEGORICAL COLOR is related to a column (named "ovt") that contains 2 possible values: "overtarget" and "non overtarget".
I set the variable **label_colors** in the JSON Metadata of my dashboard as following:
`"label_colors": {
    "overtarget": "red",
    "non overtarget": "green"
}`
The problem is that the sc

[2020-10-27 12:27] kkucharc commented on #11257
@zuzana-vej @junlincc Can you check if the problem still appears after fix?

[2020-10-27 15:37] kgabryje commented on #11329
@zuzana-vej I'm sorry, but I cannot reproduce it 🙁  Does anybody else still experience this issue?

[2020-10-27 16:04] junlincc commented on #11257
![gif111](https://user-images.githubusercontent.com/67837651/97328502-5138ae80-1833-11eb-814c-0b9fb83d64e9.gif)
tested, all good! Thank you, Kasia!! closing~

[2020-10-27 16:04] #11257 closed

[2020-10-27 16:13] etr2460 commented on #11266
@dpgaspar, @nytai: I can still repro this, even with Presto datasources. However, it looks like the ones that get filtered as Physical but are labeled as Virtual have custom sql added to them. Perhaps that needs to be part of the filtering logic too?

[2020-10-27 16:44] zuzana-vej commented on #11329
Yeah. No problem. I'll close this and if necessary reopen. Thanks for checking @kgabryje

[2020-10-27 16:44] #11329 closed

[2020-10-27 16:59] nytai commented on #11266
@etr2460 is the issue here that physical datasets are incorrectly labelled as virtual, or that the filter logic is not accounting for other instances/types of virtual datasets?

[2020-10-27 21:03] axhza commented on #11431
Closing this; cache was not properly disabled on the F5. Superset works just fine.

[2020-10-27 21:03] #11431 closed

[2020-10-27 22:46] ktmud opened #11448 "Refactor Cypress tests to make less page visits"
**Is your feature request related to a problem? Please describe.**

Currently the Cypress tests are slow because many of them make new page requests for each test case.

**Describe the solution you'd like**

A lot of those are not really necessary and can be eliminated by combining similar tests on the same page to run consecutively. We should also add a section in CONTRIBUTING to describe how to

[2020-10-27 23:25] etr2460 commented on #11266
I think it's the later. The datasets seem to be correctly labeled as Virtual, but they still show up when you filter to Physical only datasets

[2020-10-27 23:26] eschutho opened #11451 "Time Series Chart appears broken"
Time Series Chart is not displaying data.
This was tested with a dataset that has one column of type "TIMESTAMP WITHOUT TIMEZONE"
No data appears on the chart
The tooltip shows a value (count) of 134, but the y axis only goes from 0 to 1.
Time series bar chart works as expected (shown for comparison)

### Expected results

Data points should show on chart and y axis should be in range of values

#

[2020-10-28 01:41] nytai commented on #11266
ok, I see what the discrepancy is here. The label of "Physical" and "Virtual" is based on the presence of the `sql` attribute (see https://github.com/apache/incubator-superset/blob/155b5edec131d71eb392ee52f9bf97de495c2ef0/superset/connectors/base/models.py#L116). Meanwhile the filter for "Physical" and "Virtual" is based on the `is_sqllab_view` flag (see https://github.com/apache/incubator-superse

[2020-10-28 01:44] lke27 commented on #11088
So it is because the figures are rounded in superset? How can I change it to not being rounded? I can't find the where to modify it..

[2020-10-28 01:50] nytai commented on #11266
hmmm, looks like `is_sqllab_view` only exists for sqla datasources

[2020-10-28 01:57] ravijabe commented on #10433
Thanks sedhha for your help. Will investigate more to see if I can find a solution.

[2020-10-28 03:08] junlincc commented on #11088
@lke27 if you take a closer look at your first graph where both lines perfectly aligned, there are actually two sets of gridlines.

<img width="824" alt="Screen Shot 2020-10-27 at 7 55 23 PM" src="https://user-images.githubusercontent.com/67837651/97385190-6db60480-188e-11eb-96d5-c811ea84a9f3.png">

@betodealmeida had a PR couple years ago to align gridlines in multi-lines chart to create better v

[2020-10-28 03:41] mistercrunch commented on #11440
I reread multiple time and I don't understand the question.

[2020-10-28 03:51] ktmud commented on #11440
I think op meant to ask how to enable fuzzy filters (e.g. `name like 'Alex%'`) in FilterBox, which is not currently supported in Superset.

[2020-10-28 04:08] mistercrunch commented on #11442
Flip these config flags https://github.com/apache/incubator-superset/blob/master/superset/config.py#L764-L769

[2020-10-28 04:08] #11442 closed

[2020-10-28 09:01] bzmatteo72 commented on #11442
Thnaks for your hint but I have already done these changes to config.py but it doesn't work anyway
Please do not close this issue

[2020-10-28 11:16] larsmars commented on #10064
You are right, but the dropdown sorting feature on chart in superset should work regardless of this.
Code in parameters (edit chart, superset): `"filter_configs": [{"asc": true, `

[2020-10-28 11:44] qinzl1 commented on #11302
@zhaoyongjie
Probable cause
![image](https://user-images.githubusercontent.com/20242930/97431821-eb911300-1955-11eb-8248-81eb20e64698.png)

[2020-10-28 12:45] mbachtell opened #11454 "SSL Connection with Elasticsearch - Self signed certificate issue"
Trying to connect to cloud hosted (IBM) elasticsearch which has a self signed certificate issued for the service.  Have tried the solution suggested at https://github.com/apache/incubator-superset/issues/8709 but that is not working.  Docker logs all circle back to `urllib3.exceptions.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain

[2020-10-28 18:03] irwvanroosmalen opened #11461 "Multi-line chart with uniform Y-scale"
Currently when using a multi-line chart it can be hard to understand the relative scales of the lines I'm viewing. What I would like is the possibility to make the y-scale uniform for both lines (which is essentially the same as just having a single y-axis), and with that to be able to set the base of the scale to 0 or some other value for optimal viewability.

The alternative is for me to create

[2020-10-28 18:03] kkucharc commented on #11331
I think this is known issue of Ace Editor which is used here:
https://github.com/ajaxorg/ace/issues/4142
Even it appears when I try put ✨ in their demo:
https://ace.c9.io/
I tried check the newest version of `react-ace` but it didn't help. I suggest to wait for a fix in the library.

[2020-10-28 18:16] earwig opened #11462 "Error when adding a SQLite DB does not include message"
The error when adding a SQLite DB shows "Connection failed. [object Object]" instead of the real error message.

### Expected results

I see the real error message: "SQLite database cannot be used as a data source for security reasons."

### Actual results

I see "ERROR: Connection failed. [object Object]".

#### Screenshots

<img width="628" alt="superset-error-message" src="https://user-images.g

[2020-10-28 18:20] betodealmeida commented on #11088
To add to @junlincc's comment, chart #3 when the grids don't align would look much uglier. Here's an example from before we implemented #2:

<img width="1680" alt="38711855-0e6be488-3e7d-11e8-8d42-ee86645a9e1e" src="https://user-images.githubusercontent.com/1534870/97479380-6551de00-190f-11eb-8bac-fca7cd98fa2d.png">

It's basically a problem of choosing 2 out of 3:

1. Series align
2. Grids align

[2020-10-28 18:22] #11434 closed

[2020-10-28 19:25] RicksterD17 commented on #7381
Yes, this did it for me.  Thanks!!!

[2020-10-28 19:37] irwvanroosmalen opened #11465 "Multi-line chart updates based on the previous, not the current query"
I have a multi-line chart based on two different datasources. On first load the chart displays. If I change the date range to a week and run a query -> result gives me the original date range. Then I change the date range to 2 weeks -> result gives me a week. Now if I change the range to day -> result gives me 2 weeks. So essentially the chart displays based on the previous query, not the current.

[2020-10-28 19:41] nytai commented on #11465
I'm pretty sure this was fixed by https://github.com/apache-superset/superset-ui/pull/782

should go out in the upcoming release

[2020-10-28 19:43] dylanz opened #11466 "Querying across multiple sources with postgres_fdw in SQL Lab"
Hello!

We use the `postgres_fdw` extension in Postgres to help share data while segregating customer schema's.  Is it possible in SQL Lab to reference multiple sources?  As far as I can tell I have to have a "Database" selected and I don't seem to be able to get any queries looking outside of that scope.

Any info welcome!

Dylan

[2020-10-28 19:51] irwvanroosmalen commented on #11465
@nytai you're right, thanks! When do you expect this to go out?

[2020-10-28 20:04] #11465 closed

[2020-10-28 21:46] nytai commented on #11465
0.38 is currently in RC stage, so should be out in the next couple of weeks.

[2020-10-28 22:03] junlincc commented on #11434
disabled the rotating. will work on the styling along with other control panel improvements in 1.0.

[2020-10-28 22:09] eugeniamz commented on #10098
I see the same issue with Vertica DB. It does not show the option but if you choose the second one you have a TRUE but the first is empty. I work around by going to CUSTOM SQL but this should be resolved.
![2020-10-28_18-07-06 (1)](https://user-images.githubusercontent.com/58375897/97501996-a4e8ec00-1948-11eb-9367-aa4c0fd33032.gif)

[2020-10-28 22:38] ktmud opened #11468 ""Add to Dashboard" in Save Chart modal should not be a required field"
## Screenshot

![image](https://user-images.githubusercontent.com/335541/97504065-6f85d380-1933-11eb-8fa9-abed39b5dd93.png)

## Description

There's an asterisk indicating "Add to Dashboard" is a required field, when it's actually not.

## Design input

N/A

[2020-10-28 23:04] zuzana-vej commented on #10655
I am going to close this because looks like https://github.com/apache/incubator-superset/pull/10834 resolved the issue. Thanks @eschutho!

[2020-10-28 23:04] #10655 closed

[2020-10-28 23:47] rubypollev opened #11470 "Surface slice ID"
**Is your feature request related to a problem? Please describe.**
Difficult to identify slice ID. Needed for filtering audit log by slice ID. Strange to have a filtering option for data not surfaced readily to the user. Right now it's buried in the URL.

**Describe the solution you'd like**
Slice ID somewhere useful: hamburger dropdown, properties, etc.

**Describe alternatives you've considered*

[2020-10-29 00:10] graceguo-supercat opened #11471 "[dashboard tab] cursor shape"
## Screenshot

![Untitled-2](https://user-images.githubusercontent.com/27990562/97509394-64d13b80-193f-11eb-8134-69dcbfe46a50.jpg)

## Description
When mouse-over a dashboard tab, currently it is showing `move` shape. This change was introduced by #10936.

`move` shape should only shown when dashboard in edit mode, when user can drag and re-order tab.
In dashboard view mode it should always be a `

[2020-10-29 00:32] ktmud opened #11472 "Draggable area too small for chart resizing in dashboard edit mode"
### Expected results

Drag to resize while editting dashboards should be easy and pleasant to use.

### Actual results

Drag to resize charts in Dashboard edit mode has always been funky since there's no resize indicator and the draggable area is quite unpredictable.

For example, when a chart is the tallest in the row, only Area **c** (the little rectangle below the row) is draggable.

<img src="

[2020-10-29 02:06] zuzana-vej commented on #11377
Just verified, this looks fixed, thank you!
<img width="600" alt="Screen Shot 2020-10-28 at 7 06 02 PM" src="https://user-images.githubusercontent.com/61221714/97516578-a3232680-1950-11eb-89d9-d62b97e24fc6.png">

[2020-10-29 02:06] #11377 closed

[2020-10-29 02:11] zuzana-vej commented on #11331
Thanks @kkucharc, closing this bug.

[2020-10-29 02:11] #11331 closed

[2020-10-29 02:12] JTLai commented on #2442
+1

[2020-10-29 02:15] zuzana-vej opened #11475 "Follow up on ace library fix to fix Markdown with Emoji issue"
As per conclusion in this bug https://github.com/apache/incubator-superset/issues/11331 this enhancement request is just a reminder to wait for a fix in the Ace Editor and validate it fully fixes the bug with Shifting cursor (forward) when editing Markdown with emoji.

[2020-10-29 02:33] nytai commented on #11475
Have we opened an issue with https://github.com/ajaxorg/ace?

[2020-10-29 02:33] appleyuchi commented on #10927
The Chrome is in Linux Desktop
Ubuntu Linux 20.04

The effect is in:
http://49.235.108.13:5000/superset/dashboard/2/

it's deployed in single node,so it's slow,
wait for 25 seconds please

[2020-10-29 02:34] str028 commented on #6798
can you tell me exactly how did you resolve this ? Thanks

[2020-10-29 02:55] zuzana-vej commented on #11426
Yes I tested both with / without time series.And both have issue. Just tested on latest master now.

Here is an example of limit to 5 series:
<img width="809" alt="Screen Shot 2020-10-28 at 7 53 04 PM" src="https://user-images.githubusercontent.com/61221714/97519943-660e6280-1957-11eb-9405-f4a5b5ef3957.png">

Here is the same chart without the limit:
<img width="809" alt="Screen Shot 2020-10-28 at

[2020-10-29 03:21] zuzana-vej opened #11477 "Edit dashboard metadata now throws Dashboard collision warning on save"
Currently after the recent fix to editing dashboard metadata and feature to prevent dashboard edit colisions, when you edit dashboard properties, even though the edits get saved, on the 2nd save on dashboard, user gets warning that "dashboard has been changed, please reload the page". Upon reloading the page, the changes are actually propagated, but this warning is confusing to the user.

I know t

[2020-10-29 03:41] zuzana-vej opened #11478 "Editing Datasource edits the name globally for all charts, not locally for the given chart"
Currently when user edits datasource name of the **Edit Dataset** modal on Chart Explore, it looks like this change is saved globally for all charts / the original datasource gets renamed.

When user edits chart using Change Dataset option on Chart Explore, it only changes dataset locally for the chart.

### Expected results

Is this behavior expected? Changing the dataset globally for all charts

[2020-10-29 03:48] zuzana-vej commented on #11478
Opened this as a potential BUG / Discussion point. If this really is intended behavior - it is quite problematic if you have many users, and we might need to look into some other options how to prevent users from breaking other people's charts.

[2020-10-29 04:02] zuzana-vej commented on #11475
I haven't. @kkucharc have you / if not could you please open one since you discovered issue is with that?

[2020-10-29 04:19] bryanck opened #11479 "New pie chart layout in 0.38 causes overlap and text truncation"
## Screenshot

Here's a pie chart in 0.37.2:
![Screen Shot 2020-10-28 at 9 04 58 PM](https://user-images.githubusercontent.com/5475421/97524882-da9ace80-1962-11eb-9184-8ce356961872.png)

Here is the same chart in 0.38:
![Screen Shot 2020-10-28 at 9 04 41 PM](https://user-images.githubusercontent.com/5475421/97524901-e2f30980-1962-11eb-818b-f571509f9fc0.png)

## Description

The new pie chart layou

[2020-10-29 04:31] junlincc commented on #11479
<img width="1187" alt="Screen Shot 2020-10-28 at 9 27 37 PM" src="https://user-images.githubusercontent.com/67837651/97525610-6fea9280-1964-11eb-939b-7ccee00ce0c5.png">

A recent PR should have fixed it, I just tested on latest master and still seeing this overlap issue.
@villebro I am gonna assign this to Kasia, so her team can slowly take over fixing the cosmetic issues on charts. @kkucharc plea

[2020-10-29 04:53] junlincc commented on #11478
problematic indeed... I am seeing the same errors. 😢 @lilykuang please prioritize it.
When user changes dataset of one chart in Explore, it should only affect the local chart. Also, i agree that being able to change a dataset in **Edit Dataset** modal seems to be a confusing/unnecessary feature while user can actually complete the task by going to **Change Dataset**.

[2020-10-29 05:09] mistercrunch commented on #11478
Wait. This is totally the expected behavior, it's the "Dataset Editor" and there's not one but two alert/warnings clarifying this.

<img width="607" alt="Screen Shot 2020-10-28 at 10 08 09 PM" src="https://user-images.githubusercontent.com/487433/97528055-16856200-196a-11eb-876a-6b21d4e5f36b.png">
<img width="893" alt="Screen Shot 2020-10-28 at 10 08 02 PM" src="https://user-images.githubuserconte

[2020-10-29 05:13] junlincc commented on #11477
@graceguo-supercat

we should definitely revisit the saving flow early next year!

[2020-10-29 05:16] mistercrunch commented on #11475
Did we check that we're on the latest Ace, sometimes bumping to latest version addresses little bugs like this one.

[2020-10-29 05:17] nytai commented on #11475
@mistercrunch yes, it appears it's broken in their demo too (as per https://github.com/apache/incubator-superset/issues/11331)

[2020-10-29 05:21] nytai commented on #11478
We actually have an endpoint that responds with how many objects a dataset is connected to, used on the datasets page.

I think the question here is really, should we remove this modal from the explore page and instead redirect to the datasets page?

[2020-10-29 05:23] mistercrunch commented on #11475
Gotcha. I just looked and our `react-ace` is super behind though. It moved from being based on `brace` to something new `ace-builds`.

[2020-10-29 05:24] junlincc commented on #11475
@kkucharc asked in Ace editor issue about any news in that. Upgrading react-ace to 9.2.0 didn’t help.

added Markdown component to roadmap inbox
https://github.com/apache-superset/superset-roadmap/projects/1

[2020-10-29 05:30] mistercrunch commented on #11479
This seems like an echarts issue. Personally I'm not big on using the interactive(toggle) legend on a pie chart, why toggle things here? I feel like we should disable the legend by default, labels + tooltips are a lot more useful.

[2020-10-29 05:31] junlincc commented on #11478
I agree @nytai, allowing to user configure the underlying dataset while user is working on a specific chart in Explore does not make sense to me. This action should happens in **Datasets**. we should either remove this change dataset feature in **Edit Dataset**, or remove this modal from explore page entirely.

[2020-10-29 05:32] mistercrunch commented on #11479
Unless there's an easy option in echarts as something like `dontOverlapLegend: true`, I wouldn't spend time on this.

[2020-10-29 05:34] mistercrunch commented on #11478
This shortcut is super useful, you can add new metrics and calculated dimensions without loosing context.

[2020-10-29 05:44] junlincc commented on #11478
We should have a clear definition of each module(Data, Explore, Dashboard, SQL lab)'s primary purposes. Shortcuts are great, but they don't necessarily live on the same page. as long as we have clear redirection between modules, the user should stay in the context without getting confused.

The problem i have been seeing in Superset is that user have multiple entry points to complete one task, in

[2020-10-29 05:54] mistercrunch commented on #11478
I strongly suggest that we keep this modal until we create a better flow between Datasets and Explore

[2020-10-29 05:58] junlincc commented on #11479
https://echarts.apache.org/examples/en/editor.html?c=pie-legend

in one of Echarts Pie example, they have legend listed on the right side, user can click through the pages if there are too many slices. I think that's a decent solution.
<img width="937" alt="Screen Shot 2020-10-28 at 10 53 36 PM" src="https://user-images.githubusercontent.com/67837651/97531125-c1008380-1970-11eb-815f-04102441c9d3.p

[2020-10-29 06:00] mistercrunch commented on #11426
I'd be curious to see the generated SQL here

[2020-10-29 06:06] junlincc commented on #11478
sounds good, that's a well defined problem to solve - create a better flow between Datasets and Explore

[2020-10-29 06:09] mistercrunch commented on #11479
Oh nice! This looks but better. I still would recommend to not show the legend by default. It breaks down quickly as the color palette cycles. In the example above, there's no good way to map the dark red from the legend to the right slice in the pie. You have to map them by either toggling or looking up the label, which defeats the purpose.

[2020-10-29 06:13] mistercrunch commented on #10098
Maybe we need conditional operators based on data type. `BOOLEAN` should only offer `IS NULL` `IS TRUE` and  `IS FALSE`

[2020-10-29 06:18] villebro commented on #11479
The legend overlapping problem is a known issue in the current ECharts version, so the scrollable legend is probably a good option for now. Perhaps even introduce an option for legend orientation. However, I agree that once legend overlapping becomes a real problem, the real reason is probably too many

Many of the stylistic problems in the picture here are actually fixed in the version that is cu

[2020-10-29 06:19] mistercrunch commented on #11478
In the meantime, we know for sure that regardless of the point of entry (explore or dataset), listing the affected charts on save bellow that alert/warning would be helpful and hard really really hard to disregard/misunderstand.

[2020-10-29 06:23] junlincc commented on #11478
that's helpful. what about dataset changes affecting other people charts? setting permission maybe?

[2020-10-29 06:28] mistercrunch commented on #11478
Things that can break charts:
- pointing to another table or schema
- changing or deleting a metric definition
- changing or deleting a calculated dimension
- altering the SQL
- changing settings (this shouldn't break a chart)

[2020-10-29 06:51] junlincc commented on #11368
any idea which PR caused it? i dont recall anyone touched this area lately.

[2020-10-29 07:35] #11471 closed

[2020-10-29 08:56] kkucharc commented on #11475
I asked in this issue about any news in the topic: https://github.com/ajaxorg/ace/issues/4142

[2020-10-29 09:15] kensinxie commented on #10769
I also got the same problem on my centOS

[2020-10-29 13:08] willbarrett commented on #11478
For clarity, this task is not yet actionable. @lilykuang please do not work on this until we achieve clarity.

[2020-10-29 14:23] bryanck commented on #11479
I wasn't able to get the latest to work with the 0.38 backend, I was getting `Request is incorrect: {'queries': {0: {'annotation_layers': ['Unknown field.'], 'url_params': ['Unknown field.'], 'applied_time_extras': ['Unknown field.']}}}` errors. So it seem there was an API change I'd also need to update.

I did test master, and it looks like it resolves the issues I'm seeing with the label zoom/tr

[2020-10-29 14:25] bryanck commented on #11479
IMO the 0.15.11 echart update and related API change should be merged to 0.38

[2020-10-29 15:53] zuzana-vej commented on #11478
We think that the editing metric, calculated columns, etc. isn't THAT problematic. Once in a while, someone deletes some metric and someone else's charts break, but this is really rare. What we think is problematic is specifically the change dataset - the 1st tab - the fact that you can **change the table that backs a dataset**. For physical datasets this is a very rare scenario, that for example

[2020-10-29 16:02] ovidiu-dancila opened #11486 "Unable to select the proper table name for Hive Database inside SQL Editor"
I created a Hive database and I tried to use the SQL Editor to run some queries. The queries are working perfectly, but when I try to select a table from the drop-down list on the left side to see the table schema, the options shown are not the actual table names but the schema name (database name) multiple times.
Furthermore, If I select one of the tables with the wrong name from the drop-down li

[2020-10-29 16:03] zuzana-vej commented on #11426
@mistercrunch SQL looks correct (limit is set up) and taking that SQL and running it in SQL Lab gives the intended result (e.g. there are the 5 unique items if limit is set to 5).
We will look into it a bit more to troubleshoot.

[2020-10-29 16:20] #11486 closed

[2020-10-29 16:22] ovidiu-dancila commented on #11486
I just noticed that this issue is defined here: #11486
Sorry, I didn't see this issue on my first search.

[2020-10-29 17:26] durchgedreht opened #11488 "Embed Tabs inside Rows and Columns"
Then dealing with multiple tabs I sometimes need to have the same filter for all charts. Thus it would be great for the user to have the FilterBox sticky beside the tabs (you can just put it inside a single tab, above or below).

The solution from a user persepctive would be either:

1. Embed the complete filterbox in a single table element
2. Make a single Row/Column available (left or right) fro

[2020-10-29 17:36] durchgedreht opened #11489 "Filtering per Time Column doesn't work without hack"
I have a table chart with 5min granularity and I'm not able to filter per time column. Only Datetime column available is "delivery_date".

First strange behaviour is I can add the "Date" Column, but it automatically assigns a count() aggregate:

<img width="511" alt="Screen Shot 2020-10-29 at 18 27 52" src="https://user-images.githubusercontent.com/4490840/97610265-f068cc00-1a14-11eb-8393-24f38004

[2020-10-29 17:51] ktmud opened #11490 "Anyone can now edit anyone's chart"
A clear and concise description of what the bug is.

### Expected results

Users should only be able to edit charts they created or own.

### Actual results

When you try to edit chart properties for a chart that you don't own, there is an error message:

<img src="https://user-images.githubusercontent.com/335541/97610097-ae6a6680-19d1-11eb-9518-c25dfc42decf.png" width="500">

But when you save an

[2020-10-29 18:14] graceguo-supercat opened #11492 "[Filter Box] date range filter is still misaligned in explore view"
## Screenshot

<img width="1297" alt="Screen Shot 2020-10-29 at 10 11 58 AM" src="https://user-images.githubusercontent.com/27990562/97613161-93015a80-19d5-11eb-9e69-a45c84f143ca.png">

## Description

Recently time-range filter UI was fixed in dashboard (Thanks!), but somehow still mis-aligned in explore view.

[2020-10-29 18:39] junlincc commented on #11088
@lke27 instead of further investing in this NVD3 chart, we decided to migrate to Echarts multi-y axis chart.  you should expect the new chart coming in the near future.

https://echarts.apache.org/examples/en/

closing issue for now.

[2020-10-29 18:39] #11088 closed

[2020-10-29 18:52] villebro commented on #11479
@bryanck the reason you're getting that error is you also need to pull in #11393 . There are some unrelated changes to `superset-ui/core` that were pulled in due to how plugin dependencies are setup. That PR also bumps the plugin dependencies, so picking that cherry should fix your problem.

Ok, the animation was removed as it was deemed unnecessary. We can probably add it back in as an optional f

[2020-10-29 20:11] #11266 closed

[2020-10-29 20:12] nytai commented on #11266
@etr2460 can you confirm this was fixed by #11452 when you get a chance?

[2020-10-29 20:17] zuzana-vej opened #11495 "Query results disappear (only headers remain) after switching tabs in SQL Lab"
When you switch tabs in SQL Lab and switch back to a tab which had a query you previously ran, instead of seeing the past query results (or a button to refetch results) you just see the headers - column names.
When user force refreshes the page, the results load - without the query being run again (as expected) --> this should happen right away when switching tabs.

### Expected results

See previ

[2020-10-29 20:59] ktmud commented on #11490
Could be #11335

cc @nytai @lilykuang

[2020-10-29 21:08] nytai commented on #11490
It certainly could be due to that, superset's permissions can be really confusing. I'm not sure how this would result in the button no longer being greyed out as that's a frontend change (I would think). @ktmud do you know around when (or which commit) had the behavior with the greyed out/disabled option?

[2020-10-29 21:22] junlincc commented on #11304
@kkucharc tested on latest master, still not working properly.
resizing works at the dashboard level, but not tab level.
![testmarkdown](https://user-images.githubusercontent.com/67837651/97633964-29dc1000-19f2-11eb-81c2-f0230abb1143.gif)

[2020-10-29 21:28] rusackas commented on #11472
I think the mystery pixel(s) around the charts are my fault... I'll try to address it one way or another.

Story goes:
• We wanted charts to show a nice blue border as a highlight when a scoped filter is in focus. Easy, right?
• If you just _add_ the border with the highlight class, the box model changes, so the chart width/height changes, and stuff redraws. Ouch.
• So I added a `transparent` bord

[2020-10-29 21:43] graceguo-supercat commented on #11490
frontend logic depends on the can_edit flag passed in bootstrap data.

[2020-10-29 21:44] graceguo-supercat commented on #11490
this is a very dangerous bug, right now everyone can accidentally overwrite chart that has no overwrite permission.

[2020-10-29 21:57] zuzana-vej commented on #11304
Agreed. I tested this yesterday too. This is some corner case which isn't fixed yet.

[2020-10-29 22:18] willbarrett commented on #11490
Fixed via revert.

[2020-10-29 22:18] #11490 closed

[2020-10-29 22:31] junlincc commented on #11492
yup saw it this morning too.. will get it fixed

[2020-10-29 22:43] tonyphong commented on #6472
+1

[2020-10-30 00:04] bkyryliuk commented on #11478
Sounds like there is a small action item / task here is to surface the impact of the potential changes that could be as simple as # of charts associated with the change & probably the link to the crud view with the search query.

[2020-10-30 03:28] binbin135013 commented on #10769
can not login with admin/admin
the latest master branch,docker-compose

[2020-10-30 04:16] nytai commented on #10769
What's the output/logs of the `superset_init` container? That container should be running the initialize process, including creating the admin user. If it fails then no user will be created

[2020-10-30 04:45] wangliguokaka commented on #11320
how to remove the windows style line ending? which files should be modified? thank you

[2020-10-30 05:09] jaimee07 commented on #7794
Hi guys, any workaround for this? I dont want the flashing of charts whenever it refreshes too.

Thanks.

[2020-10-30 06:06] ktmud commented on #7794
It depends on the chart. Some charts are more well-written and can update without re-render the whole chart, some cannot.

[2020-10-30 09:45] Bloomberg-zhong commented on #11171
same quantity, what should I do to fix it?

[2020-10-30 09:56] benceorlai commented on #11478
Recently, I have spent a lot of time in this very area, and my opinion is that 1) it is indeed a potentially unintuitive experience, however, 2) it is consistent as is, and after a bit of a learning curve it gets the job done. Any change to the current behavior would be arbitrary, and just as confusing for users who seek the other type of behavior, so it would only shift the problem, and not solve

[2020-10-30 12:13] dpgaspar commented on #11454
Hi,

test it with: `elasticsearch+http://<ES_HOST>:9200/?verify_certs=False`

For more connection parameters checkout:
https://elasticsearch-py.readthedocs.io/en/master/transports.html#requestshttpconnection

[2020-10-30 12:30] mbachtell commented on #11454
Thank you!  That was the missing piece.

[2020-10-30 12:30] #11454 closed

[2020-10-30 12:53] #11409 closed

[2020-10-30 12:59] always-busy commented on #9743
thranks, my logs show the right time now

[2020-10-30 13:44] always-busy commented on #9743
but i have another problem, the dttm field of log table never change

[2020-10-30 14:42] junlincc commented on #11479
closing this issue @villebro will include the fix in next release.

[2020-10-30 14:42] #11479 closed

[2020-10-30 14:55] junlincc commented on #11488
Right now, filters are at the dashboard level despite the number of layers of tab in the dashboard. Meaning changing filter values in the filter box and chart filtering action could happen on different pages, which creates confusion for the dashboard consumer. The UX certainly has room for improvement.
We will be implementing dashboard native filter soon and may not further invest in the current f

[2020-10-30 14:55] kkucharc commented on #11304
Hi, thanks for testing and letting me know. This is interesting, because on latest master I was able to resize it:

![Large GIF (640x356)](https://user-images.githubusercontent.com/2536609/97720081-2024dc00-1ac8-11eb-8e72-b317c9522fcf.gif)

Or maybe I miss some steps:
1. I go to dashboards
2. Add markdown and resize to max
3. Add tabs
4. Move markdown to tabs
3. Resize markdown

Can you tell me wh

[2020-10-30 15:01] kgabryje commented on #11304
@junlincc @zuzana-vej That's strange, I just tested in on the latest master and resizing does work in a tab. Though contrary to the description, Markdown isn't full width by default (though if I resize it to full width, further resizing still works)
![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/15073128/97720898-18b20280-1ac9-11eb-80a6-a8b730b0174d.gif)
.

[2020-10-30 15:22] gamebusterz commented on #11171
@Bloomberg-zhong
Adding `docker-compose down` before the worked for me.

[code]

[2020-10-30 15:43] zuzana-vej commented on #11478
I agree that the behavior is consistent across the entire modal - and there should be a consistency.

We are just trying to surface that is is an issue for larger organizations. It is not a problem if you are the only person who owns charts using specific datasource, or if you don't have production dashboards shared across. As soon as you deploy Superset for a larger group of people where they sha

[2020-10-30 15:54] #11451 closed

[2020-10-30 18:26] bkyryliuk commented on #11478
Yes, same risks & challenges @ dropbox

[2020-10-30 19:22] kiwimic opened #11505 "https://apache-superset.readthedocs.io/en/0.36/admintutorial.html docs have broken links to images"
Hey,

I was taking first steps with apache superset, and was going to try tutorial on https://apache-superset.readthedocs.io/en/0.36/admintutorial.html but right now all images are not visible (links are broken, 'sorry this page does not exists') for example: https://apache-superset.readthedocs.io/en/0.36/_static/images/tutorial/tutorial_03_database_name.png

### Expected results

I would like to

[2020-10-30 20:01] DRavikanth commented on #11235
I agree with this. Documentation is very poor and no clear instructions on how to set things up for production environments. I am trying to make Superset work with email scheduling including Celery and it's been 3 days and my struggle continues. I am making progress but I have to debug each and every minute detail. I am very disappointed with not even finding an official architectural image in the

[2020-10-30 20:06] betodealmeida commented on #11167
@Amanjainnn we do, in the Settings menu:

![Uploading Screen Shot 2020-10-30 at 1.06.15 PM.png…]()

[2020-10-31 00:08] DRavikanth opened #11507 "Help needed in setting up dashboard emailing for Superset"
Superset Version: 0.37.2
GeckoDriver: 0.26
Firefox: 68.12
Celery: 4.4.7(cliffs)

All the deployments are made in Kubernetes using docker image and helm charts.

Superset is setup correctly. Celery also works fine. Configured a Datasource to query in Async fashion and observed Celery picking up the queries and executing. Results also rendered to Superset

Problem:
Having issues configuring emailing

[2020-10-31 03:00] jvanulden opened #11508 "docker-compose install fails"
When I install on Mac using docker compose the images don't load and the default dashboard is not displayed.

### Expected results

Default dashboard with sample data is displayed

### Actual results

No default dashboard and 404 errors to images reported in Javascript console.

#### Stacktrace

superset_app             | INFO:werkzeug:172.18.0.1 - - [31/Oct/2020 02:56:26] "GET /superset/welcome H

[2020-10-31 06:26] graceguo-supercat commented on #11478
Based on our discussion in meetup, we had a few ideas:
- show all charts that used same datasource
- `Source` tab: by default is `read-only` (view mode). We will show a button or link say "Edit Dataset" to enable the Edit mode, then user can switch dataset for all the charts that used current dataset.

Could we implement above ideas?

[2020-10-31 15:09] mikeprior12345 commented on #11451
Hi, I also see this issue. Just wondered if there is a workaround/fix?

[2020-10-31 17:07] villebro commented on #11451
This is already fixed on master by #11393 (the fix was done by bumping the ECharts viz plugin module).

[2020-10-31 17:09] VMois commented on #11235
From my side, I managed it with some struggle. Use Redis, do not try filesystem as a backend. This is the article I was using - https://medium.com/@nileshxbhosale/apache-superset-a-cost-effective-alternative-to-quick-sight-for-data-lake-668868fe51c7 (+ docs).

[2020-10-31 22:16] GonzaloGit2020 opened #11513 "Connect to Google Sheets - SSL: CERTIFICATE_VERIFY_FAILED"
i try to connect and query a Google Sheets, i am using gsheetdb, i have followed the steps from this link: https://superset.apache.org/docs/databases/google-sheets

But i am getting some issues. Could you help me to know why i can't connect to Google Sheet?

### Expected results

Connect and get the information from Google Sheets

### Actual results

I get the next error message:

gsheets error: H

[2020-10-31 23:30] zuzana-vej commented on #11426
looks like a sort issue rather than time series, closing this off.

[2020-10-31 23:30] #11426 closed

[2020-11-01 12:06] Amanjainnn commented on #11167
Thanks @betodealmeida but I'm looking for an api and not a UI feature.
I tried /superset/import_dashbaords but it is not authorizing with bearer token.

[2020-11-01 12:25] zzfjean commented on #6472
+1 this would be super useful

[2020-11-01 17:45] mistercrunch commented on #11478
At the meetup, we clarified that:
- landing on `Source` tab is confusing, since the user is likely to want to edit metrics or calculated dimensions
- `Source` tab is "most descriptive" of the dataset, what it is and where it's pointing to
- spoke about maybe point to a different default Tab selected (say metrics)
- Disabling the content of `Source` tab, showing may a lock icon that can be unlocked

[2020-11-01 22:46] ktmud opened #11520 "Inconsistent Behavior for CRUD view modals"
## Screenshot

![dashboard-modal](https://user-images.githubusercontent.com/335541/97817105-22fe0900-1c4f-11eb-84f8-d41b03dd16b0.gif)

## Description

In the new React-based Dashboard & Chart CRUD view. The edit modal has animation on both opening and closing, but the edit modal has only opening animation.

Also, I think we should probably consider linking the edit button to opening `<dashboard_ur

[2020-11-02 04:13] lke27 commented on #11088
Understood. We have then decided not using dual axis line chart until the new chart come up.. thanks for all of your detailed explanation.

[2020-11-02 06:34] graceguo-supercat commented on #11478
Thanks for @mistercrunch better summary. So what is next step? Because current behavior is confusing and risky, hope to see this issue get fixed ASAP.

[2020-11-02 08:09] ktmud commented on #11520
Cc @nytai

[2020-11-02 09:09] kgabryje commented on #11492
Hi! PR https://github.com/apache/incubator-superset/pull/11487 will fix it.

[2020-11-02 09:21] graceguo-supercat opened #11523 "[CRUD VIEW] thumbnail not enabled"
When I enable `ENABLE_REACT_CRUD_VIEWS` but not enable `THUMBNAILS`, dashboard (or chart) list will look like this:
<img width="1246" alt="Screen Shot 2020-11-02 at 1 10 15 AM" src="https://user-images.githubusercontent.com/27990562/97850285-aac43180-1ca8-11eb-809a-a15ed64c965d.png">

### Expected results

For data security reasons, many companies may not want to show thumbnails for charts/dashboa

[2020-11-02 09:23] luoxiao123 commented on #10997
i hava the same issue

[2020-11-02 09:37] ronozoro opened #11524 "can't login via iframe in chrome (working with firefox)"
A clear and concise description of what the bug is.

Added iframe to my application to login with iframe

what you expected to happen.

the login should be process and move to welcome dashboard page (Working with Firefox)

what actually happens.

nothing. sames like the submit request is not reaching the server from the iframe

If applicable, add screenshots to help explain your problem.
None

###

[2020-11-02 11:18] benceorlai commented on #11478
I have created a [new epic](https://github.com/apache-superset/superset-roadmap/issues/64) in the roadmap. I will have Design create some UI mocks so that we can visualize a possible solution

[2020-11-02 11:44] dpgaspar commented on #11513
It seems strange the your superset server is not recognising google's certificate. Are you running locally? If yes take a look at: https://stackoverflow.com/questions/42098126/mac-osx-python-ssl-sslerror-ssl-certificate-verify-failed-certificate-verify

[2020-11-02 11:48] dpgaspar commented on #11508
Hi @jvanulden,

Please post the logs from the `init` procedure, use `docker logs superset_init`

[2020-11-02 13:58] kgabryje commented on #11404
@junlincc It's been fixed by https://github.com/apache/incubator-superset/pull/11428, I think we can close this issue

[2020-11-02 15:00] dpgaspar commented on #10788
Going to close this issue, feel free to reopen if your still experiencing this problem

[2020-11-02 15:00] #10788 closed

[2020-11-02 15:56] avicenteg commented on #9616
Hello @klazaj,
Do you finally get the sending of any email?
I saw that you had many problems, as I am, but currently, after follow your issues I'm getting:
` selenium.common.exceptions.WebDriverException: Message: Reached error page: about:neterror?e=connectionFailure&u=http%3A//127.0.0.1%3A8088/login/&c=UTF-8&f=regular&d=Firefox%20can%E2%80%99t%20establish%20a%20connection%20to%20the%20server%20a

[2020-11-02 16:44] junlincc commented on #11523
@benceorlai

[2020-11-02 16:56] zuzana-vej commented on #11404
Yes it's fixed. thank you

[2020-11-02 16:56] #11404 closed

[2020-11-02 17:09] zuzana-vej commented on #11478
Thanks for the notes @mistercrunch , @benceorlai , @graceguo-supercat .

Based on @mistercrunch summary above:

.. can we agree to move Source tab before (or after) settings right now?
![Screen Shot 2020-11-02 at 9 05 18 AM](https://user-images.githubusercontent.com/61221714/97897101-dc5dec80-1cea-11eb-8d75-f6d634f7d491.png)

... is this part of the roadmap item as well?

...this is part of the ro

[2020-11-02 18:02] nytai commented on #11523
@graceguo-supercat There is a feature flag that controls the default view for the listviews, `LISTVIEWS_DEFAULT_CARD_VIEW`. I think some users may still want the option to switch over to the card view, even if thumbnails are disabled.

@dpgaspar raised an issue regarding the frontend making a lot of api requests for the thumbnails that are 404ing (due to the feature flag not being enabled). We sho

[2020-11-02 18:07] benceorlai commented on #11523
@graceguo-supercat what is the nature of the security concern about thumbnails?

[2020-11-02 19:07] graceguo-supercat commented on #11523
for example, a chart's data is form a datasource that I do not have access. when i open chart list page, do i see the thumbnail/screenshot of the chart?

[2020-11-02 19:13] graceguo-supercat commented on #11523
That's what i experienced. I did not enable `LISTVIEWS_DEFAULT_CARD_VIEW`, i still see tons of requests to get thumbnails. No matter THUMBNAILS feature flag is enabled or not, I think it is necessary to have an option to disable card view.

[2020-11-02 21:08] DRavikanth commented on #11507
@mahendra, Any help here?

[2020-11-02 21:12] DRavikanth commented on #7588
@mahendra, @starsunny , I am running into issues setting up the emailing dashboard as well. Here is a link to the ticket where I posted the details, logs. Any pointers in the right direction will be of great help. https://github.com/apache/incubator-superset/issues/11507

[2020-11-02 23:03] DRavikanth commented on #11235
https://github.com/apache/incubator-superset/issues/11507

@VMois, running into this problem. Any pointers?

[2020-11-03 02:03] GonzaloGit2020 commented on #11513
Yes, we are, we have a Linux server running Superset in the company where i work. I am not sure if the proxy's company is affecting the communication with google sheet, anyway let me look the link you shared.

Regards

[2020-11-03 03:28] Kobe-Wang commented on #11507
I also got the same error logs from the Celery worker when sending email reports from the Superset dashboard.

The related version is as the followings:
- Superset version is 0.37.2
- GeckoDriver is 0.26.0
- Firefox-esr is 78.4.0esr-1~deb10u2
- Celery is 4.4.7 (cliffs)

[code]

[2020-11-03 05:26] #11384 closed

[2020-11-03 08:08] joehoeller commented on #11363
@mistercrunch plz see above — I’ve left multiple messages in slack channel. You didn’t do the right things to try & reproduce the issue. I’m a bit frustrated tbh.

[2020-11-03 09:01] VMois commented on #11235
@DRavikanth if you are using Docker Compose add the following to your superset image:
[code]
You can find the same in the article I shared with you.

[2020-11-03 11:51] lilila opened #11534 "Fail to load "Explore Chart" views using slice ids in superset 0.38.0.rc2"
I am testing the new version superset 0.38.0.rc2 and I have issues loading charts in the "Explore Chart" view.

When I "explore" a table, it works well, and I can see in the URL the all options are passed (form_data, query_fields .... )
It also works for Big Number, Big Numbers with trendlines

When I try to "explore" a line chart, a map ... I get an empty view. I notice it fails when the chart is

[2020-11-03 14:52] zsellami opened #11536 "What data are transfered to MAPBOX when I use a map chart ?"
Hello,
I have a security question about using a map chart with MAPBOX.
IS MAPBOX only used to show a map under my data ?
When superset call MAPBOX what are the data transfered for this tools ? only the longitude and latitude ?
For instance, When I chose deck.gl Grid slice, is the data of the height parameter are transfered via the Mapbox API to MAPBOX ?

Thank you
Zied Sellami

[2020-11-03 14:58] shekhar-joshi commented on #5689
Hey @KartikTaskhuman ,
I wanted to do the mirgration from sqllite3 to Mysql. M not able to find anything promising anywhere.. could u please share anything u might have on this ??

[2020-11-03 15:16] bryanck commented on #11534
Same problem here, getting `TypeError: Cannot read property 'id' of undefined` when loading a chart in the Chart editor, either from the "Explore chart" menu item on a dashboard, or simply from the "Charts" list. This happens with most chart types, except tables seem to be OK.

[2020-11-03 15:18] DRavikanth commented on #11235
@VMois, Thanks for the pointer. I missed that totally, let me try that and keep posted here.

[2020-11-03 15:26] bryanck commented on #11534
This may be a backwards compatibility issue. If I create a brand new chart, then I don't seem to have this issue, it seems to happen only for charts that were created before 0.38rc2.

[2020-11-03 16:12] villebro commented on #11534
Might have something to do with default control state. Let me look into this.

[2020-11-03 16:14] RRethy commented on #9963
It seems `pydruid` doesn't support columns of type `OTHER` which is the type for those quantile datasketches.

[2020-11-03 16:34] DRavikanth commented on #11235
@VMois Its the same problem after I changed the shm_size in docker build:

[code]

[2020-11-03 17:08] VMois commented on #11235
@DRavikanth, pls, create a separate issue for your problem. Describe your setup, etc. This is an issue related to improving docs.

Regarding your problem, it is a different error compared to what you had. Good sign. Check if you have the latest stable version of the `geckodriver`, I have `0.27.0`. Other than that, I did everything exactly like in the article, so I cannot help you a lot as I don't

[2020-11-03 17:11] DRavikanth commented on #11235
@VMois, makes sense.

[2020-11-03 17:23] DRavikanth commented on #11507
@Kobe-Wang, Please keep posted here if you are able to get around the problem. I will do the same.

[2020-11-03 17:43] DRavikanth commented on #11507
@Kobe-Wang, This is something found on SOF, https://stackoverflow.com/questions/27112731/selenium-common-exceptions-nosuchelementexception-message-unable-to-locate-ele

It looks like the code is loading faster than the webpage rendering causing some elements not to load.

[2020-11-03 20:50] junlincc commented on #11388
tested, fixed. closing!

[2020-11-03 20:50] #11388 closed

[2020-11-03 21:48] villebro commented on #11534
I was finally able to reproduce 👍  Investigating

[2020-11-03 23:56] mistercrunch commented on #11363
Hey, sorry `k8s` / helm isn't my specialty. Personally can't help. I'm sorry you feel that way.

[2020-11-04 01:37] junlincc opened #11541 "[Explore]control panel and chart area shift up after changing data viz type"
### Actual results
![ezgif-2-5c77e52bd5cc](https://user-images.githubusercontent.com/67837651/98057595-8034be80-1df7-11eb-8b21-a70c12424099.gif)

chart titles and all buttons are out of the view

1. Open any chart in Explore
2. Change VISUALIZATION TYPE
3. Run query

### Environment
latest master

[2020-11-04 01:41] graceguo-supercat opened #11542 "[dashboard filter indicator] Dashboard does not apply filter"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. create dashboard with filters
2. open dashboard
3. open filter status, click on one of the filter field and dashboard will focus on that filter_box
4. choose a value from filter_box and click Apply

### Actual results
- Filter status disappeared
- Dashboard does not apply the selected filter

#### Screenshots

!

[2020-11-04 01:48] junlincc commented on #11541
@kgabryje could it due to the tab refactoring?

[2020-11-04 01:56] junlincc commented on #11542
![ezgif-4-50cd9158b2ac](https://user-images.githubusercontent.com/67837651/98060088-9e9db880-1dfd-11eb-8d72-c02b90f06b59.gif)

I'm seeing the same behavior. @suddjian please give a quick fix, thanks!

[2020-11-04 03:00] junlincc opened #11543 "[Chart]Histogram chart legend overflow"
<img width="1778" alt="Screen Shot 2020-11-03 at 6 52 46 PM" src="https://user-images.githubusercontent.com/67837651/98063891-e88a9c80-1e05-11eb-93de-cf2f69e33369.png">

#### How to reproduce the bug

1. Create a Histogram Chart in Explore
2. Choose numeric columns
3. Choose group by columns
4. run.....

### Environment

latest master

[2020-11-04 03:07] junlincc commented on #11543
@kkucharc not top priority, get to it whenever you can. 🙏

[2020-11-04 03:27] junlincc opened #11544 "[Chart]flickery multiple line chart"
![ezgif-2-1092754001ea](https://user-images.githubusercontent.com/67837651/98065822-2984b000-1e0a-11eb-9ffa-0c62d54926e6.gif)

1. Go to "+", select chart
2. connect to a dataset and choose Multiple Line Charts
3. select Y axis 1 and Y axis 2
4. Run query

### Environment
latest master, but this has been happening for a few weeks

[2020-11-04 04:01] xuningyang opened #11545 "cannot be filtered using Verbose_name"
A clear and concise description of what the bug is.

Columns and filters in the raw data cannot be filtered using Verbose_name
Dimensions in grouping aggregation can be filtered using Verbose_name
When filtering or selecting raw data columns, the last column cannot be displayed when there are too many columns

in Chinese：原始数据中列和筛选无法使用verbose_name进行筛选
分组聚合中维度可以使用verbose_name进行筛选
筛选或选择原始数据列时，当列过多时 最

[2020-11-04 04:15] suddjian commented on #11542
I am still working to find the source of this issue, but so far I have confirmed that it was not introduced with the new filter indicators. See recording:

![Screen Recording 2020-11-03 at 8 09 46 PM](https://user-images.githubusercontent.com/1858430/98068595-525c7380-1e11-11eb-9942-7d3b3881dfee.gif)

[2020-11-04 05:55] suddjian commented on #11542
The `TRIGGER_QUERY` action is firing correctly, but `componentDidUpdate` of `Chart.jsx` is not firing for some reason.

[2020-11-04 06:16] junlincc commented on #11379
tested~fixed.  closing issue thanks! @kgabryje

[2020-11-04 06:16] #11379 closed

[2020-11-04 06:28] villebro commented on #11534
I have now identified the necessary fix, will start working on rc3 shortly.

[2020-11-04 06:56] junlincc opened #11546 "[Explore]multiple cosmetic issues in Explore popover (metrics, filters)"
![ezgif-7-88e7dc0f4ce5](https://user-images.githubusercontent.com/67837651/98078856-bb4ee600-1e27-11eb-9a4b-ce82d5678e4b.gif)

1. Text area  and buttons overlap
Text area should have a smaller fixed height, scroll bar should stay within the text area

2. Save and Close button
Save should be on the right, Close on the left

3.  Resize icon
shrink icon and enough spacing between icon and button

[2020-11-04 06:57] junlincc commented on #11546
@kgabryje 🙏

[2020-11-04 07:08] zhaoyongjie commented on #11545
@xuningyang  请问你的意思是说: 在 table viz 中的聚合tab中可以使用 verbose_name 进行搜索维度, **而非聚合 tab 无法使用verbose_name 搜索维度?**
我有点没有理解您的问题.

[2020-11-04 07:10] xuningyang commented on #11545
@zhaoyongjie 是的 在非聚合查询中 列和筛选字段都无法使用verbose_name进行搜索

[2020-11-04 07:15] zhaoyongjie commented on #11545
@xuningyang Oh.... I reproduced it. it seems a ui bug.

[2020-11-04 07:28] rusackas commented on #11542
I haven't fully diagnosed this yet, but if you delete the `shouldComponentUpdate` in `/src/dashboard/components/gridComponents/Chart.jsx` (or just `return true` at the top, the problem is gone.

[2020-11-04 07:36] junlincc opened #11547 "[Explore] filter Custom SQL default mathematical operators"
![ezgif-7-ba8fac83532e](https://user-images.githubusercontent.com/67837651/98081045-4aa9c880-1e2b-11eb-8c8d-03736aac0b43.gif)

**To Reproduce**
Go to Explore
Select Metrics - aggregate function
Select Filters - aggregate function
Popover shows, which takes you to Custom SQL tab

Let's use "=" as default, in stead of " > " for the aggregate function in Custom SQL editor.. which is the old behavior

[2020-11-04 07:37] junlincc commented on #11547
@kgabryje 🙏

[2020-11-04 07:43] rusackas commented on #11541
I think it's the Modal, actually.

[2020-11-04 07:46] junlincc commented on #11541
thanks for the diagnosis! @kgabryje this is top priority 🙏

[2020-11-04 07:54] kgabryje commented on #11541
On it

[2020-11-04 07:57] alexisc67 opened #11548 "The gradient scale is not corrected calculated against the data ranges Calendar Heatmap"
I expect the gradient scale to map the values between the minimum and the maximum.

My query is simply a count and has values from 1 to 60. But the gradient shows only 1 to 3. That results in the calendar showing two colors only. All values over 2 are shown with the same color, instead of gradually built to the last.

![image](https://user-images.githubusercontent.com/12430569/98083880-47d6c400-1e

[2020-11-04 08:10] xuningyang commented on #11545
@zhaoyongjie yes,but I don't know how to solve it

[2020-11-04 08:11] xuningyang commented on #11545
@junlincc 🙏

[2020-11-04 08:45] ericfonsi commented on #9143
preks ~
$ source activate py3env
(py3env) preks ~
$ flask fab create-admin
Username [admin]: admin
User first name [admin]: admin
User last name [user]: admin
Email [admin@fab.org]: admin@admin.admin
Password: admin
admin

![abcg](https://user-images.githubusercontent.com/61018536/98088861-fe509e00-1ea7-11eb-868d-1d28abaffc1c.PNG)

I have installed apache superset in my virtual env. I ran the comm

[2020-11-04 09:00] zhaoyongjie commented on #11545
I wil check codebase tonight

On Wed, Nov 4, 2020 at 4:12 PM xuningyang <notifications@github.com> wrote:

[2020-11-04 10:19] blcksrx opened #11549 "Permission mess up after upgrading"
After upgrading the superset we go an issue with permissions that are messed up and users cant do their jobs with their permissions. It is important to have some integration test about upgrading to avoid such this issue.

### Environment
Superset mater branch
python 3.7

### Checklist

Make sure to follow these steps before submitting your issue - thank you!

- [x] I have checked the superset logs

[2020-11-04 10:56] villebro commented on #11534
@lilila @bryanck feel free to try out the pre-release of rc3: https://github.com/apache/incubator-superset/commits/0.38

[2020-11-04 14:09] maxcapraro commented on #11508
Hi @dpgaspar,

I am experiencing he same issue as @jvanulden on Mac OS Catalina 10.15.7 with Docker version 19.03.13 (Docker Desktop 2.4.0.0).

I attached the logs of superset init.
[superset_init.log](https://github.com/apache/incubator-superset/files/5488232/superset_init.log)

[2020-11-04 14:35] #11548 closed

[2020-11-04 14:35] alexisc67 commented on #11548
Not a bug. It was a bad query

[2020-11-04 15:08] dpgaspar commented on #11549
@blcksrx, please fill the bug issue template, don't forget to identify from what version you were upgrading from at to what version (or master SHA) you upgraded to. Also identify what permissions got messed up

[2020-11-04 15:08] JMGGarcia opened #11552 "Generating simple email reports fills up RAM"
Hello everyone! I'm having trouble generating email reports. Running on docker, I've set everything up with geckodriver. When I create a email schedule and request a test email (on a simple dashboard with just a markup card), I can see in the logs the worker requesting the dashboards, but then nothing seems to happen, the RAM fills up slowly, eventually I get a SoftTimeLimit exception, but the pro

[2020-11-04 15:34] lilila commented on #11534
@villebro it works well, you are the best!

[2020-11-04 16:00] bryanck commented on #11534
Appears to be fixed for me as well!

[2020-11-04 16:08] benceorlai commented on #11523
@graceguo-supercat it seems to make sense to disable Thumbnails, however, I am not sure if it should be a systemwide setting (i.e. a flag) or a per-user setting or a permission. My concern with a flag base approach is that it turns off an important discoverability feature for users who otherwise would be able to see the charts. Any thoughts?

[2020-11-04 16:19] benceorlai commented on #11478
@zuzana-vej this is a bit tricky situation. Until recently when the current UI was implemented, we had two disparate experienced to edit the dataset, depending on where the user came from. Now we have a single experience that can be accessed from both entry points. I am not sure if we know for a fact that when the user clicks on "Edit Dataset" their intent is *always* to edit the dataset for that

[2020-11-04 16:23] junlincc commented on #11534
Thank you Ville! @villebro closing this issue!

@mistercrunch FYI

[2020-11-04 16:23] #11534 closed

[2020-11-04 16:30] benceorlai commented on #11552
Hello @JMGGarcia

Thanks for reporting this issue!

We are working on major changes in the Reports feature, targeting completion sometimes this calendar quarter (before mid-December). The changes include significant improvements to the backend of Reports, and I expect that it will make the backend more robust. Feel free to track [this item](https://github.com/apache-superset/superset-roadmap/proje

[2020-11-04 18:29] zuzana-vej commented on #11304
Yes! Verified. Thank you!

[2020-11-04 18:29] #11304 closed

[2020-11-04 18:40] villebro commented on #11534
Awesome, thanks for confirming @lilila and @bryanck !

[2020-11-04 18:41] Volodymyrk commented on #4652
this is the first dealbreaker we encountered to adopt superset. This feature would be super useful, indeed.

[2020-11-04 18:45] zuzana-vej commented on #11478
Generally we don't want user to make the edits here. But I agree that this could differ across all users using Superset across many organizations (likely the smaller want to enable this, while the larger might want to disable this). I understand we need to have solution that works for everyone not just the larger groups. So I think

will work.

While we might not be able to do the best case scenar

[2020-11-04 19:55] suddjian commented on #11542
Nice! To narrow this down a little more, if you remove the this check from `shouldComponentUpdate`, it works

[code]

[2020-11-04 20:13] yasser3399 opened #11556 "g"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Environment

(please complete the following information):

- su

[2020-11-04 20:37] ktmud commented on #11556
What is this?

[2020-11-04 20:37] #11556 closed

[2020-11-04 21:52] joehoeller commented on #11363
@mistercrunch and @craig-rueda How are you building your base docker image? Is it possible I can get that file?

[2020-11-04 22:14] mistercrunch commented on #11556
The title reminded me of one of my favorite french cartoon character, le "concombre masqué"!
![comconbre](https://user-images.githubusercontent.com/487433/98173400-eb3dce00-1ea7-11eb-9d90-7e434052f006.jpg)

[2020-11-04 22:27] #11542 closed

[2020-11-04 22:45] lunch4jack commented on #11524
the issue is rooted here - https://blog.heroku.com/chrome-changes-samesite-cookie
**disabling** 'SameSite by default cookies' using **_chrome://flags_** on Chrome browser is a temporary solution.

[2020-11-04 22:58] rayzor65 commented on #10341
I managed to get past this issue by creating a new folder in my dockerfile (`RUN mkdir /csvs`) then updating `superset_config.py`
[code]

[2020-11-04 22:59] betodealmeida opened #11560 "Sorting charts by dataset is broken"
When sorting charts by dataset the results are ordered by dataset ID instead of name.

### Expected results

Should sort by name.

### Actual results

Sorts by ID.

#### Screenshots

If applicable, add screenshots to help explain your problem.
<img width="902" alt="Screen Shot 2020-11-04 at 2 57 00 PM" src="https://user-images.githubusercontent.com/1534870/98176751-03b0e700-1eae-11eb-916e-40b3a722

[2020-11-04 23:01] nbatien1984 opened #11561 "Tien Megakill"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Environment

(please complete the following information):

- su

[2020-11-04 23:06] craig-rueda commented on #11363
Sure, here you go: https://github.com/apache/incubator-superset/blob/master/Dockerfile

[2020-11-04 23:08] nytai commented on #11560
@betodealmeida this should be "fixed" in the latest master with https://github.com/apache/incubator-superset/pull/11370, we removed sorting on this column due to the non-standard/polymorphic nature of the dataset relation.

[2020-11-04 23:17] junlincc opened #11562 "[Chart]Echarts pie chart quirks in 0.38"
Describe the bug
There remain some quirks in the new Echarts-based pie chart.

If label lines are turned on and there is no label, e.g. the label is disabled for the slice because it doesn't meet the percent threshold, you have lines coming off the slices with no associated text.

The chart layout isn't automatic with the legend. If you want to fit the legend, you have to manually resize the pie c

[2020-11-04 23:34] junlincc commented on #11561
😑

[2020-11-04 23:34] #11561 closed

[2020-11-04 23:39] mistercrunch opened #11563 "Bump the height in MetricPopover to prevent the tiny scollbar"
## Screenshot

<img width="481" alt="Screen Shot 2020-11-04 at 3 37 38 PM" src="https://user-images.githubusercontent.com/487433/98179496-bf284a00-1eb3-11eb-9829-fbcdf1b8eeb5.png">

## Description

See title, no need for a scollbar for 10-20 pixels in a popover!

[2020-11-05 00:23] Giphyn-nehboh-5qonhu opened #11565 "@hos_144"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Environment

(please complete the following information):

- su

[2020-11-05 00:23] Giphyn-nehboh-5qonhu commented on #11565
@Giphyn-nehboh-5qonhu

[2020-11-05 00:24] Giphyn-nehboh-5qonhu opened #11566 "hos_144"
*Please make sure you are familiar with the SIP process documented*
(here)[https://github.com/apache/incubator-superset/issues/5602]

## [SIP] Proposal for XXX

### Motivation

Description of the problem to be solved.

### Proposed Change

Describe how the feature will be implemented, or the problem will be solved. If possible, include mocks, screenshots, or screencasts (even if from different too

[2020-11-05 00:26] junlincc commented on #11565
@mistercrunch this is the third one today. not sure what's going on......

[2020-11-05 00:26] #11565 closed

[2020-11-05 00:26] junlincc commented on #11566
....4th

[2020-11-05 00:26] #11566 closed

[2020-11-05 00:35] Giphyn-nehboh-5qonhu commented on #11562
@Hos_144

[2020-11-05 00:55] graceguo-supercat opened #11567 "[landing page] Click "Favorite" link throw JS error"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### How to reproduce the bug

1. Go to Superset landing page
2. Click on 'Favorite' link on dashboard or chart section
3. See JS error and whole page is blank.

#### Screenshots

![KOhBQDDCFV](https://user-images.githubusercontent.com/27990562/981840

[2020-11-05 01:12] guhan opened #11568 "Recent Activity page is blank"
If you click on User settings (icon on top right) --> Profile and then navigate to the Recent Activity tab the page is blank.
![Screenshot 2020-11-04 171027](https://user-images.githubusercontent.com/3980678/98185117-dc174a00-1ec0-11eb-9e5c-354c14bd0f40.png)
![Screenshot 2020-11-04 171146](https://user-images.githubusercontent.com/3980678/98185119-dcafe080-1ec0-11eb-9fee-4c9e0496f459.png)

[2020-11-05 01:52] junlincc commented on #11567
![ezgif-7-13f2cba903ea](https://user-images.githubusercontent.com/67837651/98187678-572f2f00-1ec6-11eb-8163-99c0decc8326.gif)
it's working alright from my end. im not able to reproduce 😞

[2020-11-05 02:40] nytai commented on #11568
This should be fixed by https://github.com/apache/incubator-superset/pull/11481

@guhan if you're seeing this in a preset environment, we disabled the logs table so the activity page will always be blank

[2020-11-05 04:32] SaiManojG commented on #2967
@mistercrunch

Is the above mentioned feature / request exists in superset (or) are there any plans to implement it?
can you please let us know about this feature / request.

Thanks in advance.

[2020-11-05 04:35] SaiManojG commented on #2967
@JohnOmernik

hey john!,
did you find any way to acheive this, i also need the same kind of implementation.

[2020-11-05 05:02] s1aw1k commented on #11567
![image](https://user-images.githubusercontent.com/73978786/98199819-f1868580-1f4d-11eb-9bb2-a360438cf975.jpeg)

[2020-11-05 05:09] junlincc commented on #11567
update, @pkdotson is working on the issue, there is a case when first name and last name doesn’t exist

[2020-11-05 05:17] zhaoyongjie commented on #11545
Hi @xuningyang. this issue root cause is `all_columns` control is missing `filterOption` in plugin-chart-table. but this component populated in `superset-ui` repo.

[2020-11-05 07:42] aman101097 commented on #9042
Try this:

TALISMAN_CONFIG = {
    "content_security_policy": None,
    "force_https": False,
    "force_https_permanent": False,
}

CSRF_ENABLED = False

[2020-11-05 08:00] Kobe-Wang commented on #11507
@DRavikanth I already tested to set up `EMAIL_PAGE_RENDER_WAIT` from 30 to 60 for solving the loading issue, and then I also got the same error message. Besides, I also changed the GeckoDriver version, such as 0.24.0, 0.25.0, and 0.27.0, and then I got the same error message again.

[2020-11-05 08:17] DRavikanth commented on #11507
Thanks for responding @Kobe-Wang. I did the same but still running into the exact same error. Have tried multiple combinations of Firefox & Gecko driver as well and no luck. It's kind of a black box at the moment.

[2020-11-05 14:12] lilila opened #11577 "Standalone Plots are Blank"
In version 38.0.rc2 standalone plots are blank, I noticed the iframe links are now shortened but it is not the problem whenever I remove the tag ` standalone= True`  plots display well in iframes (within the explore chart window).

[2020-11-05 14:19] villebro commented on #11577
Did you try with the latest cherries on the `0.38` branch? I think this is related with the Explore regression in `0.38.0rc2`. I tried to repro with `0.38.0rc3` but it seems to work fine.

[2020-11-05 14:40] villebro commented on #11577
I was able to reproduce the problem in `0.38.0rc2` and can confirm that the bug is fixed in `0.38.0rc3` 👍  Closing.

[2020-11-05 14:40] #11577 closed

[2020-11-05 14:43] lilila commented on #11577
Cool Thank you
I tried again and it worked, sorry

[2020-11-05 15:25] maudrid commented on #11321
I had the same question some time ago. The answer was that it could not be run on a location other than root.

[2020-11-05 15:34] villebro commented on #11577
No harm done, on the contrary, thanks for testing! 🙏

[2020-11-05 15:45] zsellami commented on #11536
please any answer for my question ?

[2020-11-05 17:32] kkucharc commented on #11419
We agreed to add the vertical scroll to whole Filter block as a workaround.

[2020-11-05 18:14] graceguo-supercat commented on #11523
@benceorlai Thanks for the reply.
what is `an important discoverability feature for users who otherwise would be able to see the charts`. If you mean the chart image, that's probably the reason some company disable thumbnails feature, because we do not want users see chart image if they do not have permission. in cardview, it took 80% of page showing an identical placeholder, this also prevent use

[2020-11-05 18:52] etr2460 opened #11581 "Chart titles are cutoff/limited to only 1 line"
## Screenshot
![image](https://user-images.githubusercontent.com/7409244/98283608-bd629300-1f54-11eb-8e79-648303665ba0.png)

## Description
Chart titles used to overflow onto multiple lines, but now they are truncated. This isn't ideal as we've relied on multiple lines of text in the title for small charts.

## Design input
Allow 2-3 lines of text for the title instead of limiting to only 1 line

[2020-11-05 19:07] junlincc opened #11582 "[Dashboard-Filter-Indicator] Chart title is covered by new filter indicator"
we recently implemented new dashboard filter indicator to replace the old "teeth" design, with the purpose of providing better simplicity and improving consistency in dashboard.

Main changes as follow:
- State A No Filters Scope When no filters are scoped on the chart, there is no indicator
- State B Filters Scoped, Not Applied When there are no applied filters, the indicator is just the filter i

[2020-11-05 19:11] junlincc commented on #11582
@etr2460 @graceguo-supercat

[2020-11-05 19:56] graceguo-supercat commented on #11582
the chart options list icon should use vertical dot not horizontal dot. please update your design doc to reflect reality.

[2020-11-05 22:28] hughhhh opened #11585 "SQL search `query search string` shouldn't be case sensititive"
## Screenshot
N/A

## Description
Right now whenever users search for queries they are case sensitive. We should remove this to allow users to put in term with any cases

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label `design:review`. If this includes a design proposal,
include the label `design:suggest`]

[2020-11-05 22:30] betodealmeida opened #11586 "Improve selection of LIMIT in SQL Lab"
**Is your feature request related to a problem? Please describe.**

In SQL Lab, to change the current limit the user needs to:

1. Click the LIMIT button
2. Click the input field
3. Delete the current value
4. Type in the new value
5. Press OK

This is a lot.

**Describe the solution you'd like**

In SQL Lab, after clicking the "LIMIT" button the input element in the dialog that pops should be foc

[2020-11-05 22:45] betodealmeida opened #11587 "SQL Lab: CTRL+R and CTRL+ENTER bypass disabled RUN button"
In SQL Lab, if the text area is empty the "RUN" button is disabled, but the user can still press the key shortcut to run the empty query. This results in an error.

### Expected results

Shortcut keys should be ignored.

### Actual results

Query runs.

#### Screenshots

![optimized](https://user-images.githubusercontent.com/1534870/98304782-7cc74180-1f75-11eb-91f0-81c7f6e0fb15.gif)

#### How to r

[2020-11-05 22:46] graceguo-supercat opened #11588 "[Landing page] Recent section links don't work"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. open Superset homepage
1. Click on any item in Recent section

### Expected results

Dashboard or chart open in the new tab.

### Actual results

Nothing happened.

#### Screenshots

<img width="1346" alt="Screen Shot 2020-11-05 at 1 59 44 PM" src="https://user-images.githubusercontent.com/27990562/98304675-48ec

[2020-11-05 22:49] betodealmeida opened #11589 "SQL Lab: CTRL+T behaved differently from clicking "+""
There are two ways of adding a new tab in SQL Lab:

1. CTRL+T
2. Clicking the "+" button

The new tab is different depending on the method. The first one creates an empty query, the second one creates a dummy query `SELECT ...`

### Expected results

Behavior should be consistent.

### Actual results

New query is different depending on the method.

#### Screenshots

N/A

#### How to reproduce the

[2020-11-05 23:10] etr2460 opened #11591 "Filter indicator popover cuts off selected filters"
## Screenshot
![image](https://user-images.githubusercontent.com/7409244/98306515-dda44900-1f78-11eb-96e5-a8c5e9dca6f4.png)

## Description
The filter indicator popover cuts off the selected filters, making it harder to know what filters are selected.

## Design input
The popover should either wrap the selected filter text, or expand to fit the full selected filter

to: @suddjian

[2020-11-05 23:11] pkdotson commented on #11588
should be cleared up when this pr is merged in: https://github.com/apache/incubator-superset/pull/11557

[2020-11-05 23:22] suddjian commented on #11591
should have a PR for this in a few minutes

[2020-11-06 00:26] junlincc commented on #11541
tested, it's all fixed! thank you both @kkucharc @kgabryje

[2020-11-06 00:26] #11541 closed

[2020-11-06 00:57] Giphyn-nehboh-5qonhu commented on #5602
hos_144

[2020-11-06 01:02] Giphyn-nehboh-5qonhu commented on #11586
https://t.me/Hos_144

[2020-11-06 01:02] Giphyn-nehboh-5qonhu commented on #11585
https://t.me/Hos_144

[2020-11-06 01:30] graceguo-supercat opened #11593 "[dashboard][Add chart] Chart list is out of order"
#### How to reproduce the bug

1. Go to a Dashboard
2. Click on Edit
3. Open Charts tab
4. see chart list: charts are not sorted by recent change, it's really hard to find one if you have a lot of charts.

### Expected results

chart list should be sorted by most recent change, which is similar to the behavior in the landing page Charts section.

### Actual results

hard to tell what is the order

[2020-11-06 02:46] s1aw1k opened #11595 "where should the discussion for the SIP take place ?"
where should the discussion for the SIP take place ?
I believe, it could be either the dev list or the SIP issue itself.
- doing@fggfcff on the dev list would make be easier for people not following the SIP issue itself to follow the discussion.

- __Originally posted by @nishantmonu51 in https://github.com/apache/incubator-superset/issues/5602#issuecomment-433194906__

[2020-11-06 02:54] s1aw1k commented on #5602
Good morning! Is there also a mobile app developer here?

[2020-11-06 04:01] rusackas commented on #11546
@junlin I think we're good here, but I'll let you verify on master :)

Also surprised GH doesn't automatically close issues when the PR says "Fixes #xyz"

[2020-11-06 04:06] nytai commented on #11546
@rusackas The fixes syntax works only when it's in the title, commit message, or description. You can also link the issue with the little widget on the right.

https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue

[2020-11-06 04:08] rusackas commented on #11546
I did it in the description not long ago and it didn't seem to work there. I've never tried the manual linking widget... will do next time for fun :D

[2020-11-06 07:32] junlincc opened #11598 "[Explore]control panel popover can't be saved"
![ezgif-7-107a12e9c510](https://user-images.githubusercontent.com/67837651/98338331-e3bd1880-1fbe-11eb-9d96-c3b8f7ae4417.gif)

started happening after #11578 is merged

[2020-11-06 07:34] junlincc commented on #11598
@kgabryje 🙏

[2020-11-06 07:44] junlincc opened #11599 "[Explore]popover should follow the query field as user scrolls page"
![ezgif-7-9cc7a29fa5ab](https://user-images.githubusercontent.com/67837651/98339569-be310e80-1fc0-11eb-9667-9df8208b6102.gif)

[2020-11-06 07:44] keerthanaturlapati opened #11600 "Configuration issues with superset in K8s with postgresql"
I am trying to install superset using k8s with PostgreSQL as backend database and redis as cache layer.

Superset is up and running but when i try to run SQL queries, I am getting the following error

"column dbs.server_cert does not exist at character 814"

Below are my config files and helm template.  An help is appreciated, thank you!

[code]

**superset config file**

[code]

**ERROR**

[code]

[2020-11-06 07:46] graceguo-supercat opened #11601 "[Date Picker] Custom date behavior is not consistent"
#### Screenshots

![lGBvre47mm](https://user-images.githubusercontent.com/27990562/98339278-4f53b580-1fc0-11eb-983f-68e1e30b52c0.gif)

#### Expected Behavior

- Find the right user input.
- CUSTOM start/end date should always automatic updated when user set DEFAULTS or relative section
(this is old behavior before recent changes)

### Environment

latest master

### Checklist

Make sure to follow

[2020-11-06 07:48] junlincc commented on #11601
we noticed this issue as well but have not been able to reproduce it consistently. will looking into it!

[2020-11-06 08:29] lilila commented on #11577
@villebro I do not understand what is going on, sometimes it works sometimes it doesn't :/

When I inspect source when the plot is blank I have the following error
<img width="976" alt="Screenshot 2020-11-06 at 09 28 15" src="https://user-images.githubusercontent.com/607430/98343645-68855200-2012-11eb-9007-6671b1a02739.png">

If I click on the link I get:
<img width="918" alt="Screenshot 2020-11-0

[2020-11-06 08:32] villebro commented on #11577
@lilila is the same chart always failing in standalone mode, or does it work occasionally?

[2020-11-06 08:35] lilila commented on #11577
I got it, it works with Chrome but is blank on Safari!
This Isi why I had the impression it works sometimes

[2020-11-06 08:41] villebro commented on #11577
Would you mind opening a new ticket for this bug with detailed reproduction steps?

[2020-11-06 08:43] kgabryje commented on #11598
@junlincc On it. By the way, it seems that the bug was there before, I just checked  the master before https://github.com/apache/incubator-superset/pull/11578 and it doesn't work too.

[2020-11-06 08:45] lilila commented on #11577
Yes, I will do it this week end, thank you

[2020-11-06 09:23] lanyusea opened #11604 "QUESTION: how could I not group data by the DATETIME value?"
I have my data like that: `test date` `frame index` `test dataset` and the values

![image](https://user-images.githubusercontent.com/2766729/98344761-ad2ede80-204e-11eb-8741-b6585aaa8b3b.png)

and it can be successfully updated
![image](https://user-images.githubusercontent.com/2766729/98345103-2cbcad80-204f-11eb-9247-10b03a6a890b.png)

but the result looks really strange:
![image](https://user-i

[2020-11-06 10:47] S-eb opened #11605 "Deck.gl: set up the arc width based on a data field"
** This is a request for a new feature**
I would like to build data viz using Deck.gl Arc where the width of the arc would depend on a numerical data field (a good example would be to have the width depending on the traffic between two points)

**Describe the solution you'd like**
Today is it possible to change the color of the arc based on categorical value.
The same principle would be for adjust

[2020-11-06 16:48] leocape commented on #11328
Also with specifying a currency it would be nice to have the option to remove decimals eg. `$,.2f` becomes  `$,.0f`

[2020-11-06 18:55] junlincc opened #11608 "[Explore]Control Panel fields dropdown values not showing properly"
![ezgif-6-2567e1a8430e](https://user-images.githubusercontent.com/67837651/98403858-780a9800-201e-11eb-8a7b-a3e18f20d74c.gif)

1. Control Panel dropdown value not showing properly
2. selected dropdown value is not saved

latest master

[2020-11-06 18:57] junlincc commented on #11598
got it! thanks for clarifying it and the quick fix! please see https://github.com/apache/incubator-superset/issues/11608

[2020-11-06 18:58] kgabryje commented on #11598
@junlincc This PR fixes https://github.com/apache/incubator-superset/issues/11608 as well, sorry for that regression.

[2020-11-06 22:17] mistercrunch commented on #11599
That may be really hard - I'd suggest time boxing this, wouldn't spend more than a few hours on this.

[2020-11-06 22:23] mistercrunch opened #11609 "TimeRangeFilter popover bugs + cosmetic"
## Screenshot

<img width="257" alt="Screen Shot 2020-11-06 at 2 21 36 PM" src="https://user-images.githubusercontent.com/487433/98420202-861ae180-203b-11eb-9567-1e62da3e0d98.png">

<img width="515" alt="Screen Shot 2020-11-06 at 2 16 27 PM" src="https://user-images.githubusercontent.com/487433/98420014-28869500-203b-11eb-8580-a9db6d3878d1.png">

## Description

There's a bug with the filter not s

[2020-11-06 22:23] #11598 closed

[2020-11-06 22:24] #11608 closed

[2020-11-07 00:28] eschutho commented on #11477
I believe this issue was fixed in https://github.com/apache/incubator-superset/pull/10834. I wasn't able to replicate with current master, but can someone else verify?

[2020-11-07 00:39] eschutho commented on #10997
can you share the errors that you saw when you ran `npm install`? It looks like you don't have `babel/preset-react` installed correctly.

[2020-11-07 00:52] eschutho commented on #11043
According to [FsEvents](https://www.npmjs.com/package/fsevents), that is a known warning, but should not fail the build.
[code]
Is this working on master? You mentioned that it's working on a fairly recent commit.

[2020-11-07 01:00] prb219 opened #11610 "Facing duplicate table entry issue while using SqlLite for metadata"
Hi, I am trying to bring up superset version 0.37.2 while using sqlLite for metadata. However, the service fails to start with an error. Can someone please help with this?
`sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) table sqlatable_user already exists1`

### Actual results
  File "/appvenv/bin/superset", line 21, in <module>
    superset()
  File "/appvenv/lib/python3.6/site-packa

[2020-11-07 06:42] rusackas commented on #11609
@kgabryje has been working on similar issues, and can likely tackle this one, too.

[2020-11-07 07:17] vehbisurem commented on #4690
#11611
Duplicate of #
`

[2020-11-07 09:03] mjdhasan opened #11612 "Error logging in to superset (sqlalchemy.exc.ProgrammingError)"
A clear and concise description of what the bug is.

### Expected results

login panel

### Actual results

sqlalchemy.exc.ProgrammingError
sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedTable) relation "ab_permission_view_role" does not exist
LINE 2: FROM ab_permission_view JOIN ab_permission_view_role ON ab_p...
                                     ^

[SQL: SELECT ab_permission_view.

[2020-11-07 19:50] #11600 closed

[2020-11-08 08:46] ronozoro commented on #11524
Yes, it was samesite problem and with samesite cookie you have to enable ssl 👍

[2020-11-08 08:46] #11524 closed

[2020-11-08 18:00] mistercrunch commented on #11610
We cannot support sqlite as it can't guarantee the level of parallelism that Superset requires.

[2020-11-08 18:00] #11610 closed

[2020-11-08 18:06] mistercrunch commented on #11477
I hit this issue recently too editing the title of the dashboard I believe. We should make sure that all actions except for the master SAVE only affect the local redux state, and that the save button be the only action that syncs to the backend.

[2020-11-08 21:58] mistercrunch commented on #11609
Also reported here https://github.com/apache/incubator-superset/issues/11601

[2020-11-09 01:55] mistercrunch commented on #11595
On GitHub, and notification about it should be sent to the `dev@` mailing list as a `[DISCUSS]` thread, as touched in SIP-0

[2020-11-09 01:55] #11595 closed

[2020-11-09 01:57] mistercrunch commented on #11586
We have an internal design to improve the SQL Lab toolbar, and that includes improvement to the LIMIT control, it'd be great if we can share the design here in the open.

[2020-11-09 08:04] GiannisDimitriou commented on #11612
I have exactly the same error.

Table 'ab_permission_view_role' is missing but the db migrations run successfully.
Superset version: 0.37.2
@villebro can you help on this one?

[2020-11-09 15:14] i4vijay opened #11620 "Not able to email dashboards in superset"
I have installed superset in AWS EC2 instance which is Ubuntu. It is working fine but i have a requirement to send dashboards in email to clients. I have configured SMTP, chrome browser, chromedriver, Redis and also made correct changes to config.py file. I am able to run celery worker, celery beat but if i try to send test email i am getting **UnboundLocalError: local variable 'options' reference

[2020-11-09 16:24] #11547 closed

[2020-11-09 18:05] ktmud opened #11622 "Make CRUD view URLs more user-friendly"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/98577919-7ab0fb80-2271-11eb-8020-b1ca291a7a74.png" width="500" />

## Description

As a professional software, the URLs should be intuitive and predictable. Currently most CRUD view pages have automatically-generated URL pathnames which looks kind of hacky. We should change them to something more user-friendly, let them foll

[2020-11-09 18:28] nytai commented on #11622
This has been bothering me too. There's some legacy here, as you've pointed out regarding

Listing out what would be required to make this happen:
- Set up redirects for the old routes (in case users have bookmarked these urls)
- set up backend routing for these new routes
- set up react-router routes for the new routes

* There's likely something else I'm missing.

We should wait until the react

[2020-11-09 18:35] junlincc commented on #11567
[chore(home-screen): fixes for loading states, flicker issue, and reduction of api calls #11557
](https://github.com/apache/incubator-superset/pull/11557) closing

[2020-11-09 18:35] #11567 closed

[2020-11-09 18:50] junlincc opened #11623 "[Explore]Title change made in Edit Chart Properties is not showing on the title but actually is saved"
![ezgif-7-c7fec0f7bdea](https://user-images.githubusercontent.com/67837651/98583126-b9967f80-2278-11eb-955e-3d6de2f13e51.gif)

Expected behavior: title change should reflect in Title as soon as the change is made and saved in  modal

[2020-11-09 19:18] junlincc opened #11624 "[Landing page] cosmetic issue and proposed enhancement"
Landing page with thumbnail enabled
<img width="1309" alt="IMG_9965" src="https://user-images.githubusercontent.com/67837651/98585830-b604f780-227c-11eb-812c-a196e74c8362.PNG">

Actual Design
<img width="943" alt="Screen Shot 2020-11-09 at 11 10 14 AM" src="https://user-images.githubusercontent.com/67837651/98585537-4d1d7f80-227c-11eb-86a7-c7dba5628cc9.png">

Two suggestions:
The border on the car

[2020-11-09 19:38] junlincc commented on #10528
https://github.com/apache/incubator-superset/issues/11623

@kgabryje let's address these two issues together

[2020-11-09 20:24] junlincc commented on #11588
tested, it's fixed! also, the entire card is clickable.

[2020-11-09 20:24] #11588 closed

[2020-11-09 21:19] junlincc commented on #11546
all looking good! we can finally move on from popover!! 😆

[2020-11-09 21:19] #11546 closed

[2020-11-09 21:42] songololo commented on #5976
@mistercrunch were you able to display your data using `deckgl`? I'm also trying and failing and have no idea why it doesn't work.

[2020-11-09 21:43] songololo commented on #5976
@pelayoarbues were you able to display your data using `deckgl`? I'm also trying and failing and have no idea why it doesn't work.

[2020-11-09 21:58] songololo opened #11625 "Please provide documentation for deckgl charts"
It is difficult to find any meaningful information about the deckgl charts.

Would it please be possible to add at least rudimentary documentation providing a brief overview of the accepted geospatial formats (e.g. GeoJSON) and any requirements such as coordinate reference system (e.g. epsg 4326?), geometry types (e.g. do Multipolygons work or only Polygons?) etc.

Thanks.

[2020-11-09 22:08] junlincc commented on #11625
@srinify

[2020-11-09 22:23] #11591 closed

[2020-11-09 22:47] graceguo-supercat opened #11628 "[filter indicator] when chart title has line wrap"
## Screenshot

<img width="1323" alt="Screen Shot 2020-11-09 at 2 39 38 PM" src="https://user-images.githubusercontent.com/27990562/98605403-30904000-229a-11eb-8b0a-38657b0c77d7.png">

## Description

Filter status indicator should not change shape.

@junlincc @rusackas

[2020-11-09 22:49] junlincc opened #11629 "[Chart]Echarts time series legend overlaps chart"
<img width="1183" alt="Screen Shot 2020-11-09 at 2 42 09 PM" src="https://user-images.githubusercontent.com/67837651/98605746-caf08380-229a-11eb-8259-9def21636fe2.png">

![3d4537db-a187-4161-b080-b5243f05ead7](https://user-images.githubusercontent.com/67837651/98605400-2f5f1300-229a-11eb-88f8-9b7aec63929e.gif)

proposed solutions include
- collapsible legend section on the top
- scrollable legend

[2020-11-09 22:51] junlincc commented on #11628
we caught it this morning and fix is coming

[2020-11-09 22:56] graceguo-supercat commented on #11593
Hi @nytai I have to re-open this issue:
the order of charts from API response is correct, but not rendered correctly in the dashboard side-panel:
<img width="1620" alt="Screen Shot 2020-11-09 at 2 15 51 PM" src="https://user-images.githubusercontent.com/27990562/98606194-a0eb9100-229b-11eb-813d-c1eb5d2be978.png">

Note: the `Modified` time in slice card also disappeared... this explains why order

[2020-11-09 23:50] rusackas commented on #11628
PR Opened: https://github.com/apache/incubator-superset/pull/11631

[2020-11-09 23:55] junlincc commented on #11629
@villebro @kkucharc please coordinate to make sure the solution we land on is consistent across all Echarts

[2020-11-10 01:06] graceguo-supercat opened #11633 "[dashboard] prevent co-edit error in Dashboard Properties Modal"
**Is your feature request related to a problem? Please describe.**
There are a few PRs (and bug fixes) to prevent users edit the same dashboard at the same time: #11220 #11305 and #11614. Right now this feature is kind of stable, but it is **_not available_** when user update dashboard metadata in Dashboard Properties modal. Because `/dashboard/api/v1` does not check dashboard version in update re

[2020-11-10 01:14] junlincc commented on #11628
<img width="133" alt="Screen Shot 2020-11-09 at 5 14 05 PM" src="https://user-images.githubusercontent.com/67837651/98615242-fda47700-22ae-11eb-96e1-71e871bc3abb.png">
looking good!

[2020-11-10 01:14] #11628 closed

[2020-11-10 02:36] junlincc commented on #11609
looking good from my end. closing
<img width="535" alt="Screen Shot 2020-11-09 at 6 35 45 PM" src="https://user-images.githubusercontent.com/67837651/98620614-76f59700-22ba-11eb-93b4-692be3751b83.png">

[2020-11-10 02:36] #11609 closed

[2020-11-10 03:01] #11581 closed

[2020-11-10 03:13] poppyc0ck commented on #9616
@avicenteg [this](https://github.com/apache/incubator-superset/issues/9135#issuecomment-587574966)

[2020-11-10 05:21] mistercrunch commented on #10528
Is this still an issue?

[2020-11-10 05:51] mistercrunch opened #11637 "BigQuery: can't run a chain of statements that depend on each other"
Opening an issue on our side to track this one: https://github.com/mxmzdlv/pybigquery/issues/74

[2020-11-10 05:53] mistercrunch commented on #11625
There's a bit of info here https://docs.preset.io/docs/scatterplot

[2020-11-10 06:02] junlincc commented on #10528
yes, i tested when i filed #11623 @mistercrunch
![Uploading Screen Shot 2020-11-09 at 10.01.29 PM.png…]()

[2020-11-10 06:08] #11601 closed

[2020-11-10 06:45] avicenteg commented on #9616
@poppyc0ck  thanks, finally my error was a similar one. My Docker container didn't use the ip: 0.0.0.0, I changed it by superset-app (the name of the container) and using the 8088 port, and now it is running perfectly.

[2020-11-10 07:03] villebro commented on #11562
I looked into disabling individual lines when adding the threshold parameter, but it appears it can currently only be defined for all slices under the `series.labelLine` property. I believe we'd need to make it possible to pass a callback to `labelLine` that enables/disables it per slice, similar to how `label.formatter` currently works. At any rate the change would need to be done in ECharts.

Si

[2020-11-10 08:55] songololo commented on #11625
Thank you. Can anyone give some clues as to what the polygon chart expects in terms of geometry? (e.g. whether geojson polygon in epsg 4326 coordinate reference system works?)

[2020-11-10 09:12] kgabryje commented on #10528
On it

[2020-11-10 09:55] songololo commented on #9420
I am encountering the same error messages.

Am using the amancevice docker version (v0.37.2).

[2020-11-10 10:13] stone-bits opened #11639 "Wrong SQL generated when filter is used"
I have a data table with a field that contains data with double quoted text at the end:
[code]
The last double quote is dropped in generated SQL when I use this field in a filter.

### Actual results
[code]

### Expected results
[code]

#### How to reproduce the bug

1. Create dataset with data as above
2. Create chart
3. Create filter
4. Create dashboard
5. Use filter in dashboard
6. See chart is

[2020-11-10 10:54] JMGGarcia commented on #11552
Hey! That's great to hear, I will be looking forward to these developments, thanks!

[2020-11-10 12:03] songololo commented on #11625
@srinify @mistercrunch @junlincc

Here are some examples that should be fairly easy to reproduce. These make use of the SQL editor and I'm using the amancevice docker container (v0.37.2).

Running a query to create a rectangular polygon (using PostGIS):
`SELECT 1 as mock_data, ST_MakeEnvelope(-0.127677, 51.507515, -0.122161, 51.510021, 4326) as geom;`

Gives a jagged polygon (instead of rectangula

[2020-11-10 13:48] i4vijay opened #11641 "How to fix 404 error while Emailing Dashboards in Superset"
I am getting the following error while enabling email dashboards in superset.
![image](https://user-images.githubusercontent.com/36433544/98682038-48a6a480-2318-11eb-83f8-717f538009e7.png)

Can someone pls help me fix this...

[2020-11-10 16:58] #11624 closed

[2020-11-10 17:25] #11582 closed

[2020-11-10 17:28] kkucharc opened #11642 "Markdown's top menu is not visible"
Markdown's popup menu is hovered by a tab's header.

### Expected results

<img width="345" alt="Screenshot 2020-11-10 at 14 27 57" src="https://user-images.githubusercontent.com/2536609/98708823-e2566c00-2381-11eb-9df7-f937800e4a3e.png">

### Actual results

<img width="350" alt="Screenshot_2020-11-10_at_12_15_01" src="https://user-images.githubusercontent.com/2536609/98708853-eaaea700-2381-11eb-

[2020-11-10 17:28] kkucharc commented on #11642
cc: @junlincc

[2020-11-10 18:05] Steejay commented on #11586
hey @betodealmeida ! We're exploring this new limit design shown in the screenshot here. I agree that the current limit interaction should be simplified. We also saw an opportunity to eliminate some of the annoying error states a user might encounter (empty text field and integer over max limit). We believe that this dropdown of pre defined limits can help assuage some of these pain points. If a u

[2020-11-10 19:42] nytai commented on #11520
Let's have a conversation here (@junlincc @lilykuang @benceorlai @eschutho @mistercrunch ) about switching over the edit action on the dashboard list view.

Current the edit action only open the dashboard properties modal. Should we just make the call that "Editing a dashboard means opening the dashboard in edit mode and not opening the dashboard properties modal"? It seems that everyone I've talk

[2020-11-10 19:49] junlincc commented on #10329
https://github.com/apache/incubator-superset/pull/11525 done

[2020-11-10 19:49] #10329 closed

[2020-11-10 19:57] junlincc opened #11645 "[dashboard]menuItems antd component regression"
![98725736-6260df80-234a-11eb-8db5-4b0167d8bd8a](https://user-images.githubusercontent.com/67837651/98726608-94bf0c80-234b-11eb-8236-b8e95e1e9166.gif)

Previously the menu will automatically close whichever item you click, now it doesn't close.
 cc @kgabryje @ktmud

[2020-11-10 20:09] ktmud commented on #11645
Ref: https://github.com/apache/incubator-superset/pull/11554

Btw, @kgabryje ,  it would be nice if future PRs have more specific titles on the scope of their changes. I'm currently seeing three PRs with identical PR title. It's hard to tell which is which.

![image](https://user-images.githubusercontent.com/335541/98727753-49a5f900-234d-11eb-9553-cc962de10576.png)

[2020-11-10 23:07] yousoph opened #11647 "Saved Queries Page Doesn't Load After User Tries to Save a Blank Query"
When a user tries to save a blank query, the query doesn't get saved and the Save Queries page fails to load and shows an error.

### Expected results
In SQL Lab, the user should either not be able to save a blank query or they should be able to save it properly.

### Actual results
* When visiting the Saved Queries page, the page shows an error
* When returning to SQL Lab or refreshing the page,

[2020-11-10 23:47] fulviomascara commented on #11171
I solved this problem in my Mac today, with these steps:

1. git clone https://github.com/apache/incubator-superset.git
2. cd incubator-superset
3. docker-compose build
4. docker-compose up

After terminal finishes Load Examples step (Step 4), enter in another session in terminal and
5.  npm ci && npm run build && rm -rf node_modules

[2020-11-11 00:05] ktmud opened #11651 "[Nav] Menu item height in Settings menu looks kind of random"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/98748336-48d18f00-236e-11eb-884f-bc734f4cf152.png" width="200">

## Description

1. There should be more space around dividers
2. There should be space between the bottom and the last menu item

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label

[2020-11-11 01:26] #11647 closed

[2020-11-11 01:37] JayLeeZed commented on #8818
I met the same problem as yours, how do you resolve it

[2020-11-11 01:39] JayLeeZed commented on #8818
@flutterWang I met the same problem as yours, how do you resolve it

[2020-11-11 05:17] sarah012 opened #11654 "Give List and View access to a dashboard without adding it to owner"
**Is your feature request related to a problem? Please describe.**
In my organization I have dashboard which I want to share with other users, I create a user name and gave that user gamma role with access to all datasources related to that board. I shared the dashboard url to the users. If the user is already logged in he/she is able to see the dashboard with edit button as disables. But if the u

[2020-11-11 06:52] amitNielsen commented on #11654
https://github.com/apache/incubator-superset/issues/10408

[2020-11-11 09:17] songololo commented on #11625
I managed to make some headway, posting here for others:

The JSON strings returned from `postGIS` using the `ST_AsGeoJSON` function contain only the geometry component of the geoJSON spec. This means that it is necessary to wrap these geometries in a full-fledged geoJSON object before `deck.gl` can recognise it.

For example:
[code]

If you are working with MultiPolygons then you need to extract

[2020-11-11 12:50] #11549 closed

[2020-11-11 14:59] rubenSastre opened #11657 "[SIP-15] time_range_endpoints not working on database extra parameters"
With SIP_15 the default time_range_endpoints = [start, end)
There is an option to set you own option on the database extra parameter.
The value for time_range_endpoints on database extra parameter is not working when you create a new chart.

### Expected results
While creating a new Chart it should get the value for extra param on the database configuration instead of "time_range_endpoints":["incl

[2020-11-11 15:28] villebro commented on #11657
Thanks for reporting @rubenSastre , I'll take a look

[2020-11-11 18:55] kakoni opened #11658 "Numeric columns in pivot table when using postgresql"
Commit https://github.com/apache/incubator-superset/commit/fc28c92f57edd7bccac57715bef159c0f18daef1 introduced new [get_aggfunc](https://github.com/apache/incubator-superset/blob/master/superset/viz.py#L875-L879) method to pick right aggregation function (especially when working with non-numeric columns)

Unfortunately this method fails when using postgres/psycopg based data, as sum columns are re

[2020-11-11 20:29] ktmud opened #11659 "[Welcome] confusing Saved Queries card"
## Screenshot

<img src="https://user-images.githubusercontent.com/335541/98860297-47f53780-2418-11eb-8562-07cdbe1aaf7a.png" width="600">

## Description

I don't think I understand the elements  of this card.

1. What is `Table 1`?
2. Timestamp seems missing for "Last run"
3. The position of "···” seems off.
4. The header is too heavy, kind of making the most important info--the query name (or la

[2020-11-11 21:56] mistercrunch commented on #11625
Yes, I can confirm that we're expecting a geo json object as text. We could do more magic to understand the Postgres/postGIS geoJSON type and convert it accordingly, but it gets tricky for us to support special types that are database specific.

[2020-11-11 22:01] junlincc commented on #11659
on it, thanks for reporting.

[2020-11-11 22:20] mihir174 commented on #11659
<img width="457" alt="Group 12 (1)" src="https://user-images.githubusercontent.com/64227069/98870665-7713a500-2428-11eb-9cf7-dd71e071e6d4.png">

thanks for the quick feedback @ktmud ! this is what the cards are intended to look like^

1. the number under "tables" is the number of tables
2. good catch, the timestamp is supposed to appear right next to "last run"
3. that position is off probably due

[2020-11-11 22:30] junlincc commented on #11659
1. then there is a bug.. in my case should be 7 instead of 1....
4. @mihir174  i think @ktmud was referring to the save query modal in sql lab. the title and X are not aligned... and the buttons need to be reordered.
<img width="307" alt="Screen Shot 2020-11-11 at 2 25 50 PM" src="https://user-images.githubusercontent.com/67837651/98871795-6401d480-242a-11eb-8ed1-758a833d0a8d.png">

[2020-11-12 00:12] ktmud commented on #11659
"Label" is the query name, it's just we call it "label" in the save query form.

Another idea is to display a snippet of the query itself instead of the description. E.g.

<img src="https://user-images.githubusercontent.com/335541/98878510-0a080b80-2438-11eb-80de-56967ae324a4.png" width="400">

Also note that currently Superset doesn't support favoriting saved queries yet, which is probably why @p

[2020-11-12 00:37] mistercrunch commented on #11659
@ktmud +1 on SQL maybe even with aggressively small characters ~8px

[2020-11-12 00:37] mistercrunch commented on #11659
Crazy idea: thumbnail + fisheye!

[2020-11-12 02:17] jvanulden commented on #9880
I concur. This should be table stakes IMO.

[2020-11-12 03:37] chingjunehao commented on #3799
I have deployed Apache Superset to GCP with this [tutorial](https://github.com/feroult/serverless-superset), but I couldn't connect the PostgreSQL that I have to Superset with SQLAlchemy URI.

I have tried putting them (Superset and PostgreSQL) into same VPC network but still get 502 error after clicking save in the record. Any help would be appreciated! Thanks.

[2020-11-12 05:57] kamalk-github opened #11662 "Chart can be added to Dashboard by Non-admin"
If a user can access some dashboard(via access to underlying datasource(s)) where the user is not owner/admin, the user can create a new chart and add it to the dashboard without admin rights.

Follow below steps to reproduce:
1. A user who is not owner/admin of a dashboard can view it(via access to underlying datasource(s)).
2. Create a new chart from available datasources.
3. Edit the chart prop

[2020-11-12 06:08] zuzana-vej commented on #11477
Looks like @graceguo-supercat PR fixed this issue, thanks! (the dashboard doesn't automatically refresh though, but that's separate issue, I think that's been there before as well, from a while back).

[2020-11-12 06:08] #11477 closed

[2020-11-12 06:13] zuzana-vej commented on #11368
@junlincc  it looks like this issue is still there. I think it could have been caused by earlier redesigns on the Explore page - similar as what caused https://github.com/apache/incubator-superset/issues/11379 or https://github.com/apache/incubator-superset/issues/11404 (just a guess, it's also ~2-3 weeks old issue, so discovered around the same time).

[2020-11-12 06:48] graceguo-supercat commented on #11593
Hi @nytai this issue is still broken in master branch, it's been 2 weeks. cc @junlincc

[2020-11-12 08:01] #9130 closed

[2020-11-12 08:01] #10468 closed

[2020-11-12 08:20] villebro commented on #10408
Thanks for updating the SIP @amitNielsen ! I think the current state of the proposal captures the motivations and required changes well.

If we can keep this behind a feature flag and not cause backwards incompatible changes, then I'm all for the change. By introducing the option to allow access to dashboards/charts with a signed token provided by the backend, we should be able to do this securely

[2020-11-12 11:38] swanitzek commented on #9022
Are there any information available what is required to get the Internet Explorer working with Superset?

[2020-11-12 11:43] MahsaSeifikar commented on #9022
@swanitzek If you find any please share here.

[2020-11-12 12:06] GiannisDimitriou opened #11664 "Filter Box Default Value Issue"
After adding/removing a default value in filter configuration an empty value appears on the dropdown list in dashboard

#### Screenshots

No Default Value
![image](https://user-images.githubusercontent.com/47314887/98937667-68dc8c00-24ef-11eb-8859-6615bc901c05.png)

Add a default value
![image](https://user-images.githubusercontent.com/47314887/98937707-7a259880-24ef-11eb-92a8-e178c1bc8eb9.png)

R

[2020-11-12 12:44] kkucharc commented on #11642
cc: @kgabryje can you take a look?

[2020-11-12 12:45] kgabryje commented on #11642
Ok

[2020-11-12 13:34] kgabryje commented on #10528
I think it's a backend bug. After making a PUT request to /api/v1/chart/${slice_id} , the modified chart is not returned in the response to Dashboard view (or rather in data-bootstrap which is server-rendered).
@kkucharc Could you take a look?

[2020-11-12 15:26] bharathi26 commented on #11171
Thanks a lot

[2020-11-12 16:34] junlincc commented on #11368
on it @graceguo-supercat @zuzana-vej

[2020-11-12 16:39] kgabryje commented on #11368
@junlincc I don't think I did any changes to those Select buttons, but I'm on it!

[2020-11-12 16:50] zsellami opened #11666 "UK Country Map chart not visible (extremly small in the screen)"
I added a country map UK with UK data but the map is really very small. Any explanation about it ? also the isle of man tooltip text are present when i hoover the cursor on the border of the map.

With other country and other data of country the map are visible.

My superset version is : 0.37.2
Web browser : Chrome, Firefox

### Expected results

what you expected to happen.

### Actual results

w

[2020-11-12 16:59] junlincc commented on #11659
@ktmud getting rid of the table number since it's too confusing, adding snippet.

[2020-11-12 17:10] eugeniamz opened #11668 "New Box Plot ignore Series Limit when selecting "distibuite across"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Environment

(please complete the following information):

- su

[2020-11-12 17:15] eugeniamz opened #11669 "New Box Plot ignore "Series Limit" when selecting "Distribute Across""
Testing new echart Box Plot I notice that when selecting the Distribute Across, it ignores the "Series Limit"

### Expected results

If I select "Series Limit", I should always that number of records
### Actual results
When I select Distribute Across, Series limit is ignored and shows all the data points

#### Screenshots

![2020-11-12_10-54-21 (1)](https://user-images.githubusercontent.com/583758

[2020-11-12 17:18] ktmud commented on #11298
This bug still exists:

Here's a test query to reproduce:

[code]

Create a virtual datasource using this query, use both `metric1` and `metric2` in metrics, and select `dim1` in "Group by"

[2020-11-12 17:19] ktmud commented on #11298
<img src="https://user-images.githubusercontent.com/335541/98973043-16d44000-24c8-11eb-9c29-86892d2c6e3e.png" width="300">

As you can see, the sum for `sum(metric2)` is incorrect. It ignores the last row `dim1 = c` where `sum(metric1)` is null.

[2020-11-12 18:00] kgabryje commented on #11645
@ktmud Got it, sorry for confusion.

[2020-11-12 18:02] #11298 closed

[2020-11-12 18:12] #11668 closed

[2020-11-12 18:25] villebro commented on #11669
Thanks @eugeniamz , I know what the problem is and there's a few solutions, but I need to digest it a little more to find the optimal one.

[2020-11-12 19:24] junlincc commented on #11669
<img width="887" alt="Screen Shot 2020-11-12 at 11 04 11 AM" src="https://user-images.githubusercontent.com/67837651/98986298-90c0f500-24d9-11eb-865a-a3452f99a68e.png">
<img width="896" alt="Screen Shot 2020-11-12 at 11 06 26 AM" src="https://user-images.githubusercontent.com/67837651/98986311-97e80300-24d9-11eb-8681-f27f511a2602.png">

@villebro also, can we show all x axis label by default, like

[2020-11-12 19:54] ktmud commented on #11472
fixed by #11673

[2020-11-12 19:54] #11472 closed

[2020-11-12 21:10] #11593 closed

[2020-11-12 21:16] junlincc opened #11674 "[dashboard properties] multiple issues around dashboard properties color labels"
<img width="1633" alt="Screen Shot 2020-11-12 at 1 02 41 PM" src="https://user-images.githubusercontent.com/67837651/98997228-097b7d80-24e9-11eb-8460-a5897a7a7059.png">

This line chart only has 5 lines^^
When exploring a chart from the dashboard, to preserve the colors in the dashboard all label colors are persisted in the chart metadata, causing lots of unnecessary color metadata in the payload

[2020-11-12 21:46] junlincc opened #11677 "[dashboard properties] metadata saving behavior on SAVE"
![ezgif-3-d5c8ef83fcf9](https://user-images.githubusercontent.com/67837651/98999044-edc5a680-24eb-11eb-9ec5-3826b3ddcfbe.gif)

Actual Behavior:
To see changes made in JSON metadata in Dashboard Properties - Advanced, user needs to click `SAVE`in the modal, and `SAVE` in Dashboard, AND refresh...

Expected Behavior
like edits in other Basic Information fields, when users edit json metadata in Dashb

[2020-11-12 21:48] mistercrunch commented on #11674
+1, let's rip this out. I think the intent was to offer color consistency while going from dashboards to explore, but it wasn't implemented the right way and creates a bunch of metadata in the wrong place.

[2020-11-12 21:51] mistercrunch commented on #11674
If the feature request is to have color consistency through the dashboard->explore flow, it should be implemented by passing a dashboard_id_for_context to explore, and explore can get the dashboard metadata it needs to guarantee that.

I think color consistency on that flow is nice, but not a huge priority given the complexity behind doing this nicely.

Long term solution may be around the SPA (si

[2020-11-12 22:35] villebro commented on #11669
@junlincc: https://github.com/apache-superset/superset-ui/pull/834

[2020-11-12 22:42] john-bodley opened #11680 "Owner names not rendered in React Datasource editor"
### Expected results

The dataset owners should be rendered.

### Actual results

<img width="392" alt="Screen Shot 2020-11-12 at 2 37 42 PM" src="https://user-images.githubusercontent.com/4567245/99004984-d2ab6480-24f4-11eb-97c9-ec36900ea5cd.png">

#### How to reproduce the bug

1. Go to a chart.
2. Click on 'Edit Datasource'
3. Click on the 'SETTINGS' tab
4. Scroll to the bottom and and noticed

[2020-11-12 22:48] john-bodley commented on #11680
@rusackas I believe this regression may be related to a recent change from Preset related to the Antd refactor.

[2020-11-12 22:49] rusackas commented on #11680
@kgabryje

[2020-11-12 22:50] rusackas commented on #11680
Thanks John, will investigate.

[2020-11-12 23:01] junlincc commented on #11680
<img width="871" alt="Screen Shot 2020-11-12 at 2 59 49 PM" src="https://user-images.githubusercontent.com/67837651/99006755-cffe3e80-24f7-11eb-8e35-7c68896bb13e.png">
@john-bodley hey John, im not able to reproduce it, do you have an idea which PR might cause it and when did you first noticed it?

[2020-11-12 23:27] john-bodley commented on #11680
@junlincc unsure. We believe this regression may have been introduced in one of [these changes](https://github.com/airbnb/incubator-superset/compare/release--0.92.2%E2%80%A6airbnb:release--0.93).

[2020-11-12 23:29] graceguo-supercat opened #11681 "[dashboard] Can not remove row inside Tab"
In dashboard, user can not remove a Row component inside a Tab component. But if Row is added without Tab, it could be removed.

#### Screenshots
![MQc0JjOP2y](https://user-images.githubusercontent.com/27990562/99008833-c8d92f80-24fb-11eb-896c-540cd4354936.gif)

### Environment

latest master

### Checklist

Make sure to follow these steps before submitting your issue - thank you!

- [x] I have ch

[2020-11-12 23:33] graceguo-supercat opened #11682 "[dashboard] Can not remove Row inside Tab"
In Dashboard, user can not remove Row component inside a Tab component. But if Row is added into dashboard without Tab, it could be removed.

#### Screenshots
![MQc0JjOP2y-1](https://user-images.githubusercontent.com/27990562/99009071-3c7b3c80-24fc-11eb-902f-398e4599e872.gif)

### Environment
latest master

### Checklist

Make sure to follow these steps before submitting your issue - thank you!

-

[2020-11-12 23:36] #11682 closed

[2020-11-13 00:01] mihir174 commented on #11659
@ktmud that makes sense, and i like the idea of show code snippets in the cards, especially since it's difficult to fit them into list views. i built on the screenshot you provided and modified the layout to be more consistent with the dashboard and chart cards -
<img width="457" alt="Group 32" src="https://user-images.githubusercontent.com/64227069/99011063-135cab00-2500-11eb-83e3-4b979118f9c9.pn

[2020-11-13 00:11] mihir174 commented on #11659
Here's what it could look like on the home page -
<img width="1456" alt="Updated Query Cards@2x" src="https://user-images.githubusercontent.com/64227069/99011791-bc57d580-2501-11eb-9cec-7351ab75e898.png">

[2020-11-13 00:15] junlincc commented on #11681
got it

[2020-11-13 00:35] ckdarby commented on #10285
@graceguo-supercat One of the things I just bumped into today is wanting the ability to not load charts **_until_** the dashboard filter has been applied by the user.

[2020-11-13 00:51] rusackas commented on #11680
I'm not able to repro this either yet. I would try a little `git bisect` action, but I need a failing state to do so. :/

[2020-11-13 01:49] junlincc commented on #11680
@john-bodley could you help narrow it down a bit 🙏

[2020-11-13 02:11] junlincc commented on #11669
👍
let's keep rotate 45 by default for now🙏 we can explore 'smarter' solutions post 1.0.

[2020-11-13 02:59] ktmud commented on #11520
+1 for changing the edit button to open dashboard in edit mode.

[2020-11-13 03:52] mistercrunch commented on #11520
+1 for changing the edit button to open dashboard in edit mode

Also! In dashboard edit mode, consolidate the 2-3 other modals (filter mapping, colors, auto-refresh) under other tabs under "Edit Dashboard Properties", and make that an `Ok` dialog (not `Save`), affect the local redux state, and be kept there until the dashboard's `Save` is hit.

[2020-11-13 04:25] ktmud opened #11688 "[SIP-56] Adopt React Testing Library for testing React components"
## [SIP] Proposal for adopting React Testing Library to test React components

### Motivation

In Sept 2020, [React Testing Library](https://github.com/testing-library/react-testing-library) (RTL) has officially overtaken Enzyme as the most popular React testing library according to [NPM downloads](https://npmcharts.com/compare/@testing-library/react,enzyme?interval=7&log=false). While still widel

[2020-11-13 05:24] junlincc commented on #11520
Also Edit Chart Properties modal please~ 😉

[2020-11-13 05:53] junlincc opened #11689 "[list view]jumping list view when click on sort icons"
![ezgif-3-2c5e487ae82a](https://user-images.githubusercontent.com/67837651/99033897-c8a75700-2530-11eb-9ddf-9cf625e04433.gif)

it happens on all columns, hope that's not intentional
cc: @nytai

[2020-11-13 08:21] zsellami opened #11690 "https://github.com/apache/incubator-superset not containes superset-frontend/src/visualizations/CountryMap/countries"
Hello,

I want to add new countries in the country map tools.
The official documentation give a procedure to do that in https://superset.apache.org/docs/miscellaneous/country-map-tools

But I don't retrieve the folder **superset-frontend/src/visualizations/CountryMap/countries** and the file **superset-frontend/src/explore/controls.jsx** in the official github of the project.

How to do it ? I wan

[2020-11-13 09:42] kgabryje commented on #11651
@ktmud Do you think that looks better? I decreased margin for item group title and increased margin for the last element of item group.
![image](https://user-images.githubusercontent.com/15073128/99058035-e6120a80-259c-11eb-8c05-acf891267c6e.png)

[2020-11-13 09:57] robinbakkerdemcon opened #11694 "Loading custom 'Viz' plugin"
Hello,

Recently I have started setting up Apache Superset and to archieve what I am looking for (a custom table view) I want to make a plugin. I have followed this tutorial (maybe 4 times) https://preset.io/blog/2020-07-02-hello-world/

When I follow this tutorial and write `npm run dev-server`  it will start the dev-server at: http://localhost:9000. It perfectly loads my plugin, but the problem

[2020-11-13 11:31] robinbakkerdemcon commented on #11694
Further I would like to mention that this issue is nearly the same as issue #10433 . Running `npm run prod` also throws the following error:
![image](https://user-images.githubusercontent.com/74405562/99068040-10b78f80-25ac-11eb-9f0b-24bd4b6fc780.png)

I have tried every solution from this issue (copying it manually instead of npm link, deleting node_modules etc.).

[2020-11-13 12:04] kakoni commented on #11658
Ping @villebro Any comments?

[2020-11-13 12:27] villebro commented on #11658
Thanks @kakoni for reporting and sorry for missing the first ping. Let me try to repro and come up with a fix.

[2020-11-13 13:35] eugeniamz opened #11696 "Scatterplot deck.gl, header of point size popup does not change when field is changed"
When changing the point size field of a scatterplot deck.gl, the header of the popup menu does not get changed what can create confusion.
### Expected results
When changing a field, the header should be updated accordingly
### Actual results
When changing a field the header does not change, but the query is constructed correctly.

#### Screenshots

![2020-11-13_08-26-34 (1)](https://user-images.gi

[2020-11-13 14:21] ckdarby commented on #10285
@graceguo-supercat I wanted to provide additional feedback to this SIP & to the community to understand our frustration as a user of Superset with the disconnect between charts and the filters.

One of the major issues that we struggle with is we define our generic charts with nearly no filters and then apply the filters only from the dashboard perspective to allow all our charts to interactively

[2020-11-13 14:37] GiannisDimitriou opened #11697 "[Table Viz] Duplicate Columns (Percentage Metric)"
Whenever the name of the Percentage Metric is the same as the name of the Sort By column then a duplicate column for the Percentage Metric appears

Workaround:
Change the column name of the Percentage Metric field

#### Screenshots

![image](https://user-images.githubusercontent.com/47314887/99083312-0b6b3c80-25ce-11eb-959d-6fc12f904c80.png)

#### How to reproduce the bug

1. Create a Table Viz
2.

[2020-11-13 14:40] kakoni commented on #11658
Perhaps you don't even need do this is_numeric_dtype check? (I mean now the function is bit of a black box when it changes aggfunction into max)

[2020-11-13 14:45] villebro commented on #11658
@kakoni there was some very clever reasoning behind it, but I can't remember what it was 😄  It would be really helpful if you could summarize your own expectations of how the summary row should handle non-numeric data, and I'll try to use that to write some unit tests to develop against.

[2020-11-13 14:57] GiannisDimitriou commented on #10373
@villebro is this issue fixed?

I am experiencing a similar issue, when the `Group By` column has null value it is not displayed at all.

I can open a new ticket if this is a different issue after all
![image](https://user-images.githubusercontent.com/47314887/99085598-0f4c8e00-25d1-11eb-99f7-b3986e4fbc0f.png)

[2020-11-13 15:34] junlincc commented on #11681
https://github.com/apache/incubator-superset/pull/11691 @graceguo-supercat ready for you review, 8 hours from reporting, not too bad right? 😉

[2020-11-13 15:51] junlincc commented on #11697
thanks for reporting! we prioritize issues based on their severity, we may take a couple weeks to get to this one.

[2020-11-13 16:07] junlincc commented on #11696
to add on it, the dropdown is all messed up in the point size field.
I can't think about a good candidate to work on these issues now, maybe it's time to open up tasks around data viz to the rest of team, since half of the charts have all sorts of different issues. @mistercrunch
<img width="333" alt="Screen Shot 2020-11-13 at 8 04 28 AM" src="https://user-images.githubusercontent.com/67837651/9909

[2020-11-13 17:26] ktmud commented on #11651
Looks good! Thanks for taking on this.

[2020-11-13 17:57] nytai commented on #11689
This is mainly due to us using the `auto` table layout that has some variation based on the content of each column. The only solution that comes to mind would be to switch over to using a `fixed` table layout with column widths based on percent values. We'd have to make quite a few changes and figure out what percent values to assign to every column in each of the list views we've already implemen

[2020-11-13 18:53] mistercrunch commented on #11694
@rusackas

[2020-11-13 19:01] nytai commented on #11520
Looks like the portion about the strange saving behavior on the properties modal is covered by https://github.com/apache/incubator-superset/issues/11677

[2020-11-13 19:26] ktmud commented on #11659
@mihir174 thanks for the updates! Any reason to give the query snippet a gray background? Currently it kind of blends too well with the page background.

I like the new icons for charts in the Recents section! Much more distinguishable than current icon.

Looking at this page more, I'd like to make a couple of more suggestions for your consideration: @junlincc @mistercrunch

1. Should we move the

[2020-11-13 20:19] junlincc commented on #11659
1. +1 on moving charts above saved queries, but i know some companies are heavy users of SQL lab and they may want to prioritize saved queries info.
2. we can certainly consider it, given enable thumbnails is such a pain....
3. totally agree to keep the consistent. i voiced that before as well
4. need design input. @mihir174

[2020-11-13 20:37] nytai commented on #11523
Carrying on the discussion from the meetup, let's try to explore a version of cards that's still useful even when thumbnails are not enabled. Disabling entire views because of a lack of thumbnails could lead to vastly different superset experiences which I  don't think is desirable.

We could start by removing the entire thumbnail section and just render the bottom portion as a start, when `THUMBN

[2020-11-13 20:45] rusackas commented on #11694
Hmmm... I haven't personally run into this, so I don't have a good answer without doing some investigation, but I'm glad the plugin process itself is working!

My _suspicion_ is that you'll have to dig into `incubator-superset`'s `webpack.config.js` to move away from `localhost` and port `9000`.

The alternative, if you have superset running for you in other circumstances, would be to go further t

[2020-11-13 22:09] prb219 opened #11699 "Disable authentication in Superset"
Hi,
I have been trying to to disable authentication from Superset as it is redundant in our situation. So far I have tried setting the below fields in the superset config file but it does not solve the issue.

_PUBLIC_ROLE_LIKE_GAMMA = True
AUTH_ROLE_PUBLIC = 'Public'_

Can someone please guide me on this?

Superset version in use: 0.37.2

[2020-11-13 23:01] junlincc commented on #11659
good one! 😆 @mihir174 please take that into consideration

1. I personally like the idea of moving chart section above saved queries, but it really depends on the users. there are companies that rely heavily on SQL lab and not so much charting. ideally, we should allow user to decide the order.
2. @nytai I believe Tai is working on the solution. but I agree we should provide that option on the wel

[2020-11-14 11:28] duynguyenhoang opened #11705 "[filter]Display label(value in different column) when filtering a specific column"
**Is your feature request related to a problem? Please describe.**

Currently selection box in FilterBox only filter by value from Column configuration. It would be nice to have label and value in configuration and in FilterBox render. Let assume we have merchant_name and id_merchant, we want to show merchant_name but when filter we filter by id_merchant.

**Describe the solution you'd like**

* T

[2020-11-15 01:17] IronOnet commented on #11612
Im also facing the same issue on windows, im really waiting for help, i can't run my superset instance!!

[2020-11-15 05:41] lilila commented on #11697
@GiannisDimitriou , as a quick workaround you can simply add a label to the sort field.

1. Duplicate columns
<img width="864" alt="Screenshot 2020-11-15 at 06 38 34" src="https://user-images.githubusercontent.com/607430/99177830-6e172200-270d-11eb-8d94-ea9b1eaa0c93.png">

2. Add label to the field you want to use to sort
<img width="863" alt="Screenshot 2020-11-15 at 06 38 55" src="https://user-i

[2020-11-15 06:53] rusackas commented on #11688
While I don't have RTL experience (yet!), this seems promising, so I certainly support the experiment(s) noted in your migration plan.

I'd also like to take a moment to advocate for putting components in directories, with their test files alongside them. Having the component, the styles, the tests, and the storybook stories all in one folder will make things MUCH easier to maintain, I believe.

[2020-11-15 14:02] korridor opened #11706 "Missing error message for importing a table definition for an empty or non-existing table"
I do not get a real error message when I try to import a table definition for an empty or a non-existing table.

### Expected results

I expected an english error message, that describes the problem.

### Actual results

I got the following error message: "'table'" (See screenshot)

#### Screenshots

<img width="1299" alt="Screenshot 2020-11-12 at 14 56 06" src="https://user-images.githubuserconte

[2020-11-15 20:48] mistercrunch commented on #11688
+1, looked at the examples and it seemed sane to me. I'd say we don't enforce it as much as simply favoring it for a phase ahead in a transitional period. Maybe in a few months we evaluate whether we want to more actively enforce / migrate.

[2020-11-16 01:51] benceorlai commented on #11478
Hi @zuzana-vej

i have created a wireframe for a potential solution. Please see this Miro board called [Improved UX for editing dataset in Explore](https://miro.com/app/board/o9J_lenyrE4=/) for the whole experience. The **password** for the board is `super_set`

![Improved UX for editing datasets in Explore - 1  User opens chart in Explore](https://user-images.githubusercontent.com/8263072/9920449

[2020-11-16 07:10] villebro commented on #10373
@GiannisDimitriou please open a new ticket if this problem persists in master branch or the latest released version.

[2020-11-16 10:59] krishna9626 opened #11710 "Dashboard/Chart emails scheduled is not working"
### Expected results

The mail should be received once scheduled

### Actual results

While debugging, Succeeded status on log

#### Screenshots

![issu1](https://user-images.githubusercontent.com/36255856/99245252-4cab5880-2829-11eb-8eef-98901f53d54f.PNG)
![issu3](https://user-images.githubusercontent.com/36255856/99245256-4ddc8580-2829-11eb-870d-eec3bc3e5a94.PNG)

#### How to reproduce the bug

[2020-11-16 13:20] robinbakkerdemcon commented on #11694
Hello and thanks for the response. I have edited the `webpack.config.js` and edited the following line:

[code]

But when I run `sudo npm run dev-server` it will listen on http://localhost:9000 again. Is there also a tutorial for building my plugin as module and then importing it from (a locally hosted??) NPM server to superset?

[2020-11-16 15:28] junlincc commented on #11710
@benceorlai

[2020-11-16 15:30] #11697 closed

[2020-11-16 15:57] dpgaspar commented on #11710
Hi @krishna9626, on the logs it seems you have `dry run enabled` can you confirm?

[2020-11-16 15:57] junlincc commented on #11706
@benceorlai

[2020-11-16 16:07] junlincc commented on #11681
<img width="1395" alt="Screen Shot 2020-11-16 at 8 06 40 AM" src="https://user-images.githubusercontent.com/67837651/99277512-bbb18e80-27e2-11eb-9c08-92994c793fdc.png">
tested all good. closing

fix by [#11691 ](https://github.com/apache/incubator-superset/pull/11691)

[2020-11-16 16:07] #11681 closed

[2020-11-16 16:12] junlincc commented on #11642
<img width="936" alt="Screen Shot 2020-11-16 at 8 11 30 AM" src="https://user-images.githubusercontent.com/67837651/99277980-5b6f1c80-27e3-11eb-9143-6c48cf62981d.png">

looking good~ closing

[2020-11-16 16:12] #11642 closed

[2020-11-16 16:48] benceorlai commented on #11706
hi @korridor

i can't tell with certainty what might be causing this but as a first step i'd suggest you use the official docker image

![image](https://user-images.githubusercontent.com/8263072/99281668-a55a0180-27e7-11eb-94b2-a91f26903f2d.png)

Instructions to install using docker-compose --> https://superset.apache.org/docs/installation/installing-superset-using-docker-compose

Please let us kn

[2020-11-16 16:51] mistaanthony opened #11713 "Inline script execution and styling in superset violating content security policy"
Using Superset frontend in environments that enforce strict content security policies, for example <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' "> which blocks the use of inline css and JavaScript causes some elements not to be rendered, including data visulisations.

Ref: https://developers.google.com/web/fundamentals/security/csp#inline_code_is_considered_

[2020-11-16 17:41] mistercrunch opened #11715 "SQL Lab problems displaying buttons in toolbar and icons in table context menu"
On latest `master`, notice 2 issues related to right-floating controls
- on toolbar
- in the table on-hover context menu

<img width="1561" alt="Screen Shot 2020-11-16 at 9 39 01 AM" src="https://user-images.githubusercontent.com/487433/99287909-b9096600-27ef-11eb-812b-60775a03f9ff.png">

[2020-11-16 17:50] junlincc commented on #11715
<img width="917" alt="Screen Shot 2020-11-16 at 9 48 28 AM" src="https://user-images.githubusercontent.com/67837651/99288954-2d90d480-27f1-11eb-8730-701279539840.png">
might related?

[2020-11-16 18:40] zuzana-vej commented on #11478
Thanks @benceorlai  for sharing the proposed designs! I assume these will be used for both editing dataset, as well as in future, for when user is editing metrics, or calculated columns (which still impacts all datasets).

In the meanwhile, @graceguo-supercat has a solution aligned to the discussion from the meetup and some of above notes, specifically only for the data source tab:
_when user open

[2020-11-16 18:46] graceguo-supercat commented on #11478
Hi @benceorlai i feel the dataset edit flow will look like this:
- when user open Source tab, by default all the table/schema name should be read-only
- there will be a padlock, click it to enter edit mode
- When user start to edit, i think the extra warning and number of charts shared message will make more sense. Otherwise, whenever user open dataset editor, even when they just want to read data

[2020-11-16 21:02] prb219 opened #11716 "Unable to use Oracle DB as the datasource"
Hi,

I am trying to use Oracle DB as the data source for superset but the connection to the Data base fails with a very generic error message. I have the tried connecting to the Oracle DB using a 'SqlPlus' client from the same host using the same credentials and that connects without any issues.
This is the connection string that I am using to connect to Oracle DB:
`oracle://<username>:<password>@

[2020-11-16 21:10] suddjian commented on #11688
I have not used RTL but have looked at their docs and agree with their testing philosophy.

[2020-11-16 21:13] villebro commented on #11688
I agree with everything said here, +1 for going ahead with implementing RTL and seeing where it takes us.

[2020-11-16 21:31] benceorlai commented on #11478
hey @graceguo-supercat and @zuzana-vej do you have an illustration of your proposed solution? (I will be glad to create wireframes!) i have the following questions:
- There are two entry points to editing a Dataset: 1) from the top menu Data > Datasets 2) from Explore > Edit datset. Would the proposed "locking mechanism" apply to both experiences?
- Editing the table/schema and the fields/metrics

[2020-11-16 22:33] junlincc opened #11721 "[dashboard]filter mapping modal cosmetic issues"
<img width="693" alt="Screen Shot 2020-11-16 at 2 24 28 PM" src="https://user-images.githubusercontent.com/67837651/99315874-38ab2b00-2818-11eb-84af-600a05156cfe.png">

1. checkbox and label alignment
2. line overflow
3. "Collapse all" and Search bar overlap - move search bar to separate line maybe?
4. section divider
5. button position - move both to the bottom right, change "CLOSE" to "CANCEL"

[2020-11-16 22:42] graceguo-supercat commented on #11478
1) Yes the proposed "locking mechanism" apply to both entry points.
2) yes, i prefer to have extra protection for editing `Source`(with table/schema). So that only `Source` tab have read-only mode and padlock.
3) currently datasource owners do not have extra permission. we (airbnb team) are thinking about adding additional constraints, for example only `admin` role can change schema or table, but

[2020-11-16 22:45] thomasrockhu commented on #9930
Bump on this

[2020-11-16 23:07] junlincc commented on #11688
i can't speak technical, but i know @ktmud is proposing what he thinks that's the best for Superset, so +1 :)

[2020-11-16 23:09] #11468 closed

[2020-11-16 23:14] junlincc commented on #11664
https://github.com/apache/incubator-superset/pull/10687 supposed to fix this issue by 0.37.2, but I'm still seeing it happen in master.

[2020-11-16 23:37] john-bodley commented on #11680
@junlincc I'm going to see if the issue is present in our internal weekly deploy which occurs on Wednesday. If it's resolved it's likely our last week branch cut did not contain the commit and I'll close the issue, otherwise I'll dig into this in more detail.

[2020-11-17 00:56] mihir174 commented on #11659
@ktmud long titles are gonna be treated like the dashboard and chart cards - they will be truncated and the user will be able to see the whole title on hover

here's a mockup:
<img width="668" alt="Slice 1" src="https://user-images.githubusercontent.com/64227069/99326176-a2353480-282c-11eb-8f69-0bef36156ca9.png">

and here's an example of dashboard cards with long titles:
![Frame 241](https://user

[2020-11-17 01:51] junlincc commented on #11368
i dont think so either! then the next person who touched this area was Jesse maybe 😆 but thank you @kgabryje for the fix.🙏
tested, all good!
![ezgif-6-96a705d00f6f](https://user-images.githubusercontent.com/67837651/99329979-42428c00-2834-11eb-8a00-a2e8a8ebb81e.gif)

[2020-11-17 01:51] #11368 closed

[2020-11-17 01:56] junlincc opened #11723 "[style]font A!"
Now:
<img width="251" alt="Screen Shot 2020-11-16 at 5 50 10 PM" src="https://user-images.githubusercontent.com/67837651/99331521-cb59c300-2834-11eb-8b96-6d103193d6b4.png">
<img width="373" alt="Screen Shot 2020-11-16 at 5 52 46 PM" src="https://user-images.githubusercontent.com/67837651/99331665-d57bc180-2834-11eb-988f-e9a31dec1457.png">
<img width="674" alt="Screen Shot 2020-11-16 at 5 52 52 PM"

[2020-11-17 02:16] junlincc commented on #11715
@yousoph the bug is fixed, but the left panel still seems too crowded. I think the sql editor doesn't need that much of the space, but your call!
<img width="320" alt="Screen Shot 2020-11-16 at 6 15 44 PM" src="https://user-images.githubusercontent.com/67837651/99337774-c64a4300-2837-11eb-8939-b99849f6b347.png">

[2020-11-17 02:16] #11715 closed

[2020-11-17 02:42] junlincc commented on #11659
<img width="418" alt="Screen Shot 2020-11-13 at 5 52 52 PM" src="https://user-images.githubusercontent.com/67837651/99339034-3954b900-283a-11eb-800e-131b71e29999.png">

i understand that showing title is important to your users. if we don't truncate long title, then the card will look really overloaded and no longer serve their purpose as an information overview. @ktmud

[2020-11-17 03:12] willbarrett commented on #11568
Closing as resolved.

[2020-11-17 03:12] #11568 closed

[2020-11-17 03:17] willbarrett commented on #11713
I fear that creating a system of data visualizations with no inline CSS will be impossible. We will take this under advisement as a possible future enhancement to the platform.

[2020-11-17 03:20] willbarrett commented on #11699
Superset requires user-based access roles to function. You could investigate creating a custom implementation of the SecurityManager class in order to integrate with your existing auth provider, but Superset does not support an authentication-less deployment.

[2020-11-17 03:21] willbarrett commented on #11664
Closing as resolved, please re-open if the issue continues.

[2020-11-17 03:21] #11664 closed

[2020-11-17 03:26] willbarrett commented on #11706
Closing as the bug is not related to an official Apache release.

[2020-11-17 03:26] #11706 closed

[2020-11-17 03:32] willbarrett commented on #11620
I'm sorry, I can't help you fix this issue immediately. I can tell you that the Email Reports and Alerts functionality in Superset is currently undergoing a ground-up rewrite. We hope to provide a better experience in a future version. Neither of these features was truly ready for prime-time, and we're going to be substantially improving the quality here in the near future.

[2020-11-17 03:41] willbarrett commented on #11585
@nytai @dpgaspar this might be good to address in the new Query Search system.

[2020-11-17 04:54] ktmud commented on #11659
What do you mean it doesn't serve its purpose?

[2020-11-17 05:02] krishna9626 commented on #11710
@dpgaspar Yes it is enabled.

[2020-11-17 05:18] mistercrunch opened #11725 "SQL Lab: widen left panel, limit type width"
_I used the feature to create issue from comment on GitHub_, bypassed the template

@yousoph the bug is fixed, but the left panel still seems too crowded. I think the sql editor doesn't need that much of the space, but your call!
<img width="320" alt="Screen Shot 2020-11-16 at 6 15 44 PM" src="https://user-images.githubusercontent.com/67837651/99337774-c64a4300-2837-11eb-8939-b99849f6b347.png">

_

[2020-11-17 05:22] mistercrunch commented on #11725
Some ideas:
- increase the left panel width by ~33%?
- map long type names like `TIMESTAMP WITHOUT TIME ZONE` to something like `TIMESTAMP...` with details on hover?

[2020-11-17 05:23] #11723 closed

[2020-11-17 05:37] junlincc commented on #11725
@mihir14 what's the width are you setting? for the left panel in Explore(Data type fields + control)?
i suggest to keep the left panel spaces in Explore and SQL lab the same!
@mistercrunch

[2020-11-17 05:48] junlincc commented on #11659
@mihir174 @pkdotson I don't think _**see title on hover**_ is implemented on any cards, please make sure .........

[2020-11-17 06:05] junlincc commented on #11659
if you say that showing a veeeeeeeerrrrrrrrrrrryyyyyyyyyyyyyyyy long full title is what users are looking for, and that's why we should change the design, I may agree we should reconsider it!
What you are suggesting here is that we MUST display the long title even though it could compromise the snippet content,,, and having different query card layouts looks OK...hm... I see what you mean, but I'm

[2020-11-17 06:40] mistercrunch commented on #11725
For explore it's a responsive grid. For SQL Lab it's fixed I think

[2020-11-17 07:33] ktmud commented on #11659
I don't have a strong opinion on whether the title should be truncated here as it's less a data accuracy issue here than on dashboards and the titles are less likely to be very long or have similar prefixes anyway.

[2020-11-17 07:35] ktmud commented on #11659
I think it's OK to just show an HTML title attribute. Tooltip might be a little too heavy in this case, especially if most titles don't truncate.

[2020-11-17 07:45] ktmud commented on #11725
We should make both resizable just like the SQL editor + result pane. Was actually working on that over the past weekend.

[2020-11-17 07:50] rusackas commented on #11659
The real perk of the tooltip in my view is that it displays a bit faster than the html title. That makes it a little more discoverable to those with cursors, even if perhaps it's less accessible from an a11y standpoint. So... I guess it's kind of a tossup :)

[2020-11-17 09:02] scriminaci commented on #11167
Hi! I think this would be a significant improvement. We currently export dashboards and we manipulate the output JSON to be able to recreate them for a different database (we provide the same dashboards to different customers). So basically we are using the exports as templates.

Another thing that is relevant and not supported in the import now is to use different databases in the same dashboard

[2020-11-17 09:52] zufolo441 commented on #11690
Hi,
maps are now in
superset-frontend/node_modules/@superset-ui/legacy-plugin-chart-country-map/esm/countries/
you have to add them to index file:
superset-frontend/node_modules/@superset-ui/legacy-plugin-chart-country-map/esm/countries.js
and in listbox:
superset-frontend/node_modules/@superset-ui/legacy-plugin-chart-country-map/esm/controlPanel.js
and then recompile launching:
npm run dev
from
s

[2020-11-17 09:57] zufolo441 commented on #11666
Usually it happens when the map has a very far overseasy territory. Search for some island near the edges.

[2020-11-17 13:05] zhaoyongjie commented on #11688
With the use of React hook components, it seems that we need to find a test framework that is more friendly to effectHook, so +1

[2020-11-17 14:59] robinbakkerdemcon commented on #11694
Alright so I have been busy with this problem again. Now, I have installed a desktop environment on the machine rnning Superset and through VNC I can access the dev server that is running locally, I verify this because the browser tab shows [DEV]. I have tried to use the plugin now and the command `npm run dev-server` correctly shows

![image](https://user-images.githubusercontent.com/74405562/994

[2020-11-17 16:18] scriminaci commented on #10285
This would be a huge improvement to the user experience. It would also make it possible to fix the filter while scrolling in the dashboard.

Another great thing should be to save filter combinations. Sometimes users create complex filter combinations and they would like to look at data by repeating a previous filter configuration.

[2020-11-17 16:53] junlincc commented on #11725
can we coordinate to make that change?

[2020-11-17 17:01] junlincc commented on #10285
it's happening!

[2020-11-17 17:19] nytai commented on #11462
I believe this was addressed in https://github.com/apache/incubator-superset/pull/11618 which also raised a few other issues

[2020-11-17 17:35] ktmud commented on #11725
It was just an idea I've been wanting to do for a while but never committed to doing it. Feel free to create another github issue or roadmap item if you feel it's necessary.

[2020-11-17 18:20] benceorlai commented on #11689
Added to the roadmap in the 1.0 Hardening & Polish backlog

https://github.com/apache-superset/superset-roadmap/projects/1#card-49550172

[2020-11-17 19:22] matthew-mcdermott commented on #11363
In my case the postgres database is failing, not sure if this is the cause for you, as well.

`$ kubectl -n superset logs superset-postgresql-0
postgresql 19:12:44.91
postgresql 19:12:44.91 Welcome to the Bitnami postgresql container
postgresql 19:12:44.92 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-postgresql
postgresql 19:12:44.92 Submit issues and feature

[2020-11-17 19:26] matthew-mcdermott commented on #11363
In my case the database never set up correctly, which I would think could cause some issues.

postgresql 19:12:44.91
postgresql 19:12:44.91 Welcome to the Bitnami postgresql container
postgresql 19:12:44.92 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-postgresql
postgresql 19:12:44.92 Submit issues and feature requests at https://github.com/bitnami/bitnami-doc