[2022-03-16 02:35] leafant commented on #18095
This issue still exist in 1.4.1.

[2022-03-16 02:36] leafant commented on #18095
This issue still exist in 1.4.1.

[2022-03-16 03:37] yueyuc commented on #19026
ohh,I found them through the sqllite file

[2022-03-16 09:15] nikhil-kuyya commented on #19109
i have facing this issue when authenticating with okta, seen this logs
`Error returning OAuth user info: missing_token:` followed by `'MSDialect_adodbapi' has no attribute 'dbapi'`

[2022-03-16 10:47] jaimefr commented on #18774
@alexamy @zhaoyongjie this is a bug from version 1.4.1 that will be resolved in the next release? I am facing the same issue and I don't even have the Contribution mode = Row option

[2022-03-16 10:52] alexamy commented on #18774
@jaimefr Hi! I'm using docker compose for local installation, installation guide: https://superset.apache.org/docs/installation/installing-superset-using-docker-compose/.
You need to pull latest docker images with command `docker-compose -f docker-compose-non-dev.yml pull`.

I saw updated version of contibution mode after perfoming these steps.

[2022-03-16 13:31] ValentinC-BR commented on #19026
Same here...

Here is my environment :
* Browser type and version: Google Chrome Version 99.0.4844.51 (Oficial build) (x86_64)
* Superset version: 1.4.1
* Python version: 3.8.12
* Node.js version: doesn’t apply, I run on Kubernetes, using gunicorn as server
* Source : AWS Athena
* Any feature flags active: ALERT_REPORTS, ENABLE_TEMPLATE_PROCESSING, DASHBOARD_NATIVE_FILTERS

[2022-03-16 13:43] cccs-Dustin commented on #19119
After some investigation, it turns out that the issue we were running into can be solved one of two ways. The first of the two ways is to cast the variable in the virtual dataset SQL statement to avoid it being assigned the wrong data type.

The second way to avoid the issue mentioned in the use case was actually solved by this PR: https://github.com/apache/superset/pull/17360/files. Instead of ha

[2022-03-16 13:51] mdiep-cese commented on #19124
I have the same issue with this. This seems to happen only with the dashboard that I created; and not with the example dashboards (e.g., the one that comes with docker build).

[2022-03-16 14:20] srinify commented on #19118
Hey @NithiKrishK it looks like you're using Windows. Superset isn't supported on Windows at the moment (even using WSL) and I wonder if the file can't be found because of this issue.

[2022-03-16 14:20] #19118 closed

[2022-03-16 15:32] LanceRadioactive opened #19171 "Replicate Table vis features in Pivot Table v2"
**Is your feature request related to a problem? Please describe.**
Pivot Table v2 appears to be unfortunately unoptimized for viewing large swathes of data. In our experience with viewing monthly breakdowns (resulting in ~30k series) Superset and the underlying database can aggregate and provide a dataset reasonably quickly; but the resulting table forces the browser to hang as soon as it is promp

[2022-03-16 16:23] zuzana-vej commented on #13419
It's open for over a year; is this still relevant / anyone plans to work on it? @ktmud @Red-0111 ?

[2022-03-16 16:24] graceguo-supercat commented on #6774
Superset started to use eChart library.

[2022-03-16 16:25] zuzana-vej commented on #13405
If you are still facing this bug, please reopen with details - thank you

[2022-03-16 16:25] #13405 closed

[2022-03-16 16:25] #15763 closed

[2022-03-16 16:26] srinify commented on #15782
Tagging @dpgaspar

[2022-03-16 16:26] rusackas commented on #6997
I think we can close this proposal for now after an extended period of inactivity. Some of this is potentially being addressed in forthcoming proposals from @kasiazjc and @jess-dillard

[2022-03-16 16:26] #6997 closed

[2022-03-16 16:27] zuzana-vej commented on #13396
If you are still facing this issue on latest version, please reopen.

[2022-03-16 16:27] #13396 closed

[2022-03-16 16:27] srinify commented on #15754
@rubenssoto thanks for submitting! Moving this feature request to Github Discussions so we can keep Issues focused on bugs!

[2022-03-16 16:28] ktmud commented on #13419
Yes, we still need to do this. It should be easier to do now that everything is in one monorepo.

[2022-03-16 16:29] zuzana-vej commented on #13392
@eohulse there has been lot of fixes / improvements to the alert/report features. If you are still facing the same error on latest version please reopen or file new ticket. Thanks!

[2022-03-16 16:29] #13392 closed

[2022-03-16 16:29] geido commented on #13635
Hello @cccs-jc this seems to work as intended in master. Please have a look. I will close this issue for now. Thanks

[2022-03-16 16:29] #13635 closed

[2022-03-16 16:30] #8167 closed

[2022-03-16 16:31] srinify commented on #15736
Closing for now since we believe this has been fixed. Please re-open with new reproduction instructions (ideally using sample dashboards / datasets) if it hasn't been fixed @PowerPlop @jianxia84

[2022-03-16 16:32] graceguo-supercat commented on #8241
dashboard color theme and color label feature is updated refactored. close this issue.

[2022-03-16 16:33] zuzana-vej commented on #13386
Github issue triaging:: bug still there (latest screenshot)

[2022-03-16 16:35] graceguo-supercat commented on #8690
close this issue since no recent follow up.

[2022-03-16 16:35] #8690 closed

[2022-03-16 16:35] srinify commented on #15728
Hey @Riskatri converting to a Discussion so hopefully someone in the community can help you debug this!

[2022-03-16 16:37] zuzana-vej commented on #13328
@Riskatri  are you still experiencing this issue? Noticed this is over a year old report. Please confirm - thanks!

[2022-03-16 16:37] graceguo-supercat commented on #9182
close this since no recent follow-up.

[2022-03-16 16:37] #9182 closed

[2022-03-16 16:38] graceguo-supercat commented on #9223
close this since no recent follow-up.

[2022-03-16 16:41] srinify commented on #15687
Converting to Discussion since it's a feature request / area of improvement!

[2022-03-16 16:41] rusackas commented on #19103
cc @betodealmeida @eschutho who have a fair bit of context here.

[2022-03-16 16:41] zuzana-vej commented on #13295
This looks resolved; if you still have a feature request @Riskatri please open an Idea under Discussion section.

[2022-03-16 16:41] #13295 closed

[2022-03-16 16:42] zuzana-vej commented on #13290
@prb219 , please reopen if you are still facing this on latest version.

[2022-03-16 16:42] #13290 closed

[2022-03-16 16:43] geido commented on #13612
Closing in favour of #13968

[2022-03-16 16:44] zuzana-vej commented on #13267
@one-data-cookie @madhamanchiharsha please reopen this ticket/file new ticket if you are still facing the same issue on the latest version / master

[2022-03-16 16:44] #13267 closed

[2022-03-16 16:48] kgabryje commented on #19151
That's correct, pivot table type control has been replaced by conditional formatting. We also added a migration script to make the transition smoother (cc @villebro)

[2022-03-16 16:50] #12769 closed

[2022-03-16 16:51] rusackas commented on #19094
Assigning this to @ktmud just because they're working working on replacing this code editor, so this problem should naturally go away in due time.

[2022-03-16 16:52] graceguo-supercat commented on #10166
close this since no recent follow-up.

[2022-03-16 16:52] #10166 closed

[2022-03-16 16:53] zuzana-vej commented on #12768
Can you please confirm you are still facing this bug / close it not --thanks!

[2022-03-16 16:57] filipposampligo commented on #19109
For anyone looking for a temporary solution to being able to create custom views and explore data, I suggest connecting all your databases to Trino and saving queries as tables to use in Superset.

[2022-03-16 16:57] zuzana-vej commented on #12741
@adam-stasiak can you please confirm you are still seeing the bug on latest version / master or close if not? Thank you

[2022-03-16 16:58] zuzana-vej commented on #12691
@mariotalavera  please reopen if you are still facing this issue

[2022-03-16 16:58] #12691 closed

[2022-03-16 16:58] graceguo-supercat commented on #10701
close this since no recent follow-up

[2022-03-16 16:58] #10701 closed

[2022-03-16 17:00] #12688 closed

[2022-03-16 17:49] Narendra678 opened #19221 "Not able to export few reports"
Hi Team,

I am not able to export few reports.

Got below error log. Can someone please advise.

Version 1.3.1
It has multiple datasets

Traceback (most recent call last):
File "/layers/google.python.pip/pip/lib/python3.7/site-packages/flask_appbuilder/api/__init__.py", line 85, in wraps
return f(self, *args, **kwargs)
File "/workspace/superset/views/base_api.py", line 85, in wraps
raise ex
File "

[2022-03-16 18:01] Narendra678 opened #19222 "Import is not working: An error occurred while importing dashboard: Import dashboard failed for an unknown reason"
Hi Team,

I am trying to import dashboard getting below error.
An error occurred while importing dashboard: Import dashboard failed for an unknown reason

Note: when try to import i can see dataset added
when i try to import chart it is working.
I am able to import other reports

Regards,
Naren

[2022-03-16 18:43] cccs-rc commented on #19058
Hi, @zhaoyongjie . I stumbled across this issue while I was in the process of manually cleaning up these tables for this exact reason! We've renamed our DB connections several times and the permissions have never been cleaned up, which means they continue to appear as options in the "Edit Role" view. It's a minor annoyance for admins.

Running ```superset init``` doesn't clean anything up for us (

[2022-03-16 19:00] betodealmeida commented on #19103
Ah, thanks for the report, @EBoisseauSierra! I'll take a look.

[2022-03-16 19:04] Shubham21k commented on #19151
@kgabryje Is there a way to perform `row formatting`(Pivot table type : table row heatmap) in v1.4.0

[2022-03-16 19:28] hashbash opened #19224 "deck.gl Multiple Layers doesn't work"
deck.gl Multiple Layers doesn't work

#### How to reproduce the bug

1. Go to Scatterplot chart from examples
2. Change visualisation type to `deck.gl Multiple Layers`
2. Select `Screen Grid` chart in menu `DECK.GL CHARTS` and `Run query`
4. See error

### Expected results

Map with multiple layers

### Actual results

Empty screen

#### Screenshots

![Screen Shot 2022-01-19 at 21 45 40](https://u

[2022-03-17 00:05] eschutho commented on #19124
Hi @Narendra678 do you have any logs that you can share?

[2022-03-17 01:07] vnktsh commented on #15733
I have same issue, both in New and LegacyDataEditor.

[2022-03-17 02:46] #19008 closed

[2022-03-17 05:52] nikhil-kuyya commented on #17227
i understanding this and tested in my forked repo.

- DASHBORAD_RBAC : True
- User has acess to datasets or alpha role kind.
- If admin published the dashboard alpha role user can see the dashboard in dashboard list view page but not able to view the dashboard in /dashboard/<idorslug>
- If the role to the dashboard for the alpha is given then only able to view the dashoard in `dashboard/<idorslug>

[2022-03-17 06:42] marshell0 commented on #2580
session = requests.session()
login_url = "http://<superset_server>:8088/api/v1/security/login"
login_data = {'username': 'xxx_user', 'password': 'xxx_pass', 'provider': 'db', 'refresh': True}
response = session.post(url=login_url, json=login_data)
Then you can obtain csrf_token from response, and use it as a key for you following request

[2022-03-17 06:55] melnikovmaksimv commented on #19103
@betodealmeida i find where bug and fix it
superset\datasets\commands\export.py

`
 @staticmethod
    def _export(model: SqlaTable) -> Iterator[Tuple[str, str]]:
        database_slug = secure_filename(model.database.database_name)
        dataset_slug = secure_filename(model.table_name)
        file_name = f"datasets/{database_slug}/{dataset_slug}.yaml"

        payload = model.export_to_dict(

[2022-03-17 07:17] nikhil-kuyya commented on #18634
DASHBOARD_RBAC is the feature flag you enabled right.

[2022-03-17 09:28] adam-stasiak commented on #12741
Tried to reproduce and it looks good now. Can be closed.

[2022-03-17 09:32] adam-stasiak commented on #12744
Cannot see this now. can be closed

[2022-03-17 10:11] dwshmilyss commented on #3083
@srikark16 I'm in the same situation as you, and then change it to the following and it works.
'active': True -> 'active':'y'

[2022-03-17 12:35] srinify commented on #19117
Hey there, it looks like you're using Windows which isn't supported (even WSL isn't tested though it may work). Closing for now unless you can replicate in a Unix based environment!

[2022-03-17 12:35] #19117 closed

[2022-03-17 15:30] kgabryje commented on #19151
@Shubham21k I think that you can only perform formatting corresponding to the old "table heatmap" (not "row") by using None operator - that will highlight values with colors based on min/max values in the whole table rather than current row.
I can see how this might be a blocker for you and your team - I'd suggest you open a feature request for row/column heatmaps. As of now I can't commit to a sp

[2022-03-17 16:45] adrianpostoaca opened #19237 "sqlalchemy.exc.DatabaseError: (cx_Oracle.DatabaseError) ORA-02274: duplicate referential constraint specifications [SQL:"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Download apache/superset image
2. Extend the image with cx_Oracle + Oracle instantclient_21_5
3. Start docker run -d -p 8080:8088 --name superset apache/superset
4. Connect to container and update SQLALCHEMY_DATABASE_URI with Oracle connection string into /app/superset/config.py
6. Execute docker exec -it supers

[2022-03-17 16:46] zuzana-vej commented on #12741
closing as per above discussion

[2022-03-17 16:47] #12744 closed

[2022-03-17 17:11] eschutho commented on #19028
It's just the native druid nosql connector that is being deprecated. Druid (through pydruid) will still be supported.

[2022-03-17 17:12] gpmidi commented on #19028
Awesome, thanks!

[2022-03-17 17:19] dpgaspar opened #19238 "Bump Celery to 5.2.2"

[2022-03-17 18:29] aravishdatabricks commented on #747
Hi, We see queries getting cancelled too soon in the UI. Any reason for this?. We do see this happens when the LIMIT is set to 1000. I am running the query connecting to  "databricks+pyhive"
![image](https://user-images.githubusercontent.com/79829906/158871090-43f5dd3e-f5b3-4b97-a601-f3efa721efce.png)

[2022-03-17 20:53] AAfghahi commented on #19224
Hello! I went through this in the current version of master and this happened:

https://user-images.githubusercontent.com/48933336/158893143-43172f74-5b9b-4e29-8853-f943b79d6e28.mov

Do you have mapbox-gl installed? That might be the issue.

[2022-03-17 20:54] AAfghahi commented on #19222
Hello! Could you take some screenshots of what you are experiencing?

[2022-03-17 20:56] AAfghahi commented on #19221
What format were you importing the reports in? Did you check if it has a uuid column?

[2022-03-18 03:13] LuPan2015 opened #19246 "Why charts don't support copy functionality?"
Currently, we can only create a chart from scratch, instead of modifying it based on an existing chart。

[2022-03-18 03:23] LuPan2015 opened #19247 "Upload csv to existing clickhouse is not supported"
superset does not support uploading csv to a table that does not exist in clickhouse because clickhouse must specify the engine when creating the table.
But why doesn't it support upload csv to a table that already exists in clickhouse?

[2022-03-18 03:44] Narendra678 commented on #19124
Traceback (most recent call last):
File "/layers/google.python.pip/pip/lib/python3.7/site-packages/flask_appbuilder/api/init.py", line 85, in wraps
return f(self, *args, **kwargs)
File "/workspace/superset/views/base_api.py", line 85, in wraps
raise ex
File "/workspace/superset/views/base_api.py", line 82, in wraps
duration, response = time_function(f, self, *args, **kwargs)
File "/workspace/super

[2022-03-18 04:36] zhaoyongjie commented on #19247
This is due to the Superset using pandas to upload CSV instead of using an external table(like Hive or other DB). refer to [link](https://github.com/apache/superset/blob/aa5c80bda6856295368c937307bcec75bba957cf/superset/views/database/views.py#L131).

[2022-03-18 04:52] zhaoyongjie commented on #19246
I don't understand this issue, Could you detail it?

[2022-03-18 05:15] LuPan2015 commented on #19246
Similar to copy action in role. As shown below

![image](https://user-images.githubusercontent.com/10804128/158941633-8cb4cac7-968a-4f30-b5b7-2203add78712.png)

This way I can quickly create a new chart based on an existing chart。

[2022-03-18 05:17] LuPan2015 commented on #19247
Is there a list of DBs that support upload csv now?

[2022-03-18 06:05] Narendra678 commented on #19221
Importing with YAML zip file. We do not have any column called 'uuid'

[2022-03-18 06:16] Narendra678 commented on #19222
![image](https://user-images.githubusercontent.com/88739186/158947761-8b49b19d-c2f4-40e9-b8fe-0ea8a47365eb.png)

[2022-03-18 06:22] mdeshmu commented on #18126
@suraj-12 can you provide a documentation on how you are running superset on AWS ECS, if you have ?

[2022-03-18 07:45] Narendra678 commented on #19222
2022-03-18 07:29:47 default[1-3-1qa]  Error running import command
2022-03-18 07:29:47 default[1-3-1qa]  Traceback (most recent call last):    File "/workspace/superset/commands/importers/v1/__init__.py", line 67, in run      self._import(db.session, self._configs, self.overwrite)    File "/workspace/superset/dashboards/commands/importers/v1/__init__.py", line 126, in _import      config = update_

[2022-03-18 08:06] villebro commented on #19237
Hi @adrianpostoaca - unfortunately only MySQL and Postgres are officially supported as metadata backends. You are of course welcome to try to use an Oracle instance as a metadata backend and we're happy to receive PRs to improve support for this if it doesn't break support for MySQL and Postgres, but the Superset project will not make any guarantees that this will be supported going forward.

[2022-03-18 08:23] villebro commented on #19237
Having said that, it does appear that this line is redundant: https://github.com/apache/superset/blob/b5e9fad11a2146c471c7f27d88cc425d928f94dd/superset/migrations/versions/4e6a06bad7a8_init.py#L170 as it's already declared a few lines above: https://github.com/apache/superset/blob/b5e9fad11a2146c471c7f27d88cc425d928f94dd/superset/migrations/versions/4e6a06bad7a8_init.py#L165 . Feel free to open a

[2022-03-18 09:48] andyphilipp opened #19249 "Fails to load "SQL editor" with React error"
Objects are not valid as a React child (found: object with keys {}). If you meant to render a collection of children, use an array instead.

Console output:
[code]

[2022-03-18 10:32] Legion2 opened #19250 "[Helm chart] Support different replicaCount, nodeselector, tolerations, affinity and resources for each component"
**Is your feature request related to a problem? Please describe.**
We want to schedule the superset components (ui, worker) on different nodes and with different resources requests and limits.

**Describe the solution you'd like**
 replicaCount, nodeselector, tolerations, affinity, resources etc. should be configurable on a per component level instead of globally for the whole chart

**Describe al

[2022-03-18 11:06] adrianpostoaca commented on #19237
Hi @villebro

Thank you for your quick feedback.

We've made the change proposed, cleaned Oracle DB schema and run again "docker exec -it superset superset db upgrade".
The above ORA-02274 was fixed but unfortunately we encountered another issue:

INFO  [alembic.runtime.migration] Context impl OracleImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.m

[2022-03-18 12:26] stillya opened #19251 "Wrong API definition on /database/available REST in swagger"
In Superset Swagger API REST for getting available database(/api/v1/database/available/) schema of response look like this:

[code]
But actual response is:
[code]

[2022-03-18 12:31] stillya commented on #19251
Problem was solved by this PR - https://github.com/apache/superset/pull/16672

[2022-03-18 12:31] #19251 closed

[2022-03-18 13:04] wengieeee opened #19253 "Python Issue leaks to SQL Lab when querying Clickhouse"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. config database
    clickhouse://test:XXXXXXXXXX@127.0.0.1:8123/default

2. go to sql_lab
3. run a clickhouse sql
![image](https://user-images.githubusercontent.com/16257260/159006975-d3bee7ef-25f9-46ea-bd84-f1b4a69b35f2.png)

error log:
2022-03-18 20:33:51,425:DEBUG:urllib3.connectionpool:http://180.97.87.196:8

[2022-03-18 13:35] srinify commented on #19246
Hey @LuPan2015 you're correct that Duplicating / Copying charts doesn't exist at the moment as a feature.

Two workarounds:

1. Export and Import the chart and give it a new name.
OR

2. Open the chart in Explore and when you click Save, save it as a new chart with a new name (don't overwrite).

[2022-03-18 14:33] JZ6 opened #19255 "Error returning OAuth user info: missing_token due to AuthLib V1.0.0"
The latest AuthLib breaks Oauth, returns the "Error returning OAuth user info: missing_token".
Downgrading back to authlib==0.15.5 fixes this error and allows SSO to work again.

#### How to reproduce the bug

1. Setup Google Oauth
2. Install Authlib 1.0.0
3. Try to login
4. See Error returning OAuth user info: missing_token

### Expected results

Login via google SSO keeps working.

### Actual re

[2022-03-18 14:47] srinify commented on #10940
Removing this issue for now since it's been marked inactive, but please re-open with new re-production instructions if you're still encountering it on newer Superset versions! 🙏

[2022-03-18 14:47] #10940 closed

[2022-03-18 15:08] AAfghahi commented on #19222
So you get this toast before you upload a dashboard or after you put in a dashboard and then press import.

[2022-03-18 16:02] srinify commented on #19249
Hey @andyphilipp do you need debugging help with a customization you made or are you running into this issue with the default Superset experience? I'm not able to replicate this so I'm curious

[2022-03-18 16:13] andyphilipp commented on #19249
Hi @srinify . I'm running the latest helm release. I managed to fix the issue by cleaning the local storage, didn't dump the data first unfortunately, so not sure what corrupt data might cause this.

[2022-03-18 16:13] #19249 closed

[2022-03-18 16:28] Narendra678 commented on #19222
Export(Download)working in first environment and **then importing(Upload) in to second environment.**

I am getting error in "then importing(Upload) in to second environment."

[2022-03-18 20:14] jleute opened #19260 "Week-based time grains not working with databricks engine since spark 3.0"
#### How to reproduce the bug

1. Use databricks engine "Databricks Interactive Cluster" with Spark 3.0 or larger
2. Create Time-series Bar Chart
3. Select "Week" as Time Grain and run the query
4. See the following error:
`'*java.lang.IllegalArgumentException:All week-based patterns are unsupported since Spark 3.0, detected: u, Please use the SQL function EXTRACT instead:312:21', `

### Environme

[2022-03-18 20:39] srinify commented on #19260
Hey @jleute can you also share the query that Superset has generated (should be in the CLI output, or in your log files) and sent to Databricks Interactive Cluster?

I want to confirm that `DATE_TRUNC('week')` is the problem, as suggested in `superset/db_engine_specs/databricks.py`:

https://github.com/apache/superset/blob/master/superset/db_engine_specs/databricks.py#L30

[2022-03-18 20:40] srinify commented on #19163
Closing as Github isn't the appropriate place for CVE discussion!

Check out this article: https://superset.apache.org/docs/security/#reporting-security-vulnerabilities

[2022-03-18 20:40] #19163 closed

[2022-03-18 20:42] srinify commented on #19247
@LuPan2015 that list doesn't exist unfortunately but I'm hoping the community will create one soon!

[2022-03-18 20:57] jleute commented on #19260
It looks like the problem was already fixed 10 days ago. We are using the latest release, which generates a different query:
`date_format(date_sub(`date`, CAST(7-from_unixtime(unix_timestamp(`date`), 'u') as int)), 'yyyy-MM-dd 00:00:00')`

[2022-03-18 20:57] #19260 closed

[2022-03-18 21:01] #18908 closed

[2022-03-18 22:43] yousoph commented on #18034
We've been unable to repro this now.
@cesar-loadsmart if you are still seeing this issue and can provide more info, please reopen the ticket with more info. Thanks!

[2022-03-18 22:43] #18034 closed

[2022-03-18 23:01] #19106 closed

[2022-03-19 16:32] searain commented on #8538
I had the same issue when I use docker-compose to install superset on MacOS.

Due to it is my local test, it is easy for me just to remove old containers and old data and start fresh.

- **docker-compose down -v** (or docker-compose down and docker volume prune), this will remove the old containers and old data
- **docker-compose up,** to start fresh

The key point is you need to remove old volume

[2022-03-19 22:07] ephod commented on #19089
I had the same problem, this solved my issue. I don't have enough time to create a patch, but this is the change might help you.

[code]

https://github.com/apache/superset/blob/d645579cdd64b7fe7f9dde4a8da000dd7db51ce9/superset/models/dashboard.py#L374

[2022-03-19 22:10] ephod commented on #18980
I had a similar problem regarding `superset export-dashboards`, this solved my issue. I don't have enough time to create a patch, but this is the change might help you.

[code]

https://github.com/apache/superset/blob/d645579cdd64b7fe7f9dde4a8da000dd7db51ce9/superset/models/dashboard.py#L374

[2022-03-20 06:20] zhaoyongjie opened #19264 "Native Filter can't work when face NULL value or empty string"
Native Filter can't work when facing NULL value or an empty string, and this behavior is not consistent with explore page.

https://user-images.githubusercontent.com/2016594/159150669-a4cb27cf-9049-4caa-b983-b18ab5d69d1a.mov

#### How to reproduce the bug
1. make a temporary table with a single text column by database client or SQLLab
[code]
2. create a dataset from above table
3. create a chart a

[2022-03-20 09:47] srinisubramanian commented on #15701
@srinify I am able to reproduce the same issue in 1.4.1.  Its easy to reproduce, just export a dashboard and import it.  Then reimport it and a duplicate dashboard is created.  Looks like the overwrite flag works for database/datasource but not dashboard.

In the database I also noticed that the uuid in the source DB is different from the destination database (dashboards table, uuid column) and a

[2022-03-20 14:05] rwhaling commented on #14563
took the liberty of opening up a PR from @alitrack's fork, since this is awesome and it looks like the sqlalchemy side is unblocked.

[2022-03-20 14:28] scs001 commented on #14764
When connect MySql, i have the same problem. Can you tell me how to insatll latest version.  very thanks

[2022-03-20 14:33] scs001 commented on #14764
thanks  open the issue.When connect MySql, i have the same problem. Can you tell me how to insatll latest version. very thanks

[2022-03-20 15:30] pinduvn commented on #14764
Hi, for install latest superset, i use this command for deploy in docker container. Here is the link of the documentation.

[2022-03-20 15:32] pinduvn commented on #14764
Sorry, forgot to let the link https://hub.docker.com/r/apache/superset. Regards

[2022-03-20 18:10] Balamuralia commented on #16434
We are trying to Import dashboard from Development Environment to Production environment. It keep throwing the below error.

VERSIONED_EXPORT flag is true in both Development environment and Production Environment. We are using Apache Superset 1.3.1. Below is the error log.

Error running import command
2022-03-20 16:30:16 default[1-3-1qa]  Traceback (most recent call last):    File "/workspace/su

[2022-03-21 04:42] srinisubramanian opened #19268 "slug is not updated when importing dashboard via API"
The slug is not set when importing a dashboard

#### How to reproduce the bug

Set a slug and export a dashboard using the export API.  Import the dashboard using the /import API.  The slug is not set after import

### Expected results

Slug should be set to the value in the json

### Actual results

Slug is not set

#### Screenshots

If applicable, add screenshots to help explain your problem.

#

[2022-03-21 05:59] srinisubramanian commented on #18634
I had a similar issue:

User 1 - has access to a dataset via role AlphaCopy (all datasource access is removed)
User 2 - has access to same dataset via role GammaCopy
Dashboard 1 and Dashboard 2 - defined on dataset

Now feature flag is enabled and access is set as follows:
Dashboard 1 - No specific user set, so all users with access to dataset should have access
Dashboard 2 - Only Role AlphaCopy h

[2022-03-21 07:17] moathOSA opened #19271 "when using jinja template with filters, the filter applies twice !!"
![Screenshot 2022-03-21 at 10-03-35 Orders Dashboard](https://user-images.githubusercontent.com/60176683/159217827-9b663270-180f-4add-b4c4-2805a0336078.png)

this is the generated query in the dashboard and as you see there is some filters applied twice like Currency

* i tried every thing like using the filter name instead of the field name
* i tried to make field name diff from the filter name
m

[2022-03-21 08:11] dineshp89 opened #19272 "Module import CacheConfig in config.py"
Import error in config.py for CacheConfig

#### How to reproduce the bug

1. Open the config.py
2. Go to line number 48  in config.py
3. See "from superset.superset_typing import CacheConfig"
4. and try to "superset db upgrade"

### Expected results

Successful superset db upgrade

### Actual results

Got below error:
ModulNotFoundError: No module Named 'superset.superset_typing'

#### Screenshots

[2022-03-21 08:13] dineshp89 commented on #19272
Please use
'from superset.typing import CacheConfig' instead of 'from superset.superset_typing import CacheConfig'

and do  "superset db upgrade"

It will work.

[2022-03-21 08:14] moathOSA commented on #19271
@@mistercrunch
[Maxime Beauchemin](https://github.com/mistercrunch)

[2022-03-21 08:17] villebro commented on #19272
`superset.typing` was recently renamed to `superset.superset_typing`. If you're running `docker-compose` you may need to do `docker-compose pull` for it to work.

[2022-03-21 08:20] villebro commented on #19271
If you add `remove_filter=True` to the `filter_values` call the filter won't apply twice. See here: https://github.com/apache/superset/blob/dc575080d7e43d40b1734bb8f44fdc291cb95b11/superset/jinja_context.py#L222-L224

We're considering making this the new default behavior in Superset 2.0, but in the 1.x branch this still needs to be done explicitly.

[2022-03-21 08:22] villebro commented on #19268
@srinisubramanian have you enabled the `VERSIONED_EXPORT` feature flag, or are you using the old JSON import/export?

[2022-03-21 08:24] villebro commented on #19264
Repro'd, thanks for reporting!

[2022-03-21 08:51] srinisubramanian commented on #19268
I had not set VERSIONED_EXPORT as I thought it was defaulted to True and hence was doing the JSOn stuff.

Anyways I now added it to superset_config.py and cleared out the database and reinitialized the test instance.  Also changed dev landscape to include the VERSIONED_EXPORT.  The export API now downloaded a zip file.

Then attempted the import via the API.  THrows a 500 error:
[code]

[2022-03-21 09:02] moathOSA commented on #19271
@villebro  thanks works fine , and how to make this work with the time filter ?

[2022-03-21 09:14] srinisubramanian commented on #19268
@villebro  I did make some more progress.  Rather than using the API I imported using the UI and I was prompted for the password.  Looks like the database to connect to seems to be validated by connecting and in my case the same user was not existing.  Once I set that up the import went through.  I did a reimport and that prompted for an overwrite without prompting for password and did go through.

[2022-03-21 10:22] moathOSA opened #19275 "when using jinja template with filters that have int values ,not working"
when using a filter that have values like  0 , 1 which is a boolean filter

when retrieving the values of this filter in jinja template i faced this error

[code]

and this is how the filter look like
[code]

superset version 1.4.1

### Checklist

Make sure to follow these steps before submitting your issue - thank you!

- [ ] I have checked the superset logs for python stacktraces and included it

[2022-03-21 10:42] lazpuzzle opened #19276 "Error : ElasticSearch (OpenDistro SQL)"
I got Error
ElasticSearch (OpenDistro SQL) Error
odelasticsearch error: TransportError(500, 'SearchPhaseExecutionException')

When i user sqllab and query is
select * from table
and set limit is 10000
or
select * from table limit more than 7000
how can i solve it

![image](https://user-images.githubusercontent.com/40905829/159245454-289c43ef-1847-4c45-98f0-c02945d64425.png)

[2022-03-21 10:51] villebro commented on #19275
I'm not sure I consider this a bug. The problem is that the value that's coming back from `filter_values` is `int`, not `str`. You probably need to check the type of the value, and then omit the quotes and then cast to `str` in case of non-string filter values.

[2022-03-21 10:53] moathOSA commented on #19275
@villebro  so int values not supported in filters when using jinja template ?

[2022-03-21 10:56] villebro commented on #19275
No, this is basic python: the problem is you're calling `"'".join()` with non-string values.:
[code]

[2022-03-21 10:58] marinej-BR opened #19277 "Not possible to configure native filters in 1.4.1 / mapping filters gets lost when editing native filters"
When native filters are edited, the configuration about mapping filter is removed.

#### How to reproduce the bug

1. Create a dashboard that includes at least two charts et one filter box. The filter box should only apply to one of the two charts
2. Open the native filters properties using the "Edit" action
3. Make an edit and save
4. Reopen the Dashboard

### Expected results

The filter mapping

[2022-03-21 11:05] moathOSA commented on #19275
@villebro  not using the join or the quotations ends up with
a list  like this  cancelled IN ([0]) which lead to syntax error !

[2022-03-21 11:12] moathOSA commented on #19271
@villebro  please help here
using the remove_filter=True make every thing applied to the outer query
i have a filter must be applied  inside the join and using remove_filter=True not working for me it's make all filters applied to the outer query only

[2022-03-21 11:16] moathOSA opened #19278 "How to make 0 , 1 opotion in a filters shown as "True" , "False" instead ?"
is there is away to cast a filter option from 0 , 1 to true or false ?

[2022-03-21 11:16] villebro commented on #19275
Again, this is not a bug in either Superset or Jinja, but something you need to address in how your jinja template code handles non string values. I'm going to convert this to a discussion; also, feel free to reach out on the Superset Slack on `#beginner-questions` or `#debug-together` where you may be able to get help from other users.

[2022-03-21 11:35] Artem-fb commented on #15855
First of all thanks for this bug fix.
Hi guys, @betodealmeida, @eschutho could you help, please?
I've checked this https://github.com/apache/superset/commit/2e29f36e7885b693a0af2cf8b0b8ca86d2970f64 in the master and it exist and it exist in this tag https://github.com/apache/superset/releases/tag/v0.19.0
But why this changes are missing from 1.4.0 and 1.4.1? How can I get the oldest stable version

[2022-03-21 11:48] ChunshengZhao opened #19281 "Labels in the Dataset cannot be displayed normally in the Gauge Chart."
- superset version: `[1.4.1](https://pypi.org/project/apache-superset/1.4.1/)`

![图片](https://user-images.githubusercontent.com/9263377/159254876-c8380e15-2685-4c7c-99cc-1820cc0e202b.png)

Always show column names:
![图片](https://user-images.githubusercontent.com/9263377/159254917-67c099ae-56e9-41da-bd47-54c6206eb8aa.png)

[2022-03-21 11:59] zhaoyongjie commented on #19278
Hey there, the `calculated column` in the Dataset configuration can do the case in the Dataset configuration.
[code]

[2022-03-21 12:38] villebro commented on #19278
@moathOSA please refrain from cross-posting (#19280) questions here

[2022-03-21 12:40] srinify commented on #19276
Hi there, I think this may be an issue with your setup / config not a bug in Superset per say! I'm converting this to a discussion so someone can try to help you out!

[2022-03-21 13:00] srinisubramanian commented on #19268
@villebro  While I am able to import new dashboards created and some really simple dashboard examples, some other dashboards that I created BEFORE the VERSIONED_EXPORT was turned on, I am not able to import.  It keeps failing with a validation error.

Question:  Can dashboards created when VERSIONED_EXPORT was false, be exported and imported?  Looks like some uuid issues?

[2022-03-21 13:47] villebro commented on #19268
I believe they're incompatible, unfortunately. Are you able to re-export the old dashboards with the flag turned on?

[2022-03-21 13:48] srinisubramanian commented on #19268
I can re-export. But import keeps failing.

[2022-03-21 14:27] karyan40024 commented on #19222
I am facing the same issue... but this happens only in case of multiple datasets

[2022-03-21 14:55] moathOSA opened #19284 "inner query filters applied to the outer query"
when using a filter (using jinja template) inside an inner query and use add ( remove_filter=True ) as a second parameter to the filter_values the filter still applied to the outer query not to the right place

the Shipment__Type filter should be applied under the created at filter
but after viewing the query it's applied to the outer query . . . .

![Screenshot 2022-03-21 at 17-44-42 HAVENOORDERS

[2022-03-21 16:02] geido opened #19287 "[Proposal][component style-guide] Tips and best practices for components development in Superset"
The following is a proposal to provide guidance on how best to achieve components development in Superset.

***********************

This documentation illustrates how we do components development in Superset and provides examples to help you with writing new components or updating existing ones by following our gold standards.

## General Guidelines

- We use [Ant Design](https://ant.design/) as

[2022-03-21 17:51] #19105 closed

[2022-03-21 19:38] srinify commented on #19271
Hey there @moathOSA I'm converting this thread into a discussion, as we haven't been able to identify a clear bug just yet. We're focusing Github Issues in the Superset repo primarily around bugs, and occasionally some proposal items.

Just to set expectations, the Superset contributors (like @villebro and I, as well as 30+ others!) receive a lot of questions and we can't answer all of them. Pleas

[2022-03-21 19:47] srinify commented on #18630
Hi there @vksamu 2 things:

- Can you share some sample data (you can anonymize it) + the query that's generated + the database you're using? So we can rule out any issues with the data itself vs Superset (unlikely to be the issue but still)
- Are you able to replicate this issue in Superset v1.4? Superset v1.0 is quite old at this point and the issue may have already been fixed

[2022-03-22 00:23] kodeine commented on #16050
@metalshanked where did u add this header?

[2022-03-22 01:49] TawaraKaito commented on #19109
I suddenly face a similar problem and can't login with OAuth.

[2022-03-22 05:07] srinisubramanian opened #19297 "Export / Import fails with validation error"
Export a dashboard with VERSIONED_EXPORT=true.  Try importing on same instance or another instance and it fails with a command validation error.

1.  Based on responses to #19268 from @villebro I reset my dev superset instance.  Then created a dashboard from scratch and saved and exported it.  I then tried to reimport it and it fails with a command validation error.
2. I then reset the instance ag

[2022-03-22 05:08] srinisubramanian commented on #19268
Details captured in #19297 .. closing this issue

[2022-03-22 05:08] #19268 closed

[2022-03-22 06:12] fuxiaodun opened #19299 "Annotation line chart color cannot be changed"
When use line chart as an annotation, I cannot set color of the annotation.
#### How to reproduce the bug

1. Go to Explore Chart, chart type select Time-series line chart
2. Click on Annotation Layers
3. In Edit Annotation Layer, select Time Series as layer type, Line Chart as Annotation Source, select a Line chart.
4. In Display Configuration, choose a color, click Apply and Run Query
5. See err

[2022-03-22 06:57] moathOSA opened #19300 "having syntax error when using mysql operators inside jinja"
i'm getting this error

Please check your query for syntax errors near "nullAND deal_growth IN (somthing)

[code]
superset version 1.4.1
### Checklist

Make sure to follow these steps before submitting your issue - thank you!

- [x] I have checked the superset logs for python stacktraces and included it here as text if there are any.
- [x] I have reproduced the issue with at least the latest relea

[2022-03-22 07:11] moathOSA commented on #19300
sorry for this the soluation is
    {# Render a blank line #}

[2022-03-22 07:11] #19300 closed

[2022-03-22 07:27] EinavDanielDX opened #19301 "Alerts and reports notification fails due to selenium exception"
After scheduling a report for either chart of dashboard, using smtp, The report fails to send the message with the following error in worker pod:
[code]
Also, in  under reports -> logs in UI screen i see this error
`Failed taking a screenshot local variable 'element' referenced before assignment`

#### How to reproduce the bug
1 - setup alerts, smtp and google chrome driver for selenium
2 - schedu

[2022-03-22 08:30] maxilirator commented on #5059
I am in the process of evaluating different open source BI plattforms and one of the criteria is a dashboard with horizontal bar charts. This is really something which is needed if you want his project to be competitive.

[2022-03-22 09:51] srinisubramanian commented on #19297
Some additional info.  I added a few prints of stacktraces to dispatcher and commands/importers/v1/__init__.py.   Here is some additional info to trace this ..

[code]

[2022-03-22 10:12] elestranobaron commented on #13571
same error right here with firefow on apache2 ssl reverse proxy

[2022-03-22 10:49] EBoisseauSierra commented on #19297
Related to  #19103?

[2022-03-22 11:10] kgabryje commented on #16520
Fixed by https://github.com/apache/superset/pull/18793

[2022-03-22 11:10] #16520 closed

[2022-03-22 11:18] srinisubramanian commented on #19297
@EBoisseauSierra @betodealmeida  can you help by letting me know where exactly was that code added?  File info is there but not function/line info.  Thanks

[2022-03-22 11:31] geido commented on #19287
Converting this into a discussion

[2022-03-22 11:33] srinisubramanian commented on #19103
@melnikovmaksimv can you provide context on line number . function where this code has to be intriduced?  looks like i am facing the same issue

[2022-03-22 11:56] wiktor2200 commented on #15548
Hello! Have you solved this issue somehow or found some workaround for that?

[2022-03-22 11:59] srinisubramanian commented on #19297
@EBoisseauSierra I guess its somehow related since instead of import dashboard if I try to import dataset it fails with the same error.

However in my case extra is NULL in the database table: tables

[2022-03-22 12:22] mare011rs commented on #11158
Any update on this?

[2022-03-22 12:58] ChunshengZhao commented on #15855
The problem still exists(v1.4.1).

[2022-03-22 13:31] srinisubramanian commented on #19297
OK .. more progress and looking good.

Based on comments in the other referenced issue (above), I replaced the code in datasets/commands/export.py from the master branch and it works!!  So looks like solution is already in master and this does not work in 1.4.1 only

old code:
[code]
replaced with (from master):
[code]

[2022-03-22 14:18] samwilkinson-git opened #19306 "Generic Install on OpenShift Container"
After a successful installation in Docker using the 'pip install apache-superset'; I've tried running the same install but this time in OpenShift.

I have successfully pushed the image into OpenShift, I can access the login page successfully...

Expected Results:
Should be able to login.

Actual Results:
 **error:superset.views.base:'NoneType' object has no attribute 'id'** Traceback (most recent

[2022-03-23 03:55] nijcap01 commented on #17861
Hi Team,

Any update on this item, our client is following us regularly on this, Please let us which version we are targeting this so that we can respond accordingly.

Thanks

[2022-03-23 05:52] zhaoyongjie commented on #19157
@EBoisseauSierra I have merged that [PR](https://github.com/apache/superset/pull/19116). Let me know if any following up is needed.

[2022-03-23 09:35] karyan40024 commented on #19155
Fixed in 1.4.1

[2022-03-23 09:35] #19155 closed

[2022-03-23 09:47] bouleq commented on #15548
Hello, yes we managed to fix it. It turned out that logs were not written at the right place by the logging class. We added this to the code :
[code]

The full code snippet is now:

[code]

[2022-03-23 10:03] wiktor2200 commented on #15548
Thanks a lot for your answer.
I think it's worth considering editing documentation here: https://github.com/apache/superset/blob/master/docs/docs/installation/event-logging.mdx and then it would be possible to close this issue.
May I do it and link this issue to PR or do you want to open your own PR?

[2022-03-23 10:05] bouleq commented on #15548
Sure you can do it, hope it can help people.

[2022-03-23 11:00] mare011rs commented on #19284
I have the same problem, I applied remove_filter=True constraint, and the filters still remain in the outside query.

[2022-03-23 11:55] bhowmik23 commented on #17076
I think the problem was solve by following this steps:
1. Remove Node stage codes from Dockerfile
2. Remove node_modules from superset-frontend dir if exist
3. Run cd superset-frontend in cmd
4. Run npm install&&npm run dev
5. Run docker-compose up
Hopefully it will be work

[2022-03-23 12:08] Narendra678 commented on #19222
Below is the latest error logs. ERROR:root:'NoneType' object has no attribute 'uuid'

2022-03-22 10:14:04 default[1-3-1noimc]  "GET /api/v1/dashboard/export/?q=!(14)&token=zVVSihwxp HTTP/1.1" 500
2022-03-22 10:14:05 default[1-3-1noimc]  2022-03-22 10:14:05,189:**ERROR:root:'NoneType' object has no attribute 'uuid'**
2022-03-22 10:14:05 default[1-3-1noimc]  Traceback (most recent call last):    Fil

[2022-03-23 12:31] kaapstorm opened #19330 "docs: tiny: Closing backticks and plain text appear inside code block"
## Screenshot

![image](https://user-images.githubusercontent.com/708421/159699392-9c03e944-f4aa-4fcd-958c-4b5eeffaba32.png)

## Description

A tiny issue in **CONTRIBUTING.md**: A code block is opened with four backticks, attempted to be closed with three backticks, and then a second code block is opened with three backticks and closed with four. The result is that the three backticks appear insi

[2022-03-23 12:32] srinisubramanian commented on #19297
There is definitely an Issue with the database import.  Even with the changed code the database import fails if the database and/or datasets are deleted and then the import is attempted. Error is a little different though,

Here is what I found:

1.  Patch the code as above, export and import it works.
2. Delete the dashboard and charts and  import again. It works.
3. Delete the dashboard, charts

[2022-03-23 12:35] srinisubramanian commented on #19103
See issue #19297 @melnikovmaksimv  can you please delete the dataset/database and then try import again?  Continues to fail

[2022-03-23 13:03] srinisubramanian commented on #19297
cc @betodealmeida @eschutho to take a look at this.  The export/import is such an important feature and needs some tlc

[2022-03-23 13:32] michael-s-molina commented on #19264
Fixed by https://github.com/apache/superset/pull/19326

[2022-03-23 13:38] srinify commented on #19330
Good catch! Closing this issue and approving your PR!

[2022-03-23 13:38] #19330 closed

[2022-03-23 14:36] srinify commented on #19306
Hey there, moving to Discussion so hopefully someone in the community will help with debugging 🙏 If there's a clear bug you can help the community reproduce, then definitely open a Github Issue!

[2022-03-23 14:36] srinify commented on #19301
Hey there, moving to Discussion so hopefully someone in the community will help with debugging 🙏 If there's a clear bug you can help the community reproduce, then definitely open a Github Issue!

[2022-03-23 14:38] srinify commented on #19272
Moving to Discussion so the debugging help can continue 🙏 If there's a clear bug you can help the community reproduce, then definitely open a Github Issue!

[2022-03-23 14:42] ndbu opened #19336 "slug is ignored when importing a dashboard"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Create a new dashboard, and in the properties add a slug for it
2. Export this dashboard into a JSON file
3. Verify that the JSON file contains the slug
4. Delete the newly created dashboard
5. Now import the dashboard via the UI or superset import-dashboards
6. Go to the properties of this dashboard

### Expect

[2022-03-23 19:05] vedangparasnis opened #19340 "RowLevel Security Generation using Api"
We have recently implemented Superset Security using OAUTH and custom roles. However, these custom roles are from different clients where we filter data for each client using a row level security based on his/her ssn id. So essentially we provide a row level security for all the roles with all the set of tables containing ssn id and the where clause value in rls is dynamically populated using jinj

[2022-03-23 19:06] vedangparasnis commented on #19340
Any Help would be helpful, needed it urgently due to strict project timelines.
Thanks in advance.

[2022-03-23 21:23] #19264 closed

[2022-03-23 21:27] srinify commented on #19340
Thanks for opening this issue Vedang. Participation in Github issues is opt-in and Superset is an open source project not owned by any company, so just a heads up that it might be a while before this bug is validated / replicated and fixed!

[2022-03-23 22:11] jmorgan-wellovate commented on #6568
Definitely need this feature!

[2022-03-23 23:32] MartyStache opened #19343 "Proper endpoint to exempt to successfully post dataset via API??"
regarding issue [#17206](https://github.com/apache/superset/issues/17206)

I am, like [LeiZhanglmo](https://github.com/LeiZhangImo) attempting to create a dataset via the api to a table that already exists.
I have followed the guidance for setting
I am using apache-superset-1.4.1rc1

I have set *WTF_CSRF_ENABLED = False* in *config.py* and have added (what I believe may be incorrect) the endpoint

[2022-03-24 03:01] hufenfen opened #19345 "chart data type bug"
Hello,
I use superset to create a new virtual dataset and create a new column “account_name”. The column's type is String.
But then I want to create a new line chart and group by the column  “account_name”，it comes out a bug , says "Column `account_name` is not under aggregate function and not in GROUP BY". I don‘t understand why the line chart  do this ：toStartOfHour(toDateTime(account_name))

U

[2022-03-24 03:10] #19345 closed

[2022-03-24 03:10] hufenfen commented on #19345
Already solved.

[2022-03-24 03:15] kong62 opened #19347 "can not change redis image"
A clear and concise description of what the bug is.

#### How to reproduce the bug
[code]
### Expected results
[code]
### Actual results

[code]

### Environment
[code]

[2022-03-24 04:53] yousoph commented on #11245
Closing, the time series area chart highlights rows:
![image](https://user-images.githubusercontent.com/10627051/159844870-baabf4d5-2584-4af1-b4e1-78e48fefab7d.png)

[2022-03-24 04:53] #11245 closed

[2022-03-24 04:59] yousoph commented on #15088
Can no longer repro this

[2022-03-24 04:59] #15088 closed

[2022-03-24 07:08] #14563 closed

[2022-03-24 07:20] ndbu commented on #19336
This is a test to validate:

https://user-images.githubusercontent.com/6776270/159863291-f256f24b-d18a-42b7-a315-4bb3a8be54ac.mp4

[2022-03-24 08:38] han916701843 opened #19348 "switch language not show"
When I start the latest vesion superset,not find any where to switch language.isn't there this function?If not,how to open this function.

[2022-03-24 10:04] Gordonei opened #19349 "Custom Javascript editing/parser in deck.gl visualisations seems to be broken"
Firstly, thanks for such an awesome project!

When trying to add Javascript to customise onClick, Tooltips, etc. in the deck.gl visualisations, the text box in which you enter the code text behaves erratically. It is also unclear what is actually persisted onto the visualisation, it doesn't appear to be the code as entered.

#### How to reproduce the bug
(I've given instructions for the deck.gl Sc

[2022-03-24 15:27] srinify commented on #19348
Hey there, moving to discussion since this is a question :) We're hoping to keep Issues focused on bugs to be reproduced and fixed!

[2022-03-24 16:52] AAfghahi commented on #19343
Hello,

I think that this might help:

https://github.com/apache/superset/issues/16003

[2022-03-24 19:26] #19015 closed

[2022-03-24 19:35] suddjian commented on #18907
Closing this for now, as it isn't clear what the intent is here.

[2022-03-24 19:35] #18907 closed

[2022-03-24 19:48] yousoph commented on #13938
This looks to have been fixed!

[2022-03-24 19:48] #13938 closed

[2022-03-24 20:11] cccs-tom opened #19360 "Dataset permissions: Users are unable to see the datasets that they create"
In our deployment, we have a "sandbox" database where analysts are free to create and delete schemas and tables at will. In order to support this, we assign them a role that includes the 'can write on Dataset', 'menu access on Upload a CSV' and 'database access on [sandbox]' permissions. The database connection itself is configured to 'Allow DML' and 'Allow data upload'. When a user who has been a

[2022-03-24 20:59] rusackas commented on #13938
@cccs-jc if this is still an issue worth pursuing, would you mind filing an additional ticket?

[2022-03-25 05:15] Gordonei commented on #19349
Hi @AAfghahi , I did not - let me try quickly

[2022-03-25 07:29] Kingflyinger commented on #13697
thanks a lot.it solved my problem

[2022-03-25 07:45] Gordonei commented on #19349
After adding a field to the extra data column, bug behaviour seems the same:

![image](https://user-images.githubusercontent.com/1272984/160076623-12fefa30-6b1f-465d-bd1e-4169f7336de8.png)

Still getting the error in the browser console:
[code]

[2022-03-25 12:25] icyground opened #19367 "User registration not possible for instance deployed via Helm chart"
Flask-Mail package is not installed but needed to register Users.

#### How to reproduce the bug

1. deploy superset via Helm Chart with appropriate configuration (including mail-settings)
2. try to register a user

### Expected results

The new user will be registered

### Actual results

User registration fails.
Error message in log:
`2022-03-25 10:26:29,778:ERROR:flask_appbuilder.security.regis

[2022-03-25 13:44] cccs-tom commented on #19360
I just made a small edit to the description above. I actually **don't** think that the creator of a dataset should be granted access to it in perpetuity. That was a flawed assumption.  A better approach would be to make sure the creator is made an Owner of the new dataset by default (I believe that's already the case for most - if not all - dataset creation flows in the UI).

[2022-03-25 14:35] srinisubramanian commented on #19297
@villebro @srinify Can someone take a look and confirm the issue and what needs to be done?  A workaround for now will also be acceptable while the issue is triaged and fixed.  Appreciate your assistance in this.

[2022-03-25 14:37] srinisubramanian commented on #19336
I did report this issue and was suggested to try the new import mechanism with Feature Flag VERSIONED_EXPORT set to true.  While the slug works, there are other issues with that.  See #19297

[2022-03-25 15:27] betodealmeida commented on #19297
Taking a look, sorry for the delay.

[2022-03-25 16:38] #19028 closed

[2022-03-25 18:10] AHZenan opened #19373 "BIG NUMBER GROUP BY"
## Screenshot

![image](https://user-images.githubusercontent.com/81419019/160176783-f92693c8-bf30-406d-8e93-0765393d9cb1.png)
![image](https://user-images.githubusercontent.com/81419019/160177044-bf6473e3-3f7c-47b4-b47c-d91d5af4e216.png)
![image](https://user-images.githubusercontent.com/81419019/160177100-cdd85b63-dbf6-4156-80ee-9d57e0cfa29b.png)

## Description

I want to use the big number to

[2022-03-25 21:24] MCBoarder289 commented on #17822
I'm seeing this issue as well... Noticed errors in db:

[code]

and superset_init:
[code]

[2022-03-26 02:30] rgresino opened #19375 "Unexpected return from SQLLab query -- no column names"
![image](https://user-images.githubusercontent.com/7713938/160221578-07abfb50-50fc-477c-a3c1-cbd2943a775d.png)

I expect SELECT column names, but get the first row of data in SQLab while querying from Clickhouse?
apache-superset        0.38.1
SQLAlchemy             1.3.24
SQLAlchemy-Utils       0.36.8
clickhouse-driver      0.2.0
clickhouse-sqlalchemy  0.1.6

[2022-03-26 03:33] srinisubramanian commented on #19297
@betodealmeida My apologies for flagging this wrongly.. I did patch the export but didnt patch the import.  Once I patched the import also (datasets/commands/importers/utils.py) it imported correctly.

I am closing this issue now as it seems to be fixed in master.  Will create a new one in case of any other issues.

[2022-03-26 03:33] #19297 closed

[2022-03-26 09:27] EBoisseauSierra commented on #19100
I can replicate on `c7f9060a2`, with bare metal install, and the following feature flag:

[code]

[2022-03-26 12:46] srinify commented on #19373
Hey Zenan! Moving to discussions since issues are for bugs primarily :)

[2022-03-26 13:30] stevetracvc opened #19379 "Enhancements to Table Plugin"
I'm finally bringing this over from the old superset-ui repo.

I have several other enhancements I've made to the table plugin (drag n drop column rearrangement will be a separate issue) that my coworkers have liked. I'm opening this up to a discussion on whether any of the features would be good additions for everyone. A few are still WIP but most seem to be working as expected. Unfortunately, wh

[2022-03-26 13:45] stevetracvc opened #19380 "Drag and Drop user-reorganizable columns in the Table Viz"
I'm finally bringing this over from the old superset-ui repo. I think this one was almost included, and then they did the whole monorepo.

**Is your feature request related to a problem? Please describe.**
Sometimes the dashboard designer doesn't know how the end user will want their columns organized in a table. Why not let the user rearrange the columns themselves if they want?

**Describe the s

[2022-03-26 20:11] stevetracvc opened #19382 "Table Column Max Width"
**Is your feature request related to a problem? Please describe.**
Sometimes the text for a cell can be really long. It'd be nice to be able to control the maximum width of the column instead of just the minimum width.

**Describe the solution you'd like**
One option would be to truncate the cell entirely (as per linked PR), and display the whole cell's value upon hovering.

**Describe alternative

[2022-03-27 06:52] BharatNischal opened #19384 "Dynamic column and metric selection in pivot table"
**Is your feature request related to a problem? Please describe.**
We recently switched to superset for the visualisation needs at my organisation. We need to create a pivot table for visualising a number of metrics for example city vs (completed orders, delivered orders, pending orders etc) just to name a few. So for this we used superset's Pivot Table 2.  We are operating in multiple businesses

[2022-03-27 08:08] 9en9i opened #19385 "Frontend cannot be build"
#### How to reproduce the bug

1. Clone master
2. Run docker-compose up
3. Scroll down container logs superset-node
4. See error

### Expected results

Frontend was build

### Actual results

Frontend was not build and container has stopped

#### Screenshots

<img width="626" alt="image" src="https://user-images.githubusercontent.com/44907258/160272319-2d848f78-db27-4259-acb9-6acd14665523.png">

#

[2022-03-27 12:14] MahmoudElhalwany opened #19386 "column-level security"
Many BI applications, particularly in multi-tenancy scenarios, require support for column-level security. That is, the ability to show different columns of a table to users based on some user attribute.

[2022-03-28 01:50] fly904021125 commented on #10396
it also works for me.

[2022-03-28 02:14] tong900801 opened #19388 "nested column cannot display correctly"
A table with some array type columns, Chinese cannot display correctly.

#### How to reproduce the bug
As I already add a dataset named 'array_table'.
1. Go to 'SqlLab'
    `select * from * from array_table limit 10`
2. Click on 'RUN'
3. Scroll down to 'RESULTS'
4. See error
<img width="932" alt="截屏2022-03-28 上午10 05 44" src="https://user-images.githubusercontent.com/44745938/160314868-a8458af9-ee

[2022-03-28 07:09] Narendra678 opened #19391 "URL link to column values"
Hi Team,

I have one column with URL values, in superset it is not coming with underline.
Please suggest.

Requirement: When click it should open with new tab.

Regards,
Naren

[2022-03-28 07:36] zhaoyongjie commented on #19388
What database and column type are you using for this case?

[2022-03-28 08:25] tong900801 commented on #19388
I'm using clickhouse for data analysis. It displayed correct Chinese in database.

<img width="332" alt="截屏2022-03-28 下午4 25 24" src="https://user-images.githubusercontent.com/44745938/160357311-3f85dc83-ee49-4922-8b85-4fc9e0ef2869.png">

[2022-03-28 08:29] tong900801 commented on #19388
And I saw there is a "# TODO: revisit nested column serialization once nested types" in https://github.com/apache/superset/blob/master/superset/result_set.py

[2022-03-28 15:27] xneg commented on #15797
Sorry, but your suggestion doesn't work.
If we look at [this filter](https://github.com/apache/superset/blob/a39dd4493e8b40cc142451bc71e4d1d4f2705d3f/superset/dashboards/filters.py#L62) code we'll see that

        1. Those which the user owns
        2. Those which the user has favorited
        3. Those which have been published (if they have access to at least one slice)
  **If the user is an a

[2022-03-28 15:45] srinify commented on #19391
Hi @Narendra678 it would be great to get more context before we can call this a bug! The community is missing a lot of context here to be able to help you resolve the issue or begin the investigate the bug!

- What does your raw data look like in your database?
- How is Superset rendering the link?

Please include screenshots / gifs / videos, feel free to anonymize the data, gray sensitive things

[2022-03-28 16:00] srinify commented on #19391
Hmm sorry now I'm confused -- what's the issue? Is the failure the lack of underline or is the failure the lack of opening the URL when clicked on?

[2022-03-28 16:01] srinify commented on #19386
Hey there, we like to keep Github Issues focused on bugs! So I'm moving this to Discussions for now :)

[2022-03-28 17:07] MCBoarder289 opened #19396 "Slack invite link broken in README"
When trying to join the community Slack linked in the README, you receive a page with the following message:
[code]

#### How to reproduce the bug

1. Go to 'README.md'
2. Click the "[Join our community's Slack](https://join.slack.com/t/apache-superset/shared_invite/zt-uxbh5g36-AISUtHbzOXcu0BIj7kgUaw)" link
3. See error

### Expected results

Get an invite to the Slack community

### Actual result

[2022-03-28 17:24] kevinyuliawan commented on #8647
Is this bug truly closed and will be unaddressed, or is/will there be some consideration for this feature in the future?
My team is running into a similar use-case as @HusnaHariz where we desire the annotations to be affected by the same filters as the chart.

[2022-03-28 18:16] kevinpostlewaite opened #19398 "Ability to Group Charts And Dashboards via Tags or Folders"
### Discussed in https://github.com/apache/superset/discussions/19194

<div type='discussions-op-text'>

<sup>Originally posted by **kevinpostlewaite** April 15, 2020</sup>
**Is your feature request related to a problem? Please describe.**
It's difficult to find specific charts and dashboards that I've created.

**Describe the solution you'd like**
As a user, I would like to be able to logically g

[2022-03-28 19:08] aaronfeng opened #19400 "Presto template processor functions are not available in Trino"
Hi,

We are in the process of migrating from `Presto` to `Trino` and noticed template processor functions don't work with `Trino`.  We have a lot of datasets using ` first_latest_partition` function.

#### How to reproduce the bug

Below is working for `presto` driver, however, it doesn't work for Trino.

[code]
### Expected results

Template processor function should also work for Trino.

### Act

[2022-03-28 20:04] srinify commented on #19396
Thanks @MCBoarder289 for the catch! I will fix this ASAP

[2022-03-29 05:25] jeverling commented on #8538
Same for me, upgrading (in my case from 1.3.2 to 1.4.2rc1) breaks the encryption, even if the SECRET_KEY stays exactly the same (Superset even warns about using the default SECRET_KEY).

[2022-03-29 06:07] jeverling commented on #8538
In step 3 I'm getting a syntax error.
Would `update dbs set password = null; update dbs set encrypted_extra = null;` work?

[2022-03-29 08:31] moathOSA opened #19404 "time filter applieed twice when using time series charts"
im using time and pass it t my query
when using the time charts you have to chose the time column
when using the time column and the time filter the time condition will execute twice !

this is how the generated query look like
[code]

this how my query

[code]

superset vresion 1.4.1

### Checklist

Make sure to follow these steps before submitting your issue - thank you!

- [x] I have checked th

[2022-03-29 08:32] tong900801 commented on #19388
@zhaoyongjie
I saw array type column was changed in stringify() method in result_set.py. I want to know why it was changed. What's the influence if using ensure_ascii=False.
`def stringify(obj: Any) -> str:
    return json.dumps(obj, default=utils.json_iso_dttm_ser)
`
Thanks.

[2022-03-29 08:33] xneg opened #19405 "DASHBOARD_RBAC and ENABLE_ACCESS_REQUEST are incompatible"
**Is your feature request related to a problem? Please describe.**
We want to use role based access for our dashboards but also we want to use granter role so that some group of user (dashboard creators) could give access to their dashboards to other users.
Now it is impossible cause [endpoint `dashboard`](https://github.com/apache/superset/blob/d304849b46b39bb6a261b735b7ca658962bc31e0/superset/vi

[2022-03-29 11:24] EBoisseauSierra commented on #19157
@zhaoyongjie thanks! I finally managed to have a go at it, and can confirm (`5ae7e5499`) that it works for `SUM` aggregation.

However, my particular example uses cumulative sum, and the graphs doesn't seem to resample:

![Screenshot from 2022-03-29 12-21-38](https://user-images.githubusercontent.com/37387755/160600816-c22ad898-9c61-426b-b613-336683986741.png)

(with `cumsum`, the “zero filling” w

[2022-03-29 11:37] zhaoyongjie commented on #19157
@EBoisseauSierra Could you share the dataset so that I reproduce this case?

[2022-03-29 12:32] ChunshengZhao commented on #19281
The same problem is in PivotTable v2.
![图片](https://user-images.githubusercontent.com/9263377/160611459-d6719109-ec91-453f-890f-d2328bb1d536.png)

[2022-03-29 13:38] mingfang commented on #11080
I'm seeing this problem after upgrading to v1.4.2

[2022-03-29 15:01] code23rus opened #19414 "OAuth2 - oauth_user_info not worked"
Hi.

We set up oauth2 authorization, it work fine on master branche checkouted 4 months ago. But after update on current version method for getting user information is no longer called.

#### How to reproduce the bug

superset_config.py

[code]

custom_sso_security_manager.py

[code]

But method GET http://10.3.2.39/sem-restservices/oauth2/userinfo not invoked.

In logs we have exception:

[code]

[2022-03-29 19:13] #19396 closed

[2022-03-29 19:25] clarkperkins opened #19418 "Databricks all-purpose clusters using pyhive driver broken in 1.4.0+"
In 1.4.0+, databases connecting to an all-purpose Databricks cluster with the databricks+pyhive url have duplicate entries in table dropdowns.

#### How to reproduce the bug

1. Add a database with a databricks+pyhive url
2. Go to the sql editor (or try to create a dataset)
3. Choose the databricks+pyhive database
4. Choose a schema
5. Click the "See Table Schema" dropdown

### Expected results

N

[2022-03-29 20:05] nickbp commented on #9990
Seeing this on Superset 1.4.2 with Firefox 98.0.2. Ctrl+X and Ctrl+F shortcuts are silently ignored.

Repro steps are straightforward:
- Navigate to `http://[superset]/superset/sqllab/`
- Attempt to cut text in editor box using Ctrl+X, observe nothing happens
- Attempt to cut text by right-clicking and selecting the Cut option, observe that it works fine (so breakage seems to be specific to the ke

[2022-03-29 20:17] nickbp commented on #9990
It looks like the source of the problem is that Ctrl+X is being overridden to instead be "stop query":
https://github.com/apache/superset/blob/02ef9ca4cd60d0d05f0afd2cebc1cabb83dfd4df/superset-frontend/src/SqlLab/components/SqlEditor/index.jsx#L344-L347

I think it'd make sense to just pick a different shortcut for that so that cutting text isn't broken in the editor. Alt+X is available?

Unrelate

[2022-03-29 20:40] nickbp commented on #9990
Talked with someone else about this issue and they hadn't had any problems because they're using Superset on a Mac. So Cmd+X to cut for example works fine for them, but anyone on Windows or Linux is probably seeing this problem.

[2022-03-30 00:58] suddjian commented on #17187
Heads up for anyone using this feature. Some time soon (after #19364 is merged) there will be an update pushing out a breaking change.

Instead of using the *Dashboard* id, and any dashboard being embeddable via the sdk, your app will need to use an *Embedded Dashboard* uuid that can be found through the dashboard options menu. See that PR I mentioned for more info on that.

I'll post here again w

[2022-03-30 04:34] nickbp commented on #9990
I've figured out a quick hack that fixes `ctrl+x` at server startup. This method is very ugly but it has the benefit of avoiding the need to rebuild the whole superset frontend/image if you already have an existing environment going.

The example provided here just switches the errant `ctrl+x` binding for "stop query" referenced above to instead be `alt+x`:
[code]

After restarting the Superset co

[2022-03-30 05:36] lmaloney opened #19426 ""Select All" functionality needed in column select"
### Discussed in https://github.com/apache/superset/discussions/18247

<div type='discussions-op-text'>

<sup>Originally posted by **cccs-rc** February  1, 2022</sup>
Hi all,

Having recently deployed 1.4, we've discovered that the "Select All" option (pictured below as seen in 1.3) was removed from column SelectControl in the Explore view. It appears to have been a conscious decision made during

[2022-03-30 09:20] jaimefr commented on #18774
@alexamy @zhaoyongjie I have upgraded to Superset 1.4.2 and this still doesn't work. Do you have if the fix has been excluded of the release?

[2022-03-30 09:25] zhaoyongjie commented on #18774
Do you try the master branch? I think this issue has been fixed in the latest master but not been released yet.

[2022-03-30 09:38] villebro commented on #18774
@jaimefr @alexamy: @zhaoyongjie is right - the 1.4 branch is unfortunately so old that these recent PRs weren't possible to cherry into 1.4.2. Having said that 1.5.0 is currently in the works, and the first release candidate should be made available this week.

[2022-03-30 09:40] 7vikpeculiar commented on #19414
Can you check if you updated your authlib version got updated too ? I think there is some issue with `Authlib 1.0.0`

[2022-03-30 09:42] jaimefr commented on #18774
@villebro  thanks, so we can expect this to be solved in 1.5
@zhaoyongjie no, we haven't tried, we only deploy official releases

[2022-03-30 11:03] villebro commented on #19426
Thanks for opening the issue @lmaloney. This has been raised by many people since the option was removed. The main motivation for removal is that selecting all columns is a fairly uncommon use case when creating charts - the majority of charts would not easily handle grouping by 100+ columns, both from a visualization perspective, but also from a query performance perspective. However, I understan

[2022-03-30 11:54] CFM90 opened #19431 "German Translation not correctly implemented?"
The German translation is very much incomplete. But I suspect a bug not an incomplete tanslation per se, because as the screnshots  by @hbruch in [PR17525 ](https://github.com/apache/superset/pull/17525) indicate, the German translation is way more complete compared what I can find on a fresh install. So there may be a good German translation which is not correctly included in superset itself. Thi

[2022-03-30 12:50] SimonKlausLudwig commented on #3690
Its a shame that this is not possible. I set up superset, everything is great and now i need to stick to something else as i cant integrate it into our app.

[2022-03-30 13:02] swapniljariwala opened #19433 "Getting an error while installing superset using pip"
A clear and concise description of what the bug is.

#### How to reproduce the bug
[code]
### Expected results
Normal installation

### Actual results
Installation failing

[code]

### Environment

No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 10 (buster)
Release:        10
Codename:       buster

### Additional context

Probable issue:
in `setup.py`
[code]

[2022-03-30 13:41] lmaloney commented on #19426
Ah, I think there is a disconnect here....

My use case, as well as "CCC-RC" (I suspect) use case is the data table chart.

I don't really use the graphing functionality all that much of the charts... I do.. but, 90% of the charts I produce are data tables.  Either raw data, OR summaries of data.

Unfortunately most of the data tables just have LOTS of columns.

The data is pre-processed, and cach

[2022-03-30 13:50] raupat commented on #16897
A workaround for this problem ist proposed in #17035 by not setting up a series limit. The Join Subquery will not be added and therefore the error will not occur.

The missing "anon_1" reference in the join condition is however still a bug from my point of view, when using a series limit.

[2022-03-30 14:12] swapniljariwala commented on #19433
This is probably due to older Python version 3.7, I'll close it if version upgrade fixes it

[2022-03-30 14:14] xneg commented on #2488
Faced this problem trying to access `explore_json` with JWT token. This doesn't work cause this endpoint is missing `@protected` decorator. Want to make a PR to fix it (or receive feedback why I shouldn't do so).

[2022-03-30 14:21] ChunshengZhao commented on #16087
Also in version 1.4.2, DB is MSSQL.

[2022-03-30 16:14] jinghua-qa commented on #19000
Validate fixed by https://github.com/apache/superset/pull/19076

[2022-03-30 16:14] #19000 closed

[2022-03-30 16:26] srinify commented on #19433
Yeah I would try 3.8!

[2022-03-30 16:50] villebro commented on #3690
FWIW, I'm sure the community is open to review a PR that adds this functionality.

[2022-03-30 16:58] eschutho commented on #9990
Thank you for the finding this issue. We've done some workarounds for shortcuts in Windows vs Mac, and I agree that this is an important shortcut for Windows users. @yousoph do you think someone can look into this?

[2022-03-30 18:58] Artem-fb commented on #15855
hello, @eschutho! You wrote that I can reopen this task if there are a problems.
But I can't do that
I need your help. Please

[2022-03-30 21:29] PaulKov opened #19449 "Error when fetch saved queries"
#### How to reproduce the bug

1. Go to superset/welcome/
2. See error

Error message:
![image](https://user-images.githubusercontent.com/74862786/160931718-07fec5ca-f302-4c98-9fb7-de17e859fbda.png)

Failed api request in web developer tools:
![image](https://user-images.githubusercontent.com/74862786/160933749-0cbfc4cb-1891-491d-a10f-9c890088945e.png)

Response to failed API request: {"message":"

[2022-03-31 04:36] jinghua-qa opened #19453 "[dataset] dttm will change to string type for virtual dataset in sqlite"
dttm will change to string type for virtual dataset in sqlite, this issue is sqlite only, can not reproduce in other db

#### How to reproduce the bug
1, connect to sqlite db
2, go to sql lab, select datetime column and run query
3, open dataset in explore
4, click dataset edit and look for the datetime column for data type

### Expected results
datetime column should show type in datetime in virt

[2022-03-31 04:59] yourssvk commented on #16325
Thanks @AAfghahi - please :-)

[2022-03-31 06:45] alikefia commented on #3690
The issue identified, years ago, is hard coded urls in the code (https://github.com/apache/superset/blob/master/superset/views/core.py#L297).
The idea is to track them and use `url_for` that will build the effective URL based on the global configurations.

[2022-03-31 06:46] code23rus commented on #19414
in log:

...
Downloading Authlib-1.0.0-py2.py3-none-any.whl (214 kB)

[2022-03-31 06:52] code23rus commented on #19414
We don't set Authlib version manually, we add it to file with requirements:

`echo "Authlib" > ./docker/requirements-local.txt`

and then `pip` installs it

[2022-03-31 07:17] 7vikpeculiar commented on #19414
Yup, try using `authlib==0.15.5`

You might have to edit the line you added in `docker/requirements-local.txt` from `Authlib` to `authlib==0.15.5`

[2022-03-31 07:20] lazpuzzle opened #19455 "I can't filter timestamp"
### Discussed in https://github.com/apache/superset/discussions/19427

<div type='discussions-op-text'>

<sup>Originally posted by **lazpuzzle** March 30, 2022</sup>
![image](https://user-images.githubusercontent.com/40905829/160799537-310e93bc-5472-4968-821d-8f9369408022.png)

how i can config this timestamp. the data import from opensearch</div>

[2022-03-31 07:34] vdobes commented on #19100
I got the same problem.
Trying to update my 1.4.1 version to the latest master, and I got the same error.
I'm using docker version with PostgreSQL DB.

My Log is similar:

[code]

[2022-03-31 07:47] arabasco commented on #17870
Hi, I'm having this exact same problem right now. Is there any solution?

[2022-03-31 09:43] code23rus commented on #19414
Now it works well, thanks!

[2022-03-31 09:43] #19414 closed

[2022-03-31 10:19] MQXR opened #19457 "Dynamic Filters/ Integers Jinja Syntax"
Hi everyone,
First of all, Is there any update on the dynamic filters? where I can select all the values above a certain number and present it?
Secondly, I'm wondering if there is a jinja template/syntax for integers, I have seen the examples on the superset documentation and it worked for the string values, Is there a way to do the same thing but with numbers?
I have a CDR file that has cdr_durat

[2022-03-31 11:38] vdobes opened #19459 "SQL Lab - Blank window after selecting Table to query in"
SQL Lab error when accessing SQL query. There is only a blank white view with no SQL query editor view.

#### How to reproduce the bug

1. Go to SQL Lab -> SQL Editor
2. Select Databse, Scheme, and Table to query

### Expected results

There should be a Query editor window

### Actual results

There is only a blank white view with no query editor. You must clear the browser cache, to get working a

[2022-03-31 12:29] nigzak opened #19461 "Superset does not seem to support refresh token (OpenID Connect with authlib) and I get "hardly" kicked out after token expired"
I am using superset with custom OAUTH configuration which is using a login token which expires after 30m.
Until this time is not expired all works
If the time expires I get error messages, in the logfile in the server is standing 401
If I open the main page again (and I am not in some chart) I get a "login" page again displayed

... this is in case I am modifying some charts very bad

Superset 1.4

[2022-03-31 15:25] villebro commented on #19449
Fixed by #19372

[2022-03-31 15:25] #19449 closed

[2022-03-31 15:50] sergun opened #19468 "Superset adds numeric suffix to some table field names"
#### How to reproduce the bug

I just executed SELECT * from ser_greedy_21 query in SQL lab
But Superset adds numeric suffix to some table field names and shows error:
oracle error: ORA-00904: xxx: invalid identifier

### Expected results

Table preview filled.
Output with results.
No error messages.

### Actual results
Table preview filled. OK
Output with results. OK
No error messages. FAIL. Ther

[2022-03-31 15:50] sergun commented on #17291
@jhult do you have other problems likely connected to this issue? I see that sometimes Superset substituces long field names with some numeric preficies like "_1". That causes error messages.
See https://github.com/apache/superset/issues/19468

[2022-03-31 16:38] ciolo opened #19469 "Install Elasticsearch db engine in kubernetes without helm"
Hi,
I installed Superset in a Kubernetes cluster without helm. I mounted the `superset_config.py` file in a volume under `PYTHONPATH`. I connected a postgres db instance successfully. Everything is fine.
Now I would like to connect an Elasticsearch instance. I tried to mount the `requirements_local.txt` with `elasticsearch-dbapi` inside, like README states, but it didn't work; when I try to connec

[2022-03-31 16:53] usmankhan-dataengineering commented on #5207
In databases/filter.py:

[code]

It will restrict Database access to the user who created database connection

[2022-03-31 17:11] suddjian opened #19470 "Check text of changes in UPDATING.md, make it easier to understand"

[2022-03-31 17:14] suddjian opened #19471 "Release 2.0"

[2022-03-31 21:05] #18903 closed

[2022-03-31 21:06] srinify commented on #19455
Hey there, moving to Discussions as this isn't a bug per say :)

Some advice:

- Either modify the format in the underlying database itself
- Or use a calculated column to transform specific columns: <img width="1648" alt="Screen Shot 2022-03-31 at 5 05 38 PM" src="https://user-images.githubusercontent.com/801507/161149409-08bb0aec-e4dc-4e25-9d40-caf054801a4d.png">

[2022-03-31 22:13] pnadolny13 opened #19478 "Export Dashboard - Data Sources Ordering Is Volatile"
When using the `export_dashboards` command on the CLI, everything is working great but I noticed that sometimes the order of the datasources changes in the list with no updates. I'm attempting to use the export functionality to git version my dashboard definitions and a reordering of my datasources with no changes ends up causing noise in my diffs.

#### How to reproduce the bug

1. Create dashboa

[2022-04-01 00:47] jhult commented on #17291
@sergun, I don't believe I've seen any other issues that I believe are connected to this.

[2022-04-01 02:40] caleb15 commented on #17712
Same issue with latest superset helm chart, tag: 1.4.2. I pulled 1.4.2 and looked inside. run-server does not exist in the docker image. @villebro can this be reopened please?

[code]

[2022-04-01 07:57] villebro commented on #3690
@cdmikechen to rephrase, if this feature is important for the community, feel free to open a PR that adds the functionality. But keep in mind: for it to get merged it needs to be of high quality in general (abide to best practices generally recommended by the used libraries/frameworks) and include good tests.

[2022-04-01 13:06] alanorth commented on #19150
On a fresh pip install of Superset 1.4.2 I get the same error. Downgrading MarkupSafe to 2.0.1 fixes it.

[2022-04-01 16:51] john-bodley commented on #19470
https://github.com/apache/superset/pull/19480

[2022-04-01 17:15] eschutho commented on #17712
@caleb15 this issue should be resolved in the upcoming 1.5.0 release.

[2022-04-01 20:32] vpicavet commented on #16087
I can reproduce on Superset 1.4.1 and PostgreSQL.

[2022-04-01 20:38] pedrohdemedeiros commented on #15263
Hi! I am currently having the same problem, did you get any improvement on it?

Best Regards

[2022-04-01 21:17] cyberop5 commented on #15700
Updated link for adding database drivers for Docker: [https://superset.apache.org/docs/databases/docker-add-drivers]()

[2022-04-01 21:25] pedrohdemedeiros commented on #16030
Hi, all.

Any progress on this issue? I'm trying to overcome it rigth now =/

[2022-04-02 05:36] nightbear1009 opened #19496 "migration plan " New dataset models " can't execute properly"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. add new dataset using virtual query with bigquery
2. the sql is  as below
[code]
3. go to console call `superset db upgrade`

### Expected results

success

### Actual results

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/pybigquery/sqlalchemy_bigquery.py", line 839, in _get_

[2022-04-02 08:53] zhugw opened #19497 "Search from whole dataset not only limit rows"
There is a table chart and the total count of the dataset is `1249068` , when search some keyword there is no result, but just because the keyword not exists in the 10000 rows, actually there are many rows contain this keyword.

so business want to search from whole dataset not only these 10000 rows.

Current superset version is `1.1.0` , now my plan is to develop an external Api,
e.g.
[code]
to i

[2022-04-02 09:56] hugo-azevedo commented on #19005
@mildrabbit Did you manage to solve this issue? I'm getting the exact same behaviour. thanks

[2022-04-02 14:51] dzar-aker opened #19498 "Need a way to change a forgotten password"
**Is your feature request related to a problem? Please describe.**
When a user forgets their password, there is no way to get into the system to change it. The admin cannot change it, and the user cannot change it without logging in first.

**Describe the solution you'd like**
There are a few possible solutions:

- Have a "forgot password" link on the login screen that will allow a reset password

[2022-04-03 08:54] moathOSA opened #19499 "table column dimenssions"
i have an issue in table column dimensions , i can't specify the column width and height to view only small data and view all data only on click !!

![table_column_dimensions_issue](https://user-images.githubusercontent.com/60176683/161419862-32487ebd-e897-4d7e-9169-06e65b3d06ed.jpg)

superset version 1.4.1
### Checklist

Make sure to follow these steps before submitting your issue - thank you!

-

[2022-04-03 17:27] narezzi opened #19501 "Filter by different granularity 5,10,15 or 30 Minutes"
The function is to allow certain chart to be reading timeseries in different granularity, today we don't hvane this option

[2022-04-04 03:17] Blaize-Rhodes commented on #17324
Can I suggest that when you mouse over the line it displays the line value.
Put the key somewhere else like all the other graphs in the world?

[2022-04-04 03:42] clementchong commented on #16659
Not sure if it is just me, I need to prefix with sudo to pull successfully.

$ sudo docker-compose -f docker-compose-non-dev.yml pull

Below command able to start but I run into multiple errors. Seems some issues with the pull operation.

$ sudo docker-compose -f docker-compose-non-dev.yml up

Found https://github.com/apache/superset/issues/17949

Below command works after git clone but still gett

[2022-04-04 04:53] srinisubramanian opened #19502 "Export/Import Dashboard does not import chart changes"
When changes are made to a dashboard and chart(s) and exported and imported the chart changes are not imported.  Only dashboard changes seem to be imported.

#### How to reproduce the bug

Create a dashboard, add a few charts and export (VERSIONED_EXPORT= True).  Import it into another instance for the first time and all changes are imported.

Make some changes to the dashboard AND to the charts.

[2022-04-04 05:28] ardiantovn opened #19503 "how to display data until the last day's data?"
I have data from 1st April 2022 to 4th April  2022. Today is 4th April 2022, but Apache Superset can only display data from 1st April 2022 to 3rd April 2022. How to display all the data?
Thanks

[2022-04-04 06:55] yousoph commented on #10181
I haven't been able to repro this - going to close but feel free to reopen if you're still running into this!

[2022-04-04 06:55] #10181 closed

[2022-04-04 07:38] #18210 closed

[2022-04-04 08:44] rumbin opened #19504 "Select time grain "Original Value" is not working on first attempt"
The first attempt to choose "Original Value" as time grain results in "Day" being selected.
This is very confusing for both beginners for power users who might not even check teh result of their actions.

#### How to reproduce the bug

1. Go to Explore with any time-series chart. Make sure  that the set time grain is not "Day". Maybe set it to "Week" and then refresh the page.
2. Click on Time Gra

[2022-04-04 08:58] sporaans commented on #17261
Hi @geido are there any updates on this? I also have this issue.

[2022-04-04 09:24] gbusch commented on #19502
I had the same problem:
In the file "superset/dashboards/commands/importers/v1/__init__.py" there are calls to functions like import_chart, import_dataset etc. where the parameter "overwrite" is set to False.
I set them to True and it works. But this is obviously just a hack and requires you to modify the source code.

[2022-04-04 09:29] srinisubramanian commented on #19502
@villebro I know a few issues have been fixed wrt import/export and also planned for 1.5.0 .. can this issue as pointed out by @gbusch  above be looked into?

[2022-04-04 09:42] fikriabror commented on #4267
Hi I got the same issue, the difference only in the chart the X-axis not show any particular days just random days. How to make the weekly time grain X-axis matches with the markers.
<img width="1431" alt="Screen Shot 2022-04-04 at 16 37 50" src="https://user-images.githubusercontent.com/11493699/161517967-295885e8-70d4-4436-ae8c-e04bd4e535d8.png">

[2022-04-04 09:48] fikriabror opened #19506 "X-axis tick mark at first of the month is incorrectly injected into charts with weekly time grain"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Create a time series charts
2. Click on Time columns is contain the date and time grain is weekly
3. X-axis Weekly time grain not Match with the Marker

### Expected results

The X-axis match with the marker which in this case start from Monday.

### Actual results

The X-axis just appear on the random days.

##

[2022-04-04 09:55] ValentinC-BR opened #19507 "[Timeseries Bar Chart V2] Bars disappear when changing the contribution mode to "Total""
I try to use the new version of the chart, to progressively migrate from legacy to echarts.

However, the timeseries bar chart v2 can't be used for 100% stacked bar chart : Some bars are not displayed when changing the contribution mode to "Ttoal".

#### How to reproduce the bug

1. Create a timeseries bar chart (v2)
2. Select "Contribution mode : Total"
3. Run
4. See error

### Expected results

[2022-04-04 10:06] ValentinC-BR opened #19508 "[Timeseries Bar Chart] The bar colors are not coherent with other charts in a dashboard"
The Timeseries bar chart colors are not harmonized with other charts (since 1.4 ?)

This might look like a mere cosmetic issue (actually, it is) but it is very annoying in a dashboard.

#### How to reproduce the bug

1. Add a timeseries bar chart to a dashboard
2. Add another chart to your dashboard, with the same legend (GROUP BY field in most charts)
3. Check colors

### Expected results

The ba

[2022-04-04 10:08] ValentinC-BR commented on #19508
All charts have the same definition :
![image](https://user-images.githubusercontent.com/79460908/161522454-6a741c7f-f1a3-4bae-883f-c735061076cd.png)

[2022-04-04 10:17] clementchong opened #19509 "Help: How to get Pivot V2 sort by dimension?"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Go to '...' Create Chart, Pivot V2
2. Click on '....' Select a date field into Rows. Select a metric. Try to add sort by the same date field descending.
3. Scroll down to '....'
4. See error

### Expected results

The last date I have with data is 03 Apr. I would expect to see the counts by descending TranDate.

[2022-04-04 10:19] nigzak opened #19510 "OAuth Login: user details are not synchronized, only the entitlements are synced on login"
I have enabled the OIDC login
I have enabled the userinfo endpoint
I have activated the synchronized for the entitlements (AUTH_ROLES_SYNC_AT_LOGIN = True)

#### How to reproduce the bug

1. Login as Admin
2. Navigate to some user and overwrite full name or email and SAVE
3. let the user login with his account via OIDC
4. the overwritten details are still persist and not updated

### Expected resu

[2022-04-04 10:44] tarumgod opened #19511 "After restarts docker compose and server, superset using clean sqlite not postgresql with old data"
When i try to login, in superset_app i see:

`superset.db_engine_specs:Unable to load SQLAlchemy dialect <class 'pydruid.db.sqlalchemy.DruidHTTPSDialect'>: No module named 'sqlalchemy_trino'
`
postgresql base with table and data in table its ok, but apache superset using new sqlite db with admin:admin credentials

#### How to reproduce the bug

1. First start apache superset docker compose up -d
2

[2022-04-04 11:24] srinisubramanian commented on #19502
@villebro  Request to check if this issue that seems to be fixed in master is to be included in 1.5 as it seems to relate to overall import/export and VERSIONED_EXPORT developments.

[2022-04-04 11:38] denbon05 commented on #17949
![image](https://user-images.githubusercontent.com/58662935/161535478-75361083-365e-40fe-af8a-13d66d66a8f2.png)
I did the same as you and tried other attempts and didn't get any error (in logs) but the page is not showing

[2022-04-04 11:43] pdakkata-quot commented on #17949
You need to wait for more than 30 mins to let all the examples & modules load. It'll work.

[2022-04-04 11:54] kittylon commented on #13706
Hello, what was missing in the configuration? I am encountering the same issue

[2022-04-04 12:35] ciolo opened #19514 "Export dashboards to external website without iframe"
Hi everyone,
I exported some dashboards of my superset instance in an external website using an iframe with flag `?standalone=true` successfully. Everything works fine.
But my question is: is it possibile export dashboard without using iframe? I've seen the `superset-ui` package but it seems no longer maintained. Am I wrong? If so, how can I export dashboards without using an iframe, for example b

[2022-04-04 12:40] nigzak commented on #19461
other error position: switch to charts via link

![image](https://user-images.githubusercontent.com/102737855/161545138-b4125d5b-d93d-4f3c-972b-09b02f77e01a.png)

`
10.21.128.7 - - [04/Apr/2022:12:37:31 +0000] "GET /api/v1/chart/_info?q=(keys:!(permissions)) HTTP/1.1" 401 39 "https://xxxxx.com/chart/list/?pageIndex=0&sortColumn=changed_on_delta_humanized&sortOrder=desc&viewMode=table" "Mozilla/5.0

[2022-04-04 12:43] villebro commented on #19502
AFAIK all PRs that have been merged to master as of this moment related to import/export improvements should be included in 1.5.0rc1.

[2022-04-04 13:18] denbon05 commented on #17949
hmm, I've been waiting near by 2 hours and without changes :/

[2022-04-04 13:24] vishalsawale9 commented on #13706
It was related to OAUTH, as I remember vaguely.

[2022-04-04 13:36] jordiisidro commented on #19498
The admin user can change the user's password in the menu List users -> show record.
![imatge](https://user-images.githubusercontent.com/19467312/161555568-3efb60b8-0940-4668-abda-181642631287.png)

But I prefer that users can recover or regenerate a new password without the administration support.

Regards

[2022-04-04 13:45] dzar-aker commented on #19498
Ah ha! Not sure why this is not (also?) in "Edit User," but it's not. I see it in "Show User" as noted. And I agree having the ability for the user to change this is important as mentioned.

Thank you!

[2022-04-04 13:48] srinify commented on #19499
Hey there @moathOSA these are both good suggestions but I will say that they aren't bugs per say (the functionality is working as originally designed). Moving to discussions to see if others want to weigh on the discussion around improvements!

[2022-04-04 14:56] pdakkata-quot commented on #17949
It should work. Is the image got sucessfully build? can you share screenshots for more understanding?

[2022-04-04 21:07] yousoph commented on #16848
Hi @Amanda-Chiang , are you still seeing this error with your import? If so, would you be able to share the zip file or more info about the dashboard so we can try to reproduce it? Thanks!

[2022-04-05 00:24] pedrohdemedeiros opened #19525 "Cannot autheticate on API. Get the tokens (JWT and csrf) but all responses are "401""
I cannot use the API succefully for any request (except to get the secutiry tokens), always getting " Response 401" for any request.

#### How to reproduce the bug
On the docker container where the superset is running:

[code]

response

### Expected results

{
  "result": {
    "email": "admin@superset.com",
    "first_name": "Superset",
    "id": 1,
    "is_active": true,
    "is_anonymous": fal

[2022-04-05 06:55] denbon05 commented on #17949
Yes, image builded successfuly  (Successfully tagged apache/superset:latest-dev), everything is the same as in apache/superset repo on branch 1.4.1cr1 except docker-compose.yml, because I need to have prodaction version of database seted locally (in docker-compose-non-dev.yml) and dev db in docker container for my experements, I already had this configuration on superset version 1.3.2
[code]

 and

[2022-04-05 07:32] pdakkata-quot commented on #17949
can you remove SUPERSET_WEBSERVER_TIMEOUT configuration & try all the procedure from the beginning.

[2022-04-05 07:51] denbon05 commented on #17949
after switched up to 1.4.2 branch I did the same with equal config and it's working in dev mode. Currently I can't check if the prod version works too because it's used daily by other departments. But I really appreciate your help, thank's a lot.

[2022-04-05 08:49] villebro commented on #18198
FYI: This issue is solved in the forthcoming 1.5.0 release.

[2022-04-05 10:25] snehlata08 commented on #8278
This didn't work for me. Can you please show the full code. Is there some mistake that I might have done.

[2022-04-05 10:27] shal-kumari commented on #18639
I'm facing the exact same issue. No Results in maximum refreshes. Cache seems to be empty alot of times.

[2022-04-05 10:33] villebro commented on #18639
@shal-kumari what version of Superset are you running?

[2022-04-05 10:41] Artem-fb opened #19531 "Export Dashboard button cannot be hidden"
As The problem still exists(v1.4.1) and I can't reopen my previous tikket (https://github.com/apache/superset/issues/15855), I create this one

There is no permission in roles which can hide button "EXPORT" Dashboard

Expected results
should be permission for "export" dashboard button

Actual results
there is no permission for "export" dashboard button
now permission "can read on dashboard" makes

[2022-04-05 11:59] stephenLYZ commented on #19508
hey @ValentinC-BR Have you tried setting the color scheme of the dashboard?

[2022-04-05 16:18] stephenLYZ commented on #19349
Fixed by https://github.com/apache/superset/pull/18146

[2022-04-05 16:21] stephenLYZ commented on #19224
Hey. I believe this issue has been fixed since 1.4.1. Please try to update to new version. Thanks!

[2022-04-05 17:32] bryzgaloff commented on #6697
Check PyAthena version. [Superset docs](https://superset.apache.org/docs/databases/installing-database-drivers) tell `PyAthena>1.2.0` while PyAthena PyPI page says `PyAthena[SQLAlchemy]>=1.0.0, <2.0.0`. In my case `PyAthena[SQLAlchemy]>1.2.0, <2.0.0` (combining both constraints) solved an issue and the tables were present in dropdown list in SQL Lab (it was empty with `PyAthena==2.5.1` (latest) ve

[2022-04-05 17:53] mxalis commented on #19100
Had the same issue when updating from 1.4.2 (deployed on Kubernetes using the Helm chart) to latest master. PostgreSQL as the database.

[2022-04-05 18:11] Larissa-Rocha opened #19535 "Not possible to disable export to json on charts"
I'm not sure if it's a bug, but I'm try to disable the "export to .json" feature on the menu of charts by removing the "can slice json on superset" permission and it keeps enabled.
I noticed that [here](https://github.com/apache/superset/blob/1a1322d3d92960416a4874997b53aec3bd59eff6/superset-frontend/src/explore/components/ExploreAdditionalActionsMenu/index.jsx#L337) in the export to json Menu Ite

[2022-04-05 20:35] hartkena commented on #3769
@villebro Is this feature available in 1.4.2? If so, which flag has to be set?

[2022-04-05 20:39] rumbin commented on #3769
According to the release notes, this feature is only available in version 1.5.

[2022-04-05 21:40] bgsthiago commented on #19418
I'm facing the same issue here.

[2022-04-06 01:28] ErikXu opened #19541 "Is it possible to support MySQL behind a proxysql?"
I've setup a MySQL cluster behind a [proxysql](https://proxysql.com/) - A high performance MySQL proxy.
I can't use the proxysql connection string to connect MySQL in superset, while using MySQL server IP works.
Is it possible to connect superset to MySQL behind a proxysql?
Thanks!

[2022-04-06 01:45] edudobay commented on #19496
I'm having a similar problem, where the `New dataset models` migration isn't executed. But no error message appears. If I run `superset db upgrade` at the console, the process just stops (with status code 1) after printing:

[code]

Is there anything I can do to diagnose what is causing this failure?

Further history (that may or may not be related): At first I was getting a message like `unable t

[2022-04-06 06:03] MM-Lehmann commented on #6970
Would like to reopen this.
A markdown banner like in gitlab would perfectly fit our needs to inform users of upcoming maintenance and downtimes.
Any chance to do this in javascript? (I've played around a little in the past but couldn't get anywhere near that)

[2022-04-06 06:39] villebro commented on #19100
Ok, I've found the issue. It appears migrations `b92d69a6643c` and `0ca9e5f1dacd` have been skipped in the 1.4 release, causing the upgrade from 1.4 to master or 1.5 to fail.
See the different down revisions of `f9847149153d` in 1.4 and master:

https://github.com/apache/superset/blob/9fc5e09cb3c5278720d455ddde959ab791713206/superset/migrations/versions/f9847149153d_add_certifications_columns_to_s

[2022-04-06 07:00] villebro commented on #19100
Fix PR: #19543

[2022-04-06 07:32] MM-Lehmann commented on #14292
please reactivate.
I can confirm this in 1.4.2

[2022-04-06 07:46] sujiplr opened #19546 "Error while saving Virtual data set using explore 1.5.0rc1"
A clear and concise description of what the bug is.

#### How to reproduce the bug

Run query in SQLEditor and after getting the result try explore and save the data set then it will throw error.

### stack trace

Traceback (most recent call last):
File “/usr/local/lib/python3.8/site-packages/flask/app.py”, line 1950, in full_dispatch_request
rv = self.dispatch_request()
File “/usr/local/lib/pytho

[2022-04-06 07:47] #19100 closed

[2022-04-06 07:54] sujiplr opened #19547 "Error while accessing SQL Editor - 1.5.0rc1"
SQL Editor is not loading and showing only a blank screen. Below goes the stack trace.
#### How to reproduce the bug

Click on the SQL Editor and check. This is not coming always.

#### Screenshots

<img width="1325" alt="image" src="https://user-images.githubusercontent.com/31705464/161924010-5a7cd247-fcb0-4cfa-bd77-ff9abe4e2cb3.png">

If applicable, add screenshots to help explain your problem.

[2022-04-06 09:10] villebro commented on #19541
The `proxysql` homepage states that "ProxySQL understands the MySQL protocol and features advanced connection handling capabilities", which to me seems like it should be possible to just replace the MySQL server IP with the ProxySQL one. Is this not the case?

[2022-04-06 09:43] sujiplr opened #19555 "Log table not showing the actual run time of the SQL ."
The duration_ms column in the log table suppose to log the exact duration of the SQL against the source database while loading the chart. But it's always showing the load time from cache to chart. In my case GAQ is enabled.

#### How to reproduce the bug

1. enable GAQ in deployment.
  global_async_settings: |
    GLOBAL_ASYNC_QUERIES_REDIS_STREAM_PREFIX = "async-events-"
    GLOBAL_ASYNC_QUERIES_

[2022-04-06 09:53] YananDong opened #19556 "when heatmap chart is used in iframe, tooltip is hidden in the top and left"
![042bb81a41d501250e91603cfcc1c8a](https://user-images.githubusercontent.com/25118843/161948564-44c3aec0-1879-4614-85aa-3b815f0adb90.png)

superset: 1.1.0
As the image shows: the heatmap is using in iframe, tooltip is hidden.

[2022-04-06 10:51] villebro commented on #19535
Good catch @Larissa-Rocha! The `disabled={!canDownloadCSV}` should definitely be added to the JSON export item, too (`canDownloadCSV` is equivalent to "is allowed to download tabular data"). Would you be able to open a PR fixing that?

[2022-04-06 11:20] sujiplr commented on #19547
This is related with browser.

[2022-04-06 11:46] imamaigein99 commented on #5993
I increased SUPERSET_WEBSERVER_TIMEOUT to 300 and i am still getting the below Error.

[](https://superset.apache.org/docs/miscellaneous/issue-codes#issue-1000)[](https://superset.apache.org/docs/miscellaneous/issue-codes#issue-1001)We’re having trouble loading this visualization. Queries are set to timeout after 60 seconds.

This may be triggered by:
Issue 1000 - The dataset is too large to query

[2022-04-06 11:49] imamaigein99 opened #19560 "Superset Visualizations are timing out after 60 seconds. Want to increase that. How can I implement it?"
[](https://superset.apache.org/docs/miscellaneous/issue-codes#issue-1000)[](https://superset.apache.org/docs/miscellaneous/issue-codes#issue-1001)Timeout error
We’re having trouble loading this visualization. Queries are set to timeout after 60 seconds.

This may be triggered by:
Issue 1000 - The dataset is too large to query.
Issue 1001 - The database is under an unusual load.

[2022-04-06 12:23] srinify commented on #19560
Hey there @imamaigein99 moving to Github Discussions as this isn't a bug per say!

In general, I would think about Superset as a light frontend over your existing database / data stack. So if you attempt to query a large # of rows / records that your database can't handle, it'll take too long for the results to come back.

[2022-04-06 12:57] ValentinC-BR commented on #19508
I tried to choose a color scheme : Nothing changed.

What I didn't try is setting my own values in `color_labels` parameter (Edit dashboard properties/Advanced).

[2022-04-06 13:37] EBoisseauSierra opened #19564 "`{{ from_dttm }}` and `{{ to_dttm }}` Jinja special variables are not rendered in Custom SQL metrics"
When using [Jinja special variables](https://superset.apache.org/docs/installation/sql-templating/) in Custom SQL metrics (Explore Panel), `{{ from_dttm }}` and `{{ to_dttm }}` are not rendered — unlike, say, `{{ current_user_id() }}`.

#### How to reproduce the bug

Turn Jinja templating feature flag on:

[code]

1. Go to your_dataset/BigNumber/Explore Panel
2. Click on Metric/Custom SQL
3. Use f

[2022-04-06 14:18] Larissa-Rocha commented on #19535
@villebro thanks for your reply. Yes, I can open a PR

[2022-04-06 14:59] dvchristianbors opened #19567 "Significant Increase in Querying Time Due to Sqlparse"
When increasing the number of keys in `IN` clauses, the runtime of the query is sgnificantly increased. This means that queries with large numbers of keys are running for a very long time (several seconds for 200 keys), even though a direct query on the underlying database will terminate within milliseconds.

See discussion in Slack: https://apache-superset.slack.com/archives/C014LS99C1K/p16334483

[2022-04-06 15:07] shalnice opened #19568 "Could not save sync column from source - Error OLD_API_CHECK_DATASET_OWNERSHIP"
Hello, I tried to add new column to my dataset in superset (launch with docker-compose) using sync column from data source (postgresql).
but when I click "Sync colum from source" the new column appears on the list, but when I clicked save, an error message appear :
 Error **OLD_API_CHECK_DATASET_OWNERSHIP**

I tried the following things in the config.py file  and relaunch superset :
-  changing OL

[2022-04-06 15:13] villebro commented on #19360
I'm tagging this with the "v1.5" label, as it would be great if we could get this fixed in one of the forthcoming releases. @dpgaspar do you have thoughts on how to fix this?

[2022-04-06 20:03] shumway743 commented on #9253
We are also experiencing this with the latest release. The issue seems to be related to syntax highlighting. If you type "select select select ..." all the way across the screen you will see the cursor lag (select is bolded as it is a keyword). If you type a non-keyword such as "hello hello hello ..." across the window, the cursor seems to keep up fine (no bolding takes place). Just an observation

[2022-04-06 21:38] FSHK commented on #4583
So is not possible?

[2022-04-06 22:31] yousoph commented on #16708
Haven't been able to repro this either, please reopen with more details if you are still able to repro. Thanks!!

[2022-04-06 22:31] #16708 closed

[2022-04-07 03:12] ErikXu commented on #19541
With no luck, it's not the case. The database cannot be added via ProxySQL IP.

[2022-04-07 04:17] zeesumwang opened #19580 "text cursor algin did not fix the text in sqlLab."
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Go to 'sqlLab'
2. typing some sql
3. See error

https://user-images.githubusercontent.com/38022455/162117952-af433203-915b-43ae-bdc5-fd621756347e.mp4

### Expected results
cursor algin fix right

### Actual results

what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your pro

[2022-04-07 07:59] zeesumwang commented on #19580
## this font-family css relate to this react prop
![image](https://user-images.githubusercontent.com/38022455/162147396-dcc6b333-faf2-4c02-9324-9c395dafe9e0.png)
![related code](https://user-images.githubusercontent.com/38022455/162147726-ae1c50da-8e34-474f-8ba2-2d2c4ca2b220.png)
## I found change this component's default theme "github"->"textmate" can solve the problem.
![image](https://user-imag

[2022-04-07 08:44] MM-Lehmann commented on #18959
Also, may or may not be related: There is still a problem with dashboard_rbac when using a public dashboard for unauthenticated users. When logging in (oauth), no dashboards can be seen, that have not set their "dashboard roles" (rely on dataset access).

[2022-04-07 08:49] Gordonei commented on #19349
thanks, @stephenLYZ, will confirm the fix and close the issue!

[2022-04-07 10:58] kangyunfu opened #19584 "Why doesn't mongodb support"
Why doesn't mongodb support

[2022-04-07 11:04] #19564 closed

[2022-04-07 11:30] #19546 closed

[2022-04-07 14:15] riazarbi opened #19588 "Helm upgrade from 0.5.8 to 0.5.9 fails"
When upgrading my helm release fro v 0.5.8 to 0.5.9 I get the following error -

[code]

#### How to reproduce the bug

1. Deploy a helm chart with a v 0.5.8 release
2. Upgrade the release to v 0.5.9

### Expected results

The upgrade to complete successfully.

### Actual results

I get the above error

### Environment

- browser type and version: Not relevant
- superset version: `1.4.0`
- python

[2022-04-07 14:33] riazarbi commented on #19588
Alright, I fixed my own problem in an unsatisfactory kind of way.

It appears the root cause is that the redis image tag was bumped. Statefulsets don't allow you to do this, so the upgrade fails.

I managed to get past it by setting

[code]

In order to upgrade from 0.5.8 to 0.5.9.

Since the statefulset was no longer part of the spec, the upgrade succeeded. But of course superset was broken becau

[2022-04-07 14:44] cccs-RyanS opened #19592 "Adhoc filter popover simple tab on explore view does not render subject multi select if no suggestions are present"
In the explore view for a dataset there are a set of conditions which causes the the subject select to not render in the adhoc filter pop over control (AdhocFilterEditPopoverSimpleTabContent) . These condition are met when a column is selected and an operator belonging to the MULTI_OPERATORS list has also been selected and no suggestions have been populated.

I believe this to be caused by this li

[2022-04-07 14:46] soudhaf commented on #19496
[code]
I have same problem on container init running ([e5bab00c](https://github.com/apache/superset/tree/e8f3e8a24e73502bb995fd1ce027efa3fe65b901))

[2022-04-07 15:40] tholsar commented on #17870
Hi, I am also facing exactly the same issue. If anybody have any solution please help...

[2022-04-07 16:52] Pythonbratty opened #19596 "Apache superset bypassing login mechanism"
Hi,

Iam still not able to bypass login of admin user from apache superset. Please let me know I tried Cypress and other autologin as well.

Help me unlock this issue
Thanks,

[2022-04-07 21:30] kevinwen2k opened #19604 "Filter space is cut off if user is not an admin or the owner of the dashboard when no filter is specified"
We programed to collapse the filter by default so that user will have more space to view those graphs. We're using Superset 1.3.2.

Steps to reproduce:

1. Dashboard creator:
2. Create a dashboard without filter

Results:

1. The filter space on the left side shows up on behalf of the owner or admin user
2. The filter space on the left side is missing on behalf of a user just viewer

Expected: The

[2022-04-07 21:32] kevinwen2k commented on #19604
![non_admin_user_viewing_dashboard_without_filter](https://user-images.githubusercontent.com/4207782/162323489-91d41419-7490-4dff-96be-b8a89da4d98d.png)

[2022-04-08 05:49] vishalpai commented on #12414
Below is what seemed to work for me. Need validation from Superset team if this approach is correct.

For non dynamic permissions e.g., 1. Create a new role that has permissions that are a union of gamma and sql_lab 2. Adding all database access / all data source access / all query access
- Create a custom security manager
- Override the sync_role_definitions method
- In the sync_role_definitions

[2022-04-08 07:49] csrinnuce opened #19608 "Add dd.mm.yyyy dateformat in superset-ui-chart-controls (Customize Tab)"
## Screenshot

Availabe date formats in superset-ui-chart-controls now (master):

![grafik](https://user-images.githubusercontent.com/102681186/162387285-634840d8-6bd6-4e19-9361-fbccef0c58c9.png)

New date format proposal:

![dateformat](https://user-images.githubusercontent.com/102681186/162386896-2d85711f-0550-40b9-a9d6-dd247bb8e2fa.png)

## Description

26 countries use "dd.mm.yyyy" as date for

[2022-04-08 08:08] xiamicpp opened #19609 "got an error when save query as a virtual dataset"
A clear and concise description of what the bug is.

`2022-04-08 08:00:45,691:ERROR:superset.views.base:Can't generate DDL for NullType(); did you forget to specify a type on this Column?
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/flask/app.py", line 1516, in full_dispatch_request
    rv = self.dispatch_request()
  File "/usr/local/lib/python3.8/site-packages

[2022-04-08 09:07] villebro commented on #19592
Thanks for reporting - I was able to reproduce, working on a fix

[2022-04-08 09:27] radhakvnr commented on #19058
any update on this?

[2022-04-08 09:52] mporracindie opened #19610 "Unused elements"
**Is your feature request related to a problem? Please describe.**
Finding unused charts or datasets

**Describe the solution you'd like**
A filter that checks if a chart is being used in a dashboard or if a dataset has any charts created with

[2022-04-08 10:04] #18954 closed

[2022-04-08 10:15] balsilliy commented on #18834
I've got the same error .  Wait to fix it. ^_^
<img width="1516" alt="WX20220408-175803@2x" src="https://user-images.githubusercontent.com/26002425/162415878-885aa6f5-3702-407f-81f7-d85dd43119cb.png">
<img width="1734" alt="WX20220408-175830@2x" src="https://user-images.githubusercontent.com/26002425/162415916-044d2c85-bf3b-4eaf-8765-3b6dd69e3f1a.png">
<img width="1161" alt="WX20220408-175920@2x"

[2022-04-08 12:25] balsilliy commented on #18834
I tried the scripts then modified . It worked .

@classmethod
    def execute(cls, cursor: Any, query: str, **kwargs: Any) -> None:
        if not cls.allows_sql_comments:
            query = sql_parse.strip_comments_from_sql(query)
        if cls.arraysize:
            cursor.arraysize = cls.arraysize
        try:
            if re.search("AS\s+\"\w+\"\s+AS\s+\"\w+\"", query):
                que

[2022-04-08 13:05] srinify commented on #19470
Closing, as I've approved John's PR!

[2022-04-08 13:05] #19470 closed

[2022-04-08 13:40] #19592 closed

[2022-04-08 14:11] srinify commented on #19608
Good idea! Moving to Discussions so we can keep Issues focused on Bugs and SIPs!

[2022-04-08 15:31] lzm0 opened #19621 "Make Dashboard Url unguessable"
**Is your feature request related to a problem? Please describe.**
When I create a dashboard its URL defaults to something like http://localhost:8088/superset/dashboard/1/, even if `PERMALINK_KEY_TYPE` was set to UUID. If I use the permalink, I would still be redirected to the short version of the URL.

**Describe the solution you'd like**
Use the UUID-based URL by default.

**Describe alternative

[2022-04-08 17:28] srinify commented on #19621
Thanks for the suggestion! Moving to Discussions so we can keep Issues focused on bugs and sips!

[2022-04-08 19:38] Ashish7129 commented on #13938
@cccs-jc Can you please suggest the changes you have done in which version? My query is not working "WITH RECURSIVE TableName ***"

[2022-04-08 23:17] michellethomas opened #19631 "Cannot configure filter scopes for filter box filter with only time grain dropdown"
When I create a filter box filter with only a time grain dropdown, I am unable to configure the filter scopes when added to a dashboard. If the filter box has time grain and time range filters, it works. There is a frontend error when trying to set the filter scope for time grain only filter because the filterKey only includes the chart_id, it does not include the column that is expected in `getCh

[2022-04-08 23:19] bjornhauge opened #19632 "Use User model fields in RLS (row-level security)"
I've not yet gotten very far into superset, so forgive me if there's an important piece I'm missing.

**Is your feature request related to a problem? Please describe.**
Sometimes there is a really big pattern of generating roles and row-level security filters for purposes that do not fit the concept of static application roles very well, and instead are better thought of as dynamic identity-based

[2022-04-08 23:45] bjornhauge opened #19633 "Add flag to return nothing instead of everything when no row-level security (RLS)"
This feature is for minimizing data security risk, and doesn't really change the way an admin would *intend* for anything to happen (except in one minorly beneficial way).

**Is your feature request related to a problem? Please describe.**
Sometimes the "normal" idea is that a whole table is public, while the "specific situation" is that a user should have more limited access. But sometimes, a tab

[2022-04-10 08:59] DwijadasDey opened #19639 "Unable to connect Trino coordinator using SSL/LDAP"
Hi
I am unable to connect Trino coordinator using SSL/LDAP by using following configuration parameters.

Basic->SQLALCHEMY URI*
trino://trinouser1:password123@application.mydomain.net:8443/example/

Advanced-> Security->Secure extra
{
"connect_args":{
"auth": "ldap",
"verify": "/u01/venv/lib/python3.8/site-packages/superset/trino.pem"
}
}
![Screenshot from 2022-04-10 14-13-04](https://user-images.

[2022-04-10 09:33] zhaoyongjie commented on #19568
I think that this issue was fixed by [PR](https://github.com/apache/superset/pull/19452).

[2022-04-10 15:23] jacobcroope commented on #19002
Update for anyone else who has had this issue. Disabling Hardware-accelerated video decode fixed this issue on chrome.

[2022-04-10 17:18] swapniljariwala commented on #19433
Tried with 3.8, still facing issue,

I am in docker dev environment. Looks like debian container.

[2022-04-11 02:07] AswarS opened #19640 "how to use the api? Could someone help me plz!"
i want to use the api to get and create a database, dataset and chart, but i don't understand the parameter provided by the offical document.((http://127.0.0.1:5000/swagger/v1))
for example, i want to get the charts information, but what does the columns means and what value should it take?
The following are the parameters required by the api
{
  "columns": [
    "string"
  ],
  "filters": [
    {

[2022-04-11 06:01] haimingOu commented on #17870
Hi, I'm having this exact same problem right now. Is there any solution?

[2022-04-11 08:03] alitariqse opened #19642 "Is there any way to integrate the superset dashboard into the Angular 12 application? If yes can I have some reference?"
Hi,
Hope you all are doing great.
I have an Application in Angular 12. I am doing R&D for integrating superset dashboard into my application but not getting any help and support regarding this. I've been trying for many days.
Please let me know if there is any way to integrate Dashboard into my Angular application. So I can Save my time.

Thanks & Best Regards
Ali Tariq Mirza

[2022-04-11 08:40] PatBriPerso commented on #18625
I try to configure superset to use keycloak as an IdP too.
I follow these posts:
- https://stackoverflow.com/questions/54010314/using-keycloakopenid-connect-with-apache-superset/54024394#54024394
- https://github.com/apache/superset/discussions/13915

Hope this helps.

My setup works well except when I try to access the users list (/users/list) as an Admin (unauthorized). I'll open a new issue for

[2022-04-11 09:46] DwijadasDey commented on #19639
I need to add "http_scheme": "https" in connect_args parameter in the secure extra section to make it work!

[code]

[2022-04-11 09:46] #19639 closed

[2022-04-11 09:56] PatBriPerso opened #19643 "Use keycloak as OIDC/IdP provider but cannot access to users list"
I setup superset to authenticate the users with keycloak as IdP.
I'm able to connect to superset after validating a login/pwd on keycloak but I cannot access the users list page (/users/list) as an Admin.

#### How to reproduce the bug

Setup superset as described in "Additional context".
Connect to superset through keycloak as an Admin
Click on the menu Settings > List Users

### Expected results

[2022-04-11 11:01] EBoisseauSierra opened #19644 "Combining Saved Metrics in Explore/Custom SQL panel"
## The problem I have

I would like to combine a dataset's Saved Metrics to compute new ones and stay DRY. But it's currently not possible.

## The solution I'd like

Say I'm tracking my widget production, and record for each batch how many items have been produced and how long it took.
I can then define at the Dataset level the following Saved Metrics:
* `SUM(quantity) AS production`, and
* `SUM(

[2022-04-11 11:57] haimingOu opened #19645 "kylin table in the database cannot be added"
A clear and concise description of what the bug is.

hi all
After superset adds the kylin database, the table in the database cannot be added

Expected results

I can add table from kylin database

Actual results
When I added the dataset, an error message was report 'An error occurred while creating datasets: Dataset could not be created.

Screenshots
![图片1](https://user-images.githubusercontent.c

[2022-04-11 13:36] vamruta commented on #6099
Hi  @avicenteg,  I highly apprecitate your work. So usefull. Can you please show me how to use ? My email is amrutavishwakarma58@gmail.com

[2022-04-11 14:12] srinify commented on #19642
Hey @alitariqse moving to Discussions as Issues is focused on bugs and SIPs! You're also welcome to ask in the Superset Slack community!

[2022-04-11 18:58] srinify commented on #19640
Hey Aswar! Moving to Discussions since this isn't a bug (we're trying to keep Issues focused on Bugs and SIPs).

You may also find this introductory event useful around the Superset API: https://www.youtube.com/watch?v=vFTI087HYNE

[2022-04-11 20:13] ktmud commented on #17852
While this will definitely be a very useful feature, we need to be careful with the implementation here. From a user experience point of view, I think it'd be a better experience if we simply combine the _Data Type_ and _Advanced Data Type_ column into one dropdown and allow users to coerce column types to any standard and advanced types (similar to Tableau). We should also make it very clear when

[2022-04-11 21:05] fedepad commented on #19643
Questions which I think are helpful for debugging:
- What roles does your user on IDP has?
- Is `Admin` an actual role in the IDP or not? If not, do you have the mapping from IDP roles to FAB roles somewhere?
- Does the role of the admin user you are using to login is the one you expect in the superset/FAB backend db? Check which role this user has just by looking at the backend db (MySQL in your

[2022-04-11 21:50] zuzana-vej commented on #19299
We have gotten different but potentially related bug reported; Specifically on e-chart time series chart. When there are multiple annotation lines, users can't define the colors (not even in dashboard metadata). This seems like a feature parity before migration to e-charts.
<img width="831" alt="Screen Shot 2022-04-11 at 2 46 06 PM" src="https://user-images.githubusercontent.com/61221714/162838935

[2022-04-11 21:50] #19632 closed

[2022-04-11 21:51] bjornhauge commented on #19632
A few user attributes are already provided in functionality like this.

[2022-04-11 22:01] cwegener opened #19654 "Regression - Echarts Bar and Line chart label values changed unexpectectly when using Group By"
After #19116, the label values for Echarts Bar and Line chart (possibly more, but those are the only ones I noticed) have changed on charts that use a Group By field.

#### How to reproduce the bug

1. Install Superset from commit 375c03e08
2. Load example dataset
3. Create a new Echarts bar chart (i.e. Time-Series Bar Chart v2) using any example dataset (e.g. `cleaned_sales_data`)
4. Pick a metri

[2022-04-11 23:33] lxf-lxf opened #19655 "Filter column: database_name not allowed to filter"
<img width="770" alt="image" src="https://user-images.githubusercontent.com/61101384/162849762-d0e5ba07-74b3-43d0-8574-96a17f32e1bf.png">
<img width="553" alt="image" src="https://user-images.githubusercontent.com/61101384/162849798-86d04125-72be-4bc5-a20d-07d7215a3bb9.png">
<img width="1936" alt="image" src="https://user-images.githubusercontent.com/61101384/162850874-380faa92-816f-46dc-b632-6388

[2022-04-11 23:46] lxf-lxf commented on #19655
<img width="970" alt="image" src="https://user-images.githubusercontent.com/61101384/162850915-fe7fc6b1-c7e1-4894-b6b0-39f2097f78f2.png">

[2022-04-12 05:57] villebro commented on #17852
@ktmud I agree that there is a lot of complexity in this feature which needs to be iterated on to make sure we get it fully right (@zhaoyongjie raised similar concerns). For that reason we'll keep the API and general functionality open to breaking changes until the full set of features has been completed. Which reminds me, I'll open a PR today to migrate the feature flag docs to the official docum

[2022-04-12 06:04] vinhhap commented on #19655
Having the same problem. Has anyone came up with a solution?

[2022-04-12 06:21] lxf-lxf commented on #19655
I think it is an error prompt returned by the database. I don't see it in the code

PostgreSQL

[2022-04-12 06:24] mzyfree opened #19657 "Support apache doris"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Does superset support doris [https://doris.apache.org/](url)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of a

[2022-04-12 06:50] sujiplr opened #19658 "DB Engine error 1.5.0rc2"
Getting DB Engine error on the while running the SQL.

2022-04-12 11:54:44,750:DEBUG:superset.stats_logger:[stats_logger] (incr) DatabaseRestApi.function_names.success
2022-04-12 11:54:44,750:DEBUG:superset.stats_logger:[stats_logger] (timing) DatabaseRestApi.function_names.time | 17.298333999860915
2022-04-12 11:54:44,751:INFO:werkzeug:127.0.0.1 - - [12/Apr/2022 11:54:44] "GET /api/v1/database/2/

[2022-04-12 07:09] PatBriPerso commented on #19643
Thanks @fedepad.

In fact, I change the role of my user with the superset UI and give him the Admin role.
Here is how I do that:
- I start my stack with `OIDC_ENABLE=False` so I can connect with the default Admin account (stored in the DB) and I change its password
- I update my stack with `OIDC_ENABLE=True` and connect with a keycloak account. A new user was created in superset DB
- I change back

[2022-04-12 07:48] wangyjx commented on #19657
+1

[2022-04-12 09:57] MM-Lehmann commented on #19525
did you try with 1.4.2?

[2022-04-12 10:29] HeathLee commented on #19655
same issue

[2022-04-12 10:36] villebro commented on #19657
As Doris appears to be compatible with the MySQL protocol, it should already be supported by Superset. Screenshot from homepage:

<img width="266" alt="image" src="https://user-images.githubusercontent.com/33317356/162941934-c84d5f07-1c7e-4fbe-8e38-f36b52762610.png">

Therefore closing this issue.

[2022-04-12 10:45] villebro commented on #19655
FIx PR: #19662

[2022-04-12 10:46] edwardsph commented on #4510
It seems that the RDFAlchemy work went stale and the repo has been deleted. I'm just starting to look at Superset and RDF support is essential for my use case. I'm also going to be looking beyond SPARQL to include [QuadPatternFragments](https://linkeddatafragments.org/specification/quad-pattern-fragments/) and [Comunica](https://comunica.dev/).

I think I would still need to adapt such services to

[2022-04-12 10:50] #19655 closed

[2022-04-12 11:44] #19657 closed

[2022-04-12 11:45] faye1225 opened #19665 "Password Enhancement"
**Problem Cause**
When adding users, the password set is not in any format required. This has the potential for security issues. I would like to be able to check passwords, e.g. they must use case + numbers

**Problem Resolution**
I try to find out how to add user code and modify it. But I didn't find any routes related to users.
Don't know how to make changes.I hope I can get your help and answer

[2022-04-12 12:13] #19658 closed

[2022-04-12 15:29] AAfghahi opened #19667 "Convert utils/encrypt_tests.py to unit test"
See the github issue for details, feel free to tag betodealmeida for review.

[2022-04-12 15:29] #19667 closed

[2022-04-12 15:38] jayakrishnankk commented on #19496
Same problem for us.

We were testing release version 1.5

[code]

Here get_periodfacts is a function in the postgres database, used in a dataset definition in superset datasets.

@amitmiran137 , @villebro

[2022-04-12 18:26] paulinjo opened #19669 "Helm chart not adding service account name to celery beat pods"
The `serviceAccountName` cannot be applied to the celery beat pods when deploying using the Helm chart.

#### How to reproduce the bug

1. Set the `serviceAccountName` and `supersetCeleryBeat.enabled:true` in the `values.yml` file for helm deployment
2. Deploy using helm

### Expected results

`serviceAccountName` spec is applied to the `celerybeat` pod.

### Actual results

`serviceAccountName` s

[2022-04-13 01:51] wdduncan commented on #4510
Yes. You do ETL and then use Superset. But, it would be nice if you could connect to the SPARQL endpoint directly.
FYI, here is generic way to put RDF into a table: https://github.com/ontodev/rdftab.rs

[2022-04-13 04:01] fuxiaodun commented on #19299
Actually I was using only one single line not multiple lines in the annotation. And all other configuration like Style, Opacity, Width can work just except for Color. So shall I wait for further update on the migration?

[2022-04-13 05:20] sujiplr commented on #19547
This might be fixing this issue as well. https://github.com/apache/superset/pull/19664

[2022-04-13 05:25] Max-Jesch opened #19682 "Blank Page + Error when trying to add chart"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. run superset locally on WSL2 using docker following: https://hub.docker.com/r/apache/superset
2. connect to local MySQL instance
3. Navigate to "Charts" -> click "+ CHART"

### Expected results

opening of a GUI that guides me through creating a chart

### Actual results

A blank page and two errors in the conso

[2022-04-13 06:01] SakshiTharkude opened #19683 "Drill down and filter box like select tab in every single chart on dashboard"
Apache Superset compared to Power BI, Tableau has fulfilled many of the requirements about creating dashboards exporting the dashboard or chart to JSON and CSV.

One of the most important requirement  needed in Apache Superset according to me would be drilldown.

As this is a software which is under development , drilldown for dashboards would be best feature to add on to this software which will

[2022-04-13 06:19] SakshiTharkude opened #19684 "CSV EXPORT for PIVOT TABLES"
Charts
Creating charts selecting a particular visualization type , building queries
For eg: It the selected visualization type is PIVOT TABLE
And i want to export the pivot table chart to a CSV file
It gets exported but not appropriate
It should to exported in the same format as for eg in the pivoted format only
If suppose I create a pivot table of 3 matrix the csv file should  give the same outpu

[2022-04-13 08:00] #19665 closed

[2022-04-13 08:27] smetirem commented on #19222
I am having the same issue. I am getting the same error when trying to import even a single datasets. Importing a chart (when the linked dataset is exists) is not possible either.

[2022-04-13 09:28] ypankovych opened #19687 "Can't set verbose name for time grain columns in a slice dropdown"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Go to any dashboard with a slice that has time grains
2. Click on it and see actual column names and not the verbose ones

### Expected results

I'd like to set a verbose name for each column there

### Actual results

Superset backend sends a list of tuples with 2 elements in each, those 2 elements suppose to b

[2022-04-13 11:00] SiddharthRajJain commented on #9027
I did
docker-compose -f docker-compose-non-dev.yml pull
docker-compose -f docker-compose-non-dev.yml up

now I have started seeing error :
superset_init           | ModuleNotFoundError: No module named 'superset.typing'

[2022-04-13 11:55] CFM90 commented on #12768
This Bug continues to exist in V 1.4.2

[2022-04-13 12:23] mayank-pant opened #19690 "Curb the automatic query generation from superset for clickhouse"
### Motivation

Different databases have different ways to optimize query. There are some changes which are forced from superset side which inhibits the query performance at the back end. One such optimization for clickhouse i have identified.

### Proposed Change

Currently in bar-chart even when you have not selected LIMIT. LIMIT 50000[max value] still appears in the final query. If a table bein

[2022-04-13 12:54] shalnice commented on #7649
same issue with
Environment :
superset version: 1.4.2
python version: Python 3.9

![image](https://user-images.githubusercontent.com/98736099/163184488-e1b83769-fae6-4658-a0e8-5a29685d8295.png)

[2022-04-13 14:46] jileeon opened #19693 "[SIP-81] Set default user to the first owner of its alert(report) schedule prior to the 'THUMBNAIL_SELENIUM_USER' value in config"
### Motivation

When an alert or a report is sent by schedule, its data depends on the 'THUMBNAIL_SELENIUM_USER' value in config.
so we can't apply RLS(Row Level Security) for a specific purpose.

### Proposed Change

If an operator sets the 'THUMBNAIL_SELENIUM_USER' to None in superset_config.py, the user will be set as the first owner of its alert(report) schedule for sending an alert(or a repor

[2022-04-13 15:13] jileeon commented on #19693
I confirmed 'EMAIL_REPORTS_USER' will be no longer exists in apache-superset 2.0.0. (in 0968f86584ba751bd665bb3e684b7aae0a28fa60).

So changing the code related to 'THUMBNAIL_SELENIUM_USER'  to achieve this.

[2022-04-13 16:22] william-sy commented on #18980
Hi All,

We had the exact same Error as @codek, Fixed it with:

[code]
We added this code above the following:

 https://github.com/apache/superset/blob/d645579cdd64b7fe7f9dde4a8da000dd7db51ce9/superset/models/dashboard.py#L391

You will now be greeted with:
[code]

[2022-04-13 19:12] MM-Lehmann commented on #14552
I would quite love an announcement bar/banner at the top just below the navigation bar.
This could be used to inform users of pending server maintenance or recent events.
I am currently playing around with the LOGO_RIGHT_TEXT variable in `config.py` but its not flexible enough and uses to little space.

[2022-04-13 20:23] hitesh1610 opened #19702 "Does Apache SuperSet provides integration with AWS Timestream Database"
Does Apache SuperSet provides integration with AWS Timestream Database ?

As per Apache SuperSet documentation, only Amazon Athena and Amazon Redshift are only supported.

AWS Timestream is TimeSeries Database, below link

https://aws.amazon.com/timestream/?whats-new-cards.sort-by=item.additionalFields.postDateTime&whats-new-cards.sort-order=desc&amazon-timestream-blogs.sort-by=item.additionalFiel

[2022-04-13 21:34] zuzana-vej commented on #19299
@fuxiaodun maybe someone else is better to answer your question (not me) - I just reported similar. bug basically commenting here instead of opening new ticket.

@yousoph? I know this is echart related - any right person to tag here?

[2022-04-13 23:18] srinify commented on #19702
Since this isn't a bug, moving to Discussions! Note for the future, this has been discussed / answered in the Superset Slack!

[2022-04-13 23:21] srinify commented on #19684
Hey @SakshiTharkude the CSV export actually exports the data _underlying_ a chart. It's basically what's returned from the database :)

This is consistent and makes sense for all charts but I could see why it's confusing for Table and Pivot Table charts, where the "chart" closely resembles a tabular dataset (in which case, you may expect CSV to export that instead).

I'm moving this to discussions

[2022-04-13 23:33] srinify commented on #19690
This is great Mayank, thanks for opening this! I removed the "SIP" pre-fix, because that's reserved for big system level changes to Superset that needs lots of discussion and buy-in. This feels more like a database specific optimization & polish, which is awesome

[2022-04-13 23:34] srinify commented on #19683
Hey @SakshiTharkude moving to Github Discussions so we can keep Issues focused on bugs!

[2022-04-13 23:35] srinify commented on #19514
Moving to Discussions so hopefully someone can chime in! Issues is focused on bugs!

[2022-04-14 05:32] mjcc007 commented on #19609
@xiamicpp I have the same problem，Have you solved it yet！

[2022-04-14 05:32] Narendra678 commented on #19222
recreated report then it is working for me.

[2022-04-14 06:04] villebro commented on #19609
@xiamicpp @mjcc007 thanks for reporting this. Can you specify which version of Superset (or SHA if you're running master) you're using?

[2022-04-14 09:14] riazarbi commented on #18095
I'm using Superset 1.4.2 and just discovered this bug as well.

[2022-04-14 09:19] riazarbi commented on #19224
I've got the same issue on 1.4.2.

Browser console logs -

[code]

[2022-04-14 11:07] 7vikpeculiar commented on #19682
@if54uran Same issue here, any luck resolving it ?

[2022-04-14 11:13] ravsha2 opened #19717 "Dashboard shouldn't load on CLEAR ALL button action if you have already set required fields in filter section."
I have created a report dashboard for sales transaction using table chart and a required date filter field.
Also set default date range filter for one month and marked as required, dashboard is working fine for selected date range filter.
when i click on CLEAR ALL button dashboard are not working as result dataset has huge data.

**Expected Result**
CLEAR ALL button should not work if you have req

[2022-04-14 11:44] villebro commented on #19690
@mayank-pant thanks for raising this issue. Did I understand correctly that this is something that's being worked on, i.e. might get fixed at some point? Or is this "a feature, not a bug"? There's a few solutions that we can consider, but I'd like to understand more about the underlying issue before going ahead with a fix..

[2022-04-14 13:29] maya-harel commented on #19109
which version of `sqlalchemy-trino` are you using?

[2022-04-14 14:52] #19609 closed

[2022-04-14 15:33] kleijnweb opened #19720 "Helm chart: somehow imagePullSecret gets a `registry-` prefix, release fails"
Hi, I am trying to deploy the superset Helm chart with a customized image. There's no option to specify `imagePullSecrets` for the chart. Using k8s on DigitalOcean. I linked the repository, and tested it using a basic deploy, and it "just works". That is to say, the pods get the correct value for `imagePullSecret`, and pulling works.

However, when trying to install the Helm chart, the used `image

[2022-04-14 17:57] cancan101 commented on #5389
I put together a SQLAlchemy Dialect for connecting to a GraphQL API ([GitHub](https://github.com/cancan101/graphql-db-api)) which in turn allows Superset to connect to a GraphQL API. I did a writeup of my approach here: https://blog.alexrothberg.com/2022/03/09/running-superset-against-graphql/

[2022-04-14 20:09] JasbirCodeSpace commented on #17182
@kapilgarg83, are you able to solve the problem? facing the same issue here :(

[2022-04-14 20:35] zuzana-vej commented on #18858
Yay! fixed with our latest release!

[2022-04-14 20:35] #18858 closed

[2022-04-14 21:06] Dumisani2 commented on #19596
Hi

I am a learner in superset and facing a similar issue as well. I was logged in successfully by default login, i.e. username: admin and password: admin; but the next day I wasn't able to. Please help me to be able to log in and continue with my studies.

Thanks

[2022-04-15 03:55] vinaybabunaidu commented on #10316
+1

[2022-04-15 06:59] zhaoyongjie commented on #19654
This issue was fixed by #19716, so closed.

[2022-04-15 06:59] #19654 closed

[2022-04-15 07:28] zhaolandelong commented on #17822
Same error

[2022-04-15 07:53] swapniljariwala opened #19729 "Update geojson for India's map"
Request you to correct geojson map file of India as per latest state list

https://github.com/apache/superset/blob/master/superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/india.geojson

[2022-04-15 09:31] YwlSoStrang opened #19730 "Please tell me which TSX file is used to render the chart"

[2022-04-15 09:32] YwlSoStrang commented on #19730
I want to learn chart rendering, but I can't find the TSX file to render the chart

[2022-04-15 09:33] #19730 closed

[2022-04-15 11:58] villebro commented on #19547
Closing as it's fixed by #19664

[2022-04-15 11:58] #19547 closed

[2022-04-15 14:37] nicovak commented on #18832
@villebro do you have any feedback on that ?
The error is still present in last RC (1.5rc2)

[2022-04-15 18:28] #11589 closed

[2022-04-15 21:14] emeraldic commented on #3962
Hello, any news?

[2022-04-16 00:31] czgu opened #19737 "column["is_dtttm"] is not found for Presto columns"
A clear and concise description of what the bug is.

#### How to reproduce the bug
For Setup, connect Superset to a Presto query engine

1. Go to SQL Lab
2. Run a simple query with Presto, like `select * from table limit 10`
3. Click on EXPLORE and save to a virtual dataset
4. See error

### Expected results

The dataset should be exported

### Actual results

Error is shown on frontend and server

[2022-04-16 04:07] Hongbo-Miao commented on #16247
Got same error when deploying to Kubernetes by Helm based on https://superset.apache.org/docs/installation/running-on-kubernetes

after running

[code]

<details>
  <summary>Log for `superset-init-db--1-xxx` (click to expand)</summary>

[code]
</details>

[2022-04-16 04:30] Hongbo-Miao opened #19738 "[Helm] sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedTable) relation "ab_permission_view_role" does not exist"
#### How to reproduce the bug

I am trying to deploy to Kubernetes by Helm based on https://superset.apache.org/docs/installation/running-on-kubernetes

by running

[code]

The values.yaml file I am using is https://github.com/apache/superset/blob/master/helm/superset/values.yaml
I didn't change any value.

### Expected results

I expect it deploy successfully.

### Actual results

I got error

[c

[2022-04-16 06:21] Hongbo-Miao commented on #19738
Based on the error, I feel maybe Postgres is not ready when Superset tries to initialize (migrate) the database.

So I first deployed my own Postgres, and

First create a file called **my-values.yaml**:

[code]

values.yaml is at https://github.com/apache/superset/blob/master/helm/superset/values.yaml

Then you can run

[code]

This will way you can use your own existing Postgres. Now Superset can

[2022-04-16 06:21] #19738 closed

[2022-04-16 06:24] Hongbo-Miao commented on #15262
I got same error, no matter how many time I tried, it still failed. However, after switching to my own Postgres, it succeed.
I posted the solution at https://github.com/apache/superset/issues/19738
Hope it helps future people!

[2022-04-16 10:46] pradhangn opened #19741 "Wrong data plotted when using Timeshift with GROUP BY columns populated in e-charts Time Series Line Chart"
When using the new timeshift line chart with 'group by' columns, the timeshifted data has the same number for all the different groups. This works fine in the legacy line chart:

This is the correct plot using legacy line chart
![old](https://user-images.githubusercontent.com/40589807/163671946-84263ba8-a92b-4b3f-8173-5e77586a1f83.jpg)

This is the same chart in the new Time Series line chart
![ne

[2022-04-16 12:12] mayank-pant commented on #19690
I dont have idea if this is bug or a feature, author of projection was not clear on this part. But i am saying generally if we do not select any value in limit drop down, superset should not add limit to the query automatically. Sorry for the late reply !!

[2022-04-16 12:14] mayank-pant commented on #19690
I dont have idea if this is bug or a feature, author of projection was not clear on this part. But i am saying generally if we do not select any value in limit drop down, superset should not add limit to the query automatically. Pls ignore closed comment above, hastily clicked on the button

[2022-04-16 14:04] kgabryje commented on #16532
Closing - we've redesigned the filter bar, so the issue os no longer relevant

[2022-04-16 14:04] #16532 closed

[2022-04-16 15:14] 1c7 commented on #18616
I am closing this issue because my focus has been shift to some other stuff.
I successful deploy Superset onto AWS for my team to use.

[2022-04-16 15:14] #18616 closed

[2022-04-16 16:09] rumbin commented on #18085
This issue should not be closed by the stale bot, in my eyes.

[2022-04-16 16:12] rumbin commented on #18235
This issue should not be closed by the stale bot, in my eyes.

[2022-04-16 17:08] iercan commented on #16866
I've tested 1.5.0rc3 and this issue looks resolved.

[2022-04-16 17:08] #16866 closed

[2022-04-16 17:09] iercan commented on #18198
I've tested 1.5.0rc3. It seems resolved. Thanks.

[2022-04-16 17:36] kgabryje commented on #16866
Glad that problem FINALLY went away @iercan 🙂

[2022-04-16 17:45] iercan commented on #16866
Native filter does not slowing dashboard now but we still can not save filter scopes (in case filter box used) if DASHBOARD_CROSS_FILTER enabled. At least we can migrate native filters to get rid of this. Thanks for the effort.

[2022-04-16 18:25] milad000cu opened #19742 "database list in the dataset creation form is empty"
A clear and concise description of what the bug is.
I installed Superset and connected the PostGres database to it, but the database list in the dataset creation form is empty and there is no database
https://pasteboard.co/gT0ocv1NjGDI.jpg
#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected results

what you expected to happen.

###

[2022-04-16 23:13] jdbranham opened #19743 "webpack-cli throws 'Unknown option' error when using --superset arg"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. execute the example command from -
https://github.com/apache/superset/blob/master/CONTRIBUTING.md#webpack-dev-server

[code]

### Expected results

Webpack dev server should proxy to the remote superset backend.

### Actual results
Error is thrown -
`[webpack-cli] Error: Unknown option '--superset=https://my-sup

[2022-04-17 07:43] NoneFire commented on #10087
Thanks,it's a really good and effective method.
I think the reason of this question is the supert user and root user have different file permissions.

It's my dockerfile,for you reference:

`FROM apache/superset
# Switching to root to install the required packages
USER root
# Example: installing the MySQL driver to connect to the metadata database
# if you prefer Postgres, you may want to use `psy

[2022-04-17 10:52] EugeneTorap opened #19746 "SQL Lab UI Error: Objects are not valid as a React child"
There are such errors in browser console.

#### How to reproduce the bug

1. Go to SQL Lab
2. Click on 'RUN'
3. Click on 'Query history'
4. See error

### Expected results

No error

### Actual results

There's error

#### Screenshots

![image](https://user-images.githubusercontent.com/29536522/163711301-a22163fe-676b-4b1d-89a8-73effeb0a02e.png)

https://user-images.githubusercontent.com/29536522/

[2022-04-17 20:25] rumbin commented on #18236
This issue should not be closed by the stale bot, in my eyes.

[2022-04-17 20:26] rumbin commented on #18232
This issue should not be closed by the stale bot, in my eyes.

[2022-04-17 20:56] alexey-milovidov commented on #16982
Not stale.

[2022-04-17 22:03] frafra commented on #17269
Still valid.

[2022-04-18 00:29] kamalkeshavani-aiinside commented on #16159
@villebro Can you pin this issue, if you are still working on it?

[2022-04-18 02:43] nikenfls commented on #9597
I tried the warmup feature. And find out several problems:
1. currently I am in UTC+8 tz. And crontab should subtract 8 hours.
2. the authentication problem that talked about in previous comments. I reused the code in screenshot to get cookie and make the request works (machine_auth_provider_factory part).
3.

[2022-04-18 03:30] #15911 closed

[2022-04-18 04:43] kamalkeshavani-aiinside commented on #16658
Keeping this active

[2022-04-18 05:04] kamalkeshavani-aiinside commented on #16537
Closing this issue since RBAC will be default soon.

[2022-04-18 05:04] #16537 closed

[2022-04-18 07:34] squalou commented on #17633
stale .. but true.
I'll check with 1.5.0 as soon as it's out

[2022-04-18 08:40] romankevich commented on #17669
@fschmid Has there been a solution to this issue? Still relevant

[2022-04-18 09:17] muhsinfazal commented on #17076
This worked for me `docker-compose -f docker-compose-non-dev.yml up`

[2022-04-18 09:27] cdmikechen commented on #17678
@stale No, it still a bug

[2022-04-18 09:27] cdmikechen commented on #17583
@stale No it is still a bug

[2022-04-18 09:28] frafra commented on #16781
Not stale.

[2022-04-18 09:28] frafra commented on #16686
Not stale.

[2022-04-18 11:13] lkwg82 commented on #16541
Anybody interested?

[2022-04-18 14:25] EugeneTorap commented on #19746
@rusackas @codemaster08240328 @dpgaspar @kgabryje @villebro
This #19370 PR causes this error. Should this PR revert or fix?

[2022-04-18 14:50] stephenLYZ commented on #19299
@fuxiaodun @zuzana-vej  Hi, late to the party. I have opened a [PR](https://github.com/apache/superset/pull/19758) for this issue. And please feel free to @ me If you have any questions about echart.

[2022-04-18 14:58] betodealmeida commented on #16541
@hughhhh is working on an Exasol ticket, maybe he can take a look?

[2022-04-18 15:51] MarcinZegar commented on #19596
Make sure you run the  `superset db upgrade` and `superset init`  commands after starting the application. You can also create an admin role running `superset fab create-admin`

[2022-04-18 16:07] MarcinZegar commented on #19525
Instead of
`#trying to use the "current user" request as a test
response = requests.get('http://localhost:8088/api/v1/me', headers=headers)`

you should try:

[code]

[2022-04-18 16:38] zuzana-vej commented on #17149
I think this issue is still relevant for when we evaluate feature parity with echarts before deprecating nvd3; Maybe it's a feature as opposed to bug, so I will move it to dicsussions.

[2022-04-18 16:44] zuzana-vej commented on #17162
fixed by the PR @graceguo-supercat linked above

[2022-04-18 16:44] #17162 closed

[2022-04-18 16:47] zuzana-vej commented on #17694
Converting to discussion - it should be addressed before we officially migrate to echart and deprecate nvd3

[2022-04-18 17:45] andrewscarani commented on #15565
Bump! This is still a useful feature to have

[2022-04-18 17:46] andrewscarani commented on #11758
Bump! This is still a useful bug fix to have. Please pin!

[2022-04-18 17:48] akotuc commented on #16791
Any ETA on this please? Thank you

[2022-04-18 18:07] rumbin commented on #17042
This issue should not be closed by the stale bot, in my eyes.

[2022-04-18 18:08] chr1s3sw0rthy opened #19766 "Dashboard hangs when you Toggle Chart Description for more than one chart."
My Dashboard loads.
I click Toggle Chart Description on one chart. It shows.
I click Toggle Chart Description on a second chart. The browser hangs.

Same behaviour on Safari and Chrome.

### Expected results

I expect the Description to show on all the charts for which I have toggled chart description.

### Actual results

As described above.

#### Screenshots

![Screenshot 2022-04-18 at 19 50 03]

[2022-04-18 18:11] rumbin commented on #16543
This issue should not be closed by the stale bot, in my eyes.

[2022-04-18 18:46] simonvanderveldt commented on #18023
:gun: stale

[2022-04-18 19:46] yousoph commented on #17630
https://github.com/apache/superset/pull/18817

[2022-04-18 19:46] #17630 closed

[2022-04-18 20:46] anadue commented on #14472
Has there been any movement in terms of improving support for deck.gl in Superset?

[2022-04-18 21:41] serenajiang commented on #18223
Thanks for the fix!

[2022-04-18 21:41] #18223 closed

[2022-04-19 01:54] MattMills opened #19771 "Gallery in Readme 404s"
When I click the first large image that says "gallery" in the readme, I get sent to a 404 link (https://superset.apache.org/gallery not found)

#### How to reproduce the bug

1. Open apache superset github
2. Click on 'gallery'
3. ...
4. See error

### Expected results

I expected a gallery

### Actual results

I get a disappointing 404 error.

#### Screenshots

N/A

### Environment

N/A

### Chec

[2022-04-19 07:18] agusfigueroa-htg commented on #18085
I support rumbin here, this issue is still around!

On Sat, Apr 16, 2022 at 6:10 PM rumbin ***@***.***> wrote:

[2022-04-19 07:39] villebro commented on #18085
Hi, I agree this is something we should address. I actually think the best solution would be to make Superset case insensitive, as I believe very few people will need to have `column`, `CoLuMn` and `COLUMN` in the same dataset. However, this is a pretty big breaking change, so it would likely need to first be floated as a SIP, and then be implemented in 3.0 if others agree with the change. @rumbin

[2022-04-19 07:53] nraschi commented on #15252
Hi @suddjian, can you pin this issue please, I'm trying to resolve "pull request" problems.

Thank you very much

[2022-04-19 07:59] EugeneTorap commented on #19746
@diegomedina248 Can you check your merged #19370 PR and try to fix it

[2022-04-19 08:06] agusfigueroa-htg commented on #18085
@rumbin can count on me if I can support anyhow!

[2022-04-19 08:15] villebro commented on #18085
@rumbin to echo @agusfigueroa-htg 's offer for support - I'm also happy to help push this effort forward, I just don't have the time/resources to drive it.

[2022-04-19 08:31] kleijnweb commented on #19720
Actually I was confusing some files. User error, closing.

[2022-04-19 09:06] mayank-pant commented on #19690
Pls let me know if anyone will be working on this issue and any timeline will be appreciated.

[2022-04-19 09:24] EBoisseauSierra commented on #16610
Dear bot, I believe this feature would still be a great addition and hasn't been implemented yet in current `master` (:

[2022-04-19 10:04] rumbin opened #19773 "[SIP-84] Case-insensitive handling of datasets' column names"
!!! warning "This document is still WIP; review of @villebro, @agusfigueroa-htg is required."

-------------

## [SIP-84] Case-insensitive handling of datasets' column names

### Motivation

The default case (upper/lower) and case sensitivity of object names (schemas, tables, columns,...) is handled very differently in the various DSMSes that are supported by Superset.
E.g., Postgres interprets un

[2022-04-19 10:05] rumbin commented on #18085
@villebro, @agusfigueroa-htg please have a look at #19773

[2022-04-19 10:07] rumbin commented on #18085
@villebro did you mean to write Superset 3.0? I was hoping that we could get it into 2.0, but maybe I am too naïve here...

[2022-04-19 10:57] villebro commented on #19746
@EugeneTorap I believe this fixes the bug you've observed: #19664

[2022-04-19 10:59] episkey24 commented on #14929
Hi, were there any updates on this one? How can we replace the null values with 0?

[2022-04-19 11:00] episkey24 commented on #14929
@junlincc can you help?

[2022-04-19 11:04] agusfigueroa-htg commented on #19773
Hi @rumbin! Sorry, first time doing this.

Are there any established examples/guidelines that I can look at, so to work on the sections left of the SIP?

[2022-04-19 12:35] VosmirkoSergey opened #19775 "Recently viewed Dashboards do not appear in the Recents section"
#### How to reproduce the bug

With administrator privileges, I go sequentially to several dashboards
At the same time, 2 specific dashboards are constantly displayed in the Recents section and new dashboards that I just went to do not appear

#### Screenshots
1. the initial state
![image](https://user-images.githubusercontent.com/102529439/164004225-63cd7a6b-51da-4961-bef3-35138f306b7f.png)
2.seq

[2022-04-19 14:44] diegomedina248 commented on #19746
@EugeneTorap cannot reproduce on master.
Can you share what SQL are you running?

[2022-04-19 14:47] NikosSpanos commented on #15283
Thanks a lot for this post @squalou ...Firstly, I added the _ENABLE_TEMPLATE_PROCESSING_ in the ```config.py```  file which didn't help at all. Then I saw your post and added the same property on the ```superset_config.py``` and made the Jinja templating available through Virtual SQL. You may want to check [this](https://www.youtube.com/watch?v=dE1QlhunWMs) video on YouTube and see how you can use

[2022-04-19 14:51] NikosSpanos commented on #12487
Should be added on `superset_config.py` file and NOT on `config.py` file

[2022-04-19 14:52] NikosSpanos commented on #12487
This is the way to make it work. Kudos!

[2022-04-19 15:18] EugeneTorap commented on #19746
@diegomedina248 @villebro
https://user-images.githubusercontent.com/29536522/164037916-ca556a8b-304a-4d95-9cf5-fb44e0af02e9.mov

[2022-04-19 15:27] EugeneTorap commented on #19746
@diegomedina248 Locally I have reverted your #19370 PR and the issue is resolved

[2022-04-19 17:15] pedrohdemedeiros commented on #19525
First of all, thank you @MM-Lehmann and @MarcinZegar .

I've tried with 1.4.0 and most of my API problems were solved but one: I still cannot upload a CSV using it. I've tried a lot of different things, learned a lot about requests using python, curl and so on but it seens that it simply doesn't work.

Not a big problem since I've decided to update my database by MySQL directly (witch I had to lea

[2022-04-19 18:13] rajraousb commented on #17913
any plan for doing this for 2.x version?

[2022-04-19 18:14] rajraousb commented on #17914
any plan to implement similar for version 2.x?

[2022-04-19 19:30] prashant-shahi commented on #15133
It worked after setting both `postgresql.postgresqlPassword` and `supersetNode.connections.db_pass`.

[code]

[2022-04-19 19:30] #15133 closed

[2022-04-19 20:14] pragyan019 commented on #16847
@junlincc @stephenLYZ It would be great if we can get this chart in 2.0

[2022-04-19 20:28] diegomedina248 commented on #19746
@EugeneTorap thanks for reporting! https://github.com/apache/superset/pull/19783 should fix the issue

[2022-04-19 22:51] alifa98 commented on #6584
Up, This feature has not been completed yet.

[2022-04-20 00:25] #16271 closed

[2022-04-20 05:05] vinhhap commented on #19631
I'm having the same problem

[2022-04-20 06:00] villebro commented on #18085
Yes, unfortunately this won't make it into 2.0, as the list of breaking changes has already been decided. However, if we do reach consensus on how to fix this, we can put it behind a feature flag during 2.0, and then potentially introduce it as the new default behavior in 3.0.

[2022-04-20 06:18] #19746 closed

[2022-04-20 08:11] ValentinC-BR commented on #16745
If Superset wants to be used for statistical analyses, this is a mandatory point (and it would be more coherent with other charts)

[2022-04-20 08:16] ValentinC-BR commented on #17012
I may have been too evasive on this point.
What would be nice would be to display a subheader whether there is a change or not.

Otherwise, we have this kind of graphical incoherences :
![image](https://user-images.githubusercontent.com/79460908/164183033-82220197-09fa-44cd-9f6e-007d1e8ea0cd.png)

[2022-04-20 08:17] ValentinC-BR commented on #17011
Was it fixed in the latest release ?

[2022-04-20 08:22] ValentinC-BR commented on #15317
I think this was solved in the 1.5 release, but we're still in 1.4, so I can't confirm

[2022-04-20 08:23] dpgaspar commented on #19360
Has we discussed @villebro I agree with your approach on the charts, dashboards and datasets permissions:

Dashboards filter: https://github.com/apache/superset/blob/22a92ed72278d45049cc33eba5219d215625e4d9/superset/dashboards/filters.py#L111

Datasets filter:
https://github.com/apache/superset/blob/22a92ed72278d45049cc33eba5219d215625e4d9/superset/views/base.py#L624

Charts filter:
https://github

[2022-04-20 09:27] ClaraR-BR commented on #16640
We need this feature.

[2022-04-20 09:28] marinej-BR commented on #16743
I'm having the same issue

[2022-04-20 09:30] aspedrosa opened #19787 "Long dashboard native filters options are trimmed"
## Screenshot

![Screenshot_20220420_100825](https://user-images.githubusercontent.com/23409890/164193711-4374e288-d65e-4eef-adfd-594c92af8113.png)

## Description

As you can see on the screenshot above, all the displayed options are trimmed. This becomes more problematic in our case since there is a great similarity between options. As a workaround, the user can of course do a mouse over to see

[2022-04-20 09:38] cue-parashar commented on #7732
Misleading info on the front-page, Issue should not be closed!

[2022-04-20 09:44] rumbin commented on #9475
I am facing the same challenges and unfortunately, the above information does not help me get the MS SQL Server connection to a _named instance_ running.
Any help would be appreciated.

Slack question: https://apache-superset.slack.com/archives/C024WU9LT54/p1650446971125369

[2022-04-20 09:48] aspedrosa opened #19788 "Filters' search/user input is lost after option selection"
## Screenshot
Native filters:
![Peek 2022-04-20 10-12](https://user-images.githubusercontent.com/23409890/164198102-a2db35fb-47eb-471d-b80c-90397f50508f.gif)

Filter box:
![Peek 2022-04-20 10-33](https://user-images.githubusercontent.com/23409890/164198438-1e221a32-6096-4fb9-b345-9cfdb3e82b93.gif)

## Description

In a situation where a filter contains a lot of options and also the "Dynamically se

[2022-04-20 10:49] Mohtasim878 opened #19789 "Unable to trigger reports & alerts in Superset"
Hi All,
I have enabled alerts reports in superset version:1.4.2.
I am able to create them but they arent triggering (Nothing Triggered). I tried multiple ways but still cant.

Below is the Log

**Log:

2022-04-15 15:25:08,868:**DEBUG:cron_descriptor.GetText:Failed to find locale None**
2022-04-15 15:25:08,898:INFO:werkzeug:127.0.0.1 - - [15/Apr/2022 15:25:08] "←[37mGET /api/v1/report/?q=(filters:!

[2022-04-20 11:28] D0mc3k commented on #15283
Hi Guys,
I´m using the default docker-compose from the superset git repository and enabled Template Processing in the superset_config.py file
[code]

But I still cannot use jinja templates e.g. current_username()
![image](https://user-images.githubusercontent.com/4028192/164220752-d82f1239-8808-4785-bf88-3a31e12d7a6d.png)

I have also tested it with a virtual dataset but it´s also not working. Any

[2022-04-20 12:35] jhult commented on #16507
Did the fix for this get merged?

[2022-04-20 12:39] jhult commented on #16066
Bump. It would be nice to make this available from the UI.

[2022-04-20 12:41] jhult commented on #12516
Looks like the new PR (in this repo) is still active: https://github.com/apache/superset/pull/17903

[2022-04-20 12:42] jhult commented on #14383
Should this stay open?

[2022-04-20 12:43] jhult commented on #13551
@cccs-rc, any news on this?

[2022-04-20 12:45] jhult commented on #15132
It looks like PR #17319 is still open and needs to be merged.

[2022-04-20 12:45] jhult commented on #16888
Bump

[2022-04-20 12:45] jhult commented on #16954
Bump

[2022-04-20 13:08] cemremengu commented on #19789
Have you started a celery worker and a celery beat instance/container? If so, you need to check worker logs.

see https://superset.apache.org/docs/installation/alerts-reports/#docker-compose

[2022-04-20 13:14] Mohtasim878 commented on #19789
Hey @cemremengu thanks for your response i followed doc and  those in config file .
As Am beginner so could you please guide me how to start its instance. I installed superset on windows.

Config File:
class CeleryConfig:  # pylint: disable=too-few-public-methods
    BROKER_URL = "sqla+sqlite:///celerydb.sqlite"
    CELERY_IMPORTS = ("superset.sql_lab", "superset.tasks")
    CELERY_RESULT_BACKEND

[2022-04-20 17:16] regisb commented on #14383
I... think so?

[2022-04-20 19:12] Stefan-Blandin commented on #1369
Having this issue again in 1.4.1. DRUID_TZ does nothing.

[2022-04-20 20:22] JohnRson opened #19799 "Apache Superset 1.5.0 login error"
I have been using Apache Superset 1.4.2 and wanted to upgrade to 1.5.0 as it supports non-timeseries-x-axis.

https://github.com/apache/superset/tree/master/RELEASING/release-notes-1-5

I tried to install it from github via python on windows 10 into an unique environment:

conda activate %env%
call conda install git

pip install --upgrade setuptools pip  --user python
pip install X:\python_geohash

[2022-04-21 02:21] zhaoyongjie commented on #19741
@pradhangn, this issue has been addressed by [PR](https://github.com/apache/superset/pull/19776), so closed it. If you have any questions about it, feel free to reopen the issue.

[2022-04-21 02:21] #19741 closed

[2022-04-21 02:31] torryDou commented on #13571
Same issue as "DOMException: The operation is insecure.", is there a solution?

[2022-04-21 05:43] villebro commented on #19799
Hi @JohnRson, unfortunately Superset does not officially support Windows, so we cannot guarantee it works on Windows 10. Therefore I'm going to convert this to a discussion. But we're happy to accept PRs to improve support for unsupported platforms.

[2022-04-21 06:32] zhaoyongjie commented on #15132
@jhult I will follow this issue recently.

[2022-04-21 07:28] tclwh commented on #19375
这个问题好像出现了好久，一直没有被解决，我用的superset1.4.1版本也是这个问题

[2022-04-21 09:05] mdeshmu commented on #13948
can someone please share their working code here.

[2022-04-21 11:02] nikhil-kuyya commented on #13948
from flask_appbuilder.security.views import AuthOAuthView
from flask_appbuilder import expose
from flask import redirect, session
from superset.security import SupersetSecurityManager
import logging

class CustomSsoAuthOAuthView(AuthOAuthView):

    @expose("/logout/")
    def logout(self, provider="okta", register=None):
        provider_obj = self.appbuilder.sm.oauth_remotes[provider]
        ap

[2022-04-21 11:06] nikhil-kuyya commented on #13948
@mdeshmu
1. add Authlib==0.15.5 as dependency
2. configure the okta superset in config
3. add the custom code to authentication  aoove coment mentioned.

i did some customization for logout to get the url from config.

[2022-04-21 19:35] Stefan-Blandin commented on #16087
Can reproduce as well. My coworkers have a solution to use the "Expression" parameter in the table's .yaml file to reformat it as a string, but that removes the ability to filter it properly.

[2022-04-21 22:09] yousoph opened #19814 "Unable to run Superset using Docker - driver in requirements-local is downloading SQLAlchemy-1.4"
#### How to reproduce the bug

1. Add the following in your requirements-local.txt
[code]
2. Try to spin up Superset using Docker

### Actual results
Superset is unable to spin up properly because it's using SQLAlchemy-1.4 and Superset doesn't yet work with SQLAlchemy-1.4
![image](https://user-images.githubusercontent.com/10627051/164559305-302c182b-d06a-4131-9165-028187b104c8.png)
![image](https:

[2022-04-21 22:09] yousoph commented on #19814
Tagging @betodealmeida to add a bit more context since we looked at this together :) Thanks!!

[2022-04-22 04:00] saLeox opened #19816 "Add distributed lock for concurrent query before retrieve cache"
It's known that the Redis cache is already applied in query for query_context and viz, but there is a situation that makes it doesn’t work well, that’s when multi concurrent query requests to one dashboard or chart, come in at the same time, from different users. It will cause duplicated query request to our query engine, because the cache is not ready yet. As a result, it brings burden to cluster

[2022-04-22 06:57] mvpotapova opened #19817 "help wanted"
Hi, I am not able to find where I can change time range condition. So now for example I have date < col <= date, but I want it to be date <= col <= date. Where can I change it?

[2022-04-22 12:43] ravsha2 commented on #19717
Dear Team,
Can you please look into this?

[2022-04-22 16:59] Asfering opened #19822 "Can I connect to SuperSet using ssh?"
Hello everyone!
My database (Greenplum => Postgresql) is on a virtual machine, ubuntu 18.04.
I have configured the connection via network adapters in such a way that I can connect to the database from Windows in pgAdmin 4 using SSH
PgAdmin4:
![image](https://user-images.githubusercontent.com/63109582/164759677-c7006d1c-c1dd-4921-a769-9d53a70949d7.png)
![image](https://user-images.githubusercontent

[2022-04-22 19:36] Dumisani2 commented on #19596
Afternoon

Sorry I’m new on superset. I may have forgotten to mention that I’m using superset through docker, so the commands suggested below are not recognized, e.g. I’m getting error message saying “superset: command not found”. See next image: ***@***.***

From: Marcin Zegarmistrz ***@***.***>
Sent: 18 April 2022 17:51
To: apache/superset ***@***.***>
Cc: Dumisani Mthalane ***@***.***>; Comment

[2022-04-23 06:03] jimmy-chow opened #19824 "docker-compose.yml error"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Use docker-compose.yml to start superset env

2. The superset_db cannot start
Exec docker logs superset_db --tail 100, we can see logs like:

ls: cannot access '/docker-entrypoint-initdb.d/': Operation not permitted
ls: cannot access '/docker-entrypoint-initdb.d/': Operation not permitted
ls: cannot access '/doc

[2022-04-23 11:00] #15329 closed

[2022-04-23 12:33] smarmot commented on #19507
Have the same issue.
I figured out this is because the data has null values before turning on Total in Contribution mode.

Before:
<img width="1436" alt="Screenshot 2022-04-23 at 15 24 28" src="https://user-images.githubusercontent.com/39157526/164894583-7bbbe2bb-d953-4152-b660-97f6075ab112.png">

After:
<img width="1434" alt="Screenshot 2022-04-23 at 15 28 18" src="https://user-images.githubuserc

[2022-04-23 17:00] #15723 closed

[2022-04-23 22:17] code-review-doctor opened #19825 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/apache/superset/blob/3ccfa564d710480b55898d6e3ac42ccdd4ccdbcf/superset/db_engine_specs/presto.py#L1201

I found this issue automatically. I'm a bot. Beep Boop 🦊. See other issues I found in your repo [here](https://codereview.doctor/apache/superset)

[2022-04-24 10:51] moathOSA opened #19827 "how to add custom role that can assign spacific roles only to users not all the available roles"
the case that i have is
i want to create a role ex- admin
and this admin have the ability to add users and assign two roles only ex- viewer , publisher to the added users
how to do something like this ??

superset version 1.4.1
### Checklist

Make sure to follow these steps before submitting your issue - thank you!

- [x] I have checked the superset logs for python stacktraces and included it here

[2022-04-25 08:10] jefimm opened #19832 "helm chart values for postgres are not used"
The bitnami helm chart for postgres uses different values than specified in the superset
https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml#L121-L127

but superset is using

https://github.com/apache/superset/blob/master/helm/superset/values.yaml#L387-L394

[2022-04-25 13:00] cccs-rc commented on #13551
The [SIP for Advanced Types](https://github.com/apache/superset/issues/17852) has passed. The PR is [here](https://github.com/apache/superset/pull/18794) but not yet approved/merged.

This won't add validation specifically to dashboard native filters, but it will allow you to add some validation for advanced types in the Explore view. If/how to extend this to dashboard native filters is on our lis

[2022-04-25 13:56] majidazimi opened #19836 "superset-init-db job on 1.5.0rc4 image fails with no error messages"
I'm using helm chart 0.6.0 with 1.5.0rc4, however `superset-init-db` fails with no obvious errors:
[code]

Here is my superset config:

[code]

I realized `superset fab create-admin` is the part that is failing [returning exit code 1]

My superset installation is already in place [older version 1.4.2] and I can login to superset. I can see all dashboards, create databases, datasets, ...

Essential

[2022-04-25 18:02] cccs-Dustin opened #19838 "The Column Resize Selection Area Is Too Narrow On The Markdown Dashboard Widget"
Within the edit mode of a dashboard, hovering over the far right edge of the Markdown widget only shows the “move” cursor, not the “resize” cursor. This is inconsistent with the other types of charts, as for the rest of them, the "resize" cursor appears when one hovers over the far right edge.

The screenshot below is what you see when you try to adjust the width of a Markdown widget (you see the

[2022-04-26 05:45] MattMills commented on #19771
Fixed by #19784

[2022-04-26 05:45] #19771 closed

[2022-04-26 06:54] sujiplr commented on #19836
in 0.6.0 helm we are changing the postgresql version from 10 to 14. Can you try with helm 0.5.10 and check, whether still getting the same issue.

[2022-04-26 07:27] majidazimi commented on #19836
I'm using my own postgresql installation (14.2.0).

[2022-04-26 07:44] Narendra678 opened #19848 "Pagination table chart downloading only first page"
Hi Team,

Current behaviour: When download table chart it is downloading only first page.

Expected: When download table chart it should download all pages.

![image](https://user-images.githubusercontent.com/88739186/165248059-97b6766f-0ff2-45b3-9742-37868612ca56.png)
In above image, when i click on export csv it is downloading only first page. Needs to be download 16th page data.
Note: enabled S

[2022-04-26 08:52] stevensuting opened #19849 "Dashboard RBAC Favourite issue"
If a dashboard is assigned to a role, then user under that role makes that dashboard a favourite by clicking on the start, then if the role is removed from the dashboard, the user can still see the dashboard, but will not be able to access the content of the dashboard.

#### How to reproduce the bug

1. Create a dashboard (example_dash) and assign a role (example_role) to it via the RBAC option vi

[2022-04-26 12:18] SanjaySharma commented on #16650
Hi, I am facing the same kind of issue. I am using the Jinja template variable {{ current_aw_user_id() }} in my queries.
my queries is very simple:

SELECT * FROM attendance where id ='{{current_aw_user_id()}}';
SELECT * FROM user where reporting_to_id ='{{current_aw_user_id()}}';

I am facing the same "Unexpected error" issue.

![Uploading Screenshot 2022-04-19 at 3.25.52 PM.png…]()

what could b

[2022-04-26 12:48] sujiplr commented on #19836
Can you try with helm chart 0.5.10 once

[2022-04-26 13:04] majidazimi commented on #19836
Still fails. The script fails with no error messages so I can't provide you with more info for debugging. Is there any flag to enable and get deeper insight on this?

[2022-04-26 14:04] sujiplr commented on #19836
Can you take the complete pod log and check, also you can check the
pods events

[2022-04-26 16:13] brucearctor commented on #13481
@mrshu -- can you confirm whether this issue can be closed ( based on @didva comment, seems possible that this needn't be an open issue )?

[2022-04-26 17:55] VincentZ112 commented on #5888
Has this been worked on since?

[2022-04-26 23:56] kamalkeshavani-aiinside commented on #16159
@villebro Understood. If you have some time, can you share some details on how the cache and cache reset works currently? Where in the code should I look?
Also, let me know if I should create a SIP for this. Maybe we can make [cache warm up](https://github.com/apache/superset/pull/17895) work again.

[2022-04-27 02:37] anied opened #19856 "Import from `'antd'` is not allowed but the recommended alternative does not exist"
I am developing a superset plugin locally, with a local dev setup propped up following the [instructions in `CONTRIBUTING.md`](https://github.com/apache/superset/blob/master/CONTRIBUTING.md).  In my `.tsx` file I am attempting to import several components from [`antd`](https://github.com/ant-design/ant-design) like so:

[code]

However, this generates the following lint warning:

This appears to b

[2022-04-27 02:59] etr2460 commented on #19856
looks like we need to update this error message. The components live in `superset-frontend/src/components` for example: https://github.com/apache/superset/blob/master/superset-frontend/src/components/Menu/index.tsx

[2022-04-27 03:04] etr2460 opened #19858 "Table selector extends beyond sidebar boundary in sql lab"
## Screenshot
![Screen Shot 2022-04-26 at 8 02 03 PM](https://user-images.githubusercontent.com/7409244/165431345-a159820e-74d0-4f8a-946c-4e4bf6369a4d.png)

## Description
As titled

## Design input
It would be good to have the selector expand to fix the content when open, but shrink to fit inside the sidebar when closed

[2022-04-27 04:12] #19856 closed

[2022-04-27 11:26] dat-linux opened #19868 "Problem with Ubuntu 22.04 install via pip/numpy, when compiling dependencies."
Is this a GCC version issue perhaps? I'm using gcc-11.2.0-19ubuntu1 amd64

**Ouput:**

             2997 |     return _Py_HashDouble(npy_half_to_double(PyArrayScalar_VAL(obj, Half)));
                  |                           ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                  |                           |
                  |                           double
            In file

[2022-04-27 12:20] deepak13tekwani commented on #9558
can you find the solution for this?

[2022-04-27 12:22] Vijay4171 opened #19869 "How to join the Tables In apache superset i have 2 excel tables it have common fields are there i want join is there any proper document to do that"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

If applicable, add screenshots to help explain your problem.

### Environment

(please complete the following information):

- br

[2022-04-28 07:31] Narendra678 commented on #19848
Any one have solution for this or can i consider this as bug?
?

[2022-04-28 09:37] #11823 closed

[2022-04-28 10:55] tullis opened #19880 "[line chart] time shift by x year showing misaligned data"
#### How to reproduce the bug

We have a dataset containing value counts in columns, with each row representing a month.

Plotting this data on a line chart with a specific range from 2021-01-01 to 2022-01-01 is fine.
12 values are displayed and aligned with the X-Axis correctly.

Now go to Advanced Analytics -> Time Shift -> enable one or more values of x years time shift

### Expected results

I

[2022-04-28 14:12] nijkap opened #19884 "UI Issue - Access Denied error pops up on initial load even for admin user."
Hi Team,

Whenever a user logs in to superset before everything loads up for a brief period of time a "Access is Denied" error comes up below is the screen shot:

![image](https://user-images.githubusercontent.com/104574505/165771761-3651317c-aece-4a8a-9a3f-aedd45fdee02.png)

[2022-04-28 16:38] #19832 closed

[2022-04-28 18:28] ngatilio opened #19886 "flask_appbuilder.security.sqla.manager:DB Creation and initialization failed: (psycopg2.OperationalError) could not translate host name "db" to address:"
A clear and concise description of what the bug is.

#### How to reproduce the bug

0. Environment 'Windows 10 64'
1. Go to 'superset master branch'
2. Run 'docker-compose pull' and 'docker-compose up'
3. Scroll down in logs
4. See error

`superset_worker_beat   | 2022-04-28 18:26:06,338:ERROR:flask_appbuilder.security.sqla.manager:DB Creation and initialization failed: (psycopg2.OperationalError)

[2022-04-28 23:34] amarolx commented on #9027
One possible solution.
You can copy the file `superset/superset_typing.py` to `superset/typing.py`. The last version(1.5.0) needs this fix. One or more files needs import the `typing.py` but the real name is `superset_typing.py`

[2022-04-29 03:07] ChunshengZhao opened #19891 "Partition Chart can not group null value."
Superset Version: 1.5

VISUALIZATION TYPE: Partition Chart

Query: GROUP BY Name,ProjectName
Metrics: SUM(FQty)

Data Results:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<body link="#0563C1" vlink="#954F72">

Name | ProjectName | FQty
-- | -- | --
ZhangSa

[2022-04-29 03:10] ChunshengZhao opened #19892 "Bar Chart can not highlight item."
Superset Version: 1.5

VISUALIZATION TYPE: Bar Chart

![图片](https://user-images.githubusercontent.com/9263377/165879550-a1aa101e-6a45-4488-96b9-c49a848b0766.png)

BTW: Time-series Bar Chart v2 is normal.

[2022-04-29 05:52] pawar20396 opened #19893 "Can we connect superset to hdfs without using hive.?"
I am new to big data. I just installed the apache superset. I want to access my Hadoop data from superset. Is there any option available? If yes then please specify how to do it?
Thank you for your support.

[2022-04-29 06:41] zhaoyongjie commented on #19893
@pawar20396 the HDFS is a filesystem, while Superset needs to access a database interface. You should expose a specific application from the Hadoop ecosystem rather than directly access a filesystem.

[2022-04-29 06:48] pawar20396 commented on #19893
Do I need to use a hive for it?

[2022-04-29 06:49] zhaoyongjie commented on #19880
@tullis Could you try the Echart version `Advanced Analytics`? The NVD3 version time shift seems to have some errors.

<img width="1236" alt="image" src="https://user-images.githubusercontent.com/2016594/165896977-0692788c-61d5-40c1-8313-5dfdde9f59c6.png">

[2022-04-29 06:53] srinisubramanian commented on #18942
This still needs to be addressed

[2022-04-29 06:56] zhaoyongjie commented on #19893
@pawar20396 may be Presto/Trino is better than Hive. Hive is for the batch jobs.

[2022-04-29 11:19] Narendra678 commented on #19497
I am also facing same issue.

[2022-04-29 11:25] Narendra678 commented on #17861
I am also facing saME ISSUE

[2022-04-29 11:25] tullis commented on #19880
@zhaoyongjie - Thanks - that workaround works for me and confirms that the issue relates to the nvd3 version. I see that there is a _deprecated_ tag on the nvd3 version too, so maybe this issue won't need to be fixed?
![image](https://user-images.githubusercontent.com/2117946/165935348-2454f981-34b5-4e91-967c-a5cbd88598fb.png)

[2022-04-29 11:38] rvsoni commented on #11080
I have just upgraded to 1.4.2 seeing a problem.

superset_app            | [SQL: SELECT dbs.uuid AS dbs_uuid, dbs.created_on AS dbs_created_on, dbs.changed_on AS dbs_changed_on, dbs.id AS dbs_id, dbs.verbose_name AS dbs_verbose_name, dbs.database_name AS dbs_database_name, dbs.sqlalchemy_uri AS dbs_sqlalchemy_uri, dbs.password AS dbs_password, dbs.cache_timeout AS dbs_cache_timeout, dbs.select_as_

[2022-04-29 11:42] zhaoyongjie commented on #19880
@tullis Yes, I think so.

FYI, @evans @villebro are we considering removing the legacy NVD3 line chart?

[2022-04-29 11:58] amravazzi commented on #17949
The solution proposed by @pdakkata-quot solved the problem. The white screen after the build is due to the webpack still being processing the frontend. You should wait for the message `<s> [webpack.Progress] 100%` to access the interface. In my case, it took around 20 minutes (!!!!) with 4 cores and 8gb allocated to docker for mac. They should consider switching Webpack to Esbuild.

[2022-04-29 13:35] lakeron opened #19896 "Some Binary UUID can be read with mysql-connector-python 8.0.29"
Once the `mysql-connecot-python` upgraded to 8.0.29 we start to see this error

Here is screenshot form corrupted dashboard
<img width="1439" alt="screenshot_2022-04-29_at_08 41 13" src="https://user-images.githubusercontent.com/1630577/165955210-ccacf4a9-73a8-49da-ae9c-a2226d800907.png">

### Traceback
[code]

### Hotfix
During debugging we found out that the problem is connected to UUID that is

[2022-04-29 15:18] amitmiran137 commented on #19277
@villebro does a 1.5.1 is planned?
Maybe it can include that issue

[2022-04-29 16:27] happy-hui1 opened #19900 "docker-compose up: Cannot start services superset_init，uperset_worker_beat。。。"
#### How to reproduce the bug
Removing superset_app
Removing superset_init
Removing superset_worker
Removing superset_worker_beat
superset_cache is up-to-date
superset_db is up-to-date
Starting superset_websocket ...
Recreating 4e80981fc5ad_superset_app ...
Starting superset_node               ...
Starting superset_websocket                  ... done
Recreating a10d3d77804a_superset_worker ...
Sta

[2022-04-29 16:42] CarpathianUA commented on #17540
It's still actual

[2022-04-29 19:11] claytongulick commented on #8452
Is there an existing solution for performing LIKE queries for searching inside of a text column? Got to this issue from google trying to find a solution.

[2022-04-30 02:40] missyoyo opened #19907 "Can not down database driver followed "Installing Superset Locally Using Docker Compose" guide"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. I just git clone -b 1.4.2 superset.git and run it use default "docker-compose-non-dev.yml"
2. I add "elasticsearch-dbapi" to ./docker/requirements-local.txt and start it "docker-compose-non-dev.yml up"
3. and can no dowload database drivers
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None

[2022-04-30 02:45] missyoyo commented on #19907
I am use ubuntu 18.04 as docker host, and if I do not use requirements-local.txt,superset will start normally.

[2022-04-30 05:53] missyoyo commented on #19907
sorry, I have test on other Centos 7.5 use superset dev docker version and work good now. May be some thing wrong is my ubuntu env.

[2022-04-30 05:53] #19907 closed

[2022-04-30 12:34] joaofelipecb opened #19909 "DB auth error when try to run helm chart v0.6.0"
When I tried to run helm chart v0.6.0, I notice that the db init job could not run. Also, I looked for logs of the postgres pod and I catched a authentication error.

[code]

#### How to reproduce the bug

[code]

Output:

[code]

`kubectl logs superset-postgresql-0 -n superset`

Output:

[code]

### Expected results

The database inicialization performs correctly via helm instalation.

### Actual

[2022-04-30 13:22] GithubZhitao opened #19910 "build front failed"
#### How to reproduce the bug

just run: sh js_build.sh

### Expected results

build success

### Actual results

✖ 385 problems (56 errors, 329 warnings)
  13 errors and 0 warnings potentially fixable with the `--fix` option.

#### Screenshots

If applicable, add screenshots to help explain your problem.
one kind of error segment
[code]
another error segment
[code]

### Environment

Mac OS
npm ve

[2022-04-30 17:21] michalmalus opened #19912 "Sparkline - width cannot be adjusted + unexpected behavior when different X values"
## Screenshot

![image](https://user-images.githubusercontent.com/101653551/166115626-5d4e4e3d-fac1-4135-bec8-50f2e4026abc.png)
![image](https://user-images.githubusercontent.com/101653551/166115734-9538ef40-456e-4f64-88db-8009551f14b7.png)

## Description

Chart: Time-series Table
Type: Sparkline

Two issues:

1. Width of the Sparkline part cannot be adjusted. Seems to be permanently set to ~300p

[2022-04-30 23:43] sfkeller commented on #15280
I respect that volunteering or busy maintainers have no time to look at a issues of such a great project.
But this issue is a fundamental feature of most usages of Superset (outside AirBnB?) and it's around since years.
See e.g. #19074, #17913 + #17914, #16718, #15280 and #14504.
And there seems to be a fix with #16507 around which is unconfirmed!?

[2022-05-01 05:38] srinisubramanian commented on #9027
@villebro This is an issue in the upgrade from 1.4.0 to 1.5.0 also.  As suggested bt @amarolx  I did copy the file superset_typing.py to typing.py and it went through

[2022-05-01 21:12] SKhakhulin commented on #16509
when I try same method, I get `ERROR: Could not load database driver: ImpalaEngineSpec`

[2022-05-01 21:43] korpa commented on #15825
This issue still exists. Please do not close

[2022-05-01 23:46] xmnlab opened #19915 "Not possible to register you at the moment, try again later: Can't flush None value found in collection User.roles"
The user activation after the user registration is not working.

#### How to reproduce the bug

1. Go to 'Login'
2. Click on 'Register'
3. Create a new user
4. from the email, activate it

### Expected results

the user registration

### Actual results

it results in an error: "Not possible to register you at the moment, try again later"

from the console I have this:

[code]

#### Screenshots

If

[2022-05-02 00:01] xmnlab commented on #19915
nvm, problem fixed with a correct value in `SUPERSET_DEFAULT_NEW_ROLES`. it seems that it is case sensitive.

[2022-05-02 00:01] #19915 closed

[2022-05-02 04:00] richerdk commented on #19868
Exact same version and error for me as well. Were you able to workaround?

[2022-05-02 06:56] kamalkeshavani-aiinside commented on #13543
Issue 1,2,3,4 are still reproducible on version 1.5.0

[2022-05-02 15:19] stevetracvc opened #19919 "Table Viz - Sorting by multiple columns no longer works"
A recent (Dec) commit to the table viz added something for case-insensitive sorting. Unfortunately, this also broke the ability to shift-click and sort by multiple columns.

#### How to reproduce the bug

1. Explore a table (or find one in a dashboard)
2. Click on the header of an alphanumeric column to sort by that column (make sure there are multiple rows with the same value for this column, eg

[2022-05-02 16:24] #19825 closed

[2022-05-02 16:35] andrewscarani commented on #15561
Please don'y close this issue. This is an important, basic feature of all charting tools that should be supported.

[2022-05-02 16:36] andrewscarani commented on #15562
Please don't close this issue.

[2022-05-02 16:41] andrewscarani commented on #15566
Does anyone know if this has been fixed? This is an incredibly important bug to fix, more than a feature

[2022-05-02 16:44] andrewscarani commented on #15566
![Screen Shot 2022-05-02 at 9 44 24 AM](https://user-images.githubusercontent.com/4078980/166289311-500a53f9-e2ce-47fe-bcf1-20e8553117b7.png)
It appears that this may have already been fixed?

[2022-05-02 18:11] RaSi96 opened #19925 "Issues related to dev branch .yml and some documentation"
Hello team,

This is my first issue ever here on GitHub, so please let me know if anything is amiss. I am a bit apologetic that my problems have something to do with this fantastic software, but my questions have been mounting over the last few days. ~The source of my issue here is that superset, as of the time of my writing, still for some reason doesn't support simple scatterplots.~ [_(See this

[2022-05-02 18:30] subhashb commented on #10711
Ping

[2022-05-02 19:48] suddjian commented on #14504
I think this should be considered resolved. While developing embedded dashboards, we had to make sure that dashboards loaded correctly with anonymous users. If anyone still has this issue, we can reopen and patch it.

[2022-05-02 19:48] #14504 closed

[2022-05-02 19:57] RaSi96 commented on #19925
**Small update:** I have come across a workaround in [ISSUE 16432](https://github.com/apache/superset/issues/16432) that addressed Q2 (which I have stricken.) The workaround was the first half of [nytai's comment](https://github.com/apache/superset/issues/16432#issuecomment-904988427) to comment out the superset-websocket service part of the docker-compose.yml file. This allowed me to then success

[2022-05-02 20:56] RaSi96 commented on #19925
**Another quick update** _(before I call it a night):_ following the paths within the docker-compose.yml file lead me to a readme.md under `~/path-to-superset/docker/` that, under the '## Production' section, uses language unambiguous enough to answer Q4 (which I have stricken): the dev branch is indeed for developing the superset software and non-dev is for production.

This also somewhat provide

[2022-05-02 22:11] dat-linux commented on #19868
I still have problems with install. This issue doesn't seem to be getting any traction, so I'll update it with instructions on how to reproduce, and hopefully it gets picked up by a dev. Right now, based on the error messages, I see no logical workaround. Could be a compatibility issue with python 3.9 vs 3.10.

Python apps seem to break backwards compatibility quite lot for some reason.

[2022-05-03 04:19] #17143 closed

[2022-05-03 06:25] RaSi96 commented on #19925
**Many updates:**

- Q1: This issue was caused because I had not set the feature flag `GENERIC_CHART_AXES` to `True`. Apologies for misunderstanding this when reading through [PULL 17917,](https://github.com/apache/superset/pull/17917) however after reviewing the pull and cross-referencing the [feature flag documentation](https://github.com/apache/superset/blob/master/RESOURCES/FEATURE_FLAGS.md) i

[2022-05-03 07:14] villebro commented on #19277
@amitmiran137 yes, a 1.5.1 is indeed planned. I'm unfortunately not able to work on this right now, but this seems like a fairly simple fix. Ping @stephenLYZ or @simcha90 if you are able to take this on?

[2022-05-03 07:17] villebro commented on #19880
@zhaoyongjie I propose deprecating all charts that are using `viz.py` in 3.0. It would be very helpful if we could get that chart migration CLI working (may require a SIP?). Also, we could also consider disabling creating new deprecated charts when there is a new version available with full feature parity.

[2022-05-03 07:22] villebro commented on #9027
@Mabloq @amarolx @srinisubramanian did you try running with `TAG` as instructed in the docs? TAG=1.4.0 docker-compose -f docker-compose-non-dev.yml pull

Specifically this part:

<img width="918" alt="image" src="https://user-images.githubusercontent.com/33317356/166417093-0509b21f-dc0d-44fa-bb61-c054be234975.png">

[2022-05-03 07:37] srinisubramanian commented on #9027
I am not using docker but a native pip install. I upgraded from 1.4.0 to 1.5.0 and had the issue. For another instance I use docker and did not have this issue there when I upgraded.

[2022-05-03 11:24] riazarbi commented on #19349
This works on v1.5

[2022-05-03 12:29] realfever commented on #19900
same issue

[2022-05-03 13:08] pfinnerty commented on #19884
@nijkap - I had a similar issue going on. The root cause for me was related to redirects and how I auth into superset (keycloak). How are you doing auth?

[2022-05-03 14:41] vladimir-remar opened #19937 "Timeout in charts when `force refresh` is clicked."
#### How to reproduce the bug

After create a chart and get the first results when we try to `force refresh` we receive a `timout error`

### Expected results

We expect a re-run of the query and get  data.

### Actual results

A timout response

#### Screenshots
First run
![Screenshot from 2022-05-03 14-21-01](https://user-images.githubusercontent.com/22233596/166453617-574119bd-5c78-4050-bb1e-a7

[2022-05-03 15:20] stevetracvc commented on #16518
Seems like an issue still. Did you get anywhere?

I'm not sure how/where the react parts work. The /welcome and /dashboard views are pretty much identical python code, so where/how does going to /superset/dashboard/45/ inject the dashboard info?