[2021-04-21 12:49] dpgaspar commented on #14233
@qlands I was able to reproduce, possible bug

[2021-04-21 12:54] srinify commented on #14263
@junlincc it looks like we actually *do* support time grains for db2. You can tell by the presence of `_time_grain_expressions` dictionary in `db2.py` but no idea if they actually work!

https://github.com/apache/superset/blob/master/superset/db_engine_specs/db2.py

But just for future reference :D

[2021-04-21 12:58] villebro commented on #14263
I seem to recall that the DB2 SQLA connector has a few aliases for the dialect, and we may need to add those to the `engine_aliases` property. See how Postgres does it: https://github.com/apache/superset/blob/852e840575cf5ec6e1ad2780c986972619c8666f/superset/db_engine_specs/postgres.py#L148

[2021-04-21 14:32] amitmiran137 commented on #14037
resolved #14163 #14223

[2021-04-21 14:32] #14037 closed

[2021-04-21 15:00] AlexisBRENON opened #14265 "Calculated columns are not expanded when changing to Custom SQL tabs"
### Expected results

I expect the query to run without errors, because both filters are redundants.

### Actual results

Query failed with the error:
[code]

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

From a dataset with calculated columns:
1. Add a filter through the "SIMPLE" interface on a calculated column
2. Switch to "CUSTOM

[2021-04-21 15:09] alexs95 opened #14266 "Dashboard filters unset on force refresh and dashboard refresh"
Dashboard filters are unset inside the chart(s) on force refresh or dashboard refresh. When a dashboards filters are set and apply is clicked the filters are applied as expected. If a single chart is force refreshed the filters become unset for that chart when it is refreshed. If the entire dashboard is refreshed (using Refresh dashboard in the menu) the filters are unset for each chart.
Note: the

[2021-04-21 16:33] lilykuang commented on #14185
@KrupaVadher thank you for your feedback. There is no checkboxes for card view,  user can click on each individual card for bulk select, see the video below
https://www.loom.com/share/134e046ea14742bb9ec69410d0820033
cc @junlincc

[2021-04-21 17:05] Omnipos-lab commented on #14024
Up!

[2021-04-21 18:20] daniel10012 commented on #6568
@junlincc do you know where we are on this )

[2021-04-21 18:27] cabo40 commented on #14263
@junlincc , thanks.
Hi, I will go with what  @villebro said, there are two aliases for DB2 connections https://superset.apache.org/docs/databases/ibm-db2 and they handle datetimes and limits in a different manner.
@ljclour , does the sql lab allows you to do raw queries or fails with the limit? Also, can you try any of this?
[code]

[2021-04-21 19:20] etr2460 commented on #10654
It looks like this is a bug in the rendering of the Partition viz. If someone wants to take on a fix, you can find the code here: https://github.com/apache-superset/superset-ui/tree/master/plugins/legacy-plugin-chart-partition

[2021-04-21 19:26] betodealmeida commented on #11586
This has been fixed.

[2021-04-21 19:26] #11586 closed

[2021-04-21 19:27] etr2460 commented on #10662
Hi @piyush-singhal, looks like there's no support for this yet. While this could probably be fixed through a change to the NVD3 plugin (https://github.com/apache-superset/superset-ui/tree/master/plugins/legacy-preset-chart-nvd3) we plan to migrate to echarts in the future and will track supporting this feature

I'm going to close this since there are no plans to fix this with the current nvd3 impl

[2021-04-21 19:27] #10662 closed

[2021-04-21 19:27] john-bodley commented on #9361
There has been a lot of changes in SQL Lab over the past 12 months or so. I'm closing this issue for now (in part due to lack of  context) but please create a new issue (choose the `Bug report` option) if you're still running into this.

[2021-04-21 19:27] #9361 closed

[2021-04-21 19:27] #9974 closed

[2021-04-21 19:27] zuzana-vej commented on #14056
Update: We are planning to prioritize this feature at some point late Q2/earlyQ3, but keeping this GH# open as a space for discussion (to enable this tab specific discussion separately from the #13954

[2021-04-21 19:28] robdiciuccio commented on #14138
Strange that there are no errors logged. I'm assuming that you have a `SECRET_KEY` value set, and it's just redacted here.

Other than that, I would suspect that the Redis cache instance perhaps isn't connecting, though I would think that would log an error. Can you confirm access via `redis-cli`?

[2021-04-21 19:30] #11560 closed

[2021-04-21 19:32] nytai commented on #11988
@altef It seems you have a potential fix for this issue. Would you mind opening a PR and we can determine potential ramifications of the change there?

[2021-04-21 19:33] betodealmeida commented on #11028
This is now supported with the `VERSIONED_EXPORT` feature flag.

[2021-04-21 19:33] #11028 closed

[2021-04-21 19:34] #14002 closed

[2021-04-21 19:35] betodealmeida commented on #13065
We should make this more clear, and allow editing the metric SQL expression in the dropdown, like we do for calculate columns.

[2021-04-21 19:36] nytai commented on #11974
@tooptoop4 can you confirm if this is still an issue with the latest version of superset? Could you also provide the sqlalchemy driver/version you're using?

[2021-04-21 19:37] etr2460 commented on #10640
This should now be supported after @amitmiran137's work putting this behind a permission. Keep an eye out for a new release or deploy from master

[2021-04-21 19:37] #10640 closed

[2021-04-21 19:37] nytai commented on #11966
Fixed by ☝️

[2021-04-21 19:37] #11966 closed

[2021-04-21 19:38] nytai commented on #9869
fixed by ☝️

[2021-04-21 19:38] #9869 closed

[2021-04-21 19:38] rusackas commented on #13013
Shall we put this up for a VOTE @MatanBobi ?

[2021-04-21 19:39] robdiciuccio commented on #14226
Can you try this fix? https://github.com/apache/superset/pull/13830

[2021-04-21 19:39] etr2460 commented on #10638
Closing with not enough details. Feel free to file a new issue with more details with exactly what bug you're running into here

[2021-04-21 19:39] #10638 closed

[2021-04-21 19:39] suddjian commented on #13943
Related: #13942

[2021-04-21 19:39] #12559 closed

[2021-04-21 19:39] john-bodley commented on #9930
@ktmud and @jfrag1 can we close this issue now?

[2021-04-21 19:39] nytai commented on #11953
fixed by ☝️

[2021-04-21 19:39] #11953 closed

[2021-04-21 19:40] nytai commented on #9930
Yes

[2021-04-21 19:40] #9930 closed

[2021-04-21 19:40] zuzana-vej commented on #13820
closed by https://github.com/apache-superset/superset-ui/pull/1066

[2021-04-21 19:40] #13820 closed

[2021-04-21 19:41] junlincc commented on #11021
I believe #8303 is referring to a different request. @micimize but we would love to have your solution implemented in Superset.

[2021-04-21 19:41] #11021 closed

[2021-04-21 19:41] zuzana-vej commented on #13821
https://github.com/apache-superset/superset-ui/pull/1066

[2021-04-21 19:41] #13821 closed

[2021-04-21 19:42] #11282 closed

[2021-04-21 19:42] betodealmeida commented on #13914
This has been fixed in https://github.com/apache/superset/pull/13921

[2021-04-21 19:42] #13914 closed

[2021-04-21 19:43] #14062 closed

[2021-04-21 19:45] robdiciuccio commented on #14176
It appears that you're using the older, deprecated alerts & reports functionality. Please see the docs for the new Alerts and Reports functionality: https://superset.apache.org/docs/installation/alerts-reports

[2021-04-21 19:46] zuzana-vej commented on #13648
closing this because it's duplicate with https://github.com/apache/superset/issues/11123

[2021-04-21 19:46] #13648 closed

[2021-04-21 19:46] junlincc commented on #12964
We are adding Andon with color indicator through dynamic viz plug-in system. Will be available in Q3
https://github.com/krsnik93/plugin-chart-status-indicator

[2021-04-21 19:46] #12964 closed

[2021-04-21 19:48] ddxdental commented on #14138
@robdiciuccio yes, secret is redacted.  Can access redis via redis-cli.  Can create and load individual charts.

How does one rebuild the frontend assets?  Google seems to be failing me

[2021-04-21 19:48] #11198 closed

[2021-04-21 19:48] junlincc commented on #13206
Let's move and add this to a Github project @rusackas

[2021-04-21 19:48] #13206 closed

[2021-04-21 19:49] lilykuang commented on #14185
This issue doesn't seems like a bug, I will close it. Feel free to reopen if there's any concern.

[2021-04-21 19:49] #14185 closed

[2021-04-21 19:51] robdiciuccio commented on #14058
You should be able to re-enable the language selector in the UI overriding the `LANGUAGES` config in your `superset_config.py` to include more than one language, if that's what's desired. Example config: https://github.com/apache/superset/blob/master/superset/config.py#L295:L295

[2021-04-21 19:51] #14058 closed

[2021-04-21 19:55] john-bodley commented on #10024
@DovAlduin have you tried using the new "Time-series Chart" visualization which is backed by [Apache ECharts](http://echarts.apache.org/en/index.html). I believe each visualization type handles rendering of missing data differently.

[2021-04-21 19:56] zuzana-vej commented on #13240
Based on our past discussion within Airbnb, @graceguo-supercat might look into this and either resolve or close this issue/request. (keeping open for now)

[2021-04-21 19:56] suddjian commented on #13193
Closing this as part of issue cleanup, but keeping it in the SPA project tracker.

[2021-04-21 19:56] #13193 closed

[2021-04-21 19:56] #11917 closed

[2021-04-21 19:57] suddjian commented on #12897
Closing this as part of issue cleanup, but keeping it in the SPA project tracker.

[2021-04-21 19:57] #12897 closed

[2021-04-21 19:57] rusackas commented on #10285
Closing this... it never really went through the SIP process of DISCUSS -> VOTE, but the work effectively happened :) @graceguo-supercat please re-open if I'm mistaken in any way, and/or you want to run it through the usual process.

[2021-04-21 19:57] #10285 closed

[2021-04-21 19:58] betodealmeida commented on #10960
Closing this since I can't repro. Please feel free to reopen if you have a path to reproduce.

[2021-04-21 19:58] #10960 closed

[2021-04-21 19:59] betodealmeida commented on #14141
@sathyendrasaran can you give more details how you're running Superset and how we can repro this?

[2021-04-21 19:59] #10088 closed

[2021-04-21 19:59] junlincc commented on #14118
Dashboard interactive action is a broader term to include different filtering, and deep drill features. Let's keep X-filtering for this proposal.
I think we have reached the lazy consensus and work has already started, so im converting it to Discussion.

[2021-04-21 19:59] #14118 closed

[2021-04-21 20:03] zuzana-vej commented on #12640
@graceguo-supercat  can you confirm if this has been resolved (and close this ticket if resolved)? Looks like there are PRs  linked here and last discussion in January.

[2021-04-21 20:04] robdiciuccio commented on #14050
Dataset exports are currently coupled to the database definition that they were exported from. I don't believe it's possible to import a dataset into an arbitrary database. Is that the intention?

[2021-04-21 20:05] nytai commented on #11882
this seems resolved by https://github.com/apache/superset/pull/14040 please reopen if it's not the case

[2021-04-21 20:05] #11882 closed

[2021-04-21 20:05] junlincc commented on #14117
Yes!

[2021-04-21 20:05] #14117 closed

[2021-04-21 20:07] rusackas commented on #9953
I don't believe this has gone up for a DISCUSS thread on the dev@ list, has it @john-bodley ? Shall we push this through?

[2021-04-21 20:09] john-bodley commented on #9935
Closing  this given that filters have been redesigned and many of these issues have been resolved.

[2021-04-21 20:09] #9935 closed

[2021-04-21 20:10] #12093 closed

[2021-04-21 20:12] #12023 closed

[2021-04-21 20:12] #6747 closed

[2021-04-21 20:17] lilykuang commented on #13207
this issue should be fixed. i will close this.

[2021-04-21 20:17] #13207 closed

[2021-04-21 20:18] etr2460 commented on #10629
Looks like there was a suggestion and no followup here. Closing to keep our open issues clean, but feel free to open a new ticket if you're still having issues

[2021-04-21 20:18] #10629 closed

[2021-04-21 20:19] nytai commented on #11879
This should be fixed by https://github.com/apache/superset/pull/14040. If I'm incorrect, please reopen

[2021-04-21 20:19] #11879 closed

[2021-04-21 20:19] #12231 closed

[2021-04-21 20:20] #13807 closed

[2021-04-21 20:22] etr2460 commented on #10598
Closing since this is roadmapped

[2021-04-21 20:22] #10598 closed

[2021-04-21 20:23] rusackas commented on #9892
I think that based on the sentiment in the thread, the timeline since last comment, and the lack of a VOTE thread, we'll call this closed. If it needs further attention or you want to push it forward for an official vote, we can re-open this. Thank you for the discussion/ideas!

[2021-04-21 20:23] #9892 closed

[2021-04-21 20:24] suddjian commented on #4040
This is definitely being worked towards as Superset's component styles are switched to Emotion, but it will be quite a bit of work to get there. Relevant: #9123

[2021-04-21 20:24] #12294 closed

[2021-04-21 20:26] zuzana-vej commented on #11478
closing - MVP was addressed rest of the items are on the roadmap item https://github.com/apache-superset/superset-roadmap/issues/64

[2021-04-21 20:26] #11478 closed

[2021-04-21 20:27] #12244 closed

[2021-04-21 20:28] etr2460 commented on #10596
In Superset you can add filters to your queries both in Explore and SQL Lab. This should be supported, so i'm going to close out this issue

[2021-04-21 20:28] #10596 closed

[2021-04-21 20:29] lilykuang commented on #13202
closing this issue since the feature was merged.

[2021-04-21 20:29] #13202 closed

[2021-04-21 20:30] betodealmeida commented on #5417
Moved this to https://github.com/apache/superset/issues/12899

[2021-04-21 20:30] #5417 closed

[2021-04-21 20:32] john-bodley commented on #10091
@kanadaj is this still an issue? I know that since you opened this issue we've bumped the version of PyArrow and there's been a few newer versions of the [clickhouse-sqlalchemy](https://pypi.org/project/clickhouse-sqlalchemy/#history).

[2021-04-21 20:32] zuzana-vej commented on #10333
closing as duplicate with https://github.com/apache-superset/superset-roadmap/issues/98

[2021-04-21 20:32] #10333 closed

[2021-04-21 20:32] #11436 closed

[2021-04-21 20:34] zuzana-vej commented on #10332
duplicate with this roadmap item: https://github.com/apache-superset/superset-roadmap/issues/99

[2021-04-21 20:34] #10332 closed

[2021-04-21 20:34] etr2460 commented on #10591
Closing this issue since a lot of the work is done already and it's tracked in the roadmap: https://github.com/apache-superset/superset-roadmap/issues/73

[2021-04-21 20:34] #10591 closed

[2021-04-21 20:35] #12961 closed

[2021-04-21 20:35] etr2460 commented on #10586
Looks like this was fixed, so i'm going to close it

[2021-04-21 20:36] junlincc commented on #10408
https://github.com/apache/superset/issues/9725

[2021-04-21 20:36] #10330 closed

[2021-04-21 20:37] junlincc commented on #9725
https://github.com/apache/superset/issues/10408 moving conversation to SIP51

[2021-04-21 20:37] #9725 closed

[2021-04-21 20:37] etr2460 commented on #10574
@sazary could you check and see if this issue still occurs in Superset 1.1? We've had a number of releases since you filed this issue and it might be resolved now

[2021-04-21 20:37] suddjian commented on #10696
should be fixed by https://github.com/apache/superset/pull/13233

[2021-04-21 20:37] #10696 closed

[2021-04-21 20:37] rusackas commented on #14021
While this is an interesting feature, I don't think it's on at least our roadmap for now. We can consider it a little further when we fully replace the categorical bar charts in the future. In the meantime, would you be interested in opening a PR to tackle this?

@villebro since it may pertain to something on your eventual roadmap.

[2021-04-21 20:39] lilykuang commented on #12419
It seems like you're using the older, deprecated alerts & reports functionality. have you tried the new Alerts and Reports functionality: https://superset.apache.org/docs/installation/alerts-reports

[2021-04-21 20:40] #12419 closed

[2021-04-21 20:41] betodealmeida commented on #7822
This seems to be working on Firefox now, I couldn't repro.

![Screen Shot 2021-04-21 at 1 40 37 PM](https://user-images.githubusercontent.com/1534870/115618177-2fcaf380-a2a7-11eb-898b-cee1cd3f904f.png)

[2021-04-21 20:41] #7822 closed

[2021-04-21 20:41] suddjian commented on #10694
We recently added a new pivot table to Superset. If it does not address your needs feel free to open.

[2021-04-21 20:41] #10694 closed

[2021-04-21 20:41] john-bodley commented on #10098
@junlincc @zuzana-vej I wonder if we should prioritize this, i.e., not being able to filter on a boolean column using `IS TRUE`, `IS FALSE` etc. seems fairly problematic.

[2021-04-21 20:41] junlincc commented on #14061
Related https://github.com/apache/superset/issues/13847

[2021-04-21 20:42] etr2460 commented on #10560
I'm going to close this since the issue should probably exist in Flask-AppBuilder instead. Feel free to file an issue in that repo, then once it's implemented there we can upgrade the version of FAB that Superset uses.

cc @dpgaspar

[2021-04-21 20:42] #10560 closed

[2021-04-21 20:45] krsnik93 commented on #13914
@betodealmeida thank you!

[2021-04-21 20:47] willbarrett commented on #11788
Closing as a stale issue - please let us know if the issue still exists on 1.1.0 and we will investigate further.

[2021-04-21 20:47] #11788 closed

[2021-04-21 20:47] rusackas commented on #9792
I think given the ambiguity, the amount of time this has been in discussion, and how long it's been, we can call this closed for now. There's been a lot of work on the Homepage, and the Profile features/location are on the roadmap for revisit/redesign/rebuild. We'll make it all better, and address at least some of your concerns in this effort :)

[2021-04-21 20:47] #9792 closed

[2021-04-21 20:47] suddjian commented on #10686
Closing this in favor of #14056

[2021-04-21 20:47] #10686 closed

[2021-04-21 20:48] willbarrett commented on #11735
Closing as requested additional information has not been provided.

[2021-04-21 20:48] #11735 closed

[2021-04-21 20:49] #11916 closed

[2021-04-21 20:49] zuzana-vej commented on #13912
merged this request into this list: https://github.com/apache/superset/issues/13954

[2021-04-21 20:49] #13912 closed

[2021-04-21 20:50] suddjian commented on #13814
Closing this, feel free to reopen if the issue persists under the new reporting feature.

[2021-04-21 20:50] #13814 closed

[2021-04-21 20:51] zuzana-vej commented on #13856
Related to https://github.com/apache/superset/issues/13954

[2021-04-21 20:52] betodealmeida commented on #7565
For org-based sheets:

1. Create a service account.
2. Enable domain-wide delegation on the account.
3. Download the key as JSON.
4. Add "client name" to "Manage OAuth clients", with the scope “https://spreadsheets.google.com/feeds”.
5. In the DB configuration add the JSON payload to a key called `service_account_info` under `engine_params`.
6. Alternatively, add a key called `service_account_file

[2021-04-21 20:52] #7565 closed

[2021-04-21 20:52] #13667 closed

[2021-04-21 20:54] etr2460 commented on #10559
You should be able to customize the locale of the number format by overriding the config in the NumberFormatterRegistry: https://github.com/apache-superset/superset-ui/blob/cdd6990092248b184c9c625d9caa66c3b79df8c3/packages/superset-ui-core/src/number-format/NumberFormatterRegistry.ts#L55

There's more details on customizing the number formatter here: https://github.com/apache-superset/superset-ui/

[2021-04-21 20:54] #10559 closed

[2021-04-21 20:54] john-bodley commented on #10093
@tooptoop4 did you explore the suggestion from @mistercrunch? Note I believe the updated link to the relevant block in the configuration file is [here](https://github.com/apache/superset/blob/df04c3af212a18c00a0bc97f8500317551016ce9/superset/config.py#L908-L923).

Additionally [this](https://github.com/dropbox/PyHive/issues/311#issuecomment-586828649) example illustrates how you could augment the

[2021-04-21 20:54] willbarrett commented on #11710
@krishna9626 please disable dry run and try again.

[2021-04-21 20:54] #11710 closed

[2021-04-21 20:55] suddjian commented on #14189
Could you provide some information on the use case for exporting a filter box to a CSV? There is a new Native Filters feature that will not use the filter box, and currently exporting a Native Filter to a CSV is not possible.

[2021-04-21 20:55] zuzana-vej commented on #13234
Overall Email Alerting feature enhancements here: https://github.com/apache/superset/issues/13856

@KentonParton  are you still planning to tackle this / otherwise please feel free to close the ticket.

[2021-04-21 20:56] willbarrett commented on #11641
Please fill out the bug template so that we have enough information to help you resolve your issue.

[2021-04-21 20:56] betodealmeida commented on #14259
@boomballa Superset is supported only in Python 3.7 and 3.8. Can you try again with a supported version and reopen if it doesn't work? Thanks!

[2021-04-21 20:56] #14259 closed

[2021-04-21 20:56] zuzana-vej commented on #12809
@VMois are you still facing this issue? The alerting functionality has been successfully used recently so likely this bug is addressed. If you are still facing the issue please reopen.

[2021-04-21 20:56] #12809 closed

[2021-04-21 20:57] suddjian commented on #9855
There have been many changes since this was opened, closing. Feel free to reopen if it's still a problem.

[2021-04-21 20:57] #9855 closed

[2021-04-21 20:58] betodealmeida commented on #14246
@Retrospector we have in our roadmap to improve the dataset experience, and the first thing is to allow people to name their datasets, instead of using the table name.

[2021-04-21 21:02] rusackas commented on #9281
Due to a numbering snafu, there was[ another SIP that was numbered SIP-53](https://github.com/apache/superset/issues/10894). While this issue is older, and really had the right to that number, the other one has already been voted through, so it should not be renumbered. I'll move this one to the next available SIP number, which is SIP-63. Sorry for the extra layer of awkwardness.

[2021-04-21 21:04] suddjian commented on #12324
New filter features are being implemented under Native Filters rather than filter box

[2021-04-21 21:04] #12324 closed

[2021-04-21 21:05] suddjian commented on #12843
Closing this, feel free to reopen with more details if there is still an unsupported use case.

[2021-04-21 21:05] #12843 closed

[2021-04-21 21:06] etr2460 commented on #10546
Hi @wzJudy. There's been a lot of work around email reports recently. Could you pull the most recent version of superset and verify that this bug still exists? Thanks!

[2021-04-21 21:06] #11488 closed

[2021-04-21 21:07] etr2460 commented on #10543
@graceguo-supercat could you reply to Junlin here? Thanks!

[2021-04-21 21:07] junlincc commented on #14119
@jafournier thanks for reporting! we currently don't have a good plan to support different drivers in all product aspects. If you have a solution already, we will make sure the PR is reviewed and merged.

[2021-04-21 21:07] #14119 closed

[2021-04-21 21:08] zuzana-vej commented on #12222
Hi @Bhavik-Ardeshna  are you still facing this issue / have this question? have you tried the Superset 1.0 release? Closing for now but please reopen if you face the issue on the latest Superset release as well.

[2021-04-21 21:08] #12222 closed

[2021-04-21 21:09] suddjian commented on #12735
This behavior is supported with cascading native filters.

[2021-04-21 21:09] #12735 closed

[2021-04-21 21:11] #12094 closed

[2021-04-21 21:11] robdiciuccio commented on #11322
Is this still an issue?

[2021-04-21 21:11] suddjian commented on #13913
There are lots of cool new feature flags, but none to my knowledge that enable new charts. See https://github.com/apache/superset/blob/master/RESOURCES/FEATURE_FLAGS.md

[2021-04-21 21:11] #13913 closed

[2021-04-21 21:12] rusackas commented on #9194
This has been approved/voted. Hooray! Closing :)

[2021-04-21 21:12] #9194 closed

[2021-04-21 21:13] #9187 closed

[2021-04-21 21:13] #12256 closed

[2021-04-21 21:13] #8655 closed

[2021-04-21 21:14] rusackas commented on #8655
Voted through, so closing! Thanks!

[2021-04-21 21:15] suddjian commented on #13043
Closing as there does not appear to be enough information to address this.

[2021-04-21 21:15] #13043 closed

[2021-04-21 21:15] zuzana-vej commented on #12270
Closing this in favor of this request: https://github.com/apache/superset/issues/13954 feel free to continue discussion there / tackle this specific feature request.

[2021-04-21 21:15] #12270 closed

[2021-04-21 21:15] #13580 closed

[2021-04-21 21:18] robdiciuccio commented on #11612
I'm unable to reproduce this issue. From the comment above, it seems this may have been resolved by pulling recent images and removing or running with `--remove-orphans`

[2021-04-21 21:18] #11612 closed

[2021-04-21 21:20] #13341 closed

[2021-04-21 21:21] #11796 closed

[2021-04-21 21:21] rusackas commented on #8574
Approved!

[2021-04-21 21:21] #8574 closed

[2021-04-21 21:21] zuzana-vej commented on #13177
The PDF is covered under this feature request https://github.com/apache/superset/issues/13954 (closing this, progress will be tracked under the consolidated GH#)

[2021-04-21 21:21] #13177 closed

[2021-04-21 21:21] nytai commented on #11873
These menu items are wrapped in babel gettext statements, https://github.com/apache/superset/blob/df04c3af212a18c00a0bc97f8500317551016ce9/superset/app.py#L254

Translations are a community effort and we welcome PRs to add more translations but we are not actively maintaining translations as we make changes to the app.

[2021-04-21 21:21] #11873 closed

[2021-04-21 21:22] john-bodley commented on #13792
Related to https://github.com/apache/superset/issues/9998.

[2021-04-21 21:22] suddjian commented on #11705
Closing this in favor of #13398 as it has a more detailed description. This feature is in the roadmap.

[2021-04-21 21:22] #11705 closed

[2021-04-21 21:22] zuzana-vej commented on #13172
This has been inactive for 2+months, if it is a question please open under Discussion, if a bug please reopen.

[2021-04-21 21:22] #13172 closed

[2021-04-21 21:23] john-bodley commented on #9998
@bkyryliuk closing in favor of https://github.com/apache/superset/issues/13792.

[2021-04-21 21:23] #9998 closed

[2021-04-21 21:26] #12952 closed

[2021-04-21 21:26] #13045 closed

[2021-04-21 21:26] robdiciuccio commented on #12058
@thammanenitcs The worker process is likely running out of memory if you're attempting to export 13M rows. Suggest you increase available memory or export data in chunks.

See also the `SUPERSET_WEBSERVER_TIMEOUT` config option.

[2021-04-21 21:26] #12058 closed

[2021-04-21 21:28] rusackas commented on #8452
This is covered by the Dashboard Native Filters feature released with 1.0, which can be enabled by feature flag. Please let me know if I'm misunderstanding any intent. If so, we can re-open, update some context here, and take it to a VOTE if needed. Thank you!

[2021-04-21 21:29] suddjian commented on #13925
Filter box is deprecated in favor of native filters, so this will likely not be fixed.

[2021-04-21 21:29] #13925 closed

[2021-04-21 21:29] john-bodley commented on #9990
@suddjian or @nytai should we update the SQL Lab shortcuts so they don't conflict with frequently used keyboards shortcuts?

[2021-04-21 21:30] robdiciuccio commented on #12052
@lanyusea can you elaborate on the MySQL retry logic you mentioned?

I see that you increased the `SUPERSET_WEBSERVER_TIMEOUT` value in `superset_config.py`. How are you running Superset? Gunicorn? Do you have nginx or another web server proxying requests to the app? These each have their own timeout settings as well.

[2021-04-21 21:30] suddjian commented on #13903
fixed

[2021-04-21 21:30] #13903 closed

[2021-04-21 21:31] john-bodley commented on #9976
Closing this as it seems we're unable to reproduce. @rvabhijith please re-open if this is still an issue.

[2021-04-21 21:31] #9976 closed

[2021-04-21 21:31] #12152 closed

[2021-04-21 21:32] #13900 closed

[2021-04-21 21:32] nytai commented on #11846
@DrissiReda I don't think the symlinking works for prod builds. Do you get the same error for `npm run build-dev`? You should also see an output `[Superset Plugin] Use symlink source for ${pkg} @ ${version}` when building, which confirms that the link has worked.

[2021-04-21 21:33] #13898 closed

[2021-04-21 21:33] etr2460 commented on #10484
@bkyryliuk i see you assigned this to yourself. Were you going to fix this?

[2021-04-21 21:33] rusackas commented on #8318
@craig-rueda it looks like this needs to be put through the official DISCUSS -> VOTE process so it can be closed, if you don't mind following up here. Good news is, it looks like it has good support!

[2021-04-21 21:37] nytai commented on #9990
@john-bodley My instinct would be yes, as it can be quite annoying. @betodealmeida @eschutho any thoughts here?

[2021-04-21 21:38] zuzana-vej commented on #13023
@iercan  can you confirm if this bug still exists / close the issue if it's resolved? thanks

[2021-04-21 21:38] #13699 closed

[2021-04-21 21:38] rusackas commented on #7510
@mistercrunch did you want to put this up for a VOTE?

[2021-04-21 21:39] zuzana-vej commented on #13124
@jawabuu  can you please confirm if this issue is still existing / close this GH# if it's resolved? Thanks

[2021-04-21 21:39] rusackas commented on #7259
@dpgaspar Should this SIP go up for a `VOTE`?

[2021-04-21 21:39] nytai commented on #11832
@ktmud any thoughts on a way we could solve this issue? My instinct would be to add a tooltip for text that's truncated, as that preserves the layout but I'm unsure of how feasible that would be.

[2021-04-21 21:40] robdiciuccio commented on #12220
I believe a custom security manager needs to be implemented via `CUSTOM_SECURITY_MANAGER` for the desired functionality. cc @dpgaspar

[2021-04-21 21:40] #12220 closed

[2021-04-21 21:40] zuzana-vej commented on #12942
Looks like a discussion/question opened 2+ months; If this question is still pending please reopen under the "Discussions"

[2021-04-21 21:40] #12942 closed

[2021-04-21 21:41] etr2460 commented on #10185
This looks like a duplicate of #10428 so closing

[2021-04-21 21:41] #10185 closed

[2021-04-21 21:41] rusackas commented on #6929
This is already being tackled with Emotion, and theming projects for AntD/ECharts/etc. Closing this since it's already WIP.

[2021-04-21 21:41] #6929 closed

[2021-04-21 21:41] zuzana-vej commented on #12929
Please reopen in case you are still seeing the issue - as a bug, or if this is a question please use the "Discussions" section.

[2021-04-21 21:41] #12929 closed

[2021-04-21 21:42] #12304 closed

[2021-04-21 21:42] suddjian commented on #13594
Closing this as I don't believe it's an issue on the latest version of Superset. Feel free to reopen if this is incorrect.

[2021-04-21 21:42] #13594 closed

[2021-04-21 21:44] rusackas commented on #6814
I don't see a `DISCUSS` thread for this, but I do see an un-voted `VOTE` thread for it [here](https://lists.apache.org/thread.html/010b560e2d284b6a3bc860842d375dded8182ddd296349a21746ebd8%40%3Cdev.superset.apache.org%3E). Updating its status accordingly

[2021-04-21 21:44] etr2460 commented on #10428
I think https://github.com/apache/superset/pull/5449 is related to this, will tag @john-bodley as an owner here to provide more context

[2021-04-21 21:45] suddjian commented on #13631
Closing this as part of issue cleanup.

[2021-04-21 21:45] #13631 closed

[2021-04-21 21:46] nytai commented on #11829
Closing at this appears fixed (using the repro steps mentioned above) in the latest version (master)

[2021-04-21 21:46] #11829 closed

[2021-04-21 21:46] john-bodley commented on #9947
I agree this needs to be cleaned up. The various limits (especially in SQL Lab) seem overly complex and it's not apparent to the user when which limits apply. Furthermore it's not clear to the user whether the rendered result set is further truncated (beyond the injected limit in the executed SQL) and/or how these limits apply when either exploring or downloading the dataset.

Granted improved doc

[2021-04-21 21:46] zuzana-vej commented on #10953
This has linked closed PRs, looks like majority of the request has been addressed. If any part of your request is still pending please reopen/open a new request with the trimmed description.

[2021-04-21 21:46] #10953 closed

[2021-04-21 21:48] nytai commented on #9947
@betodealmeida or @eschutho would know better as their team recently did some work in this area

[2021-04-21 21:48] rosemarie-chiu opened #14286 "[Homepage][Listview]"
## Screenshot

[drag & drop image(s) here!]

## Description

[describe the issue here!]

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label `design:review`. If this includes a design proposal,
include the label `design:suggest`]

[2021-04-21 21:48] zuzana-vej commented on #12963
PR was merged to address this (please reopen if that's not the case)

[2021-04-21 21:48] #12963 closed

[2021-04-21 21:48] rusackas commented on #6132
@kristw I'm closing this due to age, but please do reopen the issue if you intend to put it up for a `DISCUSS` or `VOTE` thread. Thank you!

[2021-04-21 21:48] zuzana-vej commented on #10945
addressed within https://github.com/apache/superset/issues/12963

[2021-04-21 21:48] #10945 closed

[2021-04-21 21:49] rusackas commented on #6131
I'm going to go ahead and close this due to age, but @john-bodley please feel free to re-open and kick start the `DISCUSS` and `VOTE` threads if you want to rekindle it.

[2021-04-21 21:49] #6131 closed

[2021-04-21 21:49] amitmiran137 commented on #14266
Could you take a screen recording for the entire flow?
It would be easier then asking a bunch of questions

[2021-04-21 21:50] nytai commented on #11826
@squalou based on your comments it seems this is resolved? Can you please reopen if it's not the case

[2021-04-21 21:50] #11826 closed

[2021-04-21 21:52] suddjian commented on #14012
@srinify was this fixed? If so can we close this issue?

[2021-04-21 21:55] suddjian commented on #11081
This is pretty old with no discussion, so closing this as part of issue cleanup. If it's still a problem feel free to reopen.

[2021-04-21 21:55] #11081 closed

[2021-04-21 21:58] jawabuu commented on #13124
@zuzana-vej The issue still exists. The PR to close this has not been merged.

[2021-04-21 21:59] suddjian commented on #10792
Cannot repro, closing

[2021-04-21 21:59] #10792 closed

[2021-04-21 22:03] suddjian commented on #10779
This appears to be fixed in the latest version.

[2021-04-21 22:03] #10779 closed

[2021-04-21 22:04] nytai commented on #11823
bump @rusackas any update on this?

[2021-04-21 22:09] rusackas commented on #6814
Closing for now... @betodealmeida please feel free to reopen this if you want to rekindle it.

[2021-04-21 22:09] #6814 closed

[2021-04-21 22:18] rusackas commented on #7571
I'm closing this for a few reasons:
• Some of it (import/export, UUIDs) has already been tackled.
• It's been open for a long time, without being brought to a `DISCUSS` thread
• It's pretty broad in scope, and may need to be broken down into smaller pieces if we want to carry it through.

@rjurney if you'd like to reopen this, update a little of the context, and perhaps break down the into smaller

[2021-04-21 22:18] #7571 closed

[2021-04-21 23:14] pabrahamusa commented on #11832
@nytai I finally fixed this issue my adding new CSS  inline style for rows in FilterableTableStyles.less . However it would be nice to control it somehow via superset config variable so that anyone wants data to appear in multiple rows they can enable it.

[2021-04-21 23:20] #13532 closed

[2021-04-21 23:36] guang commented on #10586
@etr2460 where are you seeing the fix? i just upgraded to 1.1.0 and still see the same bug (the image im using is here https://hub.docker.com/r/amancevice/superset/)

[2021-04-21 23:41] zuzana-vej commented on #12436
Most of the feature described in this GH# was addressed; there is one more case (I don't want to unnecessarily open a new GH# for it) which is about displaying a warning when user clicks "Download CSV" if there is a limit applied - oftentimes people click on download CSV with the default limit of 1000 and then have to rerun the query again. (let me know if new GH# should be opened specifically for

[2021-04-22 00:08] benjreinhart opened #14289 "Async queries sometimes fail when retrieving cached query results"
This bug effects both the polling and WebSocket implementations of the async queries experience introduced in SIP-39.

### Expected results

When clients are notified of query completion (either by polling or WS message), they should be able to retrieve the results of that query using the `result_url` value the server gave them. The server should respond with a 200 and the cached query results. Th

[2021-04-22 00:32] KrupaVadher commented on #14185
Thank you, @lilykuang , for your comments and clarification. This surely isn't a bug :D

[2021-04-22 00:34] ktmud commented on #14061
One bug report from our users:

<img width="1611" alt="Xnip2021-04-21_17-33-50" src="https://user-images.githubusercontent.com/335541/115638723-c60f1180-a2c7-11eb-8f5b-6af0a9b81dd1.png">

Per-column custom formatting is not applied to totals.

[2021-04-22 00:42] #6996 closed

[2021-04-22 01:28] KrupaVadher opened #14292 "Sorting Charts/Dashboards makes the applied filters ineffective"
Charts/Dashboard's card view: After applying any filter (e.x Favorite=Yes); if we select any sorting option from the sort dropdown menu, the filtered list get reset and the entire list is shown.

### Expected results

If any filter is applied to the list, then sorting that list should retain the applied filters.

### Actual results

The applied filter to the list gets reset to its original state a

[2021-04-22 02:50] ljclour commented on #14263
Thanks!It does work when i choose another connection, like `ibm_db_sa`. @cabo40

[2021-04-22 03:32] codenamelxl opened #14294 "[SQL Lab] Backtick in SQL preview query making it fail when user only have schema access"
When user is only granted schema access, preview query is generated in from of `SCHEMA_NAME`.TABLE_NAME which failed the query.

### Expected results

Preview query success when user only have schema access.

### Actual results

Preview query failed

#### Screenshots

![image](https://user-images.githubusercontent.com/9434559/115651513-e4275100-a35d-11eb-8557-a530c86d871b.png)

#### How to reprodu

[2021-04-22 03:38] codenamelxl commented on #14294
This can be fixed by either:
- Changing the sql_parse to strip backtick.
- Changing the frontend to make the query without backtick.

[2021-04-22 03:50] villebro commented on #14263
@ljclour I opened a PR #14295 to add support for both `db2` and `ibm_db_sa` engine names, let me know if this works for you.

[2021-04-22 03:52] code-snail opened #14296 "[dashboard] anonymous users be not able to view dashboards."
anonymous users be not able to view dashboards.

### Expected results

anonymous users be able to view dashboards.

### Actual results

anonymous users be not able to view dashboards

#### Screenshots

![image](https://user-images.githubusercontent.com/65579137/115652923-c90a1080-a360-11eb-8023-f321e74df458.png)

#### How to reproduce the bug

1. login with admin user and create dashboard
2. logou

[2021-04-22 03:55] villebro commented on #14292
Thanks for reporting @KrupaVadher ! I can confirm the bug.

[2021-04-22 04:19] villebro commented on #7259
I believe this can be closed as it's effectively implemented.

[2021-04-22 04:24] villebro commented on #11043
I assume this has resolved itself as we've bumped both Node and npm since this ticket was opened - @codepic please open a new ticket if this is still a problem.

[2021-04-22 04:24] #11043 closed

[2021-04-22 06:10] ValentinC-BR commented on #14021
Hi,
I'm actually an end user (data analyst), and I don't feel like I'll be able to make a "good" PR for this. I'd rather let others make it for now.
Thanks for proposing.

[2021-04-22 06:14] iercan commented on #13023
I couldn't reproduce with version 1.1. Thanks

[2021-04-22 06:14] #13023 closed

[2021-04-22 06:45] rusackas commented on #12724
I just wanted to chime in and say that I love this idea, and it's something that my team is _starting_ to more seriously investigate. @wernerdaehn would you be interested in joining discussions (synchronously or otherwise) around this and being a part of implementing the solution? If not, I think we may need more clarification on how the approaches to implementation and any risks/dependencies invo

[2021-04-22 06:56] #14263 closed

[2021-04-22 06:56] dpgaspar commented on #7259
Yes, this is implemented

[2021-04-22 06:56] #7259 closed

[2021-04-22 07:19] Ayushsunny commented on #14247
Hello @MatanBobi I would like to work in issue

[2021-04-22 07:23] wernerdaehn commented on #12724
@rusackas By all means, Evan! More than happy to contribute.

As a preliminary start, here is my thinking:

According to explanatory statistics there are four types of scales, ordered by capabilities:
- Nominal: Only useful calculation is around counting. Example: Color.
- Ordinal: has in addition an order. Example: User satisfaction 1-10. It is clear that 1 is better than 2 but a difference betwe

[2021-04-22 07:27] MatanBobi commented on #14247
Hi @Ayushsunny, I'm not managing this repo, I think @rusackas is the one to ask :)

[2021-04-22 07:43] boomballa commented on #14259
@betodealmeida  Thanks for your reply, are you sure Superset is supported only in Python 3.7 and 3.8? Now I have passed the load_examples step by other means. I first downloaded the resources to the local, and then started an http service with python, changed the BASE_URL in helpers.py to my http service, and it can be executed normally.

[2021-04-22 08:33] fancyfreeman commented on #13954
The new features are very exciting.
I have a suggestion that in alter and reporting, different dashboard contents should be sent according to the permissions and roles of subscribers. In my application scenario, users view different content according to RLS filter.

[2021-04-22 09:06] Retrospector commented on #14246
Hey @junlincc and @betodealmeida !
I appreciate your feedback.
I'll keep a close eye on the roadmap then :)

Thank you for your work on Superset!

[2021-04-22 09:43] dpgaspar commented on #14296
@code-snail I was able to reproduce the issue

[2021-04-22 09:44] kanadaj commented on #10091
@john-bodley I've no idea, the issue was around for long enough that ultimately we've switched to using Metabase for querying ClickHouse for an online interface

[2021-04-22 09:46] dpgaspar commented on #14294
duplicate for #14233

[2021-04-22 09:54] lanyusea commented on #12052
@robdiciuccio by gunicorn, I managed to increase the timeout in gunicorn thread setting, and it works.

but it still cannot handle a long connection when the query costs more than 20 minutes. currently I bypass this issue by speeding up the query.

[2021-04-22 09:54] #12052 closed

[2021-04-22 10:25] skhortiuk commented on #14050
No, the intention is to import datasets for database without creation of "examples" database, e.g:
I have one database "my db" and I want to import datasets for it, during the import, superset creates "examples" db by default, even if tehre's no datasets for it.

[2021-04-22 10:42] codenamelxl commented on #10940
This issue is because you use SparkSQL instead of HiveServer. Which give
Check out: https://github.com/dropbox/PyHive/issues/150
There is a PR to add a SparkSQL Dialect to fix this issue: https://github.com/dropbox/PyHive/pull/247

[2021-04-22 10:47] krsnik93 commented on #14209
@junlincc should this PR be merged first: https://github.com/apache-superset/superset-ui/pull/1056 ?

[2021-04-22 10:55] kopernic-pl commented on #12895
@nytai I've actually supressed runnig main servier HCs on non-main containers in composes - for starters, in my opinion at least partially closes this issue. Pls take a look.

[2021-04-22 11:18] codenamelxl opened #14301 "[connector:hive] extra_table_metadata fail for Hive partitioned table"
Endpoint **/superset/extra_table_metadata** will fail with 500  when using with **partitioned tables** for **Hive**.
User will receive an error message like screenshot in SQL Lab.

Callstack point to error:
AttributeError: 'DataFrame' object has no attribute 'ix'

### Expected results

No error should popup

### Actual results

500 on the endpoint with partitioned Hive table.

#### Screenshots

![

[2021-04-22 11:59] squalou commented on #14058
Great !

Indeed, I did that and asked everyone to switch back to 'en', then removed the config again.

[2021-04-22 13:31] pr0base commented on #14206
@dpgaspar thanks for your followup.
The error does not happing with the custom implementation as far as I can tell. I added with my little python knowledge a try/except block as

`from superset.security import SupersetSecurityManager

class CustomSsoSecurityManager(SupersetSecurityManager):

    def oauth_user_info(self, provider, response=None):
        try:
            logging.debug("Oauth2 prov

[2021-04-22 13:49] villebro commented on #13943
I think there are two solutions to this. One is to collect "used" filters as proposed here, much like how `cache_key_wrapper` does. If we decide to do that I'd almost recommend adding it as an optional argument to the `filter_values` hook, something like `filter_values('full_name', remove_filter=True)`, after which the filter is removed from the filter list.

Another approach would be to make it p

[2021-04-22 16:15] bkyryliuk commented on #10484
I was planning to - but did not get a chance. Currently our team cannot spend time on superset :(

[2021-04-22 16:24] andrewscarani commented on #14101
I found that the issue was being caused on my end when one of the columns grouped-by had a NULL value. I think the Treemap visualization should be fixed to support NULL values.

[2021-04-22 17:02] ddxdental opened #14303 "Dashboards Will Not Load with GLOBAL_ASYNC_QUERIES"
Fresh install of superset 1.0.1. Dashboards will not open. I have GLOBAL_ASYNC_QUERIES enabled, but the client side poll never resolved.  This is similar to issue #14138, but that issue is when global_async is off

### Expected results

Dashboard opens ;)

### Actual results

Attempting to open a dashboard leaves you stuck on the loader. The async poll process runs indefinately.  There is no error

[2021-04-22 17:12] high101bro commented on #7398
Any resolution on this?

[2021-04-22 18:08] mistercrunch commented on #14061
For "show total" to be summing numeric fields regardless of whether the column is logically additive is totally ok. I believe that's what pivot tables do and what people expect.

`NULL != 0`!

[2021-04-22 19:20] betodealmeida commented on #14061
@junlincc we could always ask the user if the metric is additive:

1. If the user adds a metric explicitly to the dataset we can have a checkbox asking if the metric is additive.
2. For metrics defined on-the-fly with the "SIMPLE" tab we know if they're additive (`COUNT`, `SUM`) or not (`COUNT DISTINCT`, `AVG`, `MIN`, `MAX`).
3. For metrics defined on-the-fly under "CUSTOM SQL" we can have a check

[2021-04-22 23:06] mayurnewase commented on #13938
So should we add,is_recursive check in `ParsedQuery`,and use it which checking `is_read_only_query` or add PR to `sqlparse` at `https://github.com/andialbrecht/sqlparse/blob/23d29933ddc4272b495d36e0e32d3eaf0c3ef76d/sqlparse/sql.py#L425` to check recursive queries correctly?

[2021-04-22 23:24] mayurnewase commented on #13938
@betodealmeida
Also on an unrelated note check for `is_select` only checks for first query,but other queries can mutate data is it expected?

[2021-04-23 00:03] graceguo-supercat opened #14307 "[native filter] Enable empty filter broke charts in the dashboard"
#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Enable native filter feature flag, and create new dashboard
2. add a new chart, for example, "Names count" chart from birth_names dataset
3. add native filter in the dashboard. Check **Enable empty filter** and click Apply button.
4. Chart shows No Results. If you open chart in explore

[2021-04-23 04:01] graceguo-supercat opened #14308 "filter type are listed as viz type"
open chart list view and check **viz type** dropdown list:

Select filter, Time column, Time filter etc, are filter type not viz type.

#### Screenshots

<img width="1088" alt="Screen Shot 2021-04-22 at 8 59 02 PM" src="https://user-images.githubusercontent.com/27990562/115816497-cb468c00-a3ad-11eb-86b3-353a23d0079e.png">

### Environment

latest master

### Checklist

Make sure to follow these st

[2021-04-23 04:22] devarchi33 commented on #13162
We are also using charset=utf-8 at connection string, It works! 😁
![스크린샷 2021-04-23 오후 12 21 21](https://user-images.githubusercontent.com/7742818/115818069-8b73b900-a42e-11eb-9324-16dfa7cb3a29.png)

[2021-04-23 05:07] graceguo-supercat commented on #10543
Dashboard header controls are refactored. This is not an issue anymore.

[2021-04-23 05:07] #10543 closed

[2021-04-23 05:09] graceguo-supercat commented on #11738
Right now welcome page has different sections,  **Recent** section is loading very, very long time, but other sections show up pretty quick.

<img width="1079" alt="Screen Shot 2021-04-22 at 10 08 42 PM" src="https://user-images.githubusercontent.com/27990562/115821242-4eb8ab00-a3b7-11eb-9c14-d8638400d566.png">

[2021-04-23 05:40] villebro commented on #14308
thanks for reporting this @graceguo-supercat !

[2021-04-23 06:37] etr2460 commented on #14112
Does the `query key` you discuss here differ from the chart `cache_key`? Can we reuse the cache key logic here?

[2021-04-23 07:20] #14004 closed

[2021-04-23 09:47] SyamprasadNakka opened #14310 "Supported PostgreSQL Version"
Hello,

We are running **"apache-superset:0.36"** version and it's connected to _**PostgreSQL-11**_ server.
We would like to upgrade the Postgres database to **_PostgreSQL -13_** version and want to know whether it's supported version or not for superset.

Can you please suggest the inputs or provide if there is any version matrix document.

Regards,
Syam

[2021-04-23 09:58] #14310 closed

[2021-04-23 10:00] Akitha commented on #12679
Hii @junlincc  is this issue sorted now

Thanks

[2021-04-23 10:02] villebro commented on #14307
This is on purpose: the "enable empty filter" is supposed to issue a WHERE clause that is always false if no selection is made. This feature has been requested by the community to minimize load on databases where issuing unfiltered queries causes performance issues.

[2021-04-23 10:05] villebro commented on #12679
Not yet. However, this should be simple to fix, so community PRs to address this are warmly appreciated!

[2021-04-23 10:52] dpgaspar commented on #14239
@CaptainHoangLe this depends on your specific implementation, is the authentication still being made with a cookie?

[2021-04-23 11:55] pr0base commented on #14206
token request is now working. the click is working on the login page when i first click on my custom icon and then select sign in
![image](https://user-images.githubusercontent.com/33983292/115867323-3f7b4100-a43b-11eb-9e8c-7f300045873d.png)

No I receive the following error
`{"errors": [{"message": "argument of type 'NoneType' is not iterable", "error_type": "GENERIC_BACKEND_ERROR", "level": "err

[2021-04-23 12:45] pr0base commented on #14206
Ok, now working. Sorry but my Python knowledge was to limited to understand the dependencies in play.

I changed my custom auth handler as
[code]
Changes that mattered
* The userinfo endpoint needs to be set here. I am not are how to access the base_url setup in superset_config.py
* Reviewed the repsonse object documentation and found there is no data attribute. text and json() work nicely

For th

[2021-04-23 12:45] #14206 closed

[2021-04-23 12:45] yograjpshinde commented on #10136
I have installed superset on the Linux VM using docker. As per the steps in Superset docs i could only installed the MySQL client but failing for others. I tried for Snowflake and Dremio by adding sqlalchemy-dremio and snowflake-sqlalchemy in the file /docker/requirements-local.txt.

Please find below the errors i am getting. Please help with the solution.

superset_worker         | WARNING: Retry

[2021-04-23 13:30] srinify commented on #12808
Closing! It looks like this has since been updated!

![image](https://user-images.githubusercontent.com/801507/115878419-86a30b00-a416-11eb-9a2a-ef36c04f3bb9.png)

[2021-04-23 13:30] #12808 closed

[2021-04-23 14:56] yograjpshinde opened #14315 "Unable to install Database drivers except MySQL"
I followed the steps given at https://superset.apache.org/docs/installation/installing-superset-using-docker-compose to install Superset in Redhat Linux VM using docker. Superset is up and running and I could installed MySQL driver and could connect to database also by following the steps at https://superset.apache.org/docs/databases/dockeradddrivers.
When i followed the same steps given for mysql

[2021-04-23 15:20] JoaoVasques commented on #10711
Same

[2021-04-23 16:29] eschutho commented on #9990
@yousoph has done some investigation into this and we've made some small changes, but yes, they shouldn't conflict.

[2021-04-23 16:34] WeirdAnalyst opened #14316 "Time-series bar chart -- series order"
Hello,
When using time-series bar charts with sort option for series enabled, series bar bar charts are4 not drawn in order.

### Expected results

Draw series bar charts in the order the series are sorted.

### Actual results

Series are drawn in a random order.

#### Screenshots

![image](https://user-images.githubusercontent.com/83085223/115902279-921c2380-a462-11eb-811f-7439188d1de9.png)

####

[2021-04-23 16:37] rsilveira7 commented on #5530
+1

[2021-04-23 16:43] #13599 closed

[2021-04-23 17:02] eschutho commented on #9947
cc @yousoph. Yes, we're making some improvements on the user side when they view their results to understand why it was limited, but agree that better documentation on the admin side or simplifying/condensing some of the values could help as well. We should have something up next week for more user messaging.

[2021-04-23 17:21] graceguo-supercat commented on #14307
Hi @villebro Thank you for the reply. So this option should match with old filter_box `Required` option.

1. `enable empty filter` is very misleading message. It should just say `Required filed` as before.
2. When user click APPLY button but did not fill a required filter, right now it just shows **No Results**, user has no idea about some filter is wrong, or actually no results.  Could we highlig

[2021-04-23 17:22] felipefiorini commented on #5530
+1

[2021-04-23 17:37] ddxdental commented on #14138
Updated to 1.1.0   This resolved the issue

[2021-04-23 17:37] #14138 closed

[2021-04-23 17:37] ddxdental commented on #14303
Updated to 1.1.0   This resolved the issue

[2021-04-23 17:37] #14303 closed

[2021-04-23 18:23] villebro commented on #14307
I believe the "Enable empty filter" and "Required" options try to address the same thing. The main difference I believe is as follows:
- When a dashboard with a required field is loaded, it initially loads with no filters applied. In the following example I have a filter box where the user_id field is set to Required, but the dashboard loads up with no filters applied:
![image](https://user-images

[2021-04-23 18:33] graceguo-supercat commented on #14307
**consolidate it somehow with the "Enable empty filter" option** will be the best option.
- Please let me know know how to match old filter_config `clearable` to the new filter component attribute.
- I still prefer a actionable message in the filter field itself, when user must fill in some value for the filter. Most of our dashboard users are not dashboard builder (who knows some fields have extr

[2021-04-23 20:07] benjreinhart commented on #14112
@etr2460 I agree that consistency here is desired. I think we wanted to leave the existing cache _values_ as they are, but as for the logic that generates the cache _key_, the idea is for it to be the same hashing logic, but with a different key prefix.

Does that make sense, or are you thinking something different?

[2021-04-24 01:18] #10091 closed

[2021-04-24 06:17] #13879 closed

[2021-04-24 06:48] eran-levy opened #14322 "Running docker-compose non dev environment fails to load superset_cache"
1. Cloned master github repo
2. Run local docker-compose: docker-compose -f docker-compose-non-dev.yml up
3. superset_cache redis container fails to start and infinitely restarted:
`
superset_cache          | 1:M 24 Apr 06:39:10.453 # WARNING: The TCP backlog setting of 511 cannot be enforced because /proc/sys/net/core/somaxconn is set to the lower value of 128.
superset_cache          | 1:M 24 Ap

[2021-04-24 10:29] cyanoboy opened #14324 "Gamma user can see all datasets in the dropdown menu of the creation chart page"
A user with the following roles:

- `Gamma`
- `Custom` with `schema access on [database_name].[schema]`, `database access on [database_name].(id:2)`

is able to see all datasets listed in the dropdown "Choose a dataset" of the "Create a new chart" page, also datasets that belong to database that the user hasn't the permission to see.

### Expected results

- see all the datasets from `database_nam

[2021-04-24 12:11] WeirdAnalyst opened #14325 "failed pip3 install git+https://github.com/apache/superset.git --upgrade"
Installation of Apache superset from master through pip3 will fail

### Expected results

Success

### Actual results

Fail at submodule update step (git submodule update --init --recursive -q) due to latest change of .gitmodules file.

[l#### Screenshots

![image](https://user-images.githubusercontent.com/83085223/115958111-55096d00-a506-11eb-905c-c05b407f27fb.png)

#### How to reproduce the bug

[2021-04-24 13:47] amitmiran137 commented on #14308
Should we have a config saying use native filters as Viz type?
This can be useful when there is a need to use one of the the native filter as a chart next/above/below a other chart where visual proximity to the chart might be useful in specific use-cases

[2021-04-24 16:34] hyouinKyouma opened #14326 "failing to load the dashboard in dev environment"
A clear and concise description of what the bug is.

when in explorer view, interaction with the data is possible, moving it to dashboard throws error. I have attached the snapshot. This happens only in dev environment.

### Expected results

should be able to navigate to the dashboard.

#### Screenshots

![errorDashboard](https://user-images.githubusercontent.com/37413995/115965976-0c26d800-a549-

[2021-04-24 17:24] remoteeng00 opened #14328 "How to enable HTTPS in Superset when running locally"
In order to integrate Superset with my application properly, I need to enable HTTPS. During development I'm running it with `docker-compose`. I couldn't find any useful information on how to do that. I'd be very glad if you could help me. Thank you

[2021-04-24 18:57] vincentytran opened #14329 "no such table: report_schedule"
I followed the instructions on https://superset.apache.org/docs/installation/alerts-reports using the latest 1.1.0 version of superset. The superset worker says that it cannot find report_schedule table.

[SQL: SELECT report_schedule.created_on AS report_schedule_created_on, report_schedule.changed_on AS report_schedule_changed_on, report_schedule.id AS report_schedule_id, report_schedule.type AS

[2021-04-24 21:16] dusatvoj opened #14330 "Report Schedule sellenium user not found"
Can't send Report emails with error `Report Schedule sellenium user not found`.

### Expected results

Can send Report emails

### Actual results

Almost nothing in logs but `Report Schedule sellenium user not found` error in reports action log.

#### Screenshots

![image](https://user-images.githubusercontent.com/11560794/115973004-34670480-a552-11eb-99f0-8c889e5c1024.png)

#### How to reproduce

[2021-04-25 07:29] villebro commented on #12713
Closing, as this is already done

[2021-04-25 07:29] #12713 closed

[2021-04-25 07:30] villebro commented on #13754
Implemented in #14314

[2021-04-25 07:30] #13754 closed

[2021-04-25 07:32] villebro commented on #13428
Implemented in #14314

[2021-04-25 07:34] #13428 closed

[2021-04-25 08:05] Omnipos-lab commented on #14329
Looks like you've upgraded from previous version and didn't do db upgrade and init (?)

[2021-04-25 08:55] villebro opened #14333 "Table chart shows up as unset filter despite table not emitting filters"
Even when cross filtering flag is disabled, table charts that aren't set to emit filters are showing up on the filter indicator.
![image](https://user-images.githubusercontent.com/33317356/115987217-c572c580-a5bc-11eb-85fd-715b77829b60.png)

### Expected results
When the feature flags are disabled, neither native filters nor cross filters should show up on filter indicator.

### Actual results

Bo

[2021-04-25 11:27] JamesLee789 opened #14335 "An error occurred while creating databases: "Failed to fetch""
By editing the SQLALCHEMY URI* to "mysql://root:root@localhost:3306/test",I tried adding local mysql database to my superset but failed.

Here's the error.
**An error occurred while creating databases: "Failed to fetch"**

How can I fix this? Many thanks!

[2021-04-25 11:29] simcha90 commented on #12422
We can't load fields of dataset if there is no dataset selected, some other thoughts:
About 2. There is can be charts and filters from different datasets, why need limit to 1?

But may be it good to implement item 1., but how we can now what is main dataset of dahsboard?

![image](https://user-images.githubusercontent.com/56388545/115991754-90716d80-a5d2-11eb-93ed-f0505c74051c.png)

Like take here

[2021-04-25 12:05] abhishek-ch opened #14336 "Unable to disable Export to .csv format"
Unable to disable/block user from Exporting to `.csv`, after removing `can CSV on Superset` permission from a custom role

### Expected results

Export to .csv shouldn't work after removing the permission from the role.

### Actual results

User can export the CSV by clicking the button
![image](https://user-images.githubusercontent.com/7579608/115992339-7da86a00-a5cd-11eb-8999-1c66973640b4.png)

[2021-04-25 13:30] EvgenyKiselgof opened #14337 "Sybase driver"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Be able to connect to Sybase DB, like ASE and IQ

**Describe alternatives you've considered**
Support of FreeTDS with pyodbc

**Additional context**
I already saw few topics about this issue, but no one

[2021-04-25 16:25] vincentytran commented on #14329
I did all three of these commands against the 1.1.0 container

docker exec -it superset_superset_1 superset db upgrade
docker exec -it superset_superset_1 superset init
docker exec -it superset_superset_1 superset fab create-admin

There wasn't any errors that I could see. I attached the output to the console when I ran the commands, a few warnings but nothing report_schedule related that I can se

[2021-04-25 17:24] vincentytran commented on #14329
I was able to resolve the issue by adding one line to the superset_config.py file, my guess is even though the docker compose includes postgres, maybe the defaults don't use it. Perhaps alerts/reporting only works when you don't use the embedded database but work fine with postgres.

SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://superset:superset@superset_postgres_1/superset"

[2021-04-25 17:24] #14329 closed

[2021-04-25 19:05] ypankovych commented on #14043
any progress on this?

[2021-04-26 04:14] slim-patchy commented on #13930
I have just found out about PartiQL today: https://partiql.org/

It is a querying language for relational, semi-structured, and nested data. So it supports NoSQL databases as well. I will see if I could write a PartiQL connector for Superset to fulfil the requirements of this issue. But it does look like a viable candidate.

[2021-04-26 04:55] queppelin-dev opened #14341 "Need Dashboard to view as standard alone like chart."
Hi all,
 How can I show Dashboard as standard alone in an iframe without a Header?
For the Chart i use URL/superset/explore/?r=165&standalone=true.
![withheader](https://user-images.githubusercontent.com/56347200/116030567-72ab1380-a679-11eb-821b-2ef0fccc7391.png)
![without header](https://user-images.githubusercontent.com/56347200/116030571-7474d700-a679-11eb-9cbc-30ff9a08b9c6.png)

Please check

[2021-04-26 05:03] nytai commented on #14341
Does appending `?standalone=true` to the dashboard url not work?

[2021-04-26 05:04] #14341 closed

[2021-04-26 05:06] ivanku99 opened #14344 "Some of the columns in Pivot table rounded off automatically (like 6.7--7)"
I have a tabe.
All collums in the table is float4
when i use the pivot table
Some of the columns in Pivot table rounded off automatically (like 6.7--7)  version 1.0.1.
the parametr in the options is fixed (,d 123- 12б345)
![WhatsApp Image 2021-04-26 at 11 03 51](https://user-images.githubusercontent.com/82075724/116031299-34185780-a67f-11eb-94c5-9700ff59b62a.jpeg)
![WhatsApp Image 2021-04-26 at 11

[2021-04-26 05:53] queppelin-dev opened #14345 "How to show chart title name in iframe ?"
I need to show the chart title name in the iframe
<iframe
  width="600"
  height="400"
  seamless
  frameBorder="0"
  scrolling="no"
  src="url/superset/explore/?r=218&standalone=true&height=400"

</iframe>

[2021-04-26 06:35] #14322 closed

[2021-04-26 11:16] krsnik93 commented on #14209
added in https://github.com/apache-superset/superset-ui/pull/1070/commits/62be2086c05483a08932d2869021f597801145d8

All the other charts seem to use the entire time section, should we try to stay consistent?

Due to the way echarts overlaps multiple series:
![image](https://user-images.githubusercontent.com/13034472/116071566-f66afd00-a685-11eb-8665-e3daf78d65c7.png)
by not showing the full length

[2021-04-26 11:21] angel1369 commented on #14079
Hi @SAVE-POlNT ,
first, thank you for sharing your work simplified data.json.
when i call your map in php using amcharts 4 (map.js) i had a big square colored and one province "adrar" too small in the square?

how can i fixe it to show all province and fill the polygone with my color not square

[2021-04-26 13:35] michael-s-molina commented on #13632
@simcha90 The `__tests__` folder is also a valid option to organize your feature, as long as it's a test folder for each feature and not a global one. The majority of resources that I found use a different approach though, they add the tests alongside the code as my previous example, because it's really easy to spot test completion and also to avoid unnecessary nesting because a feature already is

[2021-04-26 14:40] srinify commented on #14337
Hi @EvgenyKiselgof do you know if there's an up-to-date SQLAlchemy + DB-API 2.0 driver for Sybase? I wrote up what's needed to add new database support in Superset here (https://preset.io/blog/building-database-connector/)

This page seems to indicate that the sqlalchemy dialect is deprecated?

https://docs.sqlalchemy.org/en/14/dialects/sybase.html#module-sqlalchemy.dialects.sybase.pysybase

[2021-04-26 15:35] EvgenyKiselgof commented on #14337
Hi,
Thanks for you response :)
In alchemy documentation there is 3 or 4 different drivers to use.
I know for sure that pyodbc is working well with FreeTDS odbc driver,
currsntly im using just python script  to query Sybase DB.
Maybe i don't understand well the documentation about the database support.
Maybe you can provide me some example file.

בתאריך יום ב׳, 26 באפר׳ 2021, 17:41, מאת Srini Kadam

[2021-04-26 15:50] #12618 closed

[2021-04-26 15:51] Hammad-Raza opened #14351 "Bar Chart not rendering properly in Dashboard emails"
I am using the latest release of the superset. I have configured new version of email & alerts as mentioned in the [documentation](https://superset.apache.org/docs/installation/alerts-reports).

When I am scheduling dashboard emails with bar chart . It is not rendering properly. On the superset dashboard, there is not issue with the display of the charts

Screenshot
<img width="1220" alt="Screen S

[2021-04-26 15:52] cccs-rc opened #14352 "Dissuade users from modifying roles through UI if AUTH_ROLES_SYNC_AT_LOGIN is enabled"
**Is your feature request related to a problem? Please describe.**
As of 3.2.0, FAB has supported an AUTH_ROLES_SYNC_AT_LOGIN flag, which re-syncs a user's roles every time they login. This means that, if an admin has manually modified a user's roles through the UI, those modifications won't persist between logins. This can cause some confusion!

**Describe the solution you'd like**
A warning on t

[2021-04-26 16:28] ktmud commented on #9887
Per-column formatting has been added to table chart in https://github.com/apache/superset/pull/13758

A transformation layer adds significantly more complexity and would be very difficult to design well. Over the past year, Superset has seen many gradual improvements and a lot of work for steps 1 - 3 in the Migration Plan of this SIP has been done and still ongoing. It's better to keep the gradual

[2021-04-26 16:28] #9887 closed

[2021-04-26 16:32] #14333 closed

[2021-04-26 17:36] #13995 closed

[2021-04-26 17:38] robdiciuccio commented on #12618
@vikalpmullick A fix for this issue has been merged, but granting admin access to public users is obviously less than secure.

[2021-04-26 18:06] julianbei commented on #13995
You missed something: https://github.com/apache/superset/pull/14274/files#issuecomment-827038300

[2021-04-27 02:15] etr2460 commented on #14112
Nope, that makes sense to me! Simply wanted to make sure that you knew we already had logic to generate this key that could be reused for this use case

[2021-04-27 04:13] JamesLee789 opened #14367 "Unable to upload Excel file "table1.xlsx" to table "table1.xlsx" in database "test"."
When I tried uploading an Excel file to my superset, I got the following error. How can I fix it? Thanks!

Unable to upload Excel file "table1.xlsx" to table "table1.xlsx" in database "test".   Error message: 'charmap' codec can't encode characters in position 36-38: character maps to

[2021-04-27 06:17] skymarstroy commented on #7958
found the same issue, too.

[2021-04-27 06:28] eriendeng opened #14368 "bug: cannot get partition query"
A clear and concise description of what the bug is.

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

![image](https://user-images.githubusercontent.com/30573371/116195103-5637d580-a764-11eb-9798-d543eac117b6.png)
![image](https://user-images.githubusercontent.com/30573371/116195386-b75fa900-a764-11eb-82ad-608723f4b264.png)

#### How

[2021-04-27 06:36] #14335 closed

[2021-04-27 07:36] #14367 closed

[2021-04-27 09:27] jerwen commented on #14189
Thank you for your answer.
My point is that there are no known use case at this time for exporting a filter box to a CSV. Thus my request to simply discard the option in the dropdown menu for filter box, so we can avoid irritating error message for our users who often click on that button.

[2021-04-27 10:39] varunvora commented on #296
Waiting for this feature. Would prefer IANA timezone support..

[2021-04-27 11:38] WeirdAnalyst commented on #14325
closed: https://github.com/apache/superset/commit/437be4b689182fdfbcf79fa17b28fa418a64944d

[2021-04-27 11:38] #14325 closed

[2021-04-27 12:11] krsnik93 opened #14373 "Custom plugins entry not visible in settings menu after enabling feature flag"
I have added `"DYNAMIC_PLUGINS": True` to my `superset_config.py`, but the Plugins entry does not appear in the Settings menu. I have previously enabled `ROW_LEVEL_SECURITY` and can toggle it and see the effect. My feature flags:
[code]
I have also inserted `pdb` into the backend and can see that it can read the flag as `True`. So perhaps the issue is somewhere in `superset-frontend`.

### Expecte

[2021-04-27 12:13] younsb commented on #13814
VERSION : 1.1.0
@junlincc @suddjian
I just test it in the new feature same problem for this type of charts.
And it's not related to the type of message content (CSV or png). It didn't work for both of them.

For pie chart (CSV) :

![pie-chart-csv](https://user-images.githubusercontent.com/81430164/116228718-f5090580-a755-11eb-9b7c-1fe37c68ef35.png)

Error in Superset :

![error-superset](https://u

[2021-04-27 12:52] tooptoop4 commented on #10093
@john-bodley how to access the password of the logged in superset user?

[2021-04-27 13:30] annibac commented on #12487
Just a quick question , how do I include this with Helm?
I tried to add this in values.yaml, but it seems to be ignored :

`configOverrides:
  my_override: |

    FEATURE_FLAGS = {
      "ENABLE_TEMPLATE_PROCESSING": True
    }`

When I try to use {{ filter_values("sampling")[0] }} I get the following postgresql error : `Postgresql Error : syntax error at or near "{" `

[2021-04-27 13:50] duynguyenhoang commented on #14336
This PR https://github.com/apache/superset/pull/13713 expects to fix this problem. Recently I am quite busy with different stuffs, going to check it again.

[2021-04-27 16:32] octonary opened #14377 "Unable to save database when impersonation is enabled"
I am getting the following error when I try to enable impersonation for a Presto database...

An error occurred while fetching databases: "Connection failed, please check your connection settings"

Impersonation was previously working before authentication was added to the Presto UI.  I found a few other issues related to impersonation but they all appear to be closed or merged so I upgraded to th

[2021-04-27 16:49] villebro commented on #13536
Closing as this was tackled by #14374

[2021-04-27 16:49] #13536 closed

[2021-04-27 17:20] angel1369 commented on #14079
Hi @SAVE-POlNT , could you put the new map of Algeria  , i had some troubles with your simple-data.json

PS: i call the map with amcharts 4 map  properties

[2021-04-27 17:44] itsezc opened #14378 "ArangoDB driver"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
A connector for ArangoDB to use as a data source

**Describe alternatives you've considered**
Currently there are no alternatives

**Additional context**
No resources on this issue, the closest project that comes to SQLAlchemy is https://github.com/threatify/arango-orm

[2021-04-28 01:34] mistercrunch commented on #6032
![fLAMxqKl_400x400](https://user-images.githubusercontent.com/487433/116332766-36fe6f80-a787-11eb-8076-c9fdd6ca94de.jpeg)

[2021-04-28 01:45] graceguo-supercat opened #14383 "[SIP-64] Migrate filter_box to Dashboard Native Filter Component"
## [SIP] Proposal for migrating filter_box viz to dashboard native filter component

### Motivation

This is the last step to complete the dashboard filter components.  Please see [discussion about dashboard filter components](https://github.com/apache/superset/issues/10285).

With the dashboard native filter development become stable, Superset should migrate from filter_box to dashboard native fi

[2021-04-28 03:03] str028 commented on #4129
@feroult how did you manage the background worker ? i know the superset package has its backgroud worker for celery but in app engine there is no option to run this service separately. If i try to migrate celery to cloud tasks i dont have an idea how since cloud tasks works only for http request handler.

[2021-04-28 03:05] john-bodley commented on #10093
@tooptoop4 why would you need to access the password on the logged in user in the context of Presto?

[2021-04-28 03:10] diegoscarabelli commented on #6568
I think the correct title of this feature should be: `scatter plot`

[2021-04-28 03:50] tooptoop4 commented on #10093
@john-bodley extraCredentials can set user+pass to a jdbc catalog of presto (ie mysql, Cassandra.etc)

[2021-04-28 05:02] junlincc commented on #14378
@itsezc Hi, anyone from the community is welcome to open a PR for adding new datasource connector. :)

[2021-04-28 05:02] #14378 closed

[2021-04-28 05:07] #14345 closed

[2021-04-28 05:10] junlincc commented on #14373
@krsnik93 thanks for reporting, do you consider it as a blocker for the project?

[2021-04-28 05:15] junlincc commented on #14351
@nytai 🙏

[2021-04-28 05:24] junlincc commented on #14344
@ivanku99 thanks for reporting. try using Pivot Table v2 in the Gallery. I'm pretty sure the rounding issue was being addressed when we merge the PR. lmk if that's not the case.

[2021-04-28 05:26] junlincc commented on #14330
cc @nytai

[2021-04-28 05:27] #14328 closed

[2021-04-28 05:29] #14326 closed

[2021-04-28 05:32] junlincc commented on #14336
@abhishek-ch let's follow up in @duynguyenhoang's PR #13713 :)

[2021-04-28 05:32] #14336 closed

[2021-04-28 05:38] junlincc commented on #14316
thanks for reporting! we may not fix this issue as we are migrating away from nvd3 to echarts. https://github.com/apache/superset/projects details in here

But feel free to open a PR though :)

[2021-04-28 05:38] #14316 closed

[2021-04-28 05:41] junlincc commented on #14308
<img width="1154" alt="Screen Shot 2021-04-27 at 10 39 46 PM" src="https://user-images.githubusercontent.com/67837651/116352073-7c339900-a7a9-11eb-8eb3-be3fb2aca18a.png">
this is problematic as well 🤣 @simcha90 @amitmiran137 by default, we should hide all the filter types from all UI except in the filter itself. could we open a PR to add the config?

[2021-04-28 05:57] amitmiran137 commented on #14383
I think that we should have it as an optional migration tool to run by demand, like a CLI command or a rest endpoint.
the reason for that is that dashboard owners need to decide on how to design their dashboard after the removal of a filter box.
the location of the filter box on the dashboard matters for them, so moving away from filter box changes how they design the look and feel of the dashboar

[2021-04-28 06:16] Hammad-Raza commented on #14351
@junlincc 9/10 time the bar graph is not rendering correctly. I am facing this on a bar chart at the moment. If I see the same issue with any other graphs. I will update this ticket

[2021-04-28 07:08] AbhimanyuAnilkumar opened #14389 "what kind of data need to give in superset apicall for put dataset (override coloumn)"
![image](https://user-images.githubusercontent.com/75316094/116361377-8cd22680-a81e-11eb-975e-ef3860e26421.png)

## Description

what kind of data need to give in superset apicall  for put dataset (override coloumn)

[2021-04-28 07:26] krsnik93 commented on #14373
@junlincc not a huge blocker, but wanted to verify it's a real issue.

[2021-04-28 09:37] pundirg commented on #7512
is there any updates or timeline ? this feature will provide wider adoption

[2021-04-28 10:18] krsnik93 commented on #14373
Resolved, a `superset init` after setting the flag was needed.

[2021-04-28 10:18] #14373 closed

[2021-04-28 10:31] CaptainHoangLe commented on #8160
I am using superset ver 0.36 and having the same problem when i creat an api get user info below
![image](https://user-images.githubusercontent.com/53038465/116389528-3cbb8a00-a847-11eb-81cf-922cb7798500.png)
![image](https://user-images.githubusercontent.com/53038465/116389568-4e9d2d00-a847-11eb-9287-cdde235a5483.png)
i have used all solutions of you but it don't work :(. Someone help me  , thank

[2021-04-28 11:10] villebro commented on #14308
IMO there's two things here:
1) The viz type gallery should have a separate tab/section for plugins that are primarily native filters but can be added as regular viz components to a dashboard (for the use case @amitmiran137 described above). I'm ok to add a config to enable/disable native filters as regular viz components, but I think it should be enabled by default. I don't see the harm in having

[2021-04-28 13:58] fropa opened #14391 "Can't login with local accaunt"
Hi, I integrated superset with the LDAP, and finally, it works. But now, I cannot log in with a local (admin) account, if I comment LDAP integration configuration in config.py then I can log in but with LDAP I can't.

### Expected results

I expected to login with both, LDAP and local accaunts.

### Actual results

I have to choose one of them.

### Environment

(please complete the following info

[2021-04-28 13:59] 0xBADBAC0N opened #14392 "CSV upload for on-premise Hadoop cluster block through erroneous code"
Hi guys,
I have the issue that I can not upload a CSV to Hive through Superset as our Hadoop is not running on S3.
I hunted it down to this line in the code: https://github.com/apache/superset/blob/master/superset/db_engine_specs/hive.py#L65
The following settings in the config are all related to the bucket: https://github.com/apache/superset/blob/master/superset/config.py#L781
The issue is my Hiv

[2021-04-28 17:11] dpgaspar commented on #14352
@cccs-rc good point, thanks for your suggestion. Since this is 100% FAB related, can you please reopen this on: https://github.com/dpgaspar/Flask-AppBuilder

Closing this issue here.

[2021-04-28 17:11] #14352 closed

[2021-04-28 17:15] willbarrett commented on #14330
cc @dpgaspar

[2021-04-28 17:19] dpgaspar commented on #14330
@dusatvoj

what's the value for `THUMBNAIL_SELENIUM_USER`? and make sure that user exists on the database

[2021-04-28 18:23] junlincc commented on #13442
My understanding of this project
- The company(multiple companies) wants to integrate Superset as analytics charting tool as part of their existing multi-lingual solution/application.
- Only admin/internal users can edit the language modal(see mockup above)
- Only admin/internal users can add new languages (e.g. English, Chinese, Spanish, Hindi) and translation to chart UI component fields (e.g. t

[2021-04-28 18:26] prb219 opened #14395 "Jinja templating for Groupby fields"
**Describe the solution you'd like**
Hi, I am trying to create a filter in my dashboard to choose various groupby fields to be applied to my charts. My approach to this was to try using jinja templating in my charts to pick the value chosen in the filter to be applied as groupby field. However, I do not see a 'custom sql' option to provide jinja template to a group by field. Can you please suggest

[2021-04-28 18:35] nytai commented on #14395
have you tried using a calculated column in the dataset definition? "Edit dataset" in explore

[2021-04-28 18:35] #14395 closed

[2021-04-28 19:39] junlincc commented on #14065
@Artem-fb thanks for reporting, could you test it in Pivot Table 2? This should not be an issue in the new plug-in.

[2021-04-28 19:45] fulviomascara commented on #14083
Problem solved ... I've got source again from GitHub repo and created new Docker environment, with success in create connection with BQ.

[2021-04-28 19:45] #14083 closed

[2021-04-28 20:07] dusatvoj commented on #14330
What? Can't see this variable in the docs :thinking: :upside_down_face:

[2021-04-28 21:24] soubhikbasu opened #14397 "Enable ROW_LEVEL_SECURITY option in menu"
Hi,

I am installed superset from the scratch level option. But Currently i am not able to access ROW_LEVEL_SECURITY option under Setting>>Security. I am attached screenshot of setting section where "ROW_LEVEL_SECURITY" should come.

Please help me to how to do that

![image](https://user-images.githubusercontent.com/56683353/116474380-09ecb280-a896-11eb-9873-17653a854b82.png)

[2021-04-28 23:22] mihir174 commented on #14114
I think if we had to maintain either select or d&d (just 1), we should maintain d&d.
Drag & drop + the columns and metrics panel (and its search capabilities) enable much quicker workflows than individual selection for each field. There are ways of making d&d accessible. There are even [libraries](https://github.com/atlassian/react-beautiful-dnd/blob/master/docs/about/accessibility.md) that have t

[2021-04-28 23:22] MaxPowerWasTaken commented on #12237
I would also love this, left a feedback/comment at at https://docs.blazingdb.com/docs that I wasn't able to find a dbapi driver and sqlalchemy dialect and referenced this issue, hopefully someone from BlazingSQL will see it and pop in...

[2021-04-28 23:30] syazwan0913 commented on #8160
@CaptainHoangLe are you using Nginx? can share your configuration?

[2021-04-29 00:16] aleksandrgordienko commented on #14397
You should set ROW_LEVEL_SECURITY flag to TRUE in your config.py. Row level security is disabled by default.

[2021-04-29 01:51] CaptainHoangLe commented on #8160
Dear bro ,this is my config nginx
![image](https://user-images.githubusercontent.com/53038465/116493053-0e31c380-a8c8-11eb-9ce3-e4e970c47c71.png)

[2021-04-29 01:58] ktmud commented on #13442
Note that for viz plugins, it is possible to add all translations within the plugin itself ([example](https://github.com/ktmud/superset-ui/blob/master/plugins/plugin-chart-table/src/i18n.ts )), which is then loaded only when the specific viz type is rendered. This should be the recommended way of adding UI-element translations for viz plugins since it makes it easier to migrate to dynamically-load

[2021-04-29 03:51] huailide opened #14400 "address family not supported by protocol by Installing Superset Locally Using Docker Compose"
When I use command "docker-compose -f docker-compose-non-dev.yml up", I got the message as below, how should I do?:
[root@KSSHV125814 superset]# docker-compose -f docker-compose-non-dev.yml up
Removing superset_appsuperset_cache is up-to-date
superset_db is up-to-date
Starting 38ac440aca23_superset_app ...Starting superset_init             ...
superset_worker is up-to-date
Starting 38ac440aca23_su

[2021-04-29 04:04] huailide commented on #14400
OS: CentOS Linux release 7.6.1810 (Core)

[2021-04-29 04:44] jagamts1 commented on #14400
@huailide Looks like port 8088 already used by some other instance on your system. You could identify those instance by running `lsof -i :8088`

[2021-04-29 05:14] rosemarie-chiu opened #14403 "[Dataset List View][filter list] Not able to filter dataset by database"
Sorting by database in dataset list returns error.

### Steps
1. Go to Dataset list
2. Select any database in filter row

### Expected results
Able to sort dataset by database source

### Actual results
Error returns
![image](https://user-images.githubusercontent.com/52086618/116505308-5ffa2f80-a86f-11eb-88b3-24f5f0a16fbe.png)

[2021-04-29 06:02] huailide commented on #14400
Same problem, but this time without 'Starting 38ac440aca23_superset_app ... errorWARNING: Host is already in use by another container'

[2021-04-29 06:06] syazwan0913 commented on #8160
You need to add this line inside your Nginx config
`proxy_set_header X-Forwarded-Proto https;`

Also in `superset_config.py` you must enable this:
[code]

[2021-04-29 07:07] soubhikbasu commented on #14397
@aleksandrgordienko
i am attached my config.py file as PDF
Please check
[config.py.pdf](https://github.com/apache/superset/files/6396801/config.py.pdf)

In this file where do i add that ?

[2021-04-29 07:11] villebro commented on #14397
@soubhikbasu do the following:
1. In your `superset_config.py` file, add the following:
[code]
1. run `superset init`

FYI: In the forthcoming Superset 1.2 version, RLS will be enabled by default, but I consider it to have been fully stable since 1.0.

[2021-04-29 07:11] #14397 closed

[2021-04-29 07:12] EBoisseauSierra commented on #14052
So I've been able to narrow down things a little.

Using following setup on a Fedora32 VM:

[code]

I can detail the result of various tests, that I run using:
[code]

| Status | Test file | Result | Log file |
| :---: | :---- | :---- | :---- |
| :warning: | `access_tests.py` |  9P, 9W, 1E | [tox38_access_tests.log](https://github.com/EBoisseauSierra/superset-tox38-logs/blob/master/tox38_access_te

[2021-04-29 07:12] CaptainHoangLe commented on #8160
i have just done that but it can't help me to sloving this problem .i don't know how where the error came from

[2021-04-29 07:17] soubhikbasu commented on #14397
@villebro
in my installation dont have superset_config.py
should i put that in /.local/lib/python2.7/site-packages/setuptools/config.py ?

Thanks in advance

[2021-04-29 07:42] #14368 closed

[2021-04-29 07:56] soubhikbasu opened #14404 "Enable ROW_LEVEL_SECURITY option in menu #14397"
@villebro
in my installation dont have superset_config.py
should i put that in /.local/lib/python2.7/site-packages/setuptools/config.py ?

https://github.com/apache/superset/issues/14397

you closed this issue, but its not solved yet

Thanks in advance

[2021-04-29 07:56] aleksandrgordienko opened #14405 "Need improved translation into Russian"
## Screenshot

## Description

Many of the strings ID should be translated into Russian. This is the first step for turning on i18n by default and include Russian translation into it.

## Design input

[2021-04-29 08:08] villebro commented on #14404
@soubhikbasu this is not a bug, but a question regarding how to configure Superset - please refer to the documentation (https://superset.apache.org/docs/installation/configuring-superset), post on the Discussions page (https://github.com/apache/superset/discussions) or post a question on the `#beginner-questions` channel on the Superset Slack.

[2021-04-29 08:10] paumillet opened #14406 "Can't visualize data from Gsheets"
Hello,

Following [this tutorial on Preset blog](https://preset.io/blog/2020-06-01-connect-superset-google-sheets/), I managed to connect to the example spreadsheet, as well as my own ones, with simple queries via the SQL editor as
[code]

I got the results correctly returned.
But every time I try to "Explore" my dataset then, I get the following error `no such table`:

![image](https://user-image

[2021-04-29 08:14] soubhikbasu commented on #14404
@villebro
i am not say that is a bug, i am not able to fix that thats why i rise the issue, i am already go throgh these docs, but not find out proper way

[2021-04-29 08:43] villebro commented on #14404
This might in fact be a bug in the documentation, which only references the `PYTHONPATH` environment variable, not `SUPERSET_CONFIG_PATH`. Can you create the file and add it to the environment variable, like so (example of my env local variable):
[code]

[2021-04-29 08:44] younsb opened #14407 "[Report] Can't send a Email Report for a Pie Chart using the new reporting feature"
VERSION : 1.1.0

I try to schedule a  report using  "Alerts and reports" for different type of visualizations.

- Pie chart :-1:  didn't work (see traceback 1)
- Word Cloud :-1: didn't work (see traceback 2)
- table :+1:  worked
- Big Number :+1: worked

### Expected results

4 mails received  for every chart

### Actual results

2 mails received with table chart  and Big number chart

#### Screen

[2021-04-29 08:50] younsb commented on #14407
@suddjian @junlincc  related to #13814

[2021-04-29 09:02] dpgaspar commented on #14330
Just double checked it is there: https://superset.apache.org/docs/installation/alerts-reports

Were you able to make it work?

[2021-04-29 09:15] CaptainHoangLe commented on #8160
![image](https://user-images.githubusercontent.com/53038465/116528494-190b4900-a906-11eb-80c2-6a2df1342711.png)
it send request to https but response location is http

[2021-04-29 09:25] dusatvoj commented on #14330
It's written under "Old Reports feature (version 0.38 and below)" but it's still relevant? Weird

Anyway: I've tried to set it up BUT There's another error `Report Schedule execution failed when generating a screenshot.`
[code]
Maybe It's caused by the fact we are using OIDC login _(https://stackoverflow.com/questions/54010314/using-keycloakopenid-connect-with-apache-superset ... this solution bcs

[2021-04-29 09:29] dpgaspar commented on #14330
@dusatvoj good point regarding the docs, We'll fix it.

Are you using docker? have you executed the curl from inside the container?

[2021-04-29 09:31] dusatvoj commented on #14330
No, I have dedicated VM for superset

[2021-04-29 09:32] soubhikbasu commented on #14404
@villebro
Thanks for the help.

Any specific location need to place superset_config.py or anywhere keep that file for better or quick response or error free response

[2021-04-29 09:35] villebro commented on #14404
No, any place that is convenient for you. If this works feel free to open up a PR to improve the docs; if not I can also do it.

[2021-04-29 09:41] soubhikbasu commented on #14404
@villebro

Many Thanks,

First i will try with that, then i will inform you, as i have note done before

[2021-04-29 10:01] D3nn3 commented on #13952
Same here. Happens at least for line charts and time-series bar charts (currently only have these two types).

[2021-04-29 10:12] soubhikbasu commented on #14404
@villebro

I have added that config file to env and after that run superset init, not oked as well

then i kill the superset procees then restart again, after that not working as well

![image](https://user-images.githubusercontent.com/56683353/116535533-781a8f00-a901-11eb-9e91-e8abbd053bbc.png)

Please help me to get out of this

[2021-04-29 10:24] CaptainHoangLe opened #14411 "Auto create the superset db with new field"
I am using superset ver 0.36. I create a field 'mobile_layout' in dashboards table in superset db. I don't know how to setup for superset db auto have filed 'mobile_layout' when it was created.
Anyone ,please help me the solution, thanks all

[2021-04-29 11:46] villebro commented on #14404
Are you running via docker? If so, the file needs to go in `docker/pythonpath_dev/superset_config_docker.py` I believe

[2021-04-29 11:50] soubhikbasu commented on #14404
@villebro

No I am not running with docker, i am following following installation to install superset
https://superset.apache.org/docs/installation/installing-superset-from-scratch

[2021-04-29 12:10] cccs-jc commented on #13943
The issue with the second approach is that a viz needs to handle these type of filters specifically. The generic adhoc filtering capabilities would be lost. I think this would also not work with native filters since I assume these emit regular filters.

Option 1 treats filters generically. From a UI point of view it does not  distinguish between a filter which will be applied by sqla/models.py and

[2021-04-29 12:29] Artem-fb commented on #14065
@junlincc  thank you for the answer. I'm not sure that I understand what is plug-in? I just have to update my version from 1.01 to 1.10 or install something additionally?

[2021-04-29 13:38] thammanenitcs opened #14414 "Connection Pool implementation to create DB sessions in superset"
Hi Team,

i am using superset0.36 version, have observed superset is creating more no.of db sessions when dashboards/reports are running continuously. Sometimes due to high load/no.of schedule jobs are running db sessions are breaking. I thought to see whether connection pool creation for superset will improve db sessions failures. i have followed below SIP as a reference.

https://github.com/apac

[2021-04-29 14:27] srinify commented on #14337
@EvgenyKiselgof I recently blogged about this actually:

https://preset.io/blog/building-database-connector/

I can follow up in a week or 2 with some research into Sybase! Do you have Sybase running anywhere? One of the challenges is testing this, I don't have a Sybase database anywhere!

[2021-04-29 14:34] srinify commented on #14405
Linked PR by @aleksandrgordienko

https://github.com/apache/superset/pull/14412

[2021-04-29 14:41] EvgenyKiselgof commented on #14337
Hi,
I saw the blog, but it not so clear to me :(  I just learning.
but what I did for now is, simple python script, that uses pyodbc and
freeTDS odbc driver,  the script is connecting to the Sybase DB running my
queries and then Insert the results CSV files to PostgresDB and the with
Superset I'm reading the data actually from Postgres :)
I believe that if I can understand well the  db_engine_spec

[2021-04-29 14:42] aleksandrgordienko commented on #14405
Hey @srinify,
I've just followed [Pull Request Guidelines](https://github.com/apache/superset/blob/master/CONTRIBUTING.md#pull-request-guidelines):

Should I close this issue and unlink PR with it?

[2021-04-29 14:42] dpgaspar commented on #14330
it should not be OIDC since your still using session cookies. that's what the worker is generating for `THUMBNAIL_SELENIUM_USER`. One more question/confirmation, I'm assuming that your VM has the worker and the web app executing on the same instance?

[2021-04-29 14:57] srinify commented on #14337
Hmm @EvgenyKiselgof do you know others who are interested in Sybase <> Superset? I'd be happy to bring everyone into the 'same room' and help make this happen.

[2021-04-29 15:01] srinify commented on #14400
Jagadish is right that there's a port conflict here!

You have a few options from my estimation:

- Run the `superset` container on a different port. Here's the Docker documentation on manually mapping ports for containers: https://docs.docker.com/compose/reference/run/
- Change the port in `docker-compose.yml` or `docker-compose-non-dev.yml` from `8088:8088` to something else. Here's the line of

[2021-04-29 15:02] #14400 closed

[2021-04-29 15:02] srinify commented on #14400
Closing as this is not a Superset related issue

[2021-04-29 15:05] dusatvoj commented on #14330
yes, on the same machine

[2021-04-29 15:08] srinify commented on #14068
Hi @khannavivek at Preset we maintain some end-user focused documentation on Superset here: https://docs.preset.io/docs/big-query-database

Can you try these instructions & exactly and see if they work?

[2021-04-29 15:11] srinify commented on #14392
Any helpful tips here @etr2460 ? I know y'all use CSV upload to hive a bit

[2021-04-29 15:12] corrad82-4s opened #14415 "dashboard export in xls and xml format"
**Is your feature request related to a problem? Please describe.**
As Microsoft Excel, and its xls/xlsx file types, is a common standard among business analysis and business intelligence teams, and xml is one of the formats in use for data exchange and interoperability, the possibility of having an export of dashboards in those formats.

**Describe the solution you'd like**
In addition to already

[2021-04-29 15:12] dpgaspar commented on #14330
ok, do you have geckodriver installed and firefox or chromedriver and chrome?
Also before the worker timeout do you have any frontend logs, if it's a login failure you should have an HTTP 302 for `http://localhost:8088/superset/dashboard/7/`

[2021-04-29 15:12] srinify commented on #14391
Hi @fropa to be honest, this is probably a better question for Stack Overflow. You can use the apache-superset tag: https://stackoverflow.com/questions/tagged/apache-superset

Can you provide significantly more context on your setup so people here on Github or on StackOverflow can *try* to help?

[2021-04-29 15:21] srinify commented on #14415
Hi @corrad82-4s to clarify this, do you want users to be able to explore datasets in XLS format and charts / dashboards in XML format? Or just datasets in XLS / XML?

[2021-04-29 15:23] srinify commented on #13909
Did this work for you @riceliu ? If so, let's close this issue out :)

[2021-04-29 15:26] srinify commented on #13701
Closing for now, since it's incomplete. Please re-open if you're still interested in this. I recently blogged about adding new db support as well: https://preset.io/blog/building-database-connector/

[2021-04-29 15:26] #13701 closed

[2021-04-29 15:34] srinify commented on #11104
Closing because of inactivity. Feel free to re-open @hainv if you tested this via `nzalchemy` library

[2021-04-29 15:34] #11104 closed

[2021-04-29 15:35] jagamts1 commented on #14404
@soubhikbasu
1. First check which version superset are using it.  1.0.0 < superset  >  1.0.0
2. Then add RLS FLAG inside the config file and define config path.
`SUPERSET_CONFIG_PATH=<your_file_path>/superset_config.py
`
3. Run
`superset init`

For Superset >= 1.0.0 Then
[code]
For Superset < 1.0.0 Then

[code]

[2021-04-29 15:44] corrad82-4s commented on #14415
Hi @srinify , thank you for your answer. We want users to be able to export charts content in xls and xml file in addition to already existing possibilities of exporting them in json or csv

[2021-04-29 15:54] srinify commented on #13930
Keep us posted @slim-patchy !

[2021-04-29 15:55] srinify commented on #14405
AH I got you, lets leave it for now. Sorry!

[2021-04-29 15:56] srinify commented on #14415
Sorry, to be 100% clear ... what do you mean by 'charts  content'?

A screenshot / image of the chart? The JS code behind the chart? The underlying data for the chart?

[2021-04-29 16:00] betodealmeida commented on #14406
@paumillet can you try again but using `shillelagh` instead of `gsheetsdb`?

[shillelagh](https://github.com/betodealmeida/shillelagh/) is a new library that replaces `gsheetsdb`, and it's much more robust. I'll work with @srinify to update our documentation.

[2021-04-29 16:17] corrad82-4s commented on #14415
@srinify sorry to you for not being so clear.
In short, I mean the underlying data, the same data that would be exported in json or csv from dashboard edit page
![image](https://user-images.githubusercontent.com/70699836/116583815-06e5d680-a917-11eb-9bf7-ae88cb4e9a2d.png)

or from csv export from dashboard's chart menu
![image](https://user-images.githubusercontent.com/70699836/116583954-2846c280-

[2021-04-29 16:22] srinify commented on #14415
Got it, I'm with you now :]

[2021-04-29 16:41] paumillet commented on #14406
Thanks @betodealmeida for your reply

Am I supposed to change anything in the database and dataset configuration then? I was adding a database by adding `gsheets://`in the SQL Alchemy URI field, should I follow the same process?

[2021-04-29 16:46] S-eb commented on #13106
facing similar issues.upgrading from 0.38 to 1.0.1

[2021-04-29 17:04] etr2460 commented on #11793
I would assume not since the PR i mentioned ended up getting merged. I'll close

[2021-04-29 17:04] #11793 closed

[2021-04-29 18:51] fropa commented on #14391
Hi srinify, thank you for your answer, I'll ask on StackOverflow and provide more details here too.

I did that context :

[code]

[code]
with that configuration I can log in to superset web, (I'm trying to split login roles with "AUTH_ROLES_MAPPING" but with no luck yet) but when I log in through LDAP users, I can't use local user such as admin (the user which created during installation).

[2021-04-29 20:20] Steejay commented on #14021
I don't think it would be a distraction. The solution/feature suggestion makes sense. Unique colors would make it easier to identify the different customers in the use case presented.

[2021-04-30 00:27] graceguo-supercat opened #14421 "[native-filter][performance] Dashboard load slower with native-filter components"
I compared the 2 dashboard with same set of of charts, one using filter_box and the other used filter components. I can tell the dashboard using filter component loads much slower than filter_box version.

#### How to reproduce the bug

1. Let's use World Bank's Data dashboard as an example.
2. disable native filter component, open dashboard,
3. Make a copy of the original dashboard, enable filter

[2021-04-30 01:08] graceguo-supercat opened #14422 "[native filter] can not set filter scope: JS errors"
#### How to reproduce the bug

1. Enable native filter feature flag,
2. open World Bank's Data dashboard,
3. open filter bar, set filter scope for "country name", for example, remove scope for "%Rural" chart.
4. Config panel has not response,
5. If you open dev console, will see JS error thrown.

#### Screenshots

<img width="590" alt="Screen Shot 2021-04-29 at 6 05 11 PM" src="https://user-images

[2021-04-30 02:56] Luoxihan opened #14423 "Wrong SQLAlchemy driver of Apache Impala in driver list"
安装impala时名字不对, 官网给出的是 pip install impala , 实际上是pip install impyla
地址: https://superset.apache.org/docs/databases/installing-database-drivers
给使用者造成了一定程度上的不必要时间浪费

[2021-04-30 04:03] villebro commented on #13442
This is a use case I have personally seen needed multiple times, and one that I could see being beneficial in environments where the same official truth needs to be made available to stakeholders using different languages. To give an example, all main EU regulation is required to be made available in [24 officially supported European languages](https://europa.eu/european-union/about-eu/eu-language

[2021-04-30 05:43] junlincc commented on #14422
Thanks for reporting, filter scoping is broken in master.
@villebro @kgabryje
https://user-images.githubusercontent.com/67837651/116653472-1f1c1c80-a93c-11eb-920d-7f86b56442ae.mov

[2021-04-30 05:45] jagamts1 commented on #14423
#14425

[2021-04-30 05:48] jagamts1 commented on #14423
Thanks raising this @Luoxihan . Updated docs and created PR https://github.com/apache/superset/pull/14425

[2021-04-30 07:33] ktmud commented on #13442
If we do want to store things in chart metadata and add an additional control, then maybe regular JSON is good enough.

Another benefit of doing this via Dashboard overrides: you can assign translation access to those who only have access to the dashboards, without giving them write access to the charts. This would be a more scalable model where translations are often handed out to external transl

[2021-04-30 08:40] soubhikbasu commented on #14404
@jagamts1

Hi,

Thanks for the reply but still not fixed yet

i am share my "superset_config.py" file and share my superset version as well. SO it would be helpful for you to better suggestion what i am doing wrong here

[superset_config.py.pdf](https://github.com/apache/superset/files/6403893/superset_config.py.pdf)
![image](https://user-images.githubusercontent.com/56683353/116668371-fd15af00-a9

[2021-04-30 09:20] #14422 closed

[2021-04-30 09:36] garyganyang commented on #2524
How to change x,y axis label color? anyone know about this? many many thanks

[2021-04-30 10:37] abhiroop93 commented on #12487
Have the same question, how do I include this with Helm?

[2021-04-30 11:15] annibac commented on #12487
Hello !
I just found a way

In your folder, go to superset > template : there is a "_helpers.tpl" file which contains the superset_config.
Just add at the end:

[code]
And this will work. Not sure if this is the best way to do it, but works for me for now.

Regards
Celine

[2021-04-30 11:57] zhaoyongjie commented on #14423
Hi @Luoxihan, Thank you for reporting this issue of docs. Community is public intelligence, you are welcome to contribute PR to fix any bug or add a new feature.

十分感谢报告此问题. 社区是群体智慧, 除了使用也请您贡献一份力气.

[2021-04-30 12:03] zhaoyongjie commented on #14423
This issue fixed by https://github.com/apache/superset/pull/14425, so close this.

[2021-04-30 12:03] #14423 closed

[2021-04-30 12:55] jagamts1 commented on #14404
@soubhikbasu Just follow the above order, which we shared will work without any issue. I guess still you are making mistake on setting-up config path. Once config path set properly, it'll show in the logs after we launch the server otherwise it will take default config file.

![Screenshot from 2021-04-30 18-19-50](https://user-images.githubusercontent.com/17809881/116697749-3103cb00-a9e1-11eb-9691

[2021-04-30 13:46] michalgala opened #14430 "Time range filter applied across all charts, independently of the chosen variable"
When a value is selected in a time range filter (in a filter box), the time is applied across all the line charts, even if the time variable composing the X axis of the line chart is not the same as the one selected.

### Expected results

When a time variable is set in a filter box, It should filter the database based on the chosen variable (let's say X), and therefore only filter the time axis o

[2021-04-30 14:34] soubhikbasu commented on #14404
@jagamts1

Hi Jagadish

You made my day! Its works as you directed. Its very helpful  with your gif tutorial.

@villebro
@aleksandrgordienko

Thanks a lot all of you

without your help i am not able to solve my issue

[2021-04-30 18:53] graceguo-supercat commented on #14383
@amitmiran137 I assume your request is let each dashboard owner run the CLI command? What state is the dashboard currently in, and what state they want to achieve?
If they already had good native filter configuration, they can re-arrange dashboard layout any time right? my proposal do not cover re-arrange dashboard layout solution, and i assume it must be done manually.

[2021-04-30 19:02] ktmud commented on #14151
Duplicate of #14034

[2021-04-30 19:36] serenajiang opened #14437 "Sankey tooltip is not visible on the right of the chart"
On Sankey visualizations, the tooltips always appear to the right of the cursor, which can sometimes be cut-off if it runs off the chart. This means that users are unable to read the tooltip for the "targets".

This might technically be a cosmetic issue, but since this bug results in users being unable to read tooltips, I filed it as a bug.

### Expected results

Tooltip should adjust its position

[2021-04-30 19:42] serenajiang commented on #14437
@maloun96 @villebro
This bug was likely introduced in https://github.com/apache-superset/superset-ui/pull/977. I think it might be a quick fix.
Can you take a look?

[2021-04-30 21:27] #14403 closed

[2021-05-01 02:05] BLiu1 commented on #5530
Since there's obviously interest, I'll file an identical ticket if this isn't reopened.

[2021-05-01 02:41] ktmud commented on #5530
The amazing @villebro has added a Mixed Timeseries chart: https://github.com/apache-superset/superset-ui/pull/1027 , which should be available in `master` already.

[2021-05-01 02:49] BLiu1 commented on #5530
Thanks for the update. I'm no longer with the team using Superset (the one in 2018) and I keep getting pinged, so I assumed there was nothing like this. Glad there's a solution now.

[2021-05-01 06:30] villebro commented on #13442
The reason I suggested Rison is because in this scenario the metric translation object would need to pass through the SQL queries as column aliases, in which case we would need to remove line changes from the object/string. So while we're at it, we might just as well compactify the object using Rison.

One downside of this approach of course is the need to add translations to all charts independen

[2021-05-01 06:40] jawabuu commented on #13097
Hey @dpgaspar @iercan @nytai
I'm using superset version 1.1.0
My settings

[code]

My logs
[code]

My report is still truncated

![data](https://user-images.githubusercontent.com/49921621/116773883-3a347c80-aa61-11eb-95d9-23e55a730534.png)

[2021-05-01 08:15] jawabuu commented on #13097
For anyone experiencing this;
I disabled this `--force-device-scale-factor=2.0`
[code]

[2021-05-01 12:57] iercan commented on #13097
@jawabuu Yeah for some reason this option need to be removed if you using chrome 90

[2021-05-01 14:00] srinify commented on #14315
Hi @yograjpshinde when you add a new database driver to local-requirements.txt, it gets installed via pip (https://pip.pypa.io/en/stable/cli/pip_install/),

If you look at the error message, you're encountering:

`
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by ConnectTimeOutError(<pip._vendor.urllib3.connection.HTTPSConnection ob

[2021-05-01 14:03] srinify commented on #14315
Closing, as this isn't a Superset specific issue. @yograjpshinde StackOverflow could be a better place to debug your networking setup:

- https://stackoverflow.com/questions/57648998/connection-to-pypi-org-timed-out
- https://stackoverflow.com/questions/55382620/what-is-wrong-with-pip/55383071

Or create a new question there.

[2021-05-01 14:03] #14315 closed

[2021-05-01 14:33] srinify commented on #14406
@paumillet I just tried replacing `gsheetsdb` with `shillelagh` and it worked like a charm!

![image](https://user-images.githubusercontent.com/801507/116785611-8a630d00-aa68-11eb-9da8-897c1e9461a6.png)

<img width="548" alt="Screen Shot 2021-05-01 at 10 33 05 AM" src="https://user-images.githubusercontent.com/801507/116785627-a1a1fa80-aa68-11eb-94dd-d60a4d106bf6.png">

<img width="1664" alt="Scre

[2021-05-01 14:33] srinify commented on #14406
@paumillet closing this issue for now. If you need more debugging help, I would recommend creating a Github Discussion: https://github.com/apache/superset/discussions

[2021-05-01 14:33] #14406 closed

[2021-05-01 14:34] jawabuu commented on #13097
Thanks @iercan. This should probably be documented.
Also I have been unable to get firefox driver to work.
Would you have an example configuration?

[2021-05-02 08:52] vegegoku opened #14442 "Public dashboard does not work due to JS error in findPermission.ts"
A clear and concise description of what the bug is.
Setting up a public dashboard does not work and fails on the findPermission.ts file due to JS error for undefined roles object passed as an argument.

### Expected results

A dashboard to open and without user login.

### Actual results

JavaScript error and dashboard fails to load

#### Screenshots

![superset](https://user-images.githubusercont

[2021-05-02 09:28] slim-patchy commented on #13930
Sure @srinify

[2021-05-03 05:30] villebro commented on #14421
While the client only sends one http request from the client to the backend for filter box select filters, they are all broken down into multiple chart data requests by the backend to be satisfied either from the analytical database or cache. This means that a filter box data request with multiple selects that is not cached might take relatively longer to resolve, as it will have to complete all q

[2021-05-03 08:09] syazwan0913 commented on #8160
I think it is because of your Nginx config, `proxy_set_header Host $http_host;`

[2021-05-03 08:13] syazwan0913 commented on #8160
Have you try to run without `proxy_set_header X-Forwarded-For $remote_addr` and `proxy_set_header Host $http_host` ?

Because mine having same problem as yours if using that config.

[2021-05-03 11:36] flover97 opened #14445 "clickhouse error: No field class for Decimal(16, 5)"
apache superset or sqlalchemy doesn't understand decimal datatype for clickhouse

![Screenshot_20210503_142510](https://user-images.githubusercontent.com/17098761/116871142-74964900-ac1c-11eb-9561-81e5431eae3f.png)
my package versions:
`aiohttp==3.7.3
alembic==1.5.4
amqp==2.6.1
apache-superset==1.1.0
apispec==3.3.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
backoff==1.10.0
bill

[2021-05-03 11:49] flover97 commented on #14445
better use [](https://pypi.org/project/clickhouse-sqlalchemy/)

[2021-05-03 11:49] #14445 closed

[2021-05-03 13:42] inviscid commented on #13651
Although very similar to Postgres, Greenplum is a database we use a lot.

[2021-05-03 13:43] iercan commented on #13236
We had same issue for some user roles and solved it by adding `can time range on Api` permission

version: 1.1.0

[2021-05-03 14:15] klazaj opened #14447 "[Report] feature (0.38) works for some dashboards but not others"
I am using Email reporting feature on Superset 0.38.  There is a weird thing happening, where email reporting feature works for some of the dashboards, but not others (namely works on the old dashboards but not the newly created ones).
I have `admin` as `EMAIL_REPORTS_USER`, so there shouldn't be an issue with permissions (however I suspect this has to do with permissions issues).

This is the err

[2021-05-03 15:54] ktmud commented on #13442
If we want compactness, why not just use rison for all `formData` instead of just one field?

I think the most robust approach is to add a Superset app-level i18n table for user-inputted translatable strings that will have its own edit view (which then can be assigned to translators based on permissions). The charts or dashboard title can then reference the translatable string with some special sy

[2021-05-03 16:38] srinify commented on #13571
Are y'all logged into Superset in these private window sessions? @ErinYener @cleman95 @rvabhijith

That would be my first instinct / thing to rule out! The errors could definitely be better though, even for the logged out case

[2021-05-03 16:44] andrewscarani commented on #11758
It would be beneficial if the chart logged some more information to the user rather than just "Bad Spatial Key" by showing the field that caused the chart to crash

[2021-05-03 18:00] graceguo-supercat commented on #14254
ping @junlincc this is an important feature regression for over 2 week. could someone prioritize this?

[2021-05-03 22:38] dominicvivek06 opened #14452 "neo4j database drivers"
Add neo4j database as part of drivers.

[2021-05-04 00:42] kristw opened #14455 "Extra scrollbars in SQL lab"
## Screenshot

![Pasted_Image_5_3_21__5_41_PM](https://user-images.githubusercontent.com/1659771/116949394-e24f6e80-ac36-11eb-823e-1bb81b6c849b.png)

## Description

Unnecessary scrollbar

## Design input

Please remove them.

cc @yousoph

[2021-05-04 01:50] CaptainHoangLe commented on #8160
i have tried but nothing changed. Can i see your nginx config? thanks

[2021-05-04 01:59] syazwan0913 commented on #8160
Here is my working nginx config
[code]

[2021-05-04 06:55] CaptainHoangLe commented on #8160
thank you, i got it. this reason is config in nginx not apply when i change.Once again I thank you very much for your help

[2021-05-04 07:19] #13711 closed

[2021-05-04 07:24] paumillet commented on #14406
Finally works for me too, thank you for helping

[2021-05-04 09:38] cadet354 opened #14457 "[Question] How connect to clickhouse with ssl credentials?"
Hello,
how to connect to clickhouse with SSL credentials?
I try set extra params:
[code]

[2021-05-04 10:09] krsnik93 commented on #14209
@junlincc wdyt?

[2021-05-04 11:08] jawher-soudani opened #14458 "Cannot add new dataset from prestodb due to too long type character varying"
I'm facing this problem whenever I try to add a dataset from a presto engine
**superset_app            | psycopg2.errors.StringDataRightTruncation: value too long for type character varying(32)**

Here is a detailed log:

[code]

I didn't find where in supertset  I can alter types parameters to increase max chars.
I got these issues when connecting to a presto engine, the presto engine is connecte

[2021-05-04 11:14] srinify commented on #14457
Hi @cadet354 this blog post by Robert Hodges provides a good overview: https://altinity.com/blog/visualizing-clickhouse-data-with-apache-superset-part-1-installation

[2021-05-04 11:49] azadsagar opened #14459 "docker-compose: Custom python package installation will fail via requirements-local.txt"
Latest docker image uses non root user (superset). Hence any customer packages that are added to requirements-local.txt will fail to install with pip error stating OS error, permission issue.

[code]

adding --user to docker-bootstrap.sh won't help as the /home/superset directory does not exist.
https://github.com/apache/superset/blob/9a22fb00d9a94ab9f7aac41ca8915952ed8a75b6/docker/docker-bootstra

[2021-05-04 13:01] bashyroger commented on #5059
We have interest in this, can it be re-opened?

[2021-05-04 13:02] bashyroger commented on #3384
Duplicate of https://github.com/apache/superset/issues/5059
Important visualization option to be added for us!

[2021-05-04 14:00] thathert commented on #13313
This is also happening to me on 1.1.0.

[2021-05-04 14:37] Yann-J commented on #14188
Just discovered this as well, it looks like this PR broke my deployment: #13917

The `additionalRequirements` was moved to a startup script in `bootstrapScript`...

[2021-05-04 16:31] jagamts1 commented on #14459
@azadsagar By default docker-compose service are defined with root user. It's working without any issue. Tested right now also with master. Could you provide what setup did you followed after cloned the repo, it will make easier to identify issue.

[2021-05-04 16:33] nytai commented on #14459
Docker compose files have the user set as root for the superset services

[2021-05-04 18:31] ptheru commented on #13943
I agree with @cccs-jc
Option 1 is simplistic approach and makes sense.

@villebro In Option2, does it mean the filter "employees" can take only the ones hardcoded in this dictionary? Meaning jinja will pick values from the values that you hardcode in custom_form_data? In my case, it is a "date" so I am not sure how this would pan out.
'''
{
  custom_form_data: {
    employees: ['Employee 1', 'Empl

[2021-05-04 19:34] bwgroff commented on #11745
I have the same issue with presto, where I see this error:
[code]
and here is the offending line of the templated query:
[code]
and confirming that the field is a timestamp:
![image](https://user-images.githubusercontent.com/5002606/117059763-23568a00-acee-11eb-91e8-f4f4cf078e57.png)

Any ideas how I should proceed?

[2021-05-04 20:07] villebro commented on #11745
@bwgroff What version of Superset are you on? I believe this was resolved quite some time ago, and should no longer be a problem on the current stable release of Superset.

[2021-05-04 21:42] junlincc opened #14472 "[SIP-65] Enhance, replace and deprecate data viz in Superset"
Note: This is 3/3 of a greater proposed effort in Data Visualization Enhancement, Reorganization and Revamp

**Background**
As of today, Superset has grown from a hackathon project to a full-fledged BI tool with over 50 out-of-the-box visualization plugins offered. Users appreciate Superset for providing a variety of visualization options, though the organic growth of the product throughout the ye

[2021-05-04 21:42] junlincc opened #14473 "[SIP-66] Dynamic control panel"
Note: This is 2/3 of a greater proposed effort in Data Visualization Enhancement, Reorganization and Revamp

**Background**
As of today, Superset has grown from a hackathon project to a full-fledged BI tool with over 50 out-of-the-box visualization plugins offered. Users appreciate Superset for providing a variety of visualization options, though the organic growth of the product throughout the ye

[2021-05-04 21:43] junlincc opened #14474 "[SIP-67]Gallery modal redesign and enhancement"
Note: This is 1/3 of a greater proposed effort in Data Visualization Enhancement, Reorganization and Revamp

### **Background**
As of today, Superset has grown from a Hackathon project to a full-fledged BI tool with over 50 out-of-the-box visualization plugins offered. Users appreciate Superset for providing a variety of visualization options, though the organic growth of the product throughout th

[2021-05-04 21:43] etr2460 commented on #14052
@EBoisseauSierra looking at your logs, it appears that the example database is not being properly populated, causing the errors throughout.

Perhaps it could be easier to debug this from within superset itself. Can you run the flask and npm dev server and inspect the example database in SQL Lab? That could help indicate what's properly functioning vs. what's broken

[2021-05-04 21:51] bwgroff commented on #11745
[v2021.18.0](https://github.com/apache/superset/releases/tag/v2021.18.0) via [this container](https://hub.docker.com/layers/apache/superset/2f9efb2e23cefb8f087e473a10ccb93a90a6311c/images/sha256-c364600b8d5df30afef058b08de93ca8bd4de57592bf9dea80e7441d819af138?context=explore).

[2021-05-04 22:12] ktmud opened #14475 "[Explore] Tab Animation on Metric popover flies out of the box"
## Screenshot

https://user-images.githubusercontent.com/335541/117076337-171cfd80-aceb-11eb-8639-399533d653a7.mp4

## Description

Was it even intentional to enable tab switch animation? IMO they are kind of distracting.

[2021-05-04 22:14] ktmud commented on #14475
I don't see any mention of animation in https://github.com/apache/superset/pull/14048 so maybe it's not intented.

[2021-05-04 23:06] junlincc commented on #14475
Thanks for reporting. it was not intended, we didn't know the popover could be affected.
@jinghua-qa
Please add to test case and note that explore metric popover tab share the same component with global nav, any changes made in either area, test need to be done in the other.

@pkdotson please push a quick fix. 🙏

[2021-05-05 00:53] pkdotson commented on #14475
pr is out: https://github.com/apache/superset/pull/14478

[2021-05-05 01:35] jinghua-qa opened #14479 "no action option when hover over to left edge of a row in dashboard edit mode."
A clear and concise description of what the bug is.

when the mouse hover over to the left edge of a row in dashboard  edit mode, action option, for example, delete  is not shown.

### Expected results
what you expected to happen:

action option (delete/setting) will show when hover over to the left edge of a row in dashboard edit mode

<img width="1391" alt="Screen Shot 2021-05-04 at 5 30 38 PM"

[2021-05-05 07:40] rusackas commented on #14455
cc @AAfghahi

[2021-05-05 07:45] samudurand commented on #13539
Looking into the values.yaml from superset I can see that there is no section called additionalRequirements, nor in any of the templates. I think what they expect us to use is the bootstrapScript section, or more precisely to replace it by building a new Docker image and building it ourselves. See the comment in that section:

[code]

[2021-05-05 08:06] ofekisr opened #14482 "[bug] Although Slice model can not exists without datasource (sqltable) it possible to create model without datasource type"
Slice related and depend on it's datasource, it can't live without It.
When we take attention to the code inside the Slice model, you can notice
[code]
datasource_type is mandatory so it can't be null, it should be enforced

### Expected results
when Inserting new slice without datasource type, exception should be raised

(please complete the following information):

- superset version: 0.999.0dev

[2021-05-05 08:09] samudurand commented on #14165
Yes, and the docs need to have AdditionalRequirements section removed, since it's not part of the Helm charts anymore, and does not allow to install extra packages.

[2021-05-05 11:47] cccs-jc commented on #13943
@ptheru  Option 2 that Ville proposes does not mean the values would be hard coded.

@villebro I'm going to make a prototype of option 1. Having a working example might be the best way to understand the implications. I will do as you suggest with the remove_filter=True. I'll have to take a look at cache_key_wrapper.

[2021-05-05 11:50] villebro commented on #13943
@cccs-jc sounds good - keep me in the loop and feel free to reach out if you have questions! We can keep this behind a feature flag until we're certain that it doesn't pose security concerns.

[2021-05-05 12:03] zufolo441 commented on #14472
I don't see in this list the country map chart, that we heavily use. We created more than 2.000 different territories to be used in charts.....

[2021-05-05 12:15] michael-s-molina commented on #12689
@junlincc Can you assign this to me? I'm working on it.

[2021-05-05 12:15] michael-s-molina commented on #12643
@junlincc Can you assign this to me? I'm working on it.

[2021-05-05 12:15] michael-s-molina commented on #13831
@junlincc Can you assign this to me? I'm working on it.

[2021-05-05 15:25] zuzana-vej commented on #12643
@michael-s-molina it looks like @m-ajay has a PR out for this item since yesterday

[2021-05-05 15:59] michael-s-molina commented on #12643
@zuzana-vej Thanks for letting me know. Luckily I hadn't started this yet.

[2021-05-05 16:11] michael-s-molina commented on #12689
@adam-stasiak @junlincc I think this was already fixed because when running on master version this is how this control looks like:

<img width="318" alt="Screen Shot 2021-05-05 at 1 09 34 PM" src="https://user-images.githubusercontent.com/70410625/117173543-41ca8d00-ada3-11eb-84b5-ab34c6876f72.png">

Can you confirm that the bug is gone?

[2021-05-05 16:46] rusackas commented on #12850
@villebro @beto @zhaoyongjie can any of you confirm whether this is still an issue or if it should be closed?

[2021-05-05 17:32] junlincc commented on #14085
I believe @villebro fixed this one. Please confirm. 🙏

[2021-05-05 17:34] junlincc commented on #13831
Thank you Michael, noted!

[2021-05-05 17:38] junlincc commented on #10098
@john-bodley @zuzana-vej we will work on this issue next week!

@michael-s-molina @geido

[2021-05-05 17:58] zuzana-vej commented on #13881
Different issue but also related to scroll bars in SQL Lab query result area: https://github.com/apache/superset/issues/14455

[2021-05-05 18:30] AAfghahi commented on #14455
THis gets fixed in https://github.com/apache/superset/pull/14381

[2021-05-05 18:37] zuzana-vej commented on #14085
Yay It looks resolved to me thanks!

[2021-05-05 18:37] #14085 closed

[2021-05-05 20:03] michael-s-molina commented on #13386
@junlincc Can you assign this to me?

[2021-05-05 20:30] #12643 closed

[2021-05-05 20:48] #13831 closed

[2021-05-05 22:45] rusackas commented on #13881
Fixed by https://github.com/apache/superset/pull/14490 - @zuzana-vej can you confirm?

[2021-05-05 22:56] rusackas commented on #13158
Unable to reproduce... closing issue, but will continue to track the related PR linked above which should make sure the story ends here.

[2021-05-05 22:56] #13158 closed

[2021-05-06 03:26] amitmiran137 commented on #13600
Resolved #14371

[2021-05-06 03:26] #13600 closed

[2021-05-06 03:27] luoxiao123 commented on #11988
Same problem!

[2021-05-06 05:25] rusackas commented on #12634
Item 1 seems to be all set here:
<img width="564" alt="Pasted_Image_5_5_21__10_25_PM" src="https://user-images.githubusercontent.com/812905/117246109-d90a0180-adf0-11eb-835d-eefa232f9a46.png">

[2021-05-06 05:27] rusackas commented on #12634
I take that back... we see 16px on the sides there.

[2021-05-06 07:32] villebro commented on #12850
This issue is resolved

[2021-05-06 07:32] #12850 closed

[2021-05-06 09:59] jessicaxyl commented on #13949
Hey @srinify @betodealmeida @junlincc , any updates on this?

[2021-05-06 10:20] Animesh384 commented on #13881
# - - - - - - []()_****_@_****_

[2021-05-06 10:51] michael-s-molina commented on #13386
@etr2460 Is someone from Airbnb already working on this? I just found out that I'll need to install all the backend infrastructure (Presto or Hive) to simulate the partitions. If you already have this environment working it will be fairly easy to fix the bug.

In `TableElement.jsx`:

[code]
I simulated on the client side a `table` with `partitions` and `partitionQuery` and the copy and paste is wo

[2021-05-06 11:02] EBoisseauSierra commented on #14052
Thanks @etr2460 for having had a deeper look.

I have uploaded [here](https://github.com/EBoisseauSierra/superset-tox38-logs/blob/master/superset.db) (:warning: 91MiB file) the SQLite db generated (in `/home/fedora/.superset/superset.db`) by the script detailed [above](https://github.com/apache/superset/issues/14052#issuecomment-828994879).

I'm afraid I won't be able to prioritise investigating t

[2021-05-06 11:31] EBoisseauSierra commented on #14052
I hadn't seen #13970 , what is a great initiative. I suppose that helps too!

[2021-05-06 11:47] michael-s-molina commented on #12672
@junlincc I'm on it!

[2021-05-06 15:36] eschutho commented on #13881
@yousoph should we take this or @amitmiran137 are you working on it?

[2021-05-06 15:58] davemulford opened #14504 "Superset dashboard fails to load for anonymous user"
Superset dashboard fails to load for an anonymous user (i.e. not logged in). This error does not happen when logged in with the admin user.

### Expected results

The dashboard loads and displays the charts I've created.

### Actual results

The browser window reports an _"Unexpected Error"_ and looking in the developer tools window, the console displays the following error:

[code]

#### Screensh

[2021-05-06 16:05] davemulford commented on #14504
Forgot to include the `Public` role permissions, so I've done that below.

[code]

[2021-05-06 16:48] qlands commented on #14226
Ups... Thanks, @srinify . Sorry, @robdiciuccio  I been swamped with work. I will test the fix asap.

[2021-05-06 17:11] graceguo-supercat commented on #13386
@michael-s-molina no one in airbnb was working on this. Thanks!

[2021-05-06 17:42] zuzana-vej commented on #12672
Thank you @michael-s-molina!

[2021-05-06 17:58] serenajiang commented on #14437
fixed

[2021-05-06 17:58] #14437 closed

[2021-05-06 17:59] amitmiran137 commented on #13881
We tried reproducing unsuccessfully

[2021-05-06 20:11] rosemarie-chiu commented on #14479
I found this is due to `DASHBOARD_NATIVE_FILTERS` feature flag. I only repo when that feature flag is on.

[2021-05-06 20:41] graceguo-supercat opened #14510 "[dashboard] No UI to edit dashboard description"
"dashboards" table has a "description" column, but there is no UI for user to update this column:

#### Screenshots

<img width="877" alt="Screen Shot 2021-05-06 at 1 17 35 PM" src="https://user-images.githubusercontent.com/27990562/117362344-fcc05c80-ae6f-11eb-8ff6-e5c1d84b729d.png">

This description information could be used by search feature, or other 3rd party search engine as dashboard metad

[2021-05-06 21:50] Lastiritas opened #14511 "WITH clause issues on SQL Lab"
There is an existing issue with spaces when writing SQL queries with the `WITH` clause.
It is easy to reproduce.

### Expected results

When making a query like the following without a space between `AS` and `(`. You should either get a more accurate error message or it should handle it behind the scenes.  With preference on handling it behind the scenes.
[code]

### Actual results

We currently g

[2021-05-07 04:22] brian-visikon commented on #7172
bump

[2021-05-07 05:41] rusackas commented on #12689
This is still possible if the label reaches a certain length, and the tooltip span suddenly appears next to it on hover. A little absolute positioning should fix this. I'll open a PR with my idea and see if it works...

[2021-05-07 07:18] samudurand opened #14517 "Docker tag and logging bug"
On Dockerhub, the "latest" tag doesn't match the version 1.1.0. When used it corresponds to a version 0.999.dev, which is not matching any tag on Dockerhub. That is not that bad since there is a version 1.1.0 available.
The real problem is that the images tagged with 1.1.0 and 1.0.1 do not show detailed errors when attempting to create a new database connection, which makes it very hard to debug a

[2021-05-07 07:26] insatomcat opened #14518 "Dremio does not support timestamp with microseconds precision"
Right now for almost any query in Dremio involving a timestamp, I get this error :
`Error: gRPC returned internal error, with message: SYSTEM ERROR: GandivaException: Invalid millis for timestamp value 2021-04-30 00:00:00.000000 SqlOperatorImpl FILTER Location 0:0:7 Fragment 0:0 [Error Id: 44890e01-0767-4c25-9564-1ca746914fae on pf9bdanode106.applispfref.sipfref.local:0] (org.apache.arrow.gandiva.

[2021-05-07 08:17] CaptainHoangLe commented on #9448
![image](https://user-images.githubusercontent.com/53038465/117419911-45971480-af47-11eb-8ff5-0d2c47a3e708.png)
How can i get function get_data_scope() in variable g of flask ? thank all

[2021-05-07 09:19] samudurand opened #14520 "Helm ExtraConfigs are not loaded"
The documentation mentions that extra configs can be added via Helm, especially to add data sources on startup.
[code]
But the config loaded in the container are not loaded by Superset.
To make sure of it , I put a badly formatted yaml in the file, but it didn't trigger any error in Superset startup.

### Expected results

Superset starts with pre-configured datasources/databases.

### Actual resu

[2021-05-07 09:20] insatomcat commented on #14518
Thanks ! just to let you know that I tried your patch and that it indeed solves the problem !
Hopefully it will make it to master and then to release soon :)

[2021-05-07 09:24] villebro commented on #14518
Thanks for the help testing it - I'm sure it will make it into master soon and Superset 1.2 (I added the label so it will be cherried in)

[2021-05-07 10:45] michael-s-molina commented on #12689
@rusackas Ok. Thanks. Don't forget to tag this PR to automatically close.

[2021-05-07 12:31] #14518 closed

[2021-05-07 12:55] srinify commented on #14459
hi @azadsagar are you using Docker or Docker Compose? These are very different things!

If you're running Docker images, you may need to make sure root user is set. For Docker Compose, as @nytai mentioned, it's set automatically.

[2021-05-07 12:56] srinify commented on #14415
@junlincc I wonder if this could be a good medium-complexity "first issue" for someone 🤔

[2021-05-07 12:57] srinify commented on #14457
Closing for now, as a helpful resource was provided.

If this didn't work @cadet354 please open a Github Discussion or post on Stack Overflow and tag "apache-superset" and "clickhouse".

[2021-05-07 12:57] #14457 closed

[2021-05-07 13:01] mayurnewase opened #14523 "[sqllab] sql editor is not accessible"
A clear and concise description of what the bug is.
When clicked on sqleditor blank page appears

### Expected results
Should open sql editor

### Actual results
For admin user
![image](https://user-images.githubusercontent.com/12967587/117452959-ff02e380-af61-11eb-8cf4-ccbbf7fcb598.png)

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

[2021-05-07 13:20] raceychan opened #14524 "a bug with security manager"
I am using the newest version 1.2 of superset,i download it via git clone.
recently i have been having a bug with security manager, it could happen anytime,but basically whenever i am doing something related to role control, i would be sent to an empty page says
{"errors": [{"message": "'SupersetSecurityManager' object has no attribute 'get_role_permissions'", "error_type": "GENERIC_BACKEND_ERROR"

[2021-05-07 13:25] #14523 closed

[2021-05-07 13:26] mayurnewase commented on #14524
this is due to fab was updated.
You may need to reinstall python dependencies.

[2021-05-07 13:31] raceychan commented on #14524
@mayurnewase
big thank for such a quick reply
i am using docker-compose, should i add something into the docker-compose COMMAND to re-install the python dependencies?
any help would be appreciated!

[2021-05-07 13:42] mayurnewase commented on #14511
This seems to be a small of part of bigger issue in sqlparse
https://github.com/andialbrecht/sqlparse/issues/615

[2021-05-07 14:04] mayurnewase commented on #14524
docker-compose down and up again does not work?

[2021-05-07 14:08] raceychan commented on #14524
sadly it does not,
one weird thing is that, this thing happens much more often when i am using docker-compose up rather than
docker-compose -f docker-compose-non-dev.yml up

[2021-05-07 14:37] mayurnewase commented on #14524
I tried commands from https://superset.apache.org/docs/installation/installing-superset-using-docker-compose
with non-dev compose,did not face any issue.

[2021-05-07 16:48] junlincc commented on #14024
@ktmud @amitmiran137 I think Jesse were working on this?

[2021-05-07 16:52] #13400 closed

[2021-05-07 17:02] amitmiran137 commented on #14024
We wanted but didn't get to it eventually
Would be happy if someone would

[2021-05-07 18:31] #14524 closed

[2021-05-07 22:27] amravazzi commented on #7364
+1.

I got multiple errors while loading the Superset through an iFrame in my application:

![image](https://user-images.githubusercontent.com/6233950/117514453-3e353280-af6a-11eb-9d42-d0efa797dfda.png)

[2021-05-07 22:38] #14405 closed

[2021-05-08 01:34] zuzana-vej commented on #13881
Yes, seems fixed now

[2021-05-08 01:34] #13881 closed

[2021-05-08 07:35] junlincc opened #14532 "[thumbnail]incorrect thumbnail is displayed until page refresh"
https://user-images.githubusercontent.com/67837651/117531028-3e96f300-af95-11eb-9f69-8ef9d0d8c4f0.mov

[2021-05-08 07:39] junlincc opened #14533 "[cosmetic]thumbnail padding"
add left padding to most dataviz except table viz
<img width="928" alt="Screen Shot 2021-05-08 at 12 33 37 AM" src="https://user-images.githubusercontent.com/67837651/117531054-6d14ce00-af95-11eb-99af-15ca7acfed18.png">
<img width="612" alt="Screen Shot 2021-05-08 at 12 33 20 AM" src="https://user-images.githubusercontent.com/67837651/117531055-6e45fb00-af95-11eb-98fe-2a3ef70b9e41.png">

add left

[2021-05-08 07:54] junlincc opened #14534 "[Funnel]bug and enhancement request"
1. Add ORDER BY to get the top values when user select a row limit, currently showing random values

<img width="456" alt="Screen Shot 2021-05-07 at 11 38 22 PM" src="https://user-images.githubusercontent.com/67837651/117531503-98002180-af97-11eb-9c66-7ecbe5597325.png">

2. proper treatment for null value, currently funnel doesn't show when there's a null value
<img width="1376" alt="Screen Shot 2

[2021-05-08 10:54] TechplexEngineer commented on #10711
Something went wrong on my first init. I found that deleting the volumes and retrying made all the difference. Using `docker-compose  down -v` turns out without the `-v` volumes persist.

[2021-05-08 12:27] fgomezotero commented on #10150
Hello @ukm21 did you solve de problem, I've the same issue.

I'm using superset version 1.1.0

I see how celery beat raise the jobs
`[2021-05-08 09:10:00,054: INFO/MainProcess] Scheduler: Sending due task cache-warmup-charts (cache-warmup)`

them in celery worker was catched
`[2021-05-08 08:59:59,786: INFO/MainProcess] Received task: cache-warmup[6eb71805-f8b8-4d2a-95dd-4d03396268b9]
[2021-05-08 0

[2021-05-09 03:56] xiezhongfu commented on #14534
The related discussion is https://github.com/apache-superset/superset-ui/pull/1006#discussion_r599332138
I misunderstood the discussion....   SHOULD add `orderby in SQL` to avoid random values

[2021-05-09 14:12] lanyusea opened #14537 "Question: how could I export everything from local into the docker"
I installed the superset by pip and there has been a lot of data: users/chars/dashboards.

now I docker-compose up the latest docker image in order to use some unreleased features, but I'm wondering how could I export all existing data from my local filesystem into the contianer.

there is the .superset/superset.db in my home folder from the one installed from `pip`, but I cannot find one inside t

[2021-05-09 16:28] pundirg commented on #7274
+1

[2021-05-10 01:37] yuvarajcbe opened #14538 "Deployed superset application- init container is not starting and init job is waiting state"
I have deployed a superset application in a 3 nodes K8s cluster and getting init container is a wait state.

error:

superset-8668985f58-zwdtw      0/1   Init:0/1  0     5m13s
superset-init-db-hnl28        0/1   Init:0/1  0     5m13s
superset-postgresql-0        1/1   Running  0     5m13s
superset-redis-master-0       1/1   Running  0     5m13s
superset-worker-7c7b4cd846-5m2mr   0/1   Init:0/1  0

[2021-05-10 06:52] exemplary-citizen commented on #14415
I'd be happy to take this on. We can use the same pattern that is in place for downloading CSVs https://github.com/apache/superset/blob/master/superset/views/base.py#L560 and adapt it to xml and xlsx by adding `XmlResponse` and `XlsxResponse` classes. Do you think this should get split up into two seprate PRs? one for each file type?

[2021-05-10 08:19] Riskatri opened #14542 "superset filter box"
can apache superset show month filters with order by months from january to december? because when I am make an filter by months, that always order by asc or desc
![image](https://user-images.githubusercontent.com/59104917/117628224-1bda2980-b1a3-11eb-8886-e8869c87b56b.png)

[2021-05-10 09:13] 0xBADBAC0N commented on #14392
bump :)

[2021-05-10 09:24] shikhnu opened #14543 "Password and Confirm Password missing while adding User in version 1.1.0"
Hi,

I am working with two different versions of the superset. One is 0.999.0dev and another 1.1.0. While working on RLS, in "Add User" I found some things missing in version 1.1.0 that was present in 0.999.0dev. The section where it was possible to add a password and confirm the password, is missing in version 1.1.0. I have attached screenshots for the same. I would like to know if it's the limit

[2021-05-10 09:34] javidov commented on #14524
Please consider the following :
1- cd to the superset directory
2-  docker exec -it <app_container_name> bash
3- pip install Flask-AppBuilder --upgrade
This should work .

[2021-05-10 10:29] michael-s-molina commented on #13978
@junlincc After careful investigation, we'll need some API changes to fix the re-render problem. In talks with @rusackas we decided to postpone the fix.

[2021-05-10 10:48] EBoisseauSierra opened #14545 "Improvement suggestions for the `/welcome` page"
## Issue

As a new user to Superset, I have been confused by some of the layout, behaviours, terminology, or icons used on the `/welcome` landing page.

## Suggestions

1. Dashboard icon:
  * issue: I've been confused by the “dashboard” icon (in the “Recent” tiles) looks — to me — more like a gauge (chart).
  * suggestion: what about using [an icon like this](https://thenounproject.com/search/?q=d

[2021-05-10 12:43] #13472 closed

[2021-05-10 14:08] #14534 closed

[2021-05-10 14:56] EBoisseauSierra opened #14548 "Improvement suggestions for the Explore mode"
## Issue

As a new user to Superset, I have been confused by the default behaviour in the Explore mode.

## Suggestions

1. _Time_ section
  * issue: By default, only “last week”'s data are used. This filter is applied silently: a new user might not immediately notice that “Time range: Last week” means some data are not considered. And this can be quite puzzling if one deals with forecast (i.e. fu

[2021-05-10 15:08] EBoisseauSierra opened #14549 "Improvement suggestions for the visualization type selector"
## Issue

As a new user to Superset, I have been a bit confused when selecting a visualization type.

## Suggestions
1. Be automagical!
  * issue: It is a bit confusing to have to select between two (or more) types of line charts — especially as there are little information available about how to decide when having to chose about it. Plus one may not know in advance which one to use, or one may ch

[2021-05-10 15:23] EBoisseauSierra opened #14550 "Improvement suggestions for the “Edit Dataset” mode"
## Issue

As a keen user of Superset, I'd love to make the experience even better!

## Suggestions

1. Disable formatting timestamp for non-time columns
  * Issue: When customising a non-timestamp column (e.g. Text, or Integer), I am able to specify a Datetime format for this column… yet this doesn't make sense really.
  * Suggestion: Display the “Datetime format” input box for Timestamp-like (or

[2021-05-10 16:36] Steejay opened #14552 "[User feedback] Tell me about your experience using the Superset home screen."
Hello Superset community! I'm a Product Designer that works on the design behind some of the features in Superset.

**I'd love to learn about your experience using the Superset home screen**.

Home screen experience without thumbnails

![image (31)](https://user-images.githubusercontent.com/60786102/117692746-2d570d80-b172-11eb-9435-87a32d194eee.png)

Home screen experience with thumbnails

![imag

[2021-05-10 17:38] geido opened #14553 "[Dashboard] Menu is showing at wrong position and disappears when scrolling"
When editing a dashboard, the top-right menu shows up in the wrong position. When scrolling the menu disappears.

### Expected results

The menu should show at the right position and scroll together with the page.

### Actual results

The menu does not scroll and does not appear when the page is already scrolled.

#### Screenshots

<img width="1678" alt="Screen Shot 2021-05-10 at 20 35 56" src="ht

[2021-05-10 17:38] geido commented on #14553
@rusackas @junlincc

[2021-05-10 17:42] felipekbca commented on #14532
Try disable Flag CLIENT_CACHE in your superset_config.py.

[code]

or

[code]

[2021-05-10 17:52] geido opened #14554 "[Dashboard] The left side actions of a row are not showing when editing a dashboard"
When editing a dashboard the left side actions of a row disappeared.

### Expected results

The left side actions of a row should appear on hover

### Actual results

The left side actions do not appear

<img width="1676" alt="Screen Shot 2021-05-10 at 20 40 25" src="https://user-images.githubusercontent.com/60598000/117701627-22cb6100-b1d0-11eb-85d9-eceeab2c73b6.png">

#### How to reproduce the b

[2021-05-10 17:52] geido commented on #14554
@rusackas @junlincc

[2021-05-10 18:10] geido opened #14555 "[Dashboard] The popover menu does not show when selecting a text component"
When editing a dashboard, the popover menu for text-based components is not showing up

### Expected results

When editing a dashboard and selecting a text component, the popover menu should show up

### Actual results

It does not show up

#### Screenshots

<img width="831" alt="Screen Shot 2021-05-10 at 21 08 15" src="https://user-images.githubusercontent.com/60598000/117704859-04676480-b1d4-11e

[2021-05-10 18:10] geido commented on #14555
@junlincc @rusackas

[2021-05-10 20:03] #12707 closed

[2021-05-10 20:14] junlincc commented on #14555
thanks for reporting!
looks like edit menu is missing in multiple places
expected behavior
<img width="1789" alt="Screen Shot 2021-05-10 at 1 13 37 PM" src="https://user-images.githubusercontent.com/67837651/117718919-a0bc4780-b191-11eb-9b03-3a8b0d14561e.png">

[2021-05-10 20:39] junlincc commented on #14554
Thank you for reporting! this is very valuable. :)

[2021-05-10 21:23] junlincc commented on #14552
@srinify let's including this user research in our next news letter if it's not too late? 🙏

[2021-05-10 21:30] #14545 closed

[2021-05-10 22:10] andrewscarani commented on #14472
Please keep deck.gl and make it more stable!

[2021-05-10 22:13] andrewscarani commented on #14472
Also, it would be great to consolidate all time-series chart functionality into a single chart type. It's so confusing having to select different versions rather than just select "time-series" and allow you to pick datasets for each series and have the full capabilities around period-over-period, forecasting, multiple Y-axises, etc. It would be great to get it to a place where it works more like T

[2021-05-10 22:20] junlincc commented on #14542
To do: show month select option in order in native filter

[2021-05-10 22:20] #14542 closed

[2021-05-10 22:22] junlincc commented on #14549
@EBoisseauSierra do you mind comment this in SIP-67? thanks

[2021-05-10 22:22] #14549 closed

[2021-05-11 05:16] junlincc commented on #14474
Issue
As a new user to Superset, I have been a bit confused when selecting a visualization type.

Suggestions
Be automagical!
issue: It is a bit confusing to have to select between two (or more) types of line charts — especially as there are little information available about how to decide when having to chose about it. Plus one may not know in advance which one to use, or one may change their min

[2021-05-11 06:19] proteeti13 opened #14562 "ImportError: cannot import name '_ColumnEntity' from 'sqlalchemy.orm.query' in Ubuntu 20.04"
I am trying to install apache superset on ubuntu 20.04 following [these instructions](https://superset.apache.org/docs/installation/installing-superset-from-scratch) (from scratch). While executing the commands
`pip install apache-superset` & `superset db upgrade`, It gives me the following error:

`bad interpreter: No such file or directory`

So I used `sudo superset db upgrade`, then it is givin

[2021-05-11 07:09] trepmag commented on #14070
Fix into 6875a1a (#14287)...

[2021-05-11 07:09] #14070 closed

[2021-05-11 07:31] unreal-altran commented on #13591
@junlincc , @ronaldvanrij (vote +1)

In the standard filterboxes it is possible to enable the search on very voluminous comboboxes (> 10000 elements) as per the attached image. Is it possible to replicate this functionality in phase 2 of the native filter and cascade filter? Today, if the filter dataset exceeds 10,000 elements, it is a proboem. I have also not found a configuration that allows to

[2021-05-11 08:07] villebro commented on #13924
I was able to repro, and noticed it affects both legacy and V1 charts. Here the weekly time grain should also be showing up on the table time col (which it does in Explore):
![image](https://user-images.githubusercontent.com/33317356/117781102-f0aa1580-b248-11eb-966f-eca0ff63fddb.png)

[2021-05-11 12:36] ravikishorer opened #14563 "duckdb as DataSource"
**Is your feature request related to a problem? Please describe.**
To be able to connect to Duckdb as datasource.

**Describe the solution you'd like**
To be able to connect to Duckdb just like how easy it is to connect to sqlite currently.

**Describe alternatives you've considered**
Sqlite is an alternative. But as Duckdb is more performant for analytical use cases, it will be a great addition.

[2021-05-11 13:03] srinify commented on #14563
hi @ravikishorer this is cool! Do you know how mature the sqlalchemy dialect is for duckdb? This thread seems to imply its still very early: https://github.com/duckdb/duckdb/issues/305

I should have some time next week to play with DuckDb <> Superset

[2021-05-11 13:56] dpgaspar commented on #14330
`Failed at generating thumbnail [Errno 13] Permission denied: 'geckodriver.log'`

[2021-05-11 14:25] dusatvoj commented on #14330
What should be configured in `superset_config.py` or another config? I want to log everything to stdout / stderr (to journal).

[2021-05-11 14:58] geido commented on #14555
For clarity, what this issue is reporting specifically is the missing popover menu for text components. I have forced it to show it in the screenshot below. It seems the position is messed up

<img width="710" alt="Screen Shot 2021-05-10 at 21 07 35" src="https://user-images.githubusercontent.com/60598000/117837499-2b7c6f80-b282-11eb-9d3a-35f78a67f37c.png">

This issue instead #14554 is reporting

[2021-05-11 15:33] rusackas commented on #14308
@suddjian this may relate to other work you're looking into regarding plugin metadata options

[2021-05-11 18:07] junlincc opened #14570 "[cosmetic]multiple cosmetic issues in Explore"
1.  spacing in between is gone..
<img width="539" alt="Screen Shot 2021-05-11 at 11 00 22 AM" src="https://user-images.githubusercontent.com/67837651/117863516-b6407880-b248-11eb-9b33-b8df5bb4b709.png">
2. Autocomplete filter checkbox moved to the next line...
<img width="424" alt="Screen Shot 2021-05-11 at 10 58 59 AM" src="https://user-images.githubusercontent.com/67837651/117863586-c8bab200-b24

[2021-05-11 18:14] junlincc opened #14571 "[cosmetic] filter tooltip missing selected values"
<img width="828" alt="Screen Shot 2021-05-11 at 11 12 53 AM" src="https://user-images.githubusercontent.com/67837651/117864886-27ccf680-b24a-11eb-910c-22cd6df3fae3.png">

ad hoc Filter tooltip is showing incomplete selected value

[2021-05-11 18:38] #14553 closed

[2021-05-11 19:29] GregOnEvo opened #14574 "Keyboard navigation in Explore control panel"
Keyboard navigation in the control panel of the Explore view is difficult.

### Expected results

You should be able to move focus between adjacent controls in the control panel with a single Tab key press
and visually distinguish what element has focus. You should be able to interact with controls the keyboard
(Enter or space bar for button-like things).

### Actual results

Several tab key press

[2021-05-11 19:53] srinify commented on #14452
Hi @dominicvivek06 neo4j support would be great! But Superset expects a sqlalchemy dialect + python db-api 2.0 driver. Based on my repeated research here, it doesn't seem like Neo4j has that. Also, it looks like Neo4J has a different flavor of SQL entirely!

You can read more here: https://preset.io/blog/building-database-connector/

[2021-05-11 20:27] junlincc commented on #14473
**Issue**
As a new user to Superset, I have been confused by the default behaviour in the Explore mode.

### Suggestions
**Time section**
issue: By default, only “last week”'s data are used. This filter is applied silently: a new user might not immediately notice that “Time range: Last week” means some data are not considered. And this can be quite puzzling if one deals with forecast (i.e. future)

[2021-05-11 21:50] rusackas commented on #13492
Effectively resolved by #14184

[2021-05-11 21:50] #13492 closed

[2021-05-12 01:40] rusackas commented on #14570
Can't seem to repro #1. Looking into the others...

[2021-05-12 02:07] rusackas commented on #14570
Not seeing #2 either, in Chrome... starting to wonder why I'm seeing something different 😜

I definitely see #3 though... on the case.

[2021-05-12 03:48] ravikishorer commented on #14563
@srinify I'm not fully aware. Based on the documentation, it is based on postgres dialect and in the issue you have attached, someone has implemented a very basic engine wrapping postgres one - https://pypi.org/project/duckdb-engine/

[2021-05-12 04:57] pkdotson commented on #14554
pr is out: https://github.com/apache/superset/pull/14587

[2021-05-12 04:59] rusackas commented on #14570
PR for #3 open: #14585 - if that's enough to close this issue (since I can't reproduce the others) let me know.

[2021-05-12 07:28] vinitpradhn18 commented on #11507
Did anyone figure out how to setup Alerts & Reports, when running behind a SSO? Without SSO, with default Superset login, it seems to be working fine. With SSO, Selenium times out. Getting the following error -

`Selenium timed out requesting url http://superset:8088/superset/dashboard/81`
`Report state: Report Schedule execution failed when generating a screenshot`

[2021-05-12 08:23] jessicaxyl commented on #13591
Suggestion: Allow the dashboard native filter to be closed/opened by default when you first load the dashboard. Currently it is opened every time you load or refresh the dashboard, and it is quite tedious to keep on closing it

[2021-05-12 08:23] amal-v commented on #14520
I am also facing the same issue. Trying to findout whether we need to mention this file in any other configuration.

[2021-05-12 10:09] anadue commented on #14472
We see deck.gl as a critical differentiator for superset vs other solutions. Please keep it and make it an integral part of the solution. I expect deck.gl usage will increase as analytics in general takes more location intelligence into account. Not many other solutions have a proper geospatial component, please consider deck.gl to be an important future component.

[2021-05-12 10:36] krsnik93 opened #14589 "Flask g.user is None"
I ran `superset export-dashboards` on a fresh install of latest master. I see the same error for `superset export-datasources`.

### Expected results

Expect command to export resources.

### Actual results

[code]

#### How to reproduce the bug

1. Install Superset latest master in editable mode
2. Run `superset export-dashboards`

### Environment

(please complete the following information):

-

[2021-05-12 11:40] zhaoyongjie commented on #14589
Hi @krsnik93, do you run `superset init` before doing this?

[2021-05-12 11:43] krsnik93 commented on #14589
@zhaoyongjie yes + `superset db upgrade`

[2021-05-12 12:09] geido commented on #14555
@pkdotson I am going to tackle this one

[2021-05-12 13:34] bwgroff commented on #519
So I had a hard time figuring this out too. It's confusing but there are two places that "sort" settings exist in the chart editor. First, in the "Data" view at the bottom. That's not what you want! You want to go to "Customize" and that's where you can find the check box for sort bars. Take a look:
![image](https://user-images.githubusercontent.com/5002606/117983675-2ca2b080-b305-11eb-8db5-f28a43

[2021-05-12 13:39] raceychan commented on #14524
thanks for the reply, would try it out!

[2021-05-12 13:53] raceychan commented on #14524
{"errors": [{"message": "'SupersetSecurityManager' object has no attribute 'get_role_permissions'", "error_type": "GENERIC_BACKEND_ERROR", "level": "error", "extra": {"issue_codes": [{"code": 1011, "message": "Issue 1011 - Superset encountered an unexpected error."}]}}]}

sadly it comes back with the same error:
{"errors": [{"message": "'SupersetSecurityManager' object has no attribute 'get_role_p

[2021-05-12 13:57] raceychan commented on #14524
yet another thing i feel SUPER-WEIRD about is that , even if i copy paste the whole docker-compose-nondev.ymp thing to docker-compose.yml, and then start the docker containers using : docker-compose up, i would still get to the same error!

[2021-05-12 14:24] bwgroff commented on #13959
I've looked all over and the only controls for transparency I can find are the ones governing the rectangular chart overlay, nothing about the box containing the annotation description.

cc @junlincc @razzius

[2021-05-12 16:24] jaanli opened #14591 "Unclear how to use SQL Lab to create metrics and virtual calculated columns"
I am a first-time user of Superset. I followed the documentation and used SQL Lab to create a dataset.

However, when I try to create a virtual calculated column or a metric based on a SQL query, it is very difficult to know how to do this in SQL Lab.

If I click 'open in SQL Lab' then it will open the SQL Lab editor with the original SQL query used to generate the dataset.

For example, one of th

[2021-05-12 16:42] junlincc commented on #14570
<img width="568" alt="Screen Shot 2021-05-12 at 9 32 02 AM" src="https://user-images.githubusercontent.com/67837651/118012820-4db7d100-b306-11eb-920f-a56b0ced8f7f.png">

@pkdotson can you add a few px in between? thanks 😊

[2021-05-12 16:54] mistercrunch commented on #14548
About "Last week" default filter the original intent was to be a bit defensive against full scan, but I do feel like it's falling short on this intention, especially as it may not hit an indexed or partitioned field. Some ideas:
- to prevent a "regression" or undesired change of behavior, we could have a "default time filter" global environment configuration, set the default to "No filter"
- datas

[2021-05-12 17:04] nytai commented on #14548
Can we make the default time filter smarter? Sending a preflight query to figure out the last timestamp in the dataset and then do a - 1 week from there or something reasonable. The time filter often ends up filtering out all data and it takes the user a while to figure out why the chart is blank despite all the form fields being populated

[2021-05-12 19:53] yousoph opened #14592 "Unable to change database from Edit Dataset modal"
When using the Edit Dataset modal to change a dataset to a table in a different database, the changes do not get saved.

#### How to reproduce the bug

1. Go to the Datasets page
2. Click the edit icon on an existing Physical dataset
3. In the Edit Dataset modal, click the lock icon to make changes to the dataset
4. Select a different database from the current database. Then select a schema/table

[2021-05-12 22:33] cooley-pe opened #14594 "Metrics sidebar isn't sorts by metric name, even if the label is what's visible in the sidebar."
## Screenshot

![Screen Shot 2021-05-12 at 3 26 57 PM](https://user-images.githubusercontent.com/64038793/118051839-8c657f80-b336-11eb-866c-d979ba829744.png)

![Screen Shot 2021-05-12 at 3 23 24 PM](https://user-images.githubusercontent.com/64038793/118051853-925b6080-b336-11eb-96f4-d71d0f5c53f3.png)

## Description

When a label is a applied to a saved dataset metric, the metrics sidebar is sorte

[2021-05-12 22:41] cooley-pe opened #14595 "Allow override of label name for saved metrics"
**Is your feature request related to a problem? Please describe.**
Being able to save metrics for a dataset is awesome! But sometimes I want to tweak the label for a particular context. e.g. `user_count` -> `active_user_count`.

**Describe the solution you'd like**
You can already override metric names for **Simple** or **Custom SQL** metrics. It would be great if you could do that for **Saved** m

[2021-05-12 23:13] john-bodley commented on #13954
@bkyryliuk @kamalkeshavani-aiinside @nytai: @etr2460, @graceguo-supercat and myself discussed this in more detail and we feel at Airbnb we can close the current security vulnerability with custom overrides in our security manager. The TL;DR is we would perform a check on behalf of the members of the email or Slack group and deny access to the chart if any member does not have access. We'll leverag

[2021-05-12 23:32] mistercrunch commented on #14548
Ideally we'd know things like:
- what's the main/most important datetime column here? (first one in the dataset flagged as temporal is likely to be good but not guaranteed to be that most important time column)
- what's the latest data point for that column? (depending on the indexing/partionning, figuring that out may require a full table scan and take some time, we could read the index definitio

[2021-05-13 00:14] junlincc opened #14596 "[Explore]scroll bar overlay in edit dataset modal"
<img width="1391" alt="Screen Shot 2021-05-12 at 5 11 28 PM" src="https://user-images.githubusercontent.com/67837651/118059339-2cc2a080-b345-11eb-8389-fe84b1c98829.png">

[2021-05-13 00:48] pkdotson commented on #14570
pr is out for the explore err message: https://github.com/apache/superset/pull/14597

[2021-05-13 02:04] cccs-jc commented on #14473
Just wanted to up-vote this one
suggestion: Set default query to SELECT * (possibly appending a LIMIT 100) and set the table in “Raw records” mode. Indeed, when I click on a dataset, I expect to see what's inside, raw — not an aggregate.

[2021-05-13 02:16] junlincc opened #14598 "[Explore]missing editor input frame in Metrics popover"
missing editor input frame in Metrics popover

[2021-05-13 03:33] kamalkeshavani-aiinside commented on #13543
Found 2 more related issues:

4. The column header for time-series column type Sparkline gets cluttered with the data. This happens only in dashboard view.
![image](https://user-images.githubusercontent.com/74634977/118073455-d1e18580-b3e6-11eb-84d9-58c15d499e4e.png)

5. In some cases, the Y-axis value is partially hidden due to insufficient margin on the right side.
![image](https://user-images.g

[2021-05-13 04:04] kamalkeshavani-aiinside commented on #12066
@junlincc Please add appropriate tag to this issue.
I can reproduce this issue still in v1.1.0 and master.

[2021-05-13 04:37] jinghua-qa opened #14599 "[setting] edges were cutting on settings menu"
## Screenshot

<img width="1773" alt="Screen Shot 2021-05-12 at 9 33 49 PM" src="https://user-images.githubusercontent.com/81597121/118078008-1e3ab000-b36a-11eb-955b-94fcd3c89956.png">

## Description

Right edge and bottom of the settings menu are cut

[2021-05-13 05:31] jinghua-qa opened #14600 "[SQL lab] 3 dot menu in SQL editor"
## Screenshot

<img width="1358" alt="Screen Shot 2021-05-12 at 1 39 34 PM" src="https://user-images.githubusercontent.com/81597121/118082044-5a254380-b371-11eb-9b06-65fbe6af43f1.png">

## Description
3 dot menu dislocated

[2021-05-13 05:31] junlincc commented on #14599
Right edge is looking ok on master, the bottom does need some paddddddding. 🤦🏾‍♀️

[2021-05-13 05:53] liuyong888 opened #14601 "1. Support for MongoDB？2. Can cross-querying of data sets be supported, just like the SQL JOIN statement."
**Is your feature request related to a problem? Please describe.**
1. I need to connect to the MongoDB database, I did not see the support for MongoDB.
2. Actually, I record a lot of data on MongoDB, but there are also related data on MySql. I want to get a piece of data across two different databases.

**Describe the solution you'd like**
My idea is that I can create two data sets of two kinds of

[2021-05-13 06:04] junlincc commented on #14600
lol... that's a regression from menu refractoring... i think

@rusackas

[2021-05-13 08:33] jinghua-qa opened #14603 "[explore] grouped bar chart can not be saved"
after changing bar chart to be grouped, tried save the change, but the bar chart still showed in stacked.

### Expected results

grouped bar chart can be saved.

### Actual results

grouped bar chart can not be saved.

#### How to reproduce the bug

repo steps:
1, open a bar chart (i used Total Sales per Market)
2, click on the Group option in the chart
3, save the changes

https://user-images.git

[2021-05-13 08:37] jinghua-qa opened #14604 "[cosmetic] 'Apply' button of the filter box seems cut"
## Screenshot

<img width="1791" alt="Screen Shot 2021-05-12 at 1 58 00 PM" src="https://user-images.githubusercontent.com/81597121/118100835-c4e37880-b38b-11eb-8667-952189932350.png">

[2021-05-13 08:42] jinghua-qa opened #14605 "[cosmetic] deck.gl scatterplot explore panel have some elements overlap"
## Screenshot

<img width="1789" alt="Screen Shot 2021-05-12 at 3 59 55 PM" src="https://user-images.githubusercontent.com/81597121/118101258-3fac9380-b38c-11eb-9841-6de2cce3ee5e.png">

[2021-05-13 08:44] jinghua-qa opened #14606 "[cosmetic] deck.gl arc chart has elements overlapped in explore panel"
## Screenshot
<img width="1792" alt="Screen Shot 2021-05-12 at 3 45 26 PM" src="https://user-images.githubusercontent.com/81597121/118101725-c19cbc80-b38c-11eb-8139-5ec18cf5020a.png">

[2021-05-13 08:46] geido commented on #14555
@junlincc @rusackas this now looks resolved on master

https://www.awesomescreenshot.com/video/3727489?key=956839d019ff263f990addb8a6f32b07

[2021-05-13 08:47] jinghua-qa opened #14607 "[cosmetic] deck.gl grid chart have elements overlapped in explore panel"
## Screenshot
<img width="323" alt="Screen Shot 2021-05-12 at 3 50 38 PM" src="https://user-images.githubusercontent.com/81597121/118102081-31ab4280-b38d-11eb-9083-d3196d8a22e0.png">

[2021-05-13 08:49] geido commented on #14598
I am tackling this one @rusackas @junlincc

[2021-05-13 08:58] jinghua-qa opened #14608 "[explore] multi-line chart disappear when unselect the markers in CUSTOMIZE"
when unselect the markers in multi-line chart, the chart disappear

### Expected results

marker will disappear by unselect the marker option in customer

### Actual results

the chart with the marker disappear

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. open a multi line chart in explore
2. go to 'CUSTOMIZE'
3. select 'show ma

[2021-05-13 09:10] jinghua-qa opened #14610 "[search bar] Delete search keyword can not clear search result in Dashboard list"
Delete search keyword can not clear search result in Dashboard list, user need to input search word then click 'x' to clear search result

### Expected results

delete search word can clear search result

### Actual results

delete search word can not clear search result, only click 'x' to remove search word can clear

#### Screenshots

https://user-images.githubusercontent.com/81597121/118104435-

[2021-05-13 09:18] geido commented on #14571
I am having a look at this

[2021-05-13 09:19] jinghua-qa opened #14611 "[share chart] share chart email message is not correct"
When user share chart in dashboard, the email message is not correct.  See screenshot

### Expected results

share email show correct message with share chart information

### Actual results
share email message is not correct

#### Screenshots

<img width="1756" alt="Screen Shot 2021-05-11 at 8 21 38 PM" src="https://user-images.githubusercontent.com/81597121/118105660-82bd3580-b391-11eb-8c14-1fc1

[2021-05-13 09:22] EBoisseauSierra commented on #14548
You are right that mileages may vary, and sending a full `SELECT *` without any filter (other than [the “last resort” ones](https://github.com/apache/superset/blob/3f6bd1e4a4498de765ce0ebd4c7700f3bdbfe0bb/superset/config.py#L125-L126)) isn't ideal! (Plus my suggestions don't take backward compatibility into consideration)
But as you mention, the “Last week” default isn't perfect, either because of

[2021-05-13 09:24] jinghua-qa opened #14612 "[cosmetic] 3 dot menu of the chart in dashboard dislocated"
## Screenshot
<img width="576" alt="Screen Shot 2021-05-11 at 8 24 31 PM" src="https://user-images.githubusercontent.com/81597121/118106323-57871600-b392-11eb-8f1b-626931c205ec.png">

[2021-05-13 09:31] jinghua-qa opened #14613 "[cosmetic] 3 dot menu in dashboard dislocated"
3 dot menu in dashboard dislocated
## Screenshot
<img width="1786" alt="Screen Shot 2021-05-13 at 2 29 24 AM" src="https://user-images.githubusercontent.com/81597121/118107077-3115aa80-b393-11eb-96a5-806b0c4bd7b9.png">

[2021-05-13 09:35] jinghua-qa opened #14614 "[cosmetic][sql lab] tooltip of table title dislocated"
## Screenshot
<img width="1789" alt="Screen Shot 2021-05-12 at 9 46 53 PM" src="https://user-images.githubusercontent.com/81597121/118107612-d3ce2900-b393-11eb-8fd6-f9ff98f2e171.png">

[2021-05-13 09:46] jinghua-qa opened #14615 "[SQL lab] error message shown when clicking copy on query review"
error message shown when clicking copy on query review in save query

### Expected results

able to copy

### Actual results

error message 'your browser does not support copying'

#### Screenshots

<img width="1783" alt="Screen Shot 2021-05-12 at 10 38 45 PM" src="https://user-images.githubusercontent.com/81597121/118108578-03c9fc00-b395-11eb-888e-c79243f6ecf2.png">

#### How to reproduce the bug

[2021-05-13 09:50] jinghua-qa opened #14616 "[cosmetic][Alerts & Reports] Submenu of Alert and Report execution log is off"
## Screenshot
Alerts
<img width="1786" alt="Screen Shot 2021-05-13 at 1 02 06 AM" src="https://user-images.githubusercontent.com/81597121/118109215-bef29500-b395-11eb-89ff-2bf5b7dbd35d.png">

Reports
<img width="1792" alt="Screen Shot 2021-05-13 at 1 08 53 AM" src="https://user-images.githubusercontent.com/81597121/118109496-2577b300-b396-11eb-84c3-a5856da13eb8.png">
## Description

Submenu of the

[2021-05-13 09:56] jinghua-qa opened #14617 "[cosmetic] Submenu on Annotation page is off"
## Screenshot
<img width="1792" alt="Screen Shot 2021-05-12 at 8 45 27 PM" src="https://user-images.githubusercontent.com/81597121/118109883-974ffc80-b396-11eb-923f-713ba67b7bed.png">

## Description
Submenu on Annotation menu is off

repo:
1, go to Annotation page in Annotation layer, look for submenu

[2021-05-13 10:11] geido commented on #14600
I am having a look at this

[2021-05-13 10:23] geido commented on #14600
@junlincc this issue looks resolved in master

<img width="1396" alt="Screen Shot 2021-05-13 at 13 22 39" src="https://user-images.githubusercontent.com/60598000/118112955-5aafef80-b3ee-11eb-8ab3-f4e8ac0226fc.png">

[2021-05-13 10:47] geido commented on #12375
I am having a look at this

[2021-05-13 10:52] zhouyao1994 commented on #14614
looks gread

[2021-05-13 10:57] geido commented on #12375
@junlincc @ktmud can't reproduce this on master. The custom name of the metric is correctly shown. Is there any other place where the custom name should be propagated?

<img width="1052" alt="Screen Shot 2021-05-13 at 13 55 11" src="https://user-images.githubusercontent.com/60598000/118116386-e461bc00-b3f2-11eb-917d-d5f15f6b0489.png">

[2021-05-13 11:01] geido commented on #12364
I'll have a look at this

[2021-05-13 12:20] himanshugarg574 opened #14619 "Global Async Queries with Redis Sentinel"
**Is your feature request related to a problem? Please describe.**
We want to use Redis sentinel with Global async query feature. Currently this feature only supports standalone redis instance which then becomes single point of failure.

**Describe the solution you'd like**
We can either pass RedisSentinelCache/RedisCache instance to config or can have additional parameters for supporting sentinel

[2021-05-13 13:11] stefano-cherchi commented on #14520
I've also been struggling with the same issue for two days now.

Some custom configurations provided through `--values <filename>` are applied, some others are completely ignored. E.g:

[code]

or

[code]

are applied, while `postgresHost:`, `extraEnv:`, `extraSecretEnv:`, and others never make it to the env variables passed to the pods ( `$DB_HOST`, `$DB_USER`, `$REDIS_HOST`, etc).

[2021-05-13 14:54] EBoisseauSierra opened #14622 "User Input acquisition through dashboard"
## Issue

As a dashboard designer, I want users to input parameters to increase dashboard interactivity.

## Wished for solution

I would like to be able to retrieve parameters passed by a dashboard user in the following form:

* Number input
  _Example:_ Define the initial offset to pass to a cumulative-sum graph.
* Slider
  _Example:_ Let the user play around forecast's interval confidence
* Tog

[2021-05-13 15:46] dba1307 opened #14623 "Unable to send email report , getting "535, b'5.7.0 authentication failed'""
Hi Guys,
I am running SuperSet v1.1.0 on docker compose and it is running fine except the reporting and alerting. I have try schedule the report but I am getting this msg "535, b'5.7.0 authentication failed'". I have check the SMTP setting on my server and It doesn't require any login id and password, so I have remove the parameter from the config as well. Can anyone please let me know how I can f

[2021-05-13 17:03] #14571 closed

[2021-05-13 18:15] octonary commented on #14377
Just following up to see if anyone else has ran into this and knows of a fix or workaround.

[2021-05-13 19:34] junlincc commented on #14600
Thank you @geido i believe this solved by your PR. https://github.com/apache/superset/pull/14566

[2021-05-13 19:34] #14600 closed

[2021-05-13 19:35] junlincc commented on #14613
https://github.com/apache/superset/pull/14566 resolved in master

[2021-05-13 19:35] #14613 closed

[2021-05-13 19:39] junlincc commented on #14614
lol......
@jinghua-qa can you validate issues on master when filing a bug. they might have been resolved.....

[2021-05-13 19:53] #12672 closed

[2021-05-13 20:58] suddjian commented on #14510
To clarify, does anyone use the description for these sorts of features currently? Or is this more of a feature suggestion?

The point about extra metadata is a good one to keep in mind, but until a feature is implemented that uses dashboard descriptions, IMO it is probably best left out of the UI.

[2021-05-13 21:09] nytai commented on #14510
A description column could be useful for storing metadata that would surface in search results, however that seems like a workaround for a missing feature such as search tags

[2021-05-13 21:21] jinghua-qa commented on #14614
This issue persist in master

[2021-05-13 22:18] suddjian commented on #14555
Agreed. Closing this.

[2021-05-13 22:18] #14555 closed

[2021-05-13 22:22] suddjian commented on #14570
I am able to repro 1 and 2, will fix

[2021-05-13 22:32] #14623 closed

[2021-05-13 23:18] jeverling opened #14629 "Wrong filename mentioned in INSTALL.md"
`INSTALL.md` mentions `Dockerfile.from_tarball`, but it's actually `Dockerfile.from_local_tarball`

[2021-05-14 01:12] pkdotson commented on #14617
thanks for reporting this

[2021-05-14 01:32] pkdotson commented on #14616
pr is out: https://github.com/apache/superset/pull/14631

[2021-05-14 01:32] pkdotson commented on #14617
pr is out: https://github.com/apache/superset/pull/14631

[2021-05-14 02:31] john-bodley opened #14632 "Add "Explore in SQL Lab" action on the dataset CRUD page"
**Is your feature request related to a problem? Please describe.**

After uploading a CSV file one is directed to the `tablemodelview` page which includes a set of datasets, i.e.,

<img width="1350" alt="Screen Shot 2021-05-14 at 2 25 04 PM" src="https://user-images.githubusercontent.com/4567245/118211596-7683c600-b4c0-11eb-8903-0da9632d00ab.png">

I sense there would be value in adding an "Explor

[2021-05-14 03:59] slim-patchy commented on #13930
Turned out PartiQL doesn't have a Python implementation yet, so am working on that at the moment.

[2021-05-14 04:17] zufolo441 commented on #14504
We have this problem too. there is not anyone in the log.

<img width="592" alt="Schermata 2021-05-14 alle 06 16 22" src="https://user-images.githubusercontent.com/45826835/118220455-09e6d800-b47c-11eb-8101-d434f19d7521.png">

[2021-05-14 07:53] Phuc0077 opened #14639 "Show total in Pivot chart but it's not sum. It's max"
Hi, I has just learn Superset apache and I has one trouble
In Pivot Chart option, I chose:
- Aggregation Function: Sum
- Check Show Total
But in row All and column All are Max, not Sum

Please help me. Thanks a lots.

[2021-05-14 08:09] EBoisseauSierra commented on #14622
Note that I am aware that this feature request isn't a minor addition to Superset, and that even in itself, some of the features (e.g. logic to control dashboard content) are more complex/long term ambitions than others (e.g. use a number input to define `LIMIT <x>` in a query).

[2021-05-14 09:12] zufolo441 commented on #14296
me too.... with git version as of today. in 1.0.1 it was working.
![Screenshot_20210514_111202](https://user-images.githubusercontent.com/45826835/118249019-3bc06480-b4a5-11eb-8e5f-0e6c31af54d4.png)

[2021-05-14 10:19] MilenaLee commented on #14504
same here on Version: 0.999.0dev
![image](https://user-images.githubusercontent.com/19401376/118257012-1a816780-b4e9-11eb-9953-49b87c231ab8.png)

[2021-05-14 11:49] oBoMBaYo commented on #14623
@dba1307 I'm facing the same issue. How to solve it?

[2021-05-14 12:05] dba1307 commented on #14623
In my config only EMAIL_REPORTS_USER = '<username>' was missing after adding this parameter its working for me.

[2021-05-14 12:22] zufolo441 commented on #14442
Here too. Version as of today.
![Screenshot_20210514_141854](https://user-images.githubusercontent.com/45826835/118270051-ba2a0000-b4bf-11eb-96dc-fda045289035.png)

[2021-05-14 13:03] vineetalagh opened #14642 "Connect to AWS Elasticsearch instance"
A clear and concise description of what the bug is.

I am trying to create a new database connection to AWS Elasticsearch instance. Following the documentation, I tried the connection URL :
elasticsearch+host:443

 host is  AWS ES Endpoint.

No user password is there for the AWS ES Endpoint. AWS ES VPC is paired with VPC where Superset is running so a network connection is accessible.

### Actual

[2021-05-14 14:29] oBoMBaYo commented on #14623
@dba1307 Thank you.

[2021-05-14 15:03] junlincc opened #14643 "[cosmetic] submenu spacing"
Expected ui
<img width="641" alt="Screen Shot 2021-05-14 at 8 02 02 AM" src="https://user-images.githubusercontent.com/67837651/118289977-c2b41380-b48a-11eb-8825-d9d104e84fb6.png">

Current
<img width="746" alt="Screen Shot 2021-05-14 at 8 01 54 AM" src="https://user-images.githubusercontent.com/67837651/118290000-c9428b00-b48a-11eb-82a4-05212c56de1d.png">

[2021-05-14 15:11] junlincc commented on #14612
<img width="1644" alt="Screen Shot 2021-05-14 at 8 11 11 AM" src="https://user-images.githubusercontent.com/67837651/118291023-f6436d80-b48b-11eb-8225-92a3e1dd8e0a.png">
fixed in master

[2021-05-14 15:11] #14612 closed

[2021-05-14 15:12] junlincc commented on #14614
@eschutho Hi Elizabeth, could we bash on this one?

[2021-05-14 15:12] junlincc commented on #14611
cc @willbarrett

[2021-05-14 16:17] suddjian commented on #14442
This should be fixed by #14626

[2021-05-14 16:22] junlincc commented on #14061
moving comments here

Hi, I has just learn Superset apache and I has one trouble
In Pivot Chart option, I chose:

Aggregation Function: Sum
Check Show Total
But in row All and column All are Max, not Sum
Please help me. Thanks a lots.

[2021-05-14 16:24] #14639 closed

[2021-05-14 16:28] junlincc commented on #14608
thanks for reporting, no plan to address this issue. chart will be gone soon😉.  🙏

[2021-05-14 16:56] mgorsk1 opened #14645 "API Datetime values do not contain timezone"
I have noticed that when using Superset REST API returned results do not contain timezone information for attributes related to time.

### Expected results

When i query `api/v1/dashboard/1` the returned result contain `changed_on` with timezone information.

### Actual results

[code]

#### Screenshots

n/a

#### How to reproduce the bug

1. Checkout superset code
2. Run `docker-compose -f docker

[2021-05-14 17:01] nytai commented on #14645
Unfortunately the timestamps are being stored without timezone, for this reason we suggest keeping the server in UTC and basing everything off of that assumption

[2021-05-14 18:05] #14598 closed

[2021-05-14 18:29] junlincc commented on #14603
thanks for reporting. unfortunately, we are not planning to fix this issue. 😞

[2021-05-14 18:29] #14603 closed

[2021-05-14 18:29] #14608 closed

[2021-05-14 18:33] pkdotson commented on #14643
pr is out: https://github.com/apache/superset/pull/14631

[2021-05-14 19:58] zufolo441 commented on #14504
the problem is still present:
Uncaught TypeError: can't convert undefined to object
    isUserAdmin findPermission.ts:39
    canUserEditDashboard findPermission.ts:52
    hydrateDashboard hydrate.js:325
    createThunkMiddleware Redux
    DashboardPage DashboardPage.tsx:70
    commitHookEffectListMount react-dom.development.js:19765
    commitPassiveHookEffects react-dom.development.js:19803
    c

[2021-05-14 20:00] zufolo441 commented on #14296
the problem is still present:
Uncaught TypeError: can't convert undefined to object
    isUserAdmin findPermission.ts:39
    canUserEditDashboard findPermission.ts:52
    hydrateDashboard hydrate.js:325
    createThunkMiddleware Redux
    DashboardPage DashboardPage.tsx:70
    commitHookEffectListMount react-dom.development.js:19765
    commitPassiveHookEffects react-dom.development.js:19803
    c

[2021-05-14 20:06] zufolo441 commented on #14442
for me it is still present.
![Screenshot_20210514_220610](https://user-images.githubusercontent.com/45826835/118323269-a5219100-b500-11eb-9b06-d22664e6181d.png)

[2021-05-14 20:18] suddjian commented on #14442
Hmm, that's actually a different error. I will push a fix shortly. Thanks for following up.

We clearly need to add some end-to-end tests for public dashboards.

[2021-05-14 20:58] Bonifacio2 commented on #14034
I'll take a look at this over the weekend.

[2021-05-14 21:11] Bonifacio2 commented on #14034
I wasn't able to reproduce the error. After deleting the metric the save button is disabled and I get the following warning:

<img width="624" alt="supersetbug" src="https://user-images.githubusercontent.com/852540/118331836-8bbc1d00-b4df-11eb-80d6-86f018491ab8.png">

[2021-05-14 21:12] zufolo441 commented on #14442
now it's solved !

[2021-05-14 21:25] scimas commented on #14642
You need to use a different connection string for AWS ES. https://github.com/preset-io/elasticsearch-dbapi#special-case-for-sql-opendistro-endpoint-aws-es

[2021-05-14 21:49] pkdotson opened #14649 "Right menu drops to full column on page resize"
## Screenshot
<img width="944" alt="Screen Shot 2021-05-14 at 1 56 38 PM" src="https://user-images.githubusercontent.com/17326228/118330151-36224900-b4bc-11eb-816f-13f08b410971.png">

## Description
The right menu col size spreads to 24 on page resize from lg to md.

## Design input
Should reduce col size on smaller views so the the right menu stay in line with overall navbar.

[2021-05-14 21:50] pkdotson commented on #14649
think it's related to this change https://github.com/apache/superset/pull/14557. @michael-s-molina  if you could take a look

[2021-05-14 22:07] albertwgchu commented on #13697
I added the following to my config:

WTF_CSRF_ENABLED = False
SESSION_COOKIE_SAMESITE = None
SESSION_COOKIE_SECURE = False
SESSION_COOKIE_HTTPONLY = False
AUTH_ROLE_PUBLIC = 'Public'
PUBLIC_ROLE_LIKE = 'Gamma'

I don't get the login screen and I can see that the api requests for charts, datasets and dashboard succeed.  However I'm getting a javascript error.  @Riskatri did you run into this?

![im

[2021-05-14 22:51] eschutho commented on #14614
hi, yes, are you asking if we can fix it?

[2021-05-14 22:54] suddjian commented on #14442
That's great to hear! Closing this again 😃

[2021-05-14 22:54] #14442 closed

[2021-05-14 23:05] junlincc commented on #14552
https://github.com/apache-superset/superset-roadmap/issues/106

[2021-05-14 23:16] mistercrunch commented on #14552
- page load is jittery, objects reposition themselves as they load/get filled in, we should use skeletons to prevent that
- On my favorite Superset instance, I always click on "Dashboard > Favorite" first to get to my most visited dashboards and I wish it would remember that. Let's make those toggles sticky across visits
- that dashboard that is my top-favorite is actually one of "mines" (should s

[2021-05-14 23:26] mistercrunch commented on #14552
Usage metrics would really help here to sort things out. It seems it'd be keep tab of views `(user, object, objet_type, day, count)` or something like that to be able to sort based on overall popularity or on personal usage frequencies.

[2021-05-15 01:41] caleb15 commented on #14037
Thanks! :)

[2021-05-15 02:50] oBoMBaYo commented on #11507
Exception:
`smtplib.SMTPNotSupportedError: (535, b'5.7.8 credentials invalid')`
Can be fix by apply the solution on the exception that @DRavikanth posted above.
Hope this can help somesone who face the issue.

<img width="1286" alt="Screen Shot 2021-05-15 at 09 48 32" src="https://user-images.githubusercontent.com/10667447/118346042-db8ff800-b562-11eb-828a-1d61b47c945d.png">

[2021-05-16 08:28] stephenLYZ opened #14654 "[Tree chart] metric control disappeared"
The tree chart's metric control disappeared when switching from pie chart to tree chart.

### Expected results
![image](https://user-images.githubusercontent.com/11830681/118390772-77a12880-b663-11eb-8486-eb02eeb8a37d.png)

### Actual results
![image](https://user-images.githubusercontent.com/11830681/118390755-57716980-b663-11eb-9671-a886abd1c007.png)

#### How to reproduce the bug

1. Go to 'Exp

[2021-05-16 08:35] stephenLYZ commented on #14654
Not only pie chart. It can be reproduced that as long as a single metric chart is switched to a tree chart.

[2021-05-16 10:08] geido commented on #12375
@ktmud The change is applied indeed. The problem you might be perceiving is that the change to the label is not applied on the fly. Check the video attached.

If we want to apply it on the fly, we might be discussing quite a big change as the results and the charts are built dynamically from the data received after the request.

Another possible solution is to force-run the query when the label na

[2021-05-16 10:14] geido commented on #14614
I am fixing this one

[2021-05-16 10:22] geido commented on #14604
Checking this out

[2021-05-16 11:50] #14642 closed

[2021-05-16 12:11] mgorsk1 commented on #14645
thanks @nytai , uderstood

[2021-05-16 12:11] #14645 closed

[2021-05-16 12:12] geido commented on #14599
Having a look

[2021-05-16 15:32] CaptainHoangLe opened #14658 "Can't find user after insert to db sqlite"
I am using superset ver 0.36.0.
I have just created a custom class user model.
![image](https://user-images.githubusercontent.com/53038465/118402642-fb273d80-b694-11eb-9546-795bc1251e7a.png)
Then, i defined a function to set permission "account_access" allowing who can edit user info.
![image](https://user-images.githubusercontent.com/53038465/118402597-c31ffa80-b694-11eb-93ca-f98917af7bf4.png)
Th

[2021-05-17 03:37] rusackas commented on #14617
Closed by #14631. We can always reopen if anything needs further attention.

[2021-05-17 03:37] #14617 closed

[2021-05-17 03:38] rusackas commented on #14616
Closed by #14631. We can always reopen if anything needs further attention.

[2021-05-17 03:57] #14616 closed

[2021-05-17 04:01] iosivp commented on #5530
Hello colleagues,
Can you please advise how can I get this feature?
I have upgraded Superset this morning. The version is 1.1.0.
I use Superset with gunicorn in venv.

Thank you very much,
Iosiv

[2021-05-17 04:46] rusackas commented on #14554
Closed by #14587

[2021-05-17 04:46] #14554 closed

[2021-05-17 04:50] rusackas commented on #12707
@junlincc Were there other issues that needed to be fixed to close this issue?

[2021-05-17 05:12] villebro commented on #5530
@iosivp @BLiu1 this chart is introduced in the forthcoming 1.2.0 release, which I believe is going up for vote this week.

[2021-05-17 05:52] codegeekjk opened #14659 "Programmatically create or Update a Superset role"
Currently no docs exist for creating a role programmatically - it's only via the UI.  Is there any way via which we can create a new role or update the existing role programmatically ?

[2021-05-17 06:06] rusackas commented on #14643
Closed by https://github.com/apache/superset/pull/14631

[2021-05-17 06:06] #14643 closed

[2021-05-17 06:11] rusackas commented on #14605
Relates to #14606, #14607

[2021-05-17 06:12] rusackas commented on #14606
Relates to #14605, #14607

[2021-05-17 06:12] rusackas commented on #14607
Relates to #14605, #14605

[2021-05-17 08:47] lilila commented on #11906
Hello,
Any news on this issue?

[2021-05-17 10:22] michael-s-molina commented on #14649
@pkdotson I'll take a look.

[2021-05-17 10:27] vineetalagh opened #14662 "AWS ES - Datetime Field is imported as String in Explore Screen"
When Querying an index alias on AWS ES instance with a timestamp datatype field, SQL LAB displays the correct column datatype. But when using explore to create a chart, the field is imported as a String.

### Expected results

It should be imported as Date/Time.

### Actual results

Imported as String.

#### Screenshots

SQL LAB:

![Screenshot 2021-05-17 at 11 22 50](https://user-images.githubuser

[2021-05-17 11:21] geido commented on #14599
@junlincc

The menu looks fine on master

![Screen Shot 2021-05-17 at 14 21 10 (2)](https://user-images.githubusercontent.com/60598000/118480660-38361300-b71b-11eb-96c5-d81d1e52eb34.png)

[2021-05-17 11:51] michael-s-molina commented on #14599
@junlincc @geido https://github.com/apache/superset/pull/14557 fixed the `About` padding.  We can close this issue.

[2021-05-17 13:16] willbarrett commented on #14611
This is not part of the alerts system @junlincc

[2021-05-17 13:50] geido commented on #14607
I am checking this out

[2021-05-17 13:53] geido commented on #14605
I am checking this out

[2021-05-17 13:54] geido commented on #14606
I am checking this out

[2021-05-17 14:10] michael-s-molina commented on #14654
@junlincc Working on it.

[2021-05-17 14:33] michael-s-molina commented on #14611
@junlincc Working on it.

[2021-05-17 15:12] geido commented on #14606
It will be resolved when both PRs #14663 - #14655 get merged

[2021-05-17 15:55] mistercrunch commented on #14254
It also appears like there is no way to remove a tabs component from a dashboard, the like trashcan icon just doesn't show while in edit mode

[2021-05-17 17:09] kgabryje opened #14669 "[Explore] Display a user friendly prompt to select required fields when new chart is created"
## Screenshot

![image](https://user-images.githubusercontent.com/15073128/118528200-5a8f5700-b742-11eb-9dff-f8b5ae460281.png)

## Description

After changes introduced in https://github.com/apache/superset/pull/14661, an initial state of a newly created chart is blank - no metrics are preselected. Since metrics are required in most of the viz types, the first thing that user sees is a warning mes

[2021-05-17 17:34] geido commented on #13427
I'll have a look

[2021-05-17 17:37] michael-s-molina commented on #14504
@davemulford According to Superset [docs](https://superset.apache.org/docs/security) the property in `superset_config.py` is `PUBLIC_ROLE_LIKE = 'Gamma'` instead of `PUBLIC_ROLE_LIKE_GAMMA = True`. Can you also check that the dashboard you're trying to share is owned by a Gamma user and that the `Public` role has access to the data source being used by the dashboard?

[2021-05-17 17:43] rusackas opened #14670 "[homescreen] Make all Home Page tabs "sticky""
**Is your feature request related to a problem? Please describe.**
When using the home page, users navigate away, and when they come back, the tabs they clicked on (e.g. recent, favorite) are not saved. This makes users have to re-navigate to their facorite areas all the time.

**Describe the solution you'd like**
Use the localstorage helper utility to store these tab selections whenever they're c

[2021-05-17 17:46] nytai commented on #14670
yup, localstorage seems like a good enough solution here. I would only add that we should create a module or class called `SettingStorage` with get/set methods so there's a nice interface wrapper. That would allow us to switch out the underlying storage type from localstorage to the db

[2021-05-17 17:58] ravikishorer opened #14671 "ClickHouse: Nullable(DateTime) as time field throwing error in chart UI"
ClickHouse: Nullable(DateTime) as time field throwing error in create a new chart UI as the query it is generating contains time fields which have milli second precision and clickhouse couldn't convert them to date time.

### Expected results

It should work correctly.

### Actual results

Create chart area shows error when time field is present.

#### Screenshots

![image](https://user-images.git

[2021-05-17 18:17] rusackas opened #14672 "Keep dashboard's "View chart in Explore" from opening a new tab"
Currently, when you navigate from a chart in a Dashboard to Explore via the "view chart in Explore" menu item, it opens a new tab.

Let's do a little detective work in git blame to reach out to the original author(s) and find out if/why this behavior was intended. For now, I think we should keep everything in one tab/window.

### Expected results

The link should keep you in the same tab, navigati

[2021-05-17 19:11] albertwgchu commented on #14504
@michael-s-molina I am seeing this issue as well.  Confirmed that a Gamma user owns the dashboard and the public role has access to the data.  I have the following in my config:

AUTH_ROLE_PUBLIC = 'Public'
PUBLIC_ROLE_LIKE = 'Gamma'

[2021-05-17 20:30] #14610 closed

[2021-05-17 20:30] #13902 closed

[2021-05-17 20:47] ptheru commented on #13962
This worked! Thank you

[2021-05-17 20:50] rusackas commented on #14670
For now, we can use
[code]

[2021-05-17 21:31] pkdotson commented on #14596
@junlincc is there particular browser this is happening in because i can't repo it in chrome or firefox

[2021-05-17 22:22] john-bodley commented on #14034
@Bonifacio2 I was missing a step (now updated). After deleting the metric you'll need to reload the page and then the metric selector will be inoperable.

[2021-05-17 22:30] #14605 closed

[2021-05-17 22:31] #14607 closed

[2021-05-17 22:32] pkdotson commented on #14596
This seems to only happen in chrome and it's not the datasetmodal select scroll, it's the controls tabs scroll that overlays  if i resize the page but it goes away as you stop resizing the page. This seems to be more of a browser issue than it is code.

https://user-images.githubusercontent.com/17326228/118564337-ff9b3700-b724-11eb-8b62-11950a22a6ce.mov

[2021-05-17 22:38] Bonifacio2 commented on #14034
Thank you for the update. I'll take a second look at it tomorrow.

[2021-05-17 22:49] #14614 closed