[2021-02-04 05:21] rwspielman commented on #12935
#12660

[2021-02-04 05:40] junlincc commented on #12935
@rwspielman thanks for reporting! I was able to reproduce. tagged `good first issue`
We currently are short for help and if you already have a solution, we absolutely welcome your contribution. 🙏

<img width="984" alt="Screen Shot 2021-02-03 at 9 37 40 PM" src="https://user-images.githubusercontent.com/67837651/106849716-16cb8280-6668-11eb-9be6-0981536e1713.png">

[2021-02-04 05:46] junlincc commented on #12915
looks like you are on a pretty old version, have you tried using v1.0? @aminhakimsazali i just connected to PostgresSQL today, and connection works fine

[2021-02-04 06:33] JeanBaptisteINITIATIVES commented on #12856
For anyone concerned by kind of upgrading (Python + superset), following the install steps worked fine :
- reinstall the superset's virtual environment
- install superset (pip install apache-superset --upgrade)
- upgrade the db, changing if needed the sql alchemy url in the config.py file (superset db upgrade)
- initiate superset (superset init)

[2021-02-04 06:33] #12856 closed

[2021-02-04 06:39] Renganayaki1 commented on #12910
Thanks @amitmiran137 for the conclusion. Please let us know once this requirement added.
Rens.

[2021-02-04 07:46] jokus-pokus commented on #12824
Same issue here using a SQL Server and Apache Superset on Windows.
Everything works fine but i cant query in SQL Lab.
What can i do there to bound my query to a Session?

Thanks in advance!

[2021-02-04 10:14] krsnik93 opened #12938 "Error response 400 "unknown field" when setting filters_immune_slices in Dashboard metadata"
Trying to add `filter_immune_slices` to prevent chart from being affected by a `filter_box`. After clicking save in the Dashboard edit modal, there is no visual feedback, but after inspecting Network tab in Developer Tools I can see error response:
`{message: {json_metadata: [{filter_immune_slices: ["Unknown field."]}]}}`

### Expected results

Change gets applied to the dashboard.

### Actual res

[2021-02-04 10:38] maloun96 commented on #11917
@junlincc It was fixed https://github.com/apache/superset/pull/12887

[2021-02-04 10:45] saultawil opened #12939 "How can I bypass unnecessary sign-in page when using SSO with OAUTH2?"
I set up SSO login for Superset successfully by setting up the config file to use OAUTH2 login and integrating it with OKTA SSO service. However the redirect uri http://[site]:8088/oauth-authorized/okta that needs to be configured for Flask Application Builder to work redirects to a Superset sign-in page where the user needs to choose a provider and click sign-in. This is an unnecessary step since

[2021-02-04 10:57] saultawil opened #12940 "Nested Fields"
I would like to know if there is any plans to support nested fields like some other tools that now support this like elasticsearch/kibana.

I use Superset against a Spark SQL HiveServer2 compatible JDBC query engine that reads data from Hive tables that support nested data but in Superset I cannot selected the nested fields independently.

I spend a lot of time flattening fields for new projects.

[2021-02-04 11:09] leocape commented on #12863
@vinitpradhn18 would you mind sharing your working `superset_config.py` please? Did you need to add `chromewebdriver` in the docker-compose?

[2021-02-04 12:04] PullGituser opened #12941 "Unable to Login after docker container connect to Postgres Container"
A clear and concise description of what the bug is.
I have configured superset docker container and then change the URI in conifig.py to point to postgres. I am able to run the 'superset db upgrade' and could see tables are getting created under the database. Also able to create a new user in the postgres DB. But unable to login to the application using 'admin:admin'.
### Expected results

what yo

[2021-02-04 13:01] JMGGarcia opened #12942 "Generating Reports"
(First of all, congratulations on the v1 release of Superset, it looks very nice and includes a lot of nice new features!)

On the old version of Superset, I had an issue generating reports on a server (#11552). I was trying out the new version of superset, using v1.0.1rc2 and the default docker configs to try and generate reports (first locally, and then I would try on a server). I define the rep

[2021-02-04 15:49] Rishabhraghwendra18 commented on #12935
Hey!!! May I work on this issue ?

[2021-02-04 16:00] bryanck commented on #12850
FYI, this also impacts the word cloud chart, and the line charts that use group by. See:
https://github.com/apache/superset/pull/12674

[2021-02-04 16:07] junlincc commented on #12935
@Rishabhraghwendra18 Absolutely!thank you for contributing! if you are interested in working on more Superset dataviz project, please let me know. https://github.com/apache-superset/superset-roadmap/issues/150

[2021-02-04 16:40] Rishabhraghwendra18 commented on #12935
@junlincc thanks buddy

[2021-02-04 18:01] Steejay commented on #12436
Figma spec:
https://www.figma.com/file/5db2MpaKNnC1c7MK9ysdeV/SQL-Limit-Indicator?node-id=90%3A0

[2021-02-04 18:44] klazaj opened #12951 "Overriding font-size for subheader-line in Big Number Chart causes page crash"
I tried to override the `subheader-line` class for Big Number chart, like so:

[code]
However, when I click `Save Changes`, the page becomes unresponsive. Why is that? How can I override the CSS of Subheader? The font-size becomes too small when I write more than a few words. It's too small even when I choose `Huge` for Font-size option in Chart Options.

[2021-02-04 18:53] junlincc opened #12952 "[explore]allow users to search "type""schema"'connection""creator" in Change dataset"
I connected to multiple different db for testing purposes. I wanted to test datasets that are from a presto db connection, but had a hard time looking for it. there is no way to search by "type", "schema","connection" and "creator" currently.

proposed change - allow user to search by in columns.

https://user-images.githubusercontent.com/67837651/106941138-4796d080-66d7-11eb-8201-0436cf54c58b.mov

[2021-02-04 20:32] akud opened #12954 "Error Upgrading Bar Charts with SQL Functions in Series to Superset 1.0.0"
I am migrating from superset version 0.34.0rc2 to 1.0.0. In the old version we use the "Bar Chart" visualization with a sql function in the "Series" box successfully. In the new version, this chart is broken. For example, we have a chart that renders successfully in the old version has a "Series" column of `datepart(year,shipment_month)`. This chart fails in the new version. The data source is in

[2021-02-04 20:45] eschutho commented on #12566
The majority of changes will be able to be backward compatible, but if something just can't be made backward compatible, then yes, we should plan to either make the next release a major version or hold on to the PR until we can create a major version release. Another aspect is in planning. If we know in advance that a feature is not going to be backward compatible, it's good to keep that in mind a

[2021-02-04 21:22] #11907 closed

[2021-02-04 21:52] Steejay commented on #12907
@junlincc what does 'All' show in this context? Doesn't seem like it is displaying the sum of numbers in the result being displayed.

![Screen Shot 2021-02-04 at 1 50 46 PM](https://user-images.githubusercontent.com/60786102/106959778-fd6e1900-66ef-11eb-8efd-f3a6927397c4.png)

cc @mihir174

[2021-02-04 21:54] robdiciuccio commented on #12566
Yes, exactly. Changing the format or shape of the data within a JSON blob in a non-backwards compatible way. Minor nit.

Re: the release strategy, I'm a bit concerned about the feasibility of cherry-picking from master into release branches at the current speed master is changing, but let's cross that bridge when we come to it.

No blockers from me on the SIP.

[2021-02-04 22:12] junlincc commented on #12907
<img width="1402" alt="Screen Shot 2021-02-04 at 2 06 18 PM" src="https://user-images.githubusercontent.com/67837651/106961384-5939a180-66f2-11eb-9c0e-d167aaaf9511.png">

@rwspielman Thanks for requesting. this has been on our radar.

@Steejay I think what Rob meant was adding a row at the bottom of the table to sum numbers in each column. something like this in tableau.
![image](https://user-imag

[2021-02-04 22:25] eschutho commented on #12566
Sorry, my bad, I updated my comment. I meant to say that we should only need to cherry pick for patch releases, like we're doing for 1.0.1.

[2021-02-05 00:15] eschutho commented on #12566
@robdiciuccio I added more to the DB migration bullet points. LMK if that looks ok to you:

[2021-02-05 00:22] junlincc commented on #12911
@Geethanjali11 thanks for suggesting.
from product standpoint this is almost a  _must have_, however, I don't think we can get to it anytime soon.
community contribution is always welcome!

[2021-02-05 00:30] junlincc commented on #12954
@akud
what is the data type of that column? can you also provide the sql query that generated in the old version? thanks

[2021-02-05 00:50] junlincc commented on #12941
this is strange, i run the same steps on a daily basis but never encountered this issue.
@dpgaspar @srinify do you guys know? thanks

[2021-02-05 00:52] kamalkeshavani-aiinside opened #12957 "Serial Number in SQL Lab results"
**Is your feature request related to a problem? Please describe.**
Almost all popular SQL editors provide serial number(row number) in the query results. When using SQL Lab, sometimes user need to use another way to count the rows in query results.

**Describe the solution you'd like**
Add a column to left-side with serial number for query results.
- These numbers will not be used when user create

[2021-02-05 01:16] yousoph opened #12958 "Add "Main Datetime Column" in Edit Dataset modal"
**Is your feature request related to a problem? Please describe.**
Main Datetime Column exists in the Legacy Datasource Editor but not in the new editor
![image (8)](https://user-images.githubusercontent.com/10627051/106968181-352f8d80-66fd-11eb-9d9e-f125a6d1bba7.png)

**Describe the solution you'd like**
Add the field in the new Edit Dataset modal, maybe under the Settings tab Advanced section?

[2021-02-05 01:17] yousoph commented on #12958
fyi @ktmud @etr2460

[2021-02-05 01:29] ktmud opened #12959 "[Dashboard] Removing empty top level tabs crashes the dashboard builder"
### Expected results

When removing empty top-level tab, the page should not crash

### Actual results

https://user-images.githubusercontent.com/335541/106976486-57c9a280-670d-11eb-8f97-09c692d796f9.mp4

There are a couple of bugs or inconveniences related to adding tabs in dashboard builder:

1. Adding top level tab does not have proper drop indicator
2. Collapsing the top level tab makes the wh

[2021-02-05 03:24] junlincc opened #12961 "[Explore]improve the ability to infer datatype in data panel"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Most of the columns showed in data panel have an icon to indicate their data types.
e.g. ABC - VARCHAR
However, columns like `FLOAT` and `DOUBLE PRECISION`, also columns with NULL in some db are missing icons.

**Describe the solution you'd

[2021-02-05 07:27] rwspielman commented on #12907
Junlin (@junlincc), confirming that your second screenshot is the end result I'm looking for. We are coming from excel reporting mostly so the parallel in excel looks like this:
<img width="266" alt="Screen Shot 2021-02-05 at 1 04 40 AM" src="https://user-images.githubusercontent.com/20442310/107000837-2c1adc80-674e-11eb-8fe8-70810811b6e9.png">

To opine on your second design consideration of wher

[2021-02-05 07:43] villebro commented on #12907
@rwspielman now that it has been migrated the table chart to the new chart data endpoint (see #10270), it is finally possible to add a total row to the table chart. The reason this wasn't possible before is because legacy charts were really only able to do single query requests, making it difficult to get both row level data and aggregates for the whole dataset. With the new architecture, it's pos

[2021-02-05 08:14] pavlozt opened #12962 "[chart]Time Series Table counts null as 0"
When I use Time-series Table , the grouping functions count the missing values as 0, but to be counted as NULL.

### Expected results

Traditional  sql-like behavior that avg() function not count nulls.

### Actual results

Too low values on period averages, that do not allow do right conclusions.

#### How to reproduce the bug

1. Choose Chart Type : Time-series Table
2. group by Field
2. Time se

[2021-02-05 08:20] villebro commented on #12962
@pavlozt I quickly looked at the code implementation of time series table, and I can't directly see where this error would occur in the code. Can you share some more context, e.g. a screenshot of your control panel?

[2021-02-05 09:14] pavlozt commented on #12962
![изображение](https://user-images.githubusercontent.com/55258742/107013486-79796700-67ab-11eb-931d-bb15d2ad6d1c.png)

and
![изображение](https://user-images.githubusercontent.com/55258742/107013532-86965600-67ab-11eb-98d2-7655f09d0e1a.png)

[2021-02-05 10:15] ktmud opened #12963 "[Explore] Chart should strip ending semicolon for virtual datasource queries"
<img width="921" alt="semicolon" src="https://user-images.githubusercontent.com/335541/107020466-bf0c4480-6757-11eb-93a4-0c065aa97bca.png">

When a virtual datasource has ending semicolon in it's SQL query,

The generated queries for Explore will produce an error:
<img width="540" alt="error" src="https://user-images.githubusercontent.com/335541/107020521-cf242400-6757-11eb-8dd9-e7cf46a86787.png">

[2021-02-05 10:52] maheshbelavadi opened #12964 "[Chart]Option to set thresholds and Color coding in Big numbers"
**Is your feature request related to a problem? Please describe.**
I use Big numbers in my summary dashboard to show current status such as average production outcome, etc. If the number is less than a threshold, want to represent it in different color (red, green, amber). Currently there is not option to set thresholds in any of the charts.

**Describe the solution you'd like**
Typically I would

[2021-02-05 11:13] cateseale commented on #6568
+1 for this. It feels like basic functionality is missing.

[2021-02-05 11:23] cateseale commented on #2098
+1. Without being able to set y-axis to 0-100%, the resulting charts are always misleading!

[2021-02-05 14:38] michael-s-molina opened #12965 "[Delete]Can't select for bulk delete in chart/dashboard list when using card view"
### Expected results

When using card view and bulk selecting, a click on the card should not navigate to detail page. The cards shouldn't flick left when bulk select is clicked.

### Actual results

When using card view and bulk selecting, a click on the card navigate to detail page and I can't make further selections. Also when I click in bulk selecting, the cards panel receive a right margin ma

[2021-02-05 14:54] PullGituser commented on #12941
I am using superset as a different container and postgres as a different container. (NOT USING Docker Compose). After updating the sqlalchemy connection string in config.py file to point to postgres container, I am not able to Login to application. Let me know if you need any additional details.

Note - Tables are and user entry details are present in Postgres DB...

[2021-02-05 17:45] yousoph commented on #12435
@lyndsiWilliams there's a feature flag for the imports and exports called VERSIONED_EXPORT that you'll need to set to True to see the exports for dashboards, charts, datasets, and databases

[2021-02-05 18:01] junlincc commented on #12965
committing to this change. however, we wanna promote list view over card at this point due to the performance issues. may not get to it soon. marking `good first issue` if anyone from the community wanna work on it. thanks @michael-s-molina !

[2021-02-05 18:08] junlincc commented on #12964
Thanks @maheshbelavadi for proposing changes! Definitely a valid request, high impact - low effort. There are a couple asks around Big Number charts, we can get to it safely in Q2-Q3. If you already have a solution in place, feel free to drop a PR. 😉

[2021-02-05 18:14] junlincc commented on #12963
@ktmud would like to have this fixed. how often do you users bump into this error?

[2021-02-05 18:46] villebro commented on #12963
I run into this quite often actually. This fix should be very simple, low risk and have good overall effect on UX.

[2021-02-05 19:15] etr2460 opened #12971 "Add support for deleting columns/metrics in the Dataset API"
**Is your feature request related to a problem? Please describe.**
As titled, the new API doesn't support this yet. This is needed because the old api for creating/updating/deleting columns and metrics isn't very performant.

**Additional context**
See discussion here: https://github.com/apache/superset/discussions/12819

cc: @dpgaspar

[2021-02-05 19:55] john-bodley commented on #12677
@bkyryliuk and @villebro et al. any thoughts on this? Has Dropbox or Preset run into this issue?

[2021-02-05 20:20] robdiciuccio commented on #12566
LGTM, thanks!

[2021-02-05 20:36] mistercrunch commented on #11916
Seems like "TIME GRAIN" belongs under the "Grouping" section not the "Filter" section

[2021-02-05 21:10] #12565 closed

[2021-02-05 21:11] yousoph commented on #11942
🏷️ sql_lab

[2021-02-05 23:15] eschutho commented on #11942
🏷 sql_lab

[2021-02-05 23:17] eschutho commented on #11942
🏷 sql_lab:editor

[2021-02-05 23:31] yousoph opened #12979 "[SQL Lab] Split run button doesn't transition smoothly between disabled and enabled states"
## Screenshot
https://user-images.githubusercontent.com/10627051/107099586-ebab7500-67c6-11eb-94a0-dd87f325fcc8.mp4

## Description
When transitioning between a disabled and enabled state, the right side of the split run button in SQL Lab changes color/state a bit later than the left side.

How to repro:
* In SQL Lab, select a db where you have CTAS and/or CVAS enabled
* Delete all the text in you

[2021-02-05 23:32] yousoph commented on #12979
@AAfghahi - I noticed this with the new disabled state that you added

[2021-02-05 23:58] AAfghahi commented on #12979
oh yeah this looks bad, I will look through and work on it. Maybe I can just set a timeout or something.

[2021-02-06 04:55] anushkrishnav commented on #12847
Looking great, I guess having a bit of Typescript knowledge will be useful

[2021-02-06 06:55] junlincc opened #12983 "[Poll📊]Should we set "equal" or "in" as default operator in Explore filter?"
[![](https://api.gh-polls.com/poll/01EXV1WQJ0B9B95RP7FNP6JCBW/set%20%22equal%22%20as%20default%20operator%20in%20ad%20hoc%20filter%20in%20Explore)](https://api.gh-polls.com/poll/01EXV1WQJ0B9B95RP7FNP6JCBW/set%20%22equal%22%20as%20default%20operator%20in%20ad%20hoc%20filter%20in%20Explore/vote)
[![](https://api.gh-polls.com/poll/01EXV1WQJ0B9B95RP7FNP6JCBW/set%20%22in%22%20as%20default%20operator%20

[2021-02-06 06:55] #12983 closed

[2021-02-06 07:00] junlincc opened #12984 "[Poll📊]Should we set "equal" or "in" as default operator in Explore filter?"
**_We will not make any changes unless one of the options reach 70%+ ._**

[![](https://api.gh-polls.com/poll/01EXV25R4VTJCK9DBCGDR1JNXC/set%20%22equals'%20as%20default%20operation%20in%20Explore%20ad%20hoc%20filter%20)](https://api.gh-polls.com/poll/01EXV25R4VTJCK9DBCGDR1JNXC/set%20%22equals'%20as%20default%20operation%20in%20Explore%20ad%20hoc%20filter%20/vote)
[![](https://api.gh-polls.com/poll

[2021-02-06 07:25] junlincc opened #12985 "[poll📊] UI preference on adding new value to Explore control"
Background
Some users found that having "+" at the top right corner in the control select field is confusing, especially when only one select is allowed. This is a new change implemented in Explore 1.0.

Proposed changes:
- Instead of greyout/disable when metric limit is reached, to remove "+" for single metric select, replace with a "ghost" button
 <img width="306" alt="Screen Shot 2021-02-05 at

[2021-02-06 09:40] pavlozt commented on #12962
Hello, here is wrong code, values cannot be zeroed

superset-ui\plugins\legacy-plugin-chart-time-table\src\TimeTable.tsx

    } else if (column.colType === 'avg') {
      // Average over the last {timeLag}
      v =
        reversedEntries
          .map((k: Entry, i: number) => (i < column.timeLag ? k[valueField] : 0))
          .reduce((a: number, b: number) => a + b) / column.timeLag;
    }

[2021-02-06 12:07] bodhi52 opened #12986 "In SQL Query page, editor can not display in safari, iPad or macOS"
Editor can not display.

[2021-02-06 16:07] JakeXu commented on #12723
After changing to the CentOS environment with RAM 8G, everything is well done, fixed it for me, you can try it

[2021-02-06 19:12] iercan commented on #12893
In version 1.0.1 problem seems resolved.

[2021-02-06 19:12] #12893 closed

[2021-02-06 19:39] aguspina opened #12987 "Trouble adding Argentina geojson to country map legacy plugin"
I connected superset with a local modify version of the superset-ui plugin legacy-country map but I got this viz:

<img width="783" alt="Screen Shot 2021-02-06 at 16 34 26" src="https://user-images.githubusercontent.com/4105740/107128049-6cd33c80-6899-11eb-8d2e-eda969ef041f.png">

I'm the the right geojson generated from the file downloaded from https://www.diva-gis.org/gdata with de ISO column up

[2021-02-06 19:40] aguspina commented on #12987
Here is the geojson file https://gist.github.com/aguspina/570fe8c52bb9628f38618ad9b037f4e7

[2021-02-06 23:34] junlincc commented on #12987
@aguspina can you provide detailed steps to reproduce this issue? thanks!

[2021-02-06 23:40] junlincc commented on #12893
🤣 that was my guess too. thanks for opening the issue and confirming anyway!
we will reach out for user interview for home screen soon.

cc @mihir174

[2021-02-06 23:48] aguspina commented on #12987
Of course :)

I added this line to the countries.js

[code]

The argentina.geojson file into the countries folder and added argentina to the choices in the controlPanel.ts file
[code]

[2021-02-06 23:54] junlincc commented on #12986
I can't run Superset in Safari at all, page keeps crashing.......... Chrome and Firefox are fine.

[2021-02-07 00:18] junlincc commented on #12940
@saultawil thanks for posting this enhancement request. sorry that we couldn't answer your questing in the meetup on Wednesday. I don't think we currently has the ability of running independent query on nested data, there might be work around that I don't know though.

Tableau offers something similar to your request - after user connect to a JSON file, it prompts users to select the schema levels

[2021-02-07 02:09] junlincc opened #12988 "[Explore]ability to search by column in datatable"
I want to look for a specific column and its sample data in a large dataset with 300+ columns. I can only search by the row values but not by column name, which is a major limitation of the search functionality...

<img width="1764" alt="Screen Shot 2021-02-06 at 6 01 47 PM" src="https://user-images.githubusercontent.com/67837651/107134371-5d0e2500-68a6-11eb-9868-1cca4ec64506.png">

[2021-02-07 02:17] junlincc commented on #2098
<img width="1496" alt="Screen Shot 2021-02-06 at 6 15 19 PM" src="https://user-images.githubusercontent.com/67837651/107134488-62b83a80-68a7-11eb-813a-92f5ce57c19a.png">

hi Cate,
in linechart- set to contribution mode, go to customize tab set y-axis bound to 0, 1. @cateseale lmk if it works for you. thanks.

[2021-02-07 02:20] junlincc commented on #6568
reopening this issue to track progress.  we are committed get this feature in 2021, hopefully before Q3.

@cateseale @anivon @sajidzaidi @fschlz @EricLee0000

[2021-02-07 02:32] syazwan0913 opened #12989 "[chart]Label type selection not working on Pie chart"
A clear and concise description of what the bug is.

### Expected results

Label type changed

### Actual results

Label type doesn't changed

#### Screenshots

![ZOoO4Gkebk](https://user-images.githubusercontent.com/28984703/107134715-8de66c80-692f-11eb-8c36-4e474809ceea.gif)

#### How to reproduce the bug

1. Go to 'Charts'
2. Click on 'any Pie chart.'
3. Change Label Type
4. See error

### Envi

[2021-02-07 02:35] #10341 closed

[2021-02-07 02:39] zhaoyongjie commented on #12962
hi @pavlozt
TimeTable codebase at, instead of `superset-ui`
[code]

[2021-02-07 02:48] junlincc commented on #12989
confirmed this is not working in master. also label disappear on hover.

<img width="1073" alt="Screen Shot 2021-02-06 at 6 45 36 PM" src="https://user-images.githubusercontent.com/67837651/107134966-9c8b4000-68ab-11eb-83b3-d0b40dd9b230.png">

@villebro not sure it happens after we bumped echarts to 5.0.2?
tagged `good first issue ` feel free to open a PR if you have a solution 😃

[2021-02-07 04:05] tsingmmy opened #12990 "Is there a way to add a hive database with kerberos authentication?"
The superset version is 1.0.0.The  "add database" operation works good with mysql database,but I can't succeed to connect hive database enabled kerberos authentication.

![image](https://user-images.githubusercontent.com/33018526/107135829-0aca1400-6939-11eb-9303-6efac03b593b.png)

The response told me 'please check your logs for details',but there is only one line  in superset.log indicating "log

[2021-02-07 05:22] junlincc commented on #7958
Reopening this issue as a reference to a new project(system level time zone setting).
@jiade52000 I never used the Timezone offset feature, can you describe how it used to work? thanks!

[2021-02-07 06:16] deddu commented on #12723
I just tried again on the latest master. Mac os, 9gb ram in my docker setup. Not fixed afaict. still blank page after the login.

I could run the frontend manually in the host, after the superset-node container crashed,  by cd'ing into the frontend folder, installing the deps via `npm i` and then `npm run dev`.

[2021-02-07 08:50] bodhi52 commented on #12986
<img width="1146" alt="image" src="https://user-images.githubusercontent.com/1011470/107141565-868d8600-6964-11eb-9b13-3565255a487f.png">

[2021-02-07 10:19] saultawil commented on #12940
Thanks for the response Junlin...I suppose Tableau may offer access to nested fields but the above example is more complex because it involves arrays which can be repeatable sets of nested data. I am looking for support for something much simpler - simple struct fields where one struct field is made of multiple nested fields that occur exactly once. An example that I have seen in a similar tool ca

[2021-02-07 12:11] villebro commented on #12989
Bumping the version in the plugin here which fixes the issue: https://github.com/apache-superset/superset-ui/pull/942

[2021-02-07 12:58] liuxp311 commented on #12824
@eugeniamz :can help to solve this question?

[2021-02-07 12:58] liuxp311 commented on #12824
@ryw :can help to solve this question?

[2021-02-07 20:39] shemExelate commented on #12942
I'm having the same issue, running latest from `/docker`
my config:

**docker-compose.yaml**
added:
[code]

**docker-bootstrap.sh**
modified to:
[code]

**superset_config.py**
modified to:
[code]

[2021-02-08 00:34] kamalkeshavani-aiinside commented on #12588
@junlincc This feature is added in superset-ui 17.0 release, but superset 1.0.1 includes superset-ui 16.9. So this feature will be visible in the next release of Superset, is that understanding correct?

[2021-02-08 04:06] junlincc commented on #12962
guys @villebro @zhaoyongjie  i was able to repro, Time series table does treat null as 0 in period average

<img width="1490" alt="Screen Shot 2021-02-07 at 8 04 30 PM" src="https://user-images.githubusercontent.com/67837651/107174796-f9f0c100-697f-11eb-9a99-6cf1537c3c82.png">

[2021-02-08 04:24] #12775 closed

[2021-02-08 04:32] junlincc commented on #11917
@eugeniamz we added row limit to time series table. please let me know if this solution is good enough. thanks @maloun96
<img width="407" alt="Screen Shot 2021-02-07 at 8 31 47 PM" src="https://user-images.githubusercontent.com/67837651/107176186-881a7680-6983-11eb-8fd5-fde9709dc3d3.png">

[2021-02-08 05:42] junlincc commented on #12456
resolved by bumping Echarts to 5.0.2

[2021-02-08 05:42] #12456 closed

[2021-02-08 12:31] #12871 closed

[2021-02-08 12:47] #10202 closed

[2021-02-08 14:02] magor commented on #9678
Hi there! @bkyryliuk , I don't think this is solved. I just tried to list databases in my instance with one hive db backend, which is down right now and the request for database list just timeouts and empty list is returned. I don't think this is expected behaviour.

[2021-02-08 14:05] Akitha commented on #11080
Any update

[2021-02-08 14:16] kgabryje commented on #12988
What behaviour do we expect here? When a user types a search query, should the columns that don't match disappear? How do we want to tell if user wants to filter rows or columns?

[2021-02-08 14:46] Steejay opened #13001 "[SQL Lab] Update button labels"
## Screenshot

<img width="1364" alt="Screen Shot 2021-02-08 at 6 46 07 AM" src="https://user-images.githubusercontent.com/60786102/107235242-53d1a500-69d9-11eb-85ae-15862c2e2a71.png">

## Description
Update SQL Lab result button labels to be more clear and predictable. Currently, the "CSV" and "Clipboard" button labels do not indicate the action. Instead, use a verb+noun format.

Change "CSV" to

[2021-02-08 16:19] codegeekjk opened #13003 "Big Query Impersonate User to have Access to DataSource"
Hello All,

We have big query as one of the datasource in superset, currently access to dataset is based on the google-group.
From superset we want to impersonate user so only the authorised users should be able to access the datasets.

Currently the user impersonate is available for  Hive and Presto, how can I do that for BigQuery ?
Anywork arounds avaliable so we can get this working ?

[2021-02-08 16:55] Steejay commented on #10333
Heres an exploration that looks at introducing resizable column widths. feedback welcome!

_default widths:_
default width = based on longest content in column
default max width = 360px

_resizable widths:_
min width = 32px
max width = none

_truncation+ellipsis:_
truncation + ellipsis is triggered anytime
the cell content is cut off by the column

_tooltip:_
tooltip appears upon hover over a cell

[2021-02-08 17:41] junlincc opened #13006 "[poll📊]do you use same dataset to build dashboard?"
[![](https://api.gh-polls.com/poll/01EY1928W5A6HEW0MQY62687MT/all%20my%20charts%20on%20my%20dashboards%20use%20same%20dataset%20)](https://api.gh-polls.com/poll/01EY1928W5A6HEW0MQY62687MT/all%20my%20charts%20on%20my%20dashboards%20use%20same%20dataset%20/vote)
[![](https://api.gh-polls.com/poll/01EY1928W5A6HEW0MQY62687MT/80%2B%25%20of%20the%20charts%20on%20my%20dashboards%20share%20same%20dataset)

[2021-02-08 17:46] taitai42 opened #13007 "superset alerts vs alerts & reports"
Hello guys,

i'm trying to set a fresh superset instance to send alerts using docker-compose
i've added a celery beat and flower instance to my docker compose,
i've changed the superset_config to add the following parameters :
[code]

i end up having the following options in my superset :
![image](https://user-images.githubusercontent.com/1880923/107259718-58af4c80-6a0b-11eb-84b5-5af3f1e6c3a6.png)

[2021-02-08 18:12] kekwan opened #13009 "Incorrect SELECT * statement previewing tables with timestamp partitions"
When previewing a table in SQL Lab, a SELECT * statement is generated based on table data and table metadata if it contains partitions. When generating the SELECT * statement on a table with partitions, the table data, 'TIMESTAMP' in my case is not casted in the WHERE block.

### Expected results

Previewing tables with data partitions should work. The WHERE block of the generated SELECT * stateme

[2021-02-08 18:34] akud commented on #12954
Hi @junlincc the column is a DATE column. Here is an obfuscated version of the query produced by the old version of superset:

[code]

For anyone stumbling across this, I was able to solve the problem in the UI by editing the datasource and adding a "Derived Column" with the sql function, then using that in the chart Series.

[2021-02-08 19:05] #13007 closed

[2021-02-08 19:05] akud opened #13011 "Paired T-Test visualization is broken in 1.0.0"
The Paired T-Test visualization type does not work in superset 1.0.0 when running from a fresh clone of the superset repo against one of the example datasets.

### Expected results

I expect the T-Test plugin to render a table with p-values.

### Actual results

I see an error message stating `An error occurred while rendering the visualization: TypeError: Cannot read property 'map' of undefined`

[2021-02-08 19:14] junlincc opened #13012 "[dashboard] add chart a selected tab on save to dashboard"
"It would be great if I can choose which tab to add a chart to dashboard to rather than dropped in the first page."
 And “nice-to-have” choose “add to top” or “add to bottom.

<img width="601" alt="Screen Shot 2021-02-08 at 11 06 21 AM" src="https://user-images.githubusercontent.com/67837651/107269307-45e24b00-69fe-11eb-95a4-1eaec53445c3.png">

[2021-02-08 19:19] MatanBobi opened #13013 "[SIP-58] Proposal to move superset-ui to this repo"
## [SIP] Proposal to move superset-ui to this repo

### Motivation

At the moment, working with `superset-ui` in order to develop plugins or packages to superset comes with a very bad developer experience.
In case you want to edit or add a plugin, you need to manually link it using `npm link`, this causes a higher barrier for new developers to the project. Working on multiple packages in `superset

[2021-02-08 20:56] taitai42 commented on #13007
found out the celery task name for alerts&reports is `reports.scheduler`
added the config to celery and now works like a charm.
thanks

[2021-02-08 21:13] nytai commented on #13007
@taitai42 nice name :)

Yes, there's some important config missing for the new alerts and reports feature. We're working on patching this gap in config and docs. Here's the PR to fix the issue you just noticed, https://github.com/apache/superset/pull/12999

[2021-02-08 23:33] junlincc opened #13017 "[Explore]user can not type filter values when above 10k option limit"
In Explore control panel - adhoc filter, select a column, set operator to "equals", see user can not type to add filter value that's not in the 10k limit in the select dropdown.
**Broken in equals and LIKE**

In `equals `
![ezgif-6-40b95e6e96db](https://user-images.githubusercontent.com/67837651/107299038-6f659b80-6a2b-11eb-8ac7-35a2fc4895b3.gif)

https://user-images.githubusercontent.com/67837651

[2021-02-09 00:53] yousoph opened #13018 "[SQL Lab] Restyle Existing Display Limit Warning"
## Screenshot
![Clipboard_2021-25-01_at_11 13 23_PM](https://user-images.githubusercontent.com/10627051/107300020-860cf200-6a2d-11eb-81fd-2a8f2dbdd09b.png)

## Description
How to Repro:
* Set DISPLAY_MAX_ROW to a low number
* Run a query with the LIMIT dropdown set to a number higher than DISPLAY_MAX_ROW
The orange LIMIT indicator that appears wasn't styled with the new toolbar and appears twice.

[2021-02-09 01:02] yousoph commented on #10330
Mocks for indicator & messaging:

- When config DISPLAY_MAX_ROW is limiting the results: #13018
- When config SQL_MAX_ROW is limiting the results for [admins](https://www.figma.com/file/5db2MpaKNnC1c7MK9ysdeV/SQL-Limit-Indicator?node-id=90%3A281) and [non admins](https://www.figma.com/file/5db2MpaKNnC1c7MK9ysdeV/SQL-Limit-Indicator?node-id=90%3A423)
- [When the limit dropdown is limiting the resul

[2021-02-09 01:02] yousoph commented on #12436
Let's use this issue to just add the number of rows returned, ie x rows returned (https://www.figma.com/file/5db2MpaKNnC1c7MK9ysdeV/SQL-Limit-Indicator?node-id=90%3A71)

Related follow up tickets to add the additional indicators and messaging:
#13018 and #10330

[2021-02-09 01:12] junlincc commented on #12988
Expected behavior - only showing the matched columns in a table.

but this is a low-priority. 😃 [[Explore]user can not type filter values when above 10k option limit](https://github.com/apache/superset/issues/13017)  is higher @kgabryje

[2021-02-09 01:19] junlincc commented on #13017
@kgabryje

[2021-02-09 01:31] eschutho commented on #10330
this is great. Thanks @yousoph! What if more than one condition are true, like the limit dropdown and the limit in the query are both the same?

[2021-02-09 02:08] junlincc commented on #13011
@akud Thank you so much for reporting issues at such detailed level! I am able to reproduce, this is happening to all dataset.
we can't get to it soon unfortunately 😞
If anyone would like to contribute, according to our committer, this is likely a frontend error caused by the server, and the broken line could be found in the ui plugin code. 🙏

[2021-02-09 02:12] kamalkeshavani-aiinside commented on #12957
Updated the feature request to show row count of query results as well.

[2021-02-09 02:23] junlincc commented on #13017
second issue - cosmetic
Dashboard filter that's carried to Explore will not be saved in Chart. a warning message is attached to such filter.
Expected behavior, warning sign should be in the field, in yellow.
<img width="671" alt="Screen Shot 2021-02-08 at 6 20 55 PM" src="https://user-images.githubusercontent.com/67837651/107306848-7d6ee880-6a3a-11eb-8aa1-7aee526722c0.png">

[2021-02-09 02:34] junlincc commented on #12957
+1 on having total row count of results in SQL lab, should be a simple enhancement. In Explore there's a 10k row limit though. @mistercrunch @yousoph wdyt?

Having serial number in the csv download file from Explore view is nice to have as well.

[2021-02-09 03:07] junlincc commented on #10328
i can't believe this has not happened yet 🤦🏾‍♀️😆 @michael-s-molina can you squeeze this in this week? thank you so much!🙏

[2021-02-09 05:13] junlincc opened #13019 "[chart]x axis format is missing on the first date of each month"
User now can change X AXIS FORMAT in time series charts and see date format on rich tooltip. However, the first date of the month is always missing its full time format in tooltip. (e.g. 1/1/2021 is displayed as Jan 2021) see video

https://user-images.githubusercontent.com/67837651/107318140-ef522c80-6a50-11eb-9447-3ee3be094592.mov

<img width="294" alt="Screen Shot 2021-02-08 at 9 05 58 PM" src=

[2021-02-09 05:27] lilila commented on #12681
Dear @junlincc ,

I pulled the 1.0.1 version and I still have empty cells where I should see images in Pivot Table. Do you have any suggestion?
Best,
Lise

[2021-02-09 05:54] junlincc commented on #12681
Hi Lise, sorry we misunderstood the issue. the PR i mentioned didn't cover this case🤦🏾‍♀️. we are looking into it and will push a fix soon! I apologize.

[2021-02-09 05:56] yousoph commented on #10332
I believe item 3 (Pasting into a spreadsheet should paste into correct individual cells (not one cell)) is solved by using "paste values only" (command + shift + V on a Mac) in Sheets. It's probably not obvious though so maybe there's more we can do to make it easier for the user.

[2021-02-09 06:08] junlincc commented on #10332
we should address 3 at product level as we have multiple clipboards buttons across the product.

[2021-02-09 06:15] iercan commented on #13019
Same thing happen for 00:00 a.m. when time grain is hour.

[2021-02-09 06:25] junlincc commented on #12986
@yousoph  could you take a look? thanks.

[2021-02-09 07:23] yousoph commented on #12986
This was fixed recently: #12973

[2021-02-09 07:27] #12986 closed

[2021-02-09 07:53] rijojoseph07 commented on #12695
running `npm run ci` before build fixed the issue.

[2021-02-09 07:53] #12695 closed

[2021-02-09 08:27] iercan opened #13023 "Chart name looks as its id number when trying to edit an alert or report"
When I try to edit an alert or report I realized selected chart name seems as id number.

### Expected results
I should see selected chart name.
![image](https://user-images.githubusercontent.com/3406152/107335208-b3f34480-6ac8-11eb-982f-7b177070cea0.png)

### Actual results
Chart name looks as chart id when trying to edit.
![image](https://user-images.githubusercontent.com/3406152/107335148-a0e07

[2021-02-09 08:29] kgabryje commented on #13017
On it

[2021-02-09 08:32] ktmud commented on #13013
Adding some historical context to make sure we made a conscious decision after considering all pros and cons:

1. The initial discussion on moving packages out of the main repo: https://github.com/apache/superset/issues/5667#issuecomment-415511861
2. My question about the developer experience on working across multiple repos: https://github.com/apache/superset/pull/8638#issuecomment-587734238
3. A

[2021-02-09 08:37] TColl opened #13025 "Pe-commit hooks using deprecated code"
Since `isort` v5.0, `seed-isort` is no longer needed and the source code [has been archived](https://github.com/asottile-archive/seed-isort-config).

By bumping the pre-commit hooks to newer versions we can remove the seed-isort hook entirely and stay with code that is actively supported.

### Expected results

Pre-commit hooks should be bumped to newer versions to avoid relying on unmaintained co

[2021-02-09 10:20] vnourdin commented on #12871
We had an error after upgrading to superset v1.0.0 too, it has been fixed by upgrading `geckodriver` from `0.24` to `0.29`!
It wasn't exactly the same error but if it can help someone :shrug:

[2021-02-09 11:40] maheshbelavadi commented on #12964
@junlincc will be glad to contribute. I am bit new to superset UI. Is there any quick reference material which I can refer to. Just on where to start from, I will figure out my way if I can get some handle to start with.

[2021-02-09 13:00] korpa commented on #12907
I would have 2 wishes if you start to work on this:

* Make total lines position configurable: _top_ or _bottom_
* Make total columns position configurable: _beginning_ or _end_

This could be very handy if you have many lines or many rows

[2021-02-09 15:05] zhouhanc commented on #6389
I am getting the same "database is locked" error on superset version 1.0. My system is Red Hat Enterprise Linux 8.2.

Does anyone have a good solution? Thanks!

[2021-02-09 15:14] thelightbird opened #13030 "i18n: translation of dashboards and charts"
I am currently investigating the use of Apache SuperSet at work.

**Is your feature request related to a problem? Please describe.**
An important feature for us is to be able to translate dashboards and charts in different languages.

**Describe the solution you'd like**
I've seen that SuperSet has an internationalization feature, but it seems that it is currently only used to translate the dashbo

[2021-02-09 17:41] mohimirza commented on #12824
@liuxp311 @beautah The problem seems to be caused by SIGALRM. Here is a workaround which has worked for me.
In **Lib\site-packages\superset\utils\core.py** replace:

[code]

with

[code]

[2021-02-09 17:47] ITStitch opened #13033 "Superset Upgrade from v 0.38 to v 1.0.1 DB Upgrade Exception"
Hi there, I want to to upgrade superset from version 0.38 to 1.0.1. My database is in PostgreSQL, but when I tried to run superset db upgrade command, I've got the following error:

superset db upgrade
Loaded your LOCAL configuration at [/home/flaskuser/venv/lib/python3.7/site-packages/superset_config.py]
logging was configured successfully
INFO:superset.utils.logging_configurator:logging was conf

[2021-02-09 19:03] ashishtadose opened #13036 "Wrap text results output for long textual outputs in SQL results tab"
Current any long textual output is displayed as a single line (with a scroll bar).

This behavior makes it cumbersome to read text outputs for frequently used SQL queries such as SHOW CREATE TABLE or EXPLAIN PLAN which contains text output.

<img width="1599" alt="Screenshot 2021-02-10 at 12 25 43 AM" src="https://user-images.githubusercontent.com/1897846/107414101-8e515400-6b37-11eb-9295-5e270eb8

[2021-02-09 19:05] ashishtadose commented on #13036
Is there any config to enforce text wrapping for superset text result output?

Thanks in advance.

[2021-02-09 19:51] GangadharGuska opened #13038 "Error after install and upgrade of Superset DB apache-superset 1.0.1"
After install and upgrade of Superset DB  apache-superset 1.0.1 gets an error clicking on Charts or dashboard" Traceback (most recent call last):   File "/obi/ApacheSuperset/superset01/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context     cursor, statement, parameters, context   File "/obi/ApacheSuperset/superset01/lib/python3.7/site-packages/sqlalchemy/engine/

[2021-02-09 20:01] junlincc commented on #13030
<img width="762" alt="Screen Shot 2021-02-09 at 11 59 22 AM" src="https://user-images.githubusercontent.com/67837651/107421016-595ce700-6ace-11eb-9c12-96517ddb3696.png">
@thelightbird custom text works for me, or maybe I didn't understand your request correctly?

[2021-02-09 20:01] beautah commented on #12824
Nice! Thanks for that @mohimirza , but I've decided to go ahead and get this set up on my linux server and keep it within the realm of supported devices, might just have to use this trick to have a working local development version though, it certainly works!

[2021-02-09 20:19] zuzana-vej opened #13040 "[Explore] Time grain should match X-axis"
**Is your feature request related to a problem? Please describe.**
Currently when user selects monthly or weekly time grain in Explore, the X axis on the chart still displays all the days (if there is space for it - depending on time period overall selected). There is no way to change this currently in the Customize tab.

**Describe the solution you'd like**
If monthly time grain is selected, the

[2021-02-09 20:30] nytai commented on #13033
@ITStitch This migration is trying to merge the alerts models into a single one. Looks like your db has some records that violate the new uniqueness constraints on the new models. I suspect you have various alerts records that have an empty `database_id` field. I'd suggest you delete those records and attempt the migration again.

[2021-02-09 21:02] thelightbird commented on #13030
I meant to say: for a given dashboard or chart, we would like to be able to specify text translations for each language without having to duplicate the whole dashboard or chart. For example: create the chart in the first language, then save it, change the language, and then edit the same chart and it will edit the translations of that selected language without losing previous language translations

[2021-02-09 21:40] junlincc commented on #13040
@zuzana-vej
thanks for the request. Yes, x-axis is not picking up the time grain consistently in all the time series chart, not deal breaker but  it could get pretty annoying.
Our plan is to implement this enhancement in Echarts only, along with advanced analytics(rolling window etc.) to reach full feature parity and deprecate NVD3 time series charts. We will add to roadmap when it gets closer.

c

[2021-02-09 22:00] junlincc commented on #13030
got it! unfortunately this is not in our roadmap in the near future. feel free to provide a SIP(Superset improvement proposal) and detailed plan to push this forward though!  @thelightbird

[2021-02-09 22:15] betodealmeida commented on #13038
@GangadharGuska, did you run `superset db upgrade`?

[2021-02-10 02:47] GangadharGuska commented on #13038
"Yes i have"

[2021-02-10 03:30] juneauwang commented on #12990
Your connection string is good for me. You can try to get a valid kerberos ticket in user superset on linux and run superset with user superset so that connection should be good.

[2021-02-10 05:17] Beknazar19 opened #13043 "Filter Box incorrect"
Hello everybody.
I have a problem with the filter when I went from 0.38 to 1.0.0

ORA-00936: missing expression
This may be triggered by:
Issue 1002 - The database returned an unexpected error.
![image](https://user-images.githubusercontent.com/45395471/107468027-70184200-6b91-11eb-8704-07e27745c826.png)

thanks...

[2021-02-10 05:34] hodgesrm commented on #12881
Try leaving off the port.  The ClickHouse SQLAlchemy driver uses native tcp connectivity and should connect to port 9000.  If you leave it off the driver will do the right thing.

[2021-02-10 06:33] #12722 closed

[2021-02-10 06:35] junlincc commented on #13043
@Beknazar19 thanks for reporting, could you give clear steps to reproduce?

[2021-02-10 06:40] junlincc commented on #12987
@aguspina thanks for the details.  @mayurnewase do you mind taking a look this issue? 🙏

[2021-02-10 06:41] #12902 closed

[2021-02-10 06:41] #12904 closed

[2021-02-10 07:07] Asturias-sam commented on #12786
We want to manage the Dashboard Performance  in Superset so it will help us the alert our team about slow performance and we  can take the necessary steps to speed up our datasources.

[2021-02-10 07:16] amuluowin opened #13045 "[timezone]add timezone setting to chart and advanced analytics"
**Is your feature request related to a problem? Please describe.**
1.I have some statistics that require time zone conditions, but the time conditions use the service time zone by default
2.When I switch the time granularity in the dashboard, I cannot reset `Comparison Period Lag`

**Describe the solution you'd like**
1.Add timezone option to `Filter Box` and `Charts`.
2.The `Big Number with` Tren

[2021-02-10 09:07] suedschwede commented on #12881
If you use a password for the default user in clickhouse, you need a different infi.clickhouse_orm version

pip uninstall infi.clickhouse_orm
pip install infi.clickhouse_orm==1.0.4

[2021-02-10 09:14] Beknazar19 commented on #13043
I created filters in 0.38 as usual, everything worked.
Then I imported the dashboard to 1.0.0.
Diagrams were imported correctly, but filters with errors.

[2021-02-10 09:34] raphaelauv commented on #12881
@suedschwede thank for your help

I changed the clickhouse conf to :
[code]

I can connect from dbeaver without setting a user and password.

And this URI work in superset

![Screenshot from 2021-02-10 10-33-39](https://user-images.githubusercontent.com/10202690/107491475-7a374200-6b8b-11eb-8ec5-a93eefe00c80.png)

@hodgesrm your solution work also when there is no defined user and password

I will

[2021-02-10 09:43] lctdulac opened #13048 "Time Series Chart Filter Box like in the table view"
Hi SuperSet community!

There is no filter box nor page-like option for Time-Series tables.

<img width="792" alt="Screenshot 2021-02-10 at 10 37 12" src="https://user-images.githubusercontent.com/46674763/107492439-bb7c2180-6b8c-11eb-991e-a684b6478897.png">

It'd be great if it was possible to do it as in the Table view (below) :

<img width="1429" alt="Screenshot 2021-02-10 at 10 37 28" src="htt

[2021-02-10 10:12] villebro commented on #13043
Are you getting errors when importing dashboards, or is this happening after you upgraded your superset installation from 0.38 to 1.0.0?

[2021-02-10 10:31] Kamakshi12 commented on #8644
After "ENABLE_ROW_LEVEL_SECURITY : True"  and running superset init , it's not reflecting in superset. I am using superset version 0.37.2 and running this on a Linux system.

P.S. However I tried the same on a windows machine, it worked.
What could possibly make it work in Linux ?

[2021-02-10 10:42] kristw commented on #13013
When we moved to the separated repos, the goal was also to raise code quality bar, increase development velocity, and produce components that can be natively embedded in other applications (therefore the `npm` packages).
However, as @ktmud mentioned, it has been 2 years since then and many things were changed.

----

**History-1:** The quality of the code in `apache/(incubator-)superset` was not g

[2021-02-10 10:47] villebro commented on #8644
On more recent Superset versions, the config variable `ENABLE_ROW_LEVEL_SECURITY` has been moved to a `FEATURE_FLAG` called `ROW_LEVEL_SECURITY`. Please check `UPGRADING.md` for details.

[2021-02-10 10:58] Beknazar19 commented on #13043
an error occurs after importing the dashboard

[2021-02-10 11:33] yerrochdi commented on #12827
same issue.
- superset_init not running
superset_init            | ######################################################################
superset_init            |
superset_init            |
superset_init            | Init Step 4/4 [Complete] -- Loading examples
superset_init            |
superset_init            |
superset_init            | #######################################################

[2021-02-10 13:52] SuzGori commented on #12827
@yerrochdi
test_worker is not important for me.
this is "test".
exit code 0 and work is important for me.

[2021-02-10 15:01] Kamakshi12 commented on #8644
As mentioned in "Updating.md", I have included "ROW_LEVEL_SECURITY : True" (also tried "ENABLE_ROW_LEVEL_SECURITY : True") under the Feature_Flag Dictionary. After doing so and running superset init also it is not reflecting in superset.

[2021-02-10 15:31] #12922 closed

[2021-02-10 15:41] duynguyenhoang opened #13060 "when user doesn't have permission to access resource, http code 400 is returned"
Currently when user doesn't have permission to access resource, for example save a chart, the http code 400 is returned.

### Expected results

http code 403 is returned.

### Actual results

http code 400 is returned.

### Environment

- superset version:  master
- python version: 3.8
- node.js version: v12.19.0

### Checklist

Make sure to follow these steps before submitting your issue - thank

[2021-02-10 16:03] beautah opened #13062 "database names with "$" in string converted to "%24" in connection string"
I have a several mySQL databases with the naming convention: `<user>$<device>`. When querying the connection seems to fail often, seemingly with different behavior for different methods called. It was apparent from the error message that the database name was being mutated to `<user>%24<device>`. Its a simple enough fix to use the following mutator function in the superset_config.py to fix this:

[2021-02-10 16:24] alafanechere commented on #10996
Same error here using `superset v1.0.1`  with geckodriver `v0.29`. Webserver and  workers are running in Kubernetes. I tried to allocate `2G` of memory to my  worker pods but it did not change the problem, and the worker pod running the task is consuming way less than `2G` when I try to send a test email.
I tried increasing render time related configs without more success :
* `SCREENSHOT_LOCATE_WA

[2021-02-10 16:41] Steejay commented on #10330
thanks for bringing up this edge case @eschutho

• When more than one condition are true for [admins](https://www.figma.com/file/5db2MpaKNnC1c7MK9ysdeV/SQL-Limit-Indicator?node-id=133%3A70) and [non admins](https://www.figma.com/file/5db2MpaKNnC1c7MK9ysdeV/SQL-Limit-Indicator?node-id=133%3A212)

For these conditions, the configuration in the message is always behind a tooltip. ie if [query = displ

[2021-02-10 16:46] Steejay commented on #10330
We did consider a more generalized message like "The number of rows displayed is limited to 1 000 by more than one limit constraint" but opted for a more specific message for additional clarity. Thoughts?

[2021-02-10 16:55] tritonrc commented on #13009
Hi, I ran into this same issue yesterday and after digging around the code I landed on a fix.  In my case, the fields were coming back marked as `Time` type.  Looking at https://github.com/apache/superset/blob/master/superset/db_engine_specs/presto.py#L576

I insert two lines to cover the `Time` type at line 579:

[code]

As part of digging into this, I ran across the recently landed PR https://gi

[2021-02-10 17:23] zuzana-vej commented on #10330
End user doesn't know about DISPLAY_MAX_ROW or SQL_MAX_ROW and there is nothing they can do (besides contacting the admin). Do we want to expose this level of detail to them?

I think the messaging for when user limits in dropdown, or when user limits in query is great. When there is systems settings which admin (maintaining team) needs to config, I would think we can keep more generic message lik

[2021-02-10 17:36] kekwan commented on #13009
Hey @tritonrc. I also fixed the issue but had a slightly different fix for my scenario.

Issue 1 was our Presto `TIMESTAMP` columns were getting marked as `OTHER` (not `TIME` either) due to Trino/Presto's new timestamp precision type. We followed this https://github.com/apache/superset/issues/11138#issuecomment-702475356, to omit timestamp precision and it correctly identified our `TIMESTAMP` colu

[2021-02-10 18:45] Steejay commented on #10330
@zuzana-vej Thank you for the feedback! You bring up a great point. This is something we did consider and proposed that admins and non admins have different messages (see links attached in above messages).

![Frame 285 (1)](https://user-images.githubusercontent.com/60786102/107552554-8241b280-6b88-11eb-882a-a6f5dd65925c.jpg)
![Frame 284](https://user-images.githubusercontent.com/60786102/107552557

[2021-02-10 19:26] zuzana-vej commented on #10330
Sounds good yes the admin/non admin makes sense thanks for clarifying.

[2021-02-10 19:35] prb219 opened #13064 "Unable to use oracle db for storing superset metadata"
Hi,

I am trying to bring up a superset instance and in the process I am using oracle db to store the metadata for superset. However, superset fails to start with the below error. Works fine when I switch to sqlLite instead however that is not a viable option in my case.

### Expected results
Expected superset to start storing metadata in oracle db

### Actual results
I see the below error instead

[2021-02-10 22:26] betodealmeida opened #13065 "Can't edit SQL expression of metric/calculated columns in datasets"
When editing a dataset it's impossible to edit the SQL expression of metrics/calculated columns

### Expected results

I should be able to edit.

### Actual results

I can't edit, the input field for SQL expression doesn't show up.

#### Screenshots

N/A

#### How to reproduce the bug

1. Edit a dataset
2. Try to change the SQL expression of a metric or calculated column

### Environment

- supers

[2021-02-10 22:33] pabrahamusa opened #13066 "SQLLab Query Results not appearing if we leave tabs open for a long time"
SuperSet SQLLab query search will not display any results , even if there are results. This happens when we leave the browser open for a long time say 1-2 hours. Or we revisit the SqlLab (Chrome) after ~2 hours.

As a workaround I have to close the tab and reopen the tab, Copy the SQL query across then run the query again a fresh.

### Expected results

I expect the SQL results to appear in SQLLab

[2021-02-10 23:16] DRavikanth commented on #11507
This is the newest exception I am facing when running chrome driver.

`[2021-02-10 23:13:32,755: WARNING/ForkPoolWorker-8] Message: no such element: Unable to locate element: {"method":"css selector","selector":".grid-container"}
  (Session info: headless chrome=88.0.4324.150)
, retrying in 120 seconds...
[2021-02-10 23:14:00,347: WARNING/MainProcess] Soft time limit (150s) exceeded for email_repo

[2021-02-10 23:35] yousoph commented on #13065
I think this is an issue with the UI not being clear rather than a bug.

Clicking the SQL expression allows you to edit it for metrics:
![image](https://user-images.githubusercontent.com/10627051/107586573-0e69cf00-6bb5-11eb-9905-7e3c6ae924d9.png)

And calculated columns:
![image](https://user-images.githubusercontent.com/10627051/107586826-8fc16180-6bb5-11eb-9fd2-bf298cf1fad8.png)

[2021-02-11 00:23] ktmud opened #13067 "[TODO] Upgrade to npm 7"
https://github.blog/2021-02-02-npm-7-is-now-generally-available/

`npm 7` is now generally available and your local npm may have been upgraded if you have auto-update turned on.

But it has some breaking changes, most notably the new lockfile format and  how it handles `peerDependencies`. I did some testing and it seems the behavior for `npm link` has also changed---previously it will run `npm ins

[2021-02-11 00:56] yousoph opened #13068 "Example Dashboards: Tabbed Dashboard Charts Don't Show Up"
### Expected results
Dashboard should load charts properly

### Actual results
![image](https://user-images.githubusercontent.com/10627051/107592047-cb155d80-6bc0-11eb-97d5-6b65a8a75a1e.png)
Charts aren't working in the Tabbed example dashboard

#### How to reproduce the bug

1. Click on Dashboards
2. Click on the Tabbed Dashboard
3.
### Environment

(please complete the following information):

-

[2021-02-11 01:14] junlincc commented on #13068
I encountered this message twice before.
1. with native dashboard filter FF tuned on, it went away after nuking db
2. changing chart metadata

I will look into it. thanks for reporting! @yousoph

[2021-02-11 02:37] #12984 closed

[2021-02-11 02:38] #12985 closed

[2021-02-11 02:42] junlincc commented on #13068
confirmed that this sample dashboard has been broken since/in v1.0
and the dashboard seems got removed as a whole(does not exist anymore)...

<img width="1760" alt="Screen Shot 2021-02-10 at 6 40 43 PM" src="https://user-images.githubusercontent.com/67837651/107597495-a674b200-6bcf-11eb-89ab-0b647bdf033c.png">

[2021-02-11 02:46] junlincc commented on #13045
timezone setting is highly requested lately and is something we are committed to implement in Q2-Q3. @amuluowin please help us by providing detailed use cases. thanks!

[2021-02-11 02:55] DRavikanth commented on #11507
I am finally able to get the email functionality to work. Please find below exception I faced and solution that worked for me.

**Exception:**
`ed: NoSuchElementException('Unable to locate element: .grid-container', None, None)`
**Solution:**
Superset Worker runs the web driver to scrape the visual from Superset UI. Superset needs an user who has access to all dashboards to scrape. In my case, the

[2021-02-11 02:57] #11507 closed

[2021-02-11 04:48] mhconradt opened #13072 "Favorite status fails running Superset behind load balancer on K8S"
Warnings appear while loading the welcome page when accessing Superset through a LoadBalancer on Kubernetes. Assistance from any other people using Kubernetes is greatly appreciated.

### Expected results

Welcome page should load without warnings

### Actual results

Welcome page loads with "There was an error fetching the favorite status: failed to fetch"

#### Screenshots

![image](https://user

[2021-02-11 05:23] mayurnewase commented on #12681
Hi @lilila thanks for raising this.
I have raised pr to handle image rendering,but I think setting escape to False might not be a good idea, so you might need to continue doing it manually.

To display text with links would be bit difficult to handle as it will require html parsing and finding correct text inside and setting it seperately along with innerHtml property.
If this is absolute requirem

[2021-02-11 05:24] mayurnewase commented on #12681
@junlincc what do you think?

[2021-02-11 06:49] Beknazar19 commented on #13043
We use one host server, which have two superset release 0.38 with port 8080
and 1.0.0 with port 8088.
May be that's why error occurred?

ср, 10 февр. 2021 г., 16:13 Ville Brofeldt <notifications@github.com>:

[2021-02-11 07:07] villebro commented on #13043
@Beknazar19 a little more context would be needed to help debug this. Can you provide details on what the exact "Oracle Error" is (either by clicking on "See more" or in server logs)? Also, exporting and importing across different versions is not guaranteed to work; it may work, but in many cases it won't. To be able to import dashboards into your 1.0.0 version of Superset, you need to make sure t

[2021-02-11 07:23] tooptoop4 commented on #13009
@kekwan can u share the code for the fix?

[2021-02-11 08:18] pradhangn opened #13073 "International boundaries on mapbox-based visualizations: Legal issues"
### Problem:
Each country has legal regulations on what boundaries you can display on a map (eg. India, China). Due to disputes there are differing boundary definitions in each jurisdiction. Currently Superset shows a default mapbox country boundary which would violate Indian and Chinese and possibly other countries laws.

This means companies or users who make dashboards or share screenshots of m

[2021-02-11 09:23] #12989 closed

[2021-02-11 09:29] ktmud commented on #12681
My guess is, without `escape=False`, even `<img>` wouldn't render, `textContent` will just return `&lt;img ... &gt;`.

As this hack (manual modification of `superset/viz.py`) is not officially supported by Superset, I'd be hesitant to add more hacks to support it (or even categorize this as a regression).

If we want to properly support rendering (limited) HTML in Pivot Table cells, we should star

[2021-02-11 09:34] villebro commented on #12681
@ktmud I did actually test this with `escape=False` and it does work with @mayurnewase 's modification. I agree it's problematic to maintain support for customizations that aren't relevant for the current vanilla codebase, but I'm ok making this change for now to unblock orgs that have this need as I don't see any direct downsides to it.

[2021-02-11 10:24] Beknazar19 commented on #13043
it shows:
ORA-00936: missing expression
This may be triggered by:
Issue 1002 - The database returned an unexpected error.

I think the error is not related to the import of the dashboard.
When I create a new filter in version 1.0.0, an error appears.

[2021-02-11 10:35] ktmud commented on #12681
I guess one downside is if the fix is not clean, more hacks would mean more future maintenance cost and wasted work (especially if we are rewriting this soon anyway).

Luckily, a complete fix seems to be fairly direct in this case: https://github.com/apache-superset/superset-ui/pull/954#issuecomment-777310929  So I'm OK with pushing this forward.

[2021-02-11 10:55] AmarkhiS commented on #11507
Still having that issue (release 1.0.0) with correct admin user on EMAIL_REPORTS_USER/THUMBNAIL_SELENIUM_USER
Test with geckodriver 0.29 & chromedriver 88

[2021-02-11 13:42] cheunhong commented on #8818
For docker users on mac who are familiar with kubernetes, docker provides the option to start a kubernetes engine locally.
Just do ```helm upgrade --install superset ./helm/superset``` will get you going without all the troubles.
Remember to do ```kubectl port-forward service/superset 8088:8088``` after the installation is done.

[2021-02-11 15:03] alafanechere commented on #11507
I used the new `Alert and reports` feature of v1 that has a different implementation of emailing from the classic `Report` feature. Emailing works for me now, no more selenium exceptions.

[2021-02-11 15:52] omnidepp opened #13077 "Import dataset YAML in GUI"
**Is your feature request related to a problem? Please describe.**
I can happily export/download complex dataset-configurations through the GUI as a YAML files:
![Bildschirmfoto 2021-02-11 um 16 50 57](https://user-images.githubusercontent.com/14217074/107661280-6ffb6d80-6c89-11eb-9184-3a2397e415d2.png)

 However, I cannot import these configuration in a similar manner.

**Describe the solution yo

[2021-02-11 16:25] etr2460 commented on #11295
Hey @betodealmeida bumping this as we're getting requests to be able to re-enable this flag again internally. I might look into fixing it myself, but wanted to know if you had any thoughts first

[2021-02-11 16:34] etr2460 opened #13078 "Certification Icons not shown in metric popover select"
## Screenshot
![image-2021-02-02-12-38-58-762](https://user-images.githubusercontent.com/7409244/107666682-a0b8b400-6c43-11eb-83ad-de1e2da4fad9.png)

## Description
For the same search query, we show certification icons for the metrics in the dataset sidebar, but not in the metric popover select. I believe this is a regression from previous behavior where we showed the certification icons in both

[2021-02-11 18:03] junlincc commented on #13078
thanks for reporting! I believe we lost the certification icon for a while already sice AntD migration? We will bring it back soon.🙏

[2021-02-11 18:12] joehoeller opened #13080 "After successful deployment and login, internal query with SQL Alchemy fails"
Here is the error that is returned after logging in from GUI:

`
Sorry, something went wrong
500 - Internal Server Error
Stacktrace
        Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context
    cursor, statement, parameters, context
  File "/usr/local/lib/python3.7/site-packages/sqlalchemy/engine/default.py"

[2021-02-11 18:31] willbarrett commented on #13064
Hi @prb219 - thanks for the question. Currently Superset supports two production-appropriate database types for the metadata database: MySQL and Postgres. May I recommend one of those two for your setup?

[2021-02-11 18:57] klazaj opened #13081 "Possibility to plot Line of best fit in a Line Chart?"
Is there a way to plot Line of best fit (simple linear regression) into a Line chart, with times series data? Does this option exist in Superset, or should it be coded manually into a SQL query before applying it to a chart?

[2021-02-11 19:31] kekwan commented on #13009
@tooptoop4 Yup. I filed a PR https://github.com/apache/superset/pull/13082

[2021-02-11 20:28] anthonybu commented on #3829
Still seeing the same issue in 1.0.0

[2021-02-11 21:19] Steejay commented on #12957
Hey @kamalkeshavani-aiinside thanks for the feedback and feature requests! As @junlincc mentioned we're adding a row count indicator in SQL Lab for the results. Feedback is welcome on the designs posted in #12436.

Re serial number. this is a great suggestion and would be a great result table enhancement. Im interested to learn more about this. Can you tell me about the last time you wanted to see

[2021-02-11 21:26] mihir174 commented on #13012
Yup I think this is a great idea. I also figured if we do the bonus of adding to the bottom or top of a tab, we could provide the same option for adding to a dashboard in general

<img width="1408" alt="Slice 2 (1)" src="https://user-images.githubusercontent.com/64227069/107700742-ca3a0580-6c6c-11eb-8802-94f76b9ab952.png">

[2021-02-11 21:33] Steejay commented on #12965
Agreed. This is a bug and not the desired interaction. Original spec for bulk selecting one or multiple cards:

![Select](https://user-images.githubusercontent.com/60786102/107701362-a925e480-6c6d-11eb-9bec-8f71322ff2c1.jpg)

cc @mihir174

[2021-02-11 21:56] DRavikanth commented on #11507
@AmarkhiS Did you check if your admin user has access to open all the dashboards? I had to assign admin user to admin role to get this sorted.

[2021-02-11 22:57] nytai commented on #12965
This was working previously. I think we made some changes to make the entire card clickable at some point which likely broke this.

[2021-02-11 23:36] tooptoop4 commented on #11364
cc: @yousoph @junlincc @Steejay

[2021-02-11 23:37] mhconradt commented on #12592
@pl77 were you successful with any CORS settings?

[2021-02-12 00:30] kamalkeshavani-aiinside commented on #12957
Hey @Steejay, here is a use case where I felt that serial numbers could have helped me recently.

- I was looking at a query result grouped by 2 columns, date and name(also ordered by date and name).
- You could say it is more of a habit from other SQL editors, where I can simply use serial number to find out how many rows with the first name are present in the results.
- In SQL lab, I just had to

[2021-02-12 02:12] junlincc commented on #13081
@villebro does annotation support?

[2021-02-12 02:47] #12852 closed

[2021-02-12 02:53] michellethomas commented on #12750
Hi, FYI I got my dev environment working so I'm going to put up a fix for this issue.

[2021-02-12 02:53] junlincc opened #13085 "[table]save sort order of table column when saving/overwriting chart"
Currently in table chart, there is no way to save sort order of a column when saving the chart.

Feature request: save column sort-by when saving(over-writing) a table chart.

https://user-images.githubusercontent.com/67837651/107725141-63334580-6c9a-11eb-8d72-3d353dba1292.mov

[2021-02-12 02:55] junlincc commented on #12750
thank you Michelle 🙏 ! owe you a fix! @michellethomas

[2021-02-12 05:07] junlincc commented on #13019
@maloun96 ^ let's tackle this one 🙏

[2021-02-12 05:21] anilkulkarni87 commented on #12941
I get the same error. I am trying this on a Windows WSL2 Ubuntu. I am using docker-compose up after cloning the repo.

[2021-02-12 07:16] junlincc commented on #13017
resloved

[2021-02-12 07:16] #13017 closed

[2021-02-12 07:41] iercan opened #13089 "It is not possible to edit a database if it is not accessible"
We have a database connection that is not accessible anymore. I want to remove it from sql lab view but since database is not accessible I'm getting error in the picture.

### Expected results

Database should be saved successfully.

### Actual results
Giving below error and doesn't save
![image](https://user-images.githubusercontent.com/3406152/107741456-404a7500-6d1e-11eb-88bf-451494630839.png)

[2021-02-12 08:09] zhaoyongjie commented on #11364
Now Superset does not seem to generate SQLlab query through URL parameters. But you can use work around to do that.

[code]
1. Create a saved query from the above API, then saved post response id to the `Data Catalog app`
2. Query this Saved query from `http://<hostname>:<port>/superset/sqllab?savedQueryId=<saved id>`

[2021-02-12 08:35] gorcurek commented on #12827
did you guys follow https://superset.apache.org/docs/installation/installing-superset-using-docker-compose ? I have just tried it and got no error, all is running well on http://localhost:8088

[2021-02-12 08:41] Psyruss77 opened #13091 "Ss"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-12 09:26] AmarkhiS commented on #11507
@alafanechere I have tried this feature, but I'm unable to create an alert/report. Add button remains disabled

@DRavikanth yes that's the first thing I checked after your answer

[2021-02-12 09:39] dpgaspar commented on #12941
@PullGituser,

make sure that when you update the config you reinstall superset `pip install -e .` or `python setup.py install` and then follow the init steps: `superset db upgrade`, `superset init` etc. What procedure did you use to create the user on Postgres?

[2021-02-12 09:40] #13091 closed

[2021-02-12 09:42] dpgaspar commented on #13089
Every DB connection you create is shown on SQLLab (if the user has permissions for it). On this case I think you actually want to remove the connection (delete the record from the db connection list)

[2021-02-12 09:50] iercan commented on #13089
No I don't want to remove database in case I may use it in future. Also this is not just about sqllab, database is not editable in anyway if it is inaccessible. I just gave sqllab situation  as an example.

[2021-02-12 09:55] dpgaspar commented on #13089
Yes, I understand now. By design when an update is done, superset fetches the existing schemas from the db and updates the necessary security permissions. This behaviour can probably be improved if it's a problem to not be able to edit for example SQLLab database properties.

Can you explain in more detail, your use case for editing SQLLab properties for a database that is not accessible?

[2021-02-12 10:04] iercan commented on #13089
I just wanted to disable it from sqllab for more clear view. I think there is no need to fail because of a connection issue for every update action while there is a 'test connection' button there.

[2021-02-12 10:29] vnourdin commented on #12942
@shemExelate the config for reports scheduling is missing from your `CeleryConfig`, you must add the content of [this PR](https://github.com/apache/superset/pull/12999/files).
This feature is not yet documented properly, we are working on it!

[2021-02-12 11:37] vialcollet commented on #6426
Hi all
I am having the same issue.
Whatever selection I have on my filter box chart, the dashboard defaults to "last week".
Is there any plan to fix this or is there a workaround?
Maybe I am mssing something.
Thanks

[2021-02-12 12:34] JMGGarcia commented on #12942
@vnourdin Thank you, but with the content of that PR, I'm still getting the same results (using basically the settings @shemExelate posted previously). The beat container only logs

[code]

[2021-02-12 12:56] anilvpatel21 commented on #12881
Is there any way to connect with multiple hosts, as a clickhouse driver support alt_hosts are parameters. Any help?

[2021-02-12 13:54] vnourdin commented on #12942
Are you creating your reports from the old menu or the new "Alerts & Reports" one?
The celery beat is only used with the new implementation I believe.

[2021-02-12 14:01] JMGGarcia commented on #12942
I'm using the new one (although I tested and I'm able to run the old one).

[2021-02-12 14:15] iercan commented on #12766
@robdiciuccio I did some further tests. I tried to change celery execution pool from prefork to gevent and interestingly errors gone. But this time I started to experience more slow load times or even some charts can not load even if I don't see any error in logs.

[2021-02-12 14:25] vnourdin commented on #12942
Then I don't know what's wrong :thinking: I got those logs:
[code]
The only main missing config I see is `WEBDRIVER_BASEURL` but you have no error...

[2021-02-12 15:02] vialcollet commented on #6426
I found that if we follow these steps, we can fix this issue:

- Display the dashboard
- Select the appropriate time range
- Edit the dashboard
- Fake change
- Save

[2021-02-12 16:20] raphaelauv commented on #12881
@anilvpatel21 I dont understand your question and also what is the relation with superset :confused:

[2021-02-12 16:20] krsnik93 commented on #12844
Still an issue for me.

[2021-02-12 18:17] svizi commented on #12723
Same here. Blank page after the login.
MacOS version : 11.2.1
Docker Desktop : 3.1.0
8GB Memory allocated to Docker.

[2021-02-12 18:43] anilvpatel21 commented on #12881
alt_hosts – list of alternative hosts for connection. Example: `clickhouse://username:password@host:port/database?alt_hosts=host1:port1,host2:port2`

It will assure that if the host is failing it will connect to the alternate host for the high availability.

As in Apache superset the parameters are not acceptable, may be it's a problem of sqlachemy-clickhouse drive.

Also I tried clickhouse-sqlach

[2021-02-12 19:02] vialcollet commented on #10729
If my understanding is correct, this is still missing.
We can't specify any format in data table viz except if we setup calculated columns. This is resulting in such tables:

![image](https://user-images.githubusercontent.com/4971086/107810433-f177fc00-6d6c-11eb-9fff-19c32467ea30.png)

Or else I am missing somthing...

I am using 0.38.0

[2021-02-12 19:14] Yattabyte commented on #7172
Kinda baffled that this wouldn't have been the very first behaviour implemented, with aggregates coming after

[2021-02-12 19:36] mehtajay1 commented on #6853
@mistercrunch
 I have installed the latest release at: https://pypi.org/project/apache-superset/ but am still facing the same issue.

[2021-02-12 19:46] pl77 commented on #12592
@mhconradt For some inexplicable reason I'm not noticing the error messages anymore.  I haven't updated the container holding it nor changed any CORS settings yet.  I got pulled away into another project for a couple of days and when I went back I stopped noticing the errors.  Very odd.

[2021-02-12 20:14] ITStitch commented on #13033
Hi @nytai, thanks for your reply. Following yours comments, I erased de alerts and the dashboards emails, and then the update script run correctly. The issue was solved, thank you very much.

[2021-02-12 20:19] DRavikanth opened #13097 "Dashboard generated via report scheduling is truncated"
A clear and concise description of what the bug is.

Bug is related to scheduling email part. There is a huge dashboard with 25 visuals that requires scrolling the dashboard. When an email is sent for this dashboard, the image is truncated to only first screen(everything that needs to be scrolled is getting skipped). I have tried increasing the `WEBDRIVER_WINDOW` but still the same issue.

### Exp

[2021-02-12 21:30] junlincc opened #13099 "[Table]send empty filter value " " to query after default filter value is removed"
User uses the same dataset to create a table chart, and a FilterBox with a default value in column. '
Add both to same dashboard.
Go to dashboard, see default value and table chart ✅
User goes edit the FilterBox in Explore from Dashboard
Remove the original selected default filter value and save, go back to the same dashboard.
See chart result is not showing after default value is removed -  see v

[2021-02-12 21:30] junlincc commented on #13099
@ktmud 🙏 ^

[2021-02-12 22:04] javidsch commented on #10773
I'm testing it now.... and waiting 30+ min...

Result is the same(white-screen with 2 buttons), and the resources are not found.
http://localhost:8088/static/assets/images/loading.gif
http://localhost:8088/static/assets/images/superset-logo-horiz.png

How to check which process is running in background?

[2021-02-12 22:20] ktmud commented on #13067
Looks like `package-lock.json` is inadvertently upgraded by #13079 .

[2021-02-12 22:23] vineetgupta02 commented on #12827
I followed this link and was able to get superset up and running with just one docker image
https://hub.docker.com/r/apache/superset

hope this helps.

[2021-02-12 22:32] nytai commented on #13097
@DRavikanth You're using the new version of alerts and reports right? I don't think it's using that config value unfortunately, it's currently using hardcoded values https://github.com/apache/superset/blob/956f276e70cd167cd62f6a65585dd88830821d0c/superset/utils/screenshots.py#L205

[2021-02-12 22:36] DRavikanth commented on #13097
That's unfortunate.

[2021-02-12 22:38] nytai commented on #13097
We should change this to use the config values. I can open a PR but I'm not set up to test this at the moment.

[2021-02-13 01:40] junlincc opened #13101 "[list]hide all sample dashboard and chart"
As a Superset user, I would like to have the option to hide all sample dashboards from the list/card view.
currently in Superset there's no content organization ability, also no way to restore deleted objects. Sample dashboards and charts are helpful for first-time users, and can be a good reference from time to time. but they can get really annoying when mixing with users' own content in the list

[2021-02-13 05:41] wahyd4 commented on #9880
Got the same issue here when I following the official installation guide https://superset.apache.org/docs/installation/installing-superset-using-docker-compose.

It's pretty disappointing that having this issue in release/stable versions (I've tried both `1.0.0` and `1.0.1`).

[2021-02-13 06:24] Kamakshi12 opened #13103 "Dashboard / Charts not loading (first time after login, everytime)"
While opening charts/dashboard after login for the first time am getting the following error in superset. However after sometime in the same login when load it again, I am getting the dashboards / charts properly.
![Screenshot_2021-02-13 Screenshot](https://user-images.githubusercontent.com/78851183/107843534-ec10c500-6df1-11eb-8484-00b5723792ee.png)

P.S.: This happens at the first instance of ev

[2021-02-13 10:44] vialcollet opened #13106 "World map error after upgrade to 1.0.1"
I updated from 0.38 to 1.0.1.
I performed db upgrade as expected.
Then when trying to display a world map chart (directly or from dashboard) it is not loading and this message is displayed:
[code]
My only admin user has `bastien` as a username.

### Expected results

I am expecting the world map to be displayed eventhough there is no admin user with `admin` as a username.

### Actual results

Foll

[2021-02-13 10:45] vialcollet commented on #13106
It's worth mentioning that this was working as expected in 0.38

[2021-02-13 12:35] sonikanishk commented on #10997
adding `path.resolve(__dirname,'./src') ` below line 338 in webpack.config.js solved it thanks !!! @lybtt

[2021-02-13 13:05] #13033 closed

[2021-02-13 18:15] #12791 closed

[2021-02-13 18:19] amitmiran137 commented on #12790
There are quite a few which are using superset embedded in an iframe within another frontend application with SSO in a standalone mode

If you configure it correctly all should work for you

[2021-02-13 19:48] ktmud opened #13107 "[Dashboard][Edit Mode] Add a Refresh Chart List link"
**Is your feature request related to a problem? Please describe.**

After creating a chart, it's not very convenient to add a chart to the desired position I want. But if I'm already in Dashboard Edit mode (in another browser window), it would be nice it I can just refresh the chart list and starting adding the new chart:

<img width="464" alt="refresh-chart-list" src="https://user-images.githubus

[2021-02-13 20:17] ktmud commented on #13099
This is not unique to table chart, I'm seeing it for other charts as well:

https://user-images.githubusercontent.com/335541/107860660-5119ea00-6df5-11eb-9c37-5130f6dc07ac.mp4

[2021-02-13 20:54] amitmiran137 commented on #10216
you could override the FAB SecurityManager `addUser` method to customize how you add new users by adding them multiple roles

[2021-02-13 23:03] ktmud commented on #10997
This seems to be windows specific.  It uses `\` in file paths instead of `/`, breaking the regular expressions in Webpack's loader match rules.

[2021-02-14 06:29] Kamakshi12 opened #13110 "Limit Decimals in Surburst Chart while hovering"
## Screenshot
![image](https://user-images.githubusercontent.com/78851183/107870121-e7184800-6ebb-11eb-855b-2cef232e84e5.png)

## Description
I would like to limit the decimals to 2 places on the surburst chart while hovering on it. Kindly suggest ways to accomplish the same.

[2021-02-14 07:42] ktmud opened #13112 "[Explore] Validation Error indicator need some spacing adjustment"
## Screenshot

<img width="778" alt="spacing-for-frontend-errors" src="https://user-images.githubusercontent.com/335541/107871282-f021fe80-6e54-11eb-8476-745bf9847c1f.png">

## Description

There needs to be some space between the run buttons and the validation error indicator. (You see this indicator when there are frontend validation errors, which can happen when you create a new bar chart.)

[2021-02-14 08:43] mayurnewase commented on #12987
I think the file is in a different format, I found this pr fixes Bulgaria map, which suffers from a similar issue.

[2021-02-14 13:17] alvinlabiano opened #13115 "2 TIme Column Filter for Superset Apache"
Is there are way to create a widget with Superset Apache where the SQL Query is based on 2 time columns?

Example Query:

"SELECT
   title
  ,pipeline_id
  ,alc_production_status
  ,campaign_start_date
  ,campaign_end_date
  ,website_name
  ,performance_status_name
  ,sum(spend) AS spend
FROM superset_native_dashboard.v_content_list_with_facebook_ads_v1
WHERE ((campaign_start_date BETWEEN date '20

[2021-02-14 13:41] vialcollet commented on #9974
Hi all
I agree this is a missing functionality.
It can be requiered to offer the user the possiblity to zoom on specific ranges of some numerical fields.
For example I need it for some bubble charts.

[2021-02-14 14:23] mrdavidlaing commented on #9880
I found running `docker stats` in a separate terminal window helpful for monitoring whether the superset_node image was "busy"
![image](https://user-images.githubusercontent.com/227505/107879332-251f6700-6ed0-11eb-94f4-45bb3a95c6c3.png)

[2021-02-14 15:15] villebro commented on #9974
@aonurdemir @vialcollet the new native filters feature is currently under heavy development, and we've already implemented a range filter which adds this feature (greater than, less than and range). Expect the feature to be in testable state fairly soon, but general availability is probably still a few months away.

[2021-02-14 20:37] #12629 closed

[2021-02-15 04:13] amuluowin commented on #13045
OK

[2021-02-15 05:35] junlincc commented on #3962
@colax94 we are gradually rolling out features like native dashboard filter(by columns/dimensions, range, time) and group-by.
Most of the features are in development under feature flags.

[2021-02-15 06:00] junlincc commented on #9974
while you are waiting for the new features, you could try using jinja template to create range filter as workaround.
we dont have an exact tutorial for it yet, but you can refer to ..
https://www.youtube.com/watch?v=AcnNlIkfCiI
https://www.youtube.com/watch?v=dE1QlhunWMs

@vialcollet

[2021-02-15 06:05] #10920 closed

[2021-02-15 06:07] #10825 closed

[2021-02-15 06:13] junlincc commented on #10843
this one is overdue, thanks for the patience.

@maloun96 🙏 we probably don't have sample dataset to reproduce it, please try to create your own, lmk if you are blocked.

[2021-02-15 06:50] junlincc commented on #10387
@Mikedu1988 Superset currently doesn't support storing extracted data, which preventing us from solving this problem from the UI. we suggest you to transform this table to relational structure before exploring.
meanwhile, you can use jinja as a workaround, https://www.youtube.com/watch?v=blhWKmxkIHE&t=28s

[2021-02-15 06:52] junlincc commented on #11545
resolved - closing

the second issue still open but I'm not sure we should display verbose name instead of actual column name. @xuningyang

[2021-02-15 06:52] #11545 closed

[2021-02-15 06:55] jawabuu opened #13124 "Dashboard Email Reports Selector displays ID instead of Name"
## Screenshot

![image](https://user-images.githubusercontent.com/49921621/107914239-0b832b80-6f73-11eb-947a-4d3befb06165.png)

## Description

When creating a Dashboard Email report the selector displays the ID instead of the name.
For Example `Dashboard <1>` instead of `World Bank's Data`
I have observed this in version `1.0.0` and `1.0.1`
Chart Email reports work just fine.

## Design input
[de

[2021-02-15 07:44] amitmiran137 commented on #10413
update: you can now use the following technique
Standalone=1 (hide only navigation bar
Standalone=2 (hide navigation bar and dashboard title)

also there is a specific permission you can choose to assign/deassign from a role and it will show/hide the edit button accordingly

[2021-02-15 07:44] #10413 closed

[2021-02-15 08:03] ktmud opened #13125 "[Dataset][Time filter] Allow setting a global or dataset-level default time range"
**Is your feature request related to a problem? Please describe.**

Currently new charts are created with the default time range filter value set to ["Last week"](https://github.com/apache-superset/superset-ui/blob/46f0a174fed7b7c518d078b0eb16b129183c3b9d/packages/superset-ui-chart-controls/src/shared-controls/index.tsx#L319). This may make sense for some businesses, but often cause confusion when

[2021-02-15 08:34] djok commented on #12987
Please test this geoJson https://gist.github.com/djok/b53cbbb4f76ecaa8499fdafbc1cac040

[2021-02-15 08:51] ktmud commented on #13124
There is an open PR for this: https://github.com/apache/superset/pull/11776

Although you can now also try out the new Alert & Report manager by turning on the [`ALERT_REPORTS`](https://github.com/apache/superset/blob/50fa10054fd5d2c28553c4ffd754e12bdedef5da/RELEASING/release-notes-1-0/README.md#feature-flags) feature flag.

[2021-02-15 09:09] jawabuu commented on #13124
Hey @ktmud
Thank you
I have the following set up
[code]
However, when I visit `Settings>Alerts & Reports` I get a 404

![image](https://user-images.githubusercontent.com/49921621/107926359-a9ccbc80-6f86-11eb-9ed0-1c0a10260b6d.png)

[2021-02-15 09:12] alafanechere commented on #10996
I finally got emailing working with a combination of the following steps :
* Use new Alerts & Reports feature that comes with the v1 of Superset
* Install celerybeat to schedule the emailing and slack messaging according to the defined Alerts and Reports.

[2021-02-15 09:16] Asturias-sam commented on #13007
@taitai42 i am getting this error when using above config
`NameError: name 'crontab' is not defined`, how you are importing it ?

[2021-02-15 09:38] Asturias-sam commented on #12794
@singh-ab  can you please post your config file not able to see the alerts tabs after configuring ENABLE_ALERTS =True

[2021-02-15 09:44] dpgaspar commented on #12794
@Asturias-sam have you done `superset init` after?

[2021-02-15 09:48] singh-ab commented on #12794
@Asturias-sam : there is a new menu for `Alerts and Reports` and I am using it .
something like - https://docs.preset.io/docs/alerts-reports

to have that enabled you can need to a have a `feature flag`  in your config .

[code]

post this you need to `superset init` .

[2021-02-15 09:55] Arktiswind opened #13128 "Maximize charts: wrong height calculated"
We have a fresh installation of superset. Our own and the example charts are only displayed with the upper half of the charts in maximized mode.
We found the error in the following charts:
- bar charts
- line charts
- treemap
- area charts
- table (if set to enough entries per page)
- heatmap
- pie chart

### Expected results

The chart as it looks in normal mode.

### Actual results

The height o

[2021-02-15 09:59] Asturias-sam commented on #12794
@singh-ab @dpgaspar
I am using superset  Version: 1.0.0, below is my configuration

[code]
I have done superset init  but still the Alerts are not visible
![Uploading Screenshot 2021-02-15 at 3.29.10 PM.png…]()

[2021-02-15 10:05] singh-ab commented on #12794
for checking on the `ENABLE_ALERTS`  some logs would help , can you post them here?

while for `Alerts & Reports` menu I see that `ALERTS_REPORTS` has a typo , it should be `ALERT_REPORTS` . Can you retry the steps after fixing that ?

[2021-02-15 10:59] jcalhinho commented on #7174
"im trying to use this code for to get one column of my table called city, but i get one error:
function updateTooltip(object) {
return ("Test Tooltip: " + object.object[0].extraProps.city);
}
I get this error: Cannot read property 'extraProps' of undefined
I try to print only this object.object.points[0] but i get this error: Uncaught TypeError: Cannot read property '0' of undefined

And finally

[2021-02-15 11:01] jcalhinho commented on #7174
Don't forget to put your name column in "extra data js" field.

[2021-02-15 11:21] ktmud commented on #13124
Have you turned off `ENABLE_REACT_CRUD_VIEWS` by any chance?

The new alerts and reports kind of depend on it: https://github.com/apache/superset/blob/52ba82fb8b9f1ce5519f1a13f6417a0ce486e7df/superset/views/alerts.py#L80

@lilykuang @nytai do you think whether it makes sense to force turning on `ENABLE_REACT_CRUD_VIEWS` when  `ALERT_REPORTS` is enabled?

[2021-02-15 11:22] jawabuu commented on #13124
@ktmud I had turned it off. Let me turn it on and retry.

[2021-02-15 13:19] jawabuu commented on #13124
@ktmud
I am now able to view the reports and have set up a test report to be sent every minute.
I have celery workers and beat running as well as cache configured.
![image](https://user-images.githubusercontent.com/49921621/107951380-4d2ec900-6fa9-11eb-927a-33555244958b.png)
I have not received any so far, is there any further configuration I need to do?

[2021-02-15 13:42] jawabuu commented on #13124
Managed to find these from github search

[code]

[2021-02-15 14:01] taitai42 commented on #13007
hey @Asturias-sam
`from celery.schedules import crontab`

[2021-02-15 15:09] Asturias-sam commented on #13007
@taitai42 ya it's working fine... can you please share your config file... i think i am missing something as alerts are not begin triggered.

[2021-02-15 15:50] junlincc opened #13134 "[help needed]any one knows how Pair-t-test table in Superset worked?"
This table chart is currently broken to the point that no one could trouble shoot, and it was never documented anywhere how it supposed to work.
Please let us know if you are on an older version where it still work, and the expected behavior of this chart.

We will be removing it from the gallery and replace it with a plugin if we are not able to repair it.

[2021-02-15 16:01] junlincc commented on #13128
thanks for reporting, looks like this is only happening on that sample dashboard. Tested on a dashboard i created, these three charts works fine. can you verify? @Arktiswind

https://user-images.githubusercontent.com/67837651/107968545-57c66f80-6f63-11eb-9a2a-495e45a0a2ba.mov

[2021-02-15 16:35] #13099 closed

[2021-02-15 16:55] junlincc commented on #13125
I agree with this change - setting time range filter at the dataset-level. the reason we set filter to default "Last week" is to prevent users from running expensive explorational query. Not sure about changing default to"No filter" though, shouldn't we allow user to set default? or similar to ad-hoc filter, store value in local storage as user's own default?

[2021-02-15 18:01] nytai commented on #13124
@ktmud We could throw a warning if `ALERT_REPORTS` is enabled, but `ENABLE_REACT_CRUD_VIEWS` is not. I think that fully deprecating the `ENABLE_REACT_CRUD_VIEWS` feature flag makes more sense, I don't think there's any strong case for continuing to support the old FAB views at this point.

[2021-02-15 18:11] nytai commented on #9880
@wahyd4 docker-compose is a dev environment set up. If you'd like to run an official version you can use the pypi distribution, ie `pip install apache-superset` or you can use one of the official release docker images, https://hub.docker.com/layers/apache/superset/1.0.1/images/sha256-8accc0a4bc0af3293e64c6dfe78bec16de8525ebdc5d649eca21d77fa3e73da8?context=explore

This of course means you will hav

[2021-02-15 19:45] #13067 closed

[2021-02-15 21:56] korridor commented on #11298
I think somebody else (@kakoni) created an issue for the same problem here: #11658

[2021-02-15 23:08] wahyd4 commented on #9880
@nytai Thanks for the clarification and explanation. It does make sense to me. But I suspect many people didn't expect that we have to compile resources when running app via `docker-compose`.  It would be great if we can have some more detailed documentation about running production ready superset app via docker, docker-compose or Kubernetes.

I do acknowledge there is some doc from official websi

[2021-02-15 23:27] nytai commented on #9880
The published docker containers already include the compiled resources. docker-compose volume mounts the repo and sets things up for development purposes, hence why the compilation step is necessary. We could add a version of docker-compose without volume mounts for quickly testing the app out, however that should ideally not be used in prod. The helm chart is also a great way to set up the app qu

[2021-02-15 23:56] wahyd4 commented on #9880
@nytai I agree with you that docker-compose shouldn't be used for production ideally, and it provides a super fast way for user to test superset by `1` command.

But I wouldn't agree with your thoughts on `Helm`, we don't have to using the embedded Database and Redis to run the application, and I wouldn't think people do that way to setup production clusters. That's why we provide option to use ex

[2021-02-16 00:27] nytai commented on #9880
@wahyd4 Actually, that deperacted helm chart got moved into the superset repo, so all that documentation still applied. If you're up for it, you could open a PR to include that readme in the`helm/superset` directory. Some changes will be required to reflect the new paths, but it should be fairly straight forward.

Additionally, you've inspired me to cook up a docker-compose file explicitly for tes

[2021-02-16 05:27] junlincc commented on #13125
https://github.com/apache/superset/issues/12542 related

[2021-02-16 05:29] #12386 closed

[2021-02-16 05:33] junlincc commented on #13048
changing title to `add search and pagination to Time Series Table Chart`

Thanks for suggesting! @lctdulac can you let us know your use cases? why/how do you find adding search and pagination helpful in time series table chart?

[2021-02-16 05:37] junlincc commented on #12961
@nikolagigic ^ as part of https://github.com/apache-superset/superset-roadmap/issues/152

[2021-02-16 05:53] junlincc commented on #11918
resolved fix(explore): Error message not displayed correctly in Timeseries table chart #12659

[2021-02-16 05:53] #11918 closed

[2021-02-16 05:55] junlincc commented on #11886
@wangqinghuan we might, could you please provide more details to this request? thanks.

[2021-02-16 05:59] junlincc commented on #11705
@simcha90 @amitmiran137
I think we can add this feature to native dashboard filter config modal -> use value in one column to filter the other column.
Can we commit to this enhancement?

[2021-02-16 06:07] junlincc commented on #11448
@rusackas on-boarding task for Bruno?

[2021-02-16 06:11] junlincc commented on #11328
@carlosaccp, @sahilkamboj3 @dstadz sorry I missed your comments!!  If you all are still interested in contributing, feel free to reach out to me in Slack. you will need to add this y-axis format to multiple viz plug-ins. We can help you navigate if needed. thanks!

[2021-02-16 06:16] junlincc commented on #11284
Changed title to [table]Hide table columns on dashboards and export filtered table in CSV

It does seems helpful. we should implement at least the first request. @villebro

[2021-02-16 06:19] junlincc commented on #11123
@sahilkamboj3 Hi! sorry I missed your comment 🙏 proposed solution sounds reasonable. Please go ahead and open a PR, we will review for sure.

cc @steejay

[2021-02-16 06:20] junlincc commented on #11195
we should get to it at some point........

[2021-02-16 06:24] junlincc commented on #11130
@ktmud committed to this change from our end.

[2021-02-16 06:36] junlincc commented on #10623
@betodealmeida do you think we can work on 2,3,4 for next major release?

[2021-02-16 06:53] junlincc commented on #10730
resolved and closing in favor of https://github.com/apache-superset/superset-roadmap/issues/83

[2021-02-16 06:53] #10730 closed

[2021-02-16 06:53] junlincc commented on #10328
closing in advance.

[2021-02-16 06:53] #10328 closed

[2021-02-16 06:54] villebro commented on #13081
Hi, we don't currently have support for this, but it should be fairly straight forward to implement for the new chart types (=the ones using the new chart data API). If someone wants to work on this I can give directions on how to get started.

[2021-02-16 06:57] junlincc commented on #12964
@maheshbelavadi sorry for the late reply! please reach out to me in Slack, I can point you to the right direction.
@ktmud @maloun96 would you mind giving a tour in the codebase? many thanks!

[2021-02-16 07:13] iercan commented on #12766
@robdiciuccio Here is my final report. Chart load problem gone after I set `GLOBAL_ASYNC_QUERIES_POLLING_DELAY` from 500 to 1500. I observed dashboard load times with GAQ enabled and disabled. It seems while GAQ disabled dashboards loads faster. I believe it is because I had to increase pooling delay and our dashboards usually have 5-10 charts. As a result we decided to go on with GAQ disabled for

[2021-02-16 07:54] #13134 closed

[2021-02-16 08:03] junlincc commented on #9722
@baltom  @lucaxsilveira @Neel-rishabhsoft thanks for interested in contributing!

@villebro @ktmud could you give some pointers where/how folks from community can make this change? thanks!

[2021-02-16 08:18] leocape opened #13146 "Line chart: Option to display values next to the chart markers"
**Is your feature request related to a problem? Please describe.**
When looking at a line chart, it's difficult to see what the precise values of the data points are - currently we need to gauge their approximate value by eyeballing the x and y axis, which is straining and not accurate. Especially for quick glances / reporting in meetings.

**Describe the solution you'd like**
To have the values d

[2021-02-16 09:28] ktmud commented on #12964
@maheshbelavadi You can start reading CONTRIBUTING.md , especially the section on [viz plugins](https://github.com/apache/superset/blob/master/CONTRIBUTING.md).

Currently you'd need to edit files in the superset-ui repo and wait for them to be published as npm packages in order to make the changes available to the superset repo.

[2021-02-16 09:40] #13019 closed

[2021-02-16 09:41] #12681 closed

[2021-02-16 09:43] ktmud commented on #9722
As Max noted, currently this text is hard-coded in a superset-ui component, which, like all superset-ui changes, is not every easy to update.

I'm hesitant to add another config value just for this message, but we can maybe either

1. Move SuperChart or the no-results file out of superset-ui to make it easier to override
2. Handle no results like regular frontend errors, so we can reuse the [error

[2021-02-16 09:47] #12776 closed

[2021-02-16 11:20] maloun96 commented on #10696
@CurtLH Can you please provide sample data? In CSV or in TEXT format, it will be very helpfully.

[2021-02-16 14:05] Newgin-sam opened #13151 "Issue in sql Editor on trying to run query or selecting table in SQL LAB"
### Screenshot
![screenshot](https://user-images.githubusercontent.com/60768808/108072203-99066e80-708c-11eb-88b4-1ed483d3855a.PNG)
### Description
When navigating to sql editor and trying to run a query or selecting table on left dropdown the error as above screen shot
I am able to create datasets create charts and display on dashboards but i colud'nt run any query in sql editor as the error come

[2021-02-16 14:18] vishnuvardhan-kumar commented on #12939
@saultawil Can you share the configuration that you used to integrate Okta with Superset? I'm stuck with a 400 Bad Request page with each /authorize request.

[2021-02-16 14:35] iercan commented on #13097
I observed same issue too. New alerts and reports does not use `WEBDRIVER_WINDOW`.  I will fix it if I can and open PR

[2021-02-16 16:08] mistercrunch opened #13155 "[explore] BigQuery DatabaseError surfaced as UnknownError with bad formatting"
BigQuery error is hard to read.

### Expected results

In Explore, when creating a bad expression (say `DATE_TRUNC(column_that_dont_exist, DAY)`) in BigQuery, the DatabaseError is shown as a UnknownError. In SQL Lab, DatabaseErrors are surfaced properly and make sure to use a monospace font so that the formatting is preserved. For most database, the formatting doesn't matter much, but for BigQuery

[2021-02-16 16:32] CurtLH commented on #10696
@maloun96 -- here is a sample of the data.  I'm not sure if it matches exactly to what was seen in the initial issue, but it should be close enough to get an idea of what the data looks like.

[date_posted.txt](https://github.com/apache/superset/files/5990088/date_posted.txt)

[2021-02-16 17:06] Steejay commented on #11123
Thanks for raising this issue @cooley-pe!

@sahilkamboj3 Solution sounds good but lmk if/when you need further design input

[2021-02-16 17:16] Hekum commented on #2967
Hey @JohnOmernik  and @SaiManojG , same thoughts here. Did you get anywhere with this issue? :)

Cheers,

Nikita

[2021-02-16 17:20] twkk commented on #2686
+1 Influxdb use PromQL  Support will be really great and helpful !

[2021-02-16 17:21] iercan commented on #13097
I sent PR

[2021-02-16 17:42] DRavikanth commented on #13097
@iercan, Thanks for the PR. Is there a way we can avoid driving it by configuration. Instead load the dashboard dynamically according to the size of it? I am not a Python guy and not sure how web driver works but I think loading the dashboard dynamically will be more elegant.

[2021-02-16 17:43] iercan commented on #13097
Not sure is there a way to get dashboard size

[2021-02-16 18:00] nytai commented on #13097
I'm not really familiar with webdriver. You can probably query the dom for the size of each div, that's significantly more effort though. One of the issues we might hit is that the screenshot module is also used for generating thumbnails for the dashboard/chart card views, so changing the aspect ratios may cause issues.

[2021-02-16 18:05] DRavikanth commented on #13097
@nytai, Thanks for that.

@iercan , Can you confirm which release the fix is intended to?

[2021-02-16 18:08] ktmud commented on #11130
Did I?

[2021-02-16 18:14] iercan commented on #13097
Unfortunately I can't because I'm not the one who gonna decide that. I'm just regular contributor :)

[2021-02-16 18:30] geido opened #13158 "[Dashboard]Deleting an existing tab immediately after having created a new tab with title does not work"
👍  Hi @geido thanks for PR it looks good changes, I just found some buggy behavior, can you look please:

https://user-images.githubusercontent.com/56388545/107982543-e91dfc00-6fcc-11eb-99d9-3986b30f00ad.mov

_Originally posted by @simcha90 in https://github.com/apache/superset/issues/12773#issuecomment-779390572_

[2021-02-16 18:36] junlincc opened #13159 "[Explore]extra white space in dropdown list"
## Screenshot

https://user-images.githubusercontent.com/67837651/108106215-7ea7a300-7042-11eb-889f-6e57f85aba68.mov

## Description

See extra white space in Bubble chart, Series and Entity dropdown.

[2021-02-16 18:38] geido commented on #13158
Specific steps to reproduce:

1. Create a new tab and give it a title
2. Create another tab and give it a title
3. Now without moving the focus to it,  click on the "X" icon of the **previous** tab to delete it
4. Observe the issue. The Delete modal will remain stuck

https://user-images.githubusercontent.com/60598000/108106681-f7d0e580-7096-11eb-8d6e-7b35f5f82ed8.mp4

[2021-02-16 18:39] junlincc commented on #13159
@ktmud is it related to https://github.com/apache/superset/pull/12649?

[2021-02-16 19:10] ktmud commented on #11130
Hi, @junlincc , I am indeed working on adding per-column adhoc formattting, but advanced analytics isn't planed for the near term or long term yet.

[2021-02-16 19:11] DRavikanth commented on #13097
I see. Thanks for confirming. I will keep watching the PR. :)

[2021-02-16 19:21] altef commented on #12745
Any updates on this? (I've been told to ask)

[2021-02-16 19:26] nytai commented on #13097
@DRavikanth not sure about release, they always take a while. Once the PR is merged the code should be available as a docker image under the `latest` and `latest-dev` tag (docker-compose in the repo is using this) so you can always go that route if you can't wait for an official release.

[2021-02-16 19:54] ktmud commented on #13159
Looks like your column type icons are missing:

<img width="247" alt="column-type-icons" src="https://user-images.githubusercontent.com/335541/108113916-f7136180-704c-11eb-91f6-a6f0953c5920.png">

My guess is you will see the same extra space in other viz types, too.

It is most likely because these calculated columns didn't have a data type set when created:

<img width="957" alt="no-data-type" s

[2021-02-16 20:36] junlincc commented on #12961
https://github.com/apache/superset/issues/13159 related

[2021-02-16 20:37] junlincc commented on #13159
gotcha! thanks for explaining. closing this issue and will address it along with https://github.com/apache/superset/issues/12961

[2021-02-16 20:37] #13159 closed

[2021-02-16 23:34] nzewail commented on #12540
I don't believe that you can change the defaults but this would definitely be a useful feature

[2021-02-16 23:39] ktmud commented on #12540
Related: https://github.com/apache/superset/issues/13125

[2021-02-17 00:35] ktmud commented on #12542
You can actually persist default filters for dashboards, including the time filters.  It's just the option is a little hidden:

<img width="917" alt="dashboard-properties" src="https://user-images.githubusercontent.com/335541/108139378-d4953e80-7074-11eb-9a1a-fa8f05f5cd21.png">

You need to go to the edit mode,  Edit Dashboard Properties, and add a `default_filters` field of stringified JSON in th

[2021-02-17 00:39] ktmud commented on #12542
<img width="394" alt="share-dashboard" src="https://user-images.githubusercontent.com/335541/108139697-7ae14400-7075-11eb-8caa-bfdf2e9588f6.png">

<img width="538" alt="share-chart-with-filters" src="https://user-images.githubusercontent.com/335541/108139642-5b4a1b80-7075-11eb-9f2e-34dfe9d04925.png">

You can also apply the filter, then click on "Share dashboard" or "Share chart" to get permlinks

[2021-02-17 00:53] puranikamey opened #13162 "[sqllab] While querying from sqllab editor to database table, characters written Japanese and Chinese are getting converted to '???'"
A clear and concise description of what the bug is.
While performing CURD operations using sqllab editor, Chinese and Japanese chars are getting converted to '???'.  For ex. While inserting value in to the table, insert query runs successfully but data inserted in the table getting converted to  '?????'. Also, if you refresh page, values in the sql editor (Chinese and Japanese chars) are getting c

[2021-02-17 00:55] ktmud commented on #13125
@junlincc the idea IS to allow users to set default. I was just proposing we don't set the initial default. Once the global setting for default time filter is added, Superset may ship with the global config as "No filter" because it is the most neutral choice. It also forces organizations to pick a default value that makes the most sense to them.

We could also just focus on Dataset level settings

[2021-02-17 00:58] puranikamey commented on #13162
Just FYI: We are using charset=utf-8 in connection string. Also, We are able to perform all the above scenerios via connecting through snowflake UI etc, so this seems to be superset UI issue.

[2021-02-17 01:02] junlincc commented on #13125
@ktmud
Will asking new users to setup default time range filter be too confusing at the first place? since the user need is coming from those who have been forced to switch range from "Last week" to "No Filter". Why not store new "default" at local storage?

[2021-02-17 01:50] ktmud commented on #13125
I think remembering users' last selected time filter MAY work, but it doesn't solve the problem of the initial default "last week" not making sense to certain datasets (i.e. those who don't update every week). We still need a dataset-level default.

We can drop the idea of making it a required field as I imagine it'd be quite hard to implement a good UX for it---especially considering most virtual

[2021-02-17 07:43] ofirz commented on #5929
Same issue for me :(

[2021-02-17 09:29] jcalhinho opened #13170 "fix legend sunburst"
There is a text alignment problem in the sunburst legend.

![Screenshot_20210217_102008](https://user-images.githubusercontent.com/52510858/108183150-19b78000-710a-11eb-87cc-50b42d586c3a.png)

1/ find value: dy=0.85em in your js file, replace by 0.35em

![Screenshot_20210217_101520](https://user-images.githubusercontent.com/52510858/108182213-0fe14d00-7109-11eb-87c9-5100e7f7b96b.png)

2/save.

3/r

[2021-02-17 12:01] wargod797 opened #13172 "Couldn't able to add reports"
![image](https://user-images.githubusercontent.com/43702120/108200899-1c839680-7145-11eb-9841-96015ba52d24.png)

After following doc from below link setup email config
https://superset.apache.org/docs/installation/email-reports

ENABLE_ALERTS = True
ENABLE_ALERTS = True

email schedule working fine
Add button is gray couldn't able add any alerts or reports

i'm using superset 1.0.0 Jan 21st Releas

[2021-02-17 12:19] #13170 closed

[2021-02-17 13:29] maloun96 commented on #10696
@CurtLH

[2021-02-17 14:42] dpgaspar commented on #13172
@wargod797 please fill out the issue bug form, specially interested on knowing you superset version or commit SHA.
Thank you

[2021-02-17 14:46] dpgaspar commented on #13124
@nytai agree, planning on removing the MVC CRUD `ModelView` code also. But we can deprecate the flag now

[2021-02-17 14:51] dpgaspar commented on #13097
@DRavikanth, @iercan, @nytai, after the PR is merged we can tag it for the next release (probably 1.1.0)

[2021-02-17 16:19] DRavikanth commented on #13097
@dpgaspar thanks for confirming

[2021-02-17 16:25] DRavikanth opened #13177 "Support sending report in PDF & CSV"
In the latest version of Superset we introduced Alerts & Reports new functionality for scheduled email of reports. However currently we are sending only a snapshot of the dashboard using the webdriver. Ask is to support sending the screenshot of the dashboard embedded in either CSV/PDF file. Most of the BI tools in the market support this functionality. It would be good to have this functionality

[2021-02-17 16:49] lctdulac commented on #13048
Thanks @junlincc for the answer!
My use case is that I am monitoring 200+ time-series which is a bit hard to do in a single page because :
* The header columns disappear when scrolling down
* There is no search bar that can help navigating (like in the table view) without filtering the whole dashboard
* There is no pagination which helps to understand the number of time series there is in the char

[2021-02-17 17:30] kgabryje commented on #12745
Hey @altef, thank you for your patience, PRs https://github.com/apache/superset/pull/13181, https://github.com/apache-superset/superset-ui/pull/965 and https://github.com/apache-superset/superset-ui-plugins-deckgl/pull/25 should fix this issue.

[2021-02-17 17:37] willbarrett commented on #13177
Thanks for the @DRavikanth - I'm going to look into it.

[2021-02-17 17:41] altef commented on #12745
😀

[2021-02-17 17:48] DRavikanth commented on #13177
Thanks for taking a look at it @willbarrett. Please review the requirement and let me know when this can be targeted for.

[2021-02-17 19:00] wildsonc opened #13183 "Postgres connection"
I'm trying to link the superset to postgres, but when I try to import a dashboard it crashes. I also can't save charts.

#### Screenshots

![image](https://user-images.githubusercontent.com/72408418/108253301-644ff100-7138-11eb-9b24-5107813dde3d.png)
![image](https://user-images.githubusercontent.com/72408418/108253425-86497380-7138-11eb-9048-c46e97e5f4c9.png)

#### How to reproduce the bug

1. Go

[2021-02-17 19:15] willbarrett commented on #13183
@betodealmeida you're the most familiar with import - thoughts?

[2021-02-17 19:36] aguspina commented on #12987
Hi @djok thanks for your help. I think the geojson you shared to me is malformed, it is duplicated and truncated.

[2021-02-17 20:20] mistercrunch opened #13187 "Add Google Sheets dataset bad error msg"
Add Google Sheets dataset bad error msg, bad formatting

From the logs, "Got an error Column must be constructed with a non-blank name or assign a non-blank .name before adding to a Table" should be surfaced to the user
[code]

<img width="753" alt="Screen Shot 2021-02-17 at 12 18 42 PM" src="https://user-images.githubusercontent.com/487433/108262849-568b7300-711a-11eb-91ad-8560797a7441.png">

[2021-02-17 20:31] carobaldino opened #13188 "Feature ROW_LEVEL_SECURITY not working"
According to the [documentation here](https://github.com/apache/superset/blob/3a2300b84a710c381969ef0d5e8bf7408b5a9870/UPDATING.md) and to [this PR](https://github.com/apache/superset/pull/11575), `ROW_LEVEL_SECURITY` flag has been moved to `FEATURE_FLAGS`.
I have tried to add the flag into my `superset_config.py`, but it is not working. I do have others flags in the configuration file that are al

[2021-02-17 21:45] #12750 closed

[2021-02-17 22:23] villebro commented on #13188
If you have indeed run `superset init` and the problem persists, I would recommend verifying that `SUPERSET_CONFIG_PATH` environment variable is correctly set in the environment where `superset init` is being run.

[2021-02-17 23:07] yousoph commented on #13151
#13041 fixes this

[2021-02-17 23:31] carobaldino commented on #13188
Thank you very much @villebro !

Running `superset init` fixed my problem. But it brings me a question.. should I run `superset init` each time I modify my `superset_config.py`?

Thank you! :heart:

[2021-02-17 23:45] rusackas commented on #13013
A few additional points building on all the helpful background/issues from @ktmud and @kristw:

* SIP-57, in favor of Semantic Versioning, is still in the VOTE process. This should be considered here. The current NPM publishing scripts bump ALL touched packages in parallel. We may need to pay more attention to semantically bumping the version numbers of _individual_ plugins, or establishing some p

[2021-02-18 00:17] junlincc opened #13191 "[Explore]Customize X-axis debounce is broken"
"it debounces input itself rather than rendering (in video I tried to type "Test", only "T" got in)."

https://user-images.githubusercontent.com/67837651/108285059-2ef8d280-713b-11eb-975f-5b33d55b8bdf.mov

Thanks for spotting the issue! @kgabryje

Need to test other input fields and chart too

[2021-02-18 01:08] ktmud commented on #13191
I also noticed this while reviewing the Graph chart: https://github.com/apache-superset/superset-ui/pull/918#discussion_r575774006

[2021-02-18 01:13] yousoph opened #13192 "Edit Dataset Table Selector Overlap"
A clear and concise description of what the bug is.

### Expected results
Dropdown selector to select a table should not be overlapped so user can scroll and select their table.

### Actual results
The table is overlapped by the button toolbar.

#### Screenshots
<img width="890" alt="Explore_-_bart_lines" src="https://user-images.githubusercontent.com/10627051/108280712-6e232580-7133-11eb-8ff2-e45

[2021-02-18 01:24] robdiciuccio commented on #12766
Thanks for the updates @iercan. Interesting that the errors were resolved when increasing the polling delay. I had this running on my Macbook at 200ms delay with no errors. What kind of hardware or virtual machine are you running this on?

Also, [websocket support](https://github.com/apache/superset/pull/11498) should be shipping soon, which will negate the need for polling.

[2021-02-18 01:30] suddjian opened #13193 "[Superset SPA] Change frontend code that depends on the url"
Once Superset is a Single Page App, we should try to change code that uses `window.location` to use the tools in `react-router` instead.

`window.location` is referenced 71 times in 45 files in the Superset repo. Most of these can probably change to use the location from react-router, but some might be trickier.

[2021-02-18 02:12] #12822 closed

[2021-02-18 02:57] xiaohao0576 commented on #7408
This is not a bug, just **docker-compose up**, and go to drink a cup of coffee , go back to your computer after 15 minutes, everything will be OK.

[2021-02-18 03:10] tsingmmy commented on #12990
Thanks for your reply.
I deploy superset on k8s and successfully use command 'kinit' to get   a kerberos ticket. The only difference with your advice is that both steps are with user root.However I still fail to connect to hive.
I have 2 questions :
1.Why  can't  superset print debug or even error massage in logs when failling to connect hive database ? If those logs are printed maybe I can know t

[2021-02-18 03:46] wargod797 commented on #13172
@dpgaspar  I'm using superset 1.0.0 Jan 21 2021 Release facing same issue on 1.0.1 Feb 6 th Release also

[2021-02-18 03:53] wargod797 opened #13195 "Couldn't able to add reports"
![image](https://user-images.githubusercontent.com/43702120/108302906-eab51300-71ca-11eb-82b7-ac5236f1c00a.png)

After following doc from below link setup email config
https://superset.apache.org/docs/installation/email-reports

ENABLE_ALERTS = True
ENABLE_ALERTS = True

I'm using superset 1.0.0 Jan 21 Release

email schedule working fine
Add button is gray couldn't able add any alerts or reports

[2021-02-18 04:11] wargod797 opened #13196 "selenium.common.exceptions.WebDriverException: Message: Process unexpectedly closed with status 1, In apache superset, is it possible to take inline visuals in email service in headless ubuntu server"
![image_2021_02_18T09_17_07_711Z](https://user-images.githubusercontent.com/43702120/108345847-be1ded00-7204-11eb-82c9-47793a3e3986.png)

![image](https://user-images.githubusercontent.com/43702120/108303794-9dd23c00-71cc-11eb-863c-3d463e196d9f.png)

After following doc from below link setup email config
https://superset.apache.org/docs/installation/email-reports

Setting up SMTP running celery as

[2021-02-18 05:41] villebro commented on #13188
Not usually, no. Some feature flags, like the RLS one, populate asditional permissions that won't otherwise get populated. But this is actually a very good point, and one we could bring up in the documentation to highlight which flags require rerunning `superset init`.

[2021-02-18 06:09] Fentonfi opened #13197 "Could not find a version that satisfies the requirement apache-superset==1.0.0"
A clear and concise description of what the bug is.

### Expected results

During the upgrade process from 0.36.0 I see this error(Could not find a version that satisfies the requirement apache-superset==1.0.0)
Though I have done the upgrade from 0.36.0 to 0.37.0 then 0.37.0 to 0.38.0 and then from 0.38.0 to 1.0.0

### Actual results

Shows error as "Could not find a version that satisfies the req

[2021-02-18 06:27] suzjstgithub commented on #13151
https://github.com/apache/superset/issues/12824

ENV： WIN10、pyhon venv 3.7.1  superset 1.0.1
same bug：
Database error
Instance <Query at 0x243d3302ac8> is not bound to a Session; attribute refresh operation cannot proceed (Background on this error at: http://sqlalche.me/e/13/bhk3)

fixbug：
Lib\site-packages\superset\utils\core.py
![image](https://user-images.githubusercontent.com/62527347/10831474

[2021-02-18 06:32] iercan commented on #12766
We deployed superset via docker on a dedicated server which has amd cpu. As a client I'm using ubuntu 20.04 with chrome also have amd cpu.

[2021-02-18 06:34] igor-tk opened #13198 "IFrame chart is lost in 1.0.1"
IFrame chart is lost in 1.0.1.
We used this chart type to include parts of dashboards from different sources.
Will IFrame chart come back? It would be very handy.

[2021-02-18 06:40] igor-tk opened #13199 "Is there a localization guide?"
Is there a guide on how to enable localization?
Or how can we contribute to this?

[2021-02-18 07:33] ktmud commented on #13199
Hi, @igor-tk , thanks for the interest in contributing.

You can start from here: https://github.com/apache/superset/blob/master/CONTRIBUTING.md#translating

And check out some example PRs: https://github.com/apache/superset/search?q=translation&type=issues

[2021-02-18 07:34] #13199 closed

[2021-02-18 07:44] Arktiswind commented on #13128
You are right. I made a new dashboard with new charts and everything works fine.
I will delete the example dashboard.

Please excuse the hasty opening of a ticket.

[2021-02-18 07:48] junlincc commented on #13128
No worries, and thanks for choosing Superset🙂 I wonder why sample dashboards don't work properly though. Worth taking a look.

[2021-02-18 07:48] #13128 closed

[2021-02-18 08:28] villebro commented on #13198
@igor-tk the IFrame chart has been replaced with a native dashboard component "Markdown". See the screenshot for details:
![image](https://user-images.githubusercontent.com/33317356/108327411-0f61b880-71d4-11eb-9887-5eeeb3259148.png)

[2021-02-18 08:36] villebro commented on #13197
@Fentonfi are you trying to install via pip? Here's what I'm getting:

[code]

So it seems to work fine with 3.7. Btw, I would recommend using 1.0.1.

[2021-02-18 08:37] #13188 closed

[2021-02-18 08:37] kamalkeshavani-aiinside opened #13202 "[Alerts & Reports]Allow 'Raw data' report for chart in new 'Alerts & Reports' UI."
**Is your feature request related to a problem? Please describe.**
The old UI for 'Chart Email Schedules' has an option to send Visualization or Raw data in the email/slack. This option of sending 'Raw data'(csv) is not available in new UI.
Due to issue of too many repeat notifications using old UI, I cannot use old UI as well for now.

**Describe the solution you'd like**
When the user selects 'M

[2021-02-18 09:22] Fentonfi commented on #13197
Hi Villebro,

Thanks for your response. I am trying to install using pip.

I updated the python version to 3.7.9 but I could see same error.Tried with python 3.8 too, but no progress

**_ERROR: Could not find a version that satisfies the requirement apache-superset==1.0.0
ERROR: No matching distribution found for apache-superset==1.0.0**
root@ixxxxxxx:~# python --version
Python 3.7.9

[2021-02-18 09:46] rmgpinto commented on #12148
Two suggestions for native filters:

1- Possibility to change the order of the filters
2- Possibility to change the sorting of the values on the filters (I have a values filter and they appear in a random order)

[2021-02-18 12:22] rmgpinto commented on #10227
doesn't work for me, is there a solution for this? Thanks

[2021-02-18 12:29] michael-s-molina opened #13206 "[todo]Ability to re-rerun CI failed jobs"
Today when we need to re-run CI jobs we need to force a push or open/close a PR to trigger CI execution. It would be great if we could just re-run failed jobs.

As @villebro suggested, we can implement something like `/rerun failed` to accomplish that.

This functionally would improve CI processing time and speed up PR reviews.

@villebro @rusackas @junlincc

[2021-02-18 12:54] vnourdin opened #13207 "[Alerts & Reports] Can't switch 'Message content' from a Chart to a Dashboard"
When I configure an Alert or a Report from the new `ALERT_REPORTS` interface, I can change the chart that is sent ("Message content") but if I replace the chart by a dashboard, when saving, the alert/report switch back to the old chart.

### Expected results
I can modify an alert/report and switch from any chart to any dashboard and vice versa.

### Actual results
From what I've tested, the curren

[2021-02-18 13:27] vialcollet commented on #11021
Other use case would be to have the same chart but with different filters applied.
For example a line chart showing some stats for a given country and we would need several of these charts with each their own country filter.
In such case it will be required to have several instance of the line charts and several instance of the country filter with appropriate mapping.
This would be fantastic.

[2021-02-18 15:04] portenez commented on #12440
For me,

superset_node starts building, but it always fails. 😢 😭

[code]

[2021-02-18 15:05] portenez commented on #12440
See this other thread (that was auto-closed):
https://github.com/apache/superset/issues/9690

This happens also when using the provided `docker-compose`

[2021-02-18 15:18] portenez commented on #12440
Oh, It's the memory. I found int he docs.. the docker memory needs to be increased to 6GB

[2021-02-18 15:46] Arktiswind commented on #13128
Hi again,
I unfortunately have to open this issue again.
Told my colleague he can start building his own charts and the problem is back. Well, kind of...
On his PC the new barChart is cut off again in maximized mode:
https://www.telesys.de/wp-content/uploads/supersetBarChart2.png

On my PC everything is well with the same chart on the same dashboard:
https://www.telesys.de/wp-content/uploads/super

[2021-02-18 17:12] amitmiran137 commented on #10945
@junlincc could we get a reproduction of this issue in a video?

[2021-02-18 17:55] #9880 closed

[2021-02-18 18:24] inesplc commented on #12516
Also could use this feature!
Our current work around is to use a word map chat in a dataset that returns only one series, but obviously this is not its intended use.

Similar issues were raised in https://github.com/apache/superset/issues/1784, https://github.com/apache/superset/issues/2919 and https://github.com/apache/superset/issues/6771 but were never finished.

[2021-02-18 18:43] #12829 closed

[2021-02-18 18:46] igor-tk commented on #13198
It's strange but I can't find "Markdown" chart when I try to create new one.

[2021-02-18 20:06] joehoeller commented on #13080
@willbarrett plz assist (?)

[2021-02-18 21:16] prb219 commented on #13197
I see the same issue for version 1.0.1 as well
`ERROR: Could not find a version that satisfies the requirement apache-superset==1.0.1
ERROR: No matching distribution found for apache-superset==1.0.1`

[2021-02-18 21:28] willbarrett commented on #13080
Hi @joehoeller - please make sure that your database migrations have completed successfully. If there is an issue with the migrations, please post the backtrace here. Additionally, please fill out the Bug Report issue template so we can better assist you.

[2021-02-18 21:31] joehoeller commented on #13080
There was no migration, this is literally on startup.

On Thu, Feb 18, 2021 at 3:28 PM Will Barrett <notifications@github.com>
wrote:

[2021-02-18 21:39] nytai commented on #13080
There is a k8s job that runs migrations and creates the admin user, you'll want to find the logs for that job as it likely failed. It should be suffixed with `-init-db`

The definition is here: https://github.com/apache/superset/blob/b34c86382525811fd707a9c133b9051d5c46a393/helm/superset/templates/init-job.yaml#L17

[2021-02-18 21:51] willbarrett commented on #13195
Closing as a duplicate of https://github.com/apache/superset/issues/13172

[2021-02-18 21:51] #13195 closed

[2021-02-18 21:54] willbarrett commented on #13207
Thank you for the bug report @vnourdin - we'll look into it!

[2021-02-18 21:59] willbarrett commented on #13202
Hi @kamalkeshavani-aiinside thanks for the report! I've seen another request for CSV report types, so this is something we'll be looking into.

[2021-02-18 22:24] junlincc commented on #13206
@michael-s-molina thanks for suggesting! please go-ahead and make the improvement. anything that can improve developer experience and process efficiency make sense to be prioritized. 🙂

[2021-02-18 22:27] junlincc commented on #13198
@igor-tk Markdown is not one of the chart types, you can add it from Dashboard -> Edit view -> Components tab. 🙂

[2021-02-18 22:54] mistercrunch opened #13226 "MetricPopover - set default aggregate based on selected column type"
We could save a few extra clicks by assuming people want to `SUM` numeric values and `COUNT(DISTINCT {col})` strings.

<img width="364" alt="Screen Shot 2021-02-18 at 2 51 30 PM" src="https://user-images.githubusercontent.com/487433/108432218-e1429f80-71f8-11eb-9f23-5413e47aff4d.png">

[2021-02-18 23:07] junlincc commented on #13226
@mistercrunch This popover is gonna function quite differently in d&d,  we will take it into consideration while redesigning.

[2021-02-18 23:30] suddjian opened #13227 "[Superset SPA] Remove usage of dashboard bootstrap data `owners` field from slices on the frontend"

[2021-02-18 23:51] betodealmeida commented on #10181
I'm going to take a look at this.

[2021-02-18 23:52] michellethomas opened #13228 "Issues with Sort By on Table viz (for Presto)"
There are a couple of issues with the way `Sort By` field is generating queries on Table charts for presto. Issues we have found so far have temporary workarounds. All issues are for table charts using the "AGGREGATE" query type.

1.  If there is a metric alias that is the same as the column that is being aggregated, this results in an error for the generated presto query. This used to work and no

[2021-02-19 00:30] junlincc commented on #13228
we touched this area recently as well i think? @ktmud let us know if the regression is not related to your change in table chart.

[2021-02-19 00:33] junlincc commented on #13226
set dynamic aggregate function default based on column types
numeric and contains `_id_ _key_  _code_ ` -> COUNT(DISTINCT)
other numeric -> `SUM`
strings -> `COUNT(DISTINCT)`
TEXT -> SUM(LENGTH) (?)

@zhaoyongjie @villebro

[2021-02-19 00:58] swdmike commented on #12723
#10773
check this, you need wait for a while

[2021-02-19 01:58] michellethomas opened #13229 "Table Viz errors with filters containing number column "IS NOT NULL" or "IS NULL""
On the table viz if someone adds a filter with a numeric column and the filter type "IS NOT NULL" or "IS NULL". The chart errors on [this line](https://github.com/apache/superset/blob/master/superset/connectors/sqla/models.py#L1079) with:

[code]
I looked at this line and I don't see anything that has changed recently so I'm assuming that this is related to some change with the table viz. But I'm

[2021-02-19 02:15] liuxp311 commented on #12824
ok

[2021-02-19 02:15] liuxp311 commented on #12824
ok

[2021-02-19 02:15] #12824 closed

[2021-02-19 02:16] liuxp311 commented on #12824
ok

[2021-02-19 04:44] rusackas commented on #13206
The https://github.com/apache-superset/superset-github-bot could probably be leveraged here too, to perform some actions with emoji-driven processes. For example:

Restart failed CI jobs:
🤖🔄

Merge when CI passes
🤖🚀

Cancel CI Jobs
🤖🛑

[2021-02-19 05:03] #12733 closed

[2021-02-19 05:06] igor-tk commented on #13198
Thanks! Works like a charm. 🙂
There is my solution:
[code]

[2021-02-19 05:10] #13198 closed

[2021-02-19 08:04] junlincc commented on #12516
@kamalkeshavani-aiinside @inesplc can you send us the link to the library? thanks!

[2021-02-19 09:04] supermarin1 opened #13232 "Retreiving data chartd/datasets/dashboards based on"
Is there the way to export data charts/dashboards based on with REST API v. 1.0.0?

Tried /chart/export/, /database/export/, /dashboard/export/ and have no luck. Or I understand wrong meaning of export?

Please, advise.

[2021-02-19 09:37] kamalkeshavani-aiinside commented on #12516
@junlincc what library are you asking about?

[2021-02-19 12:20] KentonParton opened #13234 "Add Opsgenie Integration to Alerts"
**Is your feature request related to a problem? Please describe.**
Superset currently doesn't support Opsgenie as an alert integration which many companies use.

**Describe the solution you'd like**
I would like to add Opsgenie as a notification method to the alert modal using the [Opsgenie API integration](https://docs.opsgenie.com/docs/alert-api#create-alert). The easiest implementation will be

[2021-02-19 12:23] muzzol commented on #2137
I got this warning everytime with SS 1.0.1

[code]

should I open another bug or can someone reopen this one?

[2021-02-19 12:34] mbiberhofer commented on #12769
Just FYI, we had the same issue and running `superset init` fixed it. Thanks for the advice!

[2021-02-19 15:23] userguy opened #13236 "Actual time range Access is Denied"
I am getting Access is Denied in Time Range .

Actual time range
Access is Denied and Not able to apply the time selected .

GET /api/v1/time_range/?q=%27DATEADD(DATETIME(%222021-02-19T00:00:00%22),%20-7,%20day)%20:%202021-02-19T00:00:00%27 HTTP/1.1" 401 -

INFO:werkzeug:10.25.210.220 - - [19/Feb/2021 20:45:53] "GET /api/v1/time_range/?q=%27DATEADD(DATETIME(%222021-02-19T00:00:00%22),%20-7,%20day)

[2021-02-19 15:30] krsnik93 opened #13237 "Importing chart over API fails if the chart was built on top of a virtual dataset"
Importing chart over API fails if the chart was built on top of a virtual dataset. I exported the chart with the `/chart/export` endpoint and then tried POSTing the resulting .zip to ` /chart/import`.

### Expected results

Expect chart to get uploaded successfully.

### Actual results

[code]

#### How to reproduce the bug

1. Create a virtual dataset in SQL Lab
2. Create a chart on top of that d

[2021-02-19 16:22] durchgedreht commented on #12542
This is not what I've asked for:
This way you need to inject the filter EVERY time.

It would be great if you could keep your selection and walk along. Think about the user:

- Open Dashboard "sold items"
- Selecting "last week" in filters
- **WOW ! So many sales!!! I'd like to see my revenue!!!**
- Next he switches to dashboard "revenue"
- likely he's interested in the same timeframe

It would be

[2021-02-19 16:51] mistercrunch opened #13238 "Bulk deleting dashboards doesn't instantly reflect in the list"
Bulk deleting works as expected on the backend, except that after the user confirmation, it doesn't remove the dashboards from the list view and doesn't get out of bulk delete mode.

[2021-02-19 17:00] krsnik93 opened #13239 "Exporting dashboard(s) with REST API creates .json instead of .zip or .yaml"
I am trying to export and then import back a dashboard by using Superset's REST API. The documentation (https://superset.apache.org/docs/rest-api) for endpoint `/dashboard/export` states: "Exports multiple Dashboards and downloads them as YAML files." However, the resulting file is seemingly always .json (regardless of number of dashboards exported). Furthermore, when trying to import back into Su

[2021-02-19 18:04] zuzana-vej opened #13240 "Resizing row and column vs chart behaves differently in Dashboard Edit Mode"
When a user is trying to resize charts on dashboards, they behave differently based on if it is a row or a column, or just a chart.

Chart can be resized by going to the bottom right corner, in both directions (width or height).

If you add a row or a column on the dashboard, those can be resized (in one of the directions) by going to the size of the object.

In the two cases, the mouse hover will

[2021-02-19 19:28] ktmud commented on #12542
If multiple dashboards are related, then maybe you can place them in different tabs of the same dashboard, so the time filter can be reused. But I do admit there may be value in remembering last selected filters and use them across dashboards.

[2021-02-19 19:29] ktecho opened #13242 "Make possible to disable the annoying "This dashboard is currently force refreshing" message"
**Is your feature request related to a problem? Please describe.**

With Superset 1.0, it seems a new toast has been added for when you have auto-refresh in a dashboard:

"This dashboard is currently force refreshing; the next force refresh will be in 10 seconds."

This is super-annoying because it distracts your attention from the changing dashboard. I think the "infinite / superset" animated sym

[2021-02-19 19:36] pingusix opened #13243 "Can't open Settings -> List Users when using OAuth with Google for an Admin user"
A clear and concise description of what the bug is.

### Expected results

User list displays and users can be edited When settings -> List Users is selected

### Actual results

Get an access denied popup and return to dashboard

#### How to reproduce the bug

Enable AUTH_TYPE=AUTH_OAUTH in config.py

Snippet of config.py:

AUTH_TYPE = AUTH_OAUTH
AUTH_USER_REGISTRATION = True
AUTH_USER_REGISTRATI

[2021-02-19 19:57] willbarrett commented on #13239
Looping in @betodealmeida and @dpgaspar on this one

[2021-02-19 19:58] willbarrett commented on #13238
Adding this as a ticket for our next sprint.

[2021-02-19 20:08] zuzana-vej commented on #13240
Added the bug label since we confirmed with few users that in the past the experience was consistent across resizing chart and row / column.

[2021-02-19 20:35] robdiciuccio commented on #12566
The official vote to adopt this SIP PASSED with 11 binding +1, 3 non-binding +1, 0 neutral, and 0 negative votes.

[2021-02-19 22:57] junlincc commented on #13240
Expected behavior could have been changed by us bumping the drag and drop library by 9 major versions recently.
is the new behavior problematic? or do you think users can slowly adapt?
@zuzana-vej

[2021-02-19 23:01] junlincc commented on #13239
@srinify Srini, can you help make sure the doc states the expected behavior? I believe it should yaml though.

[2021-02-19 23:12] junlincc commented on #13242
Thanks for reporting. I sometimes find the toast massage taking away the focus and annoying too(as the PM😅). agree that one loading-infinity icon should be sufficient to indicate refresh activity.
@steejay wdyt?

https://user-images.githubusercontent.com/67837651/108571307-c178ad80-72c4-11eb-8714-c20fd7963500.mov

[2021-02-19 23:17] junlincc commented on #13237
@dpgaspar could you please take a look? thanks Daniel!

[2021-02-19 23:22] junlincc commented on #13236
@userguy I believe 0.38 was the old time picker right?
confirmed actual time range is working properly on the main dbs.

[2021-02-19 23:52] zuzana-vej commented on #13240
Users can always adapt over time :). They found it confusing / thought there was a high pri bug, but if this is part of the library there might not be a lot we can do easily. We can all keep an eye on this and see if there are other user reports.

[2021-02-19 23:56] mistercrunch opened #13247 "[explore] metadata panel should show numeric icon for `REAL` data type"
<img width="704" alt="Screen Shot 2021-02-19 at 3 53 08 PM" src="https://user-images.githubusercontent.com/487433/108573976-e3752e80-72ca-11eb-9d7d-a9b81dc67236.png">

[2021-02-19 23:58] mistercrunch opened #13248 "[explore] Show detailed data type tooltip when hovering type icon"
Minor improvement: it would be nice to show the type as in `VARCHAR(50)` when hovering the icon in the metadata panel (`ABC` icon in the screenshot bellow)

<img width="372" alt="Screen Shot 2021-02-19 at 3 57 38 PM" src="https://user-images.githubusercontent.com/487433/108574083-364ee600-72cb-11eb-8bdd-d0e5ef993349.png">

[2021-02-20 00:06] ktmud opened #13249 "[Explore][Control] Allow selecting ad-hoc metrics in filters"
When adhoc filters were first added ( #4909 ), it can select from selected adhoc metrics. Part of the code is also still there, but the feature somehow stopped working from certain point.

Could be related to #12095

[2021-02-20 00:07] ktmud commented on #13249
I discovered this while working on #13221

Will take a look once more refactoring is done.

[2021-02-20 01:03] junlincc opened #13251 "[Explore]severe input delay in Edit dataset modal"
see video, getting 3s second delay after typing. can we have a standard across the entire product?

https://user-images.githubusercontent.com/67837651/108576881-022bf300-72d4-11eb-94d2-1c6b9e6e1c9c.mov

[2021-02-20 01:15] junlincc opened #13252 "[Explore]show actual column name in tooltips on hover"
Current, in Explore left data panel Columns section, user see
    1) actual column name that without a label e.g.` job_intr_dataengn`(column name, no lable)
or 2) label name of columns e.g. `yt_codingtuts360 label`(label name of `yt_codingtuts360`)
from the view.
when user hover on the text, exact same information
change: display actual column name in tooltip, when there's a label
<img width="278"

[2021-02-20 01:17] junlincc commented on #13248
@mistercrunch
one more related #13252 https://github.com/apache/superset/issues/13252

[2021-02-20 01:18] junlincc commented on #13247
@mistercrunch this one goes under a bigger epic
https://github.com/apache/superset/issues/12961

[2021-02-20 01:24] junlincc commented on #13249
happy to take it on while we are refractor the filter component in a few weeks. @ktmud
@zuzana-vej can you provide a complete list of expected behavior in ad hoc filter and metric popover, + new features suggestion (i.e, in-place saving metric)?

[2021-02-20 01:26] junlincc commented on #13229
@ktmud please let us know if this is not related to your change. happy to take it on.

[2021-02-20 01:27] junlincc commented on #13232
@dpgaspar ^ Daniel could you help answer? thanks!

[2021-02-20 01:33] junlincc commented on #13238
@mistercrunch tested both chart list and dashboard list. both worked properly in master. what version are you on?
https://user-images.githubusercontent.com/67837651/108578708-5a64f400-72d8-11eb-8170-afe18ca5b6ef.mov

[2021-02-20 02:11] ktmud commented on #13229
@junlincc I'm working on it

[2021-02-20 03:34] junlincc commented on #12148
1. Reorder the filter list from the bar? - yes, ideally by drag and drop.
2. Can you describe your use case in details? @rmgpinto

[2021-02-20 03:42] junlincc commented on #13048
@lctdulac thanks for the additional information! It makes sense from the product standpoint. But since this is not a common request, we may not get to it soon.😔 Feel free to implement the proposed change though, we are happy to review. 🙏

[2021-02-20 06:47] junlincc opened #13253 "[poll📊]Setting default values in Explore controls for users?"
Hi community!
Superset development team wants to make the explore/charting experience better for our users!
We thought about the pros and cons of setting some default control values(e.g. default descending sort-by, default SUM for numeric columns) with a goal to provide better user experience by saving majority of the users a few clicks in each task. We wanna make sure this is what the community w

[2021-02-20 07:18] junlincc commented on #10945
https://github.com/apache/superset/issues/12963 duplicate @amitmiran137 ^

[2021-02-20 07:21] junlincc commented on #11629
resolved
<img width="1183" alt="Screen Shot 2021-02-19 at 11 21 25 PM" src="https://user-images.githubusercontent.com/67837651/108587571-366dd680-7309-11eb-92b0-88a0ac514145.png">

[2021-02-20 07:21] #11629 closed

[2021-02-20 07:24] junlincc commented on #12624
resolved

[2021-02-20 07:24] #12624 closed

[2021-02-20 07:25] junlincc commented on #13191
resolved

[2021-02-20 07:25] #13191 closed

[2021-02-20 07:47] sleshJdev commented on #10940
The same issue for me. We use latest susperset container and clickhouse. Tables are not getting fetched in sql lab.
`http://172.28.128.14:30808/superset/tables/2/tutorial/undefined/false/` returns `{"tableLength": 0, "options": []}`

[2021-02-20 09:02] #10843 closed

[2021-02-20 10:43] rmgpinto commented on #12148
I saw now that 2. is the same as what @thoo requested.

[2021-02-20 11:48] sonikanishk commented on #6197
Same issue here.. any solutions yet??

[2021-02-20 12:59] doricardo commented on #9748
Hi, Did you find how to do it?

[2021-02-20 14:19] programmeddeath1 commented on #1942
Is this feature raised or a similar request done?. This would have been useful.

[2021-02-20 23:02] sibay commented on #10711
Any news? I cloned superset yesterday and had the same error.

[2021-02-21 09:27] ktmud opened #13257 "[Global] Revisit open menu on hover"
We DON't have to change the current behavior, just creating an issue in case this comment got slip through the cracks.

---

@rusackas I'm finding a case where hovering to show menu might have become an inconvenience:

https://user-images.githubusercontent.com/335541/108138715-6439ed80-7073-11eb-8233-e56ef5a99322.mp4

When saving chart, I wanted to click on the "Save" button, but if I move the mou

[2021-02-21 09:51] ktmud commented on #13249
Two feature requests I've been thinking on for a while:

1. **Adhoc Column:** similar to adhoc metrics, users should also be able to create adhoc calculated columns (dimensions)
2. **Adhoc metric/column in other controls:** users should be able to select already created adhoc metrics and columns in other controls (e.g. sort by and filters).

[2021-02-21 10:36] villebro commented on #13249
Big +1 for adhoc columns!

[2021-02-21 11:00] wangqinghuan commented on #11886
Like [this](https://www.elastic.co/guide/en/kibana/current/xpack-ml.html).

[2021-02-21 16:15] helloklyn commented on #9748
Wrote a blog post about it, and managed to overwrite `config.py` in my docker image.
https://abouthongwuxyz.typlog.io/2021/superset-docker-local-db-sqlite-configuration-dcf6876e

[2021-02-21 16:45] eugeniamz commented on #4040
@junlincc  FYI

[2021-02-21 17:04] junlincc commented on #13249
@villebro @ktmud take a look the draft 1 year roadmap for Explore.send me comments, thoughts before I finalize?

<img width="1510" alt="Screen Shot 2021-02-21 at 9 02 11 AM" src="https://user-images.githubusercontent.com/67837651/108632430-c142f400-7423-11eb-878b-034e4c46c0e9.png">
<img width="1484" alt="Screen Shot 2021-02-21 at 9 03 08 AM" src="https://user-images.githubusercontent.com/67837651/

[2021-02-21 17:45] junlincc commented on #13257
@ktmud
All make sense, what i was thinking is to  move run button to the bottom, move save to top right corner, once we simplify and reorganize the controls?

<img width="1591" alt="108141052-da405380-7077-11eb-9586-2e24e57bd0d9" src="https://user-images.githubusercontent.com/67837651/108633525-7c21c080-7429-11eb-8c0b-3d7e6b6c5ee4.png">

[2021-02-21 20:45] amitmaharana opened #13261 "Feature Request: Add last business day option to time range filter"
**Is your feature request related to a problem? Please describe.**
I am working on a dataset that does not have data for weekends. Currently, the time range filters supported are based on the calendar irrespective of the presence of data. If I search on a Monday using the last day filter then no results were returned, as expected.

**Describe the solution you'd like**
It would be great if there wa

[2021-02-22 01:12] ktmud commented on #13261
You can currently utilize the Advanced date functions to get this:

[code]

Check out more about this functions in this tooltip:

<img src="https://user-images.githubusercontent.com/335541/108645303-44d20480-7467-11eb-9dc8-8689426ef6ac.png" width="500">

[2021-02-22 01:18] ktmud opened #13263 "[Explore][Time Picker] Tooltip should have a top and bottom border"
## Description

Currently the time picker help text tooltip does not have a top and bottom border, resulting this weird look:

![Snip20210221_23](https://user-images.githubusercontent.com/335541/108645569-23254d00-7468-11eb-82bd-b5c8d2c7badd.png)

We should add a padding to the tooltip content wrapper (the one with black background) and let the content itself scroll instead.

cc @zhaoyongjie

[2021-02-22 01:19] ktmud opened #13264 "[Explore] Time picker not able to parse "Last 1 year""
It seems timer picker (date / time range filter) will parse "last 1 year" as "next 1 year", while "last 1 years" will work as expected.

https://user-images.githubusercontent.com/335541/108644697-fd4a7900-7464-11eb-8383-c970ab21c964.mp4

This makes it impossible to set a time range as "Last 1 year : now":

https://user-images.githubusercontent.com/335541/108644687-f459a780-7464-11eb-9b44-663e6a7f1

[2021-02-22 04:50] #12101 closed

[2021-02-22 06:06] madhamanchiharsha opened #13267 "calculated columns creation using datasetput api"
HI,
I am automating our dashboard creation using apis. We have to create a calculated columns in our datasets. I have done the same from UI and added a sample image here.In order to create the calculated columns, I am using /api/v1/dataset/{pk} api. However these are the problems I am facing:
 When I try this in swagger: validation fails for override_columns (I have tried false/False/FALSE/0).
 Wh

[2021-02-22 06:24] #13011 closed

[2021-02-22 06:32] zhaoyongjie commented on #13249
I'm trying to redesign the semantic layer, it might help. these are a good request.

[2021-02-22 06:34] junlincc commented on #13249
Thank you all for suggesting new features.
committed to both.

[2021-02-22 07:29] rusackas commented on #13257
In the long term, I'm a fan of @junlincc 's proposal... just moving to SIP-34's layout.

In the meantime, there are probably other places one might overshoot with the mouse and run into similar issues.

Option 2 is reasonable enough, but I'm not sure it will solve the problem in other areas.

Option 3 is intriguing to me... we could do it with JS, or we might be able to do it with a little CSS lik

[2021-02-22 07:56] kamalkeshavani-aiinside opened #13269 "[chart] Allow to change sorting of Grouped/Stacked bars"
**Is your feature request related to a problem? Please describe.**
In Time-series bar chart, when user creates groups of bars(grouped/stacked), the order of bars in a group/stack is based on the value of metric(descending).
In case of Bar chart, the order is based on 'breakdown' dimension value(ascending).
There is an option of selecting 'Sort by', but that is just to calculate which bars will be

[2021-02-22 08:47] ktmud commented on #13257
@rusackas CSS delay looks cool. I did some testing and felt 250~300ms is the most comfortable.

[2021-02-22 11:06] villebro commented on #7804
FYI @bolkedebruin this is currently being implemented [here](https://github.com/apache-superset/superset-ui/pull/959)

[2021-02-22 11:19] asdi744 opened #13272 "superset db upgrade not working when upgrading from v 0.35.2 to 1.0.1"
I am trying to upgrade `superset` from version 0.35.2 to 1.0.1

### Expected results

`superset db upgrade` command should migrate my default db compatible to v 1.0.1

### Actual results

`superset db upgrade` failed with the following error

sqlalchemy.exc.IntegrityError: (psycopg2.errors.NotNullViolation) column "table_name" contains null values

[SQL: ALTER TABLE tables ALTER COLUMN table_name

[2021-02-22 12:47] rmgpinto opened #13275 "[Sql_lab]Bug on all SQL Lab queries"
I'm running superset 1.0.1 on kubernetes.
All SQL Lab queries return:
[code]

Logs
[code]

[code]

### Expected results

The query results to return.

### Actual results

No results and an error message is returned.

### Environment

(please complete the following information):

- superset version: `superset version` 1.0.1
- python version: `python --version` 3.8
- node.js version: `node -v`

###

[2021-02-22 14:12] ValentinC-BR opened #13278 "Pivot Table - Wrong Sort Order"
When I create a pivot table with a dimension in "group by" section and a numeric metric, the rows are not sorted correctly.

### Expected results

Rows should be sorted from the biggest number to the lowest one

### Actual results

Row are sorted as if the metric is a strinc (90 > 9.0 > 80 > 8.1 > 70 etc.)

#### Screenshots

![image](https://user-images.githubusercontent.com/79460908/108719836-592

[2021-02-22 14:21] ValentinC-BR opened #13279 "Filter Box - Horizontal Scroll Bar always visible"
## Screenshot

![image](https://user-images.githubusercontent.com/79460908/108720808-9048e900-7521-11eb-81ba-e11bf9f66ab7.png)

## Description

In the "Filter Box" chart, the horizontal scroll bar is always visible, whatever the chart size is.
I've checked the possible values, they're not that large.

## Design input

/

## Environment

Superset version : 1.0.1

[2021-02-22 15:26] rmgpinto commented on #9190
When I enable `GLOBAL_ASYNC_QUERIES`, all native filters on dashboards yield `No Results`

[2021-02-22 15:28] Steejay commented on #13242
hmm interesting. i think displaying the toast every 10 seconds is excessive. its like an alarm clock you cant turn off in the morning. how do you turn on auto refresh? is it through the Superset UI? If so, we can add some information in the location of that control via the use of help text. Therefore when the user turns on auto refresh theyll understand the result of this action in context.

Anoth

[2021-02-22 16:18] ktecho commented on #13242
Yes, I like @Steejay suggestion about including a "last updated" indicator. But even without that, you'll see that the dashboard is auto-refreshing because the widgets refreshes with the animated infinite symbol.

[2021-02-22 16:29] Steejay commented on #13242
@ktecho agreed. it would be good to consider the users who might experience the dashboard too. for the dashboard creator the auto refresh cadence might be well understood but for someone who only observes the dashboard, they might not have context on how often the dashboard is refreshing unless they're counting the intervals. are we willing to accept this potential ambiguity? if so the loading sym

[2021-02-22 16:29] villebro commented on #9190
Thanks for reporting @rmgpinto - we'll put this on the list of issues to fix. Ping @junlincc

[2021-02-22 16:34] suedschwede opened #13285 "Superset Clickhouse driver"
At the moment there are two superset drivers "clickhouse-sqlalchemy","sqlalchemy-clickhouse"

There are problems with both drivers and that leads to a lot of questions

**sqlalchemy-clickhouse**

- Table with 128 Columns  - Datasets sync of column does not work correctly - it seems there is a maximum columns you can use
- If the default user has a password you must use "infi.clickhouse_orm==1.0.4"

[2021-02-22 16:40] villebro commented on #13013
I think it would be nice if the `superset-ui` npm packages would be synced with the official release versions; when a new Superset version is released, the all `superset-ui` packages would be released with the same version on npm. If we stay true to semantic versioning (the SIP has now passed), people would know that if their external applications is using e.g. v. 1.1.0 of `superset-ui`, it will b

[2021-02-22 17:25] ktecho commented on #13242
Yeah, totally agree.

[2021-02-22 17:27] #12965 closed

[2021-02-22 18:27] amitmiran137 opened #13287 "publish superset helm chart to https://artifacthub.io/"
**Is your feature request related to a problem? Please describe.**
As a kubernetes based deployment provider, I would like to use the helm chart provided officially by superset instead copying source files to my deployment solution

**Describe the solution you'd like**
start publishing helm artifact to https://artifacthub.io/  on every change to the chart
manage versioning by bumbing the chart ver

[2021-02-22 18:41] aciccioli commented on #9393
Working on that to ...

[2021-02-22 19:11] jcalhinho commented on #2123
the .service file must be in /etc/systemd/system

[2021-02-22 19:39] jcalhinho commented on #13279
same problem, fix with css template

[2021-02-22 20:19] prb219 commented on #13064
I switched to MySql and it worked as expected. However, can we have an action item to include Oracle db to store metadata for future?

[2021-02-22 20:27] Dirzel commented on #8303
Did you ever raise a PR for this, it's exactly what I'm looking for, I've also seen some other requests raised that would benefit from this.

[2021-02-22 20:41] Dirzel commented on #11021
@junlincc, Would the solution suggested in #8303 work for this.

[2021-02-22 23:04] prb219 opened #13290 "Dashboard fails to load after adding chart"
Hi,

I had a dashboard with few charts that were working as expected. Then I went ahead and added a line chart (which had empty result) into the dashboard which crashed my dashboard and I see the below error. Please note that this issue exists only in one of the dashboard, all other dashboards loads fine.

### Expected results

expected to load the dashboard
### Actual results

Sorry, something we

[2021-02-22 23:56] willbarrett commented on #13234
Hey @KentonParton - I think we'd like to eventually move to a plugin architecture that would allow additional notification types to be easily added by the community. Is that an effort you'd be interested in participating in?

[2021-02-23 00:01] willbarrett commented on #13232
@betodealmeida would you mind weighing in?

[2021-02-23 01:19] junlincc commented on #13290
Hi @prb219 what do you mean by added `a line chart (which had empty result)` ? This should not be an issue in latest 1.0.1, you want to check it out?

[2021-02-23 02:19] candy4290 commented on #7146
I have the save question, how to fix it?

[2021-02-23 02:22] Riskatri opened #13293 "pie chart date format"
hi, i make a pie chart using apache superset and have a periode data but the data getting value 1491829101010 not a date format. if i want to change the value to date format as my data in database. what should i do?

[2021-02-23 02:23] candy4290 commented on #12888
I have the save question, how to fix it?help！

[2021-02-23 05:28] junlincc commented on #13293
Hi @Riskatri please fill out the issue template with details, screenshot, reproduce steps, and your current version. if you are not on the latest v1.0.1, please do check it out and lmk.

[2021-02-23 05:40] junlincc commented on #13285
@srinify ^ 🙏

[2021-02-23 05:52] junlincc commented on #13275
@betodealmeida could you take a look? thanks!

[2021-02-23 05:55] junlincc commented on #13279
I believe this issue has been fixed in master, but for stability you may still wanna stay on v1.0.1 since this issue is trivial?
<img width="1339" alt="Screen Shot 2021-02-22 at 9 54 56 PM" src="https://user-images.githubusercontent.com/67837651/108807203-9f975900-7558-11eb-8402-d3dfab4eda2a.png">

[2021-02-23 06:18] Riskatri commented on #13293
hi, i use apache superset version 1.0.1,
i have data period as datetime in my database and then i create a pie chart but the periode value like this
![Capture](https://user-images.githubusercontent.com/59104917/108808516-5f2bef80-75d9-11eb-9260-dbcd8446435e.PNG)

period value in my database like this '2019-02-23'

[2021-02-23 06:21] 0101Unkown0101 commented on #13293
Ummm how did you get my email and who are you????

On Mon, Feb 22, 2021, 11:19 PM Riska Tri Handayani <notifications@github.com>
wrote:

[2021-02-23 06:24] Riskatri commented on #3271
i have same issue for pie chart. any solution to this??

[2021-02-23 06:26] 0101Unkown0101 commented on #3271
Honestly I'm not that good in coding I'm just a beginner

On Mon, Feb 22, 2021, 11:25 PM Riska Tri Handayani <notifications@github.com>
wrote:

[2021-02-23 06:37] Riskatri opened #13295 "apache superset datetime format"
hi, i use apache superset version 1.0.1,
i have data period as datetime in my database and then i create a pie chart but the periode value like this
![Capture](https://user-images.githubusercontent.com/59104917/108809763-25101d00-75dc-11eb-89ff-f4b3479cbf1d.PNG)

the periode value in database like this
![periode](https://user-images.githubusercontent.com/59104917/108809828-45d87280-75dc-11eb-802b-

[2021-02-23 06:47] villebro commented on #13295
Thanks for reporting this @Riskatri . We've recently added better column typing metadata to the chart requests, so we should be able to add proper date formatting to the labels now. @junlincc I propose trying to tackle this soon to set a precedent for how charts should handle temporal columns in labels.

[2021-02-23 07:20] Neel-rishabhsoft commented on #8480
Facing the overlapping values issue in Superset Barchart
Chart Type: Time Series Bar Chart (when showing bar values)
Screenshot:
![image](https://user-images.githubusercontent.com/60099288/108812653-854f9080-75d5-11eb-9699-7f3af56ae94e.png)

Superset version: 0.37.0

Please suggest any way to resolve this issue

[2021-02-23 07:21] Neel-rishabhsoft commented on #3779
https://github.com/apache/superset/issues/8480#issuecomment-783968579

[2021-02-23 07:22] Neel-rishabhsoft commented on #10662
Still facing this issue. Please suggest any way to resolve this

[2021-02-23 07:34] KentonParton commented on #13234
Hey @willbarrett thanks for the comment. While I'd love to try the plugin approach, I can't say I am hugely familiar with Superset. Would it be okay to keep the scope to adding the Opsgenie implementation then have a follow-up PR trying the plugin route?

[2021-02-23 07:36] Neel-rishabhsoft commented on #9395
Any update on this issue?

[2021-02-23 07:50] Arktiswind opened #13297 "Follow up to: #13128 Maximize charts: wrong height calculated"
Hi again,
I unfortunately have to open a new issue. The problem is similar to my old issue 8 days ago.
Told my colleague he can start building his own charts and the problem is back. Well, kind of...
On his PC the new barChart is cut off again in maximized mode:
https://www.telesys.de/wp-content/uploads/supersetBarChart2.png

On my PC everything is well with the same chart on the same dashboard:
h

[2021-02-23 07:55] Riskatri commented on #13295
thankyou @villebro but i need the visualization data right now. any solution to solve this problem? i have tried to change datetime format to string format. its work for label pie chart, but it cannot be filtered using filter box time range

[2021-02-23 07:58] villebro commented on #13295
@Riskatri please be mindful that this is an open source project, hence we have limited resources to respond to community feature requests. In the meantime I recommend creating a calculated column in which you format the dates as strings and then group by them instead of the original temporal column.

[2021-02-23 08:07] nawazxy commented on #9393
Thanks @aciccioli please keep us posted

[2021-02-23 08:17] Riskatri commented on #13295
thankyou @villebro , your recommend work for me
![date](https://user-images.githubusercontent.com/59104917/108817271-33fdcc00-75ea-11eb-8c65-f55fdec2daa8.PNG)

[2021-02-23 08:40] #12935 closed

[2021-02-23 09:39] Fentonfi commented on #13197
Hi,

python3 was pointing to older version of python (python 3.6.9), because of which we had seen the above error. Now python3 binary points to the correct version.
After making this change we had to install few pip packages as mention below
python -m pip install --upgrade pip
pip install --ignore-installed PyYAML
apt-get install build-dep python-psycopg2
pip install psycopg2
pip install psycopg2-

[2021-02-23 09:39] #13197 closed

[2021-02-23 10:41] Kingflyinger commented on #12867
thanks,the same question

[2021-02-23 11:59] dusatvoj opened #13298 "Can't see Manage > *Email*"
A clear and concise description of what the bug is.

### Expected results
As in [docs](https://superset.apache.org/docs/installation/email-reports)

### Actual results

Can't see any settings related to emails

#### Screenshots

![image](https://user-images.githubusercontent.com/11560794/108840375-89c87900-75d6-11eb-8663-8c41f7fb4149.png)

#### How to reproduce the bug

Folow the docs but no `Mana

[2021-02-23 12:27] Akitha commented on #12867
Did you able to load the thumbnails by this configurations

[2021-02-23 13:04] TheRum commented on #13106
I'm also facing the same issue after upgrading to Superset 1.0.1.

[2021-02-23 13:50] wargod797 commented on #13196
Installing these packages solved the errors for me

sudo apt-get install build-essential libssl-dev libffi-dev python-dev python-pip libsasl2-dev libldap2-dev

sudo apt-get install build-essential libssl-dev libffi-dev python3-dev python3-pip libsasl2-dev libldap2-dev

[2021-02-23 13:50] #13196 closed

[2021-02-23 14:45] CoderYellow commented on #7408
`npm install` may take a while to finish,run this command to show the log:
[code]
till the output
[code]
In China, you can add option `--registry=https://registry.npm.taobao.org ` to  [npm](https://github.com/apache/superset/blob/16e69f1131ad9ade45ef20bb7525a766ce047848/docker/docker-frontend.sh#L21)

[2021-02-23 16:32] krsnik93 commented on #12755
Seeing this as well.

[2021-02-23 17:21] willbarrett commented on #13234
@KentonParton yes, that would be fine for now. Go for it!

[2021-02-23 17:29] willbarrett commented on #13298
Hi @dusatvoj - I would wager that the relevant configuration flag is not enabled, or your server has not been restarted after the configuration was edited. Please ensure that you have the configuration flags referenced in the documentation set to `True`, and perform a restart of the Superset process. Let us know if that does not resolve your issue.

[2021-02-23 17:37] dusatvoj commented on #13298
[code]
My server was restarted :thinking:

[2021-02-23 17:39] dusatvoj commented on #13298
Oh, I've found an issue. I haven't run `superset init` again :O

[2021-02-23 17:43] #13298 closed

[2021-02-23 18:29] mistercrunch opened #13303 "[home page] make the tab/pills sticky"
<img width="520" alt="Screen Shot 2021-02-23 at 10 26 10 AM" src="https://user-images.githubusercontent.com/487433/108889803-a1e1cd80-75c1-11eb-903c-74ef4b0af593.png">

I take the time to set my favorite dashboards and charts, but the home page won't remember that I prefer "Favorites" over "Mine". Let's make that sticky. Let's also create a nice simple abstraction for things to be sticky. Maybe th

[2021-02-23 18:30] nytai commented on #13303
As in save the preference to local storage or in metadata db?

[2021-02-23 18:32] junlincc commented on #13303
local storage @nytai

[2021-02-23 18:33] nytai commented on #13303
I would be nice to create a framework where this is saved in the metadata db instead of local storage

[2021-02-23 18:34] junlincc commented on #13303
my first reaction is local storage, that's how we set in Explore, but after thinking through, it might make more sense to save it in metadata db. @nytai

[2021-02-23 18:43] nytai commented on #13303
Let's just work with a good abstraction that should allow us to switch over to a different storage mechanism later on. As the UI gets more complex and we create more of these sticky options, it would be a shame for all of that to be lost once someone upgrades to a new computer which is fairly common in corporate settings.

[2021-02-23 18:57] micimize commented on #8303
@Dirzel I didn't – the ad-hoc solution I made doesn't consider the depth limits very carefully.

[2021-02-23 21:20] puranikamey commented on #6446
Is there any resolution on this issue?

[2021-02-23 23:53] ktmud commented on #13303
+1 on good abstraction. Another benefit of saving things like this to db is cross-platform/browser consistency.

[2021-02-24 03:04] Riskatri opened #13308 "CSS dashboard not working after download a dashboard as an image"
i add a css template and edit css on dashboard for hide a scrollbar in filter box, its work like this
![filter data](https://user-images.githubusercontent.com/59104917/108941061-ff8c1d80-7686-11eb-883f-d25156cb7f0b.PNG)
but when i download dashboard as an image, scrollbar still exist
![scorllbar](https://user-images.githubusercontent.com/59104917/108941381-948f1680-7687-11eb-9d71-dde3fcebde69.PNG)

[2021-02-24 05:35] junlincc opened #13309 "[Explore]mysterious blank chart page in Explore"
After clicking "View chart in Explore", on one of the charts in dashboard, got a blank Explore page with only main menu showing, and below error. Only affecting one specific chart and the chart on dashboard shows perfectly...
Search the chart from chart list and open, also see a blank page.

<img width="948" alt="Screen Shot 2021-02-23 at 9 11 00 PM" src="https://user-images.githubusercontent.com/

[2021-02-24 06:35] Riskatri opened #13310 "cannot display label percentage value in pie chart"
Hi, i want to change label to percentage value in pie chart. but the percentage cannot display here. i am using apache superset version 1.0.1
![turjawali](https://user-images.githubusercontent.com/59104917/108958124-19d4f400-76a5-11eb-8138-8dab059bf4f4.PNG)

[2021-02-24 06:41] junlincc commented on #8639
+1 for this proposal
We added this request to roadmap lately, as we consider this feature as _must have_ for an enterprise software.  this sip seems to be the perfect solution! Please help me understand a couple of things~
1. how long can a soft deleted object be stored until it get premaritally deleted?
2. can user set the time for hard delete?

will either of you be interested in collaborating o

[2021-02-24 07:23] junlincc commented on #12962
resolved

[2021-02-24 07:23] #12962 closed

[2021-02-24 07:30] junlincc commented on #12719
resolved

[2021-02-24 07:30] #12719 closed

[2021-02-24 07:46] vrenvren opened #13311 "Add output formatting to the customize section of every visualization"
The visualizations provided by the current version (1.0.1) of Superset could be a more refined, coherent set of tools. Now every visualization has its own style and options. Some basic functionalities should be available for every visualization

In addition to the color schemes, which seem to be the most persistent customization feature, every chart presenting numbers should at a minimum have the

[2021-02-24 08:11] mikekytyzov opened #13312 "Line chart series input doesnt work | Clickhouse"
A clear and concise description of what the bug is.

I have a metric called Total users. I want to make a line chart with this metric by day, but display only 5 top results per day.

So, i select `series` input to 5, but it doesnt work, all results still displayed. Screen is attached

### Expected results

Series is applied by each time granula.

### Actual results

Series input doesnt make any af

[2021-02-24 10:16] Wang-Yong2018 opened #13313 "Event flow chart failed and report sql error after upgraded to superset v1.0.1"
A clear and concise description of what the bug is.

### Expected results
what you expected to happen.
Like superset0.3X version, the eventflow chart could show chart based on entity column and event column based on the datetime columns.
For example,  the examples dataset wb_health_population can show eventflow.
The input (
datasource = wb_health_population
chart type = event flow
timecolumn = yea

[2021-02-24 10:33] bdiouih commented on #12987
I have exactly the similar issue with Afghanistan geojson file.
How can this be solved exactly  :  how can it be simplified and overlapping fixed?

[2021-02-24 11:46] ranggarppb opened #13315 "Unable to Use Jinja Context for "url_param""
A clear and concise description of what the bug is.

### Expected results

It gives 'rangga' as the parameter of username in url

### Actual results

It returns None

#### Screenshots

![image](https://user-images.githubusercontent.com/44335152/108995403-a694a780-76cf-11eb-9ac5-69e87f27dfea.png)

#### How to reproduce the bug

0. Activate your jinja context in superset/docker/pythonpath_dev/supers

[2021-02-24 11:48] mona-mk opened #13316 "Sort map (deck.gl Scatterplot) legend in Apache Superset"
Map legend needs to be sorted alphabetically or even better with a custom given order (same applies with numerical legends). e.g. in example image below, I want the order A, B, C, D for the legend.

<img width="636" alt="Screenshot 2021-02-24 at 13 47 15" src="https://user-images.githubusercontent.com/59080347/108996367-f4e18080-76a6-11eb-814f-6033ca12b75c.png">

[2021-02-24 11:58] anilvpatel21 commented on #296
@mistercrunch Any update on this? Hour Offset still supports integer value. Using 0.38.0 version of superset.

[2021-02-24 13:40] didva opened #13317 "Table name and schema are encoded twice during fetching table metadata on SQL Lab page."
### What:
Methods getTableMetadata and getTableExtendedMetadata encode URI twice. This leads to `An error occurred while fetching table metadata` error message.

Please see:
https://github.com/apache/superset/blob/29d6420ecc2187db951f08dd47289277a11f4db5/superset-frontend/src/SqlLab/actions/sqlLab.js#L948
https://github.com/apache/superset/blob/29d6420ecc2187db951f08dd47289277a11f4db5/superset-fro

[2021-02-24 16:10] Polignao opened #13321 "Error in FilterBox SQL Query using elasticsearch-dbapi 0.1.2/0.2.0 on Elasticsearch 7.x.x"
As the self explanatory title says, I'm getting this error when trying to use elasticsearch as database for a filterbox.

**Superset versions I tested this on: 0.990-dev, 1.0.1**

Superset is installed using Docker Desktop on Windows 10 19042.804
_https://hub.docker.com/r/amancevice/superset/ **for 1.0.1**
https://hub.docker.com/r/apache/incubator-superset for **0.990-dev**_

Elasticsearch is in D

[2021-02-24 17:01] ranggarppb commented on #5075
bump

[2021-02-24 18:27] ranggarppb commented on #9949
bump

[2021-02-24 18:31] ranggarppb commented on #9949
Do you have any solution for this? @zufolo441

[2021-02-25 00:36] priteshwatch opened #13326 "AWS EKS SSL Cert pass through"
I was able to setup using the helm service. However, when I tried to use the ssl cert via AWS Cert manager, things dont seemt to work. I am seeing a redirect from https -> http. I would like to only have https exposed. But it seems like superset is redirectly from https to http, not realizing that the https is managed outside.

service.beta.kubernetes.io/aws-load-balancer-type: nlb
service.beta.ku

[2021-02-25 00:45] hodgesrm commented on #13285
Hello @suedschwede, I'm testing this case and need some advice on the problem you are seeing.  To check datatypes I made a small table and added a row to enable queries.
[code]
I can see the effect of syncing columns in the Edit Dataset view.  The data types that return are STRING, NULLABLE(STRING), LOWCARDINALITY(STRING), DATETIME, NULLABLE(DATETIME).  It looks as if the SQLAlchemy driver is gett

[2021-02-25 02:48] hodgesrm commented on #13285
Adding to the original request by @suedschwede, I strongly recommend switching to clickhouse-sqlalchemy as the standard driver for ClickHouse. The reasons for this switch are as follows.

1. clickhouse-sqlalchemy is actively maintained (last commit 18 Feb 2021, under active development).
2. Releases are pushed regularly to pypi.org (last push 14 Dec 2020).
3. It has what appears to be a fairly com

[2021-02-25 02:50] priteshwatch commented on #13326
I have the following settings in the config

ENABLE_PROXY_FIX = True
PREFERRED_URL_SCHEME = 'https'
FORWARDED_ALLOW_IPS = '*'

There is a 302 redirect from https to http

[2021-02-25 02:58] oscarostlundgs commented on #8273
This still seems to be an issue in 1.0.1. The table filter functionality is very useful for interactive dashboards.  Any chance we could reopen the issue?

I narrowed down the issue to the dashboardFilter reducer trying to update an undefined filter as the getInitialState function only creates an initial filter for filter_box and filter_select types. (See [here](https://github.com/apache/superset/

[2021-02-25 03:48] github-wcha opened #13327 "Dashboard favourite status, CORs requests and nginx configuration"
When loading the superset welcome screen, two error messages pop up with the message:
`There was an error fetching the favorite status: NetworkError when attempting to fetch resource.`
There are also a stack of errors in the console, which I suspect is related to CORS support and my NGINX configuration.

### Expected results

Welcome screen loads without errors and dashboard favourite status loads

[2021-02-25 03:51] Riskatri opened #13328 "value of result timestamp in chart big number with trendline doesnt match with database"
- i am using apache superset version 1.0.1
- i create chart big number with trendline
i have database like this
![image](https://user-images.githubusercontent.com/59104917/109099810-48f76e00-7756-11eb-9a61-2f0a7448a874.png)

but when i am using chart big number with trendline, value of periode doesnt match with my data
![image](https://user-images.githubusercontent.com/59104917/109099991-94aa1780-

[2021-02-25 03:52] github-wcha commented on #13327
#13072

[2021-02-25 06:37] robdiciuccio commented on #12766
I've been able to reproduce the issue using Celery `prefork` concurrency. It seems to be the same issue documented here: https://github.com/apache/superset/issues/10530

Continuing to investigate.

[2021-02-25 07:55] juneauwang commented on #12990
1.Why can't superset print debug or even error massage in logs when failling to connect hive database ? If those logs are printed maybe I can know the reason.
You can find the reason in superset server log if you set your log LOG_LEVEL = "DEBUG"

2.How to use the following configuration ? The comments says it can be used to connect hive and It seems a better way to connect to hive.
I don't use thi

[2021-02-25 08:07] suedschwede commented on #13285
If you try to make a date/time filter to NULLABLE(DATE) you get an error in superset
![image](https://user-images.githubusercontent.com/25843519/109122105-67ef0380-7748-11eb-8b0a-aca07ed1a89e.png)

The expected behavior is to see just STRING and DATETIME

NULLABLE(STRING) -> STRING
NULLABLE(DATE) -> DATE
NULLABLE(DATETIME) -> DATETIME

[2021-02-25 08:11] villebro commented on #13285
We're currently working on improving type inference (https://github.com/apache/superset/pull/13294). We'll make it top priority to enable this for Clickhouse as soon as possible.

[2021-02-25 08:21] robdiciuccio commented on #10530
I'm working on an app-level fix for this based on https://www.yangster.ca/post/not-the-same-pre-fork-worker-model/. This should also resolve https://github.com/apache/superset/issues/12766

[2021-02-25 09:26] darksgit opened #13333 "Can not connect to Mysql 8 database in Docker"
I am trying to setup simple installation with Superset and Mysql 8 in docker
Initially I tried amancevice/superset:1.0.1 and 1.0.0 images and after facing the error I switched to  [docker-compose-non-dev.yml](https://github.com/apache/superset/blob/master/docker-compose-non-dev.yml) compose file. It uses

_apache/superset:latest_

image, superset version returns

_Superset 0.999.0dev._

I added my

[2021-02-25 09:38] #13264 closed

[2021-02-25 09:57] amitmiran137 opened #13335 "Bug: dashboard color scheme doesn't apply to charts"
When updating a color scheme it is only applied on the fly
but when refreshing the page. the chosen color scheme is not applied although it is the selected one in the dashboard metadata

### Expected results
upon page refresh selected color scheme should be applied
### Actual results

color scheme changes to default

#### Screenshots

https://user-images.githubusercontent.com/47772523/109135692-03

[2021-02-25 09:59] villebro commented on #8273
This functionality is currently being actively worked on - please see https://github.com/apache/superset/pull/12662 for the new functionality that was recently added and is currently being implemented on the table chart (and other charts) to replace the old deprecated logic.

[2021-02-25 13:27] willbarrett commented on #9930
Hi @thomasrockhu - we have migrated to the Github application. Apologies for the long delay in responding! We have conditional builds set up for different test suites and often face long CI delays. We find this situation leads to inaccurate results in Codecov. We've updated our configuration recently here: https://github.com/apache/superset/pull/13329 but I'm wondering if you have any other sugges

[2021-02-25 15:17] thomasrockhu commented on #9930
@willbarrett thanks for responding back here! I think you are looking for [carryforward flags](https://docs.codecov.io/docs/carryforward-flags). If I'm reading your comment right, you don't run every test suite for every commit? If so, carryforward flags will pull the coverage data (by flag) from the last applicable commit. Let me know if that's what you were asking or if you had meant something e

[2021-02-25 15:49] dusatvoj opened #13339 "Keycloak OAuth2 invalid user 'logging'"
Can't login via OAuth2 LDAP with some issues.
1. Error with `client_id=None`
2. Error `ERROR:flask_appbuilder.security.views:Error returning OAuth user info: name 'logging' is not defined`

First issue is docs-based, because with config:
[code]
says Keycloak this: `... type=LOGIN_ERROR, realmId=SOME_REALM, clientId=None, userId=null, ...`, so Superset don't care about `client_id`.
When I've duplic

[2021-02-25 16:58] cccs-jc opened #13341 "[Dashboard] Support Filterbox validators"
**Describe the solution you'd like**

Ability to specify a validators inside a FilterBox.

We use Superset in the context of Security information and event management (SIEM). Our data often include IP values which users want to filter by adhoc IP ranges (using CIDR notation).

For example when the user inputs a filter value of 192.168.0.0/24 this filter is converted into a range query on the serve

[2021-02-25 17:39] helo-ch commented on #12279
The problem seems to have been fixed in version 1.0.1

[2021-02-25 17:41] helo-ch commented on #12041
Problem seems to have been solved in version 1.0.1

Users now see their own charts in Charts Menu.

[2021-02-25 17:42] #12279 closed

[2021-02-25 18:01] priteshwatch commented on #10483
Hello, is there an update on this . my password has an asterix. I would atleast love to get a work around.

postgresql+psycopg2://test:test123**@play-domain.1.rds.amazonaws.com:5432/keymakerdb

[2021-02-25 18:05] priteshwatch commented on #10483
If I just escape the password, it works at connection time but does not recognize the password post connection. so essentially unusable.

[2021-02-25 18:24] junlincc commented on #13335
Thanks for reporting! confirmed that this is an issue on master.  this behavior used to be the opposite, meaning, colors change don't get saved on SAVE, user has to refresh page to see change, which is less problematic.

Tagging P1.

@geido Diego, sorry for pulling you out from the testing project, could you help on this one? many thanks!

[2021-02-25 19:09] jonathanmorais commented on #13275
I caught the same error, can someone take a look?

`ERROR/ForkPoolWorker-1] Task sql_lab.get_sql_results[xxxxxx-efe2-4445-bdf1-dd587c8fcc1d] raised unexpected: KeyError('query_id')`

[2021-02-25 20:12] maddyobrienjones opened #13345 "cannot delete user "Associated data exists, please delete them first""
When trying to delete a user, the error message "Associated data exists, please delete them first" appears. All charts and dashboards created by that account have been deleted. I have also set the user as inactive and deleted its role setting. I am able to edit the user but not delete it.

I found the following similar issue which was marked as stale with no response: https://github.com/apache/sup

[2021-02-25 20:54] zuzana-vej commented on #12643
Low pri bug, but just wanted to ping here for a reminder (@junlincc).

[2021-02-25 20:57] zuzana-vej commented on #12672
Low pri bug, but wanted to ping a reminder so that it's not completely lost. cc @junlincc

[2021-02-25 21:01] oost commented on #8273
OK Thanks. Will that functionality be in the next version of Superset?

If helps, I submitted a PR that fixes the issue with the current implementation. Basically just making sure dashboardFilters get an initial state for tables so when a changeFilter event is emitted, the dashboardFilter state for the chart can be updated.

[2021-02-25 21:36] elaimte opened #13348 "unable to run superset on Nginx . Any workable source code to run superset on server?"
## Screenshot

[drag & drop image(s) here!]

## Description

[describe the issue here!]

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label `design:review`. If this includes a design proposal,
include the label `design:suggest`]

[2021-02-25 22:41] #13227 closed

[2021-02-25 23:41] robdiciuccio commented on #12913
@rwspielman can you test the fix in #13350 to see if that resolves your issue?

[2021-02-25 23:42] robdiciuccio commented on #12766
@iercan can you test the fix in #13350 to see if that resolves the issue?

[2021-02-25 23:43] robdiciuccio commented on #10530
https://github.com/apache/superset/pull/13350 contains a potential fix for this issue. Can you please test and confirm?

[2021-02-25 23:48] robdiciuccio commented on #9906
Likely related: https://github.com/apache/superset/pull/13350

[2021-02-25 23:56] robdiciuccio opened #13351 "[SIP-59] Proposal for Database migration standards"
## [SIP] Proposal for database migration standards

### Motivation

Reduce pain around metadata database migrations by ensuring standards are followed and appropriate reviews are obtained before merging.

### Proposed Change

[SIP-57](https://github.com/apache/superset/issues/12566) (Semantic Versioning) introduced standards for avoiding breaking changes and general best practices for database mig

[2021-02-26 00:32] eugeniamz commented on #13293
@junlincc  I verified this issue

[2021-02-26 03:44] thesuperzapper commented on #10216
https://github.com/dpgaspar/Flask-AppBuilder/pull/1374 has been merged, and is now part of Flask-AppBuilder `3.2.0`, meaning the `AUTH_ROLES_MAPPING` feature is now available.

@amitmiran137 I'm not sure if Superset needs to do anything to update Flask-AppBuilder to `3.2.0`

See the Flask-AppBuilder docs here:
https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-ldap

[2021-02-26 04:09] ITNoesis commented on #6197
The issue is still there. When a dashboard or, slice or, table is created a unique id is assigned to it. A dashboard can easily be exported and if it is imported into another instance of superset, the import will be successful until and unless there are no tables/slices/dashboards with the same unique_id present in the target instance of superset.

How I got around it? Manual pain! I exported a da

[2021-02-26 05:31] eschutho commented on #13333
@yousoph

[2021-02-26 05:43] junlincc commented on #12745
confirmed issue has been resolved in master, fix will be available in next release

[2021-02-26 05:43] #12745 closed

[2021-02-26 06:50] kamalkeshavani-aiinside opened #13356 "Add more control for new welcome/home screen in v1.0.x"
**Is your feature request related to a problem? Please describe.**
The new Welcome/Home screen of Superset v1.0.x includes Recents, Dashboards, Saved Queries & Charts sections.
![image](https://user-images.githubusercontent.com/74634977/109264692-b8e62100-7848-11eb-9e7e-c85bbfbcd54b.png)

For many users in our case, they only use Superset to look at dashboards. So these users don't know about Char

[2021-02-26 07:08] iercan commented on #12766
@robdiciuccio I'm still getting errors.

[code]

[2021-02-26 07:42] iercan commented on #12766
Sorry I realized I made test from wrong branch thats why I removed previous answer. I retested it with both prefork and gevent pools and it looks fine. Thanks for the fix.

[2021-02-26 08:08] iercan commented on #12766
@robdiciuccio I also make some performance tests. I loaded a dashboard that have more than 20 charts. Looks like with GAQ dashboards loads far slower. Also chart loads not finish until second explode request, I don't know if this is expected behavior

with GAQ dashboard loads in 13 sec
![image](https://user-images.githubusercontent.com/3406152/109272812-70b40800-7822-11eb-8d93-7bce3c43d644.png)
wi

[2021-02-26 08:26] junlincc opened #13357 "[Roadmap]Superset proposed feature roadmap 2021-2022"
Dear Superset users,

Thanks to all your support, feedback, and patience, we successfully launched Superset v1.0 last month. As our development team is working hard on polishing the product to provide the best user experience, we want to think ahead of the future and next milestone of Superset.

We put together some proposed feature roadmap items in (https://docs.google.com/spreadsheets/d/1V82lxvW

[2021-02-26 08:40] geido commented on #13335
Sure I'll have a look @junlincc

[2021-02-26 16:05] #9860 closed

[2021-02-26 16:05] #12913 closed

[2021-02-26 16:35] etr2460 commented on #13351
Love the suggestions, thanks for driving this! A couple pieces of feedback:

This isn't always possible, especially when the migration is doing some repair of the metadata (vs. adding/removing columns and tables). See https://github.com/apache/superset/pull/12960 for an example of an impossible migration to write a down method for. Maybe this can be more precise by saying that all migrations that

[2021-02-26 20:11] sazary commented on #7274
I think it's very good (and kinda necessary IMHO) to add an explicit scatter plot type too.
BTW, you can use the bubble chart with fixed bubble size (e.g., 1) as a workaround @john-curry871 @pauliuxasz

[2021-02-26 21:22] scubed2010 commented on #5075
@ranggarppb I second your bump

[2021-02-27 00:51] yousoph opened #13366 "SQL Lab - Selecting a table on the left panel doesn't expand the table info by default"
In SQL Lab, when selecting a table on the left panel, the table should expand by default to show the columns

### Expected results
![image](https://user-images.githubusercontent.com/10627051/109369765-8e996100-7852-11eb-83fd-aea17bc84fb4.png)

### Actual results
When selecting a table, the info in the left panel is collapsed by default
![image](https://user-images.githubusercontent.com/10627051/10

[2021-02-27 04:56] john-bodley commented on #13351
Should we also consider how we could provide near zero-downtime for migrations which involve DDL operations or is this outside the scope of this SIP?

[2021-02-27 20:34] hyouinKyouma opened #13369 "filter box with an option to 'group by' the data"
Hi all,
Filterbox is a great feature to filter data but there are features that can make it better.
Here is my used case:
So lets say that I have a 100 products of different colors, red = 40, blue=20, green=20, , yellow= 20.

I am using 'Table' visualization in dashboard with metric = count

Now when no filter is applied it will show me all the 500 products in the table, and I can select any color

[2021-02-28 02:31] #13261 closed

[2021-02-28 05:51] khaa-dv commented on #13297
Hey! I have a similar problem.
To reproduce the problem, you need to place the chart below the visible area of the screen so that the vertical scroll bar appears. If the chart is at the top and there is no scroll bar, then there is no problem.
@junlincc, @Arktiswind

[2021-02-28 06:23] junlincc commented on #13310
Hi @Riskatri, thanks for reporting. this issue has been fixed in master. :)

https://user-images.githubusercontent.com/67837651/109409788-5ffeb180-794a-11eb-9cab-2a2f13fb82da.mov

[2021-02-28 06:23] #13310 closed

[2021-02-28 06:36] junlincc commented on #13341
@cccs-jc thanks for suggesting. we got this request quite often. the reason we are holding off on this is that FilterBox will be replaced by dashboard native filter https://github.com/apache/superset/issues/12148 as it rolls out. please follow step to enable the new feature and let us know if it doesn't work for you case. if not(likely), we are committed to make enhancement on the new solution.

[2021-02-28 08:53] davidsheard opened #13372 "Could not load database driver elasticsearch+http"
Hi,
I have spent all day trying to connect Superset to Elasticsearch
I added a Database and tested the connection using this string:
elasticsearch+http://elastic:elastic@localhost:9200/
  I can connect to Kibana using elastic:elastic as I set this password. I also removed basic security on elasticsearch and ran:
 elasticsearch+http://localhost:9200/ - with same error.

I get this error:
"ERROR: Co

[2021-02-28 09:04] davidsheard commented on #13372
Extra information:
ip freeze | grep elasticsearch
elasticsearch==7.10.1
elasticsearch-dbapi==0.2.0

[2021-02-28 17:53] rvabhijith opened #13373 "Chart Export CSV output is blank"
Export CSV option in charts handled by the new /chart/data api returns a blank csv file

Dataset : Virtual dataset
Using Jinja template in query for getting filter values

Reason identified : filter values passed in the json payload (form_data) is not getting applied in the actual query executed.
Query getting executed with blank values hence no result

[2021-03-01 06:07] kamalkeshavani-aiinside commented on #13202
@willbarrett Just wanted to point that csv raw data reporting feature is lost(in a way) in Superset v1.0.x, since the old 'Chart Email Schedule' cron job has some issues.
So although I understand that PDF reporting(and maybe another option) is also under consideration, I would request to at least make csv reporting usable again in v1.1

[2021-03-01 06:19] vinitpradhn18 commented on #12863
No I didn't have to add chromewebdriver in docker-compose. I'm using firefox for it. I did have to install geckodriver for that

[2021-03-01 07:29] juneauwang opened #13378 "Worker can't do impersonation while enable global async"
We enabled impersonation on Presto, Hive, impala.... etc sources and enabled global async in superset 1.0.0. However, worker can't get effective_username and queries will be run as system user

### Expected results

Dashboard query can be run as actual login user of superset when datasource enabled impersonation.

### Actual results

Dashboard will be run as system user no matter impersonation is

[2021-03-01 09:20] juneauwang commented on #13378
I noticed that username should be get by superset/utils/core/get_username() line 1308.
Which is trying to get username from flask context. However, celery worker can't get username. which means this method will return None.
Anyway to get current session username? or login username?

[2021-03-01 09:55] juneauwang commented on #13378
Tested with webserver, it's possible to get username:

[code]
can it be possible that celery worker didn't register in flask context?

[2021-03-01 12:20] gorcurek commented on #13378
Same happened to us while using **Global Async** with **Impersonation** turned on. Method _get_effective_username()_ in _models/core.py_ does not get the username because: g.user is not an attribute of g (AttributeError: '_AppCtxGlobals' object has no attribute 'user').