[2021-09-07 10:44] AlvaroFFF commented on #15818
Hi @etr2460,

Issue is still there. Let me try to provide more information about enviroment. These are the steps I've followed:

Created a new machine on Google Cloud Platform, with following specifications:

- Region: europe-west1 (Belgium)
- Zone: europe-west1-b
- Machine type: e2-standard-4 (4 vCPUs, 16GB memory)
- Boot disk: Ubuntu 20.04 LTS, 50GB

Once the instance is up, we start executing c

[2021-09-07 10:50] #16258 closed

[2021-09-07 11:03] alexryndin opened #16616 "Changing this dataset is forbidden -- no matter what access granted"
After upgrade from 0.3.8 to 1.3.0, users are not enable to add add new calculated columns to a Dataset (datasource) they granted access to. Whenever anyone tries to add new column and save a datasource, they get an error "Changing this dataset is forbidden". At the same time developers console gives error -- `http://localhost:8088/datasource/save/ [HTTP/1.0 403 FORBIDDEN 32ms]`
#### Screenshots

!

[2021-09-07 11:32] youngsol commented on #16398
yea I have same problem.
Temporary solution is register those API to CSRF exempt list.

[2021-09-07 11:49] #16616 closed

[2021-09-07 11:50] alexryndin commented on #16616
I missed important changelog update -- with 1.0 breaking change was introduced, and now `Dataset metadata updates check user ownership, only owners or an Admin are allowed.`

[2021-09-07 11:53] buremba commented on #16398
Eventually, I had to mimic the users by creating session cookie and using the internal APIs. :(

[2021-09-07 12:14] youngsol commented on #16398
@buremba
yea WTForms requires csrf token in the session.

[2021-09-07 12:21] youngsol commented on #16398
solution: use requests.session not just request.get/post/put (well get is ok)
[code]

[2021-09-07 12:27] buremba commented on #16398
@youngsol Here is how it works in our case: https://github.com/metriql/metriql-superset/blob/main/metriql2superset/superset.py#L21

[2021-09-07 14:27] buremba opened #16620 "Table displays `undefined` if there is dot character in column name"
A clear and concise description of what the bug is.

### Expected results

The column names may include special characters such as `.` and they're valid in most of the databases so the value should be displayed without an issue.

### Actual results

Somehow, if the column name includes the `.` character, the table displays `undefined` while the chart works fine.

#### Screenshots

![CleanShot 2021

[2021-09-07 16:03] aniaan opened #16623 "Error creating Elasticsearch Dataset, raise NoSuchTable Exception"
Error creating Elasticsearch Dataset, raise NoSuchTable Exception
### Expected results
create success

### Actual results

create error

#### Screenshots

<img width="717" alt="select-es-alias" src="https://user-images.githubusercontent.com/40813941/132374057-81da6fe3-13ae-42b6-98eb-0efca0ee9067.png">
<img width="964" alt="create-error" src="https://user-images.githubusercontent.com/40813941/13237

[2021-09-07 16:34] zfalen-deloitte commented on #11612
Can confirm this issue using the most recent version of the Helm chart. `superset-init-db` Job fails to run - but is marked as `Completed` / does not error out when SQL operations fail.

[2021-09-07 20:42] dd-willgan opened #16625 "Allow supersetNode in Helm chart to have its own ENV variables."
I'm using [Vault env variable injection](https://banzaicloud.com/blog/inject-secrets-into-pods-vault-revisited/) for passing secrets for my Superset k8s cluster. How this works is that a web-hook looks at the env variables and if they're of the form `vault:` it'll pull the secret. The pod, however, needs to have the proper annotations for this. My issue is that `extraEnv` adds the variables to `su

[2021-09-08 02:35] zygeilit commented on #6768
+1

[2021-09-08 02:35] zygeilit commented on #6768
timezones are important

[2021-09-08 03:49] isandyawan commented on #15118
Hi @Hvitgar , thanks for your answer, i was try to change WEBDRIVER_BASEURL with IP but it cannot work too. I also check using 'curl localhost:8088/health ' and it return 'OK'. I using docker to running superset

[2021-09-08 04:13] isandyawan commented on #2571
Hi,

any update for this issue?

[2021-09-08 05:37] musthak24 commented on #2571
Any update ?

[2021-09-08 07:57] graceguo-supercat opened #16631 "[time comparison][perf] Duplicated queries from time comparison chart"
If I add time comparison for a time-series chart, Superset will send 2 queries to query engine, and execute them in sequence. For example:

1. add `52-weeks` TIME SHIFT for `Growth Rate` sample chart:
<img width="1249" alt="Screen Shot 2021-09-08 at 12 44 48 AM" src="https://user-images.githubusercontent.com/27990562/132467865-f9298964-22aa-4258-b1e7-22d5ffa2cf04.png">
2. add some logging at [this

[2021-09-08 08:21] villebro commented on #16631
I consider issuing multiple queries (rather than one query) a feature, not a bug. While it would be preferable from a perf perspective to pull in just one set of data and then split it up in the backend or frontend, this is a slippery slope of introducing database functionality into Superset. We did quite a bit of iterating on this with @zhaoyongjie and I believe we both felt fairly strongly that

[2021-09-08 10:07] vivek-kandhvar commented on #16434
We have the same issue after upgrading superset from 1.2.0 to 1.3.0.
We haven't touched the flag "VERSIONED_EXPORT", and it is still `False` which is the default.

This used to work in 1.2.0 without any issue. Now we end up with this error `"Dataset <xyz> already exists!"`

![image](https://user-images.githubusercontent.com/29149291/132490213-0f0e7cb8-1207-43ee-ba72-9982c159607b.png)

[2021-09-08 10:09] jitendra-dangi-arris commented on #16434
getting the same error, unable to export and import any of the example dashboards.

[2021-09-08 10:17] Kingflyinger opened #16633 "what should SUPERSET_WEBSERVER_ADDRESS be set"
I install superset by docker-compose and set cache-warmup-hourly.
so how to set SUPERSET_WEBSERVER_ADDRESS, '0.0.0.0' or 'localhost' or ‘my sever IP’？
please help me out

[2021-09-08 11:35] #16633 closed

[2021-09-08 11:35] Kingflyinger commented on #16633
after test, just superset

[2021-09-08 11:35] danisola opened #16635 "Metadata synchronization across dbt and Superset"
**Is your feature request related to a problem? Please describe.**
Many companies now use [dbt](https://github.com/dbt-labs/dbt) to model, test, and document their datasets. It would be great to have an easy way to synchronize the dbt metadata with Superset.
It's also worth noting that in Superset the columns descriptions are discoverable and useful, but the 'description' field in datasets is not

[2021-09-08 12:51] marcelned opened #16636 "Support for PowerPC architecture"
I can't seem to find a PPC64LE docker image.

[2021-09-08 15:12] audour commented on #16613
Thanks a lot @hushaoqing : I've applied locally your change and it works!

Note:
* I had a remaining issue because `pybabel extract -F superset/translations/babel.cfg -o superset/translations/messages.pot -k _ -k __ -k t -k tn -k tct .` crashed again logging `ValueError: Unknown extraction method 'jinja2'`. **It turns out that running `pip install jinja2` resolved the issue: maybe it should be doc

[2021-09-08 16:24] altosaar commented on #13252
This would be useful.

[2021-09-08 16:34] altosaar commented on #14591
Following up on this!

[2021-09-08 19:10] FedericoCalonge commented on #16434
Same issue here.
I get the same error Exporting and importing any example dashboard in the same Superset environment (v 1.3).
I have the `VERSIONED_EXPORT` flag in `False`.

[2021-09-08 20:31] altosaar commented on #9748
It would be helpful to support sqlite databases. I work at a hospital and it would be very helpful to analyze health records data with sqlite rather than hosting my own mysql database.

Thank you!

[2021-09-09 01:42] wengzhenjie commented on #16247
I have a same problem.
![image](https://user-images.githubusercontent.com/61407528/132608154-dc2aa6ec-e8f7-41f8-9f30-b23fa1f54b45.png)

[2021-09-09 01:48] wengzhenjie commented on #16247
I run this cmd `docker-compose down -v `. And then I run `docker-compose -f docker-compose-non-dev.yml up -d`. It works.

[2021-09-09 01:51] shuaiwang88 opened #16640 "histogram-like density plot, without the histogram bar."
**Is your feature request related to a problem? Please describe.**
I'd like to duplicate the following code in Seaborn, where I can plot a histogram-like density plot, without the histogram bar.
x = np.random.randn(100)
ax = sns.distplot(x, hist=False, kde = True)

**Describe the solution you'd like**
Something like this, group by a level.
<img width="975" alt="Screen Shot 2021-09-08 at 9 50 53 PM

[2021-09-09 02:16] hushaoqing commented on #16613
@audour
`jinja2` has been included in the requirements.
https://github.com/apache/superset/blob/c66f278b42e4de8f3aeb10066af259acb6eae041/requirements/base.txt#L129

Have you tried to run `pip install -r requirements/testing.txt`?
(documented at https://github.com/apache/superset/blob/master/CONTRIBUTING.md#flask-server)

[2021-09-09 05:35] fauzialhari opened #16641 "Add option to show legend to sunburst type chart"
**Problem**
Currently sunburst type chart doesn't have any option to show legends, and the detail of data of sunburst chart only visible on hover.
![image](https://user-images.githubusercontent.com/32444439/132491364-d0ed7ddc-40d4-4fc3-b0e2-70a6dba80eaf.png)
This is painstaking for users when users need to see the whole context of data and try to understand the whole information on the chart at on

[2021-09-09 08:33] hosswald commented on #14727
@villebro it's still not working in 1.3.0. Page buttons remain disfunctional until the chart is saved.

[2021-09-09 09:03] audour commented on #16613
No, I haven't follow [CONTRIBUTING.md#setup-local-environment-for-development](https://github.com/apache/superset/blob/master/CONTRIBUTING.md#setup-local-environment-for-development) because it seemed useless for me as I just wanted to improve French translation. But ok I understand that it was documented.

[2021-09-09 09:44] pritypriya25 commented on #15118
@Hvitgar @YangJianFei

I am adding the following lines in my superset_config.py file.

DATA_CACHE_CONFIG = {

    'CACHE_TYPE': 'redis',

    'CACHE_DEFAULT_TIMEOUT': 60 * 60 * 24, #1-day default (in secs)

    'CACHE_KEY_PREFIX': 'superset_results',

    'CACHE_REDIS_URL': 'redis://localhost:6379/0',

}

CELERYBEAT_SCHEDULE = {

    'cache-warmup-hourly': {

        'task': 'cache-warmup',

[2021-09-09 11:05] anthony6401 opened #16650 "Jinja template is not working when async query is enabled"
Following up from #16412

I tried using jinja template with global async queries(GAQ) enabled in version 1.3.0. I got the same error as stated in here (#14786).

In recent release (v1.3.1rc1), the issue was addressed and it should be fixed. However, I tried to install the new release and enable jinja template as well as GAQ to simulate the previous error. It doesn't throw any error, but now it sho

[2021-09-09 11:28] #16613 closed

[2021-09-09 11:44] Distringer commented on #15815
To use 'npm ci' add dependencies. Don't use 'npm install'.

[2021-09-09 12:27] hitzelc commented on #13907
I am having something similar happen -- though the CSRF token appears to be respected within my requests session, the Authorization header seems to fail to set the User (all my API requests show up in Security -> Action Log as User = "None"). More info is available here: #15460

[2021-09-09 12:45] norpriest opened #16651 "How can I use Row Level Security in Superset version 1.1.0?"
Hi,

In version 0.0.0dev, there was this option to set up RLS, but in version 1.1.0 there's none.

How can I use RLS in Superset version 1.1.0?

![lpo](https://user-images.githubusercontent.com/72668447/132688217-851470d4-3e7b-4dfe-9315-03fbc751c08a.png)

[2021-09-09 14:37] pjpringle commented on #822
did this get resolved?

[2021-09-09 14:37] mandeeplohan commented on #16402
Hi Team, Any help here? Please

[2021-09-09 14:43] villebro commented on #822
@pjpringle we're currently working on this - we should hopefully have this supported in Superset 1.4.

[2021-09-09 15:26] jinghua-qa commented on #15990
test cases update

[2021-09-09 15:44] jinghua-qa commented on #15976
test case updated

[2021-09-09 16:55] kevinwen2k commented on #16574
@rumbin Yes, when running the query you provided, I could get the result without any problem. However, the input from all of the editors in any software is compliant with UTF-8 and can't reproduce the scenario that happened on our end where data came from different sources or are collected from 3rd party. It's hard to enforce all of our sources to convert the non-UTF8 bytes to UTF8 bytes.

Also, a

[2021-09-09 19:29] madanrishi commented on #9590
@4ss3g4f  how did you figure it out? having a similar issue, not able to do `CMD ["gunicorn", "superset.app:create_app()"]`
says invalid CLI command

[2021-09-09 20:21] hitzelc commented on #16398
You're my hero!

[2021-09-09 20:30] clarabez commented on #8382
Also changing "CSRF_ENABLED" to False worked for me:

`CSRF_ENABLED = False`

[2021-09-09 20:47] wildsonc opened #16655 "NaN in legend dimension"
### Expected results

In the chart created before the upgrade, the legend appears normally:

![image](https://user-images.githubusercontent.com/72408418/132760137-339cdc40-1406-4835-897e-6774f6ed67ca.png)

### Actual results

But any new chart don't work

![image](https://user-images.githubusercontent.com/72408418/132760208-6df6f471-efc0-42dd-a1ac-f696eb76cfbb.png)

When I try to create the first

[2021-09-09 21:48] clarabez commented on #450
Facing the same issue here:

-> uncommented `"AUTH_ROLE_PUBLIC = 'Public'"` on` config.py`, no login is necessary when accessing Superset from link, but it is still requesting authentication when adding dashboard link to iframe content on html.

[2021-09-09 22:17] #16553 closed

[2021-09-09 22:51] #15264 closed

[2021-09-09 22:51] rusackas commented on #15264
Added to wiki [here](https://github.com/apache/superset/wiki/Emotion-Styling-Guidelines-and-Best-Practices)

[2021-09-09 23:28] shawnzhu commented on #12939
when using Flask AppBuilder v3.3.1+, the feature [OAuth - redirect direct to provider if just one provider exists](https://github.com/dpgaspar/Flask-AppBuilder/pull/1618)

Under Superset 1.3.0 with Flask AppBuilder v3.3.1, if there is only one oauth auth provider, it will redirect user to this auth provider's login page automatically.

[2021-09-10 00:24] andrewscarani commented on #15564
I'm seeing that this was completed for all time-series charts, except for the Mixed Time Series chart

[2021-09-10 00:53] rwspielman commented on #15877
I'm getting this error in 1.3.0 with async and cache on. I didn't seeing anything in `CHANGELOG.md` about a fix pertaining to this, but have **not** tested on master yet.

I'm noticing flip-flopping API calls to 2 different endpoints to get the chart data. It seems to only be affecting this mixed time-series chart from what I've tested so far.

It will make a call using the `/api/v1/chart/data?for

[2021-09-10 05:15] kamalkeshavani-aiinside opened #16658 "[dashboard] Transparent Background option not working"
## Screenshot

![background](https://user-images.githubusercontent.com/74634977/132803100-057cfcfa-2249-471f-8275-9c585f79bba9.gif)

## Description

'Transparent background' setting does not work when using inside a tab(which is not a top level tab).

## Design input
[describe any input/collaboration you'd like from designers, and
tag accordingly. For design review, add the
label `design:review`.

[2021-09-10 06:48] SunnyZ-L opened #16659 "Failed to start superset from Docker-compose"
A clear and concise description of what the bug is.

superset_app, superset_worker, and superset_worker_beat cannot be started when installing superset from the instructions
https://superset.apache.org/docs/installation/installing-superset-using-docker-compose

#### Screenshots

![图片](https://user-images.githubusercontent.com/56599784/132811633-e952aab1-5745-4fa0-942b-ad9845ace816.png)

[2021-09-10 07:44] SunnyZ-L commented on #16659
By adding the Privileged configuration to compose, the appeal issue has been resolved, but a new issue has arisen
![图片](https://user-images.githubusercontent.com/56599784/132818675-918809cf-b385-41e2-9c08-5c758f3e9365.png)

[2021-09-10 08:14] jinghua-qa opened #16661 "[explore][sample table] Sample table show ' no data' when there are rows retrieved"
Sample table show ' no data' when there are rows retrieved, i tried Echarts seems this issue is observed in different chart types

### Expected results

Sample chart will show data when there are rows retrieved

### Actual results

Sample chart showed no data when there are rows retrieved

#### Screenshots
<img width="1780" alt="Screen Shot 2021-09-10 at 12 49 19 AM" src="https://user-images.githu

[2021-09-10 09:00] Deninc commented on #8306
This case might work for MAX agg but for other agg like SUM, COUNT there's no way to do it.

[2021-09-10 10:09] Pajri opened #16663 "Superset Show Detailed Error Message Instead of Custom Error Message"
Hi,
I'm using superset Version: 1.2.0. When I access user listing page (/users/list/) and left some field blanks, it show a detailed error message. We are using superset version 1.2.0

This is the step to reproduce the issue :

1.  Access user listing page (/users/list)
2.  Click Filter List, choose :
- Created By (Leave it Blank)

- Changed By (Leave it Blank)

- First Name (Input Garbage)

- Las

[2021-09-10 10:41] dpgaspar commented on #16557
@shawnzhu the UI improvement sounds good to me, seems very useful and has low impact on the current RBAC system.

yes, but do note this is not how it works now, it's treated has datasource access only

I think @amitmiran137 goal is something we should discuss and get to a general consensus, would be great to sync and get to a final technical solution for Superset 2.0 where we can safely break back

[2021-09-10 13:10] villebro commented on #822
Current progress: https://github.com/apache-superset/superset-ui/pull/1356 and #16660 (first prerequisites for adding support for generic x-axis)

[2021-09-10 13:30] villebro commented on #14727
That's weird, I distinctly remember this working when reviewing #14779. @simcha90, if you have any spare bandwidth, would you be able to check if this works for you?

[2021-09-10 14:21] adam-stasiak opened #16664 "[native filter] long list of parent filters is not scrollable"
The problem is that when I try to scroll list of options in parent filters menu - then I am scrolling whole window and cannot scroll to the bottom when list has many items.
### Expected results
Select is scrollable.
### Actual results
Select is not scrollable.Window is scrolled while doing scroll in this area.
what actually happens.

#### Screenshots

https://user-images.githubusercontent.com/2515

[2021-09-10 14:41] adam-stasiak opened #16665 "[native filter] Time range filter when going back to "No filter" value should cause this filtered shown as Unset"
When going back from value to No Filter - charts on dashboard should present this filter as unset.
### Expected results

Filter should land in unset filters section on chart.
### Actual results

Filter should be presented in unset section.
#### Screenshots

#### How to reproduce the bug

1. Go to dashboard
2. add time range native filter
3. set value to last month and apply
4. set value to no filt

[2021-09-10 15:11] pjpringle commented on #13623
Looks like it's related to the fact that pinot does not support nested queries.  For other databases superset creates a virtual table dataset which is used as the FROM table in the explore query.

[2021-09-10 15:17] dpgaspar commented on #16663
@Pajri thank you for reporting this issue, the first errors on `users/list` seems like a FAB bug with PG, I'll address that.
Still investigating the detailed error message and if it's possible to optionally make it less detailed .

[2021-09-10 16:59] JMGGarcia opened #16667 "Ability to remove share url from dashboard tabs"
Is it possible to remove the urls for sharing a tab? I wanted to share this dashboard with the public and wouldn't want them to have the ability to create sharing urls.

I tried to see if the Role Attributes had something that affected this but I couldn't find them (but there are a lot of them, I might have missed it!).

### Expected results

Simple tabs

### Actual results

Tabs with sharing opti

[2021-09-10 21:59] Hvitgar commented on #15118
did you do the curl inside your container?If not, please try again from the container as the port inside the container might be different to the one you are using on the system running the container

[2021-09-11 04:00] pritypriya25 commented on #15118
@Hvitgar.. Thanks for the solution. It's working for me. Now I am getting the screenshot and image URL.

[2021-09-11 04:00] #15118 closed

[2021-09-11 06:47] yhjlsy123 opened #16670 "docker-compose up 127"
![image](https://user-images.githubusercontent.com/17937790/132939267-7e83aa73-9f24-42bb-b4b1-f0f7b2fb9364.png)
无法正常启动是怎么回事

[2021-09-11 10:17] qiaofeng1227 opened #16671 "Superset multilingual support？"
![image](https://user-images.githubusercontent.com/43192516/132944503-4b6e622e-8437-4afc-ad3f-6bb9c56f6b1c.png)

Install superset through docker. There is no language selection menu. The official website documents have the function of selecting languages.Does the docker version of superset have a multi language selection menu，Please confirm it，thank you very mach.

[2021-09-12 06:59] amitmiran137 commented on #16557
I disagree with postponing that final decision with the fact that **2.0** planning should start now.
having another permission with another feature flag would just further complex us.
what would be the point of this SIP if we know that soon enough we intend to break it

[2021-09-12 07:13] stephanclaus commented on #10828
Hi, this feature would be very much appreciated.

[2021-09-12 08:41] villebro commented on #10828
@x670 @stephanclaus this is being worked on right now (some recent development linked to this old issue: #822)

[2021-09-12 10:10] Dieken commented on #15749
[code]

This helps me, you may need clear your local browser cache first.

<img width="1228" alt="image" src="https://user-images.githubusercontent.com/2365/132983616-3934abb3-e36b-4569-8ab2-f9ded2d7b78b.png">

[2021-09-12 12:31] youngsol commented on #13373
@rvabhijith  is this still available?

[2021-09-12 13:16] WingCode commented on #13733
@anilvpatel21 I am facing this same issue while creating dashboard. Tried the fixes above to test it but unfortunately didn't work. Could you paste your superset_config.py over here? If you can include the complete sample code that will be also great!
Superset version: 1.3

[2021-09-12 18:18] WingCode commented on #13733
For now, did a workaround mentioned in https://github.com/apache/superset/issues/16398 to login into the website and obtain the auth cookie & proceeding to create the dashboard afterwards.

[2021-09-13 01:53] luren9 opened #16678 ""export 'FeatureFlagMap' was not found in '@superset-ui/core'"
folder：superset-frontend
branch：1.3
node:  v14.12.0
npm:  v6.14.8
dependencies : npm i --registry=https://r.npm.taobao.org
command：`npm run dev`
WARNING in ./src/featureFlags.ts 1:295-359
"export 'FeatureFlagMap' was not found in '@superset-ui/core'

WARNING in ./node_modules/@superset-ui/chart-controls/esm/types.js 1:0-43
"export 'Metric' was not found in '@superset-ui/core'

WARNING in ./src/das

[2021-09-13 02:50] etr2460 commented on #16671
you can configure this with a custom config, see the specific flags and options here: https://github.com/apache/superset/blob/master/superset/config.py#L296-L313

[2021-09-13 02:50] #16671 closed

[2021-09-13 02:54] etr2460 commented on #16378
Sounds like this is probably an issue with the sql alchemy library then. I'd recommend filing this issue with https://github.com/googleapis/python-bigquery-sqlalchemy (feel free to link this one with context) and then once it's fixed in that library you should be able to pull in the fix with a library version bump. I'm going to close this ticket now, but feel free to reopen/open a new one if the m

[2021-09-13 02:54] #16378 closed

[2021-09-13 02:57] etr2460 commented on #15818
Thanks for the details! Seems like we still need to fix some of our version pinning. Maybe @dpgaspar, @villebro, or @john-bodley could help you out here

[2021-09-13 04:04] qiaofeng1227 opened #16679 "The docker image tagged latest does not deploy the latest stable version"
![image](https://user-images.githubusercontent.com/43192516/133022305-8fc23b3d-a8eb-4a2b-a9cb-b423eb52ab48.png)

![image](https://user-images.githubusercontent.com/43192516/133022379-7fcdcb6c-dc4b-47f9-9640-4489e407ae4b.png)

![image](https://user-images.githubusercontent.com/43192516/133022028-a591a2b9-529a-441d-97e9-354a2363cec2.png)

[2021-09-13 04:07] qiaofeng1227 commented on #16679
I want to use docker-compose.yml to get a product version of superset, but the version is 0.0.0dev.
There is something wrong with my operation. Please help me. Thank you very much.

[2021-09-13 07:39] gaetansnl opened #16681 "can't create clickhouse dataset"
### Expected results

Connecting to a clickhouse database from clickhouse tutorial

### Actual results

I can't create a dataset

![image](https://user-images.githubusercontent.com/8348807/133041822-6e5dd2e1-d76f-43e1-9b50-144a2b5d180a.png)

#### How to reproduce the bug

Start superset

[code]

Follow this tutorial to setup the database https://clickhouse.tech/docs/en/operations/performance-test/

[2021-09-13 08:03] Deninc commented on #15738
How do I check when this is merged into the official release?

[2021-09-13 09:04] nirajtambat opened #16684 "Superset - auto cancel oracle query parameter"
In superset if there is a long running query running more than 3 mins (for example), is it possible to kill the query automatically and take the next one in the queue. application should auto-cancel the query. Also Query time out option is set but still on backend query is running. It's not cancelling query execution on database server.  Let us know any solution for this.

[2021-09-13 09:16] dijkstra2003 opened #16685 "Database Fetch not working"
When adding a new database (snowflake) to superset, it doesn't show up in the database overview but it actually does show in in the database itself.

### Expected results
The newly added database is visible in the database overview

### Actual results

The overview / list is empty

#### How to reproduce the bug

1. Go to 'database'
2. Click on '+database'
3. Scroll down to 'snowflake'
4. Fill in c

[2021-09-13 11:11] dpgaspar commented on #16663
Hi @Pajri the fix is ready on FAB, for superset you can disable this output by not running your app in debug more, see here: https://github.com/apache/superset/blob/master/superset/views/base.py#L414

[2021-09-13 11:19] frafra opened #16686 "NO_TOKEN_WARNING broken URL"
`Note on Map Tokens` link, which is triggered by `NO_TOKEN_WARNING` by the MapBox visualization type, is broken.

### Expected results

A working link.

### Actual results

https://uber.github.io/react-map-gl/#/Documentation/getting-started/about-mapbox-tokens is broken

#### How to reproduce the bug

1. Run `docker-compose-non-dev.yml`
2. Create a dataset with a time column, latitude and longitud

[2021-09-13 12:02] frafra commented on #15768
Same problem happens when using "Big Number with Trendline" and doing a `COUNT(*)` over a timestamp column. Using Docker image `apache/superset:4dc859f89e5668ed3f94cd1ef0532a301a3ab85a`

[2021-09-13 15:01] kakoni opened #16688 "docker-compose is missing JWT_SECRET for superset-websocket"
In its current-form, docker-compose is missing JWT_SECRET env variable thats needed for superset-websocket to start. (Or perhaps this should be in docker/.env file?)

Ping @benjreinhart

[2021-09-13 16:38] eagle8089 commented on #9344
I have been trying to get superset working on istio with a different base URL. Please advice...

[2021-09-13 16:43] eagle8089 opened #16690 "Provide functionality to set custom base URL"
I have been trying to deploy superset with istio ingress. For this I need to set a URL in the format : http://<IP>:<PORT>/superset

I have tried using reverse proxy, but faced multiple issues and was not able get a satisfactory solution.

[2021-09-13 17:07] fancyfreeman opened #16691 "the query result in sql lab has no column names when I connect to clickhouse."
A clear and concise description of what the bug is.

### Expected results

query result has column names.

### Actual results

the query result in sql lab has no column names when I connect to clickhouse.

#### Screenshots

If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3318440/133126704-41078215-8f1c-4982-ae30-fcd4a1cff56f.png)

###

[2021-09-13 20:44] cclauss commented on #9953
I concur with the sentiment stated above that pylint requires so many linter directives that it is sometimes perceived as unusable.  Black and isort have their place but are not really focused on runtime safety and program correctness.

This repo currently has two _undefined names_ in Python code that none of the tools above would find.  These appeared without being detected since #3264

I would e

[2021-09-13 21:33] kdkavanagh commented on #4764
I'm curious if this idea was ever implemented - Can't find anything in the docs, figured I'd ask here

[2021-09-13 23:25] #10132 closed

[2021-09-13 23:29] graceguo-supercat opened #16694 "[report] Test report during create/update a report"
**Describe the solution you'd like**
When we schedule a new email report sent _in the future_, we want to make sure it works as expected.

Many users ask if report scheduler could have a **test** button, so that user can get an email report sample at the time when they create report.

[2021-09-14 00:02] jamesfurnary commented on #11123
Hi @Steejay and @sahilkamboj3, do you have an update on this? CC @cooley-pe

Thanks,
James

[2021-09-14 01:28] qiaofeng1227 commented on #16679
I start superset follow the documentation:
https://superset.apache.org/docs/installation/installing-superset-using-docker-compose

[2021-09-14 01:57] msz89 commented on #14351
I have this issue too
Some of the series do not render correctly when the dashboards are published as reports via email
![image](https://user-images.githubusercontent.com/30629973/133181956-67f09446-ee64-4701-899a-ce939667de91.png)

[2021-09-14 02:17] qqliang commented on #16679
I ran into the same problem. I wanna know the version of superset in docker, which is convenient for development.

[2021-09-14 04:04] zhaoyongjie commented on #16512
fixed by https://github.com/apache-superset/superset-ui/pull/1351
@junlincc @MaxHuiYYDS @jinghua-qa

[2021-09-14 04:04] #16512 closed

[2021-09-14 07:54] dijkstra2003 commented on #16685
Okay I managed to fix this after running the following commands:

- ` superset db upgrade`
- `superset init`
- `superset fab security-cleanup`

For some reasons those commands need to be ran AFTER creating a new admin in order to actually let the admin have the correct access rights.

[2021-09-14 07:54] #16685 closed

[2021-09-14 08:07] suedschwede opened #16697 ""Incompatible Filters" with JINJA Template"
I have created a virtual dataset with a JINJA template

[code]

My virtuals datasets works and I can filter in the dashbaord, but I get an error message "Incompatible Filters"

I am using Apache Superset 1.3.0

![image](https://user-images.githubusercontent.com/25843519/133219444-e1c1cebe-21ba-4ee1-b43e-dc9b823c29ed.png)

[2021-09-14 08:35] sysstudy20 opened #16698 "ImportError: cannot import name 'TypeGuard' from 'typing_extensions' even after installing it"
A clear and concise description of what the bug is.

I followed this documentation (https://superset.apache.org/docs/installation/installing-superset-using-docker-compose) to install superset using docker-compose and used `docker-compose up` to run the dev version. However, I am getting the ImportError `ImportError: cannot import name 'TypeGuard' from 'typing_extensions' (/usr/local/lib/python3.7/

[2021-09-14 09:29] vivek-kandhvar commented on #16651
Why are you using outdated version? 1.3.0 is out and you can try with that.

[2021-09-14 12:15] YangNianYi commented on #11612
same issue using helm

[2021-09-14 13:01] mujahidniaz commented on #10087
@himanshumps I resolved it by running the following commands in Docker file using superset user not with the root.
[code]

[2021-09-14 17:57] eschutho commented on #16694
Thanks @graceguo-supercat that's good to know. @yousoph this looks like it could be a good feature to add.

[2021-09-14 20:58] jinghua-qa opened #16707 "[Gallery] Some chart type in gallery do not have example"
Some chart type are missing example image in gallery:

<img width="1072" alt="Screen Shot 2021-09-14 at 1 56 56 PM" src="https://user-images.githubusercontent.com/81597121/133332812-f6cb132d-168c-4b14-b4a4-8acb6a28f4a8.png">

This is the list of chart  type that missing example in gallery

Bubble chart
Calendar heatmap
Country map
deck.gl.Arc
deck.gl.Geojson
deck.gl.Grid
deck.gl 3D Hexagon
deck.gl

[2021-09-14 23:45] graceguo-supercat opened #16708 "[annotation] table event annotation is broken after recent superset-ui upgrade"
### Actual results

`Table` type Event Annotation didn't show on chart any more after #16601.

#### Screenshots

<img width="831" alt="Screen_Shot_2021-09-14_at_4_35_48_PM" src="https://user-images.githubusercontent.com/27990562/133348143-588ef4af-3e36-4b5a-a81b-c5bdb0c3673d.png">

### Environment

latest master.

### Checklist

Make sure to follow these steps before submitting your issue - thank

[2021-09-15 00:01] graceguo-supercat opened #16709 "[bubble chart] should allow user set min and max y-axis bounds"
**Describe the solution you'd like**
bubble chart should allow user set min and max y-axis bounds. Otherwise it's really hard when 2 bubble charts side by side comparison.

<img width="1138" alt="Screen_Shot_2021-09-14_at_4_58_42_PM" src="https://user-images.githubusercontent.com/27990562/133349269-75b6e2b8-d0e8-4e6a-a2e6-00bf7265bb21.png">

cc @junlincc @villebro

[2021-09-15 05:08] anilvpatel21 commented on #13430
@randalee Thanks for the code.

It make sense, as if it's not in grace period, we need to check AlertCommand and then send the alert if it's triggered (exceed the threshold).

you must raise a PR for this and get an overview/thinking of the authors why they have written a code like this in ALERT Type.

[2021-09-15 10:07] tawhidwasik08 commented on #6197
Can anyone help me by telling which ids to change for the workaround ? Or is there any other solution ?
I am trying to export from 0.36 to 1.3.0

[2021-09-15 10:42] osamahameedX commented on #3384
How to get a Horizontal bar graph in apache superset is till a question?

[2021-09-15 11:48] usamaB commented on #10216
can we assign multiple roles to a registering user?
I have my expression working but it only assigns the last role

e.g
(ends_with(email, '@domain.com') && 'Gamma' && 'CustomCreatedRole') || 'Gamma'
but only  CustomCreatedRole is being assigned and not Gamma to  the new user

[2021-09-15 14:25] IKNikolov commented on #16542
I have the same issue.

[2021-09-15 15:28] abhishek-ch commented on #15133
I am not able to override affinity or tolerations by using master.affinity/tolerations

[2021-09-15 16:17] usamaB opened #16713 "Multiple Dynamic Role Assignment for new registered user"
Hi, I'm not fully sure if this is already available.
I am thinking of something like setting an array of roles. Atm only one can be setup.
e.g.
AUTH_USER_REGISTRATION_ROLE= ['role1', 'role2']

I have the following case
// This only sets SomeCustomRole and not Gamma in addition to it if the user is from domain.
AUTH_USER_REGISTRATION_ROLE_JMESPATH="(contains(['list of users'], email) && 'Admin') ||

[2021-09-15 16:31] adarbha commented on #6099
I would highly appreciate any work on this. Thanks in advance!

[2021-09-15 16:43] #16332 closed

[2021-09-15 16:47] #16403 closed

[2021-09-15 16:49] junlincc commented on #16403
sorry the issue title was not clear.

expected behavior: if user change name from the edit properties modal, and click save to exit the modal, and click save as in Explore, original chart's name should be changed.
if name change happens in the Save chart modal, the original chart's name should stay the same.

[2021-09-15 17:07] geido commented on #15935
@junlincc I am moving this to you as there isn't much more that we can do without a full refactor. Let me know how you want to approach this. Thank you!

[2021-09-15 21:56] junlincc commented on #16709
the plan is to add size to scatter plot echarts as a new bubble chart and deprecate the old one. the process may take a while. seems to be a relatively easy task. maybe we can work on it?
@pkdotson cc @villebro

[2021-09-15 21:59] junlincc commented on #16708
@pkdotson may not be that straightforward but let's give it a try/ higher priority

[2021-09-15 22:03] junlincc commented on #16707
hi community, if you would love to contribute your screenshots of above charts or make a pr to upload those screenshot, we would love to assist :)

[2021-09-16 00:24] ktmud opened #16714 "[TODO] Add multiple databases and schemas to the test environment"
To help test PRs like https://github.com/apache/superset/pull/16393

We should create multiple databases & schemas for the ephemeral test environment.

[2021-09-16 06:43] musthak24 commented on #13949
Facing same issue

[2021-09-16 09:34] PowerPlop commented on #16436
I just experienced this bug on a preset instance. Was randomly drag and dropping dashboard components. Seemed to occur when I used a combination of tabs and markdown components.

[2021-09-16 12:38] sholtoarmstrong-iot commented on #16547
@lilila Any luck resolving this issue? I have a similar issue that I am unable to open a dashboard as a public user.

[2021-09-16 12:58] gfelot opened #16717 "pkg_resources.ContextualVersionConflict: Flask-WTF"
### Environment
- superset version: latest
- python version: 3.8.10

After a fresh EC2 instance setup (Ubuntu 20.04) and updated everything on the system + add `venv`.

[code]

Lots of error that's leads to :

[code]

### SOLUTION
From a brand new venv :
[code]
Then follow the installation guide.

[2021-09-16 13:20] sholtoarmstrong-iot opened #16718 "Cannot view dashboards as public user"
I set the public user permissions to allow all the permissions I could find. I then got the public link and added "?standalone=true". I am not able to view the dashboard.

### Expected results

I expect to be able to see the dashboards as a public user with the correct permissions.

### Actual results

I get a very non-descriptive error or the frontend.

#### Screenshots

![Screenshot from 2021-09

[2021-09-16 15:53] Michaelsky0913 commented on #15881
when you are using `clickhouse+native://` , you need to delete the port in your url. see picture:
![image](https://user-images.githubusercontent.com/40595864/133644691-89f85c33-7103-4fbc-8041-69cb1d657905.png)
there is no port.

I have the same proble with you. After I delete the port in url, it works.

[2021-09-16 16:35] graceguo-supercat opened #16719 "[control][metrics] missing one custom metric will cause whole chart broken"
#### How to reproduce the bug

1. pick a dataset, for example baby names,  and create a new chart
2. in Explore view, edit dataset, create a few custom Metric, for example, MAX(num) or Min(num)
3. add multiple metrics into Metrics control. Chart can display nicely.
4. Edit dataset again, remove newly added Max(num). Save changes.
5. Chart is broken, the whole Metrics control is empty. refresh char

[2021-09-16 17:47] jasonburrows opened #16721 ""Edit Database" dialog incorrectly limits submitting valid connection information."
### Expected results

I expect that when I provide a 'host' param with a unix socket in the "Additional Parameters" field, it will allow me to submit the form without requiring the "Host" and "Port" fields.

### Actual results

It forces the user to enter Host and Port, even though they are not used for this connection style, and tests against them to ensure they will accept connections (which the

[2021-09-16 19:47] nicklip commented on #11021
@junlincc are there any plans to implement this feature? If not in SuperSet, maybe in Preset?

[2021-09-16 23:29] junlincc opened #16722 "[native_filter] add single select and inverse selection to numeric range"
"As a user... I would like to target a specific value and not a range of values using a single value slider.  For example, I would like to target a single value in a growth rate of 2x.  By having a single value slider, this allows me to better target the growth rate."
this request is similar to [[native-filter][ux]hard to specify the min and max in slider when the range is huge](https://github.com

[2021-09-17 01:27] nelson-lark opened #16723 "Support AWS OpenSearch / Elasticsearch"
**Is your feature request related to a problem? Please describe.**
As of a couple months ago, the Elasticsearch organization has made the official python elasticsearch plugin incompatible with Amazon supported OpenSearch.  If you fire up Superset using the current helm chart and attempt to connect to a recently deployed AWS "Elasticsearch" - which is now an Apache 2.0 licensed OpenSearch - you wil

[2021-09-17 06:03] panqingdian commented on #16718
Mine has the same problem and the same error. What can I do to solve this problem? I don't know. Did you handle it

[2021-09-17 06:22] panqingdian commented on #16382
Will this be fixed with the 1.3.0 update

[2021-09-17 07:00] PowerPlop opened #16724 "(native-filters) Filter is hierarchical dropdown does not list all options"
A clear and concise description of what the bug is.

### Expected results

When selection the option 'Filter is hierarchical', you can choose which filter is the parent filter.

### Actual results

When opening the dropdown (which shows max 8 entries) and scrolling to the next 8 entries, the dropdown is automatically closed you cannot select a field.

#### Screenshots

![dropdown](https://user-ima

[2021-09-17 09:21] PowerPlop commented on #15736
I still experience this bug in v1.3.1 when the feature flag cross filters is enabled.

[2021-09-17 10:45] asdi744 commented on #8322
Thanks Man!
the database name in json file (dashboard to be imported) should match the destination database_name.

[2021-09-17 11:33] aniaan opened #16726 "Elasticsearch time_zone setting does not work for cast datetime expressions"
My time zone is CST, not UTC. Based on some best practices of ES, when we store data, we convert CST time to UTC time for storage, and the corresponding conversion is done by time zone when querying.
When I was using superset, I found two problems

1. elasticsearch-dbapi does not support passing the `time_zone` parameter, I tried to fix it and submitted a PR https://github.com/preset-io/elasticsea

[2021-09-17 12:55] MaximSlagter opened #16727 "Charts in 'contribution' mode: y-format can't be altered"
Charts in 'contribution' mode: y-format can't be altered.

### Expected results

Change the values in a time-series line chart to another format (e.g. '.2%').

### Actual results

The format of the values didn't change.

[2021-09-17 14:24] Sidra-adnan commented on #10007
Hi ,

I am facing the same issue in superset with username as admin and pass as admin
"Invalid login. Please try again. "

Would appreciate it if anyone could please guide me on this.

Many thanks!!

[2021-09-17 14:27] Sidra-adnan opened #16729 ""Invalid login. Please try again. ""
Hi there,

I am facing an  issue in superset with username as admin and pass as admin
"Invalid login. Please try again. "

Would appreciate it if anyone could please guide me on this.

Many thanks!!

_Originally posted by @Sidra-adnan in https://github.com/apache/superset/issues/10007#issuecomment-921839483_

[2021-09-17 15:44] jhult commented on #13697
Also related to #15737 and #16718.

[2021-09-17 15:44] jhult commented on #15737
Also related to #16718.

[2021-09-17 15:53] jhult commented on #15819
Also related to #13697, #15737, and #16718.

[2021-09-17 16:24] junlincc opened #16730 "[Export]export sample dashboard from homescreen is loading forever + downloaded format is incorrect double checked on production, working properly. not sure this is related to this PR, please confirm. also the file i downloaded is in JSON format, should be .zip instead"
1. export sample dashboard from homescreen is loading forever. double checked on production, working properly. not sure this is related to this PR, please confirm. also the file i downloaded is in JSON format, should be .zip instead

https://user-images.githubusercontent.com/67837651/133664311-dbd654d3-7bb7-4d5c-b1fb-e28058193a5a.mov

_Originally posted by @junlincc in https://github.com/apache/su

[2021-09-17 16:26] junlincc commented on #16730
Hi @eschutho @betodealmeida could you take a look? we found it in one of our open PR and confirmed this is happening in master as well. production is working as expected. thanks!

[2021-09-17 16:28] junlincc commented on #16727
please refile issue following the bug report template. include clear repro steps, version, chart details and ideally screenshots/videos.

[2021-09-17 16:28] #16727 closed

[2021-09-17 16:34] junlincc commented on #16714
@ktmud I don't fully understand. Can you give an example? 🙏

[2021-09-17 16:47] junlincc commented on #16697
Hi @suedschwede ! yes, this is a known issue. we currently don't have plan to fix it yet. what type of filter are you trying to create with jinja?

[2021-09-17 18:07] michael-s-molina commented on #16724
@PowerPlop Can you confirm the browser version?

[2021-09-17 18:12] ktmud commented on #16714
<img width="522" alt="Xnip2021-09-17_11-12-17" src="https://user-images.githubusercontent.com/335541/133834794-9f0bd730-aa67-4011-8fca-5378987f22cd.png">

So that this dropdown can have multiple values.

[2021-09-17 18:21] junlincc commented on #16724
@PowerPlop can you also confirm this is reproducible in latest master? it might have been fixed
also, do you see this behavior in other select dropdown in native filter?

[2021-09-17 18:24] junlincc commented on #16726
thank you for the contribution! @aniaan
I'm not sure if you opened the PR in the correct repo? @dpgaspar can you confirm?

[2021-09-17 18:25] #16729 closed

[2021-09-17 18:44] junlincc commented on #16723
@nelson-lark thanks for the note! i'm not familiar with this area, looping @craig-rueda in. 🙏 please do feel free to open a PR to update the docs accordingly! 🙏

[2021-09-17 19:25] jinghua-qa commented on #16714
i think we have max 3 schemas in our current internal testing db

[2021-09-17 20:23] shawnzhu commented on #16557
My plan:

1. [ ] Add feature flags for both backend and frontend (https://github.com/apache-superset/superset-ui/pull/1366)
2. [ ] Add a roles selector to the DatasourceEditor
3. [ ] Update dataset API by sync dataset permission to roles

[2021-09-17 20:25] jhult commented on #8538
The databases page would not load for me after changing the `SECRET_KEY`. Here is how I fixed it:

[code]

Now the databases page will load but clicking edit on certain databases still didn't work and caused this stack trace:

[code]

Create a new database (e.g. name = "New DB") from the UI. You can get the SQLAlchemy URI using this SQL:

[code]

Once the new database is created, back in `psql`:

[2021-09-17 20:26] jhult commented on #2600
Here is how I was able to fix this: https://github.com/apache/superset/issues/8538#issuecomment-922061313

[2021-09-17 20:32] junlincc commented on #16691
@IKkSssDendi @asafcombo @boomballa looks like you all are using clickhouse, do you also experience this issue?

[2021-09-17 21:42] konfusator commented on #3294
Hello,

this is still the case in 1.3.0 and can be fixed via

[code]
in utils/logging_configurator.py

[2021-09-17 22:03] junlincc commented on #15749
@mapshen https://github.com/apache/superset/pull/16536 should have fixed the issue, can you double check and confirm? closing issue for now

[2021-09-17 22:03] #15749 closed

[2021-09-17 22:05] #16681 closed

[2021-09-17 22:06] #16670 closed

[2021-09-18 02:23] pavankanth1985 commented on #15148
I'm facing the same error. Can you share how did you resolve it.

[2021-09-18 03:21] zhouyao1994 commented on #16709
look great~

[2021-09-18 10:15] liumengkai opened #16737 "ClickHouse metrics always be count()"
python3.8
superset version 1.3.0

whatever I select ,the metrics always be count

eg:

![image](https://user-images.githubusercontent.com/31892927/133885233-464b98dc-6015-4786-891d-508be1d230ac.png)

what I got from the “view query” like this:

![image](https://user-images.githubusercontent.com/31892927/133885297-3571013d-29ea-425d-a791-66fbe8098bed.png)

what I excepted is:

COUNT_DISTINCT(event_

[2021-09-18 11:21] villebro commented on #16737
This appears to be a bug in the Clickhouse SQLAlchemy dialect. Which Clickhouse connector and version are you using?

[2021-09-18 11:40] liumengkai commented on #16737
@villebro thanks for your reply

I think the version should be like this : clickhouse-driver==0.2.0 && pip install clickhouse-sqlalchemy==0.1.6

which version do you recommend？

thanks!

[2021-09-18 15:05] jhult commented on #3724
It seems like there should at least be a warning if the secret key changes. I'd recommend this issue be re-opened so a warning can be added.

In the meantime, here is how I was able to fix this: https://github.com/apache/superset/issues/8538#issuecomment-922061313

[2021-09-19 08:36] simcha90 opened #16739 "[native-filters]: Native filter not shown as selected"
Selected `Filter Set` should have blue background when has identical filters to filters selected in `Filters` section

### Expected results

Should have blue background

### Actual results

Doesn't have blue background

#### Screenshots

![image](https://user-images.githubusercontent.com/56388545/133920830-f007b3e4-3757-4f0f-9469-fecf03a83970.png)

#### How to reproduce the bug

1. Create native f

[2021-09-19 08:43] simcha90 opened #16740 "[native-filters]: Native filter `Select` with option `Default first value` shown in filter sets as filter with changed metadata"
Native filter `Select` with option `Default first value` shown in filter sets as filter with changed metadata. This should be shown only if metadata of filter really changed but here it show this warning always

### Expected results

warning shouldn't be shown

### Actual results

warning shown

#### Screenshots

https://user-images.githubusercontent.com/56388545/133920830-f007b3e4-3757-4f0f-9469-

[2021-09-20 05:52] suedschwede commented on #16697
I try to create native dashboard filter

[2021-09-20 06:11] Beknazar19 commented on #12141
you want to say just add a line FIRST_DAY_OF_WEEK = [0-6]  and that's it? or something else needs to be added?
thanks

[2021-09-20 06:28] ValentinC-BR commented on #16087
The same goes for me, all my NULL values in DATE fields are replaced by 1970-01-01 00:00:00 ...

**Environment**
superset version: 1.3.0
python version: 3.7.9
node.js version: doesn't apply, I run on Kubernetes, using gunicorn as server
source : Athena

[2021-09-20 06:45] PowerPlop commented on #16724
@michael-s-molina  Chrome Version 93.0.4577.82 ; same in firefox

@junlincc I can replicate it in a preset workspace (which uses latest master I assume?)

[2021-09-20 06:51] ValentinC-BR opened #16742 "Charts in dashboards are subject to frequent errors with Chrome users"
Since Superset 1.x, all our Chrome users get recurrent errors on charts loading (in dashboards), forcing them to refresh the page

### Expected results

All the charts are displayed without errors.

### Actual results

The following error is (randomly ?) displayed : Unexpected error

When we click on "See More", here's the error we get :

Important :
* This can happen in one ore several charts.
*

[2021-09-20 06:54] ValentinC-BR commented on #16640
This is definitley something we need.

[2021-09-20 06:58] ValentinC-BR opened #16743 "[histogram] Make the legend clickable"
**Is your feature request related to a problem? Please describe.**
The cosmetic aspect of histograms is not coherent with other charts. When grouping by a column :
- The legend is not clickable
- The bar colors don't take the dashboard properties into account. The bars colors are not the same as other charts in my dashboards (no issue created yet. Solving the first point might solve this)

**Descr

[2021-09-20 07:52] amitBhardwaj12 opened #16744 "Adding a new custom item in superset SQL LAB menu"
### Discussed in https://github.com/apache/superset/discussions/16642

Adding a new item in SQL LAB menu .
Added below code in app.py for appBuilder to add new item link. Also handled the below url on front end side. But new item with driftUI is still not visible.
appbuilder.add_link(
            __("Drift UI"),
            href="/superset/sqllab/drift/",
            icon="fa-search",

[2021-09-20 07:52] ValentinC-BR opened #16745 "[Boxplot] Allow configuration of y-axis range"
**Is your feature request related to a problem? Please describe.**
The y-axis range can't be specified by the user in boxplot charts.
This results in a complex (sometime impossible) reading of the chart, due to outliers

**Describe the solution you'd like**
Users should be able to specify the range for the y-axis in Chart Options, like any other chart with a numeric axis.

**Describe alternatives

[2021-09-20 07:57] syazwan0913 opened #16746 "Duplicate configurations for Row level security"
**Is your feature request related to a problem? Please describe.**
Problem to duplicate configuration when using row level security feature. Need to create one by one.

**Describe the solution you'd like**
Should be able to duplicate just like duplicate user roles.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-09-20 08:03] ValentinC-BR opened #16747 "[Boxplot] Add a vertical axis slider"
**Is your feature request related to a problem? Please describe.**
The boxplot currently needs a user-defined axis range (see this feature request : https://github.com/apache/superset/issues/16745 )

However, this will only partially solve the problem. For better data exploration, providing the user with a slider to manually zoom in the y-axis would be a great enhancement.

<br>

**Describe the so

[2021-09-20 13:19] michael-s-molina commented on #16724
@PowerPlop Thanks for sharing the browser information. We tested here with Chrome, Firefox, and Safari and we're still not able to reproduce the problem. I noticed though that the design of the screen is different, particularly the button colors and the scroll bar of the modal which leads me to think you overrode some CSS props. This can or cannot be related to the problem. Can you share your CSS

[2021-09-20 15:16] mandeeplohan opened #16749 "OAuth not working"
We configured the Superset_config.py as suggested on the documentation page. It is getting authenticated using OIDC and returning with a valid code. However it is doing POST method call to get access token. No Error in logs.

***Changes in Superset_cofig.py file********

from custom_sso_security_manager import CustomSsoSecurityManager
from flask_appbuilder.security.manager import  AUTH_OAUTH,AUTH_

[2021-09-20 15:23] renaldrozario opened #16750 "Export CSV container database column names instead of report column names"
A clear and concise description of what the bug is.
Export CSV contains database column names instead of report column names

This issue was previously reported here 2 years back
https://github.com/apache/superset/issues/5792
### Expected results

what you expected to happen.
Expected result is a CSV to show report column names
### Actual results
Currently it displays database column names

#### H

[2021-09-20 16:24] junlincc commented on #16724
so far we've spent 2 hours reproducing this issue but no luck yet, we will give another try today, if still can't, let's table it for now.
cc @jinghua-qa

[2021-09-20 17:09] PowerPlop commented on #16724
@junlincc  do you have a public test instance of superset where I can try to replicate? That way we can rule out any local settings that might cause this?

[2021-09-20 20:36] maverick-netizen commented on #15148
I was able to resolve this. In case anyone is interested, I was having this issue running on mac.  I had to edit webpack.config.js. to change the port from 9000 to 9001 and run npm run dev-server. The reason is mac has predefined apps running on port 9000.

Hope it helps.

[2021-09-20 21:13] junlincc commented on #16750
- any feature flags active: ?

[2021-09-20 21:16] renaldrozario commented on #16750
Nope....

[2021-09-20 21:22] junlincc commented on #16747
@ValentinC-BR thanks for the suggestion! looks like you have the feature working in your production already? we would love to hear how it benefit your org and discuss how to make it work in Superset :)

[2021-09-20 21:32] junlincc commented on #16750
@renaldrozario By Report, you mean Chart?
what charts are you referring to? columns in downloaded CSV file are showing the verbose names. can you share a more detailed repro steps? thanks!

[2021-09-20 21:36] junlincc commented on #16744
Hi @amitBhardwaj12 ! Could you share more about the purpose of this change? Is there any UI implications? if it's feature request, please fill out the issue template. 🙏

[2021-09-20 21:36] #16744 closed

[2021-09-21 00:01] betodealmeida commented on #16302
A few comments on this:

- If you remove `__time` from the group bys the query works. You shouldn't add `__time` to the group bys because you're already using it for the time grain.
- Druid already supports joins, if we turn it on for the DB engine spec then the query also works.
- We should still fix 2-phase queries so that the predicate for the top N works regardless of types.

[2021-09-21 06:06] ValentinC-BR commented on #16747
Hello,
I just took screenshots of others charts and/or tools, it is not implemented in our Superset.

We're actually using the master branch (only the major releases, when they're stable) without any add-ons or modifications.

[2021-09-21 07:22] liumengkai commented on #16737
@villebro
sorrry for my careless,after my checking I found out that what  I really use is 'sqlalchemy-clickhouse-0.1.5.post0', I uninstall it and use the right sqlalchemy which is "clickhouse-sqlalchemy==0.1.6",everything is ok!
thx!

[2021-09-21 07:22] #16737 closed

[2021-09-21 09:36] alkragh commented on #7280
Hi,
Sorry, but where can I find the explanation for the different action as asked in the question?
Br
Anders

[2021-09-21 10:56] sourcecode-glitch opened #16757 "[Helm Chart] Init job marked as success despite errors"
The init job is marked as success in kubernetes despite errors. In my case the database upgrade failed, however this bug effects all errors happening in the init script (except the last command). The script does not exit immediately when encountering an error. Instead it continues with the next line, only using the error code from the last line in the script. This means that even after a successfu

[2021-09-21 12:17] nelson-lark opened #16759 "Oauth registration not working"
### A clear and concise description of what the bug is.

New users are not able to register.
The custom Oauth flow appears to get the authentication and user info, but then never registers a new users in superet.
Results in an infinite loop of redirects when there is only one oauth provider.

### Expected results

New user registration works.

### Actual results

If I only have one oauth provider,

[2021-09-21 12:56] michael-s-molina commented on #16724
@PowerPlop We were able to reproduce the problem when we have a filter box inside the dashboard. The fix in #16702 will be included in 1.3.1rc2 that is going to be put up for voting shortly. Thank you so much for reporting the issue.

[2021-09-21 13:16] PowerPlop commented on #16724
@michael-s-molina  Thanks for the effort on your side!!

Currently we still use the combination of native-filters and filter boxes as we feel that the native-filter is less suitable when you want to target 1 graph on the dashboard. While the highlighting of the chart tries to solve this, we prefer an additional filter box.

[2021-09-21 13:27] D3nn3 commented on #13594
We currently use v1.3.0 and the problem still seems to be present. Doesn't matter which settings, metrics or group by we choose, no data is actually rendered. Also the chart type isn't in the deprecated category.

Is it supposed to work? Does anyone have more information on that? Couldn't really find any current information on that.

[2021-09-21 13:49] mandeeplohan commented on #16759
Hi Nelson,
is user able to sign in?

[2021-09-21 13:57] mandeeplohan commented on #16750
@junlincc  Sorry to bug you here. Can you help me with this https://github.com/apache/superset/issues/16749
I shall be thankful to you :)

[2021-09-21 14:07] nelson-lark commented on #16759
@mandeeplohan For my problem I just discovered, `whitelist` can not be an empty array.  I must either remove the parameter, or put my email domain in there.

Looking at your issue, it looks like it's redirecting you back to "https", rather than "http", which is why the site can't be found.  Just remove the "s" on the return url and yours will probably work.
Some Oauth providers sometimes only allo

[2021-09-21 14:07] #16759 closed

[2021-09-21 14:53] 0x7CA opened #16760 "How to increase FAB field max size?"
In the add/edit user the email and username is capped on 64 chars.
![image](https://user-images.githubusercontent.com/12113428/134194004-95b4c625-118f-40c2-a960-6fa544cdaba0.png)
Editing this in the database to 320 chars and running `superset init` does not work. I can edit the emails to >64 chars in the database without issues, so it seems to be something in the front-end blocking it. However, I

[2021-09-21 14:59] mandeeplohan commented on #16759
@nelson-lark Yeah that might be the issue.  Provider and i configured it to http only. However, it is coming back with https
My provider confirmed that it will use https only. So we changed redirect url to https at his end and my end.
But still same issue and Also it is still doing http call only and coming back with https even we changed it to https.
Any idea here?

[2021-09-21 17:09] ducchetrongminh commented on #12729
I would love to see this feature go live, not sure if there is any progress. The description above is good enough, I just want to share my case.
Currently, I am using dbt for transformation, and I am following the star schema practice. Then I will visualize on Metabase. This approach works well because we have 1 central dimension table, as well as storage optimizing.
If I go with Superset, I will

[2021-09-21 17:11] junlincc commented on #16557
@shawnzhu would you like to send an email to dev, to drive more discussion and move this forward?

[2021-09-21 18:10] graceguo-supercat opened #16764 "[report] Open alert/report configuration modal by URL"
**Describe the solution you'd like**
When user want to check the configuration of a report/alert, right now they can open report/alert list page, and find his/her report by title or owner. it is not convenient if you have a lot of reports in the list.

Could we generate a static url for each report or alert configuration (like dashboard url)?
When user open URL, configuration modal should simply o

[2021-09-21 18:39] junlincc opened #16765 "[Explore]add new operators to ad hoc filter"
- Add new operators: "Contains", "Starts with" and "Ends with" (`'%str%'`, `'str%'` and `'%str'` respectively) that will escape underscores, do **case insensitive** matching when writing all lowercase (e.g. "ma") and **case sensitive** when writing mixed case (e.g. "Ma"). These would be primarily geared towards less technical business users. The reason for deciding when to do case sensitive vs ins

[2021-09-21 18:59] junlincc commented on #16730
@eschutho yes, it's happening on master, without any FF configured. thank you!

[2021-09-21 19:04] betodealmeida commented on #16730
If no feature flags are configured then it will download as JSON, the ZIP is only used if `VERSIONED_EXPORT` is changed to true.

[2021-09-21 19:55] rubypollev opened #16766 "Absolute value diff is incorrect"
Absolute value diff is `t1 - t2` when it should be `|t1 - t2|`. The absolute value function is not being applied.

https://github.com/apache/superset/blob/4e3d4f6daf01749b8f28e0770e138db5ed8fae91/superset/viz.py#L1434

[2021-09-21 19:55] michael-s-molina commented on #14383
@graceguo-supercat If in the end, we’ll have a back-end migration script that converts a filter box configuration into a native filter configuration, why don’t we skip the part of creating the same logic on the front-end and just do it on the back-end? We can add to each automatically converted filter the status of approved or rejected (which will hide the filter) and offer an option to the owner

[2021-09-21 20:52] shawnzhu commented on #16557
@junlincc Thanks for the suggestion. see [this thread](https://lists.apache.org/thread.html/r3dfe514b301eb3aa409a7920c2f80a1dd4a6974e42162387c13d97ee%40%3Cdev.superset.apache.org%3E)

[2021-09-21 22:08] junlincc opened #16771 "[Gallery]Hide the bottom info section when no chart is being selected"
In current viz gallery modal, we show a big empty section at the bottom to prompt users to 'select a visualization type'. This area is no being used properly as 1) it takes up half of the real estate that could be used to show more categories and chart types. 2) visually uneven

Suggest: hide this section when no charts is selected. Only show after users click on one chart.
<img width="1363" alt="

[2021-09-21 22:24] junlincc opened #16772 "[drag&drop][table]Make Raw Records Ordering drag and drop able with DESC & ASC"
https://user-images.githubusercontent.com/67837651/134255141-c4b1e0d7-b0c1-4f42-9789-b39613158239.mov

In table chart, we allow user to sort data by selecting a specific column DESC or ASC. In order to do so, users have to open a dropdown that lists ALL columns twice, with one in Desc and one in ASC. This is happening also when drag and drop is enabled, which is pretty counter intuitive, also very

[2021-09-21 22:30] junlincc commented on #16721
@jasonburrows it seems to be an easy tweak. would you like to open a PR to unblock yourself and those who encountered same challenge?

cc @betodealmeida

[2021-09-21 22:57] jess-dillard commented on #16771
+1  – As @junlincc mentioned, this is taking up a lot of valuable space that could be used to display more charts initially. Additionally, the "Choose chart type" label above the chart selection area should be enough instruction for users.

[2021-09-21 23:08] ktmud opened #16773 "[Explore] Cmd + Enter failed to re-render chart"
After changing some Explore control values, hitting "Cmd/Ctrl + Enter" failed to re-render chart. The "Run" button at the topleft corner and the "Run Query" button on the chart mask still work.

https://user-images.githubusercontent.com/335541/134259117-93d30bac-25e3-47a5-aaf8-6c176b4503cb.mp4

#### How to reproduce the bug

1. Go to any chart
2. Change some control values, e.g. columns and metric

[2021-09-21 23:31] ktmud opened #16774 "[Explore] Syncing dataset columns removes "Is Temporal" designation"
### Expected results

Syncing dataset columns in the Dataset editor should keep the "IS Temporal" designation of existing columns.

### Actual results

The previous set "is temporal" flag was lost.

#### Screenshots

<img width="979" alt="Xnip2021-09-21_16-23-38" src="https://user-images.githubusercontent.com/335541/134260720-ae3e4e1e-d254-45e0-8374-d5e461b473ae.png">

#### How to reproduce the bu

[2021-09-21 23:35] ktmud opened #16775 "[Explore] Inconsistent button styles in AntD confirmation modal"
## Screenshot

<img width="1034" alt="Xnip2021-09-21_16-32-10" src="https://user-images.githubusercontent.com/335541/134261030-e25fccc6-bd3c-44b6-9069-cd4b143a6dff.png">

## Description

We should probably update the button styles in AntD's confirmation modal to be consistent with other parts of the page.

[2021-09-22 01:35] graceguo-supercat commented on #14383
In airbnb our DS use Superset **do work**. In case any automatically convert didn't work, or after convert to filter components, dashboard is too slow to use etc, we need to unblock our users ASAP so that at least, they can still use old filter_box to complete their work.

[2021-09-22 04:38] junlincc commented on #16724
Hi @PowerPlop, Filterbox will co-exist with native filter until the end of the year, we wanna make sure native filter reaches full feature parity and is an overall better solution for dashboard filtering before removing the filterbox. Can you elaborate on why native-filter is not ideal for targeting 1 chart on the dashboard. And what's the reason behind adding only 1 chart to the dashboard?

@mich

[2021-09-22 05:54] anilvpatel21 commented on #14948
@ukm21 In the local superset_config.py, you must have enabled ALERT_REPORTS in DEFAULT_FEATURE_FLAGS and remove ENABLE_ALERTS from the config file. Hope it will work.
[code]

[2021-09-22 05:58] anilvpatel21 commented on #16495
Similar #13392

[2021-09-22 06:16] ashin-krj commented on #16579
Facing the same issue here.
`docker-compose up` doesn't work. Shows error on accessing the application.
But the non-dev -dev docker compose is working fine.
![Screenshot 2021-09-22 at 11 43 34 AM](https://user-images.githubusercontent.com/45310108/134292341-51695bab-712f-4182-99cc-48207fc83943.png)

[2021-09-22 07:07] PowerPlop commented on #16724
@junlincc
Lets say you have a dashboard with 5 charts (and more tabs with more charts).
3 charts are generic total counts and should not be filtered on anything. Below you have more detailed charts that can be filtered on time or one instance (e.g. a specific client).
When all filters are located in the native-filter side bar, it is not clear which filters will apply to which charts.
By using a fi

[2021-09-22 07:13] #16774 closed

[2021-09-22 07:46] VikramKumarArammeem opened #16778 "Unable to add URL link to column value with pivot table"
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/90202730/134302723-8572720d-d777-4fd8-94aa-245013114595.png)

what you expected to happen.

I was expecting that while adding link to column value using html text it should reflect value with click enable.

what actually happens.
Actual result: Pivot column value unable to convert html syntax to

[2021-09-22 08:08] zhaoyongjie commented on #16772
This feature is not only in raw table viz, but should be redesigned `sortby` control.

[2021-09-22 09:59] Manik0917 opened #16779 "[Deployment]Custom Security Authentication in Superset"
My application is deployed using Helm chart into AKS POD. Superset is also deployed (using Docker image of Apache/Superset) into another POD with basic authentication. Dashboard is created in Superset. I would like to embed this superset dashboard with my web application using Iframe. However I am expecting my web application to auto login with configured user on Superset basic authentication to e

[2021-09-22 11:31] frafra commented on #16686
Should https://docs.mapbox.com/help/getting-started/access-tokens/#how-access-tokens-work be used instead?

[2021-09-22 11:36] frafra opened #16781 "Read MAPBOX_API_KEY from environment"
All the settings are read from environment variables, except `MAPBOX_API_KEY`, which requires modifying `superset_config.py`.
https://github.com/apache/superset/blob/master/docker/pythonpath_dev/superset_config.py

https://github.com/apache/superset/blob/a330b664c13e34a4c7ca954f9a3a527a43a5535f/docs/src/pages/docs/frequently-asked-questions-page.mdx#why-is-the-map-not-visible-in-the-geospatial-vis

[2021-09-22 11:44] frafra opened #16782 "Docker: Error: `prophet` package not installed"
### Expected results

Being able to "Enable forecast" on the `Time-series Line Chart`.

### Actual results
[code]

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Create a "Time-series Line Chart"
2. Click on "Enable forecast"
3. Click on "Run"
4. See error

### Environment

Docker. Using today's `apache/superset:latest-dev`.

### C

[2021-09-22 12:14] linpaws-reverse commented on #8322
Please check the database name, it should be same to import dashboard or can rename to existing database name in json (database_name) before importing json

[2021-09-22 12:32] michael-s-molina commented on #13632
[This project](https://github.com/apache/superset/projects/36) tracks the progress on key milestones for this SIP.

[2021-09-22 13:24] frafra opened #16785 "[docs_update]FAQ on schema change is outdated"
-- https://github.com/apache/superset/blob/a330b664c13e34a4c7ca954f9a3a527a43a5535f/docs/src/pages/docs/frequently-asked-questions-page.mdx

That's not the case any more.

[2021-09-22 13:48] junlincc opened #16786 "[Advanced_Analytics]Show advanced analytics time comparison timestamps"
As a user, when I use apply time comparison time shift in Time-series charts, and there're more than one series showing on the graph, I expect to see multiple timestamps that reflect the comparing dates in tooltip.

Currently, user only seeing one base datetime in tooltip, which is the beginning datetime of selected time range.

<img width="1767" alt="Screen Shot 2021-09-22 at 6 44 03 AM" src="htt

[2021-09-22 14:29] kivhub commented on #15631
How to force using chardet in requests, please?

With request using charset-normalizer I am getting this error when calling Python via User Defined Transform in SAP BODS:
[code]
I am not able to define a source code encoding by placing magic comment into the source files (either as first or second line in the file) because the app probably modifies the script by itself.
After unistalling charset-n

[2021-09-22 15:40] cyanoboy commented on #9738
@magentomaniac your workaround no longer works, at least in the v1.1.

![image](https://user-images.githubusercontent.com/13133966/134375867-946589a5-943b-4eb0-9206-cfbd7dbd1155.png)

[2021-09-22 16:12] srinify commented on #16679
Hi y'all! 0.0.0dev refers to running a non-versioned release. For a versioned release, you can use:

- Pip: `pip install apache-superset==1.2.0`
- docker run for specific version of Superset: `apache/superset:1.3.0`
- docker compose, you can update the config file to use a hardcoded superset version (instead of latest)

[2021-09-22 16:25] nelson-lark commented on #16759
Sorry, I'm confused by your question.  It's replying with https, but as you
stated:

"My provider confirmed that it will use https only."

On Tue, Sep 21, 2021, 8:00 AM mandeeplohan ***@***.***> wrote:

[2021-09-22 16:42] potiuk commented on #15631
See the comment just above:

[code]

or just install chardet manually. Once charder is installed it is automatically used instead of charset-normalizer

[2021-09-22 16:46] potiuk commented on #15631
You can also open an issue for charset nomarlizer https://github.com/ousret/charset_normalizer - @ousret is usually very responsive and releases new versions quickly and often. I saw several releases recently so it might well be the issue is already solved in latest versions

[2021-09-22 16:51] potiuk commented on #15631
However this error is not a problem of charset normalizer. The error indicates that you have problem with your default system encoding on Windows:

Please set the env variable as described here to get rid of the error:

https://dev.to/methane/python-use-utf-8-mode-on-windows-212i

[2021-09-22 17:54] graceguo-supercat commented on #16719
Hi @junlincc I just found this issue was reported by different users twice in the last 6 month. see another one: https://github.com/apache/superset/issues/14034. Could you prioritize it?
This issue is pretty tricky, it should show error message and allow user to fix the bad metrics, probably need a good UX design to involve.

[2021-09-22 17:59] akotuc opened #16791 "[SQL LAB]Virtual dataset created from SQLab with incorrect schema"
When I write a query into `SQLab` by hand and create a dataset using `explore` button incorrect schema (probably from the selection on the left side of SQLab screen) is assigned to the dataset.
E.g. I'm a user with access to schema `A` and `B` of a database (Postgres). I select schema `A` from schema dropbox in SQLab screen and write a query select a table from schema `B`. When I click on `explore

[2021-09-22 18:04] michael-s-molina opened #16792 "[Proposal] Superset Frontend Testing Guidelines"
# Superset Frontend Testing Guidelines

We feel that tests are an important part of a feature and not an additional or optional effort. That's why we colocate test files with functionality and sometimes write tests upfront to help validate requirements and shape the API of our components. Every new component or file added should have an associated test file with the `.test` extension.

We use Jest

[2021-09-22 18:24] michael-s-molina opened #16793 "[Examples] metadata is missing schema in example datasets"
<img width="1773" alt="Screen Shot 2021-10-12 at 7 35 22 AM" src="https://user-images.githubusercontent.com/70410625/136940429-4ea71d1a-889b-44cb-9b6d-955d7ab28ef2.png">

[2021-09-22 21:18] kivhub commented on #15631
Thank you very much for your quick response. I uninstalled charset-normalizer, chardet and requests and installed requests with this command. The charset-normalizer was installed anyway back and I got the same error. Requests 2.26.0 use charset-normalizer (2.0.6) although there is chardet (4.0.0) in the site-packages folder.

[2021-09-22 21:23] kivhub commented on #15631
I set this environment variable (without reboot on Windows 2016 Server), I can see it in the Windows command prompt with 'set' command but unfortunately I am still getting the same error (Non-ASCII character '\xd1' in file c:\program files\python39\lib\site-packages\charset_normalizer\__init__.py on line 12, but no encoding declared).

[2021-09-22 21:34] shawnzhu opened #16796 "Db2 is not listed when trying to create new database connection"
Once the SQLAlchemy dialect `ibm_db_sa` and driver (`ibm_db`) for Db2 installed, it should list Db2 as available database.

### Expected results

When creating a new database, It should list Db2 as an available database.

### Actual results

Although both `ibm_db_sa` and `ibm_db` is installed, it doesn't list Db2 as available database.

#### Screenshots

![Screenshot from 2021-09-22 17-24-16](http

[2021-09-22 21:41] shawnzhu commented on #16796
## Debugging

I've located the problem to these lines of code:

https://github.com/apache/superset/blob/63aadd3fe492c39d8949fe2510bd521669e6869d/superset/db_engine_specs/__init__.py#L132-L146

The problem is it only recognize driver by engine name, not engine alias. The fact is the SQLAlchemy dialect for Db2 has engine name `ibm_db_sa` while the latest name `db2` is listed in its entrypoints. So w

[2021-09-22 21:43] junlincc commented on #16796
@shawnzhu Thanks so much for detailed repro steps and debugging. Please do open a PR with your proposed solution to fix forward. 🙏

[2021-09-22 22:09] #16349 closed

[2021-09-22 22:14] graceguo-supercat commented on #16764
No...my feature request is more likely used by admin, or someone not the owner of a report.
For example, our user asked me, "i wanted to schedule a report sending out at every Monday 3:00 EST but it didn't send out, could you help me check if my setting is correct?"
if we can share report configuration by URL, it will be easier than search by name (right now).

[2021-09-22 22:25] junlincc opened #16797 "[native_filter] Inexistent filter value creation can be confusing to novice"
In the video below, there are 1000+ filter values in the underlying dataset's `name` column.
With `Search all filter options` box in native filter modal - Advanced section checked, users are able to search and grab filter values beyond the 1000 values display limit. for examples, dropdown list only contains names that start w letter A to J(Julia). name "Max" is a name value that doesn't show in th

[2021-09-22 22:37] junlincc commented on #16782
try and the line` fbprophet` or `prophet`  to your docker/requirements-local.txt file ?

[2021-09-22 22:50] #16779 closed

[2021-09-22 22:59] andrewscarani commented on #15564
@junlincc Is it possible to reopen this issue until support has been added to the `Mixed Time Series Chart` as well?

[2021-09-22 23:05] eschutho commented on #13632
@michael-s-molina where can we find the final, agreed upon structure? We're happy to help out some where we can. Thank you!

[2021-09-22 23:26] jinghua-qa commented on #16791
I am able to reproduce this issue

https://user-images.githubusercontent.com/81597121/134434168-fca58374-a8b7-4cb0-81e9-7684f6780934.mov

[2021-09-23 03:27] ismaildawoodjee opened #16801 ""Python Functions" and "Upload a Columnar file" doesn't appear when Installing Superset from Scratch"
A clear and concise description of what the bug is:

`Python Functions` in the `Advanced Analytics` section of `Explore Chart` page doesn't appear when installing Superset from scratch (local installation with pip).

After I installed `openpyxl` and `xlrd`, the `Upload Excel` option appears, but after installing `parquet` and `pyarrow`, `Upload a Columnar file` still doesn't appear.

### Expected

[2021-09-23 03:34] pkdotson commented on #16708
@graceguo-supercat  can you please add steps to reproduce this with an example chart or add some steps to help our qa pinpoint this. I'm not able to reproduce this easily as the annotation does show on chart.

[2021-09-23 04:21] #16785 closed

[2021-09-23 04:58] parkjaeman opened #16802 "Floating Box is located out of chart and can not be visible in Sankey Diagram"
## Screenshot
![sankey diagram issue](https://user-images.githubusercontent.com/4987534/134456561-a58b27c6-0e62-454a-8dca-c45eeb6e159a.png)

## Description
Floating Box is located out of chart and can not be visible in Sankey Diagram

## Design input

[2021-09-23 05:12] jinghua-qa opened #16803 "[explore][filter] NOT EQUALS NULL doesn't allow to SAVE"
In explore, filter operator NOT EQUALS to NULL doesn't allow to SAVE

### Expected results

filter operator NOT EQUALS to NULL allow to save

### Actual results

filter operator NOT EQUALS to NULL not allow to save

#### Screenshots
<img width="1792" alt="Screen Shot 2021-09-22 at 9 55 30 PM" src="https://user-images.githubusercontent.com/81597121/134457352-92eee4f5-b6f6-4770-98d0-f9f7d6a0d55b.png

[2021-09-23 06:16] zfq314 opened #16804 "hive connect"
<html>
<body>

pip install pyhive
--

<br class="Apple-interchange-newline">
</body>
</html>

[2021-09-23 06:35] zfq314 commented on #16804
ERROR: Unexpected error occurred, please check your logs for details

[2021-09-23 06:37] zfq314 commented on #16804
![image](https://user-images.githubusercontent.com/33599707/134463948-f6748ca3-1644-4fcc-bcb5-171445056724.png)

[2021-09-23 06:38] zfq314 commented on #16804
superset version 0.38.1
and

pip install pyhive instered successfully

hive version 1.2.1

call you tell me ?thanks

[2021-09-23 07:50] jinghua-qa opened #16806 "[native filter] Filter indicator do not show correctly on all charts when time filter applied"
Filter indicator do not show correctly on all charts when time filter applied

### Expected results
Indicator show correctly when filter applied

### Actual results
Indicator do not show correctly when filter applied

#### Screenshots
issue 1: indicator did not show when filter applied but query is applied.
<img width="1789" alt="Screen Shot 2021-09-23 at 12 21 24 AM" src="https://user-images.gith

[2021-09-23 08:09] jinghua-qa opened #16808 "[native filter] datetime data in value filter is not readable in filter indicator"
Datetime data in value filter is not readable in filter indicator

### Expected results

Datetime data in value filter is readable in filter indicator

### Actual results

Datetime data in value filter is not readable in filter indicator

#### Screenshots
<img width="1789" alt="Screen Shot 2021-09-23 at 1 05 50 AM" src="https://user-images.githubusercontent.com/81597121/134473837-ab2201d0-b354-475

[2021-09-23 09:15] crucialfelix commented on #16247
I did get it to initialize by running:

[code]

Let it finish initializing, then you can bring up the whole "cluster"

I think it can be fixed by changing the other services from:

    depends_on: *superset-depends-on

to:

  depends_on: superset-init

[2021-09-23 10:31] markharding commented on #14809
Ran into this issue to and this fixed it! Thanks 🎉

[2021-09-23 12:04] zsellami opened #16810 "Add on Superset a Rich Text Chart Or BigText Chart"
As a user, I want to show big text information obtained from a dataset. For instance by adapting The Big Number chart to allow to show text instead of number.

The Text chart can usefull to show important informations on dashboard. For instance, the name of the best employee, the name of the first seller, etc.

Enable HTML script will also help to add color and size in this kind of chart.
Here som

[2021-09-23 12:15] riazarbi commented on #13490
@mrshu did the suggested fix work? I'm encountering the same error after upgrading my helm chart. I've added `can read on Chart` to both public and admin to no avail.

[2021-09-23 13:14] stockholmux commented on #16723
:wave: I'm on the OpenSearch team.

Here is [some background on the client issue](https://opensearch.org/blog/community/2021/08/community-clients/) that appears to be causing this. I'm only vaguely familiar with SuperSet but I believe the issue originates here:

https://github.com/preset-io/elasticsearch-dbapi/blob/master/setup.py#L31

Effectively, Elasticsearch clients past will only work with no

[2021-09-23 13:17] mandeeplohan commented on #16749
@junlincc  Will you be able to help me here please ? :)

[2021-09-23 13:41] riazarbi commented on #13490
I think there are two distinct problems in this thread.

@ankargren has a problem with the permissions of the public user in the superset UI.

@mrshu has a problem with the permissions of the selenium user, which is resulting in errors in the PNG images that are snapshotted.

I think that the fix suggested by @villebro fixes @ankargren 's problem, but not @mrshu 's

[2021-09-23 13:44] manishbansal8843 opened #16811 "Add CA bundle to superset docker container"
I need to add root certificates to the superset container so that it can communicate to my secured authorization server.

As of now, i could not find any environment variable or mount path where i can add the certificates and same get updated to the `cacert.pem` at runtime.

As of now, what i have done is, I logged into my container and appended my root.pem file to the certifi `cacert.pem` for whi

[2021-09-23 13:55] dpgaspar commented on #16723
Hi @stockholmux, I'm a maintainer/creator of elasticsearch-dbapi. I'll look into including `opensearch-py` on elasticsearch-dbapi

[2021-09-23 14:02] riazarbi commented on #13490
I have managed to resolve the issue referenced by @mrshu (i.e specifically for screenshotting operations) by incorporating the code from this comment -

https://github.com/apache/superset/issues/14330#issuecomment-885656343

[2021-09-23 14:55] lilila commented on #10817
@oashton Have you tried the patch I proposed few months ago?
I have it and it is not causing any collateral problem.
By any chance, do you have a solution for native filters to be considered in Annotations ? :o

[2021-09-23 14:56] manishbansal8843 commented on #16811
Update: I tried passing `--ca-certs` param to the `gunicorn` command as well but it did not work.

[2021-09-23 15:30] michael-s-molina commented on #13632
@eschutho I'll open an issue to start writing the Organization of Frontend Code Guidelines that will be included in our Wiki. This document will be the final, agreed upon structure. As this is an iterative process, this document may be modified as we progress through the organization, either due to technical limitations or a better understanding of the code base. While this is still not ready, you

[2021-09-23 15:30] sadiqkhoja opened #16812 "Row level security in embedded charts [Guidance needed]"
Hi,

I need some guidance on how to embed superset charts with row level security. Here is what I am thinking to do:

1- Create an user in superset for my custom application
2- When an user wants to see any chart, custom app sends its credentials to superset from backend and set the row level security RLS (where clause). A JWT token return to the front end
3- Front end passes JWT token to iFrame.

[2021-09-23 15:39] manishbansal8843 commented on #16811
Update 2: I also tried passing 2 commands in docker-compose `command` parameter where first command is to append my root.pem to cacerts.pem and then run gunicorn command but after that my container does not start. Not sure if its an issue with my docker command or something else.

[2021-09-23 16:26] manishbansal8843 commented on #16811
Final Update: I created one sh file called as `start.sh` and mounted it on superset container with below code.

[code]
Further, docker-compose.yml is modified and replaced command parameter as below.
`command: ["/my/mount/path/start.sh"]`

However, this feels like a hack and it would be great if some standard solution is made available. Thanks

[2021-09-23 16:36] jinghua-qa opened #16813 "[Native Filter] change filter column did not update the column value on dashboard"
After change the filter column to another, i still see the old values of the old filter, and also when one of the filter changed, my other filter got clear.

### Expected results
1. After one of the filters is being edited by column change, previous selected filter values on dashboard should be cleared.
2. Selected filter values on dashboard of the unchanged filter(s) should remain the same.

###

[2021-09-23 17:33] eschutho commented on #16764
Ok, that makes sense, thanks @graceguo-supercat. @yousoph let's see how we can implement this. Maybe we can utilize this url in the email itself, too.

[2021-09-23 18:08] junlincc commented on #16806
regression from recent dashboard perf optimization work.

[2021-09-23 18:23] junlincc commented on #16804
can you file issue using bug report template?

[2021-09-23 18:23] #16804 closed

[2021-09-23 18:55] jinghua-qa opened #16815 "[big number] make 'add subheader' taking effect instantly"
Currently when we adding subheader in big number, it is required to re-run the query, can we make adding subheader as an instant effect?

This is the current behavior:

https://user-images.githubusercontent.com/81597121/134566935-b5613e68-a10b-4b13-a901-197698519e85.mov

[2021-09-23 19:11] jinghua-qa opened #16816 "[mixed time series chart] Only show one query on data panel"
In mixed time series chart, currently only show result of query A on result table, I think we should should both query A and query B in the result table

### Expected results

Query A and Query B can be shown in result table

### Actual results

Only query A is shown at result table

#### Screenshots

<img width="1792" alt="Screen Shot 2021-09-23 at 12 07 04 PM" src="https://user-images.githubuser

[2021-09-23 19:40] junlincc opened #16817 "[Table]Show top N rows in table and pivot table (?)"
I would like to apply row limit to the rows in the pivot table, not the query that feeds the pivot table:
If I want to build a pivot table that only shows the top 20 rows but has many columns, I don’t think that there is a way to do that right now. The limit rows feature is applied to the query that pulls the data before it is pivoted, so it really means that I am limiting the output to 20 values

[2021-09-23 19:50] junlincc commented on #16816
question for design:
1) should we have both results show side by side? or allow user to switch between 2?
2) how can we keep the UI of south table consistent to other charts? e.g. not add another tab.

[2021-09-23 19:59] junlincc commented on #16812
@amitmiran137 Hey fellow PMC, If you happen to know, please help. 🙏

[2021-09-23 20:42] junlincc opened #16818 "[beta_feature][filterset]Can not apply filterset"
User can NOT select and apply filterset.

#### How to reproduce the bug

1. enable filter set feature flag  "DASHBOARD_NATIVE_FILTERS_SET": True, in config.py
2. Open any dashboard and expand the filter bar
3. Create a few(2-3) filters in the ALL FILTERS tab
4. Go to Filter Sets tab and create a set with those filters
5. Go back to ALL FILTERS tab and create 2 more filters
6. Go to FILTER SETS tab

[2021-09-23 21:31] jinghua-qa opened #16820 "[explore][Advanced Analytics] View sample show html when query percentage change in time series line chart"
`View sample` show html when query percentage change in time series line chart
#### How to reproduce the bug

1. use vehicle sales data and create a time series line chart
   time column: orderdate
   time grain: month
   time range:2003-2004
   metrics: sum(sales)
   time comparison: 1 year later
   calculation type: percentage change
2. Click on 'View samples
3. See error

### Expected results

[2021-09-23 21:39] junlincc commented on #16771
@jess-dillard  many thanks for the design input!

@stephenLYZ wanna give it a quick improvement?

[2021-09-23 21:45] junlincc commented on #16801
@ismaildawoodjee have you tried install via docker?

[2021-09-23 21:49] junlincc commented on #16778
hi @VikramKumarArammeem, we can confirm that this functionality is not designed or being supported in both legacy(the one you are using) and pivot table v2(in latest master or 1.3).
Having a clickable link may open up some security concerns, and supporting it as an optional feature is a bit of a maintenance burden.

We can embed a google sheet table that contains linked cells to the dashboard thou

[2021-09-23 21:49] #16778 closed

[2021-09-23 22:04] amitmiran137 commented on #16812
This is such an interesting topic for me these days .
We have a few different solutions for that but lately we are considering a few other options to what would be the ultimate row level security solution .
I'll update here soon once we'll finish up with the details

[2021-09-23 22:44] jinghua-qa opened #16821 "[native filter] dataset/column/advanced element disappears from the "Filters configuration and scoping" modal when user undo deleting native filter"
Dataset/column/advanced elements disappears from the "Filters configuration and scoping" modal when user undo deleting native filter

#### How to reproduce the bug
1, Open the dashboard from preconditions
2, Expand the "Native filter" panel
3, Click the "Pencil" icon
4, Click the "Delete" icon next to the native filter (from preconditions)
5, Click the "Undo" button
6, See key sections are missing

[2021-09-23 23:18] natarajant93 commented on #6568
@junlincc Do you know when we will get this enhancement?

[2021-09-24 01:02] etr2460 opened #16824 "Janky animation when you hover over a column header in SQL Lab results"
## Screenshot
![superset party time](https://user-images.githubusercontent.com/7409244/134602759-9f3f0e0d-c7e6-468c-b341-95e0d617483f.gif)

## Description
janky tooltip

## Design input
don't be janky

[2021-09-24 01:38] stephenLYZ commented on #16771
@junlincc Sure.

[2021-09-24 01:50] graceguo-supercat commented on #16764
it will be best if users can share a static url like dashboard. For example, for scheule_id = 101, the url will be
`https://superset.d.musta.ch/superset/report/101/`. When user open url from browser, it could be the report list page, but the modal for the report 101, should be open.

[2021-09-24 02:08] graceguo-supercat opened #16825 "[native filter] Remove parent filter cause incorrect state of child filter"
### Expected results

Remove parent filter should update all its children filters to top level filters.

#### How to reproduce the bug

1. create dashboard from baby_names dataset.  Add a few filters. For example, add Gender filter, State filter, Number filter, and set number filter's parent filter is State filter.
2. Load dashboard.
3. Remove State filter.
4. In dashboard filter bar, you don't se

[2021-09-24 02:41] ismaildawoodjee commented on #16801
I installed using Docker first. No problems there. Then I tried out Installing from Scratch, and the functionalities I mentioned above do not appear.

[2021-09-24 04:09] kamalkeshavani-aiinside commented on #16810
related to https://github.com/apache/superset/issues/12516

[2021-09-24 04:53] Manik0917 commented on #4195
Dear All, I had faced the issue hence I have made Stored procedure to insert the final results into physical table in MySQL and created a view to fetch the data from the physical table. Finally I have called view in Superset to visualize it in Dashboard. Hope this helps.

[2021-09-24 07:00] Arpan1089 opened #16826 "React integration with apache superset for showing charts"
I want to integrate superset charts in my react application. I want to run my UI(react) on server and connect it to superset server to see charts .

Steps taken by me :
1.imported @superset-ui/core package.
My code :

[code]

Error while running the application :
`Failed to compile.

./node_modules/@superset-ui/core/esm/style/index.js
Module not found: Can't resolve '@emotion/styled' in '/home/xxx

[2021-09-24 07:37] caoquyvu commented on #15911
Did u resolved thiss problems?

[2021-09-24 09:34] Kingflyinger opened #16829 "Rate value totals in pivot table not works as the same way in table."
rate value totals in pivot table not works as the same way in table.
when it changes in the future please let me know, it helps a lot
![image](https://user-images.githubusercontent.com/41682019/134652726-caeb9960-62f7-4b21-8369-81dbc90fd043.png)

[2021-09-24 10:24] Anushka-Hapukotuwa opened #16830 "deck.gl multiple layers chart not working when imported from JSON"
- I have created 2 deck.gl charts - one from deck.gl polygon and the other from deck.gl grid.
- Next I have added those 2 charts to a deck.gl multiple layers chart.
- I have added all 3 charts to a dashboard and I exported the dashboard to a JSON file using the export function on superset.
- When I import the JSON using the import dashboards option, the deck.gl multiple layers chart does not link

[2021-09-24 11:23] frafra opened #16832 "Time-series Line Chart - Time Grain - does not work if time is not a string"
"Time-series Line Chart" can show timeseries where the time column is a bigint, but it fails when trying to set the time grain.

### Expected results

It should work.

### Actual results

[code]

#### Screenshots

If applicable, add screenshots to help explain your problem.

#### How to reproduce the bug

1. Load default/examples datasets
2. Go to "Games per Genre over time"
3. Set the time grain

[2021-09-24 11:30] frafra commented on #16782
Installing `prophet` fixes the issue.

[2021-09-24 11:35] frafra commented on #12684
[code]

I think the documentation could add that development and Docker versions have built-in support for some databases or something like that.

[2021-09-24 15:34] shawnzhu commented on #16796
I can verify the fix from #16800 works locally from master branch.

@junlincc @villebro thanks for the attention and fast response!

[2021-09-24 15:44] yongchand opened #16834 "Mixed Time-Series chart rendering issue"
Unexpected error shows when rendering chart occasionally.

### Expected results

Chart should show the rendering result

### Actual results

Occasionally, chart fails on rendering and shows "An error occurred while rendering the visualization: TypeError: Cannot read properties of undefined (reading 'data')"

#### Screenshots

<img width="1120" alt="Screen Shot 2021-09-24 at 8 03 26 PM" src="https:

[2021-09-24 15:45] DwijadasDey commented on #15911
@caoquyvu
Still not. I will look into the issue again and will let you know if i can make it work !

[2021-09-24 17:07] #16813 closed

[2021-09-24 18:20] aseem-poloniex commented on #8818
`docker-compose up` - did not work . Showed same blank screen as mentioned in the question above
`docker-compose -f docker-compose-non-dev.yml up` - works

[2021-09-24 18:29] pkdotson commented on #16709
closes https://github.com/apache/superset/issues/16709

[2021-09-24 18:48] etr2460 commented on #16261
Hi @averma111 were you able to find the issue/are you still working on this issue?

[2021-09-24 18:52] etr2460 commented on #11680
@michael-s-molina do you think this is something that your async select work could help with? This seems to be a regression dating back to the original Antd refactor

[2021-09-24 20:47] sbbagal13 commented on #7277
Any solution on this ?

[2021-09-24 21:30] junlincc commented on #16829
Hi! I have a very hard time understanding the issue. can you please reopen the issue using the bug template. with screenshot in Superset? thank you for troubleshooting though.

[2021-09-24 21:30] #16829 closed

[2021-09-24 22:54] eschutho commented on #16791
we're looking into this, thank you!

[2021-09-24 23:07] eschutho commented on #16749
@dpgaspar do you have any insight into this?

[2021-09-25 06:01] djouallah commented on #16602
yes Please I love to be able to see all SQL history not only the one from SQL Lab only

[2021-09-25 06:52] jinghua-qa opened #16839 "[native filter] when filter applied, sometimes the query did not update"
when time range native filter is applied, sometimes the query did not update

### Expected results

when native filter is applied, the query will be updated

### Actual results

when native filter is applied, the query did not update

#### Screenshots
<img width="1784" alt="134720695-43c476cd-3ffa-4c5e-afba-b23f08e14523" src="https://user-images.githubusercontent.com/81597121/134761930-5fa92770-da

[2021-09-25 06:53] jinghua-qa commented on #16839
@villebro

[2021-09-25 07:11] DwijadasDey commented on #15911
@caoquyvu
This time i tried using gmail SMTP server with the following gmail settings to make it work.

https://accounts.google.com/DisplayUnlockCaptcha
https://myaccount.google.com/u/0/lesssecureapps

### Updated SMTP Settings

EMAIL_NOTIFICATIONS = True
SMTP_HOST = "smtp.gmail.com" #change to your host
SMTP_STARTTLS = True
SMTP_SSL = True
SMTP_USER = "my_email_id@gmail.com"
SMTP_PORT = 587 # you

[2021-09-25 07:25] djouallah commented on #12729
@ducchetrongminh you can build a virtual dateset based on a view which join the fact to the dimension tables ?

[2021-09-25 07:33] amitmiran137 commented on #16557
Hey @shawnzhu  let's co-op on this , I'll help you get this done 💪

[2021-09-25 12:22] Fm371 opened #16841 "superset get all resource client"
Hi

I created a dashboard in Superset. When I open it in the browser(chorom or firefox ) It takes all the resources(ram and cpu) of the client system and crashes the browser.

- browser type and version: Google Chrome Version 92.0.4515.131
- superset version: 0.999.0dev
- python version:  3.8

[2021-09-25 14:32] villebro commented on #16841
To make this bug report more actionable for contributors, it would be very helpful if you could shed some more light on the dashboard in question (what type of charts you have, the datasets referenced, the database type, potential native filters etc). Better yet, providing clear reproduction steps would make it much easier to reproduce the bug locally, after which we could start working on a fix.

[2021-09-25 15:01] mdeshmu commented on #13591
Allow to re-arrange the display sequence of the filters.
![image](https://user-images.githubusercontent.com/57723564/134775984-b4c1d92e-ac6a-453a-bc87-10bf17aacff5.png)

[2021-09-25 16:51] yongchand commented on #15877
@rwspielman @junlincc Any updates for this issue? I experiencing similar issue. #16834

[2021-09-26 01:39] lctlover opened #16842 "why cant add dataset？"
i add dataset ，but cant add or next？？？

like this。

![图片](https://user-images.githubusercontent.com/25808895/134790280-a9791bde-2524-4e17-82b7-34248eca1fb2.png)

[2021-09-26 05:00] lsyarn commented on #15768
Work fine  after modify postgres db engine, and timezone offset problem in explore solved.
Steps with docker-compose instance(version=1.3.1).
[code]
[psycopg 2.9 release note](https://www.psycopg.org/docs/news.html#what-s-new-in-psycopg-2-9)
psycopg2 updated to use `datetime.timezone` as `tz` property of datetime object, we do not need `pytz._FixedOffset` any more.

[2021-09-26 05:41] lctlover commented on #16842
docker-compose -f docker-compose-non-dev.yml up

[2021-09-26 17:25] jinghua-qa opened #16844 "[explore] when changing column of an existing filter, the existing filter value did not changed"
When changing column of an existing filter, the existing filter value did not changed, the new filter will still show previous filter values which are not exist in the new filter

### Expected results

when i change the column of an existing filter, i expect the old value can be remove

### Actual results

when i change the column of an existing filter, old value did not remove

#### Screenshots

[2021-09-26 17:38] jinghua-qa opened #16845 "[setting menu] [profile] favorited column should be 'created column' under CREATED CONTENT tab"
In Profile page,  favorited column should be 'created column' under CREATED CONTENT tab

### Expected results

CREATED CONTENT tab should show created charts and dashboard information

### Actual results

CREATED CONTENT tab have a column name 'favorited'

#### Screenshots
<img width="1791" alt="Screen Shot 2021-09-26 at 10 33 55 AM" src="https://user-images.githubusercontent.com/81597121/13481808

[2021-09-26 18:48] jinghua-qa opened #16846 "[dnd] reordering of multiple column/metrics is not working smoothly（superset 1.3 only）"
Reordering of multiple column/metrics is not working smoothly, some times can not drag a component to the desired order by dnd

### Expected results
can drag component to desired position for ordering

### Actual results

sometimes can not drag component to desired position for ordering

#### Screenshots

https://user-images.githubusercontent.com/81597121/134820334-40d6a271-42f9-4f5d-80d2-540f4f8e

[2021-09-26 21:53] thesuperzapper commented on #10216
@usamaB the `AUTH_ROLES_MAPPING` feature is a dictionary from `string` --> `list`, so it supports multiple roles:
[code]

(Similarly for OAUTH)

[2021-09-26 22:15] pragyan019 opened #16847 "Bubble Chart without axis and grid lines"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I need to have a bubble chart without the axis and grid lines, similar to [this](https://drive.google.com/file/d/1SXfQp73OiJPhiotXYvBLJTKimeOQtxpd/view?usp=sharing)

**Describe alternatives you've considered**
An option to hide axis and gridlines in the current bubble chart

[2021-09-27 02:16] #16757 closed

[2021-09-27 02:41] Amanda-Chiang opened #16848 "Export/Import Error"
Error occurred when importing dashboard from Superset's latest version into Preset instance.
### Expected results

Import dashboard zip file successfully

### Actual results

Error pop up

#### Screenshots

See video
![ezgif com-gif-maker](https://user-images.githubusercontent.com/57576886/134837759-ed11cd58-6487-4b2a-ba34-abd8a469e704.gif)

#### How to reproduce the bug

1. Go to Superset dashboa

[2021-09-27 05:34] #16806 closed

[2021-09-27 06:36] #16808 closed

[2021-09-27 06:58] caoquyvu commented on #15911
@DwijadasDey I just fixed it with run python code from superset, and check what is wrong with my Superset Config
Superset is bad when telling us what is wrong with config,

import smtplib
    smtp_host = config["SMTP_HOST"]
    smtp_port = config["SMTP_PORT"]
    smtp_user = config["SMTP_USER"]
    smtp_password = config["SMTP_PASSWORD"]
    smtp_starttls = config["SMTP_STARTTLS"]
    smtp_ssl = c

[2021-09-27 07:22] zhaoyongjie commented on #16771
closed by: https://github.com/apache/superset/pull/16840

[2021-09-27 07:22] #16771 closed

[2021-09-27 08:59] dpgaspar commented on #16726
I can, looking good, thank you @aniaan

[2021-09-27 09:05] dpgaspar commented on #16723
Related issue on the driver repo: https://github.com/preset-io/elasticsearch-dbapi/issues/70

[2021-09-27 09:09] dpgaspar commented on #14720
Fix merged, closing. Feel free to re open if the problem persists

[2021-09-27 09:09] #14720 closed

[2021-09-27 10:18] villebro commented on #16796
Thanks for the fix @shawnzhu! Closing

[2021-09-27 10:18] #16796 closed

[2021-09-27 10:41] ravneet05 commented on #13490
I am also seeing a similar issue after creating a superset 1.3.1 setup using helm.
![image](https://user-images.githubusercontent.com/9279979/134893443-04c2a56c-79e2-4762-a63d-b36bc44b98c9.png)
This issue is happening after the welcome screen shows up and i try to list the dashboards/charts. Upon a few refreshes, it works fine.
Please suggest a fix.

[2021-09-27 13:00] michael-s-molina commented on #11680
@etr2460 Yes. I'm tagging @geido here because he worked on this migration and has the full context.

[2021-09-27 13:22] renaldrozario commented on #16750
@junlincc are you looking for more info?

[2021-09-27 14:09] geido commented on #11680
@etr2460 I don't think the current implementation would work. You can check the code in this PR https://github.com/apache/superset/pull/16609. Basically, we would need a refactor of the `SelectAsyncControl` to work with the pagination. That PR is still not merged so this might be a good opportunity to think about doing it depending on prioritization. CC @junlincc

[2021-09-27 14:17] #16839 closed

[2021-09-27 15:58] geido commented on #16792
### RTL

+1

+1

#### Priorities
I think priorities should be remarked as it is a common mistake:
https://testing-library.com/docs/queries/about/#priority

#### Using `act` unnecessarily

https://kentcdodds.com/blog/fix-the-not-wrapped-in-act-warning

#### Using `*ByRole`
By using the `name` option we can point to the items by their accessible name.

`screen.getByRole('button', {name: /hello world

[2021-09-27 16:32] michael-s-molina commented on #16792
These are great points @geido. Thank you!

[2021-09-27 16:39] #16821 closed

[2021-09-27 17:18] kevinhodes opened #16858 "Id issues with import/export"
- In docker container 1:  I created several dashboards pointing to a postgresql database. (Export 1)
- In docker container 2:  I imported the dashboards from "Export 1" and made a few changes but it was left mostly as it was.  Enabled VERSIONED_EXPORT and exported the whole thing again (Export 2).
- In docker container 3: Imported from "Export 2" and faced several issues.

### Expected results

Im

[2021-09-27 17:55] betodealmeida commented on #16848
@Amanda-Chiang are you able to share the ZIP file that's causing problems?

[2021-09-27 17:57] junlincc commented on #16858
thank you so much for the detailed report, this is very helpful! @kevinhodes
@betodealmeida can you take a look along with #16848 ? thanks! 🙏

[2021-09-27 18:03] etadelta222 commented on #13490
I'm getting same error. It's not consistent for all users accessing the dashboard though. A force refresh seems to fix it but there's no actual explanation for the 'unexpected error' or in the log itself.

version:1.1.0

[2021-09-27 20:19] nijcapur commented on #13373
Any update on this issue, We are facing the same issue in version 1.1.0, is this resolved in any of the latest versions? need it on urgency.

[2021-09-27 21:11] junlincc commented on #16847
It makes sense to have the packed bubble chart added to Superset.

@stephenLYZ I don't think Echarts offers good out of box solution. Can you spend a couple hours researching the feasibility? Tableau has a pretty good documentation of this chart, I believe.

[2021-09-27 21:38] mapshen commented on #15749
@junlincc Sorry for the late reply and appreciate your help on trying to fix this issue so far.

Unfortunately, in my test just now with the latest image `apache/superset:fcab489860399d38bc3a66fd26dd62b7c3e3ffd5`, the issue still persists.

[2021-09-28 02:42] norpriest opened #16863 "Big Number visualization doesn't show decimal value?"
It should be 4.25

How can I do to fix this?

![U](https://user-images.githubusercontent.com/72668447/135013920-730d5b43-fe8d-471a-8337-a2a3fa5842af.PNG)

[2021-09-28 03:55] akshay26031996 commented on #16842
Facing the same issue. Followed the steps on the docker hub, as well as tried starting using docker-compose.

[2021-09-28 05:29] danielsmeyer commented on #13398
Is there a branch that I could checkout to get started on helping push this forward? @jhult @junlincc @suddjian
I have some time to get this integrated into the native filter.

[2021-09-28 05:42] junlincc commented on #16863
have you tried D3 format?

https://user-images.githubusercontent.com/67837651/135029854-09b30700-ec76-48b5-9c70-87d558fa7599.mov

[2021-09-28 05:47] junlincc commented on #16844
im not sure this is a regression from select refactoring or an old bug. @geido would you like to take a look?

[2021-09-28 05:48] junlincc commented on #16842
can you fill out the bug report template.... @akshay26031996 @lctlover ?

[2021-09-28 05:53] junlincc commented on #16834
hi! what do you mean by "rendering multiple times"?  is it only happening to said chart? can you reproduce it constantly? thanks!

[2021-09-28 05:56] yongchand commented on #16834
@junlincc So based on what we have found out until now, we found out that if cache does not exist, rendering mixed timeseries was totally fine. If cache exist, we found out that this error was reproduced. As explained on #15877 , we have turned on GLOBAL ASYNC QUERIES.

[2021-09-28 05:58] junlincc commented on #16832
@villebro confirm! it's also happening on Echarts time series. please take a look?

[2021-09-28 06:19] norpriest commented on #16863
its ok I got it now. Thanks

[2021-09-28 06:56] akshay26031996 opened #16864 "Unable to add dataset"
When we try to add a dataset from the superset UI, the "Add" button is disabled.

#### How to reproduce the bug

1. Add `pyhive` in `docker/requirements-local.txt`
2. Run `docker-compose -f docker-compose-non-dev.yml up`
3. Connect to a database. I have connected with presto.
4. Click on Data -> Datasets
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/10262118/13503676

[2021-09-28 06:57] akshay26031996 commented on #16842
https://github.com/apache/superset/issues/16864

[2021-09-28 06:58] zhaoyongjie commented on #16766
@rubypollev The absolute function is not necessarily applied to diff results. cc: @junlincc

`diff` In the tableau
![image](https://user-images.githubusercontent.com/2016594/135038295-5bc63c57-c4d6-44f6-8218-e278bcb65601.png)

[2021-09-28 07:40] lctlover commented on #16842
but i cant reappear this bug。
i reinstall n times；

and this not the table reason。

CREATE TABLE "mini"."app_behavior" (
"app_behavior_id" int4,
"create_src" text COLLATE "default",
"operator_id" int4,
"building_project_id" int4,
"create_time" timestamp(6),
"behavior_type" int4,
"behavior_content" text COLLATE "default",
"remark" text COLLATE "default",
"building_project_ids" text COLLATE "default

[2021-09-28 08:51] iercan opened #16866 "DASHBOARD_CROSS_FILTER causes some bugs and performance issues"
Hi.
I was unable to edit filter scopes on dashboards and also when I changed time range and save as dashboard they weren't persistent. We were also experiencing very slow load when dashboard size gets bigger.
After some test I realized this is because DASHBOARD_CROSS_FILTER flag enabled. After disabled it, dashboard get much faster and I can save scopes and times of filter.

Although this flag lis

[2021-09-28 13:32] frafra commented on #15905
I can confirm that `json_int_dttm_ser` is the problem. This is my log:

[code]

My setup is a standard Superset started using docker-compose, connected to a mssql database containing a table with a `TIME` column.

[2021-09-28 13:47] frafra commented on #15905
There are various places in the code where such method is used as default when dumping the JSON (look for `default=json_int_dttm_ser`):

https://github.com/apache/superset/blob/1669947bcd429e926c6e8de5ceaafcfe5496b28b/superset/charts/api.py#L518-L523

https://github.com/apache/superset/blob/0f16177bde156163643c55e5cd24fab996f40971/superset/utils/core.py#L618-L619

...and others.

Here is the probl

[2021-09-28 14:41] frafra opened #16870 "TIME RANGE on TIME column is useless"
Apache Superset should not list `TIME` columns as `TIME COLUMNS` (that is how Superset describes `DATE`/`DATETIME`/`TIME` columns in the `Table` view), or a major rework to handle `TIME` columns properly should be done. Thus, a different issue/PR should be created for that. Setting a time range on such columns is useless at the moment.

#### How to reproduce the bug

1. Go to a dataset containing

[2021-09-28 16:34] rubypollev commented on #16766
Tableau's implementation makes sense. This is a "difference." It can be negative.

Superset's implementation claims this same function is an "absolute difference," though, which it's not:
<img width="1538" alt="time_comparison_absolute_difference" src="https://user-images.githubusercontent.com/45610410/135128264-8142b9b0-a3c0-4831-8674-069c5c4325b3.png">

An [absolute difference](https://en.wikipe

[2021-09-28 16:48] junlincc commented on #16866
Hi @iercan thanks for reporting this issue!

So there are _ issues here.
- When Cross-filtering is enabled, dashboard perf is being affected
  Question: 1. how large is your dashboard? number of charts, types of charts etc.
                   2. is it happening when you try to emit filters? or while you perform other tasks in dashboard, or just slow in
                        general?
- Unable to

[2021-09-28 16:53] junlincc commented on #16866
Also, is there a specific reason you are still adding filterbox to the dashboard while native filter is available? these two are not compatible, especially on time filter. and we dont have plan to maintain the combination. can you try remove filter box to see if the time range issue still persist?

[2021-09-28 16:56] iercan commented on #16866
Dashboard has about 80 chart and 3 different filter box. It slows on loads and also navigating through tabs in the dashboard. and also while selecting filters

Problem is not about native filter, we added filter boxes.

It happens when option is enabled. Again this is also for filter boxes, not native filter.

We experienced very slow load and navigate with native filter when dahsboard gets too bi

[2021-09-28 18:13] junlincc commented on #16870
My understanding of your request is that : Superset should remove time column selection and allow user to filter data by time range regardless a data has time/date time columns or not. (?)

[2021-09-28 18:23] junlincc commented on #16866
@iercan thanks for the details! We suspect that having FilterBox coexist in Native filter enabled dashboard caused some of the issues your mention. Can you please remove your filterbox and create the same filters using native filters? and let us know if perf is still an issue. If so, we are happy to address.

I'm pretty sure time range and scoping works as expected in that case.

We are in the pro

[2021-09-28 18:32] yousoph commented on #16864
Looks like the add button is disabled when you select the first table, but if you go back and select a second table from the dropdown, the add button gets enabled (as a temporary workaround)

[2021-09-28 19:02] #16863 closed

[2021-09-28 19:14] frafra commented on #16870
No, I am sorry I have not been able to explain the bug I am experiencing. Nomenclature is confusing.

Superset Table view does not support time-only columns, because it works on datetime or date columns. It makes no sense to a time range selection between dates if you just have hours and minutes for examples. Superset returns an empty result set if such time range filter is applied.

I propose to

[2021-09-28 20:07] junlincc commented on #16834
Gotcha, thanks for reporting! another feature flag conflict 🤦🏾‍♀️
@villebro can you walk @stephenLYZ through the process of adding the support? Thanks!

[2021-09-28 20:56] akettmann-e24 opened #16879 "[1.3.0] [FAB] Installing flask-appbuilder addon does not create new menu"
Reference: https://github.com/akettmann-e24/superset_ticket_example for environment

Working to get familiar with how to extend/change superset, ran into problems getting a new menu to actually show up in the application. The addon works on stock FAB, but once I bring in superset, the endpoint gets defined, but the menu does not seem to be created.

AddonManager code:
[code]

#### How to reproduce

[2021-09-28 21:35] junlincc commented on #16801
is there a reason you needed to uninstall Docker and build it from scratch?

[2021-09-28 21:35] #16782 closed

[2021-09-28 21:46] junlincc commented on #15758
@Nazar-Petsentii We would love to help but please file issue with one of the issue templates 🙏

[2021-09-28 21:47] #15758 closed

[2021-09-28 22:39] junlincc opened #16881 "[Table and Pivot_table]reordering table columns as user drag"
**Is your feature request related to a problem? Please describe.**
As table user, i would like to easily drag and drop table columns to reorder. Currently, I can either use sort by metric control or COLS SORT BY to somehow set a customize order, but clearly with limitation

https://user-images.githubusercontent.com/67837651/135175074-d710dc5e-672f-43ac-9726-f8580942f561.mov
**Describe the solution

[2021-09-28 22:56] junlincc opened #16882 "[Native_filter]actual time range display inclusive vs. exclusive"
The actual time range display in Native Filter time range filter is no longer [start, end) , but (start, end)

#### How to reproduce the bug

1. Go to any sample dashboard with Native filter enabled
2.Create a new time range filter using any select mode, e.g. custom or advanced
3. see how time range select being materialized in actual time range section below

### Expected results

should be 2021-

[2021-09-28 23:28] junlincc opened #16883 "[edit_dataset]can not see full list of users in edit dataset dropdown"
I can not search all users in the edit dataset -> settings -> owners and add a desired user to the dataset ownership
#### How to reproduce the bug

1. Open any chart
2. Click on the 3 dots and Edit dataset, click on the settings tab
3. Scroll down to Owners
4. see if you can find all users(?)

### Expected results

what you expected to happen.
be able to search and add any users in my organization

[2021-09-29 00:45] kevinhodes opened #16884 "Sort order in dashboards"
Sort of dashboards by title does not work.

![image](https://user-images.githubusercontent.com/89279983/135183623-f32ce8e9-d25a-4777-89ff-de83196094eb.png)

#### How to reproduce the bug

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected results

what you expected to happen.

### Actual results

what actually happens.

#### Screenshots

If applicable, add screen

[2021-09-29 02:35] zhaoyongjie commented on #15886
Hi @andreamelloncelli,

This is `Data Discovery`(also called `Data Dictionary`) area. But the Superset main goal is to provide a BI. Please refer to this link for some solutions: https://medium.com/@torokyle/data-discovery-in-2020-3c907383caa0

[2021-09-29 03:58] Lawful2002 commented on #16781
@frafra I would like to work on this issue if it is still open.

[2021-09-29 04:03] stephenLYZ commented on #16847
@junlincc After some research, I think this should be possible. In the official echarts custom example, there is a circle packing based on the d3 implementation, check the following link: https://echarts.apache.org/examples/zh/editor.html?c=circle-packing-with-d3. However, there seems to be a problem with rendering, but an implementation idea is provided.

This is an example of my local run:
![ima

[2021-09-29 05:15] jinghua-qa opened #16886 "[color theme] color theme 'D3 category 10' is duplicated in explore"
color theme 'D3 category 10' is duplicated in explore

#### How to reproduce the bug

1. Go to explore
2. Click on color theme
3. See error

### Expected results
color theme is unique in the drop down menu

### Actual results

D3 category 10 is duplicated in color theme

#### Screenshots

<img width="321" alt="Screen Shot 2021-09-28 at 10 13 34 PM" src="https://user-images.githubusercontent.com/81

[2021-09-29 05:33] jinghua-qa opened #16887 "[native filter] when user undo delete of a native filter, the options under column is gone"
For value filter, when user undo delete of a native filter, the options under column is gone, however if user go to another filter and come back, the options will appear again

#### How to reproduce the bug

1. Create a value native filter
2. Click on delete and then undo delete
3. open dropdown menu for column
4. See error

### Expected results

When user undo delete, the options in column dropdo

[2021-09-29 06:41] frafra commented on #16782
Please note that installing prophet via pip seems to not install all its dependencies, due to a known issue in prophet.

[2021-09-29 06:42] villebro commented on #16870
I agree @frafra , and this is something I've also noticed when working on these parts of the codebase. We should probably make `TIME` "non-temporal" for now, as it really don't support it right now in the time picker. But long term it would be nice to be able to introduce similar functionality for `TIME` columns, e.g. being able to set ranges, just like we do for timestamps.

[2021-09-29 07:24] jinghua-qa opened #16888 "[dashboard][filter indicator] time range filter box with 'no filter' will appear in applied filter in indicator"
time range in filter box with 'no filter' will appear in applied filter in indicator

#### How to reproduce the bug

1. go to video games sales dashboard
2. create a time range native filter
3. apply time range filter to all charts in the dashboard
4. open indicator on the chart
5. observe applied filter in indicator
6. see error

### Expected results

time range in filter box with 'no filter' sho

[2021-09-29 07:36] djouallah opened #16890 "define a Metrics that ignore a particular filter"
**Is your feature request related to a problem? Please describe.**
I would like to define a Metric for example sum(Quantity) ,all(date), it means the metric should return the sum and ignore any external filter on date,

**Describe the solution you'd like**

**Describe alternatives you've considered**
it works fine using jinja parameter but a bit more complex
**Additional context**
I am a PowerBI d

[2021-09-29 07:54] jinghua-qa opened #16891 "[color theme] stacked bar chart with 'Superset color' theme will change color when save to dashboard"
stacked bar chart with superset color theme will change color (within the same color theme) when save to dashboard

#### How to reproduce the bug

1. Go to a chart, pie chart or bar chart from example charts
2. Click on CUSTOMIZE panel and select 'Superset color theme'
3. Save the chart with superset color theme to dashboard
4. See error

### Expected results
When save chart to dashboard, chart co

[2021-09-29 07:55] Kingflyinger commented on #10546
@wzJudy.
I met the same problem and fixed it.
superset/utils/core.py

    # Attach any files passed directly
    for name, body in (data or {}).items():
        att = MIMEApplication(
                body,
                Name=name,
                )
        att.add_header('Content-Disposition', 'attachment',filename=('gbk', '', name))
        msg.attach(att)

        '''
        msg.attach(

[2021-09-29 08:34] pragyan019 commented on #16847
@stephenLYZ  Is it possible to turn off the cluster mode(optional) in this implementation?

[2021-09-29 08:54] jinghua-qa commented on #16891
This issue also seen in pie chart

[2021-09-29 08:55] amitBhardwaj12 opened #16892 "Add a custom item in main menu"
How to reproduce the bug
<img width="1421" alt="Screenshot 2021-09-29 at 2 14 45 PM" src="https://user-images.githubusercontent.com/90375231/135235106-c44dc26c-70b1-4b9e-a01d-a325cbc61dd5.png">

Try to add any new item in menu.
If I add any new item in backend side for the menu its not visible.

Expected results
SQL lab menu should show a new item with the given name for newly added item

Actual r

[2021-09-29 09:39] frafra commented on #16781
@Lawful2002 sure, it is yours :)

[2021-09-29 10:22] geido opened #16894 "[native_filter] Messing up with the hierarchical filters causes the UI to freeze"
When setting up hierarchical filters, the user might select the parent filter to be the child filter and the child filter to be the parent. While this is an obvious mistake from the user, the UI should not freeze but should instead emit a proper error.

#### How to reproduce the bug

1. Go to a Dashboard
2. Add a filter named "Parent Filter"
3. Add another filter named "Child Filter"
4. Set the "C

[2021-09-29 10:23] geido commented on #16894
@junlincc @jinghua-qa FYI

[2021-09-29 10:41] geido commented on #16792
### RTL
...continuing on the topic of RTL

#### Simplicity
I believe it's often overlooked how much simplicity is important in test cases. I believe clear, dumb code should always be preferred over complex ones. The test cases should be pretty much standalone, easy to read, should not involve any external logic if not absolutely necessary. That's because you want the corpus of the tests to be unde

[2021-09-29 12:53] geido commented on #16792
### Cypress
I am not much of a Cypress expert and I am taking what I think are the most relevant points for us from the official documentation, as well as adding some thoughts from my times working with it.

#### Do not use Cypress :)

Do not use Cypress when RTL can do it better and faster. Many of the Cypress tests that we have right now can be ported into RLT that is much faster and gives a mor

[2021-09-29 13:18] geido commented on #16894
Just found this is a duplicate of #15483

[2021-09-29 13:18] #16894 closed

[2021-09-29 13:52] cxplonka opened #16897 "ApacheDrill: Column 'method__' is ambiguous"
Hello Superset-Team,

when i use time series chart to query apache drill then this statement(see bottom) is generated, but apache drill give me an error "VALIDATION ERROR: From line 17, column 37 to line 17, column 44: Column 'method__' is ambiguous". Everything works fine when we use "anon_1.method__". Is there a possiblity to fix this problem?

thanks and best greets
christian

[code]

[2021-09-29 15:29] geido commented on #16891
@jinghua-qa my observation is that this issue affects all the charts not any chart in particular

[2021-09-29 16:04] #16825 closed

[2021-09-29 16:06] mistercrunch commented on #15886
My take on this is that we should *integrate* with data catalog / data dictionaries bidirectionally, through APIs and tooling.

I also really like the idea of making it easy to sync DBT models into Superset datasets. This should be pretty easy today with our APIs, it's a matter of reading DBT's `manifest.json` file and upserting datasets through the Superset API. That integration can live on a sof

[2021-09-29 16:59] etr2460 opened #16901 "[feature_parity]Support series limits in Pivot Table v2"
**Is your feature request related to a problem? Please describe.**
There's no way currently to limit the number of rows in a pivot table v2. It would be good to support series limit here like we do in other charts

**Describe the solution you'd like**
Allow the user to specify a series limit in the pivot table v2

to: @kgabryje @villebro @junlincc

[2021-09-29 17:39] jinghua-qa opened #16904 "[dashboard edit] Sort by menu for adding chart need some consistency"
## Screenshot
<img width="168" alt="Screen Shot 2021-09-29 at 10 23 32 AM" src="https://user-images.githubusercontent.com/81597121/135320192-15e05296-f11a-48a4-a401-8ec9d645d912.png">

## Description
Need some consistency of the sort by menu for dashboard edit:
1, Format consistency: for example "Sort by Name" should be " Sort by name"
2, 'Vis' should be 'Viz'

[2021-09-29 17:51] jinghua-qa opened #16905 "[explore][south tables] When copy data from 'view result' timestamp is not showing in correct format"
When copy data from 'view result' timestamp is not showing in correct format

#### How to reproduce the bug
Use vehicle sales dataset

1. Go to explore
2. Query metric 'Sum(sales)
3. Click on the copy button in south tables to copy result
4. Paste the result and compare the timestamp column in data panel
5. See error

### Expected results

timestamp column show same format as data panel

### Actua

[2021-09-29 19:27] hitzelc commented on #15456
Maybe a little too late, but I had a similar problem. A quick-and-dirty fix is to edit the charts/api.py file as follows:
https://gist.github.com/hitzelc/10ad912bd246d4358728a8407ac2c842

You can see the addition in **line 291**. Now chart creation via a POST to the /chart/ endpoint will return the uuid associated with the chart.

The way I use this is as follows:
* create a dashboard, get its id

[2021-09-29 20:46] SamEBae opened #16909 "[Deploy]superset db upgrade failed 1.2.0 to 1.3.0 upgrade"
superset db upgrade not progressing beyond 07071313dd52 and getting column dbs.configuration_method does not exist on superset init for 1.2.0 to 1.3.0 upgrade

#### How to reproduce the bug
- upgrade superset from 1.2.0 to 1.3.0
- run `superset db upgrade` followed by `superset init`

### Expected results

- `superset db upgrade`  runs alembic migrations

### Actual results

-  does not progress t

[2021-09-29 23:23] junlincc commented on #16909
@SamEBae This's weird. A lot of users have upgraded from 1.2 to 1.3 and we haven't heard this issue.

@nytai may know?

[2021-09-30 00:14] junlincc commented on #6774
@pavitranrambo hey! This is super cool and we would like to bring it into superset but with Ecahrts. If you are interested in contributing or collaborating. please let me know! 🙏

[2021-09-30 02:33] SamEBae commented on #16909
@junlincc
might be newb question, but i was thinking of forcing the alembic migration somehow or reset it.
let me know if there's other reference of that on other issue or if that's even the right approach

[2021-09-30 04:43] #16801 closed

[2021-09-30 08:24] #16245 closed

[2021-09-30 12:57] #16882 closed

[2021-09-30 13:37] stephenLYZ commented on #16847
@pragyan019 Yeah. It's possible.

[2021-09-30 13:52] saberder opened #16920 "Export echart config"
After editing the chart i can export the sql query, but the chart is only available as an iframe.

Would it be possible to add a way to export the echart config?

[2021-09-30 14:18] #16844 closed

[2021-09-30 14:37] michael-s-molina commented on #15485
https://github.com/apache/superset/issues/16532 raised a bunch of other concerns about this screen. We decided to change the design of it to improve the user experience. Closing this issue.

[2021-09-30 14:57] mistercrunch commented on #6774
Do you refetch from the database or bring the drilldown data upfront? How do you know which dimension to drill into? What if there are multiple hierarchies?

[2021-09-30 15:00] JimCallahanOrlando opened #16922 "Windows 10 WSL2 Ubuntu 20.04 LTS $ docker-compose-non-dev.yml up (failed)"
Windows 10 WSL2 Ubuntu 20.04 LTS $ docker-compose-non-dev.yml up (failed)

#### How to reproduce the bug

Followed instructions in
"Installing Superset Locally Using Docker Compose"
"Docker Desktop recently added support for Windows Subsystem for Linux (WSL) 2, which may be another option."
https://superset.apache.org/docs/installation/installing-superset-using-docker-compose

1. Windows 10 / wsl2

[2021-09-30 15:15] mistercrunch commented on #6774
My take on "drill"-type interactions (drill down, drill through, drill across) is that we'll need a context-menu (or similar) since it's impossible to guess what the user expects or wants. Maybe there's a guessed interaction on a double-click.

Also I prefer a drill-across-first approach, since drill down requires upfront hierarchy semantics. Drill across allows to filter-and-pivot to any other di

[2021-09-30 15:25] krsnik93 opened #16924 "Chrome WebDriver Selenium generating all white screenshots"
Chrome WebDriver-powered Selenium is generating all white screenshots, for both charts and dashboards.

#### How to reproduce the bug

1. Create new chart
2. Save it
3. Wait for a bit for the screenshot to get generated (can inspect `/var/log/celery/*` to track progress)
4. Refresh window

### Expected results

Expect thumbnail screenshot to look the same as the chart.

### Actual results

Screens

[2021-09-30 16:30] yongchand commented on #16834
My coworker @yougyoung94 might know how to solve this issue

[2021-09-30 16:36] pragyan019 commented on #16847
@stephenLYZ @junlincc At the moment my organization is using Power BI, I am trying to accommodate superset in day to day tasks, the initial task that I have been assigned is to convert existing power bi/tableau dashboards to equivalent superset dashboards, it would be highly appreciated if we can get this chart in the upcoming releases :)

[2021-09-30 17:52] #16864 closed

[2021-09-30 17:55] #15483 closed

[2021-09-30 18:14] michael-s-molina commented on #16724
Closed by #16702

[2021-09-30 18:14] #16724 closed

[2021-09-30 18:40] #15638 closed

[2021-09-30 18:43] #15637 closed

[2021-09-30 18:48] #16342 closed

[2021-09-30 22:24] suddjian commented on #16834
@yongchand Happy to collab or review a PR

[2021-10-01 02:14] yougyoung94 commented on #16834
@suddjian I opened a PR:):) Waiting for your review 🙏

[2021-10-01 03:28] khanh291999 opened #16929 "Does Apache Superset support web components? Instead of using embedded iframes"
I'm using Angular 11. Is there anyway to integrate Apache Superset web components into Angular11 ?

[2021-10-01 05:01] zhaoyongjie commented on #16766
Hi @rubypollev, thanks for your Issue, I will fix it asap.

[2021-10-01 06:02] junlincc commented on #15717
@michael-s-molina 🙏

[2021-10-01 07:25] jinghua-qa opened #16932 "[dashboard edit] deleting components in dashboard show error"
When deleting components in COVID dashboard, Unexpected error: TypeError: Cannot read properties of undefined (reading 'parents') is shown.

#### How to reproduce the bug

1. Go to example COVID Vaccine Dashboard
2. Click on dashboard edit button
3. Delete dashboard components
4. See error

### Expected results

no error when deleting dashboard components

### Actual results

error when deleting d

[2021-10-01 08:14] NgxHaiiDanx commented on #13949
I'm facing the same issue although i still can query data from Gsheet. Is this normal?

[2021-10-01 08:25] kamalkeshavani-aiinside commented on #16697
@junlincc I saw a fix for this. https://github.com/apache/superset/pull/12742

But unfortunately, this works only on legacy charts and not on new echarts.
![image](https://user-images.githubusercontent.com/74634977/135588589-11dd924a-0cee-441f-bf7d-5a21a4fdd59c.png)

@graceguo-supercat Can you see if we can fix the same for new echarts as well?
Also, this only checks for jinja filter used in virtu

[2021-10-01 08:43] jinghua-qa commented on #16891
It looks to me bar and area chart is the most inconsistent one amount popular charts, when add bar chart and area chart to dashboard the color change. I think i saw pie chart but i can not repro now.
<img width="1167" alt="Screen Shot 2021-10-01 at 1 36 28 AM" src="https://user-images.githubusercontent.com/81597121/135591181-2c3109df-272c-4423-80bb-e7cfa92a1c7d.png">
<img width="1140" alt="Screen

[2021-10-01 09:08] Rispectech commented on #16714
so these changes are only on the UI and passing the option to the DBMS  or do we need to do more?

[2021-10-01 12:43] oguzhanyediel commented on #13345
Any update?

[2021-10-01 13:38] michael-s-molina commented on #16792
@geido @eschutho @lyndsiWilliams I compiled the contributions so far, added some more, and mounted the first version in the PR's description.

[2021-10-01 13:50] geido commented on #16891
I was sure that I have seen the issue affecting most of the charts. When saving the chart again after adding it to the dashboard, the color would change. However, I cannot reproduce it now and after re-testing, it seems to work fine for the charts that I tested so far.

[2021-10-01 14:06] maddyobrienjones commented on #13345
no updates from my end

[2021-10-01 15:13] #16436 closed

[2021-10-01 15:18] #16920 closed

[2021-10-01 15:39] rusackas commented on #16792
One small nit... the philosophy of using data attributes for Cypress is accurate, but thus far we've been preferring `data-test` instead of `data-cy` as outlined above.

[2021-10-01 16:04] michael-s-molina commented on #16792
Thanks for the review. Fixed.

[2021-10-01 16:21] etr2460 commented on #16792
Top level comment, do we want to summarize a list of Dos and Don'ts like Evan did for the emotion guidelines at the top? Not sure if that pattern always works

[2021-10-01 16:25] etr2460 commented on #16792
One other comment, if you could link an example test file or two to the guidelines (ideally a direct link to the current sha so it never changes) that could be helpful. Sometimes showing works better than telling (and honestly, i love being able to copy a test file as a template for the new one i'm making)

[2021-10-01 16:27] jamesrayoub opened #16937 "Add Quarter Functionality to DATETRUNC Function in Advanced Time Range"
**Is your feature request related to a problem? Please describe.**
When I want to display metrics at a quarterly grain, I sometimes want to restrict the time range to the last few quarters and not include the current quarter. Unlike other grains, I cannot truncate to the beginning of the quarter in the Advanced Time Range filter

**Describe the solution you'd like**
Ability to truncate by filter

[2021-10-01 16:28] etr2460 commented on #16792
Oh sorry, one more thing (but not blocking):

Under cypress you have:

Isn't that the opposite as what we recommend for RTL? If it's best practices, then I guess it's fine. But maybe we should further call out why we have 2 different recommendations?

[2021-10-01 16:55] JimCallahanOrlando commented on #16922
Here is a more complete command log:

$ docker-compose -f docker-compose-non-dev.yml up
[+] Running 7/7
 ⠿ Network superset_default        Created                                                                                                             1.1s
 ⠿ Container superset_cache        Created

[2021-10-01 17:06] michael-s-molina commented on #16792
That was my initial thought also but I preferred to add more context to each DOs and Don'ts because some are not very clear without the context, e.g. "Do not use Cypress". But it's following the Do's and Don't approach:
Dos:
- Write simple, standalone tests
- Avoid nesting when you're testing
- Keep accessibility in mind when writing your tests
...

Don'ts:
- No warnings!
- Don't use act unnecessa

[2021-10-01 17:55] srinify commented on #16922
hey there Jim Callahan, have you run the db migrations? I believe it's `superset db upgrade`

I will also mention that Superset isn't tested / confirmed as working on Windows (even with WSL) so just heads up

[2021-10-01 18:07] jinghua-qa opened #16938 "[dashboard][error msg] Can we have specific error info in the error title"
When user encounter error in dashboard, can we show the specific error information rather than 'Unexpected error'?

For example for Missing dataset error, can we show the error title to bubble up as 'Missing dataset' rather than 'Unexpected error'? It will be easier for user to see specific error right away.

<img width="674" alt="Screen Shot 2021-10-01 at 10 48 24 AM" src="https://user-images.git

[2021-10-01 18:09] srinify commented on #16659
@SunnyZ-L hm can't replicate at all. Have you tried updating your docker images and seeing if it still occurs? Have you made any tweaks to your docker compose file that could be impacting this?

[2021-10-01 18:09] junlincc commented on #16938
@stephenLYZ 🙏 "Missing dataset" should do

[2021-10-01 21:48] betodealmeida commented on #13949
@NgxHaiiDanx can you create a ticket at https://github.com/betodealmeida/shillelagh/issues and share the spreadsheet URL so I can take a look?

[2021-10-01 22:00] deepto98 commented on #16904
@jinghua-qa Hi, I'd like to work on this issue, can you please assign this to me?

[2021-10-02 05:09] djouallah commented on #11298
I have the same problem, the total of division is wrong
![image](https://user-images.githubusercontent.com/12554469/135704367-e7df4555-e445-4fa0-a028-5140dc7562f6.png)

[2021-10-02 05:45] Gradsta opened #16942 "{{ from_dttm }} resolves to None when used in a virtual dataset that populates a dashboard filter's values"
When selecting a time range on a dashboard, I'd like that time range to be applied to any virtual datasets that populate a dashboard filter's values. I was experimenting with the `{{ from_dttm }}` and `{{ to_dttm }}` variables but the `{{ from_dttm }}` variable is resolving to `None` which causes an error. The `{{ to_dttm }}` variable appears to resolve just fine.

#### How to reproduce the bug

1

[2021-10-02 08:47] recoshet commented on #16529
Set in ADDITIONAL PARAMETERS `charset=utf-8`.
This error occurred to me when connecting to MySQL. Because the default is the wrong encoding for your data in the database.

[2021-10-02 10:38] lihan commented on #13003
+1 for this

[2021-10-02 15:20] 1nF0rmed commented on #16938
Was wondering why we would need to do so? Doesn't the `See more` part already give more context if needed in this case?

[2021-10-02 19:49] yongchand opened #16944 "Use refresh instead of force refresh during auto-refresh"
**Is your feature request related to a problem? Please describe.**
I know that currently an auto-refresh of dashboard is force refresh which is removing cache and querying again. I personally think this is very inefficient and it is better to use regular refresh. Let us say user A entered in dashboard with 1 min auto refresh at 12:00:00, and user B entered at 12:00:30. Then, force refresh will occ

[2021-10-03 11:03] oguzhanyediel commented on #13345
Thanks for the quick reply @maddyobrienjones

I encountered the same error a couple of days ago. I don't know what I will do because I can't remove the user although all charts and dashboards created by that user have been deleted.

By the way, the reason that I want for the user removal is the following situation.

<img width="816" alt="add_to_dashboard_error" src="https://user-images.githubuserc

[2021-10-03 15:03] Artem-fb commented on #15855
hello guys! @betodealmeida @junlincc
what about this problem? Do you have some estimate whet it will be done?

[2021-10-03 18:39] toth2000 commented on #16775
I am looking into it.

[2021-10-03 18:43] winterrobert commented on #2571
+1

[2021-10-04 04:09] akizminet opened #16951 "Boxplot only shows a `<NULL>` in x-axis"
Boxplot only shows a `<NULL>` on the example chart.

Generated query:

[code]

#### How to reproduce the bug

1. Clone superset from github and start with `docker-compose -f docker-compose-non-dev.yml up -d`
2. Login and go to Chart. Choose Box plot
3. See error

### Expected results

Boxplot shows multiple regions in x-axis

### Actual results

Boxplot only shows a NULL in x-axis

#### Screenshot

[2021-10-04 04:44] averma111 commented on #16261
@etr2460  my apologies I didnt get time to work on this bug.I am pulling out my self.

[2021-10-04 05:31] #16766 closed

[2021-10-04 06:17] djouallah opened #16952 "Pivot table summary returning wrong results"
I am using Preset Cloud, so not sure which version is used, as far as I can see Pivot table summary generate only 1 SQL Query, I would expect that it generate two.
- one for the rows
- another for the summary

see the results of the division which is wrong Actual/ Budget, I don't know how to tell superset to keep the same metric definition for the summary rows
![image](https://user-images.githubus

[2021-10-04 07:19] oguzhanyediel commented on #13345
My second problem is solved by @nytai He told me that any user who wants to add a chart to any dashboard may have to add himself/herself as an owner of the dashboard.

The other error 'Associated data exists, please delete them first' is still ongoing.

[2021-10-04 10:04] Ayesha-Siddiqa2 opened #16954 "Custom string suffix for metrics"
Adding custom string suffix to metrics using D3 format

**Expected results**
Being able to add suffixes like (GB,Mbps, dBm) using D3 format
Example: I should see xx GB when I query a particular metric

**Actual results**
Not able to add any string suffix in the d3 format input
Example: 826328149525 (Invalid format: 'GB')

**Screenshots**
<img width="1136" alt="Screen Shot 2021-10-04 at 15 52 54" s

[2021-10-04 11:10] EBoisseauSierra opened #16956 "I want `superset {im, ex}port` to *fail* if unsuccessful"
When the import of a dashboard export fails, the logger lists an exception but the Python script exits as successful. This is a bit counter-intuitive as the import/export has actually failed.

#### How to reproduce the bug

1. Import a non-working export ZIP archive,
2. The exception is caught by [that broad `except Exception` catch](https://github.com/apache/superset/blob/master/superset/cli.py#L

[2021-10-04 11:11] EBoisseauSierra commented on #16956
I understand this behaviour is intentional (this happens multiple times, plus `# pylint: disable=broad-except`)… but I'd like to discuss whether a *failing* script wouldn't be more appropriate.

This would surely make my life writing a Puppet manifest easier!

[2021-10-04 14:11] dpgaspar commented on #16956
Hi @EBoisseauSierra I agree, are you willing to open a fix PR?
feel free to ping for any help, if needed

[2021-10-04 14:32] stephenLYZ commented on #16938
I believe that for user experience the code level error reporting should be blocked and these errors should be placed in the console

[2021-10-04 14:33] EBoisseauSierra commented on #16956
of course (: ! I should draft something by the end of the week and I'll gladly ping you once the WIP PR is out.

[2021-10-04 14:34] dpgaspar commented on #16402
Hi @mandeeplohan, from my understanding your overriding FAB ldap Auth, can you:
- Offer a detailed explanation of what your trying to achieve with the override
- If without the override LDAP auth works

[2021-10-04 14:49] youngsol commented on #16679
![image](https://user-images.githubusercontent.com/4494723/135873085-4401cb33-410e-40c6-9162-7d85b011e9a0.png)
change this line to
[code]

[2021-10-04 15:18] nijcapur commented on #13373
I tried on latest version as well at local, it seems working fine as well, the issue was when i used the {{currentUserName()}} or {{url_param('xyz')}} it doesn't download. Need to verify the same in dev env. as well though.

[2021-10-04 17:09] akshay26031996 opened #16960 "SQL editor not opening"
When I am trying to open [sqllab](http://localhost:8088/superset/sqllab/), it is not showing the area for query editor. After I select the table from the left pane `See Table Schema`, the page becomes empty. Attaching the screenshot of both.

The following error appears in console after selecting the table. There is no error before that.
[code]
<img width="1440" alt="image" src="https://user-image

[2021-10-04 18:07] jinghua-qa opened #16961 "[color theme][dashboard] adding new chart to same dashboard change color of other charts"
When user adding new chart to a dashboard, existing charts will change color

### How to reproduce the bug

1. Go to explore and make a new chart
2. Click on save to save the chart to a dashboard with existing charts
3. Observe color of existing charts after adding a new chart to the dashboard
4. See error

### Expected results

Existing charts did not change color

### Actual results

Existing ch

[2021-10-04 18:16] jinghua-qa commented on #16217
color theme did not apply when change the color theme in dashboard

[2021-10-04 18:33] jinghua-qa opened #16962 "[dashboard color][meta data] one of the duplicated color theme 'D3 category 10' show as 'Superset_dafault' in meta data"
One of the duplicated color theme 'D3 category 10' show as 'Superset_dafault' in meta data

#### How to reproduce the bug

1. Go to Dashboard properties
2. Click on color theme and select D3 category 10 (duplicated, please select each one)
3. Scroll down to 'Advance'
4.Observe the color_theme in meta data
5. See error

### Expected results

Color theme name in properties will match the meta data c

[2021-10-04 19:36] rumbin opened #16963 "[alerts/reports] dashboard selector: list incomplete, type-ahead filtering broken"
The drop-down selection for determining the dashboard to be sent int an Alert/Report is utterly broken. On the one hand, the type-ahead filtering is never working; it does not even find the first entry of the list. On the other hand, many existing dashboards are not included on the list which is truncated to 100 entries.

#### How to reproduce the bug

1. Go to **Settings → Alerts & Reports**
2. C

[2021-10-04 20:12] rumbin opened #16964 "[explore] severe regression: ADD TO DASHBOARD refers to wrong chart origin dashboard"
Editing two charts of two different dashboards in a row can lead to having the Save Chart dialog refering to the wrong chart origin, i.e., to the dashboard where the formerly edited chart originated from.

#### How to reproduce the bug

1. Go to the list of Dashboards (or xour personal favorites)
2. Select any dashboard
3. Pick any chart of the dashboard and click __View in Explore__
4. Edit the c

[2021-10-04 20:32] rumbin commented on #16964
I am experiencing quite similar behavior when issuing the **Schedule Email Report** button on two different dashboards subsequently. In this case it can happen that the **New Email report** dialog does not open, but the **Email reports active** pop-up is shown, which in turn refers to the report of the former dashboard instead of the currently viewed dashboard.

Unfortunately, I am now failing to

[2021-10-04 20:34] etr2460 commented on #16960
Thanks for reporting, we can repro this (there seems to be an issue with the Webpack 5 upgrade in prod) and are currently working on a fix

[2021-10-04 20:36] rumbin commented on #16964
Debugging:

I deactivated all these feature flags temporarily, ran `superset init` and could still reproduce the issue:

[code]

[2021-10-04 21:34] rosemarie-chiu commented on #16572
@junlincc @evans this issue is reported again today

[2021-10-04 22:01] #16424 closed

[2021-10-04 22:11] #16709 closed

[2021-10-04 22:37] dharmic6 opened #16966 "An authenticated user can gain unauthorized access to sensitive information or functionality by manipulating specific parameters within the application."
A clear and concise description of what the bug is.

1. Login As User A
2. Go to user profile /superset/profile/userA/
3. Change the url from user A to user B like (/superset/profile/userB/)
4. Now you can see the dashboards, charts and activities of userB.

### Expected results

User A is not supposed to see dashboards, charts unless user B or admin provides access to it.

### Actual results

An

[2021-10-04 22:38] JoaquinPretell92 opened #16967 "How to add a new Country Map using Superset Own docker Hub?"
Hello,

I run superset on version 1.0.1 and i want to add my country map to it. Since i call the image from your Docker Hub repository, i understand i have to download the image and make a custom one.
The question is where do i have to upload my geojson.
From this documentation i read i have to put it in here superset/assets/src/visualizations/CountryMap/countries, but thats a path for a virtual m

[2021-10-04 23:10] dharmic6 opened #16969 "[LEGACY DATASOURCE EDIT]Java script validation is missing when user enters a 3rd party Default endpoint"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Authenticate to the application as a valid user. From "Data" tab click on the "Datasets" link.
2. For any available data set click on "Edit" button.
3. Click on the "USE LEGACY DATASOURCE EDITOR" button.
4. Fill up the form. Use the JavaScript payload "javascript:alert('NetSPI')" as the value of the "Default End

[2021-10-04 23:11] junlincc commented on #16967
Hi! you can take a look at those PRs as reference :)  you do have to add your file in superset-ui repo though. hope it helps!
https://github.com/apache-superset/superset-ui/pull/1334
https://github.com/apache-superset/superset-ui/pull/1319
https://github.com/apache-superset/superset-ui/pull/1267

[2021-10-04 23:12] #16966 closed

[2021-10-04 23:15] junlincc commented on #16966
hi @dharmic6, please follow instruction in https://github.com/apache/superset/security/policy to file security related issue. 🙏 thanks for filing and understanding, I will have to close and wipe this issue for now.

[2021-10-04 23:26] jinghua-qa opened #16970 "[dashboard][color theme] chart color are changed when refreshing dashboard"
chart color are changed when refreshing dashboard

#### How to reproduce the bug

1. Go to dashboard with multiple charts
2. Applied color theme to dashboard, for example supers color
2. Refresh dashboard
3. Observe color of each chart
4. See error

### Expected results

Refresh dashboard did not change color of chart

### Actual results

Refresh dashboard did not change color of chart

#### Scree

[2021-10-04 23:48] junlincc commented on #16964
@rumbin thanks for the details! to confirm, you ARE ABLE TO reproduce this issue with the above FeatureFlags on?

[2021-10-05 00:17] michellethomas opened #16971 "[sql_lab] Sqllab results not sorting float column correctly"
When I query a `float` column and try to sort the values in the sqllab results, the values do not always get sorted correctly (especially for larger numbers).

#### How to reproduce the bug

1. Go to sqllab
2. Query a column along with a float column (this typically happens with larger numbers)
3. Click the results header to sort the float column and see some numbers not in the correct order

For

[2021-10-05 00:48] junlincc commented on #16964
@rumbin
also 1. have you tried to reproduce it on dashboard that has NO filterboxes?
2. have you tried editing charts by changing the query, instead of just the color scheme? is it still a proble?
please let use know, thanks!

[2021-10-05 00:50] junlincc commented on #16971
thanks @michellethomas, is it a regression in latest deploy?

[2021-10-05 00:52] junlincc commented on #16970
@geido Let's create a new project in Projects for the color consistency ticket in one place

[2021-10-05 04:19] graceguo-supercat opened #16972 "[native filters] Filters displayed as out of scope for dashboard with nested tabs"
#### How to reproduce the bug

1. Create a new dashboard with nested tabs like this layout:
<img width="1199" alt="Screen Shot 2021-10-04 at 9 00 26 PM" src="https://user-images.githubusercontent.com/27990562/135958048-4b97e68e-6bb0-4026-87e4-32290d65a6f3.png">

Tab1 has 1 row of markdown, and a few nested Tabs.
In tab "nested Tab1" and "nested Tab2", each has only 1 chart.

2. Add a few filter co

[2021-10-05 06:38] rumbin commented on #16964
@junlincc
Yes, the issue is present with both the abovementioned feature flags turned off an on, respectively.
I also did execute `superset init` after toggling them.

[2021-10-05 07:41] rumbin opened #16975 "[box plot] INT/NUMERIC types → DB engine Error, No numeric types to aggregate"
While the ECharts Box Plot works with numeric columns of type FLOAT, a "no numeric types to aggregate" error is thrown for INT and NUMERIC/NUMBER(n,m) types.

#### How to reproduce the bug

1. Create a minimal example query in SQLLab and run it.
[code]
2. Click **EXPLORE** for visualizing it.
3. Choose **Box Plot** as visualization type.
4. Use **ts** as time column (as suggested by default).
5. C

[2021-10-05 07:47] rumbin commented on #16964
@junlincc
I performed some more tests and varied many possible influences.
* I created two dashboards that each only contain a single chart.
* No filter boxes on any of them.
* Using Firefox (v 92.0) now, instead of Chrome, just for sorting this influence out as well.
* Changing the query on the both the chart edits in explore as well.
* Using the landing page for navigating between the dashboards

[2021-10-05 08:11] geido commented on #16962
Let me have a look at this

[2021-10-05 12:36] mona-mk commented on #15738
@villebro today I pulled `1.3.0` and `1.3.1` images, and I still have this bug. Isn't it already included in one of the official releases?

[2021-10-05 13:00] #16834 closed

[2021-10-05 13:14] villebro commented on #15738
@mona-mk unfortunately due to our current multirepo setup, it's very difficult to cherrypick viz plugin fixes into official Apache releases after a release branch has been cut. But we should be cutting the 1.4 branch very soon, so if you can wait just a little while longer it will be included in an official release.

[2021-10-05 15:15] perrfect commented on #9127
Hello.
I have the save issue.
I use a docker-compose and latest code from the github repo.
I've tried to add python-ldap in all requirement files, but got error: "python-ldap library is not installed".
After that i had tried install python-ldap directly in a docker container, but got error: "ERROR:flask_appbuilder.security.manager:(0, 'Error')"
How can fix it and which requirements file should i u

[2021-10-05 15:34] Eragra3 commented on #13398
Hello, this seems like a relatively simple feature, but would make a lot of stuff easier.

Is this item still on the roadmap?

[2021-10-05 16:03] stephenLYZ commented on #16846
@jinghua-qa I tested it in my local master branch and it works fine. Is there more reproduce context?

[2021-10-05 16:07] stephenLYZ commented on #16847
@pragyan019 Cool~ I think I can take some time to implement this requirement. cc @junlincc

[2021-10-05 16:29] yongchand commented on #16944
Any thoughts on this issue :) ? @betodealmeida

[2021-10-05 16:44] etr2460 commented on #16960
This should be resolved in the master branch now

[2021-10-05 16:44] #16960 closed

[2021-10-05 17:14] markmckenziecan commented on #16960
I did "docker-compose down; git pull origin master; docker-compose up" and I'm still seeing the issue.

Which pull request fixed it?

[2021-10-05 17:19] markmckenziecan commented on #16960
The TypeError I'm seeing is slightly different than above, but the failure mode is the same:

![image](https://user-images.githubusercontent.com/86323899/136071766-843dc9b1-90b0-4ed9-9865-2444ab9e1f9d.png)

[2021-10-05 17:55] jinghua-qa opened #16979 "[color theme][chart] Series in the chart is starting in a random order of color"
Series in chart is starting in a random order of color

#### How to reproduce the bug

1. Go to explore, make a gauge chart with multiple series
2. Click on color theme and observe the color number
3. See error

### Expected results

Series will follow the color order

### Actual results

Series seems appear in random color order

#### Screenshots

<img width="1431" alt="Gauge_d3_10" src="https://

[2021-10-05 17:57] jinghua-qa commented on #16979
This issue seems exist in other chart types
for example:
<img width="1489" alt="treemap superset color" src="https://user-images.githubusercontent.com/81597121/136077055-9961e22a-8600-43e8-9159-8bb7175d19c8.png">

<img width="1790" alt="graph_preset" src="https://user-images.githubusercontent.com/81597121/136077169-1ca04594-9b06-4429-a585-ee53904edbaf.png">

Better to check all Popular charts and

[2021-10-05 18:05] jinghua-qa opened #16980 "[color theme][chart] When #series is larger than #color, the color start from random order to repeat"
When number of series is larger than number of color, the color start from random order to repeat

#### How to reproduce the bug
Use clean_sales_data
1. Go to explore, create mixed time series chart
2. Select 'month' in group by
3. Select a color theme of 10 (for example d3 category 10)
4. See error

### Expected results

When #series > #color, the series start from 1st color then repeat 1st color

[2021-10-05 18:19] etr2460 commented on #16971
@junlincc this is not a recent regression, it's been around for a while now

[2021-10-05 18:41] rosemarie-chiu commented on #15855
We fixed permission on import button but missed out on export button. Following up on this. @betodealmeida @yousoph

[2021-10-05 19:06] graceguo-supercat opened #16981 "[dashboard][markdown] User can remove markdown component in dashboard view mode"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. create new dashboard,
2. add markdown component
3. save dashboard
4. Open dashboard, and hover on the markdown component
5. you can click trash icon to remove markdown component

### Expected results
- Only in dashboard edit mode can change dashboard layout and components.
- Only dashboard owner can edit dashboa

[2021-10-05 19:36] srinify commented on #16723
Can we close this @dpgaspar ? 🤔

[2021-10-05 19:41] danunafig opened #16982 "Does not work with clickhouse source. Cannot create a dataset"
Updated as stated here https://superset.apache.org/docs/databases/clickhouse

#### How to reproduce the bug

1. Followed instructions.
2. Connected to database succesfully
3. Was able to connect and get dataset from other tools
4. Failed with adding dataset using superset
5. Tried to clickhouse-sqlalchemy and sqlalchemy-clickhouse didn't help

### Expected results

Working dataset

### Actual resu

[2021-10-05 20:52] rosemarie-chiu opened #16983 "[Homepage Favorite tab] When click on "View all" from favorite tab, get error"
When clicking on "view all" from homepage favorite tab, getting error

#### How to reproduce the bug

1. Go to homepage
2. Click on favorite tab for dashboard
3. click on View All
4. See error

### Expected results
It used to lead user into dashboard list with favorite filter on

### Actual results

https://user-images.githubusercontent.com/52086618/136100277-17c2d5e0-49b9-4041-ae04-3b5ac2abd4c0.m

[2021-10-05 21:12] jinghua-qa commented on #16983
Chart favorite -> View All also broken

[2021-10-05 21:18] jdbranham commented on #12516
Related - https://github.com/apache-superset/superset-ui/pull/1390

[2021-10-05 21:45] xingyc15 opened #16984 "JINJA Template does not work with calculated time column"
Seems that there is a bug in using Jinja template in calculated columns. The scenario is that I set a Jinja template in a **Calculated Columns** and I use this column as the **Time Column** of a time series bar chart (I tried both time series bar chart v1 and v2), in the query, the template is not replaced. But the Jinja template set in calculated columns that are not used as time columns works fi

[2021-10-05 22:06] xiaoyi-dou opened #16985 "box plot series displaying <NULL> as series/category on x-axis"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Setup using Docker installation, go to any example box plot (Degrees vs Income or Box Plot)

#### Screenshots

![image](https://user-images.githubusercontent.com/78451634/136108119-d2fada6d-d9a5-4282-a107-2c93f1657928.png)

It's supposed to look like this (using hosted preset):

![image](https://user-images.gith

[2021-10-06 03:32] ravituduru opened #16986 "How add InfluxDB on Superset"
How To connect the InfluxDB on Superset.

We tried to add InfluxDB connection details in superset UI but we are getting following ERROR
"Can't load plugin: sqlalchemy.dialects:influxdb"

[2021-10-06 08:02] #16846 closed

[2021-10-06 11:18] alexryndin opened #16989 "Multiple Line Charts doesn't work since 1.3.1"
#### How to reproduce the bug

1. Go to Charts
2. Click on any Multiple Line Charts
3. See error.
Actually after a little loading nothing is displayed except whole gray screen, and developer console shows a whole lot of errors, including, but not limiting to `Uncaught TypeError: colnames is undefined", "The above error occurred in the <DataTablesPane> component:`, `Warning: Each child in a list sh

[2021-10-06 18:33] JimCallahanOrlando commented on #16922
@srinify ,
I should clarify the Superset Docker image works fine, if you follow the step by step instructions on DockerHub (which includes the step for database migration).

I installed Docker-Desktop on Windows 10 and then ran "docker pull" from WSL2 Ubuntu Linux command line and was able to access Superset from Chrome web browser running in Windows using the localhost URL.

[2021-10-06 19:34] jinghua-qa opened #16995 "[Explore] Owner can not change the name by just clicking on the title"
Owner can not click and edit on the chart name when open a saved chart, can only do click edit when creating a new chart.

#### How to reproduce the bug
1, Explore saved chart own by you
2, Hover mouse over to chart's title
3, Click on chart title

### Expected results
1,Should see tooltip "Click to edit"
2,Title is successfully edit and saved

### Actual results
There is no opportunity to edit ch

[2021-10-06 19:47] junlincc commented on #16985
Did we make changes on the sample data? @betodealmeida ?

[2021-10-06 20:20] junlincc commented on #16989
gotcha. I agree, it will be removed soon.
@zhaoyongjie @villebro can we easily migrate the old multi-line chart to mixed time series chart?

[2021-10-06 20:34] junlincc commented on #16969
@dharmic6 Unfortunately, we will not be able to fix any issues in the legacy datasource edit form. is it a specific reason that you are still using it, instead of the new modal?

[2021-10-06 20:43] junlincc commented on #16982
@dandanhub thanks for filing, can you provide the rest of the info required(video, screenshot, version, FF etc in the bug report template? thanks.

[2021-10-06 20:57] manavjaiswal opened #16996 "Sql lab not loading on fresh db init"
After fresh installation, chose not to load examples and added my own charts and a dashboard to test. Works fine till here. Then click on SQL Editor from under SQL Lab, the page does not load with no api calls as in the screenshot. I only see an error in console ( attached screenshot).

#### Screenshots

![Screen Shot 2021-10-06 at 1 50 47 PM](https://user-images.githubusercontent.com/13721953/136

[2021-10-06 23:22] eschutho commented on #16792
Can we add more explanation to these points so that people reading in the future also understand the why:

Do not use it for elements that can be queried with find
It should only have one assertion at a time

[2021-10-06 23:31] yousoph commented on #16963
Hi @rumbin !

Thanks for the detailed report and video! I have yet to be able to reproduce the issues you're seeing 😞  - could you help with a bit more info?
- How many dashboards do you have?
- If you scan through the dropdown list, do you see the Superset Training dashboard listed? I noticed you were searching for it, but the search isn't working for you (as you pointed out)

[2021-10-07 00:56] danunafig commented on #16982
Here they are

![Superset1](https://user-images.githubusercontent.com/761342/136303704-c6efded0-ecba-40ab-9110-fc92bcf6b6b8.png)
![Superset3](https://user-images.githubusercontent.com/761342/136303707-980b4cec-6a12-4af9-b3ea-a9672157cfeb.png)
![Superset2](https://user-images.githubusercontent.com/761342/136303709-ada9b8f6-f283-4123-8835-78abf67bf215.png)

[2021-10-07 00:56] danunafig commented on #16982
Same error

[2021-10-07 01:44] afpd commented on #16982
I get the same error for helm deployed superset with the section

[code]

Logs say
[code]

And later when trying to add clickhouse db, the very same error appears
[code]
and the rest is the same as in the original report.

clickhouse-server                    18.16.1+ds-7.2+b1

[2021-10-07 05:21] vishalsawale9 opened #17002 "CVE found in Apache Superset Release 1.3"
### Issue Description

We have been using Apache Superset on Kubernetes. We scan images with Trivy to identify any vulnerabilities in our container images.

In one of our routine Trivy scans against the last released Superset image tag [1.3](https://github.com/apache/superset/releases/tag/1.3.0), we identified a few npm package vulnerabilities. We reached out to ASF security mailing list, but per

[2021-10-07 10:37] kgabryje commented on #16972
@graceguo-supercat Thanks for adding very detailed description and repro steps, that cut down time spent on debugging by half! 👍

[2021-10-07 11:09] ValentinC-BR opened #17010 "Chart config is reset when changing the datasource"
The chart configuration (time column and grain, metrics, filters, etc.) is lost if the dataset (= source table) is changed.

#### How to reproduce the bug

1. Edit a chart (or create a new one)
2. Click on change dataset
3. Choose another dataset
4. See error (the configuration is lost)

### Expected results

The chart configuration should remain unchanged

### Actual results

The chart configurat

[2021-10-07 11:19] ValentinC-BR opened #17011 "SQL Lab queries can't be stopped"
When a SQL query is running is SQL Lab, it can't be stopped.

#### How to reproduce the bug

1. Go to SQL Lab
2. Write a query and run it
3. Click on STOP
4. (Nothing happens)

### Expected results

The query should be stopped

### Actual results

The query is still running

#### Screenshots

(Imagine a query running in the SQL Lab...)

### Environment

(please complete the following information):

[2021-10-07 11:21] ValentinC-BR commented on #15603
I have the exact same issue with Superset v1.3 ...

My config :
- browser type and version: Google Chrome Version 94.0.4606.71 (Oficial build) (x86_64)
- superset version: 1.3.0
- python version: 3.7.9
- node.js version: doesn't apply, I run on Kubernetes, using gunicorn as server
- source : AWS Athena
- any feature flags active: /

[2021-10-07 11:31] ValentinC-BR opened #17012 "[KPI with trendline] Time comparison isn't displayed when the value is stable and equal to 0"
When a KPI is equal to 0 during 2 periods, the time comparison (+ 0%) isn't displayed

#### How to reproduce the bug

1. Create a KPI with trendline
2. Write "0" in Metrics / Custom SQL
3. Chose time comparison period = 1
4. Run

### Expected results

"+ 0%" (and the subheader !) should be displayed next to the number

### Actual results

There is no subheader nor time comparison.
However, this wo

[2021-10-07 12:23] #16972 closed

[2021-10-07 15:31] konfiot commented on #16985
Same issue, also docker install, on both example datasets (wb_health_population) and our datasets
The SQL Command seems fine, it outputs the correct results in SQL Lab

[2021-10-07 17:04] geido commented on #16970
Hello @amitmiran137 I can move this to the top of my list. No problem

[2021-10-07 17:07] amitmiran137 commented on #16970
@geido  thanks friend ✌️

[2021-10-07 17:36] serenajiang opened #17020 "New time series charts show all data missing if one part of "contribution" is missing"
When you create a time series viz with a groupby and contribution `Total`, if at least one of the categories is missing a value for the date, no data points for that date are shown.

This is sort of reasonable - technically, the data could be missing for the missing category, so it is not clear how to calculate contribution. However, in most cases, the missing data point corresponds to the value 0

[2021-10-07 18:31] kevinwen2k opened #17021 "CLIENT_CACHE flag in superset 1.2 breaks the dataset in explore page"
Hi guys, I found a bug with the flag CLIENT_CACHE in config.py that break the explore page (/superset/explore/?form_data=%7B"viz_type"%3A"table"%2C"datasource"%3A"281__table"%2C"url_params" ). Here’s the step to reproduce:

1. In superset/config.y, set the flag to true by "CLIENT_CACHE": True, .
2. Restart server (superset/gunicorn).
3. Go to Dataset list page (/tablemodelview/list/).
4. Click on

[2021-10-07 20:21] cccs-jc commented on #13572
I have encountered similar issues with Trino columns. Trino supports nested data types such as an array of struct with many fields. Some of these fields can be arrays of other struct etc. So the type of the column can be quite long
[code]

When you try to save a dataset containing columns like this it can fail because Superset's DataSet Model only allocates 32 characters to store the type of the c

[2021-10-08 07:41] denbon05 opened #17030 "In Sql Editor query input disappear, and after selected table schema everything disappear too"
After added [some permissions](https://drive.google.com/file/d/1Hvxo9vXPiBzPGYWNbBrmK_AOxb6TEc_N/view?usp=sharing) for _Public_ role I noticed that in **Sql Editor** [disappear query input](https://drive.google.com/file/d/1LN4_cHmfkR0L8n-jdRJulpQ4raKJxGkJ/view?usp=sharing) (port 8088), then I selected **table shema** and[ this tab data is gone](https://drive.google.com/file/d/1nGzBSU9yyRGnuhg8f2-i

[2021-10-08 09:13] alfmarcua opened #17032 "Examples do not have datasource field via API"
In a fresh install from scratch, after loading superset examples, those examples do not have the field datasource from /api/v1/chart/{id}. If we create a new chart, it appears correctly.

### Expected results

Example's charts should have datasource field when accessing them via API: /api/v1/chart/{id}.

### Actual results

Only new charts have datasource  field when accessing them via API: /api/v

[2021-10-08 12:01] charlesguo404 commented on #10483
Same issue, our password include %
We got error as below:
`ValueError: invalid interpolation syntax in 'postgresql+psycopg2://username:xxx!xxx%@localhost:5432/superset' at position 56`

[2021-10-08 15:12] ul-fra opened #17035 "Unnecessary SQL subquery for fetching diagram data"
First of all I have setup Superset with the current docker image (https://superset.apache.org/docs/installation/installing-superset-using-docker-compose) on an AWS EC2 instance. I've also installed superset on my local laptop (https://hub.docker.com/r/apache/superset) but had the same thing.

After registering the AWS Athena driver and an dataset, I have created a simple time series diagram with a

[2021-10-08 15:22] Dr9vik opened #17036 "time series {name} chart and command join"
this is standart superset time series bar chart:
![vivaldi_0MqYMCNKc7](https://user-images.githubusercontent.com/36520921/136579194-d97d2bbd-a971-44d9-bc02-fc982276b61b.png)

query:
[code]

request that should have been:
[code]
why does superset add this request?
[code]
This JOIN increases the data loading time
Old superset works fine

[2021-10-08 17:54] #16981 closed

[2021-10-08 17:55] afpd commented on #16982
Issue persists with the 21.9.4.35 as well

[2021-10-08 20:20] rumbin opened #17042 "[box plot] rows pill shows aggregated number; row limit can be hit silently"
Explore's pill indicator of the number of result rows is showing wrong numbers for Box Plots.
Instead of the number of rows returned from the DB query it displays the number of _aggregated_ rows.

This way, users have no clue if the row limit kicked in and the box plot is based on incomplete data.

Furthermore, the row limit is...
* not adjustable for this plot
* not communicated to the user
* app

[2021-10-08 20:58] jinghua-qa opened #17043 "[Native filter] Numerical filter can not select when the column has value range 0-1"
In my dataset, column value is from 0-1, when i create numerical filter using that column, i can not select on the filter range.

#### How to reproduce the bug
Precondition:
Have column with value from 0-1
1. Go to native filter and create numerical filter using the column with value 0-1
2. Try adjust the filter range
3. See error

### Expected results

Numerical filter can work with column value

[2021-10-09 02:12] kiakaku commented on #11195
+1

[2021-10-09 03:14] belgren commented on #16995
@junlincc @jinghua-qa I opened a [draft pr](https://github.com/apache/superset/pull/17047) to explicitly allow owners of the chart to edit the title. If this approach makes sense, I'll change the status from draft to ready.

[2021-10-09 13:45] maxcapraro opened #17049 "Import of datasources (`superset import-datasources`) fails"
The import of datasources (e.g. the connection to a PostgreSQL database) fails when using `superset import-datasources`.

#### How to reproduce the bug

First, I performed an export of a database connection:

1. Spin up a new docker container (from my own image which is basically `superset/latest` + my config file)
1. Log into the application and navigate to `databaseview/list`
1. Create a new dat

[2021-10-11 03:38] graceguo-supercat opened #17053 "[native filters][cascading filter] Parent level filter component is hidden"
#### How to reproduce the bug

1. Create a new dashboard with native filters like this:

<img width="1451" alt="Screen Shot 2021-10-10 at 8 29 59 PM" src="https://user-images.githubusercontent.com/27990562/136729287-b717944c-6426-4cc1-8378-af55171942d0.png">

in the dashboard, 1 chart is only filtered by "Region", 1 chart is only filtered by "Country".  Country filter is dependent on Country filte

[2021-10-11 09:47] geido commented on #16792
@michael-s-molina @eschutho The official documentation goes in great length explaining the logic behind this. It is not only the fact that the `afterEach` might not be reached (for instance, by refreshing Cypress in the middle of the test you would build a partial state) but also to keep the ability to work with dangling state https://docs.cypress.io/guides/references/best-practices#Using-after-or

[2021-10-11 10:36] akizminet commented on #17035
You need to remove series limit to remove sub query.

[2021-10-11 11:11] kokila143 commented on #11247
Hi everyone,
I have been trying to achieve by pass login page in superset. I couldn't find the perfect source for this. I have tried so many methods still I couldn't achieve it. If anyone tried or found any useful links kindly share.
Thanks in advance.

[2021-10-11 12:39] jhult commented on #15565
It would be great to have this feature!

This is related to #16298 (which is for area charts). It has more details and open pull requests.

[2021-10-11 14:34] sas1024 commented on #16691
I confirmed this bug.
Also superset 1.3.0
<img width="956" alt="Screenshot 2021-10-11 at 17 33 52" src="https://user-images.githubusercontent.com/7388179/136808352-372a3fdc-f7ec-4b9d-ac0d-47a2e2a25174.png">

[2021-10-11 15:08] mbtronics commented on #13591
I am looking for a way to search a column with ILIKE (free text search).
Is that something that could be supported by native dashboard filters?

[2021-10-11 15:15] gregmazur opened #17058 "Apache Impala Error is not descreptive enough"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Go to 'SQL Lab'
2. Click on 'Run' for a query that has certain number of rows, usually more then 100 rows
3. Scroll down to '....'
4. See error
`2021-10-11 14:41:41,504 WARNING: superset.views.base: [SupersetError(message='impala error: bytes expected', error_type=<SupersetErrorType.GENERIC_DB_ENGINE_ERROR: 'GEN

[2021-10-11 16:48] russbeye commented on #12951
Heads up for anyone else that runs into this: We just experienced this exact issue, and solved it by escaping the `!` character in `!important`.

[2021-10-11 18:51] michael-s-molina opened #17060 "[native_filter]Filters being put in out of scope when first opening the dashboard"
### Expected results

The scope is calculated correctly when first opening the dashboard.

### Actual results

Filters being put in out of scope when first opening the dashboard.

#### Screenshots
https://user-images.githubusercontent.com/70410625/136839556-57bdeeb4-b3f2-4548-b338-9ec1e1599aa8.mov

### Environment

- browser type and version: Chrome 94.0.4606.71
- superset version: master

### Che

[2021-10-11 18:53] cploonker opened #17061 "Additional formats for download data e.g. json & sql inserts"
### Is your feature request related to a problem? Please describe.

Many times data queries in superset is required in different formats.

### Describe the solution you'd like

Add buttons for download data as "json", "sql inserts"

### Describe alternatives you've considered

For now we have to download data as CSV and go thru various conversion tools. Complex data types like maps etc are lost an

[2021-10-11 20:18] jinghua-qa commented on #16972
test case added

[2021-10-11 23:47] eschutho commented on #16792
Thanks @geido that article makes sense in the context of Cypress and interacting with the test after it has ran. I think it would be helpful to link that article in the docs, too.

[2021-10-11 23:54] eschutho commented on #15553
I'm closing this ticket based on @rosemarie-chiu. If you can still reproduce on the latest release, please feel free to reopen.

[2021-10-11 23:59] eschutho commented on #16824
We'll take a look, thanks!

[2021-10-12 00:04] eschutho commented on #16996
This is fixed now in the latest master.

[2021-10-12 00:04] #16996 closed

[2021-10-12 00:10] eschutho commented on #17030
Hi @denbon05 that bug has been fixed now. What version are you working from?

[2021-10-12 00:14] eschutho commented on #12434
This has been done

[2021-10-12 00:14] #12434 closed

[2021-10-12 01:00] jinghua-qa commented on #16808
Test cases added

[2021-10-12 01:12] jinghua-qa commented on #16806
test case added

[2021-10-12 01:43] suddjian commented on #17002
Thanks for bringing these forward. In the future, please send an email to security@superset.apache.org rather than opening a public issue.

I am investigating these and will update this comment as I go through them.

- GHSA-qx4v-6gc5-f2vv (esm) is an issue in a deeply nested dependency (mapbox-gl). In that library, esm is used for builds, which should affect this project.

[2021-10-12 02:04] jinghua-qa commented on #16332
Test case added

[2021-10-12 06:38] ul-fra commented on #17035
Thanks. When I remove the value (pushing the x button on the right hand side of the combo box) and rerun the query, the default value (100) will be used and therefore also the subquery is used . This is not what I would expect.
Furthermore, when I set the value to '0', the subquery does not appear - that's great - but when I save the chart the default value '100' appears again. That seems to be a

[2021-10-12 07:55] jinghua-qa opened #17071 "[chart viz][heatmap] Max and min value in heat map show 100% and 0%"
Max and min value in heat map show 100% and 0% in heatmap tooltip, which seems in accurate.

#### How to reproduce the bug

1. Go to cleaned sales data, open in explore
2. Select  following for explore options:
    viz type: heatmap,
    time column: order_date,
    X axis: country,
    Y axis: year,
    Metrics: avg(sales)
3. Select show percentage and legend, leave other option as default.
4. Ru

[2021-10-12 08:00] ul-fra opened #17072 "Cannot create two datasets based on tables with the same name"
I have an AWS Athena/Glue datacatalog. This catalog contains several databases, e.g. db-a and db-b. Both of these two databases contain a table "te_general". When I create a dataset for db-a.te_general everything is fine but when I create the second dataset based on db-b.te_general I get the error message "An error occurred while creating datasets: Dataset could not be created.".

In the logs I ca

[2021-10-12 09:33] linyuchen commented on #14864
Clickhouse create table must set a engine. But the clickhouse_sqlalchemy/drivers/base.py not set a default engine.

[code]

It works.

[2021-10-12 10:05] liumengkai opened #17073 "The results returned by the superset and clickhouse clients are different, and the client is correct"
superset 1.3.0
jdbc:clickhouse-driver==0.2.0 clickhouse-sqlalchemy==0.1.6
A clear and concise description of what the bug is.

I have two fields 'pid' and 'eid'

1.group by pid & eid,I got data like this（Part of the data）
![image](https://user-images.githubusercontent.com/31892927/136934599-14c5f294-e79b-4838-abed-92e768860c89.png)

2.add fliter  'pid in 6909' then run the query ,I got data like t

[2021-10-12 10:33] Karlodun opened #17074 "Database Impersonification with PostgreSQL not working anymore"
PostgreSQL impersonification is not working anymore

#### How to reproduce the bug

1. Edit database -->Security-->Impersonate logged in user
2. Wrong password for [logged_in user]

### Expected results

When Impersonate logged in user is enabled the connection should use login **and** password from logged in user and not from configuration.
(it was working couple of minor versions ago)
### Actual

[2021-10-12 12:37] cccs-jc commented on #13572
Sounds good. We will explore falling back to TEXT when the fields is of STRUCT/ARRAY type. This should eliminate the 32 chars issue while keeping the current functionality.

[2021-10-12 14:57] suddjian commented on #17002
😄 oh okay no worries then, didn't mean to give you the runaround

[2021-10-12 15:53] stevetracvc commented on #17043
This is related to an enhancement I'm proposing. The Select component has a step size option, but it isn't implemented in the UI. See #16591

[2021-10-12 18:07] Maannniii opened #17076 "[Urgent] Unable to load superset stuck in welcome page post login"
Superset docker-compose deployment not proceeding after login. Returns 404 for  `/static/assets/images/loading.gif`

#### How to reproduce the bug
1. Clone superset repo.
2. `cd superset` and use `docker-compose up -d` to bring up containers.
3. Open developer tools and log in to Superset with admin creds.
4. Post login it redirects to http://localhost:8088/superset/welcome/ and is stuck there

##

[2021-10-12 18:21] castellanos-ricardo commented on #16793
@michael-s-molina Got it, I will work on this issue.

[2021-10-12 20:56] junlincc commented on #17036
@Dr9vik I couldn't think about what have changed, it is weird.
Couple of questions: 1. can you switch to  time series bar chart v2 in latest version and see the query is different (without JOIN)?
2. Is it only impacting the performance or is it also returning the wrong data?

[2021-10-12 21:43] Karlodun commented on #17074
https://github.com/apache/superset/blob/master/superset/db_engine_specs/base.py, lines 1050-1061
[code]
I think what is missing here is something like:
url.password = password  # this line is not sufficient

Either this is missing, or probably it was never there and my bugreport should be replaced by a feature request.

[2021-10-13 00:24] suddjian opened #17081 "[SIP-74] Superset 2.0 Breaking Changes"
## [SIP-74] Superset 2.0 Breaking Changes

**Status:** Voting

The following GitHub project can be used to track the status of individual proposed changes:
https://github.com/apache/superset/projects/35

### Motivation

Superset has built up a large number of complex behaviors with the aim of maintaining backwards compatibility. As such complexities build up, bugs appear and development becomes mo

[2021-10-13 01:49] zhaoyongjie commented on #17073
Could you post SQL generation from Superset? Did you have `eid == 303` records?

[2021-10-13 05:25] chen-ABC commented on #17073
@liumengkai    you can see this issue:  https://github.com/xzkostyan/clickhouse-sqlalchemy/issues/14

btw:
add FORMAT TabSeparatedWithNamesAndTypes
![image](https://user-images.githubusercontent.com/30097790/137072158-3f6c6dbe-bccd-4eb6-959e-0bcd4339719d.png)

sqllab retuen data is correct
![image](https://user-images.githubusercontent.com/30097790/137072382-da1ef583-96b2-4d8d-9e41-7a5d9286960e.pn

[2021-10-13 05:31] suddjian commented on #17081
The items we started with are mostly products of ad hoc brainstorming, not detailed analysis. We will likely want to decline some of those proposals and include others not yet listed.

[2021-10-13 06:00] jinghua-qa commented on #15554
test added

[2021-10-13 06:38] liumengkai commented on #17073
@chen-ABC thanks !
That's exactly what I want , not the filter problem,  after change my clickhouse url like
 'clickhouse+native://username:password@hostname/default' Everything works fine!
By the way,There are some errors in the information in the picture I submitted for the first time. They are different screenshots of the two queries. I have modified them. sorry about that:-)

[2021-10-13 06:38] #17073 closed

[2021-10-13 06:49] ValentinC-BR commented on #17010
What's more, we could previously (in v.1.1) change the datasource and use a pretty different table, and only the missing column was "broken". All other config parameters (dimensions to group by, filters, etc.) remained functional.

[2021-10-13 08:54] litsovyu opened #17082 "Add databases from linked servers."
Hello.
It would be very convenient to add databases from linked servers (we are talking about mssql).

Something like this:
mssql+pymssql://user:password@host:1433(port)/linkedserver.database

![Screenshot_2](https://user-images.githubusercontent.com/82654310/137100825-0911f748-170f-4947-aa90-ed6a2f0f5a89.jpg)

[2021-10-13 11:22] krsnik93 opened #17083 "Dashboard import fails due to schema mismatch"
Command `superset import-dashboards` fails because of following schema mismatches:

1. `ValidationError({'extra': {'allows_virtual_table_explore': ['Unknown field.']}})` on schema `ImportV1DashboardSchema` in https://github.com/apache/superset/blob/7e4c940314ab6b09a89cb6938b02cf5d3028ad8a/superset/dashboards/schemas.py#L279
2. `ValidationError({'query_context': ['Unknown field.']})` on schema `Imp

[2021-10-13 13:38] DBouwmans opened #17086 "Lots of filters leads to too large url"
Having too many filters leads to a too long url. I know we have A LOT of filters, we’re currently working on that (not our own preference either). However, I don’t think that superset should be able to create a url longer than a browser can handle. It also shows repetitive patterns.

#### How to reproduce the bug

1.	Create a dashboard with tabs
2.	Put a different table in your dashboard on every

[2021-10-13 17:05] ganczarek opened #17093 "Can't overwrite an existing dataset"
Superset fails to overwrite an existing dataset in SQL Editor. Request fails with `Exception: Dataset [examples].[Test] already exists` in `before_update` function.

#### How to reproduce the bug

1. Go to SQL Editor
2. Run `SELECT table_catalog, table_name FROM information_schema.tables`
3. Click `Explore`. Enter `Test` in `Save as new` field and click `Save & Explore`
4. Go back to SQL Editor
5.

[2021-10-13 18:18] #17060 closed

[2021-10-13 19:39] manavjaiswal opened #17098 "SQLAlchemy error on exploring virtual dataset"
#### How to reproduce the bug
Ran a query (redacted version) in SQL lab:
`select xx1, xx2, cast(concat(day, ' ', hour, ':', minute, ':00') as TIMESTAMP) as activity_date from xxxx WHERE xx1 = 'abc' limit 1000;`
Clicked on explore and saved it as new dataset. As the the chart creation view opened up with default values filled in for table type chart, I see the following as in the screenshot:

![Scr

[2021-10-14 01:20] harshgadhia opened #17103 "Operational Metrics for SuperSet"
**Problem**
I have installed SuperSet for some of our querying and visualizing needs. However, sometimes queries take longer than expected time to execute. Once the application is installed and running in a production, it is very vital to get operational insights for the application's performance. This kind of metrics is missing in SuperSet.

I am leveraging Apache SuperSet to enable stakeholders

[2021-10-14 01:52] harshgadhia opened #17104 "SQL Lab UI does not persist schema in the query tab"
### Steps to reproduce:

1. Go to SuperSet  -> SQL Lab -> SQL Editor
3. Choose Database `examples` (default postgres provided out-of-box as example) -> schema: `information_schema`
4. In the editor, run a query like:
`select * from collations`

### Expected results
The database selection done on the left side should be persisted in the query tab, and should be able to run a query without using ful

[2021-10-14 02:05] qinlz-1 opened #17105 "safari can not open web ui"
#### How to reproduce the bug

Use Safari to open the Superset Web UI on iPhone Or Mac

### Expected results

the superset web is accessible

### Actual results

web can not open

#### Screenshots

![IMG_2064 PNG](https://user-images.githubusercontent.com/80371132/136906531-3bb022c2-7358-46a3-8e08-e29da77ccc69.JPG)

### Environment

(please complete the following information):

- browser type and

[2021-10-14 03:10] yougyoung94 opened #17107 "auto refresh interval won't be updated"
A clear and concise description of what the bug is.

#### How to reproduce the bug

1. Click a dashboard
2. Set auto refresh interval: check the dashboard is refreshing at the right interval
3. Check out to dashboard list
4. Go to the dashboard again: check the dashboard won't refresh

### Expected results
When you go back to the dashboard, the dashboard should refresh at the right interval

### A

[2021-10-14 03:52] colleendowd opened #17108 "Please support CiviCRM"
*Please make sure you are familiar with the SIP process documented*
(here)[https://github.com/apache/superset/issues/5602]. The SIP number should be the next number after the latest SIP listed [here](https://github.com/apache/superset/issues?q=is%3Aissue+label%3Asip).

## [SIP-\<number>] Proposal for <title>

### Motivation

Description of the problem to be solved.

### Proposed Change

Describe h

[2021-10-14 03:53] rusackas commented on #17081
Thanks for kicking this off! I, for one, am enamored with the idea of NOT adding any big projects or committing to any huge bodies of work to pull this off, but rather just removing deprecated code paths, reducing feature flag complexity, and just cleaning house. We need to get over the hump of 2.0, and use it as practice in order to better plan for new initiatives for 3.0+ with reduced risk.

It

[2021-10-14 05:27] binxushy opened #17109 "Missed one/two record when query raw data in table of clickhouse"
SupserSet: 1.3.0
Clickhouse:  amancevice/superset:latest(Docker IMG),  ClickHouse server version 21.9.4 revision 54449.

SQL Editor query:
If  no data in a table such as pta.s_day_ont:
    we run "select count() from pta.s_day_ont" in SQL Editor, it show "The query returned no data".

if there are records in a table such as pta.s_day_ont:
the first records will be put as Headers but not data.

Cha

[2021-10-14 06:15] Cocktailpy opened #17110 "ConnectionRefusedError: [Errno 111] Connection refused"
superset use this command:
gunicorn -w 10  -k gevent --timeout 120 -b  0.0.0.0:16666 --limit-request-line 0 --limit-request-field_size 0 --statsd-host localhost:8125 "superset.app:create_app()"

but get error like this:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/gunicorn/instrument/statsd.py", line 127, in _sock_send
    self.sock.send(msg)
ConnectionRefused

[2021-10-14 06:27] villebro commented on #17098
@manavjaiswal thanks for opening this issue. The culprit here appears to be the way SQLAlchemy prefixes binding parameters with a colon character, and it ends up thinking there is a bind parameter called `00` due to the `':00'` concatenation value. I was able to reproduce on Sqlite, I'll see if there's a simple way of escaping these reserved characters.

[2021-10-14 11:36] Ashish7129 opened #17114 "Can we cache particular dashboard and refresh according to our given time interval?"
Hi all,

I am using superset for the last two months. I must say It is a beautiful tool for analytics and for its use. I came across one good problem in which I have to cache a particular dashboard and will refresh in a particularly given time frame. If User A, go to the dashboard (D1), which contains different charts with data. It must take some time to load all the data on the charts. If User B,