[2016-08-14 06:53] #939 closed

[2016-08-14 07:18] KrishMunot commented on #931
Which file is this from? Can you paste a link to its path here?
Thanks!

[2016-08-14 09:05] xrmx commented on #939
@mistercrunch bootstrap-toogle is still missing though?

[2016-08-14 16:15] seanDot7 commented on #926
I think there should be an approach to stop rendering. For example if I choose the wrong parameters and I want to stop it and re-render the data. This seems to be an common operation in my caravel app.

[2016-08-14 16:31] seanDot7 commented on #921
@DylanAlloy I got the same problem.

This is what I got. The only thing different is I set the database uri to my posgres database.
![image](https://cloud.githubusercontent.com/assets/5859702/17650388/07fadc2a-627f-11e6-94df-5f958040afb2.png)

And I can't edit tables. And when I click edit button of a table I got this:
![image](https://cloud.githubusercontent.com/assets/5859702/17650399/3f2996e6-6

[2016-08-14 17:21] xrmx commented on #921
Guys, please calm down. No need to post random screenshots or saying "nothing works". What would be helpful was to state your caravel version and post any eventual backtrace you've found in the logs.

[2016-08-14 17:21] DylanAlloy commented on #921
yeah I don't understand that at all. I can't contribute much more than this, I spent 48 hours for a work project trying to figure it out. Eventually I just tried a different dataset.

The thing that's weird is that it obviously reads from the tables and it works sometimes. Other times it just doesn't suddenly.

[2016-08-14 17:29] DylanAlloy commented on #926
@seanDot7 Agreed. I'm going to work on this as it really gets in the way of some cool viz. I also will work on adding better color coding to the world map. You'll notice countries with "very little data" are white (which makes them blend in with the background) and countries with no data at all are grey, making them visible when they are not represented.

I'll add these features and probably fork

[2016-08-14 22:18] wester55 commented on #585
Make sure you dont use cache, like Redis. I saw it still not works well.

[2016-08-15 05:16] jiamo opened #943 "npm run dev error"
Hash: ba3ea7d8af890096c32c
    Version: webpack 1.13.1
    Time: 22157ms
                    Asset     Size  Chunks             Chunk Names
        common.entry.js.map   747 kB       0  [emitted]  common
            common.entry.js   621 kB       0  [emitted]  common
        dashboard.entry.js  7.17 MB       2  [emitted]  dashboard
        explore.entry.js  5.69 MB       3  [emitted]  explore

[2016-08-15 06:23] PickLiDan opened #944 "how to format my Dttm fields to %Y%m%d"
i want  format my Dttm  fields to  %Y%m%d  , but i don't know how to set it   help help

[2016-08-15 08:24] jiamo commented on #943
After rm total node_modules and reinstall . It is fine.

[2016-08-15 08:43] PickLiDan commented on #944
sql is  ds <= '2016-08-15 16:41:25.000000'
but i want is ds <='20160815'
help help

[2016-08-15 09:03] xrmx commented on #944
what kind of datasource is that?

[2016-08-15 11:18] rlanda opened #945 "Google BigQuery Support"
Currently sqlalchemy does not support a bigquery dialect. Is there any way that BigQuery sources can be added to Caravel, apart from extending sqlalchemy to support BigQuery?

[2016-08-15 19:01] xrmx commented on #945
@rlanda take a look at druid support if you want an example on how this could be done

[2016-08-15 19:02] xrmx commented on #943
Closing then, thanks @jiamo for the update

[2016-08-15 19:02] #943 closed

[2016-08-15 19:57] rhp4515 commented on #935
Most recent commit from the master branch. Statics files are served after unpacking using `npm run prod`

[2016-08-15 19:59] xrmx commented on #935
@rhp4515 have you tried `rm -rf node_modules && npm install` again?

[2016-08-15 21:25] ascott commented on #714
@shkr knocked this out before i was able to get to it. 🎉
https://github.com/airbnb/caravel/pull/888

[2016-08-15 21:25] #714 closed

[2016-08-15 22:24] bkyryliuk commented on #921
@DylanAlloy , @seanDot7 - unfortunately with no logs it is really hard to debug the issue.
We cannot reproduce bug on our side.
It would be great if the next time you hit the issue you could attach the stacktrace.

[2016-08-16 00:04] aljones opened #949 "TIME_ROTATE_LOG_LEVEL is redundant?"
TIME_ROTATE_LOG_LEVEL appears to me to do the same thing as LOG_LEVEL.  Am I wrong?

Each one gets passed to the same api [here.](https://github.com/airbnb/caravel/blob/master/caravel/__init__.py#L39)

[2016-08-16 00:26] ascott opened #950 "[ui] do design review tweaks to sql-lab"

[2016-08-16 06:27] PickLiDan commented on #944
in  version 0.8.0  i cannot do it
but in version 0.10.0  i can do it by set "Datetime Format" in "Edit Table Column"

[2016-08-16 06:27] #944 closed

[2016-08-16 06:46] jalonsob opened #952 "Document that mapbox visualization requires MAPBOX_API_KEY"
Hi, I have been playing with new data for Caravel and It representation of data with the widget "Mapbox".

My data consist in a group of entries with an hour and each one has a coordinate LON-LAT (Float), each one with an unique and primary key. I thing that It could be a good example to get something like your example in this page:

https://camo.githubusercontent.com/59348346953e951d5895e12eb743a

[2016-08-16 07:01] PickLiDan opened #953 "Oracle backend: pandas Exception : KeyError"
During handling of the above exception, another exception occurred:

[code]

[2016-08-16 07:04] PickLiDan commented on #953
My caravel version is : 0.10.0
Download url is :  https://github.com/airbnb/caravel/tarball/0.10.0

[2016-08-16 08:20] xrmx commented on #949
@aljones ENATIME_ROTATE_LOG_LEVEL override LOG_LEVEL if ENABLE_TIME_ROTATE is set. So supposedly the idea is being able to switch ENABLE_TIME_ROTATE without updating LOG_LEVEL everytime. But switching on and off rotating logs does not looks like something sane to do :) Anyway unless this bothers you that much just leave as it is to avoid breaking people config :)

[2016-08-16 08:52] dodoshi opened #954 "npm install hangs"
npm install hangs for a long time with below info:
⸨    ░░░░░░░░░░░░░░⸩ ⠙ fetchMetadata: sill mapToRegistry uri https://registry.npmjs.org/topojson

npm version is 3.10.5, node version is 6.3.1.

[2016-08-16 08:54] xrmx commented on #954
It could be a network issue on your side, a network issue on npm side or whatever in between. Anyway we can't do much about that, sorry :)

[2016-08-16 08:59] xrmx commented on #952
@jalonsob what does the js says? Do you have MAPBOX_API_KEY set in your config?

[2016-08-16 09:41] alanmcruickshank commented on #929
PR for this feature is here: https://github.com/airbnb/caravel/pull/814

[2016-08-16 09:52] jalonsob commented on #952
My browser's js console says:

Error: An API access token is required to use Mapbox GL

You are right I need MAPBOX_API_KEY in my configuration. How can I get it?

[2016-08-16 10:00] xrmx commented on #952
@jalonsob i suppose you just need to create an account on mapbox :)

[2016-08-16 10:49] seanDot7 commented on #585
@birdspring @mahedi0244 . I have the same problem.  I got the error : "Please define at least one metric for your table". I have tried posgres and mysql, both have the same error. However when I used sqlite3 as caravel database it works well. I don't know which step I made mistake at. Would you please elaborate your steps in configuring mysql as the backend database?

[2016-08-16 10:57] wester55 commented on #585
After checking this further, I switched back to sqlite backend and enabled successfully Redis cache. For now I don't see real need to use MySQL as backend. Here is my caravel config file:

ROW_LIMIT = 50000
CARAVEL_WORKERS = 16
CARAVEL_WEBSERVER_ADDRESS = '0.0.0.0'
CARAVEL_WEBSERVER_PORT = 8088
CARAVEL_WEBSERVER_TIMEOUT = 60
CUSTOM_SECURITY_MANAGER = None
SECRET_KEY = '\2\1changethis\1\2\e\y\y\h'

[2016-08-16 12:51] seanDot7 commented on #585
Thank you very much.

[2016-08-16 13:03] aljones commented on #949
Thanks.  I was just surprised that when I changed it that it also changed the console output, but it is no problem.

[2016-08-16 13:03] #949 closed

[2016-08-16 13:41] hadyrashwan commented on #940
ur comment solved my issue can u put that link instead of http://airbnb.io/caravel/installation.html that is in the read file both got the same content anyway except virtualenv part as far as I can tell  so it can help others .

[2016-08-16 14:20] xrmx commented on #954
It looks like npm had some issue this morning (CET), so please retry and if it works, just close the bug.

[2016-08-16 16:32] jalonsob commented on #952
It works! Thank you very much! I needed an api key.

[2016-08-16 16:59] jalonsob opened #958 "Suggestion about tables."
I have seen that the name of each table for our dashboard is called with the same name like the original db. For example, if I have a table of a database called "source" and I want to use this table in Caravel I have to call it with the same name. It is saved in my caravel.db situated in the path indicated in caravel_config.py. But we can have a problem that I am having now. If I have two differen

[2016-08-16 17:02] mahedi0244 opened #959 "bootstrap-toggle is missing in package.json"
I was trying to set up caravel development environment and after doing "npm install" when I ran "npm run dev", I got the following error:

ERROR in ./javascripts/explore/explore.jsx
Module not found: Error: Cannot resolve 'file' or 'directory' ../../node_modules/bootstrap-toggle/js/bootstrap-toggle.min.js in /Users/lvfrswty/caravel_dev/caravel/caravel/assets/javascripts/explore
 @ ./javascripts/ex

[2016-08-16 18:25] ascott opened #961 "fix truncated axis labels"
<img width="413" alt="screenshot 2016-08-16 11 26 39" src="https://cloud.githubusercontent.com/assets/130878/17710865/19acc764-63a4-11e6-9281-4eeb4e5a77f4.png">

[2016-08-16 18:25] ascott commented on #959
sorry about this. my bug. getting a fix together now.

[2016-08-16 19:45] xrmx commented on #958
That's what verbose_name is for in the table model

[2016-08-17 02:49] #954 closed

[2016-08-17 03:37] PickLiDan opened #966 "can Caravel support pyhive? how to write Its Sqlalchemy Uri?"
caravel  支持 pyhive吗？ 它的Sqlalchemy Uri怎么写？
can Caravel support pyhive? how to write Its Sqlalchemy Uri?

[2016-08-17 04:35] #915 closed

[2016-08-17 04:54] mistercrunch commented on #966
Yes though Presto provides a much better experience than Hive itself. Refer to pyhive's docs for URL format.

[2016-08-17 04:54] #966 closed

[2016-08-17 04:56] mistercrunch commented on #961
It's not perfect, but the `Bottom Margin` parameter allows users to give more room for the axis.

[2016-08-17 05:19] mistercrunch commented on #917
A few notes from our conversation:
* Let's use javascript objects (not json) over yaml
* We want to support both UI forms and source control!
* The UI could pivot to JSON
* We may need a "policy" where an admin would be able to define which datasources are editable in UI vs source control
*...

[2016-08-17 05:29] #935 closed

[2016-08-17 07:36] jalonsob commented on #958
I am using Caravel 0.10.0. And the database in the caravel_config.py is:

SQLALCHEMY_DATABASE_URI = 'sqlite:///.../caravel.db'

[2016-08-17 07:38] xrmx commented on #958
Closing then, feel free to reopen if doesn't work in the next release.

[2016-08-17 07:38] #958 closed

[2016-08-17 15:04] #952 closed

[2016-08-17 17:01] mahedi0244 opened #971 "Time grain (week) starts from Sunday"
I am using caravel for a while and when I add a slice where the visualization type is "Time Series", I noticed that the week starts from Sunday by default. It can be changed easily to start the week on Monday, instead of Sunday. Is the caravel community thinking about adding a feature to select the start date or I can change it to Monday by default if you suggest.

[2016-08-17 19:31] ascott commented on #931
@vera-liu fixed this up! first pr on caravel 🎉 💯!

[2016-08-17 19:31] #931 closed

[2016-08-17 19:32] ascott commented on #959
fixed!

[2016-08-17 19:32] #959 closed

[2016-08-17 19:33] #897 closed

[2016-08-17 19:42] AlexStanovsky opened #972 "Markup with data abilities"
Is the a way the html code in the markup can receive data from selected row on one of the slices in the dashboard, so i could be visualized?

[2016-08-17 21:50] bkyryliuk opened #973 "Make tests independent"
Refactor the celery tests to run independendty from the load_examples and core_tests.py.

[2016-08-18 02:52] SimpleExpress opened #976 "time series line chart has a date shift"
I used time series line chart to display the data trending, but the value was shifted by 1 day, e.g. the value on 2016-05-01 was 23801, but actually the value was plotted on 2016-04-30. Will you help to investigate it or give some suggestions. Thanks a lot.

the data exported by caravel:
![image](https://cloud.githubusercontent.com/assets/1047330/17760267/249bf15c-6531-11e6-91ca-a20383f593d9.png)

[2016-08-18 08:14] PickLiDan commented on #953
subjet: # **column_name  ---> upper(column_name)   cause exceptions**

1.# **test.py**

#!/usr/bin/python
import pandas as pd
import numpy as np

d={}
d['a']=['1','2']
d['b']=['3','4']
d['c']=['2','2']

df = pd.DataFrame(d)

print('--------- 1 ----------')
print(df.pivot_table( values='c', index=['a'],columns=['b'], aggfunc=np.sum,margins=True))

print('--------- 2 ----------')
print(pd.pivot_tabl

[2016-08-18 08:55] ankitkailaswar commented on #911
any update ?

[2016-08-18 09:20] xrmx commented on #971
@mahedi0244 nice finding! Is this on the python or js side? maybe we can have do it based on the locale?

[2016-08-18 09:37] xrmx commented on #976
This looks like a duplicate of #763 , right?

[2016-08-18 09:39] xrmx commented on #972
Sorry I haven't really understood what you want to do but since this is an open question it's better to discuss on the mailing list instead of here.

[2016-08-18 10:43] xrmx commented on #953
@PickLiDan that may or may be not be the cause :) To find out, just print the keys available in the dataframe so we can't see what's wrong here.

[2016-08-18 12:10] PickLiDan commented on #953
@xrmx  #  **i change my column to upper case,then i work well,so i am sure.**

**# lower case:**
2016-08-18 20:08:14,614:INFO:root:           DT  COUNT_DISTINCT__ORDER_ID
0  2016-08-13                    930613
1  2016-08-14                    877308
2  2016-08-12                    791172
3  2016-08-15                    630725
4  2016-08-16                      4595
2016-08-18 20:08:14,616:INFO:

[2016-08-18 12:37] xrmx commented on #953
@PickLiDan so to sum up, you have a field in your table called "DT" all uppercase, but on the select widget of group by you have something that has value "dt" lowercase?

[2016-08-18 15:53] mahedi0244 commented on #971
@xrmx this is the part that I had to change and it seems like working
https://github.com/mahedi0244/caravel/commit/7743cb2001ed6fde3b47778b0702f16ed14d1989

[2016-08-18 16:45] dennisobrien opened #978 "redirects change https requests to http locations"
I'm running Caravel in AWS with this configuration:
- ELB terminates SSL (and accepts only https requests)
- Docker container runs gunicorn + caravel

Many requests hang in the browser because the https request is redirected to a http location.

[code]

I'm not sure if this is an issue with Caravel or upstream in Flask or Flask-AppBuilder.

I tried setting `PREFERRED_URL_SCHEME = 'https'` in carav

[2016-08-18 20:16] shkr opened #980 "Building caravel from master throws error in javascript console"
```dashboard.entry.js:71 Uncaught Error: Cannot find module "react-map-gl"```

[2016-08-18 20:32] xrmx commented on #980
What command is "building"? :)

[2016-08-18 20:35] xrmx commented on #911
@ankitkailaswar don't assume someone is working on that

[2016-08-18 21:28] shkr commented on #980
Oops. I meant after building. This is the sequence of commands.

[code]

When I visit the dashboard on caravel, this error is thrown in the javascript console.

[code]

[2016-08-18 22:03] shkr opened #982 "Error in Histogram"
This error is thrown by histogram.js.

[code]

Relevant code in histogram.js

[code]

[2016-08-19 02:15] lihemin opened #983 "after excute js_build.sh the slice can not display"
follow is  log of  excute  js_build.sh
how can i handle it
thanks

Condition always false [./~/style-loader!./~/css-loader!./visualizations/filter_box.css:10,0]
Dropping unreachable code [./~/style-loader!./~/css-loader!./visualizations/filter_box.css:12,0]
Side effects in initialization of unused variable update [./~/style-loader!./~/css-loader!./visualizations/filter_box.css:7,0]
Condition alway

[2016-08-19 02:34] lihemin commented on #983
my version is   0.9.1

[2016-08-19 03:14] RiseOfApes commented on #976
I have the same problem.How can  I make up it with out add "at time zone" to the query every time #763

[2016-08-19 05:23] PickLiDan commented on #953
yeah .
I suggest  there should be a set, you can set case-insensitive。
My English is poor ，sorry.

[2016-08-19 06:39] mistercrunch commented on #983
Why are you building 0.9.1?

[2016-08-19 07:09] lihemin commented on #983
work  need

[2016-08-19 07:10] lihemin commented on #983
job demand

[2016-08-19 07:41] lihemin commented on #983
ERROR in ./javascripts/caravel-select2.js
Module not found: Error: Cannot resolve 'file' or 'directory' ../node_modules/jquery-ui/themes/base/jquery-ui.css in /home/data/space/caravel-0.10.0/caravel/assets/javascripts
 @ ./javascripts/caravel-select2.js 5:0-62

[2016-08-19 07:43] lihemin commented on #983
same log and error  in building v0.10.1

[2016-08-19 08:47] PickLiDan commented on #983
@lihemin
You can it like this : npm run prod ERROR: #937
 #937

[2016-08-19 11:28] michailsal opened #985 "Configurable basepath/url for nginx reverse proxing on diff location other than /?"
Is there any way to configure caravel to accept requests under /my-whatever-path/.....? I would like to reverse proxy caravel using nginx but not on / location block.

[2016-08-19 12:03] dugjason opened #986 "Flask Deprecation warnings on install"
I'm receiving the following warnings when pip installing Caravel 0.10.0 on Ubuntu (Python 2.7.11)

[code]

I've run upgrades to various Flask packages, but continue to see this error. Does anyone have any suggestions?

[2016-08-19 13:28] xrmx commented on #983
So closing as dup of #937

[2016-08-19 13:28] #983 closed

[2016-08-19 13:28] xrmx commented on #976
Closing as duplicate of #763

[2016-08-19 13:28] #976 closed

[2016-08-19 13:37] xrmx commented on #986
The suggestion is to understand that warnings are not errors and so there's no need to open issues here :) Also it has already been taken care of them in master.

[2016-08-19 13:41] xrmx commented on #982
@shkr care to cook a patch? It should be something like this https://github.com/airbnb/caravel/commit/e243a14c64c97f81e205037bb11bcd9170c17163#diff-dfea42de2be6be52c71f766780861c3cL3

[2016-08-19 13:48] xrmx commented on #985
Google suggests this http://flask.pocoo.org/snippets/35/ . Feel free to open a pull request if it works for you.

[2016-08-19 13:56] dugjason commented on #986
Thanks. Perhaps my issue was a little vague; I'm seeing these warnings loop after I start caravel. I see a cycle of workers starting, these warnings, workers dying, then the cycle repeating indefinitely.

Upgrading to the version of Caravel currently in Master (latest commit is 30ef8eb), I still see this cycle of errors, and am unable to load caravel via a browser;

[code]

[2016-08-19 14:08] xrmx commented on #986
@dugjason vague is an understatement, it's more unrelated :) It looks like there's something wrong with your gunicorn conf as the master can't. Is it the default one?

[2016-08-19 14:13] dugjason commented on #986
Yes; default gunicorn config. gunicorn is not a tool I'm familiar with; is there anything in particular I should be looking at?

[2016-08-19 14:49] mistercrunch commented on #986
My guess is you might have system restrictions of some kind. What kind of environment are you in? You probably want to run your own gunicorn command at this point to debug. Make it a single worker, and use --log-level=DEBUG.

[2016-08-19 16:11] mistercrunch opened #988 "Make histogram viz support "group by""
Right now it only works off of raw value in the table, so it only works if the grain of the table is the grain you care about.

[2016-08-19 16:12] mistercrunch opened #989 "Make histogram viz look more like the others"
The axis look way different. We may want to use common CSS across viz for that purpose.

[2016-08-19 16:15] mistercrunch commented on #978
We run behind a reverse proxy (nginx) that is https while the site is served by gunicorn on http and redirects are fine on our side.

Seems like a configuration issue in your reverse proxy.

[2016-08-19 16:24] mistercrunch commented on #980
You forgot `npm run prod` after `npm install`

[2016-08-19 18:21] rohanmonga commented on #809
can i help figure out this issue in anyway ?

[2016-08-19 22:27] #980 closed

[2016-08-20 01:03] #982 closed

[2016-08-20 16:33] shkr commented on #988
I can work on this.

[2016-08-21 16:57] xrmx commented on #971
@mahedi0244 so it looks like that just removing the * - 1 DAY* would be enough no?

[2016-08-21 23:01] dennisobrien commented on #978
Thanks @mistercrunch
I'll try adding nginx to the mix and report back.

Just for kicks, I tried testing this to get an idea of where this might be breaking down.  Here's a very simple app that just does a re-direct from '/a' to '/b'.

[code]

And testing this in straight-up Flask, the 'X-Forwarded-Proto' header is not recognized. (Notice the Location is https even though the header requested https

[2016-08-22 07:30] xrmx commented on #978
Thanks for the heads up, closing then.

[2016-08-22 13:23] dugjason commented on #986
I'm running on a pretty standard Ubuntu 14.04.5 install on EC2.

Looks like it starts to load caravel, then gunicorn fails on importing the app;

[code]

Apologies if the ```$ gunicorn -w1 --log-level=DEBUG caravel``` command was incorrect; I've not used gunicorn before

[2016-08-22 16:43] mahedi0244 commented on #971
@xrmx
DAYOFWEEK(created_at) —>returns 1 for Sunday, 2 for Monday and so on.

DATE_SUB(created_at, INTERVAL DAYOFWEEK(created_at) - 1 DAY) —> will subtract days in such a way so it returns the previous Sunday

If I just replace it with “WEEKDAY(created_at) - 0 DAY))” , the week will start on Monday, as WEEKDAY(created_at) returns 0 for Monday, 1 for Sunday and so on.

[2016-08-22 16:45] xrmx commented on #971
@mahedi0244 thanks for the explanation! but why `- 0 day` then is weekday is fine on its own?

[2016-08-22 17:19] mahedi0244 commented on #971
@xrmx “WEEKDAY(created_at)  DAY” will also work

[2016-08-22 18:02] michailsal commented on #985
It did work, but then I ran into countless absolute links that I haven't found a way to put them behind a prefix. Any ideas?

[2016-08-22 18:22] bkyryliuk commented on #817
Thanks to @mistercrunch  for fixing it ! https://github.com/airbnb/caravel/pull/967 resolved it.

[2016-08-22 18:22] #817 closed

[2016-08-22 19:08] xrmx commented on #985
@michailsal does url_for work correctly? If so it is just matter or using it thoroughly.

[2016-08-22 22:18] xrmx commented on #986
@dugjason gunicorn -w1 --log-level=DEBUG caravel:app

[2016-08-23 03:27] #932 closed

[2016-08-23 06:34] #950 closed

[2016-08-23 09:12] PickLiDan opened #997 "Mongodb"
can cavarel support MongoDB?

[2016-08-23 09:15] xrmx commented on #997
It probably can but someone should write the code. Please ask this kind of questions on the mailing list.

[2016-08-23 09:15] #997 closed

[2016-08-23 09:30] xrmx commented on #953
I don't see where we could be doing that in the code. Are you sure you just don't have a column in your table model with the wrong name?

[2016-08-23 10:19] dugjason commented on #986
Thanks!

Running that seems to successfully start the app, but it does not seem to be accessible from the browser (I've double checked the correct ports are open, etc).
Trying to access the app, I see no updates in these logs. This log was pulled after running the service for ~1hr

[code]

[2016-08-23 10:45] xrmx commented on #986
@dugjason you are binding to 127.0.0.1 so unless you are on your machine or have a tunnel you need a proxy or need to bind to another interface. Anyway try to replicate your issue with the debug flag so we can see if there's something wrong in caravel.

[2016-08-23 11:40] michailsal commented on #985
url_for does work for the most part, but still there are many hardcoded absolute links e.g.
./templates/caravel/sql.html:      <img id="loading" width="25" style="display: none;" src="/static/assets/images/loading.gif">
./templates/caravel/welcome.html:          <img class="loading" src="/static/assets/images/loading.gif"/>
./templates/caravel/explore.html:            <img src="{{ url_for("static"

[2016-08-23 11:59] xrmx commented on #985
@michailsal yes, please!

[2016-08-23 14:01] tclass commented on #682
I have the same problem, we can't add tables for redshift, because he can't find the schema anymore even if the schema is public. If I can do anything to get this fixed, I'm happy to help. Would be nice to get a fix

[2016-08-23 14:09] xrmx commented on #682
@tclass sure, you can debug the issue and open a pull request, just the first part alone would be great :)

[2016-08-23 16:43] dugjason opened #998 "Since/Until time attributes generated incorrectly when using custom DATETIME column"
I have a `received_at` DB column which is stored as a VARCHAR, the value of which will be a unixtimestamp with miliseconds; one example is : "1471965808.267".
I've created a custom table column, using `FROM_UNIXTIME(received_at)` in the "Expression" and "Database Expression" fields for this custom column.

When I try to use this custom column for time attribute filters, I'm seeing the following SQ

[2016-08-23 17:16] xrmx commented on #998
In 0.10 is broken too on postgresql but differently:
[code]
So i'm wondering if expressions are simply not supposed to be used as time column or we have already the machinery to parse the expression and cast the interval to the same type.

[2016-08-23 20:14] the-dcruz opened #1000 "Annotation Layers"
I noticed that annotation layers are currently listed in [TODO.md](https://github.com/airbnb/caravel/blob/master/TODO.md).

What are some of the high-level implementation plans for this? I feel like it would not make sense to store annotation data in Druid so I think it makes sense to be able to query from the `table` datasource for all annotations even when creating a Druid slice.

If no one is c

[2016-08-24 03:27] ascott commented on #989
we are moving towards common css for charts, but for now it would be great to make this one look more like this

<img width="863" alt="screenshot 2016-08-23 20 28 00" src="https://cloud.githubusercontent.com/assets/130878/17917300/ef859584-696f-11e6-89df-ed2cdc04940a.png">

[2016-08-24 03:29] ascott commented on #988
thanks @shkr!

[2016-08-24 03:34] ascott commented on #961
there should be a programmatic way to tell if the labels are too long for the container, and adjust margins or labels as needed.

[2016-08-24 03:36] ascott commented on #898
we should be able to handle this in the webpack build process afaik.

[2016-08-24 03:39] ascott commented on #867
@mistercrunch did i see you had a pr in for this, or should i tackle it. i'm a bit late 💤

[2016-08-24 03:45] ascott commented on #578
the title for a slice on a dashboard should link to the explore view for that slice.

we will have to decide how to treat the header in this case to indicate that it's a link. maybe hover with lighter gray? or maybe no change in state and just the pointer cursor.

<img width="572" alt="screenshot 2016-08-23 20 44 35" src="https://cloud.githubusercontent.com/assets/130878/17917515/2678a50c-6972-11e

[2016-08-24 03:53] ascott opened #1001 "SQL Lab design review tasks"
- [x]  For the top naviation bar, use a 4 pixel underline to highlight which tab is active - alanna

- [ ] Move Alpha away from the SQL Lab logo to the top navigation bar

- [ ] Use fewer icons and more text for buttons and call to actions

- [ ]  use 50/50 Split between the SQL editor box and the results area to give editor more space - alanna

- [ ] in query history table, use dropdown button wi

[2016-08-24 04:52] kkalyan opened #1002 "Druid query optimization for Time series Line chart"
Currently for time series druid query is generated with

`"queryType": "groupBy"`

If we replace this with

`"queryType": "timeseries"`

query returns much faster.

[2016-08-24 06:31] chejinye commented on #570
你 怎么 解决的 ，我也遇到这个问题 @ @ @birdspring

[2016-08-24 06:38] birdspring commented on #570
@chejinye 在数据库名字最后加上 ?charset=utf8

[2016-08-24 06:47] chejinye commented on #570
OperationalError: (_mysql_exceptions.OperationalError) (2019, "Can't initialize character set 'utf8 ' (path: /usr/share/mysql/charsets/)") 但是我的还是错误

[2016-08-24 06:58] birdspring commented on #570
@chejinye  首先你本机或者服务器内需要安装mysql，用pip install mysqlclient安装mysql客户端，apt-get安装（ubuntu）也可以。
其次连接mysql数据库的标准uri是 mysql://root:password@localhost/databasename?charset=utf8
用户名与密码是你mysql自己设置的，localhost是你对应的ip，服务器的话自己配置，数据库名字就是你要连接的数据库名，必须提前在mysql中创建，这样点test connection。
如果你用的是caravel自带的例子的话用非sqlite数据库会出现一些问题，这个就是另一个方面了

[2016-08-24 07:06] xrmx commented on #1002
@kkalyan interesting! is the query result the very same? Can we make the choice programmatically? If yes to both questions care to make a pull request?

[2016-08-24 08:22] chejinye commented on #570
谢谢，中文能正常显示了

[2016-08-24 09:44] AndreasMeisingseth opened #1003 "Multiple Y-Axes for Line Chart"
I wonder whether it would be possible to add a second Y axis to the Line Chart?

The use case we've seen with such a visualisation is to show both an absolute number and a ratio in the same viz. An example of this could be "number of page visits" and "conversation rate" in the same graph.

[2016-08-24 10:54] dugjason commented on #986
Thanks @xrmx, @mistercrunch ; that seems to have done it. Running `gunicorn -w4 -b :8088 caravel:app` works, and allows me to access Caravel from the Internet.

I'm happy to continue helping debug what was causing the problem with running Caravel using the `caravel runserver -p 8088` command if someone can give me some guidance

[2016-08-24 11:17] dugjason opened #1004 "Add an option in line chart to show circle markers"
I've included a stacked bar chart, which does render correctly (based on the same query & data), to compare to the stacked time series, which is not rendering correctly;

![screen shot 2016-08-24 at 12 11 50](https://cloud.githubusercontent.com/assets/273718/17928815/93031df6-69f4-11e6-918c-7804a874bb3d.png)

![screen shot 2016-08-24 at 12 12 52](https://cloud.githubusercontent.com/assets/273718/1

[2016-08-24 11:40] nickrox opened #1005 "Filters Visualization generates Filters in wrong order"
When selected Filters in Filters Fields , expected to see the filters generated in same order .
For example in the image below,order is not maintained for generated filters.

![image](https://cloud.githubusercontent.com/assets/7491457/17929348/8be249c4-6a1d-11e6-9fd9-0dc528034e4e.png)

Running Caravel 0.10 with Postresql 9.5 on CentOS Linux release 7.2.1511 (Core)

[2016-08-24 12:58] dugjason commented on #1004
Interestingly nothing renders when I filter out the "comment" subtype. Could this have anything to do with the values containing an underscore character?

[2016-08-24 14:58] mistercrunch commented on #1004
A line chart requires 2 data points within a series to draw a line doesn't it? Maybe the solution here is to allow user to "Show Markers" as circles?

[2016-08-24 14:58] mistercrunch commented on #1004
Markers would also bring clarity around missing data points

[2016-08-24 15:10] dugjason commented on #1004
Yes, this seems to happen only when there is a data point missing. Showing the series including zero-values could really be helpful

[2016-08-24 15:42] birdspring commented on #966
@PickLiDan  hive://ip:10000. It still needs a few other dependencies.

[2016-08-24 17:06] mistercrunch commented on #1004
for Caravel to fill in your missing data check out the "Resample" option  in the "Advanced Analytics" sectoin

[2016-08-24 18:30] kkalyan commented on #1002
Remaining query is exactly the same. Query result is also same.
But if there is groupBy field requested, we need to send groupBy, but if there is no fields in the groupBy Clause, timeseries will work fast.

Please give me some idea about where this change should go, I'll send PR.

[2016-08-24 18:44] vera-liu opened #1009 "Can't click on histogram/separator/mapbox in the dropdown menu"
Clicking on histogram/separator/mapbox in the dropdown menu of Chart Type doesn't have feedback
(in the explore view of table)
<img width="1427" alt="screen shot 2016-08-24 at 11 45 44 am" src="https://cloud.githubusercontent.com/assets/20978302/17943444/486f5916-69f0-11e6-9313-0c63317171cd.png">

[2016-08-24 20:41] the-dcruz commented on #1002
@kkalyan You'll probably want to look at this function: https://github.com/airbnb/caravel/blob/master/caravel/models.py#L1232

[2016-08-24 21:38] ascott commented on #1009
@vera-liu do you see any js errors in the console when this happens?

[2016-08-24 21:40] ascott commented on #1003
this is a great idea.

[2016-08-25 00:05] mistercrunch commented on #1003
The easiest is probably to use this:
https://nvd3-community.github.io/nvd3/examples/multiChart.html

[2016-08-25 00:12] mistercrunch commented on #1002
I always thought that druid should handle that on the query side, but in the meantime I'm not against handling that logic on our side if you want to send a PR

[2016-08-25 00:19] #867 closed

[2016-08-25 00:19] mistercrunch commented on #867
solved

[2016-08-25 00:22] mistercrunch commented on #989
Seems like we could re-use nvd3's bar chart here too somehow.

[2016-08-25 01:38] dennisobrien commented on #978
For the record, I found the cause of the problem and the fix.  When gunicorn is run on a different machine from the load balancer (nginx or ELB), it needs to be told explicitly to trust the X-Forwarded-* headers sent.  gunicorn takes an option `--forwarded-allow-ips` which can either be a comma separated list of ip addresses, or "*" to trust all.

I'm starting caravel with this command (with gunic

[2016-08-25 05:32] ascott opened #1013 "[bug] Adding a slice from the dashboard is broken on master"
<img width="1280" alt="screenshot 2016-08-24 22 34 12" src="https://cloud.githubusercontent.com/assets/130878/17957911/97cc066c-6a4a-11e6-9d87-9b62e4986c91.png">

<img width="832" alt="screenshot 2016-08-24 22 32 42" src="https://cloud.githubusercontent.com/assets/130878/17957897/78b88eda-6a4a-11e6-9925-670a974cc10c.png">

[2016-08-25 07:03] #1013 closed

[2016-08-25 07:09] ascott commented on #780
a report of this bug:

https://airbnb.slack.com/archives/caravel/p1472094489000732

<img width="1035" alt="screenshot 2016-08-25 00 10 37" src="https://cloud.githubusercontent.com/assets/130878/17959921/2097409e-6a58-11e6-941c-190d2b16e251.png">

there's a work around, but it's not very clear.

[2016-08-25 16:52] vera-liu commented on #1009
This is not always reproducible, but the chart type dropdown menu behaves wonky sometimes:
1. Go to Sources->Tables
2. Click on one table, enter the explore view
3. Select histogram/separator/mapbox in the dropdown menu of chart type, click on query
4. The dropdown menu flashes, but histogram/separator/mapbox are not shown, other visualization type is drawn instead (sometimes it's box plot, someti

[2016-08-25 17:46] bkyryliuk opened #1016 "[sql lab] Sync react app with the backend."
1. Implement autosync timer to sync the redux state with the webserver
2. Connect the download csv button with the webserver endpoint

[2016-08-25 17:49] #746 closed

[2016-08-25 21:31] the-dcruz opened #1018 "Issue sorting Tables"
Sorting `Sources`->`Tables` by `Database` or `SQL Editor` returns an exception.

[code]

[2016-08-25 21:50] the-dcruz commented on #1018
Looks like it's that `\n` character that snuck into the query?

[2016-08-25 22:58] the-dcruz commented on #1018
Looks like sorting by `Database` is probably an issue since it is a key word therefore causing the syntax issue.

I just now realized that sorting by `SQL Editor` actually returns a different error.
[code]

This issue is caused by `sql_link`being a transient property defined as:
[code]

I guess the fix would be to sort by `database.id` instead or have the column not sortable at all.

[2016-08-26 13:40] toabey opened #1020 "Tooltip is not showing in Dashboard for Time series, but shows in Explore Window"
This is faced in latest Firefox browser
Dashboard - No toolTip
![dashboard](https://cloud.githubusercontent.com/assets/18527634/18007199/acc1c38c-6bc0-11e6-9646-d9577bbda1ad.png)

Explore Window
![explore](https://cloud.githubusercontent.com/assets/18527634/18007110/493914dc-6bc0-11e6-9124-b482acce0f48.png)

[2016-08-26 18:45] #1004 closed

[2016-08-26 20:10] eroncastro commented on #600
+1

[2016-08-26 22:22] #1005 closed

[2016-08-26 22:52] bkyryliuk opened #1021 "Add an endpoint to warm up the cache."
The api would receive the dashboard id and warm up the cache.

- [ ]  Refactor the explore method into separate html and csv endpoint
- [x] Add `get_viz` to the `Slice` and refactore the explore endpoint to use it
- [x] Implement `warmup_cache_dashboard/<dashboard_id>` endpoint for the dashboard
- [x] Implement `warmup_cache_table/<table_id>` endpoint for the table

The viz creation should look li

[2016-08-26 23:05] bkyryliuk opened #1022 "Set up code climate."
Add python / js linting and python/ js code coverage

https://codeclimate.com/

[2016-08-27 18:43] shkr commented on #988
I have been (working on) [https://github.com/shkr/caravel/tree/histogram_groupby] for generating multiple histograms when a group by key is specified #988.
*I was wondering which of these two arrangements is preferable ?*

1) Stacked on top of each other

![stacked charts](https://originlab.jira.com/wiki/download/attachments/29589627/StackedHist1.gif?version=1&modificationDate=1385466105620&api=v2

[2016-08-29 10:30] nickrox opened #1026 "Feature: Minimize side bar to see full width chart"
Side bar provides measures, group by etc. I   like to minimize the side-bar after selections and show full width chart.

[2016-08-29 10:33] lifeinearth commented on #485
thank you very much . i have the same problem.

[2016-08-29 18:12] #1016 closed

[2016-08-29 18:12] bkyryliuk opened #1027 "Add an endpoint to refresh the druid datasources"

[2016-08-29 20:23] vera-liu commented on #578
- found that if slice name in the header is made clickable, it conflicts with the hover-to-show feature of chart-controls on the right of the header. One way to do this is making the chart-controls constantly shown, losing the hover-to-show feature. Like this:
![screen shot 2016-08-29 at 1 18 21 pm](https://cloud.githubusercontent.com/assets/20978302/18066054/7f2eb178-6deb-11e6-8f69-3e62942eb69c.p

[2016-08-29 21:30] ascott opened #1030 "[ui] color consitency"
status dots on sql lab tabs should be same color as success color

<img width="306" alt="screenshot 2016-08-29 14 31 44" src="https://cloud.githubusercontent.com/assets/130878/18068193/11513cfc-6df5-11e6-9e1a-a78be529835e.png">

[2016-08-29 21:35] ascott opened #1031 "[bug] sql-lab better error feedback"
we need better error feedback on badly formed sql &/or backend errors

<img width="1280" alt="screenshot 2016-08-29 14 39 42" src="https://cloud.githubusercontent.com/assets/130878/18068430/1aec9814-6df6-11e6-8b7d-9ee28a0dc923.png">

[2016-08-29 21:45] ascott opened #1032 "[logging] add additional backend/frontend logging for sql-lab"

[2016-08-29 23:01] ShengyaoQian opened #1035 "Rendering Visualizations for customized engines"
We've added a third datasource to caravel. The code for this change is completely separated. But when it comes to rendering the UI part, I have to add the datasource id field in the Slice model in models.py and in the explore function in views.py so it can acknowledge this new datasource. And load viz for it. Can you make this more generic so when we add a new source, the views part can automatica

[2016-08-29 23:03] ShengyaoQian commented on #1035
@joshwalters

[2016-08-30 03:16] sanpingz opened #1036 "Is it possible to add unix timestamp support for time column"
It looks Caravel heavily relies on time column for query. For my case, the existing tables are using unix timestamp as time column. Unfortunately, Caravel can't recognize unix timestamp, is it possible to support that?

In my mysql table, the time column is a double type, the value looks like `1472526903.358829`.

[2016-08-30 04:46] mistercrunch opened #1037 "Integrate a headless browser to render Slices as images"
If we had a toolkit to render slices (and dashboards) as images, it could be useful to use in emails, and to create thumbnails to use in the UI. For instance a gallery of dashboards or slices would be very nice.

It seems like Phantom.js may works nicely for that.

[2016-08-30 05:07] mistercrunch commented on #971
Just add a new grain "week starting monday".

[2016-08-30 15:15] dugjason commented on #1036
Possibly linked to issue #998

[2016-08-30 15:21] hugocar opened #1039 "Caravel uninstall"
Hi,
I tested caravel for a while. I would now like to remove it from the test server.

how can i shut down caravel properly?
how can i uninstall caravel properly?

[2016-08-30 15:29] xrmx commented on #1039
You uninstall like any other python application, you stop it depending on how you started it...

[2016-08-30 15:29] #1039 closed

[2016-08-30 15:32] xrmx commented on #1036
@sanpingz have you marked your column as dttm and it doesn't work?

[2016-08-30 15:32] xrmx commented on #1036
@dugjason looks unrelated to me :)

[2016-08-30 15:32] dugjason opened #1040 "Stacktrace when trying to load /users/list"
Receiving the following stacktrace rather than the list of users when trying to access http://<caravel_url>/users/list

[code]

[2016-08-30 15:34] hugocar commented on #1039
I started it following the "Caravel installation and initialization" guide on caravel.io

I am not familiar with python, does `pip uninstall caravel` will remove all component of caravel, including the database caravel uses internally ?

[2016-08-30 15:34] xrmx commented on #1035
@ShengyaoQian sorry but i haven't understood what your issue is. If you need some changes feel free to send a pull request so it's easier to understand what you want to do.

[2016-08-30 15:36] xrmx commented on #1040
which caravel version? what's the user role?

[2016-08-30 15:37] xrmx commented on #1026
@ascott do you have any opinion? :)

[2016-08-30 15:41] dugjason commented on #1040
Apologies.
User is the admin created via `fabmanager create-admin --app caravel`
Version is from airbnb_prod.0.10.0.1 branch. Latest commit https://github.com/airbnb/caravel/commit/ab43bbbc2115bbee6847e8f3a1eda0aaeb5db826

[2016-08-30 16:04] xrmx commented on #1039
@hugocar pip uninstall will remove whatever pip installed, so no, you have to take care of everything else yourself.

[2016-08-30 16:18] hugocar commented on #1039
Just to be sure, by "database caravel uses internally" i meant the database (if any) that caravel uses to manage users, roles, slices, dashboards etc... not my own stuff.

I will spend to time to identify whatever services and files are left after the pip uninstall
but it would be a nice addition to the "installation guide"

Thank you for Caravel and your help today

[2016-08-30 16:34] JoeBrody commented on #333
Went into my installation folder
     C:\Users\Me\Documents\GitHub\caravel-master\caravel-master\caravel\bin
Entered Command:
     python caravel db upgrade

Got this message:
Traceback (most recent call last):
  File "caravel", line 8, in <module>
    import celery
ImportError: No module named 'celery'

Any ideas on this?

[2016-08-30 16:36] roemhildtg commented on #333
@JoeBrody `pip install celery` should fix that.

[2016-08-30 16:48] JoeBrody opened #1041 "Error on Starting Web Server"
I am running Windows 7

Currently installing caravel (http://airbnb.io/caravel/installation.html[])

On this step:
# Start the web server on port 8088
python caravel runserver -p 8088

Error Message:
C:\Users\Me\AppData\Local\Programs\Python\Python35-32\lib\site-packages\flask_cache\__init__.py:152: UserWarning: Flask-Cache: CACHE_TYPE is set to null, caching is effectively disabled.

[2016-08-30 18:53] jefffeng opened #1042 "Create logging for Caravel SQL Editor and add to Data Tools Dashboard"
We need to log WAUs of the Caravel SQL Editor separately from Caravel before we launch the beta. Additionally, this needs to be added to the Data Tools Dashboard

Data Tools Dashboard:
https://panoramix.d.musta.ch/caravel/dashboard/meta/

[2016-08-30 18:58] aljones commented on #1041
The default SQLALCHEMY_DATABASE_URI of the release version doesn't work on windows unless you happen to have a preexisting c:\tmp folder.

[2016-08-30 19:14] xrmx commented on #1041
Closing then. Friendly reminder that for support questions better use the mailing list, thanks.

[2016-08-30 19:14] #1041 closed

[2016-08-30 19:15] xrmx commented on #333
I don't think there's much actionable here, closing.

[2016-08-30 19:15] #333 closed

[2016-08-30 21:38] mistercrunch opened #1045 "Issues using Filter Box when a comma is in the value"

[2016-08-30 21:59] yzliao commented on #1045
The same error also happens in `flt_eq_1:` field

[2016-08-31 03:16] dennisobrien commented on #921
I'm seeing a similar issue.  I was able to view the example dashboards previously when I had only one user (the admin set up through fabmanager).  Now I'm doing enough things off the beaten path that I'm not sure where I've gone wrong.

I'm running caravel 0.10.0 with MySQL 5.6.27 (an AWS RDS) as my metadata store.  I created a custom security manager that is based on the REMOTE_USER strategy.  I'

[2016-08-31 06:47] sanpingz commented on #1036
@xrmx Yes, I marked unix timestamp column to temporal, it doesn't work.
I noticed the generated query is:
[code]
The **UPDATE_TIME** column is double type as unix timestamp. It would work if the query is:
[code]

[2016-08-31 06:53] xrmx commented on #1036
@dugjason now it indeed looks like yours :)
@sanpingz can you try to do a custom field with an expression as Dug is doing in #998?

[2016-08-31 07:20] sanpingz commented on #1036
@xrmx @dugjason well, that's a workaround, need disable temporal column, and use custom query, definitely works.

Unfortunately, our users may know nothing about SQL, they are nontechnical guys.

[2016-08-31 07:23] xrmx commented on #1036
@sanpingz from the end user perspective it's matter of using field B instead of field A, no?. If by end user you mean admins that can setup the tables they should have a clue about these kind of issues.

[2016-08-31 07:48] sanpingz commented on #1036
@xrmx I meant end users, not admins, they need know something like what happened in the past 1 day, 1 week, etc. No way for them to use custom query. Even though admins help to create slices based on custom query, the datetime is hardcoded if I'm not wrong?

[2016-08-31 08:09] xrmx commented on #1036
@sanpingz Dug is using a custom field where the value of the field is casted to another type not a custom query

[2016-08-31 09:08] sanpingz commented on #1036
@xrmx Sorry I missed, custom field works for me, thanks a lot.

[2016-08-31 09:45] dugjason commented on #998
So it looks like adding a custom column in the following way allows us to plot a timeseries chart based on a double type unix timestamp;

![screen shot 2016-08-31 at 10 41 09](https://cloud.githubusercontent.com/assets/273718/18123818/92f24652-6f67-11e6-98f0-708bb15c2098.png)

Grouping by hour generates the following SQL:

[code]

and a meaningful chart

![screen shot 2016-08-31 at 10 43 09](https

[2016-08-31 09:46] #1036 closed

[2016-08-31 10:12] xrmx commented on #998
Good, closing then. Feel free to open a pull request with a clearer message. Thanks!

[2016-08-31 10:12] #998 closed

[2016-08-31 10:28] yejianye opened #1047 "Is there any documentation or tutorial on how to use SQL lab?"
Hi,

SQL lab looks like a cool feature, but I could definitely use some tutorials or documentations. Currently, I'm a bit lost when trying to visualize my queries.

[2016-08-31 10:54] nickrox opened #1048 "Unable to login"
Getting the following error after restarting caravel and login with user created earlier.
[code]

[2016-08-31 11:05] xrmx commented on #1048
What version of caravel is this? How have you installed things?

[2016-08-31 11:10] nickrox commented on #1048
Running Caravel 0.10 with Postresql 9.5 on CentOS Linux release 7.2.1511 (Core)
Python 2.7

[2016-08-31 11:14] nickrox commented on #1048
just reinstalled caravel using pip and pointed old caravel.db in caravel_config.py. It worked and I am able to login .
[code]

[2016-08-31 15:19] mistercrunch opened #1049 "Request access form"
When [Gamma] users do not have access to a dashboard / datasource, we currently redirect them to the welcome page and flash a message saying they don't have access.

Instead of that, we should redirect them to a place where they can request access. We can create a model and use the CRUD interface for this purpose. Fields needed for this new `AccessRequest` model are:

* audit information (who/when

[2016-08-31 15:20] #1048 closed

[2016-08-31 15:31] mistercrunch commented on #921
@dennisobrien , you need to get to the bottom of why your db migration script are failing, the real error is probably only in the stack trace of the first attempt, then you get a different error message on subsequent db upgrades (column already exist).

`caravel db --help` and reading a bit about alembic should provide the tools you need to debug this. We currently do continuous integration agains

[2016-08-31 15:32] mistercrunch commented on #1047
It's not officially released yet, the big red `Alpha` tag on the navbar should highlight that.

[2016-08-31 15:32] #1047 closed

[2016-08-31 15:40] xrmx commented on #1049
Can we make this optional under an option in settings please?

[2016-08-31 16:25] bkyryliuk commented on #1022
Most of it resolved in the https://github.com/airbnb/caravel/pull/1046.

Open issues that I am trying to resolve with the travis and codeclimate support:
* codeclimate picks up the coverage data for the default branch and I couldn't make it working for the PRs yet. Waiting for the support to get back to me.
* codeclimate report script isn't picking up the travis env variable. The hack around it is

[2016-08-31 17:12] dennisobrien commented on #921
@xrmx - Thanks for the advice.  I thought since this issue was still open and my issue had the exact error message and I had a bit more details that the OP, it would be fine to append to this issue.  And I'm well aware that my deployment strategy is a work in progress.

@mistercrunch - Thanks for the tips.  I'll see if I can find a minimal complete verifiable example and create a new issue if so.

[2016-08-31 20:25] vera-liu opened #1052 "Share query functionality."
We want an option in sql lab to get a link of current query, send it to another user. Then the other user can directly open up the link to see the query result

[2016-08-31 20:47] #851 closed

[2016-08-31 20:48] #853 closed

[2016-08-31 20:48] #855 closed

[2016-08-31 20:48] #858 closed

[2016-08-31 20:49] #886 closed

[2016-08-31 20:49] #859 closed

[2016-08-31 20:50] bkyryliuk commented on #852
From: https://github.com/airbnb/caravel/issues/887
PyHive provides a nice API to access the partition metadata.
Inspector get_indexes function that provides the indexes and the partition information.
By the way, displaying the indexes is a nice feature too.

More information can be found here:
http://pythonhosted.org/PyHive/pyhive.html#module-pyhive.sqlalchemy_backports

from sqlalchemy import *
f

[2016-08-31 20:51] bkyryliuk commented on #887
duplicate of https://github.com/airbnb/caravel/issues/852

[2016-08-31 20:51] #887 closed

[2016-08-31 20:51] #854 closed

[2016-08-31 20:53] bkyryliuk commented on #864
duplicate of the https://github.com/airbnb/caravel/issues/1052

[2016-08-31 20:53] #864 closed

[2016-08-31 20:56] #973 closed

[2016-08-31 22:25] dennisobrien opened #1053 "alembic_version is not updated to the last migration revision"
After running `caravel db upgrade` the value of `alembic_version` is the second to last migration revision instead of the last revision.  This causes a subsequent run of `caravel db upgrade` to attempt to re-apply the final patch.  This fails with no side effects, so it it not that severe.

I'm running caravel 0.10.0 in a docker container using miniconda3 as the Python3 distribution.  (I see the s

[2016-08-31 22:29] dennisobrien commented on #1053
...found a workaround in #817

[2016-08-31 23:06] kingo55 commented on #682
+1

[2016-09-01 00:35] mistercrunch commented on #1053
Yeah I spent a lot of time digging deep into this and could only come up with a hacky workaround.

[2016-09-01 00:41] mistercrunch commented on #1021
I'd like to remove all references to `self.slice` from the viz object.

I think it's just a matter of passing the cache_timeout as its own argument, or bundling it along with the rest of form_data

[2016-09-01 03:28] zn19920623 opened #1055 "How to sort table by timestamp by default?"
I have created a table and add it to dashboard.
But the table is always sorted by the first metric. How can I change the default sort key to timestamp?

Thx very much!

[2016-09-01 06:50] jerry-sjtu commented on #600
+1 for ElasticSearch

[2016-09-01 08:25] dugjason opened #1056 "'Smart Date' shows inconsistent date formats on 1st of month"
On September 1st, I checked a chart which contained data from August 30, 31 and Sept 1. The timestamps shown for each column are;
- Tue Aug 30
- Wed Aug 31
- September 2016

It would make sense to me to show "Thu Sep 01" for consistency

![screen shot 2016-09-01 at 09 18 17](https://cloud.githubusercontent.com/assets/273718/18160458/825e365c-7025-11e6-9c5f-78a01ca6cc99.png)

SQL query and response

[2016-09-01 20:16] mistercrunch opened #1057 "Support more dashboard semantics around how filters affect slices"
Currently:
* Widgets can emit filters
* The "dashboard controller" applies this filter by refreshing slices with an extra filter parameter
* Slices (in the context of a dashboard) can be made immune to filtering by editing the json configuration behind the dashboard (no ui controls are exposed to set this up)

Needed:
* Allow specifying which slices are immune to which fields.

Currently, the json

[2016-09-02 21:32] jwthomp commented on #264
Is there a way to do this without requiring authentication for viewers?

[2016-09-03 23:22] #1022 closed

[2016-09-05 08:42] xrmx opened #1066 "slice view: clicking the query button hides the graph"
With f17cfcb when i click the query button ("view database query"), the graph makes a transition to top and disappear. Clicking the button again make it appear again. And so on.

[2016-09-05 16:11] priteshwatch opened #1067 "Permissions for specific druid datasources."
We are using the recommended steps to permission a user with gamma + specific druid datasource role, to limit the user to that specific druid datasource.

The /druiddatasourcemodelview/list/ route will still show the other available datasources. Upon clicking a datasource, access denied message is correctly shown.

However, the user should not be able to see other available datasources that he/she

[2016-09-05 18:24] xrmx commented on #1067
To anyone willing to tackle this, it should be something similar to what has been done for SQLAlchemy tables:
https://github.com/airbnb/caravel/commit/061d4f1ac7088de7b39c8eea4f901ee9e006ce66

[2016-09-06 12:31] whoishu commented on #347
+1

[2016-09-06 21:39] ascott opened #1069 "[ui] fix tab styling"
- let's remove the underline when an inactive tab is hovered
- fix positioning of caret on dropdown tab menu item

<img width="596" alt="screenshot 2016-09-06 14 40 31" src="https://cloud.githubusercontent.com/assets/130878/18291959/a5cbdf40-743f-11e6-9b18-a8ff127706f9.png">

[2016-09-06 21:49] ascott commented on #1026
i like this idea. we've also thought about making the chart sticky so only the filters on the side bar scroll, so you always see the chart. there is a refactor happening on this page, so i'd like to wait for those changes to land before tackling this, but let's definitely keep it open.

[2016-09-07 02:03] dennisobrien opened #1070 "problems running caravel with mysql metadata db using mysql username and password"
I'm running into two problems when trying to configure caravel to run with mysql as the metadata store.
- The charts in the example dashboards show only the error message "Please define at least one metric for your table".
- Some database interactions result in a stacktrace with the error message "OperationalError: (pymysql.err.OperationalError) (1045, u"Access denied for user 'mysqladmin'@'172.18

[2016-09-07 03:35] yejianye opened #1071 "Where can I find favorite dashboard or slices?"
Hi,

I found we can favor dashboards or slices. But after I favor those items, how do I find the items I favored in UI?

[2016-09-07 08:17] xrmx commented on #1070
It looks like you put a wrong sqlalchemy url. Please open a python shell and try to debug the issue by connecting with sqlalchemy to that url. Please reopen if it's not a configuration issue.

[2016-09-07 13:11] milapbhojak commented on #830
Hi @ascott Milap here, I am Product Designer and would love to work on UI, UX, Designing new data Viz for this project. Let me know how to get started.

[2016-09-07 16:14] ascott commented on #830
hi @milapbhojak 👋  there are some issues tagged with `ui` that would be a good place to start.
https://github.com/airbnb/caravel/issues?utf8=%E2%9C%93&q=is%3Aopen%20label%3Aui%20-label%3Aairbnb_roadmap

[2016-09-07 17:27] dennisobrien commented on #1070
There is a lot of evidence that the sqlalchemy url works.
- Dashboards are listed on the welcome page and in the Dashboards tab.
- Slices are listed in the Slices tab.
- Database 'main' is listed in Sources -> Databases.
- Sources -> Databases -> edit record for 'main' -> Test Connection: "localhost:8088 says:  Seems OK!"
- Tables are listed in Sources -> Tables

I have also tried this with just '

[2016-09-07 17:33] bkyryliuk commented on #1070
@dennisobrien - could you please attach screen shot of the database configuration that is failing?

[2016-09-07 18:09] dennisobrien commented on #1070
Hi @bkyryliuk

Here's the view at http://localhost:8088/databaseview/edit/1 after clicking "Test Connection".  It shows the sqlalchemy uri I am using.
![image](https://cloud.githubusercontent.com/assets/1168692/18322282/da1f3c72-74e6-11e6-8c08-58ea7ebb2592.png)

And after testing the connection, the Tables appear below:
![image](https://cloud.githubusercontent.com/assets/1168692/18322336/0d251d80-

[2016-09-07 18:26] bkyryliuk commented on #1070
@dennisobrien could you try to start the sqluri with mysql:// rather than mysql+pymysql://

<img width="1251" alt="screen shot 2016-09-07 at 11 25 49 am" src="https://cloud.githubusercontent.com/assets/5727938/18323754/e090f288-74ed-11e6-9d9d-82893ad4fb60.png">

[2016-09-07 18:48] dennisobrien commented on #1070
@bkyryliuk I tried 'mysql://mysqladmin:FIXME_12345@db:3306/db' as well as 'mysql://mysqladmin:FIXME_12345@db/db' and see the same symptoms.

One difference from the screenshot you included is that I have caravel and mysql on different machines.  In the case of this test using docker-compose, they are in running in different containers.  In the case of AWS, caravel is running in a container in ECS

[2016-09-07 21:08] vera-liu opened #1072 "adjust on left/right margin for barplot"
related: https://github.com/airbnb/caravel/pull/1029

[2016-09-07 23:14] dennisobrien commented on #1070
The output of `SHOW GRANTS` looks reasonable:
[code]
If I'm interpreting this correctly, the user 'mysqladmin' can access the database from any host (the '%' wildcard).  So the issue with the OperationalError above is probably to do with "using password: NO" and not the IP address of the host.  Is something removing the password from the sqlalchemy uri?  I see places where the connection password

[2016-09-07 23:37] bkyryliuk commented on #1070
@dennisobrien - are you familiar with ipython ?
If yes - can you connect to the database from the box running caravel using sql alchemy in ipython ?

[2016-09-08 01:03] dennisobrien commented on #1070
@bkyryliuk - I am familiar with ipython.  It wasn't included in the docker image so I'm adding that now.  (But since I'm still building from source from the tag 'airbnb_prod.0.10.0.2' it takes a while.)

In the meantime, I connected to the container running caravel and launched python (not ipython) and can connect fine.  There are some tables that are empty that I would not expect to be empty, but

[2016-09-08 01:17] ascott opened #1076 "[sql-lab] implement no tabs state, or disallow closing last tab open"
![sql-lab-no-tabs-ux](https://cloud.githubusercontent.com/assets/130878/18333824/5abce204-7527-11e6-8db4-6c07b2d98d88.gif)

[2016-09-08 01:19] ascott opened #1077 "[explore] fix copy to clipboard - success ui in wrong place"
![short-link-ui](https://cloud.githubusercontent.com/assets/130878/18333849/9b06611e-7527-11e6-9fb6-adf77553729b.gif)

[2016-09-08 01:29] dennisobrien commented on #1070
I just updated the mysql image to 5.7 (from 5.6) and I see some debug output that wasn't reported in the previous version.

1) Dropped connections.  This might be harmless and caused by code no closing connections.  It might be the cause of the final migration not being recorded in 'alembic_version'.
[code]

2) Access denied.  These errors aren't being reported by caravel but the are being logged

[2016-09-08 02:21] skyyk commented on #525
in the caravel, how to remove the default order by.Eg: the query sql end--ORDER BY count DESC-- LIMIT 5000
tks!

[2016-09-08 04:06] bkyryliuk commented on #1070
@dennisobrien - let's try to import caravel and see if the app has the access in to the mysql:
[code]

Please post here the stacktrace if you'll have some problems.

[2016-09-08 06:32] milapbhojak commented on #1076
Hi @ascott I will work on this issue. Can we make this like we open and close a tab on browser?

[2016-09-08 06:36] ascott commented on #1076
i think what we want to do here is disable the close tab option when there is only one tab left. what do you think @mistercrunch?

[2016-09-08 06:42] milapbhojak commented on #1076
So, Basically user can create tabs but they can't close the last tab and they can should able to rename tabs. Right?

[2016-09-08 07:17] milapbhojak commented on #1076
![image](https://cloud.githubusercontent.com/assets/5056619/18340406/5d53ed8c-75c2-11e6-992b-7e6fe1284615.png)

@ascott Something like this?

[2016-09-08 07:46] ShengyaoQian commented on #1035
https://github.com/airbnb/caravel/pull/1078

[2016-09-08 15:50] vsreddy1602 opened #1080 "Caravel Web UI not responding after adding a user and restart"
2016-09-08 21:16:23,496:WARNING:flask_appbuilder.security.decorators:Access is Denied for: can_welcome on: Caravel

HI,

I get the above error after I added a user to Caravel.
The new user is unable to access the page.

So was I when I tried restarting the server and accessing it myself.

Was working fine till I was the only user.

Thanks,
Vidya

[2016-09-08 16:38] dennisobrien commented on #1070
@bkyryliuk -- Thanks for the debugging advice.  Here's the output of the session.  (Even though it reports version 0.10.0, this is build from the tag 'airbnb_prod.0.10.0.2'.)

[code]

Inspect `sqlalchemy_uri` and notice it already has the password intact:
[code]

Set it anyway and follow the rest of your script:
[code]

And just to be sure, this is the version of caravel
[code]

[2016-09-08 17:45] dennisobrien commented on #1070
I see similar stacktrace in #726 which was closed as a dupe of #596

If I follow the steps `testconn` uses it works fine.  But when I use `get_sqla_engine` I get the error.  Is this the problem:
https://github.com/airbnb/caravel/blob/airbnb_prod.0.10.0.2/caravel/models.py#L398
[code]

But again, I would expect this to break for everyone using a SQLALCHEMY_DATABASE_URI with a username and password.

[2016-09-08 20:40] vera-liu commented on #1045
[https://github.com/airbnb/caravel/blob/master/caravel/models.py#L837](url)

[2016-09-08 21:02] yzliao commented on #1045
@vera-liu Is this a new patch or some existing codes?

cc: @Patrick1860

[2016-09-09 00:22] dennisobrien commented on #1070
Here's an ipython session that tries to mimic the functionality of caravel.views.Caravel.explore (the handler for the endpoint '/explore/<datasource_type>/<datasource_id>/').  In this case I was emulating the endpoint '/caravel/explore/table/3/?...'

[code]

And I can verify that `metrics` is an empty list.
[code]

But if I query the db directly, I do see 'metrics' as a key in 'params'.
[code]

[2016-09-09 02:31] lifeinearth opened #1083 "cant use from_unixtime"
Edit Sqla Table> Expression > i add from_unixtime(mtime, '%Y-%m-%d %H:%i:%S'),
when Query  the table, the sql change the next:

SELECT COUNT(*) AS count
FROM tp_pagesou
WHERE from_unixtime(mtime, '%%Y-%%m-%%d %%H:%%i:%%S') >= '2016-09-02 10:30:09.000000'
  AND from_unixtime(mtime, '%%Y-%%m-%%d %%H:%%i:%%S') <= '2016-09-09 10:30:09.000000' LIMIT 50000

how to delete the %

[2016-09-09 04:46] vera-liu commented on #1045
Sorry for the spam before, I proposed a solution by requiring values with comma to be wrapped in single quote. For instance, values of "A, B, 'Tahoe, CA', D" will be treated as ['A', 'B', 'Tahoe, CA', 'D'] after this fix
PR here:
[https://github.com/airbnb/caravel/pull/1084](url)

[2016-09-09 05:05] yzliao commented on #1045
Thank you! This PR LGTM.

[2016-09-09 05:06] sanjoshi opened #1085 "Mysql Db connection error"
Hi,

I am trying to connect to Mysql database from caravel. But I keep getting these errors intermittently.

1) SIGPIPE: writing to a closed pipe/socket/fd (probably the client disconnected) !!!
2) OperationalError: (_mysql_exceptions.OperationalError) (2006, 'MySQL server has gone away')
3) ERROR:sqlalchemy.pool.QueuePool:Exception during reset or similar

Is there a way to handle these issues?

[2016-09-09 05:10] Pirionfr opened #1086 "support of Extraction functions"
currently caravel doesn't Extraction functions. (http://druid.io/docs/latest/querying/dimensionspecs.html#extraction-functions).

this will helpfull for adding virtual column in druid datasource.

[2016-09-09 06:25] nickrox commented on #1085
I think this is on the mysql side issue.
Possible causes are mentioned in the documentation [http://dev.mysql.com/doc/refman/5.7/en/gone-away.html
](url)
Please see if it helps.

[2016-09-09 07:06] xrmx commented on #1080
Are you really sure you are accessing with the old user and not your new one?

[2016-09-09 07:07] vsreddy1602 commented on #1080
Yes. I tried accessing with old user itself.

[2016-09-09 08:22] skyyk opened #1087 "how to remove the default order by"
how to remove the default order by.Eg: the query sql end--ORDER BY count DESC-- LIMIT 5000
or specified columns to order by~
tks!

[2016-09-09 17:33] bkyryliuk commented on #1070
That's pretty interesting, here is what I get:
[code]

I the views file https://github.com/airbnb/caravel/blob/master/caravel/views.py#L486 when you save the database model this code is executed:

[code]
I would expect to see `mysql://root:XXXXXXXXXX@localhost/caravel_db` at the sqlalchemy_uri.
That feature was added quite some time ago.
What is happening if you edit the Database and save updated

[2016-09-09 18:43] sanjoshi commented on #1085
How/Where does caravel try to make the mysql db connection? I am unable to find where it tries to make the connection.
I can see the db.session but not 'connect'.

[2016-09-09 19:24] dennisobrien commented on #1070
Hmm.  I don't see the X's in my uri.
[code]

I am able to edit the database info, save it, reload and verify that it persists.  I just updated the "Extra" json to test.
[code]

[2016-09-09 21:16] bkyryliuk commented on #1070
[code]
Is the reason why you cannot access the db as db.password is not set.

It means that `pre_add` function https://github.com/airbnb/caravel/blob/master/caravel/views.py#L486 wasn't called somehow.
I cannot replicate the bug on my side.

Do you see any errors when you are saving the DB configuration in the UI ?

[2016-09-09 21:36] ascott commented on #831
@bkyryliuk tackled this one. closing.

[2016-09-09 21:36] #831 closed

[2016-09-09 22:08] neeagl opened #1089 "Assigning users' permission to a particular filter value"
To make caravel support multi-tenancy, our data has a unique user id (as a dimension).. we want to be able to give out access to a common database to differnet users. one of the column refers to the user id and only those particular users should be able to access that data in their dashboard.

2. also is there a way to include a date range filter in the dashboard? right now we have to go to the sl

[2016-09-09 22:31] #1027 closed

[2016-09-09 22:31] #1021 closed

[2016-09-10 00:28] #1067 closed

[2016-09-10 01:35] dennisobrien commented on #1070
@bkyryliuk

I don't see any errors in the log around the time that `DatabaseView` is registered (and I assume when `pre_add` is called).  There is a warning at the end of this section:
[code]

And here's the record from the `dbs` table.  Note that `sqlalchemy_uri` has the original value of SQLALCHEMY_DATABASE_URI and `password` is None.  I'm guessing the `password` is supposed to be a hashed strin

[2016-09-10 01:48] dennisobrien commented on #1070
@bkyryliuk You've already helped me immensely so this is not a request, but if you want a reproducible test case, and already have docker and docker-compose installed, you can clone this repo and do a one-liner to bring up this stack.
https://github.com/dennisobrien/caravel-mysql-docker-example

It's probably not as minimal as I could make it, but it is reproducible.

Thanks again for all your hel

[2016-09-10 10:14] kingo55 commented on #347
Wouldn't the Pivot table be a good starting point?

e.g. Use some pre-defined columns - click an expand button to go slice by the next level.

[2016-09-11 02:24] priteshwatch commented on #665
would love to have this feature, or contribute if necessary.

[2016-09-11 06:55] xrmx commented on #1089
The caravel way would be to split your data into multiple tables, one for each user / role. If you use the very same ids as caravel user you may hack something into viz.py `query_obj` to add a where clause.

[2016-09-11 06:56] xrmx commented on #1086
PR are of course very welcome

[2016-09-11 06:57] xrmx commented on #1083
Looks like a dup of #274. Closing.

[2016-09-11 06:57] #1083 closed

[2016-09-11 06:58] xrmx commented on #1071
Since you grok the code better grep than open issues :)

[2016-09-11 07:00] xrmx commented on #1053
Closing as dup of #817

[2016-09-11 07:00] #1053 closed

[2016-09-11 07:00] neeagl commented on #1089
Thanks xrmx

Also, is there a way we can add time range filter on the dashboard? Currently it looks like we can do that in explorer only,  but it's cumbersome to go there every time to change.

If it's not provided today, can you please a way to do that?

[2016-09-11 07:02] xrmx commented on #1089
@neeagl there is already a bug about that. You know, the idea about open source projects is that everyone contribute a bit not that some people work for free for others :)

[2016-09-11 07:05] neeagl commented on #1089
I agree :) Just wanted to make sure if there's already a hack around since it's a common use case for several people

Anyway, thanks a lot for your help.

[2016-09-11 15:25] yejianye commented on #1071
Actually I did some grep in the code base, but haven't found how favorite is used.

[2016-09-11 18:41] xrmx commented on #576
Closing as fixed in #883

[2016-09-11 18:41] #576 closed

[2016-09-11 18:55] EstebanMonge opened #1091 "[table setup] Make SUM/MIN/MAX/... checkbox create the metric instantenously"
I am using sqlite to extract information with caravel.

The database have two columns time_estimated and time_spent with numeric types, in List Table Column I checked Sum, Min and Max.

When I want make a bar chart, I want to sum the time of columns, but in Metrics only appears COUNT(*) and INTEGER columns, time_spent and time_estimated are lost.

I made a trick with date columns, because are stor

[2016-09-11 21:27] mistercrunch commented on #1089
We may do this at some point

[2016-09-12 02:53] dennisobrien commented on #1070
@bkyryliuk - I just found that if I use the mysql 'root' user and configure it to have no password, these problems all go away.
- All the example dashboards appear.
- I am able to query the 'main' database in the SQL Labs section.

So I think this bug is specific to using a mysql (or postgres) username and password in the SQLALCHEMY_DATABASE_URI.  From your comments a couple days ago, I'm guessing

[2016-09-12 07:08] xrmx commented on #1089
@mistercrunch isn't #660 the same?

[2016-09-12 07:43] xrmx commented on #1091
Which version of caravel?

[2016-09-12 07:45] himanshugahlaut commented on #665
Please add this feature! Almost every person using caravel in our company has asked for a dashboard wide time filter.

[2016-09-12 07:51] yejianye commented on #617
Met the same problem, hope the PR could be merged soon.

[2016-09-12 08:17] yejianye commented on #617
Also notice 'week' and 'month' time grain is broken for SQLite because of this issue as well. Both have percent sign in its sql expression.

[code]

[2016-09-12 12:18] xrmx commented on #1071
So it looks like favorites are written in the FavStar model but never read.

[2016-09-12 13:12] RMKD commented on #1070
I'm also seeing this issue with postgres passwords. commenting out the `conn.password` overwrite resolves the access problem (but of course leaves it visible in the view). is `db.sqlalchemy_uri` getting called somewhere without first reading `db.password`?

[code]

[2016-09-12 15:28] mistercrunch commented on #1091
I know it's not intuitive, but after checking the sum checkbox you need to hit save for the related metrics to be created.

[2016-09-12 15:30] mistercrunch commented on #1085
it's handled by flask-sqlalchemy

[2016-09-12 15:31] mistercrunch commented on #1080
@vsreddy1602 did you assign a role to that user and made him active by clicking the `Is active` checkbox ?

[2016-09-12 15:47] mistercrunch opened #1094 "Refactor all db-specific logic into static classes for each db engine"

[2016-09-12 16:41] EstebanMonge commented on #1091
Hello we are using Caravel 0.9.0

[2016-09-12 16:42] EstebanMonge commented on #1091
I will check the save button.

[2016-09-12 16:47] bkyryliuk opened #1097 "Smart preset settings in the sql lab for the query results in the visualize flow."
![screen shot 2016-09-12 at 9 46 36 am](https://cloud.githubusercontent.com/assets/5727938/18444378/d41b75d0-78cd-11e6-8f6b-2ca8834bfeac.png)

[2016-09-12 16:51] EstebanMonge commented on #1091
It works!

May be can be usefull to put the Save button in all Tab.

Thanks a lot!

[2016-09-12 16:51] #1091 closed

[2016-09-12 17:02] bkyryliuk commented on #466
[code]

Models show correct foreign key now. Closing the issue.

[2016-09-12 17:13] x4base commented on #466
Are you sure? It's not about the model, I know the model was fixed. The problem is whether the underlying database is migrated correctly.

[2016-09-12 17:16] sanjoshi commented on #1085
Hi @mistercrunch How can I handle it? I have tried different configurations but it is still not working.
The mysql db timeout is 600s. So I have given my SQLALCHEMY_POOL_RECYCLE = 100.

Is there a better way to handle it?

Thanks

[2016-09-12 17:29] sanjoshi commented on #1085
Hi..
Also please let me know what is this being used for?
CARAVEL_WEBSERVER_TIMEOUT

Is this why we could be facing these issues?

[2016-09-12 17:53] bkyryliuk commented on #466
@x4base - you right, looks like migrated DB doesn't have the foreign keys:
![screen shot 2016-09-12 at 10 52 12 am](https://cloud.githubusercontent.com/assets/5727938/18446414/12ebb2e4-78d7-11e6-9cfa-f04ca481da04.png)
![screen shot 2016-09-12 at 10 52 29 am](https://cloud.githubusercontent.com/assets/5727938/18446413/12e82d18-78d7-11e6-89e2-b54ddd875a4b.png)

[2016-09-12 17:59] bkyryliuk commented on #797
I've seen a similar issue:
<img width="1239" alt="screen shot 2016-09-12 at 10 46 59 am" src="https://cloud.githubusercontent.com/assets/5727938/18446594/e81f673a-78d7-11e6-879e-bb25bae38a26.png">

[2016-09-12 19:27] mistercrunch opened #1098 "Support Hive & Presto DATE type(s)"

[2016-09-13 06:47] toabey commented on #665
Is it better to create dashboard with a different time granularity and date option ?
with a template of previous dashboards(slices included).

[2016-09-13 09:50] lihemin opened #1100 "order_by_cols: '[' is not a valid choice for this field"
add  order_by_cols  to  0.9.1  from master   cause  error  ：order_by_cols: '[' is not a valid choice for this field

[2016-09-13 10:16] xrmx commented on #1100
@lihemin Could you please update the report citing:
- which version of caravel you are using
- what you are doing and what you get, if it's an error please post the backtrace from the log

[2016-09-13 15:19] priteshwatch commented on #665
@mistercrunch ideally, you want to control Time Granularity and Filters from the dashboard. Typical use case would be show me data for time range with these filters for the whole dashboard.

If you could point me in the right direction, I am happy to look into it.

[2016-09-13 17:33] mistercrunch opened #1102 "[explore] hide "Time Grain" Viz.is_timeseries=False"
Both for Druid and SQLA

[2016-09-14 15:40] mistercrunch opened #1105 "[mapbox] leaving label field empty should result in no labels showing up"

[2016-09-14 18:32] dennisobrien commented on #1070
@bkyryliuk - If you have any guidance on fixing this I'd be happy to submit a PR.  At the moment, I'm confused on the intent of the code.  `caravel.models.Database` has class attributes `sqlalchemy_uri` and `password`.  At initialization `utils.get_or_create_main_db` sets `dbobj.sqlalchemy_uri = config.get("SQLALCHEMY_DATABASE_URI")` and at this point the "dbs" entry for "main" has the full values

[2016-09-14 19:28] bkyryliuk commented on #1070
@dennisobrien - I'll have a chance to take a better look closer to the end of the week.
Thanks for the detailed stacktraces and scripts.

We are using caravel with mysql and passwords in our production. Looks like the issue is that somehow ` def pre_add(self, db):` isn't executed in your case.

[2016-09-14 23:15] dennisobrien commented on #1070
I added this commit https://github.com/airbnb/caravel/pull/1092/commits/0debcee80d0451d83276b450f7f48b9e1c03c090 to PR #1092  The Travis tests are still running but hopefully will pass (and fix my broken PR).

As I'm new to this codebase, I'd appreciate any suggestions for improvements.

thanks,
Dennis

[2016-09-14 23:44] ShengyaoQian opened #1111 "Getting distinct values for filter fields"
Is there a way in caravel to get all distinct values for a field that I want to filter on? Like in the filter form it would display all the values that are filterable, and as I type in the value, it only display the ones that match.

[2016-09-15 04:26] mistercrunch opened #1112 "[bar chart] auto bottom margin truncates labels on core example"
<img width="880" alt="screen shot 2016-09-14 at 9 24 36 pm" src="https://cloud.githubusercontent.com/assets/487433/18538343/e1235518-7ac1-11e6-945f-51360cb41eb6.png">

[2016-09-15 08:03] xrmx commented on #1111
Something like this? https://github.com/airbnb/caravel/pull/1061

[2016-09-15 09:13] xrmx opened #1113 "wrong slice id used somewhere"
In e895807158f754bc83a77b581949eb2499390019 when you open the visualization type menu in the explorer view this get called /caravel/explore/table/2/7b9776076d5fceef4993b55c9383dedd.gif, redirected to
/caravel/explore/table/2/7b9776076d5fceef4993b55c9383dedd.gif/ and finally explode with this:

[code]

[2016-09-15 09:28] xrmx opened #1114 "time series bar chart broken"
On e895807158f754bc83a77b581949eb2499390019 firefox spit this but quite not useful with packed libs:
[code]
The legend and the x axis label are displayed but nothing else.

All other time series visualization works fine with the same data.

[2016-09-15 09:54] xrmx commented on #1114
So this is a regression from 9ae231aeb8e826deee964e56df2732c81842336c since if i change the bottom margin to everything but "auto" it works fine. cc @vera-liu

[2016-09-15 15:17] gurinderiitr opened #1117 "Build Failing"
Hi ..
I am trying to build the source code.
Following the instructions I have installed the front end dependencies using npm.

on python setup.py I am getting error:

warning: no previously-included files matching '*.pyo' found anywhere in distribution
warning: no previously-included files matching '*.pyd' found anywhere in distribution
numpy/core/src/npymath/ieee754.c.src:7:29: fatal error: npy_m

[2016-09-15 17:00] ShengyaoQian commented on #1111
yes, thanks @xrmx !

[2016-09-15 17:48] xrmx commented on #1117
Looks like numpy is not finding numpy headers. Maybe you are missing some numpy dependencies and have some earlier errors? Anyway closing as we cannot do anything about that.

[2016-09-15 17:48] #1117 closed

[2016-09-15 17:49] #1111 closed

[2016-09-15 23:48] vera-liu commented on #1112
merged: https://github.com/airbnb/caravel/pull/1120

[2016-09-16 00:13] vera-liu commented on #857
First PR: https://github.com/airbnb/caravel/pull/1122

[2016-09-16 00:16] vera-liu commented on #1052
Waiting on: https://github.com/airbnb/caravel/pull/1073

[2016-09-16 00:20] vera-liu commented on #898
https://github.com/airbnb/caravel/pull/1060

[2016-09-16 00:22] ascott commented on #898
nice work @vera-liu !

[2016-09-16 00:22] #898 closed

[2016-09-16 12:27] xrmx commented on #1114
2132f6715e6e528a44a1a6387bcd9899063fbc7b does not help with the issue

[2016-09-17 04:10] vera-liu commented on #1114
Sorry going back and forth, this should fix it now: https://github.com/airbnb/caravel/pull/1124

[2016-09-17 08:38] xrmx commented on #1114
@vera-liu thank you very much! Will test on monday but it looks like it will fix it.

[2016-09-17 08:38] #1114 closed

[2016-09-17 14:59] #820 closed

[2016-09-17 15:00] #589 closed

[2016-09-17 15:00] #471 closed

[2016-09-17 15:01] #488 closed

[2016-09-17 15:03] xrmx commented on #1085
@sanjoshi maybe that's the same mysql config issue as https://github.com/airbnb/caravel/issues/457

[2016-09-17 15:04] #358 closed

[2016-09-17 15:04] #299 closed

[2016-09-17 19:30] #617 closed

[2016-09-17 19:32] #596 closed

[2016-09-18 09:02] xrmx commented on #1113
On f17cfcbfa277669f4864981174ce48ba7cc1ebee the very same request is done too but it just return a 404 without even redirecting.

[2016-09-18 15:26] xrmx opened #1128 "slice creation broken on master"
With afa1f0916b061d86afc2898515463876be5fa011 if i click to slices, then click the plus i get the * Click on a table link to create a Slice * message but if i click the table name i go to the edit page.

[2016-09-18 15:29] xrmx opened #1129 "caravel database added to databases"
With afa1f0916b061d86afc2898515463876be5fa011 on a new installation i get an entry in databases called *main* which is the db caravel is installed in. Wondering if this done on purpose or not.

[2016-09-18 15:51] xrmx opened #1131 "write tests for fundamental tasks"
We need tests to catch regression on database, table and slice creation.

[2016-09-18 16:11] xrmx opened #1132 "AttributeError when exploring"
When i create a new slice i get this:

[code]

My url is *http://127.0.0.1:8088/caravel/explore/table/1/?* and in the query params i have *&slice_id=&* so a bit puzzled on why i am getting this.

[2016-09-18 16:21] xrmx commented on #1132
Ah! this is #1113 with #1127 applied. Closing.

[2016-09-18 16:21] #1132 closed

[2016-09-18 18:32] xrmx commented on #1045
Closing as fixed in #1084

[2016-09-18 18:32] #1045 closed

[2016-09-19 01:34] ThomasEvansNZ opened #1133 "Flask-Cache: CACHE_TYPE is set to null"
Hi there,

I have been attempting to install Caravel for the last 4 hours with miserable results - my Linux is rather rusty so perhaps the issue is user orientated...

The issue I am facing is around the creation of a admin user, I keep being returned the following error:

`/usr/lib/python2.6/site-packages/flask_cache/__init__.py:152: UserWarning: Flask-Cache: CACHE_TYPE is set to null, caching is

[2016-09-19 08:11] xrmx commented on #1133
Better install caravel inside a virtualenv created with python3.4+ . If you can't do that python2.7 should be fine. Don't mess install python libraries in system python.

[2016-09-19 08:11] #1133 closed

[2016-09-19 08:29] FrankXfs commented on #399
I met the same issue, does anyone knows how to solve it? thx.

[2016-09-19 08:33] FrankXfs commented on #399
Test connection is good, after tested connection , the tables can be listed on the bottom of the page, but when I clicked 'save',  it returns :General Error <class 'sqlalchemy.exc.StatementError'>

[2016-09-19 09:49] xrmx commented on #399
@FrankXfs we can reopen the issue if you have a stacktrace, can reproduce on master and you report your database connection uri. Also please double check that's your stacktrace is not the same of #464.

[2016-09-19 12:06] maver1ck opened #1135 "Exception when using World Map Slice"
When choosing World Map Slice, I'm getting this exception.
Unfortunatelly exception isn't pass to UI, so query is running infinitely.

[code]

[2016-09-19 12:10] xrmx commented on #1135
Which version is this? If that's not master possibly it has already been fixed there.

[2016-09-19 12:12] maver1ck commented on #1135
Official from pip (so I assume it's 0.10.0)

[2016-09-19 12:47] xrmx commented on #1135
@maver1ck could you please try to reproduce in master please? If that's a production instance don't upgrade there though :)

[2016-09-19 12:49] xrmx commented on #1129
So it looks like it's on purpose since the examples table are created there. A bit puzzled that i don't have it on my production install but no big deal. Closing then.

[2016-09-19 12:49] #1129 closed

[2016-09-19 13:48] maver1ck commented on #1135
Yep.
Is there an instruction how to install master ?
pip install git+https://github.com/airbnb/caravel/ + js_build.sh ?
Something more ?

[2016-09-19 13:49] xrmx commented on #1135
https://github.com/airbnb/caravel/blob/master/docs/installation.rst#making-your-own-build

[2016-09-19 14:50] maver1ck commented on #1135
Got this.
OK. The bug was repaired.
I think that by this commit.
https://github.com/airbnb/caravel/commit/3c92ba9bd57f412e1ebf7f610c1b7a630c0ba53c

[2016-09-19 14:59] xrmx commented on #1135
Cool, closing then.

[2016-09-19 14:59] #1135 closed

[2016-09-19 15:05] maver1ck commented on #1135
Any ETA of next version of Caravel so ?

[2016-09-19 15:38] xrmx commented on #1135
@maver1ck if they are not already reported yes, also PR even more welcome :)

[2016-09-19 16:49] amancevice opened #1136 "Grant permission to enable refresh widget on dashboard"
I would like help enabling what I'm calling the "refresh widget" (see below) for users. It appears this widget is only available for admin users using default roles (Admin, Alpha, Gamma), but it's not obvious to me which permission(s) the Admin role has that is enabling this widget. Any help or insight would be appreciated!

<img width="185" alt="screen shot 2016-09-19 at 12 43 42 pm" src="https:/

[2016-09-19 19:27] dennisobrien commented on #1070
I closed PR #1092 and opened a cleaner PR #1137

(This seemed easier than dealing with all the merge conflicts from recently pulled changes in master.)

[2016-09-19 19:33] xrmx commented on #1136
which version of caravel are you using? If not master please test master before any issue.

[2016-09-19 19:45] amancevice commented on #1136
I'm using `0.10.0`. Apologies for any confusion: are you saying users should clone the repo and install from source before opening an issue?

[2016-09-19 19:46] #989 closed

[2016-09-19 19:46] #578 closed

[2016-09-19 19:46] #1112 closed

[2016-09-19 19:46] #961 closed

[2016-09-19 19:51] xrmx commented on #1136
@amancevice yes, please! that would help a lot.

[2016-09-19 20:04] amancevice commented on #1136
Are there instructions for doing this?

When I follow the directions [here](http://airbnb.io/caravel/installation.html), substituting `pip install caravel` with `pip install -e <path/to/repo>` I get all sorts of CSS issues. I'm sure I'm just missing some step.

[2016-09-19 20:12] xrmx commented on #1136
https://github.com/airbnb/caravel/blob/master/docs/installation.rst#making-your-own-build

[2016-09-19 20:43] amancevice commented on #1136
Thanks!

[2016-09-19 21:13] amancevice commented on #1136
It looks like this is indeed fixed in master -- I wait with bated breath for `pip install 'caravel>0.10.0'` to succeed :)

[2016-09-19 21:13] #1136 closed

[2016-09-19 21:13] birbbit commented on #682
Has anyone found a way around this?

[2016-09-19 21:26] bobziuchkovski opened #1139 "Caravel redirects HTTPS-terminated load balancer traffic to HTTP"
We're trying to run caravel 0.10.0 behind a load balancer on Amazon and terminate HTTPS/SSL traffic on the load balancer.  We've noticed that we can access `https://<caravel-behind-lb>/login`, but when we supply user credentials, caravel redirects back to the plaintext `http://<caravel-behind-lb>/login` location.  This is a bummer, and has been flagged as part of a third-party security audit.

Is

[2016-09-19 22:05] maver1ck opened #1140 "Make autorun respect the async/sync flags"
Hi,
I've got following issue: I can't edit queries in SQL Lab.
Is this feature working ?

Caravel version: master commit `afa1f0916b061d86afc2898515463876be5fa011`

[2016-09-19 22:11] maver1ck opened #1141 "Better error message when removing used druid datasource"
When I'm removing druid datasource which have some slice added I'm getting this error message:
`General Error <class 'UnboundLocalError'>`

I think it should be something more human readable.

Full stacktrace.

[code]

[2016-09-19 22:22] #754 closed

[2016-09-19 22:23] #1128 closed

[2016-09-19 22:31] maver1ck commented on #665
One of the best date pickers I found.
https://github.com/christopheclc/polymer-date-picker

[2016-09-19 22:55] maver1ck commented on #1140
OK. I moved to last commit `e8088d5c9a522db5e0e165988fba47893337fd5b`

I can edit query but there is no execute query button :)

[2016-09-20 01:06] sbookworm opened #1142 "seems dependency problems in js building"
when installing caravel, execute "npm install" in "asset" folder, there was the problem below, which seems dependency problems

npm ERR! peerinvalid The package react does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer react-ace@3.5.0 wants react@^0.13.0 || ^0.14.0 || ^15.0.1
npm ERR! peerinvalid Peer react-bootstrap@0.30.3 wants react@>=0.14.0
npm ERR! peerinva

[2016-09-20 01:09] mistercrunch commented on #1142
what's your npm version?

[2016-09-20 01:25] sbookworm commented on #1142
oh, it's too low than you, I will try your version, thanks

[2016-09-20 01:25] #1142 closed

[2016-09-20 01:41] kingo55 commented on #682
Try creating a view of the table you're adding. It works eventually.

On Tue, 20 Sep 2016, 02:43 birbbit, <notifications@github.com> wrote:

[2016-09-20 02:20] okkype opened #1143 ""GET /static/assets/dist/common.0.10.0.entry.js HTTP/1.1" 404 -"
why "GET /static/assets/dist/common.0.10.0.entry.js HTTP/1.1" 404 - happend?

[2016-09-20 04:22] mistercrunch commented on #1143
we started versioning the `entry.js` files restarting `npm run dev` should do the trick

[2016-09-20 06:04] jefffeng opened #1144 "Clicking on a user's role who is not active and making them active fires an error"
If you click on a user's role who is not active and try to make them active outside of the "edit a role" flow, it fires the error in turquoise in the image below.

![unnamed](https://cloud.githubusercontent.com/assets/18297825/18659106/475e5d24-7ebd-11e6-896d-a628b282cdf7.png)

[2016-09-20 06:34] mistercrunch commented on #1144
https://github.com/airbnb/caravel/pull/1138 fixed this

[2016-09-20 06:34] #1144 closed

[2016-09-20 06:38] mistercrunch commented on #1140
Oh, go to the database edit page and check "enable in SQL Lab" and "Allow Run Sync"
<img width="1065" alt="screen shot 2016-09-19 at 11 37 34 pm" src="https://cloud.githubusercontent.com/assets/487433/18659865/2137de68-7ec2-11e6-8faf-4f84c57ca390.png">

[2016-09-20 06:49] neevany opened #1145 "[big_number] sub header text not showing up"
sub header text is not showing up in big number viz

[2016-09-20 06:54] mistercrunch commented on #1139
Seems like there's a solution here:
http://stackoverflow.com/questions/23347387/x-forwarded-proto-and-flask

I'd approve a PR that would add `ENABLE_PROXY_FIX = False` to `caravel/config.py` and:
[code]
to `caravel/__init__.py`

[2016-09-20 07:47] maver1ck commented on #1140
OK. Working :)

But could you try this scenario:

1. Add Database
2. Check only 'Expose in SQL Lab'
3. Go to SQL Lab
4. From dropdown select any table from this database
5. Click on table 'Run query in new tab' (blue sign on top with '+')

The query is executed. Should it be this way ?

[2016-09-20 10:32] maver1ck opened #1147 "Run query in new tab on SQL Lab / Query History doesn't work"
On Query History tab on every query there are 4 buttons:
- visualize
- overwrite text
- run query in new tab
- remove from log

Option "run query in new tab" does nothing.

https://github.com/airbnb/caravel/blob/e8088d5c9a522db5e0e165988fba47893337fd5b/caravel/assets/javascripts/SqlLab/components/QueryTable.jsx#L89

[2016-09-20 10:52] maver1ck opened #1148 "Setting row limit in SQL Lab disables warning"
Hi,
I found following bug.
I set in `caravel_config.py` row limit for SQL Lab:
[code]
This disables warning because in JS limit is constant and equal 1000.
https://github.com/airbnb/caravel/blob/e8088d5c9a522db5e0e165988fba47893337fd5b/caravel/assets/javascripts/SqlLab/components/SqlEditor.jsx#L196

[2016-09-20 10:56] maver1ck commented on #1135
@xrmx
I'd like to contribute but unfortunatelly I'm rather backend developer and I don't have experience with JS and react.
Do you have some easy backend tasks ?

[2016-09-20 10:57] xrmx commented on #1135
@maver1ck #1141 is probably easy to fix as some variable is used but not defined, maybe a typo?

[2016-09-20 10:59] maver1ck commented on #1141
I'll try to work on this today.

[2016-09-20 11:21] lxneng opened #1149 "How to disable convert local-time to utc timezone in time-series bar chart"
![image](https://cloud.githubusercontent.com/assets/112606/18667844/c697c3d0-7f64-11e6-803e-072f1e514e0d.png)

that csv data is like

![image](https://cloud.githubusercontent.com/assets/112606/18667879/f814912c-7f64-11e6-9747-0d9a1e7d0bba.png)

[2016-09-20 12:05] xrmx commented on #1149
Are you sure this depends on timezone conversion? Anyway looks like a dup of https://github.com/airbnb/caravel/issues/763

[2016-09-20 15:50] bobziuchkovski commented on #1139
@mistercrunch Thanks for pointing that out.  I've submitted a PR that adds the ProxyFix support.  We just deployed 0.10.0 with that commit cherry-picked and confirmed we're no longer being redirected from https to http.

[2016-09-20 17:28] mineca commented on #600
+1 for ElasticSearch

[2016-09-20 17:59] #405 closed

[2016-09-20 18:00] bkyryliuk commented on #1070
Thanks for the fix @dennisobrien  !

[2016-09-20 18:00] #1070 closed

[2016-09-20 18:04] bkyryliuk opened #1151 "Make sure that alpha and gamma permissions are not modified by user"

[2016-09-20 19:24] #1139 closed

[2016-09-20 19:24] #1145 closed

[2016-09-20 20:11] ascott opened #1152 "[nav bar] handle active nav bar item better"
we are using hacks in a few places, let's consolidate and handle active nav states in one place.

https://github.com/airbnb/caravel/pull/1122/files?diff=split#diff-cda789efd98afa25bee0f51555357647R26

[2016-09-20 20:33] ascott opened #1153 "use fetch polyfill for post/get requests so we can move away from jquery."
https://www.npmjs.com/package/whatwg-fetch
https://github.github.io/fetch/
https://github.com/airbnb/caravel/pull/1122/files?diff=unified#r79704922

[2016-09-20 23:12] vera-liu opened #1155 "[explore] stores and actions for refactoring explore view"
https://github.com/airbnb/caravel/pull/1108

[2016-09-20 23:23] ascott opened #1156 "[explore v2] add control components for TimeFilter, GroupBy, Sql and Filter"

[2016-09-20 23:24] ascott opened #1157 "[explore v2] wrap visualizations/*.js in react components"
[explore v2] wrap visualizations/*.js in react components so they can be updated by the new controls

[2016-09-20 23:28] maver1ck commented on #1141
It's not so easy for me.
I tried to do following:
[code]
But result is that I'm getting as many warning as slice count :>

I'm looking deeper into SQL Alchemy ORM (this is trigger on cascade delete)

[2016-09-21 07:54] xrmx commented on #1141
Please note that #1078 will change things quite a bit around this code. The correct fix i think would be to add a signal to deletion of SqlaTable or DruidDatasource and block the deletion if there are slices. We are losing the FK so we cannot do that in sqlalchemy.

[2016-09-21 09:12] cactusthinking commented on #884
this maybe coursed by some fields in you data table exceed the caravel table:table_columns,field:type 's size limit
I used MySQL: error when add table.
(1406, "Data too long for column 'type' at row 1") [SQL: 'INSERT INTO table_columns (created_on, changed_on, table_id, column_name, verbose_name, is_dttm, is_active, type, groupby, count_distinct, sum, max, min, filterable, expression, description,

[2016-09-21 10:41] flyfatasy opened #1161 "caravel filter views returns invalid data"
I have a table in druid named activate_andes. Below is the
https://pan.baidu.com/s/1nuBrBzN
when I choose visualize type to filter, It looks like this.
https://pan.baidu.com/s/1nv8PXIL
When I deep into the http response, I found this:
{"filter": "activate_type", "text": 1473004800000, "metric": "reinstall", "id": 1473004800000}]

Why text is not the concrete value of activate_type other than times

[2016-09-21 10:42] flyfatasy commented on #1161
Anyone can dealing this? Thank you very much.

[2016-09-21 12:35] xrmx commented on #1161
which version of caravel is this? if not master please try again against master.

[2016-09-21 14:00] flyfatasy commented on #1161
The latest version. 0.10.0

[2016-09-21 14:01] flyfatasy commented on #1161
The latest version. 0.10.0

[2016-09-21 14:01] xrmx commented on #1100
One week without feedback, closing.

[2016-09-21 14:01] flyfatasy commented on #1161
Installed by pip install caravel.

[2016-09-21 15:13] marzoli93 opened #1162 "Install Alpha Version of Caravel"
Hello, How can I install Alpha Version of Caravel on Ubuntu and enable SQL Lab?

I follow this guide to install Caravel: http://airbnb.io/caravel/installation.html

Someone can help me?

Thanks

[2016-09-21 15:15] xrmx commented on #1162
Github is for reporting issue not for support please. The documentation is in this very same repository:
https://github.com/airbnb/caravel/blob/master/docs/installation.rst

[2016-09-21 15:15] #1162 closed

[2016-09-21 15:45] mistercrunch commented on #1162
@xrmx I'm not against using GH issues for Q/A
@marzoli93  To build your own version from master check out the CONTRIBUTING.md in the root of the repo

[2016-09-21 16:05] randhirkr commented on #682
@kingo55  - will it not work without creating view on the DB? As per our requirement we do not  have that much leeway to create view on the DB.

Seems fix is still in progress for this.

[2016-09-21 21:29] #921 closed

[2016-09-21 21:47] mistercrunch commented on #665
https://github.com/airbnb/caravel/pull/1165

[2016-09-21 22:17] birbbit commented on #682
I failed to get it working even with views. I keep getting the same error no matter what I try. Guess I will wait for the fix.

[2016-09-21 23:29] mistercrunch commented on #682
Are you making your own build or on the latest pypi release?

[2016-09-22 00:18] mistercrunch commented on #797
fixed

[2016-09-22 00:18] #797 closed

[2016-09-22 00:42] dennisobrien opened #1167 "Test connection on a newly added database fails"
(I introduced this bug so I'll submit a PR shortly.)

When you click to add a new record in '/databaseview/list', then define a database name and provide a SQLAlchemy URI, then click TEST CONNECTION, the test fails and an exception is shown in a dialog:

[code]

The fix is for `testconn` to just use the sqlalchemy_uri passed in the request if the database name is not found in the db.

This is buil

[2016-09-22 07:39] Georgepentaho commented on #545
+1 ,very useful, hope can add in this new version.

[2016-09-22 08:14] attahkhan016 opened #1170 "Embedded Dashboards"
Can we send external parameter with the embedded charts or Dashboards ?

[2016-09-22 08:29] xrmx commented on #1170
what is an external parameter? what do you want to achieve?

[2016-09-22 08:34] xrmx commented on #1162
@mistercrunch the problem i have with GH issues for this kind of generic questions is that only a handful of people get notifications and will then answer. A lot more people may have been answered on gitter / mailing list / whatever.

[2016-09-22 09:13] attahkhan016 commented on #1170
Hello ,

I want to embedded the dashboard or the charts into our product.
1)Can I embedded it into our product with the embedded option provided ?
2) if yes , can we send external parameters with it , for example :can I
send a specific request like just show the no. of male in India then it
should show the count specific to India from the world gender database from
my product/in the product?

On T

[2016-09-22 11:56] flyfatasy commented on #1161
@xrmx  what should i do to validate this issue?

[2016-09-22 12:23] xrmx commented on #1161
@flyfatasy i've asked if you can reproduce the same issue on master.
You can build master by doing a git clone of the repo and then following these instructions:
https://github.com/airbnb/caravel/blob/master/docs/installation.rst#making-your-own-build

[2016-09-22 14:26] edevil opened #1171 "Druid metadata cannot be retrieved when the whole dataset has the same timestamp"
My dataset has no notion of time, so when I ingested it into Druid I added a mock timestamp to all rows, as suggested in the tutorial (http://druid.io/docs/latest/tutorials/tutorial-batch.html).

Caravel tries to obtain the last segment of data for the druid metadata and works backwards from the max time. Since everything has the same date, no data is returned so no metadata is retrieved.

[2016-09-22 14:43] mistercrunch commented on #1162
@xrmx you're right. We can put in an issue template with guidelines around that and other things.

[2016-09-22 16:16] dennisobrien commented on #1167
For the record, this was a regression I introduced with PR #1137

[2016-09-22 16:31] bkyryliuk commented on #1049
Future works:

- make it optional
- maintain a system role for people who can grant rights
- document the flows in the security section of the docs
- a quick way to see the columns in the table (tooltip? link to endpoint that list the columns for a table?)
- manage how granters could only grant permissions to a subset of dataset
- request access to the databases, not only to the datasources
- incl

[2016-09-22 16:36] edevil commented on #707
Just to make things clearer, at this time the Mapbox visualization does NOT work with Druid using either spatialDimensions or normal dimensions for coordinates, even after #725. Am I right?

[2016-09-22 16:53] #780 closed

[2016-09-22 17:11] bkyryliuk commented on #953
@PickLiDan - could you please provide the screenshots ?

[2016-09-22 17:54] bkyryliuk opened #1173 "Provide ability to import / export the slices / dashboards metadata"

[2016-09-22 19:31] dennisobrien opened #1176 "adding a new database definition does not mask the password"
This is another regression from PR #1137
Seen in master since that commit.

When adding a new database definition in '/databaseview/add' and including a sqlalchemy uri with a username and password, saving, then viewing the record, the password is included in the sqlalchemy uri and not password masked.

The fix is straightforward and I'll submit a PR soon.  Apologies for this regression.  Now I und

[2016-09-22 21:22] ascott opened #1178 "prototype new layout for explore view with fixed chart on right and scrolling controls on left"
* prototype new layout for explore view with fixed chart on right and scrolling controls on left
    * query and save buttons should always be visible

[2016-09-22 21:30] #894 closed

[2016-09-23 02:06] the-dcruz opened #1181 "Query filters cannot be removed from saved slice"
### Overview

If a slice is saved with some query filter specified, it is not possible to remove them from the slice.
I have verified this on master.
### Steps to recreate
1. Create new slice
2. Add any query filter
3. Save as new slice
4. Edit newly saved slice
5. Remove query filter by clicking the remove button
6. Save and overwrite
7. Reopen that slice and notice that the removed filters reapp

[2016-09-23 02:08] the-dcruz commented on #1181
I can look into this if no one wants to pick it up soon.

[2016-09-23 02:50] mistercrunch commented on #1181
Please do!

[2016-09-23 04:03] feiquanbifeng commented on #600
+1 for ElasticSearch

[2016-09-23 09:27] maver1ck commented on #1141
OK.
As #1078 was merged I'm looking into the problem.

[2016-09-23 18:37] ascott opened #1184 "replace $.ajax fetch, reduce dependency on jquery"
replace $.ajax with https://github.github.io/fetch/

[2016-09-23 18:56] bkyryliuk commented on #1173
pickle may be an option for it:
[code]

[2016-09-23 19:18] xrmx commented on #1184
dup of #1153 maybe?

[2016-09-23 19:45] cuph62 opened #1185 "Slides from Strata in pdf or other generic format"
Is it possible to have a pdf-version instead of iwa of the

Slides from Strata (March 2016)

I can't read the file at
https://drive.google.com/open?id=0B5PVE0gzO81oOVJkdF9aNkJMSmM

Thx,
Herman

[2016-09-23 20:18] ascott commented on #1184
yep, thanks @xrmx :)

[2016-09-23 20:18] #1184 closed

[2016-09-23 20:43] ascott commented on #1185
i exported to pdf. enjoy!

[Caravel - Strata 2016.pdf](https://github.com/airbnb/caravel/files/490643/Caravel.-.Strata.2016.pdf)

[2016-09-23 20:43] #1185 closed

[2016-09-24 04:16] prokh opened #1189 "Download button, share button, and url shortener button stay not in sync with visualization while editing"
The json export button, the csv export button, the share button, and the url-shorter button are not updated when the user changes metrics, groupby, or other properties of the visualization. Thus, the user downloads or shares the wrong data. They are updated when the site is reloaded by clicking on refresh.
## Steps to recreate it:
1. Open a slice, e.g.
   /caravel/explore/table/2/?slice_name=World

[2016-09-24 18:57] #1176 closed

[2016-09-25 04:06] toabey commented on #707
Druid doesn't support dimensions other than String datatype as of Now, development is in progress for other datatypes in dimension then it works with same configuration.

Spatial Dimension is supported in Druid , but Mapbox visualization doesnot use it as of now.

[2016-09-25 10:35] wbsljh opened #1191 "Module build failed: Error: Couldn't find preset "es2015-loose" relative to directory"
i get the problem when i run  "npm run prod", it throw the following errors。i guess if it missing the dependency "babel-preset-es2015-loose" in the package.json?

ERROR in ./~/react-grid-layout/index.js
Module build failed: Error: Couldn't find preset "es2015-loose" relative to directory "D:\develop\workspace_py\caravel\caravel\assets\node_modules\react-grid-layout"
    at D:\develop\workspace_py\

[2016-09-25 10:39] wbsljh commented on #1191
after install the dependency "babel-preset-es2015-loose" get the errors change, as follow:
=========================================================
ERROR in ./~/react-grid-layout/index.js
Module build failed: Error: Couldn't find preset "stage-1" relative to directory "D:\\develop\\workspace_py\\caravel\\caravel\\assets\\node_modules\\react-grid-layout"
    at D:\develop\workspace_py\caravel\cara

[2016-09-25 15:40] mistercrunch commented on #707
My feeling is that this won't be a priority for us at Airbnb for a little while, help is welcomed if someone wants to add the feature!

[2016-09-25 15:52] prokh commented on #753
I took a look at the react-select component. As far as I can see, one cannot change the order of the items in a multiselect by drag and drop. Some viz depend on the order. Thus, users have to delete all the items if they decide that the last item should go to the front.

[2016-09-26 06:39] drorata opened #1193 "Use Caravel with Vertica"
I'm trying to connect Caravel to a Vertica cluster. The steps I took are:
1. Install `sqlalchemy-vertica-python` and `psycopg2`.
2. I configured a DB: `vertica+vertica_python://dba:psss@host.name:5433/DB.schema`. Testing the connection seems to be OK.
3. Next, I try to create a table and this is where I fail. Can someone give me a hint what should be in each field? In particular `Table Name` (is i

[2016-09-26 07:12] xrmx commented on #1193
Have you read the tutorial? http://airbnb.io/caravel/tutorial.html

[2016-09-26 07:17] drorata commented on #1193
Yes, I'm getting stuck at the definition of the table. BTW, I manage to connect to Vertica using `SQLAlchemy` from the console.

[2016-09-26 07:26] xrmx commented on #1193
Possibly your tables are on a different schema?

[2016-09-26 07:32] drorata commented on #1193
I'm afraid I'm a little lost in naming conventions. In order to connect, I use something of this sort:

[code]

Inside `DB.schema` I have a schema called `db` and inside it there are the tables I need. Does it make sense?

[2016-09-26 11:42] eliab commented on #894
👏

[2016-09-26 15:32] bkyryliuk opened #1195 "Request form improvements"
Future works:
- [ ]  make it optional
- [ ] maintain a system role for people who can grant rights
- [ ] document the flows in the security section of the docs
- [ ] a quick way to see the columns in the table (tooltip? link to endpoint that list the columns for a table?)
- [ ] manage how granters could only grant permissions to a subset of dataset
- [ ] request access to the databases, not only t

[2016-09-26 15:32] #1097 closed

[2016-09-26 15:32] #1049 closed

[2016-09-26 15:40] alf7927 opened #1196 "How can I initialize filter value of dashboard?"
let's say I have a filter on dashboard. I'd like to initialize the global filter to downsize the data size on dashboard level. is that possible?

[2016-09-26 15:43] xrmx commented on #1071
I think #1169 will answer the question, closing.

[2016-09-26 15:43] #1071 closed

[2016-09-26 16:13] LAlbertalli commented on #1193
@drorata
I'm a little bit lost on which is your problem. As a heads up, we are using Vertica in production with the OBDC driver, so our connection string looks like ```vertica+pyodbc://DB``` The Vertica SQLAlchemy driver for ODBC is no longer supported, you could see our patch here https://github.com/shopkick/vertica-sqlalchemy but we are removing Vertica so we are not supporting this patch.

For

[2016-09-26 17:39] agfunder commented on #665
I love Caravel, but this item is a real issue for us.  My single biggest problem atm.
Without this feature we are forced to make multiple slices/dashboards for different time periods which is very wasteful, non-DRY.

Yes please Apply the filter across the board if filter is set.

[2016-09-26 18:39] optossav opened #1198 "Filters with Druid datasource"
Hi,
I have been trying to use druid data sources to create a dashboard and all seems to work except when adding a filter. Regardless of what "filter fields" I select and then run Query, I only see what looks like a unix time stamp in the possible values when trying to set values for filter. I tried creating one from SQL table and all fields populate correctly with filters. Has anyone successfully

[2016-09-26 18:43] optossav commented on #1171
I've noticed the same issue with single day data sets.

[2016-09-26 18:47] ascott commented on #1189
thanks for this report @prokh , i'll look into.

[2016-09-26 19:59] gurdeep18 commented on #1198
I have had the Druid filter working correctly, but had to change my "Time Granualarity" to "All"

[2016-09-26 20:24] optossav commented on #1198
That worked!

[2016-09-26 22:31] dennisobrien opened #1199 "updating extras in databaseview/edit changes the sqlalchemy_uri"
If you edit a databaseview that uses a username and password but change only the extras field then click save, the value for sqlalchemy_uri_decrypted now is password-masked.

1. Add a database uri that uses a username and password.
2. Save, then return to this view.
3. Note that the SQLAlchemy URI is password masked in the UI.
4. Now change something in the extras field.
5. Save, then return to th

[2016-09-27 06:52] drorata commented on #1193
I'm also a bit confused :(

It seems like the connection to Vertica is OK (I'm still using the `sqlalchemy-vertica-python` since with your suggestion I failed to connet). After I connect, it suggest some 3 tables which I am not familiar with in the cluster.

When I try to set manually a table, I tried to fill the `Table Name` field in the form with the name of the table I need returned by `SELECT

[2016-09-27 07:02] LAlbertalli commented on #1193
The error returned now make sense to me. The driver you are using is Buggy.

When you add a table, Caravel uses SQLAlchemy reflection capabilities to create a model of the Table you just added. Behind the scenes, SQLAlchemy uses the driver to get the table schema. As you could see from the error message it is trying to inspect the table schema using the table pg_catalog, that is Postgres, instead

[2016-09-27 08:55] attahkhan016 opened #1200 "Mysql Database Connectivity"
I am getting this error when I run the the **TEST CONNECTION**
database : testrun01
 SQLAlchemy URI : mysql://root:@localhost/testrun01

                       **ERROR**

ERROR: Traceback (most recent call last):
  File "/home/bitlasoft/venv/local/lib/python2.7/site-packages/caravel/views.py", line 1028, in testconn
    engine = create_engine(uri, connect_args=connect_args)
  File "/home/bitlasoft

[2016-09-27 08:56] xrmx commented on #1200
You are missing your database dependencies:
http://airbnb.io/caravel/installation.html#database-dependencies

[2016-09-27 08:56] #1200 closed

[2016-09-27 08:59] attahkhan016 commented on #1200
already installed the dependencies ,
 pip install mysqlclient
/usr/lib/python2.7/dist-packages/ndg/httpsclient/subj_alt_name.py:22: UserWarning: Error importing pyasn1, subjectAltName check for SSL peer verification will be disabled.  Import error is: No module named pyasn1.type
  warnings.warn(import_error_msg)
/usr/lib/python2.7/dist-packages/ndg/httpsclient/ssl_peer_verification.py:25: UserWarn

[2016-09-27 09:01] xrmx commented on #1200
@mistercrunch isn't it mysql-python and not mysqlclient? :)

[2016-09-27 09:01] xrmx commented on #1200
@attahkhan016 does installing mysql-python help?

[2016-09-27 09:05] xrmx commented on #1200
@attahkhan016 it looks like you have installed it on your system and not inside your virtualenv. Please double check that.

[2016-09-27 09:08] attahkhan016 commented on #1200
i have done it on my local machine.what should i do to make it work ?

[2016-09-27 09:12] attahkhan016 commented on #1200
getting this when i try to install virtualenv :

 virtualenv venv
New python executable in /home/bitlasoft/venv/bin/python
Traceback (most recent call last):
  File "/usr/local/bin/virtualenv", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/virtualenv.py", line 711, in main
    symlink=options.symlink)
  File "/usr/local/lib/python2.7/dist-packages/virtual

[2016-09-27 09:14] xrmx commented on #1200
@attahkhan016 doing random things would not help, please google what a virtualenv is and how to use it. We have a primer inside docs/installation.rst.

[2016-09-27 09:17] attahkhan016 commented on #1200
@xrmx  if possible can you tell me what to do ? i have installed the virtualenv also . but what should i do now to rectify ? and connect to the database ?

[2016-09-27 09:35] attahkhan016 commented on #1200
@ when i install venv i am getting this error :
(venv) bitlasoft@Bitlasoft-TS-22:~$ sudo pip install mysqlclient
/usr/lib/python2.7/dist-packages/ndg/httpsclient/subj_alt_name.py:22: UserWarning: Error importing pyasn1, subjectAltName check for SSL peer verification will be disabled.  Import error is: No module named pyasn1.type
  warnings.warn(import_error_msg)
/usr/lib/python2.7/dist-packages/nd

[2016-09-27 10:29] attahkhan016 commented on #1200
Sir After running in virtual environment also I am getting the same error.
if possible I can share you the screen so that we can work out something

On Tue, Sep 27, 2016 at 2:44 PM, Riccardo Magliocchetti <
notifications@github.com> wrote:

--
Thanks & Regards,

Name: Mohammed Attaullah Khan
email id: attahkhan016@gmail.com
contact number:+91-8123030179

[2016-09-27 12:43] gurdeep18 opened #1201 "IE 11 issues with Caravel"
I have a Caravel application which runs fine on Chrome and Safari, but I get issues when trying to access via IE 11.

Anyone else facing this issue?

[2016-09-27 12:51] xrmx commented on #1199
Given the amount of issues around that code we could use some more tests i suppose.

[2016-09-27 12:52] attahkhan016 opened #1202 "Database connectivity"
ERROR: Traceback (most recent call last):
  File "/home/bitlasoft/venv/local/lib/python2.7/site-packages/caravel/views.py", line 1029, in testconn
    engine.connect()
  File "/home/bitlasoft/venv/local/lib/python2.7/site-packages/sqlalchemy/engine/base.py", line 2018, in connect
    return self._connection_cls(self, **kwargs)
  File "/home/bitlasoft/venv/local/lib/python2.7/site-packages/sqlalche

[2016-09-27 13:31] #1167 closed

[2016-09-27 16:00] Jparks2532 opened #1203 "Add Slice support for arbitrary queries (including parameterization)"
Slice support for arbitrary queries (including parameterization) would enable all types of use cases where a materialized table or view doesn't quite work.  For instance, the following query template could serve as the source for a Slice:

query:

[code]

Users could pass in parameters at query time.

[code]

[2016-09-27 16:27] priteshwatch opened #1204 "diplay conversion percentages"
I am not sure if this is considered a bug or a new feature, or may be this is already possible.
Just to keep things simple.

We have a dimension called "event", with two possible values  "impressions and "clicks".

When we query this data in airbnb caravel on a table view, a group by query is issued and we get the count of impressions and clicks on a table.

Is there a way to add an additional row

[2016-09-27 18:41] mukkoo commented on #270
@Pyriphlegethon  I've searched these codes in World Bank Health http://data.worldbank.org/topic/health.
I've found COD for Congo (as is already implemented).
I've found KSV for Kosovo that is KOS in Caravel.
I've not found  in World Bank Health ADO, ZAR, WBG, ROM, IMY, TMP.
I've found CHI for "Channel Islands" that is for "Chile" in Caravel in "cioc" key.

Searching for a solution I've found that

[2016-09-27 18:54] priteshwatch commented on #1204
Nevermind. I figured i out, using postagg

[2016-09-27 18:54] #1204 closed

[2016-09-27 21:04] bkyryliuk opened #1207 "Support presto TIMESTAMP"
Support the presto timestamps and the date fields.
Slicing the table that has date column of the time Timestamp generates the query:

[code]

and gives an error:

[code]

[2016-09-27 22:14] mistercrunch commented on #1207
https://github.com/airbnb/caravel/issues/1098

[2016-09-27 22:48] bkyryliuk commented on #1207
workaround:
<img width="910" alt="screen shot 2016-09-27 at 3 47 50 pm" src="https://cloud.githubusercontent.com/assets/5727938/18894778/caffd0c4-84c9-11e6-8086-4aede518d275.png">

[2016-09-27 23:13] dennisobrien commented on #1199
I'm putting together a PR and will be sure to add tests.

[2016-09-27 23:31] bkyryliuk commented on #1207
Workaround is not good enough - `CAST(to_iso8601(call_date) AS TIMESTAMP)`  fails on the presto side with an error:
`Invalid format: \"2016-09-26T21:39:00.000Z\" is malformed at \"T21:39:00.000Z\"', `

[2016-09-28 05:47] vera-liu commented on #1156
https://github.com/airbnb/caravel/pull/1205

[2016-09-28 05:48] vera-liu commented on #1052
https://github.com/airbnb/caravel/pull/1154

[2016-09-28 09:00] conway-z opened #1210 "must there be "AUTH_LDAP_BIND_USER" in caravel_config.py when i use LDAP mode?"
i use LDAP mode,then is give that caravel_config.py AUTH_LDAP_BIND_USER my own name:
AUTH_TYPE = 2
AUTH_LDAP_SERVER = "ldap://10.*.*.*:389"
AUTH_LDAP_SEARCH = 'OU=oname,OU=oname2,DC=ucarinc,DC=com'
AUTH_LDAP_BIND_USER = 'myname@mail.com'
AUTH_LDAP_BIND_PASSWORD = '***'
AUTH_LDAP_UID_FIELD = 'sAMAccountName'

problem:then, only my fellow they are in same department can access caravel. if i didnt se

[2016-09-28 09:38] drorata commented on #1193
This was helpful! Even though your patch didn't do the trick for me. Here's my version:

[code]

[2016-09-28 10:24] drorata commented on #1193
Here's my fork: https://github.com/drorata/sqlalchemy-vertica-python/commit/40defc77906a05e6e5e06f746a2a62cf64ecca5a

[2016-09-28 11:05] attahkhan016 opened #1211 "new database"
can you tell me know to use my local database , as I have tried all the methods to make it work .
i have a database a MYsql database on my local machine . can you walk me through.
2) should we need to create caravel_config.py , to connect my local mysql database. if yes  can you guide me where and how to create this caravel_config.py file .

[2016-09-28 11:38] xrmx commented on #1211
Could you please stop to open a new bug every day, sending me emails and poking me on linkedin? That's annoying to say the least. There's documentation, give it a read before pestering people.

[2016-09-28 11:38] #1211 closed

[2016-09-28 14:37] malleshm opened #1212 "Getting below error when running npm install"
npm ERR! TypeError: Object.keys called on non-object
npm ERR!     at Function.keys (native)
npm ERR!     at installTargetsError (/usr/lib/node_modules/npm/lib/cache.js:708:24)
npm ERR!     at /usr/lib/node_modules/npm/lib/cache.js:638:10
npm ERR!     at saved (/usr/lib/node_modules/npm-registry-client/lib/get.js:148:7)
npm ERR!     at /usr/lib/node_modules/graceful-fs/polyfills.js:133:7
npm ERR!

[2016-09-28 14:37] malleshm commented on #1212
Not able to load home screen with themes and other css's files.

[2016-09-28 14:47] xrmx commented on #1212
Which version of caravel is this? Pretty sure you need a newer npm (>3 IIRC ) to build the react stuff.
Also running stuff from root is not a great idea.

[2016-09-28 14:51] xrmx commented on #1210
Auth is handled by flask-app-builder so i'd advise to ask there. Or maybe you are lucky and someone who uses ldap with caravel has anwer read this issue :)

[2016-09-28 14:53] xrmx commented on #1202
Google suggests this:
http://stackoverflow.com/questions/31967527/table-performance-schema-session-variables-doesnt-exist

[2016-09-28 14:55] xrmx commented on #1201
If you actually describe your issue it may be easier to help you. Anyway i don't think IE is a priority for the frontend people so if you care about that invest some resources on fixing any eventual issue.

[2016-09-28 15:14] malleshm commented on #1212
thanks for quick help,

[2016-09-28 15:15] malleshm commented on #1212
I have update the npm verion to 3.0.8. After starting the caravel server.
I can see below error in the server log.

2016-09-28 20:40:28,316:INFO:werkzeug:127.0.0.1 - - [28/Sep/2016 20:40:28] "GET /static/assets/dist/css-theme.0.10.0.entry.js HTTP/1.1" 404 -
2016-09-28 20:40:28,376:INFO:werkzeug:127.0.0.1 - - [28/Sep/2016 20:40:28] "GET /static/assets/dist/dashboard.0.10.0.entry.js HTTP/1.1" 404 -

[2016-09-28 15:18] xrmx commented on #1212
Please double check the build instructions. Seen at least a half dozen caravel build from master yesterday working fine.

[2016-09-28 17:00] yejianye commented on #1203
Very interesting idea, how will that work with 'group by', 'metrics' parameters in various viz types?

[2016-09-28 17:28] Jparks2532 commented on #1203
The "query parameters" would be completely independent of the typical "group by" and "metrics" fields.

[2016-09-28 19:20] yejianye commented on #1203
Since almost every type of visualization requires 'groupby' and 'metrics'
parameters, how could we visualize those query-based slices without them?

Jparks2532 <notifications@github.com>于2016年9月28日周三 上午10:28写道：

[2016-09-28 19:33] Jparks2532 commented on #1203
Please don't get too hung up on the example that I provided.  It's mainly there to show how you can pass in parameters into an arbitrary query.

[2016-09-28 20:45] bkyryliuk commented on #1207
Workaround #2:
<img width="1280" alt="screen shot 2016-09-28 at 1 44 48 pm" src="https://cloud.githubusercontent.com/assets/5727938/18931623/cc29b722-8581-11e6-889a-1e6497a4375f.png">

[2016-09-28 20:55] #466 closed

[2016-09-28 21:55] wixosk commented on #264
How about this permission setting for Public role: [datasource access on [main].[birth_names](id:3), can explore on Caravel] ?

[2016-09-28 22:55] dennisobrien commented on #1193
@drorata Thanks for the fix to sqlalchemy-vertica-python -- it fixed it for me.  If you haven't already, it would be great if you could submit this fix as a PR to https://github.com/LocusEnergy/sqlalchemy-vertica-python

Thanks for your work!

[2016-09-28 23:13] wixosk commented on #264
Sorry, worked only on local for some reason. Otherwise it throws AttributeError: 'AnonymousUserMixin' object has no attribute 'username'. Any workaround?

[2016-09-29 03:33] osaleh commented on #682
Im also seeing this same issue

[2016-09-29 06:19] conway-z commented on #1210
@xrmx i find in flask-app-builder doc, and solve the problem
i use MSFT AD.
config like that and caravel ldap user access:
AUTH_LDAP_SERVER = "ldap://10.*.*.*:389"
AUTH_LDAP_UID_FIELD = 'sAMAccountName'
AUTH_LDAP_APPEND_DOMAIN = 'ourDomail1.ourDomail2'

[2016-09-29 07:08] #1210 closed

[2016-09-29 08:45] philippfrenzel opened #1214 "Companies Reference"
Hi,

Maybe it would make sense, to get some kind of reference of companies which are currently using or exploring caravel as data distribution platform?!

Best, Philipp

[2016-09-29 08:55] xrmx commented on #1214
Do you mean https://github.com/airbnb/caravel/blob/master/INTHEWILD.md ?

[2016-09-29 08:55] #1214 closed

[2016-09-29 09:23] conway-z opened #1215 "How to set a begin time and a end time in a slice?"
a want set begin time and a end time, that i can report data between 2016-09-27 and 2016-09-28.
how can i implement that?

[2016-09-29 09:26] xrmx commented on #1215
C'mon there's a tutorial, videos, animated gifs that show how to filter by dates . This kind of questions better asked on gitter or the mailing list please.

[2016-09-29 09:26] #1215 closed

[2016-09-29 10:19] conway-z commented on #1215
i had asked on gitter this question for 3 times, i didnt receive any answer...and i dont want to filter dates, i need sum data between date i input.

[2016-09-29 11:04] xrmx commented on #1215
@conway-z I can't see how filtering by date and then SUM a field is different than what you want to do.

[2016-09-29 11:33] drorata commented on #1193
Done https://github.com/LocusEnergy/sqlalchemy-vertica-python/pull/1

[2016-09-29 12:38] drorata commented on #926
+1 The current behavior is not helpful as it tried to build the world map using the wrong column.

[2016-09-29 12:57] drorata opened #1216 "Default location of logs"
I would like to run Caravel as a daemon and I'm wondering how and where can I define where the logs should be saved?

[2016-09-29 13:18] ratb3rt opened #1217 "thetaSketch postaggregation fails"
I have two thetaSketch metrics which work correctly, but if I add a post-aggregator (which works directly against Druid), I get a 500 error when trying a simple query.
The postaggregator is defined like this:
`{
    "type":"thetaSketchEstimate",
    "name":"thetaSketch_intersect",
    "field": {
        "type":"thetaSketchSetOp",
        "name":"thetaSketch_intersect",
        "func":"INTERSECT",

[2016-09-29 13:20] xrmx commented on #1217
This is druid exploding, are you sure your druid postaggregator is correct?

[2016-09-29 13:55] RichRadics commented on #1217
The post-agg is definitely fine - I can post it and get results. I have just discovered that pydruid doesn't support thetaSketch post-aggregators, maybe that's related.

[2016-09-29 14:03] xrmx commented on #1216
AFAICS If you are using bin/caravel you need to update the code to add explicit support for the relevant gunicorn option.

[2016-09-29 14:17] liusztc09 commented on #585
Hi folks, just read through this long thread. Could anybody give me some guidance how to point the Caravel metastore to a external DB instance so if the Caravel instance is down the metadata will preserve? Just like hive external metastore?

Thanks!

[2016-09-29 14:44] jefffeng opened #1218 "SQL query text in Query History does not wrap around"
See image below:

![unnamed](https://cloud.githubusercontent.com/assets/18297825/18958716/69488ee8-8618-11e6-8828-ffcaebfff735.png)

[2016-09-29 16:31] vera-liu commented on #1057
Sorry didn't started looking into this until today, already done in: https://github.com/airbnb/caravel/pull/1179

[2016-09-29 16:37] bkyryliuk commented on #1216
by default I believe it pipes the logs to the stdout.

[2016-09-29 16:44] #1057 closed

[2016-09-29 17:11] bkyryliuk opened #1219 "Flask View redirects on save are broken"
Caravel has a weird redirection after saving the model in caravel, for instance when I save https://caravel_host/tablemodelview/edit/1647  - it redirects me to the random model lists like database, slice, etc...

[2016-09-29 17:18] bkyryliuk opened #1220 "Stale run_sync cache in the SQL Lab"
Once I enable the DB that was disables to run the sync queries - the run button doesn't appear:
<img width="1238" alt="screen shot 2016-09-29 at 10 15 47 am" src="https://cloud.githubusercontent.com/assets/5727938/18964489/f4c0e6e0-862d-11e6-9f26-1204927b6587.png">

<img width="1404" alt="screen shot 2016-09-29 at 10 16 13 am" src="https://cloud.githubusercontent.com/assets/5727938/18964484/ee749f

[2016-09-29 17:21] bkyryliuk commented on #1219
Looks like @mistercrunch was on top of it:
https://github.com/dpgaspar/Flask-AppBuilder/issues/318

[2016-09-29 18:12] bkyryliuk commented on #1219
While debugging I was able to get:
[code]

[2016-09-29 18:20] bkyryliuk commented on #1219
Looks like session is across tabs:
[code]
I opened the `dashboardmodelview/list` and then `dashboardmodelview/edit/XX` on one tab and then opened  `slicemodelview/list` and `slicemodelview/edit/XX` on another and moved back to the tab with `dashboardmodelview/edit`.
Saving the `dashboardmodelview/edit`. redirects to the `slicemodelview/list`

[2016-09-29 20:12] dennisobrien commented on #1216
I'm using gunicorn and explicitly sending the log output to stdout.
[code]

[2016-09-29 21:16] maver1ck opened #1221 "Add table name suggestion where adding SQL table"
Right now when I'm adding SQL table I have to write table name.
It'll be nice to have table name completion in this view.

[2016-09-29 22:12] yejianye opened #1223 "JS error when loading SQL Labs"
Caravel version: master (96844c5c12c22e03bdbee61634c5b7dc138d19c5)
Browser version: Chrome 53.0.2785.143 (64-bit)

When loading SQL labs, I got the following error
[code]

Any ideas what's going on?

[2016-09-29 23:33] ascott commented on #1223
thanks for the report @yejianye. i can repro on master too. i'll take a look.

[2016-09-29 23:35] bkyryliuk commented on #1219
PR: https://github.com/dpgaspar/Flask-AppBuilder/pull/381

[2016-09-30 00:10] ascott commented on #1223
i cleared my local storage and session cookie and I can no longer repro the JS error. @yejianye can you try that and see if it works for you?

[2016-09-30 00:47] birbbit commented on #682
I was using the latest pypi release. I tried briefly making my own build, but I encountered some other issues and didn't have the time to debug. Will try again during the weekend and report back.

[2016-09-30 01:21] vera-liu commented on #1156
Second PR: [https://github.com/airbnb/caravel/pull/1224](url)

[2016-09-30 05:07] yejianye commented on #1223
@ascott unfortunately, it's still not working for me. I tried 1) clear my local storage and cookies 2) create a new private browsing window. And I still got the same error in both cases.

[2016-09-30 08:32] xionchen opened #1226 "Time filter needed"
The time scope is fixed for the most time。
Can we add a time filter which is  similar to the filter now ?

[2016-09-30 08:34] xrmx commented on #1226
Dup of #665?

[2016-09-30 09:19] niconoe commented on #1223
Same issue here, and clearing local storage/session cookie doesn't work for me neither. I also encounter the issue with Safari.

[2016-09-30 12:26] niconoe commented on #697
@ascott, any progress on having "easy to add" viz in folders? We're super interested in that since I'm currently developing visualisation that are probably too specialized to be merged in Caravel, but we don't think maintaining our fork is a long-term solution. Is there something we can do to help this happening?

Thanks!

[2016-09-30 12:29] xrmx commented on #270
Since it's the world bank data that is wrong and that's just demo data let's close this.

[2016-09-30 12:29] #270 closed

[2016-09-30 12:29] xrmx commented on #270
thanks @mukkoo for double checking!

[2016-09-30 18:34] bkyryliuk commented on #1196
what do you mean by downsize ?
by the way gitter channel is a better place for questions:
https://gitter.im/airbnb/caravel

[2016-09-30 18:41] bkyryliuk commented on #1202
Looks like it's mysql / connector bug. @attahkhan016 feel free to reopen if you feel that it's an issue in caravel.

[2016-09-30 18:41] #1202 closed

[2016-09-30 18:45] bkyryliuk commented on #1085
@sanjoshi - feel free to reopen if the issue is not resolved.
Tweaking the `max_allowed_packet ` in mysql config helped in the https://github.com/airbnb/caravel/issues/457

[2016-09-30 18:45] #1085 closed

[2016-09-30 19:05] bkyryliuk commented on #665
@agfunder - time filter is implemented.
<img width="1374" alt="screen shot 2016-09-30 at 12 04 03 pm" src="https://cloud.githubusercontent.com/assets/5727938/19003535/2c3ec0dc-8706-11e6-80ec-64ea9e94503c.png">
![Uploading Screen Shot 2016-09-30 at 12.03.56 PM.png…]()

[2016-09-30 19:05] #665 closed

[2016-09-30 19:06] bkyryliuk commented on #1226
dup of the https://github.com/airbnb/caravel/issues/665

[2016-09-30 19:06] #1226 closed

[2016-09-30 19:06] bkyryliuk commented on #1089
dup of the https://github.com/airbnb/caravel/issues/665

[2016-09-30 19:06] #1089 closed

[2016-09-30 19:16] bkyryliuk commented on #1113
Looks like it's resolved on master, closing the issue.

[2016-09-30 19:16] #1113 closed

[2016-09-30 19:26] bkyryliuk commented on #1131
100 % true, @xrmx  could you please write down a list of the use cases the should be tested, it would be easier this way for others just pick a test case and implement it.

[2016-09-30 19:36] bkyryliuk commented on #1140
@maver1ck - yep that is expected.

[2016-09-30 19:36] #1140 closed

[2016-09-30 19:53] ascott commented on #1223
@vera-liu could you take a look into this bug? may be related to this PR: https://github.com/airbnb/caravel/commit/96844c5c12c22e03bdbee61634c5b7dc138d19c5

@niconoe if you can debug in your local environment and find a solution, plz feel free to submit a PR!

[2016-09-30 20:28] ascott commented on #1220
i ran into this yesterday too. thanks for filing the bug.

[2016-09-30 21:10] vera-liu commented on #1223
@niconoe @yejianye could you confirm if the errors are in dev environment? Thanks!

[2016-09-30 21:17] gurdeep18 opened #1227 "Issue with postagg druid metric used in a pivot viz"
I have a postagg druid metric OOS% which is calculated using a javascript abs percent function on 2 sum metrics from druid.

When using this OOS% in a pivot table using the Aggregate function "Sum" gives the following error.  When using the "min" or "max" aggregate function this metric works on the pivot.

[code]

[2016-09-30 21:23] vera-liu commented on #1223
@niconoe @yejianye I was able to reproduce this after uninstalling Redux Devtool Extension. As we use Redux in Sqllab, we encourage all dev users to install Redux devtool in dev. I'll also add a warning for installing in another PR :) Thanks for the bug report!

[2016-09-30 21:25] bkyryliuk commented on #1149
we do not have any logic of handling the local time and the timezones.
yeah, it looks like dup of the #763.

[2016-09-30 21:25] #1149 closed

[2016-09-30 21:39] vera-liu commented on #1223
https://github.com/airbnb/caravel/pull/1228

[2016-09-30 22:06] #1223 closed

[2016-09-30 22:07] ascott opened #1229 "Fix react warnings in dev on /caravel/sqllab"
![screenshot 2016-09-30 15 05 41](https://cloud.githubusercontent.com/assets/130878/19008359/93330244-871f-11e6-8f56-3e251e3a89f8.png)

[2016-09-30 22:09] ascott commented on #1229
it's harder to catch legit JS errors when there are so many warnings in the console. these are mostly propType errors and easy to fix.

[2016-10-02 04:30] jbwhit commented on #926
+1 I would also like to add my voice to this issue. I've created a 2 minute screencast to demonstrate what's happening here: https://youtu.be/J3xZLPb4L7M

I honestly don't know how to get around it (it's a blocker, not merely an inconvenience) -- even after changing the Country code to be the correct one, I can't get it to re-query.

[2016-10-02 09:48] xrmx commented on #926
@jbwhit now i am curious: if it's a blocker for you why don't you invest your time or money to fix it?

The issue here (surprise!) is that long running queries suck: would it matter to kill queries if the query takes 5 seconds? Sometimes the fix for this slowness is easy as adding indexes but you have to profile and see where the time is spent.

[2016-10-02 15:20] jasonshah opened #1231 "Support for emailing reports at regular intervals?"
Hi,
I started exploring Caravel this past week, and I'm loving it. I am exploring working with my engineering team to roll it out as an enhancement/replacement to our internally-built reporting solution.

Are there any plans to support emailing a Dashboard nightly/weekly to users as PDF? While the solution is obviously more powerful when you interact with it on the web, there are a number of users

[2016-10-02 20:23] jbwhit commented on #926
@xrmx The comments above (including yours) seem to suggest that the problem is a matter of taking a few minutes _before it works_. The problem is not that the query takes 5 minutes... (it's an incredibly small and simple query that takes a tenth of a second to return the table view). The problem is that it **never** renders a map.

Never.

And it's not because of the query size or complexity, so p

[2016-10-02 21:53] williaster commented on #1231
Hi @jasonshah, we're currently discussing the addition of a feature like this internally. Specifically we'd like to support an api for fetching a static image of a given chart or dashboard, which could then easily extended to send out emails automatically.

Will post back as soon as we've settled on a technical solution for the implementation and have a better idea of the timeline.

cc @ascott

[2016-10-03 04:09] ascott commented on #1218
can't repro this locally, looks ok to me.

<img width="1277" alt="screenshot 2016-10-02 21 08 22" src="https://cloud.githubusercontent.com/assets/130878/19027362/6fb0a8dc-88e4-11e6-97bc-37cc9fac6078.png">

[2016-10-03 04:11] jefffeng commented on #1218
Alanna, it's getting cut-off starting with the term SE_ADT_1525_LT_ ... on
wards

On Sun, Oct 2, 2016 at 9:09 PM, Alanna Scott <notifications@github.com>
wrote:

--

*Jeff Feng*
Product Manager
m: (949)-610-5108
twitter: @jtfeng

[2016-10-03 04:11] jefffeng commented on #1218
Alanna, it's getting cut-off starting with the term SE_ADT_1525_LT_ ... on wards

[2016-10-03 05:51] htruongaff opened #1234 "sqlite month grain is calculating wrong"
I noticed the sqlite month grain is removing Day of the Month when it should be removing (day of the month -1).

[code]

should be as below otherwise month grouping gives you the prior month.

[code]

[2016-10-03 06:59] maver1ck commented on #1140
@bkyryliuk
So could you tell me what exactly those options mean ?
1) "Expose in SQL Lab"
2) "Allow Run Sync"
?

[2016-10-03 13:49] attibalazs opened #1235 "ImportError: No module named fcntl"
Hi,

I`m using windows 7 64bit, and following the instructions from your install guide: http://airbnb.io/caravel/installation.html

I run into an error when i try to start the server
python caravel runserver -p 8088

Any help is much appreciated, thank you.

[2016-10-03 13:52] xrmx commented on #1235
As written in the documentation windows is not a supported platform. As you have found out gunicorn does not work on windows. My advice would be to install it on a linux machine. Or you can use the development web server which of course is not advised to run in production.

[2016-10-03 13:52] #1235 closed

[2016-10-03 13:52] xrmx opened #1236 "document that gunicorn does not work on windows"

[2016-10-03 13:55] attibalazs commented on #1235
ok, thanks

[2016-10-03 15:25] bkyryliuk commented on #1140
1) "Expose in SQL Lab" - makes the database available in the SQL Lab to query agaist
2) "Allow Run Sync" - there are 2 modes for running queries - sync and async. Async uses the celery backend and sync is executed within the request scope.
Async mode supports running long lasting queries, for instance hive.

To enable a database for sql lab both options have to be set.

[2016-10-03 16:13] bkyryliuk opened #1237 "Provide ability to import / export the datasource metadata"

[2016-10-03 16:31] #1148 closed

[2016-10-03 16:31] #1220 closed

[2016-10-03 17:41] bkyryliuk commented on #953
@PickLiDan  - feel free to reopen is the issue persists. I cannot reproduce it.

[2016-10-03 17:46] bkyryliuk commented on #829
Not needed in the short term, closing.

[2016-10-03 17:46] #829 closed

[2016-10-03 19:17] jasonshah commented on #1100
@xrmx I see this issue as well.
I have created a slice that is a table view with 3 "non-grouped-by" columns and 1 ordered column ("collectionid [desc]").
The slice itself executes correctly when viewing it in isolation.
However, when I add it to a Dashboard and open the Dashboard, I see the same error message in red:

The only thing that looks like an error in the webserver output appears when I r

[2016-10-03 19:59] cuph62 opened #1239 "Provide pivot table with date column"
Currently the date column cannot take part of the pivot table view.
Feature request to add a date (or date function month, year ...) as a part of a pivot table
eg. It would be nice to have a  summary pivot table with rows by  month / cols by category with sum_consumptions  to show time evolution in a textual way.

[2016-10-03 20:05] xrmx commented on #1100
@jasonshah could you please retry with latest git master?

[2016-10-03 20:52] bkyryliuk commented on #1042
Done.

[2016-10-03 20:52] #1042 closed

[2016-10-03 21:45] amancevice opened #1240 "Any timeline for updates?"
Is there a timeline for the next stable release? Master has moved quite a bit since `0.10.0`.

[2016-10-03 22:30] vera-liu opened #1241 "Tests for explore v2"
We need tests for components, action creators and python endpoint in explore refactor

[2016-10-03 23:21] #1155 closed

[2016-10-04 00:20] bkyryliuk opened #1243 "60 % unit test coverage for the SQL Lab react app"

[2016-10-04 00:21] bkyryliuk opened #1244 "Show preview of data upon selecting a table. SQL Lab."

[2016-10-04 00:23] bkyryliuk opened #1245 "Ability to select a partition / parity with Airpal"
TODO:
- [ ]  clarify the use-case internally

[2016-10-04 00:24] bkyryliuk opened #1246 "Support long running queries on Hive / Result Backend"
Build result backend to store the results of the log running queries.

[2016-10-04 00:26] vera-liu commented on #1030
https://github.com/airbnb/caravel/pull/1247

[2016-10-04 00:26] vera-liu commented on #1241
https://github.com/airbnb/caravel/pull/1242#pullrequestreview-2626146

[2016-10-04 07:34] xrmx commented on #1240
It's a good moment to start testing master so that 0.11 won't have surprises :)

[2016-10-04 13:00] attahkhan016 opened #1248 "General Error <class 'sqlalchemy.exc.StatementError'>"
I did a test connection with my database , it showed it seems ok , i was able to see the tables too , but i clicked on save it is showing :
General Error <class 'sqlalchemy.exc.StatementError'>
error , please let me know what should i do to rectify this error

[2016-10-04 15:36] mistercrunch commented on #1240
`0.11.0` should go out this week

[2016-10-04 15:38] woel0007 commented on #1244
Is the intention of this issue meant to be a feature limited only to SQL Lab?

I've got a working version of a data preview for Druid Datasources - would this be of interested to the product?  The code needs a little polish, but I'd be happy to push it back if there's interest.

[2016-10-04 15:55] amancevice commented on #1240
Great, thanks! Closing

[2016-10-04 15:55] #1240 closed

[2016-10-04 16:15] bkyryliuk commented on #1244
@woel0007 - yep this FR is for SQL Lab.
Sounds like an interesting feature, could you please share a screenshot ?

[2016-10-04 17:17] ecesena opened #1250 "Next release"
Hi, is there any plan to have a new release? If so, can you share an eta? Thanks a lot! E.

[2016-10-04 17:54] bkyryliuk commented on #1245
the requirement is to display the list of all available partitions

[2016-10-04 20:21] xrmx commented on #1250
See #1240

[2016-10-04 20:21] #1250 closed

[2016-10-04 20:23] xrmx commented on #1248
Without a stackstrace this is unhelpful

[2016-10-04 20:30] ecesena commented on #1250
Thanks @xrmx!

[2016-10-05 05:33] gbrian opened #1256 "Error installing caravel on Google Compute Engine"
Hi,

I'm getting this error while trying to install caravel on google cloud computing:

[code]

Anyone else having this issue?
Thanks in advnce

[2016-10-05 06:53] attahkhan016 commented on #1248
Hello Sir ,
what is stacktrace ? can you tell me more about it so that I can provide
you with it to rectify my error

On Wed, Oct 5, 2016 at 1:53 AM, Riccardo Magliocchetti <
notifications@github.com> wrote:

--
Thanks & Regards,

Name: Mohammed Attaullah Khan
email id: attahkhan016@gmail.com
contact number:+91-8123030179

[2016-10-05 07:32] xrmx commented on #1256
You need libsasl2 headers

[2016-10-05 07:32] #1256 closed

[2016-10-05 07:55] gbrian commented on #1256
Thanks @xrmx,

Fixed after running:

`sudo apt-get install libsasl2-dev python-dev libldap2-dev libssl-dev`

From http://stackoverflow.com/questions/4768446/i-cant-install-python-ldap

[2016-10-05 10:11] sashank-nistala commented on #211
Will this feature be implemented anytime soon?

[2016-10-05 15:09] karec opened #1260 "Migrations for 0.11 hangs with posgresql"
**OS** Debian GNU/Linux 8
**Postgresql** 9.5
**Caravel version** 0.11.0

To reproduce :

`pip install caravel --upgrade`
`caravel db upgrade`

Additional information
- Webserver not running
- No application using the database
- Hangs even if db upgrade is called after postgresql restart

Postgres activity will migration hangs :

[code]

Migrations logs :

[code]

Edit :

First query to hangs is :

[2016-10-05 18:55] ascott opened #1261 "dealing with colors in charts and legends"
- what if there are more lines than colors in schemeCategory20c?
- when there are multiple charts on a dashboard and they share some categories, ideally you do not assign/use two different colors for the same category

[2016-10-05 19:14] #1236 closed

[2016-10-05 21:54] vera-liu opened #1263 "Different controls for viz types"

[2016-10-05 21:54] vera-liu commented on #1263
Table control: https://github.com/airbnb/caravel/pull/1253

[2016-10-05 22:42] mistercrunch commented on #1212
it's all in the CONTRIBUTING.md file, reopen if  things dno't work while following the instructions

[2016-10-05 22:42] #1212 closed

[2016-10-05 22:43] #1263 closed

[2016-10-05 22:44] gschrader opened #1264 "TypeError: main is not JSON serializable from REST api"
I'm trying to see if I can create my tables using the REST api discussed in #279 however when I access the `/tablemodelview/api/read` endpoint I get the following exception.

[code]

Any ideas what the problem might be?

[2016-10-05 22:58] vera-liu opened #1265 "Controls for Area Chart, Line Chart and Pivot Table"

[2016-10-06 01:40] ascott opened #1268 "add tests for ExploreViewContainer, TimeSeriesLineChart, ChartContainer"

[2016-10-06 05:07] ascott commented on #1229
https://github.com/airbnb/caravel/pull/1232

[2016-10-06 05:07] #1229 closed

[2016-10-06 06:43] michailsal opened #1270 "GPL licence for select2.sortable.js?"
Is this intentional? Were you aware of it? I find rather complex dealing with JavaScript libs GPL licensed......

[2016-10-06 07:12] xrmx commented on #1270
Maybe not ideal but i don't see how that's a problem for a user.

[2016-10-06 07:18] michailsal commented on #1270
For a user no, indeed, but for a company that wants to offer the tools to its customers it is, unless if this not the goal/intention of the community.

[2016-10-06 07:34] xrmx commented on #1270
If you are doing SaaS GPL it is not an issue at all but thank for pointing out the issue.

[2016-10-06 10:31] samempson opened #1271 "0.11.0 extra dependency for ubuntu 15"
Following the standard installation instructions, I get the fatal error below when running ```pip install caravel``` for version 0.11.0. The solution was to run the below, so may need adding to the list of dependencies in the docs ```sudo apt-get install libsasl2-dev libldap2-dev``` (suspect it was the libsasl2-dev one that fixed it)

Cheers,
Sam

---

In file included from sasl/saslwrapper.cpp:25

[2016-10-06 10:36] xrmx commented on #1271
Fixed in a8a16900e7497083f14de3b6dc50063f845401b7, dup of #1250

[2016-10-06 10:36] #1271 closed

[2016-10-06 13:18] zhaown commented on #211
+1, Looking forward to this too.

[2016-10-06 13:31] samempson opened #1272 "Loaded examples don't have permissions"
When following the [standard install instructions](http://airbnb.io/caravel/installation.html), example datasets are installed. If a new user is assigned the role 'Alpha', they are able to view the database, tables, slices and dashboards. If a new role is created by duplicating the Alpha role (e.g. 'Alpha_copy'), and the new user assigned this role instead, then the slices and dashboards are no lo

[2016-10-06 13:36] xrmx commented on #1272
Alpha and Admin are special roles, some code rely on the exact names.

Permissions for tables iirc are created when you save the table, database, whatever. Also it does not make any sense to give a user more than one the default roles as Public and Gamma together. Usually you create other roles with specific permissions and compose what you need.

[2016-10-06 14:00] samempson commented on #1272
OK. Having recreated the sankey table from the example dataset, a new permission has appeared, so I can grant access to it via the public role. Might be worth stating this in the docs, as out of the box, you cannot assign permissions to the tables from the example data.

Re multiple roles, [the security docs](http://airbnb.io/caravel/security.html) give an example of using a 'finance' role to give

[2016-10-06 14:03] xrmx commented on #1272
PR clarifying the docs much appreciated! :)

Re multiple roles, what i was trying to say is choose one of the default caravel roles and add your specific roles on top of them.

[2016-10-06 16:40] ascott opened #1275 "[explore v2] add scrollbar in control panels container"

[2016-10-06 16:54] ascott opened #1276 "[explore v2] add tooltip support"

[2016-10-06 17:50] bkyryliuk commented on #1173
Update the requirements and implemented the tables dashboards

[2016-10-07 01:13] jwthomp opened #1280 "Allow setting defaults for filters"
For many of our dashboards it would be helpful to have our filters pre-selected to certain values.

As an example, we run internal playtests of games we are making. The data for these tests are tagged with a string value. During these tests, this is the data that everyone is looking at and we would like to have the filter set to default to that information.

[2016-10-07 02:51] auroralinan opened #1282 "How can I switch translation to my own version?"
Should I compile the source code instead of just pip install?
Or can I change some files in caravel-0.10.0.tar.gz and use setup.py?

[2016-10-07 03:00] bkyryliuk opened #1283 "Deletion of the tables doesn't delete the columns and metrics"
<img width="1127" alt="screen shot 2016-10-06 at 7 59 43 pm" src="https://cloud.githubusercontent.com/assets/5727938/19177598/8899f498-8bff-11e6-965c-9c09d63ea9c2.png">

[2016-10-07 07:21] DaimonPl opened #1285 "UI controls for that expose `immune_to_filter` dashboard options"
Using 0.11

Dashboard containing:
- single filter (+ date filter)
- time series chart
- table view

Table view can be used for filtering by selecting rows (that's great). However if we perform following flow:
1. Select N rows from table view
2. Change date range /from/to

Effect: data is filtered correctly but table view instead of containing all rows with N selected, removes all rows except of th

[2016-10-07 07:47] DaimonPl opened #1286 "Table view within dashboard displays duplicated scrollbars"
As in title, table view within dashboard displays duplicated scrollbars

![scrollbars](https://cloud.githubusercontent.com/assets/9693936/19182593/46b26c02-8c74-11e6-927d-677be5ac15fc.png)

[2016-10-07 07:54] DaimonPl commented on #1285
Just checked that same problem happens with 2 different table views - after filtering with second one, first one displays only those N previously selected items and it's not possible to "drill up"

[2016-10-07 10:09] xrmx commented on #1286
Is this 0.11?

[2016-10-07 10:19] DaimonPl commented on #1286
Yep 0.11 installed from pip.

It displays this way even when resizing to much bigger on dashboard

[2016-10-07 14:12] DaimonPl opened #1288 "Time series "Range Filter" could perform dashboard time filtering"
There's very nice functionality in time series called "Range Filter"

It would be great if it would act as time filter on entire dashboard (in that case it should also update time filter if present)

[2016-10-07 16:32] gschrader commented on #1264
Unfortunately this still occurs in version 0.11.

[2016-10-07 18:02] mistercrunch commented on #1272
I changed the installation instructions to do `caravel init` after `caravel load_examples` and that takes care of it

[2016-10-07 18:02] #1272 closed

[2016-10-07 18:51] ecesena opened #1293 "Version of node/npm/...?"
Hi, could anyone share a working config version of node/npm and possibly other related tools?
I think having it in CONTRIBUTING.md would be a good idea (like a suggestion, not mandatory).

I'm trying to upgrade from 0.10 to 0.11 and now `npm run prod` gets stuck at "80% additional chunk assets"... it's not a Caravel issue, I'm sure, but finding the right intersection of tools is a bit frustrating.

[2016-10-07 19:23] prokh commented on #1293
It works with 6.6.0 and npm v3.10.8. You can install the node module n with npm. Then update node with n and npm with npm install npm@latest -g.

[2016-10-07 19:27] ecesena commented on #1293
Awesome, thank you!

[2016-10-07 21:20] xrmx commented on #1293
@ecesena if npm is not new enough you'll get errors, if something is buggy we can't do much am afraid.

[2016-10-07 21:20] #1293 closed

[2016-10-07 21:20] xrmx commented on #457
Fixed via #1279

[2016-10-07 21:20] #457 closed

[2016-10-07 21:24] xrmx commented on #1282
It's just a configuration switch:
https://github.com/airbnb/caravel/blob/master/CONTRIBUTING.md#translations

[2016-10-07 22:07] bkyryliuk opened #1296 "Improve error message in big number with trendline viz"
Sometimes there is not enough data to do the comparison.
In that case it would be nice to show smarter error message rather than `Nan`

<img width="206" alt="screen shot 2016-10-07 at 3 04 21 pm" src="https://cloud.githubusercontent.com/assets/5727938/19206688/97ac4cba-8c9f-11e6-9b0f-bf3aa931887a.png">
<img width="355" alt="screen shot 2016-10-07 at 3 04 58 pm" src="https://cloud.githubusercontent

[2016-10-07 22:40] jwthomp opened #1297 "Error upgrading to 0.11.0"
I attempted to migrate my sqlite database to 0.11 and am having some problems. The first was needing to use the `caravel db stamp f162a1dea4c4` work around. I then performed a `caravel db upgrade`

The last bits of the upgrade log show a few warnings:

[code]

I am able to get onto my caravel instance and see a list of dashboard. However if I look at any tables or slices, I see the following error

[2016-10-08 02:03] auroralinan opened #1299 "Time Granularity formatting bug in Time Series chart"
Hi there, when I use 'Time Series - Line Chart' or any type of Time Series chart, I find that 'Time Granularity' doesn't work well. Here is the SQL generated by caravel.

[code]

When I select 'day' or 'week', caravel will add a datetime format function.
Note that inputDate is quoted by "", which means it put a string into DATE function.

So there will be no date column in return data.
How can I f

[2016-10-08 06:58] cactusthinking commented on #1196
Maybe "downsize" here means "reduce", we wonder if it possible to set default(initial) filter value in Filter box widget

[2016-10-08 07:22] xionchen commented on #1288
rep Time option in FilterBox #665 ?

[2016-10-08 09:14] xrmx commented on #1299
Python3 is recommended, could you please post the stacktrace?

[2016-10-08 09:14] #1282 closed

[2016-10-08 09:23] auroralinan commented on #1299
2016-10-08 17:22:50,814:ERROR:root:'ascii' codec can't decode byte 0xe4 in position 0: ordinal not in range(128)
Traceback (most recent call last):
  File "/httx/run/anaconda2/lib/python2.7/site-packages/caravel-0.11.0-py2.7.egg/caravel/views.py", line 1185, in explore
    viz_obj.get_json(),
  File "/httx/run/anaconda2/lib/python2.7/site-packages/caravel-0.11.0-py2.7.egg/caravel/viz.py", line 320

[2016-10-08 09:39] xrmx commented on #1299
The unicode issue should be fixed by https://github.com/airbnb/caravel/pull/1301

[2016-10-08 12:18] DaimonPl commented on #1288
Time option in filter box is OK itself.

My suggestion is to enhance "Range Filter" in "time series" view to act as time filter for other slices when used on dashboard

[2016-10-08 13:09] kingo55 commented on #1297
Ran into this problem myself... albeit a slightly different flavour and am running MariaDB.

Not sure how easy it is to query/update SQLite3 but doing this might help:

https://github.com/amancevice/caravel/issues/14

[2016-10-09 19:31] gschrader opened #1302 "required polyfills for older browser support"
I found that adding `Object.assign` and `Array.prototype.includes` polyfills I was able to get an older browser to work that I need to be able to support. This might also address #1201 I haven't had a chance to test IE yet.

I'm wondering if this is something that should be added to the project or if I should just patch my installs.  I can raise a PR, I'm just not sure the best place to add them.

[2016-10-09 21:03] xrmx commented on #1302
A PR would be appreciated of course, regarding the place to add them i suppose just add them as npm dependencies like the others js libraries and require them where needed?

[2016-10-09 21:03] xrmx commented on #1201
Closing as dup of #1302

[2016-10-09 21:03] #1201 closed

[2016-10-09 21:53] gschrader commented on #1302
I think polyfills have to be global but I'll give it a try.

[2016-10-10 01:07] alvarojoao opened #1303 "Redirect After Login to intent url"
When You try to access a dashboard and you are not logged in already.
The system will pass you to the login page. (that's ok) but later after login, the system does not redirect you to the dashboard that you tried to access at the first, the system will just redirect you to the welcome screen.

The same happens for iframes.

[2016-10-10 01:30] auroralinan commented on #1299
Seems still not fixed

: ordinal not in range(128)

[2016-10-10 07:32] DaimonPl opened #1304 "Slice CSV export from dashboard"
Slices have ability to export data to CSV but it's not possible to do from dashboard

It's possible to open slice from dashboard to do that, but after opening slice, all dashboard filtering is lost and has to be repeated in slice

[2016-10-10 07:39] xrmx commented on #1303
Looks like a limitation with flask-application-builder (or the way we are using it). We need to pass explicitly the next url we want to be redirected after login

[2016-10-10 08:03] xrmx commented on #1299
@auroralinan what does it happen if you comment the line  `name = [text_type(s) for s in name]` ?

[2016-10-10 09:13] auroralinan commented on #1299
@xrmx Same error at next if condition

[code]

Now I can fix it by force set default encoding by
[code]

But I don't think it's a good solution.
Hope for your opinion.

[2016-10-10 09:35] auroralinan commented on #1299
@xrmx  FYI
`
[<type 'unicode'>, <type 'str'>]`

[2016-10-10 11:52] dugjason commented on #238
@rohancs, instructions for making your own build are available in the "Making your own build
" section of http://airbnb.io/caravel/installation.html:

[2016-10-10 15:57] #1283 closed

[2016-10-10 16:04] bkyryliuk opened #1305 "Improve the UI/UX for connecting to a database"

[2016-10-10 16:05] bkyryliuk opened #1306 "Improve the UI/UX for connecting to a table"
Common pain point for new users: setting datetime field.
Current flow involves so many clicks/ backs and forths.

[2016-10-10 17:12] 0x0ece opened #1307 "Table viz, sorting by column "version" is broken in Chrome"
I'm reporting a bug which is really about DataTables more than Caravel, but it may affect Caravel users.

We have table visualizations with a version field (e.g. our app version), and sorting by that column breaks in Chrome.

The issue is that DataTables attempts to auto detect dates, which is not working properly on Chrome. Here's the issue:
https://github.com/DataTables/DataTables/issues/874

Le

[2016-10-10 17:15] ecesena commented on #1307
Temporary fix is to edit `caravel/assets/node_modules/datatables.net/js/jquery.dataTables.js` and comment out lines 14769-14771:
[code]
Then re-run `npm run prod` (or `npm run dev`).

[2016-10-10 19:25] 0x0ece opened #1308 "WARNING_MSG conflicts with SQL Lab"
If WARNING_MSG is set in the config, the view in SQL Lab breaks, meaning that the header overlaps with the warning message.

Maybe WARNING_MSG can be moved into the very top header, between the menu and the right icons?

[2016-10-10 20:16] vera-liu opened #1309 "Access variables for less in main.css"
I was trying to access variables from '/stylesheets/less/cosmo/variables.less' in Sqllab's main.css, but the variables couldn't be loaded.
The current flow is sqllab.html extends basic.html, basic.html reference css-theme.js, which requires index.less. The script for sqllab.html is sqllab.jsx, which requires main.css. But somehow variables from less files are not accessible in main.css, It could b

[2016-10-10 20:32] ascott commented on #753
assigned this one to you vera, i think we could mark this as done since you've been rewriting the control elements to use react-select

[2016-10-10 20:32] #857 closed

[2016-10-10 20:33] #1156 closed

[2016-10-10 20:33] #1030 closed

[2016-10-10 20:34] vera-liu commented on #753
Awesome!

[2016-10-10 21:46] bkyryliuk commented on #1052
@vera-liu - what do you think about specifying database name and no user id in the share link ?

[2016-10-10 22:29] vera-liu opened #1310 "Copy Query url shortener"
Use a url shortener for sharing query functionality, without exposing userId, dbId and sql query in url.
related: https://github.com/airbnb/caravel/issues/1052

[2016-10-10 22:30] vera-liu commented on #1052
Opened another issue for this : https://github.com/airbnb/caravel/issues/1310

[2016-10-10 22:30] #1052 closed

[2016-10-11 01:54] ascott commented on #1308
i've noticed that too, fix here: https://github.com/airbnb/caravel/pull/1312

[2016-10-11 05:38] bkyryliuk commented on #1310
I meant a bit different thing. For the external product to be able to open a query in SQL Lab it would be challenging to know the user_id and database_id:
* User ID is already known in state, that should not be parameter, and when different user open's the query up - it should be tied to his account.
* Database name  should be sufficient for us to look up the database id
* Schema may be needed as

[2016-10-11 07:29] xrmx commented on #1270
I think this will be superseded by #753

[2016-10-11 08:34] cuph62 commented on #985
Is there any news regarding these changes / pull request ?

The same issue applies on wsgi serving with Apache for example:
in apache config:
          WSGIScriptAlias /**myapp** /var/www/dashboard/flaskacct.wsgi

but immediately I get a 404 with **http://myhost/caravel/welcome** without preserving the baseurl like
http://myhost/myapp/caravel/welcome.

[2016-10-11 10:03] DaimonPl opened #1318 "Date picker for time filter"
Current time filter accepts textual values like "1 year ago" and "2016-06-01"

It would be nice to have a date picker, so there's no need to type in values like "2016-06-01"

[2016-10-11 10:12] Rapsutin opened #1319 "Cannot view dashboards as an anonymous user in 0.11"
When viewing the dashboard
`dash_edit_perm = check_ownership(dash, raise_if_false=False)`
https://github.com/airbnb/caravel/blob/master/caravel/views.py#L1647
is called

and inside check_ownership
`orig_obj.created_by.username == g.user.username):`
https://github.com/airbnb/caravel/blob/master/caravel/views.py#L148

is called, but an anonymous user has no username so it raises an exception.

[2016-10-11 10:43] michailsal commented on #985
I haven't had time to work on this, I do know though that even if somehow you manage to preserve the baseurl and not being redirected, there are still many absolute links pointing to "/" instead of using "url_for"

[2016-10-11 10:46] xrmx commented on #1318
Dup of #767?

[2016-10-11 10:59] DaimonPl commented on #1318
Yep looks to be the same one

[2016-10-11 12:20] xrmx commented on #1319
Care to cook a patch? Adding this at the top of the function should do it:

[code]

[2016-10-11 12:32] Rapsutin commented on #1319
I'll try.

[2016-10-11 14:20] Rapsutin commented on #1319
The change is breaking some tests. I wrote a test for the bug and it seems to work fine, but some other tests are failing now. Looking into it a bit later.

[2016-10-11 14:43] Rapsutin commented on #1319
#1320

[2016-10-11 15:00] jwthomp commented on #1297
@kingo55 Thank you for the pointer. I've tried that but am still having a similar issue. First for others, sqlite3 does not support alter removing columns, so I had to create a new table, copy the data over, remove the old table, then move the new table back by doing the following:

[code]

I then did a `caravel db upgrade` and a `caravel init`

The init gives me the following error:

[code]

In a

[2016-10-11 15:05] xrmx commented on #1319
Fixed in 1e6e144d24da38aef0d306889dc3b8f962ca4b32 . Thanks again!

[2016-10-11 15:05] #1319 closed

[2016-10-11 15:07] samempson commented on #381
@andrewhn @SalehHindi Has anyone given this a go yet? We also think this would be a great feature, but would be keen to hear of any new approaches that did/didn't work.

[2016-10-11 15:09] jwthomp commented on #1297
update: By going through the above process, but omitting the `caravel db stamp f162a1dea4c4` I get much further. Everything seems ok, except that all of tables are saying that the tables don't exist in the database. Looking into that now.

[2016-10-11 15:15] jwthomp commented on #1297
It looks like the issue is that I have to set the Datetime Format on my temporal columns again as otherwise no records show up.

I'll mark this closed now.

[2016-10-11 15:15] #1297 closed

[2016-10-11 16:02] mistercrunch commented on #1297
@jwthomp what was the rational for stamping `f162a1dea4c4`? Looks like this resulted in skipping needed migrations.

[2016-10-11 16:04] mistercrunch commented on #1297
btw I wouldn't worry about the warning, it's coming from a db migration script

[2016-10-11 16:10] jwthomp commented on #1297
@mistercrunch My recollection is that when I was first trying to fix this I was seeing the alter error in https://github.com/airbnb/caravel/issues/817 so I tried that fix.

I'm guessing I misread the error.

[2016-10-11 22:47] ascott commented on #1302
@gschrader what browser are you trying to support?

[2016-10-11 22:50] gschrader commented on #1302
@ascott It's the javafx webview browser, which I believe is based on an old version of webkit.

[2016-10-11 23:07] zsombor9 commented on #1318
It also would be great, if i could edit what i set.
e.g. if i set 2016-05-12 and I want to modify it to 2016-05-10 I have to write the whole new text again.

thanks!

[2016-10-12 06:26] xiefan46 commented on #662
I also encounter the problem of timestamp(0) when connect to kylin. Do you have some way to fix this problem?

[2016-10-12 09:02] xiefan46 opened #1324 "js_bulid error"
Error: no test specified

npm ERR! Linux 4.4.0-38-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "run" "test"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ERR! code ELIFECYCLE
npm ERR! caravel@0.1.0 test: `echo "Error: no test specified" && exit 1`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the caravel@0.1.0 test script 'echo "Error: no test specified" && exit 1'.
npm ERR! Make su

[2016-10-12 09:05] github35 commented on #333
I spent two days to solve sasl depency problem on Windows. If anyone had the same problem, please refer to this link: http://stackoverflow.com/questions/26505882/unable-to-install-sasl-0-1-3-python-package-on-windows-machine

[2016-10-12 09:18] rohitkochar commented on #211
+1
We also need this feature

[2016-10-12 10:03] plumbeo opened #1325 "Per slice cache timeouts not honored in 0.11.0"
We're using caravel on Ubuntu 14.04, in a python 2.7 virtualenv, and we set up a redis cache in caravel 0.10.0 with this configuration:

CACHE_DEFAULT_TIMEOUT = 3600
CACHE_CONFIG = {
    'CACHE_TYPE': 'redis',
    'CACHE_KEY_PREFIX': 'caravel_',
    'CACHE_DEFAULT_TIMEOUT': 3600,
    'CACHE_REDIS_HOST': 'localhost',
    'CACHE_REDIS_PORT': 6379,
    'CACHE_REDIS_DB': 1,
    'CACHE_REDIS_URL': 'red

[2016-10-12 10:53] xrmx commented on #1325
The redis cache configuration you posted has 3600 as default timeout as the logs do. Typo?

[2016-10-12 14:05] malleshm commented on #1231
Hi Williaster,
  I have tried to implement this feature for one of the chart, I have ended up with the idea of writing response content of the "standalone endpoint" to PDF.So that we can get static charts in PDF format.

but I couldn't able to add one more option for PDF export in the "js-explore-actions".
@sidnakoppa

[2016-10-12 16:00] vera-liu opened #1327 "Time Filter for query search"

[2016-10-12 16:01] vera-liu opened #1328 "Use database_name in share query link"

[2016-10-12 16:01] vera-liu commented on #1310
@bogdan Ahh gotcha,  created another issue https://github.com/airbnb/caravel/issues/1328  will work on it

[2016-10-12 16:07] gschrader commented on #1302
I can confirm #1323 works with the javafx webview, thanks again @ascott

[2016-10-12 17:06] williaster commented on #1231
do you have a PR, or can you provide more information about how you implemented the pdf export?

we are thinking about using a headless browser to take screenshots of dashboards (so the result would be a .png) with a couple of size options. adding the ability to directly download a chart from the explore page would also be pretty cool and potentially useful.

[2016-10-12 17:52] #1302 closed

[2016-10-12 18:31] xrmx commented on #1080
One month without feedback,closing.

[2016-10-12 18:31] #1080 closed

[2016-10-12 18:32] #1199 closed

[2016-10-12 18:56] vera-liu commented on #1310
@bkyryliuk  Actually after looking at this, userID is not part of the copy query link, and schema is already in the link, so the only thing left to do here is changing dbId to dbname

[2016-10-12 19:14] jefffeng opened #1330 "Fast Endpoint for Presto to Search Server-Side for Auto-Complete"
The request for an endpoints specific to the Presto metastore that searches server-side to enable fast auto-complete in situation where there are many tables with a similar name.

[2016-10-12 19:49] bkyryliuk commented on #1310
@vera-liu  - great news !

[2016-10-12 19:59] jasonshah commented on #1100
I'm unable to follow the "Making your own build" section from http://airbnb.io/caravel/installation.html, because I get a dependency error on npm install. Right now I have to stick to the prepackaged versions distributed through pip...

[2016-10-12 20:06] jasonshah opened #1331 "Unable to run "Make your own build" due to npm dependency error"
Hi,
I am attempting to follow the ["Make your own build"](http://airbnb.io/caravel/installation.html#making-your-own-build) section to build from source.
When I run `npm install`, it fails with:

	$ npm install
	npm WARN package.json caravel@0.11.0 No README data
	npm WARN package.json Dependency 'style-loader' exists in both dependencies and devDependencies, using 'style-loader@^0.13.0' from depe

[2016-10-12 23:00] spspaul commented on #821
For those who continue to run into this exception (like me)
even after getting the fix from #823, you must chose at least
one value for **```Ordering```** under **```NOT GROUPED BY```**
when building the slice or you will run into same exception when
trying to use the slice in a dashboard.

[2016-10-12 23:20] vera-liu commented on #1310
https://github.com/airbnb/caravel/pull/1314

[2016-10-13 00:39] mistercrunch opened #1332 "FilterBox on Druid has JS error"

[2016-10-13 04:37] prokh commented on #1331
You could first try to update npm and node: "It works with node v6.6.0 and npm v3.10.8. You can install the node module n with npm. Then update node with n and npm with npm install npm@latest -g. "

[2016-10-13 07:10] xrmx commented on #1100
@jasonshah 0.11 is more or less what was master at the time :)

[2016-10-13 12:57] xrmx commented on #1331
@jasonshah could you please try to remove node_modules and try again?

[2016-10-13 13:24] ombre04 opened #1338 "Cannot connect to MySQL view"
I did connected to data base. I can select table of my choosing, however when I'm trying to connect to a view in this schema it returns:

I tried it on several dbs with the same result.
Any one experienced the same problem?

[2016-10-13 15:14] panutat commented on #665
I noticed there is some basic cross-filtering implemented (clicking on a row in data table slice) which filters all other slices in the dashboard. Is there a way to add cross-filtering to the line chart time filter widget? perhaps pass the date/time range to the time range fields in the filter slice? This seems to be a feature that many users have asked me about. Thanks!

[2016-10-13 16:08] jasonshah commented on #1331
@prokh 's solution worked for this issue. Unfortunately I don't know how to actually run the server now that it's built. :/

[2016-10-13 16:08] #1331 closed

[2016-10-13 17:18] gschrader opened #1339 "IE 11 support"
The urls that are created to fetch the json data seem to be formed wrong for IE in both the Dashboard and Slice views.

For example:
![image](https://cloud.githubusercontent.com/assets/868298/19318076/6bd6980c-9064-11e6-8113-30aa7cfe80cc.png)

The [IE url](http://qhefriooer.localtunnel.me/caravel/explore_json/table/3/?viz_type=big_number_total&granularity_sqla=ds&time_grain_sqla=Time+Column&since=

[2016-10-13 17:19] gschrader commented on #1339
I haven't tried earlier versions of IE, I shudder to think anyone still needing to support them. The new Edge browser in Windows 10 works great already.

[2016-10-13 22:07] ascott commented on #1324
what version of node and npm to you have installed?

[2016-10-13 22:07] ascott commented on #1332
@mistercrunch could you add steps to repro or a screenshot please?

[2016-10-13 22:14] ascott opened #1341 "[explore-v2] issues with wrapping existing viz's in V2"
- [x] table type has a dependency on slice.d3format:
  ![screenshot 2016-10-13 14 57 07](https://cloud.githubusercontent.com/assets/130878/19368554/5cbd8cee-9155-11e6-9c4e-b784173bf43f.png)
  ![screenshot 2016-10-13 14 57 19](https://cloud.githubusercontent.com/assets/130878/19368555/5ccf870a-9155-11e6-8363-596dfa85b170.png)
- [x] big number with trendline doesn't show big number
  ![screenshot 20

[2016-10-14 01:13] xiefan46 commented on #1324
node v4.2.6
npm  v3.5.2

[2016-10-14 02:05] ascott commented on #1324
we use node 6.2.2 and npm 3.9.5.

i updated contributing.md with these details.

https://github.com/airbnb/caravel/pull/1344

[2016-10-14 02:05] #1324 closed

[2016-10-14 06:35] ascott commented on #1324
we also haven't found any issues with node>=5.10 and npm>=3.9.

[2016-10-14 07:18] mistercrunch commented on #1332
Fixed already, closing

[2016-10-14 07:18] #1332 closed

[2016-10-14 09:03] yatany opened #1348 "Error when creating the time line slice."
I am new to Caravel and now I am trying to build the slice using the MySQL database.
When creating the time series line chart, it always prompts "{"error": "Unknown string format"}".

What is strange is that the table view is OK.

Attachment 1 is the table view,

![screen shot 2016-10-14 at 5 00 31 pm](https://cloud.githubusercontent.com/assets/22834211/19381786/d41b1be6-922f-11e6-836b-363b1c0b876

[2016-10-14 12:15] rich-lloyd-judd commented on #1338
Yep, I had a similar problem. I'd created a read-only MySQL account for Caravel to use but hadn't granted it the 'show view' privilege. Fixed that and Caravel happily pulled in the views.

[2016-10-14 12:55] dugjason commented on #755
@Thomasmisfit you ever have any luck getting Google OAuth to work with Caravel?

[2016-10-14 14:14] noppanit opened #1349 "Question about Druid metadata"
We have a fairly large Druid data. So, to refresh the data takes a quiet a long time. I check Druid documentation and it seems like people recommend using `merge` and `analysisTypes` when querying metadata for faster result. I tried that and it seems to be the case.

My question is, currently caravel doesn't support those properties would it be better if Caravel supports that and what would be the

[2016-10-14 15:09] mistercrunch commented on #322
SQL Lab does that, the slice model also allows from a SELECT statement instead of a table (that's the way SQL Lab does it)

[2016-10-14 15:09] #322 closed

[2016-10-14 15:12] mistercrunch commented on #264
@jwthomp you'd have to allow set the flag to allow public users and add the datasource to the public role. As for embedding the dashboard, you can alter the CSS of the dashboard to hide the Caravel menu.

[2016-10-14 15:12] #264 closed

[2016-10-14 15:15] mistercrunch commented on #1349
Which version of Druid introduced `segmentMetadata`? Is it supported by pydruid?

We really want a good integration with Druid and will be happy reviewing/merging PRs that make improvements.

[2016-10-14 15:18] mistercrunch commented on #1348
What's the database type of `BalanceDate`? If it's a string of some kind you may have to fiddle with these for your date column:
<img width="704" alt="screen shot 2016-10-14 at 8 18 02 am" src="https://cloud.githubusercontent.com/assets/487433/19392709/cfa617a8-91e6-11e6-997c-2c69d54fc040.png">

[2016-10-14 15:19] mistercrunch commented on #1339
Does IE have weird issues with common URLs?

[2016-10-14 15:20] noppanit commented on #1349
segmentMetadata is supported by `pydruid` but it doesn't support `merge` right now.

Somebody has done a PR for `pydruid` already. I can ask them if it's possible to be merged.

https://github.com/druid-io/pydruid/issues/64

If that's the case I can open a PR for improvement for Caravel.

Thanks.

[2016-10-14 15:21] mistercrunch commented on #1338
If you can reproduce it by providing a falling unit test I can look into it.

[2016-10-14 15:23] mistercrunch commented on #1328
Careful here, there's no guarantee that a database name is unique. It'd be great to have a meaningful/readable yet unique ID for databases.

[2016-10-14 15:25] mistercrunch commented on #1307
Oh interesting. Thanks for documenting / sharing. You can keep track of our npm dependencies and wether they are updated here:
https://david-dm.org/airbnb/caravel?path=caravel/assets

[2016-10-14 15:29] mistercrunch commented on #1299
What's the database backend here? Looks to me like `DATE("inputDate")` should be using backticks, not quotes.

[2016-10-14 15:35] mistercrunch commented on #1288
Any slice widget can broadcast filter events to the controller, it's just a matter of capturing the event and broadcasting the right thing.

I'm not sure how intuitive this would be but it wouldn't be hard to make it work. Say if you had 2 line charts and apply a time filter on one of the 2, user may expect no changes to the other chart, or some client-side cross filtering (which we don't and won'

[2016-10-14 15:38] mistercrunch commented on #1285
I took some time to document "How to add dynamic filters to a dashboard?" in the FAQ, it's a bit burried and new, so you may not have found it.
http://airbnb.io/caravel/faq.html#how-to-add-dynamic-filters-to-a-dashboard

Depending on the behavior you want, I'd recommend using the `filter_immune_slices`or `filter_immune_slice_fields ` configuration in your dashboard.

[2016-10-14 15:49] gschrader commented on #1339
@mistercrunch what do you mean by common URLs? I can navigate through all the pages within caravel just fine, it's just the visualizations that aren't fetching correctly.

[2016-10-14 17:44] mistercrunch opened #1350 "Add support for markers in charts"
Static horizontal lines can be used for targets or baselines in charts. Similarly vertical bands can be used for markers of events in time on timeseries. I can picture a new panel on the explore view with option to create these markers.

It relates to the idea of annotations somehow. Users should be able to define one or many (horizontal, vertical, or point) markers and perhaps style them somehow

[2016-10-14 18:42] DaimonPl commented on #1285
Thx for info i'll give it a try!

In that case this ticket could be used to somehow improve such setup - some kind of gui settings? (for people who don't feel well with any kind of markup :) )

[2016-10-14 19:19] vera-liu commented on #1327
https://github.com/airbnb/caravel/pull/1329

[2016-10-14 19:20] vera-liu commented on #1310
https://github.com/airbnb/caravel/pull/1314

[2016-10-14 22:08] #1296 closed

[2016-10-15 00:27] johnbodley opened #1354 "Add standalone argument to dashboards"
Add a standalone argument for dashboards similar to slices which will be leveraged when taking screenshots.

[2016-10-15 00:32] john-bodley opened #1356 "Add API for capturing dashboard and slice screenshots"

[2016-10-15 08:03] jefffeng opened #1357 "Show a banner when a service has a status message."

[2016-10-15 14:44] mistercrunch commented on #1318
A date picker wouldnt allow for relative dates which i think is important. Maybe eventually we can have a fancy React component that does both fixed and relative nicely.

[2016-10-15 14:46] mistercrunch commented on #1270
Oh snap. We'll have to get rid of it.

[2016-10-15 17:54] kusumakarb opened #1358 "Cannot resolve module 'react-map-gl'"
I'm trying to build from the sources and when I do `npm run dev` I get the following error:

`ERROR in ./visualizations/mapbox.jsx
Module not found: Error: Cannot resolve module 'react-map-gl' in ~/caravel/caravel-airbnb_prod.0.11.0.1/caravel/assets/visualizations
 @ ./visualizations/mapbox.jsx 19:18-41`

I'm using Ubuntu 14.04.Here is the entire output:

`> caravel@0.11.0 dev ~/caravel/caravel-ai

[2016-10-15 22:12] kusumakarb commented on #1358
Changing `import MapGL from 'react-map-gl` to `import MapGL from 'react-map-gl/dist/map-gl.js` in caravel/assets/visualizations/mapbox.jsx worked for me.

[2016-10-15 23:56] mistercrunch commented on #1358
What are your npm and node versions?

[2016-10-16 04:36] kusumakarb commented on #1358
[code]

[2016-10-17 02:16] yatany commented on #1348
The datatype is DATE, please see the screen shot.
![screen shot 2016-10-17 at 10 16 02 am](https://cloud.githubusercontent.com/assets/22834211/19423418/c4b01952-9452-11e6-9774-3a7ca0fd7a25.png)

[2016-10-17 02:53] github35 commented on #1185
Thanks a lot

[2016-10-17 10:37] cons0l3 opened #1363 "VizType filter_box does not show the "verbose name" of a column but rather the column name."
When setting up a new slice of visualisation type "filter_box" on a table T1 with a column name "dim_A" and a verbose name "Dimension A", the filter box is shown with the column name "dim_A" on the dashboard.

I would rather want the "verbose name" to show on the dashboard and only show the column name if there is no versbose name.

My understanding is to use the verbose name for non technical use

[2016-10-17 14:01] DaimonPl opened #1364 "Timeseries tooltips (on dashboard) not working on FF"
As in title, firefox does not display tooltips on time series when slice is used on dashboard. When slice is explored it works fine

Chrome displays tooltip in same scenario.

(0.11)

[2016-10-17 14:03] DaimonPl opened #1365 "Dashboard diagram colors are random"
Exactly same dashboard when refreshed may be displayed in completely different color set on diagrams.

For frequent users it's misleading - when using frequently, people are getting used to same colors for same data series.

[2016-10-17 14:08] xrmx commented on #1364
Is there any error on the console?

[2016-10-17 14:13] DaimonPl commented on #1364
Nope, developer console is clear. Tooltips are working for parts like "explore" icon, but for timeseries itself nothing displays (in this case I'm using time series with time shift - not sure if it matters)

FF 49

[2016-10-17 14:15] DaimonPl opened #1366 "Tooltips are party invisible when calendar view is used on dashboard"
0.11

![calendar_view](https://cloud.githubusercontent.com/assets/9693936/19441138/d9c6abd0-9484-11e6-8f81-788df40a9250.png)

[2016-10-17 14:20] DaimonPl opened #1367 "Column/Metric description tooltips missing"
It's possible to add column/metric description in data source but it looks they are not used.

It would be great if those descriptions were displayed on visualizations (for example after mouse over column name)

[2016-10-17 15:38] s3ni0r commented on #1358
same here.
npm -v: 1.3.24
node -v: 0.10.25
uname -a : Linux gear 4.4.0-42-generic #62-Ubuntu SMP Fri Oct 7 23:11:45 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-10-17 15:52] xrmx commented on #1358
@s3ni0r you have to update your node and npm version https://github.com/airbnb/caravel/commit/9db4cc8c6d0422f28357dc4283089ee3dde9a08e

[2016-10-17 17:30] woel0007 commented on #1260
Was there any follow-up to this issue? I'm experiencing the same challenge, upgrading the database from eca4694defa7 to 3b626e2a6783 hangs...

Postgres Version 9.5.3.

Has anyone else been able to successfully upgrade the DB?

[2016-10-18 04:10] mistercrunch commented on #1260
What I don't understand is that the builds on Postgres go through the migrations without any issues. Maybe it's because the tables are empty while they run on our side? A Postgres version issue?

It may help to find which exact line of the migration script hangs and research that specifically.

[2016-10-18 07:10] flyfatasy commented on #1161
@xrmx  recently I installed 0.11.0  and the same problem still exists.
You can easily reappear this by applying filter type to a druid database.
Hope this problem can be solved as soon as possible.

[2016-10-18 07:11] flyfatasy commented on #1161
I installed caravel by pip install caravel. https://pypi.python.org/pypi/caravel
Last time the version is 0.9.0 and later I tried 0.10.0 and now I tried 0.11.0. The problem stays the same.

[2016-10-18 07:11] flyfatasy commented on #1161
So this problem should not be waitting for validation. It is certainly a problem.

[2016-10-18 10:04] flametest opened #1368 "why is the slice_id in params not inconsistent with the actual id?"
created_on          | 2016-08-26 19:06:30.122167
changed_on          | 2016-10-17 19:44:01.940737
**id**                  | 156
slice_name          | for_test
druid_datasource_id | 12
table_id            |
datasource_type     | druid
datasource_name     | test_datasource
viz_type            | table
params              | {\r
                    |     "add_to_dash": "false",\r
                    |

[2016-10-18 13:56] woel0007 commented on #1260
I've done a bit more fiddling with this issue this AM and found one interesting tidbit:  If the migration is run one-step at a time in sequence, the upgrade succeeds without hanging.  Perhaps there's something wrong with the branch/merge?

My starting point was 'eca4694defa7'
I tried to just simply run upgrade, which should have installed 'ab3d66c4246e', '3b626e2a6783', 'ef8843b41dac' and 'b46fa1b

[2016-10-18 14:14] attahkhan016 commented on #1248
hello , now i am getting this error :

Traceback (most recent call last):
  File "/home/bitla-hs/venv/local/lib/python2.7/site-packages/flask/app.py", line 1988, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/bitla-hs/venv/local/lib/python2.7/site-packages/flask/app.py", line 1641, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/bitla-hs/venv/lo

[2016-10-18 14:15] attahkhan016 commented on #1248
will this be helpfull . please let me know asap

[2016-10-18 19:09] noppanit opened #1369 "Issues with Druid timezones"
As our Druid is in UTC, so it would be more accurate to query in UTC timezone.

From this line of code https://github.com/airbnb/caravel/blob/master/caravel/models.py#L1720. It's trying to convert to UTC. But It's trying to convert from UTC -> UTC instead of my local timezone which is EST.

For example, right now my local time is `15:06` EST and when I console the time out it's `2016-10-18 15:06:4

[2016-10-18 19:49] jayjain89 commented on #1248
@xrmx I am getting the exact same issue. I setup my database connection with this URI

redshift+psycopg2://XXXXXXXXX:XXXXXXXXXX@XXXXXXXX:5439/XXXXXXX
(blanked out all the connection information - security reasons)

I did a [TEST CONNECTION] ... it returned "Seems OK!"

Then when I hit Save I get this error:

General Error <class 'sqlalchemy.exc.StatementError'>

Now this is what I can gather from

[2016-10-18 19:57] jayjain89 commented on #1248
@xrmx @attahkhan016 I ran a

`sudo pip install cryptography --upgrade`

And this seemed to resolve my issue.

[2016-10-18 21:02] maver1ck opened #1370 "table view viz doesn't use time grain with Sqlalchemy table"
Hi,
I want to create table view where counts are grouped by day.
I'm setting time grain to day but this has no effect.

I'm connecting to MySQL table.
Caravel version 0.11.0

![caravel](https://cloud.githubusercontent.com/assets/4006010/19496238/f053cb46-9586-11e6-8882-145134001c75.jpg)

[2016-10-18 21:12] maver1ck opened #1371 "SQL Lab: Uncaught TypeError: Cannot read property 'sortable' of undefined"
Hi,
When I'm trying to open SQL Lab I'm getting following error:

[code]

[2016-10-18 23:02] #1147 closed

[2016-10-19 02:40] nickbarnwell commented on #1371
Checked out the I tested in FF49.0 and Chrome Stable on OS X and couldn't repro on the `0.11.0` tag; what browser and Caravel version are you using?

[2016-10-19 03:07] nickbarnwell commented on #1325
This was affecting us as well, so I started digging in this evening. It was broken by f70d301f0d37fe6c4f94cd7d6026a72a56087d34 - working through the diff now to figure out what changed

[2016-10-19 06:20] maver1ck commented on #1371
OK.
I tried in incognito mode and it works.
So I assume that there is a conflict with one of the chrome plugins.

[2016-10-19 06:25] #1371 closed

[2016-10-19 06:27] maver1ck opened #1373 "count_distinct function doesn't exist in mysql"
Hi,
I have following problem. When I'm using SQL Lab and COUNT(DISTINCT) metric Caravel is trying to calculate this metric using `count_distinct` function.
Unfortunately there is no such a function in MySQL. and I'm getting exception.

[code]

[2016-10-19 07:20] xrmx commented on #1248
@jayjain89 please don't hijack other issues with unrelated comments, thanks.

[2016-10-19 07:44] xrmx commented on #1370
Only time related visualization are affected by the time settings: table view is not one of them.

[2016-10-19 07:50] xrmx commented on #1370
Said that on my pre 0.11 installation i can't use the time column as group by clause. @maver1ck do you see the same on 0.11?

[2016-10-19 08:13] maver1ck commented on #1370
@xrmx
I don't agree with you.
When I'm using druid I can use Time Granularity.

![caravel](https://cloud.githubusercontent.com/assets/4006010/19510729/b5ff917e-95e4-11e6-97f3-abd365288bfe.png)

[2016-10-19 08:15] xrmx commented on #1370
So you agree with me with something is broken :)

[2016-10-19 08:18] maver1ck commented on #1370
Yep.
Thanks for "bug" label.

[2016-10-19 09:14] cuph62 opened #1374 "Multiple filters on 1 dashboard - different behaviour since 0.11 ?"
In 0.10:  multiple filters with different filter fields , were dependent,
eg filter1 was applied while selecting for filter2 in 0.10.
This does not seem to be the case in 0.11 : is there an option to get the same behaviour as in 0.10 ?

[2016-10-19 09:42] cuph62 opened #1375 "Tooltip in line charts does not appear when pie chart on top in dashboard"
Tooltip in line charts does not appear when pie chart on top in dashboard,
when I switch both charts (line chart on top of page in dashboard and pie underneath) , the rich tooltip is present.

[2016-10-19 09:46] xrmx commented on #1366
Looks like a dup of #758

[2016-10-19 09:46] #1366 closed

[2016-10-19 11:51] ombre04 commented on #1338
@rich-lloyd-judd my user has privileges 'show views' and despite that it didn't recognise/load view

[2016-10-19 11:53] ombre04 commented on #1338
@mistercrunch  I'm not quite sure how could I provide test for this case

[2016-10-19 11:57] DaimonPl opened #1376 "DRUID_TZ config param not working?"
As can be seen in https://github.com/airbnb/caravel/blob/master/caravel/config.py:

[code]

I was expecting that changing this param would change global TZ to defined one.

I tried setting `DRUID_TZ = tz.tzstr('Europe/Warsaw')` but it looks that there's no effect on queries/displayed data - all times are still UTC

[2016-10-19 13:18] attahkhan016 commented on #1248
@xrmx  this caravel is too sensitive ? as I install in one computer it works okay , next moment it crashes . May I know the reason behind it . As we are planning for a stable BI ?

[2016-10-19 14:32] jayjain89 commented on #1248
@xrmx how am I hijacking? I had the exact same issue as @attahkhan016.

Did you not read what I posted?

[2016-10-19 21:10] mistercrunch opened #1378 "[sql lab] use a lighter table component in ResultSet"
The current table component seem to be really heavy on the browser. If you bring in a few 1000 rows result set, the application starts to struggle quite a bit.

The perfect table component would have:
- shouldn't have issue rendering tens of thousands of rows
- a client side search capability
- auto-width of column, plus the ability to resize
- we need to be able to put JSX in cells
- stylable, we

[2016-10-20 00:13] nickbarnwell commented on #1378
I can take a stab at benchmarking a couple of different options if you don't already have a library in mind

[2016-10-20 00:37] bkyryliuk commented on #1328
@mistercrunch - can't we just enforce the DB name to be unique?
Do you have any user flow where it would make sense to have multiple DBs with the same name ?

[2016-10-20 00:40] sbradwell opened #1381 "How to configure Impala to use SSL?"
Hi, trying to work with secure impala connection, works fine against non secure, but when trying to connect using the extra field, getting "principal" not supported. Anyone configure SSL connection with kerberos principal on impala before?
[code]

[2016-10-20 07:17] xrmx commented on #1328
@bkyryliuk multiple database with the same name on different datasources does not look that unusual

[2016-10-20 07:40] cons0l3 commented on #1374
I did not know that the behaviour changed, but I asked something related on the google news group. sadly no one has respondend yet: https://groups.google.com/forum/#!topic/airbnb_caravel/3x94DhRv7Zg

I have also filed a bug #1363 as the fields in a filter on a dashboard are not shown by there display name but rather there technical name...

[2016-10-20 14:08] vera-liu opened #1382 "Dual axis on line chart"
Feature request: dual y axis on line chart

[2016-10-20 14:11] vera-liu opened #1383 "Bug with word cloud size"
[Bug] Word cloud doesn't seem to get the right size for the corresponding metric. If a word is too large, it won't show on the viz.
[Proposed solution] Max font size needs to be lowered for word cloud viz.

[2016-10-20 14:15] vera-liu opened #1384 "[Bug] Quarter option doesn't work properly for Time filter"

[2016-10-20 14:16] vera-liu opened #1385 "[bug] Two Filters result in 400 error"

[2016-10-20 14:17] vera-liu opened #1386 "[BUG] Time displayed on line chart visualization does not show timezone"

[2016-10-20 14:17] vera-liu opened #1387 "[BUG] Some timestamps in druid query are missing timezone"

[2016-10-20 14:18] xrmx commented on #1384
@vera-liu which db backend?

[2016-10-20 14:18] vera-liu opened #1388 "[BUG] Linechart does not show missing datapoints at begin / end"

[2016-10-20 14:19] vera-liu opened #1389 "[BUG] JSON and CSV download does not download the druid response"

[2016-10-20 14:19] vera-liu opened #1390 "[BUG]: some metric doens't show up on Pivot table:panoramix.d.musta.ch/r/1042"

[2016-10-20 14:20] vera-liu opened #1391 "[BUG] filter 'last quarter' includes this quarter's dates"

[2016-10-20 14:20] vera-liu opened #1392 "[Feature] Update metrics when columns are updated"
When initially loading a datasource, metrics are created automatically based on the data type.
When user goes in the edit metadata for the tables/columns, default metrics should be updated accordingly.
 (i.e. when metadata is changed from 'Sum' to 'Count Distinct', sum metric should be removed)
Currently there's no option to change this when connecting a new table, the user has to go back and revi

[2016-10-20 14:21] vera-liu opened #1393 "Change UI of search on slice list"
The "Search" word on the slice list is unintuitive - there's a down carat, but clicking on that doesn't actually do anything, you have to click on the actauly search text

[2016-10-20 14:22] vera-liu opened #1394 "[BUG] pageloads after 'edit' button on sql metrics lead to unexpected pages."
i.e. i click edit to edit a metric, and get dropped on dashboard page. (this is not a consistent experience; seems to happen intermittently